<?php include __DIR__ . "/../common/header.phtml"; ?>
<div class="bulkorder howtitworks">
			<h1>GadgetsNow Shop Bidding - How it works</h1>
			<section>
				<div class="howitworksbanne">
				<img class="img" src="https://img1.gadgetsnow.com/gd/imgbn/bidnow-banner-p.jpg"/>
				</div>
			</section>
			<section>
				<h2 class="heading">Bidding at GadgetsNow Shop, works as follows:</h2>
			</section>
			<ul>
			<li>You will place the bid in logged in mode</li>
			<li>A valid and authenticated user account in required for placing the bid</li>
			<li>You will have to register, authenticate (via email verification link) and log in to your account so as to participate in the bidding competition</li>
			<li>You will be able to place a bid once in the given time period and will have to wait till the time another user places a higher bid</li>
			<li>Once another user places a higher bid, you can once again place a bid <li>To place a bid, click on the “BID NOW” button which will be displayed on the page of the product eligible for bidding</li>
			<li>The bidding duration, bid value and base price of the product is decided by Gadgets Now and is as per the discretion of the site</li>
			<li>Clicking on the Bid Now button will place your bid. This is free of cost and nothing needs to be paid at the time of placing the bid. You need to place a bid so as to enroll yourself on the bidding competition. Only the final price of the bidding needs to be paid by the winner which is the current price when the timer ends.</li>
			<li>Bidding Duration – The duration of the bidding is decided by the live timer on the product page of the product eligible for bidding. This is subject to change during the tenure of bidding, based on user patterns, bidding price and number of bids placed on the product</li>
			<li>Bidding Value – The bidding value will be decided on the fly based on the product MRP, number of bids placed, base price and the current price of the product. The bidding value is subject to change during the tenure of the bidding</li>
			<li>A product is eligible for bidding in a given time duration and the same will be displayed as a decreasing timer on the page of the product, which is eligible for bidding </li>
			<li>You will win, if you are the highest bidder at the time when the timer ends by reaching Zero</li>
			<li>The final decision of the winner will be of GadgetsNow and will be based on the discretion of the site based on the highest bidder for the given product</li>
			<li>If you're the winner of the bidding, you will receive an email from Gadgets informing you about the same. You will need to fill that form to claim the won product.</li>
			<li>Your order for the won product will only be successfully created if and only if, the product is claimed from the winning email received and the required mandatory details are provided in the form</li>
			<li>The deal in any form can't be replaced, exchanged or clubbed with any other offer on the site</li>
			<li>Every single bidding on the site will only have 1 single winner, the user with the highest bid at the end when the timer expires</li>
			<li>Claiming the product is a mandatory requirement for us to proceed with the order creation. Only after the product is confirmed, will the verified order will be created based on the entries filled in the given form</li>
		</ul>
		<!-- promoted html-->
			<section>
			<?php if(isset($affiliateBannerActive1) && $affiliateBannerActive1=='N') { ?>
				<div id='div-gpt-ad-1513236443687-0'>
							<script>
							googletag.cmd.push(function() { googletag.display('div-gpt-ad-1513236443687-0'); });
							</script>
				</div>
				<?php } elseif(isset($affiliateBannerActive1) && $affiliateBannerActive1=='Y') { $promonofollowtag1="rel='nofollow'";?>
				<div class="productShowlist">
					<h4 class="heading"><span class="truncate text-transform">Promoted</span></h4>
				</div>
							
				<div class="cashbackamazon">
				<a class="display-block" <?=$promonofollowtag1?> 
							data-ga-track="<?=$promoEventaction1?>##<?=$promoEventcat1?>##walletoffers|<?=$promoEventlabel1?>|##0"  target="_blank" 
							href="<?php if(isset($promoBannerurl1)) { echo $promoBannerurl1; }?>"><img class="img lazy" alt=<?php if(isset($promoBannertext1)) echo $promoBannertext1; ?> 
							data-original="<?php if(isset($promoImgpath1)){ echo $promoImgpath1; }else {?>/mobile/img/cashback-app-Banner.jpg<?php }?>"/></a>
			</div> <?php } ?>
			</section>
			 
			<!-- promoted html-->
		<!-- promoted html-->
		<section>
				<div class='ctn-ads-home-list'>
						<div class="card productShowlist margin-10">
							<h4 class="heading"><span class="truncate text-transform">From Around the Web</span> </h4>
						</div>
						<div class="ctn-ads-home-list-row">
							<div id="div-clmb-ctn-1245" data-slot="256682" data-position="1245" data-section="0" data-cb="adwidgetfun" class="colombia toi-product colombiaad"> </div>
							<div id="div-clmb-ctn-1246" data-slot="256682" data-position="1246" data-section="0" data-cb="adwidgetfun" class="colombia toi-product colombiaad"> </div>
						</div>
						<div class="ctn-ads-home-list-row">
							<div id="div-clmb-ctn-1247" data-slot="256682" data-position="1247" data-section="0" data-cb="adwidgetfun" class="colombia toi-product colombiaad"> </div>
							<div id="div-clmb-ctn-1248" data-slot="256682" data-position="1248" data-section="0" data-cb="adwidgetfun" class="colombia toi-product colombiaad"> </div>
						</div>
				</div>	
		</section>
		<!-- promoted html-->
		<section>
		<?php if(isset($affiliateBannerActive2) && $affiliateBannerActive2=='N') { ?>
			<div id='div-gpt-ad-1513236443687-0'>
						<script>
						googletag.cmd.push(function() { googletag.display('div-gpt-ad-1513236443687-0'); });
						</script>
			</div>
			<?php } else if(isset($affiliateBannerActive2) && $affiliateBannerActive2=='Y') {?>
			<div class="productShowlist">
				<h4 class="heading"><span class="truncate text-transform">Promoted</span></h4>
			</div>
						
			<div class="cashbackamazon">
			<a class="display-block" <?=$promonofollowtag2?> 
						data-ga-track="<?=$promoEventaction2?>##<?=$promoEventcat2?>##walletoffers|<?=$promoEventlabel2?>|##0"  target="_blank" 
						href="<?php if(isset($promoBannerurl2)) { echo $promoBannerurl2; }?>"><img class="img lazy" alt=<?php if(isset($promoBannertext2)) echo $promoBannertext2; ?> 
						data-original="<?php if(isset($promoImgpath2)){ echo $promoImgpath2; }else {?>/mobile/img/cashback-app-Banner.jpg<?php }?>"/></a>
		</div> <?php } ?>
		</section>
		 
		<!-- promoted html-->
</div>


<?php include __DIR__ . "/../common/newfooter.phtml"; ?>