<?php include __DIR__ . "/../common/header.phtml"; ?>
<div class="help">
	<section>
    	<div class="section-container-ui">
			<h1>Help</h1>
			<div class="card helpaccordion">
				<ul>
					<li rel="faq" id="faq_tab" class="tabs" data-ga="help_page##Popular FAQ##Main Point##0">
					<a href="#" class="tab">Popular FAQs</a>
						<div class="card helpbottom">
						<div id="faq">
						<div class="accordion">
						  <h3 id="faq_1" rel="howOrder" data-ga="help_page##Popular FAQ##How do I place an order##0"  >How do I place an order?</h3>
						  <div id="faq_1_ans">
							<p>
							Placing an order on Gadgetsnow is quick and simple. 
							Follow these steps to place your order.
							</p>
							<ol>
								<li>Choose the items you want to order by browsing through our wide range of catalogues and categories or simply search for your desired product through our powerful and quick search placed at the header of each page. Use the drop-down menu to restrict your search to a particular category.</li> 
								<li>Add the items to your Shopping Cart.</li>
								<li>A Shopping Cart pop up will open that will showcase products/items that you have selected to buy. You can change quantity of the items from this pop up and can also remove items from your shopping cart. </li>
								<li>You can view your shopping cart anytime during your stay on our store by clicking on "My Cart" label, placed at the header of our site. To continue shopping, click "x" or click on "Close and Continue Shopping" and to place an order click on "Pay Now".</li>
								<li>Sign in using your e-mail address if you already have an account. If you are a first time user then you need to create an account first by registering with our 4 field form which asks your First Name, Last Name, email id and a password</li>
								<li>Enter the address where you want to receive your order. Already registered user can select from stored shipping address and billing address or can enter a new shipping and billing address. New user will be asked to enter new shipping and billing address.</li>
								<li>Review and Submit your order. Take a moment to review all of the items you've placed in your Shopping Cart. You can update your shopping cart i.e. change the quantity of the items you wish to buy in your shopping cart.</li>
								<li>Choose how you would like to pay and make the payment to complete your order. Check our <a href="/paymentInformation" target="_blank">payment options</a>.</li>
								<li>Once you are done with the payment, you will be redirected to "Thank You" page on our website to demonstrate for successful order placement. An email will be sent to your registered email id so that you can keep a note of your order details. On "Thank You" page you will be able to see your Order No. Please quote this number for all interactions for any post order queries to Customer service.</li>
							</ol>
						  </div>
						  <h3 id="faq_3" data-ga="help_page##Popular FAQ##What are the different modes of payment##0" >What are the different modes of payment?</h3>
						  <div id="faq_3_ans">
							<p>You can use any one of the following payment methods:</p>
							<ol>
								<li>Credit card (Visa/ Master/ Amex)</li>
								<li>Debit card (All major bank debit cards)</li>
								<li>Net Banking ( All major banks )</li>
								<li>Credit card EMI ( 3, 6, 9 and 12 months instalments)</li>
								<li>Cash on Delivery (Available for selected products and pincodes)</li>
								<li>Paymate (Mobile payment mode)</li>
							</ol>
						  </div>
						  <h3 id="faq_4" data-ga="help_page##Popular FAQ##How do I check the current status of my order##0">How do I check the current status of my order?</h3>
						  <div id="faq_4_ans">
							<p>You can check the status of your order by visiting the "My Account" link. Please follow the steps mentioned as under:</p>
							<p><strong>Step 1:</strong> Click on <a href="/control/orderhistory?SHOW_OLD=true" target="_blank">Track order</a> Link in the My Account section. It shall display the orders you have placed on our shopping channel with current status.</p>
							<p><strong>Step 2:</strong> Click on the Order number to know the details of the order. This displays the order page with the order number and sub order numbers with respective details.</p>
						  </div>
						   <h3 id="faq_5" data-ga="help_page##Popular FAQ##Are there any hidden costs on purchase##0">Are there any hidden costs on purchase?</h3>
						  <div id="faq_5_ans">
							<p>There are absolutely no hidden charges. You pay only the amount that you see in your order summary page.<!--  In some cases, if the courier delivery person asks for any extra charges then kindly <a href="/contactUs">Contact Us</a>. --></p>
						  </div>
						   <h3 id="faq_6" data-ga="help_page##Popular FAQ##Do you have warranty on your products##0" rel="IndianorImported">Do you have warranty on your products?</h3>
						  <div id="faq_6_ans">
							<p>Yes, we do have warranty on most of our products. These are of two types:</p>
							<p><strong>Seller Warranty:</strong> Our sellers offer warranty on most of their products against possible defects in materials and workmanship. Whenever defects occur within the warranty period, our seller will repair or replace the item in question. The warranty is not available on certain products, such as flowers, books, music, movies, magazine, health products, perfumes etc. The warranty terms is either mentioned with product and is also sent across with the products serviced. The warranty is limited and is only valid when the product is used for the purpose it was intended under normal conditions. The warranty does not cover any damage caused by normal wear & tear, neglect, misuse, abrasion, exposure to extreme temperatures, acids or solvents; nor does it cover damage caused by third parties during transportation. All returns are subject to inspection and approval by the seller before any repair or replacement is authorised.
							</p>
							<p><strong>Manufacturer warranty:</strong> For products which are offered on manufacturer warranty, please contact the nearest service center of the manufacturer. Our customer care would be able to assist you with the service center contact numbers only or you can visit the respective manufacturers website to obtain the nearest service centre details, any request for replacement or repair of the products shall not be entertained. Such services are offered directly by the Manufacturer of those products.</p>
							<p>For more details please refer our <a href="http://www.gadgetsnow.com/return-policy" target="_blank">Return Policy</a>.</p>
						  </div>
						   <h3 id="faq_7" data-ga="help_page##Popular FAQ##What if I find my package opened or tampered upon delivery##0">What if I find my package opened or tampered upon delivery?</h3>
						  <div id="faq_7_ans">
							<p>Please don't accept an open or tampered package. Notify us of the same just after receiving the package since our courier partner doesn't provide open delivery option.</p>
						  </div>
						   <h3 id="faq_8" data-ga="help_page##Popular FAQ##What does the various product availability options mean##0" >What does the various product availability options mean?</h3>
						  <div id="faq_8_ans">
							<p><strong>In Stock:</strong> The item is available; we expect to deliver it in the mentioned timelines.<br/> <strong>Out of Stock:</strong> This item is sold out and is currently not in stock. In such cases please enter your e-mail id to get notified when the product is back in stock.</p>
						  </div>
						 
						</div>
						</div>
						</div>
					</li>
					<li rel="reg" class="tabs" data-ga="help_page##Registration##Main Point##0"  >
						<a href="#" class="tab">Registration</a>
						<div class="card helpbottom">
						<div id="faq">
						<div class="accordion">
							  <h3 id="reg_1" data-ga="help_page##Registration##Do I need to register to shop##0" >Do I need to register to shop?</h3>
							  <div id="reg_1_ans">
								<p>Two of our sections i.e. Shopping Cart and My Account are password protected. You can change/edit your profile or password from "My Account" section.</p>
								<p>When you click on any of these links you will reach a sign in page. A new user can register here or members can login to their account directly; else, to reach there directly, click on "Login/Register" on the top of the Home page to register online with us.</p>
							  </div>
							  <h3 id="reg_2" data-ga="help_page##Registration##By registering, will I automatically receive marketing emails from you##0"  >By registering, will I automatically receive marketing emails from you?</h3>
							  <div id="reg_2_ans">
								<p>Registering with us does not automatically subscribe you to our newsletter. If you don't wish to receive our newsletter just click on the unsubscribe link in the newsletter or unsubscribe by deselecting the checkbox present in Edit Profile Section. </p>
							  </div>
							   <h3 id="reg_5" data-ga="help_page##Registration##What if I have forgotten my password or my password does not work##0" >What if I have forgotten my password or my password does not work?</h3>
							  <div id="reg_5_ans">
								<p>Don't worry. Here's what you need to do: </p>
								<ol>
									<li>Click My Account on the top right of the site page to access the login window.</li>
									<li>Click the Forgot your password link.</li>
									<li>Enter your e-mail ID in the displayed field.</li>
									<li>You will receive an automated email with the link.</li>
									<li>You can reset your password instantly by clicking the link.</li>
								</ol>
							  </div>
							   <h3 id="reg_6" data-ga="help_page##Registration##Is it safe to Login at Gadgets Now through my Facebook ID or Google ID##0" >Is it safe to Login at Gadgetsnow.com through my Facebook ID or Google ID?</h3>
							  <div id="reg_6_ans">
								<p>Yes, it's absolutely safe to login at Gadgetsnow through your Facebook or Google ID. We will not store your passwords in any case.</p>
								
							  </div>
							   <h3 id="reg_7" data-ga="help_page##Registration##Do I need to type my address each time I order##0" >Do I need to type my address each time I order?</h3>
							  <div id="reg_7_ans">
								<p>Address once used will be saved in <em>My Account -> Profile</em> link. You can go to your Address Book and modify your default Shipping(delivery) address.</p>
								<p>You can also add more addresses using Add a new address button. 
							You can select any of the addresses instead of typing the shipping address while you are ordering.</p>
							  </div>
							 
							</div>
						</div>
						</div>
					
					</li>
					<li rel="pay" class="tabs" data-ga="help_page##Payments##Main Point##0" >
							<a href="#" class="tab">Payments</a>
						<div class="card helpbottom">
						<div id="faq">
						<div class="accordion">
						  <h3 id="pay_1" data-ga="help_page##Payments##What payment methods do you accept##0" rel="paymentMethod">What payment methods do you accept?</h3>
						  <div id="pay_1_ans">
							<p>You can use any one of the following payment methods:</p>
							<ul>
								<li>Credit card (Visa/ Master/ Amex)</li>
								<li> Debit card (All major bank debit cards)</li>
								<li> Net Banking ( All major banks )</li>
								<li> Credit card EMI ( 3, 6, 9 and 12 months instalments)</li>
								<li>Cash on Delivery (Available for selected products and pincodes)</li>
								<li>Paymate (Mobile payment mode)</li>
							</ul>
						  </div>
						  <h3 id="pay_2" data-ga="help_page##Payments##Is it safe to shop online using my Debit card or Credit Card##0" >Is it safe to shop online using my Debit card or Credit Card?</h3>
						  <div id="pay_2_ans">
							<p>All credit card, Debit Card and net banking transactions are processed over a secure encrypted connection. So, it is absolutely safe to shop online with us.
						All credit card and debit card payments on Gadgetsnow are processed through secure and trusted payment gateways managed by leading banks. Banks now use the 3D Secure password service for online transactions, providing an additional layer of security through identity verification.
						</p>
						  </div>
						  <h3 id="pay_3" data-ga="help_page##Payments##What does the different payment status mean##0">What does the different payment status mean?</h3>
						  <div id="pay_3_ans">
							<ol>
								<li><strong>Payment Received:</strong> This confirms that the payment for the order has been accepted.</li>
								<li><strong>Payment Not Received:</strong> This means that the payment for the order has not been received yet. This status is usually shown for a COD or Cheque payment mode.</li>
								<li><strong>Payment Declined:</strong> This means that the payment for the order could not be completed. You need to make the payment again in order to confirm the order.</li>
							</ol>
							<p>However, in case of COD (cash of delivery) the refund is processed via cheque/Demand draft mode.</p>
						  </div>
						  <h3 id="pay_4" data-ga="help_page##Payments##What is Cash on Delivery (COD) purchase##0" >What is Cash on Delivery (COD) purchase?</h3>
						  <div id="pay_4_ans">
							<p>If you are not comfortable making an online payment, you can opt for the Cash on Delivery (COD) payment method instead. With COD you can pay in cash at the time of actual delivery of the product at your doorstep, without requiring you to make any advance payment online.</p>
						  </div>
						   <h3 id="pay_6" data-ga="help_page##Payments##Is there any purchase limit for Cash on Delivery purchase##0" >Is there any purchase limit for Cash on Delivery purchase?</h3>
						  <div id="pay_6_ans">
							<p>Yes, there is a maximum purchase limit for Cash on Delivery, beyond which purchases can only be made using credit/debit card or netbanking.</p>
							
						  </div>
						   <h3 id="pay_7" data-ga="help_page##Payments##Why isn't COD available to me##0"  rel="UnableCash">Why isn't COD available to me?</h3>
						  <div id="pay_7_ans">
							<p>Cash on Delivery (COD) option is not offered by our Courier partners at few serviceable locations. Also, COD option is not available on some of our products. Hence, based on your location and your choice of products, COD option may not be available to you. However, you can always opt for payment through Net Banking or Credit/Debit Card. 
						We also restrict Cash on Delivery facility for certain customers based on our long-term experience.
						</p>
						  </div> 
							<h3 id="pay_8" data-ga="help_page##Payments##Are there any hidden charges##0" >Are there any hidden charges?</h3>
						  <div id="pay_8_ans">
							<p>There are absolutely no hidden charges. You pay only the amount that you see in your order summary page. In some cases, if the courier delivery person asks for any extra charges then kindly <a href="/contactUs">Contact Us</a>.
						</p>
						  </div>
							 <h3 id="pay_9" data-ga="help_page##Payments##What should I do if my payment fails##0" rel="paymentDeclined">What should I do if my payment fails?</h3>
						  <div id="pay_9_ans">
							<p>In case of a payment failure, please retry ensuring correct account details, billing address, password (for net banking) and make sure your Internet connection is not disrupted in the process.
						If your account has been debited after a payment failure, it is normally rolled back to your bank account within 7 business days. You can <a href="/contactUs">Contact Us</a> with your order number for any clarification.
						</p>
						  </div>
							 <h3 id="pay_10" data-ga="help_page##Payments##What is EMI##0" >What is EMI? </h3>
						  <div id="pay_10_ans">
							<p>EMI stands for equated monthly instalments. A fixed payment amount made by you at a specified date each calendar month.
						</p>
						  </div>
							 <h3 id="pay_11" data-ga="help_page##Payments##What are the EMI options available with Gadgetsnow##0" rel="EMIProduct">What are the EMI options available with Gadgetsnow? </h3>
						  <div id="pay_11_ans">
							<p>The EMI payment option is available for HDFC and ICICI credit cards only. You can choose to pay in 3, 6, 9 & 12 month instalments. However, the minimum order amount required for an EMI purchase is rupees 3000.</p>
						  </div>
							 <h3 id="pay_12" data-ga="help_page##Payments##I chose to pay with EMI but it charges with full amount##0" >I chose to pay with EMI but it charges with full amount? </h3>
						  <div id="pay_12_ans">
							<p>This can happen due to two reasons:</p>
							<ol>
								<li><strong>EMI conversion failed:</strong> Approval of EMI is at the sole discretion of Card Issuing Bank. Any query/dispute with regards to the payment using the EMI option should be directed towards Card Issuing Bank, and Gadgetsnow shall not be liable for the same in any manner.</li>
								<li><strong>Card statement gets generated:</strong> By the time EMI conversion is done by issuing bank, card statement already gets generated. Due to which you may fine full order amount gets billed to you. This amount generally gets credited to you in subsequent statement and normal EMI amount is billed to you. However, it is recommended to contact your issuing bank and report the issue. </li>
							</ol>
						  </div>
							 <h3 id="pay_13" data-ga="help_page##Payments##How do I make a payment using Gadgetsnow credit card EMI option##0">How do I make a payment using Gadgetsnow credit card EMI option? </h3>
						  <div id="pay_13_ans">
							<p>When prompted to choose a 'Payment Option', select 'Credit Card (EMI)'. Choose the bank and plan (3, 6, 9 or 12 months) of your choice and enter your credit card details. Once the payment is authorized, your order will be processed and shipped. You will need to pay the total amount, in the pre-determined number of instalments, as per your credit card billing cycles.
						</p>
						  </div>
						  <h3 id="pay_14" data-ga="help_page##Payments##Do I need to pay any additional charges or processing fee to avail EMI option##0" >Do I need to pay any additional charges or processing fee to avail EMI option? </h3>
						  <div id="pay_14_ans">
							<p>Gadgetsnow does not charge any addition processing fee from its customers.  However, the Bank charges annual interest rates (sample calculations below) according to the reducing monthly balance method. In the monthly reducing cycle, the principal is reduced with every EMI and the interest is calculated on the remaining balance. 
						</p>
						<p>
						<strong>EMI Sample Calculations:</strong>
						The table below shows a sample of EMI plans for a Rs 10,000 purchase on Gadgetsnow paid using the EMI payment plan.
						<table width="100%" border="0" align="left" cellpadding="0" cellspacing="0">
						  <tr>
							<td align="left" valign="bottom"><p align="center"><strong>Tenure (months)</strong></p></td>
							<td valign="bottom"><p align="center"><strong>Loan amount</strong></p></td>
							<td valign="bottom"><p align="center"><strong>Monthly    installments</strong></p></td>
							<td valign="bottom"><p align="center"><strong>Bank interest    rate (annual)</strong></p></td>
							<td valign="bottom"><p align="center"><strong>Total effective    price paid</strong></p></td>
							<td valign="bottom"><p align="center"><strong>Interest paid to    Bank</strong></p></td>
						  </tr>
						  <tr>
							<td valign="bottom"><p align="center">3</p></td>
							<td valign="bottom"><p align="center">Rs 10,000</p></td>
							<td valign="bottom"><p align="center">Rs 3,400.22</p></td>
							<td valign="bottom"><p align="center">12.00%</p></td>
							<td valign="bottom"><p align="center">Rs. 10,200.66</p></td>
							<td valign="bottom"><p align="center">Rs. 200.66</p></td>
						  </tr>
						  <tr>
							<td valign="bottom"><p align="center">6</p></td>
							<td valign="bottom"><p align="center">Rs 10,000</p></td>
							<td valign="bottom"><p align="center">Rs 1,725.48</p></td>
							<td valign="bottom"><p align="center">12.00%</p></td>
							<td valign="bottom"><p align="center">Rs. 10,352.90</p></td>
							<td valign="bottom"><p align="center">Rs. 352.90</p></td>
						  </tr>
						  <tr>
							<td valign="bottom"><p align="center">9</p></td>
							<td valign="bottom"><p align="center">Rs 10,000</p></td>
							<td valign="bottom"><p align="center">Rs 1,172.16</p></td>
							<td valign="bottom"><p align="center">13.00%</p></td>
							<td valign="bottom"><p align="center">Rs. 10,549.44</p></td>
							<td valign="bottom"><p align="center">Rs. 549.44</p></td>
						  </tr>
						  <tr>
							<td valign="bottom"><p align="center">12</p></td>
							<td valign="bottom"><p align="center">Rs 10,000</p></td>
							<td valign="bottom"><p align="center">Rs 893.17</p></td>
							<td valign="bottom"><p align="center">13.00%</p></td>
							<td valign="bottom"><p align="center">Rs. 10,718.07</p></td>
							<td valign="bottom"><p align="center">Rs. 718.07</p></td>
						  </tr>
						</table>
						</p>
						  </div>
						  <h3 id="pay_16" data-ga="help_page##Payments##Is the interest amount refundable if I cancel my order##0" >Is the interest amount refundable if I cancel my order? </h3>
						  <div id="pay_16_ans">
							<p>In case of any kind of refund in an EMI transaction, interest already billed in a particular transaction will not be refundable.
						</p>
						  </div>
						</div>
						</div>
						</div>
					
					</li>
					<li rel="order" class="tabs" data-ga="help_page##Order Status##Main Point##0">
							<a href="#" class="tab">Order Status</a>
						<div class="card helpbottom">
						<div id="faq">
						<div class="accordion">
							  <h3 id="order_1" data-ga="help_page##Order Status##How do I check the current status of my orders##0" rel="footer_trackorder">How do I check the current status of my orders?</h3>
							  <div id="order_1_ans">
								<p>You can check the status of your order by visiting the "My Account" link. Please follow the steps mentioned as under:</p>
								<p><strong>Step 1:</strong> Click on <a href="/control/orderhistory?SHOW_OLD=true" target="_blank">Track order</a> link in the My Account section. It shall display the orders you have placed on our shopping channel with current status.</p>
								<p><strong>Step 2:</strong> Click on the Order number to know the details of the order. This displays the order form with the order number and sub order numbers with respective details.</p>
							  </div>
							  <h3 id="order_2" data-ga="help_page##Order Status##What does the different order status mean##0" >What does the different order status mean? </h3>
							  <div id="order_2_ans">
								<ol>
									<li><strong>Order Placed</strong> - This is first status of any successful order that you place on our store. As soon as you place an order with us, Order Status becomes Order Placed.</li>
									<li><strong>Order Dispatched</strong> - This is the status of an order which has been dispatched to your address using one of our courier partners.</li> 
									<li><strong>Order Cancelled</strong> - An Order may be cancelled due to variety of reasons. On customer request we shall cancel the order or if in rare case the item purchased in out of stock then we shall cancel the order as well.</li>
									<li><strong>Order Rejected</strong> - An order may be rejected in case we find any faulty transactions or fraudulent in the payment.</li>
									<li><strong>Order Delivered</strong> - This is the status of an order which has been successfully delivered to you by our courier partner.</li>
									<li><strong>Order Refunded</strong> - This is the status of an order for which the payment has been refunded. The refund is processed usually on the same mode on which the payment is made.However,in case of COD [cash of delivery] the refund is processed via cheque/Demand draft mode.</li>
								</ol>
							  </div>
							  <h3 id="order_3" data-ga="help_page##Order Status##Order cancelled due to product Out of stock/Change in price##0" rel="orderGotCancelled">Order cancelled due to product Out of stock/Change in price?</h3>
							  <div id="order_3_ans">
								<p>We make every attempt to deliver exactly what is featured on the site, however on certain occasions, the product tends to get out of stock or there is a change in price. In such cases the order may be cancelled. Please note that orders which are not delivered within the estimated time period may also be cancelled as per Indiatimes policy .In such cases Indiatimes shall process complete refund of prepaid orders.</p>
							  </div>
							  
							</div>
						</div>
						</div>
					
					
					</li>
					<li rel="ship" class="tabs" data-ga="help_page##Shipping##Main Point##0" >
							<a href="#" class="tab">Shipping</a>
						<div class="card helpbottom">
						<div id="faq">
							<div class="accordion">
							  <h3 id="ship_1"  data-ga="help_page##Shipping##What are the shipping charges##0"  >What are the shipping charges? </h3>
							  <div id="ship_1_ans">
								<p>Gadgets Now charges a very nominal amount as shipping charge on certain orders and may charge no shipping charge on some orders depending upon the location and order amount.</p>
							  </div>
							  <h3 id="ship_2" data-ga="help_page##Shipping##What is the estimated delivery time##0"  >What is the estimated delivery time? </h3>
							  <div id="ship_2_ans">
								<p>An estimated delivery time is displayed on the Order Summary page. On placing your order, you will receive an email containing a summary of the order and also the estimated delivery time to your location. 
							Sometimes, delivery may take longer due to bad weather, flight delays, political disruptions and other unforeseen circumstances.</p>
							  </div>
							  <h3 id="ship_3" data-ga="help_page##Shipping##What is the difference between shipping time and delivery time##0" >What is the difference between shipping time and delivery time?</h3>
							  <div id="ship_3_ans">
								<p>Shipping refers to packing and dispatch of your order. Shipping time is the number of working days it will take to dispatch the product from our end (E.g. Ships within 4 days). The delivery may take few more days depending on the address and the courier partner. 
							</p>
							  </div>
							  <h3 id="ship_4" data-ga="help_page##Shipping##What does the different shipment status mean##0">What does the different shipment status mean?</h3>
							  <div id="ship_4_ans">
								<ol>
								<li><strong>Order Shipped:</strong> The order is shipped through our third party Courier partners. Details of Order Shipment are sent to your registered email id. You can also check AWB no, and courier partner when you click on respective order no on Track Order Page.      </li>
								
								<li><strong>Order Delivered:</strong> Once the order is shipped our team keeps a check on its delivery as well. Once we get a confirmation from respective couriers' website that order has been delivered our logistics team mark the order as delivered. </li>
								<li><strong>Order Returned:</strong> This state appears when an order has been sent for replacement / refund or it has been returned back by courier</li>
								</ol>

							  </div>
							  <h3 id="ship_5" data-ga="help_page##Shipping##I am not able to understand the detail of my shipment information##0"  >I am not able to understand the detail of my shipment information?</h3>
							  <div id="ship_5_ans">
								<p>Courier companies use certain standard abbreviations and terminologies. Some of the most commonly used terms are explained below. If it didn't answer your question please <a href="/contactUs">Contact Us</a>.</p>
								<p><strong>In transit</strong> - Your order is on its way to your town/city</p>
								<p><strong>Out for delivery</strong> - Your order has reached your city and will probably be delivered today/tomorrow.</p>
								<p><strong>Hold at hub</strong>	- We tried delivering your order at least once and we will try again after contacting you.</p>
								<p><strong>RTO in transit</strong> - Your order could not be delivered and is on its way back to our warehouse or to the merchant.</p>
							  </div>
							  <h3 id="ship_6" data-ga="help_page##Shipping##Product cannot be shipped to my area. Why##0" >Product cannot be shipped to my area. Why? </h3>
							  <div id="ship_6_ans">
								<p>We at Gadgetsnow try very hard to make sure that we deliver the product to every location but there are instances when the product cannot be shipped to some locations. This could be a consequence of general regulations or serviceability issues with our courier partners.</p>
							  </div>
							  <h3 id="ship_7" data-ga="help_page##Shipping##Does Gadgets Now deliver internationally##0" >Does Gadgets Now deliver internationally? </h3>
							  <div id="ship_7_ans">
								<p>As of now, we do not deliver items outside India.</p>
							  </div>
							  
							</div>
						</div>
						</div>
					
					</li>
					<li rel="change" class="tabs" data-ga="help_page##Changing & Cancelling Orders##Main Point##0" >
							<a href="#" class="tab">Changing & Cancelling Orders</a>
						<div class="card helpbottom">
						<div id="faq">
							<div class="accordion">
							  <h3 id="change_1" data-ga="help_page##Changing and Cancelling Orders##How do I cancel my order##0" rel="cancelOrder">How do I cancel my order?</h3>
							  <div id="change_1_ans">
								<p>You can raise Order Cancellation request from <strong>"My Account" -> "Track Order"</strong> section. Against every order there is a link <strong>"Request Cancellation"</strong>. Simply click on that link and raise your issue with us. Our team will analyze your request and will act accordingly. </p>
								<p>If the order is already under process or has been already shipped, then cancellation request will not be accepted. 
							For products listed under special Events & Promotions (Rakhi, Diwali, Valentine etc.) and Express Delivery, cancellations will not be entertained. Also, please note that will not be able to accept any returns for GOLD /SILVER items and customized jewellery.</p>

							  </div>
							  <h3 id="change_2" data-ga="help_page##Changing and Cancelling Orders##How long will it take to process my cancellation request##0"  >How long will it take to process my cancellation request?</h3>
							  <div id="change_2_ans">
								<p>Once you request the cancellation of item(s) in your order, it will take us a maximum of 2-4 business days to identify and authorize cancellation. Order cancellation for items which are yet to be shipped will take another 48 hrs time since the procurement & shipment needs to be kept on hold. 
							In case the cancellation is requested post delivery <strong>"Under return policy"</strong> then the cancellation will only be processed/authorized after return of the delivered item followed by inspection of product at our central warehouse. For refund timelines please refer our <a href="http://gadgetsnow.com/refund-policy" target="_blank">Refund Policy</a>.</p>
							  </div>
							  <h3 id="change_3" data-ga="help_page##Changing and Cancelling Orders##Which Reasons are considered valid for order cancellation##0" >Which Reasons are considered valid for order cancellation?</h3>
							  <div id="change_3_ans">
								<p>Please refer to our <a href="https://shop.gadgetsnow.com/returnPolicy" target="_blank">Return policy</a> for details.</p>
							  </div>
							  <h3 id="change_4"  data-ga="help_page##Changing and Cancelling Orders##What are the modes of refund available after cancellation##0">What are the modes of refund available after cancellation?</h3>
							  <div id="change_4_ans">
								<p>Please refer to our <a href="http://www.gadgetsnow.com/refund-policy" target="_blank">Refund policy</a> for details.</p>

							  </div>
							  <h3 id="change_5" data-ga="help_page##Changing and Cancelling Orders##Changing and Cancelling Orders##0"  >Is there any provision for Changing Orders?</h3>
							  <div id="change_5_ans">
								<p>Currently there is no provision to change orders once the payment has been made.</p>
							  </div>
							  
							</div>						</div>
						</div>
					
					</li>
					<li rel="return" class="tabs" data-ga="help_page##Returns and Refunds##Main Point##0">
						<a href="#" class="tab">Returns and Refunds</a>
						<div class="card helpbottom">
						<div id="faq">
							<div class="accordion">
							  <h3 id="return_1" data-ga="help_page##Returns and Refunds##What is Gadgetsnow return policy##0" >What is Gadgets Now return policy?</h3>
							  <div id="return_1_ans">
								<p>Please visit our <a href="http://www.gadgetsnow.com/return-policy" target="_blank">Return policy</a> page for more details.</p>
							   </div>
							  <h3 id="return_2" data-ga="help_page##Returns and Refunds##How can I return a faulty/damaged product##0">How can I return a faulty/damaged product?</h3>
							  <div id="return_2_ans">
								<p>Please visit our <a href="http://www.gadgetsnow.com/return-policy" target="_blank">Return policy</a> page for more details</p>
							  </div>
							  <h3 id="return_3" data-ga="help_page##Returns and Refunds##How will I get a refund for the order I cancelled or returned##0">How will I get a refund for the order I cancelled or returned?</h3>
							  <div id="return_3_ans">
								<p>Kindly refer to our <a href="http://www.gadgetsnow.com/refund-policy" target="_blank">Refund policy</a> for more details.</p>
							  </div>
							  <h3 id="return_4" data-ga="help_page##Returns and Refunds##When will I get my refund or what are the refund timelines##0" >When will I get my refund or what are the refund timelines?</h3>
							  <div id="return_4_ans">
								<p>Kindly refer to our <a href="http://www.gadgetsnow.com/refund-policy" target="_blank">Refund policy</a> for more details.</p>
							  </div>  
							</div>
						</div>
						</div>
					
					</li>
					<li rel="other" class="tabs" data-ga="help_page##Other Topics##Main Point##0">
					<a href="#" class="tab">Other Topics</a>
						<div class="card helpbottom">
						<div id="faq">
							<div class="accordion">
							  <h3 id="other_1" data-ga="help_page##Other Topics##How can I give an order feedback##0" >How can I give an order feedback?</h3>
							  <div id="other_1_ans">
								<p>Please use the below link to submit your feedback:</p>
								<p><a target="_blank" href="http://www.gadgetsnow.com/feedback.cms">http://www.gadgetsnow.com/feedback.cms</a></p>
							   </div>
							  <h3 id="other_2"  data-ga="help_page##Other Topics##How can I escalate my complaint##0" >How can I escalate my complaint?</h3>
							  <div id="other_2_ans">
								<p>It is our endeavour to attend and resolve your issues with shopping .However at times our customer care team is not able to resolve your issues within the committed time .In case you feel that you are not receiving adequate response or suspect negligence to your shopping related complaints please feel free to escalate your issue to our customer care head on the following 
							email id: <a href="mailto:customerservice@gadgetsnow.com?Subject= Escalated%20Issue" target="_top">customerservice@gadgetsnow.com</a>
							</p>
							  </div>
							  <h3 id="other_3" data-ga="help_page##Other Topics##What are Gadgetsnow Terms & conditions agreement for purchase of a product##0"  >What are Gadgetsnow Terms & conditions agreement for purchase of a product?</h3>
							  <div id="other_3_ans">
								<p>Kindly refer to our <a href="https://shop.gadgetsnow.com/termsofUse" target="_blank">Terms & Conditions</a> page</p>
							  </div>
							  <h3 id="other_4" data-ga="help_page##Other Topics##What are the steps to clear browser cache##0" >What are the steps to clear browser cache?</h3>
							  <div id="other_4_ans">
								<p>Procedure to be followed for <b>Mozilla</b>:</p>
									<ol>
										<li>Open your Firefox browser.</li>
										<li>On the top portion of your screen, click on Tools, this pulls up a menu.</li>
									   <li> Select Clear Private Data.</li>
									   <li> Place a check in the box beside Cache. Mark also the items that you want to clear.</li>
									   <li> Click Clear Private Data Now.</li>
									</ol>
								 <p>Procedure to be followed for <b>Internet Explorer</b>:</p>
										<ol>
											<li>Open the browser.</li>
											<li>Click the Tools menu, which pulls up a menu.</li>
											<li>Select Delete Browsing History.</li>
											<li>On the next screen, click the Delete Files button beside Temporary Internet Files. A small screen will then appear.</li>
											<li>Click Yes.</li>
									</ol>
									<p>After clearing the cache, you can also clear the other temporary browsing data by clicking Delete Files for each of them. Do restart the browser after clearing the cache.</p>
							  </div>  
							</div>
						</div>
						</div>
					
					</li>
				</ul>
			</div>
		</div>
		<div id="info" class="infoBottom displaynone">In case you are unable to resolve your query, please <a data-ga="help_page##Popular FAQ##Contact Us##0" href="/contactUs" class="global_btn">Contact Us</a></div>
	</section>
</div>


<?php include __DIR__ . "/../common/newfooter.phtml"; ?>