<?php include __DIR__ . "/../common/header.phtml"; ?>
<div class="pagenotfound">
<section>
<div class="section-container-ui oveflowhidden">
	<h1>Page Not Found</h1>
	<div class="page-text">The page you requested does not exist.<br/>You may have clicked an expired link or mistyped the address.</div>
	<div class="page-img"></div>
	<a href="/" class="flat-greay continue-button">Continue Shopping...</a>
</div>
</section>
<?php include __DIR__ . "/../common/newfooter.phtml"; ?>
