<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<title>ooops!!!</title>

                <style type="text/css">
                        body{ margin:0; padding:0; background:#efefef; font-family:Georgia, Times, Verdana, Geneva, Arial, Helvetica, sans-serif; }
                        div#mother{ margin:0 auto; width:96%; position:relative; padding:2%; }
                        div.link{ /*background:#f90;*/ height:50px; width:145px; float:left; }
                        div#home{ margin:20px 0 0 244px;}
                        div#contact{ margin:20px 0 0 25px;}
                        h1{ font-size:40px; margin-bottom:35px; }
                </style>

                <script type="text/javascript" src="https://shop.gadgetsnow.com/gsearch/zerogn.php"></script>
                <script src="https://shopping.indiatimes.com/images/js/jquery-1.6.1.min.js"></script>
                <script type="text/javascript">
			String.prototype.hashCode = function() {
				var hash = 0;
				if (this.length == 0) return hash;
				for (i = 0; i < this.length; i++) {
					char = this.charCodeAt(i);
					hash = ((hash<<5)-hash) + char;
					hash = hash & hash;
				}
				return hash;
			}
			function get_cookie(name) {
				var a_all_cookies = document.cookie.split(';');
				var a_temp_cookie = '';
				var cookie_name = '';
				var cookie_value = '';
				var b_cookie_found = false;
			
				for ( i = 0; i < a_all_cookies.length; i++ ) {
					a_temp_cookie = a_all_cookies[i].split( '=' );
					cookie_name = a_temp_cookie[0].replace(/^\s+|\s+$/g, '');
					if(cookie_name == name) {
						b_cookie_found = true;
						if (a_temp_cookie.length > 1)
							cookie_value = unescape(a_temp_cookie[1].replace(/^\s+|\s+$/g, ''));
						return cookie_value;
						break;
					}
					a_temp_cookie = null;
					cookie_name = '';
				}
				if (!b_cookie_found)
					return null;
			}

			var t = 5;
                        var q = location.search.substring(1);
			var c = 'c' + q.hashCode();

                        if(q.indexOf('?') < 0) {
				var rand = Math.floor((Math.random()*1000000000)+1);
				q = q.replace('&', '?' + rand + '_');
			}
			if(q.indexOf('checkout') >= 0 || q.indexOf('http') != 0)
				q = 'http://' + document.domain;


			if(get_cookie(c) == null)
				document.cookie = c + "=" + 0;
			else if(get_cookie(c) > 0)
				q = 'http://' + document.domain;
			else document.cookie = c + "=" + ( parseInt( get_cookie(c) ) + 1 );

			q = 'http://m.shop.gadgetsnow.com/';
                        $(document).ready( function() {
				$('#loc').html(q);

                                setInterval(function() {
					t--;

                                	if(t < 0) window.location.replace(q);
					else $('#tim').html(t);
				}, 1000);
                        });
                </script>
        </head>
        <body>
                <div id="mother">
                        <div id="errorBox">
                                <div>
                                        <h3>Looks like some thing went wrong!</h3>
                                        <h4>Our team is on it. <br />We should be back up in a short while.</h4>
                                        <hr />
                                        <h5>[resetting in <span id='tim'>5</span> seconds] <br /><span id='loc'>http://m.shop.gadgetsnow.com/</span> </h5>
                                </div>
                        </div>
                </div>
        </body>
</html>
