<?php include __DIR__ . "/../common/pwaHeader.phtml"; ?>
	<!-- ATF Slot start-->
	<?php include __DIR__ . "/../common/atfSlot.phtml"; ?>
	<!-- ATF Slot end-->
	<!-- home banner start-->
	<div id="toi-carousel" class="overflowhidden">
	<?php 
	// video URL // test comment
	$startdate ="28-01-2019 17:00:00";
	$currenttime = date('d-m-Y H:i:s');
	$start = strtotime($startdate);
	$makeliveframe=false;
	if ($start <= strtotime($currenttime))
	{
		$makeliveframe=true;
	}
	
		if(isset($content)) {
		$result = json_decode($content,true);
		if(isset($result['HomeBanner'])){
			$firstbanner=0;
			foreach($result['HomeBanner'] as $value){
				$firstbanner = $firstbanner+1;
				$imgpath = $value['bannername'];
				$imgurl = $value['bannerurl'];
				$bannertext = $value['bannertext'];
				
				
				$affiliateParamArray=array("productname"=>$bannertext,"price"=>"NA","producturl"=>$imgurl,"pagename"=>"homepage","widget"=>"banners");
				$affiliateLandingurl=AffiliateUrlCreator::createAffiliateUrl("",$affiliateParamArray);
				if(strcasecmp($imgurl,$affiliateLandingurl) !== 0)
					$target="_blank";
				
				$bannerlandingurl=$affiliateLandingurl;
	
				?>
		<a class="flt" <?php if(isset($target)) {?>target=<?=$target?> <?php } ?>
		   data-ga-track="gnshop|mweb|homepage|crousel##<?php echo "Crousel-".$firstbanner?>|homepage##<?=$value['bannertext']?>##0"
		   href="<?=$bannerlandingurl?>">
		   <img class="img"
		   		alt="<?=$value['bannertext']?>" 
		   		src="<?=$imgpath?>"/></a>
		<?php		} //For loop ends
			  	}// if (result) loop ends
			 } // if(content) loop ends?>
	</div>
	<!-- home banner start-->
	<?php 
	$extnNames = ''; 
	$category = strtok($homePageCategories, ',');
	$nbtevent = 0;
	$widgettype="TILED";
	$maxProductsinWidget = 3;
	$countadsposition = 0;
	$noofadsaftercategory=10;
	$promotedIndex=2;
	while ($category !== false)  
	{ 
		
		$loop=1;
		$count = 1;
		$nbtevent = $nbtevent+1;
		$categoryUrl="";
		if(isset(${"Products".$category}))
		{
			$popularProducts= ${"Products".$category};
			$totalProducts = ${"ProductCount".$category};
			$sortedProducts = ${"SortedProducts".$category};
			$sortedProductsMap = ${"SortedProductsMap".$category};
			$categoryUrl = ${"CategoryUrl".$category};
			$length = count($sortedProducts);
			// Show crosel and tiled widget alternatively
			if($widgettype === "TILED") 
			{
				$maxProductsinWidget=10;
				$widgettype ="CROUSEL";
			}
			else
			{
				$maxProductsinWidget=3;
				$widgettype = "TILED";
			}
?>
<!-- Show widgets four products and crousel alternatively -->
<?php if($widgettype === "CROUSEL") {?>
<!-- Crousel Widget -->
<div class="widgets-one-products overflowhidden"> 
   <?php  if(isset($category) && ('New Releases'===$category || 'Popular Laptops'===$category || 'Best Selling TVs'===$category 
   				|| 'Popular Refrigerators'===$category || 'Best Budget Phones' === $category || 'Bestselling Geysers'===$category || 'Best Sellers in Personal Grooming'===$category))  {
   		$promotedIndex=$promotedIndex+1;
   	?>
   	
<!-- Promoted Banners 3-7 -->   	
<section>
	<div class="text-ceter display-block overflowhidden clr adcode">
	<?php if(!isset(${"affiliateBannerActive".$promotedIndex}) || ${"affiliateBannerActive".$promotedIndex}==='N') { 
		$count = $promotedIndex;
	?>
	<?php include __DIR__ . "/../common/Mercloop.phtml"; ?>	
	<?php } else {?>

	<div class="seealso-sponsored countryblock">
	<h2 class="heading bold text-left"> Promoted <?= $promotedIndex; ?> </h2>
	<a class="display-block  widgets-banner " <?=${"promonofollowtag".$promotedIndex}?> 
	   data-ga-track="<?=${"promoEventcat".$promotedIndex}?>##<?=${"promoEventaction".$promotedIndex}?>##<?=${"promoEventlabel".$promotedIndex}?>##0"  target="_blank" 
	href="<?php if(isset(${"promoBannerurl".$promotedIndex})) { echo ${"promoBannerurl".$promotedIndex}; }?>"><img class="img lazy" alt=<?php if(isset(${"promoBannertext".$promotedIndex})) echo ${"promoBannertext".$promotedIndex}; ?> 
	data-original="<?php if(isset(${"promoImgpath".$promotedIndex})){ echo ${"promoImgpath".$promotedIndex}; }else {?>/mobile/img/cashback-app-Banner.jpg<?php }?>"/></a>
	
	</div>	
	<?php } ?>
	</div>
</section>
<!-- Ends Promoted Banners 3-7 -->

	<?php } //Ads condition ?>
		<h2 class="widgets-heading">
		<div class="col-sm-9 ">
			<a href="<?=$categoryUrl?>" data-ga-track="home_page##<?=$category?>##viewall##0" class="category display-block">
				<?php if(strpos($category,"Personal Grooming") !== false){ echo "Personal Grooming";}else { echo $category; } ?></a>
	  </div>
		<div class="col-sm-3 text-right">
			<a href="<?=$categoryUrl?>" data-ga-track="home_page##<?=$category?>##viewall##0" class="ft-7 uppercase fw-100 btn btn-color-blue">
			View All</a></div>
		</h2>
		<div class="widgets-loop overflowhidden toi-owl-carousel nbtevent<?php echo $nbtevent;?>" data-count="<?php echo $nbtevent;?>">
<?php
	 
	}else { ?>
	<!-- Four products -->
	
	<div class="widgets-four-products overflowhidden">
	<?php  if(isset($category) && ('New Releases'===$category || 'Popular Laptops'===$category || 'Best Selling TVs'===$category || 'Popular Refrigerators'===$category || 'Bestselling Cameras'===$category))  { 
		$noofadsaftercategory=$noofadsaftercategory+1;
		$count = $noofadsaftercategory;
		?>
		<?php include __DIR__ . "/../common/Mercloop.phtml"; ?>
	<?php } ?>
		<h2 class="widgets-heading overflowhidden">
			<div class="col-sm-8"><a href="<?=$categoryUrl?>" data-ga-track="home_page##<?=$category?>##viewall##0" class="category display-block"><?=$category?> </a></div>
			<div class="col-sm-4 text-right">
			<a href="<?=$categoryUrl?>" data-ga-track="home_page##<?=$category?>##viewall##0" class="ft-7 uppercase fw-100 btn btn-color-blue">
			View All</a></div>
		</h2>
		<div class="widgets-loop overflowhidden">
	
	<?php  
		}?>
<?php
$productcount = 0;
$countads = 0;

$position=0;
for($i=1;$i<sizeof($sortedProductsMap);$i++)
{  
	
	$countadsposition = 1+$countadsposition;
	if($totalProducts == 0)
	{
		$category = strtok(',');
		break;
	}
	if(isset($sortedProductsMap[$i]))
	{
		$extn = $sortedProductsMap[$i];
	}
	else 
	{
		$loop=$loop+1;
		continue;
	}
	// show 4 products in tiled and 10 in crousel
	if($productcount == $maxProductsinWidget)
		break;
	$categoryUrl = ${"CategoryUrl".$category};
	 
	$productId=$extn->PRODUCT_ID;
	$primaryCategroyId = $extn->PRIMARY_CATEGORY_ID;
	$discountedPrice = round($extn->DISCOUNTED_PRICE);
	$productName=$extn->PRODUCT_NAME;
	// Do not show out of stock products
	if(isset( $extn->OUT_OF_STOCK) &&  $extn->OUT_OF_STOCK==='1') 
	{
	  continue;
	}
	$loop = $loop+1;
	$color="NA";
	if(isset($extn->COLOUR_STR_ATTR))
		$color=$extn->COLOUR_STR_ATTR;
	$defaultPrice = round($extn->DEFAULT_PRICE);
	$listPrice = round($extn->LIST_PRICE);
	$discount = $extn->DISCOUNT;
	$discount = round($discount);
	$discountedPrice = round($extn->DISCOUNTED_PRICE);
	
	$productUrl="#";$productImageUrl="#";
	if(isset($productUrlArr) && isset($productUrlArr[$extn->PRODUCT_ID])){
		$productUrl = $productUrlArr[$extn->PRODUCT_ID];
	}
	if(isset($productImageUrlArr) && isset($productImageUrlArr[$extn->PRODUCT_ID])){
		$productImageUrl = $productImageUrlArr[$extn->PRODUCT_ID];
	}
	$showPrice=($discountedPrice>0 && $discountedPrice<$defaultPrice?$discountedPrice:$defaultPrice); 
	if($showPrice!=0)
	{
		$offerprice = ($discountedPrice>0)?$discountedPrice:$defaultPrice;
		$mrp = ($listPrice>$defaultPrice)?$listPrice:$defaultPrice;
		$discountpercentage = (($mrp-$offerprice)/$mrp)*100;
		$productcount=$productcount+1;
		
		$countads = 1+$countads;
		$position = $position+1;
		//$indx=$indx+1;
		
		
			?>
			<?php if($widgettype === "CROUSEL") {?>
			<!-- Crousel widget -->
			<div class="product-loop">
				<a href="<?=$productUrl?>"
				   data-ga-track="gnshop|mweb|homepage|<?=$category?>##click##$position|<?=$productName?>##0">
				<div class="product-img text-center display-block">
					<img alt="<?=$productName?>" class="img lazy" src="https://static.toiimg.com/photo/79837759.cms" data-original="<?=$productImageUrl?>" />
					<meta itemprop="contentUrl" content="<?=$productImageUrl?>" />
				</div>
				<?php if( isset($discount) && $discount>0) { ?>
						<div class="product-off"> <?=$discount?>% off</div>
				 <?php } ?>
				<div class="product-detail">
					<div class="product-heading bold"><?=$productName?></div>
					<div class="row">
						<div class="col-sm-7">
							<div class="product-price col-sm-12">
							<?php if($discountedPrice >0) { ?>
							<span class="rp offer bold display-inline"><?= $discountedPrice;?></span> 
							<?php if($listPrice>$defaultPrice){?>
							<span class="rp mrp display-inline"><?= $extn->LIST_PRICE;?></span><?php }?>
							<?php } else {?>
                            <span class="rp offer bold display-inline"><?= $extn->DEFAULT_PRICE;?></span> 
                                <?php if($listPrice>$defaultPrice){?>
                            <span class="rp mrp display-inline"><?= $extn->LIST_PRICE;?></span><?php }?>
                                <?php     }?>
							</div>
						</div>
						<div class="col-sm-5 text-right"><button class="btn-color btn bold">BUY NOW</button></div>
					</div>
				</div>
				</a>
			</div>

			<?php  if($countads==2){?>
			 <div id="div-clmb-ctn-<?=str_replace(" ","-",$category)?>-4532<?=$countadsposition;?>" 
				 data-slot="256682" 
				 data-position="4532<?=$countadsposition;?>" 
				 data-section="0" 
				 class="colombia product-loop toi-product" 
				 data-cb="adwidgetfun"> </div>
			 
			<?php $countads=0; }  ?>
			<?php }else {?>
			
			<!-- Tiled four products -->
			
			<div class="product-loop relative flt">
				<a href="<?=$productUrl?>"
				   data-ga-track="home_page##<?=$category?>##<?= $productId.'|'.$productName.'|'.$primaryCategroyId.'|'.$showPrice ?>##0">
					<div class="product-img text-center display-block">
						<img alt="<?=$productName?>" class="img lazy" src="https://static.toiimg.com/photo/79837759.cms"  data-original="<?=$productImageUrl?>" />
					</div>
					<?php if( isset($discount) && $discount>0) { ?>
				 <div class="product-off absolute text-center"><?=$discount?>% off</div>
				 <?php } ?>
					<div class="product-detail">
						<div class="product-heading bold"><?=$productName?></div>
					 
						<div class="row">
							<div class="product-price col-sm-12 text-center">
								<?php if($discountedPrice >0) { ?>
								<span class="rp offer bold display-inline"><?= $discountedPrice;?></span> 
								<?php if($listPrice>$defaultPrice){?>
								<span class="rp mrp display-inline"><?= $extn->LIST_PRICE;?></span><?php }?>
								<?php } else {?>
	                            <span class="rp offer bold display-inline"><?= $extn->DEFAULT_PRICE;?></span> 
	                             <?php if($listPrice>$defaultPrice){?>
	                            <span class="rp mrp display-inline"><?= $extn->LIST_PRICE;?></span><?php }?>
	                              <?php }?>
							</div>
					</div>
					</div>
				</a>
				
			</div>
			<?php } // Ends widget type checking
			?>
			<?php if($productcount == 3) {?>
				<div id="div-clmb-ctn-<?=str_replace(" ","-",$category)?>-4532<?=$countadsposition;?>" 
				 data-slot="256682" 
				 data-position="4532<?=$countadsposition;?>" 
				 data-section="0" 
				 class="colombia product-loop relative toi-product flt adcode" 
				 data-cb="adwidgetfun"></div>
				 <?php } ?>
			 <?php }  // Ends if($showPrice!=0)
			} // Ends SortedMap loop ?>
	<!-- Closing div of crousel/tiled -->	
		</div>
		<?php if(isset($category) && 'Bestselling Cameras'===$category) {
		    $noofadsaftercategory=$noofadsaftercategory+1;
			$count = $noofadsaftercategory;
		    ?>
		    <?php include __DIR__ . "/../common/Mercloop.phtml"; ?>
		<?php } ?>
	</div>	
<?php  if(isset($category) && 'New Releases'===$category)  {?>
 <!-- promoted start-->

	 
	<!-- promoted end-->

	<?php  }// Ends if for promoted ?>
	
<?php  if(isset($category) && 'Best Selling Smartphones'===$category)  {?>
	<?php 
if(!isset($affiliateBannerActive1) || $affiliateBannerActive1==='Y') { ?>
<!-- -->
<?php include __DIR__ . "/../common/Merc-banner.phtml"; ?>

<?php }  ?>
	<div class="widgets-gadgets" style="background:#f1f3f6">
		<h2 class="widgets-heading overflowhidden">
				<div class="col-sm-12">Featured Categories</div>
		</h2>
		<div data-module="gadgets_category1" class="gdgt_nav check-carousel overflowhidden" >
		   <ul class="newcarousel" data-width-list="94">
			  <li><a data-ga-track="gnshop|mweb|homepage|Featured Category##click##Featured Category|smartphones##0" href="/smartphones" class="icon-mobile callevents">Smartphones</a></li>
			  <li><a data-ga-track="gnshop|mweb|homepage|Featured Category##click##Featured Category|feature-phones##0" href="/feature-phones" class="icon-feature-phone callevents">Feature Phones</a></li>
			  <li><a data-ga-track="gnshop|mweb|homepage|Featured Category##click##Featured Category|laptops##0" href="/laptops" class="icon-laptop callevents">Laptops</a></li>
			  <li><a data-ga-track="gnshop|mweb|homepage|Featured Category##click##Featured Category|tv##0" href="/televisions" class="icon-tv callevents">TVs</a></li>
			  <li><a data-ga-track="gnshop|mweb|homepage|Featured Category##click##Featured Category|washing-machine##0" href="/washing-machine" class="icon-washingmachine callevents">Washing M/Cs</a></li>
			  <li><a data-ga-track="gnshop|mweb|homepage|Featured Category##click##Featured Category|microwave##0" href="/microwave" class="icon-microwave callevents">Microwave</a></li>
			  <li><a data-ga-track="gnshop|mweb|homepage|Featured Category##click##Featured Category|geyser##0" href="/geysers" class="icon-geysers callevents">Geysers</a></li>
			  <li><a data-ga-track="gnshop|mweb|homepage|Featured Category##click##Featured Category|digital-camera##0" href="/digital-cameras" class="icon-cameras callevents">Digitals Camera</a></li>
			  <li><a href="/dslr-cameras" class="icon-dslr-camera callevents" data-ga-track="gnshop|mweb|homepage|Featured Category##click##Featured Category|dslr-camera##0">DSLR Camera</a></li>
			  <li><a href="/watches" class="icon-watches callevents" data-ga-track="gnshop|mweb|homepage|Featured Category##click##Featured Category|watches##0">Watches</a></li>
			  <li><a href="/personal-grooming" class="icon-personal-grooming callevents" data-ga-track="gnshop|mweb|homepage|Featured Category##click##Featured Category|personal-grooming##0">Personal Grooming</a></li>
			  <li><a href="/mobiles-accessories-power-banks" class="icon-powerbank callevents" data-ga-track="gnshop|mweb|homepage|Featured Category##click##Featured Category|power-banks##0">Power Banks</a></li>
			  <li><a href="/mobiles-accessories-headphones-headsets" class="icon-head-phone callevents" data-ga-track="gnshop|mweb|homepage|Featured Category##click##Featured Category|headphones##0">Headphones</a></li>
			  <li><a href="/mobiles-accessories-fitness-band" class="icon-fitnessband callevents" data-ga-track="gnshop|mweb|homepage|Featured Category##click##Featured Category|fitnessbands##0">Fitness Bands</a></li>
			  <li><a href="/mobiles-accessories-memory-cards" class="icon-memory-card callevents" data-ga-track="gnshop|mweb|homepage|Featured Category##click##Featured Category|memory-cards##0">Memory Card</a></li>
			  <li><a href="/tablets" class="icon-tablet callevents" data-ga-track="gnshop|mweb|homepage|Featured Category##click##Featured Category|tablets##0">Tablets</a></li>
			  <li><a href="/refrigerator" class="icon-refrigerator callevents" data-ga-track="gnshop|mweb|homepage|Featured Category##click##Featured Category|refrigerator##0">Refrigerator</a></li>
			  <li><a href="/air-purifiers" class="icon-air-purifiers callevents" data-ga-track="gnshop|mweb|homepage|Featured Category##click##Featured Category|air-purifiers##0">Air Purifiers</a></li>
			  <li><a href="/ac" class="icon-ac callevents" data-ga-track="gnshop|mweb|homepage|Featured Category##click##Featured Category|acs##0">ACs</a></li>
		   </ul>
		</div>
	</div>

	<?php include __DIR__ . "/../common/promotedbanner2.phtml"; ?>

<!-- brand widgets start -->
	<div class="brand-widgets-tab overflowhidden">
			<h2 class="widgets-heading overflowhidden">
				<div class="col-sm-12">Brands</div>
			</h2>
			<div class="brand-widgets-list check-carousel overflowhidden">
			   <ul class="newcarousel closest" id="ankush" data-width-list="102">
				  <li><a href="#" data-tab="brand-smartphones##three" class="btn btn-color click-tab">Smartphones</a></li>
				  <li><a href="/brand/laptops" data-tab="brand-laptops##three" class="btn click-tab click-for-brands">Laptops</a></li>
				  <li><a href="/brand/tablets" data-tab="brand-tablets##three" class="btn click-tab click-for-brands">Tablets</a></li>
				  <li><a href="/brand/tvs" data-tab="brand-tvs##three" class="btn click-tab click-for-brands">Television</a></li>
			   
			 <li><a href="/brand/washingmachine" data-tab="brand-washingmachine##three" class="btn click-tab click-for-brands">Washing M/Cs</a></li>	  			<li><a href="/brand/acs" data-tab="brand-acs##three" class="btn click-tab click-for-brands">ACs</a></li>
			 <li><a href="/brand/refrigerator" data-tab="brand-refrigerator##three" class="btn click-tab click-for-brands">Refrigerator</a></li>

			   </ul>
			</div>
	</div>
	<!-- brand widgets end -->
	<!-- brand widgets start -->
	<div class="brand-logo-tab overflowhidden">
			<div class="brand-logo-list check-carousel overflowhidden three" id="brand-smartphones">
			   <ul class="newcarousel" data-width-list="180">
			   <?php if(isset($mobilebrandList)){
			   			foreach($mobilebrandList as $brand)
			   			{ 
			   			 if(is_numeric($brand)) continue;
			   			 $t="e";
			   			 $brandimgurl="#";
			   			 if(isset($brandImages) && isset($brandImages[$brand]))
			   			 {
			   			 	$t = $brandImages[$brand];
			   			 	if(isset($t['MEDIUM_IMAGE_URL']))
			   			 		$brandimgurl = "https://img1.gadgetsnow.com/gd".$t['MEDIUM_IMAGE_URL'];
			   			 	 
			   			 	if($brand === 'Realme')
			   			 		$brandimgurl = "https://img1.gadgetsnow.com/gd/imgbn/realMe.png";
			   			 }
			   			 if($brand === 'Oppo')
			   			 {
			   			 	$brandimgurl = "https://img1.gadgetsnow.com/gd/imgbn/oppo-logo.jpg";
			   			 }
			   			 if(isset($popular_mobilesbrandlink))
			   			 {
			   			 	$brandlink = $popular_mobilesbrandlink[$brand];
			   			 }
			   				?>
					<li>  
						<a href="<?=$brandlink?>" 
						data-ga-track="gnshop|mweb|homepage|brands##click##Brands|<?=$brand?>##0"
						class="display-block">
							<div class="brand-img"><img title="<?=$brand?>" alt="<?=$brand?>" src="https://static.toiimg.com/photo/79837759.cms" class="lazy img v-align-middle" data-original="<?=$brandimgurl?>"></div>
							<div class="brand-text"><?=$brand?></div>
						</a>
					</li>
		<?php }
  		 }
   	?>
				 
			   </ul>
			</div>
			<div class="brand-logo-list check-carousel overflowhidden three" id="brand-laptops" style="height:0">
			   <ul class="newcarousel" data-width-list="180">
					<li><a href='#' class='display-block'><div class='brand-img'><img alt='loading' class='img' data-original='' src='/pwa/img/AjaxLoader.gif'></div><div class='brand-text'>loading...</div></a></li>	 
			   </ul>
			</div>
			<div class="brand-logo-list check-carousel overflowhidden three" id="brand-tvs" style="height:0">
			   <ul class="newcarousel" data-width-list="180">
					<li><a href='#' class='display-block'><div class='brand-img'><img alt='loading' class='img' data-original='' src='/pwa/img/AjaxLoader.gif'></div><div class='brand-text'>loading...</div></a></li>	 	 
			   </ul>
			</div>
			<div class="brand-logo-list check-carousel overflowhidden three" id="brand-acs" style="height:0">
			   <ul class="newcarousel" data-width-list="180">
					<li><a href='#' class='display-block'><div class='brand-img'><img alt='loading' class='img' data-original='' src='/pwa/img/AjaxLoader.gif'></div><div class='brand-text'>loading...</div></a></li>	 	 
			   </ul>
			</div>
			<div class="brand-logo-list check-carousel overflowhidden three" id="brand-refrigerator" style="height:0">
			   <ul class="newcarousel" data-width-list="180">
					<li><a href='#' class='display-block'><div class='brand-img'><img alt='loading' class='img' data-original='' src='/pwa/img/AjaxLoader.gif'></div><div class='brand-text'>loading...</div></a></li>	 	 
			   </ul>
			</div>
			<div class="brand-logo-list check-carousel overflowhidden three" id="brand-tablets" style="height:0">
			   <ul class="newcarousel" data-width-list="180">
					<li><a href='#' class='display-block'><div class='brand-img'><img alt='loading' class='img' data-original='' src='/pwa/img/AjaxLoader.gif'></div><div class='brand-text'>loading...</div></a></li>	 	 
			   </ul>
			</div>
			<div class="brand-logo-list check-carousel overflowhidden three" id="brand-washingmachine" style="height:0">
			   <ul class="newcarousel" data-width-list="180">
					<li><a href='#' class='display-block'><div class='brand-img'><img alt='loading' class='img' data-original='' src='/pwa/img/AjaxLoader.gif'></div><div class='brand-text'>loading...</div></a></li>	 	 
			   </ul>
			</div>
	</div>
	<!-- brand widgets end -->
	<!-- promoted start-->
	<?php include __DIR__ . "/../common/Merc-banner-2.phtml"; ?>
	<!-- promoted end-->
<?php }?>
	
	
		<?php }// Ends if loop
			 $category = strtok(',');
		}  // Ends while ($category !== false)   ?>
	 
	 
	<?php /* commenting four banner slot
	<!-- widgets banner start -->
	<div class="widgets-banner overflowhidden adcode">
		<div class="widgets-loop overflowhidden">
			<!-- loop start -->
			<div class="product-loop relative flt">
				<a data-ga-track="home_page##cccc##pppp##0" href="#">
					<div class="product-img text-center display-block">
						<img class="img lazy" data-original="https://assets.gadgets360cdn.com/shop/assets/products/4gb-ram-smartphones_1531986168.jpeg" />
					</div>
				</a>
			</div>
			<!-- loop end -->
			<!-- loop start -->
			<div class="product-loop relative flt">
				<a href="#">
					<div class="product-img text-center display-block">
						<img class="img lazy" data-original="https://assets.gadgets360cdn.com/shop/assets/products/3gb-ram-smartphones_1540816614.jpeg" />
					</div>
				</a>
			</div>
			<!-- loop end -->
			<!-- loop start -->
			<div class="product-loop relative flt">
				<a href="#">
					<div class="product-img text-center display-block">
						<img class="img lazy" data-original="https://assets.gadgets360cdn.com/shop/assets/products/infocus-vision-3_1542100874.jpeg" />
					</div>
				</a>
			</div>
			<!-- loop end -->
			<!-- loop start -->
			<div class="product-loop relative flt">
				<a href="#">
					<div class="product-img text-center display-block">
						<img class="img lazy" data-original="https://assets.gadgets360cdn.com/shop/assets/products/deal-of-the-day_1531227229.jpeg" />
					</div>
				</a>
			</div>
			<!-- loop end -->
		</div>
	</div>
	<!-- widgets banner end -->
	*/ ?>
	

	<?php include __DIR__ . "/../common/PLTWidgets.phtml"; ?>
	
	
	

	<!-- Footer starts -->
	<?php include __DIR__ . "/../common/pwaFooter.phtml"; ?>
	<!-- Footer Ends -->
