<?php

						$jsonUrl = $GLOBALS['general']['FEED_LIST_URL_JSON'];
						$usrPwd = "admin:gad@687";
						
						$resultArr=array();
						if(isset($jsonUrl)){
							$jsonResult= Utils::getProtectedApiResponse($jsonUrl, null, null, null,$usrPwd);
							if($jsonResult['code'] == '200') {
							$result=json_decode($jsonResult['data'],true);
							foreach($result['home'] as $value){
								if($value['name'] != 'News' && $value['name'] != 'Reviews' ) {
								array_push($resultArr,$value['name'],$value['alternateurl']);
								?>
								<li><a href="<?php echo $value['alternateurl']; ?>"><?php echo $value['name']; ?></a></li>
								<?php }
							}
						} }
						?>
						