
						
						<?php 
						$jsondealUrl = $GLOBALS['general']['KNOCKOUT_DEALS_API_URL'];
						$jsonResult= Utils::getProtectedApiResponse($jsondealUrl, null, null, null,null);
						$landingUrl='/best-mobiles-deal-of-the-day';
						if($jsonResult['code'] == '200')
						{
							$result=json_decode($jsonResult['data'],true);
							$landingUrl=$result['today-deal']['landingURL'];
						}
						
						$categorySlider = array ("SMART PHONES"=>"/smartphones",
								"BEST SELLING SMARTPHONES"=>"/best-selling-smartphones",
								"TRENDING 4G PHONES"=>"/trending-4g-phones",
								"NEW RELEASES"=>"/new-releases",
								"FEATURE PHONES"=>"/feature-phones",
								"WATCHES"=>"/watches/",
								"MOBILE ACCESSORIES"=>"/accessories/",
								"TABLETS"=>"/tablets",
								"REFURBISHED MOBILES"=>"/refurbished-mobiles",
								"LAPTOPS"=>"/computer-laptop",
								"AIR CONDITIONERS"=>"/ac",
								"TELEVISIONS"=>"/televisions",
								"REFRIGERATORS"=>"/refrigerators");
						
						$jsonUrl = $GLOBALS['general']['SHOP_TAB_JSON_URL'];
						$usrPwd = "admin:gad@687";
						$offerLinksOnSlider = array (
								"articlelist"=>array("/news"=>"NEWS"),
								"compare"=>array("/compare-mobiles"=>"COMPARE"),
								"best-amazon-offers"=>array("/best-amazon-offers"=>"BEST AMAZON OFFERS"),								
								"walletoffers"=>array("/wallet-offers"=>"WALLET OFFERS"),
								"knockout-deal"=>array($landingUrl=>"DEAL OF THE DAY"),
    							"mobile-offers"=>array("/mobile-offers"=>"MOBILE OFFERS"),									
								"best-selling-accessories"=>array("/best-selling-accessories"=>"BEST SELLING ACCESSORIES"));
						
						$resultArr=array();
						if(isset($jsonUrl)){
															
							//$jsonResult= Utils::getProtectedApiResponse($jsonUrl, null, null, null,$usrPwd);
							//if($jsonResult['code'] != '404'){
							//$result=json_decode($jsonResult['data'],true);
							foreach($categorySlider as $key=>$link)
							{
								// Donot show also in stores
								if(strcasecmp($key,"ALSO IN STORES") == 0)
									continue;
								//array_push($resultArr,$value['h1'],$value['link']);
								$name =$key;
								
								if($name != "iOS PHONES" && $name != "ANDROID PHONES" && $name != "WINDOWS PHONE")
								{
								if($name == "SHOP BY BRANDS")
								{
									?><li><a class="text-transform" href="<?php echo '/gadgetsBrand'; ?>"><?=$key?></a></li>
								<?php }else 
									if(isset($categoryDisplayed) && $categoryDisplayed==$key){
									?>
									<li><a class="text-transform  active"  href="<?php echo $link; ?>"><?=$key?></a></li>
								<?php }
								}
								}
								?>
						<?php

						foreach($offerLinksOnSlider as $leafT=>$values)
						{
							
							if($leafTitle == $leafT)
							{
								foreach($values as $k=>$v)
								{
								 $addClass='';
									if($v ==='COMPARE')
									{
										$addClass='checkcompare';
									}
							    	echo '<li><a class="text-transform active '.$addClass.' " href="'.$k.'">'.$v.'</a></li>';
								}
							}
						}
						foreach($offerLinksOnSlider as $leafT=>$values)
						{
								
							if($leafTitle != $leafT)
							{
								foreach($values as $k=>$v)
								{
									$addClass='';
									if($v === 'COMPARE')
										{
											$addClass='checkcompare';
										}
									echo '<li><a class="text-transform '.$addClass.' " href="'.$k.'">'.$v.'</a></li>';
								}
							}
						}
						 
						?>
						<?php 
							foreach($categorySlider as $key=>$link)
							{
								if(!isset($categoryDisplayed) || $categoryDisplayed != $key){
								?>
								
								<li><a class="text-transform "  href="<?php echo $link; ?>"><?php echo $key; ?></a></li>
								<?php }
							}
								
								}?>