<?php include __DIR__ . "/../common/pwaHeader.phtml"; ?>
	
	
<!-- listing page start -->
	<!-- listing head start-->	
	<div class="table listing-head">
		<div class="table-row">
			<div class="table-cell text-center v-align-middle">
				<div class="display-inline">
					<i class="fa fa-sort-amount-desc" aria-hidden="true"></i> 
				</div>
				<div class="display-inline sort-by-form-ui">
					<form name="findersort" method="get">
						<select name="sort">
                        <option value="popular" <?php if($sort === 'popular') { echo "selected"; }?>>Popular</option>
                        <option value="price-asc" <?php if($sort === 'price-asc') { echo "selected"; }?>>Low-to-High</option>
                        <option value="price-desc" <?php if($sort === 'price-desc') { echo "selected"; }?>>High-to-Low</option>
						
							 
                        </select>
                        <input type="hidden" name="filtertype" value="laptop" />
                    </form>
				</div>
			</div>
			<div class="table-cell text-center v-align-middle"><!--file_exists -->
				<a class="filteropen <?php if(isset($filtercount) && $filtercount>0) { echo "file_exists ".$filtercount; } ?> "
				   href="#"><i class="fa fa-filter" aria-hidden="true"></i> Filter <span class="filter-check-icon fa"></span></a>
			</div>
		</div>
	</div>
	<!-- listing head end-->	
 
 
<!-- product list single start-->
<?php  include __DIR__."/../common/finderlist.phtml"; ?>
<!-- product list single end-->
 
<!-- listing page end -->
 
<!-- Footer starts -->
	<?php include __DIR__ . "/../common/pwaFooter.phtml"; ?>
	<!-- Footer Ends -->