<?php include __DIR__ . "/../common/header.phtml"; ?>
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
<link href="/mobile/css/knockoutstyle.css" rel="stylesheet">
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<script type='text/javascript' src="http://ad.crwdcntrl.net/5/c=2800/pe=y/var=_ccaud"></script>
 <!-- End lotame audience extraction-->
<script type="application/ld+json">
{
  "@context": "http://schema.org/",
  "@type": "Product",
  "name": "<?= $productName?>",
  "image": "<?= $imagePath?>",
  "description": "<?= $productDescription?>",
  "brand": {
    "@type": "Thing",
    "name": "<?= $brandName?>"
  },

  "offers": {
    "@type": "Offer",
    "priceCurrency": "Rupees",
    "price": "<?=$DealPrice?>",
    "priceValidUntil": "<?=$endDate?>",
    "itemCondition": "http://schema.org/UsedCondition",
    "availability": "http://schema.org/InStock",
    "seller": {
      "@type": "Organization",
      "name": "Times Internet Ltd"
    }
  }
}

</script>
<div class="knockoutcontainer">
		<div class="knockoutheader">	
			<h1>Bid Now! Win Big!</h1>
			<div class="knockouttimer" id="knockouttimer">
					<div class="timerS" id="timerS"><span class="timeB"></span><span class="timeC"></span></div>
			</div>
		</div>
		<?php 
		
		foreach($products as $extn)
		{
			$product_name = $extn->PRODUCT_NAME;
			$product_namediv =$product_name;
			$product_id = $extn->PRODUCT_ID;
			
			// Check if product is instock
			// do not show OOS products
			$data  = "{'productId':'".$product_id."'}";
				
				
			$mrp = $extn->LIST_PRICE;
			$shippingprice = $extn->SHIPPING_PRICE;
			if($extn->DISCOUNTED_PRICE ==0 ){
				$offerprice =  $extn->DEFAULT_PRICE;
			}else{
				$offerprice = $extn->DISCOUNTED_PRICE;
			}
			$yousave = $mrp-$offerprice;
				
			$off = $mrp - $offerprice;
			$off = $off / $mrp;
			$off = $off * 100;
			$DealPrice=$offerprice;
			$OfferPrice = str_replace(",","", $mrp);
			$newprice = $OfferPrice-$DealPrice;
			$newpercent = $newprice/$OfferPrice*100;
				
			$primary_category = $extn->PRIMARY_CATEGORY_ID;
			$catname_arry = $extn->CATEGORY_NAME;
			$cat_arry = $extn->CATEGORY_ID;
			$position = array_search($primary_category, $cat_arry);
			$primarcata_name = $extn->CATALOG_NAME[$position];
			$producturl = "/".strtolower($primarcata_name)."/". str_replace(' ','-', strtolower($extn->CATEGORY_NAME[$position]))."/".strtolower(str_replace('---','-',str_replace(' ','-',$product_name)))."/$primary_category/p_".$extn->PRODUCT_ID."";
			$producturl = str_replace(' ','-',$producturl);
			$producturl = str_replace('-&-','-',$producturl);
			$producturl = str_replace('%','',$producturl);
			$producturl = str_replace('(','',$producturl);
			$producturl = str_replace(',','-',$producturl);
			$producturl = str_replace(')','',$producturl);
			$producturl = str_replace('--','-',$producturl);
				
			//$producturl = $producturl."?utm_source=Wednesday&utm_medium=WedPromo&utm_campaign=".$extn->PRODUCT_ID'];
				
			$productImgurl = strtolower($primarcata_name)."/". str_replace(' ','-', strtolower($extn->CATEGORY_NAME[$position]))."/".strtolower(str_replace('---','-',str_replace(' ','-',$product_name)))."";
			$productImgurl = str_replace(' ','-',$productImgurl );
			$productImgurl = str_replace('-&-','-',$productImgurl );
			$productImgurl = str_replace('(','',$productImgurl );
			$productImgurl = str_replace(')','',$productImgurl );
			$productImgurl = str_replace('.','-',$productImgurl );
			$productImgurl = str_replace('+','',$productImgurl );
			$productImgurl = str_replace('-?','-',$productImgurl );
			$productImgurl = str_replace("'","",$productImgurl );
			$productImgurl = str_replace("%","",$productImgurl );
			$productImgUrlFinal = "https://img1.gadgetsnow.com/gd/images/products/medium/".$product_id."/".$productImgurl ;
				
			$screenresolution = isset($extn->SCREENRESOLUTION_STR_ATTR[0])?$extn->SCREENRESOLUTION_STR_ATTR[0]:"";
			$screensizestrattr= isset($extn->SCREEN_SIZE_STR_ATTR[0])?$extn->SCREEN_SIZE_STR_ATTR[0]:"";
			$processortype=isset($extn->PROCESSORTYPE_STR_ATTR[0])?$extn->PROCESSORTYPE_STR_ATTR[0]:"";
			$secondarycamera = isset($extn->SECONDARYCAMERA_STR_ATTR[0])?$extn->SECONDARYCAMERA_STR_ATTR[0]:"";
			$internalMemory=isset($extn->INTERNALMEMORY_STR_ATTR[0])?$extn->INTERNALMEMORY_STR_ATTR[0]:"";
		}
		?>
		<div class="sub-knockoutcontainer">
			<div class="knockoutcontainer-one">
				<a href="<?= $producturl?>" class="clickimg"><img alt="<?= $product_name?>" src="<?= $productImgUrlFinal?>"/></a>
					
				<table border="0" width="100%" cellpadding="0" cellspacing="0">
						<tr>
							<td><div class="fb-like" data-href="https://shop.gadgetsnow.com/<?= $producturl?>" data-width="100" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div></td>
							<td style="padding:5px 5px 0 5px;"><!-- Twitter start -->
							<a href="https://twitter.com/share" class="twitter-share-button" data-lang="en">Tweet</a>
							<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script><!-- Twitter end --></td>
								<td style="padding:5px 5px 0 0;">  <!--  +1 button start -->
							<div class="plus1" style="display:inline-block">
							  <g:plusone size="medium"></g:plusone>
							</div>
							<script type="text/javascript">
						  (function() {
							var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
							po.src = 'https://apis.google.com/js/plusone.js';
							var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
						  })();
						</script>
				        <!-- +1 button end --></td>
						</tr>
				</table>
				
			</div>
			<div class="knockoutcontainer-two">
				<h2><a href="<?= $producturl?>"> <?= $product_name?></a></h2>
				<?php if (isset($subHeading)) {?><h4><?= $subHeading?></h4><?php }?>								
				<div class="knockout-tab">
					<div class="knockoutpricetab">
							<span class="knockoutofferprice"><span class="toi-rupees"></span><?= $DealPrice ?></span>
							<span class="knockoutmrp"><span class="toi-rupees"></span><?= $OfferPrice ?></span>
							<?php 
																
							?>
							<div class="knockoutsave">You Save <span class="toi-rupees"></span> <?= $newprice ?> (<?=round($newpercent)?>%)</div>
					</div>
					<div class="knockoutactiontab">
						<div class="knockout-buybutton displaynone" id="knockout-buybutton"> <a href="/control/additem?add_product_id=<?= $productId?>">Buy Now</a></div>
						<div class="knockout-buybutton-show displaynone"> <span>Buy @ 3.00 pm</span></div>
					</div>
					 <!-- bidding start -->
					<div class="bidding-container displaynone">
						<div class="successMsg displaynone"></div>
						<div class="tableA">
							<div class="tableC firstDiv">
								<div class="priceS">
								<div>Current Bid : <span class="offer-price-ui"> </span></div><div class="currentbid"></div>
								</div>
								<div class="priceS">
									<div>Bid Value : <span class="offer-price-ui"> </span></div><div class="bidvalue"></div>
								</div>
								<div class="priceS">
									<div>Base Price : <span class="offer-price-ui"></span></div><div class="bidprice"></div>
								</div>
							</div>
							<div class="bidbutton tableC"><a href="">Bid Now</a></div>
							<div class="howitowrk"><a target="_blank" href="/how-it-works">How it Works?</a></div>
						</div>
						
						
					</div>
					<!-- bidding end -->
					<ul class="enabler">
						<li><span class="warranty">&nbsp;</span><span>1 Year Manufacturer Warranty</span></li>
						<li><span class="shipping">&nbsp;</span><span>Free Shipping</span></li>
						<li><span class="emiava">&nbsp;</span> <span>EMI Available </span></li>
						<li><span class="delivetime">&nbsp;</span><span>Usually Delivers in 1-3 days.</span></li>
						<li><span class="vendor">Seller:</span><span class="vendor-desc" title="Times Internet Ltd.">Times Internet Ltd.</span></li>
						<li><span class="hundredpersent">&nbsp;</span><span>Original Products</span></li>           							
					</ul>
				</div>
				<h3>Key Features</h3>
			<ul class="mobilefeature">		
											<li class="display">Display: <?php echo $screensizestrattr ." ". $screenresolution; ?></li>
											<li class="android">Operating System: <?php echo $extn->OPERATING_SYSTEM_STR_ATTR[0]; ?></li>
											<li class="processor">Processor: <?php echo $processortype; ?></li>
											<li class="battery">Battery:  <?php echo $extn->CAPACITY_STR_ATTR[0]; ?></li>
											<li class="camera">Camera: Main : <?php echo $extn->PRIMARYCAMERA_STR_ATTR[0]; ?>, Front : <?php echo $secondarycamera; ?></li>
											<li class="memory">RAM: <?php echo $extn->RAM_STR_ATTR[0]; ?></li>
									</ul>
				<section>
<!-- amazon sponsored list --> 
		<div class="card productShowBox margin-10">
			<div class="productShowlist">
				<h4 class="heading">Sponsored: In the store</h1>
			</div>
				<ul>
				<?php
			$sponsoredCounts=0; 
			if(isset($affiliateSponsoredProducts))
			{
				foreach($affiliateSponsoredProducts as $affSProd )
				 {
		    		/* commented to show all products in sponsored list if($sponsoredCounts > 10)
		    		{
		    			break;
		    		} */
		    		$sponsoredCounts = $sponsoredCounts+1;
		    		$name = ""; 
		    		if(isset($affSProd['title']))
		    			$name = $affSProd['title'];
		    		
		    		$sponsrdUrl = ""; 
		    		if(isset($affSProd['url']))
		    			$sponsrdUrl =$affSProd['url'];
		    		
		    		$sprice = ""; 
		    		if(isset($affSProd['price']))
		    			$sprice =$affSProd['price'];
		    		$event="";
		    		$affiliate="";
		    		if(strpos($sponsrdUrl,"amazon") != false)
		    		{
		    			$affiliate="amazon";
		    			$nameurl=$name;
		    			$event="wallet_mweb_widget_amazon";
			    		$sponsrdUrl = str_replace("https://www.amazon.in","",$sponsrdUrl);
			    		$sponsrdUrl = str_replace("http://www.amazon.in","",$sponsrdUrl);
			    		$sponsrdUrl = $sponsrdUrl."?SubscriptionId=AKIAJX7PDW7DEP2LLJLA&linkCode=xm2&camp=2025&creative=165953&creativeASIN=B01ABNWQI4";
			    		$sponsrdUrl = $sponsrdUrl."&tag=timofind-21";
			    		$sponsrdUrl = rawurlencode($sponsrdUrl)."&utm_campaign=mweb_gnshop_pay-21&utm_source=mweb_gnshop&utm_medium=Affiliate&title=".rawurlencode($name)."&price=".$sprice;
			    		$sponsrdUrl="http://m.gadgetsnow.com/affiliate_amazon.cms?url=".$sponsrdUrl;
		    		}else
		    		{
		    			$affiliate="tatacliq";
		    			$tatacliqurl=$GLOBALS['general']['TATA_CLIQ_URL'];
		    			$event="wallet_mweb_tatacliq_sponsor";
		    			$sponsrdUrl = str_replace("https://www.tatacliq.com","",$sponsrdUrl);
		    			$sponsrdUrl = str_replace("http://www.tatacliq.com","",$sponsrdUrl);
		    			$sponsrdUrl = $sponsrdUrl;
		    			$nameurl = str_replace(" ","_",$name);
		    			$sponsrdUrl = rawurlencode($sponsrdUrl)."&tag=mweb_gnshop_sponsored&utm_source=mweb_gnshop&utm_medium=Affiliate&title=".rawurlencode($nameurl)."&price=".$sprice;
		    			$sponsrdUrl=$tatacliqurl."?url=".$sponsrdUrl;
		    		}
			    	
		    	?>
						<li class="ripple">
							<a target="_blank" rel="nofollow sponsored" data-ga-track="<?=$event?>##amazon##<?=$event?>##0" href="<?=handleStr($sponsrdUrl)?>">
								<div class="inner">
									<div class="flt firstdiv">
									<span>
										<img alt="icon" src="<?=$affSProd['imageUrl']?>">
									</span>
									</div>
	
									<div class="flt seconddiv">
								<div class="tabletitle">
										<figcaption><?=$name?></figcaption>
											<?php if(is_numeric($affSProd['price']) && $sprice!=0) { ?>
										<span class="price_tag offer-price-ui" >
									
									<strong> <?=$sprice?></strong></span> <?php }elseif ($sprice != '0') { ?>
									<span>
									<strong> <?=$sprice?></strong></span>
									<?php } ?>
										<div class="tableR">
											<?php if($affiliate == "amazon") {?><div class="tableC logo"><i></i></div>
											<div class="tableC prime"><i></i></div>
											<div class="tableC"><small class="buy_btn">BUY</small></div>
											<?php } else {?>
											<!-- condition for tata logo -->
											<div class="tableC logo"><i class="tatalogo"></i></div>
											<div class="tableC"><small class="buy_btn-tatacliq">BUY</small></div>
											<?php }?>
										</div>
									</div>
									</div>
								</div>
							</a>
						</li>
						<!--li class="ripple">
							<a target="_blank" rel="nofollow sponsored" data-ga-track="add2cart_mweb_tatacliq_sponsor##Mobiles|Smart Phones##pdp|10021|G10201|Micromax Canvas Infinity (Black, 18:9 FullVision Display)|9380##0" href="http://mdev8412.indiatimes.com/affiliate_tatacliq.cms?url=%2Fmicromax-canvas-infinity-32-gb-black-3gb-ram-dual-sim-4g%2Fp-mp000000001907333&amp;tag=mweb_gnshop_sponsored&amp;utm_source=mweb_gnshop&amp;utm_medium=Affiliate&amp;title=Micromax_Canvas_Infinity_%28Black%2C_18%3A9_FullVision_Display%29&amp;price=9380">
								<div class="inner">
									<span>
										<img alt="icon" src="https://images-na.ssl-images-amazon.com/images/I/61mGHH0dgiL._SL160_.jpg">
									</span>
									<span>
										<figcaption>Micromax Canvas Infinity (Black, 18:9 FullVision Display)</figcaption>
										<span class="price_tag offer-price-ui"><strong> 9380</strong></span>
										<div class="tableR">
											<div class="tableC logo"><i class="tatalogo"></i></div>
											<div class="tableC"><small class="buy_btn-tatacliq">BUY</small></div>
										</div>
									</span>
								</div>
							</a>
						</li-->
						<?php } // for ends
				 } // if ends ?>
				</ul>				
		</div>
<!-- amazon list -->
<!-- promoted html-->
<section>
<?php if(isset($affiliateBannerActive1) && $affiliateBannerActive1=='N') { ?>
	<div id='div-gpt-ad-1513236443687-0'>
				<script>
				googletag.cmd.push(function() { googletag.display('div-gpt-ad-1513236443687-0'); });
				</script>
	</div>
	<?php } elseif(isset($affiliateBannerActive1) && $affiliateBannerActive1=='Y') { $promonofollowtag1="rel='nofollow'";?>
	<div class="productShowlist">
		<h4 class="heading"><span class="truncate text-transform">Promoted</span></h4>
	</div>
				
	<div class="cashbackamazon">
	<a class="display-block" <?=$promonofollowtag1?> 
				data-ga-track="<?=$promoEventaction1?>##<?=$promoEventcat1?>##walletoffers|<?=$promoEventlabel1?>|##0"  target="_blank" 
				href="<?php if(isset($promoBannerurl1)) { echo $promoBannerurl1; }?>"><img class="img lazy" alt=<?php if(isset($promoBannertext1)) echo $promoBannertext1; ?> 
				data-original="<?php if(isset($promoImgpath1)){ echo $promoImgpath1; }else {?>/mobile/img/cashback-app-Banner.jpg<?php }?>"/></a>
</div> <?php } ?>
</section>
 
<!-- promoted html-->
<section>
		<div class='ctn-ads-home-list'>
				<div class="card productShowlist margin-10">
					<h4 class="heading"><span class="truncate text-transform">From Around the Web</span> </h4>
				</div>
 				<div class="ctn-ads-home-list-row">
		 			<div id="div-clmb-ctn-1245" data-slot="256682" data-position="1245" data-section="0" data-cb="adwidgetfun" class="colombia toi-product colombiaad"> </div>
		 			<div id="div-clmb-ctn-1246" data-slot="256682" data-position="1246" data-section="0" data-cb="adwidgetfun" class="colombia toi-product colombiaad"> </div>
		 		</div>
		 		<div class="ctn-ads-home-list-row">
		 			<div id="div-clmb-ctn-1247" data-slot="256682" data-position="1247" data-section="0" data-cb="adwidgetfun" class="colombia toi-product colombiaad"> </div>
		 			<div id="div-clmb-ctn-1248" data-slot="256682" data-position="1248" data-section="0" data-cb="adwidgetfun" class="colombia toi-product colombiaad"> </div>
		 		</div>
 		</div>	
</section>
<!-- promoted html-->
<section>
<?php if(isset($affiliateBannerActive2) && $affiliateBannerActive2=='N') { ?>
	<div id='div-gpt-ad-1513236443687-0'>
				<script>
				googletag.cmd.push(function() { googletag.display('div-gpt-ad-1513236443687-0'); });
				</script>
	</div>
	<?php } else if(isset($affiliateBannerActive2) && $affiliateBannerActive2=='Y') {?>
	<div class="productShowlist">
		<h4 class="heading"><span class="truncate text-transform">Promoted</span></h4>
	</div>
				
	<div class="cashbackamazon">
	<a class="display-block" <?=$promonofollowtag2?> 
				data-ga-track="<?=$promoEventaction2?>##<?=$promoEventcat2?>##walletoffers|<?=$promoEventlabel2?>|##0"  target="_blank" 
				href="<?php if(isset($promoBannerurl2)) { echo $promoBannerurl2; }?>"><img class="img lazy" alt=<?php if(isset($promoBannertext2)) echo $promoBannertext2; ?> 
				data-original="<?php if(isset($promoImgpath2)){ echo $promoImgpath2; }else {?>/mobile/img/cashback-app-Banner.jpg<?php }?>"/></a>
</div> <?php } ?>
</section>
 
<!-- promoted html-->
	
</section>
				<div class="knockout-note">Note : Limit of Single Unit per user only. Multiple orders by single user will be cancelled.</div>
			</div>
		</div>
	</div>
	
<?php include __DIR__ . "/../common/newfooter.phtml"; ?>
 
