<?php include __DIR__ . "/../common/header.phtml"; ?>

<!-- container body start -->
<div class="my-account-ui">

	<!-- my account start-->
    <div class="section-container-ui case-detail"> 
    <?php if(isset($caseMap)){ ?>
            <h1>Case Id.&nbsp;<?=$caseMap->CUST_REQUEST_ID?></h1>
            <table>
                <tbody>
                 <tr><td>Order No.</td><td><a href="orderhistory?orderId=<?=$caseMap->ORDER_ID?>"><?=$caseMap->ORDER_ID?></a></td></tr>
                 <tr><td>Sub-order No.</td><td><?=$caseMap->ORDER_ITEM_SEQ_ID?></td></tr>
                 <tr><td>Issue Type</td><td><?=$caseMap->ISSUE_TYPE?></td></tr>
                 <tr><td>Sub-Issue Type</td><td><?=$caseMap->SUBISSUE_TYPE?></td></tr>
                 <tr><td>Problem Area</td><td><?=$caseMap->PROBLEM_AREA?></td></tr>
                 <tr><td>Resolution Date</td><td><?=$caseMap->resolutionDate?></td></tr>
                 <?php $caseStatusDescription=isset($caseMap->CASE_STATUS_ID)?$caseMap->CASE_STATUS_ID:""; 
                 if(isset($caseMap->CASE_STATUS)){$caseStatusDescription=$caseMap->CASE_STATUS;}
                 else if(isset($caseMap->CASE_STATUS_ID) && ($caseMap->CASE_STATUS_ID=='CRQ_CLOSED' || $caseMap->CASE_STATUS_ID=='CRQ_CLOSEDLOOP')){$caseStatusDescription="Closed";}
    			 else if(isset($caseMap->CASE_STATUS_ID) && ($caseMap->CASE_STATUS_ID=='CRQ_PROCESSCLOSED' || $caseMap->CASE_STATUS_ID=='CRQ_REOPENED'|| $caseMap->CASE_STATUS_ID=='CRQ_UNDERPROCESS')){$caseStatusDescription="Under Process";}?>
                 <tr><td>Case Status</td><td><?=$caseStatusDescription?></td></tr>
                 <tr><td>Case Creation Date</td><td><?=date('M d, Y, h:i A',intval($caseMap->CUST_REQUEST_DATE/1000))?></td></tr>
                  <tr><td>Description</td><td><?=$caseMap->DESCRIPTION?></td></tr>
                  <?php if(isset($caseNotes)){ 
						foreach($caseNotes as $key=>$value){ ?>
                  			<tr><td>Remark <?=$key+1?></td>
                  			<td><?=$value->NOTE_INFO?>&nbsp;&nbsp;<?=date('M d, Y, h:i A',intval($value->NOTE_DATE_TIME/1000))?>,&nbsp;(<?=$value->FIRST_NAME?>)</td></tr>
                  <?php	}
                   } ?>
                </tbody>
            </table>
            <div class="description">
            <form method="post" action="createCaseNote" onsubmit="return evalForm(this)" name="noteForm" id="noteForm">
	            <input type="hidden" name="custRequestId" id="custRequestId" value="<?=$caseMap->CUST_REQUEST_ID?>"/>
	            <input type="hidden" name="internalNote" id="internalNote" value="N"/>
	            <span>Add Remark:</span><br />
	             <textarea  validate="{true,blank,Write Your Remarks,htmltag,HTML tags not required}" rows="3" cols="56" id="note" name="note" maxlength="1024"></textarea><br />
	             <span id="note_error" class="errorMsg"></span><br />
	             <button  class="flat-black">Submit</button>                       
            </form>
            </div>
    <?php } else { ?>
		<h1>Case specified is not found.</h1>
	<?php } ?>      
   </div>
    <!-- my account start-->
    
<?php include __DIR__ . "/../common/newfooter.phtml"; ?>
