<?php if(!isset($_SESSION)) session_start();?>
<?php include __DIR__ . "/../common/header.phtml"; ?>
<?php 
if(isset($_SESSION))
{
	$emailID = $_SESSION;
	$authcode = $_SESSION ['ssoAuthCode'];
}
?>
<!-- container body start -->
<div class="forgotpassword clr">
	<div class="forgot-head">
    	Forgot Password
    </div>
	<div class="section-container-ui password-recovery-popup1">
    	<section>        	
			<form class="forgotform" method="post" action="/control/updateLoginPassword" name="changepasswordform" autocomplete="off">
	        <input type="hidden" name="loginId" id="loginId" value="" />
	        <input type="hidden" name="authCode" id="authCode" value="" />
	        <input type="hidden" name="USERNAME" id="USERNAMENEW" value="" />
            <div class="field-wrapper">
					<p class="response-message">Please enter new password.</p>
					<input placeholder="New Password" type="password" class="form-text" id="newPassword" name="PASSWORD" validate="{true,blank,Please enter a valid password,password, Password must be 6 to 14 characters with no spaces}" maxlength="14"/><span class="errorMsg" id="newPassword_error"></span>
            </div>
             <div class="field-wrapper">
                 <input placeholder="Confirm Password" type="password" class="form-text" id="conf_newPassword" name="newPasswordVerify" validate="{true,blank,Please enter a password,confField,Both passwords do not match. Please try again}" maxlength="14" /><span class="errorMsg" id="conf_newPassword_error"></span>
            </div>
            <div class="field-wrapper update-mobile-number">
                 <input placeholder="Mobile no." type="number" class="form-text" id="contactMobile" name="contactMobile" validate="{false,blank,Mobile No. required,phoneIND,Please enter valid mobile number}" maxlength="10"><span class="errorMsg" id="contactMobile_error"></span>                 
            </div>
            <div class="text-align-right forgetpasswordbutton field-wrapper">
                <button class="flat-orange forgot-password-submit" type="submit" tabindex="2">Submit</button>
            </div>
		 </form> 
		 
			
        </section>
    </div>
<?php include __DIR__ . "/../common/newfooter.phtml"; ?>
