<?php include __DIR__ . "/../common/header.phtml"; ?>
<!-- container body start -->
<?php if(isset($priceChangeMessage) && $priceChangeMessage!="") { ?>
<section>
			<div class="servererror serverinfo oveflowhidden clr">
				<span class="flt"><?=$priceChangeMessage?></span>
			</div>
		</section>
<?php }?>
<div class="checkout-ui shippping-ui clr" id="top">
	<aside>
		<div class="checkout-progress-ui oveflowhidden">
			<span class="shipping"><label>&nbsp;1&nbsp;</label>Login</span>
			<span class="arrow">&rsaquo;</span>
			<span class="shipping active"><label>&nbsp;2&nbsp;</label>Shipping</span>
			<span class="arrow">&rsaquo;</span>
			<span class="payment"><label>&nbsp;3&nbsp;</label>Payment</span>
		</div>
	</aside>
	<?php if(isset($addressArray) && sizeof($addressArray)>0) {?>
	<div class="select-address oveflowhidden checkout-widget">
	<form action="/control/createCustomerCheckout" method="post" name="shipAddress">
		<input type="hidden" id="shiptoadd" name="shiptoadd" value=""/>
		<input type="hidden" id="name" name="name" value=""/>
		<input type="hidden" id="pincode" name="pincode" value=""/>
		<input type="hidden" id="city" name="city" value=""/>
		<input type="hidden" id="state" name="state" value=""/>
		<input type="hidden" id="mobileno1" name="mobileno1" value=""/>
		
		<input type="hidden" id="address" name="address" value=""/>
		<p data-ga="check_out_funnel_mobile##<?php echo $leafTitle; ?>##addnew_address##0" id="shipadd" class="section-container-ui flt addnew">
			<span class="addr-head" style="overflow: hidden;">
				<span class="attn-name"> &nbsp;</span>
				<span class="addr-edit">&nbsp;</span>
			</span>
			<span class="address">
				<i class="fa-plus-square"></i>ADD NEW ADDRESS
			</span>
			<span>&nbsp;</span>
	    </p>
	<?php $i=0;
			foreach ($addressArray as $partyAddress) { 
			$i=$i+1;
//			if (isset($partyAddress->address->attnName)) {?>
		<p data-ga="check_out_funnel_mobile##<?php echo $leafTitle; ?>##continue_withexisting_adderss##0" class="section-container-ui flt addresslist" id="shipadd<?=$partyAddress->contactMechId?>">
		  	<span class="edit-overlay" style="display:none;"></span>
			<span class="addr-head" style="overflow: hidden;">
				<span class="attn-name"> ADDRESS <?=$i ?></span>
				<span class="addr-edit"><a href="#" id="shipadd<?=$partyAddress->contactMechId?>" class="addr-edit-link"><i class="fa-pencil-square-o addr-edit-link"></i> Edit</a></span>
			</span>
		  	<span class="address">
			  	<?php if (isset($partyAddress->address->toName)) { ?> <map class="toName"><?=$partyAddress->address->toName;?></map><br/><?php } ?>
			  	<?php if (isset($partyAddress->address->address1)) { 
			  		$addressLine = $partyAddress->address->address1;
			  		$remove_character = array("\n", "\r\n", "\r");
					$addressLine = str_replace($remove_character , ' ', $addressLine);?> 
			  		<map class="address1"><?=$addressLine?></map><br/>
		  		<?php } ?>
			  	<?php if (isset($partyAddress->address->city)) { ?> <map class="city"><?=$partyAddress->address->city;?></map>,<?php } ?> 
			  	<?php if (isset($partyAddress->address->state)) { ?> <map class="state"><?=$partyAddress->address->state;?></map><br/><?php } ?>
			  	<?php if (isset($partyAddress->address->postalCode)) { ?> <map class="postalCode"><?=$partyAddress->address->postalCode;?></map><br/><?php } ?>
			  	<?php if (isset($partyAddress->address->country)) { ?> <map class="country"><?=$partyAddress->address->country;?></map><br/><?php } ?>
			  	<?php if (isset($partyAddress->address->contactMobile)) { ?> <map class="contactMobile"><?=$partyAddress->address->contactMobile;?></map>
				<input type="hidden" name="contactNo"  value="<?=$partyAddress->address->contactMobile;?>"/>
				<input type="hidden" value="<?=$partyAddress->address->contactMobile;?>" id="mobileno"> 
				<input type="hidden" value="<?=$partyAddress->address->contactMobile;?>" class="contactNumber">
				<br/><?php } ?>
		  	</span>
		  	<span>Ship to this address</span>
	     </p>
	 <?php  //	}
		} ?>
	     
	     <a class="more-link clr" href="#">&nbsp;</a>
	     </form>
	 </div>
	 <!--div class="separator flt displaynone"><aside><span>OR</span></aside></div-->
<?php 	} ?> 
	<div class="create-address checkout-widget checkout-widget-padding" id="top3">
		<div class="section-container-ui" >
		<?php 
		    $userLogin = $_SESSION["userLogin"];
		?>
	  			<section>
	  				<div class="unregistered <?php if(isset($userLogin) && $userLogin->getUserName() != 'Guest' && sizeof($addressArray) !==0 && !empty($addressArray)){ echo "displaynone"; } ?>">
	  					ENTER A NEW ADDRESS
	  				</div>
	  				<div class="register-content <?php if(isset($userLogin) && $userLogin->getUserName() != 'Guest' && sizeof($addressArray) !==0 && !empty($addressArray)){ echo "displaynone"; } ?>">
			  			<form action="/control/createCustomerCheckout" method="post" name="createAddress">
			  			<?php if(isset($userLogin) && $userLogin->getUserName()=='Guest'){ ?>
			  				   <div class="field-wrapper">
					  				<input type="text" value="" placeholder="Your Name" id="yourname" name="yourname" validate="{true,blank,Your Name is required,alphachar,Please enter only alphabets for Name}" tabindex="1"/>
					  				<span id="yourname_error" class="error">&nbsp;</span>
					  			</div>
								<div class="field-wrapper oveflowhidden">
					  				<span class="flt"><input type="checkbox" value="" id="nameCheckBox" class="recipientbox" checked /></span> <span class="flt recipient"> I am the recipient</span>
					  			</div>
					  			<div class="field-wrapper recipiename displaynone">
					  				<input type="text" value="" placeholder="Recipient Name" id="name" name="name" tabindex="2"/>
					  				<span id="name_error" class="error">&nbsp;</span>
					  			</div>
					  	<?php }else{ ?>		
								<div class="field-wrapper recipiename">
									<input type="text" value="" placeholder="Recipient Name" id="name" name="name" validate="{true,blank,Recipient Name is required,alphachar,Please enter only alphabets for Name}" tabindex="2"/>
					  				<span id="name_error" class="error">&nbsp;</span>
					  			</div>
						<?php } ?>		
				  			   <div class="field-wrapper">
					  				<input type="number" value="" placeholder="Pincode" id="pincode" name="pincode" maxlength="6" validate="{true,blank,Pin Code is required,pincodeIND,Please enter valid Pin Code}" tabindex="3"/>
					  				<span id="pincode_error" class="error">&nbsp;</span>
					  			</div>
					  			<div class="field-wrapper">
					  				<input type="text" value="" placeholder="City"  id="city" name="city" validate="{true,blank,City is required,cityname,Please enter a valid city name}"  tabindex="4" readonly="readonly"/>
					  				<span id="city_error" class="error">&nbsp;</span>
					  			</div>
					  			<div class="field-wrapper">
					  				<select  id="state" name="state" validate="{true,blank,Please select the state}" tabindex="5" readonly="readonly" disabled="disabled">
					  					<?php include __DIR__ . "/indianStates.html"; ?>
					  				</select>	
					  				<span id="state_error" class="error">&nbsp;</span>
					  			</div>
					  			<div class="field-wrapper">
					  				<input type="text" value="" placeholder="Mobile No"  id="mobileno" name="mobileno" validate="{true,blank,Mobile No. required,phoneIND,Please enter valid mobile number}"  tabindex="6" maxlength="10"/>
					  				<span id="mobileno_error" class="error">&nbsp;</span>
					  			</div>
					  			<div class="field-wrapper">
						  			<textarea placeholder="Shipping Address"  id="address" name="address" validate="{true,blank,Address is required,htmltag,HTML tags are not allowed}" tabindex="7" maxlength="1024"></textarea>
						  			<span id="address_error" class="error">&nbsp;</span>
						  		</div>
					  			
					  			<!-- commenting "shipping address name to be saved" field-->
					  			<?php if($userLogin->getUserName() != 'Guest'){ ?>
					  			<!--div class="field-wrapper">
					  				<input type="text" value="" placeholder="Above shipping address to be saved as"  id="attnname" name="attnname" maxlength="20" validate="{true,blank,Address title is required,alphachar,Please enter only alphabets for Name}"  tabindex="8"/>
					  				<span id="attnname_error" class="error">&nbsp;</span>
					  			</div-->
					  			<?php } ?>
					  			<input type='hidden' value='' name='addredit' id='addredit'/>
					  			<div class="field-wrapper text-align-right oveflowhidden">				  				
					  			<?php if($userLogin->getUserName() != 'Guest' && isset($addressArray) && sizeof($addressArray) !==0 && !empty($addressArray)){ ?>				  				
					  				<button class="flat-red edit-cancel flt" type="reset">Cancel</button>
					  			<?php  } ?>	
									<button data-ga="check_out_funnel_mobile##<?php echo $leafTitle; ?>##continue_withnew_address##0" class="flat-orange flr" type="submit" data-text="Proceed To Payment &#187;" data-edit-text="Save & Continue" tabindex="9">Proceed To Payment &#187;</button>
					  			</div>
			  			</form>
		  			</div>
	  			</section>
	 </div>
      
	</div>
<?php include __DIR__ . "/../common/newfooter.phtml"; ?>
