<?php 
error_reporting(E_ALL);
//session_start();
$userName = "Guest";
if(isset($_SESSION['userLoginId'])){
	$userName = $_SESSION['userLoginId'];
}
echo "Welcome ".$userName;
?>
	<div class="header-mobile-left flt">
		<a href="#" class="mobile-ui-nav flt"></a>
		<a href="#" class="mobile-ui-logo flt"></a>
	</div>
	<div class="header-mobile-right flr">
		<a class="flr mobile-ui-myacc" href="#"> </a>
		<div class="flr mobile-ui-cart"><span>3</span></div>
		<a class="flr mobile-ui-search-button" href="#"> </a>
	</div>
	<!-- search start -->
	<div class="mobile-ui-search searchdisplaynone">
		<form class="mobile-ui-search-form">
			<input type="text" class="serch-ui-input flt" placeholder="Search for products, brands etc" />
			<input type="button" class="serch-ui-input-button flt" value="GO" />
		</form>
	</div>
	<!-- search end -->