<?php include __DIR__ . "/../common/header.phtml";?>
  <?php
  $showCOD="";
  $showOTP="";
  $codOtpAttempts=0;
  $allowedCODUser=$GLOBALS['general']['ALLOWED_COD_USER'];
  $gateWay="/control/submitCCAvenue";
  $currentYear=date('Y');
		if (! isset ( $_SESSION ))
			session_start ();
		$cart = $_SESSION ['shoppingCart'];
		$shipAddress= $cart->getShippingAddress();
		$codcharges = $cart->getCodCharges();
		$mobileNo="";
		if(isset($shipAddress) && sizeof($shipAddress)>0)
		{
			$mobileNo = $shipAddress['contactMobile'];
		}
		if(isset($_SESSION['mobileNo'.$mobileNo]))
		{
			$codOtpAttempts =$_SESSION['mobileNo'.$mobileNo];
		}
		$allowedpayMentOption = isset($_SESSION ['allowedpayMentOption'])?$_SESSION ['allowedpayMentOption']:array();
		
		$codPresent = array_search("EXT_COD",$allowedpayMentOption)!=false?'true':
									(array_search("EXT_COD_CARD_WALLET",$allowedpayMentOption)?'true':(array_search("EXT_COD_CARD",$allowedpayMentOption)?'true':(array_search("EXT_COD_WALLET",$allowedpayMentOption)?'true':false)));  
		if(isset($allowedpayMentOption['SHOW_COD']))
		{ 
			$showCOD = $allowedpayMentOption['SHOW_COD'];
		}
		if(isset($allowedpayMentOption['SHOW_OTP']))
		{
			$showOTP = $allowedpayMentOption['SHOW_OTP'];
		}
		$captchaObj =array();
		if(isset($_SESSION ['captchaImgObj']))
		{
		$captchaObj = $_SESSION ['captchaImgObj'];
		}
		$totalAmountToPay =0;
		$codPromoCondition=false;
		//print_r($codOtpAttempts);
		if($codOtpAttempts > 2)
		{
			
			
				$showOTP="false";
		}
		$userLogin = $_SESSION["userLogin"];
		$userLoginId="";
		if(isset($userLogin))
		{
			$userLoginId = $userLogin->getUserLoginId();
			// for QA purpose
			if($userLoginId == $allowedCODUser)
			{
				$showOTP="true";
				$showCOD="true";
			}
		}
		?>
		
		
		 <?php
				$grandTotal = 0;
				$TotalDiscount=0;
				$discountByCoupon = 0;
				foreach ( $cart->getShoppingList()->getShoppingListItems () as $productObj ) 
				{
				$product = new ShoppingListItem ();
				if (get_class ( $productObj ) == 'stdClass') {
					Utils::Cast ( $product, $productObj );
				} else {
					$product = $productObj;
				}
				if ($product->getProductId () != "") {
					$pId = ($product->getIsVariant () ? $product->getVirtualProductId () : $product->getProductId ());
					
					if ($product->getBasePrice () > 0) {
						$priceToCalc = $product->getBasePrice ();
					} else {
						$priceToCalc = $product->getListPrice ();
					}
					$itemAmount = ($priceToCalc + $product->getShippingPrice ()) * $product->getQuantity ();
					$grandTotal = $grandTotal + $itemAmount;
					if ($product->getGcDiscount () > 0) {
						$TotalDiscount = $TotalDiscount + $product->getGcDiscount ();
					}
				}
			}
			 $totalAmountToPay=$grandTotal-$TotalDiscount;
			 if($totalAmountToPay == 0) 
			 {
			 	$codPromoCondition=true;
			 }
			 
			
		?>
		<?php if(isset($priceChangeMessage) && $priceChangeMessage!="") { ?>
<section>
			<div class="servererror serverinfo oveflowhidden clr">
				<span class="flt"><?=$priceChangeMessage?></span>
			</div>
		</section>
<?php }?>
<div class="checkout-ui payment-ui clr">

	<!-- Trans Fail -->
		       <?php
				$errorMsg = (isset($_SESSION['pgError'])?$_SESSION['pgError']:null);
			   if(isset($errorMsg) && $errorMsg!=""){ ?>
		       <div class="section-container-ui failedsection">
		
		         <?php if($errorMsg === 'Invalid Zip Code data'){ 
		       	 	echo"The transaction was successfully authorized basis the card details, but the 2nd level authentication (AVS) failed due to incorrect billing-address zip code provided by Card Member, as a result the transaction has been declined. Please contact your bank and review zip code and re-initiate the transaction.";
				} ?>
		        
		<div class="faildesc">
			<p>
				<b>Dear Customer,</b><br /><?=$errorMsg?>Your transaction has failed. Please try
				to place the order again ensuring the following:
			</p>
			<ol>
				<li>Card Information/Netbanking credentials provided are accurate.</li>
				<li>Your internet connection is not disrupted during the payment
					process</li>
			</ol>
			<p>
				In case your account has been debited, <span class="rollbackmsg">the
					same amount will be automatically rolled back within 72 hrs.</span>
			</p>
			<p>
				<b>Queries?</b><br />Our Customer care is available 7 days a
				Week (9AM to 6PM). We will be glad to help you complete this
				order or answer any other questions that you may have. You can reach
				our Customer Care at <b>8010881188/ 0124-4683470 </b>or <a
					href="mailto:customerservice@gadgetsnow.com">customerservice@gadgetsnow.com</a></b>
			</p>
		</div>
	</div>			
		        <?php }
				if(!isset($_SESSION)) session_start();
				unset($_SESSION["pgError"]); ?>
        <!-- End of trans fail -->
	<aside>
		<div class="checkout-progress-ui oveflowhidden">
			<span class="shipping"><label>&nbsp;1&nbsp;</label>Login</span> <span
				class="arrow">&rsaquo;</span> <span class="shipping"><label>&nbsp;2&nbsp;</label>Shipping</span>
			<span class="arrow">&rsaquo;</span> <span class="payment active"><label>&nbsp;3&nbsp;</label>Payment</span>
		</div>
	</aside>
	<div class="checkout-widget-top">
		<div class="section-container-ui">
			<section><?php //print_r($cart);?>
				<div class="payable">
					<input type="hidden" id="order_amount"
						value="<?=$cart->getAmountToCollect() ?>">Amount Payable <span
						class="noCod"><span class="offer-price-ui toi-text flr"><?=number_format($cart->getAmountToCollect()) ?></span></span>
	  					<?php if(false !== array_search("EXT_COD",$allowedpayMentOption) && !$codPromoCondition) { ?> 
	  						<span class="codAdded displaynone"> <span
						class="offer-price-ui toi-text flr"><?=number_format($cart->getAmountToCollect()+$cart->getCodCharges()) ?></span>
						<br /> <?php if($codcharges !=0 ){?><span class="note">(Inclusive of <strong
							class="offer-price-ui"><?=$cart->getCodCharges() ?></strong> COD
							Charges)
					</span><?php }?>
					</span>
						<?php } ?>
	  				</div>
			</section>
		</div>

	</div>
	<div class="checkout-widget payment-widget flt">
		<div class="section-container-ui">
			<h3>Choose a payment option
			<div class="expresstag">
			<?php if(isset($_SESSION['expressFlag']) && $_SESSION['expressFlag'] == 1) {?>
			( <span>Free</span> Express Delivery on Prepaid Orders )</div>
			<?php }?>
			</h3>			
			<section>
		  			  
				<!-- Pre Paid -->
				<div class="payment-content credit-card">
					<a class="payment-type text-bold acitve">Online Payment</a>
					<?php 
					
					?>
					<?php if(isset($_SESSION['gcValues']['coupon']) && $totalAmountToPay==0) 
						{ ?>
							<form method="post" name="redirect" action="/control/processPayment"><!--   action="https://secure.ccavenue.com/transaction/transaction.do?command=initiateTransaction">--> 
						
						<div class="field-wrapper align">
							<button data-ga="check_out_funnel_mobile##<?php echo $leafTitle; ?>##continue_paynow|credit-card##0" type="submit" class="flat-orange paynow" />Pay Now &#187 </button>
						</div> 
						<br/>
						<?php
							echo "<input type=hidden name=mode value=GIFT_CARD>";
							
						?>
						<div class="note-foot"><b>*Note</b> : You'll be redirected to 3rd Party Payment Gateway.</div>
					</form>
					<?php }else { ?>
					
					<form method="post" name="redirect" action="<?php echo $gateWay; ?>"><!--   action="https://secure.ccavenue.com/transaction/transaction.do?command=initiateTransaction">--> 
						
						<div class="field-wrapper align">
							<button data-ga="check_out_funnel_mobile##<?php echo $leafTitle; ?>##continue_paynow|credit-card##0" type="submit" class="flat-orange paynow" />Pay Now &#187 </button>
						</div> 
						<br/>
						<?php
							echo "<input type=hidden name=amount value=".$totalAmountToPay.">";
						?>
						<div class="note-foot"><b>*Note</b> : You'll be redirected to 3rd Party Payment Gateway.</div>
					</form>
					
					<?php }?>
				</div>
				<!-- Pre Paid -->
				<?php /** Commenting Amazon Pay and mobikwik SGN-1750
				
				 <div class="payment-content amazonpay oveflowhidden">
					<a class="payment-type codCharge">Amazon Pay</a>
					<form action="/control/submitAmazon" method="post" name="CodcheckoutInfoFormAmazonPay" class="displaynone paymode"	autocomplete="off">
						<input type='hidden' id='order_amount' name='order_amount' value='<?=$totalAmountToPay?>'/>
						<input type='hidden' id="userid" name='userid' value='<?=$userLoginId?>'/>
						<input type=hidden name=mode value='AMAZONPAY'>
						<input type=hidden name=amount value=<?=$totalAmountToPay?>>
						<div class="mobiwikinformation">
							<span><?=$userLoginId?></span>
						</div>
						<div class="mobiwikinformation">
							<span class="ordervalue"><b class="offer-price-ui"><?=$totalAmountToPay?></b> (Total Amount Payable)</span>
						</div>
						<div class="mobiwikinlogo text-center">
							<span class="ordervalue"><img src="/mobile/img/apay_primaylogo1.png"/></span>
						</div>
						<div class="field-wrapper centered-text">	
                          <div class="field-wrapper align">
							  <input type="submit" class="flat-orange paynow"	value="Place Order &#187" />
							<!--  <button class="flat-orange paynow"	>Place Order &#187</button>-->
						</div>	
						</div>
					</form>
				</div>
				<div class="payment-content mobiwikitab oveflowhidden">
					<a class="payment-type codCharge">MobiKwik Wallet</a>
					<form action="/control/submitMobikwik" method="post" name="CodcheckoutInfoFormMobiWik" class="displaynone paymode"	autocomplete="off">
						<input type='hidden' id='order_amount' name='order_amount' value='<?=$totalAmountToPay?>'/>
						<input type='hidden' id="userid" name='userid' value='<?=$userLoginId?>'/>
						<input type='hidden' name='emailId' value='<?=$userLoginId?>'/>
						<input type=hidden name=mode value='MOBIKWIK'>
						<input type=hidden name=amount value=<?=$totalAmountToPay?>>
						<input id="codUserContactMobile" type="hidden" value="<?=$mobileNo?>" />
						<div class="mobiwikinformation">
							<span><?=$userLoginId?></span>
						</div>
						<div class="mobiwikinformation field-wrapper">
							<input type="hidden" id="mobikicontactMobile" value="<?=$mobileNo?>" />
							<span><div class="mobiwiki_number"><?=$mobileNo?> <a class='mobiwikiedit' href='#'>edit</a></div></span>
							<input type="text" name="mobikwik_mobile_no" class="displaynone" id="mobiwiki_number" disabled="disabled" placeholder="mobile" value="" validate="{true,blank,Mobile No. required,phoneIND,Please enter valid mobile number}" maxlength="10" />
							<a class="mobiwikicancel displaynone" href="#">cancel</a>
							<p id="mobiwiki_number_error" class="error"></p>
						</div>
						<div class="mobiwikinformation">
							<span class="ordervalue"><b class="offer-price-ui"><?=$totalAmountToPay?></b> (Total Amount Payable)</span>
						</div>
						<div class="mobiwikinlogo text-center">
							<span class="ordervalue"><img src="/mobile/img/mobikwik_logo.png"/></span>
						</div>
						<div class="field-wrapper centered-text">	
                          <div class="field-wrapper align">
							  <input type="submit" class="flat-orange paynow"	value="Place Order &#187" />
							<!--  <button class="flat-orange paynow"	>Place Order &#187</button>-->
						</div>	
						</div>
					</form>
				</div>
				*/ ?>
				<!-- Cash on Delivery-->
                     <?php	if (false !== array_search ( "EXT_COD", $allowedpayMentOption ) || $codPresent == 'true') {
								?>
                    <div class="payment-content cashondelivery oveflowhidden">
					<a class="payment-type codCharge">Cash on Delivery (COD) <?php if(!$codPromoCondition && $codcharges != 0) {?><span>(<span
							class="offer-price-ui"><?=$cart->getCodCharges() ?></span> Extra)
					</span><?php }?></a>
					<form action="/control/processPayment" method="post" name="CodcheckoutInfoForm" class="displaynone paymode"	autocomplete="off">
					<?php  if($showCOD == 'false') {?> 
					COD limit for the day exhausted.
					<?php }elseif($codPromoCondition) { ?>
			  	Cash on Delivery is not applicable.
			  <?php }
					  else { 
					$showOTPFlow = 'true';
					?>			
					<input type="hidden" value="EXT_COD" name="mode" />
					<!-- Condition to show OTP or CAPTCHA -->
					
					<?php if($showOTPFlow == 'false') {?>
						<input type="hidden" id="check_capcha" value="true" />
						<div class="field-wrapper">
							<p class="cod-text">
								Cash-on-Delivery Order Verification:<br /> <span>Please type the
									below characters in the textbox.</span>
							</p>
						</div>
						<div class="field-wrapper">
						<img height="40" data-original="<?=$captchaObj['captchaImage']?>" class="lazy capcha ftl" />
							<!-- <img src="<?=$captchaObj['captchaImage']?>" class="capcha ftl" />-->
							<button class="reloadcapcha ftl" title="Reload Image">Reload</button>
							<p class="cod-text clr">
								<span>Letters shown are case-sensitive</span>
							</p>
						</div>
						<div class="field-wrapper">
							<input type="number" placeholder="Type the text here"
								validate="{true,blank,Captcha required}" name="captcha"
								size="23" id="cod_captcha" class="form-text"
								maxlength="32" tabindex="1" /> <span id="cod_captcha_error"
								class="error">&nbsp;</span>
						</div>

						<div class="field-wrapper align">
							<input type="submit" class="flat-orange paynow"
								value="Place Order &#187" />
						</div> 
						<?php } else {?>
						<input type="hidden" id="check_capcha" value="false" />
						<div class="field-wrapper static-container">
								<span class="cod-text-information centered-text">Cash-on-Delivery Order Verification:</span>
								<span class="cod-text-verification centered-text">You can choose to pay by the following methods at the time of delivery</span>
								<span class="oveflowhidden displayblock codoption">
									<?php if(array_search("EXT_COD",$allowedpayMentOption) !=false ) {?>
									<div class="codoptionrow oveflowhidden">
										<div class="flt col-one"><input type="checkbox" name="cod" value="EXT_COD" checked /><div class="uncheckedbox">X</div></div><div class="flt col-two">Cash</div>
									</div>
									<?php }?>
									<?php if(array_search("EXT_COD_CARD",$allowedpayMentOption) !=false || array_search("EXT_COD_CARD_WALLET",$allowedpayMentOption) != false) {
										$val="";
									    if(array_search("EXT_COD_CARD",$allowedpayMentOption) != false)
									    {
									    	$val = "EXT_COD_CARD";
									    }if(array_search("EXT_COD_CARD_WALLET",$allowedpayMentOption) != false)
									    {
									    	if(strlen($val) != 0)
									    		$val = $val.','."EXT_COD_CARD_WALLET";
									    	else 
									    		$val="EXT_COD_CARD_WALLET";
									    }
										?>
									<div class="codoptionrow oveflowhidden">
										<div class="flt col-one"><input type="checkbox" name="cod_card" value="<?=$val?>"/></div><div class="flt col-two">Debits or Credit Cards</div>
									</div> <?php }?>
									<?php if(array_search("EXT_COD_WALLET",$allowedpayMentOption) !=false || array_search("EXT_COD_CARD_WALLET",$allowedpayMentOption) != false) {
									
										$val="";
										if(array_search("EXT_COD_WALLET",$allowedpayMentOption) != false)
										{
											$val = "EXT_COD_WALLET";
										}
										?>
									<div class="codoptionrow oveflowhidden">
										<div class="flt col-one"><input type="checkbox" name="cod_wallet" value="<?=$val?>" /></div><div class="flt col-two">e-Wallets</div>
									</div>
									<?php }?>
									
								</span>
								<!-- span class="cod-text-verification centered-text" style="color:#db0a06;">(Only Valid Currency Notes Accepted)</span -->							
							    <span class="cod-text-payable centered-text">Amount Payable on Delivery : <span class="offer-price-ui"><?= $cart->getAmountToCollect()+$cart->getCodCharges() ?></span></span>
                                <span class="cod-text-shipping centered-text">
                                <span id="shippingText">Includes shipping</span><span class="offer-price-ui" id="totalshipping"></span>
                                <?php if($codcharges !=0) {?>
                                <span>COD charges<span class="offer-price-ui"><?=$cart->getCodCharges()?></span> </span> <?php }?> 
							
						</div>
						
                        
                        <?php if ($showOTP == "false") {?>
						<div class="field-wrapper centered-text">	
                          <div class="field-wrapper align">
							  <input type="submit" class="flat-orange paynow"	value="Place Order &#187" />
							<!--  <button class="flat-orange paynow"	>Place Order &#187</button>-->
						</div>	
						</div>
                        
                         <?php }else {?>
							<div class="field-wrapper displaynone actionable-container">
						        <div><span class="message displaynone centered-text"></span></div>
						        <div class="otp-container centered-text">
									<input type="number" id="otp1" class="otp-textbox centered-text" value="" maxlength="1" min="0" max="9" step="1" validate="{true,blank, Please fill OTP}" />
									<input type="number" id="otp2" class="otp-textbox centered-text" value="" maxlength="1" min="0" max="9" step="1" validate="{true,blank, Please fill OTP}" />
									<input type="number" id="otp3" class="otp-textbox centered-text" value="" maxlength="1" min="0" max="9" step="1" validate="{true,blank, Please fill OTP}" />
									<input type="number" id="otp4" class="otp-textbox centered-text" value="" maxlength="1" min="0" max="9" step="1" validate="{true,blank, Please fill OTP}" />
								</div>
							<!--	<div><span id="otp1_error" class="error">&nbsp;</span><span id="otp2_error" class="error">&nbsp;</span><span id="otp3_error" class="error">&nbsp;</span><span id="otp4_error" class="error">&nbsp;</span></div> -->
								<div class="resend-container centered-text">
									<a class="resend-link" href="#">Resend</a>
									<input type="hidden" name="isResendClicked" id="isResendClicked" value="" />
									<a class="done-resend-link displaynone" href="#">Still didn't receive the verification code?</a>
								</div>
						</div>
						<div class="field-wrapper centered-text">
								<button class="flat-orange cod-send-otp">Confirm</button><br/>
								<?php
							
								   if($codOtpAttempts < 2){
								?>
								
								<span class="cod-text-verification centered-text">We will send a verification code to <?=$mobileNo?> to confirm your order.</span><?php }?>
						</div>
						<?php } }} ?>	
							</form>
				</div>
				<!-- Cash on Delivery -->
				<!-- Others-->
                         <?php } else {?>
                         
                         
                           <div
					class="payment-content cashondelivery oveflowhidden">
					<a class="payment-type codCharge">Cash on Delivery</a>
					<form action="" name="CodcheckoutInfoForm"
						class="displaynone paymode">
						Cash on Delivery is not available on the item(s) in your cart.
						This may be due to following reason(s).<br />
						<ol style="margin: 0 0 0 20px;">
							
							<li>Cash on Delivery is not available at your shipping address.</li>
							<li>One of the items in your cart is not eligible for Cash on Delivery.</li>
						</ol>
					</form>
				</div>
				<!-- Cash on Delivery-->
				<!-- Others-->
                         <?php  }?>
						 
				
			</section>
		</div>

	</div>
	<div class="checkout-widget order-wighet flt">
		<div class="section-container-ui order-summary-ui">
			<section>
				<p class="item-head">Order Summary</p>
            <?php
												$grandTotal = 0;
												$TotalDiscount=0;
												$discountByCoupon = 0;
												$totalShippingPrice=0;
												foreach ( $cart->getShoppingList()->getShoppingListItems () as $productObj ) {
													$product=new ShoppingListItem();
													if (get_class($productObj)=='stdClass') {
														Utils::Cast($product, $productObj);
													}else{
														$product=$productObj;
													}	
													if ($product->getProductId () != "") {
														$pId = ($product->getIsVariant () ? $product->getVirtualProductId () : $product->getProductId ());
														?>
				            <!-- product items start -->
				<div class="order-product oveflowhidden">
					<div class="item-img flt">
						<figure>
							<img
								data-original="<?=$staticUrl?>/images/products/small/<?=$pId?>.jpg"
								class="lazy" />
						</figure>
					</div>
					<div class="flt item-detail">
						<figcaption>
							<div><?=$product->getProductName()?></div>
						</figcaption>
						<dl>
							<dt>Total Item(s)</dt>
							<dd><?=$product->getQuantity()?></dd>
				                        <?php
				                        	if ($product->getBasePrice () > 0) {
												$priceToCalc = $product->getBasePrice ();
											} else {
												$priceToCalc = $product->getListPrice ();
											}
											$itemAmount = ($priceToCalc + $product->getShippingPrice ()) * $product->getQuantity ();
											$grandTotal = $grandTotal + $itemAmount;
											?>
										<?php if(isset($priceToCalc) && $priceToCalc>0 && $priceToCalc!=$product->getListPrice()) {?>	
										<dt>MRP</dt>
							<dd class="mrp-price-ui"><?=number_format($product->getListPrice())?></dd>	
				                        <?php } ?>
				                        
				                        <dt>Unit Price</dt>
							<dd class="offer-price-ui"><?=number_format($priceToCalc)?></dd>
				                        
				                       <?php
				                       if($product->getShippingPrice()>0){ ?> 
					                       <dt>Shipping Charges</dt>
							<dd class="offer-price-ui"><?=number_format($product->getShippingPrice())?></dd>
				                       	<?php $totalShippingPrice=$totalShippingPrice+$product->getShippingPrice(); } ?>
				                       	<?php if($product->getGcDiscount()>0){ 
				                       			$TotalDiscount=$TotalDiscount+($product->getGcDiscount());
				                       			$itemAmount=$itemAmount-$product->getGcDiscount();?> 
				                       		<dt>Discount</dt>
							<dd class="offer-price-ui"><?=number_format($product->getGcDiscount())?></dd>
				                       	<?php } ?>	
				                     	<dt class="grandtotal">SubTotal</dt>
							<dd class="offer-price-ui"><?=number_format($itemAmount)?></dd>
						</dl>
					</div>
				</div>
				<!-- product items end -->
		            <?php
													}
												}
												
												?>
			<input type="hidden" id="totalshippingprice" value="<?= $totalShippingPrice;?>"/>									
            <div class="order-product oveflowhidden">
					<div class="item-img flt">&nbsp;</div>
					<div class="flt item-detail">
						<dl>
									<?php if(false !== array_search("EXT_COD",$allowedpayMentOption) && !$codPromoCondition) { ?>
										<span class="codAddedTotal displaynone">
								<dt>
									<b>Cod Charges </b>
								</dt>
								<dd class="offer-price-ui">
									<b><?=$cart->getCodCharges()?></b>
								</dd>
								<dt class="grandtotal">Grand Total</dt>
								<dd class="offer-price-ui grandtotal toi-text"><?php $totalAmountToPay=$grandTotal+$cart->getCodCharges()-$TotalDiscount; ?><?=$totalAmountToPay?></dd>
							</span>	
									<?php } ?>	
									<span class="noCodTotal">
								<dt class="grandtotal">Grand Total</dt>
								<dd class="offer-price-ui grandtotal toi-text"><?php $totalAmountToPay=$grandTotal-$TotalDiscount; ?><?=$totalAmountToPay?></dd>
							</span>
						</dl>
					</div>
				</div>
				<!-- product items end -->
			</section>
		</div>

		<!-- GC form start -->
		  <form name="redeem_coupon" class="redeem-code-box oveflowhidden"
			action="/control/gcCalculateForCheckout" method="post">
			<input class="redeem-input-span" type="text" name="gc"
				placeholder="Enter you coupon code"
				value="<?=isset($_SESSION['gcValues']['coupon'])?$_SESSION['gcValues']['coupon']:''?>"
				tabindex="1" maxlength="100" />
						<?php if(!isset($_SESSION['gcValues']['coupon'])) {?>
							<input type="hidden" name="action" value="redeemGc"/ > <input
				data-ga="check_out_funnel_mobile##<?php echo $leafTitle; ?>##redeem_coupon##0"
				class="redeem-button-span" type="button" value="Redeem Coupon"
				tabindex="2" />
						<?php } else{ ?>
							<input type="hidden" name="action" value="clearGc"/ > <input
				class="clear-button-span" type="button" value="Clear Gift Coupon"
				tabindex="2" />
						<?php }?>
						<span id="GC_error" class="displaynone">Please enter valid coupon
				code</span>
		</form> 
<!-- 		 GC form end --> 
		<div class="section-container-ui address-summary">
			<section>

				<p class="item-head">Delivery Address</p>
				<?php $shipAddress= $cart->getShippingAddress();?>
				<?php if(isset($shipAddress) && sizeof($shipAddress)>0){ ?>
	                <?php if($shipAddress['toName']!=""){ ?><div
					class="addresstext nameaddresstext"><?=$shipAddress['toName']?></div><?php } ?>
	                <div class="addresstext"><?=$shipAddress['address1']?> <?=$shipAddress['city']?> <?=$shipAddress['state']?> <?=$shipAddress['postalCode']?></div>
	                <?php if($shipAddress['contactMobile']!=""){ ?><div
					class="addresstext nameaddresstext"><?=$shipAddress['contactMobile']?></div><?php } ?>
                <?php } ?>
           
    	</section>
		</div>
		<div class="geotrustlogo"><img src="/mobile/img/geotrust-logo.png"/></div>
		<script type="text/javascript">
	function payZappClick()	
	{
		document.payzapp.submit();
		
	}										
			<?php if($cart->getExcludeBins()!=null && sizeof($cart->getExcludeBins())>0) { 
				$exBin= $cart->getExcludeBins(); ?>
				checkoutPayment.exBinList  = <?php echo json_encode($exBin); ?>;
			<?php } 
			if($cart->getIncludeBins()!=null && sizeof($cart->getIncludeBins())>0) { 
				$inBin= $cart->getIncludeBins(); ?>
				checkoutPayment.inBinList  = <?php echo json_encode($inBin); ?>;
			<?php } 
			if($cart->getExcludeBanks()!=null && sizeof($cart->getExcludeBanks())>0) { 
				$exBank= $cart->getExcludeBanks(); ?>
				checkoutPayment.exBank  = <?php echo json_encode($exBank); ?>;
			<?php } 
			if($cart->getIncludeBanks()!=null && sizeof($cart->getIncludeBanks())>0) { 
				$inBank= $cart->getIncludeBanks(); ?>
				checkoutPayment.inBank  = <?php echo json_encode($inBank); ?>;
			<?php } 
			if($cart->getPaycardTypes()!=null && sizeof($cart->getPaycardTypes())>0) { 
				$payCardTypes= $cart->getPaycardTypes(); ?>
				checkoutPayment.payCardTypes  = <?php echo json_encode($payCardTypes); ?>;
			<?php } ?>
		</script>
<?php include __DIR__ . "/../common/newfooter.phtml"; ?>
