<?php include __DIR__ . "/../common/header.phtml"; ?>
<script src='https://www.google.com/recaptcha/api.js'></script>
<div class="bulkorder">
	<h1>Claim Product Form</h1>
	<div class="servermsgsuccess displaynone">
		<p>Thanks for submitting your request. We will get back to you shortly!</p>		
	</div>
	<form id="bidwinnerform" name="bidwinnerform"  action="/control/claimProductSubmit" method="post">
	<input type="hidden" name="otpFor" value="bulkbuy"/>
	<input type="hidden" name="userId" value="<?=$userLoginId?>" />
	<input type="hidden" name="windowId" value="<?=$windowId?>" />
	<div class="field-wrapper">
		<input id="PlaceHolder_txtName" type="text" placeholder="Enter your Name" name="contactName" validate="{true,blank,Name is required,alphachar,Please enter only alphabets for Name}" tabindex="1" />
		<span id="PlaceHolder_txtName_error" class="error">&nbsp;</span>
	</div>
	<div class="field-wrapper">
		<input name="contactNumber" type="number" pattern="\d*" id="PlaceHolder_txtMobile" autocomplete="off" placeholder="Contact Number" maxlength="10" validate="{true,blank,Mobile number is required,phoneIND,Please enter valid mobile number}" tabindex="2" />
		<span id="PlaceHolder_txtMobile_error" class="error">&nbsp;</span>
	</div>
	<div class="field-wrapper">
		<input id="PlaceHolder_txtpostalCode" name="pincode" placeholder="Pin Code" validate="{true,blank,Zip Code is required,pincodeIND,Please enter valid Pin Code}"/>
		<span id="PlaceHolder_txtpostalCode_error" class="errorMsg">&nbsp;</span>
	</div>
	<div class="field-wrapper">
		<textarea size="30" name="address1" id="address1" class="form-text" placeholder="Shipping Address (India Only)" tabindex="6" validate="{true,blank,Address is required,htmltag,HTML tags are not allowed}" maxlength="1024"></textarea>
		<span id="address1_error" class="errorMsg">&nbsp;</span>
	</div>
	<div class="field-wrapper">
		<input type="text" name="City" id="City" class="form-text" placeholder="City" tabindex="6" validate="{true,blank,City is required,cityname,Please enter a valid city name}" />
		<span id="City_error" class="errorMsg">&nbsp;</span>
	</div>
	<div class="field-wrapper">
		<input size="30" type="text" name="state" id="state" placeholder="State" class="form-text" tabindex="9" validate="{true,blank,Mobile No. required,Please enter valid mobile number}" maxlength="10" />
		<span id="contactMobile_error" class="errorMsg">&nbsp;</span>
	</div>
	
	 <div class="g-recaptcha" data-sitekey="6LcOmDsUAAAAAP0gh6QgPNMvc5DF8Bq7DubCF86_"></div> 
	
	<p id="bulkorderthanksmsg" class="headertext">We will send a verification code to <span class="contactnumber">the above mentioned contact number</span> for confirmation.</p>
	<div class="field-wrapper">
		<input type="submit" class="flat-orange paynow"	value="Submit" />
	</div>
	
</form>
	
</div>

<?php include __DIR__ . "/../common/newfooter.phtml"; ?>