<?php include __DIR__ . "/../common/header.phtml"; ?>
<div class="section-container-ui case-detail toi-container">
<div data-module="gadgets_category" class="gdgt_nav check-carousel">
	<ul class="newcarousel" data-width-list='109'>
		<li><a href="/mobile-phones" class="icon-mobile active ">Mobiles</a></li>
		<li><a href="/laptops" class="icon-laptop" >Laptops</a></li>
		<li><a href="/tablets" class="icon-tablet" >Tablets</a></li>
		<li><a href="/television" class="icon-tv" >TVs</a></li>
		<li><a href="/powerbank" class="icon-powerbank" >Powerbanks</a></li>
		<li><a href="/smartwatch" class="icon-smartwatch" >Smartwatches</a></li>
		<li><a href="/ac" class="icon-ac" >ACs</a></li>
		<li><a href="/refrigerator" class="icon-refrigerator" >Refrigerators</a></li>
		<li><a href="/fitnessband" class="icon-fitnessband" >Fitnessbands</a></li>
	</ul>
</div>
</section>
<section class="compare-main">
	<div class="card">
		<div class="toi-product-head">
			<h1 class="blue-strip">Compare Mobile Phones Moto E5 vs Moto E5 Plus</h1>
		</div>
		<div class="compareheader">
		<ul class="admobilecompare table">
			<li class="productAdded">
				<div class="tab-wrapper">
					<div class="comparehead">
						<div>+</div>
						<div>Add Mobile</div>
					</div>
					<div class="compare-select">
						<div> Select Brand </div>
						<div> Select Model </div>
					</div>
				</div>
				<div class="compare-product">
					<a class="proclose" href="#">X</a>
					<div class="col-one"><img src="https://img1.gadgetsnow.com/gd/imgbn/Nokia-6.1-2018-64GB.jpg"></div>
					<div class="col-two">
						<div class="proTitle">Samsung Galaxy J7 Max (Black)</div>
						<div class="proPrice"><span class="offer-price-ui"></span> 24,999</div>
						<div class="proBuynow"><a href="#">Buy Now</a></div>
					</div>
				</div>
			</li>
			<li>
				<div class="tab-wrapper">
					<div class="comparehead">
						<div>+</div>
						<div>Add Mobile</div>
					</div>
					<div class="compare-select">
						<div> Select Brand </div>
						<div> Select Model </div>
					</div>
				</div>
			</li>
		</ul>
		</div>
		<div class="compare-button clear"><a href="#">Compare</a></div>
	</div>
</section>

<section>
	<div class="card">
		<div class="showdifferences"><span class="not-check">Show Differences only</span></div>
		<div class="comparelist">
				<div class="listhead expanded" id="BRAND">BRAND</div>
				<div class="listrow">
					<div class="table">
						<!-- list start -->
						<div class="table-row">
							<div class="table-cell">Brand</div>
							<div class="table-cell">Techno</div>
						</div>
						<!-- list end -->
					</div>
				</div>
				<!-- start -->
				<div class="listhead expanded" id="GENERAL-FEATURES">General Features</div>
				<div class="listrow">
					<div class="table">
						<!-- list start -->
						<div class="table-row">
							<div class="table-cell">Brand</div>
							<div class="table-cell">Techno</div>
						</div>
						<!-- list end -->
						<!-- list start -->
						<div class="table-row">
							<div class="table-cell">Model</div>
							<div class="table-cell">Camon i</div>
						</div>
						<!-- list end -->
						<!-- list start -->
						<div class="table-row">
							<div class="table-cell">Handset Colour</div>
							<div class="table-cell">Midnight Black</div>
						</div>
						<!-- list end -->
						<!-- list start -->
						<div class="table-row">
							<div class="table-cell">Input Type</div>
							<div class="table-cell">Full Touch</div>
						</div>
						<!-- list end -->
						<!-- list start -->
						<div class="table-row">
							<div class="table-cell">Sales Package</div>
							<div class="table-cell">Handset, AC Adaptor, USB Cable, Handsfree, User Manual, Warranty Card </div>
						</div>
						<!-- list end -->
					</div>
				</div>
				<!-- end -->
				
				
				<!-- start -->
				<div class="listhead expanded" id="GENERAL TYPE">General Type</div>
				<div class="listrow ">
					<div class="table">
						<!-- list start -->
						<div class="table-row">
							<div class="table-cell">Brand</div>
							<div class="table-cell">Techno</div>
						</div>
						<!-- list end -->
						<!-- list start -->
						<div class="table-row">
							<div class="table-cell">Model</div>
							<div class="table-cell">Camon i</div>
						</div>
						<!-- list end -->
						<!-- list start -->
						<div class="table-row">
							<div class="table-cell">Handset Colour</div>
							<div class="table-cell">Midnight Black</div>
						</div>
						<!-- list end -->
						<!-- list start -->
						<div class="table-row">
							<div class="table-cell">Input Type</div>
							<div class="table-cell">Full Touch</div>
						</div>
						<!-- list end -->
						<!-- list start -->
						<div class="table-row">
							<div class="table-cell">Sales Package</div>
							<div class="table-cell">Handset, AC Adaptor, USB Cable, Handsfree, User Manual, Warranty Card </div>
						</div>
						<!-- list end -->
					</div>
				</div>
				<!-- end -->
				
				<!-- start -->
				<div class="listhead expanded" id="GENERAL">General</div>
				<div class="listrow ">
					<div class="table">
						<!-- list start -->
						<div class="table-row">
							<div class="table-cell">Brand</div>
							<div class="table-cell">Techno</div>
						</div>
						<!-- list end -->
						<!-- list start -->
						<div class="table-row">
							<div class="table-cell">Model</div>
							<div class="table-cell">Camon i</div>
						</div>
						<!-- list end -->
						<!-- list start -->
						<div class="table-row">
							<div class="table-cell">Handset Colour</div>
							<div class="table-cell">Midnight Black</div>
						</div>
						<!-- list end -->
						<!-- list start -->
						<div class="table-row">
							<div class="table-cell">Input Type</div>
							<div class="table-cell">Full Touch</div>
						</div>
						<!-- list end -->
						<!-- list start -->
						<div class="table-row">
							<div class="table-cell">Sales Package</div>
							<div class="table-cell">Handset, AC Adaptor, USB Cable, Handsfree, User Manual, Warranty Card </div>
						</div>
						<!-- list end -->
					</div>
				</div>
				<!-- end -->
				
				<!-- start -->
				<div class="listhead expanded" id="FEATURES">Features</div>
				<div class="listrow ">
					<div class="table">
						<!-- list start -->
						<div class="table-row">
							<div class="table-cell">Brand</div>
							<div class="table-cell">Techno</div>
						</div>
						<!-- list end -->
						<!-- list start -->
						<div class="table-row">
							<div class="table-cell">Model</div>
							<div class="table-cell">Camon i</div>
						</div>
						<!-- list end -->
						<!-- list start -->
						<div class="table-row">
							<div class="table-cell">Handset Colour</div>
							<div class="table-cell">Midnight Black</div>
						</div>
						<!-- list end -->
						<!-- list start -->
						<div class="table-row">
							<div class="table-cell">Input Type</div>
							<div class="table-cell">Full Touch</div>
						</div>
						<!-- list end -->
						<!-- list start -->
						<div class="table-row">
							<div class="table-cell">Sales Package</div>
							<div class="table-cell">Handset, AC Adaptor, USB Cable, Handsfree, User Manual, Warranty Card </div>
						</div>
						<!-- list end -->
					</div>
				</div>
				<!-- end -->
				
		</div>
	</div>
</section>

<div class="compare-form">
	<div class="closeX"><span>X</span></div>
	<div class="compare-form-h">
		<a class="brand active" href="#">Brand</a>
		<a class="model" href="#">Model</a>
	</div>
	<form name="compareFrom" id="compareFrom" >
		<div class="field-wrapper brandlist active">
			<input  type="text" name="brandName" id="brandName" placeholder="Select Brand" />
			<span class="search-icon"></span>
			<div class="keysearchsort">
				<ul class="brandsName">
					<li>samsung</li>
					<li>nokia</li>
					<li>sony</li>
					<li>xolo</li>
					<li>mi</li>
					<li>lenova</li>
					<li>iphone</li>
				</ul>
			</div>
		</div>
		<div class="field-wrapper modellist">
			<input type="text" name="modelName" id="modelName" value="" placeholder="Select Model" />
			<span class="search-icon"></span>
			<div class="keysearchsort">
				<ul class="brandsName">
					<li class="samsung displaynone">samsung Galaxy</li>
					<li class="nokia displaynone">nokia 6.1</li>
					<li class="sony displaynone">sony </li>
					<li class="xolo displaynone">xolo</li>
					<li class="mi displaynone">mi</li>
					<li class="lenova displaynone">lenova</li>
					<li class="iphone displaynone">iphone</li>
				</ul>
			</div>
		</div>					
	</form>
</div>
<form name="compare" id="compare" style="display:none" >
	<input type="text" name="brand" />
	<input type="text" name="model" />
</form>
</div>

<?php include __DIR__ . "/../common/newfooter.phtml"; ?>