<div class="field-wrapper">
		<select name="emiCCBankSelect" class="expmonth emi-bank-select"
			tabindex="1">
			<option value="" selected="selected">Select Your Bank</option>
			<?php 
			if(sizeof($cart->getPaymentModes())==0|| in_array("HDFC",$cart->getPaymentmodes()) || in_array("hd3",$cart->getPaymentModes()) || in_array("hd6",$cart->getPaymentModes()) || in_array("hd9",$cart->getPaymentModes()) || in_array("hd12",$cart->getPaymentModes())){ ?>
				<option value="HDFC">HDFC Bank</option>
			 <?php } 
			if(sizeof($cart->getPaymentModes())==0 || in_array("ic3",$cart->getPaymentModes()) || in_array("ic6",$cart->getPaymentModes()) || in_array("ic9",$cart->getPaymentModes()) || in_array("ic12",$cart->getPaymentModes())){ ?>
				<option value="ICICI">ICICI Bank</option>
			 <?php }
			 if(sizeof($cart->getPaymentModes())==0 || in_array("ai3",$cart->getPaymentModes()) || in_array("ai6",$cart->getPaymentModes()) || in_array("ai9",$cart->getPaymentModes()) || in_array("ai12",$cart->getPaymentModes())){ ?>
			 	<option value="AXIS">AXIS Bank</option>
			 <?php }
			 if(sizeof($cart->getPaymentModes())==0 || in_array("hb3",$cart->getPaymentModes()) || in_array("hb6",$cart->getPaymentModes()) || in_array("hb9",$cart->getPaymentModes()) || in_array("hb12",$cart->getPaymentModes())){ ?>
			 	<option value="HSBC">HSBC Bank</option>
			 <?php }
			 if(sizeof($cart->getPaymentModes())==0 || in_array("ko3",$cart->getPaymentModes()) || in_array("ko6",$cart->getPaymentModes()) || in_array("ko9",$cart->getPaymentModes()) || in_array("ko12",$cart->getPaymentModes())){ ?>
			 	<option value="KOTAK">KOTAK Bank</option>
			 <?php }
			 if(sizeof($cart->getPaymentModes())==0 || in_array("sc3",$cart->getPaymentModes()) || in_array("sc6",$cart->getPaymentModes()) || in_array("sc9",$cart->getPaymentModes()) || in_array("sc12",$cart->getPaymentModes())){ ?>
			 	<option value="STANDARD_CHARTERED">Standard Chartered Bank</option>
			 <?php } 
// 			 if( $cart->getAmountToCollect()>= 5000 &&( sizeof($cart->getPaymentModes())==0 || in_array("ax3",$cart->getPaymentModes()) || in_array("ax6",$cart->getPaymentModes()) || in_array("ax9",$cart->getPaymentModes()) || in_array("ax12",$cart->getPaymentModes()))){ ?>
<!-- 				<option value="AMEX">American Express</option> -->
			 <?php // } ?>
		</select> <span id="name_error" class="error">&nbsp;</span>
</div>
<div class="field-wrapper">
	<?php if(isset($emiResult)){ 
		$bankEmiProperties=$GLOBALS ['bankEmiProperties'];
		foreach($emiResult as $bank=>$emiCharges){
		$bankname = str_replace(" ", "_", $bank);

	?>
			<table cellpadding="0" cellspacing="1" border="0"
				id="_emi_<?=$bankname?>" class="emi-table">
				<tr>
					<th></th>
					<th>EMI Plan</th>
					<th>Interest</th>
					<th>Monthly Installment</th>
				</tr>
				<?php 
				foreach ($emiCharges as $emiOptions=>$emiValues){
					if(sizeof($cart->getPaymentModes())==0 || in_array($bankEmiProperties[$emiOptions],$cart->getPaymentModes())){
						?>
						<tr>
							<td><input type="radio" name="radioemi" value="<?=$emiOptions?>" /></td>
							<td><?=$emiValues->emiPeriod?> Months <span>@<?=$emiValues->emiPerc?>% P/A</span>
							</td>
							<td class="offer-price-ui"><?=$emiValues->emiCharges?>
							</td>
							<td class="offer-price-ui"><?=$emiValues->emi?></td>
						</tr> 
				<?php }	
				}?>
			</table>
	<?php } 
	} ?>									
								</div>	
								<div class="field-wrapper emi-bank displaynone">
									<input type="number" value="" placeholder="Card Number"
										id="ccNumberemi" name="ccNumberemi" 
										validate="{true,blank,Card number required,customCardNo,ccNumberemi}"
										tabindex="2" maxlength="16" /> <span id="ccNumberemi_error"
										class="error">&nbsp;</span>
								</div>
								<div class="field-wrapper emi-bank displaynone">
									<input type="text" value="" placeholder="Name on Card"
										id="ccNameemi" name="ccNameemi"
										validate="{true,blank,Name Required,userName,Invalid Name}"
										maxlength="32" tabindex="3" /> <span id="ccNameemi_error"
										class="error">&nbsp;</span>
								</div>
								<div class="field-wrapper emi-bank displaynone">
									<label>Expiry Date</label> <select class="expmonth"
										validate="{true,blank,Please choose Month}"
										id="selectMonthemi" name="selectMonthemi" tabindex="4">
										<option value="" selected="selected">Month</option>
										<option value="01">01</option>
										<option value="02">02</option>
										<option value="03">03</option>
										<option value="04">04</option>
										<option value="05">05</option>
										<option value="06">06</option>
										<option value="07">07</option>
										<option value="08">08</option>
										<option value="09">09</option>
										<option value="10">10</option>
										<option value="11">11</option>
										<option value="12">12</option>
									</select> <select
										validate="{true,blank,Please choose Year,chkexp,Invalid Expiry Date}"
										class="selectDate" style="margin-left: 10px;"
										id="selectYearemi" name="selectYearemi" tabindex="5">
										<option value="" selected="selected">Year</option>
										
										<option value="2017">2017</option>
										<option value="2018">2018</option>
										<option value="2019">2019</option>
										<option value="2020">2020</option>
										<option value="2021">2021</option>
										<option value="2022">2022</option>
										<option value="2023">2023</option>
										<option value="2024">2024</option>
										<option value="2025">2025</option>
										<option value="2026">2026</option>
										<option value="2027">2027</option>
										<option value="2028">2028</option>
										<option value="2029">2029</option>
										<option value="2030">2030</option>
										<option value="2031">2031</option>
										<option value="2032">2032</option>
										<option value="2033">2033</option>
										<option value="2034">2034</option>
										<option value="2035">2035</option>
										<option value="2036">2036</option>
										<option value="2037">2037</option>
										<option value="2038">2038</option>
										<option value="2039">2039</option>
										<option value="2040">2040</option>
										<option value="2041">2041</option>
									</select>
									<div class="montherror">
										<span id="selectMonthemi_error" class="error clr">&nbsp;</span>
										<span id="selectYearemi_error" class="error clr">&nbsp;</span>
									</div>
								</div>
								<div class="field-wrapper emi-bank displaynone">
									<input value="" placeholder="CVV Number" id="ccCVVemi"
										name="ccCVVemi" type="password"
										validate="{true,blank,Card number required,customCardNo,ccCVVemi}"
										maxlength="4" tabindex="6" /> <span id="ccCVVemi_error"
										class="error">&nbsp;</span>
								</div>
								<div class="field-wrapper align emi-bank displaynone">
									<button type="submit" class="flat-orange paynow" />
									Pay Now &#187
									</button>
								</div>