<?php if(!isset($_SESSION)) session_start();?>
<?php include __DIR__ . "/../common/header.phtml"; ?>
<!-- container body start -->
<div class="forgotpassword clr">
	<div class="forgot-head">
    	Forgot Password
    </div>
	<div class="section-container-ui password-recovery-popup1">
    	<section>
 			<form class="forgotform" method="post" name="otpform" id="otpform" action="/control/verifyForgotPasswdOTP" autocomplete="off">	
		    <div class="field-wrapper">
					<p class="response-message">Verification code has been sent to your phone / email. Please enter the verification code to proceed.</p>
             		<input placeholder="Verification Code" type="number" id="inputOtp" name="inputOtp" class="form-text" value="" maxlength="4"  validate="{true,blank,Please enter verification code,intnum, verification code must be a number with no spaces}">
<!--                <a id="resendOTP" href="#"><img src="/mobile/img/Redo_arrow_symbol.png" alt="Resend"  title="Resend" /></a>  -->
                    <span id="inputOtp_error" class="errorMsg"></span>	                    
			</div>
			<div class="text-align-right forgetpasswordbutton field-wrapper">
                <button class="flat-orange forgot-password-submit" type="submit" tabindex="2">Submit</button>
            </div>
			</form>			
		 
			
        </section>
    </div>
<?php include __DIR__ . "/../common/newfooter.phtml"; ?>
