<?php if(!isset($_SESSION)) session_start();?>
<?php include __DIR__ . "/../common/header.phtml"; ?>
<script src='https://www.google.com/recaptcha/api.js'></script>
<!-- container body start -->
<div class="forgotpassword clr">
	<div class="forgot-head">
    	Forgot Password
    </div>
	<div class="section-container-ui">
    	<section>
        	<form class="forgotform" name="forgotform_1" method="post" action="/control/sendOTPFGTP">
            	<div class="field-wrapper">
            		<p class="response-message"></p>
					<p>Enter your <b>email</b> to receive Verification Code</p>
					<input type="text" value="<?php echo $emailId; ?>" placeholder="Enter your email" id="registeredemail" name="email" validate="{true,blank,Please specify your valid email address,email,Please enter a valid email address}"  tabindex="1"/>
					<span id="registeredemail_error" class="error">&nbsp;</span>
					 <button class="flat-orange forgot-password-submit" type="submit" tabindex="2">Submit</button>
				</div>
				<div class="g-recaptcha" data-sitekey="6LcOmDsUAAAAAP0gh6QgPNMvc5DF8Bq7DubCF86_"></div>
            </form>

<!-- 			<form class="disabled forgotform" method="post" name="otpform" id="otpform" action="/control/verifyForgotPasswdOTP" autocomplete="off">	 -->
<!-- 		    <div class="field-wrapper"> -->
<!-- 					<p class="response-message">Verification code has been sent to your phone / email. Please enter the verification code to proceed.</p> -->
<!--              		<input placeholder="Verification Code" type="number" id="inputOtp" name="inputOtp" class="form-text" value="" maxlength="4"  validate="{true,blank,Please enter verification code,intnum, verification code must be a number with no spaces}"  disabled="disabled"> -->
<!--                     <a id="resendOTP" href="#"><img src="/mobile/img/Redo_arrow_symbol.png" alt="Resend"  title="Resend" /></a>  -->
<!--                     <span id="inputOtp_error" class="errorMsg"></span>	                     -->
<!-- 			</div> -->
<!-- 			</form> -->
<!-- 			<form class="disabled forgotform" method="post" action="/control/updateLoginPassword" name="changepasswordform" autocomplete="off"> -->
<!-- 	        <input type="hidden" name="loginId" id="loginId" value="" /> -->
<!-- 	        <input type="hidden" name="authCode" id="authCode" value="" /> -->
<!-- 	        <input type="hidden" name="USERNAME" id="USERNAMENEW" value="" /> -->
<!--             <div class="field-wrapper"> -->
<!-- 					<p class="response-message">Please enter new password.</p> -->
<!-- 					<input placeholder="New Password" type="password" class="form-text" id="newPassword" name="PASSWORD" validate="{true,blank,Please enter a valid password,password, Password must be 6 to 14 characters with no spaces}" maxlength="14"  disabled="disabled" /><span class="errorMsg" id="newPassword_error"></span> -->
<!--             </div> -->
<!--              <div class="field-wrapper"> -->
<!--                  <input placeholder="Confirm Password" type="password" class="form-text" id="conf_newPassword" name="newPasswordVerify" validate="{true,blank,Please enter a password,confField,Both passwords do not match. Please try again}" maxlength="14" /><span class="errorMsg" id="conf_newPassword_error"></span> -->
<!--             </div> -->
<!--             <div class="field-wrapper disabled update-mobile-number"> -->
<!--                  <input placeholder="Mobile no." type="number" class="form-text" id="contactMobile" name="contactMobile" validate="{false,blank,Mobile No. required,phoneIND,Please enter valid mobile number}" maxlength="10"><span class="errorMsg" id="contactMobile_error"></span>                  -->
<!--             </div> -->
<!-- 		 </form>  -->
		 
<!-- 			<div class="text-align-right forgetpasswordbutton field-wrapper"> -->
<!--                 <button class="flat-orange forgot-password-submit" type="submit" tabindex="2">Submit</button> -->
<!--             </div> -->
        </section>
    </div>
<?php include __DIR__ . "/../common/newfooter.phtml"; ?>
