<?php
$leafTitle='';
 include __DIR__ . "/../common/header.phtml"; ?>
<!-- container body start -->
<div class="gift-coupon clr">
	<section class="section-container-ui">
		<h1>My Gift Coupons/Vouchers</h1>
		<dl class="coupon-list">
<?php if(isset($gcArray) && sizeof($gcArray) > 0){
		$i =0;
		foreach($gcArray as $gc){
?>		
			<!-- gift coupon loop -->
			<dt class="in-active">GC No. : <?php echo $gc->gcId; ?></dt>
				<dd class="displaynone">
					<table cellpadding="1" cellspacing="1" border="0" >
						<tr>
							<td class="issue-date" colspan="0">
								Issued Date : <?php echo $gc->startDate; ?>
							</td>
							<td class="issue-date" colspan="0">
								Expiry Date : <?php echo $gc->expiryDate; ?>
							</td>	
						</tr>
						<tr>
							<td>Actual Value</td>
							<td> <?php echo $gc->originalAmount; ?> </td>
						</tr>
						<tr>
							<td>Remaining Value</td>
							<td> <?php echo $gc->amount; ?> </td>
						</tr>
						<tr>
							<td>Partial Redeem</td>
							<td> <?php echo $gc->partialRedeem; ?> </td>
						</tr>
							
					</table>
				</dd>
			<!-- gift coupon loop -->
<?php } } else { ?>
			<dt>You currently have no gift coupons.</dt>	
<?php } ?>			
		</dl>
	</section>
<!-- container body end -->
<?php include __DIR__ . "/../common/newfooter.phtml"; ?>
