<?php include __DIR__ . "/../common/pwaHeader.phtml"; ?>

<section class="honor-promotion">
 <ul>
	<form action="/control/imageupload" method="post" enctype="multipart/form-data" name="honorPromotion1">
	
		<li>
			<div class="tab text-center display-block">1. Upload a photo</div>
			<div class="display-block tab-section upload-tab">
				<div class="input-group">
				  <div class="input-group-prepend">
					<span class="input-group-text" id="inputGroupFileAddon01">Camera</span>
					
				  </div>
				  <div class="custom-file">
				  <input type="file" accept="image/*" capture="camera" name="file" class="custom-file-input inputGroupFile01" id="inputGroupFile01">
					<!-- <input type="file" name="file" class="custom-file-input" id="inputGroupFile01" > -->
					<label class="custom-file-label" for="inputGroupFile01">Click</label>
				  </div>
				</div>
				 <div class="text-center">OR</div>
				<div class="input-group">
				  <div class="input-group-prepend">
					<span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
					
				  </div>
				  <div class="custom-file">
				  <!-- <input type="file" accept="image/*" capture="camera" name="file" class="custom-file-input" id="inputGroupFile01"> -->
					 <input type="file" name="file" accept="image/*"  class="custom-file-input inputGroupFile01" id="inputGroupFile01" > 
					<label class="custom-file-label" for="inputGroupFile01">Choose file</label>
				  </div>
				</div>
				<span id="inputGroupFile01_error" class="error">&nbsp;</span>
				
				<h2>HOW TO BREAK UP WITH BAD SELFIES:</h2>
				<ol>
					<li>Upload a selfie you want to break up with.</li>
					<li>Enter your name, email address and contact number to 'get OTP'.</li>
					<li>Download the AI-enhanced version of your selfie.</li>
					<li>Post a screenshot on social and participate in contest.</li>
				</ol>
			</div>
		</li>
		<li>
			<div class="tab text-center display-block">2. Update Information</div>
			<div class="display-block tab-section information-tab display-none">
				<div class="input-group">
				  <div class="display-block width">
					<input type="text" class="custom-text-input" placeholder="Enter your name" id="guestename" name="name"  validate="{true,blank,Please specify your name,Please enter a name}" tabindex="0" >
				  </div>
				</div>
				<span id="guestename_error" class="error">&nbsp;</span>
				<br/>
				<div class="input-group">
				  <div class="display-block width">
					<input type="text" value="" class="custom-text-input"  placeholder="Enter your email" id="guestemail" name="email"  validate="{true,blank,Please specify your valid email address,email,Please enter a valid email address}" tabindex="1" />
				  </div>
				</div>
				<span id="guestemail_error" class="error">&nbsp;</span>
				<br/>
				<div class="input-group">
				  <div class="display-block width">
					<input type="number" value="" class="custom-text-input"  placeholder="Enter Mobile" id="mobileno" name="mobileno"  validate="{false,blank,Mobile number is required,phoneIND,Please enter valid mobile number}" maxlength="10" tabindex="2" />
				  </div>
				</div>
				<span id="mobileno_error" class="error">&nbsp;</span>
				<div class="input-group enterotpdiv mg-10" style="display:none">
				  <div class="display-block width">
					<input type="number" value="" class="custom-text-input" maxlength="4"  placeholder="Enter OTP" id="otp" name="otp"  tabindex="3" />
				  </div>
				</div>
				<span id="otp_error" class="error display-none">&nbsp;</span>				
				<a class="btn btn-primary getotp" href="#">Get OTP</a>
				<br/>
				<button class="btn btn-primary display-none sumbit">Submit</button>
			</div>
			
		</li>
		<input type="hidden" id="otpFor" name="otpFor" value="HONORSELFIE" tabindex="4"/>
		</form>
		<li>
			<div class="tab text-center display-block">3. Check Your Photo</div>
			<div class="display-block tab-section final-tab display-none">
				<div class="row">
					<div class="col-sm-6 text-center">
						<img class="img oldimage" src=""/>
					</div>
					<div class="col-sm-6 text-center">
						<img class="img newimage"  src=""/>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-6 text-center honor-text">
						Before
					</div>
					<div class="col-sm-6 text-center honor-text">
						After
					</div>
				</div>
				<div class="display-block  row">
				<p>Share Your Enhanced Selfie to Stand a Chance to win the Honor 10 Lite</p>
				</div>
				<br/>
				<div class="display-block text-center  row">
					<a href="#" class="btn honor-share">Share</a>
				</div>
			</div>
			
		</li>
	</ul>
	<div class="social-sharing">
	<div class="table w100">
		<div class="table-cell text-left">
			Share it
		</div>
		<div class="table-cell text-right">
		<a href="#" class="sharing-close">X</a>
		</div>
	</div>
<ul>
	<input type='hidden' name="whatsapp_share" value="social_pdp##whatsapp##pdp|honorLite##0"/>
	<li><a href="https://img5.gadgetsnow.com/gd/images/products/additional/original/G28690_View_1/mobiles/smartphones/lenovo-k8-note-64gb-black-4gb-ram-.jpg" target="_blank" class="whatsapp">Whatsapp</a></li>
	<li><a href="https://img5.gadgetsnow.com/gd/images/products/additional/original/G28690_View_1/mobiles/smartphones/lenovo-k8-note-64gb-black-4gb-ram-.jpg"  id="HonorshareOnfacebook" target="_blank" class="facebook">facebook</a></li>
	<li><a href="https://img5.gadgetsnow.com/gd/images/products/additional/original/G28690_View_1/mobiles/smartphones/lenovo-k8-note-64gb-black-4gb-ram-.jpg" class="twitter"  onclick="javascript:window.open(this.href,  '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;"   target="_blank" >Twitter</a></li>
	<!-- li><a href="https://img5.gadgetsnow.com/gd/images/products/additional/original/G28690_View_1/mobiles/smartphones/lenovo-k8-note-64gb-black-4gb-ram-.jpg" class="gplus-icon" onclick="javascript:window.open(this.href,  '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;" target="_blank" >Google+</a></li-->
	<li><a href="https://img5.gadgetsnow.com/gd/images/products/additional/original/G28690_View_1/mobiles/smartphones/lenovo-k8-note-64gb-black-4gb-ram-.jpg" class="linkedin" onclick="javascript:window.open(this.href,  '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;" target="_blank" >linkedin</a></li>
</ul>
</div>
</section>

<?php include __DIR__ . "/../common/pwaFooter.phtml"; ?>
