<option selected="selected" value="" class="label">State</option>
<option class="IND" title="IN-AN" value="IN-AN">Andaman and Nicobar</option>
<option class="IND" title="IN-AP" value="IN-AP">Andhra Pradesh</option>
<option class="IND" title="IN-AR" value="IN-AR">Arunachal Pradesh</option>
<option class="IND" title="IN-AS" value="IN-AS">Assam</option>
<option class="IND" title="IN-BR" value="IN-BR">Bihar</option>
<option class="IND" title="IN-CH" value="IN-CH">Chandigarh</option>
<option class="IND" title="IN-CT" value="IN-CT">Chhattisgarh</option>
<option class="IND" title="IN-DD" value="IN-DD">Daman and Diu</option>
<option class="IND" title="IN-DN" value="IN-DN">Dadra and Nager Haveli</option>
<option class="IND" title="IN-ND" value="IN-ND">Delhi</option>
<option class="IND" title="IN-GA" value="IN-GA">Goa</option>
<option class="IND" title="IN-GJ" value="IN-GJ">Gujarat</option>
<option class="IND" title="IN-HP" value="IN-HP">Himachal Pradesh</option>
<option class="IND" title="IN-HR" value="IN-HR">Haryana</option>
<option class="IND" title="IN-JH" value="IN-JH">Jharkhand</option>
<option class="IND" title="IN-JK" value="IN-JK">Jammu and Kashmir</option>
<option class="IND" title="IN-KA" value="IN-KA">Karnataka</option>
<option class="IND" title="IN-KL" value="IN-KL">Kerala</option>
<option class="IND" title="IN-LD" value="IN-LD">Lakshadweep</option>
<option class="IND" title="IN-MH" value="IN-MH">Maharashtra</option>
<option class="IND" title="IN-ML" value="IN-ML">Meghalaya</option>
<option class="IND" title="IN-MN" value="IN-MN">Manipur</option>
<option class="IND" title="IN-MP" value="IN-MP">Madhya Pradesh</option>
<option class="IND" title="IN-MZ" value="IN-MZ">Mizoram</option>
<option class="IND" title="IN-NL" value="IN-NL">Nagaland</option>
<option class="IND" title="IN-OR" value="IN-OR">Orissa</option>
<option class="IND" title="IN-PB" value="IN-PB">Punjab</option>
<option class="IND" title="IN-PY" value="IN-PY">Pondicherry</option>
<option class="IND" title="IN-RJ" value="IN-RJ">Rajasthan</option>
<option class="IND" title="IN-SK" value="IN-SK">Sikkim</option>
<option class="IND" title="IN-TN" value="IN-TN">Tamilnadu</option>
<option class="IND" title="IN-TR" value="IN-TR">Tripura</option>
<option class="IND" title="IN-TL" value="IN-TL">Telangana</option>
<option class="IND" title="IN-UL" value="IN-UL">Uttaranchal</option>
<option class="IND" title="IN-UT" value="IN-UT">Uttarakhand</option>
<option class="IND" title="IN-UP" value="IN-UP">Uttar Pradesh</option>
<option class="IND" title="IN-WB" value="IN-WB">West Bengal</option>