<?php 
error_reporting(E_ALL);

$ticketId = "NA";
if(isset($_POST['ticketId']))
{
	$ticketId=$_POST['ticketId'];
}
if(!(session_status() === PHP_SESSION_ACTIVE)){
	session_start();
}
//echo "ID:".session_id(); 
$userName = "Guest";
$isUserLogin = "false";
$userloingstatus = "login";
$partyId = 'NA';
$isPrime="false";
if(isset($_SESSION['userLogin']))
{
	$userLogin = $_SESSION['userLogin'];
	$userName = $userLogin->getUserName();
	$partyId = $userLogin->getPartyId();
	$isPrime = $userLogin->isPrime();
	$isUserLogin = "true";
	 //setcookie("isPrimeUser",$isPrime,time()+(30),"/");
 
}
	if(!(isset($isUserLogin) && $isUserLogin==="true")){
		$userloingstatus = "Not login";
	}
	// setcookie("userStatusCookie", $userloingstatus);
	// setcookie("userpartyId", $partyId);
?>
<script>
	var paramsconfig={};
	paramsconfig._loginstatus = "<?=$userloingstatus;?>";
	paramsconfig._partyId = "<?=$partyId;?>";
	paramsconfig._userId = "<?=$userName;?>";
	paramsconfig._isPrimeUser = "<?=$isPrime;?>";
	paramsconfig.compareUrl = "/compare-mobiles";
	<?php if( isset($_SESSION['compare']) && isset($_SESSION['compare']->url)) {?>
	paramsconfig.compareUrl = "<?=$_SESSION['compare']->url?>";
	<?php } ?>
</script>
	<?php $itemCounts=0;
		if(isset($_SESSION['shoppingCart']) && sizeof($_SESSION['shoppingCart']->getShoppingList()->getShoppingListItems())>0){
			$itemObj=$_SESSION['shoppingCart']->getShoppingList()->getShoppingListItems()[0];
			if (get_class($itemObj)=='stdClass' && $itemObj->productId!=null) {
				$itemCounts=sizeof($_SESSION['shoppingCart']->getShoppingList()->getShoppingListItems());
			}else if($itemObj->getProductId()!=null){
				$itemCounts=sizeof($_SESSION['shoppingCart']->getShoppingList()->getShoppingListItems());
			}else{
				unset($_SESSION['shoppingCart']);
			}
		}
	?>
	<!--a class="toi-gadgets ftl" href="http://m.gadgetsnow.com/mobile-phones"><span class="tab-text">Gadgets</span></a-->	 
	<a id="toi-login-button" class="toi-login flr <?php if(isset($isUserLogin) && $isUserLogin==="true"){echo "toi-myaccount";}?>" href="<?php if(isset($isUserLogin) && $isUserLogin==="true"){echo "#";}else{echo "/control/login";}?>"><?php if(isset($isUserLogin) && $isUserLogin==="true"){  if(isset($_SESSION['personProfile'])){$fname=$_SESSION['personProfile']->getFirstName(); $fnameC=$fname[0]; $fnameC=strtoupper($fnameC); echo "<span>".$fnameC."</span>"; }else{echo "<span>A</span>";}}else{echo "<i></i><span class='tab-text'>login</span>";}?></a>
	<a class="toi-cart flr" href="/control/showcart"><i></i><span class="tab-text">Cart</span><span class="count"><?=$itemCounts?></span></a>
	<a id="toi-search-button" class="toi-search-tab flr" href="#"><i></i><span class="tab-text">Search</span></a>
	<!--a class="flr mobile-ui-search-button" href="#"> </a-->
	<ul class="user-activity-menu displaynone" data-initiator-id="toi-login-button">
		<?php  if(isset($_SESSION['personProfile'])){ ?>
			<li><a rel='guest' href="/control/profile" ><?php $fname=$_SESSION['personProfile']->getFirstName(); $fname = trim($fname); $fname=ucfirst($fname); $fnaarr=explode(" ",$fname); if(count($fnaarr) >= 2){ $fnamestr=$fnaarr[0]." ".$fnaarr[1]; }else{$fnamestr=$fnaarr[0];} if($fnamestr == ""){ $fnamestr="My"; echo $fnamestr." Profile"; } else { echo $fnamestr." 's Profile"; } ?> </a></li>
		<?php  }else{ ?>	
			<!-- li><a rel='guest' href="/control/profile" >Hello,  </a></li-->
		<?php } ?>
			
<!--  	<li><a rel='guest' >Hello, <?=$userName?> </a></li> -->
		<li><a rel='my_track_order' href="/control/orderhistory" ><?php if(isset($isUserLogin) && $isUserLogin==="true"){ if($userName!="Guest"){?> My Orders<?php }} ?><?php if(!(isset($isUserLogin) && $isUserLogin==="true")){if($userName==="Guest"){ ?>Track Orders<?php }} ?></a></li>
<!--		<li><a rel='my_wish_list'  href="/control/showcart?mywishlist">My Wishlist</a></li> --
		<li><a rel='my_cart' href="/control/showcart" >My Cart</a></li>
<!-- 		<li><a rel='gift_coupon' href="/control/giftCoupon" >Gift Coupons</a></li> -->
		<?php if(!(isset($isUserLogin) && $isUserLogin==="true")){ ?><li><a rel='my_login' class="loginstatus" href="/control/login">Log in | Register</a></li><?php } ?>
		<?php if(isset($isUserLogin) && $isUserLogin==="true"){ if($userName!="Guest"){?><li><a class="loginstatus logout" id="logout" rel='my_logout' >Log Out</a></li><?php }
																else if($userName==="Guest"){?><li><a class="loginstatus" rel='my_login' href="/control/login" >Log in | Register</a></li><?php }} ?>
	</ul>
	