<?php include __DIR__ . "/../common/header.phtml"; ?>

<!-- container body start -->
<div class="login-container clr">
<?php 
$FRONTEND_URL= $GLOBALS ['general'] ['FRONT_END_SERVER_URL'];
$url = 'http://' . $FRONTEND_URL . $_SERVER['REQUEST_URI'];
$lastPage="";
$continentRedirect = "/";
$commentregister="false";
$referer=isset($_SERVER['HTTP_REFERER'])?$_SERVER['HTTP_REFERER']:"";
//
if((isset($lastRegisterPage) && strpos($lastRegisterPage,'showcart') !== false) || strpos($referer,'showcart') !== false)
{
	if(isset($referer))
	$lastPage = $referer;
	else 
	$lastPage = $lastRegisterPage;
}
elseif ($referer!="" && strpos($referer,'http://' . $FRONTEND_URL)===0 && strpos($referer,"registerUser")===false && strpos($referer,"registersuccess")===false 
		&& strpos($referer,"ssoActivation")===false && strpos($referer,"updateLoginPassword")===false && strpos($referer,"forgotpassword")===false){
	$lastPage=$referer;
}


if(isset($_COOKIE['geo_continent']))
{
	$geoContinent = $_COOKIE['geo_continent'];
	$geoCountry=isset($_COOKIE['geo_country'])?$_COOKIE['geo_country']:'';
	$geoRegion=isset($_COOKIE['geo_region'])?$_COOKIE['geo_region']:'';
	
	if($geoContinent == "EU" || ($geoCountry== "US" && $geoRegion== "CA"))
	{
	 
		header('location:'.$continentRedirect,false);
	}
}


?>
<div class="login flt">
  <div class="section-container-ui">
  	   <ul class="tabs-wrapper" role="menubar">
  	   	         <!-- There should be no space between li tags as they are inline block. -->
  	   	         


<li class="active">
  	   	       <?php $ca = ""; 
  	   	       		if(strpos($lastPage,'showcart') !== false) 	{    
		  	   	       	$itemCounts=0;
		  	   	       	if(isset($_SESSION['shoppingCart']) && sizeof($_SESSION['shoppingCart']->getShoppingList()->getShoppingListItems())>0){
		  	   	       		$itemObj=$_SESSION['shoppingCart']->getShoppingList()->getShoppingListItems()[0];
		  	   	       		if (get_class($itemObj)=='stdClass' && $itemObj->productId!=null) {
		  	   	       			$itemCounts=sizeof($_SESSION['shoppingCart']->getShoppingList()->getShoppingListItems());
		  	   	       		}else if($itemObj->getProductId()!=null){
		  	   	       			$itemCounts=sizeof($_SESSION['shoppingCart']->getShoppingList()->getShoppingListItems());
		  	   	       		}else{
		  	   	       			unset($_SESSION['shoppingCart']);
		  	   	       		}
		  	   	       	}
 	   	       	?>
  	   	         <?php  
  	   	         if (isset($_SESSION['cartAction'])){$ca = $_SESSION['cartAction'];} 
  	   	           	  //if($itemCounts>0 && $ca != 'move-to-wishlist'){ ?> <!-- <a  href="#guestUser">Guest user</a></li><li> --> <?php // } ?>
    			<?php } ?>
   				<a href="#registeredUser">Existing user</a></li>
				<li><a  href="#newUser">New user</a></li>
  	    </ul>
<!-- comments for guest login ends -->
<!--     <?php // if(strpos($lastPage,'showcart') !== false && $itemCounts>0 && $ca != 'move-to-wishlist') 	{  ?>
    	<div id="guestUser" class="tab-content guest-user">
  			<section>
	  			<form action="/control/guestCheckout" method="post" name="guestUser">
	  				<?php //if ($lastPage!="") { ?>
	  					<input type="hidden" value="<? //=$lastPage?>" name="lp">
	  				<?php //} ?>
		  			<div class="field-wrapper">
		  				<input type="text" value="" placeholder="Enter your email" id="guestemail" name="email"  validate="{true,blank,Please specify your valid email address,email,Please enter a valid email address}" tabindex="1" />
		  				<span id="guestemail_error" class="error">&nbsp;</span>
		  			</div>
		  			
		  			<div class="field-wrapper text-align-right">
		  				<button class="flat-orange" type="submit" tabindex="2">Continue &#187;</button>
		  			</div>
	  			</form>
  			</section>
        </div>
        <div id="registeredUser" class="tab-content regitered-user displaynone">
 -->        
        <?php //  } else{ ?>
  		<?php // } ?>
  <!-- comments for guest login ends -->		
  
  			<div id="registeredUser" class="tab-content regitered-user ">
  			<section>
  			<!-- action="/control/checkoutoptionsLogin" -->
				<form  method="post" name="registeredUser">
			  			<?php if ($lastPage!="") { $_SESSION['lastRegisterPage']=$lastPage;?>
		  					<input type="hidden" value="<?=htmlentities($lastPage)?>" name="lp">
		  				<?php } ?>
			  			<div class="field-wrapper">
			  				<input type="text" value="" placeholder="Enter your Email" id="registeredemail" name="email" validate="{true,blank,Please enter Email,userName,Please enter valid Email}"  tabindex="3"/>
			  				<span id="registeredemail_error" class="error">&nbsp;</span>
			  			</div>
			  			<div class="field-wrapper">
			  				<input type="password" value="" placeholder="Password" id="registeredpassword" name="password" validate="{true,blank,Please enter a valid password,password, Password must be 6 to 14 characters with no spaces}"  tabindex="4"/>
			  				<span id="registeredpassword_error" class="error">&nbsp;</span>
			  			</div>
			  			<div class="field-wrapper text-align-right">
			  				<a class="forgot-password flt" href="/control/forgotpassword" data-ga-track="login##forgot_password##login_page##0" data-ga="check_out_funnel_mobile##<?php echo $leafTitle; ?>##forgot_password##0" >Forgot Password</a>
			  				<button class="flat-orange" id="login_id" type="submit" tabindex="5" data-ga-track="login##existing_user##login_page##0" data-ga="check_out_funnel_mobile##<?php echo $leafTitle; ?>##continue_existing_customer##0" >Continue &#187;</button>
			  			</div>
		  	    </form>
	  	    </section>	
		</div>
		
		<div id="newUser" class="tab-content guest-user displaynone">
  			<section>
  				<div class="register-content">
		  			<?php include __DIR__ . "/register.phtml"; ?>
	  			</div>
  			</section>
        </div>
		
		
  	</div>
  	
  </div>
<!--
  <div class="login flt">
  	<div class="section-container-ui">  -->
		 <!-- <div class="separator"><aside><span>OR</span></aside></div>	-->
		<!--
			<h3>Login with Facebook or Google Plus</h3>
			<div class="social-content">
				<button data-ga="check_out_funnel_mobile##<?php echo $leafTitle; ?>##continue_google##0" class="social facebook facebookLoginWindow"><i class="fa-facebook flt"></i> facebook</button>
				 <button data-ga="check_out_funnel_mobile##<?php echo $leafTitle; ?>##continue_facebook##0" class="social google-logo googleLoginWindow">Google</button> 
			</div>
		
      </div>
  </div> -->
  <!-- <div class="login flt">
  	<div class="section-container-ui">
  			<section>
  				<div class="unregistered">
  					Don't have an account?<br/>
  					<button>Register Now</button>
  				</div>
  				<div class="register-content displaynone">
		  			<?php // include __DIR__ . "/register.phtml"; ?>
	  			</div>
  			</section>
      </div>
      
  </div> -->
<?php 
$FRONTEND_URL= $GLOBALS ['general'] ['FRONT_END_SERVER_URL'];
if (strpos($url, "isExistingUserDiv")!==false){ ?>
<script language="javascript" type="text/javascript">
	paramsObj.isExistingUserDiv="true";
</script>
<?php }else{ ?>
<script language="javascript" type="text/javascript">
	paramsObj.isExistingUserDiv="false";
</script>
<?php } ?>
<?php include __DIR__ . "/../common/newfooter.phtml"; ?>

