<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<title>Payment in process..</title>
	<link href="/mobile/css/mobile_style.css" rel="stylesheet" type="text/css" />
	<link rel="shortcut icon" href="/img/favicon.ico" />
	<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
	<script language='Javascript'>
		function SubmitForm(){
			
			$("form[name=paymentForm]").submit();
		}
</script>
	</head>
<body >
<center>

<?php 

$statuscode = $_REQUEST['statuscode'];
$orderid = $_REQUEST['orderid'];
$mid = $_REQUEST['mid'];
$amount = $_REQUEST['amount'];
$message = $_REQUEST['statusmessage'];
$checksum = $_REQUEST['checksum'];
die();
 ?>
 
</center>
</body>
</html>
