<html>
<body>
<img src="wallet.png"align="left" alt="Your logo" /><br style="clear:both">
	<h1>Pay with Mobikwik wallet</h1>
	<form name="myform" id="demo_form" action="submitMobikwik" method="POST">
		<div style="display: block" id="datafields">
			<div id="mkdiv1">
			</br>
			<span>Email: </span><input class="required email" size="50"	name="email" type="text" id="email">
			</div>
			<div id="mkdiv2">
			</br>
			<span>Amount: </span><input class="required number" size="50" name="amount" type="text" id="amt">
			</div>
			<div id="mkdiv3">
			</br>
			<span>Cell no: </span><input class="required number" size="50" maxlength="10" minlength="10" name="cell" type="text" id="cell">
			</div>
			<div id="mkdiv4">
			</br>
			<span>Order ID: </span><input size="30" name="orderid" type="text" id="orderid">
			</div>
			
			<div id="mkdiv8">
			</br>
			LIVE<input type="radio" name="live" value="live"><br>
			</div>
			<div id="mkdiv9" style="padding-top: 30px;">

				<input  type="submit" value="Pay">
			</div>
		</div>	
	</form>
</body>
</html>
