<?php 
 $catalougename = "fashion";
 $noResultFound=true;
include __DIR__ . "/../common/header.phtml"; ?>
<div class="body body-listing">
    
        
    <div class="section-container-ui">
    <?php if(isset($totalProductCount) && isset($catalogCount)  && $totalProductCount>0){?>
    	<div class="search-results"><?=$searchStr?> - "<span><?=$totalProductCount?></span>" Results in <span><?=$catalogCount?></span> Categories</div>
    	<!-- sort feature start -->
    
        <!-- sort feature end -->
    	<?php
if(isset($customCategories)){
$extns = $customCategories;
$noResultFound=false;
foreach($extns as $extn){
	if(isset($extn->catalogName)){
	$catalogName = $extn->catalogName;
	$catalogUrl = $extn->URL;
	if(isset($extn->productCount)){$productCount = $extn->productCount;}
	if(isset($extn->products[0])){
?>             
                
          <section>
               <div class="section-container-ui section-container-search">
            		
                     <div id="mobile-list" class="owl-carousel">
                     <?php 
		$products = $extn->products;
		$position = '';
		foreach($products as $product)
		{
			$affiliate = $product->AFFILIATES;
			$isDummy = ($affiliate=='DUMMY')?true:false;
			$defaultPrice = round($product->DEFAULT_PRICE);
			$discountedPrice=round($product->DISCOUNTED_PRICE);
			$listPrice = round($product->LIST_PRICE);
			$discount = round($product->DISCOUNT);
			$productUrl="#";$productImageUrl="#";
			
			if(isset($productUrlArr) && isset($productUrlArr[$product->PRODUCT_ID])){
				$productUrl = $productUrlArr[$product->PRODUCT_ID];
			}
			if(isset($productImageUrlArr) && isset($productImageUrlArr[$product->PRODUCT_ID])){
				$productImageUrl = $productImageUrlArr[$product->PRODUCT_ID];
			}
			$position = 1+$position;
?>
                            <!-- product start -->
                            <div class="mobile-product-list-view">
                                <a href="<?=$productUrl?>" data-ga-track="product_select|search_results##<?= $product->PRODUCT_ID;?>##<?=$catalogName ?>|<?=$searchStr?>##<?=$position;?>" data-ga-en="event~productClick##id~<?= $product->PRODUCT_ID;?>##name~<?=$product->PRODUCT_NAME?>##brand~<?php if(isset($product->BRAND)){ echo $product->BRAND;}else{echo "no brand";};?>##category~<?=$catalogName ?>/<?=$product->PRIMARY_CATALOG_ID;?>##price~<?= $product->DEFAULT_PRICE;?>##quantity~1##position~<?=$position;?>##url~<?=$productUrl?>##list~search_results|<?=$searchStr?>">
                                    <figure>
                                      &nbsp;<img class="lazy" data-original="<?=$productImageUrl?>" alt="<?=$product->PRODUCT_NAME?>" />
                                    </figure>
                                    <figcaption><div><?=$product->PRODUCT_NAME?></div></figcaption>
                                 <?php $comingSoon=false;
									if(isset($extn->INTRODUCTION_DATE->time) && ($extn->INTRODUCTION_DATE->time>=time()) && 
													(($extn->INTRODUCTION_DATE->time-time())/(24 * 60 * 60 * 1000)<31)){
										$comingSoon=true;
									}
									if($isDummy)
									{?>
										<div class="comingsoon">To be announced</div>
									<?php }elseif($comingSoon){?>
									<div class="comingsoon">Coming Soon</div>
								<?php } else { ?>	
		                                <div class="mobile-price-ui">
		                                
		                                <?php if($discountedPrice >0) { ?><span class="offer-price-ui toi-text"><?= $discountedPrice;?></span> 
							<?php if($listPrice>$defaultPrice){?><span class="mrp-price-ui"><?= $listPrice;?></span><?php }?>
							<?php } else {?>
			                                <span class="offer-price-ui toi-text"><?=$defaultPrice;?></span> 
			                                <?php if($listPrice>$defaultPrice){?><span class="mrp-price-ui"><?= $listPrice;?></span><?php }?>
			                                <?php if($discount>0){?><span class="off-price-ui">(<?= $discount;?>% off)</span><?php } }?>
		                                </div>
		                                <?php } ?>
                                </a>
                            </div>
                             <!-- product end -->

                             <?php }?>
                    </div>
            	</div>
        </section>
        <?php }}}}} else{?> 
        
        <?php if($noResultFound==true) { echo "<div class='searchnotfound'><p  class='questinmark'><span class=''>?</span><span>No results found for &quot;".$searchStr."&quot;</span></p><p>You can try searching another keyword or start by browsing through our Collection of <a href='/mobiles/mobiles-android-phones/'>Android Phones</a>, <a href='/mobiles/mobiles-trending-4g-phones/'>Trending 4G Phones</a>, <a href='/mobiles/mobiles-new-releases/'>New Releases</a>, <a href='/mobiles/mobiles-best-selling-smartphones/'>Best Seller Smartphones</a> and <a href='/mobiles/mobiles-ios-phones/'>IOS Phones</a></p><p><a href='/'>Continue Shopping</a></p></div>"; } ?>
<?php }?>
    </div>
<?php include __DIR__ . "/../common/newfooter.phtml"; ?>
