<div class="field-wrapper">
		<select id="netBankSelect" name="netBankSelect"	class="debitNet onError" validate="{true,blank,Please select your bank}" tabindex="1">
		<option value="">Select Your Bank</option>

		<?php if(!in_array("StateBankofIndia",$excludeBanksList) && ( $bInclBkFlag || in_array("StateBankofIndia",$includeBanksList))) { ?>
			<option value="StateBankofIndia">SBI BANK</option>
		<?php } ?>		
		<?php if(!in_array("HDFCBank",$excludeBanksList) && ( $bInclBkFlag || in_array("HDFCBank",$includeBanksList))) { ?>
			<option value="HDFCBank">HDFC BANK</option>
		<?php } ?>		
		<?php if(!in_array("ICICIBank",$excludeBanksList) && ( $bInclBkFlag || in_array("ICICIBank",$includeBanksList))) { ?>
			<option value="ICICIBank">ICICI BANK</option>
		<?php } ?>		
		<?php if(!in_array("AxisBank",$excludeBanksList) && ( $bInclBkFlag || in_array("AxisBank",$includeBanksList))) { ?>
			<option value="AxisBank">AXIS BANK</option>
		<?php } ?>		
		<?php if(!in_array("Citibank",$excludeBanksList) && ( $bInclBkFlag || in_array("Citibank",$includeBanksList))) { ?>
			<option value="Citibank">CITI BANK</option>
		<?php } ?>		
		<?php if(!in_array("IDBIBank",$excludeBanksList) && ( $bInclBkFlag || in_array("IDBIBank",$includeBanksList))) { ?>
			<option value="IDBIBank">IDBI BANK</option>
		<?php } ?>		
        <?php if(!in_array("AndhraBank",$excludeBanksList) && ( $bInclBkFlag || in_array("AndhraBank",$includeBanksList))) { ?>
			<option value="AndhraBank">ANDHRA BANK</option>
		<?php } ?>	
		<?php if( !in_array("BankOfBahrainAndKuwait",$excludeBanksList) && ( $bInclBkFlag || in_array("BankOfBahrainAndKuwait",$includeBanksList))) { ?>
			<option value="BankOfBahrainAndKuwait">BANK OF BAHRAIN & KUWAIT</option>
		<?php } ?>
		<?php if( !in_array("BankOfBarodaCorporateAccounts",$excludeBanksList) && ( $bInclBkFlag || in_array("BankOfBarodaCorporateAccounts",$includeBanksList)))	{ ?>
			<option value="BankOfBarodaCorporateAccounts">BANK OF BARODA CORPORATE ACCOUNTS</option>
		<?php } ?>
		<?php if( !in_array("BankOfBarodaRetailAccounts",$excludeBanksList) && ( $bInclBkFlag || in_array("BankOfBarodaRetailAccounts",$includeBanksList)))	{ ?>
			<option value="BankOfBarodaRetailAccounts">BANK OF BARODA RETAIL ACCOUNTS</option>
		<?php } ?>
		<?php if( !in_array("BankofIndia",$excludeBanksList) && ( $bInclBkFlag || in_array("BankofIndia",$includeBanksList))){ ?>
			<option value="BankofIndia">BANK OF INDIA</option>
		<?php } ?>
		<?php if( !in_array("BankOfMaharashtra",$excludeBanksList) && ( $bInclBkFlag || in_array("BankOfMaharashtra",$includeBanksList)))	{ ?>
			<option value="BankOfMaharashtra">BANK OF MAHARASHTRA</option>
		<?php } ?>			
		<?php if( !in_array("CityUnionBank",$excludeBanksList) && ( $bInclBkFlag || in_array("CityUnionBank",$includeBanksList)))	{ ?>
			<option value="CityUnionBank">CITY UNION BANK</option>
		<?php } ?>
		<?php if( !in_array("DeutscheBank",$excludeBanksList) && ( $bInclBkFlag || in_array("DeutscheBank",$includeBanksList)))	{ ?>
			<option value="DeutscheBank">DEUTSCHE BANK</option>
		<?php } ?>
		<?php if( !in_array("FederalBank",$excludeBanksList) && ( $bInclBkFlag || in_array("FederalBank",$includeBanksList)))	{ ?>
			<option value="FederalBank">FEDERAL BANK</option>
		<?php } ?>		
		<?php if( !in_array("IndianOverseasBank",$excludeBanksList) && ( $bInclBkFlag || in_array("IndianOverseasBank",$includeBanksList)))	{ ?>
			<option value="IndianOverseasBank">INDIAN OVERSEAS BANK</option>
		<?php } ?>
		<?php if( !in_array("IndusIndBank",$excludeBanksList) && ( $bInclBkFlag || in_array("IndusIndBank",$includeBanksList)))	{ ?>
			<option value="IndusIndBank">INDUSIND BANK</option>
		<?php } ?>
		<?php if( !in_array("INGVysyaBank",$excludeBanksList) && ( $bInclBkFlag || in_array("INGVysyaBank",$includeBanksList)))	{ ?>
			<option value="INGVysyaBank">INGVysya BANK</option>
		<?php } ?>
		<?php if( !in_array("JammuAndKashmirBank",$excludeBanksList) && ( $bInclBkFlag || in_array("JammuAndKashmirBank",$includeBanksList)))	{ ?>
			<option value="JammuAndKashmirBank">JAMMU & KASHMIR BANK</option>
		<?php } ?>
		<?php if( !in_array("KarnatakaBankLtd",$excludeBanksList) && ( $bInclBkFlag || in_array("KarnatakaBankLtd",$includeBanksList)))	{ ?>
			<option value="KarnatakaBankLtd">KARNATAKA BANK LTD</option>
		<?php } ?>
		<?php if( !in_array("KarurVysyaBank",$excludeBanksList) && ( $bInclBkFlag || in_array("KarurVysyaBank",$includeBanksList)))	{ ?>
			<option value="KarurVysyaBank">KARUR VYSYA BANK</option>
		<?php } ?>		
		<?php if( !in_array("LakshmiVilasBankNetBanking",$excludeBanksList) && ( $bInclBkFlag || in_array("LakshmiVilasBankNetBanking",$includeBanksList))) { ?>	
			<option value="LakshmiVilasBankNetBanking">LAKSHMIVILAS BANK NETBANKING</option>
		<?php } ?>
		<?php if( !in_array("OrientalBankOfCommerce",$excludeBanksList) && ( $bInclBkFlag || in_array("OrientalBankOfCommerce",$includeBanksList)))	{ ?>
			<option value="OrientalBankOfCommerce">ORIENTAL BANK OF COMMERCE</option>
		<?php } ?>
		<?php if( !in_array("PunjabNationalBankCorporateAccounts",$excludeBanksList) && ( $bInclBkFlag || in_array("PunjabNationalBankCorporateAccounts",$includeBanksList)))	{ ?>
			<option value="PunjabNationalBankCorporateAccounts">PUNJAB NATIONAL BANK CORPORATE ACCOUNTS</option>
		<?php } ?>
		<?php if( !in_array("PunjabNationalBankRetailAccounts",$excludeBanksList) && ( $bInclBkFlag || in_array("PunjabNationalBankRetailAccounts",$includeBanksList)))	{ ?>
			<option value="PunjabNationalBankRetailAccounts">PUNJAB NATIONAL BANK RETAIL ACCOUNTS</option>
		<?php } ?>
		<?php if( !in_array("SouthIndianBank",$excludeBanksList) && ( $bInclBkFlag || in_array("SouthIndianBank",$includeBanksList)))	{ ?>
			<option value="SouthIndianBank">SOTUH INDIAN BANK</option>
		<?php } ?>
		<?php if( !in_array("StandardCharteredBank",$excludeBanksList) && ( $bInclBkFlag || in_array("StandardCharteredBank",$includeBanksList)))	{ ?>
			<option value="StandardCharteredBank">STANDARD CHARTERED BANK</option>
		<?php } ?>
		<?php if( !in_array("StateBankofHyderabad",$excludeBanksList) && ( $bInclBkFlag || in_array("StateBankofHyderabad",$includeBanksList)))	{ ?>
			<option value="StateBankofHyderabad">STATE BANK OF HYDERABAD</option>
		<?php } ?>		
		<?php if( !in_array("StateBankOfMysore",$excludeBanksList) && ( $bInclBkFlag || in_array("StateBankOfMysore",$includeBanksList)))	{ ?>
			<option value="StateBankOfMysore">STATE BANK OF MYSORE</option>
		<?php } ?>
		<?php if( !in_array("StateBankOfTravancore",$excludeBanksList) && ( $bInclBkFlag || in_array("StateBankOfTravancore",$includeBanksList)))	{ ?>
			<option value="StateBankOfTravancore">STATE BANK OF TRAVANCORE</option>
		<?php } ?>
		<?php if( !in_array("SyndicateBank",$excludeBanksList) && ( $bInclBkFlag || in_array("SyndicateBank",$includeBanksList)))	{ ?>
			<option value="SyndicateBank">SYNDICATE BANK</option>
		<?php } ?>
		<?php if( !in_array("TamilnadMercantileBank",$excludeBanksList) && ( $bInclBkFlag || in_array("TamilnadMercantileBank",$includeBanksList)))	{ ?>
			<option value="TamilnadMercantileBank">TAMILNAD MERCANTILE BANK</option>
		<?php } ?>
		<?php if( !in_array("UnionBankofIndia",$excludeBanksList) && ( $bInclBkFlag || in_array("UnionBankofIndia",$includeBanksList)))	{ ?>
			<option value="UnionBankofIndia">UNION BANK OF INDIA</option>
		<?php } ?>
		<?php if( !in_array("UnitedBankOfIndia",$excludeBanksList) && ( $bInclBkFlag || in_array("UnitedBankOfIndia",$includeBanksList)))	{ ?>
			<option value="UnitedBankOfIndia">UNITED BANK OF INDIA</option>
		<?php } ?>
		<?php if( !in_array("VijayaBank",$excludeBanksList) && ( $bInclBkFlag || in_array("VijayaBank",$includeBanksList)))	{ ?>
			<option value="VijayaBank">VIJAYA BANK</option>
		<?php } ?>
		<?php if( !in_array("YesBank",$excludeBanksList) && ( $bInclBkFlag || in_array("YesBank",$includeBanksList)))	{ ?>
			<option value="YesBank">YES BANK</option>
        <?php } ?>
     </select> <span id="netBankSelect_error" class="error">&nbsp;</span>
	</div> 