<?php 
if(isset($orderList)){
	$blockCancellationPid=$GLOBALS ['general'] ['BLOCK_CANCELLATION_PID'];
        $invoiceUrl=$GLOBALS ['general'] ['INVOICE.URL'];	
$showCancellationLink=(isset ( $_SESSION ['userLogin'] )?true:false);
foreach($orderList as $orderId=>$items) {
	$order=$items[0];
	$requestCancellation=true;
	$reportCase=true;
	$cancelledItems=0;
	$cases=0;
	$orderdate=date('M d, Y, h:i A',intval($order->ORDER_DATE/1000));
	$orderdate1= date('M d, Y, h:i A', strtotime($orderdate. ' + 10 days'));
	
	 ?>
	<li class="section-container-ui order-item" id="<?=$orderId?>">                           
	<h4>Order No: <?=$orderId?> </h4> <em class="date">Order Date : <?=date('M d, Y, h:i A',intval($order->ORDER_DATE/1000))?></em>
	<table class="order-item">
		<tbody>
		<?php if(isset($order->AMOUNT)){  ?>
			<tr>
				<td><?=isset($order->PAYMENT_STATUS)&&($order->PAYMENT_STATUS=='PAYMENT_RECEIVED')?"Payment Received":"Payment Not Received"?></td>
				<td><span class="offer-price-ui"><?=$order->AMOUNT?></span></td>
			</tr>
		<?php } ?>
		<?php if(isset($order->PAYMODE)){ ?>	
			<tr><td>Payment Mode 1</td><td class="mode"><?=$order->PAYMODE?></td></tr>
		<?php } ?>	
		<?php if(isset($order->ADDRESS)){ ?>
			<tr><td>Shipping Adddress</td><td><?=$order->ADDRESS?></td></tr>
		<?php } ?>	
			<?php foreach($items as $item) { 
				$requestCancellation=true;
				$reportCase=true;
				
				$pid=strpos ( $item->PRODUCT_ID, '-' )?strstr ( $item->PRODUCT_ID, '-', true ):$item->PRODUCT_ID; ?>
			<tr>
				<td><a href="<?=$prodUrlArr[$pid]?>"><img class="img lazy" data-original="<?=$prodImageUrlArr[$pid]?>"  /></a> </td>
				<td>
					<strong><?=$item->ITEM_DESCRIPTION?>&nbsp;(<?=$item->QUANTITY?>)</strong>
					<div>
						<?php if(isset($item->UNIT_PRICE)){ ?><span class="offer-price-ui"><?=$item->UNIT_PRICE?></span><?php } ?>
						<?php if(isset($item->DISCOUNT_AMOUNT) && $item->DISCOUNT_AMOUNT>0){ ?><br/>Discount:<span class="offer-price-ui"><?=$item->DISCOUNT_AMOUNT?></span><?php } ?>
						<?php if(isset($item->UNIT_SHIPPING_PRICE) && $item->UNIT_SHIPPING_PRICE>0){ ?><br/>Shipping:<span class="offer-price-ui"><?=$item->UNIT_SHIPPING_PRICE?></span><?php } ?>
					</div>
					<?php if(isset($item->PRODUCT_FEATURE)){ ?><div class="features"><?=$item->PRODUCT_FEATURE?></div><?php } ?>
					<?php $status="";
						$itemStatus=$item->ITEM_STATUS;
						if($itemStatus=='ITEM_CREATED'){
							$status='ITEM_CREATED';
							if($item->PAYMENT_STATUS!='PMNT_RECEIVED')$status="PROC_PAYMENT_SETTLE";
						}else if($itemStatus=='ITEM_CANCELLED'){
							$requestCancellation=false;
							if($item->REASON_ENUM_ID=='OICR_CAN_NOT_RFD')$status="OICR_CAN_NOT_RFD";
							else if($item->REASON_ENUM_ID=='OICR_CAN_RFD'){
								if(isset($item->REFUNDED_DATETIME)){
									$status="REFUNDED";
									$refundedDate=$item->REFUNDED_DATETIME;
								}else{
									$status="REFUND_IN_PROCESS";
									$cancelDate=$item->CANCELLED_DATETIME;
								}
							}
						}else if($itemStatus=='ITEM_APPROVED' || $itemStatus=='ITEM_COMPLETED'){
							$expectedDelDate=$item->ESTIMATED_DELIVERY_DATE;
							if(isset($item->RETURN_REASON_ID)){
								$returnReasonId=$item->RETURN_REASON_ID;
								if($returnReasonId=="RTN_DO_NOT_REFUND") {
									$status="RTN_DO_NOT_REFUND";
								} else if($returnReasonId=="RTN_CANCEL_FOR_REFUN") {
									if($item->REASON_ENUM_ID=='OICR_CAN_NOT_RFD')
										$status="OICR_CAN_NOT_RFD";
									else if($item->REASON_ENUM_ID=='OICR_CAN_RFD'){
										if(isset($item->REFUNDED_DATETIME)){
											$status="REFUNDED";
											$refundedDate=$item->REFUNDED_DATETIME;
										}else{
											$status="REFUND_IN_PROCESS";
											$cancelDate=$item->CANCELLED_DATETIME;
										}
									}
								} else if($returnReasonId=="RTN_REPLACEMENT") {
									$status="REPLACEMENT";
									$replacedOrderId=$item->TO_ORDER_ID;
								}
							}else{
								if(isset($item->SHIPMENT_STATUS)){
									$status=$item->SHIPMENT_STATUS;
									if("SHIPMENT_DELIVERED"==$status) {
										$deliveryDate=$item->SHIP_DATE;
										$expectedDelDate=null;
									}
								}else{
									$status="IN_PROCESS";
								}
							}
						} else if("ITEM_REJECTED"==$itemStatus) {
							$requestCancellation=false;
							$status="REJECTED";
						}?>
					<?php if(isset($status) && !empty($status)){ 
						$statusDesc=(isset($GLOBALS ['orderProp'] [$status])?$GLOBALS ['orderProp'] [$status]:$status);?>
						<div class="status"><?=strpos($statusDesc,"_")?str_replace ( "_", " ", $statusDesc):$statusDesc?></div>
					<?php } ?>
					<?php if($status=='REPLACEMENT') { ?><div class="replacedOrder">Replaced Order No:<?=$replacedOrderId?></div><?php }
					else if("SHIPMENT_DELIVERED"==$status){?>
						<em class="date">Delivery Date:<?=date('M d, Y, h:i A',intval($deliveryDate/1000))?></em>
						<?php if(isset($item->CARRIER_PARTY_ID)) { ?><div class="courier"><?=$item->CARRIER_PARTY_ID?>
							<?php if(isset($item->TRACKING_CODE)){ 
								$trackingurl=isset($item->CARRIER_TRACKING_URL)?str_replace("XXXXX", $item->TRACKING_CODE, $item->CARRIER_TRACKING_URL):"#";?>
								<a href="<?=$trackingurl?>">Tracking no: <?=$item->TRACKING_CODE?> &#187;</a><?php } ?>
								
 								<?php  $itemInvoiceUrl=$invoiceUrl.'='.$item->SHIPMENT_ID.'&src=myaccount' ?>
        						<a href="<?=$itemInvoiceUrl?>">Generate Invoice</a>
							</div>
						<?php } ?>
					<?php } 
					else if("REFUND_IN_PROCESS"==$status){?><em class="date">Cancellation Date:<?=date('M d, Y, h:i A',intval($cancelDate/1000))?></em><?php }
					else if("REFUNDED"==$status){?><em class="date">Refunded on:<?=date('M d, Y, h:i A',intval($refundedDate/1000))?></em><?php }
					else if(!empty($status) && $status!='REPLACEMENT' && $status!='OICR_CAN_NOT_RFD' && $status!='RTN_DO_NOT_REFUND' && isset($expectedDelDate)){?>
						<em class="date">Expected Delivery Date:<?=$orderdate1?>
						<? //=date('M d, Y, h:i A',intval($expectedDelDate/1000)) ?></em>
						<?php if(isset($item->CARRIER_PARTY_ID)) { ?><div class="courier"><?=$item->CARRIER_PARTY_ID?>
							<?php if(isset($item->TRACKING_CODE)){ 
								$trackingurl=isset($item->CARRIER_TRACKING_URL)?str_replace("XXXXX", $item->TRACKING_CODE, $item->CARRIER_TRACKING_URL):"#";?>
								, <a href="<?=$trackingurl?>">Tracking no: <?=$item->TRACKING_CODE?> &#187;</a><?php } ?>
							</div>
						<?php } ?>
					<?php } ?>
					<?php if(isset($item->CASE_ID)) { 
						$requestCancellation=false;
						$reportCase=false;?>
						<div class="case"><a href="casedetails?custRequestId=<?=$item->CASE_ID?>">CaseId:<?=$item->CASE_ID?> &#187;</a></div>
					<?php } ?>
				</td> 
			</tr>
			<?php 
				if($requestCancellation==true && (!empty($status) && "REFUND_IN_PROCESS"!=$status && $status!='REPLACEMENT' && $status!='OICR_CAN_NOT_RFD' && $status!='RTN_DO_NOT_REFUND' && "REFUNDED"!=$status)){
					$requestCancellation=true;
				}else{
					$requestCancellation=false;
				}
				if(empty($status)){
					$reportCase=false;
				}
				
				//logic for OXIWALLET
				$tok = strtok($blockCancellationPid, ',');
				while ($tok !== false) {
					if($pid == $tok)
					{
						$requestCancellation=false;
						break;
					}
					$tok = strtok(',');
				}
				
				//
				
				if($requestCancellation==false) $cancelledItems++;
				if($reportCase==false)$cases++;
			} ?>                      
		</tbody>
		<?php if($showCancellationLink ){ 
				if ($_SESSION ['userLogin']->getUserName()!='Guest'){ ?>
			<tfoot>
				
				<tr><td colspan="2"><?php if($cancelledItems<sizeof($items)){ ?><a href="reportIssue?orderId=<?=$orderId?>&caseCategory=REQUEST_CANCELLATI">Request Cancellation</a><?php } ?>&nbsp;<?php if($cases<sizeof($items)){ ?><a href="reportIssue?orderId=<?=$orderId?>&caseCategory=REQUEST_WEB_CASE">Report a Case</a><?php } ?></td></tr>
			</tfoot>
		<?php }} ?>
	</table>
	</li>
<?php } 
} ?>
