<?php include __DIR__ . "/../common/pwaHeader.phtml"; ?>
<div style="padding:16px; text-align:center">
<h1 style="font-size: 20px;"><span style="color:red">Sorry!</span> We are experiencing some technical difficulties in our Payment Gateway.</h1>
<img src="https://img1.gadgetsnow.com/gd/imgbn/maintaineance.png" style="width:50"/>
<br>
<p>
<?php 
$uName='';
if (isset ( $_SESSION ['userLogin'] )) {
			//$uName = $_SESSION ['userLogin']->getUserId();
//print_r($_SESSION['userLogin']);
		}
		?>
 Do not worry if your payment has been deducted. Your money is safe with us.
If you have paid for the order, Wait for 2 hours and the order details will be reflected in your 
GadgetsNow account or the amount will be refunded in your bank account.
</p>
<br/>
<p>
If you still face some issue , please write to us at <a href="mailto:customerservice@gadgetsnow.com">customerservice@gadgetsnow.com</a>
</p>
</div>

<?php include __DIR__ . "/../common/pwaFooter.phtml"; ?>
