<?php include __DIR__ . "/../common/header.phtml"; ?>
<!-- container body start -->
<div class="my-account-ui">
<?php
	if (! isset ( $_SESSION ))
		session_start ();
	
	$uName = "";
	if (isset($_SESSION ['userLogin'])) {
		$uName=$_SESSION ['userLogin']->getUserName();
	}
 	if (!isset($orderList) && (! isset ( $_SESSION ['userLogin'] ) || $_SESSION ['userLogin']->getUserName()=='Guest')) {
//	if (!isset($orderList) && (! isset ( $_SESSION ['userLogin'] )) || ($uName==='Guest')) { ?>
		<div class="emptycart section-container-ui">
		<section>
			
				<div class="logintab border">
					<h1>Please <a href="/control/login">login</a> to track your order history</h1>
				</div>
			<div class="separator">
										<span>OR</span>
									</div>
			<div class="trackorder-content">
				<section>
							<form method="post" name="trackorder" action="/control/orderhistory">
								<input type="hidden" value="Y" name="checkorderstatus">
								<div class="field-wrapper">
									<input type="text" validate="{true,blank,Please enter Order ID,alphanumnospace,Invalid Order ID}" value="" placeholder="Order No." id="ordertrackid" name="orderId"	maxlength="20">
									<span class="error" id="ordertrackid_error">&nbsp;</span>
								</div>
								<div class="field-wrapper trackorder-insidetab" >
									<div class="cheorder">
										<input type="text" validate="{false,blank,Please enter Email,email,Invalid Email}" name="orderEmail" id="checkeordermail" value="" Placeholder="Email ID">
										<span class="error" id="checkeordermail_error">&nbsp;</span>
									</div>
									<div class="separator">
										<span>OR</span>
									</div>
									<div>
										<input type="number" validate="{false,blank,Mobile number is required,phoneIND,Please enter valid mobile number}" maxlength="10" name="contactMobile" id="phonemobile" class="phoncheck" value="" placeholder="Contact No.">
										<span class="error" id="phonemobile_error">&nbsp;</span>
									</div>
								</div>
								<input type="hidden" validate="{true,blank,Please enter Email or Phone No.}" id="validcheck">
								<span class="error" id="validcheck_error">&nbsp;</span>
								<div class="field-wrapper text-align-right">
									<button class="flat-orange" type="submit" tabindex="2">Show Status &#187;</button>
								</div>
							</form>
					</section>
				</div>
				</section>
			</div>

	<?php
	} else if(isset($orderList) && sizeof($orderList)>0){ ?>
		<!-- my account start-->
    	<?php if(isset($orderCount)){ ?><h1>Orders <span>(Showing <span id="orderPageCount"></span> of <?=$orderCount?>)</span></h1><?php } ?>
	    <script type="text/javascript">
			var orderPageCount="<?=sizeof($orderList)?>";
			var pageContains=10;
			var totalOrderCount=<?=isset($orderCount)?$orderCount:sizeof($orderList)?>;
			document.getElementById("orderPageCount").innerHTML = orderPageCount;
		</script>
	    <ul class="orders-wrapper">
	    	<?php include __DIR__ . "/orderhistorydata.phtml"; ?>
	    </ul>
	    <?php if(isset($orderCount)){ ?><a class="more-link clr" href="#">More &#187; </a><?php } ?>
	    <!-- my account end-->
	<?php } else { ?>
		<h1>No Order History Found</h1>
	<?php } ?>

<?php include __DIR__ . "/../common/newfooter.phtml"; ?>

<?php if(isset($orderList)){ ?>
	<script type="text/javascript">
		if(orderPageCount<totalOrderCount){
			$(".my-account-ui .more-link").removeClass("displaynone");
			$(".my-account-ui .more-link").addClass("displayblock");
		}else{
			$(".my-account-ui .more-link").removeClass("displayblock");
			$(".my-account-ui .more-link").addClass("displaynone");
		}
    </script>
<?php } ?>    
<!-- container end -->
