<?php include __DIR__ . "/../common/header.phtml"; ?>
<!-- container body start -->
<div class="thankyou oveflowhidden">
	<section>
    	<div class="section-container-ui">
 	<div class="messagesholder">
            	<p class="messages">Order Placed Successfully !</p>
                <p class="msgname">Dear <span><?=$order['firstName']?>,</span><br/>
                	Thank you for shopping with us.
                </p>
                <?php 
                $codOtpStatus=$order['status'];
                $orderStatus=$order['order_Status'];
                $isOrderHold="";
                $productName="";
                if(isset($order['IS_INVERR'] ))
                {
                	$inverr=$order['IS_INVERR'];
                }
                if(isset($order['IS_HOLD_LQ'] ))
                {
                	$isOrderHold=$order['IS_HOLD_LQ'];
                }
                if(isset($order['INVERRMSG']))
                {
                	$errMsg = $order['INVERRMSG'];
                	$msg=strtok($errMsg, ',');
                	while ($msg !== false)
                	{
                		$productInfo = strtok($msg,'###');
                		while($productInfo != false)
                		{
                			if(strpos($productInfo,'productName') !== false)
                			{
                				$index = strpos($productInfo,":");
                				$pName = substr($productInfo,$index+1);
                				if($productName != "")
                				{
                					$productName = ",".$pName;
                				}else
                				{
                					$productName = $pName;
                				}
                			}
                			$productInfo = strtok('###');
                		}
                		$msg=strtok(',');
                	}
                }
                if($_SESSION ['userLogin']->getUserName()!='Guest'){ ?>
                   <?php  if(isset($order['order_Status'] )  && $order['order_Status']==='ORDER_APPROVED'){ ?>
               			<p class="msgname">
               			Your order is confirmed and you will shortly receive an e-mail confirmation on your registered e-mail ID.
               			</p>
               	   <?php }else if(  isset($order['order_Status'] )  && ($order['order_Status']==='ORDER_HOLD') ){?>
             			 <p class="msgname">  
             			 Your order is pending for verification and you will receive an e-mail confirmation on your registered e-mail ID.</p>
                   <?php }else if ($orderStatus == "ORDER_CREATED" && $order['payMode'] != "EXT_COD") {
                   	?> <p class="msgname">
                   	Your order is being processed but is pending for payment clearance. We will send a confirmation on your registered e-mail ID once this order is 
                   	confirmed.Visit the My Account section to track your order placed on <?=date('d M, Y',strtotime($order['orderDate']))?> 
                   	through <?=$order['payMode']==='EXT_COD'?'Cash On Delivery':((isset($order['payMode_Description'])&& $order['payMode_Description']!=='')?$order['payMode_Description']:$order['payMode'])?></p>
                   <?php } else{?>
                         <p class="msgname">Your order is being processed and you will receive an e-mail confirmation on your registered e-mail ID.</p>
                   <?php }?>
                <?php }else{?>
                <p class="msgname">Your order is being processed and you will receive an e-mail confirmation on your registered e-mail ID.</p>
                <?php } if($codOtpStatus == "COD_OTP_N") { ?>
				<p class="msgname mobile-verify-text">
				  <?=date('d M, Y',strtotime($order['orderDate']))?><br/>
				 <strong>Pending for mobile no. verification</strong><br/>
				 <span class="desc">
				 
				
				 </span>
				</p>  <?php } else if(isset($inverr) && $inverr == "Y") {?>
				<p class="msgname mobile-verify-text">
				  <?=date('d M, Y',strtotime($order['orderDate']))?><br/>
				 <strong>Inventory not reserved</strong><br/>
				 <span class="desc">
				 We have recieved your order number <?=$order['orderId']?> . However due to a high demand for <?=$productName?> , we ran out of stock and won't be able to fulfill your order. We regret the inconvinience caused.
				 If you have already paid for this order then the refund will be credited back in 5-10 business days to the same account used while placing the order. We regret the inconvinience caused.
			     Please use the order id <?=$order['orderId']?> for all communications.</span>
				</p> 
				<?php }else if ($isOrderHold == "Y") {?>
				<span class="desc">
				Visit the My Account section to manage this order placed on <?=date('d M, Y',strtotime($order['orderDate']))?> through <?=$order['payMode']==='EXT_COD'?'Cash On Delivery':((isset($order['payMode_Description'])&& $order['payMode_Description']!=='')?$order['payMode_Description']:$order['payMode'])?></span>
				<?php }?>
            </div>

            <div class="order-section">
        		<h4>Order Reference</h4>
                <dl>
                	<dt>Order ID</dt><dd><?=$order['orderId']?></dd>
                    <dt>Order Date</dt><dd><?=date('d M, Y',strtotime($order['orderDate']))?></dd>
                    <dt>Payment Mode</dt><dd><?=$order['payMode']==='EXT_COD'?'Cash On Delivery':((isset($order['payMode_Description'])&& $order['payMode_Description']!=='')?$order['payMode_Description']:$order['payMode'])?></dd>
                    <dt>Total Order Amount</dt><dd class="offer-price-ui ap toi-text"><?=number_format($order['grandTotal'])?></dd>
                    <dt>Delivery Address</dt><dd>&nbsp;</dd>
                    <p class="clr address"><?=$order['shippingName'].', '.$order['address1'].', '.ucwords(strtolower($order['city'])).', '.$order['postalCode'].', '.
                    ucwords(strtolower($order['state'])).(isset($order['country'])?', '.ucwords(strtolower($order['country'])):'')?></p>					
                </dl>
        	</div>
            <p class="item-head">Items to be delivered</p>
            <?php 
            $totalDiscount=0;
			$position='';
            foreach ($order['Items'] as $value) { 
            	$pid=(strpos($value['productId'],'-')?strstr($value['productId'], "-", true):$value['productId']); 
            	$subtotal=$value['unitPrice']*$value['quantity'];
				$position = 1+$position;
            	?>
            <!-- product items start -->
            <div class="order-product oveflowhidden order-ga-class" data-ga-order="id~<?=$pid?>##name~<?=$value['productName']?>##category~<?=$value['catalogName']?>|<?=$value['categoryId']?>|<?=$value['categoryName']?>##price~<?=$value['unitPrice']?>##quantity~<?=$value['quantity']?>##position~<?=$position?>##variant~<?php $order['payMode']; ?>">
                <div class="item-img flt"><figure><img data-original="https://static1.shop.indiatimes.com/gd/images/products/small/<?=$pid?>.jpg" class="lazy" /></figure></div>
                <div class="flt item-detail">
                	<figcaption><div><?=$value['productName']?></div></figcaption>
                	<dl>
                    	<dt>Total Item(s)</dt><dd><?=$value['quantity']?></dd>
                    	<?php $unitPrice=(isset($value['shippingPrice'])?$value['unitPrice']-$value['shippingPrice']:$value['unitPrice']); ?>
                        <?php if(isset($value['mrp']) && $value['mrp']>$unitPrice){ ?>
                        	<dt>MRP</dt><dd class="mrp-price-ui"><?=number_format($value['mrp'])?></dd>
                        <?php } ?>
                        <dt>Unit Price </dt><dd class="offer-price-ui"><?=number_format($unitPrice)?></dd>
                        <?php if(isset($value['shippingPrice']) && $value['shippingPrice']>0){ ?>
                        	<dt>Shipping Charges</dt><dd class="offer-price-ui"><?=number_format($value['shippingPrice'])?></dd>
                        <?php } ?>
                        <?php if(isset($value['discountAmount']) && $value['discountAmount']>0){ ?>
                        	<dt>Discount</dt><dd class="offer-price-ui"><?=number_format($value['discountAmount'])?></dd>
                        	<?php $totalDiscount=$totalDiscount+($value['discountAmount']);
                        			$subtotal=$subtotal-$value['discountAmount'];
            			} ?>
            			<dt class="grandtotal">Subtotal</dt><dd class="offer-price-ui"><?=number_format($subtotal)?></dd>
                    </dl>
                </div>
            </div>
            <!-- product items end -->
            <?php } ?>
			<input type="hidden" id="ga-transation" value="transation_id~<?=$order['orderId']?>##revenue~<?php if(isset($order['codCharges'])){ ?><?=$subtotal+$order['codCharges']?><?php }else{ ?><?=$subtotal?> <?php } ?>##tax~<?php if(isset($order['codCharges'])){ ?><?=$order['codCharges']?><?php } ?>##shipping~<?php if(isset($value['shippingPrice']) && $value['shippingPrice']>0){ ?><?=$value['shippingPrice']?><?php }else{ echo"0";} ?>##coupon~<?php if(isset($value['GCID'])){ echo $value['GCID'];}else { echo "no-coupon";} ?>|<?php if(isset($value['discountAmount']) && $value['discountAmount']>0){ ?><?=$value['discountAmount']?><?php }else { echo"0";} ?>">
            <div class="order-product oveflowhidden">
                
                <div class="flt item-detail total">
                	<dl>
                		<?php if(isset($order['codCharges'])){ ?>
                			<dt>COD Charges </dt><dd class="offer-price-ui"><?=number_format($order['codCharges'])?></dd>
                		<?php } ?>
                        <dt class="grandtotal"><?=$order['payMode']==='EXT_COD'?'Amount To be Paid':'Amount Paid'?></dt><dd class="offer-price-ui grandtotal toi-text"><?=number_format($order['grandTotal']-$totalDiscount)?></dd>
                    </dl>
                </div>
            </div>
            <a href="/" data-ga-track="thankyou##continueshopping##order_value|<?=$order['grandTotal']-$totalDiscount?>##0" class="flat-orange continueshopping">Continue Shopping &#187 </a>
    	</div>
    </section>
<?php 
	$subtotal ='';
	if(isset($order['codCharges'])){ 
		$subtotal = $order['grandTotal']-$totalDiscount-$order['codCharges'];

	}else{
		$subtotal = $order['grandTotal']-$totalDiscount;
}

$row_array = array();
$gcCode = 'NoCode';
$unitpricelist ='';
$productlist ='';
$unitquantitylist ='';
$productcataloglist ='';
		if(isset($order['codCharges'])){$CODCharges = number_format($order['codCharges']);}else{$CODCharges=0;}
		foreach ($order['Items'] as $key=>$value) { 
		$pid=(strpos($value['productId'],'-')?strstr($value['productId'], "-", true):$value['productId']); 
		$unitPrice=(isset($value['shippingPrice'])?$value['unitPrice']-$value['shippingPrice']:$value['unitPrice']);
		$grandtotal = number_format($unitPrice*$value['quantity']);
		if(isset($value['catalogName'])){$catalogName=$value['catalogName'];}else{$catalogName="NoCatalogeName";}
		if(isset($value['productName'])){$productName=$value['productName'];}else{$productName="NoProductName";}
		if(isset($value['categoryId'])){$categoryId=$value['categoryId'];}else{$categoryId="NocategoryId";}
		if(isset($value['GCID'])) {$gcCode=$value['GCID'];} else {$gcCode="NoGCId";}
		$row_array[$key]['productId'] = $pid;
		$row_array[$key]['grandTotal'] = number_format($subtotal);
		$row_array[$key]['orderId'] = $value['orderId'];
		$row_array[$key]['quantity'] = $value['quantity'];
		$row_array[$key]['unitPrice'] = number_format($unitPrice);
		$unitpricelist = $unitPrice.'|'.$unitpricelist;
		$productlist = $productName.'|'.$productlist;
		$unitquantitylist = $value['quantity'].'|'.$unitquantitylist;
		$productcataloglist = $catalogName.'|'.$productcataloglist;
		$row_array[$key]['catalogId'] = $value['catalogId'];
		$row_array[$key]['catalogName'] = $catalogName;
		$row_array[$key]['productName'] = $productName;
		$row_array[$key]['categoryId'] = $categoryId;
		$row_array[$key]['GcCode'] = $gcCode;
		$row_array[$key]['createdTime'] = $order['orderDate'];
		$row_array[$key]['payMode'] = $order['payMode']==='EXT_COD'?'COD':((isset($order['payMode_Description'])&& $order['payMode_Description']!=='')?$order['payMode_Description']:$order['payMode']);
	}
echo '<script>paramsObj.pixelArray='.json_encode($row_array).'</script>';
?>

<?php include __DIR__ . "/../common/newfooter.phtml"; ?>
<script language="javascript" type="text/javascript">
	// var i = 1;
	// var productIdPriceAll ='';
	// var productIdAll ='';
	// var productIdAll ='';
	// var productNameAll ='';
	// var productQuantityAll ='';
	// var productcategoryIdAll ='';
	// for (key in paramsObj.pixelArray){
		// var val = paramsObj.pixelArray[key];
		// var orderId =val['orderId'];
		// var GcCode =val['GcCode'];
		// var grandTotal =val['grandTotal'];
		// if(i==1){
			// productIdPriceAll = val['unitPrice'];
			// productIdAll = val['productId'];
			// productNameAll = val['productName'];
			// productQuantityAll = val['quantity'];
			// productcatalogIdAll = val['categoryId'];
		// }else{
			// productIdPriceAll = val['unitPrice']+'|'+productIdPriceAll;
			// productIdAll = val['productId']+'|'+productIdAll;
			// productNameAll = val['productName']+'|'+productNameAll;
			// productQuantityAll = val['quantity']+'|'+productQuantityAll;
			// productcategoryIdAll = val['categoryId']+'|'+productcategoryIdAll;
		// }
		// i++; 
	// }
	// var para = document.createElement("img");
	// var paraScript = document.createElement("script");
	// para.src= 'http://www.91mobiles.com/pt/pixel.php?stage=thanks&mid=272&amount='+grandTotal+'&oid='+orderId+'&pids='+productIdAll+'&pqty='+productQuantityAll+'&catids='+productcategoryIdAll;
	// paraScript.src = 'https://track.in.omgpm.com/1018342/transaction.asp?APPID='+orderId+'&MID=1018342&PID=28873&status='+grandTotal+'&VCode='+GcCode+'&IName='+productNameAll+'&IID='+productIdAll+'&IVol='+productQuantityAll+'&IVal='+productIdPriceAll;
	// para.width='1';
	// para.height='1';
	// para.border='0';
	// paraScript.type='text/javascript';
	// document.body.appendChild(para);
	// document.body.appendChild(paraScript );
	
	$(".ap").html('<?=number_format($order['grandTotal']-$totalDiscount)?>');
	var productPriceList = "<?php echo trim($unitpricelist,"|");?>";
	var productList = "<?php echo trim($productlist,"|");?>";
	var productQuantityList = "<?php echo trim($unitquantitylist,"|");?>";
	var productCataloglist = "<?php echo trim($productcataloglist,"|");?>";
	var GrandTotal = "<?php echo $subtotal;?>";
	var orderId = "<?php echo $order['orderId'];?>";
</script>
