<?php include __DIR__ . "/../common/header.phtml"; ?>
<div class="body body-listing">
    
        
    <div class="section-container-ui">
    	<div class="search-results"><?=handleStrAndDefault($searchString, "")?><?php if(isset($totalProductCount)){ echo " (".handleStr($totalProductCount)." Products) ";}?> Results in <span><?=$catalogName?></span></div>
    	
    	<!-- sort feature start -->
    	    	<?php if(isset($sortBy)){ ?>
        <section class="feature-list-select-ui">
        	<div class="flt sort-by-ui">
            	<!--span class="flt sort-by-text-ui">Sort by</span -->
            	<span class="flt sort-by-form-ui">
                    <form >
                        <select>
                        	<option value="">Sort by</option>
<?php
$extnNames = '';$loop=0;
if(isset($sortBy[0])){
$extns = $sortBy;
foreach($extns as $extn){
	$sortOption = $extn->sortOption;
	$sortOptionUrl = $extn->sortOptionUrl;
	$sortValue = $extn->sortValue;
	if(isset($sortOption)){
?>                         	
                        	<option value="<?=$sortValue?>"><?=$sortOption?></option>
<?php }}}?>
                        </select>
                    </form>
                </span>
            </div>
           
    	</section>
 <?php } ?>  
     
        <!-- sort feature end -->

		 <div class="mobile-product-list-view">
                	<ul>
<?php 
		if(isset($products)){
			$position = '';
		foreach($products as $product){
			$defaultPrice = round($product->DEFAULT_PRICE);
			$listPrice = round($product->LIST_PRICE);
			$discount = round($product->DISCOUNT);
			$productUrl="#";$productImageUrl="#";
			
			if(isset($productUrlArr) && isset($productUrlArr[$product->PRODUCT_ID])){
				$productUrl = $productUrlArr[$product->PRODUCT_ID];
			}
			if(isset($productImageUrlArr) && isset($productImageUrlArr[$product->PRODUCT_ID])){
				$productImageUrl = $productImageUrlArr[$product->PRODUCT_ID];
			}
			$position = 1+$position;
?>
                	
                         
                                              
             		<!-- product start -->
             		<li>
                       <a href="<?=$productUrl?>" data-ga-track="product_select|search_results##<?= $product->PRODUCT_ID;?>##<?=$catalogName ?>|<?=handleStrAndDefault($searchString, "")?>##<?=$position;?>" data-ga-en="event~productClick##id~<?= $product->PRODUCT_ID;?>##name~<?=$product->PRODUCT_NAME?>##brand~<?php if(isset($product->BRAND)){ echo $product->BRAND;}else{echo "no brand";};?>##category~<?=$catalogName ?>/<?=$product->PRIMARY_CATALOG_ID;?>##price~<?= $product->DEFAULT_PRICE;?>##quantity~1##position~<?=$position;?>##url~<?=$productUrl?>##list~search_results|<?=handleStrAndDefault($searchString, "")?>">
                            <figure>
                            &nbsp;<img class="lazy" data-original="<?=$productImageUrl?>" alt="<?=$product->PRODUCT_NAME?>" />
                            </figure>
                            <figcaption><div><?= $product->PRODUCT_NAME?></div></figcaption>
                            <?php $comingSoon=false;
									if(isset($extn->INTRODUCTION_DATE->time) && ($extn->INTRODUCTION_DATE->time>=time()) && 
													(($extn->INTRODUCTION_DATE->time-time())/(24 * 60 * 60 * 1000)<31)){
										$comingSoon=true;
									}
								if($comingSoon){?>
									<div class="comingsoon">Coming Soon</div>
								<?php } else { ?>	
                            <div class="mobile-price-ui">
								<span class="offer-price-ui"><?= $product->DEFAULT_PRICE;?></span> 
	                            <?php if($listPrice>$defaultPrice){?><span class="mrp-price-ui"><?= $product->LIST_PRICE;?></span><?php }?>
	                            <?php if($discount>0){?><span class="off-price-ui">(<?= $discount;?>% off)</span><?php }?>
                            </div>
                            <?php } ?>
                        </a>
                    </li>
                    <!-- product end -->
                             
<?php }?>  
                    </ul>
                                        <?php if(isset($totalProductCount) && $totalProductCount > 32){?><div class="more-results"><a href="<?=handleStrAndDefault($nextPage, "")?>">Load more results</a></div><?php }?>
                    
               </div>
<?php }?>  

    </div>
<?php include __DIR__ . "/../common/newfooter.phtml"; ?>
