<?php
 include __DIR__ . "/../common/header.phtml";  
	if(isset($_GET['tab'])){
			$tab = htmlspecialchars($_GET['tab']);
	}else{
		$tab = "basicinfo";
	}
 ?>
<!-- container body start -->
<div class="profile clr">
<h1><?php if(isset($firstName) && $firstName != "") {?> <?=$firstName." 's" ?> <?php } else { echo "My"; }?> Profile </h1>
	<section class="section-container-ui">
		<ul class="information-tab">
			<dt class="<?php echo ($tab=="basicinfo") ? 'active' : 'in-active'; ?>">Basic Information</dt>
				<dd class="<?php echo ($tab=="basicinfo") ? '' : 'displaynone'; ?>">
					<div class="instructions">This information is mandatory to deliver the product.</div>
					<form action="/control/updatePersonBasic" name="editpersonform" method="post">
						<div class="field-wrapper oveflowhidden">
							<div class="flt col-one">Email: </div>	
							<div class="flt col-two"><span class="line-height"><?=$email ?></span></div>
						</div>
						<div class="field-wrapper oveflowhidden">
							<div class="flt col-one">Mobile No: </div>	
							<div class="flt col-two">
								<input  type="number" validate="{true,blank,Please enter your phone number,phoneIND,Please enter a valid Phone number}" maxlength="10" name="phoneNumbers" id="phoneNumbers" value="<?=$mobileNo ?>" />
								<span id="phoneNumbers_error" class="errorMsg"></span>
							</div>
						</div>
						<div class="field-wrapper oveflowhidden">
							<div class="flt col-one">Name: </div>	
							<div class="flt col-two">
										<input type="text" name="firstName" id="firstName" maxlength="32" validate="{true,blank,Please specify your first name,alphachar,Please enter a valid First name}" class="col-three" value="<?=$firstName ?>" />
										<input type="text" name="lastName" id="lastName" maxlength="32" validate="{true,blank,Please specify your last name,alphachar,Please enter a valid last name}" class="col-three" value="<?=$lastName ?>" />
										<div>
											<span id="firstName_error" class="errorMsg"></span>
											<span id="lastName_error" class="errorMsg"></span>
										</div>
							</div>
						</div>
						<div class="field-wrapper oveflowhidden">	
									<div class="flt col-one">&nbsp;</div>	
									<div class="flt col-two">
										<button class="flat-orange">Save</button>
									</div>
						</div>
					</form>
				</dd>
			<dt class="<?php echo ($tab=="otherinfo") ? 'active' : 'in-active'; ?>">Other Information</dt>
				<dd class="<?php echo ($tab=="otherinfo") ? '' : 'displaynone'; ?>">
					<!--div class="instructions">Tell us more about yourself so that we can recommend you products and send you more relevant mailers.</div-->
					<form action="/control/updatePersonOther" name="updatepersonform" method="post">
						<input type="hidden" value="" name="firstName">
                        <input type="hidden" value="" name="partyId">
						<div class="field-wrapper oveflowhidden">
							<div class="flt col-one">Gender: </div>	
							<div class="flt col-two">
							<?php if($gender == "Male" || $gender == "male" || $gender == "MALE" || $gender == ""){ ?>	
								<input type="radio" class="col-radio" name="gender" value="M" id="Male" checked="checked" validate="{true,blank,Please specify your gender}" class="col-three"/><label>Male</label>
								<input type="radio" class="col-radio" name="gender" value="F" id="Female" validate="{true,blank,Please specify your gender}" class="col-three"/><label>Female</label>
							<?php } else { ?>
								<input type="radio" class="col-radio" name="gender" value="M" id="Male" validate="{true,blank,Please specify your gender}" class="col-three"/><label>Male</label>
								<input type="radio" class="col-radio" name="gender" value="F" id="Female" checked="checked" validate="{true,blank,Please specify your gender}" class="col-three"/><label>Female</label>
							<?php } ?>
								<div>
									<span id="Male_error" class="errorMsg"></span>
									<span id="Female_error" class="errorMsg"></span>
								</div>
							</div>
						</div>
						<div class="field-wrapper oveflowhidden">
							<div class="flt col-one"><span>Date of Birth:<i>(dd/mm/yyyy)</i> </span></div>	
							<div class="flt col-two">
								<input  type="text" name="showBirthDate" value="<?=$dob ?>" validate="{true,blank,Please Enter Your Date of Birth}" id="showBirthDate" />
								<span id="showBirthDate_error" class="errorMsg"></span>
							</div>
						</div>
						<div class="field-wrapper oveflowhidden">
							<div class="flt col-one"><span>Relationship Status:</span> </div>	
							<div class="flt col-two">
								<select name="maritalStatus" validate="{true,blank,Please Select Your Marital Status}" id="maritalStatus">
                                  	<option value="">Select </option>
                                    <option value="S" <?php if($relationship=='SINGLE'){ echo "selected";} ?>>Single</option>
                                    <option value="M" <?php if($relationship=='MARRIED'){ echo "selected";} ?>>Married</option>
                                </select>
								<span id="maritalStatus_error" class="errorMsg"></span>
							</div>
						</div>
						
						<!--div class="field-wrapper oveflowhidden">
							<div class="flt col-one">Employment: </div>	
							<div class="flt col-two">
								<select name="employmentStatusEnumId" validate="{true,blank, Please Select Employment Status}" id="employmentStatusEnumId" >
                                   	<option value="">Select</option>
                                    <option value="EMPS_STUDENT" <?php if($employment=='Student'){ echo "selected";} ?>>Student</option>
                                    <option value="EMPS_FULLTIME" <?php if($employment=='Full-time Employed'){ echo "selected";} ?>>Salaried</option>
                                    <option value="EMPS_SELF" <?php if($employment=='Self Employed'){ echo "selected";} ?>>Self Employed</option>
                                    <option value="EMPS_RETIRED" <?php if($employment=='Retired'){ echo "selected";} ?>>Retired</option>
                                </select>
								<span id="employmentStatusEnumId_error" class="errorMsg"></span>
							</div>
						</div>
						<div class="field-wrapper oveflowhidden">
							<div class="flt col-one">Education: </div>	
							<div class="flt col-two">
								<select name="educationStatusEnumId" validate="{true,blank,Please Select Your Qualification}" id="educationStatusEnumId">
                                    <option value="">Select</option>
                                    <option value="EDU_MTRC" <?php if($education=='Matriculate/Diploma'){ echo "selected";} ?>>Matriculate/Diploma</option>
                                    <option value="EDU_INTR" <?php if($education=='Intermediate'){ echo "selected";} ?>>Intermediate</option>
                                    <option value="EDU_GRDT" <?php if($education=='Graduate'){ echo "selected";} ?>>Graduate</option>
                                    <option value="EDU_PST_GRDT" <?php if($education=='Post Graduate'){ echo "selected";} ?>>Post Graduate</option>
                                    <option value="EDU_DCTRL" <?php if($education=='Doctoral'){ echo "selected";} ?>>Doctoral</option>
                                </select>
								<span id="educationStatusEnumId_error" class="errorMsg"></span>
							</div>
						</div>
						<div class="field-wrapper oveflowhidden">
							<div class="flt col-one"><span>Annual Income: </span></div>	
							<div class="flt col-two">
								<select name="incomeStatusEnumId" validate="{true,blank,Please Select Your Annual Income}" id="incomeStatusEnumId">
                                    <option value="">Select</option>
                                    <option value="INC_BLW_1_LCS" <?php if($income=='Income less than 1 lacs'){ echo "selected";} ?>>Less than 1 Lakh</option>
                                    <option value="INC_BTW_1_3_LCS" <?php if($income=='Income between 1 and 3 lacs'){ echo "selected";} ?>>1 to 3 Lakh</option>
                                    <option value="INC_BTW_3_5_LCS" <?php if($income=='Income between 3 and 5 lacs'){ echo "selected";} ?>>3 to 5 Lakh</option>
									<option value="INC_BTW_5_10_LCS" <?php if($income=='Income between 5 and 10 lacs'){ echo "selected";} ?>>5 to 10 Lakh</option>
									<option value="INC_BTW_10_15_LCS" <?php if($income=='Income between 10 and 15 lacs'){ echo "selected";} ?>>10 to 15 Lakh</option>
                                    <option value="INC_MORE_15_LCS" <?php if($income=='Income more than 15 lacs'){ echo "selected";} ?>>More than 15 Lakh</option>
                                </select>
								<span id="incomeStatusEnumId_error" class="errorMsg"></span>
							</div>
						</div>
						<div class="field-wrapper oveflowhidden">
							<div class="flt col-one"><span>I am best describe: </span></div>	
							<div class="flt col-two">
								<input  type="text" name="nickname" validate="{true,blank,Please Enter Your Nickname,alphachar,Only alphabets are allowed}" id="nickname" value="<?=$nickname ?>"/>
								<span id="nickname_error" class="errorMsg"></span>
							</div>
						</div-->
						<div class="field-wrapper oveflowhidden">
							<div class="flt col-one">&nbsp;</div>	
							<div class="flt col-two">
								<button class="flat-orange">Save</button>
							</div>
						</div>
					</form>
				</dd>
				<dt class="<?php echo ($tab=="address") ? 'active' : 'in-active'; ?>" id="top">Address</dt>
				<dd class="shippping-ui <?php echo ($tab=="address") ? '' : 'displaynone'; ?>">
					<div class="select-address oveflowhidden checkout-widget">
						<p data-ga="check_out_funnel_mobile##<?php echo $leafTitle; ?>##addnew_address##0" class="section-container-ui flt addnew" id="">
							<span class="addr-head" style="overflow: hidden;">
								<span class="attn-name"> &nbsp;</span>
								<span class="addr-edit">&nbsp;</span>
							</span>
							<span class="address">
								<i class="fa-plus-square"></i>Add New Address
							</span>
							<span>&nbsp;</span>
						</p>
						
				<?php 
					if(isset($addressArray)){
					$i=0;
					foreach ($addressArray as $partyAddress) { 
					$i=$i+1; ?>
					<p data-ga="check_out_funnel_mobile##<?php echo $leafTitle; ?>##continue_withexisting_adderss##0" class="section-container-ui flt addresslist" id="shipadd<?=$partyAddress->contactMechId?>">
		  			<span class="edit-overlay" style="display:none;"></span>
					<span class="addr-head" style="overflow: hidden;">
						<span class="attn-name"> ADDRESS <?=$i ?></span>
						<span class="addr-edit"><a href="#" id="shipadd<?=$partyAddress->contactMechId?>" class="addr-edit-link"><i class="fa-pencil-square-o addr-edit-link"></i> Edit</a></span>
					</span>
					
		  			<span class="address">
			  			<?php if (isset($partyAddress->address->toName)) { ?> <map class="toName"><?=$partyAddress->address->toName;?></map><br/><?php } ?>
			  			<?php if (isset($partyAddress->address->address1)) { 
			  					 $addressLine = $partyAddress->address->address1;
			  					 $remove_character = array("\n", "\r\n", "\r");
								 $addressLine = str_replace($remove_character , ' ', $addressLine);?> 
			  					<map class="address1"><?=$addressLine?></map><br/>
		  				<?php } ?>
			  			<?php if (isset($partyAddress->address->city)) { ?> <map class="city"><?=$partyAddress->address->city;?></map>,<?php } ?> 
			  			<?php if (isset($partyAddress->address->state)) { ?> <map class="state"><?=$partyAddress->address->state;?></map><br/><?php } ?>
			  			<?php if (isset($partyAddress->address->postalCode)) { ?> <map class="postalCode"><?=$partyAddress->address->postalCode;?></map><br/><?php } ?>
			  			<?php if (isset($partyAddress->address->country)) { ?> <map class="country"><?=$partyAddress->address->country;?></map><br/><?php } ?>
			  			<?php if (isset($partyAddress->address->contactMobile)) { ?> <map class="contactMobile"><?=$partyAddress->address->contactMobile;?></map><br/><input type="hidden" value="<?=$partyAddress->address->contactMobile;?>" class="contactNumber"><?php } ?>
		  			</span>
		  			<span>&nbsp;</span>
	    			</p>
	 			<?php } } ?>

	 			</div>
					<div class="create-address section-container-ui">
						<section>
							<div class="unregistered displaynone">
								ENTER A NEW ADDRESS
							</div>
							<div class="register-content displaynone" id="top3">
								<form action="/control/updateAddressProfile" method="post" name="createAddress">
										
										<div class="field-wrapper recipiename">
											<input type="text" value="" placeholder="Recipient Name" id="name" name="name" validate="{true,blank,Recipient Name is required,alphachar,Please enter only alphabets for Name}" tabindex="2">
											<span id="name_error" class="error">&nbsp;</span>
										</div>
										
									   <div class="field-wrapper">
											<input type="number" value="" placeholder="Pincode" id="pincode" name="pincode" maxlength="6" validate="{true,blank,Pin Code is required,pincodeIND,Please enter valid Pin Code}" tabindex="3">
											<span id="pincode_error" class="error">&nbsp;</span>
										</div>
										<div class="field-wrapper">
											<input type="text" value="" placeholder="City" id="city" name="city" validate="{true,blank,City is required,cityname,Please enter a valid city name}" tabindex="4" readonly="readonly">
											<span id="city_error" class="error">&nbsp;</span>
										</div>
										<div class="field-wrapper">
											<select id="state" name="state" validate="{true,blank,Please select the state}" tabindex="5" readonly="readonly" disabled="disabled">
												<option selected="selected" value="" class="label">State</option>
												<option class="IND" title="IN-AN" value="IN-AN">Andaman and Nicobar</option>
												<option class="IND" title="IN-AP" value="IN-AP">Andhra Pradesh</option>
												<option class="IND" title="IN-AR" value="IN-AR">Arunachal Pradesh</option>
												<option class="IND" title="IN-AS" value="IN-AS">Assam</option>
												<option class="IND" title="IN-BR" value="IN-BR">Bihar</option>
												<option class="IND" title="IN-CH" value="IN-CH">Chandigarh</option>
												<option class="IND" title="IN-CT" value="IN-CT">Chhattisgarh</option>
												<option class="IND" title="IN-DD" value="IN-DD">Daman and Diu</option>
												<option class="IND" title="IN-DN" value="IN-DN">Dadra and Nager Haveli</option>
												<option class="IND" title="IN-ND" value="IN-ND">Delhi</option>
												<option class="IND" title="IN-GA" value="IN-GA">Goa</option>
												<option class="IND" title="IN-GJ" value="IN-GJ">Gujarat</option>
												<option class="IND" title="IN-HP" value="IN-HP">Himachal Pradesh</option>
												<option class="IND" title="IN-HR" value="IN-HR">Haryana</option>
												<option class="IND" title="IN-JH" value="IN-JH">Jharkhand</option>
												<option class="IND" title="IN-JK" value="IN-JK">Jammu and Kashmir</option>
												<option class="IND" title="IN-KA" value="IN-KA">Karnataka</option>
												<option class="IND" title="IN-KL" value="IN-KL">Kerala</option>
												<option class="IND" title="IN-LD" value="IN-LD">Lakshadweep</option>
												<option class="IND" title="IN-MH" value="IN-MH">Maharashtra</option>
												<option class="IND" title="IN-ML" value="IN-ML">Meghalaya</option>
												<option class="IND" title="IN-MN" value="IN-MN">Manipur</option>
												<option class="IND" title="IN-MP" value="IN-MP">Madhya Pradesh</option>
												<option class="IND" title="IN-MZ" value="IN-MZ">Mizoram</option>
												<option class="IND" title="IN-NL" value="IN-NL">Nagaland</option>
												<option class="IND" title="IN-OR" value="IN-OR">Orissa</option>
												<option class="IND" title="IN-PB" value="IN-PB">Punjab</option>
												<option class="IND" title="IN-PY" value="IN-PY">Pondicherry</option>
												<option class="IND" title="IN-RJ" value="IN-RJ">Rajasthan</option>
												<option class="IND" title="IN-SK" value="IN-SK">Sikkim</option>
												<option class="IND" title="IN-TN" value="IN-TN">Tamilnadu</option>
												<option class="IND" title="IN-TR" value="IN-TR">Tripura</option>
												<option class="IND" title="IN-TL" value="IN-TL">Telangana</option>
												<option class="IND" title="IN-UL" value="IN-UL">Uttaranchal</option>
												<option class="IND" title="IN-UT" value="IN-UT">Uttarakhand</option>
												<option class="IND" title="IN-UP" value="IN-UP">Uttar Pradesh</option>
												<option class="IND" title="IN-WB" value="IN-WB">West Bengal</option>					  				</select>	
											<span id="state_error" class="error">&nbsp;</span>
										</div>
										<div class="field-wrapper">
											<input type="text" value="" placeholder="Mobile No" id="mobileno" name="mobileno" validate="{true,blank,Mobile No. required,phoneIND,Please enter valid mobile number}" tabindex="6" maxlength="10">
											<span id="mobileno_error" class="error">&nbsp;</span>
										</div>
										<div class="field-wrapper">
											<textarea placeholder="Shipping Address" id="address" name="address" validate="{true,blank,Address is required,htmltag,HTML tags are not allowed}" tabindex="7" maxlength="1024"></textarea>
											<span id="address_error" class="error">&nbsp;</span>
										</div>
											<input type="hidden" value="" name="addredit" id="addredit">
										<div class="field-wrapper text-align-right oveflowhidden">				  				
											<button class="flat-red edit-cancel flt" type="reset">Cancel</button>
											<button data-ga="check_out_funnel_mobile##checkout##continue_withnew_address##0" class="flat-orange flr" type="submit" data-text="Save" data-edit-text="Save" tabindex="9">Save</button>
										</div>
								</form>
							</div>
						</section>
			 </div>
				</dd>
				<dt class="<?php echo ($tab=="changepassword") ? 'active' : 'in-active'; ?>">Change Password</dt>
				<dd class="<?php echo ($tab=="changepassword") ? '' : 'displaynone'; ?>">
					<form autocomplete="off" name="changepasswordform" action="/control/updateProfilePassword" method="post">
					<input type="hidden" value="" name="loginId">
							<div class="field-wrapper oveflowhidden">
								<div class="flt col-one"><span>Current Password<i class="required">*</i></span></div>
								<div class="flt col-two">
									<input type="password" maxlength="14" validate="{true,blank,Please enter a password}" name="currentPassword" id="currentPassword" >
									<span id="currentPassword_error" class="errorMsg"></span>
								</div>
							</div>
							<div class="field-wrapper oveflowhidden">
								<div class="flt col-one"><span>New Password<i class="required">*</i></span></div>
								<div class="flt col-two">
									<input type="password" maxlength="14" validate="{true,blank,Please enter a valid password,password, Password must be 6 to 14 characters with no spaces}" name="newPassword" id="newPassword" >
									<span id="newPassword_error" class="errorMsg"></span>
								</div>
							</div>
							<div class="field-wrapper oveflowhidden">
								<div class="flt col-one"><span>Confirm Password<i class="required">*</i></span></div>
								<div class="flt col-two">
									<input type="password" maxlength="14" validate="{true,blank,Please enter a password,confField,Both passwords do not match. Please try again}" name="newPasswordVerify" id="conf_newPassword" >
									<span id="conf_newPassword_error" class="errorMsg"></span>
								</div>
							</div>
							<div class="field-wrapper oveflowhidden">
								<div class="flt col-one">&nbsp;</div>
								<div class="flt col-two">
									<button class="flat-orange">Submit</button>
								</div>
							</div>            
				  </form>
				</dd>
		</ul>
	</section>

<!-- container body end -->
<?php include __DIR__ . "/../common/newfooter.phtml"; ?>
 <script>
 paramsObj._activeTab = "<?=$tab;?>";
 </script>