<?php include __DIR__ . "/../common/header.phtml"; ?>
<div id="et_amazon"  >
   <div class="headeramazone"><a class="logo" href="#"><img src="http://shop.gadgetsnow.com/images/less/shopping_logo.png" /></a></div>
   <div pg="abc#xyz#pp" class="adcontainer">
	  <h2>You are being redirected to <br><br/><img alt="tata cliq" src="https://img1.gadgetsnow.com/gd/imgbn/tatacliq.png" width="186"></h2>
	  <input type="hidden" id="etamazon" value="Affiliate##${tag}##${amz_ga}##0" />
	  <div id="countdown"></div>
	  <p>
		 If this is taking too long,
		 <a id="clickHere" data-ga="Affiliate##${tag}##${amz_ga}##0" href="${decodedUrl}">Click here</a>
	  </p>
	  <span>Please check product details at retailer site before purchasing.</span>
   </div>
   <script>
	  (function countdown(remaining) {
		if(remaining <= 0){
		var _val = document.getElementById("etamazon").value;
		var _ga_array = _val.split("##");
		gaEvent(_ga_array);

		window.location.href = '${decodedUrl}';
		//location.reload(true); // please comment when go live;
		//return false;
		}
		//	location.reload(true);
		document.getElementById('countdown').innerHTML = remaining;
		setTimeout(function(){ countdown(remaining - 1); }, 1000);
	})(5);
	
   </script>
</div>
<?php include __DIR__ . "/../common/newfooter.phtml"; ?>