<!-- registerUser Form-->
<script src='https://www.google.com/recaptcha/api.js'></script>
<form action="/control/registerUser" method="post" name="registerUser">
<?php if ($lastPage!="") { ?>
		  					<input type="hidden" value="<?=$lastPage?>" name="lp">
		  				<?php } ?>
<?php if($_GET['prm']) { ?>
<input type="hidden" value="<?=$_GET['prm']?>" name="prm"/>
<?php }?>		  				
   <div class="field-wrapper">
		<input type="text" value="" placeholder="Enter your Name" id="newname" name="name" validate="{true,blank,Please specify a name,alphachar,Please enter a valid name}" tabindex="6"/>
		<span id="newname_error" class="error">&nbsp;</span>
	</div>
   <div class="field-wrapper">
		<input type="text" value="" placeholder="Enter your email" id="newemail" name="email" validate="{true,blank,Please specify your valid email address,email,Please enter a valid email address}" tabindex="7"/>
		<span id="newemail_error" class="error">&nbsp;</span>
	</div>
	<div class="field-wrapper">
		<input type="password" value="" placeholder="Password" class="password" id="newpassword" name="password" validate="{true,blank,Please enter a valid password,password, Password must be 6 to 14 characters with no spaces}" tabindex="8" />
		<span id="newpassword_error" class="error">&nbsp;</span>
	</div>
	<div class="field-wrapper">
		<input type="password" value="" placeholder="Confirm Password" class="password" id="conf_newpassword" name="conf_newpassword" validate="{true,blank,Please enter a valid password,confField, Password does not match with above password}" tabindex="8" />
		<span id="conf_newpassword_error" class="error">&nbsp;</span>
	</div>
	<div class="field-wrapper text-align-right">				  				
		<button data-ga="check_out_funnel_mobile##<?php echo $leafTitle; ?>##continue_register_new##0" class="flat-orange" type="submit" tabindex="9">Register</button>
	</div>
	<div class="g-recaptcha" data-sitekey="6LcOmDsUAAAAAP0gh6QgPNMvc5DF8Bq7DubCF86_"></div>
</form>
<!-- registerUser Form End-->