<?php include __DIR__ . "/../common/header.phtml"; ?>
<div class="login-container clr">

	<div class="thankmessage">
	<?php if(isset($_SESSION['campaignRegisterRsltMsg'])) {
		$msg = $_SESSION['campaignRegisterRsltMsg'];  
	?>		 

		<h3><?=$msg?></h3>
		<?php unset($_SESSION['campaignRegisterRsltMsg']); 
		if(strpos($msg,"Looks like you are already registered with us. Please sign in to your account for more exciting offers.") !== false){
			setcookie("showRegistrationCampaign", "false", time()+(86400*365), "/"); 
		}
	} else { ?>
	<!-- <h3>Thanks for signing up</h3> -->
	<h3>Hola!!</h3>
	<div class="welcometext">
	
		 Great to have you here. You are now a registered user with Gadgets Now. An email is on its way to you for verification.
 
		<?php setcookie("showRegistrationCampaign", "false", time()+(86400*365), "/"); ?>
		<?php 
			if(isset($_SESSION['email'])){
				$email = $_SESSION['email'];
		?>
		<input type="hidden" value="<?=$email?>" name="email"/>
		<br/>Not able to find one? <a href="/control/resendmail?email=<?=$email?>">Click here</a> to resend.
		<?php 
				if(!isset($_SESSION)) session_start();
				//unset($_SESSION["email"]);
			}
		  ?>
	</div>
	<?php  } ?>
	
		<?php 
	
	if(isset($_GET['prm']))
	{
		$email='';
		if(isset($_SESSION["email"])){
			$email = $_SESSION["email"];
		}
 			$nortonRedirect="https://www.jdoqocy.com/click-100112161-13154027?sid=";			 
 			$email=rawurlencode($email);
			$email1=str_replace(".","%2E",$email);
			$nortonRedirect=$nortonRedirect.$email1;
//			$nortonRedirect=str_replace(".","%2E",$nortonRedirect);
	?>
	<div class="text-center" style="font-size:16px; margin:16px">You will be redirect to Notron website...
	<img src="https://img1.gadgetsnow.com/gd/imgbn/NortonLogo200x150_n32.jpg" width="50%" />
	<div style="border:1px solid #000; font-size:24px; width:50px; line-height:50px; text-align:center; margin:16px auto 0; border-radius:100%;" id="holoo">0</div>
	</div>
	<div class="continueshopping flat-orange"><a href="/">Continue Shopping</a></div>
	
	
</div>
<script type="text/javascript">
	 
	(function holoo(remaining) {
		 
                if(remaining < 1){
                
                 window.location.href = "<?=$nortonRedirect?>";                 
                return false;
                }
                document.getElementById('holoo').innerHTML = remaining;
                setTimeout(function(){ holoo(remaining - 1); }, 1000);
        }(3));
        
	 </script>
	 <?php }
	?>
<?php include __DIR__ . "/../common/newfooter.phtml"; ?>

