<?php include __DIR__ . "/../common/header.phtml"; ?>
<!-- container body start -->
<div class="my-account-ui">
	<!-- my account start-->
	<?php if($caseCategory=="REQUEST_WEB_CASE"){?><h1>Report a Case</h1><?php }
	elseif($caseCategory=="REQUEST_CANCELLATI"){?><h1>Request Cancellation</h1><?php }?>
   
   <?php $order=$orderItems[0]; ?>
         <div class="section-container-ui order-create-case">                           
                    <h4>Order No. <?=$order->ORDER_ID?></h4>
                  <form class="popupform reportcase" id="feedbackform" name="feedbackform" action="createStorefrontCase" method="post">
                    <input type="hidden" value="<?=$order->ORDER_ID?>" id="orderId" name="orderId">
                    <input type="hidden" value="WEB_CASE_CHANNEL" id="salesChannelEnumId" name="salesChannelEnumId">
                    <input type="hidden" value="<?=$caseType?>" id="custRequestTypeId" name="custRequestTypeId">
                    <input type="hidden" value="<?=$caseCategory?>" id="custRequestCategoryId" name="custRequestCategoryId">
                    <?php if($caseCategory=="REQUEST_WEB_CASE"){ ?> 
                    <label for="custRequestSubtypeId">Issue Type<span class="required">*</span></label>                        
                    <select id="custRequestSubtypeId" name="custRequestSubtypeId" validate="{true,blank,Sub Issue Type is required}">
                        <option value="">Choose Issue</option>
                        <option value="CANCELLATION">Cancellation</option>
                        <option value="REPLACEMENT">Replacement</option>
                        <option value="REFUND">Refund</option>
                        <option value="REPAIR">Repair</option>
                        <!-- <option value="GC_ISSUE">GC Issue</option> -->
                        <option value="PAYMENT_ISSUE">Payment Issue</option>
                        <option value="PRICING_ISSUE">Pricing Issue</option>
                        <option value="NON_DELIVERY">Non Delivery</option>
                        <option value="PARTIAL_DELIVERY">Partial Delivery</option>
                    </select>
                    <span id="custRequestSubtypeId_error" class="errorMsg error"></span>
                    <?php } ?>    
                    <?php if($caseCategory=="REQUEST_CANCELLATI"){ ?>
                    <label for="cancellationReason">Cancellation Reason<span class="required">*</span></label>
					<select validate="{true,blank,Cancellation Reason is required}" name="cancellationReason" id="cancellationReason">
						<option value="">Choose Issue</option>
						<option value="Not interested any more">Not interested any more</option>
						<option value="Order delivery delayed">Order delivery delayed</option>
						<option value="Ordered duplicate items by mistake">Ordered duplicate items by mistake</option>
						<option value="Purchase wrong item">Purchase wrong item</option>
						<option value="Other Reasons">Other Reasons</option>
					</select>
			        <span class="errorMsg error" id="cancellationReason_error"></span>
                    <?php } ?>
                    
                    <label for="subOrderId">Product<span class="required">*</span></label>
                    <select validate="{true,blank,Please choose Product}"  name="orderItemSeqId" id="orderItemSeqId">
                    	<?php //CODE FOR oxiwallet 
								$cancellationforoxi = false;
								foreach($orderItems as $order){
									if($order->ITEM_DESCRIPTION != "Oxigen Wallet 10 Ka 30 Offer"){
										$cancellationforoxi = true;
								} }
							// ?> 
                    	<?php if(sizeof($orderItems)>1){ ?>
	                        <option value="">Choose Product</option>
	                        <?php if ($cancellationforoxi == false){ ?>
	                        <option value="all">All Products</option>                            
                        <?php } }?>
                        <?php foreach($orderItems as $order){
                        	if($order->ITEM_DESCRIPTION != "Oxigen Wallet 10 Ka 30 Offer"){
                        ?>
                        	<option value="<?=$order->ORDER_ITEM_SEQ_ID?>"><?=$order->ITEM_DESCRIPTION?></option>
                        <?php } }?>
                    </select>
                    <span id="orderItemSeqId_error" class="errorMsg"></span>
                    
                    <label for="casedescription">Case Description</label>
                    <textarea name="description" id="description" cols="56" rows="3" validate="{false,blank,Write review,htmltag,HTML tags are not allowed}" maxlength="1024"></textarea>
                    <span id="description_error" class="errorMsg error"></span>

                    <button class="flat-black">Submit</button>
                    
                </form>
           </div>
   
    <!-- my account start-->
<?php include __DIR__ . "/../common/newfooter.phtml"; ?>
