<?php include __DIR__ . "/../common/header.phtml"; ?>
<div class="body body-reviewrating">
	<!-- loop start -->
	<div class="productreiverating">
			<form name="reviewProduct" method="post" action="">
			<div class="producttab">
				<div class="rating-cell">
					<div class="productimg">
						<img src="//192.168.38.246/images/products/medium/G15895/mobiles/smart-phones/yu-yureka-s-16gb-grey-.jpg"/>
					</div>
				</div>
				<div class="rating-cell">
					<div class="product-title">Asus Zenfone Max ZC550KL - 16GB (Black)</div>
					<div class="field-wrapper writerating">
						<span class="revielable"> How do you rate this product  *</span>
						<input id="productRating" type="hidden" name="productRating" validate="{true,blank,Rating required}" >
						<div class="rating">
							<label>
								<input type="radio" value="5" title="Excellent"> 5
							</label>
							<label>
								<input type="radio" value="4" title="Very Good"> 4
							</label>
							<label>
								<input type="radio" value="3" title="Good"> 3
							</label>
							<label>
								<input type="radio" value="2" title="Average"> 2
							</label>
							<label>
								<input type="radio" value="1" title="Below Average"> 1
							</label>
						</div>
						<span id="productRating_error" class="error">&nbsp;</span>
					</div>
					
				</div>
			</div>
			<div class="rating-form">
					<input name="productStoreId" value="" type="hidden">
					<input name="productId" value="" type="hidden">
					<input name="product_id" value="" type="hidden">
					<input name="category_id" value="" type="hidden">
					<input name="postedAnonymous" value="false" type="hidden">
					
					<div class="field-wrapper clear">
						<input id="reviewtitle" name="reviewTitle" maxlength="100" class="frmtxtElement hasPlaceholder" placeholder="Review Title *" validate="{true,blank,Please provide a summary for your Review,htmltag,HTML tags not allowed}" type="text">
						<span id="reviewtitle_error" class="error">&nbsp;</span>
					</div>
					<div class="field-wrapper">
						<textarea maxlength="2048" id="casedescription" class="frmtxtElementarea hasPlaceholder" name="productReview" cols="" rows="" placeholder="Your Review (max. 2048 characters)" validate="{true,blank,Please provide a description for your Review,htmltag,HTML tags not allowed}"></textarea>
						<span id="casedescription_error" class="error">&nbsp;</span>
					</div>
					<div class="field-wrapper">
						<input class="flat-orange" data-ga-track="write_review_pdp##cateoryname|productname##pdp|category name|productId|product name|product price|0##0" value="Submit" type="submit"> 
					</div>
				
			
			</div>
		</form>	
	</div>
	<!-- loop end -->
	





</div>
  <?php include __DIR__ . "/../common/newfooter.phtml"; ?>