<?php include __DIR__ . "/../common/header.phtml"; ?>
<?php 
$campaignPID=$GLOBALS ['general'] ['BLOCK_CANCELLATION_PID'];
?>
<?php 
if(!(session_status() === PHP_SESSION_ACTIVE)){
	session_start();
}
$userName = "Guest";
$isUserLogin = "false";
$continentRedirect = "/";
if(isset($_SESSION['userLogin'])){
	$userLogin = $_SESSION['userLogin'];
	$userName = $userLogin->getUserName();
	$isUserLogin = "true";
}
if(isset($_SESSION['gcValues']['coupon']))
{
	$gcId =  $_SESSION['gcValues']['coupon'];
}
if(isset($_COOKIE['geo_continent']))
{
	$geoContinent = $_COOKIE['geo_continent'];
	$geoCountry=isset($_COOKIE['geo_country'])?$_COOKIE['geo_country']:'';
	$geoRegion=isset($_COOKIE['geo_region'])?$_COOKIE['geo_region']:'';
	
	if($geoContinent == "EU" || ($geoCountry== "US" && $geoRegion== "CA"))
	{
		header('location:'.$continentRedirect,false);
	}
}
?>
<!-- container body start -->
<div class="shopping-cart-ui oveflowhidden min-height">
 	<aside>
		<div class="cart-header">
			<span class="carttab active" rel="shoppingcart">&nbsp;My Shopping Cart</span>
			<!-- span class="wishlisttab checktab" rel="shoppingwishlist">My Wishlist</span -->
		</div>
	</aside>
 	
    <!-- shopping cart start-->
	<?php if(isset($emptyCart) && $emptyCart==true) { ?>
	<form class="cart-form tab-content shoppingcart" name="cart-form">
		<div class="emptycart section-container-ui">
			<section>
			<p><span>Oops!!! Looks like your cart's empty.</span></p>
			<div class="messge">You can add products by browsing through our Collection of  <a href='/mobiles/mobiles-trending-4g-phones/'>Trending 4G Phones</a>, <a href='/mobiles/mobiles-new-releases/'>New Releases</a> and <a href='/mobiles/mobiles-best-selling-smartphones/'>Best Seller Smartphones</a>. </div>
        	<div class="messge"><a href="/">Continue Shopping >></a> </div>
			</section>
		</div>
	</form>
	 <?php } else { ?>
		<form class="cart-form tab-content shoppingcart" name="cart-form" method="post" action="/control/modifycart">
		<input type="hidden" name="quantity" value=""/>
		<input type="hidden" name="productid" value=""/>
		<input type="hidden" name="productName" value=""/>
		<input type="hidden" name="cart_action" value=""/>
		<input type="hidden" name="cartId" value="<?=$cart->getShoppingList()->getShoppingListId()?>"/>
		<section>
			<div class="oveflowhidden">
				<?php if(isset($cart)){
				$grandTotal=0;$discountByCoupon=0;
				/*foreach($cart->getShoppingList()->getShoppingListItems() as $productObj) { 
				print_r($productObj);
				}*/
				//die;
				$array_productid = "";
				$posistion = '';
				
				foreach($cart->getShoppingList()->getShoppingListItems() as $productObj) { 
				    
					if (! isset ( $_SESSION )) session_start ();
					$product=new ShoppingListItem();
					if (get_class($productObj)=='stdClass') {
						Utils::Cast($product, $productObj);	
					}else {
						$product=$productObj;
					}
					$isInStock =$product->getIsInStock();
					$tok = strtok($campaignPID, ',');
					$isCampaignPid = false;
				 	while ($tok !== false) {
						if($product->getProductId() == $tok)
						{
						$isCampaignPid=true;
						//break;
						}
						$tok = strtok(',');
					} 
					if($product->getProductId()!="") {
						$pId=($product->getIsVariant()?$product->getVirtualProductId():$product->getProductId()); ?>
						<!-- product box start -->
						<?php $array_productid = $product->getProductId().",".$array_productid; 
							$posistion = 1+$posistion;
						?>
						
						<div class="product-box confirmbox section-container-ui" data-productId="<?=$product->getProductId()?>">
							<p class="remove-cart"  data-ga="check_out_funnel_mobile##<?php echo $leafTitle; ?>##remove##0">&#9447 </p>
							<a href="<?=$cartProdUrlArr[$pId]?>">
							<div class="flt cart-img">
								<figure><img data-original="<?=$cartProdImageUrlArr[$pId]?>" class="lazy" /></figure>
							</div>
							</a>
							<div class="cart-product-box flt">
								<a href="<?=$cartProdUrlArr[$pId]?>">
								<figcaption><div><?=$product->getProductName()?></div></figcaption>
								</a>
								<dl class="oveflowhidden">
									<?php if($product->getIsVariant() && issetFunc($product->getStandardFeature())) {
										foreach($product->getStandardFeature() as $sf){  ?>
											<dt><?=key($sf)?></dt><dd><?=current($sf)?></dd>
										<?php } 
									} ?>
									<dt>Quantity</dt><dd>
									<select class="change-quantity" catalog-name="<?=$product->getProdCatalogName(); ?>" <?php if(isset($isCampaignPid) && $isCampaignPid==true ){ ?> data-promotion="<?php echo $product->getProductId();?>" <?php } ?>>
									
									<?php if(isset($isInStock)  && $isInStock==false ){?>
									    <option value="1" selected>1</option>
									<?php } else {
										$maxQty = 5;
										?>
									<?php for ($i = 1; $i <= $maxQty; $i++) { 
										if($product->getQuantity()==$i){ ?>
											<option value="<?=$i?>" selected><?=$i?></option>
										<?php } else {?>
											<option value="<?=$i?>"><?=$i?></option>
									<?php }}} ?>						
									  </select>
								  </dd>
									<?php 
										if($product->getBasePrice()>0){
											$priceToCalc=$product->getBasePrice();
										}else{
										?>
										<dt></dt><dd>Issues with price</dd>
										<?php
											continue;
											?>
											
											<?php
										}
										$itemAmount=($priceToCalc+$product->getShippingPrice())*$product->getQuantity();
										$grandTotal=$grandTotal+$itemAmount;
										$qty = $product->getQuantity();
										$discountByCoupon=$discountByCoupon+($product->getGcDiscount());
										$unitDiscount = $product->getGcDiscount();
										if($product->getGcDiscount() > 0 && $product->getQuantity()>1)
										{
											//$unitDiscount = $product->getGcDiscount()/$product->getQuantity(); 
										}
									?>
									
									<?php if(isset($priceToCalc) && $priceToCalc>0 && $priceToCalc!=$product->getListPrice()) {?>	
										<dt>MRP</dt><dd class="mrp-price-ui"><?=number_format($product->getListPrice())?></dd>	
			                        <?php } ?>
									<dt>Unit Price</dt><dd class="offer-price-ui"><?=number_format($priceToCalc)?></dd>
									<?php if($product->getShippingPrice()>0){ ?><dt>Shipping</dt><dd class="offer-price-ui"><?=number_format($product->getShippingPrice())?></dd> <?php } ?>
									<?php if($product->getGcDiscount()>0){ 
										$itemAmount=$itemAmount-$product->getGcDiscount()?>
										<dt>Discount</dt><dd class="offer-price-ui"><?=number_format($unitDiscount)?></dd>
			                       	<?php } ?>	
								</dl>
							</div>
							 <div class="clr oveflowhidden cart-product-sub-total">
									<dl>
										<dt>Sub Total</dt><dd class="offer-price-ui"><?=number_format($itemAmount)?></dd>
									</dl>
							 </div>
							 <div class="clr move-to-wishlist">
							  <?php if( $product->getPresentInWishList()) {?>
							  <!-- p class="cart-anch"><span class="cart-icon-add">&nbsp;</span></p -->
							  <?php }else {?>
									<!--a href="#" data-ga-track="buynow_popup##move2wishlist##<?=$product->getProdCatalogName(); ?>|<?=$product->getproductCategoryId() ?>|<?=$product->getProductId()?>|<?=$product->getProductName()?>|<?=number_format($priceToCalc)?>|<?php if($product->getShippingPrice()>0){ ?><?=number_format($product->getShippingPrice())?><?php } ?>|<?=$userName?>##0"> <span class="cart-icon">&nbsp;</span></a-->
									<!-- Universal GA code -->
									<input type="hidden" class="remove-ga-track" enhanced-data-ga="event~removeFromCart##id~<?=$product->getProductId()?>##name~<?=$product->getProductName()?>##brand~no-brand##category~<?=$product->getProdCatalogName(); ?>|<?=$product->getproductCategoryId() ?>|<?=$product->getCategoryName() ?>##price~<?=number_format($priceToCalc)?>##quantity~<?=$product->getQuantity();?>##position~<?=$posistion;?>" value="buynow_popup##remove_item##<?=$product->getProdCatalogName(); ?>|<?=$product->getproductCategoryId() ?>|<?=$product->getProductId()?>|<?=$product->getProductName()?>|<?=number_format($priceToCalc)?>|<?php if($product->getShippingPrice()>0){ ?><?=number_format($product->getShippingPrice())?><?php } ?>|<?=$userName?>##0" />
									<!-- Universal GA code -->
									<?php } ?>
							 </div>
							 <?php //if($discountByCoupon>0 && isset($_SESSION['gcValues']) && isset($_SESSION['gcValues']['coupon']) && $_SESSION['gcValues']['status']=='success'){ ?>
								 <!-- <div class="offer-text-cart-product">
									Tap to apply coupon code <span class="cart-coupon"><//?=$_SESSION['gcValues']['coupon']?></span> 
								 </div> --> 
							 <?php //} ?>
							 <!-- <?php //if($product->getOfferText()!="" && $product->getOfferText()!='NO_OFFER'){ ?>
								 <div class="offer-text-cart-product"><?//=$product->getOfferText()?></span> 
								 </div>  
							 <?php //} ?> -->
						 </div>
						<!-- product box end --> 
				<?php 	} 
					}
				}?>
			</div>
		</section>
		</form>
		<!-- Grand Total Start-->
		<form action="/control/checkout" class="tab-content shoppingcart" method="post">
		<section>
			<div class="section-container-ui grandtotal-box oveflowhidden">
				<dl class="oveflowhidden">
					<dt>Grand Total</dt><dd class="offer-price-ui"><?=number_format($grandTotal)?></dd>
					<?php if($discountByCoupon>0){ ?><dt>Discount</dt><dd class="offer-price-ui"><?=number_format($discountByCoupon)?></dd><?php } ?>
					<dt class="amount-payable">Amount Payable </dt><dd class="offer-price-ui orange-text amount-payable toi-text"><?=number_format($grandTotal-$discountByCoupon)?></dd>
				</dl>
				
 				<div class="redeem-code-box oveflowhidden"> 
				<input class="redeem-input-span" type="text" placeholder="Enter you coupon code" value=" <?= isset($_SESSION['gcValues']['coupon'])?$_SESSION['gcValues']['coupon']:''?> " tabindex="1"  maxlength="100"/> 
						<?php if(!isset($_SESSION['gcValues']['coupon'])) {?>					
 					<input class="redeem-button-span" data-ga="check_out_funnel_mobile## <?php  echo $leafTitle; ?> ##redeem_coupon##0" type="button" value="Redeem Coupon" tabindex="2"/> 
					<?php  } else{ 
					?>
 					<input class="clear-button-span"  type="button" value="Clear Gift Coupon" tabindex="2"/> 
					<?php  }?>
 					<span id="GC_error" class="displaynone">Please enter valid coupon code</span> 
 				</div>    
				<div class="oveflowhidden">
					<a href="/" data-ga-track="buynow_popup##continue_shopping##<?php echo rtrim($array_productid,','); ?>|<?=number_format($grandTotal)?>##0" data-ga="check_out_funnel_mobile##<?php echo $leafTitle; ?>##more_shopping##0" class="flt flat-greay continue-button">Continue shopping &#187 </a><input data-ga-track="buynow_popup##placeorder##<?php echo rtrim($array_productid,','); ?>|<?=number_format($grandTotal)?>##0" data-ga="check_out_funnel_mobile##<?php echo $leafTitle; ?>##continue_checkout##0" type="submit" value="Place Order &#187" class="flat-orange flr check-out-button" />
				</div>
			</div>
		</section>
		<!-- Grand Total end-->
		
		 </form>
		<!-- shopping GC cart start-->
		<?php if(isset($productOffers) && isset($productOffers[0])) { ?>
		<section>
			<div class="section-container-ui grandtotal-box oveflowhidden">
				<p class="availablecoupon">Available Coupon:</p>
				<div class="gccalculator">
		    	<div class="couponcodelist">
		    	<ul>
		    	<?php 
		    	$discounttoshow = "";
		    	foreach ($productOffers as $offer)
					{
						$gcCode= $offer['gcCode'];
						$discount = $offer['discount'];
						if(strpos($discount,"rs") !== false)
						{
							 $discount = str_replace("rs", " Rs.",$discount);
							 if(isset($gcId) && $gcId == $gcCode){$_SESSION['shoppingCart']->setGiftCoupondiscountType("FIXEDAMOUNT");}
						}
						if(strpos($discount,"pc") !== false)
						{
							$discount = str_replace("pc", " %",$discount);
							if(isset($gcId) && $gcId == $gcCode){$_SESSION['shoppingCart']->setGiftCoupondiscountType("PERCENTAGE");}
						}
		    			
		    		?>
		    			<li class="<?php if(isset($gcId) && $gcId == $gcCode)
		    			{  $discounttoshow = $discount; ?>active<?php
		    			}else { 
							if(isset($gcId)){ echo "displaynone";} 
						}?>" >	    		
		    			   		
		    			<a href="#" data-value="<?=$gcCode?>">
			    			<div class="couponcheckbox flt"><i class="fa fa-circle-o"></i></div>
			    			<div class="couponcheckcode flt"><?=$gcCode?></div>
			    			<div class="couponchecktext">Use Code and Save upto <?php print_r($discount);?></div>
		    			</a>
		    		</li>
		    		
		    	<?php }  ?>
		    	
		    	
		    		<li class="active">
		    			<?php if(isset($gcId)){ ?> <div class="couponchecktextresponse">Using coupon <span class="couponid"><?=$gcId?></span>, you will save <span class="couponvalue"><?php print_r($discounttoshow);?></span><?php }?> *The savings shown here is for your reference only. To redeem your gift coupon, please use the coupon code before making payment.</div>
		    			<?php if(isset($gcId)){ ?><span class="tryotherCoupon">Try another coupon</span><?php }?>
		    		</li>
		    	</ul>
	    	</div>
			</div>
		</section>
		<?php }?>
		 <form name="redeem_coupon" class="redeem_coupon displaynone" action="/control/gcCalculateForCart" method="post">
			<input type="hidden" name="productid" value=""/>
			<input class="couponredeem" name="gc" type="hidden" />
		 </form>
    <?php } ?> 
     
      <!-- shopping cart start-->
    <form data-ga="check_out_funnel_mobile##<?php echo $leafTitle; ?>##my_wish_list##0" name="wishlist" class="wishlist-form tab-content displaynone shoppingwishlist" method="post" action="/control/modifywishlist">
	 
	 
	 </form>
	<form id="testname" name="test"></form>
    <!-- shopping cart end-->
<?php 
$FRONTEND_URL= $GLOBALS ['general'] ['FRONT_END_SERVER_URL'];
$url = 'http://' . $FRONTEND_URL. $_SERVER['REQUEST_URI'];
if (strpos($url, "mywishlist")!==false){ ?>
<script language="javascript" type="text/javascript">
	paramsObj.wishlistactive="true";
</script>
<?php }else{ ?>
<script language="javascript" type="text/javascript">
	paramsObj.wishlistactive="false";
</script>
<?php } ?>
	<?php include __DIR__ . "/../common/newfooter.phtml"; ?>
