
<input type="hidden" name="productid" value="" />
<input type="hidden" name="cart_action" value="" />
<input type="hidden" name="cart_item_seq_id" value="" />
<?php if (isset ( $wishList )) { ?>
<input type="hidden" name="cart_id" value="<?=$wishList->getShoppingList()->getShoppingListId()?>" />
<?php } ?>

<section>
		<?php
		if (! isset ( $_SESSION ))
			session_start ();
		if (! isset ( $_SESSION ['userLogin'] )) {
			?>

	<form class="cart-form tab-content" name="cart-form" id="shoppingcart">
		<div class="emptycart section-container-ui">
			<section>
				<p>
					<span>Please <a data-ga="check_out_funnel_mobile##<?php if (isset($leafTitle)){echo $leafTitle;} ?>##wishlist_login##0" href="/control/login">Login</a> to see your wishlist.</span>
				</p>
				<!--div class="messge">Go to <a data-ga="check_out_funnel_mobile##<?php if (isset($leafTitle)){echo $leafTitle;} ?>##wishlist_homepage##0" href="/">Homepage</a></div-->
			</section>
		</div>
	</form>
	<?php
		} else if (isset ( $emptyWishList ) && $emptyWishList == true) {
			?>
	<form class="cart-form tab-content" name="cart-form" id="shoppingcart">
		<div class="emptycart section-container-ui">
			<section>
				<p><span>Your WishList is Empty</span></p>
				<div class="messge">You can add products by browsing through our Collection of <a href='/mobiles/mobiles-android-phones/'>Android Phones</a>, <a href='/mobiles/mobiles-trending-4g-phones/'>Trending 4G Phones</a>, <a href='/mobiles/mobiles-new-releases/'>New Releases</a>, <a href='/mobiles/mobiles-best-selling-smartphones/'>Best Seller Smartphones</a> and <a href='/mobiles/mobiles-ios-phones/'>iOS Phones</a>.</div>
				<div class="messge">
					<a href="/">Continue Shopping >></a>
				</div>
			</section>
		</div>
	</form>
	 <?php } else { ?>
    	<div class="oveflowhidden">
		<!-- product box start -->
            <?php
			
			if (isset ( $wishList )) {
				foreach ( $wishList->getShoppingList()->getShoppingListItems () as $productObj ) {
					$product=new ShoppingListItem();
					if (get_class($productObj)=='stdClass') {
						Utils::Cast($product, $productObj);
					}else{
						$product=$productObj;
					}	
		
					if ($product->getProductId () != "") {
						$pId = ($product->getIsVariant () ? $product->getVirtualProductId () : $product->getProductId ());
						?>
						<!-- product box start -->
						<div class="product-box confirmbox section-container-ui"
							data-productId="<?=$product->getProductId()?>"
							data-cartitemseqid="<?=$product->getShoppingListItemSeqId()?>" data-productName="<?=$product->getProductName()?>" data-wishListid="<?=$wishList->getShoppingList()->getShoppingListId()?>">
							<p class="remove-cart">&#9447</p>
							<a href="<?=$wishlistProdUrlArr[$pId]?>"><div class="flt cart-img">
								<figure>
									<img data-original="<?=$wishlistProdImageUrlArr[$pId]?>" class="lazy" />
								</figure>
							</div></a>
							<div class="cart-product-box flt">
								<a href="<?=$wishlistProdUrlArr[$pId]?>">
								<figcaption>
									<div><?=$product->getProductName()?></div>
								</figcaption>
								</a>
								<dl class="oveflowhidden">
								<?php if ($product->getIsVariant () && issetFunc ( $product->getStandardFeature () )) {
										foreach ( $product->getStandardFeature () as $sf ) { ?>
											<dt><?=key($sf)?></dt>
											<dd><?=current($sf)?></dd>
								<?php	}
									} 
									/* if ($product->getDisplayPrice () > 0) {
										if($product->getShippingPrice()>0 && ($product->getDisplayPrice()==($product->getBasePrice()+$product->getShippingPrice()))){
											$priceToCalc=$product->getDisplayPrice()-$product->getShippingPrice();
										}else{
											$priceToCalc=$product->getDisplayPrice();
										}
									} else */ 
									
									if ($product->getBasePrice () > 0) {
										$priceToCalc = $product->getBasePrice ();
									} else {
										$priceToCalc = $product->getListPrice ();
									}
									$itemAmount = ($priceToCalc + $product->getShippingPrice ()) * $product->getQuantity (); ?>
									<?php if(isset($priceToCalc) && $priceToCalc>0 && $priceToCalc!=$product->getListPrice()) {?>	
										<dt>MRP</dt><dd class="mrp-price-ui"><?=number_format($product->getListPrice())?></dd>	
			                        <?php } ?>
									
									<dt>Unit Price</dt><dd class="offer-price-ui"><?=number_format($priceToCalc)?></dd>
									<?php if($product->getShippingPrice()>0){ ?><dt>Shipping</dt>
									<dd class="offer-price-ui"><?=number_format($product->getShippingPrice())?></dd> <?php } ?>
									<?php if($product->getGcDiscount()>0){ 
										$itemAmount=$itemAmount-$product->getGcDiscount()?>
										<dt>Discount Coupon</dt><dd class="offer-price-ui"><?=number_format($product->getGcDiscount())?></dd>
			                       	<?php } ?>
								</dl>
							</div>
							<div class="clr oveflowhidden cart-product-sub-total">
								<dl>
									<dt>Sub Total</dt>
									<dd class="offer-price-ui"><?=number_format($itemAmount)?></dd>
								</dl>
							</div>
							<?php if($product->getComingSoon()==true){ ?>
								<div class="clr out-of-stock">Coming Soon</div>
							<?php } else { ?>
								<div class="clr move-to-cart">
									<a href="#"> <span class="cart-icon">&nbsp;</span><span>Move to Cart</span>
									</a>
								</div>
								<div class="clr out-of-stock displaynone">Not in Stock</div>
							<?php } ?>
						</div>
				<?php
					}
				}
			}
			?>
            <!-- product box end -->
	</div>
    	<?php }?>
    	
    </section>