<?php include __DIR__ . "/../common/header.phtml"; ?>
<div class="login-container clr">
	
	<div class="thankmessage">
	<script src="https://shopping.indiatimes.com/images/js/jquery-1.6.1.min.js"></script>
 <script type="text/javascript">
			String.prototype.hashCode = function() {
				var hash = 0;
				if (this.length == 0) return hash;
				for (i = 0; i < this.length; i++) {
					char = this.charCodeAt(i);
					hash = ((hash<<5)-hash) + char;
					hash = hash & hash;
				}
				return hash;
			}
			function get_cookie(name) {
				var a_all_cookies = document.cookie.split(';');
				var a_temp_cookie = '';
				var cookie_name = '';
				var cookie_value = '';
				var b_cookie_found = false;
			
				for ( i = 0; i < a_all_cookies.length; i++ ) {
					a_temp_cookie = a_all_cookies[i].split( '=' );
					cookie_name = a_temp_cookie[0].replace(/^\s+|\s+$/g, '');
					if(cookie_name == name) {
						b_cookie_found = true;
						if (a_temp_cookie.length > 1)
							cookie_value = unescape(a_temp_cookie[1].replace(/^\s+|\s+$/g, ''));
						return cookie_value;
						break;
					}
					a_temp_cookie = null;
					cookie_name = '';
				}
				if (!b_cookie_found)
					return null;
			}

			var t = 5;
                        var q = location.search.substring(1);
			var c = 'c' + q.hashCode();

                        if(q.indexOf('?') < 0) {
				var rand = Math.floor((Math.random()*1000000000)+1);
				q = q.replace('&', '?' + rand + '_');
			}
			if(q.indexOf('checkout') >= 0 || q.indexOf('http') != 0)
				q = 'http://' + document.domain;


			if(get_cookie(c) == null)
				document.cookie = c + "=" + 0;
			else if(get_cookie(c) > 0)
				q = 'http://' + document.domain;
			else document.cookie = c + "=" + ( parseInt( get_cookie(c) ) + 1 );

			q = 'http://m.shop.gadgetsnow.com/';
                        $(document).ready( function() {
				$('#loc').html(q);

                                setInterval(function() {
					t--;

                                	if(t < 0) window.location.replace(q);
					else $('#tim').html(t);
				}, 1000);
                        });
                </script>
	
	<h3>Thanks for your interest in <br/>'<?=$productName?>'</h3>
	<div class="welcometext">
		We will notify you once this product is back in stock. <br/>You will be redirected to home page.<br/>
		in <span id='tim'>5</span> seconds. <br />
		
	</div>

	<div class="continueshopping flat-orange"><a href="/">Continue Shopping</a></div>
</div>
<?php include __DIR__ . "/../common/newfooter.phtml"; ?>
