<!DOCTYPE html>
<?php

include __DIR__ . "/../../models/WibmoTransaction.php";
include __DIR__ . "/../../models/CustomerInfo.php";

?>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<title>Payment in process..</title>
<link href="/mobile/css/mobile_style.css" rel="stylesheet"
	type="text/css" />
<link rel="shortcut icon" href="/img/favicon.ico" />
<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
</head>
<body>
 <?php
	
	$wibmoTransc = new WibmoTransaction ();
	$custInfo = new CustomerInfo ();
	$transactionInfo = new TransactionInfo ();
	$merchantInfo = new MerchantInfo ();
	// Customer Info
	$custInfo->setCustMobile( "9878678909" );
	$custInfo->setCustEmail ( $paymentParams ['email'] );
	$custInfo->setCustName ( "name" );
	$custInfo->setCustDob ("dob");
	// Transcation info
	$transactionInfo->setTxnAmount ($paymentParams['amt'] );
	$transactionInfo->setTxnCurrency ( "356" );
	$spt = array("w.ds.pt.card_visa","w.ds.pt.card_mastercard");
	$transactionInfo->setSupportedPaymentType ( $spt );
	$transactionInfo->setMerAppData ( $paymentParams ['email'] );
	$transactionInfo->setTxnDesc ( $paymentParams ['custName'] );
	$transactionInfo->setMerTxnId ( $paymentParams ['oid'] );
	// Merchant Info
	$merchantInfo->setMerId ( "12210716908316572850" );
	$merchantInfo->setMerAppId ( "5567" );
	$merchantInfo->setMerCountryCode ( "IN" );
	$hash = $paymentParams['c'];
	$wibmoTransc->setCustomerInfo ( $custInfo );
	$wibmoTransc->setMerchantInfo ( $merchantInfo );
	$wibmoTransc->setTransactionInfo ( $transactionInfo );
	$wibmoTransc->setMsgHash($hash);
	$data = json_encode ( $wibmoTransc );
	echo "<form name='paymentForm' method='post' >
		<input type='hidden' name='TransactionFinalStatus' value='SUCCESS'/>
        <br><br>
        <center><b><font face='arial' size='3'>
	    <br><br>Please wait, your order is being generated.<br>Please do not click on the browser back button.</font></b></center>				
        </FORM>";
	
	?>
<script>
window.WibmoIAP.toast('Please wait, requesting wibmo to complete txn'); 
window.WibmoIAP.doIAPWPay('<?=$data?>','http://m.stage.shop.indiatimes.com/control/processPayZapp');
</script>
</body>
</html>
