<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<title>Payment in process..</title>
	<link href="/mobile/css/mobile_style.css" rel="stylesheet" type="text/css" />
	<link rel="shortcut icon" href="/img/favicon.ico" />
	<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
	<script language='Javascript'>
		function SubmitForm(){
			
			$("form[name=paymentForm]").submit();
		}
</script>
	</head>
<body onload="javascript:SubmitForm();">
<center>

<?php include('Crypto.php')?>
<?php 

	error_reporting(0);
	$amount = $_POST['amount'];
	if(isset($_SESSION ['userLogin']))
	{
		$userId =$_SESSION ['userLogin']->getUserLoginId();
		
		
		
    if(isset($tempOrderId) && $tempOrderId !== "" && isset($amount))
    {	
    	$shipAdd = $_SESSION ['shoppingCart']->getShippingAddress();
    	
		$frontendUrl = $GLOBALS['general']['FRONT_END_SERVER_URL'];
		$merchantId =  $BILLDESK_MERCHANT_ID;
		$ChecksumKey = $BILLDESK_CHECKSUM_CODE;
		$securityKey = $BILLDESK_SECURITY_CODE;
		$amount = 2;
		$customerId = $tempOrderId;
		$txnAmount = $amount;
		$CurrencyType = 'INR';
		$TypeField1 = 'R';
		$SecurityID = $securityKey;
		$TypeField2 = 'F';
		
		//need to change....
		$RU =  'http://stage.shop.gadgetsnow.com/control/paymentVerifyBillDesk';
		

		$paramMessage = $merchantId.'|'.$customerId.'|NA|'.$txnAmount.'|NA|NA|NA|'.$CurrencyType.'|NA|'.$TypeField1.'|'.
				$SecurityID.'|NA|NA|'.$TypeField2.'|NA|NA|NA|NA|NA|NA|NA|'.$RU;
		
		$SecureTxt = hash_hmac('sha256',$paramMessage,$ChecksumKey, false);
		$SecureTxt = strtoupper($SecureTxt);
		$paramMessage = $paramMessage.'|'.$SecureTxt;
		/*if(isset($shipAdd))
		{
			$merchant_data.= 'billing_name'.'='.$shipAdd['toName'].'&';
			$merchant_data.= 'billing_address'.'='.$shipAdd['address1'].'&';
			$merchant_data.= 'billing_city'.'='.$shipAdd['city'].'&';
			$merchant_data.= 'billing_state'.'='.$shipAdd['state'].'&';
			$merchant_data.= 'billing_zip'.'='.$shipAdd['postalCode'].'&';
			$merchant_data.= 'billing_country'.'='.'India'.'&';
			$merchant_data.= 'billing_tel'.'='.$shipAdd['contactMobile'].'&';
			$merchant_data.= 'billing_email'.'='.$userId.'&';


			$merchant_data.= 'delivery_name'.'='.$shipAdd['toName'].'&';
			$merchant_data.= 'delivery_address'.'='.$shipAdd['address1'].'&';
			$merchant_data.= 'delivery_city'.'='.$shipAdd['city'].'&';
			$merchant_data.= 'delivery_state'.'='.$shipAdd['state'].'&';
			$merchant_data.= 'delivery_zip'.'='.$shipAdd['postalCode'].'&';
			$merchant_data.= 'delivery_country'.'='.'India'.'&';
			$merchant_data.= 'delivery_tel'.'='.$shipAdd['contactMobile'].'&';
			$merchant_data.= 'delivery_email'.'='.$userId.'&';
		}*/
    

?>
<?php 
 echo "<br><br>
 <center><b><font face='arial' size='3'>
 <br><br>Please wait, your order is being generated.<br>Please do not click on the browser back button.</font></b></center>";
 ?>

<form method="post" name="paymentForm" action="https://pgi.billdesk.com/pgidsk/PGIMerchantPayment"> 
<?php
echo "<input type=hidden name=msg value=$paramMessage>";
?>
</form>
<?php }else {?>
<?php 
 echo "<br><br>
 <center><b><font face='arial' size='3'>
 <br><br>Error in creating  order.Redirecting to home page</font></b></center>";
 ?>
<?php }  }else {?>
<?php 
 echo "<br><br>
 <center><b><font face='arial' size='3'>
 <br><br>Error in creating  order.Redirecting to home page</font></b></center>";
 ?>
<?php } ?>
</center>
</body>
</html>
