<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<title>Payment in process..</title>
	<link href="/mobile/css/mobile_style.css" rel="stylesheet" type="text/css" />
	<link rel="shortcut icon" href="/img/favicon.ico" />
	<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
	<script language='Javascript'>
	
	
		function SubmitForm(){
			
			$("form[name=paymentForm]").submit();
		}
</script>
	</head>
	
<body onload="javascript:SubmitForm();" >
<center>
<?php

?>
<script>
function sandboxDisable(status){
status = !status;
document.getElementById('isSandbox').disabled = status;
//console.log($("#isSandboxEnabled").checked);
}

</script>
<?php 
	if(isset($_SESSION ['userLogin']) && isset($tempOrderId))
	{
	
 echo "	
		<br><br>
 <center><b><font face='arial' size='3'>
 <br><br>Please wait, your order is being generated.<br>Please do not click on the browser back button.</font></b></center>";
 ?>

<form action="/control/amazonPay"  name="paymentForm"  method = "post">
 <input type="hidden" name="sellerOrderId" value =<?=$tempOrderId?> /> <br><br>
 <input type="hidden" name="orderTotalAmount" value =<?=$amount?> /> <br><br>
 <input type="hidden" name="orderTotalCurrencyCode" value = "INR" /> <br><br>
 <input type="hidden" name="customInformation" value = "Custom" /> <br><br>
<?php
    ?>

</form>

<?php 

} else {?>
<?php 
 echo "<br><br>
 <center><b><font face='arial' size='3'>
 <br><br>Error in creating  order.Redirecting to home page</font></b></center>";
 ?>
<?php } ?>
</center>
</body>
</html>