<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<title>Payment in process..</title>
	<link href="/mobile/css/mobile_style.css" rel="stylesheet" type="text/css" />
	<link rel="shortcut icon" href="/img/favicon.ico" />
	<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
	<script language='Javascript'>
		function SubmitForm(){
			
			$("form[name=paymentForm]").submit();
		}
</script>
	</head>
<body onload="javascript:SubmitForm();">
<center>

<?php include('Crypto.php')?>
<?php 

	error_reporting(0);
	$amount = $_POST['amount'];
	if(isset($_SESSION ['userLogin']))
	{
		$userId =$_SESSION ['userLogin']->getUserLoginId();
    if(isset($tempOrderId) && $tempOrderId !== "" && isset($amount))
    {	
    	$shipAdd = $_SESSION ['shoppingCart']->getShippingAddress();
    	
		$frontendUrl = $GLOBALS['general']['FRONT_END_SERVER_URL'];
		$merchantId = $CCAVENUE_MERCHANT_ID;
		$accessCode = $CCAVENUE_ACCESS_CODE;
		$workingKey = $CCAVENUE_WORKING_KEY;
		
		$merchant_data = 'merchant_id'.'='.$merchantId.'&';
		$merchant_data.= 'order_id'.'='.$tempOrderId.'&';
		$merchant_data.= 'amount'.'='.$amount.'&';
		$merchant_data.= 'currency'.'='.'INR'.'&';
		if(isset($shipAdd))
		{
			$merchant_data.= 'billing_name'.'='.$shipAdd['toName'].'&';
			$merchant_data.= 'billing_address'.'='.$shipAdd['address1'].'&';
			$merchant_data.= 'billing_city'.'='.$shipAdd['city'].'&';
			$merchant_data.= 'billing_state'.'='.$shipAdd['state'].'&';
			$merchant_data.= 'billing_zip'.'='.$shipAdd['postalCode'].'&';
			$merchant_data.= 'billing_country'.'='.'India'.'&';
			$merchant_data.= 'billing_tel'.'='.$shipAdd['contactMobile'].'&';
			$merchant_data.= 'billing_email'.'='.$userId.'&';


			$merchant_data.= 'delivery_name'.'='.$shipAdd['toName'].'&';
			$merchant_data.= 'delivery_address'.'='.$shipAdd['address1'].'&';
			$merchant_data.= 'delivery_city'.'='.$shipAdd['city'].'&';
			$merchant_data.= 'delivery_state'.'='.$shipAdd['state'].'&';
			$merchant_data.= 'delivery_zip'.'='.$shipAdd['postalCode'].'&';
			$merchant_data.= 'delivery_country'.'='.'India'.'&';
			$merchant_data.= 'delivery_tel'.'='.$shipAdd['contactMobile'].'&';
			$merchant_data.= 'delivery_email'.'='.$userId.'&';
		}
		$merchant_data.= 'redirect_url'.'=https://'.$frontendUrl.'/control/paymentVerifyCCAvenue'.'&';
		$merchant_data.= 'cancel_url'.'=https://'.$frontendUrl.'/control/paymentVerifyCCAvenue'.'&';
		$merchant_data.= 'language'.'='.'EN'.'&';
		
		$encrypted_data=CCAvenueCrypto::encrypt($merchant_data,$workingKey);
    
    

?>
<?php 
 echo "<br><br>
 <center><b><font face='arial' size='3'>
 <br><br>Please wait, your order is being generated.<br>Please do not click on the browser back button.</font></b></center>";
 ?>

<form method="post" name="paymentForm" action="https://secure.ccavenue.com/transaction/transaction.do?command=initiateTransaction"> 
<?php
echo "<input type=hidden name=encRequest value=$encrypted_data>";
echo "<input type=hidden name=access_code value=$accessCode>";
?>
</form>
<?php }else { ?>
	<?php 
 echo "<br><br>
 <center><b><font face='arial' size='3'>
 <br><br>Error in creating  order.Redirecting to home page</font></b></center>";
 ?>
	<?php } }else {?>
<?php 
 echo "<br><br>
 <center><b><font face='arial' size='3'>
 <br><br>Error in creating  order.Redirecting to home page</font></b></center>";
 ?>
<?php } ?>
helllo
</center>
</body>
</html>
