<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<title>Payment in process..</title>
	<link href="/mobile/css/mobile_style.css" rel="stylesheet" type="text/css" />
	<link rel="shortcut icon" href="/img/favicon.ico" />
	<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script language='Javascript'>
		function SubmitForm(){
			document.paymentForm.submit();
		}
</script>
</head>
<body onload="javascript:SubmitForm();">
 <?php 
 
 
		if($payment_mode === 'EXT_COD' || $payment_mode === 'GIFT_CARD'){
				echo "<form name='paymentForm' method='post' action ='/control/paymentVerify'>
				<input type='hidden' name='TransactionFinalStatus' value='SUCCESS'/>
		        <br><br>
		        <center><b><font face='arial' size='3'>
			    <br><br>Please wait, your order is being generated.<br>Please do not click on the browser back button.</font></b></center>				
		        </FORM>";
		 }else{
			echo "<form name='paymentForm' method='post' action = '".$paymentParams['action']."'>
				<input type='hidden' name='amt' value='".$paymentParams['amt']."'/>				
				<input type='hidden' name='oid' value='".$paymentParams['oid']."'/>
		        	<input type='hidden' name='mid' value='".$paymentParams['mid']."'/>
		        	<input type='hidden' name='s'   value='".$paymentParams['s']."'/>
					<input type='hidden' name='c' value='".$paymentParams['c']."'/>
		        	<input type='hidden' name='name' value='".$paymentParams['name']."'/>
		        	<input type='hidden' name='mode' value='".$paymentParams['mode']."'/>
		        	<input type='hidden' name='su' value='".$paymentParams['su']."'/>
		        	<input type='hidden' name='fu' value='".$paymentParams['fu']."'/>			
					<input type='hidden' name='cur' value='".$paymentParams['cur']."'/>	
		        	<input type='hidden' name='email' value='".$paymentParams['email']."'/>
		        	<input type='hidden' name='UserId' value='".$paymentParams['userId']."'/> 
		        	<input type='hidden' name='zip' value='".$paymentParams['zip']."'/>
					<input type='hidden' name='custName' value='".$paymentParams['custName']."'/> 
		        	<input type='hidden' name='billingName' value='".$paymentParams['billingName']."'/> 
		        	<input type='hidden' name='shippingName' value='".$paymentParams['shippingName']."'/>					
		        	<input type='hidden' name='custAddress' value='".$paymentParams['custAddress']."'/>
		        	<input type='hidden' name='custCity' value='".$paymentParams['custCity']."'/>
		        	<input type='hidden' name='custState' value='".$paymentParams['custState']."'/>
		        	<input type='hidden' name='custPinCode' value='".$paymentParams['custPinCode']."'/>
		        	<input type='hidden' name='custCountry' value='".$paymentParams['custCountry']."'/>
		        	<input type='hidden' name='custPhoneNo1' value='91'/>
		        	<input type='hidden' name='custPhoneNo2' value='022'/>
		        	<input type='hidden' name='custMobileNo' value='".$paymentParams['custMobileNo']."'/>	
		        	<input type='hidden' name='deliveryName' value='".$paymentParams['deliveryName']."'/>
		        	<input type='hidden' name='deliveryAddress' value='".$paymentParams['deliveryAddress']."'/>
		        	<input type='hidden' name='deliveryCity' value='".$paymentParams['deliveryCity']."'/>
		        	<input type='hidden' name='deliveryState' value='".$paymentParams['deliveryState']."'/>
		        	<input type='hidden' name='deliveryPinCode' value='".$paymentParams['deliveryPinCode']."'/>
		        	<input type='hidden' name='deliveryCountry' value='".$paymentParams['deliveryCountry']."'/>
		        	<input type='hidden' name='deliveryPhNo1' value='91'/>
		        	<input type='hidden' name='deliveryPhNo2' value='022'/>
		        	<input type='hidden' name='deliveryMobileNo' value='".$paymentParams['deliveryMobileNo']."'/>
		        	<input type='hidden' name='otherNotes' value='test transaction for direcpay'/>
		        	<input type='hidden' name='handler' value='Hermes'/>
		        	<input type='hidden' name='serviceDetails' value='shopping.indiatimes.com'/>";
					
					if($payment_mode === 'CREDIT_CARD' || $payment_mode === 'DEBIT_CARD' || strpos($payment_mode,'_EMI') !== false){
					echo"<input type='hidden' name='card' value='".$paymentParams['card']."'/>";
					if(isset($paymentParams['modeType']))
					{
					 echo "<input type='hidden' name='modeType' value='".$paymentParams['modeType']."'/>";
					}
					echo "<input type='hidden' name='expYr' value='".$paymentParams['expYr']."'/>
					<input type='hidden' name='expMon' value='".$paymentParams['expMon']."'/>
					<input type='hidden' name='cvv' value='".$paymentParams['cvv']."'/>
					<input type='hidden' name='ctype' value='".$paymentParams['ctype']."'/>";
					
		        	//<input type='hidden' name='Mobileno' value='".$paymentParams['Mobileno']."'/>
					//<input type='hidden' name='custPhoneNo3' value='".$paymentParams['custPhoneNo3']."'/>
					//<input type='hidden' name='deliveryPhNo3' value='".$paymentParams['deliveryPhNo3']."'/>
					}else if($payment_mode === 'NETBANKING'){
						echo"<input type='hidden' name='bankName' value='".$paymentParams['bankName']."'/>";
					}else if($payment_mode === 'PAYMATE')
					{
						echo"<input type='hidden' name='Mobileno' value='".$paymentParams['mobileno']."'/>";
					}				
		        	if(isset($paymentParams['csave']))
		        	{
		        		echo "<input type='hidden' name='csave' value='".$paymentParams['csave']."'/>";
		        	}
		        	if(isset($paymentParams['cref']))
		        	{
		        		echo "<input type='hidden' name='cref' value='".$paymentParams['cref']."'/>";
		        	}
	        	echo "<br><br>	      
	        	<center><b><font face='arial' size='3'>
			    <br><br>Please wait, your order is being generated.<br>Please do not click on the browser back button.</font></b></center>
				</FORM>";
		
		} ?>
</body>
</html>
