<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<title>Payment in process..</title>
	<link href="/mobile/css/mobile_style.css" rel="stylesheet" type="text/css" />
	<link rel="shortcut icon" href="/img/favicon.ico" />
	<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
	<script language='Javascript'>
		function SubmitForm(){
			
			$("form[name=paymentForm]").submit();
		}
</script>
	</head>
<body onload="javascript:SubmitForm();">
<center>

<?php 

	
	/* if (empty($_POST['amount'])) {
		$back = $_SERVER['HTTP_REFERER'];
		header('Location: '.$back);
		exit;
	}
	if (empty($_POST['orderid'])) {
		$back = $_SERVER['HTTP_REFERER'];
		header('Location: '.$back);
		exit;
	} */
		
	session_start();
	$merchantId=$MOBIKWIK_MERCHNAT_ID;
	$merchantName=$MOBIKWIK_MERCHANT_NAME;
	$secret=$MOBIKWIK_SECRET_KEY;
	$returnUrl=$MOBIKWIK_RETURN_URL;
	$actionUrl=$MOBIKWIK_ACTION_URL;
	
	
	
	
	//$secret = "ju6tygh7u7tdg554k098ujd5468o";
	//$returnUrl ="http://stage.shop.gadgetsnow.com/control/mobikwikProcess";
	//$merchantId	="MBK9002";
	//$merchantName="TestMerchant";
	
	if(isset($_SESSION ['userLogin']) && isset($tempOrderId))
	{
		$userId =$_SESSION ['userLogin']->getUserLoginId();
		$shipAdd = $_SESSION ['shoppingCart']->getShippingAddress();
		$mobileNo=$shipAdd['contactMobile'];
		//$data = "'" . $mobileNo . "''" . $userId. "''" . $amount . "''" . $tempOrderId . "''" . $returnUrl . "''" . $merchantId . "'";
		if(isset($mobileNo) && $mobileNo !== null && $mobileNo!== '')
		{
				$data = "'" . $mobileNo . "'" . $userId. "''" . $amount . "''" . $tempOrderId . "''" . $returnUrl . "''" . $merchantId . "'";
		}
		else {
		$data = "'". $userId. "''" . $amount . "''" . $tempOrderId . "''" . $returnUrl . "''" . $merchantId . "'";
		}
		if(isset($mobileNo) && $mobileNo !== null && $mobileNo!== '')
		{
				$data = "'" . $mobileNo . "'" . $userId. "''" . $amount . "''" . $tempOrderId . "''" . $returnUrl . "''" . $merchantId . "'";
		}
		else {
		$data = "'". $userId. "''" . $amount . "''" . $tempOrderId . "''" . $returnUrl . "''" . $merchantId . "'";
		}
// 		if(isset($_POST['live']))
// 		{
// 			$_SESSION['url']="https://walletapi.mobikwik.com/checkstatus";
// 			$actionUrl="https://walletapi.mobikwik.com/wallet";
// 		}
// 		else
// 		{
// 			$_SESSION['url'] = "https://test.mobikwik.com/checkstatus";
// 			$actionUrl="https://test.mobikwik.com/wallet";
// 		}
	  	
		$_SESSION['amount'] = $amount;
		$_SESSION['orderid'] = $tempOrderId;
			echo $secret;
			echo $data;	
	  $checksum = MobiKwikCheckSum::calculateChecksum($secret, $data);   
		$checksum;	
		//die(); 

	
	  	$checksum = MobiKwikCheckSum::calculateChecksum($secret, $data);   
		echo $checksum;
		//die(); 

?>
<?php 
 echo "	
		<br><br>
 <center><b><font face='arial' size='3'>
 <br><br>Please wait, your order is being generated.<br>Please do not click on the browser back button.</font></b></center>";
 ?>

<form method="post" name="paymentForm" action=<?php echo $actionUrl;?>> 
	<input class="required email" size="50" name="email" type="hidden" value=<?=$userId?>>
	<input class="required number" size="50" name="amount" type="hidden" value=<?=$amount?>>
	<input class="required number" size="50" maxlength="10" minlength="10" name="cell" type="hidden" value=<?=$mobileNo?>>
	<input size="30" name="orderid" type="hidden" value=<?php echo $tempOrderId;?>>
	<input size="30" name="merchantname" type="hidden"  value="<?php echo $merchantName;?>">
	<input size="30" name="mid" type="hidden" id="mid" value="<?php echo $merchantId;?>">
	<input	type="hidden" name="redirecturl" value="<?php echo $returnUrl;?>">
	<input size="30" name="rechargetype" type="hidden" id="mid" value="cell">
	<input size="30" name="cellnumbertorecharge" type="hidden" id="mid" value="<?php echo $mobileNo;?>">
     <input type="hidden" name="checksum" value="<?php echo $checksum;?>" />
</form>
<?php } else {?>
<?php 
 echo "<br><br>
 <center><b><font face='arial' size='3'>
 <br><br>Error in creating  order.Redirecting to home page</font></b></center>";
 ?>
<?php } ?>
</center>
</body>
</html>
