<?php include __DIR__ . "/../common/header.phtml"; ?>

<!-- container body start -->
<div class="forgotpassword clr">
	<div class="forgot-head">
    	Reset Password
    </div>
<?php 
$emailId="";
$mNumber="";
$gender="";
$fName="";
$sPass="";
if(isset($_SESSION['userCampaignDetail'])){
	$usrDetail = $_SESSION['userCampaignDetail'];
	$emailId=$usrDetail->getcampaignUserId();
	$mNumber=$usrDetail->getcampaignUserMobile();
	$gender=$usrDetail->getcampaignUserGender();
	$fName=$usrDetail->getcampaignUserFirstName();
	$sPass=$usrDetail->getcampaignShowUserPasswd();
}
?>    
	<div class="section-container-ui">
    	<section>
        	<form class="forgotform" name="resetpasswordorm" method="post" action="/control/updatePasswordMobileGenderCampaign">
				<!-- <div class="field-wrapper">  
				  <input type="hidden" value="" name="loginId">
				<input id="USERNAME" class="" type="hidden" value="" validate="{true,blank,Email ID is required!,email,Invalid Email ID!}" name="USERNAME"> 
				</div> -->
				 <div class="field-wrapper"> 
            		<input type="text"  autocomplete="off" placeholder="Name" name="name" value="<?=$fName?>" validate="{true,blank,Please specify a name,alphacharspace,Please enter a valid name}" id="name" class="form-text">
					<span class="error" id="name_error">&nbsp; </span>
                </div>
				 <div class="field-wrapper">
				 <?php if($gender == "M"){ ?>
            		<input type="radio" autocomplete="off"  name="gender" id="genderMale" class="form-text" checked value="M"/> <label for="genderMale">Male</label>
					<input type="radio" autocomplete="off"  name="gender" id="genderFemale" class="form-text" value="F"/> <label for="genderFemale">Female</label>
                <?php } else { ?>
            		<input type="radio" autocomplete="off"  name="gender" id="genderMale" class="form-text" value="M"/> <label for="genderMale">Male</label>
					<input type="radio" autocomplete="off"  name="gender" id="genderFemale" class="form-text" checked value="F"/> <label for="genderFemale">Female</label>
                <?php } ?>
                </div>
                
	    		 <div class="field-wrapper">
            		<input type="text" autocomplete="off" placeholder="Mobile No." name="mobile" value="<?=$mNumber?>"  validate="{true,blank,Mobile No. required,phoneIND,Please enter valid mobile number}" maxlength="10" id="mobile" class="form-text">
					<span class="error" id="mobile_error">&nbsp; </span>
                </div>
               <?php if($sPass == "true"){ ?> 
                	<div class="field-wrapper">
            			<input type="password" autocomplete="off" placeholder="New Password" name="PASSWORD" validate="{true,blank,Password is required!,password, Use 6-12 characters for Password!" id="PASSWORD" class="form-text">
						<span class="error" id="PASSWORD_error">&nbsp; </span>
                	</div>
                	<div class="field-wrapper">
                    	 <input type="password" autocomplete="off" placeholder="Re-enter password" validate="{true,blank,Password is required!,confField, Password doesn't match!" name="conf_PASSWORD" id="conf_PASSWORD" class="form-text">
						<span class="error" id="conf_PASSWORD_error">&nbsp;</span>
                	</div>
                <?php } ?>
                <div class="text-align-right field-wrapper">
                	<button class="flat-orange" type="submit" tabindex="2">Submit</button>
                </div>
            </form>
        </section>
    </div>
<?php include __DIR__ . "/../common/newfooter.phtml"; ?>
