<?php include __DIR__ . "/../common/header.phtml"; ?>

<!-- container body start -->
<div class="forgotpassword clr">
	<div class="forgot-head">
    	Reset Password
    </div>
	<div class="section-container-ui">
    	<section>
        	<form class="forgotform" name="resetpasswordorm" action="/control/updateLoginPassword">
				<input type="hidden" value="<?=$authCode?>" name="authCode">
				<input type="hidden" value="<?=$loginId?>" name="loginId">
				<input id="USERNAME" class="" type="hidden" value="ruhi100@mailinator.com" validate="{true,blank,Email ID is required!,email,Invalid Email ID!}" name="USERNAME">
				<!-- <div class="field-wrapper">
            		<input type="password" autocomplete="off" placeholder="Name" name="name" validate="{true,blank,Please specify a name,alphacharspace,Please enter a valid name}" id="PASSWORD" class="form-text">
					<span class="error" id="name_error">&nbsp; </span>
                </div>
				 <div class="field-wrapper">
            		<input type="radio" autocomplete="off"  name="gender" id="genderMale" class="form-text"></label for="genderMale">Male</label>
					<input type="radio" autocomplete="off"  name="gender" id="genderFemale" class="form-text"></label for="genderFemale">Female</label>
                </div>
				 <div class="field-wrapper">
            		<input type="password" autocomplete="off" placeholder="Email" name="email" validate="{true,blank,Please specify your valid email address,email,Please enter a valid email address}" id="email" class="form-text">
					<span class="error" id="email_error">&nbsp; </span>
                </div>
				 <div class="field-wrapper">
            		<input type="password" autocomplete="off" placeholder="Mobile No." name="mobile" validate="{true,blank,Mobile No. required,phoneIND,Please enter valid mobile number}" maxlength="10" id="mobile" class="form-text">
					<span class="error" id="mobile_error">&nbsp; </span>
                </div> -->
                <div class="field-wrapper">
            		<input type="password" autocomplete="off" placeholder="New Password" name="PASSWORD" validate="{true,blank,Password is required!,password, Use 6-12 characters for Password!" id="PASSWORD" class="form-text">
					<span class="error" id="PASSWORD_error">&nbsp; </span>
                </div>
                <div class="field-wrapper">
                     <input type="password" autocomplete="off" placeholder="Re-enter password" validate="{true,blank,Password is required!,confField, Password doesn't match!" name="conf_PASSWORD" id="conf_PASSWORD" class="form-text">
					<span class="error" id="conf_PASSWORD_error">&nbsp;</span>
                </div>
                <div class="text-align-right field-wrapper">
                	<button class="flat-orange" type="submit" tabindex="2">Submit</button>
                </div>
            </form>
        </section>
    </div>
<?php include __DIR__ . "/../common/newfooter.phtml"; ?>
