<?php include __DIR__ . "/../common/header.phtml"; ?>

<div class="body"> 
	

    		<!-- 		removed banner image				-->
    
    
			<!--				Brand image and brand description starts if exists after checking 							-->
		
				<!-- 				Brand image and brand description ends   					-->
				
				
				
							<!-- 				Brand image and brand description change begins								-->

<?php if(isset($brandName)){ ?>
        <section class="section-container-ui">
            <h3><?=$brandName ?> Store</h3>
            <?php if(isset($brandImg)){?>
				<div class="brand_image flt">
					 <span class="helper"></span><img src="http://shopping.indiatimes.com<?=$brandImg?>" >
             	</div>
             	
             	<?php if(isset($brandDesc)){?>
             	<!--div class="brand_description flt">
					<?=$brandDesc?> 
             	</div-->
             	<?php }else{ ?>
             	<!--div class="brand_description flt">
					<?=$brandName?> 
             	</div -->
             	<?php } ?>
             <?php } ?>
        </section>
             

<?php } ?>

						<!-- 						Brand image and brand description change ends  					-->




			<!--  							plagiarised from views/catalog/index.phtml but only lower body below section container UI			 -->

            										<!-- navigation start -->
<?php
if(isset($customCategories->catalogNames) && sizeof($customCategories->catalogNames) !=0){ 
													
foreach($customCategories->catalogNames as $extn){
	if(isset($extn)){
	$categoryName = $extn->categoryName;
	
	if(isset($extn->products[0])){
?>             
        <section class="section-container-ui">
            <h3><?=$brandName ?> <?=$categoryName?></h3>
             <div id="mobile-list" class="owl-carousel">
<?php 
		$products = $extn->products;
		foreach($products as $product){
			
			$productUrl="#";$productImageUrl="#"; 
			
			$productUrl = $product->productUrl;
			$productImageUrl = $product->productImg;
						
?>
             		<!-- product start -->
                    <div class="mobile-product-list-view">
                        <a href="<?=$productUrl?>">
                            <figure>
                              <img class="lazy" data-original="<?=$productImageUrl?>" alt="<?=$product->productName?>" />
                            </figure>
                            <figcaption><div><?= $product->productName;?></div></figcaption>
                             <div class="mobile-price-ui">
                             
								<span class="offer-price-ui"><?= $product->offerPrice;?></span> 
	                            <?php if($product->oldPrice > $product->offerPrice){?><span class="mrp-price-ui"><?=$product->oldPrice?></span><?php }?>
	                            <?php if($product->discountPrice>0){?><span class="off-price-ui">(<?= $product->discountPrice?>% off)</span><?php }?>
                            
                            </div>
                        </a>
                    </div>
                    <!-- product end -->
<?php }?>
                    </div>
        </section>
<?php }}}}else{?>
			<section class="section-container-ui">	
			 	<h3>No Product found for Brand : <?=$brandName?></h3>
	         </section>
				
<?php }?>


<?php include __DIR__ . "/../common/newfooter.phtml"; ?>
