<?php include __DIR__ . "/../common/ampheader.phtml"; ?>
<div class="body body-listing">
<meta name="robots" content="index, follow" />
<?php
//print_r($productUrlArr);
if(isset($currentCategoryId)){}
if(isset($currentCategoryName)){}

?>
<div class="section-container-ui">
<amp-accordion disable-session-states>
	<section>
		<h3>
			<span  class="inactive show-more tab-t0-active"><?=handleStr($currentCategoryName)?><?php if(isset($productCount)){ echo " (".handleStr($productCount)." Products)";}?></span>
			<span  class="active show-less tab-t0-active"><?=handleStr($currentCategoryName)?><?php if(isset($productCount)){ echo " (".handleStr($productCount)." Products)";}?></span>
		</h3>
	   <ul class="toi-categories-list">
			<?php
			$homePageCategories=$GLOBALS['general']['HOME_PAGE_CATEGORIES'];
			if(isset($homePageCategories)) {
			$category = strtok($homePageCategories, ',');
			while ($category !== false) 
			{
				$categoryURL = $GLOBALS['general'][$category];
			?>        
			
				<li><a href="<?=$categoryURL?>"><?=$category?></a></li>
			<?php $category = strtok(',');
			} } ?>
		</ul>
	</section>
</amp-accordion>
    	<!-- sort feature start -->
    	<?php if(isset($sortBy)){ ?>
        <section class="feature-list-select-ui">
        	<div class="flt sort-by-ui">
            	<span class="flt sort-by-form-ui">
					<span class="sort-by-text">Sort by :
						<span>Popular</span>
					</span>
						<ul>
						
						<?php
							$extnNames = '';$loop=0;
							$ctnadsPostion=0;
							if(isset($sortBy[0])){
							$extns = $sortBy;
							foreach($extns as $extn){
								$sortOption = $extn->sortOption;
								$sortOptionUrl = $extn->sortOptionUrl;
								$sortValue = $extn->sortValue;
								if(isset($sortOption)){
									$link = $notampUrl."?queryParam=&sort=".$sortValue;
							?>                         	
							                        	 <li><a href="<?=$link?>"><?=$sortOption?></a></li>
							<?php }}}?>
						</ul>
                </span>
            </div>
            <div class="flt filter-by-ui">
            	<a href="<?=$notampUrl?>" class="filter-apply-ui">Filter</a>              
            </div>
    	</section>
 <?php } ?>   	
        <!-- sort feature end -->
                <div class="mobile-product-list-view">
                	<ul>
<?php
$numberOfProducts=0;
$showamzbanner = false;
$showpromobanner2 = false;
$extnNames = '';$loop=0;
if(isset($products[0])){
$extns = $products;
$numberofads=0;
foreach($extns as $extn){

$defaultPrice = round($extn->DEFAULT_PRICE);
$listPrice = round($extn->LIST_PRICE);
$discount = $extn->DISCOUNT;
$discount = round($discount);
$discountedPrice = round($extn->DISCOUNTED_PRICE);
$productUrl="#";$productImageUrl="#";
$productname=$extn->PRODUCT_NAME;
if(isset($productUrlArr) && isset($productUrlArr[$extn->PRODUCT_ID])){
	$productUrl = $productUrlArr[$extn->PRODUCT_ID];
}
//logic for UREAD images
$productid = $extn->PRODUCT_ID;

if(isset($productImageUrlArr) && isset($productImageUrlArr[$extn->PRODUCT_ID])){
	$productImageUrl = $productImageUrlArr[$extn->PRODUCT_ID];
}
$numberOfProducts=$numberOfProducts+1;
list($width, $height) = getimagesize(handleStr($productImageUrl));
if($numberOfProducts == 6)
{
	$showamzbanner = true;
}
if($numberOfProducts == 18)
{
	$showpromobanner2 = true;
}
	?>         			<!-- product amp start -->
                		<li>
							<div class="soldout">Sold Out</div>
							<a href="<?=handleStr($productUrl)?>">
								<figure>
								   <amp-img src="<?=handleStr($productImageUrl)?>" width=<?=$width ?> height=<?=$height ?> layout="responsive"></amp-img>
                                </figure>
								<figcaption itemprop="name"><div><?= $extn->PRODUCT_NAME;?></div></figcaption>
								<div class="comingsoon">Coming Soon</div>
								<div class="mobile-price-ui">
                                <?php if($discountedPrice >0) { ?><span class="offer-price-ui toi-text"><?= $discountedPrice;?></span> 
								<?php if($listPrice>$defaultPrice){?><span class="mrp-price-ui"><?= $extn->LIST_PRICE;?></span><?php }?>
								<?php } else {?>
	                                <span class="offer-price-ui toi-text"><?= $extn->DEFAULT_PRICE;?></span> 
	                                <?php if($listPrice>$defaultPrice){?><span class="mrp-price-ui"><?= $extn->LIST_PRICE;?></span><?php }?>
	                                <?php if($discount>0){?><span class="off-price-ui">(<?= $discount;?>% off)</span><?php } }?>
                                </div>
								<div class="offertext"></div>
							</a>
						</li>
						<!-- product amp end -->
					
			  <?php if($showamzbanner) {?>			
			<section>
			<div class="productShowlist">
			<h3 class="heading"> Promoted</h3>
			<a class="display-block" href="<?php if(isset($promoBannerurl1)) { echo $promoBannerurl1; }?>"
			 data-ga-track="<?=$promoEventaction1?>##<?=$currentcatalogName?>|<?=$promoEventcat1?>##pdp|<?=$promoEventlabel1?>|<?=$currentCategoryName?>|<?=$currentcatalogName?>|<?=$productid?>|<?=$productname?>|##0" >
			<amp-img src="<?php if(isset($promoImgpath1)){ echo $promoImgpath1; }else {?>/mobile/img/cashback-app-Banner.jpg<?php }?>" height="280" alt="<?php if(isset($promoBannertext1)) echo $promoBannertext1; ?>"/></amp-img>
			</a>
			</div>
			</section>
			<?php $showamzbanner=false; } ?>
			
			 <!-- Promoted banner 2 start-->
		 <?php if(isset($showpromobanner2) && $showpromobanner2 && isset($affiliateBannerActive2) && $affiliateBannerActive2) {?>
		 <section>
			<div class="productShowlist">
			<h3 class="heading"> Promoted</h3>
			<a class="display-block" href="<?php if(isset($promoBannerurl2)) { echo $promoBannerurl2; }?>"
			 data-ga-track="<?=$promoEventaction2?>##<?=$currentcatalogName?>|<?=$promoEventcat2?>##pdp|<?=$promoEventlabel2?>|<?=$currentCategoryName?>|<?=$currentcatalogName?>|<?=$productid?>|<?=$productname?>|##0" >
			<amp-img src="<?php if(isset($promoImgpath2)){ echo $promoImgpath2; }else {?>/mobile/img/cashback-app-Banner.jpg<?php }?>" height="280" alt="<?php if(isset($promoBannertext2)) echo $promoBannertext2; ?>"/></amp-img>
			</a>
			</div>
			</section>
		 <?php $showpromobanner2 = false; } ?>
						
<?php } }?>       
					</ul>
					<div class="more-results"><a href="">more-results</a></div>
                </div>
    </div>
    
    
<?php include __DIR__ . "/../common/ampfooter.phtml"; ?>
  