<?php include __DIR__ . "/../common/header.phtml"; ?>

<div class="body body-listing">
<?php
//print_r($productUrlArr);
if(isset($currentCategoryId)){}
if(isset($currentCategoryName)){}

?>

<div class="section-container-ui">
<?php if(isset($seoATFcontent)) { ?>
<div class="seocontianer">
	<h1><?=$seoAtfTitleName?></h1>
	
	<div class="seocontent overflowhidden">
	<?=$seoATFcontent?></div>
	<?php if(strlen($seoATFcontent) != 0) { ?>
	<a class="seoreadmore"href="#">read more...</a> 
	<?php } ?>
</div><?php } ?>
    	<h3><a href="#" class="inactive tab-t0-active"><?php print_r(isset($brandName)?$brandName:$currentCategoryName); ?><?php if(isset($productCount)){ echo " (".handleStr($productCount)." Products)";}?></a></h3>
		<ul class="toi-categories-list displaynone">
    	<?php
		$homePageCategories=$GLOBALS['general']['HOME_PAGE_CATEGORIES'];
        if(isset($homePageCategories)) {
		$category = strtok($homePageCategories, ',');
		while ($category !== false) 
  		{
			$categoryURL = $GLOBALS['general'][$category];
		?>        
		
			<li><a href="<?=$categoryURL?>"><?=$category?></a></li>
		<?php $category = strtok(',');
  		} } ?>
		</ul>
    	<!-- sort feature start -->
    	<?php if(isset($sortBy)){ ?>
        <section class="feature-list-select-ui">
        	<div class="flt sort-by-ui">
            	<span class="flt sort-by-form-ui">
					<span class="sort-by-text">Sort by :</span>
                    <form >
                        <select>
<?php
$showamzbanner = false;
$extnNames = '';$loop=0;
$ctnadsPostion=0;
if(isset($sortBy[0])){
$extns = $sortBy;

foreach($extns as $extn){
	$sortOption = $extn->sortOption;
	$sortOptionUrl = $extn->sortOptionUrl;
	$sortValue = $extn->sortValue;
	if(isset($sortOption)){
?>                         	
                        	<option value="<?=$sortValue?>" <?php if(isset($sortSelected) && strcasecmp($sortSelected,$sortValue)==0) echo "selected";?> ><?=$sortOption?></option>
<?php }}}?>
                        </select>
                    </form>
                </span>
            </div>
            <div class="flt filter-by-ui">
            	<a href="#" class="filter-apply-ui">Filter</a>              
            </div>
    	</section>
 <?php } ?>   	
        <!-- sort feature end -->
		
		
                <div class="mobile-product-list-view">
                	<ul>
<?php
$numberOfProducts=0;
if(!isset($_GET['start']))
	$numberOfProducts=0;
else
{
	$numberOfProducts=$_GET['start'];
}

$extnNames = '';$loop=0;
if(isset($products[0])){
$extns =$products; 
$position = '';
$numberofads=0;
$alternateSGNAMZ="A";
$result = array_merge($sgnProducts,$amazonProducts);

if(isset($categoryDisplayed) && $categoryDisplayed == "Also in Stores")
{
	foreach ($result as $key=>$value)
	{
		$extn = $value;
		$productid = $extn->PRODUCT_ID;
		
		if(isset($extn->AFFILIATES))
			$affiliate = $extn->AFFILIATES;
		$isDummy = ($affiliate=='DUMMY')?true:false;
		$defaultPrice = round($extn->DEFAULT_PRICE);
		$listPrice = round($extn->LIST_PRICE);
		$discount = $extn->DISCOUNT;
		$discount = round($discount);
		$discountedPrice = round($extn->DISCOUNTED_PRICE);
		$productUrl="#";$productImageUrl="#";
		if(isset($productUrlArr) && isset($productUrlArr[$extn->PRODUCT_ID])){
			$productUrl = $productUrlArr[$extn->PRODUCT_ID];
		}
		//logic for UREAD images
		if(isset($productid) && (strpos($productid , 'U') !== false) && isset($catalogId) && ($catalogId === '10011')){
			$ureadimgURL ='https://images3.uread.com/productimages/mainimages/';
			$isbn13 = substr($productid, 1);
			$pIdcat = substr($productid, -3);
			$productImageUrl = $ureadimgURL.$pIdcat.'/'.$isbn13.'.jpg';
		} else {
			if(isset($productImageUrlArr) && isset($productImageUrlArr[$extn->PRODUCT_ID])){
				$productImageUrl = $productImageUrlArr[$extn->PRODUCT_ID];
			}
		}
		$numberOfProducts=$numberOfProducts+1;
		$showad=false;
		if($numberOfProducts == 12)
		{
			$showad = true;
		}
		if($numberOfProducts == 6)
		{
			$showamzbanner = true;
		}
		if($numberOfProducts == 18)
		{
			$showpromobanner2 = true;
		}
		$position = 1+$position;
		?>
		                		<!-- product start -->
		                		<?php if(!$isDummy && isset( $extn->OUT_OF_STOCK) &&  $extn->OUT_OF_STOCK==="1") {?>
		                		<li class="soldout" itemscope itemtype="http://schema.org/ImageObject">
		                		<?php } else {?>
		                        <li itemscope itemtype="http://schema.org/ImageObject">
		                        <?php }?>
									<div class="soldout">Sold Out</div>
		
		                            <a href="<?=handleStr($productUrl)?>" id="<?=$leafTitle;?>-<?= $extn->PRODUCT_ID;?>-<?=$position;?>" data-ga-track="product_select|category_page##<?= $extn->PRODUCT_ID;?>##<?=$currentCategoryName;?>|<?=$uri;?>##<?=$position;?>" data-ga-en="event~productClick##id~<?= $extn->PRODUCT_ID;?>##name~<?= $extn->PRODUCT_NAME;?>##brand~<?php if(isset($extn->BRAND)){ echo $extn->BRAND;}else{echo "no brand";};?>##category~<?=$currentcatalogName?>/<?=$currentCategoryId;?>/<?=$currentCategoryName;?>##price~<?= $extn->DEFAULT_PRICE;?>##quantity~1##position~<?=$position;?>##url~<?=handleStr($productUrl)?>##list~category_page|<?=$uri;?>">
		                                <figure>
		                                   <img class="lazy" data-original="<?=handleStr($productImageUrl)?>" alt="<?= $extn->PRODUCT_NAME;?>" />
		                                </figure>
										<meta itemprop="contentUrl" content="<?=handleStr($productImageUrl)?>" />
		                                <figcaption itemprop="name"><div><?= $extn->PRODUCT_NAME;?></div></figcaption>
		                                <?php $comingSoon=false;
											if(isset($extn->INTRODUCTION_DATE->time) && ($extn->INTRODUCTION_DATE->time>=time()) && 
															(($extn->INTRODUCTION_DATE->time-time())/(24 * 60 * 60 * 1000)<31)){
												$comingSoon=true;
											}
										if($isDummy)
										{ ?>
											<div class="comingsoon">To be announced</div>
										<?php }elseif($comingSoon){?>
											<div class="comingsoon">Coming Soon</div>
										<?php } else { ?>	
		                                <div class="mobile-price-ui">
		                                
		                    <?php if($discountedPrice >0) { ?><span class="offer-price-ui toi-text"><?= $discountedPrice;?></span> 
							<?php if($listPrice>$defaultPrice){?><span class="mrp-price-ui"><?= $extn->LIST_PRICE;?></span><?php }?>
							<?php } else {?>
			                                <span class="offer-price-ui toi-text"><?= $extn->DEFAULT_PRICE;?></span> 
			                                <?php if($listPrice>$defaultPrice){?><span class="mrp-price-ui"><?= $extn->LIST_PRICE;?></span><?php }?>
			                                <?php if($discount>0){?><span class="off-price-ui">(<?= $discount;?>% off)</span><?php } }?>
		                                </div>
		                                <?php } ?>
		                                <?php if(isset( $extn->OFFER_TEXT) &&  $extn->OFFER_TEXT!="") {?><div class="offertext"></div><?php } ?>
		                            </a> 			</li> 
								<?php $countads = 1+$countads;  $ctnadsPostion = 1+$ctnadsPostion;
							?>
							<?php  if($ctnadsPostion%4 == 0 && $numberofads < 6 ) { $numberofads = $numberofads+1; $numberOfProducts=$numberOfProducts+1;?>
					<li id="div-clmb-ctn-<?=$countads;?>" data-slot="256682" data-position="<?=$countads;?>" data-section="0" data-cb="adwidgetfun" class="colombia colombiaad"> 
					</li>	<?php }  ?>
								
		                         <!-- product end -->
		                         <?php if($showad) { ?>
									<div id='div-gpt-ad-1517993028137-0' class="primeuser displaynone" >
									<script>
									googletag.cmd.push(function() { googletag.display('div-gpt-ad-1517993028137-0'); });
									</script>
									</div>
		                          <?php }?>
		                          
		                          <?php if($showamzbanner) {?>
		                         <!-- Promoted banner 1 start-->
		<div class="cashbackamazon primeuser displaynone"> 
		<?php if(!isset($affiliateBannerActive1) || $affiliateBannerActive1=='N') { ?>
		<div id='div-gpt-ad-1518176465110-0' class="primeuser displaynone"  style='height:250px; text-align:center' class="displayblock clr">
				<script>
				googletag.cmd.push(function() { googletag.display('div-gpt-ad-1518176465110-0'); });
				</script>
				</div>
		<!-- div id='div-gpt-ad-1513236443687-0'>
				<script>
				googletag.cmd.push(function() { googletag.display('div-gpt-ad-1513236443687-0'); });
				</script>
		</div -->
		<?php }else {?>
		<?php
				/* $nofollowtag1="";$eventname1="";
				  if(isset($affiliateBannerName1) && $affiliateBannerName1=="AMAZON") 
					{ 
						$eventname1 = "listing_mweb_promoted_amazon";$nofollowtag="rel=nofollow";
					} elseif(isset($affiliateBannerName1) && $affiliateBannerName1=="TATACLIQ") { $nofollowtag1="rel=nofollow"; $eventname1 = "listing_mweb_promoted_tatacliq"; } 
					elseif(isset($affiliateBannerName1) && $affiliateBannerName1=="SAMSUNG") { $nofollowtag1="rel=nofollow"; $eventname1 = "listing_mweb_promoted_samsung";}
					elseif(isset($affiliateBannerName1) && $affiliateBannerName1 == "PRIMEVIDEO") { $eventname1 = "apv_mweb_gnshop_listing_promoted"; $nofollowtag1="rel=nofollow";}
					elseif(isset($affiliateBannerName1) && $affiliateBannerName1 == "CASHIFY") { $eventname1 = "cashify_mweb_gnshop_home_promoted"; $nofollowtag1="target='_blank' rel='nofollow'";}
					elseif(isset($affiliateBannerName1) && $affiliateBannerName1 == "ADDA") { $eventname1 = "adda52_mweb_gnshop_home_promoted"; $nofollowtag1="target='_blank' rel='nofollow'";}
					
				?>
	    	<a class="display-block" <?=$nofollowtag1?> data-ga-track="<?=$eventname1?>##<?=handleStr($currentcatalogName)?>|<?=handleStr($currentCategoryName)?>##listing|<?=handleStr($currentcatalogName)?>|<?=handleStr($currentCategoryName)?>##0"  target="_blank" href="<?php if(isset($bannerurl1)) { echo $bannerurl1; }?>"><img class="img lazy" data-original="<?php if(isset($imgpath1)){ echo $imgpath1; }else {?>/mobile/img/cashback-app-Banner.jpg<?php }?>"/></a>
	   
	    */ ?>
	    <a class="display-block" <?=$promonofollowtag1?> 
				data-ga-track="<?=$promoEventaction1?>##<?=$currentcatalogName?>|<?=$promoEventcat1?>##pdp|<?=$promoEventlabel1?>|<?=$currentCategoryName?>|<?=$currentcatalogName?>|##0"  target="_blank" 
				href="<?php if(isset($promoBannerurl1)) { echo $promoBannerurl1; }?>"><img class="img lazy" alt=<?php if(isset($promoBannertext1)) echo $promoBannertext1; ?> 
				data-original="<?php if(isset($promoImgpath1)){ echo $promoImgpath1; }else {?>/mobile/img/cashback-app-Banner.jpg<?php }?>"/></a>
	     <?php } ?>
	    </div>
		<!-- cash back amazon end -->
		 <?php $showamzbanner = false; }?>
		 
		                         <!-- Promoted banner 2 start-->
		 <?php if(isset($showpromobanner2) && $showpromobanner2 && isset($affiliateBannerActive2) && $affiliateBannerActive2) {?>
		<div class="cashbackamazon primeuser displaynone">
		
		<?php
				/* $nofollowtag2="";$eventname2="";
				  if(isset($affiliateBannerName2) && $affiliateBannerName2=="AMAZON") 
					{ 
						$eventname2 = "listing_mweb_promoted_amazon";$nofollowtag="rel=nofollow";
					} elseif(isset($affiliateBannerName2) && $affiliateBannerName2=="TATACLIQ") { $nofollowtag2="rel=nofollow"; $eventname2 = "listing_mweb_promoted_tatacliq"; } 
					elseif(isset($affiliateBannerName2) && $affiliateBannerName2=="SAMSUNG") { $nofollowtag2="rel=nofollow"; $eventname2 = "listing_mweb_promoted_samsung";}
					elseif(isset($affiliateBannerName2) && $affiliateBannerName2 == "PRIMEVIDEO") { $eventname2 = "apv_mweb_gnshop_listing_promoted"; $nofollowtag2="rel=nofollow";}
					elseif(isset($affiliateBannerName2) && $affiliateBannerName2 == "CASHIFY") { $eventname2 = "cashify_mweb_gnshop_home_promoted"; $nofollowtag2="target='_blank' rel='nofollow'";}
					elseif(isset($affiliateBannerName2) && $affiliateBannerName2 == "ADDA") { $eventname2 = "adda52_mweb_gnshop_home_promoted"; $nofollowtag2="target='_blank' rel='nofollow'";}
					
				?>
	    	<a class="display-block" <?=$nofollowtag2?> data-ga-track="<?=$eventname2?>##<?=handleStr($currentcatalogName)?>|<?=handleStr($currentCategoryName)?>##listing|<?=handleStr($currentcatalogName)?>|<?=handleStr($currentCategoryName)?>##0"  target="_blank" href="<?php if(isset($bannerurl2)) { echo $bannerurl2; }?>"><img class="img lazy" data-original="<?php if(isset($imgpath2)){ echo $imgpath2; }else {?>/mobile/img/cashback-app-Banner.jpg<?php }?>"/></a>
	    */ ?>
	    <iframe width="100%" height="250" style="margin:0 auto" src="https://www.youtube.com/embed/BxOubC4Ve-k?autoplay=1" frameborder="0" 
				allow="autoplay; encrypted-media" allowfullscreen></iframe>
	    <?php /*<a class="display-block primeuser displaynone" <?=$promonofollowtag2?> 
				data-ga-track="<?=$promoEventaction2?>##<?=$currentCategoryName?>|<?=$promoEventcat2?>##pdp|<?=$promoEventlabel2?>##0"  target="_blank" 
				href="<?php if(isset($promoBannerurl2)) { echo $promoBannerurl2; }?>"><img class="img lazy" alt=<?php if(isset($promoBannertext2)) echo $promoBannertext2; ?> 
				data-original="<?php if(isset($promoImgpath2)){ echo $promoImgpath2; }else {?>/mobile/img/cashback-app-Banner.jpg<?php }?>"/></a> */ ?>
	    </div>
		<!-- cash back amazon end -->
		 <?php $showpromobanner2 = false; }?>
		 
		 
		<?php 
		
	}
}else
{
	$numberOfProducts=0;
	if(!isset($_GET['start']))
		$numberOfProducts=0;
	else
	{
		$numberOfProducts=$_GET['start'];
	}
foreach($extns as $temp){

$isDummy=false;
$productid = $temp->PRODUCT_ID;
	if($alternateSGNAMZ=="A" && isset($amazonProducts[$productid]))
	{
		$extn = $amazonProducts[$productid];
		$alternateSGNAMZ = "S";
	}elseif(isset($sgnProducts[$productid]))  
	{
		$extn = $sgnProducts[$productid];
		$alternateSGNAMZ = "A";
	}else 
	{
		$extn = $temp;
	}
	if(isset($extn->AFFILIATES))
	{
		$affiliate = $extn->AFFILIATES;
		$isDummy = ($affiliate=='DUMMY')?true:false;
	}
	if(isset($extn->AFFILIATES))
		$affiliate = $extn->AFFILIATES;
	
$defaultPrice = round($extn->DEFAULT_PRICE);
$listPrice = round($extn->LIST_PRICE);
$discount = $extn->DISCOUNT;
$discount = round($discount);
$discountedPrice = round($extn->DISCOUNTED_PRICE);
$productUrl="#";$productImageUrl="#";
if(isset($productUrlArr) && isset($productUrlArr[$extn->PRODUCT_ID])){
	$productUrl = $productUrlArr[$extn->PRODUCT_ID];
}
//logic for UREAD images
if(isset($productid) && (strpos($productid , 'U') !== false) && isset($catalogId) && ($catalogId === '10011')){
	$ureadimgURL ='https://images3.uread.com/productimages/mainimages/';
	$isbn13 = substr($productid, 1);
	$pIdcat = substr($productid, -3);
	$productImageUrl = $ureadimgURL.$pIdcat.'/'.$isbn13.'.jpg';
} else {
	if(isset($productImageUrlArr) && isset($productImageUrlArr[$extn->PRODUCT_ID])){
		$productImageUrl = $productImageUrlArr[$extn->PRODUCT_ID];
	}
}
$numberOfProducts=$numberOfProducts+1;
$showad=false;
if($numberOfProducts == 12)
{
	$showad = true;
}
if($numberOfProducts == 6)
{
	$showamzbanner = true;
}
if($numberOfProducts == 18)
{
	$showpromobanner2=true;
}
$position = 1+$position;
	?>         	
                		<!-- product start -->
                		<?php if(!$isDummy && isset( $extn->OUT_OF_STOCK) &&  $extn->OUT_OF_STOCK==="1") {?>
                		<li class="soldout" itemscope itemtype="http://schema.org/ImageObject">
                		<?php } else {?>
                        <li itemscope itemtype="http://schema.org/ImageObject">
                        <?php }?>
							<div class="soldout">Sold Out</div>

                            <a href="<?=handleStr($productUrl)?>" id="<?=$leafTitle;?>-<?= $extn->PRODUCT_ID;?>-<?=$position;?>" data-ga-track="product_select|category_page##<?= $extn->PRODUCT_ID;?>##<?=$currentCategoryName;?>|<?=$uri;?>##<?=$position;?>" data-ga-en="event~productClick##id~<?= $extn->PRODUCT_ID;?>##name~<?= $extn->PRODUCT_NAME;?>##brand~<?php if(isset($extn->BRAND)){ echo $extn->BRAND;}else{echo "no brand";};?>##category~<?=$currentcatalogName?>/<?=$currentCategoryId;?>/<?=$currentCategoryName;?>##price~<?= $extn->DEFAULT_PRICE;?>##quantity~1##position~<?=$position;?>##url~<?=handleStr($productUrl)?>##list~category_page|<?=$uri;?>">
                                <figure>
                                   <img class="lazy" data-original="<?=handleStr($productImageUrl)?>" alt="<?= $extn->PRODUCT_NAME;?>" />
                                </figure>
								<meta itemprop="contentUrl" content="<?=handleStr($productImageUrl)?>" />
								
                                <figcaption itemprop="name"><div><?= $extn->PRODUCT_NAME;?></div></figcaption>
                                <?php $comingSoon=false;
                                      $curTime = time()*1000;
									if(isset($extn->INTRODUCTION_DATE->time) && ($extn->INTRODUCTION_DATE->time>=$curTime) ){
										$comingSoon=true;
									}
									if($isDummy)
									{ ?>
									<div class="comingsoon">To be announced</div>
									<?php }elseif($comingSoon){?>
									<div class="comingsoon">Coming Soon</div>
								<?php } else { ?>	
                                <div class="mobile-price-ui">
                                
                                <?php if($discountedPrice >0) { ?><span class="offer-price-ui toi-text"><?= $discountedPrice;?></span> 
					<?php if($listPrice>$defaultPrice){?><span class="mrp-price-ui"><?= $extn->LIST_PRICE;?></span><?php }?>
					<?php } else {?>
	                                <span class="offer-price-ui toi-text"><?= $extn->DEFAULT_PRICE;?></span> 
	                                <?php if($listPrice>$defaultPrice){?><span class="mrp-price-ui"><?= $extn->LIST_PRICE;?></span><?php }?>
	                                <?php if($discount>0){?><span class="off-price-ui">(<?= $discount;?>% off)</span><?php } }?>
                                </div>
                                <?php } ?>
                                <?php if(isset( $extn->OFFER_TEXT) &&  $extn->OFFER_TEXT!="") {?><div class="offertext"></div><?php } ?>
                            </a> 			</li> 
						<?php $countads = 1+$countads;  $ctnadsPostion = 1+$ctnadsPostion;
					?>
					<?php  if($ctnadsPostion%4 == 0 && $numberofads < 6 ) { $numberofads = $numberofads+1; $numberOfProducts=$numberOfProducts+1;?>
			<li id="div-clmb-ctn-<?=$countads;?>" data-slot="256682" data-position="<?=$countads;?>" data-section="0" data-cb="adwidgetfun" class="colombia colombiaad"> 
			</li>	<?php } ?>
						
                         <!-- product end -->
                         <?php if($showad) { ?>
                         <!-- /7176/GadgetsNow_Mweb/GadgetsNow_Mweb_Shop/GadgetsNow_Mweb_Shop_Mrec -->
							<div id='div-gpt-ad-1481557438932-2' class="text-center primeuser displaynone" >
							<script type='text/javascript'>
							googletag.cmd.push(function() { googletag.display('div-gpt-ad-1481557438932-2'); });
							</script>
							</div>
                          <?php }?>
                           <?php if($showamzbanner) {?>
		                         <!-- Promoted banner 1 start-->
		<div class="cashbackamazon primeuser displaynone"><?php echo $numberOfProducts ; ?>
		<?php if(!isset($affiliateBannerActive1) || $affiliateBannerActive1=='N') { ?>
		<div id='div-gpt-ad-1518176465110-0' style='height:250px; text-align:center' class="primeuser displaynone clr">
				<script>
				googletag.cmd.push(function() { googletag.display('div-gpt-ad-1518176465110-0'); });
				</script>
				</div>
		<!-- div id='div-gpt-ad-1513236443687-0'>
				<script>
				googletag.cmd.push(function() { googletag.display('div-gpt-ad-1513236443687-0'); });
				</script>
		</div -->
		<?php }else {?>
		<?php
				/*$nofollowtag1="";$eventname1="";
				  if(isset($affiliateBannerName1) && $affiliateBannerName1=="AMAZON") 
					{ 
						$eventname1 = "listing_mweb_promoted_amazon";$nofollowtag="rel=nofollow";
					} elseif(isset($affiliateBannerName1) && $affiliateBannerName1=="TATACLIQ") { $nofollowtag1="rel=nofollow"; $eventname1 = "listing_mweb_promoted_tatacliq"; } 
					elseif(isset($affiliateBannerName1) && $affiliateBannerName1=="SAMSUNG") { $nofollowtag1="rel=nofollow"; $eventname1 = "listing_mweb_promoted_samsung";}
					elseif(isset($affiliateBannerName1) && $affiliateBannerName1 == "PRIMEVIDEO") { $eventname1 = "apv_mweb_gnshop_listing_promoted"; $nofollowtag1="rel=nofollow";}
					elseif(isset($affiliateBannerName1) && $affiliateBannerName1 == "CASHIFY") { $eventname1 = "cashify_mweb_gnshop_home_promoted"; $nofollowtag1="target='_blank' rel='nofollow'";}
					elseif(isset($affiliateBannerName1) && $affiliateBannerName1 == "ADDA") { $eventname1 = "adda52_mweb_gnshop_home_promoted"; $nofollowtag1="target='_blank' rel='nofollow'";}
					
				?>
	    	<a class="display-block" <?=$nofollowtag1?> data-ga-track="<?=$eventname1?>##<?=handleStr($currentcatalogName)?>|<?=handleStr($currentCategoryName)?>##listing|<?=handleStr($currentcatalogName)?>|<?=handleStr($currentCategoryName)?>##0"  target="_blank" href="<?php if(isset($bannerurl1)) { echo $bannerurl1; }?>"><img class="img lazy" data-original="<?php if(isset($imgpath1)){ echo $imgpath1; }else {?>/mobile/img/cashback-app-Banner.jpg<?php }?>"/></a>
	    	*/ ?>
	      <a class="display-block primeuser displaynone" <?=$promonofollowtag1?> 
				data-ga-track="<?=$promoEventaction1?>|<?=$promoEventcat1?>##pdp|<?=$promoEventlabel1?>|##0"  target="_blank" 
				href="<?php if(isset($promoBannerurl1)) { echo $promoBannerurl1; }?>"><img class="img lazy" alt=<?php if(isset($promoBannertext1)) echo $promoBannertext1; ?> 
				data-original="<?php if(isset($promoImgpath1)){ echo $promoImgpath1; }else {?>/mobile/img/cashback-app-Banner.jpg<?php }?>"/></a>
	    <?php } ?>
	    </div>
		<!-- cash back amazon end -->
		 <?php $showamzbanner = false; }?>
		 
		 <?php if(isset($showpromobanner2) && $showpromobanner2) {?>
		                         <!-- Promoted banner 2 start-->
		<div class="cashbackamazon">
		
		<?php
			/*	$nofollowtag2="";$eventname2="";
				  if(isset($affiliateBannerName2) && $affiliateBannerName2=="AMAZON") 
					{ 
						$eventname2 = "listing_mweb_promoted_amazon";$nofollowtag="rel=nofollow";
					} elseif(isset($affiliateBannerName2) && $affiliateBannerName2=="TATACLIQ") { $nofollowtag2="rel=nofollow"; $eventname2 = "listing_mweb_promoted_tatacliq"; } 
					elseif(isset($affiliateBannerName2) && $affiliateBannerName2=="SAMSUNG") { $nofollowtag2="rel=nofollow"; $eventname2 = "listing_mweb_promoted_samsung";}
					elseif(isset($affiliateBannerName2) && $affiliateBannerName2 == "PRIMEVIDEO") { $eventname2 = "apv_mweb_gnshop_listing_promoted"; $nofollowtag2="rel=nofollow";}
					elseif(isset($affiliateBannerName2) && $affiliateBannerName2 == "CASHIFY") { $eventname2 = "cashify_mweb_gnshop_home_promoted"; $nofollowtag2="target='_blank' rel='nofollow'";}
					elseif(isset($affiliateBannerName2) && $affiliateBannerName2 == "ADDA") { $eventname2 = "adda52_mweb_gnshop_home_promoted"; $nofollowtag2="target='_blank' rel='nofollow'";}
					
				?>
	    	<a class="display-block" <?=$nofollowtag2?> data-ga-track="<?=$eventname2?>##<?=handleStr($currentcatalogName)?>|<?=handleStr($currentCategoryName)?>##listing|<?=handleStr($currentcatalogName)?>|<?=handleStr($currentCategoryName)?>##0"  target="_blank" href="<?php if(isset($bannerurl2)) { echo $bannerurl2; }?>"><img class="img lazy" data-original="<?php if(isset($imgpath2)){ echo $imgpath2; }else {?>/mobile/img/cashback-app-Banner.jpg<?php }?>"/></a>
	   */ ?>
	   <iframe width="100%" height="250" style="margin:0 auto" src="https://www.youtube.com/embed/BxOubC4Ve-k?autoplay=1" frameborder="0" 
				allow="autoplay; encrypted-media" allowfullscreen></iframe>
	  <?php /* <a class="display-block" <?=$promonofollowtag2?> 
				data-ga-track="<?=$promoEventaction2?>|<?=$promoEventcat2?>##pdp|<?=$promoEventlabel2?>||##0"  target="_blank" 
				href="<?php if(isset($promoBannerurl2)) { echo $promoBannerurl2; }?>"><img class="img lazy" alt=<?php if(isset($promoBannertext2)) echo $promoBannertext2; ?> 
				data-original="<?php if(isset($promoImgpath2)){ echo $promoImgpath2; }else {?>/mobile/img/cashback-app-Banner.jpg<?php }?>"/></a>
	  */ ?>
	    </div>
		<!-- cash back amazon end -->
		 <?php $showpromobanner2 = false; }?>
                          
                          
                          
                          
<?php } //for loop
	 }// else 
	} // if isset products?>       
					</ul>
                    <!-- <div style="border-color: black;width: 900px;height: 10px;border: 2px;"></div> -->
                    <?php if(isset($productCount) && $productCount > 32){?><div class="more-results"><a href="<?=handleStrAndDefault($nextPage, "")?>"></a></div><?php }?>
                </div>
    </div>
<?php /*?>
<div class="toi-container">
 		<section>
				<div class="toi-product-head">
					<h3 class="ftl blue-strip"><span class="truncate text-transform">You May Also Like </span></h3>
				</div>
				<div class="toi-owl-carousel">
				
				<?php 
				if(isset($recoJson)) 
				{
					foreach ($recoJson as $recoProd) 
						{ 
							$catalogname = $recoProd['CATALOGNAME'];
						 $showPrice=(isset($recoProd['DISCOUNTED_PRICE']) && $recoProd['DISCOUNTED_PRICE']>0?$recoProd['DISCOUNTED_PRICE']:$recoProd['DEFAULT_PRICE']);
				?>
				
					<!-- product start -->
					<div class="toi-product" itemscope="" itemtype="http://schema.org/ImageObject">
							<div class="soldout-contain">Sold Out</div>
							<a data-ga-en="event~productClick##<?=$recoProd['PRODUCT_ID']?>##<?=$recoProd['PRODUCT_NAME']?>##<?=$catalogname[0]?>/category_id/##<?=$showPrice?>>##<?=$recoProd['PRODUCT_URL']?>##home_page_|<?=$recoProd['PRODUCT_ID']?>" data-ga-track="home_page####<?=$recoProd['PRODUCT_ID']?>|<?=$recoProd['PRODUCT_NAME']?>|10022|26080##0" href="<?=$recoProd['PRODUCT_URL']?>">
								<figure><img class="lazy" alt="<?=handleStr($recoProd['PRODUCT_NAME'])?>" data-original="<?=handleStr($recoProd['MEDIUM_IMAGE_URL'])?>">
								</figure>
								<meta itemprop="contentUrl" content="<?=handleStr($recoProd['MEDIUM_IMAGE_URL'])?>">
								<figcaption itemprop="name"><div class="proxima-regular1"><?=handleStr($recoProd['PRODUCT_NAME'])?></div></figcaption>
								<div class="toi-price">
									<div class="ftl">											 												 
										 <span class="offer-price-ui toi-text"><?=$showPrice?></span>
										 <?php if($showPrice>$recoProd['LIST_PRICE']) { 
												$disperc=floor($showPrice*100/$recoProd['LIST_PRICE']);
										  ?>
									<span class="mrp-price-ui"><?=$recoProd['LIST_PRICE']?></span> 
									<span class="off-price-ui">(<?=$disperc?>% off)</span>
										<?php } ?>
									</div>
									<span class="ftr toi-buy">buy</span>											
								</div>
							</a>
					</div>
					<!-- product end -->
					
					<?php }  }?>
				</div>    
			</section>
			</div> <?php */?>
			<?php /* if(isset($samsungPopularProducts)) { ?>
			<div class="toi-container">
 		<section>
				<div class="toi-product-head">
					<h3 class="ftl blue-strip"><span class="truncate text-transform">Popular Amazon Smartphones </span></h3>
				</div>
				<div class="toi-owl-carousel">
				
				<?php if(isset($samsungPopularProducts)) 
				{ 
					for ($t=0; $t<sizeof($samsungPopularProducts['product']); $t++)
    					{
    						$recoProd=$samsungPopularProducts['product'][$t];
						 $samProdname = $recoProd['title'];
						 $samProdprice = $recoProd['price'];
						 $samProdpid = $recoProd['pid'];
						 $samProdurl = $recoProd['url'];
						 $samimgurl=$recoProd['imageUrl'];
						 
						 $samsungUrl = $samProdurl;
						 $nameurl = str_replace(" ","_",$samProdname);
						 $intermediateUrl = "https://m.shop.gadgetsnow.com/affiliate.cms?url=";
						 $samsungUrl = $intermediateUrl.rawurlencode($samsungUrl)."&tag=samsung_mweb_gnshop_listing_popular&afname=SAMSUNG&utm_medium=Affiliate"."&title=".rawurlencode($nameurl)."&price=";
						 
						 $amzPopularUrl=$samProdurl;
						 $amzPopularUrl = str_replace("https://www.amazon.in","", $amzPopularUrl);
						 $amzPopularUrl = $amzPopularUrl."";
						 if(strpos($amzPopularUrl,"?") == false)
						 {
						 	$amzPopularUrl =$amzPopularUrl."?tag=timofind-21";
						 }else
						 {
						 	$amzPopularUrl =$amzPopularUrl."&tag=timofind-21";
						 }
						 $amzPopularUrl = rawurlencode($amzPopularUrl);
						 $amzPopularUrl = $amzPopularUrl."&utm_campaign=mweb_gnshop_popular-21&utm_source=mweb_gnshop&utm_medium=Affiliate&price=".$samProdprice."&title=".rawurlencode($samProdname);
						 $amzPopularUrl = "http://m.gadgetsnow.com/affiliate_amazon.cms?url=".$amzPopularUrl;
						 	
						 $samsungUrl = $amzPopularUrl;
						 
				?>
				
					<!-- product start -->
					<div class="toi-product" itemscope="" itemtype="http://schema.org/ImageObject">
							<div class="soldout-contain">Sold Out</div>
							<a target="_blank" data-ga-track="listing_mweb_amazon_popular####<?=$samProdpid?>|<?=$samProdname?>|10022|26080##0" href="<?=$samsungUrl?>">
								<figure><img class="lazy" alt="<?=handleStr($samProdname)?>" data-original="<?=handleStr($samimgurl)?>">
								</figure>
								<meta itemprop="contentUrl" content="<?=handleStr($samimgurl)?>">
								<figcaption itemprop="name"><div class="proxima-regular1"><?=handleStr($samProdname)?></div></figcaption>
								<div class="toi-price">
									<div class="ftl">											 												 
										 <span class="offer-price-ui toi-text"><?=$samProdprice?></span>
										 
									</div>
									<span class="ftr toi-buy">buy</span>											
								</div>
							</a>
					</div>
					<!-- product end -->
					
					<?php }   }?>
				</div>    
			</section>
			</div> 
			<?php } */?>
	<?php if(isset($seoBTFcontent)) { ?>
	<div class="seocontianer">
	<h1><?=$seoBtfTitleName?></h1>
	<div class="seocontent overflowhidden">
	<?=$seoBTFcontent?></div>
		<?php if(strlen($seoBTFcontent) >= 45) { ?>
	<a class="seoreadmore" href="#">  read more...</a>
		<?php } ?>
	
</div>

 

<?php } ?>
<?php include __DIR__ . "/../common/newfooter.phtml"; ?>
