<?php include __DIR__ . "/../common/header.phtml"; ?>
<div class="help">
	<section>
    	<div class="section-container-ui">
			<h1>Popular FAQs</h1>
		</div>
	</section>

<?php include __DIR__ . "/../common/newfooter.phtml"; ?>