<?php include __DIR__ . "/../common/header.phtml"; ?>
<div class="help">
	<section>
    	<div class="section-container-ui">
			<h1>Payment Information</h1>
			<div class="textcontent">
			<p><b><a href="/">Indiatimes Shopping</a> accepts payments in the following modes:</b><br></p>
			<div class="txt">
			<table cellspacing="1" cellpadding="4" width="100%" border="0" bgcolor="#c2e0f7" align="center">
			  <tbody>
				<tr>
				  <td bgcolor="#eff6fa" align="left"><b>Payment Mode</b></td>
				  <td bgcolor="#eff6fa" align="left"><b>Payment Options</b></td>
				 
				</tr>
				<tr>
				  <td bgcolor="#eff6fa" align="left">Online</td>
				  <td bgcolor="#eff6fa" align="left">Credit Cards, Debit Cards, Net Banking, Amex eZeClick</td>
				 
				</tr>
				<tr>
				  <td bgcolor="#eff6fa" align="left">Offline</td>
				  <td bgcolor="#eff6fa" align="left">Cash On Delivery</td>
				  
				</tr>
				<tr>
				  <td bgcolor="#eff6fa" align="left">Mobile Payments</td>
				  <td bgcolor="#eff6fa" align="left">Paymate</td>
				 
				</tr>
				<tr>
				  <td bgcolor="#eff6fa" align="left">Reward Redemption</td>
				  <td bgcolor="#eff6fa" align="left">Miles and More</td>
				 
				</tr>
				<tr>
				  <td bgcolor="#eff6fa" align="left">Gift Coupons(GC)</td>
				  <td bgcolor="#eff6fa" align="left">Promotional GC</td>
				 
				</tr>
			  </tbody>
			</table>
		</div>
		<br>
		<h3 class="subhead">A. Online Payment Mode</h3>
		<p><b>A.1 Credit Cards</b></p>
		<p>Please note that we accept only Domestic Cards.</p>
		<ul class="small">
			<li>American Express</li>
			<li>Visa</li>
			<li>MasterCard</li>
		</ul>
		<p></p>
		<p><b>A.2 Debit Cards</b></p>
		<p>Please note that we accept only Domestic Cards.
		</p><ul class="small">
			<li>Visa</li>
			<li>MasterCard</li>
			<li>Maestro</li>
		</ul>
		<p></p>

		<p><b>A.3 EMI on Credit Cards:</b></p>
		<p>Currently EMI facility is provided to HDFC bank and ICICI bank credit card holders only for 3 , 6 , 9 &amp; 12 months and the minimum order value to avail the EMI payment option is Rs 3,000.<br>

		Indiatimes Shopping does not charge any processing fee. However, the Bank charges a fixed annual interest rate directly to the customers opting for EMI and the interest amount paid to bank depends on the tenure selected. This will be a Bank and a customer direct relationship.<br>
		In case of any kind of refund in an EMI transaction, interest already billed in a particular transaction will not be refundable. Customer would be required to contact the banks directly in case of any issues at the below mentioned numbers.<br>

		HDFC customer care No.011-61606161 ( Delhi). For other locations please click on : <a href="http://www.hdfcbank.com/personal/find-your-nearest/find-phone-banking">http://www.hdfcbank.com/personal/find-your-nearest/find-phone-banking</a>.<br>

		For ICICI customer care numbers, please click on <a href="http://www.icicibank.com/customer-care.html">http://www.icicibank.com/customer-care.html</a>
		</p>

		<p>Please note following cards are not eligible for EMI transactions:
			</p><ul class="small">
				<li>Corporate Card</li>
				<li>Business Card</li>
				<li>EMI Card</li>
				<li>ICICI Bank Virtual Card</li>
			</ul>
		<p></p>
		<p><b>A.4 Internet Banking</b></p>
		<p><b>Indiatimes accept payment through Internet Banking for the following banks:</b>
		</p><ol class="small">
			<li>Axis Bank</li>
			<li>Bank of Bahrain and Kuwait</li>
			<li>Bank of India</li>
			<li>Citibank </li>
			<li>Corporation Bank </li>
			<li>Deutsche Bank</li>
			<li>Development Credit Bank </li>
			<li>Federal Bank </li>
			<li>HDFC Bank </li>
			<li>ICICI Bank </li>
			<li>Indian Overseas Bank </li>
			<li>IndusInd Bank</li>
			<li>Industrial Development Bank of India</li>
			<li>Jammu and Kashmir Bank</li>
			<li>Karnataka Bank Ltd.</li>
			<li>Karur Vysya Bank </li>
			<li>Kotak Bank </li>
			<li>Ratnakar Bank</li>
			<li>South Indian Bank</li>
			<li>State Bank of Bikaner and Jaipur</li>
			<li>State Bank of Hyderabad</li>
			<li>State Bank of India</li>
			<li>State Bank of Mysore</li>
			<li>Union Bank of India</li>
			<li>United Bank of India</li>
			<li>Vijaya bank</li>
			<li>YES Bank</li>

		</ol>
		<p><b>A.5 eZeClick by American Express</b></p>
		<p>eZeClick by American Express helps to make online payments much easier and faster. This service is available for American Express safekey enabled cards only. Whenever you have to make a payment, just select eZeClick from the list of options at the payment page, enter your user id and you will immediately receive an OTP (one-time-password) by email and SMS which you can enter to complete the payment process. </p>
		<p></p>
		<h3 class="subhead">B. Offline Payment Mode</h3>
			<p><b>B.1 Cash on Delivery:</b></p>
			<p>The Cash on delivery (COD) option is available for Mobiles, Electronic Gadgets, Music, Movies, Books, Magazines, Games and Toys. However there is a possibility that COD may not be applicable on few products due to following reasons:
			</p><ol class="small">
			<li>Your cart value has exceeded. INR 10,000</li>
			<li>Cash on Delivery is not available for selected shipping address</li>
			<li>If you have more than one item in your cart, then Cash on Delivery is not applicable on any one of the item.</li>
			<li>To ensure your location is covered, please check your pin code on order detail page.</li>
			</ol>
			<p><b>Terms &amp; Conditions</b></p>
			<ul class="small">
			<li>COD option cannot be combined with any other payment option like Reward Points, Gift Certificates, Special Promotion Codes or Pre-paid account on an order if you wish to pay by cash on delivery.</li>
			<li>Pay cash at the time of delivery to the courier. Payment through any other paymode e.g. cheque or demand draft will not be accepted.</li>
			<li>There is no additional cost for availing COD</li>
			</ul>
			<p></p>			              	             	
			<h3 class="subhead">C. Mobile Payment Mode</h3>
		<p><b>C.1  Paymate:</b></p>

		<p>
		Paymate helps you shop online and make payments using your mobile phone. All payments are authorized by you with a secure 4-digit PIN thereby ensuring complete control and security. You can pay using Paymate, only if you have registered yourself to use this service.
		</p>
		<p>
		For registered users, as per the recent RBI guidelines on the prepaid instrument we request you to submit a duly filled KYC form along with the required documents to Paymate in order to process your transaction favorably. You may also visit <a target="_blank" href="http://www.giftmate.co.in/GMConvertVoucherEmailer/VoucherConversionemailer.html">http://www.giftmate.co.in/GMConvertVoucherEmailer/VoucherConversionemailer.html</a> for more information about KYC compliance.
		</p>

		<p>
		To register for PayMate, logon to <a target="_blank" href="http://www.paymate.co.in/web/index.aspx">www.paymate.co.in</a>
		</p>


		<h3 class="subhead">D. Reward Redemption Program</h3>
		<p><b>D.1  Miles &amp; More :</b></p>

		<p>
		This is a redemption program where Miles &amp; More members are offered latest products in Electronics, Health, Mobiles, Beauty and several other categories in exchange for miles with doorstep delivery anywhere in India.
		</p>
		<p>
		Every five miles will be equivalent to Re.1. Customers will be displayed "Net Payable Lufthansa Miles" (i.e. Cart Value X 5) on Payment page during checkout process.
		</p>


		<h3 class="subhead">E. Gift Coupons</h3>
		<p><b>E.1 Indiatimes Gift Coupons</b></p>

		<p>
		These coupons are an optional payment method that you can choose at the time of payment. Indiatimes gift coupons can be exchanged for a discount on a part of total order value while purchasing product online, therefore only the remaining amount would have to be paid through credit card, debit card or net banking.
		</p>
		<p>
		The gift coupon consists of an alphanumeric 10-digit code, such as SR124788410855889. This code identifies the promotion for which the voucher is being used and the criteria for using the coupon.
		</p>

		<p><b>Receiving gift coupons</b></p>

		<p>You may simply visit our website <a target="_blank" href="http://shopping.indiatimes.com/GCOffers">http://shopping.indiatimes.com/GCOffers</a> to check out running offers. Please note limited redemptions allowed on first come first serve basis.</p>

		<p><b>Types of discounts</b></p>

		<p>Gift coupons offer the following type of discounts:
		</p><ul class="small">
		<li><b>Flat Discount:</b> Flat amount will be deducted from total order amount. For example, Rs. 1000 off on order value Rs. 3,000 and above.</li>
		<li><b>Percentage Discount:</b> A percentage will be deducted from total order amount. For example, 15% off on order value Rs. 3,000 and above.</li>
		<li><b>Free Gifts:</b> For example, USB data cable free for customers purchasing Nokia handsets.</li>
		</ul>
		<p></p>

		<p><b>Conditions of use</b></p>

		<p>There are specific conditions for using gift voucher for a purchase:
		</p><ul class="small">
		<li>You have to be registered on the site to be able to receive and use gift coupon.</li>
		<li>Each coupon is valid for only one single purchase.</li>
		<li>Each coupon will have specific criteria that will determine its validity. Please check these criteria before deciding to use a gift voucher.</li>
		<li>Each coupon is valid up to a certain period, so be sure to use it within this period or else the coupon may expire.</li>
		<li>Can be clubbed with online pay modes only</li>
		</ul>
		<p></p>
		</div>
		</div>
	</section>

<?php include __DIR__ . "/../common/newfooter.phtml"; ?>