<?php include __DIR__ . "/../common/header.phtml"; ?>
<div class="help">
	<section>
    	<div class="section-container-ui">
			<h1>Refund Policy</h1>
			<div class="textcontent">
		<p>We thank you and appreciate your purchase with us. Please read the policy, conditions and process carefully as they will give you important information and guidelines about your rights and obligations as our customer, concerning any purchase you make through us unless specifically stated otherwise on our product pages or readers offer advertisements. We make every effort to service the order/s placed with us as per the specifications and timelines mentioned against each product. If due to any reason, unavoidable circumstances or beyond the limitations of the merchants the order is not shipped by the seller then the order shall be cancelled and refunded. In the event the order/product is delivered and has been cancelled for refund due to product fault, delivery of wrong product, partial product, etc the refund is processed.</p>
		<b>The order may be cancelled before shipment due to any of the following reasons: </b>
		<ol class="small">                
			<li>The specific product/model is out of Stock.</li>
			<li>The order could not be shipped within the specified timeline.</li>
			<li>On customers request </li>
			<li>The shipping address is not serviceable.</li>
			<li>Any other reason beyond the control of merchants or Indiatimes.</li>
		</ol>
		
		<br>
		<b>The orders may be cancelled post shipment and delivery due to any of the following reasons: </b><br>
		<ol class="small">                
			<li>Established defect in the product which the seller is not able to either replace or repair.</li>
			<li>Correct product could not be delivered.</li>
			<li>Shipping address found to be untraceable, wrong, incomplete, locked and customer not available.</li>
			<li>Customer refused to take the delivery, refund would not be applicable incase of perishable products, like flowers, cakes, etc and/or incase of made to order and personalized products, like mugs, T-shirts with personal pictures.</li>
			<li>Products damaged during transit and delivery not accepted.</li>
		</ol>
		<p><b>Caution: </b><em>Please do not accept delivery of any item whose packaging is damaged or tampered with in any manner.</em></p>
		
		
		<h3>Conditions: </h3>
		<ol class="small">
			<li>Ensure that the product is in seller warranty.</li>
			<li>Cancellation and refund requests for products shall not be eligible under manufacturer warranty.</li>
			<li>The refund shall be processed only after the product is shipped back and received by merchant.</li>
			<li>Need to attach a note along with the product returned for refund. The note should clearly state your name and address, contact number, and order number. Describe the problem in your own words. Without your order details processing refund / replacement would not be possible.</li>
			<li>The return courier awb/tracking number not intimated to Indiatimes customer support team is not eligible for refund</li>
			<li>The order returned must accompany all the accessories (including freebies) which were serviced along with the order else the cost of the accessories shall be recovered from the refund amount.</li>
			<li>Any charges levied as tax is not eligible for refund.</li>
		</ol>
		<p><b>Note:</b> Any Gift coupon circulated as promotional offer would not be refunded in case of cancellation of the order.</p>
		<h3>Refund Process:</h3>
		<ol class="small">
			<li>Please connect with our customer care via email or call.</li>
			<li>The customer care team will validate the request by checking the timelines, product type, warranty terms, etc and shall take the request for refund or exchange</li>
			<li>Ensure to collect the return address from Indiatimes customer care.</li>
			<li>Pack the product properly and label the product with the order number, return address and your address.</li>
			<li>Follow the instructions of customer care carefully for packaging and returning the product using courier services.</li>
			<li>Ensure that the awb / tracking number is shared with Indiatimes customer care.</li>
			<li>The order shall be considered for refund only if the seller receives the product in undamaged condition [there should be no scratches, no dents etc.]</li>
		</ol>
		<p><b>Caution: </b><em>Please ensure to pack the product properly before handling it over to courier.</em></p>
		<h3>Exclusion: </h3>
		<br>A refund can be refused if the following conditions are met.
		<ol class="small">
			<li>The product is completely broken and unusable or with scratches or incomplete as per the seller claims from the customer.</li>
			<li>The product is returned beyond the required return date or you have not informed us about the concern during the warranty period.</li>
			<li>The above process does not apply to books, movie and music cd, DVD, Blue-ray, cd roms, magazines and flower and confectionary items.</li>
			<li>The order returned does not accompany all the accessories (including freebies) which were serviced along with the order.</li>
			<li>Any other product which Times Internet Limited deems fit from time to time.</li>

		</ol>
		<h3>Please Note:</h3>
			<ul class="small">
				<li>On cancellation of an order, you are entitled to receive refund based on pay mode table mentioned in refund timelines plus the <b>shipping charges</b>.</li>
				<li>shopping.indiatimes.com is not liable to pay any penalty or compensation to the customer for cancellation of any order, for reason mentioned above.</li>
			</ul>
     	<h3>Refund Timelines:</h3><br/>
			<table cellspacing="1" cellpadding="4" width="100%" border="0" bgcolor="#c2e0f7" align="center">
				<tr>
					<td bgcolor="#eff6fa" align="left"><b>Pay mode</b></td>
					<td bgcolor="#eff6fa" align="left"><b>Refund Mode</b></td>
					<td bgcolor="#eff6fa" align="left"><b>Refund from the date of cancellation of order</b></td>
				</tr>
				<tr>
					<td bgcolor="#eff6fa" align="left">Credit Card</td>
					<td bgcolor="#eff6fa" align="left">Credit Card</td>
					<td bgcolor="#eff6fa" align="left">5-10 Working Days*</td>
				</tr>
				<tr>
					<td bgcolor="#eff6fa" align="left">Net Banking</td>
					<td bgcolor="#eff6fa" align="left">Bank Account Online Transfer</td>
					<td bgcolor="#eff6fa" align="left">5-10 Working Days*</td>
				</tr>
				<tr>
					<td bgcolor="#eff6fa" align="left">Debit Card</td>
					<td bgcolor="#eff6fa" align="left">Bank Account Online Transfer</td>
					<td bgcolor="#eff6fa" align="left">5-10 Working Days*</td>
				</tr>
				<tr>
					<td bgcolor="#eff6fa" align="left">Indiatimes Gift Certificate</td>
					<td bgcolor="#eff6fa" align="left">Indiatimes Gift Certificate</td>
					<td bgcolor="#eff6fa" align="left">24-48 hours*</td>
				</tr>
				<tr>
					<td bgcolor="#eff6fa" align="left">COD -Cash On Delivery</td>
					<td bgcolor="#eff6fa" align="left">Indiatimes Gift Certificate/Cheque</td>
					<td bgcolor="#eff6fa" align="left">24-48 hours/8-10 working days*</td>
				</tr>
				<!-- <tr>
					<td bgcolor="#eff6fa" align="left">Demand draft/ Cheque</td>
					<td bgcolor="#eff6fa" align="left">Cheque</td>
					<td bgcolor="#eff6fa" align="left">8-10 Working Days*</td>
				</tr> -->
			</table>
	     	
	     	<p class="clr"><b>* Note Working Days are Monday To Friday excluding holidays </b></p>
     	<p><b>Please note:</b> You can check the status of your refund in Your Account on the order's summary page.</p>	
     	<ul class="small">
	     	<li>We will process the refund after receipt of the product by Times Internet Limited or its business partner. Refund will be processed based on the mode of payment of the order Refund processed through Credit card / Debit card will reflect in the next Credit Card/ Bank statement.</li>
			<li>Refund Cheque will be issued in the billing name unless otherwise advised by customers. </li>
			<li>In case the refund Cheque is lost by customer, Cheque will be reissued in15 days on the receipt of affidavit.</li> 
			<li>In case of incorrect name on the refund Cheque, a new Cheque will be reissued in 15 days on the receipt of original Cheque from the customer.</li>
			<li>If your refund doesn't appear in Your Account, and the processing time for your payment method has passed, contact customer care for further assistance.</li>
		</ul>		              	             	
	</div>
			
			
			
		</div>
	</section>

<?php include __DIR__ . "/../common/newfooter.phtml"; ?>