<?php include __DIR__ . "/../common/header.phtml"; ?>
<div class="help">
	<section>
    	<div class="section-container-ui">
			<h1>What is Indiatimes return policy?</h1>
			<div class="textcontent">
		<p>At Indiatimes we work very hard to deliver the best products and shopping experience to you. However, sometimes because of the scale of operation a few exceptional cases do happen. If for any reason you do not feel satisfied with the product delivered to you then please get in touch with our Customer Service team for an appropriate resolution.</p>
		<p>We will try our best to replace the product to your satisfaction and if that is not possible because of some operational constraint then we will provide full refund as per the requirement. In all such circumstances, before using the product, please get in touch with our Customer Service Team who will guide you on the process for the same.</p>
		<p>And in case you have received your order with the outer packaging tampered/meddled, then please capture a snap of the same and share with us.</p>
		<p>To make things fair for all of us and provide you with the benefits of the Return Policy, we adhere to below mention points.</p>
		<ul class="small">
			<li>All items to be returned must be unused and in their original condition. The original tags, packaging should be intact.</li>
			<li>Once we receive the return from you, we will provide you with a Gift Coupon (G.C.) of up to INR 250/- on your email, to compensate for the shipping charges you paid to return the product.</li>
			<li>We would not be able to accept a product if it shows sign of being broken or tampered with by you.</li>
			<li>We expect that while returning the product you will pack the product very safely and securely. We won't be able to entertain any damage/lost in Transit (For example:- If a complaint was raised for Wrong Product Delivery and the sent item got damaged in the transit then we will not be responsible for the damage and eventually may not be in a position of replacement for the original one as well).</li>	
		</ul>
		<p><strong>Please Note:</strong> We may not be able to exchange products bought during sale or discount.Replacement/exchange is subject to product/ stock availability.</p>
		<h3>What are the Products covered under the Return Policy?</h3>
		<p>We accept all items <strong>except</strong></p>
		<ul class="small">
			<li><strong>innerwear</strong></li>
			<li><strong>cosmetics, deodorants, perfumes, perishable items</strong></li>
			<li><strong>socks, toys and any free items received</strong>
			</li><li>Also, please note that will not be able to accept any returns for GOLD /SILVER items and customized jewellery.</li>
		</ul>
		<p>In case you are not satisfied with clothing or footwear product or it does not fit you well, please feel free to ask for a replacement. The Process of Return would remain the same.</p>
		<h3>What to do if I want Replacement/Refund?</h3>
		<p>Please follow these steps to claim Replacement/Refund without any hiccups</p>
		<ol class="small">
			<li>Give us a call on <strong>09024666666</strong> or drop an email at customerservice@indiatimes.co.in <strong>within 48 hours of delivery</strong>.</li>
			<li>Register your complaint and <strong>get a Complaint ID</strong> by the customer service team. This is mandatory information which is needed to know about the status of the complaint and for returning the Product.</li>
			<li>Please pack the product back in its packing and mention the following details<br>
				v	&nbsp;&nbsp;<b>Complaint ID:</b>  (As provided by the customer care) for the Return<br>
				v &nbsp;&nbsp;<b>Order #:</b> Number generated at the time of order Placement.<br>
				v	&nbsp;&nbsp;<b>Reason for Return:</b> Please choose a reason from the below mentioned list <br>
				<ul style="padding-left:30px;">
					<li>Defective Product</li>
					<li>Damaged Delivery</li>
					<li>Incorrect Product Delivered</li>
					<li>Others- If others then please specify (Please mention the reason in Hindi /English only)</li>
				</ul>
				v	&nbsp;&nbsp;<b>Your full Contact Details:</b> Your name, address, phone number and email address.<br>
				v	&nbsp;&nbsp;<b>DOA (DEAD ON ARRIVAL) certificate:</b> Needed only if you are returning a Defective Manufacture warranty product.<br>
				v	&nbsp;&nbsp;<b>Picture of Damaged Product:</b> Needed only if you are returning a Damaged Manufacture warranty product.<br> 
			</li>
			<li>You have to return it to the following Address:<br>
				<b>Times Internet Limited,</b><br>
				TOP Floor<br>
				10, Daryaganj (Near Happy School),<br>
				Delhi-110002
			</li>
			<li>If you got a pickup scheduled, then keep your package ready. If you are sending it via courier, please ensure that the courier provides order tracking and you got the courier receipt with you. We will refund the courier charges up to Rs 250 in form of a Gift Coupon (G.C.).</li>
			<li>6.	Send an email to customerservice@indiatimes.co.in with a scanned copy of courier charges receipt, please mention the Order # and the Complaint ID clearly in email and also send picture of the product if you received a damaged product. This email is required to reimburse you for the courier charges you paid for returning the product.</li>
		</ol>
		<br>
		<h3>Do you provide a pick up from the doorstep in case I want to return a product?</h3>
		<p>We will not be able to provide pickup from your doorstep, however in case of heavy goods (in terms of weight/size) or the City from which it has to be picked up, we may consider picking the product. This decision is solely at the discretion of the company/designated authorities. For any of the products sent by you, we will refund the courier charges up to Rs 250 in form of a Gift Coupon (G.C.). </p>
		<h3>What is the return procedure if I have received a Defective/Damaged Manufacture warranty product?</h3>
		<p><u>Defective/ Damaged Product</u></p>
		<p>In case you have received a defective/ damaged product, please report the fault to the nearest authorized service centre. They will check the product and repair the product to your satisfaction. If they are not able to do that then they will declare the product as DOA (DEAD ON ARRIVAL) and issue a DOA certificate to you. If you have the DOA certificate with you then please send a scanned copy of the DOA certificate to customerservice@indiatimes.co.in. The Return Process would remain the same as mentioned above. As the DOA policy varies from Brand to Brand so please get in touch with our customer care and we will assist you in the procedure of claiming a DOA certificate from the Manufacture.</p>
		<p>If damage can't be repaired by authorized service centre, please register a complaint within 48 Hrs of delivery to start the refund/replacement of your product. Also, please take a picture of the product and include it in your email to customerservice@indiatimes.co.in.</p>
		<h3>What is the return procedure if I have received a wrong product?</h3>
		<p>In case if you have received a wrong product from our side then please register a complaint within 24 Hrs of delivery to start the refund/replacement of your product.</p>
		<h3>What is the return procedure if I have received a Defective/Damaged Seller warranty product?</h3>
		<p>The return process would remain the same. Please register your complain within 24 Hrs of delivery along withalong with photographs of the damage product and packaging. photographs of the damage product and packaging.and the replacement will be shipped once a confirmation call is made by the Customer Service team for the return.</p>
		
		<h3>What are the time lines provided for the Replacement/Refund?</h3>
		<p>Once we have received your product back, it would be sent for a Quality check to our Replacement Verification team. The replacement process would be initiated within 5 business days of receipt of the product.</p>
		<p>In case a Replacement is asked for then accordingly arrangements would be made to ship the replacement product at no extra cost, however if the same product is no more available then refund would be arranged.</p>
		<p>In case of a Refund request, the same would be processed within 5 -7 business days after our Replacement Verification team has certified the refund.</p>
		
		<div>Do I get back the courier charges after I return back the Product?</div>
		<p>We will refund the courier charges at a flat rate of INR 250/- or actual (whichever is lesser) in the form of a Gift Coupon (G.C.) which can be redeemed on our website in future. This would be processed within 5-7 business days after we have received the above mentioned address along with the Email with the Courier Receipt attached.</p>
		<h3>What is the Payment Mode for Refund?</h3>
		<p>It would remain the same as paid by you to Indiatimes while placing an order. If you have paid online, then it will be returned online, if you have paid using Cash on Delivery option then it can be refunded either via Indiatimes gift certificate or cheque based on customer's discretion . GC would be sent on to the email ID provided while placing the order and cheque would be dispatched to the shipping address mentioned while placing the order.</p>
		<h3>I ordered Cash on Delivery (COD) order and paid the shipping charges. If I return the product, will I be paid back the Shipping charges as well?</h3>
		<p>Only the Product amount would be refunded as we do not refund the shipping charges paid by you. Please note that the charges you pay for the courier while returning the product will be paid as a Gift Coupon as per our policy.</p>  
		
		
		
	</div>
			
			
			
		</div>
	</section>

<?php include __DIR__ . "/../common/newfooter.phtml"; ?>