<?php include __DIR__ . "/../common/header.phtml"; ?>
<div class="help">
	<section>
    	<div class="section-container-ui">
			<h1>Terms and Conditions and Grievance Redressal Policy</h1>
			<div class="textcontent">
			<!--right part start-->
		<div class="touMRight">
			<div class="rightLink"><a href="#useragreement">User Agreement</a></div>
			<div class="rightLink"><a href="#definitions">Definitions</a></div>
			<div class="rightLink"><a href="#onlinePurchases">Online Purchases</a></div>
			<div class="rightLink"><a href="#reviewsComments">Reviews, Comments and Other Content</a></div>
			<div class="rightLink"><a href="#typographicalErrors">Typographical Errors</a></div>
			<div class="rightLink"><a href="#productsDescriptionAndPricing">Products Description and Pricing</a></div>
			<div class="rightLink"><a href="#onlinePayment">Online Payment</a></div>
			<div class="rightLink"><a href="#creditcarddetails">Credit card details</a></div>
			<div class="rightLink"><a href="#orderTrackingFacility">Order Tracking Facility</a></div>
			<div class="rightLink"><a href="#disclaimer">Disclaimer Of Warranties/Limitation Of Liability</a></div>
			<div class="rightLink"><a href="#registration">Registration</a></div>
			<div class="rightLink"><a href="#prohibited">Prohibited Activities</a></div>
			<div class="rightLink"><a href="#indemnity">Indemnity</a></div>
			<div class="rightLink"><a href="#termination">Termination /Suspension</a></div>
			<div class="rightLink"><a href="#relationship">Relationship</a></div>
			<div class="rightLink"><a href="#entireAgreement">Entire Agreement</a></div>
			<div class="rightLink"><a href="#headings">Headings</a></div>
			<div class="rightLink"><a href="#commWithUser">Communication with Users</a></div>
			<div class="rightLink"><a href="#forceMajeure">Force Majeure</a></div>
			<div class="rightLink"><a href="#govLaw">Governing Law</a></div>
			<div class="rightLink"><a href="#notice">Notice of Copyright Infringement</a></div>
		</div>
		<!--right part end-->
		<!--left part start-->
		<div class="touMLeft">
		<div class="touBlock">
		<a id="useragreement"></a>
		<h3 class="subhead">User Agreement</h3>
		<div class="txt">
		<p>The Terms and Conditions (T&amp;C) contained herein along with the Privacy Policy and Terms of Use, form an Agreement regulating our relationship with regard to the use of Times Internet Limited's 'Indiatimes shopping' Platform (Site) by you. </p>
		<p>These terms of use (<b>Terms</b>) constitute a legally binding agreement between you and the Company regarding your use of the web site i.e. shopping.indiatimes.com (the Site) and any services offered by the company including but not limited to delivery of content via the Site, any mobile or internet connected device or otherwise (the "the Service").  By accessing the Site or Service and/or by clicking "I agree", you agree to be bound by these Terms. You hereby represent and warrant to the Company that you are at least eighteen (18) years of age or above and  are capable of entering, performing and adhering to these Terms   and that you agree to be bound by the following terms and conditions. While individuals under the age of 18 may utilize the Service of the site, they shall do so only with the involvement &amp; guidance of their parents and / or legal guardians, under such Parent /Legal guardian's registered account .  You agree to register prior to uploading any content and / or comment and any other use or services of this site  and provide your details including but not limited to complete name, age, email address, residential address, contact number.</p>
		<p>Please read this Agreement carefully. You are advised to regularly check for any amendments or updates to the terms and conditions from time to time. Times Internet Limited may add to or change or update these Terms of Use, from time to time entirely at the its own discretion. You are responsible for checking these Terms of Use periodically to remain in compliance with these terms. Your use of Site and any amendment to the Terms of Use shall constitute your acceptance of these terms and you also agree to be bound by any such changes/revisions/amendments.</p>
		<p>You accept the Site Terms of Use, Privacy Policy and other Site policies by clicking the <b>"secure login/register"</b> button when registering and logging into the Site; accessing or using Site, services, applications, and tools provided herein; or as otherwise indicated on a specific site, service, application, or tool from time to time. Some Site services, applications, and tools may have additional or other terms, agreements, or policies that govern their availability and use. Your use of and access to such sites, services, applications, and tools are subject to any and all terms, agreements, or policies applicable to them.</p>
		<p>Any clause of terms and conditions if deemed invalid, void or for any reason unenforceable, shall be deemed severable and shall not affect the validity and enforceability of the remaining clauses of the terms and conditions. </p>
		</div>
		</div>
		<div class="touBlock">
		<a id="definitions"></a>
		<h3 class="subhead">Definitions</h3>
		<div class="txt">
		<p><b>"Agreement"</b> means the Terms and Conditions (T&amp;C) contained herein along with the Privacy Policy and Terms of Use including other T&amp;C at other portals of Times Internet Limited under the Indiatimes brand name. It will also include references to this Agreement as and when amended, notated, supplemented, varied or replaced.</p>
		<p><b>"Site"</b>or "Indiatimes Shopping" means the Indiatimes online shopping platform owned and operated by Times Internet Limited, which provides a venue to the users of Indiatimes.com to buy the products listed / displayed at Indiatimes Shopping by the Seller.</p>
		<p><b>"Vendor" / "seller" / "affiliates"</b> shall mean the person or any legal entity who offers for sale, sells, displays, the products on the online shopping platform provided by Shopping.Indiatimes.com / website and delivers the ordered products to the customers.</p>
		<p><b>"Customer" / "Buyer"</b> shall mean the person or any legal entity who accepts the offer for sale on Indiatimes Shopping by placing an order for and or purchases any products offered for sale on Indiatimes Shopping.</p>
		<p><b>"User/You"</b> means and includes you and/or any person or an entity including Vendor/Seller using or accessing the services provided on this Site and any person who access or avail this site of the Company for the purpose of hosting, publishing, sharing, transacting, displaying or uploading information or views and includes other persons jointly participating in using the Site.</p>
		<p><b>"Product/s"</b> connotes the goods, services promoted / displayed on the Site and offered for any use / sale.</p>
		 
		
		</div>
		</div>
		<div class="touBlock">
		<div>
		<a id="onlinePurchases"></a>
		<span class="floatLeft"><h3 class="subhead">Online Purchases</h3></span>
		<span class="frt topLink"><a href="#top">Top</a></span>
		<div class="clear"></div>
		</div>
		<div class="txt">
		<p>This Website is only a venue where Users may meet and interact with one another for their sale and purchase transactions. Therefore, Times Internet Limited acts as a facilitator for such sale and all commercial / contractual terms are offered by and agreed to between buyers and sellers alone. The commercial / contractual terms include without limitation price, shipping costs, date, period, mode of delivery, warranties related to products and services including after sales services related to products and services, etc., over which the seller has complete control and the same may be subject to change.</p>
		<p>You agree, understand and acknowledge that Indiatimes Shopping is an online shopping platform, a venue enabling the users to buy any product listed on the Site at the price indicated therein at any time from any place. You further agree and acknowledge that the Indiatimes Shopping is not involved in any sale and purchase of goods/products listed on this Site. Indiatimes Shopping is only a facilitator, an intermediary and is not and cannot be a party to or control in any manner any transactions between the Vendor/Seller and the Customer/Buyer. Indiatimes Shopping shall neither be responsible nor liable to mediate or resolve any disputes or disagreements between the Users and the Vendors.</p> 
		<p>Times Internet Limited shall neither be liable nor responsible for any actions or inactions of Vendors and/or Sellers or any breach of conditions, representations or warranties by the Vendor or manufacturer of the products.</p> 
		<p>Times Internet Limited does not sell or retail any products and does not ensure that the Users shall perform their obligations in respect of the transaction concluded on this Site and further expressly disclaims any warranties or representations express or implied in respect of quality, safety, merchantability, fitness for a particular purpose, or legality of the products listed and transacted on Indiatimes Shopping.</p> 
		<p>You further agree and undertake that you are accessing the services available on this Site and transacting at your sole risk and are using your best and prudent judgment before entering into any transaction through this Site.</p> 
		<p>The Site is a channel of communication whereby the Users can reach a larger base to buy and sell items or services. Indiatimes Shopping is only providing a platform for communication and it is agreed that the contract for sale of any of the products or services shall be a strictly bipartite contract between the Seller and the Buyer. At no time shall any right, title or interest over the items vest with Indiatimes Shopping nor shall Indiatimes Shopping have any obligations or liabilities in respect of such contract. Indiatimes Shopping is not responsible for unsatisfactory or delayed performance of services or damages or delays as a result of items, which are out of stock, back ordered, returned undelivered or otherwise unavailable. All items are offered only for a restricted time and only for the available supply/till stock lasts.</p>
		<p>Indiatimes Shopping accepts no liability for any errors or omissions, whether on behalf of itself or third parties.</p> 
		<p>Indiatimes Shopping is not responsible and shall not be responsible for any non-performance or breach of any contract entered into between Users.</p> 
		<p>All orders shall be pre-approved with an acceptable method of payment as established by Indiatimes Shopping which may call for and require additional verification or information.</p> 
		<p>The address at which delivery of the product ordered by you are to be made should be correct and proper in all respects.</p> 
		<p>After the receipt of payment from the Buyer, the Vendor shall arrange for the delivery of the product to the buyer at the shipping address provided by the Buyer.</p> 
		<p>Any and all orders placed by you on this Site are a firm commitment to purchase and you are obligated to complete the transaction and not contest it in anyway.</p> 
		<p>Before placing an order you are advised to check the product description carefully. By placing an order for a product you agree to be bound by the conditions of sale included in the item's description.</p> 
		<p><b>The agreement between you and Times Internet Limited is subject to the following terms and conditions:</b></p>
		<ol class="small">
			<li>The User certifies that he/she is at least 18 (eighteen) years of age. </li>
			<li>These terms and conditions supersede all previous representations, understandings, or agreements and shall prevail notwithstanding any variance with any other terms of any order submitted or your login through other group or related ID. By using the Shopping services of Times Internet Limited you agree to be bound by the Terms and Conditions.</li>
			<li>All prices, unless indicated otherwise are in Indian Rupees.</li>
			<li>By indicating User's acceptance to purchase any product or service offered on the site, user is obligated to complete such transactions after making payment. Users shall prohibit from indicating its acceptance to purchase products and services where it does not intend to complete such transactions.</li>
			<li>Times Internet Limited is neither responsible for any non-performance or breach of any contract entered into between Users nor make any representation or Warranty as to the attributes (such as quality, worth, marketability, etc.) of the products or services proposed to be sold or offered to be sold by the seller or purchased by the buyer, on the Website.</li>
			<li>You are advised to independently verify the bona fides of any particular seller that you choose to deal with on the Website and use your best judgment in that behalf. Times Internet Limited, accepts no liability for any errors or omissions, whether on behalf of itself or its Sellers or third parties.</li>
			<li>Pricing on any product(s) as is reflected on the Website may due to some technical issue, typographical error or product information published by seller may be incorrectly reflected. Any order placed for a product that is listed at an incorrect price may be cancelled. This shall be regardless of whether the order has been confirmed and/or payment levied. In the event the payment has been processed, the same shall be credited to your account and duly notified thru e mail.</li>
			<li>In a credit card transaction, you must use your own credit card. Times Internet Limited will not be liable for any credit card fraud. The liability to use a card fraudulently will be on the user and the onus to 'prove otherwise' shall be exclusively on the user. To provide a safe and secure shopping experience, we regularly monitor transactions for fraudulent activity. In the event of detecting any suspicious activity, Times Internet Limited reserves the right to cancel all past, pending and future orders without any liability.</li> 
			<li>Times Internet Limited is not responsible for non-delivery, unsatisfactory or delayed performance of services or damages or delays as a result of items which are out of stock, back ordered or otherwise unavailable. All items are offered only for a restricted time and only for the available supply. It is the sole responsibility of the Vendor to dispatch the Product to the User (depending on the Product or Offer Price). Any request for cancellations of orders once duly placed on the site, shall not be entertained.</li>
			<li>In the event that a non-delivery occurs on account of a mistake by you (i.e. wrong name or address) any extra cost towards re-delivery shall be claimed from you.</li>
			<li>Shipment/delivery time of order processing starts from the day of receipt of the payment confirmed against the order placed with Times Internet Limited. In case of COD (cash on delivery) orders, the expected delivery time shall be calculated from the date of placing the order. The Shipment /Delivery time is an approximate time mentioned by the vendor against each product. Times Internet Limited shall not be liable for any delay / non-delivery of purchased goods by the Vendors due to any force majeure event including but not limited to flood, fire, wars, acts of God or any event beyond the control of Times Internet Limited.</li>
			<li>Notwithstanding anything contained herein, Times Internet Limited acts only as booking agent to facilitate / integrate transactions between the Buyers and Sellers through various platforms (online web store, print ads, call centre, mail order catalogues, SMS etc.) for various Vendors and shall in no way be responsible for any quality of product, replacement, damages, additional cost, losses, expenses and/or taxes incurred by Users qua the products. In no event shall Times Internet Limited, its directors, officials, representatives and employees are liable for any damages relating to products sold through its various platforms including but not limited to Indiatimes Shopping.</li>
			<li>Presently, the browsing and buying service(s) of Indiatimes Shopping are being offered free of cost. However, Times Internet Limited reserves the right to charge a fee for any or such facilities.</li>
			<li>The User agrees to use the services provided by Times Internet Limited, its affiliates, consultants and contracted companies, for lawful purposes only.</li>
			<li>The User agrees not to make any bulk purchase to indulge into any reseller activities. In case of any such instances, Times Internet Limited reserves all rights to cancel the current and future orders and block the concerned User account.</li>
			<li>The User agrees to provide authentic and true information. Times Internet Limited reserves the right to confirm and validate the information and other details provided by the User at any point of time. If upon confirmation such User details are found to be false, not to be true (wholly or partly), Times Internet Limited shall in its sole discretion reject the registration and debar the User from using the Services available on its website, and / or other affiliated websites without prior intimation whatsoever.</li>
			<li>Times Internet Limited will not be responsible for any damage suffered by users from use of the services on this site. This without limitation includes loss of revenue/data resulting from delays, non-deliveries, missed deliveries, or service interruptions as may occur because of any act / omission of the Vendor. This disclaimer of liability also applies to any damages or injury caused by any failure of performance, error, omission, interruption, deletion, defect, delay in operation or transmission, computer virus, communication line failure, theft or destruction or unauthorized access to, alteration of, or use of record, whether for breach of contract, tortuous behavior, negligence, or under any other cause of action.</li>
			<li>Partial delivery of product needs to be reported within 24 hrs of receipt of the product.</li>
			<li>Cancellation on user's request, may not be allowed, subject to the specific terms and conditions applicable to the type of product or service purchased.</li>
			<li>All order/sub orders cancelled will be refunded as per the payment mode selected by customer except for COD/Cheque paymode, where refund shall be processed via Cheque.</li> 
			<li>Delivery of orders would be done address specific not person/time specific.</li>
			<li>The Indiatimes Gift Certificate issued by Times Internet Limited shall be sent to and linked with the email id mentioned during the order placement only.</li>
			<li>For reported defects on products with manufacturer's warranty the customer needs to contact the relevant service center of the manufacturer, respectively. Times Internet Limited shall not be held responsible for any refund claim in such a case from the customer.</li>
			<li>Times Internet Limited reserves the right to cancel any order placed using Credit Card which holds International Billing Address. </li>
			<li>Times Internet Limited reserves the right to cancel any order placed which is not available, out of stock or in short supply.</li>
			<li>Octroi charges may be levied on some products displayed on the site .These charges shall are not refundable and shall be borne by the customer. In the event of cancellation of the order the ,Octroi charges levied shall not be refunded.</li>
			<li>We (Times Internet Limited) as a merchant shall be under no liability whatsoever in respect of any loss or damage arising directly or indirectly out of the decline of authorization for any Transaction, on Account of the Cardholder having exceeded the preset limit mutually agreed by us with our acquiring bank from time to time.</li>
			<li>Times Internet Limited reserves the right to send transactional emails and SMS's related to any order placed by a customer and the customer agrees that the same will not tantamount to spam. By submitting your mobile number, you agree to receive calls/SMS's from Times Internet Limited or its authorized representative, irrespective of your registration on Do Not Disturb (DND) with your telecom service provider.</li>
			<li>You agree to receive calls from Times Internet Limited and its agents, merchants, courier partners seeking clarification/information regarding your order and any other related information as and when required and disclaim any liability of Times Internet Limited in this regard. </li>
		</ol>
		
		
		
		
		
		
		</div>
		</div>
		<div class="touBlock">
		<div>
		<a id="reviewsComments"></a>
		<span class="floatLeft"><h3 class="subhead">Reviews, comments and other content</h3></span>
		<span class="frt topLink"><a href="#top">Top</a></span>
		<div class="clear"></div>
		</div>
		<div class="txt">
		<p>Users of our website may post reviews, comments and other content; as long as the content is not illegal, obscene, abusive, threatening, defamatory, invasive of privacy, infringing of intellectual property rights, or otherwise injurious to third parties, or objectionable and does not consist of or contain software viruses, political campaigning, commercial solicitation, chain letters, mass mailings, or any form of "spam". In case a user uses a false e-mail address, impersonates any person or entity, or otherwise misleads as to the origin of any content, Times Internet Limited reserves the right to remove, refuse, delete or edit any content that violates these Conditions of use and, or terminate your permission to access or use our website.</p>		
		</div>
		</div>
		<div class="touBlock">
		<div>
		<a id="typographicalErrors"></a>
		<span class="floatLeft"><h3 class="subhead">Typographical Errors </h3></span>
		<span class="frt topLink"><a href="#top">Top</a></span>
		<div class="clear"></div>
		</div>
		<div class="txt">
		<p>In the event a product is listed at an incorrect price or with incorrect information due to typographical error or error in pricing or product information received from our Vendors or suppliers, Times Internet Limited shall have the right to refuse or cancel any orders placed for product listed at the incorrect price. Times Internet Limited shall have the right to refuse or cancel any such orders whether or not the order has been confirmed and your credit/debit card charged. If your credit/debit card has already been charged for the purchase and your order is cancelled, Times Internet Limited shall issue a credit to your credit/debit card account in the amount of the charge.</p>		
		</div>
		</div>
		<div class="touBlock">
		<div>
		<a id="productsDescriptionAndPricing"></a>
		<span class="floatLeft"><h3 class="subhead">Products Description and Pricing </h3></span>
		<span class="frt topLink"><a href="#top">Top</a></span>
		<div class="clear"></div>
		</div>
		<div class="txt">
		<p>Before placing an order you are advised to check the product description carefully. By placing an order for a product you agree to be bound by the conditions of sale included in the item's description.</p> 
		<p>Times Internet Limited and\or Times Internet Limited's Vendor\Seller, will attempt to be as accurate as reasonably possible while providing Product descriptions and pricings. However, Times Internet Limited or Seller do not warrant that descriptions or other content or prices related to the Products or other information and content contained in this Times Internet Limited website is accurate, complete, reliable, current, or error-free. If a Product showcased on this Times Internet Limited website (shopping.indiatimes.com) is found by You not to be as described, upon receipt of the same in pursuance to placing an order on the Seller through the Site, your sole remedy is to return it in unused (seal intact) condition to the Seller or Times Internet Limited (as the case may be). In the event if the payment has been processed by Vendor\Seller for the returned Product(s), the refund amount shall be credited to your credit/debit card account and the same shall be duly notified to by email to your email address provided at the time of registration.</p>
		<p>Charges displayed on the site includes only the cost of the product., Service fee for payment, facilitation fee and shipping charges will be levied/charged extra as applicable.. Similarly for any applicable refunds the full amount, which has been charged, is refunded.</p> 
		<p>All prices and availability of products are subject to change without prior notice at the sole discretion of Times Internet Limited.</p>	
		</div>
		</div>
		<div class="touBlock">
		<div>
		<a id="onlinePayment"></a>
		<span class="floatLeft"><h3 class="subhead">Online Payment</h3></span>
		<span class="frt topLink"><a href="#top">Top</a></span>
		<div class="clear"></div>
		</div>
		<div class="txt">
		<p>In order to facilitate payments for Product(s) purchased by You through shopping.Indiatimes.com shopping, (Times Internet Limited), at the request of the Sellers, offers an online payment gateway facility that will facilitate You to make payments in respect thereof to the Sellers/Times Internet Limited using netbanking, credit/debit card account or any other mode acceptable and made available to the customers from time to time, subject to Your complete acceptance and adherence to the terms and conditions hereof as well as the terms and conditions of the website of the payment gateway service provider/s. It is hereby clarified that Times Internet Limited does not itself collect any amount from the purchasers and the entire payment transaction (including collection from the purchasers and distribution to the Times Internet Limited Vendor\Seller's is conducted by the online payment gateway facility provided. </p>
		</div>
		</div>
		<div class="touBlock">
		<div>
		<a id="creditcarddetails"></a>
		<span class="floatLeft"><h3 class="subhead">Credit card details</h3></span>
		<span class="frt topLink"><a href="#top">Top</a></span>
		<div class="clear"></div>
		</div>
		<div class="txt">
		<p>You agree, understand, undertake and confirm that the credit/debit card details provided by You for making payments for Product(s) purchased through shopping.Indiatimes.com, either through the on-line payment gateway mechanism will be correct, current, complete and accurate and you shall not use the credit card/ debit card or any other bank account which is not lawfully owned by you. The aforesaid information provided by You will not be shared by Times Internet Limited with any of the third parties unless required by law, regulation or court order or for facilitating and completing the purchases made by You or its Vendor\Seller will not be responsible for any financial loss, inconvenience or mental agony resulting from misuse of your ID/password/credit card number/account details in anyway.</p>
		</div>
		</div>
		<div class="touBlock">
		<div>
		<a id="orderTrackingFacility"></a>
		<span class="floatLeft"><h3 class="subhead">Order Tracking Facility</h3></span>
		<span class="frt topLink"><a href="#top">Top</a></span>
		<div class="clear"></div>
		</div>
		<div class="txt">
		<p>You understand and agree that Times Internet Limited and this Site also provides hosting services to its Vendor\Sellers to also provide 'Order Tracking Facility' to the Registered Users in respect of their orders placed with Times Internet Limited Vendor\Seller. All such Order Tracking Information and results are third party user generated contents. Times Internet Limited neither initiates the transmission nor selects the sender and receiver of the transmission nor selects nor modify the information contained in the transmission. Times Internet Limited has no control over the third party agencies/partners generated contents (depends on the input made by the third party agencies/partners) and shall not be liable for the same in any manner. Times Internet Limited's Vendor\Seller provides the said facility as a free service, without any obligation to do so,. However, it assumes no responsibility for any inaccuracies that may creep in such information provided to the Users or in regard to the timeliness of such information. </p>
		</div>
		</div>
		<div class="touBlock">
		<div>
		<a id="disclaimer"></a>
		<span class="floatLeft"><h3 class="subhead">Disclaimer Of Warranties/Limitation Of Liability</h3></span>
		<span class="frt topLink"><a href="#top">Top</a></span>
		<div class="clear"></div>
		</div>
		<div class="txt">
		<p>USER ACKNOWLEDGES THAT THROUGH THIS SITE, TIMES INTERNET LIMITED MERELY ACTS AS A FACILITATOR, IN ORDER TO FACILITATE HIGHEST QUALITY SERVICES TO THE USERS. TIMES INTERNET LIMITED DOES NOT WARRANT THAT THE FUNCTIONS CONTAINED IN THIS SITE WILL BE UNINTERRUPTED OR ERROR FREE, THAT DEFECTS WILL BE CORRECTED, OR THAT THIS SITE OR THE SERVERS THAT MAKE IT AVAILABLE ARE FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS, BUT SHALL ENDEAVOUR TO ENSURE USER FULLEST SATISFACTION.</p>
		<p>TIMES INTERNET LIMITED IS NOT LIABLE FOR ANY CLAIMS AGAINST LACK OR DEFICIENCY OF SERVICES; NON-FULFILLMENT OR UNSATISFACTORY FULFILLMENT OF PRODUCTS AND SERVICES PURCHASED BY USER FROM THE THIRD PARTY. THUS, TIMES INTERNET LIMITED SHALL NOT HAVE ANY LIABILITY WHATSOEVER FOR ANY ASPECT OF THE ARRANGEMENTS BETWEEN THE USERS OF THE SITE AS REGARDS THE STANDARDS OF PRODUCTS AND SERVICES. IN NO EVENT SHALL TIMES INTERNET LIMITED BE LIABLE FOR ANY DIRECT, INDIRECT, PUNITIVE, INCIDENTAL, SPECIAL, CONSEQUENTIAL DAMAGES OR ANY OTHER DAMAGES RESULTING FROM: (A) THE USE OR THE INABILITY TO USE THE PRODUCTS AND SERVICES; (B) THE COST OF PROCUREMENT OF SUBSTITUTE PRODUCTS AND SERVICES; (C) UNAUTHORIZED ACCESS TO OR ALTERATION OF THE USER'S TRANSMISSIONS OR DATA; (D) ANY OTHER MATTER RELATING TO THE SERVICES; INCLUDING, WITHOUT LIMITATION, DAMAGES FOR LOSS OF USE, DATA OR PROFITS, ARISING OUT OF OR IN ANY WAY CONNECTED WITH THE USE OR PERFORMANCE OF THE WEBSITE.</p>
		<p>TIMES INTERNET LIMITED SHALL NOT BE HELD RESPONSIBLE FOR NON-AVAILABILITY OF THE WEBSITE DURING PERIODIC MAINTENANCE OPERATIONS OR ANY UNPLANNED SUSPENSION OF ACCESS TO THE WEBSITE THAT MAY OCCUR DUE TO TECHNICAL REASONS OR FOR ANY REASON BEYOND TIMES INTERNET LIMITED'S CONTROL. THE USER UNDERSTANDS AND AGREES THAT ANY MATERIAL AND/OR DATA DOWNLOADED OR OTHERWISE OBTAINED THROUGH THE WEBSITE IS DONE ENTIRELY AT THEIR OWN DISCRETION AND RISK AND THEY WILL BE SOLELY RESPONSIBLE FOR ANY DAMAGE TO THEIR COMPUTER SYSTEMS OR LOSS OF DATA THAT RESULTS FROM THE DOWNLOAD OF SUCH MATERIAL AND/OR DATA.</p>
		<p>THE CLAUSE SHALL SURVIVE THE TERMINATION OR EXPIRY OF THIS AGREEMENT.</p>
		</div>
		</div>
		<div class="touBlock">
		<div>
		<a id="registration"></a>
		<span class="floatLeft"><h3 class="subhead">Registration</h3></span>
		<span class="frt topLink"><a href="#top">Top</a></span>
		<div class="clear"></div>
		</div>
		<div class="txt">
		<p>Registration of the User on the Website is Mandatory. The User agrees and undertakes at all times to be responsible for maintaining the confidentiality of the password and user id, and shall be fully responsible for all activities that occur by use of such password or user id. Further, the User agrees not to use any other party's under ID and Password for any purpose whatsoever without proper authorization from such party.</p>
		<p>User are responsible for the security of User's password and for all transactions undertaken using User's password through our service. User confirms that he/she is the authorized holder of the credit card or the original account holder used in the transactions under this Site. Times Internet Limited will not be responsible for any financial loss, inconvenience or mental agony resulting from misuse of user's ID/password/credit card number/account details number for using Times Internet Limited's Services.</p>
		<p>The user also agrees and undertakes to immediately notify Times Internet Limited of any unauthorized use of the user's password or user ID and to ensure that the user logs off at the end of each session at the website. Times Internet Limited shall not be responsible for any, direct or indirect, loss or damage arising out of the user's failure to comply with this requirement.</p>
		<p>The User also agrees to: <br>
		(a) provide true, accurate and complete information about himself and his beneficiaries as prompted by the registration form ("Registration Data") on the Website; and <br>(b) maintain and promptly update the Registration Data to keep it true, accurate, current and complete. If the User provides any information that is untrue, inaccurate, not current or incomplete or Times Internet Limited has reasonable grounds to suspect that such information is untrue, inaccurate, not current or incomplete, Times Internet Limited shall have a right to suspend or terminate User's registration and refuse any and all current or future use of the Website and/or any Service.</p> 
		<p>Furthermore, the User grants Times Internet Limited the right to disclose to third parties Registration Data to the extent necessary for the purpose of carrying out the Services.</p>

		</div>
		</div>
		<div class="touBlock">
		<div>
		<a id="prohibited"></a>
		<span class="floatLeft"><h3 class="subhead">Prohibited Activities</h3></span>
		<span class="frt topLink"><a href="#top">Top</a></span>
		<div class="clear"></div>
		</div>
		<div class="txt">
		<p>You agree that you shall not host, display, upload, modify, publish, transmit, update or share any information on the Site, that<br>
		(a) belongs to another person and to which you do not have any right to;<br>
		(b) is grossly harmful, harassing, blasphemous, defamatory, obscene, pornographic, paedophilic, libellous, invasive of another's privacy, hateful, or racially, ethnically objectionable, disparaging, relating or encouraging money laundering or gambling, or otherwise unlawful in any manner whatever;<br> 
		(c) harm minors in any way; <br>
		(d) infringes any patent, trademark, copyright or other proprietary rights;<br> 
		(e) violates any law for the time being in force; <br>
		(f) deceives or misleads the addressee about the origin of such messages or communicates any information which is grossly offensive or menacing in nature;<br> 
		(g) impersonate another person;<br> 
		(h) contains software viruses or any other computer code, files or programs designed to interrupt, destroy or limit the functionality of any computer resource;<br> 
		(i) threatens the unity, integrity, defence, security or sovereignty of India, friendly relations with foreign states, or public order or causes incitement to the commission of any cognisable offence or prevents investigation of any offence or is insulting any other nation.<br>
		</p>
		<p>Any Content and or comment uploaded by you, shall be subject to relevant Indian laws and may be disabled, or and may be subject to investigation under appropriate laws. Furthermore, if you are found to be in non-compliance with the laws and regulations, these terms, or the privacy policy of the Site,   the Company shall have the right to immediately terminate/block your access and usage of  the Site and  the Company shall have the right to immediately remove any non-compliant Content and or comment, uploaded by you and shall further have the right to take recourse to such  remedies as would be available to the Company under the applicable laws.</p></div>
		</div>  
		<div class="touBlock">
		<div>
		<a id="indemnity"></a>
		<span class="floatLeft"><h3 class="subhead">Indemnity</h3></span>
		<span class="frt topLink"><a href="#top">Top</a></span>
		<div class="clear"></div>
		</div>
		<div class="txt">
		<p>You shall indemnify and hold harmless to Times Internet Limited and (as applicable) Times Internet Limited's parent, subsidiaries, affiliates, third-parties and their respective officers, directors, agents, and employees, from  any and all claims, liabilities, damages, losses, costs and expenses, including attorney's fees, caused by or arising out of claims based upon the use of User's actions or inactions, including but not limited to any warranties, representations or undertakings or in relation to the non-fulfilment of any of its obligations under this Agreement or arising out of the User's infringement of any applicable laws, regulations including but not limited to Intellectual Property Rights, payment of statutory dues and taxes, claim of libel, defamation, violation of rights of privacy or publicity, loss of service by other subscribers and infringement of intellectual property or other rights.</p> 
		<p>This clause shall survive the expiry or termination of this Agreement.</p>
		
		</div>
		</div> 
		<div class="touBlock">
		<div>
		<a id="termination"></a>
		<span class="floatLeft"><h3 class="subhead">Termination /Suspension</h3></span>
		<span class="frt topLink"><a href="#top">Top</a></span>
		<div class="clear"></div>
		</div>
		<div class="txt"><p>Times Internet Limited reserves its right to limit, refuse service, restrict, suspend, prohibit access to the Site, terminate your account and services; (Terminate this Agreement; Terminate or suspend your access to the Web Sites; Move, or remove any product or service that is available on or through the Services; Deactivate or delete your accounts and all related information and files in your account; Establish general practices and limits concerning use of this Site) at any time, in its sole discretion with or without cause, and with or without any prior notice for any violation of the Terms of Use. Upon such termination or suspension, your right to use the Indiatimes Shopping's Web Sites will immediately cease. Once the User's registration or the Services are terminated, cancelled or suspended, any data that the User has stored on the Website may not be retrieved later. The User agrees that Times Internet Limited may under certain circumstances and without prior notice, immediately terminate the User's user ID and access to the Website/Services. Causes for termination may include, but shall not be limited to requests by enforcement or government agencies, possible legal liabilities, infringing the intellectual property rights of any third party, anything acting inconsistently with the letter of spirit of our policies or harassing our employees etc.</p></div>
		</div>
		<div class="touBlock">
		<div>
		<a id="relationship"></a>
		<span class="floatLeft"><h3 class="subhead">Relationship</h3></span>
		<span class="frt topLink"><a href="#top">Top</a></span>
		<div class="clear"></div>
		</div>
		<div class="txt"><p>None of the provisions of this Agreement, terms and conditions, notices or the right to use the Website by the User contained herein or any other section or pages of the Website and/or the Linked Sites, shall be deemed to constitute a partnership between the User and Times Internet Limited and no party shall have any authority to bind or shall be deemed to be the agent of the other in any way. It may be noted, however, that if by using the Website, the User authorizes Times Internet Limited and its agents to access third party sites designated by them or on their behalf for retrieving requested information, the User shall be deemed to have appointed Times Internet Limited and its agents as their agent for this purpose.</p></div>
		</div>  
		<div class="touBlock">
		<div>
		<a id="entireAgreement"></a>
		<span class="floatLeft"><h3 class="subhead">Entire Agreement</h3></span>
		<span class="frt topLink"><a href="#top">Top</a></span>
		<div class="clear"></div>
		</div>
		<div class="txt"><p>The Terms and Conditions, together with any terms and conditions incorporated herein or referred to herein constitute the entire agreement between us relating to the subject matter hereof, and supersedes any prior understandings or agreements (whether oral or written) regarding the subject matter, and may not be amended or modified except in writing or by making such amendments or modifications available on this site. </p></div>
		</div>                                                                                                                   
		<div class="touBlock">
		<div>
		<a id="headings"></a>
		<span class="floatLeft"><h3 class="subhead">Headings</h3></span>
		<span class="frt topLink"><a href="#top">Top</a></span>
		<div class="clear"></div>
		</div>
		<div class="txt">
		<p>The headings and sub-headings herein are included for convenience and identification only and are not intended to describe, interpret, define or limit the scope, extent or intent of this Service or the right to use the Website by the User contained herein or any other section or pages of the Website or any Linked Sites in any manner whatsoever.</p>	
		</div>
		</div>
		<div class="touBlock">
		<div>
		<a id="commWithUser"></a>
		<span class="floatLeft"><h3 class="subhead">Communication with Users</h3></span>
		<span class="frt topLink"><a href="#top">Top</a></span>
		<div class="clear"></div>
		</div>
		<div class="txt">
		<p>Times Internet Limited reserves the right to communicate with Users regarding this site and User's use of this site or any product or service purchased by User on this site.</p>
		</div>
		</div>    
		<div class="touBlock">
		<div>
		<a id="forceMajeure"></a>
		<span class="floatLeft"><h3 class="subhead">Force Majeure</h3></span>
		<span class="frt topLink"><a href="#top">Top</a></span>
		<div class="clear"></div>
		</div>
		<div class="txt">
		<p>Times Internet Limited shall have no liability to you for any interruption or delay, to access the Site irrespective of the cause. </p>
		</div>
		</div>                       
		<div class="touBlock">
		<div>
		<a id="govLaw"></a>
		<span class="floatLeft"><h3 class="subhead">Governing Law</h3></span>
		<span class="frt topLink"><a href="#top">Top</a></span>
		<div class="clear"></div>
		</div>
		<div class="txt"><p>This agreement and each TOS shall be governed by and constructed in accordance with the laws of India without reference to conflict of laws principles and disputes arising in relation hereto shall be subject to the exclusive jurisdiction of the courts of New Delhi.</p></div>
		</div>
		<div class="touBlock">
		<div>
		<a id="notice"></a>
		<span class="floatLeft"><h3 class="subhead">Notice of Copyright Infringement</h3></span>
		<span class="frt topLink"><a href="#top">Top</a></span>
		<div class="clear"></div>
		</div>
		<div class="txt">
		<p>Times Internet Limited is not liable for any infringement of copyright arising out of materials posted on or transmitted through the site, or items advertised on the site, by end users or any other third parties. Any complaints, abuse or concerns with regards to content and or comment or  breach of these terms shall  be immediately informed to  the designated Grievance  Officer as mentioned below via in writing or through  email signed with the electronic signature addressed to Grievance Officer at <a href="mailto:grievance.shopping@indiatimes.co.in"><img style="line-height: 12px;vertical-align: bottom" alt="grievance.shopping@indiatimes.co.in" src="/images/images/grievance-image.jpg"></a> or write at the following address:</p>
		<p style="padding-left:20px;">
				<b>Subrata Chaudhuri<br>
				Grievance Redressal Officer<br>
				Times Internet Limited</b><br>
				Plot No. 391, Udyog Vihar, Phase ? III,<br>
				Gurgaon?122016<br>
				Haryana<br>
				India<br>
				Phone: 0124-4518550	
			</p>
		<p> request you to please provide the following information in your complaint:-</p>
		</div>
		</div>

		<p>(a) A physical or electronic signature of a person authorized to act on behalf of the copyright owner for the purposes of the complaint. </p>
		<p>(b) Identification of the copyrighted work claimed to have been infringed.  </p>
		<p>(c) Identification of the material on our website that is claimed to be infringing or to be the subject of infringing activity. </p>
		<p>(d) The address, telephone number or e-mail address of the complaining party. </p>
		<p>(e) A statement that the complaining party has a good-faith belief that use of the material in the manner complained of is not authorized by the copyright owner, its agent or the law. </p>
		<p>(f) A statement, under penalty of perjury, that the information in the notice of copyright infringement is accurate, and that the complaining party is authorized to act on behalf of the owner of the right that is allegedly infringed. </p>
		<p><b>Copyright Notice </b><br>
		</p><p>Copyright &copy;2013 Times Internet Limited. All rights reserved. <br>
		This disclaimer/terms of service notification is subject to change without notice.</p>

		</div>
		 <!--left part end-->
		<div class="clear"></div>
	</div>
			
			
			
		</div>
	</section>

<?php include __DIR__ . "/../common/newfooter.phtml"; ?>