<?php include __DIR__ . "/../common/header.phtml"; ?>
<!-- container body start -->
<div class="login-container clr register-campaign">
<div class="login center-container">
	<div class="section-container-ui">
	 <section>
	    <div  class="register-content head-title">Sign Up and get <span class="highlighted offer-price-ui">500 off</span> on your first purchase</div>
	 </section>
	</div>
  	<div class="section-container-ui">
  			<section>
  				<div class="register-content">
		  			<!-- registerUser Form-->
						<form action="/control/campaignRegister" method="post" name="campaignRegisterUser">
						<input type="hidden" name="REGISTRATION_CAMPAIGN" value="true" />
						   <div class="field-wrapper">
								<input type="text" value="" tabindex="1" placeholder="Enter your Name" id="newname" name="USER_FIRST_NAME" validate="{true,blank,Please specify a name,alphachar,Please enter a valid name}" tabindex="6"/>
								<span id="newname_error" class="error">&nbsp;</span>
							</div>
						   <div class="field-wrapper">
								<input type="text" value="" tabindex="2" placeholder="Enter your email" id="newemail" name="USER_NAME" validate="{true,blank,Please specify your valid email address,email,Please enter a valid email address}" tabindex="7"/>
								<span id="newemail_error" class="error">&nbsp;</span>
							</div>
							<div class="field-wrapper">
					  				<input type="number" value="" tabindex="3" placeholder="Mobile No"  id="mobileno" name="USER_MOBILE_NO" validate="{true,blank,Mobile No. required,phoneIND,Please enter valid mobile number}"  tabindex="6" maxlength="10"/>
					  				<span id="mobileno_error" class="error">&nbsp;</span>
					  		</div>
							<div class="field-wrapper text-align-center gender-select">
							    <input type="hidden" name="USER_GENDER" id="regGenderSelect" value="" />
								<button  class="flat-orange male" type="submit" tabindex="9" data-ga="registration_pop_up_mobile##male|click##registerCampaign##0" data-gender="M">Male</button>							
								<button  class="flat-orange female" type="submit" tabindex="9" data-ga="registration_pop_up_mobile##female|click##registerCampaign##0" data-gender="F">Female</button>
							</div>
						</form>
						<!-- registerUser Form End-->
	  			</div>
  			</section>
      </div>
  	<div class="separator"><aside><span>OR</span></aside></div>	
  	<div class="section-container-ui">
  		<h3>Login with Facebook or Google Plus</h3>
  		<div class="social-content">
  			<button data-ga-track="registration_pop_up_mobile##facebook_click##registerCampaign##1"  class="social facebook facebookLoginWindowCampaign"><i class="fa-facebook flt"></i> facebook</button>
			<button data-ga-track="registration_pop_up_mobile##google_click##registerCampaign##1"  class="social gplus googleLoginWindowCampaign"><i class="fa-google-plus flt"></i> Google</button>
  		</div>
  	</div>
	<div class="register-campaign-tnc">
	  <a  id="register-tnc-link" class="toggle-tnc" href="#" data-ga="registration_pop_up_mobile##term_condtions_click##registerCampaign##1" data-ga-track="registration_pop_up_mobile##term_condtions_click##registerCampaign##1" ><sup>*</sup> Terms and conditions apply.</a> 
	   <div id="register-tnc-list" class="section-container-ui" style="display:none">
	     <strong class="register-tnc-header"> Terms and conditions </strong>
	     <ul>
    		<li>1. Please activate your account first, before trying to use the coupon.</li>
			<li>2. This coupon can not be merged with or redeemed with any other coupon.</li>
			<li>3. The coupon is non transferable and can not be encashed. You can only use this coupon in logged in mode.</li>
			<li>4. The coupon can be used once per user.</li>
			<li>5. The coupon is valid only for new registered users on their 1st puchase.</li>
			<li>6. Rs. 500/- OFF on a minimum purchase of products worth Rs. 2000 (Shipping and Delivery Charges Extra).</li>
			<li>7. The offer is not valid on Electronics, Mobiles, Tablets, Watches, Gold and Jewellery.</li>
		 </ul>
	   </div>
	 </div>
  </div>
<!-- container body end -->
<?php include __DIR__ . "/../common/newfooter.phtml"; ?>
