<?php include __DIR__ . "/../common/pwaHeader.phtml"; ?>
<section class="honor-container">
	<div class="productWapperlist">
		<h1 class="heading">Honor 10 Lite Break Up with Bad Selfies</h1>
	</div>
	<div class="honor-home common-gallery">
		<div><a href="/control/honorStoreSelfie"><img class="img" border="0" src="https://img1.gadgetsnow.com/gd/imgbn/honor-m-left-swipes.jpg" /></a></div>
		<div><a href="/control/honorStoreSelfie"><img class="img" border="0" src="https://img1.gadgetsnow.com/gd/imgbn/honor-m-no-more.jpg" /></a></div>
		<div><a href="/control/honorStoreSelfie"><img class="img" border="0" src="https://img1.gadgetsnow.com/gd/imgbn/honor-m-ordinary-selfie.jpg" /></a></div>
		<div><a href="/control/honorStoreSelfie"><img class="img" border="0" src="https://img1.gadgetsnow.com/gd/imgbn/honor-m-enough-poofies.jpg" /></a></div>
		<div><a href="/control/honorStoreSelfie"><img class="img" border="0" src="https://img1.gadgetsnow.com/gd/imgbn/honor-m-did-enverything.jpg" /></a></div>
	</div>
	<div class="honor-home">
		<div><img class="img" border="0" src="https://img1.gadgetsnow.com/gd/imgbn/honor-m-newdesign_02n.jpg" /></div>
		<div><img class="img" border="0" src="https://img1.gadgetsnow.com/gd/imgbn/honor-m-newdesign_03.jpg" /></div>
		<div><img class="img" border="0" src="https://img1.gadgetsnow.com/gd/imgbn/honor-m-newdesign_04.jpg" /></div>
		<div><img class="img" border="0" src="https://img1.gadgetsnow.com/gd/imgbn/honor-m-newdesign_05n.jpg" /></div>
	</div>
	
<div class="productShowlist">
		<h4 class="heading">Honor Articles</h4>
</div>
<div class="author-container">
<div class="author-header">
	<h1>5 Reasons breaking up with bad selfies is good for self-confidence</h1>
	<div class="article-timing">Ariba Khaliq | Feb 28, 2019, 04:54PM IST</div>
</div>
<div class="author-container">
	<div class="author-articles">
	<ul data-tab="Articles">
	<?php if(isset($honorArticles)) {
		$count=0;
		for($i=0;$i<sizeof($honorArticles);$i++)
		{
			if($count === 5) break;
			$title = $honorArticles[$i]['title'];
			$articleurl = $honorArticles[$i]['url'];
			$imgurl = $honorArticles[$i]['img'];
			 
			$count = $count+1;
			 
			 </li>
			 <li>
			 Also, you make others smile. Yes, looking at a beautiful picture of yours can bring a smile on your audience's faces. So, take loads of them and spread happiness.
			 
			 </li>
			 <li>
			 They trigger joy and self-love. Looking good helps you embrace your beauty and the will to love yourself. 
			 
			 </li>
			 <li>
			 They make you feel more comfortable in social settings. Admit it, getting likes and lovely comments on your pictures do make you feel accepted and pretty ruddy great. 
			 
			 </li>
			 </ul>
			 <p>
			 And now that you know why you should take loads of selfies, we will tell you how to break up with bad ones. All you need to do is:
			 
			 </p>
			 <ul>
			 <li>Go to: <a href="https://shop.gadgetsnow.com/honor-10-lite" >https://shop.gadgetsnow.com/honor-10-lite</a></li>
			<li>Upload a selfie you want to break up with.</li>
			<li>Enter your name, email address and contact number to 'get OTP'.</li>
			<li>Download the AI-enhanced version of your selfie.</li>
			<li>Post a screenshot on social and participate in the contest.</li>
			 
			 </ul>
			 <p>And voila, you don't just get the best version of your selfie but also receive exciting prizes if you win the contest. Now that's one huge reason to take an exciting selfie! We say, go for a V sign. 
</p>
	<p>		 Disclaimer: This article has been produced on behalf of Honor by Times Internet's Spotlight team.
		</p>	 
			 
			</div>
</div>
<!--  latest form hawei end -->
	<div class="overflowhidden">
		<div style="overflow-y:scroll;  width:90%; margin:0 auto;"><a class="twitter-timeline"  href="https://twitter.com/hihonorindia?ref_src=twsrc%5Etfw">Tweets by Honor</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script></div>
	</div>
</section>


<?php include __DIR__ . "/../common/pwaFooter.phtml"; ?>
