<?php include __DIR__ . "/../common/pwaHeader.phtml"; ?>
<section class="honor-container">
	<div class="productWapperlist">
		<h1 class="heading">Honor 10 Lite Break Up with Bad Selfies</h1>
	</div>
	<div class="honor-home common-gallery">
		<div><a href="/control/honorStoreSelfie"><img class="img" border="0" src="https://img1.gadgetsnow.com/gd/imgbn/honor-m-left-swipes.jpg" /></a></div>
		<div><a href="/control/honorStoreSelfie"><img class="img" border="0" src="https://img1.gadgetsnow.com/gd/imgbn/honor-m-no-more.jpg" /></a></div>
		<div><a href="/control/honorStoreSelfie"><img class="img" border="0" src="https://img1.gadgetsnow.com/gd/imgbn/honor-m-ordinary-selfie.jpg" /></a></div>
		<div><a href="/control/honorStoreSelfie"><img class="img" border="0" src="https://img1.gadgetsnow.com/gd/imgbn/honor-m-enough-poofies.jpg" /></a></div>
		<div><a href="/control/honorStoreSelfie"><img class="img" border="0" src="https://img1.gadgetsnow.com/gd/imgbn/honor-m-did-enverything.jpg" /></a></div>
	</div>
	<div class="honor-home">
		<div><img class="img" border="0" src="https://img1.gadgetsnow.com/gd/imgbn/honor-m-newdesign_02n.jpg" /></div>
		<div><img class="img" border="0" src="https://img1.gadgetsnow.com/gd/imgbn/honor-m-newdesign_03.jpg" /></div>
		<div><img class="img" border="0" src="https://img1.gadgetsnow.com/gd/imgbn/honor-m-newdesign_04.jpg" /></div>
		<div><img class="img" border="0" src="https://img1.gadgetsnow.com/gd/imgbn/honor-m-newdesign_05n.jpg" /></div>
	</div>
	
<div class="productShowlist">
		<h4 class="heading">Honor Articles</h4>
</div>
<div class="author-container">
	<div class="author-articles">
	<ul data-tab="Articles">
	 <li><span>
			 <a target="_blank" href="/honor-10-lite/5-reasons-breaking-up-with-bad-selfies-is-good-for-self-confidence/aps-1234"><dfn class="mobile-sprite">
			5 Reasons breaking up with bad selfies is good for self-confidence</dfn></a>
			 <div class="table">
				<div class="table-cell rightline">
				   <span class="time-caption procs">
				   <a href="/author/Gadgets-Now-Bureau/10400">Gadgets Now Bureau</a>
				   </span>
				</div>
			 </div>
		  </span> </li>
	</ul>
	
	</div>
	 
</div>	
	
	<!-- latest form hawei start -->
<div class="productShowlist">
		<h4 class="heading">Articles from Honor</h4>
</div>
<div class="author-container">
	<div class="author-articles">
	<ul data-tab="Articles">
	<?php if(isset($honorArticles)) {
		$count=0;
		for($i=0;$i<sizeof($honorArticles);$i++)
		{
			if($count === 5) break;
			$title = $honorArticles[$i]['title'];
			$articleurl = $honorArticles[$i]['url'];
			$imgurl = $honorArticles[$i]['img'];
			 
			$count = $count+1;
			 
		?>
	 <li>
		  <span>
			 <a target="_blank" href="<?=$articleurl?>"><dfn class="mobile-sprite">
			<?=$title?></dfn></a>
			 <div class="table">
				<div class="table-cell rightline">
				   <span class="time-caption procs">
				   <a href="/author/Gadgets-Now-Bureau/10400">Gadgets Now Bureau</a>
				   </span>
				</div>
			 </div>
		  </span>
	   </li>
	   <?php }  } ?>
	</ul>
	</div>
	 
</div>
<!--  latest form hawei end -->
	<div class="overflowhidden">
		<div style="overflow-y:scroll;  width:90%; margin:0 auto;"><a class="twitter-timeline"  href="https://twitter.com/hihonorindia?ref_src=twsrc%5Etfw">Tweets by Honor</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script></div>
	</div>
</section>


<?php include __DIR__ . "/../common/pwaFooter.phtml"; ?>
