<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<title>Online Shopping: Buy Mobiles, Electronics, Cameras, Computers, Apparels & Jewellery Online</title>
<link href="/css/mobile_style.css" rel="stylesheet" type="text/css" />
</head>

<body role="document">
<!-- main container start -->
<div class="main-container" role="main">
	<!-- catalogList start -->
	<?php include __DIR__ . "/../common/catalogList.phtml"; ?>
	<!-- catalogList end -->

    <!-- container start -->
    <div class="container mobile-top-list-in refine-top-list-in">
    <!-- headerWithSearch start -->
		<?php include __DIR__ . "/../common/headerWithSearch.phtml"; ?>
	<!-- headerWithSearch end -->

    <!-- container body start -->
    <div class="body">
        <!-- <section>
			<div id="mobile-casousel" class="owl-carousel">
				<div> <img src="/img/img-1.jpg" width="100%" /> </div>
				<div> <img src="/img/img-2.jpg" width="100%" /> </div>
				<div> <img src="/img/img-3.jpg" width="100%" /> </div>

			</div>
        </section>
        <section class="mobile-home-adbanner">
            <img src="img/adbanner.jpg" width="100%" />
        </section>-->
        <!-- navigation start -->
        <div class="mobile-body-nav-list">
                <nav>
                    <h2>SHOP BY CATEGORIES</h2>
                    <dl>
                        <dt class="cat_list-ui displaynone"><a href="#" class="catalogue-list-ui" data-catlouge="Men Clothing">Men Clothing</a></dt>
                        <dt class="cat_list-ui displaynone"><a href="#" class="catalogue-list-ui" data-catlouge="Mobiles & Accessories">Mobiles & Accessories</a></dt>
                        <dt class="cat_list-ui displaynone"><a href="#" class="catalogue-list-ui" data-catlouge="Men & Women Clothing">Men & Women Clothing</a></dt>
                        <dt class="cat_list-ui displaynone"><a href="#" class="catalogue-list-ui" data-catlouge="Footwear">Footwear</a></dt>
                        <dt class="cat_list-ui displaynone"><a href="#" class="catalogue-list-ui" data-catlouge="Footwear">Footwear</a></dt>
                        <dt class="cat_list-ui displaynone"><a href="#" class="catalogue-list-ui" data-catlouge="Footwear">Footwear</a></dt>
                        <dt class="cat_list-ui displaynone"><a href="#" class="catalogue-list-ui" data-catlouge="ankush">ankush</a></dt>
                        <dt class="mobile-body-nav-view-more mobile-body-nav-view-more-list">View </dt>
                    </dl>
                
                </nav>
            </div>
            <!-- navigation start -->
            
        <section class="section-container-ui">
            <h3><a href="#">Best Seller Phones <span>view all</span></a></h3>
             <div id="mobile-list" class="owl-carousel">
                    <!-- product start -->
                    <div class="mobile-product-list-view">
                        <a href="#">
                            <figure>
                              &nbsp;<img class="lazyOwl" data-src="http://static5.shop.indiatimes.com/images/products/medium/B3122186/fashion/casuals/id-brown-men-casual-shoes-id0375.jpg" alt="" />
                            </figure>
                            <figcaption><div>ID Brown Men Casual Shoes ankush kumar</div></figcaption>
                            <div class="mobile-price-ui"><span class="offer-price-ui">11,245</span> <span class="mrp-price-ui">11,245</span> <span class="off-price-ui">(15% off)</span></div>
                        </a>
                    </div>
                     <!-- product end -->
                       <!-- product start -->
                    <div class="mobile-product-list-view">
                        <figure>
                            &nbsp;<img class="lazyOwl" data-src="http://static3.shop.indiatimes.com/images/products/medium/B2363638/mobiles/micromax/micromax-canvas-2-2-a114-black-.jpg" alt="" />
                        </figure>
                         <figcaption><div>Micromax Canvas 2.2 A114 (Black)</div></figcaption>
                        <div class="mobile-price-ui"><span class="offer-price-ui">8,999</span> <span class="mrp-price-ui">9,941</span> <span class="off-price-ui">(15% off)</span></div>
                    </div>
                     <!-- product end -->
                     <!-- product start -->
                    <div class="mobile-product-list-view">
                        <figure>
                            &nbsp;<img class="lazyOwl" data-src="http://static5.shop.indiatimes.com/images/products/medium/B3122186/fashion/casuals/id-brown-men-casual-shoes-id0375.jpg" alt="" />
                        </figure>
                        <figcaption><div>ID Brown Men Casual Shoes</div></figcaption>
                        <div class="mobile-price-ui"><span class="offer-price-ui">11,245</span> <span class="mrp-price-ui">11,245</span></div>
                    </div>
                     <!-- product end -->
                       <!-- product start -->
                    <div class="mobile-product-list-view">
                        <figure>
                            &nbsp;<img class="lazyOwl" data-src="http://static3.shop.indiatimes.com/images/products/medium/B2363638/mobiles/micromax/micromax-canvas-2-2-a114-black-.jpg" alt="" />
                        </figure>
                         <figcaption><div>Micromax Canvas 2.2 A114 (Black)</div></figcaption>
                        <div class="mobile-price-ui"><span class="offer-price-ui">8,999</span> <span class="mrp-price-ui">9,941</span></div>
                    </div>
                     <!-- product end -->
                     <!-- product start -->
                    <div class="mobile-product-list-view">
                        <figure>
                            &nbsp;<img class="lazyOwl" data-src="http://static5.shop.indiatimes.com/images/products/medium/B3122186/fashion/casuals/id-brown-men-casual-shoes-id0375.jpg" alt="" />
                        </figure>
                        <figcaption><div>ID Brown Men Casual Shoes</div></figcaption>
                        <div class="mobile-price-ui"><span class="offer-price-ui">11,245</span> <span class="mrp-price-ui">11,245</span></div>
                    </div>
                     <!-- product end -->
                       <!-- product start -->
                    <div class="mobile-product-list-view">
                        <figure>
                            <img class="lazyOwl" data-src="http://static3.shop.indiatimes.com/images/products/medium/B2363638/mobiles/micromax/micromax-canvas-2-2-a114-black-.jpg" alt="" />
                        </figure>
                         <figcaption><div>Micromax Canvas 2.2 A114 (Black)</div></figcaption>
                        <div class="mobile-price-ui"><span class="offer-price-ui">8,999</span> <span class="mrp-price-ui">9,941</span></div>
                    </div>
                     <!-- product end -->
                     <!-- product start -->
                    <div class="mobile-product-list-view">
                        <figure>
                            <img class="lazyOwl" data-src="http://static5.shop.indiatimes.com/images/products/medium/B3122186/fashion/casuals/id-brown-men-casual-shoes-id0375.jpg" alt="" />
                        </figure>
                        <figcaption><div>ID Brown Men Casual Shoes</div></figcaption>
                        <div class="mobile-price-ui"><span class="offer-price-ui">11,245</span> <span class="mrp-price-ui">11,245</span></div>
                    </div>
                     <!-- product end -->
                       <!-- product start -->
                    <div class="mobile-product-list-view">
                        <figure>
                            <img class="lazyOwl" data-src="http://static3.shop.indiatimes.com/images/products/medium/B2363638/mobiles/micromax/micromax-canvas-2-2-a114-black-.jpg" alt="" />
                        </figure>
                         <figcaption><div>Micromax Canvas 2.2 A114 (Black)</div></figcaption>
                        <div class="mobile-price-ui"><span class="offer-price-ui">8,999</span> <span class="mrp-price-ui">9,941</span></div>
                    </div>
                     <!-- product end -->
            </div>
        </section>
        
        <section class="section-container-ui">
            <h3><a href="#">New Release/Budget Phones <span>view all</span></a></h3>
             <div id="mobile-list-recommended" class="owl-carousel">
                    <!-- product start -->
                    <div class="mobile-product-list-view">
                        <a href="#">
                            <figure>
                                <img class="lazyOwl" data-src="http://static5.shop.indiatimes.com/images/products/medium/B3122186/fashion/casuals/id-brown-men-casual-shoes-id0375.jpg" alt="" />
                            </figure>
                            <figcaption><div>ID Brown Men Casual Shoes black</div></figcaption>
                            <div class="mobile-price-ui"><span class="offer-price-ui">11,245</span> <span class="mrp-price-ui">11,245</span></div>
                        </a>
                    </div>
                     <!-- product end -->
                       <!-- product start -->
                    <div class="mobile-product-list-view">
                        <figure>
                            <img class="lazyOwl" data-src="http://static3.shop.indiatimes.com/images/products/medium/B2363638/mobiles/micromax/micromax-canvas-2-2-a114-black-.jpg" alt="" />
                        </figure>
                         <figcaption><div>Micromax Canvas 2.2 A114 (Black)</div></figcaption>
                        <div class="mobile-price-ui"><span class="offer-price-ui">8,999</span> <span class="mrp-price-ui">9,941</span></div>
                    </div>
                     <!-- product end -->
                     <!-- product start -->
                    <div class="mobile-product-list-view">
                        <figure>
                            <img class="lazyOwl" data-src="http://static5.shop.indiatimes.com/images/products/medium/B3122186/fashion/casuals/id-brown-men-casual-shoes-id0375.jpg" alt="" />
                        </figure>
                        <figcaption><div>ID Brown Men Casual Shoes</div></figcaption>
                        <div class="mobile-price-ui"><span class="offer-price-ui">11,245</span> <span class="mrp-price-ui">11,245</span></div>
                    </div>
                     <!-- product end -->
                       <!-- product start -->
                    <div class="mobile-product-list-view">
                        <figure>
                            <img class="lazyOwl" data-src="http://static3.shop.indiatimes.com/images/products/medium/B2363638/mobiles/micromax/micromax-canvas-2-2-a114-black-.jpg" alt="" />
                        </figure>
                         <figcaption><div>Micromax Canvas 2.2 A114 (Black)</div></figcaption>
                        <div class="mobile-price-ui"><span class="offer-price-ui">8,999</span> <span class="mrp-price-ui">9,941</span></div>
                    </div>
                     <!-- product end -->
                      <!-- product start -->
                    <div class="mobile-product-list-view">
                        <figure>
                            <img class="lazyOwl" data-src="http://static5.shop.indiatimes.com/images/products/medium/B3122186/fashion/casuals/id-brown-men-casual-shoes-id0375.jpg" alt="" />
                        </figure>
                        <figcaption><div>ID Brown Men Casual Shoes</div></figcaption>
                        <div class="mobile-price-ui"><span class="offer-price-ui">11,245</span> <span class="mrp-price-ui">11,245</span></div>
                    </div>
                     <!-- product end -->
                       <!-- product start -->
                    <div class="mobile-product-list-view">
                        <figure>
                            <img class="lazyOwl" data-src="http://static3.shop.indiatimes.com/images/products/medium/B2363638/mobiles/micromax/micromax-canvas-2-2-a114-black-.jpg" alt="" />
                        </figure>
                         <figcaption><div>Micromax Canvas 2.2 A114 (Black)</div></figcaption>
                        <div class="mobile-price-ui"><span class="offer-price-ui">8,999</span> <span class="mrp-price-ui">9,941</span></div>
                    </div>
                     <!-- product end -->
                     <!-- product start -->
                    <div class="mobile-product-list-view">
                        <figure>
                            <img class="lazyOwl" data-src="http://static5.shop.indiatimes.com/images/products/medium/B3122186/fashion/casuals/id-brown-men-casual-shoes-id0375.jpg" alt="" />
                        </figure>
                        <figcaption><div>ID Brown Men Casual Shoes</div></figcaption>
                        <div class="mobile-price-ui"><span class="offer-price-ui">11,245</span> <span class="mrp-price-ui">11,245</span></div>
                    </div>
                     <!-- product end -->
                       <!-- product start -->
                    <div class="mobile-product-list-view">
                        <figure>
                            <img class="lazyOwl" data-src="http://static3.shop.indiatimes.com/images/products/medium/B2363638/mobiles/micromax/micromax-canvas-2-2-a114-black-.jpg" alt="" />
                        </figure>
                         <figcaption><div>Micromax Canvas 2.2 A114 (Black)</div></figcaption>
                        <div class="mobile-price-ui"><span class="offer-price-ui">8,999</span> <span class="mrp-price-ui">9,941</span></div>
                    </div>
                     <!-- product end -->
            </div>
        </section>    
    </div>
    <!-- container body end -->
    <!-- footer start -->
		<?php include __DIR__ . "/../common/footer.phtml"; ?>
	<!-- footer end -->
    </div>
    <!-- container end -->
</div>
<!-- main container end -->
<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<!-- Include js plugin -->
<script src="/js/owl.carousel.js"></script>
<script src="/js/common.js"></script>
</body>
</html>
