<!-- container body start -->
<?php include __DIR__ . "/../common/header.phtml"; ?>
    <!-- container body start -->
	<!-- banner start HTML -->
		<div id="toi-casousel">
			<?php
			$timetoliveframe ="11:30:00";
			$makeliveframe=false;
		 /* if (time() >= strtotime($timetoliveframe)) {
				$makeliveframe=true;
			} 
			 */			$url = $GLOBALS['general']['HOME_PAGE_BANNER_API'];
						$content = file_get_contents($url."?format=json");
						if(isset($content)) {
							$result = json_decode($content,true);
							if(isset($result['HomeBanner'])){  
						$firstbanner=0;
						foreach($result['HomeBanner'] as $value){
							$firstbanner = $firstbanner+1;
						$imgpath = $value['bannername'];
						$imgurl = $value['bannerurl'];
						$imgurl = str_replace("https://www.shop.gadgetsnow.com/","", $imgurl);
						$bannertext = $value['bannertext'];
						if(strpos($imgurl,"www.amazon") !== false)
						{ 
							// Stop Amazon
							if($enableAmazon == "N")
								continue;
							$amazonUrl = str_replace("https://www.amazon.in","", $imgurl);
							if(strpos($amazonUrl,"?") == false)
							{
								$amazonUrl =$amazonUrl."?tag=timofind-21";
							}else
							{
								$amazonUrl =$amazonUrl."&tag=timofind-21";
							}
							$amazonUrl = urlencode($amazonUrl);
							$amazonUrl = $amazonUrl."&utm_campaign=mweb_gnshop_banner-21&utm_source=mweb_gnshop&utm_medium=Affiliate&price=0&title=".utf8_encode($bannertext);
							$imgurl = "http://m.gadgetsnow.com/affiliate_amazon.cms?url=".$amazonUrl;
							$target="_blank";
						}
						if(strpos($imgurl,"www.primevideo") !== false)
						{
							$target="_blank";
							$primevideoUrl = $imgurl;
							$intermediateUrl = "https://m.shop.gadgetsnow.com/affiliate.cms?url=";
							$primevideoUrl = $intermediateUrl.rawurlencode($primevideoUrl)."&tag=apv_mweb_gnshop_hpbanner&afname=primevideo&utm_medium=Affiliate"."&title=".rawurlencode($bannertext)."&price=0";
							$imgurl=$primevideoUrl;
						}
						if(strpos($imgurl,"cashify") !== false)
						{
							$target="_blank";
							$cashifyUrl = $imgurl;
							$intermediateUrl = "https://m.shop.gadgetsnow.com/affiliate.cms?url=";
							$cashifyUrl = $intermediateUrl.rawurlencode($cashifyUrl)."&tag=cashify_hpbanner_mweb&afname=cashify&utm_medium=Affiliate"."&title=".rawurlencode($bannertext)."&price=0";
							$imgurl=$cashifyUrl;
						}
						if(strpos($imgurl,"gaussnetworks") !== false)
						{
							$target="_blank";
							$addaUrl = $imgurl;
							$intermediateUrl = "https://m.shop.gadgetsnow.com/affiliate.cms?url=";
							$addaUrl = $intermediateUrl.rawurlencode($addaUrl)."&tag=adda52_hpbanner_mweb&afname=adda52&utm_medium=Affiliate"."&title=".rawurlencode($bannertext)."&price=0";
							$imgurl=$addaUrl;
						}elseif((strpos($imgurl,"bs.serving") !== false || strpos($imgurl,"samsung") !== false) && strpos($imgurl,"paytm") == false)
		    			{
		    				$target="_blank";
		    				$afname="SAMSUNG";
		    				if(strpos($imgurl,"pli=23698215") !== false || strpos($imgurl,"pli=23698217") !== false)
		    				{
		    					$afname="SAMSUNG";
		    				}else
		    				{
		    					$afname="SAMSUNGNEW";
		    				}
		    				$samsungUrl = $imgurl;
		    				$nameurl = str_replace(" ","_",$bannertext);
		    				$intermediateUrl = "https://m.shop.gadgetsnow.com/affiliate.cms?url=";
		    				$samsungUrl = $intermediateUrl.rawurlencode($samsungUrl)."&tag=samsung_mweb_gnshop_hpbanner&afname=".$afname."&utm_medium=Affiliate"."&title=".rawurlencode($nameurl)."&price=0&ord=".time();
		    				$imgurl=$samsungUrl;
		    			}elseif(strpos($imgurl,"paytm") !== false) {
							$promoTagName="mweb_gnshop_home";
							$target="_blank";
							$paytmBannerUrl =  $imgurl;
							
							if(strpos($paytmBannerUrl,"-pdp")!==false)
							{
								$paytmBannerUrl = str_replace("-pdp","",$paytmBannerUrl);
								$paytmBannerUrl = str_replace("https://paytmmall.com","https://paytm.com/shop/p", $paytmBannerUrl);
							}else
							{
								$paytmBannerUrl = str_replace("https://paytmmall.com","", $paytmBannerUrl);
							}
							$putm="GadgetsNowShop_mweb_home_banner";
							$paytmBannerUrl = rawurlencode($paytmBannerUrl);
							$paytmBannerUrl = $paytmBannerUrl."&putm=".$putm."&utm_campaign=".$promoTagName."&utm_source=gadgetsnow&utm_medium=Affiliate&price=0&title=".rawurlencode($bannertext);
							$paytmBannerUrl = $GLOBALS['general']['PAYTM_INTERMEDIATE_URL']."?url=".$paytmBannerUrl;
							
							$promoBannerurl=$paytmBannerUrl;
							$imgurl=$paytmBannerUrl;
				
		    			}
						
						?>
						<a <?php if(isset($target)) {?>target=<?=$target?> <?php } ?> data-ga-track="hp_banner##<?php echo $imgurl?>##<?=$value['bannertext']?>##0" href="<?php echo $imgurl?>" ><img alt="<?=$value['bannertext']?>" class='lazy'  <?php if($firstbanner == 1) {?> src='<?php echo $imgpath?>' <?php } else {?> data-original='<?php echo $imgpath?>' <?php } ?> width='100%' /></a>
						<?php		} ?>	
					<?php } }?>
		 
		</div>
		<!-- banner end HTML -->
		
		
		
		
	<div class="toi-container">
			<!-- product list start -->
			<!-- promoted amazone start -->
			<?php /* <section>
				<div class="toi-product-head">
					<h3 class="ftl blue-strip"><span class="truncate text-transform">Promoted</span></h3>
				</div>
				<div class="promoted-scroll">
					<ul class="promoted-widgets">
						<!-- product list start -->
						
						<?php
			$sponsoredCounts=0; 
			if(isset($affiliateSponsoredProducts))
			{
			foreach($affiliateSponsoredProducts as $affSProd )
			 {
	    		 if($sponsoredCounts > 24)
	    		{
	    			break;
	    		} 
	    		$sponsoredCounts = $sponsoredCounts+1;
	    		$name = ""; 
	    		if(isset($affSProd['title']))
	    			$name = $affSProd['title'];
	    		
	    		$sponsrdUrl = ""; 
	    		if(isset($affSProd['url']))
	    			$sponsrdUrl =$affSProd['url'];
	    		
	    		$sprice = ""; 
	    		if(isset($affSProd['price']))
	    			$sprice =$affSProd['price'];
	    		
	    		$sponsrdUrl = str_replace("https://www.amazon.in","",$sponsrdUrl);
	    		$sponsrdUrl = str_replace("http://www.amazon.in","",$sponsrdUrl);
	    		$sponsrdUrl = $sponsrdUrl."?SubscriptionId=AKIAJX7PDW7DEP2LLJLA&linkCode=xm2&camp=2025&creative=165953&creativeASIN=B01ABNWQI4&tag=timofind-21";
	    		$sponsrdUrl = rawurlencode($sponsrdUrl)."&utm_source=mweb_gnshop&utm_medium=Affiliate&title=".rawurlencode($name);
	    	
	    	?>
					<li itemscope="" itemtype="http://schema.org/ImageObject">
                        	<a target="_blank" href="http://m.gadgetsnow.com/affiliate_amazon.cms?url=<?=handleStr($sponsrdUrl)?>&utm_campaign=mweb_gnshop_promowidget-21&title=<?=rawurlencode($name)?>&price=<?=$sprice?>" id="category-G33901-1" data-ga-track="home_mweb_promoted_amazon|category_page##pid>##Best Selling Smartphones|/mobiles/mobiles-best-selling-smartphones/##1" data-ga-en="event~productClick##id~G33901##name~<?=$name?>##brand~OPPO##category~Mobiles/10012/Best Selling Smartphones##price~<?=$sprice?>##quantity~1##position~1##url~/mobiles/smart-phones/oppo-a71-16gb-gold-3gb-ram-/10021/p_G33901##list~category_page|/mobiles/mobiles-best-selling-smartphones/">
                                <figure>
                                   <img class="lazy" data-original="<?=$affSProd['imageUrl']?>" alt="<?=$name?>">
                                </figure>
								<meta itemprop="contentUrl" content="<?=$affSProd['imageUrl']?>">
                                <figcaption itemprop="name"><div><?=$name?></div></figcaption>
                                
								<div class="tableR">
									<div class="tableC logo"><i></i></div>
									<div class="tableC prime"><i></i></div>
								</div>
								<div class="mobile-price-ui-promoted">
                                	<span class="offer-price-ui toi-text"><?=$sprice?></span> 
									<div class="promoted-buynow">Buy</div>
								</div>
								
                            </a> 		
                        </li>
			<?php } }?>
						
						
				        <!-- product list end -->
                        
					</ul>
				</div>
			</section>  */ ?>
			<!-- Promoted banner -->
			<section>
				
				<div class="cashbackamazon primeuser displaynone">
				<?php if(!isset($affiliateBannerActive1) || $affiliateBannerActive1=='N') { ?>
				<div id='div-gpt-ad-1518176465110-0' class="primeuser displaynone" style='height:250px; margin-top:10px; text-align:center'>
				<script>
				googletag.cmd.push(function() { googletag.display('div-gpt-ad-1518176465110-0'); });
				</script>
				</div>
				<!--div id='div-gpt-ad-1517993028137-0'>
				<script>
				googletag.cmd.push(function() { googletag.display('div-gpt-ad-1517993028137-0'); });
				</script>
				</div -->
				<?php } else { ?>
				<div class="toi-product-head primeuser displaynone">
					<h3 class="ftl blue-strip"><span class="truncate text-transform">Promoted</span></h3>
				</div>
		<?php
		
		  /* Old code for banners 
		   *
		   $eventname=""; $nofollowtag=""; if(isset($affiliateBannerName) && $affiliateBannerName == "AMAZON") { 
			$eventname = "home_mweb_promoted_amazon"; $nofollowtag="rel=nofollow";} 
			elseif(isset($affiliateBannerName1) && $affiliateBannerName1 == "TATACLIQ") { $eventname1 = "home_mweb_promoted_tatacliq";$nofollowtag="rel=nofollow"; }
			elseif(isset($affiliateBannerName1) && $affiliateBannerName1 == "SAMSUNG") { $eventname1 = "home_mweb_promoted_samsung"; $nofollowtag="rel=nofollow";  }
			elseif(isset($affiliateBannerName1) && $affiliateBannerName1 == "PRIMEVIDEO") { $eventname1 = "apv_mweb_gnshop_home_promoted"; $nofollowtag="rel=nofollow"; }
			elseif(isset($affiliateBannerName1) && $affiliateBannerName1 == "CASHIFY") { $eventname1 = "cashify_mweb_gnshop_home_promoted"; $nofollowtag="rel=nofollow"; }
			elseif(isset($affiliateBannerName1) && $affiliateBannerName1 == "ADDA") { $eventname1 = "adda52_mweb_gnshop_home_promoted"; $nofollowtag="rel=nofollow"; }?>
	    	<a <?=$nofollowtag?> class="display-block" data-ga-track="<?=$eventname2?>##<?=$bannerurl1?>##catalog_name##home|<catalog_name>##0"  target="_blank" href="<?php if(isset($bannerurl1)) { echo $bannerurl1; }?>"><img class="img lazy" data-original="<?php if(isset($imgpath1)){ echo $imgpath1; }else {?>/mobile/img/cashback-app-Banner.jpg<?php }?>"/></a>
	   <?php */ 
	   ?>
	   <a class="display-block" <?=$promonofollowtag1?> 
				data-ga-track="<?=$promoEventaction1?>##<?=$promoEventcat1?>##home|<?=$promoEventlabel1?>|##0"  target="_blank" 
				href="<?php if(isset($promoBannerurl1)) { echo $promoBannerurl1; }?>"><img class="img lazy" alt=<?php if(isset($promoBannertext1)) echo $promoBannertext1; ?> 
				data-original="<?php if(isset($promoImgpath1)){ echo $promoImgpath1; }else {?>/mobile/img/cashback-app-Banner.jpg<?php }?>"/></a>
	   <?php } ?>
	    </div>
			</section>
        <!-- promoted amazone end-->
			<!-- prime video -->
			<?php /*
				$primeVideoUrl = $GLOBALS['general']['AMAZON_APV_API_URL']."?format=json";
				 $primeVideoResult = file_get_contents($primeVideoUrl);
				if(isset($primeVideoResult))
				{ ?>
			 <section>
				<div class="toi-product-head">
					<h3 class="ftl blue-strip"><span class="truncate text-transform">From Amazon Prime Video </span></h3>
				</div>
				<div class="amazon-video-carousel">
				<?php 
					$intermediateUrl = $GLOBALS['general']['AFFILIATE_INTERMEDIATE_URL'];
					$primeVideoResultJson = json_decode($primeVideoResult,true);
					 for ($t=0; $t<sizeof($primeVideoResultJson['product']); $t++)
    					{
    					 $primeVideoProduct=$primeVideoResultJson['product'][$t];
    					 $primeVideoActive= $primeVideoProduct['isActive'];
    					 if($primeVideoActive=='Y')
    					 {
    					 $primeVideoTitle= $primeVideoProduct['title'];
						 $primeVideoUrl = $primeVideoProduct['url'];
						 $primeVideoUrl = $intermediateUrl."?url=".rawurlencode($primeVideoUrl.$primeVideoTitle."_GadNow_Mob");
						 $primeVideoUrl=$primeVideoUrl."&tag=samsung_mweb_gnshop_pdp_buynow&afname=primevideo&utm_medium=Affiliate"."&title=".rawurlencode($primeVideoTitle)."&price=";
						 $primeVideoImage=$primeVideoProduct['imageUrl'];
						?>
					<!-- product start -->
					<div class="amazoneprime">
							<a rel="nofollow sponsored" target="_blank" href="<?=$primeVideoUrl?>" data-ga-track="home_mweb_apv_popular##<?=$primeVideoProduct['url']?>##position##0">
								<figure><img class="lazy" alt="" data-original="<?=$primeVideoImage?>"></figure>
								<div class="toi-price">
									<span class="toi-buy">Play</span>											
								</div>
							</a>
					</div>
					<!-- product end -->
				<?php } }?>
				</div>    
			</section> 
			<?php } */ ?>
			<?php  if(isset($affiliateSponsoredProducts))
						{ ?>	
	<div class="toi-container">
 		<section>
				<div class="toi-product-head">
					<h3 class="ftl blue-strip"><span class="truncate text-transform">Popular From PayTM Mall</span></h3>
				</div>
				<div class="toi-owl-carousel">
				
				<?php
				$sponsoredCounts=0;
				foreach($affiliateSponsoredProducts as $affSProd )
				{
					unset($paytmOffer);
					if(is_array($affSProd['title']))
						continue;
					$sponsoredCounts = $sponsoredCounts+1;
					$name = "";
					if(isset($affSProd['title']))
						$name = $affSProd['title'];
					 
					$sponsrdUrl = "";
					if(isset($affSProd['url']))
						$sponsrdUrl =$affSProd['url'];
					 
					$sprice = "";
					if(isset($affSProd['price']))
					{
						if(is_numeric($affSProd['price']))
							$sprice =number_format($affSProd['price']);
						else
							$sprice=$affSProd['price'];
					}
					$event="";
					$affiliate="";
					if(strpos($sponsrdUrl,"paytm") != false)
					{
						$affiliate="paytm";
						$eventCategory="paytm_popular_home_mweb_sponsor";
						$eventaction = $name;
						$eventLabel="home|".$name."|".$sprice;
						$utmcampaign="mweb_gnshop_paytm_popular_home";
						if(strpos($sponsrdUrl,"-pdp")!==false)
						{
							$sponsrdUrl = str_replace("-pdp","",$sponsrdUrl);
							$sponsrdUrl = str_replace("https://paytmmall.com","https://paytm.com/shop/p", $sponsrdUrl);
						}else
						{
							$sponsrdUrl = str_replace("https://paytmmall.com","", $sponsrdUrl);
						}
						$sponsrdUrl = rawurlencode($sponsrdUrl);
						$offerprice=$affSProd['price'];
						if(isset($affSProd['cashback']))
						{
							$paytmOffer = intval($affSProd['cashback']);
							$offerprice=$affSProd['price'] - $paytmOffer;
						}
						$putm="GadgetsNowShop_mweb_homepage_popular";
						$sponsrdUrl = $sponsrdUrl."&putm=".$putm."&utm_campaign=".$utmcampaign."&utm_source=gadgetsnow&utm_medium=Affiliate&price=".$affSProd['price']."&title=".rawurlencode($name);
						$sponsrdUrl = $GLOBALS['general']['PAYTM_INTERMEDIATE_URL']."?url=".$sponsrdUrl;
					}else 
					{
						continue;
					}
						 
				?>
				
					<!-- product start -->
					<div class="toi-product" itemscope="" itemtype="http://schema.org/ImageObject">
							<div class="soldout-contain">Sold Out</div>
							<a rel="nofollow sponsored" target="_blank" data-ga-track="paytm_popular_home_mweb##home_<?=$name?>##home|<?=$name?>##0" href="<?=$sponsrdUrl?>">
	     							<figure><img class="lazy" alt="<?=handleStr($name)?>" data-original="<?=$affSProd['imageUrl']?>">
								</figure>
								<meta itemprop="contentUrl" content="<?=$affSProd['imageUrl']?>">
								<figcaption itemprop="name"><div class="proxima-regular1"><?=$name?></div></figcaption>
								<div class="toi-price">
								<div class="ftl">											 												 
									<span class="offer-price-ui toi-text"><?= number_format($offerprice)?></span> 
									<?php if(isset($paytmOffer) && $paytmOffer !== "0" && $paytmOffer !== 0) { ?>
				                    <span style="padding-bottom:0px; color:#333; font-size:13px; font-family:inherit; border:1px solid green; background:lightgreen; display:block; margin-top:8px; padding:0 5px; ">Includes <span class="offer-price-ui"></span><?=$paytmOffer?> Cashback</span>
								<?php } ?>
								</div>
									<span class="ftr toi-buy">buy</span>											
								</div>
							</a>
					</div>
					<!-- product end -->
					
					<?php }   ?>
				</div>    
			</section>
			</div> 
			<?php } ?>
			 
			<!-- Nokia widgets start -->
				<?php   if(isset($lgPopular) && sizeof($lgPopular) >0)
						{ ?>	
	<div class="toi-container">
 		<section>
				<div class="toi-product-head">
					<h3 class="ftl blue-strip"><span class="truncate text-transform">Popular From LG</span></h3>
				</div>
				<div class="toi-owl-carousel">
				
				<?php
				for($i=0;$i<sizeof($lgPopular);$i++)
				{
					$lgPName=$lgPopular[$i]['AFFILIATE_PRODUCT_NAME'];
					$lgofferPrice=$lgPopular[$i]['OFFER_PRICE'];
					$lgimageUrl=$lgPopular[$i]['IMAGE_URL'];
					$lglandingUrl=$lgPopular[$i]['LANDING_URL'];
					$lgIsActive=$lgPopular[$i]['IS_ACTIVE'];
					if(isset($lgPopular[$i]['MRP']))
						$lgMrp = $lgPopular[$i]['MRP'];
					if($lgIsActive !== "Y")
						continue;
					$intermediateUrl = "https://m.shop.gadgetsnow.com/affiliate.cms?url=";
					$lgurl = $intermediateUrl.rawurlencode($lglandingUrl)."&tag=lg_mweb_gnshop_home_popular&afname=LG&utm_medium=Affiliate"."&title=".rawurlencode($lgPName)."&price=".$lgofferPrice;
					
					 
				?>
				
					<div class="toi-product" itemscope="" itemtype="http://schema.org/ImageObject">
							<div class="soldout-contain">Sold Out</div>
							<a rel="nofollow sponsored" target="_blank" data-ga-track="lg_popular_home_mweb##<?=$lgPName?>##HOME|<?=$lgPName?>##0" href="<?=$lgurl?>">
	     						<figure><img class="lazy" alt="<?=$lgPName?>" data-original="<?=$lgimageUrl?>"">
								</figure>
								<meta itemprop="contentUrl" content="<?=$lgimageUrl?>">
								<figcaption itemprop="name"><div class="proxima-regular1"><?=$lgPName?></div></figcaption>
								<div class="toi-price">
								<div class="ftl">											 												 
									<span class="offer-price-ui toi-text"><?=$lgofferPrice;?></span> 
									<?php if(isset($lgMrp)) {?><span class="mrp-price-ui"><?=$lgMrp?></span> <?php } ?>
				                   
								</div>
									<span class="ftr toi-buy lg-buy">buy</span>											
								</div>
							</a>
					</div>
					
					<?php }   ?>
				</div>    
			</section>
			</div> 
			<?php } ?>
			<!-- Nokia widgets end -->
			
			<!-- amazon banner categories list start -->
			<?php 
				if(isset($amazonPopularCategoryJson))
				{
			 ?>
				<section>
				<div class="featured-home featured-home-list ">
				<div class="toi-product-head">
					<h3 class="blue-strip"><span class="truncate text-transform">Popular Amazon Categories</span></h3>
				</div>
				<div class="wapper-list-catagories check-carousel">
				<ul class="list-catagories-ama newcarousel" data-width-list='192'>
				<?php 	foreach($amazonPopularCategoryJson as $value)
						{
							$amzBannerUrl=$value['bannerurl'];
							$amzBannerImg=$value['bannername'];
							$amzbannertext=$value['bannertext'];
							
							$amzBannerUrl = str_replace("https://www.amazon.in","", $amzBannerUrl);
							if(strpos($amzBannerUrl,"?") == false)
							{
								$amzBannerUrl =$amzBannerUrl."?tag=timofind-21";
							}else
							{
								$amzBannerUrl =$amzBannerUrl."&tag=timofind-21";
							}
							$amzBannerUrl = rawurlencode($amzBannerUrl);
							$amzBannerUrl = $amzBannerUrl."&utm_campaign=mweb_gnshop_promowidget-21&utm_source=mweb_gnshop&utm_medium=Affiliate&price=0&title=".rawurlencode($amzbannertext);
							$amzBannerUrl = "http://m.gadgetsnow.com/affiliate_amazon.cms?url=".$amzBannerUrl;
						?>
						
					<li>
	     			<a rel="nofollow sponsored" target="_blank" data-ga-track="amazon_home_mweb_<?=$amzbannertext?>CategoryWidget##Mobiles|home##home|<?=$amzbannertext?>##0" href="<?=$amzBannerUrl?>">
	     				<div class="img"><img class="lazy" data-original="<?=$amzBannerImg?>"/></div>	     		
	     			</a>
	     		</li>
					<?php 	}?>
					
					</ul>
			</div>
		</div>
		</section>
		<!-- amazon banner categories list end -->
				<?php }
			?>
		 
		<!-- Paytm banner categories list start -->
			<!-- prime video -->
		<?php if(isset($samsungPopularProducts)) 
				{ ?>
		<section>
				<div class="toi-product-head">
					<h3 class="ftl blue-strip"><span class="truncate text-transform">Popular From Amazon</span></h3>
				</div>
				<div class="toi-owl-carousel">
				<?php 				 
					for ($t=0; $t<sizeof($samsungPopularProducts['product']); $t++)
    					{
    					 $recoProd=$samsungPopularProducts['product'][$t];
						 $samProdname = $recoProd['title'];
						 $samProdprice = $recoProd['price'];
						 $samProdpid = $recoProd['pid'];
						 $amzPopularUrl = $recoProd['url'];
						 $samimgurl=$recoProd['imageUrl'];
						 
						 // If product is hardcoded banner then
						 // do not show it
						 if($samProdpid == 'NA')
						 	continue;
						 $amzPopularUrl = str_replace("https://www.amazon.in","", $amzPopularUrl);
						 if(strpos($amzPopularUrl,"?") == false)
						 {
						 	$amzPopularUrl =$amzPopularUrl."?tag=timofind-21";
						 }else
						 {
						 	$amzPopularUrl =$amzPopularUrl."&tag=timofind-21";
						 }
						 $amzPopularUrl = rawurlencode($amzPopularUrl);
						 $amzPopularUrl = $amzPopularUrl."&utm_campaign=mweb_gnshop_popular-21&utm_source=mweb_gnshop&utm_medium=Affiliate&price=".$samProdprice."&title=".rawurlencode($samProdname);
						 $amzPopularUrl = "http://m.gadgetsnow.com/affiliate_amazon.cms?url=".$amzPopularUrl;
						 
						 $samsungUrl = $amzPopularUrl;?>
				
					<!-- product start -->
					<div class="toi-product" itemscope="" itemtype="http://schema.org/ImageObject">
							<div class="soldout-contain">Sold Out</div>
							<a rel="nofollow sponsored" target="_blank" data-ga-track="home_mweb_amazon_popular##Mobile|home##<?=$samProdpid?>|<?=$samProdname?>|10022|26080##0" href="<?=$samsungUrl?>">
								<figure><img class="lazy" alt="<?=handleStr($samProdname)?>" data-original="<?=handleStr($samimgurl)?>">
								</figure>
								<meta itemprop="contentUrl" content="<?=handleStr($samimgurl)?>">
								<figcaption itemprop="name"><div class="proxima-regular1"><?=handleStr($samProdname)?></div></figcaption>
								<div class="toi-price">
									<?php if(is_numeric($samProdprice) && $samProdprice !=0 ){?>
									<div class="ftl">											 												 
										 <span class="offer-price-ui toi-text"><?=number_format($samProdprice)?></span>
										 
									</div>
									<?php } elseif($samProdprice != '0') {?>
									<div class="ftl">											 												 
										 <span ><?=$samProdprice?></span>
										 
									</div>
									<?php } ?>
									<span class="ftr toi-buy">buy</span>											
								</div>
							</a>
					</div>
					<!-- product end -->
					
					<?php }   ?>
				</div>    
			</section>
			
			<?php } ?>
			
			
		<!-- Brands start -->
			
			
		<section>
			<div class="featured-home">
			<div class="toi-product-head">
				<h3 class="blue-strip"><span class="truncate text-transform">Featured Category </span></h3>
			</div>
				<div class="wapper-list-catagories check-carousel">
				<ul class="list-catagories newcarousel" data-width-list='185'>
					<li>
						<a href="/smartphones" data-ga-track="mweb_home_page##/smartphones/##featured_category##0">
							<div class="img"><img src="/mobile/img/smartphone.jpg"/></div>
							<div class="cate-head">Smartphones</div>	     		
						</a>
					</li>
					<li>
	     			<a href="/feature-phones" data-ga-track="mweb_home_page##/feature-phones##featured_category##0">
	     				<div class="img"><img src="/mobile/img/features-mobile.jpg"></div>
	     				<div class="cate-head">Feature Phones</div>	     		
	     			</a>
					</li>
					<li>
	     			<a href="/laptops" data-ga-track="mweb_home_page##/laptops##featured_category##0">
	     				<div class="img"><img src="https://img1.gadgetsnow.com/gd/imgbn/laptop.jpg"/></div>
	     				<div class="cate-head">Laptops</div>	     		
	     			</a>
	     		</li>
	     		<li>
	     			<a href="/televisions" data-ga-track="mweb_home_page##/television##featured_category##0">
	     				<div class="img"><img src="https://img1.gadgetsnow.com/gd/imgbn/tv-img.jpg"/></div>
	     				<div class="cate-head">Televisions</div>	     		
	     			</a>
	     		</li>
				<li>
	     			<a href="/watches" data-ga-track="mweb_home_page##/watches##featured_category##0">
	     				<div class="img"><img src="https://img1.gadgetsnow.com/gd/imgbn/watches-cat.jpg"/></div>
	     				<div class="cate-head">Watches</div>	     		
	     			</a>
	     		</li>
				<li>
	     			<a href="/microwave" data-ga-track="mweb_home_page##/microwave##featured_category##0">
	     				<div class="img"><img src="https://img1.gadgetsnow.com/gd/imgbn/mircowave.jpg"/></div>
	     				<div class="cate-head">Microwaves</div>	     		
	     			</a>
	     		</li>
				<li>
	     			<a href="/personal-grooming/trimmers" data-ga-track="mweb_home_page##/personal-grooming/trimmers##featured_category##0">
	     				<div class="img"><img src="https://img1.gadgetsnow.com/gd/imgbn/personal-grooming.jpg"/></div>
	     				<div class="cate-head">Personal Grooming</div>	     		
	     			</a>
	     		</li>
	     		<li>
						<a href="/ac" data-ga-track="mweb_home_page##/ac##featured_category##0">
							<div class="img"><img src="https://img1.gadgetsnow.com/gd/imgbn/ac-img.jpg"/></div>
							<div class="cate-head">Air Conditioners</div>	     		
						</a>
				</li>
				<li>
					<a href="/refrigerator" data-ga-track="mweb_home_page##/refrigerator##featured_category##0">
						<div class="img"><img src="https://img1.gadgetsnow.com/gd/imgbn/refrigerators-img.jpg"/></div>
						<div class="cate-head">Refrigerators</div>	     		
					</a>
				</li>
				<li>
						<a href="/mobiles-accessories-power-banks" data-ga-track="mweb_home_page##/mobiles-accessories-power-banks##featured_category##0">
							<div class="img"><img src="/mobile/img/power-bank.jpg"/></div>
							<div class="cate-head">Power Banks</div>	     		
						</a>
					</li>
					<li>
						<a href="/mobiles-accessories-headphones-headsets" data-ga-track="mweb_home_page##/mobiles-accessories-headphones-headsets##featured_category##0">
							<div class="img"><img src="/mobile/img/head-phones.jpg"/></div>
							<div class="cate-head">Headphones</div>	     		
						</a>
					</li>
					<li>
						<a href="/mobiles-accessories-fitness-band" data-ga-track="mweb_home_page##/mobile-accessories-fitness-band##featured_category##0">
							<div class="img"><img src="/mobile/img/fitness-band.jpg"/></div>
							<div class="cate-head">Fitness Bands</div>	     		
						</a>
					</li>
					<li>
						<a href="/mobiles-accessories-memory-cards" data-ga-track="mweb_home_page##/mobiles-accessories-memory-cards##featured_category##0">
							<div class="img"><img src="/mobile/img/memory-cards.jpg"/></div>
							<div class="cate-head">Memory Cards</div>	     		
						</a>
					</li>
					
					<li style="display:none">
						<a href="/mobiles-accessories">
							<div class="cate-head">View All</div>	     		
						</a>
					</li>
				</ul>
			</div>
		</div>
		</section>
		
		
		<!-- FLIPKART -->
		<?php include __DIR__ . "/../common/affiliate-flipkart-popular.phtml"; ?>
		
		
		<!-- Brands start -->
		<section>
			<div class="all-brands">
				<div class="toi-product-head">
						<h3 class="blue-strip"><span class="truncate text-transform">Brands</span></h3>
				</div>
				<div class="all-brands-list-container check-carousel">
					<ul class="newcarousel" data-width-list='118'>
						<li>
							<a href="/smartphones/brand-Apple">
								<div class="firstdiv"><img title="apple" class="lazy" data-original="https://img1.gadgetsnow.com/gd/imgbn/apple-iphone-logo.jpg"/></div>
								<div class="seconddiv">Apple</div>
							</a>
						</li>
						<li>
							<a href="/smartphones/brand-Samsung">
								<div class="firstdiv"><img title="samsung" class="lazy" data-original="https://img1.gadgetsnow.com/gd/imgbn/Samsung-Logo.jpg"/></div>
								<div class="seconddiv">Samsung</div>
							</a>
						</li>
						<li>
							<a rel="noindex,nofollow" href="/smartphones/brand-Mi">
								<div class="firstdiv"><img title="Mi" class="lazy" data-original="https://img1.gadgetsnow.com/gd/imgbn/Mi-Logo.jpg"/></div>
								<div class="seconddiv">Mi</div>
							</a>
						</li>
						<li>
							<a rel="noindex,nofollow" href="/smartphones/brand-Motorola">
								<div class="firstdiv"><img title="Moto" class="lazy" data-original="https://img1.gadgetsnow.com/gd/imgbn/moto-logo.jpg"/></div>
								<div class="seconddiv">Moto</div>
							</a>
						</li>
						<li>
							<a rel="noindex,nofollow" href="/smartphones/brand-Lenovo">
								<div class="firstdiv"><img title="Lenovo" class="lazy" data-original="https://img1.gadgetsnow.com/gd/imgbn/lenovo-logo.jpg"/></div>
								<div class="seconddiv">Lenovo</div>
							</a>
						</li>
						<li>
							<a rel="noindex,nofollow" href="/smartphones/brand-Nokia">
								<div class="firstdiv"><img title="Nokia" class="lazy" data-original="https://img1.gadgetsnow.com/gd/imgbn/nokia-logo.jpg"/></div>
								<div class="seconddiv">Nokia</div>
							</a>
						</li>
						<li>
							<a rel="noindex,nofollow" href="/smartphones/brand-OnePlus">
								<div class="firstdiv"><img title="OnePlus" class="lazy" data-original="https://img1.gadgetsnow.com/gd/imgbn/oneplus-logo.jpg"/></div>
								<div class="seconddiv">OnePlus</div>
							</a>
						</li>
						<li>
							<a rel="index,follow" href="/smartphones/brand-Honor">
								<div class="firstdiv"><img title="Honor" class="lazy" data-original="https://img1.gadgetsnow.com/gd/imgbn/honor-logo.jpg"/></div>
								<div class="seconddiv">Honor</div>
							</a>
						</li>
						<li>
							<a rel="index,follow" href="/smartphones/brand-Vivo">
								<div class="firstdiv"><img title="Vivo" class="lazy" data-original="https://img1.gadgetsnow.com/gd/imgbn/vivo-logo.jpg"/></div>
								<div class="seconddiv">Vivo</div>
							</a>
						</li>
						<li>
							<a rel="noindex,nofollow" href="/smartphones/brand-OPPO">
								<div class="firstdiv"><img title="Oppo" class="lazy" data-original="https://img1.gadgetsnow.com/gd/imgbn/oppo-logo.jpg"/></div>
								<div class="seconddiv">Oppo</div>
							</a>
						</li>
						<li>
							<a rel="index,follow" href="/smartphones/brand-Asus">
								<div class="firstdiv"><img title="Asus" class="lazy" data-original="https://img1.gadgetsnow.com/gd/imgbn/asus-logo.jpg"/></div>
								<div class="seconddiv">Asus</div>
							</a>
						</li>
						<li>
							<a rel="noindex,nofollow" href="/smartphones/brand-Micromax">
								<div class="firstdiv"><img title="Micromax" class="lazy" data-original="https://img1.gadgetsnow.com/gd/imgbn/micromax-logo.jpg"/></div>
								<div class="seconddiv">Micromax</div>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</section>
		<!-- Brands end -->
		<!-- Promoted banner -->
		<?php if(isset($affiliateBannerActive2) && $affiliateBannerActive2=='Y' ) {?>
			<section>
				
				<div class="cashbackamazon primeuser displaynone">
				<div class="toi-product-head">
					<h3 class="ftl blue-strip"><span class="truncate text-transform">Promoted</span></h3>
				</div>
				
				<?php /* $nofollowtag2=""; if(isset($affiliateBannerName2) && $affiliateBannerName2 == "AMAZON") { 
			$eventname2 = "home_mweb_promoted_amazon"; $nofollowtag2="rel=nofollow";} 
			elseif(isset($affiliateBannerName2) && $affiliateBannerName2 == "TATACLIQ") { $eventname2 = "home_mweb_promoted_tatacliq";$nofollowtag2="rel=nofollow"; }
			elseif(isset($affiliateBannerName2) && $affiliateBannerName2 == "SAMSUNG") { $eventname2 = "home_mweb_promoted_samsung"; $nofollowtag2="rel=nofollow";  }
			elseif(isset($affiliateBannerName2) && $affiliateBannerName2 == "PRIMEVIDEO") { $eventname2 = "apv_mweb_gnshop_home_promoted"; $nofollowtag2="rel=nofollow"; }
			elseif(isset($affiliateBannerName2) && $affiliateBannerName2 == "CASHIFY") { $eventname2 = "cashify_mweb_gnshop_home_promoted"; $nofollowtag2="rel=nofollow"; }
			elseif(isset($affiliateBannerName2) && $affiliateBannerName2 == "ADDA") { $eventname2 = "adda52_mweb_gnshop_home_promoted"; $nofollowtag2="rel=nofollow"; }?>
	    	<a <?=$nofollowtag2?> class="display-block" data-ga-track="<?=$eventname2?>##<?=$bannerurl2?>##catalog_name##home|<catalog_name>##0"  target="_blank" href="<?php if(isset($bannerurl2)) { echo $bannerurl2; }?>"><img class="img lazy" data-original="<?php if(isset($imgpath2)){ echo $imgpath2; }else {?>/mobile/img/cashback-app-Banner.jpg<?php }?>"/></a>
				*/ ?>
				
				<?php if(!$makeliveframe) {?>
				<a class="display-block" <?=$promonofollowtag2?> 
				data-ga-track="<?=$promoEventaction2?>##<?=$promoEventcat2?>##home|<?=$promoEventlabel2?>|##0"  target="_blank" 
				href="<?php if(isset($promoBannerurl2)) { echo $promoBannerurl2; }?>"><img class="img lazy" alt=<?php if(isset($promoBannertext2)) echo $promoBannertext2; ?> 
				data-original="<?php if(isset($promoImgpath2)){ echo $promoImgpath2; }else {?>/mobile/img/cashback-app-Banner.jpg<?php }?>"/></a>
				<?php } else {?>
				<iframe width="100%" height="250" style="margin:0 auto" src="https://www.youtube.com/embed/BxOubC4Ve-k?autoplay=1" frameborder="0" 
				allow="autoplay; encrypted-media" allowfullscreen></iframe>
				 
				<?php }?>
	    </div>
			</section>
			<?php } ?>
			
        <!-- promoted amazone end-->
		<?php if(isset($shopclueProductJsonResult) && sizeof($shopclueProductJsonResult)>0) { ?>
		<section>
			<div class="toi-product-head">
				<h3 class="ftl blue-strip"><span class="truncate text-transform">Popular from Shopclues</span> </h3>
			</div>
			<div class="toi-owl-carousel">
			<?php 
				for ($t=0; $t<sizeof($shopclueProductJsonResult); $t++)
				{
					$shopclueProduct=$shopclueProductJsonResult[$t];
					$scProdname = $shopclueProduct['title'];
					$scProdprice = $shopclueProduct['price'];
					$scProdpid = $shopclueProduct['pid'];
					$scProdurl = $shopclueProduct['url'].'shopclues_widget_mweb';
					$scimgurl=$shopclueProduct['imageUrl'];
						
						
					$nameurl = str_replace(" ","_",$scProdname);
					$intermediateUrl = "https://m.shop.gadgetsnow.com/affiliate.cms?url=";
					$scProdurl = $intermediateUrl.rawurlencode($scProdurl)."&tag=shopclues_widget_mweb&afname=shopclues&utm_medium=Affiliate"."&title=".rawurlencode($nameurl)."&price=".$scProdprice;
						
				
			?>
				<!-- product start -->
				<div class="toi-product " itemscope="" itemtype="http://schema.org/ImageObject">
						<div class="soldout-contain">Sold Out</div>
						<a target="_blank" data-ga-track="shopclues_mweb_sponsored_home####<?=$scProdpid?>|<?=$scProdname?>|home##0" href="<?=$scProdurl?>">
							<figure><img class="" alt="<?=$scProdname?>" data-original="<?=$scimgurl?>" src="<?=$scimgurl?>"></figure>
							<meta itemprop="contentUrl" content="">
							<figcaption itemprop="name"><div class="proxima-regular1"><?=$scProdname?></div></figcaption>
							<div class="toi-price">
								<div class="ftl">
																					 
									 <span class="offer-price-ui toi-text"><?=$scProdprice?></span> 
				<span class="mrp-price-ui"><?=$scProdprice?></span>																		</div>
								<span class="ftr toi-buy">buy</span>
								
							</div>
						</a>
				</div>
				<?php } ?>
				<!-- product end -->
			</div>
		</section>
		<?php } ?>
		
<?php 
$extnNames = '';$loop=0;
$countadsposition = 0;
$indx = 0;
$category = strtok($homePageCategories, ',');
$nbtevent = 0;
while ($category !== false)  
{ 
	$loop=1;
	$count = 1;
	$nbtevent = $nbtevent+1;
	$categoryUrl="";
	if(isset(${"Products".$category}))
	{
		$popularProducts= ${"Products".$category};
		$productCount = ${"ProductCount".$category};
		$sortedProducts = ${"SortedProducts".$category};
		$categoryUrl = ${"CategoryUrl".$category};
		$length = count($sortedProducts);
 
	
?>
			<section>
				<div class="toi-product-head">
					<h3 class="ftl blue-strip"><span class="truncate text-transform"><?=$category?></span> <a href="<?=$categoryUrl?>" data-ga-track="home_page##<?=$category?>##viewall##0" class="ftr">See All </a></h3>
				</div>
				<div class="toi-owl-carousel nbtevent<?php echo $nbtevent;?>" data-count="<?php echo $nbtevent;?>">
<?php
$in = 1;
$countads = 0;

while ($in<$length && $loop <= 10 )
{  
	if(isset($sortedProducts[$in]))
		$pID = $sortedProducts[$in];
	else 
	{
		$in  = $in+1;
		$loop=$loop+1;
		continue;
	}
	//if($in >= 10 ) break;
	$in  = $in+1;
	$categoryUrl = ${"CategoryUrl".$category};
	if($productCount == 0)
	{
		$category = strtok(',');
		break;
	}
	if(isset($popularProducts[0]))
	{
		
		$totalProducts=sizeof($popularProducts);
		$extns = $popularProducts;
		$position=0;
		$countadsposition = 1+$countadsposition;
		foreach($extns as $extn)
		{
			
		$productId=$extn->PRODUCT_ID;
		if($pID != $productId)
		{
			continue;
		}else 
		{
		$discountedPrice = round($extn->DISCOUNTED_PRICE);
		$productName=$extn->PRODUCT_NAME;
		
		if(isset( $extn->OUT_OF_STOCK) &&  $extn->OUT_OF_STOCK==='1') 
		{
		  continue;
		}
		$loop = $loop+1;
		$defaultPrice = round($extn->DEFAULT_PRICE);
		$listPrice = round($extn->LIST_PRICE);
		$discount = $extn->DISCOUNT;
		$discount = round($discount);
		$discountedPrice = round($extn->DISCOUNTED_PRICE);
		
		
		$productUrl="#";$productImageUrl="#";
		if(isset($productUrlArr) && isset($productUrlArr[$extn->PRODUCT_ID])){
			$productUrl = $productUrlArr[$extn->PRODUCT_ID];
		}
		if(isset($productImageUrlArr) && isset($productImageUrlArr[$extn->PRODUCT_ID]))
		{
			$productImageUrl = $productImageUrlArr[$extn->PRODUCT_ID];
		}
		$showPrice=($discountedPrice>0 && $discountedPrice<$defaultPrice?$discountedPrice:$defaultPrice); 
		if($showPrice!=0)
		{
			$countads = 1+$countads;
			$position = $position+1; 
			$indx=$indx+1;
			?>
							<!-- product start -->
							<div class="toi-product <?php if(isset( $extn->OUT_OF_STOCK) &&  $extn->OUT_OF_STOCK==='1') { echo 'soldout'; }?>" itemscope itemtype="http://schema.org/ImageObject">
							
							<!-- <div class="toi-product"> -->
									<div class="soldout-contain">Sold Out</div>
									<a data-ga-en="event~productClick##id~<?= $extn->PRODUCT_ID;?>##name~<?=$extn->PRODUCT_NAME;?>##brand~<?php if(isset($extn->BRAND)){ echo $extn->BRAND;}else{echo "no brand";};?>##category~catalog_name/category_id/##price~<?= $extn->LIST_PRICE;?>##quantity~1##position~<?=$position;?>##url~<?=$productUrl?>##list~home_page_<?=$category?>|<?= $extn->PRODUCT_ID;?>" data-ga-track="home_page##<?=$category?>##<?= $extn->PRODUCT_ID.'|'.$extn->PRODUCT_NAME.'|'.$extn->PRIMARY_CATEGORY_ID.'|'.$showPrice ?>##0" href="<?=$productUrl?>">
										<figure><img class="lazy" alt="<?= $extn->PRODUCT_NAME;?>" data-original="<?=$productImageUrl?>"/></figure>
										<meta itemprop="contentUrl" content="<?=$productImageUrl?>" />
										<figcaption itemprop="name"><div  class="proxima-regular1"><?= $extn->PRODUCT_NAME?></div></figcaption>
										<div class="toi-price">
											<div class="ftl">
												 <?php /*if($discountedPrice >0) {?><span class="toi-rupees toi-offer toi-text proxima-regular1 inline"><?=$discountedPrice?></span><?php } ?>
												 <?php if($listPrice>$showPrice){?><span class="toi-rupees toi-mrp inline"><?= $extn->LIST_PRICE;?></span>
												 <?php } elseif($listPrice == $showPrice) {?> <span class="toi-rupees toi-offer toi-text inline"><?=$listPrice?></span><?php }?>
												 <span class="toi-offer toi-text-off inline">12% Off</span -- */?>
												 
												 <?php if($discountedPrice >0) { ?><span class="offer-price-ui toi-text"><?= $discountedPrice;?></span> 
							<?php if($listPrice>$defaultPrice){?><span class="mrp-price-ui"><?= $extn->LIST_PRICE;?></span><?php }?>
							<?php } else {?>
			                                <span class="offer-price-ui toi-text"><?= $extn->DEFAULT_PRICE;?></span> 
			                                <?php if($listPrice>$defaultPrice){?><span class="mrp-price-ui"><?= $extn->LIST_PRICE;?></span><?php }?>
			                                <?php if($discount>0){?><span class="off-price-ui">(<?= $discount;?>% off)</span><?php } }?>
											</div>
											<span class="ftr toi-buy">buy</span>
											
										</div>
									</a>
							</div>
							<!-- product end -->
							<?php  if($countads==2){?>
							<div id="div-clmb-ctn-<?=str_replace(" ","-",$category)?>-<?=$in;?>" data-slot="256682" data-position="<?= $countadsposition;?>" data-section="0" data-cb="adwidgetfun" class="colombia toi-product colombiaad"> </div>
							<?php $countads=0; }  ?>
						<?php } break;}// else 
						}// for
						 }// if
				} // while  ?>  
				</div>    
			</section>
			 <?php }
			 $category = strtok(',');
} ?>
		</div>
		
		
		<!-- amazon -->
		<?php // include __DIR__ . "/../common/affiliate-amazon-shoes.phtml"; ?>
		<?php  include __DIR__ . "/../common/affiliate-paytm-popular.phtml"; ?>
		
	<?php   if(isset($samsungMoreProducts)) 
				{  ?>	
	<div class="toi-container">
 		<section>
				<div class="toi-product-head">
					<h3 class="ftl blue-strip"><span class="truncate text-transform">More From Amazon</span></h3>
				</div>
				<div class="toi-owl-carousel">
				
				<?php
					for ($t=0; $t<sizeof($samsungMoreProducts['product']); $t++)
    					{
    						$recoProd=$samsungMoreProducts['product'][$t];
						 $samProdname = $recoProd['title'];
						 $samProdprice = $recoProd['price'];
						 $samProdpid = $recoProd['pid'];
						 $samProdurl = $recoProd['url'];
						 $samimgurl=$recoProd['imageUrl'];
						 
						 // If product is hardcoded banner then
						 // do not show it
						 if($samProdpid == 'NA')
						 	continue;
						 
						 $samsungUrl = $samProdurl;
						 $nameurl = str_replace(" ","_",$samProdname);
						 $intermediateUrl = "https://m.shop.gadgetsnow.com/affiliate.cms?url=";
						 $samsungUrl = $intermediateUrl.rawurlencode($samsungUrl)."&tag=samsung_mweb_gnshop_home_more&afname=SAMSUNG&utm_medium=Affiliate"."&title=".rawurlencode($nameurl)."&price=";
						 $amzMoreUrl=$samProdurl;
						 
						 $amzMoreUrl = str_replace("https://www.amazon.in","", $amzMoreUrl);
						 if(strpos($amzMoreUrl,"?") == false)
						 {
						 	$amzMoreUrl =$amzMoreUrl."?tag=timofind-21";
						 }else
						 {
						 	$amzMoreUrl =$amzMoreUrl."&tag=timofind-21";
						 }
						 $amzMoreUrl = rawurlencode($amzMoreUrl);
						 $amzMoreUrl = $amzMoreUrl."&utm_campaign=mweb_gnshop_more-21&utm_source=mweb_gnshop&utm_medium=Affiliate&price=0&title=".rawurlencode($samProdname);
						 $amzMoreUrl = "http://m.gadgetsnow.com/affiliate_amazon.cms?url=".$amzMoreUrl;
						 $samsungUrl=$amzMoreUrl;
						 
				?>
				
					<!-- product start -->
					<div class="toi-product" itemscope="" itemtype="http://schema.org/ImageObject">
							<div class="soldout-contain">Sold Out</div>
							<a rel="nofollow sponsored" target="_blank" data-ga-track="home_mweb_amazon_more##Mobile|home##<?=$samProdpid?>|<?=$samProdname?>|10022|26080##0" href="<?=$samsungUrl?>">
								<figure><img class="lazy" alt="<?=handleStr($samProdname)?>" data-original="<?=handleStr($samimgurl)?>">
								</figure>
								<meta itemprop="contentUrl" content="<?=handleStr($samimgurl)?>">
								<figcaption itemprop="name"><div class="proxima-regular1"><?=handleStr($samProdname)?></div></figcaption>
								<div class="toi-price">
								<?php if(is_numeric($samProdprice) && $samProdprice != 0) { ?>
									<div class="ftl">											 												 
										 <span class="offer-price-ui toi-text"><?=number_format($samProdprice)?></span>
										 
									</div>
									<?php } elseif($samProdprice != '0') {?>
									<div class="ftl">											 												 
										 <span><?=$samProdprice?></span>
										 
									</div>
									<?php } ?>
									<span class="ftr toi-buy">buy</span>											
								</div>
							</a>
					</div>
					<!-- product end -->
					
					<?php }   ?>
				</div>    
			</section>
			</div> 
			<?php } ?>
<?php include __DIR__ . "/../common/newfooter.phtml"; ?>
