<!DOCTYPE html>
<html>
<head>
<title><?=ucfirst($selectedvalue);?></title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta name="robots" content="nofollow,noindex">	
<link rel="apple-touch-icon" sizes="57x57" href="/pwa/img/icons/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/pwa/img/icons/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/pwa/img/icons/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/pwa/img/icons/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/pwa/img/icons/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/pwa/img/icons/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/pwa/img/icons/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/pwa/img/icons/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/pwa/img/icons/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="/pwa/img/icons/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="/pwa/img/icons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/pwa/img/icons/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="/pwa/img/icons/favicon-16x16.png">
<link rel="manifest" href="/pwa/js/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/pwa/img/icons/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">

<link rel="stylesheet" href='/pwa/css/style.css' />
<script type="text/javascript" language="javascript" charset="UTF-8">

 var _ckns_policy = getCookie('ckns_policy');
 var geo_continent = getCookie('geo_continent');
 var isPrimeUser = getCookie('isPrimeUser');
	function getCookie(name) {
	    var v = document.cookie.match('(^|;) ?' + name + '=([^;]*)(;|$)');
	    return v ? v[2] : null;
	}
	if(isPrimeUser==null || isPrimeUser==undefined){
		isPrimeUserVal = 0;
	}else if(isPrimeUser=='true' || isPrimeUser==true){
		isPrimeUserVal = 1;
	}else{
		isPrimeUserVal = 0;
	}
</script>
<script>
function _uGC(l,n,s) {
		if (!l || l=="" || !n || n=="" || !s || s=="") return "-";
		var i,i2,i3,c="-";
		i=l.indexOf(n);
		i3=n.indexOf("=")+1;
		if (i > -1) {
		i2=l.indexOf(s,i); if (i2 < 0) { i2=l.length; }
		c=l.substring((i+i3),i2);
		}
		return c;
	}
(function() {
	if(geo_continent!="EU" && geo_country!="US" && geo_region!="CA"){
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	}
  })();  
	 
	var _userpartyId = "NA"; 
	var _userStatusCookie = "Not+login";
	if(getCookie("userpartyId")!=''){var _userpartyId = getCookie("userpartyId");}
	if(getCookie("userStatusCookie")!=''){var _userStatusCookie = getCookie("userStatusCookie");}
	var a = _uGC(document.cookie, '__utma=', ';');
	var id = a.split(".");
	dataLayer = [];
</script>
<script type="text/javascript" src='/pwa/js/gdpr-version-1.js'></script>
<script type="text/javascript">
 var paramsconfig={};
  var paramsObj={};
  paramsObj.pixelParams={};
  paramsObj.leafTitle = "<?=$leafTitle;?>";
</script>
</head>
<body>
<?php 
$lastPage =isset($_SESSION['lastRegisterPage'])?$_SESSION['lastRegisterPage']:"/";
//$lastPage = isset ( $_SERVER ['HTTP_REFERER'] ) ? $_SERVER ['HTTP_REFERER'] : "/";

?>
<div class="navigation navigationpage">
   <div class="nav-header">
      <table width="100%">
            <tr>
               <td class="back-arrow text-center">
					<a href="<?=$lastPage?>"><svg width="19" height="16" viewBox="0 0 19 16" xmlns="http://www.w3.org/2000/svg"><path d="M17.556 7.847H1M7.45 1L1 7.877l6.45 6.817" stroke="#fff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" fill="none"></path></svg></a>
			   </td>
			   <td class="text-left ct-text" width="80">
					<?php 
					$selectedvalue=str_replace("-","",$selectedvalue);
						print_r(ucfirst($selectedvalue));
					?>
			   </td>
			   <td class="navigationpage-right text-right loginheader adcode">
					<a class="display-inline cart loginMy" href="/control/login">
						<i class="fa withoutlogin fa-user-circle"></i>
						<span class='loginUser uppercase display-none'></span>
					</a>
					<a class="display-inline cart" href="/control/showcart">
						<i class='fa fa-shopping-cart'><span class="count text-center display-block absolute">0</span></i>	
					</a>
               </td>
            </tr>
      </table>
   </div>
   <div class="nav-menu">
   <ul class="nav-menu-tab border-bottom ct-cap">
   <?php 
   		$hsubcategories =explode(',',$hambsubCategories);
   		for($i=0;$i<sizeof($hsubcategories);$i++)
   		{
   			$hsubcategoryname = $hsubcategories[$i];
   			$hsubcategoryUrl = $GLOBALS['hamburger'][$hsubcategoryname];
   	?>		
   			 <li><a href="<?=$hsubcategoryUrl?>"><?=$hsubcategoryname?></a></li>
   		<?php }
   		
   ?>
		 
	  </ul>	 
	   <ul class="nav-menu-tab">
	  <?php 
	  $hamcategories = $GLOBALS['hamburger']['HAMBURGER_CATEGORIES'];
	  $hcategories =explode(',',$hamcategories);
	  for($i=0;$i<sizeof($hcategories);$i++)
	  {
	  	unset($hcategoryurl);
	  	$hcategoryname = $hcategories[$i];
	  	if(strcasecmp($hcategoryname,$selectedvalue) === 0)
	  		continue;
	  	$hcategoryname = str_replace(" ","-",$hcategoryname);
	  	if(isset($GLOBALS['hamburger'][$hcategoryname]))
	  		$hcategoryname=$GLOBALS['hamburger'][$hcategoryname];
	  	$urlindex=strtolower($hcategoryname);
	  	if(isset($GLOBALS['hamburger'][$urlindex.'_url']))
	  		$hcategoryurl=$GLOBALS['hamburger'][$urlindex.'_url'];
	  ?>
	 
	  <li><div class="col-sm-10">
	   
	  		<a href="<?=isset($hcategoryurl)?$hcategoryurl:'#';?>"><?=$hcategoryname?></a> 
	  	  </div><div class="col-sm-2 text-right">
	  	  <a href="/categories/<?=strtolower($hcategoryname)?>" class="right-arrow"></a></div></li>
			<!--  <li><a href="/categories/laptops">Laptops</a></li>
			 <li><a href="/categories/electronics">Electronics</a></li>
			 <li><a href="/categories/accessories">Accessories</a></li>
			 <li><a href="/categories/offers">Offers</a></li>
			 <li><a href="/categories/personalgrooming">Personal Grooming</a></li>
			 <li><a href="/categories/watches">Watches</a></li>      -->    
		
		<?php } ?>	
		</ul>
		  
   </div>
</div>
<!-- service workers registration -->
<script type="text/javascript">

// Check that service workers are registered
//This is the "Offline copy of pages" service worker

//Add this below content to your HTML page, or add the js file to your page at the very top to register service worker
if (navigator.serviceWorker && navigator.serviceWorker.controller) {
  console.log('active service worker found, no need to register')
} else {
  //Register the ServiceWorker
	if ('serviceWorker' in navigator) {
	  window.addEventListener('load', function() {
		 navigator.serviceWorker.register('/pwabuilder-sw.js', {
		scope: '/'
		  }).then(function(reg) {
			console.log('Service worker has been registered for scope:'+ reg.scope);
		  });
	  });
	}
}
window.addEventListener('load', function() {
  function updateOnlineStatus(event) {
    if (navigator.onLine) {
      // handle online status
      //console.log('online');
    } else {
      // handle offline status
	  alert("Network request Failed.");
    }
  }

  window.addEventListener('online', updateOnlineStatus);
  window.addEventListener('offline', updateOnlineStatus);
});

if ('serviceWorker' in navigator) {
  // Use the window load event to keep the page load performant
  window.addEventListener('load', () => {
    navigator.serviceWorker.register('/pwabuilder-sw.js')
  });
}
</script>
<!-- service workers registration -->
<script src="/pwa/js/jquery-1.10.2.min.js" type="text/javascript"></script>
<script src="/pwa/js/owl.carousel.min.js"></script>
<script src="/pwa/js/app.js" type="text/javascript"></script>
<script src="/pwa/js/ga-track.js" type="text/javascript"></script>
<script src="/pwa/js/jquery.cookie.js" type="text/javascript"></script>
<script>
if(geo_continent!="EU" && geo_country!="US" && geo_region!="CA"){
var zeroscript = document.createElement("script"), elzero = document.getElementsByTagName("script")[0]; zeroscript.async = false;
zeroscript.src = (document.location.protocol == "https:" ? "https://" : "http://") + "shop.gadgetsnow.com/gsearch/zerogn.php";
elzero.parentNode.insertBefore(zeroscript, elzero);
$("#tagman").attr("src","//www.googletagmanager.com/ns.html?id=GTM-KGN9KL");
}
</script>
<!-- Google Tag Manager -->
<?php 
$isLive=$GLOBALS['general']['IS_LIVE'];

if( $isLive == 'N') {?>
<noscript><iframe id="tagman" src="" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>
if(geo_continent!="EU" && geo_country!="US" && geo_region!="CA"){
(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-KGN9KL');
}
</script>
<?php }?>
<!-- End Google Tag Manager -->
<script type='text/javascript'>
	function _isPrimeUserFun(){
		$("body").removeClass("adoff").addClass("adon");
		//$(".primeuser").removeClass("displaynone");
		//$("*[data-slot=256682]").removeClass("adsCheck");
		(function() {
		if(geo_continent!="EU" && geo_country!="US" && geo_region!="CA"){
			var gads = document.createElement('script');
			gads.async = true;
			gads.type = 'text/javascript';
			var useSSL = 'https:' == document.location.protocol;
			gads.src = (useSSL ? 'https:' : 'http:') + 
			'//www.googletagservices.com/tag/js/gpt.js';
			var node = document.getElementsByTagName('script')[0];
			node.parentNode.insertBefore(gads, node);
		}
		})();
	}
</script>
</body>
</html>