<?php include __DIR__ . "/../common/pwaHeader.phtml"; ?>
<!-- listing page start -->
	<!-- listing head start-->	
	<div class="table listing-head">
		<div class="table-row">
			<div class="table-cell text-center v-align-middle">
				<div class="display-inline">
					<i class="fa fa-sort-amount-desc" aria-hidden="true"></i> 
				</div>
				<div class="display-inline sort-by-form-ui">
					<form>
						<select>
<?php
if(isset($sortBy[0])){
	$extns = $sortBy;
	foreach($extns as $extn){
		$sortOption = $extn->sortOption;
		$sortOptionUrl = $extn->sortOptionUrl;
		$sortValue = $extn->sortValue;
		if(isset($sortOption)){
?>                         	
                        	<option value="<?=$sortValue?>" <?php if(isset($sortSelected) && strcasecmp(substr($sortSelected, 0, -1),$sortValue)==0) echo "selected";?> ><?=$sortOption?></option>
<?php }}}?>
							 
                        </select>
                    </form>
				</div>
			</div>
			<div class="table-cell text-center v-align-middle"><!--file_exists -->
				<a class="filteropen <?php if(isset($filtercount) && $filtercount>0) { echo "file_exists ".$filtercount; } ?> "
				   href="#filter"><i class="fa fa-filter" aria-hidden="true"></i> Filter <span class="filter-check-icon fa"></span></a>
			</div>
		</div>
	</div>
	<!-- listing head end-->	
<!-- google ad start-->
<?php include __DIR__ . "/../common/atfSlot.phtml"; ?>
<!-- google ad end-->
<?php 
// If category has 20 or less  than 20 then show single list
if(isset($productCount) && $productCount <20)
{
?>
<!-- product list single start-->
<?php  include __DIR__."/../common/singleProduct.phtml"; ?>
<!-- product list single end-->
<?php } // else show more than 20 products 
else {?>
<!-- product list tow start-->
<?php include __DIR__."/../common/tiledPoduct.phtml"; ?>
<!-- product list two end-->
<?php } ?>

<!-- listing page end -->
 
<!-- Footer starts -->
	<?php include __DIR__ . "/../common/pwaFooter.phtml"; ?>
	<!-- Footer Ends -->