<!DOCTYPE html>
<html>
<head>
<title>Home Page</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link rel="apple-touch-icon" sizes="57x57" href="/pwa/img/icons/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/pwa/img/icons/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/pwa/img/icons/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/pwa/img/icons/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/pwa/img/icons/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/pwa/img/icons/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/pwa/img/icons/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/pwa/img/icons/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/pwa/img/icons/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="/pwa/img/icons/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="/pwa/img/icons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/pwa/img/icons/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="/pwa/img/icons/favicon-16x16.png">
<link rel="manifest" href="js/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/pwa/img/icons/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">

<link rel="stylesheet" href='/pwa/css/style.css' />
</head>
<body>
<div class="navigation navigationpage">
   <div class="nav-header">
      <table width="100%">
            <tr>
               <td class="back-arrow text-center">
					<a href="#"><svg width="19" height="16" viewBox="0 0 19 16" xmlns="http://www.w3.org/2000/svg"><path d="M17.556 7.847H1M7.45 1L1 7.877l6.45 6.817" stroke="#fff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" fill="none"></path></svg></a>
			   </td>
			   <td class="text-left ct-text" width="80">
					Smartphones
			   </td>
			   <td class="navigationpage-right text-right">
					<a class="display-inline cart" href="/control/login">
						<i class="fa withoutlogin fa-user-circle"></i>
						<span class='loginUser uppercase display-none'></span>
					</a>
					<a class="display-inline cart" href="/control/showcart">
						<i class='fa fa-shopping-cart'><span class="count text-center display-block absolute">19</span></i>	
					</a>
               </td>
            </tr>
      </table>
   </div>
   <div class="nav-menu">
		<ul class="nav-menu-tab border-bottom ct-cap">
			 <li><a href="/trending-4g-phones">4G Phones</a></li>
			 <li><a href="/computer-laptop">Budget Phones</a></li>
			 <li><a href="/refurbished-mobiles">Refurbished Mobile</a></li>
			 <li><a href="/best-selling-smartphones">Best Selling Smartphones</a></li>
			 <li><a href="/computer-laptop">Upcoming Smartphones</a></li>
			 <li><a href="/mobiles/mobiles-feature-phones/">Feature Phones</a></li>
			 <li><a href="/new-releases">New Releases</a></li>
			 <li><a href="/mobiles/also-in-stores/">Also In Stores</a></li>
			 <li><a href="/accessories/">Mobile Accessories</a></li>
			 <li><a href="/tablets">Tablets</a></li>
	  </ul>	 
		<ul class="nav-menu-tab">
			 <li><a href="/categories/smartphones">Smartphones</a></li>
			 <li><a href="/categories/smartphones">Laptops</a></li>
			 <li><a href="/electronics">Electronics</a></li>
			 <li><a href="/accessories">Accessories</a></li>
			 <li><a href="#">Offers</a></li>
			 <li><a href="#">Personal Grooming</a></li>
			 <li><a href="/watches">Watches</a></li>         
		</ul>	  
   </div>
</div>
<!-- service workers registration -->
<script type="text/javascript">
//This is the "Offline copy of pages" service worker

//Add this below content to your HTML page, or add the js file to your page at the very top to register service worker
if (navigator.serviceWorker.controller) {
  console.log('[PWA Builder] active service worker found, no need to register')
} else {
  //Register the ServiceWorker
  navigator.serviceWorker.register('pwabuilder-sw.js', {
    scope: '/PWAdesign/html/'
  }).then(function(reg) {
    console.log('Service worker has been registered for scope:'+ reg.scope);
  });
}
</script>
<!-- service workers registration -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js" type="text/javascript"></script>
<!-- script src="main.js" type="text/javascript"></script -->
</body>
</html>