/* amazon bestoffer */
.amazon-bestoffer-container ul{overflow:hidden}
.amazon-bestoffer-container ul li{float:left; width:48%; padding:1%;}
.amazon-bestoffer-container ul li img{width:100%}
.Productsbestoffer-container ul, .shopByFeature ul, .shopelectronic ul{overflow:hidden}
.Productsbestoffer-container ul li{float:left; width:48%; padding:1%;list-style:none;}
.Productsbestoffer-container ul li img{width:100%}
.Productsbestoffer-container >div, .shopByFeature>div{font-size:22px; text-align:center; width:100%; display:block; font-family: 'proxima-semibold'; }
.mobileByprice, .featuredBrands, .shopByFeature, .shopelectronic{background:#fff; overflow:hidden; margin-top:20px;}
.featuredBrands li{height:148px; padding-top:20px}
.mobileByprice li{width:30%; margin-top:22px;}
.mobileByprice li figure{display:block; text-align:center; padding:10% 0;}
.mobileByprice li .pricehead{ text-align:center; display:block; border:1px solid #000; width:70%; margin:0 auto; line-height:30px; font-size:16px; color:#000}
.mobileByprice li a:hover .pricehead{background:#000; color:#fff;}
.mobileByprice li .priceviewall{text-align:center; display:block; color:#000; font-size:16px; border-top:1px solid #dddddd; border-bottom:1px solid #dddddd; width:50%; margin:0 auto; line-height:42px;}
.shopByFeature{text-align:center;}
.shopByFeature li {background:#000; color:#fff; text-transform:uppercase; text-align: center; display:inline-block; vertical-align: middle; White-space: normal; border:1px solid #000; margin:11px; }
.shopByFeature li a{color:#fff; text-transform:uppercase; text-align: center; display:block;  line-height:19px; padding:13px 5px;}
.shopByFeature li:hover{background:#fff; border:1px solid #000}
.shopByFeature li:hover a{color:#000;}
.shopelectronic {padding-top:10px;}
.shopelectronic >div{background:url('https://images-eu.ssl-images-amazon.com/images/G/31/img15/CE-Exc/Store/Updated/cg_block-groups_same-ratio-Recovered-v2_03.jpg') center -2px no-repeat; background-size:206%; display:block; height:50px; width:100%}
.shopelectronic ul{text-align:center; width:100%;}
.shopelectronic li{ display:inline-block; padding:10px;}
.shopelectronic li a{display:block; line-height:50px; border:1px solid #b1b1b1; padding:0 25px; font-size:17px !important; color:#000; text-transform:uppercase;}
.shopelectronic li a:hover{background:#000; color:#fff;}
.content { width: 96%;  margin: 0 auto;}
/* amazon bestoffer */
/* amazon prime video */
.amazoneprime{border:1px solid #dedede; height:250px; margin:10px 0px 10px 10px; padding:8px; box-shadow:1px 2px 2px #dfdfdf; background:#fff;}
.amazoneprime figure{height:210px; display:block; text-align:center; }
.amazoneprime figure img{max-height:96%;}
.amazoneprime .toi-buy{font-size:1rem; color:#fff; display:block; background:#f09601; width:86px; height:34px; border-radius:2px; -moz-border-radius: 2px; -webkit-border-radius: 2px; border:1px solid #ba750d; text-align:center; line-height:34px; text-transform:uppercase; margin:0 auto;}
/* amazon prime video */


/*amazing start*/
.amazing-containers{width:98%; padding:0 1%}
.amazing-containers .amazing-header{display:block;  padding:10px}
.amazing-containers .amazing-header h1{font-size:30px; font-family: 'proxima-semibold'; font-weight:100; margin:0; padding:0;}
.amazing-containers .amazing-header p{margin:0; padding:5px 0; font-size:14px;}
.amazing-containers .producthead h2{font-size:28px; font-weight:normal;}
.amazing-containers .producthead h2 a{color:#000;}
.amazing-containers .producthead h3{font-size:18px; font-weight:normal;}
.amazing-containers .sub-amazing {border-bottom:4px solid #666;}
.amazing-containers .sub-amazing  .amazing-one{padding-top:20px;}
.amazing-containers .sub-amazing  .amazing-one .clickimg{display:block; vertical-align:middle; text-align:center; width:100%;}
.amazing-containers .sub-amazing  .amazing-one .clickimg img{max-width:60%;}
.amazing-containers .knockoutrating { overflow: hidden;  margin:0 auto 10px; width:190px;}
.amazing-containers .knockoutrating .ratingtext {font-size: 14px; line-height: 24px; padding-right: 5px;}
.amazing-containers .knockoutrating .rating {background: url("/mobile/img/content-bg-sprite.png") repeat-x 0 -13px; width: 77px;  display: block;  height: 24px;  margin: 0;  text-indent: -5000px;}
.amazing-containers .knockoutrating .rating span {background: url("/mobile/img/content-bg-sprite.png") repeat-x 0 5px; display: block; height: 24px;  margin: 0;  text-indent: -5000px; float:left;}
.amazing-containers .knockoutrating .review {text-align: left; clear: both;}
.amazing-containers .producthead {text-align:center; padding-top:10px;}
.amazing-containers .producthead .offer-price{ font-size: 28px; line-height: 30px; display: inline-block; color: #135394; font-family: 'proxima-semibold';} 
.amazing-containers .producthead .mrp-price{font-size: 18px; text-decoration: line-through; color: #666; line-height: 30px; display: block;} 
.amazing-containers .producthead .you-save{font-size: 14px; color: #f09601; font-weight: bold;}
.amazing-containers .producthead .knockout-tab { overflow: hidden;  margin-top: 20px;  padding-bottom: 10px;  border-bottom: 1px dotted #999;}
.amazing-containers .producthead .knockoutactiontab .knockout-buybutton { text-align: center;  width: 100%;  padding: 10px 0;}
.amazing-containers .producthead .knockoutactiontab .knockout-buybutton a { text-align: center;  width: 90%;  margin: 0 auto;  display: block; line-height: 40px; color: #fff; background: #f09601; text-decoration: none; font-weight: bold;    font-size: 16px;}
.amazing-containers .product-features li {list-style: none; width: 90%;  font-size: 14px; line-height: 20px;padding-top: 5px; height: 50px; text-align:left;}
.amazing-containers .product-features li:before{ content: '';  background: url('/mobile/img/knockfeaturebg.png') no-repeat;  list-style: none;  width: 50px; height: 50px;  float: left;  font-size: 20px; line-height: 20px; background-size: 50px 580px;  margin-top: -5px; }
.amazing-containers .product-features li.battery::before {background-position: 0 -361px;}
.amazing-containers .product-features li.memory::before { background-position: 0 -292px;}
.amazing-containers .product-features li.camera::before { background-position: 0 -175px;}
.amazing-containers .product-features li.display::before { background-position: 0px -34px;}
.amazing-containers .product-features li.processor::before { background-position: 0 -228px;}
.amazing-containers .product-features li.android::before { background-position: 0 -425px; }
.amazing-containers .product-features li.ios:before{background-position:0 -484px}
.amazing-containers .producthead h3 {margin: 10px; color: #000; font-size: 18px; text-align: left; font-weight: 100;}
.amazing-containers .producthead .productShowBox, .amazing-containers .producthead .content{text-align:left;}
.amazing-containers .product-features-access li{width: 90%; position:relative; font-size: 14px; line-height: 20px;padding: 5px 0 5px 25px; text-align:left;}
.amazing-containers .product-features-access li:before{content:'●'; width:20px; height:30px; position:absolute; top:4px; left:8px;}
/*amazing end*/