/*amazing start*/
.content {width: 96%; margin: 0 auto;}
.amazing-containers{width:98%; padding:0 1%}
.amazing-containers .amazing-header{display:block;  padding:10px}
.amazing-containers .amazing-header h1{font-size:30px; font-family: 'proxima-semibold'; font-weight:100; margin:0; padding:0;}
.amazing-containers .amazing-header p{margin:0; padding:5px 0; font-size:14px;}
.amazing-containers .producthead h2{font-size:28px; font-weight:normal;}
.amazing-containers .producthead h2 a{color:#000;}
.amazing-containers .producthead h3{font-size:18px; font-weight:normal;}
.amazing-containers .sub-amazing {border-bottom:4px solid #666;}
.amazing-containers .sub-amazing  .amazing-one{padding-top:20px;}
.amazing-containers .sub-amazing  .amazing-one .clickimg{display:block; vertical-align:middle; text-align:center; width:100%;}
.amazing-containers .sub-amazing  .amazing-one .clickimg img{max-width:60%;}
.amazing-containers .knockoutrating { overflow: hidden;  margin:0 auto 10px; width:190px;}
.amazing-containers .knockoutrating .ratingtext {font-size: 14px; line-height: 24px; padding-right: 5px;}
.amazing-containers .knockoutrating .rating {background: url("/mobile/img/content-bg-sprite.png") repeat-x 0 -13px; width: 77px;  display: block;  height: 24px;  margin: 0;  text-indent: -5000px;}
.amazing-containers .knockoutrating .rating span {background: url("/mobile/img/content-bg-sprite.png") repeat-x 0 5px; display: block; height: 24px;  margin: 0;  text-indent: -5000px; float:left;}
.amazing-containers .knockoutrating .review {text-align: left; clear: both;}
.amazing-containers .producthead {text-align:center; padding-top:10px;}
.amazing-containers .producthead .offer-price{ font-size: 28px; line-height: 30px; display: inline-block; color: #135394; font-family: 'proxima-semibold';} 
.amazing-containers .producthead .mrp-price{font-size: 18px; text-decoration: line-through; color: #666; line-height: 30px; display: block;} 
.amazing-containers .producthead .you-save{font-size: 14px; color: #f09601; font-weight: bold;}
.amazing-containers .producthead .knockout-tab { overflow: hidden;  margin-top: 20px;  padding-bottom: 10px;  border-bottom: 1px dotted #999;}
.amazing-containers .producthead .knockoutactiontab .knockout-buybutton { text-align: center;  width: 100%;  padding: 10px 0;}
.amazing-containers .producthead .knockoutactiontab .knockout-buybutton a { text-align: center;  width: 90%;  margin: 0 auto;  display: block; line-height: 40px; color: #fff; background: #f09601; text-decoration: none; font-weight: bold;    font-size: 16px;}
.amazing-containers .product-features li {list-style: none; width: 90%;  font-size: 14px; line-height: 20px;margin-bottom: 5px; height: 50px; text-align:left;}
.amazing-containers .product-features li > span{display: table-cell;vertical-align: middle; height: 50px;}
.amazing-containers .product-features li:before{ content: '';  background: url('/mobile/img/knockfeaturebg.png') no-repeat;  list-style: none;  width: 50px; height: 50px;  float: left;  font-size: 20px; line-height: 20px; background-size: 50px 580px; }
.amazing-containers .product-features li.battery::before {background-position: 0 -361px;}
.amazing-containers .product-features li.memory::before { background-position: 0 -292px;}
.amazing-containers .product-features li.camera::before { background-position: 0 -175px;}
.amazing-containers .product-features li.display::before { background-position: 0px -34px;}
.amazing-containers .product-features li.processor::before { background-position: 0 -228px;}
.amazing-containers .product-features li.android::before { background-position: 0 -419px; }
.amazing-containers .product-features li.ios:before{background-position:0 -484px}
.amazing-containers .product-features li.warranty:before{background-position:0 -533px; }
.amazing-containers .producthead h3 {margin: 10px; color: #000; font-size: 18px; text-align: left; font-weight: 100;}
.amazing-containers .producthead .productShowBox, .amazing-containers .producthead .content{text-align:left;}
.amazing-containers .product-features-access li{width: 90%; position:relative; font-size: 14px; line-height: 20px;padding: 5px 0 5px 25px; text-align:left;}
.amazing-containers .product-features-access li:before{content:'●'; width:20px; height:30px; position:absolute; top:4px; left:8px;}
/*amazing end*/