.bestsellercontainer{ position:relative;padding: 0 16px;  margin: 16px 0;}
.bestsellercontainer .headname{display:flex; justify-content: space-between; align-items: center;margin-bottom: 12px;}
.bestsellercontainer .headname h3{font-size:16px; line-height:24px; display: inline-block;}
.bestsellercontainer .headname .poweredby{display: flex;
    flex-flow: column;
}
.bestsellercontainer .headname .poweredby span{display:block; positon:relative; top:-2px; text-align: center;color: #595959;font-size:10px; line-height:16px;}
.bestsellercontainer .headname .poweredby img{width: 60px; height: 18px; object-fit: cover;}
.bestsellercontainer .catgorybox{overflow:hidden}
.bestsellercontainer .catgorybox .box{width: calc(50% - 8px); margin-right: 16px; margin-bottom: 16px;float:left;}
.bestsellercontainer .catgorybox .box:nth-child(2n) {  margin-right: 0;float:right;}
.bestsellercontainer .catgorybox .box:nth-last-of-type(-n+2) {margin-bottom: 0;	}
.bestsellercontainer .catgorybox .box a{display:block;}
.bestsellercontainer .catgorybox .box .boxboder{border-radius: 4px; border: 1px solid #ececec;}
.bestsellercontainer .catgorybox .box .boxboder .imgbox{position: absolute; top: 0; left: 0; right: 0; bottom: 0; overflow: hidden; height: 100%; border-radius: 4px 4px 0 0; background-clip: padding-box;}
.bestsellercontainer .catgorybox .box .boxboder .imgcontain:before {display: block; content: ""; width: 100%;  padding-top: 56.25%;}
.bestsellercontainer .catgorybox .box .boxboder .imgbox img{width: 100%; height: 100%; object-fit: cover}
.bestsellercontainer .catgorybox .box .boxboder .boxcontent{padding: 8px;}
.bestsellercontainer .catgorybox .box .boxboder .boxcontent .title{color:#1a1a1a;font-size:14px;line-height:20px; height:40px; margin-bottom: 4px; display: -webkit-box; -webkit-line-clamp: 2;  -webkit-box-orient: vertical; overflow: hidden; text-transform: uppercase;}
.bestsellercontainer .catgorybox .box .boxboder .boxcontent .boxoffer{display: flex; flex-flow: column;}
.bestsellercontainer .catgorybox .box .boxboder .boxcontent .boxoffer span{position:relative; font-size:13px; line-height:18px}
.bestsellercontainer .catgorybox .box .boxboder .boxcontent .boxoffer span:first-child {font-weight:600;text-transform: uppercase; color: #e21b22; margin-bottom: 8px; display: -webkit-box; -webkit-line-clamp: 1; -webkit-box-orient: vertical; overflow: hidden;}
.bestsellercontainer .catgorybox .box .boxboder .boxcontent .boxoffer span:last-child {font-size: 10px; line-height: 18px; color:#1a1a1a;}
.viewmore{margin: 0 auto; display: inline-block;  text-align: center;  text-decoration: none;font-size:12px; font-weight:600; line-height:32px; color: #e21b22;
    text-transform: uppercase;  position: relative; cursor: pointer; white-space: nowrap; margin-top: 16px; width: 100%;}
.viewmore:after {
    content: "";  box-sizing: border-box;    height: 7px;  width: 7px;  border-style: solid;  border-color: #e21b22;  border-width: 0 1px 1px 0;
    position: absolute; transform: rotate(-45deg) scale(.8); transition: all .3s ease-in-out;  top: 12px;  margin-left: 3px;}
.eight{background:#f6f6f6; height: 8px;	}
.pagecontent{padding: 0 16px; margin: 16px 0; position:relative;overflow:hidden;}
.pagecontent .contentbox{font-size:12px; line-height:20px; overflow:hidden; display:block; color:#1a1a1a;}
.pagecontent .read {background:#fff;position: absolute;cursor: pointer;padding: 4px;right: 16px; bottom: 0;color: #e21b22;font-size:12px; line-height:11px; font-weight:700;}
.pagecontent .more{position:relative;right:0;padding-left:0;}
.bestsellerWapper{padding:16px 0;}
.bestsellerWapper .mainheading{font-size:16px; line-height:24px; margin-bottom:16px; font-weight:700; margin-left:16px;}
.bestsellerWapper .bestsellingbox{display:flex; flex-flow:row wrap;justify-content: space-between; margin:0 16px}
.bestsellerWapper .bestsellingbox .sellingbox{width:48%; display:inline-block; position:realtive;}
.bestsellerWapper .bestsellingbox .sellingbox a{display:block;}
.bestsellerWapper .bestsellingbox .sellingbox .boxboder{border-radius: 4px; border: 1px solid #ececec; padding:12px;}
.bestsellerWapper .bestsellingbox .sellingbox .boxboder .imgbox{position: absolute; top: 0; left: 0; right: 0; bottom: 0; overflow: hidden; height: 100%; border-radius: 4px 4px 0 0; background-clip: padding-box;}
.bestsellerWapper .bestsellingbox .sellingbox .boxboder .imgcontain{height:100px; margin-bottom:12px;}
.bestsellerWapper .bestsellingbox .sellingbox .boxboder .imgcontain:before {display: block; content: ""; width: 100%;  padding-top: 56.25%;}
.bestsellerWapper .bestsellingbox .sellingbox .boxboder .imgbox img{width: 100%; height: 100%; object-fit: contain}
.bestsellerWapper .bestsellingbox .sellingbox .boxboder .boxcontent .title{color:#1a1a1a;font-size:14px;line-height:20px; height:36px; margin-bottom: 8px; display: -webkit-box; -webkit-line-clamp: 2;  -webkit-box-orient: vertical; overflow: hidden; }
.bestsellerWapper .bestsellingbox .sellingbox .boxboder .boxcontent .boxoffer{height:36px;}
.bestsellerWapper .bestsellingbox .sellingbox .boxboder .boxcontent .boxoffer .price{color:#ef6c00;font-size:14px; font-weight:600; line-height:20px;}
.bestsellerWapper .bestsellingbox .sellingbox .boxboder .boxcontent .boxoffer .mrprice{font-size:12px; line-height:16px; margin-left:0; color:#1a1a1a;}
.bestsellerWapper .bestsellingbox .sellingbox .boxboder .boxcontent .boxoffer .mrprice span{display:inline-block;padding-right:5px; text-decoration:line-through;}
.bestsellerWapper .bestsellingbox .sellingbox .boxboder .boxfooter{display:flex;justify-content: space-between;flex-wrap: nowrap;align-items: center; margin-top: 4px;}
.bestsellerWapper .bestsellingbox .sellingbox .boxboder .affilate{padding: 0 6px 0 0; display: inline-block;}
.bestsellerWapper .bestsellingbox .sellingbox .boxboder .affilate .amazon{background-image: url(https://static.toiimg.com/photo/71474565.cms); width: 53px; height: 16px; display: inline-block; background-repeat: no-repeat; background-size: cover; vertical-align: middle;}
.bestsellerWapper .bestsellingbox .sellingbox .boxboder .buy{height:24px;background: #ef6c00; color: #fff; padding: 0 16px; display: inline-block; text-align: center;
    text-transform: uppercase; border:none; border-radius:4px; font-size:12px; line-height:16px; font-weight:700;}
.shopbybrand{position:relative; display:flex; flex-flow: row wrap;  justify-content: space-between; margin-bottom:-8px;}
.shopbybrand a{width:calc(33% - 5px);margin-right: 8px; margin-bottom: 8px; border: 1px solid #ebebeb; border-radius: 4px; padding: 8px 12px; box-sizing: border-box;
    display: flex;  align-items: center; height: 52px; position:relative}
.shopbybrand a:nth-child(3n) { margin-right: 0;}
.shopbybrand a .brandlogo{position: absolute;  left: 50%; top: 50%;  right: auto; bottom: auto; transform: translate(-50%,-50%);}
.shopbybrand a:before { display: block; content: "";  width: 100%; padding-top: 56.25%;}
.shopbybrand a .brandlogo img { height: 38px; object-fit: contain; display: block; width: 100%;}
.disclaimer{padding:16px; margin:24px 16px 16px 16px; color:#595959;border: 1px solid #e3e3e3;font-size:12px; line-height:20px; border-radius: 4px;}
.disclaimer .he{font-size:14px; margin-bottom:8px;}
.fade {
    transition: opacity 0.15s linear;
}
.tile{
  width:100%;
overflow:scroll;
margin-bottom:16px;
-ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
border-bottom:1px solid rgb(0 0 0 / 12%);
}
.tile::-webkit-scrollbar {
  display: none;
}
#tile-1 .tab-pane{
  padding:15px;
  height:80px;
}
#tile-1 .nav-tabs{
  position:relative;
  border:none!important;
  background-color:#fff;
width:100%;
white-space: nowrap;

}
#tile-1 .nav-tabs li{
  margin:0px!important;
display:inline-block;
padding-bottom:6px;
}
#tile-1 .nav-tabs li a{
  position:relative;
  margin-right:0px!important;
  padding:0px 16px;
  font-size:14px;
line-height: 16px;
  border:none!important;
  color:#333;
text-transform:uppercase;
	white-space: nowrap;
}
#tile-1 .nav-tabs a:hover{
  background-color:#fff!important;
  border:none;
}
#tile-1 .slider
{
  display:inline-block;
  width:30px;
  height:4px;
  border-radius:3px;
  background-color:#e21b22;
  position:absolute;
  z-index:1200;
  bottom:0;
  transition:all .4s linear;
  
}
#tile-1 .nav-tabs .active
{
  background-color:transparent!important;
  border:none!important;
  color:#e21b22!important;
}