/*blog */
.blog-container {font-size:1em}
.blog-container.huaweiarticle .article-head h1, .blog-container.huaweiarticle .article-content .article-text p{color:#fff}
.blog-container .article-head{padding:0 10px;}
.blog-container .article-head h1{font-weight:100; font-family: proxima-semibold; font-size: 1.6em;  color: #454545;  padding: 5px 0; }
.blog-container .article-head .article-timing{font-size: .9em;  color: #a7a7a7;  margin-right: 2%;  display: block;}
.blog-container .article-content {margin-bottom:10px; font-size: 1.1em; overflow:hidden}
.blog-container .article-content .article-img{display:block; width:99%; padding:10px 0; overflow:hidden}
.blog-container .article-content .article-img div{display:block; height:300px; line-height:300px;}
.blog-container .article-content .article-img img{max-width:100%; vertical-align:middle; }
.blog-container .article-content .article-text{font-size: 1em; color: #454545; padding: 0 10px; line-height: 1.5em; letter-spacing: .03em;}
.blog-container .article-content .article-text p{margin:0; padding-top:10px; text-align:justify;}
.blog-container .article-content .article-text ul li{margin-left:14px;}
.blog-container .productShowBox ul li a .tableR .tableC.logo i { background-image: url(https://img1.gadgetsnow.com/gd/imgbn/pytm-mall.jpg); height: 50px;  width: 80px;}
.blog-container .productShowBox ul li a .tableR .tableC.logo i.amazon{ background-image: url(/mobile/img/azazon-logo.png); height: 22px;  width: 80px;}
.blog-container .productShowBox ul li a .tableR .tableC.logo i.amazon{ background-image: url(/mobile/img/azazon-logo.png); height: 22px;  width: 80px;}
.blog-container .productShowBox ul li a .tableR .tableC.logo i.lg{ background-image: url(https://img1.gadgetsnow.com/gd/imgbn/lg-logo.jpg); height: 22px;  width: 80px;}
.blog-container .productShowBox ul li a .firstdiv{width:22%;}
.blog-container .productShowBox ul li a .seconddiv{width:78%;}
.blog-container .productShowBox ul li{padding:10px;}
.blog-container h2{margin-top:30px; font-family:'proxima-regular1'; font-size:19px; line-height:26px;}
.blog-container h2 a{color:#000; padding:10px 0;}
.blog-container .productShowBox ul li a .tabletitle, .productShowBox ul li a .tableR{width:100%;}
.blog-container .productShowBox ul li a .firstdiv span{display:block;}
.blog-container .productShowBox ul li a .firstdiv span img{max-height:100%; max-width:90%;}
.blog-container .productShowBox ul li a .tableR .tableC.logo i { height: 25px;  width: 74px;}
.blog-container .productShowBox ul li a .tableD { height: 25px;  width: 100%; display:block; margin-top:8px;}
.blog-container .productShowBox ul li a .tabletitle span{display:contents; font-size: 14px; line-height: 19px;}
.blog-container .productShowBox ul li a .buy_btn{height: 25px; line-height: 25px; width:60px; font-size: 14px;}
.blog-container .productShowBox ul li a .tableR .tableC {text-align: left;}
.blog-container .productShowBox ul li a .buy_btn { background: #ef4e28; border: 1px solid #ef4e28;  color: #fff;  display: inline-block;  font-size: 16px; height: 30px; line-height: 30px; padding: 0 10px; text-align: center;  width: 80px;}
.blog-container .productShowBox ul li a .buy_btn.lg { background: #a9143c; border:1px solid #a9143c;}
.blog-container .productShowBox .mrp-price{font-size:14px; color:#999; text-decoration:line-through; font-family:'proxima-regular1';}
.blog-container .productShowBox .off-per{font-size:18px; color:#09ac63; font-family:'proxima-regular1'; padding-left:10px;}
.blog-container .article-product{ margin-top:15px;}
.article-product .specifications {padding:16px 10px 0}
.article-product .specifications h3 {font-size: 14px; color: #000; text-transform: uppercase; display: inline-block;}
.article-product .article-img {border:1px solid #e1e1e1; height:300px; margin: 10px 0;}
.blog-container .gad_spec .list1:last-child { margin-bottom: 0;  border-bottom: 0; }
.blog-container .list1 li span:first-child { text-transform: capitalize;}
.blog-container .gad_spec .list1 li strong { width: 62%; font-size: 16px; color: #f6a623; font-family: 'proxima-semibold';}
.blog-container .list1 { border: 1px solid #eee; margin-bottom: 10px;}
.blog-container .list1 li:nth-child(odd) { background-color: #fafafa;}
.blog-container .list1 li { border-bottom: 1px solid #eee; font-size: 14px; color: #454545;  padding: 10px 8px;}
.blog-container .gad_spec .list1 li strong, .gad_spec .list1 li span { display: inline-block; vertical-align: top;}
.blog-container .gad_spec .list1 li span { width: 38%;}
.article-product .tech_btn { display: table-cell; border: 1px solid #d8d8d8; width: 50%; margin: 0; font-family: proxima-semibold; font-size: 14px;  padding: 9px 0; text-align: center; text-transform: uppercase;}
.article-product .specifications a.see-full-specs { display: block; font-family: 'proxima-semibold';  font-size: 14px;  line-height: 20px; padding: 10px 0; color: #fff; background: #135394; text-align: center;}
.productcontent{height:150px; overflow:hidden;}
.contentreadmore{border:1px solid #ccc; background:#f5f5f5;}
/*blog */

/* realted news */
.relatedstories{padding: 5px 0;}
.relatedstories ul {list-style: none; margin-left: 0; position: relative; padding: 2px 0; font-size: 1em;}
.relatedstories ul li { counter-increment: li-counter;  border-bottom: 1px solid #d1cfd1;  position: relative;  padding: 0 0 10px 20px; margin: 0 0 10px 10px;}
.relatedstories ul li:before { position: absolute; content: counter(li-counter);font-size: 24px; line-height: 1; color: #8a8a8a; left: 0; top: 1px;}
.relatedstories li a { color: #454545; font-size: 14px; line-height: 1.4; display: block;}
/* realted news */


/* author-container */
.author-container .author-header, .author-container .author-text{width:96%; margin-bottom:10px; padding:2%}
.author-container .author-header h1{ font-family: 'proxima-semibold'; font-size: 24px; line-height: 28px; color: #454545; margin-bottom: 6px;}
.author-container .author-header .designation { font-family: 'proxima-semibold'; font-style:italic;  font-size: 14px;  line-height: 1;  display: block;  color: #666; margin-bottom: 8px;}
.author-container .author-header  .image { float: right; height: 96px; margin-left: 10px;}
.author-container .author-text  p { font-size: 14px; line-height: 20px; color: #666;}
.author-container .author-articles { font-size: 14px; line-height: 20px; color: #666;}
.author-container .author-articles  .sort-articles{ position:absolute; right:2px; margin-top:-35px; height:20px;}
.author-container .author-articles  .sort-articles dl{ max-height:80px; border: 1px solid #c7c7c7; overflow-y: hidden; background: #fff;  position: absolute; width: 100px; right: 0; z-index:1; transition-property: all; transition-duration: .5s; transition-timing-function: cubic-bezier(0, 1, 0.5, 1);}
.author-container .author-articles  .sort-articles dl.closed{max-height:0; border:none;}
.author-container .author-articles  .sort-articles dl a{display:block; color:#666; line-height:24px; padding:0 5px;}
.author-container .author-articles  .sort-articles dl a.active{background:darkturquoise; color:#fff}
.author-container .author-articles  .sort-articles .filter-sort{cursor:pointer; display:block; line-height:28px; padding:0 10px;}
`.author-container .author-articles  .sort-articles .filter-sort .fa-chevron-down{color:#666;}
.author-container .author-articles ul li { margin: 0 10px;  padding: 10px 0;  border-bottom: 1px solid #d8d8d8; display:none;}
.author-container .author-articles ul li:nth-child(-n+5){display:block;}
.author-container .author-articles ul li:last-child { border:none;}
.author-container .author-articles ul li a { display: table; width: 100%;}
.author-container .author-articles ul li a>span:first-child {padding-right: 5px;}
.author-container .author-articles ul li a>span {display: table-cell; vertical-align: middle;}
.author-container .author-articles ul li a dfn { color: #333;  font: 16px proxima-semibold; line-height: 1.2;  display: block;}
.author-container .author-articles ul li time, .author-container .author-articles ul  li span span { font-size: 12px; color: rgba(0,0,0,.6);  line-height: 10px;  display: inline-block;}
.author-container .author-articles ul li .table-cell.rightline{position:relative;}
.author-container .author-articles ul li .table-cell.rightline span{padding-right:10px;}
.author-container .author-articles ul li .table-cell.leftline time{padding-left:10px;}
.author-container .author-articles ul li .table-cell.rightline span:after{content:'|'; position:absolute; right:-1px; top:5px;}
.author-container .author-articles ul li a>span:last-child { width: 96px; vertical-align: top;  position: relative;}
.author-container .author-articles ul li a>span img { height: 71px;  display: block;}
.author-container .author-articles .seemore_btn{border: 1px solid #d8d8d8; display: block; width: 94%; padding: 10px 0; margin: 10px 3%; font-size: 13px; color: #135394; text-align: center; text-transform: uppercase;}
.author-container  .pageFind_btn{border: 1px solid #d8d8d8; background:#f1f1f1; display: block; clear:both; width: 150px; padding: 10px 0; margin: 10px auto; font-size: 16px; color: #135394; text-align: center; text-transform: uppercase;}
.author-container .about-text{font-size:16px; line-height:24px;}
.author-container .about-text p{padding:5px;}
.author-container .about-text h4{padding:10px 5px 0 5px;}
.articleloading .ptag {font-size:20px; font-family: 'proxima-semibold'; text-align:center; display:block; background:#f5f5f5; padding:10px 0}
.articleloading .loading-text{display:block; margin-top:10px; text-align:center; width:100%;}
.nextstory{border-top: 10px solid #222; margin: 20px -60px 25px; font-size: 15px; color: #ccc; text-align: center; position: relative; display:none;}
.nextstory:after{border-left: 7px solid transparent; border-right: 0 solid transparent; border-bottom: 10px solid #fff; content: ""; position: absolute;left: 73px;top: -10px;}
.nextstory:before{content: "Next Story"; color: #000; font-family: 'proxima-semibold',sans-serif; text-transform: uppercase; font-size: 16px; position: absolute; left: 80px; top: -12px; background: #fff; padding: 0 10px;}
.articleloading .nextstory{display:block;}
.articleloading{padding-top:20px;}
/* author-container */