.admobilecompare{width:100%;}
.admobilecompare > li{display:table-cell; border:1px solid #dfdfdf; position:relative; width:48%; margin-right:2%; padding:2%;  list-style:none; vertical-align:top; cursor:pointer;}
.admobilecompare > li .tab-wrapper{cursor:pointer; overflow:hidden}
.admobilecompare > li:first-child{margin-left:1.2%; cursor:pointer;}
.admobilecompare > li:last-child{margin-right:0;}
.admobilecompare > li .comparehead{text-align:center;}
.admobilecompare > li .compare-form{display:block; }
.admobilecompare > li .compare-form .displaynone{display:none}
.admobilecompare > li .compare-form .brandlist, .admobilecompare li .compare-form .modellist{display:none}
.admobilecompare > li .compare-form .brandlist.active, .admobilecompare li .compare-form .modellist.active{display:block}
.admobilecompare > li .comparehead div{font-size:17px; color:#939395; line-height:36px}
.admobilecompare > li .comparehead div:first-child{width:75px; height:75px; border-radius:50px; color:#939395; font-size:42px; margin:0 auto; border:1px dashed #979797; line-height:75px;}
.admobilecompare > li .compare-select{border:1px solid #dfdfdf; }
.admobilecompare > li .compare-select div{font-size:16px; color:#e6e6e6; padding:5px 10px; position:relative }
.admobilecompare > li .compare-select div:after{width: 0; height: 0; border-left: 5px solid transparent; border-right: 5px solid transparent; border-top: 5px solid #c8c8c8; position:absolute; content:''; right:17px; top:14px;}
.admobilecompare > li .compare-select div:first-child{color:#868e99; border-bottom:1px solid #dfdfdf;}
.admobilecompare > li .compare-select div:first-child:after{color:#868e99; border-top: 5px solid #434446;}
.afteraddProduct > li{width:15.8%; padding:1%; }
.afteraddProduct .selectFeatures{overflow:hidden; line-height:30px; padding-left:5px; width:78%; height:30px; border:1px solid #dfdfdf; border-right:none}
.afteraddProduct .selectFeaturesdrop{ width:15%; border:1px solid #dfdfdf; line-height:30px; }
.afteraddProduct .selectFeaturesdrop.caret-down:before{margin-left:8px;}
.afteraddProduct .selectlist{position:absolute; top:44px; z-index:1; background:#fff; border:1px solid #dfdfdf; width:86%;}
.afteraddProduct .selectlist li{line-height:26px; border-bottom:1px solid #dfdfdf; padding-left:5px; cursor:pointer;}
.afteraddProduct .compare-form{width:162px;}
.afteraddProduct .compare-form .compare-form-h{padding:0px 4px;}
.compare-form{background:#fff; width:100%; z-index:1; position:fixed; top:0; bottom:0; left:0; right:0;  display:none;}
.compare-form .compare-form-h{padding:0 2px; height:4vh }
.compare-form .closeX{display:block; text-align:right; height:5vh; cursor:pointer}
.compare-form .closeX span{width:30px; line-height:30px; color:#000; font-size:22px; cursor:pointer; margin-right:6px;}
.compare-form .compare-form-h a{display:inline-block; width:48%; text-align:center; line-height:20px; color:#e6e6e6; font-size:16px; border-bottom:1px solid #dfdfdf}
.compare-form .compare-form-h a.active{border-bottom:1px solid #f40808; color:#000;}
.compare-form form{padding:1px 0; width:100%}
.compare-form form input[type=text]{ font-size:16px; height:6vh; width:98.5%; }
.compare-form form input[type=text]:focus { border: 1px solid #55cbf7;  box-shadow: 0 0 10px #719ECE;}
.compare-form form .search-icon:before{position: absolute;left: 8px;line-height: 30px;width: 30px;display: inline-block; z-index: 1; top: 5px; font-size: 19px; color: #c7c7c7;}
.compare-form form .field-wrapper{padding:5px 0; position:relative;}
.compare-product{display:none}
.productAdded .compare-product{width:100%; overflow:hidden; /* height:167px; */display:block; padding-top:17px;}
.compare-product .col-one, .compare-product .col-two{display:block}
.compare-product .col-one{width:100%; vertical-align:middle; height:75px; text-align:center;}
.compare-product .col-two{width:100%;}
.compare-product .col-one img{max-width:100%; max-height:100%;}
.compare-product .col-two .proTitle{line-height:19px;height:40px; overflow:hidden; font-size:17px; max-width:150px;}
.compare-product .col-two .proTitle a{color:#000}
.compare-product .col-two .proPrice{font-size:16px; color:#666}
.compare-product .col-two .proBuynow{margin-top:10px;}
.compare-product .col-two .proBuynow a{width:100%; line-height:24px; background:#f09601; display:block; text-align:center; color:#fff; font-size:14px;}
.compare-product .col-two .paytm a{background:#ef4e28;}
.compare-product .col-two .nokia a{background:#124191}
.compare-product .col-two .flipkart a{background:#ef4e28}
.compare-product .proclose{width:20px;line-height:20px; background:#666; color:#fff; display:block; text-align:center; z-index:1; position:absolute; top:2px; right:2px; border-radius:10px; -moz-border-radius:10px;}
.comparelist { width:100%;}
.compare-main  .compareheader{ min-height:200px;}
.comparelist .listhead{ font-size:15px; color:#135394; cursor:pointer; position:relative; text-transform:uppercase; font-family: 'proxima-semibold'; text-align:center; text-align:center; line-height:40px;}
.comparelistshow .expanded.collapsecheck:after{content:'+'; position:absolute; border:1px solid #135394; border-radius:20px; -moz-border-radius:20px; display:block; line-height:20px; width:20px; top:8px; right:10px; font-size:25px; font-weight:bold;}
.comparelist .table{display:table; width:100%; border-top:1px solid #dfdfdf;}
.comparelist .table-row{display:table-row}
.comparelist .key-cell{text-align:center; background:#fff; padding:10px 5px; font-size:14px; width: 96%; color:#135394; border: 1px solid #dfdfdf; margin:0 auto; border-bottom:none;}
.comparelistshow  .similar .table-cell {opacity:.5; background:#fff; }
.comparelistshow  .different .table-cell .difference{color:#000 }
.comparelistshow  .similar {display:none}
.comparelistshow  .hidden .similar {display:table-row}
.comparelistshow  .hidden .key-cell {display:block}
.comparelist .table-cell{display:table-cell; width:49%; padding:10px 5px; border-left:1px solid #dfdfdf; border-bottom:1px solid #dfdfdf; background:#f6f6f6; font-size:16px; font-family: 'proxima-regular1';}
.comparelist .table-cell:last-child{border-right:1px solid #dfdfdf;}
.comparelist  .table-cell  select{background:#fff; height:35px; line-height:35px; border:solid 1px #c7c7c7; width:100%;}
.compare-main{position:relative;}
.compare-main .fixed-ads{position:fixed; z-index:1000; top:0px; padding:0; margin-left:-5px; background:#fff; width:100%; box-shadow:0px 5px 5px #c7c7c7; animation-name: example; animation-duration: .5s; -webkit-animation-name: example; -webkit-animation-duration: .5s;}
.compare-main .absolute-ads{position:absolute; z-index:1000; top:43px; padding:10px 6px; margin-left:-5px; background:#fff; width:100%;}
.compare-main .hidden{display:none}
.compare-main .blue-strip{background-position:-269px 0px; font-weight:100;}
.compare-main .toi-product-head{height:auto; margin:10px 0;}
/*.productAdded .tab-wrapper{display:none;} */
.compare-main .fixed-ads .col-one{float:left;width:25%;}
.compare-main .fixed-ads .col-two{float:left;width:72%;}
.rating-img{background: url("/mobile/img/content-bg-sprite.png") repeat-x;}
.comparelist .rating-star{height:18px; width:74px; background-position: 1px -15px; margin-left: 9px;}
.comparelist .rating-get{height:18px; width:74px; background-position: 1px 3px; display:block;}
.comparelist .rating-size{font-size:13px;}
.compare-button{text-align:center; padding:15px 0;}
.compare-button a{width:200px; line-height:40px; background:#f09601; color:#fff; margin:0 auto; display:block; text-transform:uppercase; font-size:18px;}

.compare-form .keysearchsort{top:0px; left:0; border:1px solid #c7c7c7; background:#fff; z-index:10000; width:100%; height:83vh; overflow-y:auto; overflow-x:hidden}
.compare-form .keysearchsort li,.compare-form .keysearchsort div{line-height:36px; font-size:16px; color:#000; display:block; width:100%; border:none; border-bottom:1px solid #c7c7c7; padding-left:5px;}
.compare-form .keysearchsort div{background:#f5f5f5;}
.trandingwidgetSection{margin:0 auto; width:1000px}
.trandingwidget{ overflow:hidden !important; height:78px;}
.trandingwidget .bestSeller{margin:10px 0 !important}
.trandingwidget .product_wrap .product_name{ line-height:20px; white-space:inherit !important; height:45px !important; display:table-cell; vertical-align:middle;  color:#000 !important; width:177px;}
.trandingwidget .product_wrap{padding:0 !important; border-radius:9px; background:#f5f5f5 !important; text-align:center;}
.trandingwidget .card{padding:0!important;  overflow:hidden !important;}
.trandingwidget .owl-prev, .trandingwidget .owl-next{top:68%; width:22px !important;opacity:1;color:#000}
.trandingwidget .owl-prev{right:0 !important}
.trandingwidget .owl-next{left:0 !important}
.trandingwidget .owl-prev:before, .trandingwidget .owl-next:after{font-size:30px !important; background:#fff; padding:0 7px;}
.trandingwidget .owl-carousel{width:93% !important;}
.trandingwidget .owl-controls{position:absolute !important; right:-33px; top:48px;}
.card .showdifferences{line-height:40px; text-align:center;}
.card .showdifferences span{display:block; width:150px; margin:0 auto; padding-left:30px; text-align:left; position:relative; cursor:pointer;}
.card .showdifferences span.check-right{font-family: 'proxima-semibold';}
.card .showdifferences span.not-check:before{background:#dfdfdf; content:''; border:1px solid #999; width:20px; height:20px; display:inline-block; position:absolute; top:10px; left:0; font-size:20px; color:#fff; line-height:20px;}
.card .showdifferences span.check-right:before{border:1px solid #135394; width:20px; height:20px; display:inline-block; position:absolute; top:10px; left:0; font-size:16px; color:#fff; background:#135394; line-height:20px;}

/*ctn ads*/
.ctn-ads-pdp>div{width: 95%; overflow: hidden; padding: 2% 0; border: 1px solid #c7c7c7; margin: 0 auto; margin-bottom: 20px;}
.ctn-ads-pdp figure, .ctn-ads-pdp figcaption, .ctn-ads-pdp .mobile-price-ui{float: left;}
.ctn-ads-pdp figure{width: 40%;}
.ctn-ads-pdp figcaption, .ctn-ads-pdp .mobile-price-ui{width: 54%; color: #000;}
.ctn-ads-pdp figure img{max-width: 90%;}
.ctn-ads-pdp figcaption{font-size: 15px; font-weight: bold;}
.ctn-ads-pdp figcaption div{height:auto; line-height:19px; white-space:normal; border-top:none;}
.toi-product figure{height:75px; line-height:75px;}
.ctn-ads-pdp .mobile-price-ui{font-size: 12px;}