.gadgets-finder .gdgt_nav{height:auto}
.gadgets-finder .table{width:100%}
.gadgets-finder .gdgt_nav li{width:30%; display:inline-block; float:none; border:1px solid #f6f6f6; margin-bottom:5px;}
.gadgets-finder .gadgets-list dt{background:#f6f6f6; display:block; font-size:1.4em; text-transform:uppercase; padding:10px 0; border-top:1px solid #c7c7c7;}
.gadgets-finder .gadgets-list .icon-tab{margin-top:15px;}
.gadgets-finder .gadgets-list .icon-tab svg{fill:#bbb8b8;}
.gadgets-finder .gadgets-list .icon-tab .table-cell{width:33.3%; height:15vh; vertical-align:middle;}
.gadgets-finder .gadgets-list .icon-tab .table-cell a span:first-child svg{height:37px; margin:5px;}
.gadgets-finder .gadgets-list .icon-tab .table-cell a span{display:block; color:#000; font-size:1.2em}
.gadgets-finder .gadgets-list  dd select{display:block; color:#000; font-size:1.2em; padding:10px 0; width:97%; margin: 0 auto; margin-top:20px}
.arrow_box { position: relative; 	background: #f6f6f6;}
.arrow_box:after, .arrow_box:before { top: 100%; left: 50%; border: solid transparent; content: " "; height: 0; width: 0; position: absolute; pointer-events: none;}
.arrow_box:after { border-color: rgba(136, 183, 213, 0); border-top-color: #f6f6f6; border-width: 15px; margin-left: -15px;}
.gadgets-form  .gadgets-finder-submit{width:92%; margin:10px auto; display:block; font-size:1.2em;}
.gadgetscommon-list{z-index:1; position:absolute; top:0; bottom:0; left:0; right:0; background:#fff; height:100vh; overflow:scroll;}
.gadgetscommon-list .gadgets-list dd{line-height:40px; height:40px; text-align:left; font-size:1.2em; position:relative; padding-left:50px; border-bottom:1px solid #f5f5f5;}
.gadgetscommon-list .gadgets-list dd:before{content:''; width:20px; height:20px; border:2px solid #c7c7c7; display:block; position:absolute; left:10px; top:10px;}
.gadgetscommon-list .gadgets-list dd.active:before{content:"\f00c"; font-family:'FontAwesome'; line-height:17px; color:#135394; width:20px; height:20px; border:2px solid #135394; display:block; position:absolute; left:10px; top:10px;}
.gadgetscommon-list .gadgets-list dt{position:fixed; left:0; right:0; z-index:1; top:0}
.gadgetscommon-list .gadgets-list dd:first-of-type{margin-top:42px;}
.gadgetscommon-list .gadgets-list dd.popular-brands{padding-left:10px;}
.gadgetscommon-list .gadgets-list dd.popular-brands:before{border:none;}
.gadgetscommon-list .close{position:absolute; font-size:30px; width:30px; right:5px; top:4px;}
.gadgets-finder  .selected-filters{ margin-top:15px; text-align:center; padding:5px 0}
.gadgets-finder  .selected-filters span{display:inline-block; padding:2px 3px; color:#666; font-size:1.2em; border:1px solid #c7c7c7; margin:2px 4px;}
.gadgets-finder  .selected-filters div:first-child{ background: #f6f6f6;  display: block; font-size: 1.4em; text-transform: uppercase;  padding: 10px 0;  border-top: 1px solid #c7c7c7; margin-bottom:20px;}
.gadgets-finder .mobile-feature dd{ display:inline-block; width:30%; height:100px; border:1px solid #f5f5f5; line-height:165px; margin: 7px 5px; font-size:1em;}
.gadgets-finder .mobile-feature dd:first-of-type{margin-top:68px;}
.gadgets-finder .mobile-feature dd:before{ top:71px;}
.gadgets-finder .mobile-feature dd.active{ border:1px solid #135394}
.gadgets-finder .mobile-feature dd.active:before{ top:71px;}
.gadgets-finder .mobile-feature dd:after{content:''; height:60px; width:100px; opacity:0.5; left:0; top:0; background:url('https://img1.gadgetsnow.com/gd/imgbn/mobile-feature-split.png'); background-size:353px; position:absolute;}
.gadgets-finder .mobile-feature dd.ram:after{background-position:12px -65px;}
.gadgets-finder .mobile-feature dd.four-g:after{background-position:5px -192px;}
.gadgets-finder .mobile-feature dd.battery:after{background-position:-214px -128px;}
.gadgets-finder .mobile-feature dd.android:after{background-position:-212px 0px;}
.gadgets-finder .mobile-feature dd.camera:after{background-position:-213px -65px;}
.gadgets-finder .mobile-feature dd.dual-sim:after{background-position:-91px -128px;}
.gadgets-finder .mobile-feature dd.finger-print:after{background-position:-89px -65px;}
.gadgets-finder .mobile-feature dd.full-hd:after{background-position:-92px 0px;}
.gadgets-finder .mobile-feature dd.large-screen:after{background-position:21px -127px;}
.gadgets-finder .mobile-feature dd.volte:after{background-position:11px 2px;}
.gadgets-finder .mobile-feature dd.wireless-charging:after{background-position:-96px -192px;}