
body{font-family: 'Montserrat', sans-serif; color: #1a1a1a;}
	*{padding:0; margin:0;}
	*, *:before, *:after {
    -webkit-box-sizing: border-box !important;
    box-sizing: border-box !important;
}
h1, h2, h3, h4, h5, h6 {
    font: 700 16px/24px Montserrat,Tahoma,Sans-Serif;
}
a {
    text-decoration: none;
    color: #1a1a1a;
}
.sticky{
	position:sticky;
	top:-1px;
	z-index:100;
}
.topsearch{
	width:100%;
	background: #f5f5f5;
    overflow: hidden;
    font-size: 12px;
    padding: 8px;
	display:flex;
}
.topsearch .topsearch_title{font-size: 12px;
    font-weight: 400;
    width: 85px;
    color: #595959;}
.topsearch .topsearch_list{overflow-x: scroll;
    white-space: nowrap;
    width: calc(100% - 88px);
-ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.topsearch .topsearch_list::-webkit-scrollbar {
  display: none;
}
.topsearch .topsearch_list a{display: inline-block;
    padding: 0 8px;
    border-right: 1px solid #595959;
    color: #595959;}
.header{height: 57px;
    background-color: #fff;
    width: 100%;
	border-bottom: 1px solid #ececec;
    border-top: 1px solid #ececec;
    min-height: 56px;
    position: relative;
	}
.header .back{position: absolute;
    width: 50px;
    height: 57px;
    float: left;
    text-indent: -1000px;
    z-index: 1;
	}	
.header .back:before{background-image: url(https://static.toiimg.com/photo/90145767.cms);
    background-position: 0px -45px;
    background-repeat: no-repeat;
    width: 30px;
    height: 20px;
    content: '';
    position: absolute;
transform: rotate(180deg);
    top: 17px;
    left: 10px;}
.header .logo{width: 100%;
    text-align: center;}
.header .logo .home{display: block;
    width: 145px;
    height: 48px;
    overflow: hidden;
    text-indent: -1000px;
    background: url(https://static.toiimg.com/photo/88204186.cms) no-repeat 0 17px;
    background-size: contain;
    margin: 0 auto;}
.header .searchicon{position: absolute; z-index: 1; padding: 13px 0 0 16px; top: 0; right: 16px;cursor:pointer;}
.header .searchicon i{background-image: url(https://static.toiimg.com/photo/90145767.cms);overflow:hidden; text-indent:-1000px; background-position: 5px -70px; background-repeat: no-repeat; display: block; height: 30px; width: 30px; cursor: pointer;}
.navigation{overflow-y: scroll;
    white-space: nowrap;
    clear: both;
    border-bottom: 1px solid #ececec;
    text-align: center; background:#fff;
-ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.navigation::-webkit-scrollbar {
  display: none;
}
.navigation .navlink{display: inline-block;
    padding: 0 10px;
    text-decoration: none;
    text-align: center;
    line-height: 48px;
    color: #000;
    font-size: 12px;
    text-transform: uppercase;
    position: relative;}
.atfadcaller{
min-height: 66px;
background-color: #f6f6f6;
text-align: center;
    width: 100%;
    position: relative;
    overflow: hidden;
    padding: 8px 0;
}
.mrecadcaller{
    background-color: #f6f6f6;
    text-align: center;
    width: 100%;
    position: relative;
    overflow: hidden;
    padding: 8px 0;
}
footer{color: #1a1a1a;
    margin-bottom: 40px;
    padding: 0px 16px 24px;}
footer .footbox{width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 25px;}	
footer .footbox .footlogo{flex: 0 1 125px;}
footer .footbox .footlogo > a{height: 50px;
    display: block;
    overflow: hidden;
    text-indent: -1000px;
    background: url(https://static.toiimg.com/photo/88204186.cms) no-repeat 0 5px;
    background-size: contain;
    margin-right: 20px;}
footer .footlist{flex-grow: 1;column-count: 2;
    column-gap: 10px;
    min-height: 0; width: calc(100% - 125px);}
footer .footlist a{position: relative;
    display: block;
    line-height: 20px;
    margin-bottom: 10px;
    font-size: 12px;}
footer .foothead{font-weight: 700;
    font-size: 10px;
    text-transform: uppercase;
    line-height: 14px;
    margin: 5px 0 12px 0;}
.floatingnav{position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 5;
border-top:1px solid #f6f6f6;
    text-align: center;}
.floatingnav .btf{
	width: 100%;
    height: 64px;
	background-color: #f6f6f6;
	text-align: center;
    position: relative;
    overflow: hidden;
    padding: 8px 0;
}
.floatingnav .bottom_nav{height: 56px; 
    background: #fff;
    transition: height 0.3s; overflow:hidden;}
.floatingnav .bottom_nav .bottom_nav_list{display:flex;}
.floatingnav .bottom_nav .bottom_nav_list .bottonnavlink{flex:1}
.floatingnav .bottom_nav .bottom_nav_list .bottonnavlink i{
background-image: url(https://static.toiimg.com/photo/81526830.cms);
    background-repeat: no-repeat;
	display: block;
    width: 30px;
    height: 18px;
    margin: 12px auto 2px;
    position: relative;
	}
.floatingnav .bottom_nav .bottom_nav_list .bottonnavlink .label{
display: block;
    text-align: center;
    font-size: 12px;
}
.floatingnav .bottom_nav .bottom_nav_list .bottonnavlink.home i{background-position: -11px -348px;}
.floatingnav .bottom_nav .bottom_nav_list .bottonnavlink.briefs i{background: url(https://static.toiimg.com/photo/79512585.cms) 3px -4px no-repeat;}
.floatingnav .bottom_nav .bottom_nav_list .bottonnavlink.gadgets .label{color: #135394;font-weight: 700;}
.floatingnav .bottom_nav .bottom_nav_list .bottonnavlink.gadgets i{background-position: -10px -629px}
.floatingnav .bottom_nav .bottom_nav_list .bottonnavlink.games i{background: url(https://static.toiimg.com/photo/79512581.cms) 3px -4px no-repeat;}
.floatingnav .bottom_nav .bottom_nav_list .bottonnavlink.shop i{background-position: -11px -508px;}


/* BANNER */
.consent-popup { background:#0d0d0d; position:relative; padding: 16px;}
.consent-banner { font-size: 14px; line-height: 1; -moz-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
body.euuser .consent-banner button#consent-continue-button.close {
    position: absolute;
    width: 18px;
    height: 18px;
    text-indent: -9999px;
    top: 5px;
    right: 5px;
    margin: 0;
}
.consent-banner:after {content: "."; display: block; font-size: 0; height: 0; clear: both; visibility: hidden;}
/*.consent-banner.wrapper { max-width:990px; width:100%; }*/
.consent-banner .column1 { width:100%; }
.consent-banner .column2 { float: none;
    position: absolute;
    width: auto;
    right: 10px;
    bottom: 15px;}
.consent-banner #personalisedadsCheckBox{
    display: none;}
.consent-banner .personalisedadsBlk{color:#fff;}
.consent-banner .personalisedadsBlk label{line-height: 16px;
    font-size: 11px;
    color: #ccc;
    display: inline-block;
    width: 80%;
    padding-left:32px; position:relative}
    body.euuser .consent-banner .checkbox label:before {
    content: "";
    position: absolute;
    left: 0;
    top: 2px;
    height: 14px;
    width: 14px;
    line-height: 14px;
    background: #fff no-repeat;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    border: 1px solid #b1b1b1;
}
body.euuser .consent-banner .checkbox input[type=checkbox]:checked+label:before {
    background: #135394;
    border-color: #135394;
}
body.euuser .consent-banner .checkbox input[type=checkbox]:checked+label:after {
    position: absolute;
    content: "";
    border: solid #fff;
    width: 7px;
    height: 14px;
    left: 4px;
    top: 1px;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}
.consent-banner h2 {font-weight:bold; margin-bottom:8px; line-height: 15px; color: #fff; font-size: 14px; }
.consent-banner p { font-size:11px; line-height: 16px; color: #fff; margin-bottom: 0px;}
.consent-banner p a {color: #e21b22;text-decoration: underline;}
.consent-banner li { display: inline-block; margin: 0 4px; }
.consent-banner button, .consent-banner li a { font-weight:600;  text-decoration: none; display: block; font-size:12px; line-height: 20px; color: #e21b22; }
.consent-banner button { padding: 4px 16px; background:none; border:1px solid #e21b22; border-radius:1000px; width:100%; text-transform:uppercase; }
.consent-banner button.close{width:20px;height:20px;border:none; position:relative; float:right; margin-top:-34px;}
body.euuser .consent-banner .checkbox {
    display: block;
    clear: both;
    border-top: 15px solid transparent;
}
.consent-banner button.close:before {
    content: "";
    width: 1px;
    height: 16px;
    background: #fff;
    position: absolute;
    top: 2px;
    right: 8px;
    transform: rotate(45deg);
}
.consent-banner button.close:after{transform: rotate(135deg);content: ""; width: 1px;
    height: 16px;
    background: #fff;
    position: absolute;
    top: 2px;
    right: 8px;}
/*.consent-banner a:focus, .consent-banner button:hover { color: #fff; }*/
.consent-banner #consent-more {  display: none; }

.setting_gdpr{float: right;padding: 1px 5px 0 4px; display:none;}
body.euuser .setting_gdpr{display:block;}
.setting_gdpr a{color:#b3d4f7;text-transform: uppercase;text-decoration: none;}
.setting_gdpr a:hover{text-decoration: none;}
.hide{display:none !important;}
