.affiliate{padding:16px;}
.affiliate .affiliateheading{font: 700 16px/24px Montserrat,sans-serif; margin: 0; padding-bottom:8px; display: inline-block; color: #1a1a1a; text-transform: uppercase; }
.affiliate .affi-box{display:flex;padding: 12px; background: #f6f6f6; flex-flow: row;
    flex-wrap: wrap; margin-bottom:16px; }
.affiliate .affi-box a{margin-bottom: 16px; display:block}
.affiliate .affi-box a:last-child{margin-bottom:0;}
.affiliate .affi-box .figure{margin: 0 12px 0 0; flex: 0 0 80px; border-radius:4px; height: 60px; text-align:center;  background: #fff; overflow:hidden; position: relative;}
.affiliate .affi-box img {max-width:95%; max-height:95%; position:absolute; top:50%;left:50%;transform: translate(-50%, -50%);}
.affiliate .affi-box .figcaption{width: calc(100% - 92px);}
.affiliate .affi-box .figcaption .aff-title{font: 600 14px/20px Montserrat,sans-serif; color: #1a1a1a; margin-bottom: 8px;  white-space: normal;
    display: -webkit-box;   -webkit-line-clamp: 2;  -webkit-box-orient: vertical;  overflow: hidden;}
.affiliate .affi-box .figcaption .aff-prictab{display: flex;}
.affiliate .affi-box .figcaption .aff-prictab span{flex-flow: row;height:20px; margin-right: 8px; font: normal 12px/16px Montserrat,sans-serif; }
.affiliate .affi-box .figcaption .aff-prictab .offer{color: #135394;font-size:14px; font-weight:600	}
.affiliate .affi-box .figcaption .aff-prictab .mrp{color: #1a1a1a; text-decoration: line-through;}
.affiliate .affi-box .figcaption .aff-prictab .off{position: relative;}
.affiliate .affi-box .affililogo{flex: 1; align-items: center; margin-top: 12px; display: flex; justify-content: space-between; flex-wrap: nowrap;}
.affiliate .affi-box .affililogo .logo{padding: 0 6px 0 0; display: block; min-width: 60px; height:24px;position:relative;}
.affiliate .affi-box .affililogo .btn{background-color: #135394;height: 24px;  color: #ffffff; border-radius: 4px;
    padding: 0 16px;  display: inline-block;  text-align: center;  text-transform: uppercase;  font: 700 12px/16px Montserrat,sans-serif; border: none;}


.callaction{display:block;  text-align: center; padding: 16px 16px 0; width: 100%; }
.callaction .downbtn{border: 1px solid #135394; color: #135394; text-decoration: none;   width: 100%; border-radius: 4px; text-transform: uppercase;}
.callaction .downbtn span{font: 600 12px/32px Montserrat,sans-serif;padding: 0 40px 0 20px; position: relative;
    cursor: pointer; white-space: nowrap; display:inline-block; }
.callaction .downbtn span:after{border-color: #135394; content: '';height: 7px; width: 7px; border-style: solid; border-width: 0px 1px 1px 0px;
    transform: rotate(45deg); transition: border-width 150ms ease-in-out;  position: absolute; top: 10px; margin-left: 10px;}

/* specifications */
.specifications{position:relative;}
.specifications .spec-heading{font: 700 16px/24px Montserrat,Tahoma,Sans-Serif; margin:0 16px 8px;padding-top:32px;}
.specifications .spec-heading .unOfficial{font: 400 12px/24px Montserrat,Tahoma,Sans-Serif; color:#666;}
.spec-contain{position:relative;}
.specifications .spec-open{cursor: pointer; font-size: 14px; line-height: 24px; font-weight: 600; padding: 12px 35px 12px 16px; text-transform: capitalize;
    position: relative; display: block; border-bottom: 1px solid #e3e3e3; color: #000;}
.specifications .spec-open:before {
    content: "";  width: 18px; height: 18px; display: block; top: 15px; right: 15px;  position: absolute;  border: 1px solid #e21b22; -webkit-border-radius: 100%;
    -moz-border-radius: 100%; border-radius: 100%; -webkit-background-clip: padding-box; -moz-background-clip: padding;  background-clip: padding-box;}
.specifications .spec-open:after {
    content: ""; transform: rotate(135deg); width: 5px; height: 5px; border: solid #e21b22; border-width: 1px 1px 0 0; position: absolute; top: 20px; right: 21px;
}
.specifications .spec-close:before { background: #e21b22;}
.specifications .spec-close:after {transform: rotate(-45deg);  top: 22px; border: solid #fff;  border-width: 1px 1px 0 0; }

.specifications .spec-table{overflow:hidden;}
.specifications .spec-table table{width: 100%;}
.specifications .spec-table.close{height:0}
.specifications .spec-table table tr td:first-child {width: 40%; font-weight: 600; text-transform: capitalize; color: #999;}
.specifications .spec-table table tr td { font-size: 14px; padding: 13px 0 13px 20px;  width: 60%;  border-bottom: 1px solid #dfdfdf; color: #1a1a1a;  font-weight: 600;}
/* specifications */

/* afflitatpartner */
.afflitatpartner{padding:16px;}
.afflitatpartner .catheadbox {display:flex; justify-content: space-between; align-items: center;  margin-bottom: 12px;}
.afflitatpartner .catheading{font: 700 16px/24px Montserrat,sans-serif; margin: 0; display: inline-block; color: #1a1a1a; text-transform: uppercase;}
.afflitatpartner .catheadbox .catpower{}
.afflitatpartner .catheadbox .catpower span{display: block; letter-spacing: -0.2px; font: 600 10px/16px Montserrat,sans-serif; color: #595959;}
.afflitatpartner .catheadbox .catpower .cat-logo img{width: 60px; height: 18px; object-fit: cover; box-shadow: none;}
.afflitatpartner .catlistbox{display: flex; overflow: auto; margin: 0 -16px}
.afflitatpartner .catlistbox .catlbox{padding-left: 16px; flex: 0 0 240px;}
.afflitatpartner .catlistbox .catlbox a{display: flex; flex-flow: column; border: 1px solid #ececec; border-radius: 4px; overflow: hidden;}
.afflitatpartner .catlistbox .catlbox .figcaption{padding: 12px}
.afflitatpartner .catlistbox .catlbox .figcaption .figtitle{font: 600 14px/20px Montserrat,sans-serif; color: #1a1a1a;
    height: 40px; margin-bottom: 4px; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;  overflow: hidden;}
.afflitatpartner .catlistbox .catlbox .figcaption .figoffbox{display:flex; flex-flow: row; justify-content: space-between; align-items: center; min-height: 18px}
.afflitatpartner .catlistbox .catlbox .figcaption .figoffbox span{font: 600 12px/18px Montserrat,sans-serif; display: -webkit-box; -webkit-line-clamp: 1; -webkit-box-orient: vertical; overflow: hidden;}
.afflitatpartner .catlistbox .catlbox .figcaption .figoffbox .figoffer{color: #135394;}
.afflitatpartner .catlistbox .catlbox .figcaption .figoffbox .figdeal{ text-align: right}

/* other variants */
.othervariants{}
.othervariants .varheading{font: 700 16px/24px Montserrat,Tahoma,Sans-Serif; margin: 0 0 0 16px;  text-transform: uppercase; padding: 28px 0 0;}
.othervariants .product-box{ padding: 16px; overflow: hidden; border-bottom: 1px solid #fff; display: flex; width: 100%;}
.othervariants .product-box .prodtitle{width: calc(100% - 90px);
    margin-right: 10px; font-size: 14px; line-height: 1.43; display: -webkit-box; -webkit-line-clamp: 1; -webkit-box-orient: vertical; overflow: hidden;  text-overflow: ellipsis;  font-weight: 600;}
.othervariants .product-box .prodimg{ width: 80px; height:65px; position:relative; padding: 5px 0; border: 1px solid #ccc; border-radius: 4px;}
.othervariants .product-box .prodimg img{max-width: 95%; max-height: 95%; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);}
/* similarproducts */
.similarproducts{}
.similarproducts .similarproductslist{overflow:auto; display:flex; white-space: nowrap;}
.similarproducts .varheading{font: 700 16px/24px Montserrat,Tahoma,Sans-Serif; margin: 0 0 8px 16px;  text-transform: uppercase;}
.similarproducts .product-box{ padding: 16px; overflow: hidden; border:1px solid #ececec; display: flex; min-width: 200px; flex-direction:column; margin-right:-1px;}
.similarproducts .product-box:first-child{margin-left:16px}
.similarproducts .product-box .prodtitle{padding:16px 0 0 0;font-size: 14px; line-height: 1.43; display: -webkit-box; -webkit-line-clamp: 1; -webkit-box-orient: vertical; overflow: hidden;  text-overflow: ellipsis;  font-weight: 600;}
.similarproducts .product-box .prodimg{margin:10px 0; height:112px; position:relative;}
.similarproducts .product-box .prodimg img{max-width: 95%; max-height: 95%; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);}

/* recent-comparisions*/
.recent-comparisions{position:relative}
.recent-comparisions .recentheading{font: 700 16px/24px Montserrat,Tahoma,Sans-Serif; padding:32px 16px 8px;  text-transform: uppercase; }
.recent-comparisions .recentbox{border-bottom: 1px solid #f5f5f5; padding: 16px; margin-top:16px}
.recent-comparisions .recentbox span{text-align: center; color: #135394; font: 14px/20px Montserrat,Tahoma,Sans-Serif;}
.recent-comparisions .recentbox i { color: #666; padding: 0 8px; font: 600 16px/20px Montserrat,Tahoma,Sans-Serif; position: relative;}

/* criticreview */
.criticreview{margin:32px 16px 16px 16px; border:1px solid #ececec; border-radius:4px;}
.criticreview .crticheading{font: 700 18px/28px Montserrat,Tahoma,Sans-Serif; padding: 16px 16px 8px;}
.criticreview .criticimagebox{position:relative; border-top:1px solid #ececec;overflow:hidden;}
.criticreview .criticimagebox:after {
    content: ""; position: absolute; background-image: linear-gradient(180deg,transparent,transparent,#1a1a1a);
    bottom: 0; height: 270px; left: 0; width: 100%; border-radius: 4px; }
.criticreview .criticimagebox .criticrating{position:absolute;background:#e21b22; color:#fff; font-size: 10px; text-transform: uppercase; line-height: 1; display: block; padding: 7px; width: 89px; max-width: 89px; text-align: center;left:0; bottom:0; z-index:1;}
.criticreview .criticimagebox .criticrating span{position: relative;
    font-size: 24px;
    line-height: 1.17;
    font-weight: 600;
    display: block;
    padding: 0;
    width: 100%;
    text-align: left;}
.criticreview .criticimagebox .criticrating span:before {
    content: "\2605";
    top: -1px;
    font-size: 26px;
    display: inline-block;
    line-height: 1.17;
    padding-right: 1px;
    background: none;
    position: relative;
    width: auto;
    height: auto;
}
.criticreview .criticfeaturebox{padding:16px;}
.criticreview .criticfeaturebox .featurehead{font: 700 14px/29px Montserrat,Tahoma,Sans-Serif;text-transform: uppercase;}
.criticreview .criticfeaturebox .criticfeature p{font-size:14px; line-height:24px;position: relative;display: inline-block; margin-bottom: 0; margin-right: 12px; padding-left: 20px;}
.criticreview .criticfeaturebox .criticfeature p:before{content:'';width:8px;height:8px;background: #a5a5a5;border-radius: 100%;margin-right: 12px;position: absolute;left:0;top:9px;}
.criticreview .critictextdetail{position: relative;overflow: hidden; font-size: 14px; line-height: 24px; padding:0 16px 16px;}
.criticreview .critictextdetail .critictextbox{height:72px;overflow: hidden;}
.criticreview .critictextdetail .critictextbox .critictext{position: relative;}
.criticreview .critictextdetail .critictextbox .critictextread{position: absolute; bottom: 15px; right: 10px; background-color: #fff; padding: 0 8px;color: #135394;text-transform: uppercase;}
.criticreview .critictextdetail .critictextbox .critictextread a{color: #135394;}

/* criticreview */

/* userreview*/
.userreview{padding:16px 0;}
.userreview .userrating {margin-top:16px; padding:0 16px;}
.userreview .userheading{text-transform:uppercase;margin-bottom:12px;}
.userreview .userfirstreview{display: block; text-align: center;width:100%; margin-bottom: 8px;}
.userreview .userfirstreview > span{font-size: 14px;white-space: nowrap;color: #ccc;position: relative; display: inline-block;line-height: 36px;text-transform: uppercase;padding-left: 40px;}
.userreview .userfirstreview > span:before{content: "\2605"; display: inline-block;font-size: 32px; position: absolute;left: 0;top: -2px;}
.userreview .userrating .userbarbox{display:flex;}
.userreview .userrating .userbarbox .userbarleft{width:34%;margin-right:6%}
.userreview .userrating .userbarbox .userbarleft .userbarrating{position: relative; font-size: 28px; line-height: 17px; display: inline; color: #e21b22;    font-weight: 600;}
.userreview .userrating .userbarbox .userbarleft .userbarrating::before {content: "\2605";top: -6px; font-size: 38px; display: inline-block; line-height: 1.17; padding-right: 5px;}
.userreview .userrating .userbarbox .userbarleft p{font-size: 12px;line-height: 1.33; color: #1a1a1a; font-weight: 600;}
.userreview .userrating .userbarbox .userbarright{width:60%}
.userreview .userrating .userbarbox .userbarright .bar{position: relative; width: 70%;margin: 0 auto 15px; background-color: hsla(0,0%,89%,.5);display: block; height: 6px;border-radius: 3px;}
.userreview .userrating .userbarbox .userbarright .bar > div{background: #e21b22;display:block;height:6px; border-radius: 3px}
.userreview .userrating .userbarbox .userbarright .bar:after, .userreview .userrating .userbarbox .userbarright .bar:before{position: absolute;     width: 30px;height: 30px;  font-size: 10px; font-weight: 700; top: -4px;}
.userreview .userrating .userbarbox .userbarright .bar:after{content: attr(data-rating); right: -37px; text-align: left;}
.userreview .userrating .userbarbox .userbarright .bar:before{content: attr(data-star) "\2605"; left: -27px;}
.userreview .ratingbtn{display:block;text-align:center;margin-top:4px;}
.userreview .ratingbtn > span{color: #fff; width: 222px; line-height: 36px; border-radius: 2px;background-color: #135394;text-align: center; font-size: 12px; text-transform: uppercase;  display: inline-block;}
.userreview .topreviewbox{margin-top:24px;padding:0 16px;}
.userreview .topreviewbox .userheading{margin-bottom:0;}
.userreview .topreviewbox .topreviewlist{position:relative;}
.userreview .topreviewbox .topreviewlist .topreview{position: relative; padding: 12px 12px 12px 44px;border-top:1px solid #ececec;}
.userreview .topreviewbox .topreviewlist .topreview:first-child{border-color:#fff;}
.userreview .topreviewbox .topreviewlist .topreview:before {content: attr(data-name); position: absolute; width: 36px; line-height: 36px; text-align: center; color: #fff;   border-radius: 100%; left: 0; top: 12px; font-size: 20px; font-weight: 600; background: rgba(226,27,34,.5);}
.userreview .topreviewbox .topreviewlist .topreview:nth-child(2):before{background-color: #00609a;}
.userreview .topreviewbox .topreviewlist .topname{font-size: 14px;font-weight: 600;margin-bottom: 4px;line-height: 20px;}
.userreview .topreviewbox .topreviewlist .topcomment{position: relative; overflow: hidden; font-size: 14px; line-height: 24px;}
.userreview .topreviewbox .topreviewlist .toprating{position: absolute; color: #e21b22;right: 0;top: 12px;}
.userreview .topreviewbox .topreviewlist .toprating span{font-size:12px; font-weight:600; position:relative;display:inline-block;}
.userreview .topreviewbox .topreviewlist .toprating span:before {font-size: 16px;content: "\2605";top: -6px;display: inline-block;line-height: 1.17;padding-right: 4px;}

/* disclaimer */
.disclaimer{ padding:8px 16px; color:#1a1a1a; overflow:hidden; border-bottom:1px solid #eee; margin-bottom:12px;display:flex;}
.disclaimer .info{margin-right: 10px;  vertical-align: top;}
.disclaimer .info i{border:2px solid #1a1a1a; width:20px; line-height:16px; font-size:14px; border-radius:100%; text-align:center; margin-top:4px;font-style: normal;display:block; opacity: .8;}
.disclaimer .infotext{font-size:12px; line-height:16px; width: calc(100% - 35px);}

/* breadcum */
.breadcum{margin-bottom: 0; border-top: 1px solid #e2e2e2; padding: 24px 16px 0;font-size: 12px; text-transform: uppercase; color: #000;}
.breadcum ul{list-style: none;}
.breadcum ul li{display: inline; text-transform: none;}
.breadcum ul li a{text-transform: uppercase; display: inline-block; position: relative; line-height: 16px; font-weight: 600; margin-right: 14px; margin-bottom: 4px; padding-right: 8px;   border-radius: 4px;}
.breadcum ul li a:after { content: "/";  font-size: 12px; opacity: 1; position: absolute; right: -6px; top: 0;}
.breadcum ul li:last-child span{color: #135394; text-transform: uppercase; font-weight: 600;}

/* ratingpop */
.ratingpop{left: 0; right: 0; top:0; bottom: 0; background-color: rgba(0, 0, 0, 0.65); position: fixed; z-index: 1000; display:none;}
.ratingpop.openpop{display:block;}
.ratingpop .ratingcontainer{background: #fff; margin:10vh 16px auto; max-width: 433px; border-radius:4px; padding-bottom: 16px;}
.ratingpop .ratingcontainer .ratingpophead{display: block;position: relative;font-size: 16px;border-bottom: solid 1px #ececec;line-height: 61px;font-weight: 700;text-transform: uppercase;padding-left: 16px;}
.ratingpop .ratingcontainer .ratingpophead .closepopbtn{font-size: 36px; position: absolute; top: 0;right: 15px;color: #1a1a1a;transform: rotate(45deg);cursor: pointer;font-weight: 100;}
.ratingpop .ratingcontainer .ratingcontent{display: flex;margin: 20px 16px; }
.ratingpop .ratingcontainer .ratingcontent .ratingtext{font-size: 14px;font-weight: 600;padding-right: 8px;line-height: 28px;white-space: nowrap;}
.ratingpop .ratingcontainer .ratingcontent .ratingtext:focus{outline:none}
.ratingpop .ratingcontainer .ratingcontent .rate{float: left; height: 24px; position:relative}
.ratingpop .ratingcontainer .ratingcontent .rate:not(:checked) > input {
      position:absolute;
      opacity:0;
  }
.ratingpop .ratingcontainer .ratingcontent .rate #star5{top:8px;right:7px}
.ratingpop .ratingcontainer .ratingcontent .rate #star4{top:8px;right:23px}
.ratingpop .ratingcontainer .ratingcontent .rate #star3{top:8px;right:50px}
.ratingpop .ratingcontainer .ratingcontent .rate #star2{top:8px;right:75px}
.ratingpop .ratingcontainer .ratingcontent .rate #star1{top:8px;left:9px}
.ratingpop .ratingcontainer .ratingcontent  .rate:not(:checked) > label {
      float:right;
      width:24px;
      overflow:hidden;
      white-space:nowrap;
      cursor:pointer;
      font-size:30px;
      color:#ccc;
      line-height: 24px;
      height: 24px;
      background: url(https://static.toiimg.com/photo/90197030.cms) no-repeat;
      background-position:6px -351px;
  }
.ratingpop .ratingcontainer .ratingcontent  .rate:not(:checked) > label:before {
      content: ' ';
      height: 24px;display: block;
  }
.ratingpop .ratingcontainer .ratingcontent .rate > input:checked ~ label {
      color: #135394; 
      background-position:6px -329px;   
  }
.ratingpop .ratingcontainer .ratingcontent .rate:not(:checked) > label:hover,
.ratingpop .ratingcontainer .ratingcontent .rate:not(:checked) > label:hover ~ label {
    background-position:6px -329px;   
  }
.ratingpop .ratingcontainer .ratingcontent .rate > input:checked + label:hover,
.ratingpop .ratingcontainer .ratingcontent .rate > input:checked + label:hover ~ label,
.ratingpop .ratingcontainer .ratingcontent .rate > input:checked ~ label:hover,
.ratingpop .ratingcontainer .ratingcontent .rate > input:checked ~ label:hover ~ label,
.ratingpop .ratingcontainer .ratingcontent .rate > label:hover ~ input:checked ~ label {
    background-position:6px -23px; 
  }
.ratingpop .ratingcontainer .ratingcontent .ratinghealth{color:#e21b22; font-size: 14px;font-weight: 600; line-height: 28px; padding-left: 10px;}
.ratingpop .ratingcontainer .ratingcontent .ratinghealth.ratinghealthblk{color:#000;}
.ratingpop .ratingcontainer .submitText{padding: 4px 16px;}
.ratingpop .ratingcontainer .submitText textarea{border: 1px solid #ececec;background-color: #fff;width: 100%;font-size: 12px;padding: 12px;height: 99px;resize: inherit;}
.ratingpop .ratingcontainer .submitnote{font-size: 10px;line-height:12px;color: #595959; display: block; text-align: left;}
.ratingpop .ratingcontainer .errorMsg{color:#e21b22;font-size: 14px; line-height: 24px; margin-bottom: 16px;}
.submitbutton{ text-align: right; display: block; padding: 0 24px;}
.submitbutton button{width: 135px;line-height: 24px;border-radius: 4px;background-color: #135394;text-align: center;color: #fff;border: none;font-size: 12px;text-transform: uppercase;}


/* search gadgets */
.searchcontainer{position:fixed; z-index:102; top:0;bottom:0;left:100%;right:-100%;transition: all .3s;background:#fff; display:block}
.searchcontainer.active{right:0;left:0;}
.searchcontainer .searchhead{height:56px;background:#f5f5f5; display:flex;}
.searchcontainer .searchhead .searchback{overflow:hidden; width:50px;height:50px cursor:pointr;position:relative; display:inine-block;text-indent: -1000px;}
.searchcontainer .searchhead .searchback:before {background-image: url(https://static.toiimg.com/photo/89974257.cms);background-position: 0px -45px; background-repeat: no-repeat; width: 30px; height: 20px;  content: ''; position: absolute; transform: rotate(180deg); top: 17px; left: 10px;}
.searchcontainer .searchhead .searchinput{width:calc(100% - 100px);padding: 7px 7px 7px 12px;}
.searchcontainer .searchhead .searchinput > input{font-size: 14px;line-height: 44px; width: 100%; background-color: #f5f5f5;border:none;}
.searchcontainer .searchhead .searchinput > input:focus{outline:none;}
.searchcontainer .searchhead .searchclear{width:50px;}
.searchcontainer .searchhead .searchclear span{color: #135394;cursor: pointer;font-size: 10px; text-transform: uppercase; line-height:54px;width:100%;display:none;}
.searchcontainer .searchhead .searchclear span.active{display:block}
.searchcontainer .searchcontent{padding:0;height:calc(100% - 60px);width:100%;}
.searchcontainer .searchtrending{padding:0;margin:0;}
.searchcontainer .searchtrending h6{font-size:12px;font-weight:100;text-align: left; color: #595959; text-transform: uppercase; padding-left: 30px;line-height: 22px; position: relative;margin: 16px 0 0 16px;}
.searchcontainer .searchtrending h6:before{content: ""; position: absolute; width: 30px; height: 20px; opacity: .5; left: 7px; top: 5px; background-image: url(https://static.toiimg.com/photo/90197030.cms);    background-repeat: no-repeat;background-position:-1px -135px;}
.searchcontainer .searchtrending#recentSearchesContainer h6:before{background-position: -1px -382px;}
.searchcontainer .strending{white-space: nowrap; overflow-y: scroll; text-align: left; padding: 8px 0 8px 5px;  margin: 0 0 16px 16px;}
.searchcontainer .strending:-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}
.searchcontainer .strending a{align-items: center; display: inline-block;border-radius: 4px;padding: 13px 16px; text-decoration: none; color: #000;font-size: 14px; font-weight: 600; margin-right: 12px;box-shadow: 0 1px 3px 0 #999;}
.searchcontainer .searchkeyword{position: absolute; white-space: inherit; overflow-y: auto; margin: 0;text-align: left;padding: 8px 0 8px 5px;top:60px;left:0;right:0;bottom:0;background:#fff; z-index:1;display:none;}
.searchcontainer .searchkeyword.active{display:block}
.searchcontainer .searchkeyword.active > span{display:block; text-align: center;}
.searchcontainer .searchkeyword .keywordlist li{display: block; box-shadow: none;font-size: 12px; margin-left: 48px;line-height: 42px; white-space: nowrap; position: relative; border-bottom: 1px solid #e2e2e2; text-align: left;}
.searchcontainer .searchkeyword .keywordlist li:before { content: "";width: 6px; height: 6px; position: absolute; border: 1px solid #e2e2e2;border-radius: 100%;top: 18px; left: -15px;}
.searchcontainer .searchkeyword .keywordlist li mark { background-color: #fff; font-weight: 700;}
.searchcontainer .gadgetssearch{width:100%;padding: 16px 24px;border: 1px solid #ececec;margin-bottom: 24px;border-radius: 4px;}
.searchcontainer .gadgetssearch .gadgetsform{position: relative;}
.searchcontainer .gadgetssearch .gadgetsform h6{line-height: 30px;color: #1a1a1a;text-transform: uppercase;margin-bottom: 16px;}
.searchcontainer .gadgetssearch .gadgetsform .form-control{display:block;margin-bottom:16px;}
.searchcontainer .gadgetssearch .gadgetsform .form-select{border: 1px solid #ececec;line-height: 20px;font-size: 14px;color: #1a1a1a;width:100%;background:none;height:38px;padding:0 8px;border-radius: 4px;}
.searchcontainer .gadgetssearch .gadgetsform .submit{color: #fff;font-size:12px;width:100%;line-height:40px;font-weight:700;border:none;background:#1a73ce;transition: all .3s;border-radius: 4px;text-transform: uppercase;}
.searchcontainer .gadgetssearch .gadgetsform .submit.notallowed{cursor: not-allowed;background: #ccc;}

footer{color: #1a1a1a;
  margin-bottom: 40px;
  padding: 0px 16px 24px;}
footer .footbox{width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 25px;}	
footer .footbox .footlogo{flex: 0 1 125px;}
footer .footbox .footlogo > a{height: 50px;
  display: block;
  overflow: hidden;
  text-indent: -1000px;
  background: url(https://static.toiimg.com/photo/88204186.cms) no-repeat 0 5px;
  background-size: contain;
  margin-right: 20px;}
footer .footlist{flex-grow: 1;column-count: 2;
  column-gap: 10px;
  min-height: 0; width: calc(100% - 125px);}
footer .footlist a{position: relative;
  display: block;
  line-height: 20px;
  margin-bottom: 10px;
  font-size: 12px;}
footer .foothead{font-weight: 700;
  font-size: 10px;
  text-transform: uppercase;
  line-height: 14px;
  margin: 5px 0 12px 0;}
  
.floatingnav{position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 5;
border-top:1px solid #f6f6f6;
  text-align: center;}
.floatingnav .btf{
width: 100%;
  height: 64px;
background-color: #f6f6f6;
text-align: center;
  position: relative;
  overflow: hidden;
  padding: 8px 0;
}
/*
.floatingnav .bottom_nav{height: 56px; 
  background: #fff;
  transition: height 0.3s; overflow:hidden;}
.floatingnav .bottom_nav .bottom_nav_list{display:flex;}
.floatingnav .bottom_nav .bottom_nav_list .bottonnavlink{flex:1}
.floatingnav .bottom_nav .bottom_nav_list .bottonnavlink i{
background-image: url(https://static.toiimg.com/photo/81526830.cms);
  background-repeat: no-repeat;
display: block;
  width: 30px;
  height: 18px;
  margin: 12px auto 2px;
  position: relative;
}
.floatingnav .bottom_nav .bottom_nav_list .bottonnavlink .label{
display: block;
  text-align: center;
  font-size: 12px;
}
.floatingnav .bottom_nav .bottom_nav_list .bottonnavlink.home i{background-position: -11px -348px;}
.floatingnav .bottom_nav .bottom_nav_list .bottonnavlink.briefs i{background: url(https://static.toiimg.com/photo/79512585.cms) 3px -4px no-repeat;}
.floatingnav .bottom_nav .bottom_nav_list .bottonnavlink.gadgets .label{color: #135394;font-weight: 700;}
.floatingnav .bottom_nav .bottom_nav_list .bottonnavlink.gadgets i{background-position: -10px -629px}
.floatingnav .bottom_nav .bottom_nav_list .bottonnavlink.games i{background: url(https://static.toiimg.com/photo/79512581.cms) 3px -4px no-repeat;}
.floatingnav .bottom_nav .bottom_nav_list .bottonnavlink.shop i{background-position: -11px -508px;} */

