

/* montserrat-regular - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url('https://toiassets.indiatimes.com/fonts/montserrat-v14-latin-regular.eot');
  /* IE9 Compat Modes */
  src: local('Montserrat Regular'), local('Montserrat-Regular'),
    url('https://toiassets.indiatimes.com/fonts/montserrat-v14-latin-regular.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 
      url('https://toiassets.indiatimes.com/fonts/montserrat-v14-latin-regular.woff2')
      format('woff2'), */
    /* Super Modern Browsers */
      url('https://toiassets.indiatimes.com/fonts/montserrat-v14-latin-regular.woff')
      format('woff'),
    /* Modern Browsers */
      url('https://toiassets.indiatimes.com/fonts/montserrat-v14-latin-regular.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('https://toiassets.indiatimes.com/fonts/montserrat-v14-latin-regular.svg#Montserrat')
      format('svg');
  /* Legacy iOS */
}

/* montserrat-600 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('https://toiassets.indiatimes.com/fonts/montserrat-v14-latin-600.eot');
  /* IE9 Compat Modes */
  src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'),
    url('https://toiassets.indiatimes.com/fonts/montserrat-v14-latin-600.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 
      url('https://toiassets.indiatimes.com/fonts/montserrat-v14-latin-600.woff2')
      format('woff2'),*/
    /* Super Modern Browsers */
      url('https://toiassets.indiatimes.com/fonts/montserrat-v14-latin-600.woff')
      format('woff'),
    /* Modern Browsers */
      url('https://toiassets.indiatimes.com/fonts/montserrat-v14-latin-600.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('https://toiassets.indiatimes.com/fonts/montserrat-v14-latin-600.svg#Montserrat')
      format('svg');
  /* Legacy iOS */
}

/* montserrat-700 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('https://toiassets.indiatimes.com/fonts/montserrat-v14-latin-700.eot');
  /* IE9 Compat Modes */
  src: local('Montserrat Bold'), local('Montserrat-Bold'),
    url('https://toiassets.indiatimes.com/fonts/montserrat-v14-latin-700.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 
      url('https://toiassets.indiatimes.com/fonts/montserrat-v14-latin-700.woff2')
      format('woff2'), */
    /* Super Modern Browsers */
      url('https://toiassets.indiatimes.com/fonts/montserrat-v14-latin-700.woff')
      format('woff'),
    /* Modern Browsers */
      url('https://toiassets.indiatimes.com/fonts/montserrat-v14-latin-700.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('https://toiassets.indiatimes.com/fonts/montserrat-v14-latin-700.svg#Montserrat')
      format('svg');
  /* Legacy iOS */
}
body{font-family: 'Montserrat', sans-serif; color: #1a1a1a;}
*{padding:0; margin:0;}
*, *:before, *:after {
-webkit-box-sizing: border-box !important;
box-sizing: border-box !important;
}
h1, h2, h3, h4, h5, h6 {font: 700 16px/24px Montserrat,Tahoma,Sans-Serif;}
a {text-decoration: none;color: #1a1a1a;}
.sticky{position:sticky;top:-1px;z-index:100;}
.topsearch{width:100%;background: #f5f5f5;overflow: hidden;font-size: 12px;padding: 8px;display:flex;}
.topsearch .topsearch_title{font-size: 12px;font-weight: 400;width: 85px;color: #595959;}
.topsearch .topsearch_list{overflow-x: scroll;white-space: nowrap;width: calc(100% - 88px);-ms-overflow-style: none;  /* IE and Edge */scrollbar-width: none;  /* Firefox */}
.topsearch .topsearch_list::-webkit-scrollbar {display: none;}
.topsearch .topsearch_list a{display: inline-block;padding: 0 8px;border-right: 1px solid #595959;color: #595959;}
.header{height: 57px;background-color: #fff;width: 100%;border-bottom: 1px solid #ececec;border-top: 1px solid #ececec;min-height: 56px;position: relative;}
.header .back{position: absolute;width: 50px;height: 57px;float: left;text-indent: -1000px;z-index: 1;}	
.header .back:before{background-image: url(https://static.toiimg.com/photo/90197030.cms);background-position: 0px -45px;background-repeat: no-repeat;width: 30px;height: 20px;content: '';position: absolute;transform: rotate(180deg);top: 17px;left: 10px;}
.header .logo{width: 100%;text-align: center;}
.header .logo .home{display: block;width: 145px;height: 48px;overflow: hidden;text-indent: -1000px;background: url(https://static.toiimg.com/photo/88204186.cms) no-repeat 0 17px;background-size: contain;margin: 0 auto;}
.header .searchicon{position: absolute; z-index: 1; padding: 13px 0 0 16px; top: 0; right: 16px;cursor:pointer;}
.header .searchicon i{background-image: url(https://static.toiimg.com/photo/90197030.cms);overflow:hidden; text-indent:-1000px; background-position: 5px -70px; background-repeat: no-repeat; display: block; height: 30px; width: 30px; cursor: pointer;}
.navigation{overflow-y: scroll;white-space: nowrap;clear: both;border-bottom: 1px solid #ececec;text-align: center; background:#fff;-ms-overflow-style: none;  /* IE and Edge */scrollbar-width: none;  /* Firefox */}
.navigation::-webkit-scrollbar {display: none;}
.navigation .navlink{display: inline-block;padding: 0 10px;text-decoration: none;text-align: center;line-height: 48px;color: #000;font-size: 12px;text-transform: uppercase;position: relative;}
.atfadcaller{min-height: 66px;background-color: #f6f6f6;text-align: center;width: 100%;position: relative;overflow: hidden;padding: 8px 0;}
.mrecadcaller{background-color: #f6f6f6;text-align: center;width: 100%;position: relative;overflow: hidden;padding: 8px 0;}
/* BANNER */
.consent-popup { background:#0d0d0d; position:relative; padding: 16px;}
.consent-banner { font-size: 14px; line-height: 1; -moz-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
body.euuser .consent-banner button#consent-continue-button.close {  position: absolute;  width: 18px;  height: 18px; text-indent: -9999px;  top: 5px;  right: 5px;  margin: 0;}
.consent-banner:after {content: "."; display: block; font-size: 0; height: 0; clear: both; visibility: hidden;}
/*.consent-banner.wrapper { max-width:990px; width:100%; }*/
.consent-banner .column1 { width:100%; }
.consent-banner .column2 { float: none;  position: absolute;  width: auto;  right: 10px;  bottom: 15px;}
.consent-banner #personalisedadsCheckBox{  display: none;}
.consent-banner .personalisedadsBlk{color:#fff;}
.consent-banner .personalisedadsBlk label{line-height: 16px;  font-size: 11px;  color: #ccc;  display: inline-block;  width: 80%;  padding-left:32px; position:relative}
body.euuser .consent-banner .checkbox label:before {  content: "";  position: absolute;  left: 0;  top: 2px;  height: 14px;  width: 14px;  line-height: 14px;   background: #fff no-repeat;  -webkit-transition: all .5s;  -moz-transition: all .5s;  -ms-transition: all .5s;  -o-transition: all .5s;  transition: all .5s;  border: 1px solid #b1b1b1;}
body.euuser .consent-banner .checkbox input[type=checkbox]:checked+label:before {  background: #135394;  border-color: #135394;}
body.euuser .consent-banner .checkbox input[type=checkbox]:checked+label:after {  position: absolute; content: ""; border: solid #fff; width: 7px; height: 14px; left: 4px; top: 1px; border-width: 0 3px 3px 0;  transform: rotate(45deg);}
.consent-banner h2 {font-weight:bold; margin-bottom:8px; line-height: 15px; color: #fff; font-size: 14px; }
.consent-banner p { font-size:11px; line-height: 16px; color: #fff; margin-bottom: 0px;}
.consent-banner p a {color: #e21b22;text-decoration: underline;}
.consent-banner li { display: inline-block; margin: 0 4px; }
.consent-banner button, .consent-banner li a { font-weight:600;  text-decoration: none; display: block; font-size:12px; line-height: 20px; color: #e21b22; }
.consent-banner button { padding: 4px 16px; background:none; border:1px solid #e21b22; border-radius:1000px; width:100%; text-transform:uppercase; }
.consent-banner button.close{width:20px;height:20px;border:none; position:relative; float:right; margin-top:-34px;}
body.euuser .consent-banner .checkbox { display: block;clear: both; border-top: 15px solid transparent;}
.consent-banner button.close:before { content: "";  width: 1px;  height: 16px;  background: #fff;  position: absolute;  top: 2px;  right: 8px;  transform: rotate(45deg);}
.consent-banner button.close:after{transform: rotate(135deg);content: ""; width: 1px;   height: 16px;  background: #fff;  position: absolute;  top: 2px;  right: 8px;}
/*.consent-banner a:focus, .consent-banner button:hover { color: #fff; }*/
.consent-banner #consent-more {  display: none; }

.setting_gdpr{float: right;padding: 1px 5px 0 4px; display:none;}
body.euuser .setting_gdpr{display:block;}
.setting_gdpr a{color:#b3d4f7;text-transform: uppercase;text-decoration: none;}
.setting_gdpr a:hover{text-decoration: none;}
.hide{display:none !important;}
.rs { position: relative;}
.rs:before { content: '\20B9';  margin-right: 2px;}
.figure{position: relative;}
.figure:before {display: block; content: ''; width: 100%; padding-top: 56.25%;}
.figure span{position: absolute; top: 0; left: 0; right: 0; bottom: 0; border-radius: 4px;}
.figure span img{width: 100%; height: 100%; object-fit: cover;}
/*  gadgetshow*/
.gadgetshowcontianer{	position:relative;}
.overview{position:relative;}
.overview .overviewhead{display:flex; padding: 24px 16px 8px;}
.overview .overviewhead .overheading{font: 700 16px/24px Montserrat,Tahoma,Sans-Serif; margin: 0;font-size: 16px; margin-right:8px;}
.overview .overviewhead .pricedrop{ font-size: 10px;  font-weight: 600;  color: #135394;padding-left:18px;text-transform: uppercase;line-height:24px;position:relative;}
.overview .overviewhead .pricedrop i{width:12px;position:absolute; left:0; top:0; background:red; display:block; height:24px;}
.tabs{width:100%; padding: 8px 0 8px 16px; overflow-y: scroll; margin-bottom: 16px; position: sticky;top: 91px; z-index: 100; background: #fff;}
.tabs.frmapp{top:0;}
.tabs .tablist{display:flex;justify-content: start;position: relative;}
.tabs .tablist .tabbtn{font-size: 12px; position:relative;   line-height: 16px;    font-weight: 600;    color: #135394;    margin-left: 20px;    cursor: pointer;    text-transform: uppercase;    padding: 4px 0;    white-space: nowrap;}
.tabs .tablist .tabbtn:first-child{margin-left: 0px;}
.tabs .tablist .tabbtn.active:after{content:'';height: 4px;background-color: #135394; position: absolute;left: 0px; right: 0;bottom: -8px; transition: all .5s;}
.firstfoldcontainer{display: flex;  width: 100%;  padding: 0 16px;}
.firstfoldcontainer .firstfoldboxone{position: relative;  width: 40%;}
.firstfoldcontainer .firstfoldboxone .largeimg{text-align: center; padding: 0 8px;}
.firstfoldcontainer .firstfoldboxone .infotag{position: relative;}
.firstfoldcontainer .firstfoldboxone .infotag:before{content: attr(data-upcoming); position: absolute;  z-index: 1; top: 0px; left: 0px; font-size: 12px; font-weight: 500; line-height: 20px; padding: 0 4px;  background: #fff;
border: 1px solid #135394;  color: #135394;  border-radius: 4px;text-transform: uppercase;}
.firstfoldcontainer .firstfoldboxone .figure{display: block; height: 210px; position: relative;}
.firstfoldcontainer .firstfoldboxone .figure img{max-width: 100%; max-height: 100%;  position: absolute;top:50%;  left:50%;  transform: translate(-50%, -50%);}
.firstfoldcontainer .firstfoldboxone .imgcount{display: block;  color: #135394; font: 600 12px/15px Montserrat,Tahoma,Sans-Serif; text-align: center;
      position: absolute; bottom: 4px; width: 100%;}
.firstfoldboxtwo{width: 60%; position: relative; padding-bottom: 30px;}
.firstfoldboxtwo .dottbox { position: absolute; bottom: 0px; display: block;  width: 100%; text-align: center; }
.slider { width: 100%; text-align: center; overflow: hidden;}
.slides { display: flex; overflow-x: auto; scroll-snap-type: x mandatory; scroll-behavior: smooth; -webkit-overflow-scrolling: touch;
  /*
  scroll-snap-points-x: repeat(300px);
  scroll-snap-type: mandatory;
  */
}
.slides::-webkit-scrollbar { width: 0px; height: 0px;}
.slides::-webkit-scrollbar-thumb { background: black;}
.slides::-webkit-scrollbar-track { background: transparent;}
.slides .slidesbox {  scroll-snap-align: start;flex-shrink: 0;  width: 100%;  margin-right: 10px;  background-color: #f6f6f6;transform-origin: center center;  transform: scale(1);  transition: transform 0.5s;position: relative;  justify-content: center;  align-items: center;border: solid 1px #ececec;  border-radius: 4px;}
/* 
.slides > div:target {
    transform: scale(0.8); 
}
*/
.dottbox .button { display: inline-flex; width: 8px;height: 8px;  background: #000;  text-decoration: none;  align-items: center;  justify-content: center;  border-radius: 100%;margin: 0px 4px;  position: relative;  overflow: hidden;  text-indent: -1000px;  cursor: pointer;}
.dottbox .button.active { background: #f6f6f6;}
.dottbox .button:focus { background: #f6f6f6;}
.widgetUser{display: flex;  border-top: 1px solid #ecece8;  border-bottom: 1px solid #ecece8;  width: 100%;  padding: 16px 8px;  flex-wrap: wrap;  margin-top: 20px;}
.widgetUser .listbtn {   width: 50%;    padding: 0 8px;    flex: 0 0 50%;    margin: 6px 0;  }
.widgetUser .iconBox{cursor: pointer;    line-height: 24px;    font-size: 10px;    font-weight: 600;    color: #135394;  text-transform: uppercase;    display: flex;    border: 1px solid #135394;    border-radius: 4px;    justify-content: center;}
.widgetUser .iconBox i{display: inline-block;  width: 30px;}
.widgetUser .iconBox span{display:inline-block}
.widgetUser .iconBox i{position: relative;}
.widgetUser .iconBox i:before{content: '';  width: 30px;  height: 24px;  background: url(https://static.toiimg.com/photo/90197030.cms) no-repeat;position: absolute; left: 0; top: 0px; zoom: 0.9;}
.widgetUser .rate i:before { background-position: 5px -352px;  }
.widgetUser .gallimage i:before { background-position: 1px -308px;}
.widgetUser .compare i:before {background-position: 0 -220px; }
.widgetUser .relatedmobile i:before {background-position: 0 -278px; }


.summarybox{ display: block; padding: 0px;text-align: left;}
.summarybox .box {width: 100%; display: flex; padding: 6px 12px 6px 2px;}
.summarybox .box  .icons {flex: 0 0 50px;margin-right: 10px; }
.summarybox .box  .icons i{background: url(https://static.toiimg.com/photo/90048953.cms) no-repeat; background-size: 139px; zoom: .8; position:relative; display:block; width:50px; height:50px; overflow:hidden; text-indent:-1000px;}
.summarybox .box  .icons.mobile_ram i{background-position: 15px -1602px;}
.summarybox .box  .icons.mobile_camera i{background-position: 15px -1201px;}
.summarybox .box  .icons.mobile_display i{background-position: 22px -2339px;}
.summarybox .box  .icons.mobile_performance i{background-position: 15px -1458px;}
.summarybox .box  .icons.mobile_storage i{background-position: 15px -2387px;}
.summarybox .box  .icons.mobile_battery i{background-position: 20px -1250px;}
.summarybox .box  .icons.launchdate i{background-position: 15px -1298px;}
.summarybox .box  .icons.mobile_rupee i{background-position: 19px -1405px;}
.summarybox .box  .icons.critic_rating i{background-position: 18px -218px;}

.summarybox .box .spec {display: flex; flex-flow: column;}
.summarybox .box .keys {font-size: 10px;text-transform: uppercase; color: #1a1a1a;  line-height: 1.33;  margin: 4px 0; }
.summarybox .box .feat {font-size: 12px;  font-weight:600; color: #1a1a1a;  line-height: 1.25; }

.atfcontent{padding: 16px 16px 0; font-size: 14px; line-height: 25px;}
.atfcontent .aftbox{position: relative; overflow: hidden; font-size: 14px; line-height: 24px;}
.atfcontent .readmore{position: absolute; bottom: 0;  right: 0; background-color: #fff; padding: 0 8px; cursor: pointer; color: #135394;  text-transform: uppercase; font-weight: 500;}


@font-face {
  font-family: 'Samsung Sharp Sans Bold';
  src: url('//db.onlinewebfonts.com/t/03fe5644d1605049951f58ca7961c33f.eot');
  src: url('//db.onlinewebfonts.com/t/03fe5644d1605049951f58ca7961c33f.eot?#iefix')
      format('embedded-opentype'),
    url('//db.onlinewebfonts.com/t/03fe5644d1605049951f58ca7961c33f.woff2')
      format('woff2'),
    url('//db.onlinewebfonts.com/t/03fe5644d1605049951f58ca7961c33f.woff')
      format('woff'),
    url('//db.onlinewebfonts.com/t/03fe5644d1605049951f58ca7961c33f.ttf')
      format('truetype'),
    url('//db.onlinewebfonts.com/t/03fe5644d1605049951f58ca7961c33f.svg#Samsung Sharp Sans Bold')
      format('svg');
}
.defaultclass {
  max-height: 32px;
  width: 100%;
}
.timer_container{
  background: rgb(73,73,75);
  background: linear-gradient(0deg, rgba(73,73,75,1) 0%, rgba(108,108,112,1) 49%, rgba(63,66,66,1) 100%);
  padding:8px 12px;
  color: #fff;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-height: 32px;
  width: 100%;
  overflow: hidden;
  }
  .mobile{
	display: flex;
    justify-content: space-between;
    height: 32px;
    padding: 0 8px;
	text-decoration:none;
	max-width:328px;
	margin:8px auto;
  }
.brands_name {
    display: flex;
    flex-flow: column;
    align-items: flex-end;
}

.brands_name .title {
        font-size: 12px;
        line-height: 14px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        margin: 0;
		text-transform: uppercase;
		font-family: 'Samsung Sharp Sans Bold';
      }
.suffix {
        line-height: 9px;
        font-size: 10px;
        min-width: 80px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
		text-align:center;
		font-family: Arial,Tahoma,Sans-Serif; margin: 0 auto;
      }

.timer {
	display: flex;
    min-width: 130px;
    text-align: center;
    text-transform: uppercase;
    font: 400 9px/12px Montserrat,Tahoma,Sans-Serif;
    justify-content: space-between;
    color: #ccc;
    }
.time{
	margin-top: 3px;
}
.time span{
	width: 11px;
          height: 14px;
          margin-bottom: 2px;
          display: inline-block;
			border-radius:2px;
          margin-right: 2px;
          text-align: center;
          color: #000;
		  font: 700 10px/13px Montserrat,Tahoma,Sans-Serif;
          background: linear-gradient(to top, #fff 54%, #e5e5e5 54%);
}
.label {
        color: #ccc;
      }
.timer_box{
	display: flex;
    flex-flow: column;
    text-align: center;
}
.saleNudgeBox {
  position: fixed;
  z-index: 100;
  transition: all 0.3s;
  transform: translateX(-50%);
  text-align: left;
  bottom: 270px;
  visibility: visible;
  left: 38px;
}
.saleNudgeBox span {
  border-radius: 0 100px 100px 0;
  background-color: #f6f6f6;
  border: 1px solid #ccc;
  padding: 12px 10px 12px 12px;
  position: relative;
}
  .saleNudgeBox span img {
    position: relative;
    top: 8px;
    left: 0;
  }
