.owl-controls{width:100%; bottom:3px; text-align:center !important; position:absolute;}
.honor-promotion{padding:16px;}
.honor-promotion ul{list-style:none; border:1px solid #c7c7c7;}
.honor-promotion ul li .tab{background:#54c5b1; color:#fff; line-height:35px; font-size:1.3em; margin-top:1px;}
.honor-promotion ul li:first-child .tab{margin-top:0px;}
.honor-promotion ul li .tab-section{ padding:16px;}
.honor-promotion ul li .tab-section h2{font-weight:100; font-size:1.2em; font-family: 'proxima-semibold'; margin:20px 0 10px}
.honor-promotion ul li .tab-section ol{padding-left:12px;}
.honor-promotion ul li .tab-section ol li{ margin:5px 0; font-size:1.1em}

.input-group { overflow:hidden; position: relative; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap;  flex-wrap: wrap;  -ms-flex-align: stretch;  align-items: stretch; width: 100%; border: 1px solid #ced4da; border-radius: .25rem;}
.input-group > div.width{width:100%;}
.input-group-prepend { margin-right: -1px;}
.input-group-append, .input-group-prepend {  display: -ms-flexbox;  display: flex; width:22%;}
.input-group-text { display: -ms-flexbox; display: flex; -ms-flex-align: center; align-items: center; padding: .375rem .75rem; margin-bottom: 0; font-size: 1em;font-weight: 400; line-height: 1.5; color: #495057;  text-align: center; white-space: nowrap; background-color: #e9ecef;}
.custom-file {position: relative; display: inline-block; width: 78%; height: calc(2.25rem + 2px); margin-bottom: 0;}
.custom-file-input { position: relative; z-index: 2; width: 100%; height: calc(2.25rem + 2px); margin: 0; opacity: 0;}
.custom-text-input{line-height: 35px; padding-left: 4%; width:96%}
.custom-file-label { position: absolute; top: 0; right: 0; left: 0; z-index: 1; height: calc(1.4rem + 2px); padding: .375rem .75rem; line-height: 1.5; color: #495057; background-color: #fff;}
label { display: inline-block; margin-bottom: .5rem;}
.custom-file-label:after { position: absolute; top: 0; right: 0; bottom: 0; z-index: 3; display: block; height: 2.4rem; padding: .375rem .75rem; line-height: 1.5; color: #495057; content: "Browse"; background-color: #e9ecef; border-left: 1px solid #ced4da; border-radius: 0 .25rem .25rem 0;}
.btn-primary{color: #fff; background-color: #007bff; border-color: #007bff; width:100%}
.honor-promotion p{ font-size:1.3em; text-align:center; font-family: 'proxima-semibold'; margin-top:20px; }
.honor-promotion .honor-share{ font-size:1.2em; text-align:center; width:110px; font-family: 'proxima-semibold'; border:1px solid #ced4da; color:#000; margin:0 auto; display:block; position:relative;}
.honor-promotion .honor-share:before{content:''; height: 22px;  width: 30px;  overflow: hidden;  display: inline-block;  text-align: left;  background: url(https://shop.gadgetsnow.com/pwa/img/share-icon.svg) no-repeat center 0; background-size: contain; position:absolute; left:5px; top:9px;}
.honor-promotion .honor-text{font-size:1.2em;}
.honor-promotion .final-tab img{max-width:90%;}
	
	
/*social sharing*/
.sharing-button{height:22px; width:30px; overflow:hidden; text-indent:-1000px; display:inline-block; text-align:left; background:url('../img/share-icon.svg') no-repeat center 0; background-size:contain;}
.social-sharing{ font-size:1.2em; padding:10px; position:fixed; opacity: 0; transform: scale(0); transition: opacity .3s ease-in,transfrom .3s ease-out; z-index:3; bottom:-50%; left:0; right:0; border:1px solid #f5f5f5; cursor:pointer; background:#fff}
.social-sharing.changePosition{bottom:0; opacity: 1; transform: scale(1, 1);}
.social-sharing ul{padding:10px;}
.social-sharing ul li{display:inline-block; width:23%; margin-top:34px; text-align:center;}
.whatsapp, .facebook, .email-icon, .gplus-icon, .twitter, .linkedin, .copytoclipboard{overflow:hidden; text-align:left; font-size:.7em; color:#000; position:relative;}
.sharing-close{height:22px; width:22px; overflow:hidden;  color:#c7c7c7; display:inline-block; text-align:left; }
.whatsapp:before{content:''; height:30px; width:30px; position:absolute;  background:url('https://shop.gadgetsnow.com/pwa/img/whatsapp.svg') no-repeat center 0; background-size:contain; top:-33px; left:15px;}
.facebook:before{content:'';height:30px; width:30px; position:absolute;  background:url('https://shop.gadgetsnow.com/pwa/img/facebook-logo.svg') no-repeat center 0; background-size:contain; top:-33px; left:12px;}
.email-icon:before{content:'';height:30px; width:30px; position:absolute;  background:url('https://shop.gadgetsnow.com/pwa/img/new-email-back-closed-envelope-symbol.svg') no-repeat center 0; background-size:contain; top:-33px; left:0px;}
.gplus-icon:before{content:'';height:30px; width:30px; position:absolute;  background:url('https://shop.gadgetsnow.com/pwa/img/google-plus.svg') no-repeat center 0; background-size:contain; top:-33px; left:7px;}
.twitter:before{content:'';height:30px; width:30px; position:absolute;  background:url('https://shop.gadgetsnow.com/pwa/img/twitter-logo-button.svg') no-repeat center 0; background-size:contain; top:-33px; left:4px;}
.twitter:before{content:'';height:30px; width:30px; position:absolute;  background:url('https://shop.gadgetsnow.com/pwa/img/twitter-logo-button.svg') no-repeat center 0; background-size:contain; top:-33px; left:4px;}
.linkedin:before{content:'';height:30px; width:30px; position:absolute;  background:url('https://shop.gadgetsnow.com/pwa/img/linkedin.svg') no-repeat center 0; background-size:contain; top:-33px; left:4px;}
.copytoclipboard:before{content:'';height:30px; width:30px; position:absolute;  background:url('https://shop.gadgetsnow.com/pwa/img/copy-two-rectangular-paper-sheets-interface-symbol.svg') no-repeat center 0; background-size:contain; top:-33px; left:13px;}
/*social sharing*/

.honor-container{background:#fff;}
.honor-container .honor-home img{margin-top:-6px;}
.honor-container .productWapperlist { padding: 10px 0;}
.author-container .author-articles {  font-size: 14px;  line-height: 20px;  color: #666;}
.author-container .author-articles ul li { margin: 0 10px; padding: 10px 0; border-bottom: 1px solid #d8d8d8;}
.author-container .author-articles ul li a { display: table;  width: 100%;}
.author-container .author-articles ul li a dfn { color: #333; font: 16px proxima-semibold;  line-height: 1.2;  display: block;}
.author-container .author-articles ul li .table-cell.rightline { position: relative;}
