.text-left{text-align:left;}
.text-left p{padding:5px 0}
.content { width: 96%;  margin: 0 auto;}
.knockoutheader{position:relative; text-align:center;}
.knockoutheader .knockouttimer {font-weight:bold; font-size:17px;  background:#f6f6f6; margin-top:5px; padding:5px 0;}
.knockoutheader .knockouttimer #getting-started{display:inline-block; }
.knockoutcontainer{width:100%; margin:0 auto; background:#fff; margin-bottom:10px;}
.sub-knockoutcontainer{overflow:hidden; width:100%; padding-top:10px;}
.knockoutcontainer h1, .sub-knockoutcontainer h2.knockheading, .sub-knockoutcontainer h3.keyheading{color:#000; margin:0px; padding:0px;}
.knockoutcontainer h1{font-size:16px; padding-left:10px;}
.heading{text-align:left;}
.sub-knockoutcontainer h2.knockheading{font-size:30px;}
.sub-knockoutcontainer h2.knockheading a{color:#000; text-decoration:none;}
.sub-knockoutcontainer h2.knockheading a:hover{text-decoration:underline;}
.sub-knockoutcontainer h4{font-size:20px; font-weight:100;}
.knockoutcontainer .knockoutrating .review{text-align:left; clear:both;}
.flt{float:left;}
.flr{float:right;}
.knockoutcontainer-one{width:100%; text-align:center; padding-left:1%}
.knockoutcontainer-one .clickimg{display:block; line-height:350px; height:350px;}
.knockoutcontainer-one .clickimg img{border:none;  vertical-align: middle;}
.knockout-note{font-size:12px; text-align:center; margin-top:20px;}
.knockoutcontainer-one .knockoutrating{overflow:hidden; width:62%; margin:0 auto 10px;}
.knockoutcontainer-one .knockoutrating .ratingtext{font-size:14px; line-height:24px; padding-right:5px;}
.knockoutcontainer-one .knockoutrating .rating{background: rgba(0, 0, 0, 0) url("https://www.shop.gadgetsnow.com/images/images/rating_bg.png") repeat-x scroll 0 -22px; width:110px;  display: block; height: 24px; margin: 0; text-indent: -5000px;}
.knockoutcontainer-one .knockoutrating .rating span{background: rgba(0, 0, 0, 0) url("https://www.shop.gadgetsnow.com/images/images/rating_bg.png") repeat-x scroll 0 1px; display: block; height: 24px; margin: 0; text-indent: -5000px;}
.knockoutcontainer-two{width:100%; text-align:center; padding-top:10px;}
.knockoutcontainer-two .knockout-tab{ overflow:hidden; margin-top:20px; padding-bottom:10px; border-bottom:1px dotted #999; }
.knockoutcontainer-two .knockout-tab .knockoutpricetab{width:100%; border-right:1px solid #a9a9a9}
.knockoutcontainer-two .knockout-tab .knockoutpricetab .knockoutofferprice{ font-size:30px; line-height:30px; display:inline-block; color:#135394; font-weight:bold;}
.knockoutcontainer-two .knockout-tab .knockoutpricetab .knockoutmrp{ font-size:17px; text-decoration:line-through; color:#666;  line-height:30px; display:block;}
.knockoutcontainer-two .knockout-tab .knockoutpricetab .knockoutsave{ font-size:14px; color:#f09601; font-weight:bold;}
.knockoutcontainer-two ul.enabler{width:100%; margin:0px; padding:0px 0 0 20px;}
.knockoutcontainer-two ul.enabler li{line-height: 30px; list-style-type: none; overflow: hidden; padding:0; font-size:12px; width:99%; text-align:left;}
.knockoutcontainer-two ul.enabler li span:last-child{padding-left:10px;}
.knockoutcontainer-two ul.enabler li span:first-child{background:url("/mobile/img/pdp-splite.png");  width: 45px; float:left;}
.knockoutcontainer-two ul.enabler li span.vendor{font-size: 13px; padding: 0 2px; background:0 0; font-weight:bold;}
.knockoutcontainer-two ul.enabler li span.hundredpersent{background-position: 6px -573px; font-size: 1.6em;}
.knockoutcontainer-two ul.enabler li span.emiava{background-position: 6px -407px; }
.knockoutcontainer-two ul.enabler li span.warranty{background-position: 6px -498px;}
.knockoutcontainer-two ul.enabler li span.delivetime{background-position: 6px -377px;}
.knockoutcontainer-two ul.enabler li span.shipping{background-position: 6px -437px;}
.vendor-desc{padding-left:6px !important;}
.knockoutcontainer-two h3.keyheading{margin:10px 0 0 10px; color:#000; font-size:18px; text-align:left; font-weight:100}

.knockoutcontainer-two .knockoutactiontab{}
.knockoutcontainer-two .knockoutactiontab .knockout-buybutton-show,.knockoutcontainer-two .knockoutactiontab .knockout-buybutton{text-align:center; width:100%; padding:10px 0}
.knockoutcontainer-two .knockoutactiontab .knockout-buybutton a{text-align:center; width:90%; margin:0 auto; display:block; line-height:40px; color:#fff; background:#f09601; text-decoration:none; font-weight:bold; font-size:16px;}
.knockoutcontainer-two .knockoutactiontab .knockout-buybutton-show span{text-align:center; width:90%; margin:0 auto; display:block; line-height:40px; color:#000; background:#f5f5f5; text-decoration:none; font-weight:bold; font-size:16px;}

.knockoutcontainer-two .mobilefeature{padding:0px; margin:20px 0 0 0; overflow:hidden; width:100%; text-align:left;}
.knockoutcontainer-two  .mobilefeature li{list-style:none; width: 100%; font-size:14px; line-height:20px; padding-top:5px; height:60px;}
.knockoutcontainer-two .mobilefeature li:before{content:''; background:url('/mobile/img/knockfeaturebg.png') no-repeat; list-style:none; width: 60px; height:50px; float:left; font-size:20px; line-height:20px; background-size: 50px 580px; margin-top:-5px;}
.knockoutcontainer-two .othersfeature li{height:auto; margin-left:5px; padding-top:0; overflow:hidden; line-height:26px;}
.knockoutcontainer-two .othersfeature li:before{content:'•'; background:none; list-style:none; width: 15px; line-height:34px; float:left; font-size:26px; } 
.knockoutcontainer-two .mobilefeature li.display:before{background-position:0px -34px;}
.knockoutcontainer-two .mobilefeature li.processor:before{background-position:0 -228px}
.knockoutcontainer-two .mobilefeature li.network:before{background-position:0 -22px}
.knockoutcontainer-two .mobilefeature li.memory:before{background-position:0 -292px}
.knockoutcontainer-two .mobilefeature li.camera:before{background-position:0 -175px}
.knockoutcontainer-two .mobilefeature li.battery:before{background-position:0 -361px}
.knockoutcontainer-two .mobilefeature li.android:before{background-position:0 -425px}
.knockoutcontainer-two .mobilefeature li.warranty:before{background: url(/mobile/img/pdp-splite.png) 6px -498px; height:40px}
.knockoutcontainer-two .mobilefeature li.ios:before{background-position:0 -484px}
.knockoutcontainer-two .knockoutactiontab{background-position:0 -406px}


.pricefont{font-family: "rupeesign";}
.productimg img{margin:20px;}
.displaynone{display:none;}
