.listing-head.table{width:100%; border-bottom:1px solid #eeeeee; margin-bottom:10px;}
.listing-head.table .table-cell{width:49.5%}
.listing-head.table .table-cell:first-child{border-right:1px solid #eeeeee}
.listing-head.table .table-cell a, .listing-head.table .table-cell select{line-height:40px; color:#000; display:block; height:40px;}
ul.product-list{overflow:hidden; width:100%;}
ul.product-list li{ border:1px solid #ede9e9; width:90%; box-shadow:0px 0px 10px  #ede9e9; -moz-box-shadow:0px 0px 10px  #ede9e9; list-style:none; margin:10px auto;}
ul.product-list li  a{margin:10px; color:#000}
ul.product-list li .product-img{ width:40%; float:left; text-align:center; height:160px;; line-height:160px;}
ul.product-list li .product-img .commingsoon{font-size:1.1em; color:#000; opacity:.5; top:0; left:0; right:0;}
ul.product-list li .product-img img{margin:10px;}
ul.product-list li .product-detail{ float:left; width:59%;}
ul.product-list li .product-detail .product-heading{ font-size:1.2em; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; width:100%; margin:20px 0 10px 0}
ul.product-list li .product-detail .product-price{ font-size:1.2em; width:100%; margin:20px 0 10px 0}
ul.product-list li .product-detail .special-offer{ color:#000; position:relative; padding-left:45px; line-height:50px; font-size:1.2em;}
ul.product-list li .product-detail .special-offer:before{ background:url('https://shop.gadgetsnow.com/pwa/img/splite.png'); content:''; height: 35px; display: inline-block; position: absolute; width: 40px; background-position: -1px -197px; margin:8px 0 0 -47px}

ul.product-list-option{overflow:hidden; width:90%; box-shadow:0px 0px 10px  #f5f1f1; -moz-box-shadow:0px 0px 10px  #f5f1f1; border:1px solid #f5f1f1; text-align:center; margin:0 auto 10px; background:#f5f1f1; padding-bottom:2px}
ul.product-list-option li{width:49%; list-style:none; background:#fff; height:300px; vertical-align: top; margin: 2px 0 0 2px; float:left;}
ul.product-list-option li  a{margin:3px; color:#000}
ul.product-list-option li .product-img{ width:100%; text-align:center; height:160px;; line-height:160px;}
ul.product-list-option li .product-img .commingsoon{font-size:1.1em; color:#000; opacity:.5; top:0; left:0; right:0;}
ul.product-list-option li .product-img img{margin:10px;}
ul.product-list-option li .product-detail{ width:100%;}
ul.product-list-option li .product-detail .rating-show{ margin:0 auto;}
ul.product-list-option li .product-detail .product-heading{ font-size:1.2em; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; text-align:center; width:100%; margin:10px 0 10px 0}
ul.product-list-option .product-detail .product-price{ font-size:1.2em; width:100%; margin:10px 0 10px 0; text-align:center}
ul.product-list-option .product-detail .special-offer{ color:#000; position:relative; padding-left:26px; line-height:50px; font-size:1.1em;}
ul.product-list-option .product-detail .special-offer:before{ background:url('https://shop.gadgetsnow.com/pwa/img/splite.png'); content:''; height: 35px; display: inline-block; position: absolute; width: 40px; background-position: -1px -197px; margin:8px 0 0 -47px}

/*filter */
.filterpage{background:#f0f0f0; position:fixed;  z-index:1; opacity: 0; /*transform: scaleY(0); transition: opacity .3s ease-in,transfrom .3s ease-out; */}
.filterpage-l2{background:#f0f0f0; position:fixed;  z-index:1; height:0; overflow:hidden;}
.filterpage .filterhead, .filterpage-l2 .filterhead{color:#fff; background:#09498a; line-height:4vh; height:4vh}
.filterpage .filterhead a, .filterpage-l2 .filterhead a{color:#fff; display:block; line-height:34px;}
.filterpage-l2 .filterhead a.arrow{padding-top:4px;}
.filteron{opacity: 1; transform: scale(1, 1); top:0; bottom:0; left:0; right:0;}
.filter-l2on{height:auto; top:0; bottom:0; left:0; right:0;}
.pricerang{ padding:4vh 0; background:#fff; height:17vh}
.filter-list{height: 80vh; overflow:scroll; margin-top:10px; background:#fff}
.filter-list-second ul{height: 80vh; overflow:scroll; background:#fff}
.filter-list li, .filter-list-second li{list-style:none;}
.filter-list li:first-child, .filter-list-second li:first-child{border-top:1px solid #d9d9d9;}
.filter-list li a,.filter-list-second li a{ line-height:40px; color:#4c4c4c; font-size:1.2em; padding:0 10px; border-bottom:1px solid #d9d9d9; display:block; position:relative; overflow:hidden;}
.filter-list li a .selected{color:green}
.filter-list li a:after{content:'\f105'; font-family: 'FontAwesome'; position:absolute; right:10px; font-size:.9em}
.filterapply, .filterdone{border-top:1px solid #d9d9d9; border-bottom:1px solid #d9d9d9; background:#fff; padding:1vh; line-height:4vh;}
.filterapply a, .filterdone a{width:100px; font-size:1.2em; display:block; margin:0 auto}
.filter-list-second li a.check:after{content:'\f14a'; color:#09498a; font-family: 'FontAwesome'; position:absolute; right:10px; font-size:.9em}
.filter-list-second li a.uncheck:after{content:''; width:13px; height:13px; margin-top:14px; border:1px solid #b2b2b2; font-family: 'FontAwesome'; position:absolute; right:10px; font-size:.9em}
.file_exists .filter-check-icon:before{content:'\f00c'; color:green}
.filteropen .filter-check-icon{display:none}
.file_exists .filter-check-icon{display:inline-block;}
/*filter */

.seocontianer { position: relative; padding:0;  margin-bottom: 10px;}
.seocontianer h1{font-size:1.2em}
.seocontianer .seocontent { height: 44px; line-height: 22px;}
.seocontianer .seoreadmore { display: block; text-align: right;}

.multi-range, .multi-range * { box-sizing: border-box; padding: 0; margin: 0; }
.multi-range { position: relative; width: 70% ; height:10px; margin: 100px auto 16px;}
.multi-range > hr { position: absolute; width: 100%; top: 50%; }
.multi-range > input[type=range] {  width: calc(100% - 16px);  position: absolute; bottom: 6px; left: 0;}
.multi-range > input[type=range]:last-of-type { margin-left: 16px; }
.multi-range > input[type=range]::-webkit-slider-thumb { transform: translateY(-18px); }
.multi-range > input[type=range]::-webkit-slider-runnable-track { -webkit-appearance: none; height: 0px; }
.multi-range > input[type=range]::-moz-range-thumb { transform: translateY(-18px); }
.multi-range > input[type=range]::-moz-range-track { -webkit-appearance: none; height: 0px; }
.multi-range > input[type=range]::-ms-thumb { transform: translateY(-18px); }
.multi-range > input[type=range]::-ms-track { -webkit-appearance: none; height: 0px; }
.multi-range:after { content:'₹' attr(data-ubound);  position: absolute; top: -90px; right:10px; white-space: nowrap;  display: block; padding: 0px 4px; margin: -1px 2px; text-align:center; height: 26px; width: auto; font-size: 1.6em; line-height: 26px;}
.multi-range:before { content:'₹' attr(data-lbound); position: absolute; top:-90px;  white-space: nowrap; display: block; padding: 0px 4px; margin: -1px 2px; text-align:center; height: 26px; width: 100px; left:-14px;  font-size: 1.6em; line-height: 26px;}
input[type=range] { -webkit-appearance: none; width: 100%; margin: 13.8px 0;}
input[type=range]:focus { outline: none;}
input[type=range]::-webkit-slider-runnable-track {width: 100%; height: 8.4px; cursor: pointer; box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; background: #3071a9; border-radius: 1.3px; border: 0.2px solid #010101;}
input[type=range]::-webkit-slider-thumb { box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; border: 1px solid #000000; height: 36px; width: 16px; border-radius: 3px; background: #ffffff; cursor: pointer; -webkit-appearance: none; }
input[type=range]:focus::-webkit-slider-runnable-track { background: #367ebd;}
input[type=range]::-moz-range-track { width: 100%;  height: 8.4px;  cursor: pointer;  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;  background: #3071a9;  border-radius: 1.3px;  border: 0.2px solid #010101;}
input[type=range]::-moz-range-thumb {  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;  border: 1px solid #000000;  height: 36px;  width: 16px;  border-radius: 3px;  background: #ffffff;  cursor: pointer;}
input[type=range]::-ms-track {  width: 100%;  height: 8.4px;  cursor: pointer;  background: transparent;  border-color: transparent;  color: transparent;}
input[type=range]::-ms-fill-lower {  background: #2a6495;  border: 0.2px solid #010101;  border-radius: 2.6px;  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;}
input[type=range]::-ms-fill-upper {  background: #3071a9;  border: 0.2px solid #010101;  border-radius: 2.6px;  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;}
input[type=range]::-ms-thumb {  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;  border: 1px solid #000000;  height: 36px;  width: 16px;  border-radius: 3px;  background: #ffffff;  cursor: pointer;  height: 8.4px;}
input[type=range]:focus::-ms-fill-lower {  background: #3071a9;}
input[type=range]:focus::-ms-fill-upper {  background: #367ebd;}

@media (max-width:360px){
input[type=range]{    margin: 44.8px 0;}
.multi-range:before {left: -25px;}
.filterpage .filterhead, .filterpage-l2 .filterhead{    line-height: 7vh; height: 6vh;}
.filter-list{height: 81vh;}
ul.product-list li .product-img img{max-width:81%}
ul.product-list-option .product-detail .product-price {
		font-size: 1em;
	}
}