/* author-container */
.fa-chevron-down:before { content: "\f078";}
.author-container{ margin-top:15px;}
.author-container .productShowlist{color:#000}
.author-container .author-header, .author-container .author-text{width:96%; margin-bottom:10px; padding:2%}
.author-container .author-header h1{ font-family: 'proxima-semibold'; font-size: 24px; line-height: 28px; color: #454545; margin-bottom: 6px;}
.author-container .author-header .designation { font-family: 'proxima-semibold'; font-style:italic;  font-size: 14px;  line-height: 1;  display: block;  color: #666; margin-bottom: 8px;}
.author-container .author-header  .image { float: right; height: 96px; margin-left: 10px;}
.author-container .author-text  p { font-size: 14px; line-height: 20px; color: #666;}
.author-container .author-articles { font-size: 14px; line-height: 20px; color: #666;}
.author-container .author-articles  .sort-articles{ position:absolute; right:2px; margin-top:-24px; height:20px;}
.author-container .author-articles  .sort-articles dl{ max-height:80px; border: 1px solid #c7c7c7; overflow-y: hidden; background: #fff;  position: absolute; width: 100px; right: 0; z-index:1; transition-property: all; transition-duration: .5s; transition-timing-function: cubic-bezier(0, 1, 0.5, 1);}
.author-container .author-articles  .sort-articles dl.closed{max-height:0; border:none;}
.author-container .author-articles  .sort-articles dl a{display:block; color:#666; line-height:24px; padding:0 5px;}
.author-container .author-articles  .sort-articles dl a.active{background:darkturquoise; color:#fff}
.author-container .author-articles  .sort-articles .filter-sort{cursor:pointer; display:block; line-height:28px; padding:0 10px;}
`.author-container .author-articles  .sort-articles .filter-sort .fa-chevron-down{color:#666;}
.author-container .author-articles ul li { margin: 0 10px;  padding: 10px 0;  border-bottom: 1px solid #d8d8d8;}
.author-container .author-articles ul li:last-child { border:none;}
.author-container .author-articles ul li a { display: table; width: 100%;}
.author-container .author-articles ul li a>span:first-child {padding-right: 5px;}
.author-container .author-articles ul li a>span {display: table-cell; vertical-align: middle;}
.author-container .author-articles ul li a dfn { color: #333;  font: 16px proxima-semibold; line-height: 1.2;  display: block;}
.author-container .author-articles ul li time, .author-container .author-articles ul  li span span { font-size: 12px; color: rgba(0,0,0,.6);  line-height: 10px;  display: inline-block;}
.author-container .author-articles ul li .table-cell.rightline{position:relative;}
.author-container .author-articles ul li .table-cell.rightline span{padding-right:10px;}
.author-container .author-articles ul li .table-cell.leftline time{padding-left:10px;}
.author-container .author-articles ul li .table-cell.rightline span:after{content:'|'; position:absolute; right:-1px; top:5px;}
.author-container .author-articles ul li a>span:last-child { width: 96px; vertical-align: top;  position: relative;}
.author-container .author-articles ul li a>span img { height: 71px;  display: block;}
.author-container .author-articles .seemore_btn{border: 1px solid #d8d8d8; display: block; width: 94%; padding: 10px 0; margin: 10px 3%; font-size: 13px; color: #135394; text-align: center; text-transform: uppercase;}
.author-container  .pageFind_btn{border: 1px solid #d8d8d8; background:#f1f1f1; display: block; clear:both; width: 150px; padding: 10px 0; margin: 10px auto; font-size: 16px; color: #135394; text-align: center; text-transform: uppercase;}
.author-container .about-text{font-size:16px; line-height:24px;}
.author-container .about-text p{padding:5px;}
.author-container .about-text h4{padding:10px 5px 0 5px;}
.articleloading .ptag {font-size:20px; font-family: 'proxima-semibold'; text-align:center; display:block; background:#f5f5f5; padding:10px 0}
.articleloading .loading-text{display:block; margin-top:10px; text-align:center; width:100%;}
.nextstory{border-top: 10px solid #222; margin: 20px -60px 25px; font-size: 15px; color: #ccc; text-align: center; position: relative; display:none;}
.nextstory:after{border-left: 7px solid transparent; border-right: 0 solid transparent; border-bottom: 10px solid #fff; content: ""; position: absolute;left: 73px;top: -10px;}
.nextstory:before{content: "Next Story"; color: #000; font-family: 'proxima-semibold',sans-serif; text-transform: uppercase; font-size: 16px; position: absolute; left: 80px; top: -12px; background: #fff; padding: 0 10px;}
.articleloading .nextstory{display:block;}
.articleloading{padding-top:20px;}
/* author-container */