/*paytm mall*/
.white{background:#fff;}
.mobile-store{overflow:hidden;}
.mobile-store h1{font-size:19px; margin:5px; font-weight: 500;}
.mobile-store h2{font-size:27px; padding-bottom:12px; font-weight: 500; padding-top:12px;}
.mobile-store p{font-size:14px;}
.mobile-text-head{padding:10px;}
.pricefont{font-family:rupeesign;}
.product-container-tab{width:48%;position:relative; padding:0 9px;}
.product-container-tab h3{color:#000; font-size:15px; font-weight: 500;   line-height: 1.1; margin-bottom: 10px;  margin-top: 20px; min-height:44px;}
.product-container-tab h3 a{color:#000; line-height:20px;}
.product-container-tab h4{font-size:16px}
.product-container-tab .col-lg-4{width:33%; position: relative;}
.product-container-tab .col-lg-8{width:60%;}
.product-container-tab .row{margin:0px;}
.product-container{width:89%; margin:10px auto;  background:#fff; border:1px solid #ccc;}
.product-container .thumbnail{display:table; width:100%;}
.product-container .thumbnail .row{display:table-row;}
.product-container .thumbnail .text-container, .product-container .thumbnail .img-container{display:table-cell; float:none;}
.product-container .thumbnail .text-container{vertical-align:top; width:80%}
.product-container .thumbnail .img-container{vertical-align:middle; width:40%;}
.product-container-tab .thumbnail .img-container{padding-top:20px;}
.product-container-tab .thumbnail .text-container{padding-left:20px;}
.product-container-tab .offerprice{color:#337ab7; font-size:22px; font-weight:bold;}
.product-container-tab .mrpprice{color:#000; font-size:13px; }
.product-container-tab .mrpprice .mrp-line-through{text-decoration:line-through;}
.product-container-tab .keyfeature {color:#000}
.product-container-tab .keyfeature .keyfeat{font-size:14px; padding-left:14px;}
.product-container-tab .keyfeature .keyfeat li{list-style:disc;} 
.product-container-tab .call-action-btn{margin:10px 0}
.product-container-tab .call-action-btn a{width:50%}
.product-container-tab .yousave{    background: #edca49;
    color: #000;  display: block; font-size: 15px; font-weight: 700; height: 40px; line-height: 15px; padding: 7px 0 0 2px; position: absolute;     right: 1px;  text-align: center;  top: 10px;  width: 41px; }
.product-container-tab .cashbackdiv{display: block;  border: 1px solid green;  padding: 0 5px; width:auto; background: lightgreen;  margin: 10px 0;  text-align: left;  float:left; font-size:14px;}
.product-container-tab .off{background: #edca49; color: #000; display: block; font-size: 15px; font-weight: 700; height: 40px; line-height: 15px; padding: 7px 0 0 2px; position: absolute; right: 1px; text-align: center; top: 1px; width: 41px;}
.product-container .buynow{background: #f09601; border-radius: 2px; color: #fff; cursor: pointer; padding: 6px 20px; text-align: center;}
.product-container .buynow .btn{color:#fff !important; font-size:16px;}
.product-container .img-container img{max-width:60%;}
/*paytm mall*/