#product-img-casousel{ text-align:center; height:300px; line-height:300px;}
input:not([type=radio]), select, textarea { width: 100%; border: solid 1px #c7c7c7;}
input:not([type=radio]), select, button { height: 35px;}
input, select, button, textarea { text-indent: 5px;}
.product-detail-tab{}
.product-detail-tab .product-detail{margin:10px;}
.product-detail-tab .product-detail h1{font-size:1.5em; text-align:left; font-weight:100; line-height:30px;}
.product-detail-tab .product-detail .product-rating {margin-top:10px;}
.product-detail-tab .product-detail .product-rating span{display:inline-block; position:relative}
.product-detail-tab .product-detail .product-rating span:first-child{background:#37be5f; color:#fff; width:36px; padding:1px 3px 1px 5px;}
.product-detail-tab .product-detail .product-rating span:first-child:after{content: "\f005"; font-family: FontAwesome; font-size:.6em; position:absolute; top:4px; right:6px;}
.owl-theme .owl-controls .owl-buttons div { color: #e5e5e5; display: inline-block;  zoom: 1;  display: inline;  margin: 5px;  padding: 0px 10px;  font-size: 3em;  text-align: center;  font-weight: bold;    filter: Alpha(Opacity=50);
opacity: 0.5;   z-index: 1;   position: absolute;   bottom: 0;   width: 3%;   text-shadow: 2px 1px 1px #fff;   -moz-text-shadow: 2px 1px 1px #fff;   -webkit-text-shadow: 2px 1px 1px #fff;}
.owl-theme .owl-controls .owl-buttons .owl-next { right: 0;}
.owl-theme .owl-controls .owl-buttons .owl-next:before{ content: "\f054"; font-family: FontAwesome;}
.owl-theme .owl-controls .owl-buttons .owl-prev { left: 0;}
.owl-theme .owl-controls .owl-buttons .owl-prev:before{ content: "\f053"; font-family: FontAwesome;}
.product-price, .product-del {margin:13px;}
.mh-4{height:52px;}
.product-price { line-height:40px;}
.product-price a{border:1px dashed rgba(32, 87, 146, 0.5);  padding:5px 6px}
.product-price .product-offer-price{font-size:1.6em; color:#000}
.product-price .product-mrp-price{font-size:1.1em; color:#b2b2b2; padding:0 8px; text-decoration:line-through;}
.product-price .product-off{font-size:1.3em; background:#135394; padding:0 5px; color:#fff}
.product-price .buy-gn-logo{background: url(https://static.toiimg.com/photo/88204186.cms) no-repeat scroll 0 15px / 100%;  width: 80px;  height: 40px;}
.product-price.amazon .buy-gn-logo{background: url(/mobile/img/azazon-logo.png) no-repeat; background-size:contain;  width: 76px;  height: 40px; background-position: 0 13px}
.product-price.paytm .buy-gn-logo{background: url(https://img1.gadgetsnow.com/gd/imgbn/pytm-mall.jpg) no-repeat; background-size:contain;  width: 65px;  height: 40px; background-position: 0 10px}
.product-price.tatacliq .buy-gn-logo{background: url(https://img1.gadgetsnow.com/gd/imgbn/tata-cliq-logo.jpg) no-repeat; background-size:contain;  width: 65px;  height: 40px; background-position: 0 10px}
.product-price.flipkart .buy-gn-logo{background: url(https://img1.gadgetsnow.com/gd/imgbn/flipkart.jpg) no-repeat; background-size:contain;  width: 65px;  height: 40px; background-position: 0 10px}
.product-price .buy-button button{width:90%; border-radius: 2px; padding: 5px 7px 5px 0; font-size: 14px; text-align:center;}
.product-price.paytm .buy-button button{width:80%; background:#ef4e28}
.product-price.tatacliq .buy-button button{width:80%; background:#ff1744}
.product-price.amazon .buy-button button{width:80%; background: rgba(0, 0, 0, 0) linear-gradient(#ff9f00, #e28d00) repeat scroll 0 0; }
.product-price.flipkart .buy-button button{width:80%; background:#ef4e28 }
.product-ship-tab{border-bottom:1px solid #e6e6e6; font-size:1em; color:#7f7f7f; margin-bottom:10px; padding-bottom:5px;}
.product-ship-tab .bord{border-right:1px solid #e6e6e6;}
.product-ship-tab  div{width:33%}
.product-ship-tab  div:first-child{color:#37be5f}
.product-del .delivery-info{ color:#37be5f; margin-top:5px;}
.product-del .delivery-info .gray{ color:#7f7f7f}
.compareProduct{color:#fff; background:#37be5f; line-height:40px;}
.product-offer-text{border-bottom:1px solid #e8e8e8;}
.product-offer-text ul li{list-style:none; border-bottom:1px solid #e8e8e8; color:#000;  padding-left:35px; position:relative ; padding-top:14px; min-height:40px;}
.product-offer-text ul li:before{content:''; background:url('https://shop.gadgetsnow.com/pwa/img/splite.png') no-repeat; height:50px; width:30px; position:absolute; background-position:-53px -189px; left:4px;top:0; }
.product-offer-text ul li:last-child{border:none;}
.product-offer-text ul li a{color:#06a4ff}
.product-variant {background:#f1f3f6; padding:10px;}
.product-variant .head{font-size:1em; margin-bottom:10px;}
.product-variant .head span{color:#2196fe;}
.product-variant ul li{list-style:none; display:inline-block; width:75px; height:95px; border:1px solid #e5e5e5; text-align:center; margin:5px;  padding:10px 10px 0; background:#fff; }
.product-variant ul li .variant-img{width:75px; height:75px;}
.product-variant ul li .variant-text{text-align:center; line-height:20px; color:#000; white-space: nowrap; font-size:.9em;}
.product-variant ul li.active{border-bottom:2px solid #2196fe; height:93px;}
.floating { position: fixed; background:#fff; z-index: 100;  top: 0;  left: 0;  right: 0; border-bottom: none !important; border-left: none !important; border-right: none !important; border-top: 1px solid #135394 !important;  margin: 0 auto 0;  padding: 8px 10px 8px !important; box-shadow: 0px 2px 5px #979696;}
.floating-banner{padding: 0; display: block; z-index: 100; position: fixed; top:56px; left:0; width:100%;}
.check-cod{padding:10px;}
.check-cod p { line-height: 32px; height: 32px; border-width: 1px 0px; border-color: #c7c7c7; border-style: solid; border-bottom: none; font-family: 'proxima-semibold';}
.check-cod .reponsdata { margin-bottom: 5px; margin-top: 5px;}
.check-cod form input.checkpin { border: 1px solid #c7c7c7;  height: 27px; width: 65%; padding-left: 2%; -webkit-appearance: none;}
.check-cod form input.checkpinbutton { width: 30%; background: #000; color: #fff; height: 29px; line-height: 25px; border: 1px solid #c7c7c7;  -webkit-appearance: none;}
.check-cod .deliverytime { display: block; font-size: 0.9em;}
.check-cod .deliverytime .deliverysettime {color: #37be5f; display: inline-block;}
.check-cod .vendor { margin-top: 5px;font-size: 1em; border-top: 1px solid #c7c7c7; padding: 8px 0; border-bottom: 1px solid #c7c7c7;}
.container .body-pdp .section-container-ui .product-container-bottom .check-cod .reponsdata li {list-style: none; line-height: 20px;}
.check-cod .reponsdata li span:before {content: "\f00c"; margin-right: 7px;  color: green; font-family: FontAwesome;}
.check-cod .reponsdata li #checkwallet {font-weight: 100; font-size: .9em;}
.check-cod .reponsdata li.pinchanglist {padding-left: 19px;}

.affiliate-section { border: 1px dashed rgba(32, 87, 146, 0.5);  display: block;  margin: 10px auto 20px;  padding: 10px;  width: 88%;}
.affiliate-section .table { width: 100%;}
.affiliate-section .buyatamazon { background: #f6f6f6 none repeat scroll 0 0; color: #454545; font-family: "proxima-semibold";  font-size: 12px;  margin-bottom: 5px;  padding: 2px 0 0 5px; text-transform: uppercase;}
.affiliate-section .buycashback {  text-align: left;  overflow:hidden;}
.affiliate-section .buycashback .cromaoffer{ display:block; font-size:14px; text-align:leeft; margin-top:8px; padding: 0 5px;}
.affiliate-section .buycashback div.flt{display: block; border: 1px solid green; float:left; padding: 0 5px; background: lightgreen;  text-align: center; color:#454545;}
.affiliate-section .pricetab {line-height: 40px; height: 40px; font-size: 1.3em; width: 24%;}
.affiliate-section .pricetab .pricemrp{font-size: 0.8em; color:#b2b2b2; text-decoration:line-through; font-family: 'proxima-regular1';}
.affiliate-section .pricetabsecond {line-height: 40px; height: 40px;  width: 18%;}
.affiliate-section .pricetabsecond  .table{width:100%;}
.affiliate-section .pricetabsecond  .table .brand-logo span{ background-size: contain; display: inline-block; vertical-align: middle; width: 80px;  margin-left: 15px; height:40px; background-repeat: no-repeat; background-position: center center;}
.affiliate-section.gnshop .pricetabsecond  .table .brand-logo span{ background: url(https://static.toiimg.com/photo/88204186.cms) 0px 6px no-repeat; background-size:60px; }
.affiliate-section.paytm .pricetabsecond  .table .brand-logo span{ background: url(https://img1.gadgetsnow.com/gd/imgbn/pytm-mall.jpg) 0px 4px no-repeat; background-size:contain; }
.affiliate-section.saregama .pricetabsecond  .table .brand-logo span{ background: url(https://img1.gadgetsnow.com/gd/imgbn/Sa_Re_Ga_Ma.jpg)  0px 4px no-repeat; background-size:contain; }
.affiliate-section.norton .pricetabsecond  .table .brand-logo span{ background: url(https://img1.gadgetsnow.com/gd/imgbn/Norton-Horizontal-Light-logo.png)  0px 6px no-repeat; background-size:contain; }
.affiliate-section.square .pricetabsecond  .table .brand-logo span{ background: url(https://img1.gadgetsnow.com/gd/imgbn/square_logo.jpg)  0px 4px no-repeat; background-size:contain; }
.affiliate-section.flipkart .pricetabsecond  .table .brand-logo span{ background: url(https://img1.gadgetsnow.com/gd/imgbn/flipkart.jpg) 0px 4px no-repeat; background-size:contain; }
.affiliate-section.amazon .pricetabsecond  .table .brand-logo span{ background: url(/mobile/img/azazon-logo.png) 0px 12px no-repeat; background-size:contain; }
.affiliate-section.tatacliq .pricetabsecond  .table .brand-logo span{ background: url(https://img1.gadgetsnow.com/gd/imgbn/tata-cliq-logo.jpg) 0px 12px no-repeat; background-size:contain; }
.affiliate-section.toogud .pricetabsecond  .table .brand-logo span{ background: url(https://img1.gadgetsnow.com/gd/imgbn/flippkar-2gud-n.jpg) 0px 12px no-repeat; background-size:contain; }
.affiliate-section .buy-button-affiliate {width: 100%; display: block; line-height: 38px; height: 38px; text-align: center;  color: #000; font-size: 1.01em;}
.affiliate-section.gnshop .buy-button-affiliate { border: 1px solid #fb9208; color: #fff; background: #fb9208}
.affiliate-section.paytm .buy-button-affiliate { border: 1px solid #ef4e28; color: #fff; background: #ef4e28}
.affiliate-section.saregama .buy-button-affiliate { border: 1px solid #ef4e28; color: #fff; background: #ef4e28}
.affiliate-section.norton .buy-button-affiliate { border: 1px solid #ef4e28; color: #fff; background: #fb9208}
.affiliate-section.quickheal .buy-button-affiliate { border: 1px solid #ef4e28; color: #fff; background: #fb9208}
.affiliate-section.quickheal .pricetabsecond  .table .brand-logo span{ background: url(https://img1.gadgetsnow.com/gd/imgbn/Quickheal200x150.jpg)  0px 4px no-repeat; background-size:contain; }
.affiliate-section.uag .buy-button-affiliate { border: 1px solid #ef4e28; color: #fff; background: #fb9208}
.affiliate-section.uag .pricetabsecond  .table .brand-logo span{ background: url(https://img1.gadgetsnow.com/gd/imgbn/uag_logo.jpg)  0px 4px no-repeat; background-size:contain; }
.affiliate-section.oneplus .buy-button-affiliate { border: 1px solid #ef4e28; color: #fff; background: #fb9208}
.affiliate-section.oneplus .pricetabsecond  .table .brand-logo span{ background: url(https://img1.gadgetsnow.com/gd/imgbn/Onepluslogo300x250.jpg)  0px 4px no-repeat; background-size:contain; }
.affiliate-section.nokia .buy-button-affiliate { border: 1px solid #ef4e28; color: #fff; background: #fb9208}
.affiliate-section.nokia .pricetabsecond  .table .brand-logo span{ background: url(https://img1.gadgetsnow.com/gd/imgbn/Nokia_wordmark.svg.png)  0px 4px no-repeat; background-size:contain; }
.affiliate-section.vijaysales .buy-button-affiliate { border: 1px solid #ef4e28; color: #fff; background: #fb9208}
.affiliate-section.vijaysales .pricetabsecond  .table .brand-logo span{ background: url(https://img1.gadgetsnow.com/gd/imgbn/VJLogo200x150.jpg)  0px -5px no-repeat; background-size:100%; }
.affiliate-section.amd .buy-button-affiliate { border: 1px solid #ef4e28; color: #fff; background: #fb9208}
.affiliate-section.amd .pricetabsecond  .table .brand-logo span{ background: url(https://img1.gadgetsnow.com/gd/imgbn/AMD-Logo.jpg)  0px -5px no-repeat; background-size:100%; }

.affiliate-section.oneplus .buy-button-affiliate { border: 1px solid #ef4e28; color: #fff; background: #fb9208}
.affiliate-section.oneplus .pricetabsecond  .table .brand-logo span{ background: url(https://img1.gadgetsnow.com/brlg/oneplus.png)  0px 6px no-repeat; background-size:100%; }
.affiliate-section.tekkitake .buy-button-affiliate { border: 1px solid #ef4e28; color: #fff; background: #fb9208}
.affiliate-section.gernal .buy-button-affiliate { border: 1px solid #ef4e28; color: #fff; background: #fb9208}
.affiliate-section.tekkitake .pricetabsecond  .table .brand-logo span{ background: url(https:////img1.gadgetsnow.com/brlg/tekkitake_2.jpeg) 0px -10px no-repeat; background-size:100%; }


.affiliate-section.ifihomes .buy-button-affiliate { border: 1px solid #ef4e28; color: #fff; background: #fb9208}
.affiliate-section.ifihomes .pricetabsecond  .table .brand-logo span{ background: url(https://img1.gadgetsnow.com/gd/imgbn/ifihomes.png)  0px -5px no-repeat; background-size:100%; }
.affiliate-section.croma .buy-button-affiliate { border: 1px solid #ef4e28; color: #fff; background: #fb9208}
.affiliate-section.croma .pricetabsecond  .table .brand-logo span{ background: url(https://img1.gadgetsnow.com/gd/imgbn/croma.jpg)  0px 5px no-repeat; background-size:100%; }
.affiliate-section.square .buy-button-affiliate { border: 1px solid #ef4e28; color: #fff; background: #fb9208}
.affiliate-section.flipkart .buy-button-affiliate { border: 1px solid #ef4e28; color: #fff; background: #ef4e28}
.affiliate-section.toogud .buy-button-affiliate { border: 1px solid #ef4e28; color: #fff; background: #ef4e28}
.affiliate-section.tatacliq .buy-button-affiliate { border: 1px solid #ff1744; color: #fff; background: #ff1744}
.affiliate-section.amazon .buy-button-affiliate { background: #fb9208; color:#fff; border: 1px solid #ef4e28}


.keyfeature {background: #f1f3f6; padding:10px 0;}
.keyfeature .keyfeatures-list {padding: 1% 0 1% 7%; margin:10px;}
.keyfeature .keyfeatures-list li{font-size: 1.1em; list-style-type: disc; line-height: 1.6em;}
.product-summary, .full-specifications{margin-top:10px;}
.product-summary .summary-text, .full-specifications .specifications-text{color:#454545; height:150px; position:relative; margin:10px; line-height:21px; font-size:1.1em;}
.product-summary .summary-text p{ margin:5px 0 10px;}
.product-summary .summary-text ul{padding-left:18px;}
.product-summary .summary-text ul li{list-style:disc;}


.outofstock{padding:10px; font-size:1.1em;}
.outofstock >p{padding:10px 0;}
.outofstock .messge{margin:0 0 10px 0}
.outofstock .messge span{color:#37be5f;}
.outofstock .notifyinput{margin:10px 0}
.outofstock .notifybutton {background-color:#5bc0de; color:#fff; border-color:#46b8da;}

/*social sharing*/
.sharing-button{height:22px; width:30px; overflow:hidden; text-indent:-1000px; display:inline-block; text-align:left; background:url('https://img1.gadgetsnow.com/gd/imgbn/share-icon.svg') no-repeat center 0; background-size:contain;}
.social-sharing{ font-size:1.2em; padding:10px; position:fixed; opacity: 0; transform: scale(0); transition: opacity .3s ease-in,transfrom .3s ease-out; z-index:3; bottom:-50%; left:0; right:0; border:1px solid #f5f5f5; cursor:pointer; background:#fff}
.social-sharing.changePosition{bottom:0; opacity: 1; transform: scale(1, 1);}
.social-sharing ul{padding:10px;}
.social-sharing ul li{display:inline-block; width:23%; margin-top:34px; text-align:center;}
.whatsapp, .facebook, .email-icon, .gplus-icon, .twitter, .linkedin, .copytoclipboard{overflow:hidden; text-align:left; font-size:.7em; color:#000; position:relative;}
.sharing-close{height:22px; width:22px; overflow:hidden;  color:#c7c7c7; display:inline-block; text-align:left; }
.whatsapp:before{content:''; height:30px; width:30px; position:absolute;  background:url('https://img1.gadgetsnow.com/gd/imgbn/whatsapp.svg') no-repeat center 0; background-size:contain; top:-33px; left:15px;}
.facebook:before{content:'';height:30px; width:30px; position:absolute;  background:url('https://img1.gadgetsnow.com/gd/imgbn/facebook-logo.svg') no-repeat center 0; background-size:contain; top:-33px; left:12px;}
.email-icon:before{content:'';height:30px; width:30px; position:absolute;  background:url('https://img1.gadgetsnow.com/gd/imgbn/new-email-back-closed-envelope-symbol.svg') no-repeat center 0; background-size:contain; top:-33px; left:0px;}
.gplus-icon:before{content:'';height:30px; width:30px; position:absolute;  background:url('https://img1.gadgetsnow.com/gd/imgbn/google-plus.svg') no-repeat center 0; background-size:contain; top:-33px; left:7px;}
.twitter:before{content:'';height:30px; width:30px; position:absolute;  background:url('https://img1.gadgetsnow.com/gd/imgbn/twitter-logo-button.svg') no-repeat center 0; background-size:contain; top:-33px; left:4px;}
.twitter:before{content:'';height:30px; width:30px; position:absolute;  background:url('https://img1.gadgetsnow.com/gd/imgbn/twitter-logo-button.svg') no-repeat center 0; background-size:contain; top:-33px; left:4px;}
.linkedin:before{content:'';height:30px; width:30px; position:absolute;  background:url('https://img1.gadgetsnow.com/gd/imgbn/linkedin.svg') no-repeat center 0; background-size:contain; top:-33px; left:4px;}
.copytoclipboard:before{content:'';height:30px; width:30px; position:absolute;  background:url('https://img1.gadgetsnow.com/gd/imgbn/copy-two-rectangular-paper-sheets-interface-symbol.svg') no-repeat center 0; background-size:contain; top:-33px; left:13px;}
/*social sharing*/

/*cashify*/
.cashify-container{padding:10px 25px; display:block; text-align:center;}
.cashify-container .cashify-heading{text-align:center; font-size:18px; color:#828278; margin-bottom:10px;}
.cashify-container ul{background:#f2f2f2; overflow:hidden; padding:5px; margin:0 auto;}
.cashify-container ul li{float:left; width:46.9%;  padding:3px; list-style:none;}
.cashify-container ul li a{display:block; color:#555; background:#fff; overflow:hidden; box-shadow:5px 5px 5px #ebebeb; border:1px solid #f3f3f3; padding-bottom:25px;}
.cashify-container ul li a .cashify-tab{display:block; width:100%;}
.cashify-container ul li a .cashify-tab .cashify-img{text-align:center; width:100%; line-height:100px; height:100px;}
.cashify-container ul li a .cashify-tab .cashify-img img{max-height:100%;}
.cashify-container ul li a .cashify-tab .cashify-name{font-size:16px; color:#000; text-align:center; width:100%;}
.cashify-container .cashify-footer{width:100%; text-align:right; overflow:hidden; margin-top:24px;}
.cashify-container .cashify-footer .cashify-sellnow{width:109px; line-height:36px; background:#ffbd21; border-radius:2px; color:#fff; text-align:center; font-size:16px;margin:0 auto; display:block;}
.cashify-container .cashify-poweredby{text-align:center; font-size:14px; line-height:36px; overflow:hidden; margin:10px auto 0; width:82%;}
.cashify-container .cashify-footer .cashify-poweredby span{ float:left; line-height:42px; padding-left:10px;}
/*cashify*/

/* compare */
.compareSelection{background:#f1f3f6; padding:16px;}
.compareSelection .compareTitle{font-size:1.2em;}
.compareSelection .compareSearch{ margin-top:10px; line-height: 35px; border: solid 1px #c7c7c7; padding-left:5px; background:#fff; color:#666}
.comparepdpform .compare-form{display:block;}
.comparepdpform .compare-form .brandlist, .comparepdpform  .compare-form .modellist { display: none;}
.comparepdpform .compare-form .brandlist.active, .comparepdpform .compare-form .modellist.active { display: block;}
/* compare */

/* Question and Answer */
.question-section { margin:10px 0; }
.question-section form {width:95%; margin:0 auto; padding-left:25px; background:#f1f3f6; padding:8px;}
.question-section form[name=customerQuestion] textarea, .question-section form[name=customerComment] textarea{min-height:50px;}
.question-section form[name=customerQuestion] .customerQuestionReponse, .question-section form[name=customerComment] .replyReponse, .customercommentmsg{font-size:16px;}
.question-section form[name=customerQuestion] .success, question-section form[name=customerComment] .success{margin-bottom:10px;}
.question-section form[name=customerQuestion] .text-right, .question-section form[name=customerComment] .text-right{text-align:right;}
.question-section form[name=customerQuestion] button,.question-section form[name=customerComment] button{width:40%; background:#f09601; line-height:36px; cursor:pointer; color:#fff; display:inline-block; text-align:center; border:1px solid #555; border-radius:2px;}
.question-section dl{border:1px solid #c7c7c7; width:95%; margin:20px auto 0; border-radius:2px;}
.question-section dl dt{font-family:proxima-semibold; font-size:16px; padding:5px; margin-top:5px;}
.question-section dl dd{font-family:proxima-regular1; font-size:16px; padding:5px; margin-left:21px;}
.question-section dl dd:before{content: "A:"; display: block; width: 21px; position: absolute; margin-left: -19px; font-family:proxima-semibold;}
.question-section dl dd.comm:before{content: " ";}
.question-section .answer-box{ }
.table{display:table;}
.question-box .table{width:100%;}
.question-box{display:none;}
.question-box:nth-child(1){display:block;}
.question-box .table span{line-height:20px; font-size:12px; color:#555;}
.question-box .table .answer-name{border-right:1px solid #c7c7c7; padding-right:10px; display:inline-block;}
.question-box .table .answer-date{padding-left:10px;}
.question-box .commnettext{line-height:24px; font-family:proxima-semibold;}
.question-box .leavecomment{color:#0066c0; line-height:32px; text-align: left; padding-left:25px; }
.question-box .buttontab{padding:10px 0}
.question-box .buttontab span, .question-box .buttontab button{width:40%; background:#eff1f3; line-height:36px; cursor:pointer; color:#000; display:inline-block; text-align:center; border:1px solid #555; border-radius:2px;}
.question-box .buttontab button{margin-left:5%; background:#f09601; color:#fff;}
.question-box  .success{margin:10px 0 10px 24px; font-size:13px; width:90%}
.moreanswer{text-align: center; width: 86%; background: #cdd7de; margin-left: 24px; color: #000; line-height: 24px;}
.question-section dl a.readmore{display:block; text-align:center; color:#666; font-size:12px; padding:5px; background:#f3f2f1; line-height:20px;}
/* Question and Answer */


.rating-container{width:150px;  margin:10px auto; font-size:16px; }
.rating-container div:first-child{ color: #666; margin-right:5px;}
.rating-show{text-align:center; position:relative; width:100px;}
.rating-given{position:absolute; z-index:1; top:0; text-align:center; overflow:hidden;}
.rating-given div{width:100px;}
.totalratings{font-size:16px; color:#666;clear:both; padding:5px 0 12px 0; text-align:center;}
.rating-show span:before, .rating-given span:before {  position: relative; font-family: FontAwesome; float:left; margin-left:2px; content: "\f005"; color: #ccc; font-size:19px; background: -webkit-linear-gradient(-45deg, #d9d9d9 0%, #b3b3b3 100%); -webkit-background-clip: text; -webkit-text-fill-color: transparent;}
.rating-given span:before{color: #f68220; background: -webkit-linear-gradient(-45deg, #fcb551 0%, #d69a45 100%); -webkit-background-clip: text; -webkit-text-fill-color: transparent;}
.rating-review .rating-tab{ background:#f1f3f6; width:100%; }
.rating-review .rating-tab li{display:inline-block; font-size:15px; line-height:40px; text-align:center; cursor:pointer; padding-left:10px; font-family: 'proxima-semibold';}
.rating-review .rating-tab li.active{background:#fff;}
.rating-review .write, .rating-review .read{width:96%; padding:2%;}
.rating-review .write{}
.rating-review .read{}
.read .reviewhead{display:table; width:100%}
.read .reviewhead > div:first-child, .read .reviewhead > div:last-child{display:table-cell;}
.read .reviewhead > div:first-child{font-size:35px; width:25%; text-align:center; color:#999}
.read .reviewhead > div:last-child{font-size:14px;}
.read .reviewhead > div:last-child .ratingtext{clear:both; display:block; font-size:12px;}
.read .reviewhead > div:last-child .rating-show{margin:10px 0 0 0; width:80px;}
.read .reviewhead > div:last-child .rating-show span:before, .read .reviewhead > div:last-child .rating-given span:before{font-size:12px;}
.rating { unicode-bidi: bidi-override; direction: rtl; width:128px; margin-top:10px;}
.reviewshow .userreview{display:block; margin:10px 0; border-bottom:1px solid #999; padding:10px 10px}
.reviewshow  > div.userreview:last-child{border-bottom:none;}
.reviewshow .userreview .reviewtitle{font-size:16px; font-weight:bold; display:block; margin-bottom:5px;}
.reviewshow .userreview .review div{display:inline-block;}
.reviewshow .userreview .review .userrating{width:30px; background:#7abf3d; color:#fff; text-align:center}
.reviewshow .userreview .review .username{width:100%; margin:5px 0 10px 0; display:block;}
.reviewshow .userreview .reviewdetails{width:100%; margin:5px 0 10px 0; display:block; max-height:97px; overflow:hidden;}
.reviewshow{display:none;}
.reviewshow:nth-child(2){display:block;}
.rating-tab-open a.readmore{display:block; text-align:center; color:#666; font-size:12px; padding:5px; background:#f3f2f1; line-height:20px;}
.rating input { position: absolute; left: -999999px;}
.rating label { display: inline-block; font-size: 0;}
.rating > label:before {  position: relative; font-family: FontAwesome; display: block; content: "\f005"; color: #ccc; font-size:20px; background: -webkit-linear-gradient(-45deg, #d9d9d9 0%, #b3b3b3 100%); -webkit-background-clip: text; -webkit-text-fill-color: transparent;}
/*.rating > label:hover:before,
.rating > label:hover ~ label:before, */
.rating > label.selected:before,.rating > label.selected ~ label:before { color: #f68220; background: -webkit-linear-gradient(-45deg, #fcb551 0%, #d69a45 100%); -webkit-background-clip: text; -webkit-text-fill-color: transparent;}
textarea { min-height: 90px;}
.field-wrapper { width: 99%; padding: 5px 0;  margin: auto;}
.flat-orange { background-color: #135394; min-width: 100px; font-size: 1.01em; color: #ffffff; -webkit-appearance: none;}
/* news widgets css start*/
.trendin_news{margin:15px 0;padding-bottom:15px}.trendin_news .article_sub_head{font-size:16px;text-align:left;text-transform:uppercase;margin-bottom:10px}.trendin_news .trendin_news_list{list-style:none;padding:8px 15px 0}.trendin_news .trendin_news_list li{line-height:1.43;margin-bottom:22px;font-weight:700;padding-left:44px;position:relative;font-size:14px}.trendin_news .trendin_news_list li:last-child{margin-bottom:0}.trendin_news .trendin_news_list li a{text-decoration:none;color:inherit}.trendin_news .trendin_news_list li:after{content:attr(data-list);background:linear-gradient(64deg,orange 71%,transparent 0);height:24px;line-height:24px;top:5px;left:0;width:28px;position:absolute;padding-left:4px;color:#fff;border-radius:4px;font-size:.8em;font-style:italic}
 
/*news widgets css end*/
/* Similar Products*/


.similarCont {
	 position: relative;
	 margin-top: 20px;
}

 .similarCont .simil_product_list {
	 white-space: nowrap;
	 border: 1px solid #e2e2e2;
	 overflow-x: scroll;
	 margin-top: 16px;
}
 .similarCont .simil_product_list a {
	 display: inline-block;
	 border-right: 1px solid #e2e2e2;
	 width: 170px;
	 padding: 20px 10px;
	 text-align: center;
}
 .similarCont .simil_product_list a:last-child {
	 border: none;
}
 .similarCont .simil_product_list a .sim_img {
	 display: inline-block;
	 width: 100%;
	 height: 100px;
	 line-height: 100px;
}
 .similarCont .simil_product_list a .sim_img img {
	 max-width: 90%;
	 max-height: 85px;
	 vertical-align: middle;
}
 .similarCont .simil_product_list a .sim_txt {
 	 white-space: normal;
	 font-size: 16px;
	 height: 40px;
	 line-height: 20px;
	 color: #1a1a1a;
	 -webkit-line-clamp: 2;
	 display: -webkit-box;
	 -webkit-box-orient: vertical;
	 overflow: hidden;
	 text-overflow: ellipsis;
	 margin-top: 15px;
	 width:100%;
}
.similarCont .simil_product_list a .sim_price{
	font-size:20px;
	color:#1a1a1a;
	margin-top:4px;
}
 /*** Similar Products end */
 /**** Price under Widget */
 .pdp-pricefiltertab{width:100%; margin-top:16px;}
.pdp-pricefiltertab .pricelist{width:100%; margin: 16px 0px 16px 16px; overflow:scroll; white-space:nowrap;}
.pdp-pricefiltertab .pricelist a{display:inline-block;  padding:16px; margin-right:10px; text-decoration:none; text-align:center; border:1px solid #999;}
.pdp-pricefiltertab .pricelist a span{display:block; color:#1a1a1a;}
.pdp-pricefiltertab .pricelist a span:first-child{text-transform:uppercase;}
 /**** Price under Widget end */
/* disclaimer */
.disclaimer{ padding:8px 16px; color:#1a1a1a; overflow:hidden; border-bottom:1px solid #eee; margin-bottom:12px;}
.disclaimer .info{border:2px solid #595959; width:16px; line-height:16px; font-size:14px; border-radius:100%; text-align:center; margin-right:10px;}
.disclaimer .infotext{font-size:14px; line-height:16px; width: calc(100% - 35px);}