*{margin:0px; padding:0px; border:0; outline:none;}
ul{list-style:none;}
/* common css*/
.container { max-width: 750px; width:100%; margin:0 auto;}
@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fa-solid-900.eot?v=4.2.0');
  src: url('../fonts/fa-solid-900.eot?#iefix&v=4.2.0') format('embedded-opentype'), url('../fonts/fa-solid-900.woff?v=4.2.0') format('woff'), url('../fonts/fa-solid-900.ttf?v=4.2.0') format('truetype'), url('../fonts/fa-solid-900.svg?v=4.2.0#proximanovaregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'proxima-semibold';
  src: url('../fonts/proximanova-semibold.eot?v=4.2.0');
  src: url('../fonts/proximanova-semibold.eot?#iefix&v=4.2.0') format('embedded-opentype'), url('../fonts/proximanova-semibold.woff?v=4.2.0') format('woff'), url('../fonts/proximanova-semibold.ttf?v=4.2.0') format('truetype'), url('../fonts/proximanova-semibold.svg?v=4.2.0#proximanovasemibold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'proxima-regular1';
  src: url('../fonts/proxima_nova_regular_1.eot');
  src: url('../fonts/proxima_nova_regular_1.eot?#iefix') format('embedded-opentype'), url('../fonts/proxima_nova_regular_1.woff') format('woff'), url('../fonts/proxima_nova_regular_1.ttf') format('truetype'), url('../fonts/proxima_nova_regular_1.svg') format('svg');
}
@font-face {
  font-family: 'Samsung Sharp Sans Bold';
  src: url('//db.onlinewebfonts.com/t/03fe5644d1605049951f58ca7961c33f.eot');
  src: url('//db.onlinewebfonts.com/t/03fe5644d1605049951f58ca7961c33f.eot?#iefix')
      format('embedded-opentype'),
    url('//db.onlinewebfonts.com/t/03fe5644d1605049951f58ca7961c33f.woff2')
      format('woff2'),
    url('//db.onlinewebfonts.com/t/03fe5644d1605049951f58ca7961c33f.woff')
      format('woff'),
    url('//db.onlinewebfonts.com/t/03fe5644d1605049951f58ca7961c33f.ttf')
      format('truetype'),
    url('//db.onlinewebfonts.com/t/03fe5644d1605049951f58ca7961c33f.svg#Samsung Sharp Sans Bold')
      format('svg');
}
.bold{font-family: 'proxima-semibold';}
a{text-decoration:none; color:#135394}
a.category{text-decoration:none; color:#020c17}
:before, :after { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
body{margin:0;padding:0; font-family: 'proxima-regular1'; font-size:0.875em; /* 14px/16=0.875em */}
.adoff .adcode, .euuser .adcode{display:none!important}
/*.adon .adcode{display:block!important} */
.logoutUser a{color:red !important;}
a:focus, *{outline: none; -webkit-tap-highlight-color: rgba(0,0,0,0);}
.fa{font-family:'FontAwesome'; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; font-style:normal; font-weight:100;}
.fa-shopping-cart:before{content:"\f07a";}
.fa-search:before{content:"\f002";}
.fa-user-circle:before{content:"\f007"; }
.fa-user-circle-o:before{content:"\f2bd";}
.fa-location-arrow:before{content:"\f124";}
.rp:before{content: '\20b9';}
.fa-sort-amount-desc:before{content: '\f161';}
.fa-filter:before{content: '\f0b0';}
.check-right:before{content:"\f00c"; font-family:'FontAwesome';}
.bold{ font-family: 'proxima-semibold';}
.row {overflow:hidden}
.col-sm-1, .col-sm-1, .col-md-1, .col-lg-1, .col-sm-2, .col-sm-2, .col-md-2, .col-lg-2, .col-sm-3, .col-sm-3, .col-md-3, .col-lg-3, .col-sm-4, .col-sm-4, .col-md-4, .col-lg-4, .col-sm-5, .col-sm-5, .col-md-5, .col-lg-5, .col-sm-6, .col-sm-6, .col-md-6, .col-lg-6, .col-sm-7, .col-sm-7, .col-md-7, .col-lg-7, .col-sm-8, .col-sm-8, .col-md-8, .col-lg-8, .col-sm-9, .col-sm-9, .col-md-9, .col-lg-9, .col-sm-10, .col-sm-10, .col-md-10, .col-lg-10, .col-sm-11, .col-sm-11, .col-md-11, .col-lg-11, .col-sm-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative; min-height: 1px;}
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {  float: left; }
.col-sm-12 {  width: 100%;}.col-sm-11 { width: 91.66666667%;}.col-sm-10 {width: 83.33333333%;}.col-sm-9 { width: 75%;}.col-sm-8 {width: 66.66666667%;}.col-sm-7 {width: 58.33333333%;}.col-sm-6 { width: 50%;}.col-sm-5 { width: 41.66666667%;}.col-sm-4 {width: 33.33333333%;}.col-sm-3 {width: 25%;}.col-sm-2 { width: 16.66666667%;}.col-sm-1 {width: 8.33333333%;}
.flt{float:left;}
.frt, .flr{float:right;}
.clr{clear:both;}
.display-block{display:block}
.display-none{display:none}
.display-inline{display:inline-block}
.table{display:table}
.table-row{display:table-row}
.table-cell{display:table-cell}
.w100{width:100%}
.v-align-top{vertical-align:top}
.v-align-middle{vertical-align:middle}
.v-align-bottom{vertical-align:bottom}
.img{max-width:100%; max-height:100%;}
.text-left{text-align:left;}
.text-right{text-align:right;}
.text-center{text-align:center;}
.text-justify{text-align:justify;}
.relative{position:relative;}
.absolute{position:absolute;}
.fixed-position{position:fixed;}
.overlay{background-color:#000; opacity:.5; position:fixed; left:0; right:0; top:0; bottom:0; z-index:2}
.overlaywhite{background-color:rgba(255, 255, 255, 0.7); position:fixed; left:0; right:0; top:0; bottom:0; z-index:2; text-align:center;}
.loading{position: absolute; right: 0; bottom: 0; left: 0; top: 0;}
.loading img{top:50%; position: absolute; left:43%;}
.border-bottom{border-bottom:1px solid #c7c7c7;}
.capitalize{text-transform:capitalize}
.uppercase{text-transform:uppercase}
.fw-100{font-weight:100;}
.overflowhidden{overflow:hidden}
.headeradslot{ padding:8px 0; width:100%; background:#f6f6f6;}
.footeradslot{height:50px; width:100%; position:fixed; bottom:0; background:#f6f6f6; padding:8px 0;}
.promoted-ads{padding:16px 0 8px; text-align:center; position:relative;}
.promoted-ads:before{position:absolute;content:'advertisement'; display:inline-block; font-size:12px; top:0;left:0; opacity:0.5; width:100%; text-align:center;}
.btn-color-red{background-color:#da0000; color:#fff}
.btn-color-blue{background-color:#135394; color:#fff}
.btn-color-black-blue{background-color:#002043; color:#fff}
.btn-color{background-color:#fb9208; color:#fff}
.btn-info{background-color:#5bc0de; color:#fff}
.btn-color-grey{background-color:#c7c7c7; color:#fff}
.btn{border-radius:2px; line-height:30px; padding:5px 10px; font-size:.9em}
.ft-7{font-size:.7em}
.pdt-10{padding-top:10px}
.mg-10{margin-top:10px}
.pdt-15{padding-top:15px}
.pdt-20{padding-top:20px}
.border-radius-5{border-radius:5px;}
.widgets-one-products, .widgets-four-products, .widgets-banner{padding:10px;}
.white-space{white-space:nowrap}
.widgets-four-products{background:#f1f3f6;}
.widgets-one-products .widgets-heading, .widgets-four-products .widgets-heading, .widgets-gadgets .widgets-heading, .brand-widgets-tab .widgets-heading, .widgets-banner .widgets-heading{ color:#000; font-size:1.5em; line-height:45px;}
.widgets-one-products .product-loop{border:1px solid #ede9e9; margin:0 10px 0 0; width:273px;}
.widgets-one-products .widgets-loop .product-img, .widgets-four-products .widgets-loop .product-img{ line-height:145px; padding:15px; height:145px}
.widgets-one-products .widgets-loop .product-img img, .widgets-four-products .widgets-loop .product-img img{vertical-align:middle;}
.widgets-one-products .widgets-loop .product-detail{border-top:1px solid #ede9e9; padding:0 15px 15px;}
.widgets-one-products .widgets-loop .product-detail .product-price,.widgets-four-products .widgets-loop .product-detail .product-price{margin-top:5px;}
.widgets-one-products .widgets-loop .product-detail .product-heading{font-size:1.2em; color:#000; line-height:30px; margin-top:5px; height:30px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.widgets-four-products .widgets-loop .product-detail .product-heading{font-size:1.2em; padding:0 14px; color:#000; line-height:30px; margin-top:5px; height:30px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.widgets-four-products .widgets-loop .product-off{background:#61c179; line-height:25px; width:60px; top:105px; left:0; color:#fff;}
.widgets-four-products .product-loop{border:1px solid #ede9e9; width:47.4%; margin:1%; padding:10px 0 15px; height:245px; background:#fff}
.widgets-four-products .product-loop .product-color{color:#9198a0;}
.widgets-one-products  .product-loop .product-off { background: #61c179;  line-height: 25px;  width: 60px;  top: 105px;  left: 0;  color: #fff; position: absolute; text-align:center;}
.widgets-banner .product-loop{width:48%; margin:1%;}
.widgets-banner .widgets-loop{padding:10px;}
.offer{font-size:1.3em; color:#000; }
.mrp{font-size:1.1em; color:#9198a0; text-decoration:line-through; margin-left:5px;}
.rating-show {text-align: center; position: relative; width: 100px;}
.rating-show span:before, .rating-given span:before { position: relative; font-family: FontAwesome; float: left; margin-left: 2px;  content: "\f005";  color: #ccc; background: -webkit-linear-gradient(-45deg, #d9d9d9 0%, #b3b3b3 100%);   -webkit-background-clip: text;    -webkit-text-fill-color: transparent;}
.rating-given { position: absolute; z-index: 1; top: 0; text-align: center; overflow: hidden; height:16px;}
.rating-container div:first-child {color: #666; margin-right: 5px;}
.rating-given span:before { color: #f68220; background: -webkit-linear-gradient(-45deg, #fcb551 0%, #d69a45 100%); -webkit-background-clip: text;  -webkit-text-fill-color: transparent;}
.rating-given div {width: 100px;}
 
.widgets-tab{background:#f1f3f6;}
.widgets-tab .widgets-tab-header{padding:10px 0; margin:10px;}
.widgets-tab .widgets-tab-container ul li, .widgets-tab .widgets-tab-header ul li {list-style:none;}
.widgets-tab .widgets-tab-header ul li a{ width:100px; line-height:30px; font-size:1.2em; border-radius:30px; color:#636c77}
.widgets-tab .widgets-tab-header ul li a.btn-color { color:#fff;}
.widgets-tab .widgets-tab-container{padding:0px 5px 10px; margin:10px;}
.widgets-tab .widgets-tab-container ul{background:#fff;}
.widgets-tab .widgets-tab-container li {border-bottom:1px solid #ebebeb}
.widgets-tab .widgets-tab-container li:last-child{border:none;}
.widgets-tab .widgets-tab-container li .product-img{height:100px; padding:10px 0;}
.widgets-tab .widgets-tab-container li .proudct-details{}
.widgets-tab .widgets-tab-container li .title{font-size:1.2em; width:98%; color:#000; line-height:30px; margin-top:5px; height:30px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.widgets-tab .widgets-tab-container li .offer-text{color:#eb3106; line-height:20px; font-size:1.15em;}
.widgets-tab .widgets-tab-container li .price-tab{ width:97%;}
.widgets-tab .widgets-tab-container li .price{ color:#000; font-size:1.6em; line-height:30px}
.widgets-tab .widgets-tab-container li .buyat{ color:#fb9208; font-size:1.1em; line-height:30px}

.brand-widgets-tab{ border-top:1px solid #f1f3f6;}
.brand-widgets-tab .widgets-heading{ margin:10px; line-height:20px;}
.brand-widgets-tab .brand-widgets-list{overflow:scroll; width:100%;}
.brand-widgets-tab .brand-widgets-list ul {height:50px; padding-top:5px; overflow:hidden}
.brand-widgets-tab .brand-widgets-list ul li:first-child{ margin-left:10px;}
.brand-widgets-tab .brand-widgets-list ul li{float:left; width:100px; list-style:none; text-align:center;}
.brand-widgets-tab .brand-widgets-list ul li a.btn{font-size:1.1em; color:#6d6d6d; line-height:25px; text-align:center; white-space:nowrap;}
.brand-widgets-tab .brand-widgets-list ul li a.btn-color{color:#fff; border-radius:20px; line-height:25px;}
.brand-logo-tab{background:#f1f3f6; padding:10px 0}
.brand-logo-tab .brand-logo-list{overflow:scroll; width:100%;}
.brand-logo-tab .brand-logo-list ul{margin:10px 0; height:110px;overflow:hidden;}
.brand-logo-tab .brand-logo-list ul li{float:left; list-style:none; text-align:center; height:110px; width:170px; background:#fff; margin-left:10px}
.brand-logo-tab .brand-logo-list ul li .brand-img{ line-height:80px; height:80px;}
.brand-logo-tab .brand-logo-list ul li .brand-img img{ max-height:85%;}
.brand-logo-tab .brand-logo-list ul li .brand-text{color:#000; font-size:1.2em; text-align:center; display:block;}
/*gedgets widgets*/
.widgets-gadgets{ padding:10px 0}
.widgets-gadgets .widgets-heading{margin-left:10px}
.gdgt_nav{background: #fff; width:100%; margin:0; color: #797979; overflow:scroll; height:90px;}
.gdgt_nav li{float:left; width: 93px; list-style:none; }
.gdgt_nav a{display:block; padding: 14px 0 9px; text-align: center;  color:#797979;}
.gdgt_nav a:last-child{border-right:none;}
.gdgt_nav a.active{color:#000; border-bottom:2px solid #000}
.gdgt_nav a:before{background:url('https://shop.gadgetsnow.com/pwa/img/splite.png'); height: 36px; content: ""; display: block; margin: auto; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
.split{background:url('https://shop.gadgetsnow.com/pwa/img/splite.png') no-repeat}
a.icon-mobile:before{background-position: -10px -12px; width:17px;}
a.icon-mobile.active:before{background-position: -10px -54px; width:17px;}
a.icon-laptop:before{background-position: -68px -12px;width: 40px;}
a.icon-laptop.active:before{background-position: -68px -55px; width: 40px;}
a.icon-tablet:before{background-position: -38px -12px;width: 22px;}
a.icon-tablet.active:before{background-position: -38px -54px;width: 22px;}
a.icon-cameras:before{background-position: -124px -12px;width: 37px;}
a.icon-cameras.active:before{background-position: -124px -54px;width: 37px;}
a.icon-tv:before{background-position: -173px -12px;width: 37px;}
a.icon-tv.active:before{background-position: -173px -54px;width: 37px;}
a.icon-powerbank:before{background-position: -6px -106px; width: 32px;}
a.icon-powerbank.active:before{background-position: -6px -150px; width: 32px;}
a.icon-smartwatch:before{background-position: -187px -281px; width: 32px;}
a.icon-smartwatch.active:before{background-position: -187px -326px; width: 32px;}
a.icon-ac:before{background-position: -79px -104px;width: 55px;}
a.icon-ac.active:before{background-position: -79px -146px;width: 55px;}
a.icon-washingmachine:before{background-position: -223px -12px;width: 25px;}
a.icon-washingmachine.active:before{background-position: -223px -54px;width: 25px;}
a.icon-refrigerator:before{background-position: -138px -104px;width: 32px;}
a.icon-refrigerator.active:before{background-position: -138px -150px;width: 32px;}
a.icon-fitnessband:before{background-position: -188px -104px;width: 32px;}
a.icon-fitnessband.active:before{background-position: -188px -146px;width: 32px;}
a.icon-watches:before{background-position: -39px -106px;width: 32px;}
a.icon-watches.active:before{background-position: -39px -150px;width: 32px;}
a.icon-microwave:before{background-position: -242px -106px;width: 44px;}
a.icon-microwave.active:before{background-position: -242px -154px;width: 44px;}
a.icon-personal-grooming:before{background-position: -312px -105px;width: 32px;}
a.icon-personal-grooming.active:before{background-position: -312px -155px;width: 32px;}
a.icon-head-phone:before{background-position: -178px -198px;width: 32px;}
a.icon-head-phone.active:before{background-position: -178px -242px;width: 32px;}
a.icon-memory-card:before{background-position: -138px -198px;width: 32px;}
a.icon-memory-card.active:before{background-position: -138px -243px;width: 32px;}
a.icon-feature-phone:before{background-position: -247px -198px;width: 32px;}
a.icon-feature-phone.active:before{background-position: -247px -242px;width: 32px;}
a.icon-geysers:before{background-position: -308px -198px;width: 32px;}
a.icon-geysers.active:before{background-position: -308px -242px;width: 32px;}
a.icon-air-purifiers:before{background-position: -316px -286px;width: 32px;}
a.icon-air-purifiers.active:before{background-position: -316px -325px;width: 32px;}
a.icon-dslr-camera:before{background-position: -259px -285px;width: 32px;}
a.icon-dslr-camera.active:before{background-position: -259px -324px;width: 32px;}
.error { color: #f00; display: block;}
.success{color:#4cb050; width: 100%;  display: block;}
.heading {font-size: 1.4em; font-weight: 100; position:relative; padding-left: 40px;}
.subheading {font-size: 1.1em; font-weight: 100; position:relative; padding-left: 10px;}
.heading:before {content: ""; background: #135394; width: 17px; left: 0; top: 0px; width: 17px; height: 17px; position: absolute;}
.heading:after { content: ""; height: 17px; position: absolute; box-sizing: border-box; border-color: transparent transparent #135394; border-image: none; border-style: solid; border-width: 17px;  left: 0;  top: -17px;}
/* common css*/
/* header */
header{background:#135394; height:60px;position: relative;}
header .table{width:100%;}
.hamburger-tab{width:62px;position:absolute;top:0;left:0;z-index:1}
.hamburger-menu{padding:14px;}
.hamburger-menu  span{width: 26px; height: 2px; background-color: #fff;  margin: 6px 0; display:block; border-radius:2px; -moz-border-radius:2px;} 
.gadgets-logo{width:100%;}
.loginheader{position:absolute; top:0; right:0;z-index:1}
.gadgets-logo a{ width:145px; line-height:60px; margin:0 auto}

.loginheader a, .navigationpage .navigationpage-right a, .loginheader a, .navigationpage-second .navigationpage-right a{color:#fff ; font-size:1.5em; text-align:center; line-height:60px;}
.loginheader a .count, .navigationpage .count, .loginheader a .count, .navigationpage-second .count{font-family: 'proxima-regular1'; background:#ffbd36; width:14px; line-height:14px; border-radius:5px; -moz-border-radius:5px; color:#000;  font-size:.5em; margin:-52px 0 0 35px; }
.loginheader .cart{width:44px;}
.loginheader .loginUser, .navigationpage .navigationpage-right .loginUser, .navigation .nav-header .nav-head-left .loginUser, .navigationpage-second .navigationpage-right .loginUser,{width:40px; border:1px solid #fff; border-radius:40px; -moz-border-radius:40px; display:block; margin-left:6px; line-height:40px; font-size:1.1em}
.navigation{width:75%; z-index:3; position:absolute; background-color:#fff; top:0; left:0; bottom:0; box-shadow:3px 0 8px 1px rgba(0,0,0,.4); overflow:hidden;}
.mobile-top-list-in { opacity: 1; transform: translate(0px, 0px); transition: all 0.4s ease-in-out 0s; -webkit-transform: translate(0px, 0px); -webkit-transition: all 0.4s ease-in-out 0s; -ms-transform: translate(0px, 0px); -ms-transition: all 0.4s ease-in-out 0s; -o-transform: translate(0px, 0px); -o-transition: all 0.4s ease-in-out 0s; }
.mobile-top-list-out { opacity: 1; transform: translate(-103%, 0px); transition: all 0.4s ease-in-out 0s; -webkit-transform: translate(-103%, 0px); -webkit-transition: all 0.4s ease-in-out 0s; -ms-transform: translate(-103%, 0px); -ms-transition: all 0.4s ease-in-out 0s; -o-transform: translate(-103%, 0px); -o-transition: all 0.4s ease-in-out 0s; }
.navigation.navigationpage, .navigation.navigationpage-second{width:100%; position:fixed; box-shadow:none;}
.navigation .nav-header{background:#135394; height:60px;}
.navigation .nav-header .nav-head-left{width:75%; padding-left:10px; font-size: 1.2em; color: #fff;  white-space: nowrap;  overflow: hidden;  text-overflow: ellipsis;  line-height:60px;}
.navigation .nav-header .nav-head-left a{color:#fff}
.navigation .nav-header .nav-head-left div{margin-left:20px;}
.navigation .nav-menu {height: 88vh; overflow:scroll;}
.navigation .nav-menu .nav-menu-tab li{list-style:none; overflow:hidden}
.navigation .nav-menu .nav-menu-tab li a{display:block;  font-family: 'proxima-semibold'; text-transform:uppercase; font-size:.9em; line-height:35px; color:#000; text-align:left; padding-left:12px;}
.navigation .nav-menu .nav-menu-tab li a.right-arrow{background: url(https://img.etimg.com/photo/52308508.cms) no-repeat; background-size: 35%; height: 31px; line-height: 30px; display: block;  background-position: 14px 10px;}
.navigation.navigationpage .nav-menu .nav-menu-tab li a.right-arrow{background-size: 27%;}
.navigation .nav-menu .user-details{border-bottom:1px solid #c7c7c7; border-top:1px solid #c7c7c7;}
.navigation .nav-menu .user-details li a{display:block; text-transform:uppercase; font-size:.9em; line-height:35px; color:#666; text-align:left; padding-left:12px;}
.navigation .nav-menu .user-details li a i{width:20px; display:inline-block;}
.navigation .nav-menu .user-details li a i:before{color:#999}
.navigationpage .back-arrow, .navigationpage-second .back-arrow{width:10%;}
.navigationpage .ct-text, .navigationpage-second .ct-text{font-size:1.5em; color:#fff; line-height:60px; white-space:nowrap}
.navigationpage .navigationpage-right .cart, .navigationpage-second .navigationpage-right .cart{width:50px;}
.navigationpage .navigationpage-right .cart:last-child, .navigationpage-second .navigationpage-right .cart:last-child{margin-right:10px;}
.navigationpage .nav-menu .nav-menu-tab.ct-cap li a, .navigationpage-second .nav-menu .nav-menu-tab.ct-cap li a{text-transform:capitalize; font-size:1em; font-family: 'proxima-regular1';}
.navigationpage.navigation .nav-menu,.navigationpage-second.navigation .nav-menu{height:auto;overflow:inherit}
.navigation .nav-header .nav-head-left .loginUser{font-size:1.9em; line-height: 40px; margin-top:6px; text-align:center;}
/* header */
footer{background:#243241; padding:0 10px 60px 10px;}
footer .footer-line{border-bottom:1px solid #fb9208}
footer .footer-gadgets-logo a{height:70px; line-height:100px;}
footer .footer-list ul{padding:10px 0 10px;}
footer .footer-list ul li{display: inline-block; padding:0 5px; font-size:.8em;}
footer .footer-list ul li:before{content: '';  width: 2px;  height: 2px;  background: rgba(255,255,255,0.8);  border-radius: 10px;  display: inline-block;  margin: 0 7px 2px 0; }
footer .footer-list ul li a{color:#fff;}
footer .footnote{padding:10px 0}
footer .footnote, footer .footnote  a{color:#fff; font-size:.8em}
footer ul.breadcrumb { overflow: hidden; text-align: center;}
footer ul.breadcrumb li {padding: 0 2px; color: #a6a5a5; font-size: 12px; display: inline-block; }
footer ul.breadcrumb li a {color: rgba(255,255,255,0.75);}
footer ul.breadcrumb li:after {content: '»'; font-size: 20px; width: 10px; height: 10px; border-radius: 0px; display: inline-block; margin: 0 0 2px 12px;}
footer ul.breadcrumb li:last-child:after { content: ''; width: 10px; height: 10px; border-radius: 0px; display: inline-block; margin: 0 0 2px 12px;}
.amazon_nudge {    
        position: fixed;
    bottom: 270px;
    z-index: 100;
    left: -100px;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
.amazon_nudge_active {text-align: left;
    visibility: visible;
    left: 0px !important;}
   .amazon_nudge a {
      border-radius: 0 100px 100px 0;
      background-color: #f6f6f6;
      border: 1px solid #ccc;
      padding: 12px 10px 12px 12px;
      position: relative;
    }
.amazon_nudge a img {
        position: relative;
        top: 12px;
        left: -3px;
      }
/*footer */

/*search page*/
.searchpage{background:#fff; position:fixed;  z-index:1; opacity: 0; transform: scaleY(0); transition: opacity .3s ease-in,transfrom .3s ease-out;}
.searchpage .search-header{border-bottom:1px solid #eaeaea; width:100%;}
.searchpage .search-header form[name=searchform] input{line-height:40px; width:100%;}
.searchpage .search-header .cls_btn { position: absolute; font-size: 22px; color: #ccc; right: 0; top: 10px; width: 30px; height: 25px;  background: #fff;}
.searchon{opacity: 1; transform: scale(1, 1); top:0; bottom:0; left:0; right:0;}
#suggestions{ position:absolute; z-index:1; margin-top:10px; overflow-y:scroll; height:87vh; width:100%;}
#suggestions a{ color:#000; line-height:37px;  display: block; position:relative; width:80%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
/*search page*/

/* home page carousel*/
#toi-carousel{max-height:250px; min-height:120px; overflow:hidden;}
#toi-carousel img{display:none}
#toi-carousel.owl-carousel img{display:block}
/* home page carousel*/

/*trending and full specations*/
.full-specifications .specifications-text{height:258px; }
.product-summary .summary-text .readmoretext, .full-specifications .specifications-text .readmoretext{height:40px; color:#135394; background:linear-gradient(to bottom, rgba(255,0,0,0), rgba(255,255,255,9)); position:absolute; bottom:0; left:0; right:0; text-align:right; line-height:80px; font-family: 'proxima-semibold';}
.full-specifications .specifications-text table { border-collapse: collapse;  border: 1px dashed #f0f0f0;}
.full-specifications .specifications-text table tr { border-bottom: 1px dashed #f0f0f0;}
.full-specifications .specifications-text table tr  td:first-child { text-transform: uppercase;  width: 35%; background:#f6f6f6;}
.full-specifications .specifications-text table tr  td {line-height: 1.5em; height: 1.5em; font-size: 0.9em;  padding: 1%; color: #454545; vertical-align: top; text-align:left;}
.full-specifications .specifications-text table tr td a { font-size: 0.85em; color:#135394;}
.full-specifications .specifications-text table tr td dl dt {font-size: 0.9em; color: #454545; font-weight: bold;}
.full-specifications .specifications-text table tr td dl dd { font-size: 0.9em; color: #454545;}
.gad_spec .specs { margin: 10px; border-bottom: 1px solid #eee;}
.gad_spec h4 { font-size: 1.1em; color: #333; margin-bottom: 5px; text-transform: uppercase; padding: 5px 0 5px 30px; position: relative; cursor: pointer;}
.gad_spec h4:before {position: absolute; content: '-'; width: 22px; height: 22px; border-radius: 50%;  border: 1px solid #135394;  left: 0;  top: 3px; text-align: center; font-size: 38px; line-height: 17px; color: #135394;}
.gad_spec h4.collapsed:before {content: '+'; font-size: 22px; line-height: 22px; border-color: #d4d4d4;}
.gad_spec .list1 { border: 1px solid #eee; margin-bottom: 10px; overflow-y:hidden; transition: top 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94); box-sizing: border-box;}
.gad_spec .list1:last-child { margin-bottom: 0;}
.gad_spec .list1 li { border-bottom: 1px solid #eee; font-size: 14px; color: #454545; padding: 10px 8px; overflow:hidden;}
.gad_spec .list1 li strong { width: 38%; font-family: 'proxima-semibold'; font-weight:100; font-size: 12px; color: #999; text-transform: uppercase; text-align:left; margin-top:4px;}
.gad_spec .list1 li strong, .gad_spec .list1 li span { float: left; vertical-align: top;}
.gad_spec  .list1 li:nth-child(odd) { background-color: #fafafa;}
.gad_spec .list1 li span { width: 62%; text-align:left;}
/*trending and full specations*/

/* seealso-sponsored */
.seealso-sponsored{ margin-top:10px;}
.seealso-sponsored  li .table{width:100%;}
.seealso-sponsored .productShowBox{width:94%; margin:0 auto;}
.seealso-sponsored .productShowBox ul li {list-style: none;  padding: 10px;  display: block;  border: 1px dashed rgba(32, 87, 146, 0.5);  margin-top: 10px;  overflow: hidden;}
.seealso-sponsored .productShowBox ul li .first-cell{width:22%;}
.seealso-sponsored .productShowBox ul li {min-height:90px;}
.seealso-sponsored .productShowBox ul li a .tabletitle { min-height: 25px; text-align: left; color:#454545;}
.seealso-sponsored .productShowBox ul li a .cashbackdiv { width: auto; text-align: left;}
.seealso-sponsored .productShowBox ul li a .cashbackdiv span.pricemrp{ text-decoration:line-through; color:#b2b2b2;}
.seealso-sponsored .productShowBox ul li a .cashbackdiv .discount-offer{ padding:2px 5px; color:green; border:1px solid green; margin-left:15px;}
.seealso-sponsored .cashbackdiv div.cashback { display: block; border: 1px solid green; float:left; padding: 0 5px; background: lightgreen;  text-align: center; color:#454545;}
.seealso-sponsored .productShowBox ul li a .first-cell img { max-width: 60%;}
.seealso-sponsored .productShowBox ul li a .tableR { width: 100%; margin-top:10px;}
.seealso-sponsored .productShowBox ul li a .tableR .price_tag { color: #000;  width: 35%; line-height:26px}
.seealso-sponsored .productShowBox ul li a .tableR i { display:block; background-repeat:no-repeat; height: 23px;  width: 70px; background-position: 0px 1px;  background-size: 67px 21px;}
.seealso-sponsored .productShowBox ul li a.paytm .tableR .logo i { background-image: url(https://img1.gadgetsnow.com/gd/imgbn/pytm-mall.jpg);}
.seealso-sponsored .productShowBox ul li a.toogud .tableR .logo i { background-image: url(https://img1.gadgetsnow.com/gd/imgbn/flippkar-2gud-n.jpg);}
.seealso-sponsored .productShowBox ul li a.saregama .tableR .logo i { background-image: url(https://img1.gadgetsnow.com/gd/imgbn/Sa_Re_Ga_Ma.jpg);}
.seealso-sponsored .productShowBox ul li a.flipkart .tableR .logo i {background-image: url(https://img1.gadgetsnow.com/gd/imgbn/flipkart.jpg); }
.seealso-sponsored .productShowBox ul li a.tatacliq .tableR .logo i {background-image: url(https://img1.gadgetsnow.com/gd/imgbn/tata-cliq-logo.jpg); }
.seealso-sponsored .productShowBox ul li a.amazon .tableR .logo i {background-image: url(/mobile/img/azazon-logo.png); background-size: 68px 17px; background-position: 0px 4px; }
.seealso-sponsored .productShowBox ul li a .tableR .table-cell:nth-child(2) { width: 82px;}
.seealso-sponsored .productShowBox ul li a .buy_btn{ color: #fff; display: inline-block; font-size: 14px;  height: 25px;  line-height: 25px;  padding: 0 10px;  text-align: center;  width: 60px;}
.seealso-sponsored .productShowBox ul li a.paytm .buy_btn { background: #ef4e28; border: 1px solid #ef4e28;}
.seealso-sponsored .productShowBox ul li a.toogud .buy_btn { background: #ef4e28; border: 1px solid #ef4e28;}

.seealso-sponsored .productShowBox ul li a.saregama .buy_btn { background: #ef4e28; border: 1px solid #ef4e28;}
.seealso-sponsored .productShowBox ul li a.flipkart .buy_btn { background: #ef4e28; border: 1px solid #ef4e28;}
.seealso-sponsored .productShowBox ul li a.tatacliq .buy_btn { background: #ff1744; border: 1px solid #ff1744;}
.seealso-sponsored .productShowBox ul li a.amazon .buy_btn {background: rgba(0, 0, 0, 0) linear-gradient(#ff9f00, #e28d00) repeat scroll 0 0;  border: 1px solid #bc7600;}
/* seealso-sponsored */

/* sponsored-widgets */
.sponsored-widgets{background:#f1f3f6; padding:10px 0}
.sponsored-widgets .sponsored-list{padding:10px 0;list-style:none}
.sponsored-widgets .sponsored-list li{background:#fff; margin:5px auto; width:97%}
.sponsored-widgets .sponsored-list li a{padding:10px;}
.sponsored-widgets .sponsored-list li .first-cell{width:22%; padding:10px 0; height:100px}
.sponsored-widgets .sponsored-list li .first-cell img{max-width:90%; max-height:90%;}
.sponsored-widgets .sponsored-list li  .second-cell .title{font-size:1.1em; color:#454545; margin-bottom:5px; display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;}
.sponsored-widgets .sponsored-list li  .second-cell .price{font-size:1.2em; color:#000; margin-bottom:5px;}
.sponsored-widgets .sponsored-list li  .second-cell .pricemrp{font-size:.9em; text-decoration:line-through; color:#b2b2b2;}
.sponsored-widgets .sponsored-list li  .second-cell .discount-offer{font-size:.9em; padding:2px 5px; color:green; border:1px solid green; margin-left:5px;}
.sponsored-widgets .sponsored-list li  .second-cell .brand-logo span{background-size: contain; display: inline-block; vertical-align: middle; }
.sponsored-widgets .sponsored-list li.paytm-sponsored .second-cell .brand-logo span{ background: url(https://img1.gadgetsnow.com/gd/imgbn/pytm-mall.jpg) 0px 4px no-repeat; width:64px; height:29px; background-size:contain; }
.sponsored-widgets .sponsored-list li.nnnow-sponsored .second-cell .brand-logo span{ background: url(https://img1.gadgetsnow.com/gd/imgbn/NNNow-affiliate_1.jpg) 0px 4px no-repeat; width:64px; height:29px; background-size:contain; }
.sponsored-widgets .sponsored-list li.quantum-sponsored .second-cell .brand-logo span{ background: url(https://img1.gadgetsnow.com/gd/imgbn/quantam-logo.jpg) 0px 12px no-repeat; width:64px; height:59px; background-size:contain; }
.sponsored-widgets .sponsored-list li.quantum-sponsored .second-cell .buy-button-affiliate {background: rgba(0, 0, 0, 0) linear-gradient(#ff9f00, #e28d00) repeat scroll 0 0; color:#fff; border: 1px solid #bc7600}
.sponsored-widgets .sponsored-list li.sgn-sponsored .second-cell .brand-logo span{ background: url(https://static.toiimg.com/photo/79512580.cms) 0px 7px no-repeat; width:90px; height:40px; background-size:contain; }
.sponsored-widgets .sponsored-list li.amazon-sponsored .second-cell .brand-logo span{ background: url(/mobile/img/azazon-logo.png) 0px 12px no-repeat; width:64px; height:29px; background-size:contain; }
.sponsored-widgets .sponsored-list li.norton-sponsored .second-cell .brand-logo span{ background: url(https://img1.gadgetsnow.com/gd/imgbn/norton_logo.jpg) 0px 12px no-repeat; width:75px; height:80px; background-size:contain; }
.sponsored-widgets .sponsored-list li.square-sponsored .second-cell .brand-logo span{ background: url(https://img1.gadgetsnow.com/gd/imgbn/square_logo.jpg) 0px 12px no-repeat; width:75px; height:80px; background-size:contain; }
.sponsored-widgets .sponsored-list li.flipkart-sponsored .second-cell .brand-logo span{ background: url(https://img1.gadgetsnow.com/gd/imgbn/flipkart.jpg) 0px 4px no-repeat; width:64px; height:29px; background-size:contain; }
.sponsored-widgets .sponsored-list li.tatacliq-sponsored .second-cell .brand-logo span{ background: url(https://img1.gadgetsnow.com/gd/imgbn/tata-cliq-logo.jpg) -15px 4px no-repeat; width:64px; height:29px; background-size:contain; }
.sponsored-widgets .sponsored-list li.panasonic-sponsored .second-cell .brand-logo span{ background: url(https://img1.gadgetsnow.com/gd/imgbn/panasonic-logo.png) 0px 4px no-repeat; width:64px; height:29px; background-size:contain; }
.sponsored-widgets .sponsored-list li.moto-sponsored .second-cell .brand-logo span{ background: url(https://img1.gadgetsnow.com/gd/imgbn/moto.png) 0px 4px no-repeat; width:37px; height:49px; background-size:contain; }
.sponsored-widgets .sponsored-list li.croma-sponsored .second-cell .brand-logo span{ background: url(https://img1.gadgetsnow.com/gd/imgbn/croma.jpg) 0px 4px no-repeat; width:58px; height:49px; background-size:contain; }
.sponsored-widgets .sponsored-list li .second-cell .buy-button-affiliate {width: 43px; line-height: 25px; height: 25px; text-align: center;  color: #000; font-size: 1.01em;}
.sponsored-widgets .sponsored-list li.paytm-sponsored .second-cell .buy-button-affiliate {border: 1px solid #ef4e28; color: #fff; background: #ef4e28}
.sponsored-widgets .sponsored-list li.nnnow-sponsored .second-cell .buy-button-affiliate {border: 1px solid #ef4e28; color: #fff; background: #ef4e28}
.sponsored-widgets .sponsored-list li.sgn-sponsored .second-cell .buy-button-affiliate {border: 1px solid #fb9208; color: #fff; background: #ef4e28}
.sponsored-widgets .sponsored-list li.amazon-sponsored .second-cell .buy-button-affiliate {background: rgba(0, 0, 0, 0) linear-gradient(#ff9f00, #e28d00) repeat scroll 0 0; color:#fff; border: 1px solid #bc7600}
.sponsored-widgets .sponsored-list li.norton-sponsored .second-cell .buy-button-affiliate {background: rgba(0, 0, 0, 0) linear-gradient(#ff9f00, #e28d00) repeat scroll 0 0; color:#fff; border: 1px solid #bc7600}
.sponsored-widgets .sponsored-list li.square-sponsored .second-cell .buy-button-affiliate {background: rgba(0, 0, 0, 0) linear-gradient(#ff9f00, #e28d00) repeat scroll 0 0; color:#fff; border: 1px solid #bc7600}
.sponsored-widgets .sponsored-list li.flipkart-sponsored .second-cell .buy-button-affiliate {border: 1px solid #ef4e28; color: #fff; background: #ef4e28}
.sponsored-widgets .sponsored-list li.tatacliq-sponsored .second-cell .buy-button-affiliate {border: 1px solid #ff1744; color: #fff; background: #ff1744}
.sponsored-widgets .sponsored-list li.panasonic-sponsored .second-cell .buy-button-affiliate {border: 1px solid #0066b1; color: #fff; background: #0066b1}
.sponsored-widgets .sponsored-list li.moto-sponsored .second-cell .buy-button-affiliate {background:#000; color:#fff; border:1px solid #000}
.sponsored-widgets .sponsored-list li.vijaysales-sponsored .second-cell .brand-logo span{ background: url(https://img1.gadgetsnow.com/gd/imgbn/VJLogo200x150.jpg) 0px 12px no-repeat; width:64px; height:59px; background-size:contain; }
.sponsored-widgets .sponsored-list li.vijaysales-sponsored .second-cell .buy-button-affiliate {background: rgba(0, 0, 0, 0) linear-gradient(#ff9f00, #e28d00) repeat scroll 0 0; color:#fff; border: 1px solid #bc7600}
.sponsored-widgets .sponsored-list li.croma-sponsored .second-cell .buy-button-affiliate {background: rgba(0, 0, 0, 0) linear-gradient(#ff9f00, #e28d00) repeat scroll 0 0; color:#fff; border: 1px solid #bc7600}



.sponsored-widgets .sponsored-list li.acronis-sponsored .second-cell .buy-button-affiliate {background: rgba(0, 0, 0, 0) linear-gradient(#ff9f00, #e28d00) repeat scroll 0 0; color:#fff; border: 1px solid #bc7600}
.sponsored-widgets .sponsored-list li.acronis-sponsored .second-cell .brand-logo span{ background: url(https://img1.gadgetsnow.com/gd/imgbn/Acronis-logo.200x150jpg.jpg) 0px 12px no-repeat; width:75px; height:80px; background-size:contain; }

.sponsored-widgets .sponsored-list li a .cashbackdiv { width: auto; text-align: left;}
.sponsored-widgets .cashbackdiv div.cashback { display: block; float:left; margin-bottom:8px; padding: 0 5px; text-align: center; color:#fb9208;}

/* sponsored-widgets */


.deals-timer{background:#135394; padding:0 10px; font-size:12px; color:#fff; display:none; width:96%; margin:0 auto 5px;}
.deals-timer div{text-align:center; padding:5px 0; display:block;}
.deals-timer div span{display:inline-block; vertical-align:middle; padding:0 10px;}
.deals-timer div span:last-child{color:yellow; display:block; font-size:16px;}
/*.deals-timer div span:first-child{width:130px; padding-top:6px; text-align:right;}
.deals-timer div span:first-child img{max-height:37px;} */
.deals-timer div span#deals-timer{padding:0 10px 0 0; color:yellow;}
/*error*/
.onError {background: none repeat scroll 0 0 #ffefef !important; border: 1px solid #ff0000 !important;}

/* ctn ads */
.toi-product figure { height: 155px;  display: block; text-align: center; padding: 10px 0;}
.toi-product figure img { max-width: 90%; max-height: 90%; border: 1px solid transparent; vertical-align: middle;}
.toi-product figcaption {padding:0 10px;}
.toi-product figcaption div {font-size: 1.2em; color: #000; display: block;  height: 26px;  line-height: 24px;  border-top: 1px solid #dedede;  padding-top: 8px;  width: 96%;  font-weight: bold;  font-size: 15px;  white-space: nowrap;  overflow: hidden;  text-overflow: ellipsis; }
.widgets-four-products .toi-product figcaption div {font-size: 1.2em; color: #000; display: block;  height: 26px;  line-height: 24px;  border-top: 1px solid #dedede;  padding-top: 8px;  width: 96%;  font-weight: bold;  white-space: nowrap;  overflow: hidden;  text-overflow: ellipsis; }
.toi-product .toi-price { overflow: hidden; padding:10px 10px 6px;}
.toi-product .toi-price .toi-mrp {font-size: .8rem; color: #959595; display: block; width:100%; overflow:hidden; white-space:nowrap; text-overflow:ellipsis}
.mobile-product-list-view figure { display: block; text-align: center; height: 150px; line-height: 150px;}
.mobile-product-list-view figure img { max-width: 75%; max-height: 75%; vertical-align: middle;}
.mobile-product-list-view figcaption { font-size: 0.9em; text-align: center; display: block; height: 40px; padding: 0 3%;  overflow: hidden; line-height: 20px;}
.mobile-product-list-view .mobile-price-ui {font-size: 0.9em; text-align: center;}
.mobile-product-list-view .colombiaad .mobile-price-ui .mrp-price-ui-colombia { font-size: 0.9em;  color: #747474;  text-decoration: none !important;  display: block;}

.product-list .colombiaad {width: 95%; overflow: hidden; padding: 2% 0; margin: 0 auto;  margin-bottom: 20px;}
.product-list figure { width: 40%; height:120px; line-height:120px;}
.product-list figure, .product-list figcaption, .product-list .mobile-price-ui { float: left;}
.product-list  figure img { max-width: 90%; vertical-align:middle;}
.product-list figcaption { font-size: 1.2em;  font-weight: bold;  width: 58%;  color: #000;}

.ctn-ads-pdp>div {width: 95%; overflow: hidden; padding: 2% 0; border: 1px solid #c7c7c7; margin: 0 auto;  margin-bottom: 20px;}
.ctn-ads-pdp figure { width: 40%;}
.ctn-ads-pdp figure:before { content: "\202F";}
.ctn-ads-pdp figure img { max-width: 90%;}
.ctn-ads-pdp figcaption { font-size: 15px;  font-weight: bold;  width: 58%;  color: #000;}
.ctn-ads-pdp figure, .ctn-ads-pdp figcaption, .ctn-ads-pdp .mobile-price-ui { float: left;}
.ctn-ads-home-list { overflow: hidden;  width: 100%; margin-top: 20px;}
.ctn-ads-home-list .ctn-ads-home-list-row {padding-bottom: 10px;}
.ctn-ads-home-list .ctn-ads-home-list-row >div { width: 98%;  padding: 1%;  padding-bottom: 15px;}
.ctn-ads-home-list .ctn-ads-home-list-row >div figure { height: 200px; display: block; text-align: center;}
.ctn-ads-home-list .ctn-ads-home-list-row >div figure img { max-width: 100%; max-height: 100%; border: 1px solid transparent; position: relative;}
.ctn-ads-home-list .ctn-ads-home-list-row >div figcaption div { color: #000; display: block; border-top: 1px solid #dedede; padding-top: 8px; font-size: 14px; width: 100%;  margin: 0 auto; font-weight: bold;}

/* GDPR*/
body.euuser .toi-cart, body.euuser .toi-login, body.euuser .eu-hide{display:none !important;}
/* Hide */
body.euuser .user-sec, body.euuser .footbar { display: none !important;}
body.euuser [data-widget="newsletter"], body.euuser [data-plugin="comment-form"] , body.euuser [data-plugin="comment-rating"], body.euuser [data-module="review_device"], body.euuser #post-comment, body.euuser .noComment, body.euuser .comments .cmtbtn.add, body.euuser .subscribe_button, body.euuser .comment-box span.follow, body.euuser .eu-hidden{ display: none!important; }
body.euuser .nsltr_frm { display: none; }
body.euuser #comment-holder{height: 37px;}
body.euuser .comments .cmtbtn.view{width: 100%; border: 0;}
.in-hidden{display: none;}
body.euuser .in-hidden{display: block;}
body.country .countryblock{display:none !important}    
/* COOKIES */
#gdpr_policy_popup { display: none;} 
#gdpr_policy_popup.ntfc_overlay { z-index: 99999999;}
#gdpr_policy_popup .ontap-background {left: 36%;}
#gdpr_policy_popup .gdpr_desc{font-size: 16px;text-align: left;float: left;padding: 10px 0;}
#gdpr_policy_popup .subscribe-message { border-top : 0px; padding: 10px 10px 5px;}
#gdpr_policy_popup .gdpr_ul input[type="checkbox"]{vertical-align: middle; margin-right: 8px;}
#gdpr_policy_popup .gdpr_ul{text-align:left; }
#gdpr_policy_popup .gdpr_ul li{padding: 5px 0;}
/* Theme variables */
/* Theme styles */

/* BANNER */
.consent-popup { background:#323232; position:relative; padding: 16px 10px;}
.consent-banner { font-size: 14px; line-height: 1; -moz-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
body.euuser .consent-banner button#consent-continue-button.close {
    position: absolute;
    width: 18px;
    height: 18px;
    text-indent: -9999px;
    top: 5px;
    right: 5px;
    margin: 0;
}
.consent-banner:after {content: "."; display: block; font-size: 0; height: 0; clear: both; visibility: hidden;}
/*.consent-banner.wrapper { max-width:990px; width:100%; }*/
.consent-banner .column1 { width:100%; }
.consent-banner .column2 { float: right;
    width: 27%;}
.consent-banner #personalisedadsCheckBox{
    display: none;}
.consent-banner .personalisedadsBlk{color:#fff;}
.consent-banner .personalisedadsBlk label{line-height: 16px;
    font-size: 10px;
    color: #ccc;
    display: inline-block;
    width: 60%;
    padding-left:32px; position:relative}
    body.euuser .consent-banner .checkbox label:before {
    content: "";
    position: absolute;
    left: 0;
    top: 2px;
    height: 22px;
    width: 22px;
    line-height: 15px;
    background: #fff no-repeat;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    border: 1px solid #b1b1b1;
}
body.euuser .consent-banner .checkbox input[type=checkbox]:checked+label:before {
    background: #e21b22;
    border-color: #e21b22;
}
body.euuser .consent-banner .checkbox input[type=checkbox]:checked+label:after {
    position: absolute;
    content: "";
    border: solid #fff;
    width: 7px;
    height: 14px;
    left: 8px;
    top: 4px;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}
.consent-banner h2 { font-family: 'proxima-semibold'; margin-bottom:12px; line-height: 15px; color: #fff; font-size: 17px; }
.consent-banner p { font-family: 'proxima-regular1',calibri,sans-serif; font-size:12px; line-height: 18px; color: #fff; margin-bottom: 0px;}
.consent-banner p a {color: #e21b22;text-decoration: underline;}
.consent-banner li { display: inline-block; margin: 0 4px; }
.consent-banner button, .consent-banner li a { font-family: 'proxima-semibold'; text-decoration: none; display: block; font-size:14px; line-height: 1; color: #e21b22; }
.consent-banner button { font-family: 'proxima-regular1',calibri,sans-serif; background:none; border:1px solid #e21b22; border-radius:1000px; width:100%; padding:10px; text-transform:uppercase; }
.consent-banner button.close{width:20px;height:20px;border:none; position:relative; float:right; margin-top:-34px;}
.consent-banner button.close:before {
    content: "";
    width: 1px;
    height: 16px;
    background: #fff;
    position: absolute;
    top: 2px;
    right: 8px;
    transform: rotate(45deg);
}
.consent-banner button.close:after{transform: rotate(135deg);content: ""; width: 1px;
    height: 16px;
    background: #fff;
    position: absolute;
    top: 2px;
    right: 8px;}
/*.consent-banner a:focus, .consent-banner button:hover { color: #fff; }*/
.consent-banner #consent-more {  display: none; }

.setting_gdpr{float: right;padding: 1px 5px 0 4px; display:none;}
body.euuser .setting_gdpr{display:block;}
.setting_gdpr a{color:#b3d4f7;text-transform: uppercase;text-decoration: none;}
.setting_gdpr a:hover{text-decoration: none;}
/* COOKIES */
/* GDPR*/
.landscape-mode { background: #e5e5e5; text-align: center; position: fixed;  top: 0;  bottom: 0; left: 0; right: 0; margin: auto; z-index: 100;}
.landscape-mode .landscape-tab{ margin-top:8%;}
.landscape-mode .img_landscape {  width: 143px;  height: 143px; background: url(https://static.nbt.indiatimes.com/img/switch-portrait-mode.svg) 0 0 no-repeat;  background-size: 143px 143px;  display: inline-block;}
/*US*/
.us-showing{width:98%; margin:0 auto;}
/*seo content*/
.seocontianer{position:relative; margin-bottom:10px;padding:10px;}
.seocontianer h1{font-size:16px; font-weight:100; font-family: 'proxima-semibold';}
.seocontianer .seocontent {height:44px; line-height:22px; padding:5px;}
.seocontianer .seoreadmore{display:block; text-align:right}
.seocontianer h2{font-size:14px; margin-top:10px;  font-family: 'proxima-semibold';}
/*seo content*/
/*css for terms pop up*/

.termscontainer {
	 position: fixed;
	 left: 0;
	 right: 0;
	 bottom: 0;
	 background: #fff;
	 color: #a5a5a5;
	 z-index: 102;
}
 .termscontainer::after {
	 content: '';
	 position: fixed;
	 top: 0;
	 bottom: 0;
	 left: 0;
	 right: 0;
	 background: rgba(0, 0, 0, 0.6);
	 z-index: -1;
	 height: 100%;
}
 .termscontainer .content {
	 padding: 20px;
	 background: #fff;
}
 .termscontainer .content .details {
	 color: #000;
}
 .termscontainer .content .details span {
	 font-size: 12px;
	 line-height: 16px;
	 margin-bottom: 8px;
	 display: block;
}
 .termscontainer .content .details span .link {
	 color: #135394;
}
 .termscontainer .content .details p {
	 padding-right: 76px;
	 font-size: 12px;
	 line-height: 16px;
	 margin: 0;
}
 .termscontainer .ok {
	 font-size: 12px;
	 line-height: 16px;
	 background: #135394;
	 color: #fff;
	 border: none;
	 padding: 10px 20px;
	 border-radius: 4px;
	 position: absolute;
	 right: 16px;
	 top: calc(50% + 8px);
	 transform: translateY(-50%);
}

.timer_container{
  background: rgb(73,73,75);
  background: linear-gradient(0deg, rgba(73,73,75,1) 0%, rgba(108,108,112,1) 49%, rgba(63,66,66,1) 100%);
  padding:8px 12px;
  color: #fff;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-height: 32px;
  width: 100%;
  overflow: hidden;
  }
  .mobile{
	display: flex;
    justify-content: space-between;
    height: 32px;
    padding: 0 8px;
	text-decoration:none;
	max-width:328px;
	margin:8px auto;
  }
.brands_name {
    display: flex;
    flex-flow: column;
    align-items: flex-end;
}

.brands_name .title {
        font-size: 12px;
        line-height: 14px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        margin: 0;
		text-transform: uppercase;
		font-family: 'Samsung Sharp Sans Bold';
      }
.suffix {
        line-height: 9px;
        font-size: 10px;
        min-width: 80px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
		text-align:center;
		font-family: Arial,Tahoma,Sans-Serif;
      }

.timer {
	display: flex;
    min-width: 130px;
    text-align: center;
    text-transform: uppercase;
    font: 400 9px/12px Montserrat,Tahoma,Sans-Serif;
    justify-content: space-between;
    color: #ccc;
    }
.time{
	margin-top: 3px;
}
.time span{
	width: 11px;
          height: 14px;
          margin-bottom: 2px;
          display: inline-block;
			border-radius:2px;
          margin-right: 2px;
          text-align: center;
          color: #000;
		  font: 700 10px/13px Montserrat,Tahoma,Sans-Serif;
          background: linear-gradient(to top, #fff 54%, #e5e5e5 54%);
}
.label {
        color: #ccc;
      }
.timer_box{
	display: flex;
    flex-flow: column;
    text-align: center;
}

 /* css for terms pop up ends */
@media (max-width:330px){
body{font-size:0.775em}
.widgets-one-products .product-loop{width:239px;}
.widgets-four-products .product-loop{width:47.3%}
.widgets-one-products .widgets-heading, .widgets-four-products .widgets-heading, .widgets-gadgets .widgets-heading, .brand-widgets-tab .widgets-heading, .widgets-banner .widgets-heading{font-size:1.2em;}
.navigation .nav-menu{height: 86vh;}
}
@media (min-width:600px) and (max-width:750px){
.widgets-one-products .product-loop{width: 213px;}
.landscape-mode{display:none !important}
}

/*
@media screen and (min-aspect-ratio: 13/9) and (min-height: 150px) and (orientation: landscape){
.landscape-mode {
    display: block !important;
} */
}
