<?php include __DIR__ . "/../common/header.phtml"; ?>
<div class="author-container">
<!-- author article list start -->
<div class="author-articles">
	<div class="productShowlist">
		<div class="heading">About Us</div>
		
	</div>
	
	<div class="overflowhidden about-text">
			<p>Shop.Gadgetsnow.com is an Online Marketplace that as you can guess sells a wide variety of latest gadgets under the Computer, Computer Accessories, Mobiles and Mobile Accessories category. Be it the latest gadget launches, product reviews, latest trends and more.</p> 
			<p>Shop.GadgetsNow is your ultimate one stop to get the latest reviews and feedback on almost all gadgets. Be the first to review or know about other people's feedback on the latest launch of gadgets in computer or mobiles.  Read and make up your mind on that certain model of smartphone you were looking to buy but worried about performance.  Get in depth feedback and reviews on the latest smartphones, laptops, headphones, tablets, fitness bands, power banks and much more.</p> 
			<p>We take pride in boasting that we are an open marketplace that sells genuine products that go through a strict quality check  and provide easy returns or replacements should you face any issue in an unlikely situation. We offer you one of the biggest platform to get buyers and sellers together online. The idea is to have access to the latest launch reviews, products and have the item delivered at your doorstep from the convenience of your home totally hassle free.</p>
			<h4>What We Offer ? </h4>
			<p>Shop.GadgetsNow is a well marketed online marketplace that eliminates all city wise differences which is seen in the offline gadgets industry.</p> 
			<p>
				<ul>
				<li>1 .You get access to all types of Sellers at no cost opening up Pan India access to markets</li>
				<li>2. Wide variety of gadgets at unbelievable prices only on Gadgets Now</li>
				<li>3. Products delivered at your doorstep faster than you think</li>
				<li>4. Dedicated Customer Service</li>
				<li>5. We offer security of payment online</li>
				</ul>
			</P>
			<p>If you are looking for advice or need any help, we are available for all your technical queries.</p> 
			
		</div>

</div>
<!-- author article list end -->
</div>
<?php include __DIR__ . "/../common/newfooter.phtml"; ?>