<?php include __DIR__ . "/../common/ampheader.phtml"; ?>

<div class="pdp-content">	
	
	<!-- blog start -->	
	<?php if(isset($article)) {
		$articleTitle = $article['articleTitle'];
			$categoryName = $article['categoryName'];
			$subcategoryName = $article['subCategoryName'];
			 
			$eventArticletitle=str_replace(" ","_",$article['articleTitle']);
			
			$introDate = $article['introductionDate'];
			$modifiedDate = $article['lastUpdatedTxStamp'];
			
			$introDate =date('M d, Y, h:i A',intval($introDate/1000))." IST";
			$schemaDate = date('Y-m-d\TH:i:sP',intval($article['introductionDate']/1000));
				
			$modifiedDate =date('M d, Y, h:i A',intval($modifiedDate/1000))." IST";
				
			$schemaModDate = date('Y-m-d\TH:i:sP',intval($article['lastUpdatedTxStamp']/1000));
				
			$eventArticletitle=str_replace(" ","_",$article['articleTitle']);
			$authorname = $article['authorName'];
			if($authorname == "shop.gadgetsnow.com")
				$authorname="Gadgets Now Bureau";
			
			$authornameUrl =  preg_replace('/[^a-zA-Z0-9]/','-',$authorname);
			$authornameUrl =  preg_replace('/-+/','-',$authornameUrl);
			
			?>
			<script type="application/ld+json">
        {
                    	<?php    
                    	$schemaDescription="";
                    	if(isset($article['mainContent']))
                    	{
                    		$schemaDescription = substr($article['mainContent'],0,200);
                    		$schemaDescription = str_replace("</p>","",$schemaDescription);
                    		$schemaDescription = str_replace("<p>","",$schemaDescription);
                    		$schemaDescription = str_replace("<span>","",$schemaDescription);
                    		$schemaDescription = str_replace("</span>","",$schemaDescription);
                    		$schemaDescription = str_replace("<div>","",$schemaDescription);
                    		$schemaDescription = str_replace("</div>","",$schemaDescription);
                    		$schemaDescription = str_replace("<b>","",$schemaDescription);
                    		$schemaDescription = substr($schemaDescription,0,200);
                    	}
                    	 
                    	?>
                    	"@context": "https://schema.org",
                    	"@type": "NewsArticle",
                    	"inLanguage":"en",
                    	"mainEntityOfPage": {
                        "@type": "WebPage",
                        "@id": "<?=$webPageUrl?>"
                         },
                    	"url":  "<?=$urlValue?>",
                    	"headline": "<?=$article['articleTitle']?>",
                    	"description":"<?=$schemaDescription?>",
                    	"keywords":"<?=$article['keyword']?>",
                    	"datePublished":"<?=$schemaDate?>",
                    	"dateModified":"<?=$schemaModDate?>",
                                
                 
                 
                 "image": {
                    		"@type": "ImageObject",
                    		"url": "<?=$article['mainImageUrl']?>",
                    		"height": 1200,
                    		"width": 900
                    	},
                	"author": {
                    		"@type": "Thing",
                    		"name": "<?=$authorname?>"
                    	},
                    "publisher": {
                    		"@type": "Organization",
                    		"name": "Gadgets Now Shop",
                    		"logo": {
                    			"@type": "ImageObject",
                    			"url": "https://img1.gadgetsnow.com/gd/imgbn/600x60gadgetshop.jpg",
                    			"width": 600,
                    			"height": 60
                    	}	
                    	
                     }	
                     }
</script>
<script type="application/ld+json">
    {
     "@context": "http://schema.org",
     "@type": "BreadcrumbList",
     "itemListElement":
     [
      {
       "@type": "ListItem",
       "position": 1,
       "item":
       { 
       "@id": "<?=$article['categoryUrl']?>",
        "name": "<?=$article['categoryName']?>"
        }
      },
      {
       "@type": "ListItem",
      "position": 2,
      "item":
       {
         "@id": "<?=$article['subCategoryUrl']?>",
         "name": "<?=$article['subCategoryName']?>"
       }
      }
     ]
    }
</script>
<?php 
	$authorid = "";
	if(isset($article['author']) && isset($article['author']['authorId']))
		$authorid=$article['author']['authorId'];
	
	$mainContent = $article['mainContent'];
	$mainContentModified=$mainContent;
	$dommain = new DOMDocument();
	libxml_use_internal_errors(true);
	$dommain->loadHTML($mainContent);
	libxml_clear_errors();
	$elements = $dommain->getElementsByTagName('a');
	foreach ($elements as $element)
			{
				$originalurl=$element->getAttribute('href');
				$rel=$element->getAttribute('rel');
				$newUrl=$originalurl;
				// Handling for Amazon and Paytm
				if(strpos($originalurl,"amazon") != false)
				{
					$intermediateUrl = $GLOBALS['general']['GADGETS_INTERMEDIATE_URL'];
					$newUrl = str_replace("https://www.amazon.in","",$originalurl);
					$newUrl = str_replace("http://www.amazon.in","",$originalurl);
					if(strpos($newUrl,"?") == false)
					{
						$newUrl = $newUrl."?tag=timofind-21";
					}else 
					{
						$newUrl = $newUrl."&tag=timofind-21";
					}
					$newUrl = rawurlencode($newUrl)."&tag=timofind-21"."&utm_campaign=mweb_gnshop_spons-21&utm_source=mweb_gnshop&utm_medium=Affiliate&title=".rawurlencode($articleTitle)."&price=NA";
					$newUrl="http://m.gadgetsnow.com/affiliate_amazon.cms?url=".$newUrl;
				}elseif(strpos($originalurl,"paytm") != false)
				{
					$putm="GadgetsNowShop_Mweb_AmpArticlePage_aw-".$articleId;
					$intermediateUrl = $GLOBALS['general']['PAYTM_INTERMEDIATE_URL'];
					$newUrl = $originalurl;
					if(strpos($newUrl,"-pdp")!==false)
					{
						$newUrl = str_replace("-pdp","",$newUrl);
						$newUrl = str_replace("https://paytmmall.com","https://paytm.com/shop/p", $newUrl);
					}else
					{
						$newUrl = str_replace("https://paytmmall.com","", $newUrl);
					}
					$newUrl = rawurlencode($newUrl);
					$utmcampaign="gnshop_mweb_articlePage_aw-".$articleId;
					$newUrl = $newUrl."&putm=".$putm."&utm_campaign=".$utmcampaign."&utm_source=gadgetsnow&utm_medium=Affiliate&price=NA&title=".rawurlencode($articleTitle);
					$newUrl = $intermediateUrl."?url=".$newUrl;
				}elseif(strpos($originalurl,"bs.serving") != false)
				{
					$affiliate="LG";
					 
					$utmcampaign="lg_gnshop_mweb_articlePage_aw-".$articleId;
					
					$intermediateUrl = "https://shop.gadgetsnow.com/affiliate.cms?url=";
					$newUrl = $intermediateUrl.rawurlencode($originalurl)."&tag=".$utmcampaign."&afname=LG&utm_medium=Affiliate"."&title=".rawurlencode($articleTitle)."&price=NA";
					
				}elseif(strpos($originalurl,"samsung") != false)
				{
					$intermediateUrl = "https://shop.gadgetsnow.com/affiliate.cms?url=";
					$newUrl = $intermediateUrl.rawurlencode($originalurl)."&tag=lg_gnshop_mweb_articlePage_aw-".$articleId."&afname=SAMSUNG&utm_medium=Affiliate"."&title=".rawurlencode($articleTitle)."&price=NA";
				}
				$element->setAttribute('href',$newUrl);
				if(strcasecmp($newUrl,$originalurl) == 0)
				{
					$element->setAttribute('rel','follow,index');
					$element->removeAttribute('target','');
				}else 
				{
					$element->setAttribute('rel','nofollow,noindex');
					$element->setAttribute('target','_blank');
				}
			}
			$mainContentModified = $dommain->saveHTML();
		
?>
		<div class="blog-container">
			<div class="article-head">
				<h1><?=$article['articleTitle']?></h1>
				<div class="article-timing"><?=$article['authorName']?> | Updated <?=$modifiedDate?></div>
			</div>
			<div class="article-content">
					<div class="article-img" >
					<amp-img src="<?=$article['mainImageUrl']?>" height="240"></amp-img>
					</div>
					<div class="article-text">
						<p><?=$mainContentModified?></p>
					</div>
			</div>	
			<div class="article-content">
					<?php 
						$articleContent = $article['subArticle'];
						$length = count($articleContent);
						$affiliate="paytm";
						for ($i = 0; $i < $length; $i++) 
						{
							$saTitle = $articleContent[$i]['title'];
							$saContent = $articleContent[$i]['content'];
							$saImageUrl = $articleContent[$i]['imageUrl'];
							if(isset($articleContent[$i]['ampImageUrl']))
							{
								$ampImageUrl = $articleContent[$i]['ampImageUrl'];
							}
							$articleContentWidget=$articleContent[$i]['subArticleWidget'];
							$lengthCW = count($articleContentWidget);
							for ($j = 0; $j < $lengthCW; $j++) {
								 
								$widgetMrp = number_format($articleContentWidget[$j]['mrp']);
								$widgetofferPrice = number_format($articleContentWidget[$j]['offerPrice']);
								$mrp=$articleContentWidget[$j]['mrp'];
								$offer=$articleContentWidget[$j]['offerPrice'];
								$temp =$mrp-$offer;
								$discount = ($temp / $mrp)*100;
								$discount=round($discount);
								
								
								$widgetoffer = $articleContentWidget[$j]['offer'];
								$widgetimageUrl = $articleContentWidget[$j]['imageUrl'];
								$widgetUrl = $articleContentWidget[$j]['url'];
								$widgetTitle=$articleContentWidget[$j]['title'];
								if(strpos($widgetUrl,"amazon") != false)
								{
									$affiliate="amazon";
									$intermediateUrl = $GLOBALS['general']['GADGETS_INTERMEDIATE_URL'];
									$widgetUrl = str_replace("https://www.amazon.in","",$widgetUrl);
									$widgetUrl = str_replace("http://www.amazon.in","",$widgetUrl);
									$widgetUrl = $widgetUrl;
									if(strpos($widgetUrl,"?") == false)
									{
										$widgetUrl =$widgetUrl."?tag=timofind-21";
									}else
									{
										$widgetUrl =$widgetUrl."&tag=timofind-21";
									}
									$widgetUrl = rawurlencode($widgetUrl)."&utm_campaign=mweb_gnshop_spons-21&utm_source=mweb_gnshop&utm_medium=Affiliate&title=".rawurlencode($widgetTitle)."&price=".$offer;
									$widgetUrl="http://m.gadgetsnow.com/affiliate_amazon.cms?url=".$widgetUrl;
								}elseif(strpos($widgetUrl,"paytm") != false)
								{
									$affiliate="paytm";
									$putm="GadgetsNowShop_Mweb_AmpArticlePage_aw-".$articleId;
									$intermediateUrl = $GLOBALS['general']['PAYTM_INTERMEDIATE_URL'];
									if(strpos($widgetUrl,"-pdp")!==false)
									{
										$widgetUrl = str_replace("-pdp","",$widgetUrl);
										$widgetUrl = str_replace("https://paytmmall.com","https://paytm.com/shop/p", $widgetUrl);
									}else
									{
										$widgetUrl = str_replace("https://paytmmall.com","", $widgetUrl);
									}
									$widgetUrl = rawurlencode($widgetUrl);
									$utmcampaign="mweb_amp_gnshop_articlepage_aw-".$articleId;
								 
									$widgetUrl = $widgetUrl."&putm=".$putm."&utm_campaign=".$utmcampaign."&utm_source=gadgetsnow&utm_medium=Affiliate&price=".$widgetofferPrice."&title=".rawurlencode($widgetTitle);
									$widgetUrl = $intermediateUrl."?url=".$widgetUrl;
								}
								
							}
							// replace URLs in content with relevent intermediate URLs
							
						$string = $saContent;
							$dom = new DOMDocument();
							libxml_use_internal_errors(true);
							$dom->loadHTML($string);
							libxml_clear_errors();
							$elements = $dom->getElementsByTagName('a');
							foreach ($elements as $element)
							{
								$originalurl=$element->getAttribute('href');
								$rel=$element->getAttribute('rel');
								$newUrl=$originalurl;
								// Handling for Amazon and Paytm
								if(strpos($originalurl,"amazon") != false)
								{
									$intermediateUrl = $GLOBALS['general']['GADGETS_INTERMEDIATE_URL'];
									$newUrl = str_replace("https://www.amazon.in","",$originalurl);
									$newUrl = str_replace("http://www.amazon.in","",$originalurl);
									if(strpos($newUrl,"?") == false)
									{
										$newUrl = $newUrl."?tag=timofind-21";
									}else 
									{
										$newUrl = $newUrl."&tag=timofind-21";
									}
									$newUrl = rawurlencode($newUrl)."&tag=timofind-21"."&utm_campaign=mweb_gnshop_spons-21&utm_source=mweb_gnshop&utm_medium=Affiliate&title=".rawurlencode($saTitle)."&price=".$offer;
									$newUrl="http://m.gadgetsnow.com/affiliate_amazon.cms?url=".$newUrl;
								}elseif(strpos($originalurl,"paytm") != false)
								{
									$putm="GadgetsNowShop_Mweb_AmpArticlePage_aw-".$articleId;
									$intermediateUrl = $GLOBALS['general']['PAYTM_INTERMEDIATE_URL'];
									$newUrl = $originalurl;
									if(strpos($newUrl,"-pdp")!==false)
									{
										$newUrl = str_replace("-pdp","",$newUrl);
										$newUrl = str_replace("https://paytmmall.com","https://paytm.com/shop/p", $newUrl);
									}else
									{
										$newUrl = str_replace("https://paytmmall.com","", $newUrl);
									}
									$newUrl = rawurlencode($newUrl);
									$utmcampaign="gnshop_mweb_articlePage_aw-".$articleId;
									$newUrl = $newUrl."&putm=".$putm."&utm_campaign=".$utmcampaign."&utm_source=gadgetsnow&utm_medium=Affiliate&price=".$offer."&title=".rawurlencode($saTitle);
									$newUrl = $intermediateUrl."?url=".$newUrl;
								}elseif(strpos($originalurl,"bs.serving") != false)
								{
									$affiliate="LG";
									 
									$utmcampaign="lg_gnshop_mweb_articlePage_aw-".$articleId;
									
									$intermediateUrl = "https://shop.gadgetsnow.com/affiliate.cms?url=";
									$newUrl = $intermediateUrl.rawurlencode($originalurl)."&tag=".$utmcampaign."&afname=LG&utm_medium=Affiliate"."&title=".rawurlencode($saTitle)."&price=".$offer;
									
								}
								$element->setAttribute('href',$newUrl);
								if(strcasecmp($newUrl,$originalurl) == 0)
								{
									$element->setAttribute('rel','follow,index');
									$element->removeAttribute('target');
								}else 
								{
									$element->setAttribute('rel','nofollow,noindex');
									$element->setAttribute('target','_blank');
								}
								//$saContent = str_replace($originalurl,$newUrl,$saContent);
							}
							$saContentmodified= $dom->saveHTML();
							
							
							// **********Ends
						
					?>
					
					<!-- article start -->
					<div class="article-text">
						<h2><a id="widgetId" href="<?=$widgetUrl?>"><?=$saTitle?></a></h2>
						<div class="article-img">
							<a href="<?=$widgetUrl?>">
							<?php if(isset($ampImageUrl)) {?>
							<amp-img src="<?=$ampImageUrl?>" height="240"></amp-img>
							<?php }else  {?>
							<amp-img src="<?=$saImageUrl?>" height="240"></amp-img>
							<?php } ?>
							</a>
						</div>
						 <section>
							<div class="productShowBox">
							<ul>
							<li>
									<a target="_blank" href="<?=$widgetUrl?>">
									
										<div class="inner">
										<div class="flt firstdiv">
										<span>
											<amp-img src="<?=$widgetimageUrl?>" height="80"></amp-img>
										</span>
										</div>
										<div class="flt seconddiv">
											<div class="tabletitle">
												<span><?=$widgetTitle?></span>
											</div>
											<?php if(isset($widgetoffer) && $widgetoffer != "") {?>
											<div class="displayblock overflowhidden">
												<span class="cashbackdiv" >Rs. <?=$widgetoffer?> Cashback</span>
											</div>	
											<?php } ?>
												<div class="tableD">
													<div class="tableC price_tag displayblock">
														<span><span class="offer-price-ui"> </span><?=$widgetofferPrice?></span>
														<span class="mrp-price"><span class="mrp-price-ui"> </span> <?=$widgetMrp?> </span>
														<span class="off-per"><?=$discount?>% off</span>
													</div>
												</div>
												<div class="tableR">
													<div class="tableC logo"><i class="amazon"></i></div>
													<div class="tableC buy"><small class="buy_btn">BUY</small></div>
												</div>
										</div>
										</div>
									</a>
								</li>
							</ul>
							</div>
				         </section>
						<p><?=$saContentmodified?></p>
					</div>
					<!-- article end -->
					<?php } ?>
					<!-- article start -->
					
					<!-- article end -->
					
					<!-- article start -->
					
					<!-- article end -->
		</div>
	<!-- blog end -->
	 
	
	
	<!-- div class="adcode"><amp-ad width="300" height="250" type="doubleclick" data-slot="/7176/AMP_GadgetsNow_Shop/AMP_GadgetsNow_Shop_ROS/AMP_GN_Shop_Mrec1"> <div placeholder>  <b>Placeholder here!!!</b> </div -->
</amp-ad></div>
	 
	<?php } ?>	
	<section data-block-on-consent >
		<div class="card amazon-list margin-10">
			<h4 class="heading">Sponsored: In the store</h4>
			<ul>
			<?php
			$sponsoredCounts=0; 
			if(isset($affiliateSponsoredProducts))
			{   
				$catalogname="electronics";
				$categoryname="refrigerator";
				$productid="";
				$productname="";
				$productPriceForGA="";
				$productCategoryId="";
			foreach($affiliateSponsoredProducts as $affSProd )
			 {
	    		/* commented to show all products in sponsored list if($sponsoredCounts > 10)
	    		{
	    			break;
	    		} */
	    		$sponsoredCounts = $sponsoredCounts+1;
	    		$name = ""; 
	    		if(isset($affSProd['title']))
	    			$name = $affSProd['title'];
	    		
	    		$sponsrdUrl = ""; 
	    		if(isset($affSProd['url']))
	    			$sponsrdUrl =$affSProd['url'];
	    		
	    		$sprice = ""; 
	    		if(isset($affSProd['price']))
	    		{
	    			if(is_numeric($affSProd['price']))
	    				$sprice =number_format($affSProd['price']);
	    			else 
	    				$sprice=$affSProd['price'];
	    		}
	    		$showPrice=$sprice;
	    		$event="";
	    		$affiliate="";
	    		if(strpos($sponsrdUrl,"amazon") != false)
	    		{
	    			 
	    			$affiliate="amazon";
	    			$eventCategory="add2cart_mweb_amazon_sponsor";
	    			$eventaction = $catalogname."|".$categoryname;
	    			$eventLabel="pdp|".$productCategoryId."|".$productid."|".$productname."|".$productPriceForGA;
		    		$sponsrdUrl = str_replace("https://www.amazon.in","",$sponsrdUrl);
		    		$sponsrdUrl = str_replace("http://www.amazon.in","",$sponsrdUrl);
		    		if(strpos($sponsrdUrl,"?") == false)
		    		{
		    			$sponsrdUrl=$sponsrdUrl."?";
		    		}else
		    		{
		    			$sponsrdUrl=$sponsrdUrl."&";
		    		}
		    		$sponsrdUrl = $sponsrdUrl."SubscriptionId=AKIAJX7PDW7DEP2LLJLA&linkCode=xm2&camp=2025&creative=165953&creativeASIN=B01ABNWQI4";
		    		if(strpos($sponsrdUrl,"?") == false)
		    		{
		    			$sponsrdUrl =$sponsrdUrl."?tag=timofind-21";
		    		}else
		    		{
		    			$sponsrdUrl =$sponsrdUrl."&tag=timofind-21";
		    		}
		    		$sponsrdUrl = rawurlencode($sponsrdUrl)."&utm_campaign=mweb_gnshop_spons-21&utm_source=mweb_gnshop&utm_medium=Affiliate&title=".rawurlencode($name)."&price=".$sprice;
		    		$sponsrdUrl="http://m.gadgetsnow.com/affiliate_amazon.cms?url=".$sponsrdUrl;
	    		}elseif(strpos($sponsrdUrl,"tatacliq") != false)
	    		{
	    			$affiliate="tatacliq";
	    			$tatacliqurl=$GLOBALS['general']['TATA_CLIQ_URL'];
	    			$eventCategory="add2cart_mweb_tatacliq_sponsor";
	    			$eventaction = $catalogname."_".$categoryname."_".$name;
	    			$eventLabel="pdp|".$productid."|".$productname."|".$productPriceForGA;
	    			$sponsrdUrl = str_replace("https://www.tatacliq.com","",$sponsrdUrl);
	    			$sponsrdUrl = str_replace("http://www.tatacliq.com","",$sponsrdUrl);
	    			$sponsrdUrl = $sponsrdUrl;
	    			$nameurl = str_replace(" ","_",$name);
	    			$sponsrdUrl = rawurlencode($sponsrdUrl)."&tag=mweb_gnshop_sponsored&utm_source=mweb_gnshop&utm_medium=Affiliate&title=".rawurlencode($nameurl)."&price=".$sprice;
	    			$sponsrdUrl=$tatacliqurl."?url=".$sponsrdUrl;
	    		}elseif(strpos($sponsrdUrl,"paytm") != false)
	    		{
	    			$affiliate="paytm";
	    			$eventCategory="paytm_pdp_mweb_sponsor";
	    			$eventaction = $catalogname."_".$categoryname."_".$name;
	    			$eventLabel="pdp|".$productid."|".$productname."|".$showPrice;
	    			$utmcampaign="mweb_gnshop_sponsor_pdp";
	    			if(strpos($sponsrdUrl,"-pdp")!==false)
	    			{
	    				$sponsrdUrl = str_replace("-pdp","",$sponsrdUrl);
	    				$sponsrdUrl = str_replace("https://paytmmall.com","https://paytm.com/shop/p", $sponsrdUrl);
	    			}else
	    			{
	    				$sponsrdUrl = str_replace("https://paytmmall.com","", $sponsrdUrl);
	    			}
	    			$sponsrdUrl = rawurlencode($sponsrdUrl);
	    			if(strpos($sponsrdUrl,"?") != false )
	    			{
	    				$sponsrdUrl = $sponsrdUrl."&";
	    			}else
	    			{
	    				$sponsrdUrl = $sponsrdUrl."?";
	    			}
	    			$sponsrdUrl = $sponsrdUrl."utm_campaign=".$utmcampaign."&utm_source=gadgetsnow&utm_medium=Affiliate&price=".$affSProd['price']."&title=".rawurlencode($name);
	    			$sponsrdUrl = $GLOBALS['general']['PAYTM_INTERMEDIATE_URL']."?url=".$sponsrdUrl;
	    		}
		    	
	    	?>
				<li class="ripple">
				<a target="_blank" rel="nofollow sponsored" href="<?=handleStr($sponsrdUrl)?>">
					<div class="inner">
						<span>
								<amp-img src="<?=$affSProd['imageUrl']?>" height="80"></amp-img>
						</span>
						<span>
							<figcaption><?=$name?></figcaption>
							<span class="price_tag offer-price-ui"><strong> <?=$sprice?></strong></span>
							<?php /*?><div class="tableR">
								<div class="tableC logo"><i></i></div>
								<div class="tableC prime"><i></i></div>
								<div class="tableC"><small class="buy_btn">BUY</small></div>
							</div>
							*/?>
							<div class="tableR">
							<?php if($affiliate == "amazon") {?><div class="tableC logo"><i></i></div>
										<div class="tableC prime"><i></i></div>
										<div class="tableC"><small class="buy_btn">BUY</small></div>
										<?php } elseif($affiliate == "paytm") {?>
										<!-- condition for tata logo -->
										<div class="tableC primePaytm"><i></i></div>
										<div class="tableC logo logoPaytm"><i></i></div>
										<div class="tableC"><small class="buy_btn paytm">BUY</small></div>
										<?php }?>
							</div>
							</span>
					</div>
				</a>
				</li>
				<?php } } ?>
			</ul>				
		</div>
	</section>
	<!-- amazon sponsored product list end-->
	<!-- popular amazon start -->
	 
<!-- Paytm banner categories list start -->	
<!-- paytm banner categories list end -->
	
</div>

<?php include __DIR__ . "/../common/ampfooter.phtml"; ?>