<?php include __DIR__ . "/../common/pwaHeader.phtml"; ?>
<!-- ATF Slot start-->
	<?php include __DIR__ . "/../common/atfSlot.phtml"; ?>
<!-- ATF Slot end-->
<div class="author-container">
<!-- author article list start -->
<div class="author-articles">
	<div class="productShowlist">
		<div class="heading">New Launches</div>
		<div class="sort-articles">
			<div class="filter-sort">Sort by: <i class="fa fa-chevron-down" aria-hidden="true"></i></div>
			 
			<dl class="closed">
				<dt><a <?php if($sort === "desc") {?>class="active" <?php } ?> href="/news?sort=desc">Latest</a> </dt>
				<dt><a <?php if($sort === "asc") {?>class="active" <?php } ?> href="/news?sort=asc">Oldest</a></dt>
			</dl>
		</div>
	</div>
	<ul data-tab="Articles">
	<?php 
	
	
	$i=(($page-1)*10);
	$to=10+$i;
	$size = sizeof($articles);
	$noofpages = round($size/10);
	//$noofpages = $noofpages + ($size % 10);
	
	$next = $page+1;
	$previous = ($page==1?0:($page-1));
	while($i < $size && $i < $to)
	{
		$article=$articles[$i];
		$articleId=$article['articleId'];
		$categoryValue = strtolower($article['subCategoryName']);
		$categoryname = strtolower($article['categoryName']);
		$articleHead = $article['articleTitle'];
		$articleTitle = trim(strtolower($article['articleTitle']));
		$introDate = $article['lastUpdatedTxStamp'];
		$introDate =date('M d, Y, h:i A',intval($introDate/1000))." IST";
		$author=$article['authorName'];
		$isActive = trim(strtolower($article['isActive']));
		$articleTitleurl =  preg_replace('/[^a-zA-Z0-9]/','-',$articleTitle);
		$articleTitleurl =  preg_replace('/-+/','-',$articleTitleurl);
				
		$categoryValue = $categoryValue=="laptops"?"laptop":($categoryValue=="televisions"?"tv":($categoryValue=="fitness-band"?"fitnessband":$categoryValue));
		
		$url = "/news/".$articleTitleurl."/aps-".$articleId;
		
		if(isset($article['author']) && isset($article['author']['authorId']))
		{
			$authorid=$article['author']['authorId'];
			$authorname=$article['author']['name'];
			$authorurl=str_replace(" ","-",$authorname);
			$authorurl=str_replace(",","",$authorurl);
			$authorurl=str_replace(":","",$authorurl);
			$authorurl=str_replace("%","",$authorurl);
		} 
		 	
		$i=$i+1;
	 
		?>
	   <li>
				<span>
					<a href="<?=$url?>"><dfn class="mobile-sprite"><?=$articleHead?></dfn></a>
					<div class="table">
						<div class="table-cell rightline">
							<span class="time-caption procs">
							<?php if(isset($authorname)) { 
								if(isset($authorid)) { ?>
							<a href="/author/<?=$authorurl?>/<?=$authorid?>"><?=$authorname?></a>
							<?php }else { ?>
							<?=$authorname?>
							<?php } }?>
							</span>
						</div>
						<div class="table-cell leftline">
							<time class="time-caption procs" data-time="<?=$introDate?>"><?=$introDate?></time>
						</div>
					</div>
				</span>
		</li>
		<?php } ?>
	   
	</ul>
	<div class="overflowhidden">
			<div class="flt">
			<?php if($previous != 0 ) {?>
				<a class="pageFind_btn" href="/news/<?=$previous?>">Previous</a>
				<?php } ?>
			</div>
			 <div class="flr">
			 	<?php if($next <= $noofpages ) {?>
				<a class="pageFind_btn" href="/news/<?=$next?>">Next</a>
				<?php } ?>
			</div>
	</div>

</div>
<!-- author article list end -->
</div>
<?php include __DIR__ . "/../common/pwaFooter.phtml"; ?>