<?php include __DIR__ . "/../common/pwaHeader.phtml"; ?>
<!-- ATF Slot start-->
	<?php include __DIR__ . "/../common/atfSlot.phtml"; ?>
<!-- ATF Slot end-->
 <!-- End lotame audience extraction-->
<div class="author-container">
<!-- author details start -->
	<div class="author-header overflowhidden">
	   <img class="flt image" alt="image" src="<?=$author['imageUrl']?>">
	   <h1><?=$author['name']?></h1>
	   <span class="designation"><?=$author['designation']?></span>
	   <div class="sociable"></div>	   
	</div>
	<div class="author-text">
		<p><?=$author['description']?></p>
	</div>
<!-- author details end -->
<!-- author article list start -->
	<?php 
			$articles = $author['articles'];
			
	?>
<div class="author-articles">
	<div class="productShowlist">
		<div class="heading">Latest Coverage</div>
	</div>
	<ul data-tab="Articles">
	<?php 
			for($i=0;$i<sizeof($articles);$i++)
			{
				$article=$articles[$i];
				$articleId=$article['articleId'];
				$categoryValue = strtolower($article['subCategoryName']);
				$categoryname = strtolower($article['categoryName']);
				$articleTitle = trim(strtolower($article['articleTitle']));
				$isActive = trim(strtolower($article['isActive']));
				$articleTitleurl=str_replace(" ","-",$articleTitle);
				$articleTitleurl=str_replace(",","",$articleTitleurl);
				$articleTitleurl=str_replace(":","",$articleTitleurl);
				$articleTitleurl=str_replace("%","",$articleTitleurl);
				
				$categoryValue = $categoryValue=="laptops"?"laptop":($categoryValue=="televisions"?"tv":($categoryValue=="fitness-band"?"fitnessband":$categoryValue));
					
				$url = "/deal-offers/".$categoryname."/".$categoryValue."/".$articleTitleurl."/aps-".$articleId;
				
				$introDate1 = $article['introductionDate'];
				$introDate1 =date('M d, Y, h:i A',intval($introDate1/1000));
	?>
	 <li>
			<a href="<?=$url?>">
				<span>
					<dfn class="mobile-sprite"><?php print_r($article['articleTitle']);?></dfn>
				</span>
				<span>
					<img width="100%" src="<?php print_r($article['mainImageUrl']);?>" alt="<?php print_r($article['articleTitle']);?>">
				</span>
			</a>
		</li>
	<?php } ?>
	   
	</ul>
	<a class="seemore_btn ripple on" href="javascript:void(0)">See More</a>

</div>
<!-- author article list end -->
</div>
<?php include __DIR__ . "/../common/pwaFooter.phtml"; ?>