<?php include __DIR__ . "/../common/pwaHeader.phtml"; ?>
<div class="bestsellercontainer">
	<div class="headname">
		<h3>Top Category Deals</h3>
		<div class="poweredby">
			<span>Powered by</span>
			<img src="https://static.toiimg.com/photo/84238284.cms" />
		</div>
	</div>
	<div class="catgorybox relative">
		<!-- box start -->
		<div class="box">
			<a href="#"> 
				<div class="boxboder">
					<div class="relative imgcontain">
						<div class="imgbox">
							<img class="lazy" alt="Kitchen &amp; Dining" src="https://static.toiimg.com/photo/79837759.cms" data-original="https://static.toiimg.com/thumb/imgsize-20056,msid-85618191,width-250,resizemode-4/85618191.jpg">
						</div>
					</div>
					<div class="boxcontent">
						<h6 class="title">Kitchen & Dining</h6>
						<div class="boxoffer">
							<span>UPTO 70% OFF</span>
							<span>200+ Deals</span>
						</div>
					</div>
				</div>

			</a>
		</div>
		<!-- box end -->
		<!-- box start -->
		<div class="box">
			<a href="#"> 
				<div class="boxboder">
					<div class="relative imgcontain">
						<div class="imgbox">
							<img class="lazy" alt="Smart TV & Home Ent." src="https://static.toiimg.com/photo/79837759.cms" data-original="https://static.toiimg.com/thumb/imgsize-9950,msid-85552404,width-250,resizemode-4/85552404.jpg">
						</div>
					</div>
					<div class="boxcontent">
						<h6 class="title">Smart TV & Home Ent.</h6>
						<div class="boxoffer">
							<span>UPTO 65% OFF</span>
							<span>200+ Deals</span>
						</div>
					</div>
				</div>

			</a>
		</div>
		<!-- box end -->
		<!-- box start -->
		<div class="box">
			<a href="#"> 
				<div class="boxboder">
					<div class="relative imgcontain">
						<div class="imgbox">
							<img alt="Kitchen &amp; Dining" resizemode="4" title="" src="https://static.toiimg.com/thumb/imgsize-20056,msid-85618191,width-250,resizemode-4/85618191.jpg">
						</div>
					</div>
					<div class="boxcontent">
						<h6 class="title">Kitchen & Dining</h6>
						<div class="boxoffer">
							<span>UPTO 70% OFF</span>
							<span>200+ Deals</span>
						</div>
					</div>
				</div>

			</a>
		</div>
		<!-- box end -->
		<!-- box start -->
		<div class="box">
			<a href="#"> 
				<div class="boxboder">
					<div class="relative imgcontain">
						<div class="imgbox">
							<img alt="Smart TV & Home Ent." resizemode="4" title="" src="https://static.toiimg.com/thumb/imgsize-9950,msid-85552404,width-250,resizemode-4/85552404.jpg">
						</div>
					</div>
					<div class="boxcontent">
						<h6 class="title">Smart TV & Home Ent.</h6>
						<div class="boxoffer">
							<span>UPTO 65% OFF</span>
							<span>200+ Deals</span>
						</div>
					</div>
				</div>

			</a>
		</div>
		<!-- box end -->

	</div>
	<div class="text-center relative"><a class="viewmore" href="#">View More</a></div>
</div>
<hr class="eight" />
<div class="pagecontent" data-hight="60">
	<span class="contentbox">Amazon is one of the leading players in the e-commerce market where people do online shopping for numerous products like mobiles, TVs, clothing, laptops, power banks, refrigerators, washing machines, home & kitchen appliances, and more. During the Amazon Sale, customers who have Amazon Prime membership get early access to deals and new launches, unlimited free one-day and two-day delivery on eligible products, no cost EMI with lower monthly installments, and more. Also, Prime Members can enjoy Prime Videos, Prime Music, and Prime Reading. You can opt for a monthly membership that costs Rs 129 or grab an annual subscription at just Rs 999.</span>
	<span class="read">Read More</span>
</div>
<hr class="eight" />
<div class="bestsellerWapper">
	<h1 class="mainheading">BEST SELLING PRODUCTS</h1>
	<div class="tile" id="tile-1">
	  <!-- Nav tabs -->
		  <ul class="nav nav-tabs nav-justified" role="tablist">
		    <div class="slider"></div>
    			<li class="nav-item">
      				<a class="nav-link active" href="#home" >Top Deals</a>
    			<li class="nav-item">
      				<a class="nav-link" href="#profile">Profile</a>
    			</li>
    			<li class="nav-item">
      				<a class="nav-link" href="#contact">Contact</a>
    			</li>
    			<li class="nav-item">
     				 <a class="nav-link" href="#setting">Settings</a>
    			</li>
			<li class="nav-item">
     				 <a class="nav-link" href="#setting">Settings</a>
    			</li>

  		</ul>
  	<!-- Tab panes -->
	</div>
	<div class="bestsellingbox">
		<!-- selling box start -->
		<div class="sellingbox">
			<a href="#">
				<div class="boxboder">
					<div class="relative imgcontain">
						<div class="imgbox">
							<img alt="OnePlus Nord 2 5G (Gray Sierra, 8GB RAM, 128GB Storage)" class="lazy" src="https://static.toiimg.com/photo/79837759.cms" data-original="https://m.media-amazon.com/images/I/41bUrjJLJyS._SL160_.jpg">
						</div>
					</div>
					<div class="boxcontent">
						<h5 class="title">OnePlus Nord 2 5G (Gray Sierra, 8GB RAM, 128GB Storage)</h5>
						<div class="boxoffer">
							<div class="price rp"> 29999.00</div>
							<div class="mrprice"><span class="rp"> 19999</span> (25% Off)</div>
						</div>
					</div>
					<div class="boxfooter">
						<span class="affilate"><i class="amazon"></i></span>
						<button class="buy">BUY</button>
					</div>
				</div>			
			</a>
		</div>
		<!-- selling box end -->
		<!-- selling box start -->
		<div class="sellingbox">
			<a href="#">
				<div class="boxboder">
					<div class="relative imgcontain">
						<div class="imgbox">
							<img alt="OnePlus Nord 2 5G (Gray Sierra, 8GB RAM, 128GB Storage)" class="lazy" src="https://static.toiimg.com/photo/79837759.cms" data-original="https://m.media-amazon.com/images/I/41bUrjJLJyS._SL160_.jpg">
						</div>
					</div>
					<div class="boxcontent">
						<h5 class="title">OnePlus Nord 2 5G (Gray Sierra, 8GB RAM, 128GB Storage)</h5>
						<div class="boxoffer">
							<div class="price rp"> 29999.00</div>
							<div class="mrprice"><span class="rp"> 19999</span> (25% Off)</div>
						</div>
					</div>
					<div class="boxfooter">
						<span class="affilate"><i class="amazon"></i></span>
						<button class="buy">BUY</button>
					</div>
				</div>			
			</a>
		</div>
		<!-- selling box end -->
	</div>
	<div class="text-center relative"><a class="viewmore" href="#">View More</a></div>
</div>
<hr class="eight" />
<div class="bestsellercontainer">
	<div class="headname">
		<h3>SHOP BY BRANDS</h3>
	</div>
	<div class="shopbybrand">
		<a href="#">
			<div class="brandlogo"><img class="lazy" src="https://static.toiimg.com/photo/79837759.cms" data-original="https://static.toiimg.com/photo/imgsize-2634,msid-84263763/84263763.jpg" /></div>
		</a>
		<a href="#">
			<div class="brandlogo"><img class="lazy" src="https://static.toiimg.com/photo/79837759.cms" data-original="https://static.toiimg.com/photo/imgsize-6830,msid-84263788/84263788.jpg" /></div>
		</a>
		<a href="#">
			<div class="brandlogo"><img class="lazy" src="https://static.toiimg.com/photo/79837759.cms" data-original="https://static.toiimg.com/photo/imgsize-9924,msid-84263821/84263821.jpg" /></div>
		</a>
		<a href="#">
			<div class="brandlogo"><img class="lazy" src="https://static.toiimg.com/photo/79837759.cms" data-original="https://static.toiimg.com/photo/imgsize-11764,msid-84263870/84263870.jpg" /></div>
		</a>
		<a href="#">
			<div class="brandlogo"><img class="lazy" src="https://static.toiimg.com/photo/79837759.cms" data-original="https://static.toiimg.com/photo/imgsize-6624,msid-84263909/84263909.jpg" /></div>
		</a>
		<a href="#">
			<div class="brandlogo"><img class="lazy" src="https://static.toiimg.com/photo/79837759.cms" data-original="https://static.toiimg.com/photo/imgsize-3439,msid-84263933/84263933.jpg" /></div>
		</a>
		<a href="#">
			<div class="brandlogo"><img class="lazy" src="https://static.toiimg.com/photo/79837759.cms" data-original="https://static.toiimg.com/photo/imgsize-20164,msid-84263944/84263944.jpg" /></div>
		</a>
		<a href="#">
			<div class="brandlogo"><img class="lazy" src="https://static.toiimg.com/photo/79837759.cms" data-original="https://static.toiimg.com/photo/imgsize-6841,msid-84263974/84263974.jpg" /></div>
		</a>
		<a href="#">
			<div class="brandlogo"><img class="lazy" src="https://static.toiimg.com/photo/79837759.cms" data-original="https://static.toiimg.com/photo/imgsize-6145,msid-84264007/84264007.jpg" /></div>
		</a>
		<a href="#">
			<div class="brandlogo"><img class="lazy" src="https://static.toiimg.com/photo/79837759.cms" data-original="https://static.toiimg.com/photo/imgsize-4769,msid-84264022/84264022.jpg" /></div>
		</a>
		<a href="#">
			<div class="brandlogo"><img class="lazy" src="https://static.toiimg.com/photo/79837759.cms" data-original="https://static.toiimg.com/photo/imgsize-6146,msid-84264081/84264081.jpg" /></div>
		</a>
		<a href="#">
			<div class="brandlogo"><img class="lazy" src="https://static.toiimg.com/photo/79837759.cms" data-original="https://static.toiimg.com/photo/imgsize-24609,msid-84264109/84264109.jpg" /></div>
		</a>
	</div>
	<div class="text-center relative"><a class="viewmore" href="#">View More</a></div>
</div>
<hr class="eight" />
<div class="bestsellercontainer">
	<div class="headname">
		<h3>AMAZON GREAT FREEDOM FESTIVAL SALE 2021</h3>
	</div>
	<div class="sellingtext">Roll up your sleeves and start filling your carts with the desired products that are available at huge discounts in the Amazon Sale. You get to save more on a wide variety of products from top brands like OnePlus, HP, Apple, Timex, Bajaj, Samsung, Whirlpool, Boat, Realme, Panasonic, Philips, Fossil, Nikon, and more.
	</div>
</div>
<div class="disclaimer">
	<h6 class="he">Disclaimer:</h6>
	Disclaimer: This page has been produced on behalf of Amazon by Times Internet's Spotlight Team. The Times of India's journalists were not involved in the production of this page.
</div>
<?php include __DIR__ . "/../common/pwaFooter.phtml"; ?>
