<?php include __DIR__ . "/../common/pwaHeader.phtml"; ?>
<!-- ATF Slot start-->
	<?php include __DIR__ . "/../common/atfSlot.phtml"; ?>
<!-- ATF Slot end-->
 <!-- condition if URL has PID -->
 <?php 
 	$uri = $_SERVER['REQUEST_URI'];	
 	if(strpos($uri,"/G")!=false)
 	{
 		$urlpid = substr($uri,strrpos($uri,"/")+1,strlen($uri)-1); 
 	 } ?>
 	 
<input type="hidden" id="landingurl" value="<?php if(isset($urlpid)) echo $urlpid; else echo "";?>"/>
<div class="amazing-containers">
		<div class="amazing-header seocontianer">	
			<h1>Best Selling Headphones</h1>
			<!-- <div class="knockouttimer" id="knockouttimer">
				
			</div> -->
			<div class="seocontent overflowhidden display-none">Shop.Gadgetsnow.com offers you exclusive discounts and best smartphone deal online only for our users online in India on various brands of mobiles phones that are widely available in the market.  You will get what you see and we deliver best mobile deals right at your doorstep. 
Keeping up with the latest in technology and advanced growing needs of our users, Shop.Gadgetsnow.com brings to the table a wide range of Smartphone's online at best deals right here at the best and affordable prices in India. There is a mobile handset for everyone. Browse the best Smartphone deals on all popular brands like Apple, Samsung, Xiaomi, Vivo, Nokia, Motorola etc at best discounts online. 
			</div>
		<!-- a class="seoreadmore "href="#">read more...</a -->
		</div>
		<?php $serverUrl = $GLOBALS['general']['BACKEND_SERVER_URL'];
				foreach($productArr as $pid)
				{
					$subheading="";
					$value = $resultJson[$pid];
					$product_name = $value['productName'];
					$product_namediv =$product_name;
					$product_id = $pid;
					 
					$productnameSpl=str_replace(".","-",$product_name);
					$productnameSpl = str_replace(' ','-',$productnameSpl);
					$productnameSpl = str_replace('-&-','-',$productnameSpl);
					$productnameSpl = str_replace('%','',$productnameSpl);
					$productnameSpl = str_replace('(','',$productnameSpl);
					$productnameSpl = str_replace(',','-',$productnameSpl);
					$productnameSpl = str_replace(')','',$productnameSpl);
					$productnameSpl = str_replace('--','-',$productnameSpl);
					$urlname = strtolower($productnameSpl);
					
					// Check if product is instock
					// do not show OOS products 
					$data  = "{'productId':'".$product_id."'}";
					$url = $serverUrl."/rest/inventory/checkProductEnableToBuy";
					$invResult = Utils::getProtectedApiResponse($url, CURLOPT_POST, null, $data, null);
					
					if(isset($invResult['data'])){
						$invJson = json_decode($invResult['data']);
						if(isset($invJson->responseMap->status) && $invJson->responseMap->status==='success' && $invJson->responseMap->flag=="true"){
							$inventoryFlag=true;
						}else 
						{
							continue;
						}
					}
					
					foreach ( $value['priceObjList'] as $obj ) {
						if ($obj ['productPriceTypeId'] === 'DEFAULT_PRICE') {
							$defaultPrice=$obj ['price'];
						} else if ($obj ['productPriceTypeId'] === 'DISCOUNTED_PRICE') {
							$discountedPrice = $obj ['price'];
						} else if ($obj ['productPriceTypeId'] === 'SHIPPING_PRICE') {
							$shippingprice = $obj ['price'] ;
						} else if ($obj ['productPriceTypeId'] === 'LIST_PRICE') {
							$mrp = $obj ['price'];
						}
					}
					if($discountedPrice ==0 ){
						$offerprice =  $defaultPrice;
					}else{
						$offerprice = $discountedPrice;
					}
					$yousave = $mrp-$offerprice;
					
					$off = $mrp - $offerprice;
					$off = $off / $mrp;
					$off = $off * 100;
					
					$discountpercent=number_format($off,0);
					
					
					$primary_category = $value['primaryProductCategoryId'];
					$catname_arry = $value['category']['categoryName'];
					$cat_arry = $value['category']['productCategoryId'];
					$primarcata_name = "Mobiles";
					$producturl = "/".strtolower($catname_arry)."/".$urlname."/".$cat_arry."/p_".$product_id."";
					$producturl = str_replace(' ','-',$producturl);
					$producturl = str_replace('-&-','-',$producturl);
					$producturl = str_replace('%','',$producturl);
					$producturl = str_replace('(','',$producturl);
					$producturl = str_replace(',','-',$producturl);
					$producturl = str_replace(')','',$producturl);
					$producturl = str_replace('--','-',$producturl);
					//print_r($producturl);die;
					
					$productImgurl = strtolower($primarcata_name)."/". str_replace(' ','-', strtolower("Smartphones"))."/".strtolower(str_replace('---','-',str_replace(' ','-',$product_name)))."";
					$productImgurl = str_replace(' ','-',$productImgurl );
					$productImgurl = str_replace('-&-','-',$productImgurl );
					$productImgurl = str_replace('(','',$productImgurl );
					$productImgurl = str_replace(')','',$productImgurl );
					$productImgurl = str_replace('.','-',$productImgurl );
					$productImgurl = str_replace('+','',$productImgurl );
					$productImgurl = str_replace('-?','-',$productImgurl );
					$productImgurl = str_replace("'","",$productImgurl );
					$productImgurl = str_replace("%","",$productImgurl );
					
					$keyFeatures = $value['productFeatureMap']['DISTINGUISHING_FEAT']['HIGHLIGHTS']['Highlights'];
					 
					
					$average="3";
					$percentage="60";
					$total="12";
					
			?>
		<!-- amzing product list start -->
		<div class="sub-amazing active" id="<?=$pid?>" data-url="/amazing-mobile-deals/<?=str_replace(" ","-",$urlname)?>/<?=$pid?>">
			<div class="amazing-one">
				<a href="<?=$producturl?>" class="clickimg"><img alt="<?=$product_name?>" src="<?="https://img1.gadgetsnow.com/gd/images/products/medium/".$product_id."/".$productImgurl?>"/></a>
					<div class="knockoutrating">
						<div class="flt ratingtext">Overall Rating  </div>
						<div class="rating flt" title="<?=$average?> out of 5">
							<span style="width:<?=$percentage?>"><?=$average?> out of 5</span>
						</div>
						<div class="review"><?=$average?> stars | Review(s) : <?=$total?></div>
					</div>
				<?php /* <table border="0" width="100%" cellpadding="0" cellspacing="0">
						<tr>
							<td><div class="fb-like" data-href="https://shop.gadgetsnow.com/<?=$landingurl?>" data-width="100" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div></td>
							<td style="padding:5px 5px 0 5px;"><!-- Twitter start -->
							<a href="https://twitter.com/share" class="twitter-share-button" data-lang="en">Tweet</a>
							<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script><!-- Twitter end --></td>
								<td style="padding:5px 5px 0 0;">  <!--  +1 button start -->
							<div class="plus1" style="display:inline-block">
							  <g:plusone size="medium"></g:plusone>
							</div>
							<script type="text/javascript">
						  (function() {
							var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
							po.src = 'https://apis.google.com/js/plusone.js';
							var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
						  })();
						</script>
				        <!-- +1 button end --></td>
						</tr>
				</table>
				*/ ?>
				
			</div>
			<div class="producthead">
				<h2><a href="url"> <?=$product_name?></a></h2>
				<h3><?=$subheading?></h4>							
				<div class="knockout-tab">
					<div class="knockoutpricetab">
							<span class="offer-price"><span class="rp"></span><?=$offerprice?></span>
							<span class="mrp-price"><span class="rp"></span><?=$mrp?></span>
							<div class="you-save">You Save <span class="rp"></span> <?=$yousave?> (<?=$discountpercent?>%)</div>
					</div>
					<div class="knockoutactiontab">
						<div class="knockout-buybutton " id="knockout-buybutton"> <a href="/control/additem?add_product_id=<?=$pid?>">Buy Now</a></div>
					</div>
				</div>
				<h3>Key Features</h3>
				<ul class="product-features-access">
					<?=$keyFeatures?>
				</ul>
		</div>
		</div>
		<!-- amzing product list end -->
		<?php } // for ends

		?>
		
		
		
		
		
				<section>
<!-- amazon sponsored list --> 
				<?php include __DIR__ . "/../common/newaffiliate-sponsored.phtml"; ?>
	 
		
<!-- amazon list -->
<!-- promoted html-->
<?php include __DIR__ . "/../common/promotedbanner1.phtml"; ?>

<?php include __DIR__ . "/../common/promotedbanner2.phtml"; ?>
 
<!-- promoted html-->
	
</section>
				
			</div>
		
	</div>
<section class="display-none">
	<div class="margin-10 content">
		<h2>Best Deals of Mobile Phones in India only on Shop.Gadgetsnow.com</h2>
<p>
Shop.Gadgetsnow.com has brought to you the best deals of mobile phones online. A wide range of mobile phones are available for you that will help you choose your perfect model for yourself or a gift for someone special. 

With offices going almost virtual, it has become necessary to remain connected to the world of internet. You need a smart 4G mobile phone that will support your needs and give you an altogether different experience. As technology moves ahead, we need to keep the mobile phones in our palms updated to match the technological advancements. 
A smartphone offers you super fast connectivity through its 4G/LTE network support and keeps you connected to the word of the internet 24/7. The mobile phones provide you with a phone that literally has your office in your palms. It gives you the advantage of faster processing of documents; excel sheets and other important work files. 
You can make life easy by buying a mobile phone at best deals right now on Shop.Gadgetsnow.com  that helps you carry out your day to day tasks in a jiffy without compromising on anything. You can shop for best deals on mobiles by browsing on various criteria such as connectivity options, operating system, internal memory, SIM, Processor, Camera, Screen Size, battery capacity and so on.  Check out our daily best deals and pick your smartphone today !
Shop.Gadgetsnow.com displays the best deals on Mobile Phones online in India and provides you a wide assortment of mobile phones for you to choose from. Buy your favorite smartphone online today and it will be delivered to your doorstep. Browse through best deals on mobile accessories as well to complement your mobile phone. 
<br/>
You May Be Interested in other Offers:  <a href="/mobile-offers">Mobile Offers</a> |  <a href="/wallet-offers"> Wallet Offers </a> | <a href="/best-mobiles-deal-of-the-day" >Mobile Deal of the Day </a> | <a href="/flash-sale" >Mobile Flash Sale </a> | <a href="/4g-mobile-offers" >4G Mobile Offers </a> | <a href="/best-amazon-offers" >Amazon Offers </a> | <a href="/best-battery-phones" >Best Battery Phones </a> | <a href="/mobikwik-offer" >Mobikwik Wallet Offers </a> | <a href="/paytm-mall-offers" >Paytm Offers </a> 
		</p>
	</div>
</section>
<br/>

<?php include __DIR__ . "/../common/pwaFooter.phtml"; ?>
 
