<?php include __DIR__ . "/../common/pwaHeader.phtml"; ?>
 <!-- condition if URL has PID -->
 <?php 
 	$uri = $_SERVER['REQUEST_URI'];	
 	if(strpos($uri,"/G")!=false)
 	{
 		$urlpid = substr($uri,strrpos($uri,"/")+1,strlen($uri)-1); 
 	 } ?>
 	 
<input type="hidden" id="landingurl" value="<?php if(isset($urlpid)) echo $urlpid; else echo "";?>"/>
<div class="amazing-containers">
		<div class="amazing-header seocontianer">	
			<h1>Best Selling Accessories</h1>
			<!-- <div class="knockouttimer" id="knockouttimer">
				
			</div> -->
			<div class="seocontent overflowhidden displaynone">			</div>
		<a class="seoreadmore displaynone" href="#">read more...</a>
		</div>
		<?php
			$index=0;
			$serverUrl = $GLOBALS['general']['BACKEND_SERVER_URL'];
				foreach($productArr as $pid)
				{
			
					$value = $resultJson[$pid];
					$product_name = $value['productName'];
					$product_namediv =$product_name;
					$product_id = $pid;
					 
					$productnameSpl=str_replace(".","-",$product_name);
					$productnameSpl = str_replace(' ','-',$productnameSpl);
					$productnameSpl = str_replace('-&-','-',$productnameSpl);
					$productnameSpl = str_replace('%','',$productnameSpl);
					$productnameSpl = str_replace('(','',$productnameSpl);
					$productnameSpl = str_replace(',','-',$productnameSpl);
					$productnameSpl = str_replace(')','',$productnameSpl);
					$productnameSpl = str_replace('--','-',$productnameSpl);
					$urlname = strtolower($productnameSpl);
					
					// Check if product is instock
					// do not show OOS products 
					$data  = "{'productId':'".$product_id."'}";
					$url = $serverUrl."/rest/inventory/checkProductEnableToBuy";
					$invResult = Utils::getProtectedApiResponse($url, CURLOPT_POST, null, $data, null);
					
					if(isset($invResult['data'])){
						$invJson = json_decode($invResult['data']);
						if(isset($invJson->responseMap->status) && $invJson->responseMap->status==='success' && $invJson->responseMap->flag=="true"){
							$inventoryFlag=true;
						}else 
						{
							continue;
						}
					}
					$mrp=0;$defaultPrice=0;$offerprice=0;$discountpercent=0;
					$discountedPrice=0;
					foreach ( $value['priceObjList'] as $obj ) {
						if ($obj ['productPriceTypeId'] === 'DEFAULT_PRICE') {
							$defaultPrice=$obj ['price'];
						} else if ($obj ['productPriceTypeId'] === 'DISCOUNTED_PRICE') {
							$discountedPrice = $obj ['price'];
						} else if ($obj ['productPriceTypeId'] === 'SHIPPING_PRICE') {
							$shippingprice = $obj ['price'] ;
						} else if ($obj ['productPriceTypeId'] === 'LIST_PRICE' && $mrp == 0) {
							$mrp = $obj ['price'];
						} else if ($obj ['productPriceTypeId'] === 'MRP') {
							$mrp = $obj ['price'];
						}
						
					}
					
					if($discountedPrice ==0 ){
						$offerprice =  $defaultPrice;
					}else{
						$offerprice = $discountedPrice;
					}
					$yousave = $mrp-$offerprice;
					
					$off = $mrp - $offerprice;
					$off = $off / $mrp;
					$off = $off * 100;
					
					$discountpercent=number_format($off,0);
					
					
					$primary_category = $value['primaryProductCategoryId'];
					$catname_arry = $value['category']['categoryName'];
					$cat_arry = $value['category']['productCategoryId'];
					$primarcata_name = "Mobiles";
					$producturl = "/".strtolower($catname_arry)."/".$urlname."/".$cat_arry."/p_".$product_id."";
					$producturl = str_replace(' ','-',$producturl);
					$producturl = str_replace('-&-','-',$producturl);
					$producturl = str_replace('%','',$producturl);
					$producturl = str_replace('(','',$producturl);
					$producturl = str_replace(',','-',$producturl);
					$producturl = str_replace(')','',$producturl);
					$producturl = str_replace('--','-',$producturl);
					//print_r($producturl);die;
					
					$productImgurl = strtolower($primarcata_name)."/". str_replace(' ','-', strtolower("Smartphones"))."/".strtolower(str_replace('---','-',str_replace(' ','-',$product_name)))."";
					$productImgurl = str_replace(' ','-',$productImgurl );
					$productImgurl = str_replace('-&-','-',$productImgurl );
					$productImgurl = str_replace('(','',$productImgurl );
					$productImgurl = str_replace(')','',$productImgurl );
					$productImgurl = str_replace('.','-',$productImgurl );
					$productImgurl = str_replace('+','',$productImgurl );
					$productImgurl = str_replace('-?','-',$productImgurl );
					$productImgurl = str_replace("'","",$productImgurl );
					$productImgurl = str_replace("%","",$productImgurl );
					
					$keyFeatures = $value['productFeatureMap']['DISTINGUISHING_FEAT']['HIGHLIGHTS']['Highlights'];
					 
					$average="3";
					$percentage="60";
					$total="12";
					if(isset($review))
					{
						$ratingobj = $review[$pid][0];
						$average=$ratingobj['RATING'];
						$total=$ratingobj['TOTAL_REVIEW'];
						$totalRating = $ratingobj['TOTAL_RATING'];
						$percentage = ($average/5)*100;
					}
					$index=$index+1;
					?>
		<!-- amzing product list start -->
		<div class="sub-amazing active" id="<?=$product_id?>" data-url="/best-selling-accessories/<?=str_replace(" ","-",$urlname)?>/<?=$product_id?>">
			<div class="amazing-one">
				<a href="<?=$producturl?>" class="clickimg"><img alt="<?=$product_name?>" src="<?="https://img1.gadgetsnow.com/gd/images/products/medium/".$product_id."/".$productImgurl?>"/></a>
					<div class="knockoutrating">
						<div class="flt ratingtext">Overall Rating  </div>
						<div class="rating flt" title="<?=number_format($average,1)?> out of 5">
							<span style="width:<?=$percentage?>%"><?=$average?> out of 5</span>
						</div>
						<div class="review"><?=number_format($average,1)?> stars | Review(s) : <?=$total?></div>
					</div>
			</div>
			<div class="producthead">
				<h2><a href="<?=$producturl?>"> <?=$product_name?></a></h2>
				<div class="knockout-tab">
					<div class="knockoutpricetab">
							<span class="offer-price"><span class="toi-rupees"></span><?=$offerprice?></span>
							<span class="mrp-price"><span class="toi-rupees"></span><?php if($mrp!= 0){?><?=$mrp?><?php }?></span>
							<div class="you-save">You Save <span class="toi-rupees"></span> <?=$yousave?> (<?=$discountpercent?>%)</div>
					</div>
					<div class="knockoutactiontab">
						<div class="knockout-buybutton " id="knockout-buybutton"> <a href="/control/additem?add_product_id=<?=$product_id?>">Buy Now</a></div>
					</div>
				</div>
				 <h3>Key Features</h3>
				
				<ul class="product-features-access">
					<?=$keyFeatures?>
				</ul>
		</div>
		</div>
		<div class="sub-amazing active" id="<?=$product_id?>" data-url="/best-battery-phones/<?=str_replace(" ","-",$urlname)?>/<?=$product_id?>">
			<div class="amazing-one">
				<a href="<?=$producturl?>" class="clickimg"><img alt="<?=$product_name?>" src="https://img1.gadgetsnow.com/gd/images/products/medium/<?php echo $product_id ?>/<?php echo $productImgurl ;?>.jpg"/></a>
					
				<?php /* <table border="0" width="100%" cellpadding="0" cellspacing="0">
						<tr>
							<td><div class="fb-like" data-href="https://shop.gadgetsnow.com/<?=$producturl?>" data-width="100" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div></td>
							<td style="padding:5px 5px 0 5px;"><!-- Twitter start -->
							<a href="https://twitter.com/share" class="twitter-share-button" data-lang="en">Tweet</a>
							<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script><!-- Twitter end --></td>
								<td style="padding:5px 5px 0 0;">  <!--  +1 button start -->
							<div class="plus1" style="display:inline-block">
							  <g:plusone size="medium"></g:plusone>
							</div>
							<script type="text/javascript">
						  (function() {
							var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
							po.src = 'https://apis.google.com/js/plusone.js';
							var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
						  })();
						</script>
				        <!-- +1 button end --></td>
						</tr>
				</table>
				*/ ?>
				
			</div>
			<div class="producthead">
				<h2><a href="url"> <?=$product_name?></a></h2>
				<h3><?=$product_name?></h4>							
				<div class="knockout-tab">
					<div class="knockoutpricetab">
							<span class="offer-price"><span class="toi-rupees"></span><?=$offerprice?></span>
						<?php if($yousave >0) { ?>
							<span class="mrp-price"><span class="toi-rupees"></span><?=$mrp?></span>
							<div class="you-save">You Save <span class="toi-rupees"></span> <?=$yousave?> (<?=$discountpercent?>%)</div>
						<?php } ?>	
					</div>
					<div class="knockoutactiontab">
						<div class="knockout-buybutton " id="knockout-buybutton">
						 <a href="/control/additem?add_product_id=<?=$product_id?>">Buy Now</a></div>
					</div>
				</div>
				<h3>Key Features</h3>
				 <?php 
				 		$classOs = "android";
				 		if(strpos(strtolower($extn->OPERATING_SYSTEM_STR_ATTR[0]),"ios")!== false)
							{
						 		$classOs = "ios";
							}
						?>
				<ul class="product-features">
					<li class="display"> <?php echo $screensizestrattr ." ". $screenresolution; ?></li>
					<li class="<?=$classOs?>" > <?php echo $extn->OPERATING_SYSTEM_STR_ATTR[0]; ?></li>
					<li class="processor"> <?php echo $processortype; ?></li>
					<li class="battery">  <?php echo $extn->CAPACITY_STR_ATTR[0]; ?></li>
					<li class="camera">  Main : <?php echo $extn->PRIMARYCAMERA_STR_ATTR[0]; ?>, Front : <?php echo $secondarycamera; ?></li>
					<li class="memory"> <?php echo $extn->RAM_STR_ATTR[0]; ?> RAM  |  <?php echo $extn->INTERNALMEMORY_STR_ATTR[0]; ?> ROM </li>
				
				
				</ul>
		</div>
		</div>
		<!--  product list end -->
			<div id='div-gpt-ad-1549260070829-<?=$index?>' class="ctn-ads-pdp adcode eu-hide" style='margin: 0 auto; width:300px;'>
			<script>
				googletag.cmd.push(function() { googletag.display('div-gpt-ad-1549260070829-<?=$index?>'); });
			</script>
		</div>
		<!-- amzing product list end -->
		<?php } // for ends ?>
		
		
		
<?php include __DIR__ . "/../common/newAffiliate-sponsored.phtml"; ?>
				 			
		
<!-- amazon list -->
<!-- promoted html-->
<?php include __DIR__ . "/../common/promotedbanner1.phtml"; ?>
 
<!-- promoted html-->
 
<!-- promoted html-->
<?php include __DIR__ . "/../common/promotedbanner2.phtml"; ?>
 
<!-- promoted html-->
	
</section>
				
			</div>
		
	</div>
<section>
	<div class="margin-10 content displaynone">
		<h2>heading here</h2>
		<p>.content here.</p>
	</div>
</section>
<br/>

<?php include __DIR__ . "/../common/newfooter.phtml"; ?>
 
