<?php include __DIR__ . "/../common/pwaHeader.phtml"; ?>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
 <!-- End lotame audience extraction-->
 <!-- condition if URL has PID -->
 <?php 

	$uri = $_SERVER['REQUEST_URI'];	
 	if(strpos($uri,"/G")!=false)
 	{
 		$urlpid = substr($uri,strrpos($uri,"/")+1,strlen($uri)-1); 
 	 } ?>
 	 
	<input type="hidden" id="landingurl" value="<?php if(isset($urlpid)) echo $urlpid; else echo "";?>"/>
<div class="amazing-containers">

			<div class="mobile-header seocontianer">
				<img src="<?=$bannerName?>" width="100%"/>
				<h1>Best Battery Life Smartphones</h1>
			
				</div>
			
			<?php
			$index=0;
			$serverUrl = $GLOBALS['general']['BACKEND_SERVER_URL'];
			foreach($productArr as $product)
			{
					
				foreach($products as $extn)
				{
					$product_name = $extn->PRODUCT_NAME;
					$product_namediv =$product_name;
					$product_id = $extn->PRODUCT_ID;
					if($product != $product_id)
					{
						continue;
					}
					$productnameSpl=str_replace(".","-",$product_name);
					$productnameSpl = str_replace(' ','-',$productnameSpl);
					$productnameSpl = str_replace('-&-','-',$productnameSpl);
					$productnameSpl = str_replace('%','',$productnameSpl);
					$productnameSpl = str_replace('(','',$productnameSpl);
					$productnameSpl = str_replace(',','-',$productnameSpl);
					$productnameSpl = str_replace(')','',$productnameSpl);
					$productnameSpl = str_replace('--','-',$productnameSpl);
					$urlname = strtolower($productnameSpl);
					
					// Check if product is instock
					// do not show OOS products 
					$data  = "{'productId':'".$product_id."'}";
					$url = $serverUrl."/rest/inventory/checkProductEnableToBuy";
					$invResult = Utils::getProtectedApiResponse($url, CURLOPT_POST, null, $data, null);
					
					if(isset($invResult['data'])){
						$invJson = json_decode($invResult['data']);
						if(isset($invJson->responseMap->status) && $invJson->responseMap->status==='success' && $invJson->responseMap->flag=="true"){
							$inventoryFlag=true;
						}else 
						{
							continue;
						}
					}
					
					$index++;
					$mrp = $extn->LIST_PRICE;
					$shippingprice = $extn->SHIPPING_PRICE;
					if($extn->DISCOUNTED_PRICE ==0 ){
						$offerprice =  $extn->DEFAULT_PRICE;
					}else{
						$offerprice = $extn->DISCOUNTED_PRICE;
					}
					$yousave = $mrp-$offerprice;
					
					$off = $mrp - $offerprice;
					$off = $off / $mrp;
					$off = $off * 100;
					
					$discountpercent=number_format($off,1);
					
					
					$primary_category = $extn->PRIMARY_CATEGORY_ID;
					$catname_arry = $extn->CATEGORY_NAME;
					$cat_arry = $extn->CATEGORY_ID;
					$position = array_search($primary_category, $cat_arry);
					$primarcata_name = $extn->CATALOG_NAME[$position];
					$producturl = "/".strtolower($primarcata_name)."/". str_replace(' ','-', strtolower($extn->CATEGORY_NAME[$position]))."/".strtolower(str_replace('---','-',str_replace(' ','-',$product_name)))."/$primary_category/p_".$extn->PRODUCT_ID."";
					$producturl = str_replace(' ','-',$producturl);
					$producturl = str_replace('-&-','-',$producturl);
					$producturl = str_replace('%','',$producturl);
					$producturl = str_replace('(','',$producturl);
					$producturl = str_replace(',','-',$producturl);
					$producturl = str_replace(')','',$producturl);
					$producturl = str_replace('--','-',$producturl);
					
					//$producturl = $producturl."?utm_source=Wednesday&utm_medium=WedPromo&utm_campaign=".$extn->PRODUCT_ID'];
					
					$productImgurl = strtolower($primarcata_name)."/". str_replace(' ','-', strtolower($extn->CATEGORY_NAME[$position]))."/".strtolower(str_replace('---','-',str_replace(' ','-',$product_name)))."";
					$productImgurl = str_replace(' ','-',$productImgurl );
					$productImgurl = str_replace('-&-','-',$productImgurl );
					$productImgurl = str_replace('(','',$productImgurl );
					$productImgurl = str_replace(')','',$productImgurl );
					$productImgurl = str_replace('.','-',$productImgurl );
					$productImgurl = str_replace('+','',$productImgurl );
					$productImgurl = str_replace('-?','-',$productImgurl );
					$productImgurl = str_replace("'","",$productImgurl );
					$productImgurl = str_replace("%","",$productImgurl );
					
					$screenresolution = isset($extn->SCREENRESOLUTION_STR_ATTR[0])?$extn->SCREENRESOLUTION_STR_ATTR[0]:"";
					$screensizestrattr= isset($extn->SCREEN_SIZE_STR_ATTR[0])?$extn->SCREEN_SIZE_STR_ATTR[0]:"";
					$processortype=isset($extn->PROCESSORTYPE_STR_ATTR[0])?$extn->PROCESSORTYPE_STR_ATTR[0]:"";
					$secondarycamera = isset($extn->SECONDARYCAMERA_STR_ATTR[0])?$extn->SECONDARYCAMERA_STR_ATTR[0]:"";
					?>
							<!--  product list start -->
		<div class="sub-amazing active" id="<?=$product_id?>" data-url="/best-battery-phones/<?=str_replace(" ","-",$urlname)?>/<?=$product_id?>">
			<div class="amazing-one">
				<a href="<?=$producturl?>" class="clickimg"><img alt="<?=$product_name?>" src="https://img1.gadgetsnow.com/gd/images/products/medium/<?php echo $product_id ?>/<?php echo $productImgurl ;?>.jpg"/></a>
					
				<?php /* <table border="0" width="100%" cellpadding="0" cellspacing="0">
						<tr>
							<td><div class="fb-like" data-href="https://shop.gadgetsnow.com/<?=$producturl?>" data-width="100" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div></td>
							<td style="padding:5px 5px 0 5px;"><!-- Twitter start -->
							<a href="https://twitter.com/share" class="twitter-share-button" data-lang="en">Tweet</a>
							<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script><!-- Twitter end --></td>
								<td style="padding:5px 5px 0 0;">  <!--  +1 button start -->
							<div class="plus1" style="display:inline-block">
							  <g:plusone size="medium"></g:plusone>
							</div>
							<script type="text/javascript">
						  (function() {
							var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
							po.src = 'https://apis.google.com/js/plusone.js';
							var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
						  })();
						</script>
				        <!-- +1 button end --></td>
						</tr>
				</table>
				*/ ?>
				
			</div>
			<div class="producthead">
				<h2><a href="url"> <?=$product_name?></a></h2>
				<h3><?=$product_name?></h4>							
				<div class="knockout-tab">
					<div class="knockoutpricetab">
							<span class="offer-price"><span class="toi-rupees"></span><?=$offerprice?></span>
						<?php if($yousave >0) { ?>
							<span class="mrp-price"><span class="toi-rupees"></span><?=$mrp?></span>
							<div class="you-save">You Save <span class="toi-rupees"></span> <?=$yousave?> (<?=$discountpercent?>%)</div>
						<?php } ?>	
					</div>
					<div class="knockoutactiontab">
						<div class="knockout-buybutton " id="knockout-buybutton">
						 <a href="/control/additem?add_product_id=<?=$product_id?>">Buy Now</a></div>
					</div>
				</div>
				<h3>Key Features</h3>
				 <?php 
				 		$classOs = "android";
				 		if(strpos(strtolower($extn->OPERATING_SYSTEM_STR_ATTR[0]),"ios")!== false)
							{
						 		$classOs = "ios";
							}
						?>
				<ul class="product-features">
					<li class="display"> <?php echo $screensizestrattr ." ". $screenresolution; ?></li>
					<li class="<?=$classOs?>" > <?php echo $extn->OPERATING_SYSTEM_STR_ATTR[0]; ?></li>
					<li class="processor"> <?php echo $processortype; ?></li>
					<li class="battery">  <?php echo $extn->CAPACITY_STR_ATTR[0]; ?></li>
					<li class="camera">  Main : <?php echo $extn->PRIMARYCAMERA_STR_ATTR[0]; ?>, Front : <?php echo $secondarycamera; ?></li>
					<li class="memory"> <?php echo $extn->RAM_STR_ATTR[0]; ?> RAM  |  <?php echo $extn->INTERNALMEMORY_STR_ATTR[0]; ?> ROM </li>
				
				
				</ul>
		</div>
		</div>
		<!--  product list end -->
			<div id='div-gpt-ad-1549260070829-<?=$index?>' class="ctn-ads-pdp adcode eu-hide" style='margin: 0 auto; width:300px;'>
			<script>
				googletag.cmd.push(function() { googletag.display('div-gpt-ad-1549260070829-<?=$index?>'); });
			</script>
		</div>	
				<?php }?> 
							
		   
				<?php } ?>
			<!-- product end -->
</div>
<div class="mobile-store">
			<div class="col-lg-12 text-left">			<h2>Why a smartphone with a good battery life?</h2>	
			<p>Now a days most of our work is done through our mobile handsets. Mobile Phones for us work exactly like computers. Digital cameras have been incorporated in our mobile handset, we need a fast processor for faster processing of our applications, gigantic size internal storage space for storing all our videos, images and documents. We now even enjoy and experience thrilling video games on our mobile handsets. There are several applications that we use daily without which we find it difficult to function. For a mobile or a smartphone to handle such a plethora of features, will obviously require support of a long battery life. The more your smartphone offers features, more requires a longer battery life. Gone are the days where your phone would last for days without charging. <a href="https://shop.gadgetsnow.com/mobiles/mobile-handsets-smart-phones/">Smartphones</a> need to be definitely charged more often that the other budget/feature phones. </p>
			<p>In order to experience longer battery life, the need arised for a phone that could cater to this and hence bigger batteries were inbuilt in latest technological launches. After going through various research and findings, it can safely be said a good battery capacity of 3000mAh is the minimum one would want to experience hassle free processing of applications. </p>
			<p>Now a days, one of the most important basic feature of a smartphone is its battery life. When making your decision for a purchase of a smartphone, it is advisable to look at the battery size that clarifies about the performance of the battery. </p>
			<p>If you are a frequent traveler you will definitely need a phone that promises great battery back up otherwise you would be wasting time at Airports, Railway Stations, Bus Stands etc looking for a charging point that can be quite annoying. Click here to see our wide variety of <a href="https://www.gadgetsnow.com/mobile-phones">mobile phones</a> with long battery life. These not only offer great battery back up but also offer a good camera, big screen size etc. </p>
			<p>Many big brands like Lenovo, Samsung, Motorola, Nokia etc offer phones with best battery backup</p>
			<p>The <a href="https://www.gadgetsnow.com/mobile-phones/Xiaomi-Mi-Max-2">Xiaomi Mi Max 2</a> has a powerful battery capacity of 5300mAh that can be utilized for over 13 hours which is roughly over 2 days.  <a href="https://www.gadgetsnow.com/mobile-phones/Samsung-Galaxy-A9-Pro">Samsung Galaxy A9 Pro</a> gives 5000mAh battery that delivers a whopping  12 hours of on screen time. </p>
			<p><a href="https://www.gadgetsnow.com/mobile-phones/Apple-iPhone-7-Plus">Apple iPhone 7 Plus</a> has improved its battery life time and delivers almost double battery back up.</p>
			<p>Check out our wide range of  <a href="https://www.gadgetsnow.com/mobile-phones/filters/os=Android">Android mobile phones</a> available with more than 6000mAh Battery Capacity 
			
			You May Be Interested in other Offers: <a href="/mobile-offers">Mobile Offers</a> |  <a href="/wallet-offers"> Wallet Offers </a> | <a href="/best-mobiles-deal-of-the-day" >Mobile Deal of the Day </a> | <a href="/flash-sale" >Mobile Flash Sale </a> | <a href="/4g-mobile-offers" >4G Mobile Offers </a> | <a href="/best-amazon-offers" >Amazon Offers </a> | <a href="/mobikwik-offer" >Mobikwik Wallet Offers </a> | <a href="/amazing-mobile-deals" >Amazing Mobile Deals </a> | <a href="/paytm-mall-offers" >Paytm Offers </a>
			</p>
			</div><br/>
</div>
<?php include __DIR__ . "/../common/newfooter.phtml"; ?>