<?php include __DIR__ . "/../common/pwaHeader.phtml"; ?>
<!-- ATF Slot start-->
	<?php include __DIR__ . "/../common/atfSlot.phtml"; ?>
<!-- ATF Slot end-->
<!-- banner start HTML -->
<div class="toi-container">
<?php /* ?><section>
	<div id="toi-casousel">
			<?php	
						$url = $GLOBALS['general']['HOME_PAGE_BANNER_API'];
						$content = file_get_contents($url."?format=json");
						if(isset($content)) {
							$result = json_decode($content,true);
							if(isset($result['HomeBanner'])){ ?>	
						<?php 		//var_dump($result);
						foreach($result['HomeBanner'] as $value){
							$nofollow="";
						$imgpath = $value['bannername'];
						$imgurl = $value['bannerurl'];
						$imgurl = str_replace("https://www.shop.gadgetsnow.com/","", $imgurl);
						$bannertext = $value['bannertext'];
						if(strpos($imgurl,"www.amazon") !== false)
						{
							$nofollow="rel=nofollow";
							$amazonUrl = str_replace("https://www.amazon.in","", $imgurl);
							$amazonUrl = $amazonUrl."&tag=timofind-21";
							$amazonUrl = urlencode($amazonUrl);
							$amazonUrl = $amazonUrl."&utm_campaign=mweb_gnshop_pay-21&utm_source=mweb_gnshop&utm_medium=Affiliate&price=0&title=".utf8_encode($bannertext);
							$imgurl = "http://m.gadgetsnow.com/affiliate_amazon.cms?url=".$amazonUrl;
							$target="_blank";
						}
						if(strpos($imgurl,"www.primevideo") !== false)
						{
							$nofollow="rel=nofollow";
							$target="_blank";
							$primevideoUrl = $imgurl;
							$intermediateUrl = "https://m.shop.gadgetsnow.com/affiliate.cms?url=";
							$primevideoUrl = $intermediateUrl.rawurlencode($primevideoUrl)."&tag=apv_mweb_gnshop_hpbanner&afname=primevideo&utm_medium=affiliate"."&title=".rawurlencode($bannertext)."&price=0";
							$imgurl=$primevideoUrl;
						}
						
						if(strpos($imgurl,"gaussnetworks") !== false)
						{
							$nofollow="rel=nofollow";
							$target="_blank";
							$addaUrl = "http://gaussnetworks.go2cloud.org/aff_c?offer_id=1034&aff_id=1419";
							$intermediateUrl = "https://m.shop.gadgetsnow.com/affiliate.cms?url=";
							$addaUrl = $intermediateUrl.rawurlencode($addaUrl)."&tag=adda_hpbanner_mweb&afname=adda&utm_medium=affiliate"."&title=".rawurlencode($bannertext)."&price=0";
							$imgurl=$addaUrl;
						}
						?>
						<a <?php if(isset($target)) {?>target=<?=$target?> <?php } ?> <?=$nofollow?> data-ga-track="hpbanner##<?php echo $imgurl?>##<?=$value['bannertext']?>##0" href="<?php echo $imgurl?>" ><img alt="<?=$value['bannertext']?>" class='lazy' data-original='<?php echo $imgpath?>' width='100%' /></a>
						<?php		} ?>	
					<?php } }?>
		 
		</div>
	<!-- banner end HTML -->
</section>
*/ ?>
<br/>
<section>
	<div class="margin-10 content seocontianer">
		<h1>The Great Indian Sale only on Amazon- Everything at a discount!</h1>
		<div class="seocontent overflowhidden">
		The much awaited Big Sale is now on Amazon.com. Big deals at big discounts- across categories! So whether you are looking for your dream mobile phone or for apparels and accessories, they are all here under one roof with big discounts on them. 
		
		 </div>
		<a class="seoreadmore"href="#">read more...</a>
	</div>
</section>
</div>

<section>
<div class="amazon-bestoffer-container">
	<ul>
	<?php $amzBanneApirUrl=$GLOBALS['general']['AMAZON_BEST_OFFER_API'];
		$amzBannerRes =  file_get_contents($amzBanneApirUrl);
		if(isset($amzBannerRes)) {
			$amzresult = json_decode($amzBannerRes,true);
			foreach($amzresult['promoted'] as $value)
			{
				$number = $value['number'];
				//$active = $value['active'];
				$bestOfferAfName = $value['fname'];
				$bestOfferStartDate = $value['startdate'];
				$bestOfferEndDate = $value['enddate'];
				$bestOfferTagName= $value['tagname'];
				$bestOfferEventcat= $value['Eventcat'];
				$bestOfferEventaction= $value['Eventaction'];
				$bestOfferEventlabel= $value['Eventlabel'];
				$bestOfferTaglabel= $value['taglabel'];
				$bestOfferImgpath = $value['bannername'];
				$bestOfferBannerurl = $value['bannerurl'];
				$bestOfferBannertext = $value['bannertext'];
				if($bestOfferAfName === "amazon") // For amazon and tatacliq intermediate URL is of m.gadgetsnow.com
				{
					$bestOfferEventcat="Amazon|gnshop|mweb|amazonoffers"; 
					$bestOfferEventaction="click";
					$bestOfferEventlabel="NA|".$bestOfferBannertext."|NA";
					
					$bestOffernofollowtag="rel=nofollow";
					/* $bestOfferintermediateUrl = str_replace("https://www.amazon.in","", $bestOfferBannerurl);
					
					if(strpos($bestOfferintermediateUrl,"?") !== false)
					{
						$bestOfferintermediateUrl = $bestOfferintermediateUrl."&tag=timofind-21";
					}else 
					{
						$bestOfferintermediateUrl = $bestOfferintermediateUrl."?tag=timofind-21";
					} 
					$bestOfferintermediateUrl = rawurlencode($bestOfferintermediateUrl);
					$bestOfferintermediateUrl = $bestOfferintermediateUrl."&utm_campaign=mweb_gnshop_promowidget-21&utm_source=mweb_gnshop&utm_medium=Affiliate&price=0&title=".rawurlencode($bestOfferBannertext);
					$bestOfferintermediateUrl = "http://m.gadgetsnow.com/affiliate_amazon.cms?url=".$bestOfferintermediateUrl;*/
					
					$affiliateParamArray=array("productname"=>$bestOfferBannertext,"price"=>"NA","producturl"=>$bestOfferBannerurl,"pagename"=>"bestAmazonOffers","widget"=>"promowidget");
					$affiliateLandingurl=AffiliateUrlCreator::createAffiliateUrl("amazon",$affiliateParamArray);
					
				
					$bestOfferintermediateUrl=$affiliateLandingurl;
				}
				
				?>
			
		<li><a target="_blank" rel="nofollow sponsored" data-ga-track="<?=$bestOfferEventcat?>##<?=$bestOfferEventaction?>##<?=$bestOfferEventlabel?>##0" href="<?=$bestOfferintermediateUrl?>">
		<img src="<?=$bestOfferImgpath?>"/></a></li>
	<?php } }?>
	
	</ul>
	</div>
</section>
<section>
	<div class="Productsbestoffer-container featuredBrands">
		<div>FEATURED BRANDS</div>
		<ul>
			<li>
		<?php 
			$aff_pname="BestOffers";
			$amazonUrl1 ="https://www.amazon.in/b/ref=s9_acss_bw_cg_Exclfarm_2a1_w?node=6759758031&pf_rd_m=A1K21FY43GMZF8&pf_rd_s=merchandised-search-15&pf_rd_r=WTVZVJ5PN4ZVFM3RDMKS&pf_rd_t=101&pf_rd_p=6d7e731d-e59a-4c6b-8943-efca1ad438c6&pf_rd_i=6734059031";
			/* $amazonUrl1 = str_replace("https://www.amazon.in","",$amazonUrl1);
			$amazonUrl1 = str_replace("http://www.amazon.in","",$amazonUrl1);
			if(strpos($amazonUrl1,"?") == false)
			{
				$amazonUrl1 =$amazonUrl1."?tag=timofind-21";
			}else
			{
				$amazonUrl1 =$amazonUrl1."&tag=timofind-21";
			}
			$intermediateUrl = "http://m.gadgetsnow.com/affiliate_amazon.cms?url=";
			$amazonUrl1 = $intermediateUrl.rawurlencode($amazonUrl1)."&utm_campaign=mweb_gnshop_promowidget-21"."&title=".rawurlencode($aff_pname)."&price=&utm_source=mweb_gnshop&utm_medium=Affiliate";
			 */
			$affiliateParamArray=array("productname"=>$aff_pname,"price"=>"NA","producturl"=>$amazonUrl1,"pagename"=>"bestAmazonOffers","widget"=>"promowidget");
			$affiliateLandingurl=AffiliateUrlCreator::createAffiliateUrl("amazon",$affiliateParamArray);
			$amazonUrl1=$affiliateLandingurl;
			
			$bestOfferEventcat="Amazon|gnshop|mweb|amazonoffers";
			$bestOfferEventaction="click";
			$bestOfferEventlabel="NA|".$aff_pname."|NA";
				
		?>
				<a target="_blank" 
				href="<?=$amazonUrl1?>" 
				data-ga-track="<?=$bestOfferEventcat?>##<?=$bestOfferEventaction?>##<?=$bestOfferEventlabel?>##0">
				<img src="https://images-eu.ssl-images-amazon.com/images/G/31/img16/Wireless/Mobiles/CEEX/OnePlus3/440x300_01._V533683912_.png"/></a>
			</li>
			<li>
		<?php 
			$amazonUrl2 ="https://www.amazon.in/b/ref=s9_acss_bw_cg_Exclfarm_2b1_w?node=4363159031&pf_rd_m=A1K21FY43GMZF8&pf_rd_s=merchandised-search-15&pf_rd_r=WTVZVJ5PN4ZVFM3RDMKS&pf_rd_t=101&pf_rd_p=6d7e731d-e59a-4c6b-8943-efca1ad438c6&pf_rd_i=6734059031";
			/* $amazonUrl2 = str_replace("https://www.amazon.in","",$amazonUrl2);
			$amazonUrl2 = str_replace("http://www.amazon.in","",$amazonUrl2);
			if(strpos($amazonUrl2,"?") == false)
			{
				$amazonUrl2 =$amazonUrl2."?tag=timofind-21";
			}else
			{
				$amazonUrl2 =$amazonUrl2."&tag=timofind-21";
			}
			$intermediateUrl = "http://m.gadgetsnow.com/affiliate_amazon.cms?url=";
			$amazonUrl2 = $intermediateUrl.rawurlencode($amazonUrl2)."&utm_campaign=mweb_gnshop_promowidget-21"."&title=".rawurlencode($aff_pname)."&price=&utm_source=mweb_gnshop&utm_medium=Affiliate";
			 */
			$affiliateParamArray=array("productname"=>$aff_pname,"price"=>"NA","producturl"=>$amazonUrl2,"pagename"=>"bestAmazonOffers","widget"=>"promowidget");
			$affiliateLandingurl=AffiliateUrlCreator::createAffiliateUrl("amazon",$affiliateParamArray);
			$amazonUrl2=$affiliateLandingurl;
		?>
				<a target="_blank" 
				href="<?=$amazonUrl2?>" 
				data-ga-track="<?=$bestOfferEventcat?>##<?=$bestOfferEventaction?>##<?=$bestOfferEventlabel?>##0">
				<img src="https://images-eu.ssl-images-amazon.com/images/G/31/img16/Electronics/E-sale/Brandfarm/samsung.jpg"/></a>
			</li>
			<li>
		<?php 
			$amazonUrl3 ="https://www.amazon.in/b/ref=s9_acss_bw_cg_Exclfarm_2c1_w?node=10858436031&pf_rd_m=A1K21FY43GMZF8&pf_rd_s=merchandised-search-15&pf_rd_r=WTVZVJ5PN4ZVFM3RDMKS&pf_rd_t=101&pf_rd_p=6d7e731d-e59a-4c6b-8943-efca1ad438c6&pf_rd_i=6734059031";
			/* $amazonUrl3 = str_replace("https://www.amazon.in","",$amazonUrl3);
			$amazonUrl3 = str_replace("http://www.amazon.in","",$amazonUrl3);
			if(strpos($amazonUrl3,"?") == false)
			{
				$amazonUrl3 =$amazonUrl3."?tag=timofind-21";
			}else
			{
				$amazonUrl3 =$amazonUrl3."&tag=timofind-21";
			}
			$intermediateUrl = "http://m.gadgetsnow.com/affiliate_amazon.cms?url=";
			$amazonUrl3 = $intermediateUrl.rawurlencode($amazonUrl3)."&utm_campaign=mweb_gnshop_promowidget-21"."&title=".rawurlencode($aff_pname)."&price=&utm_source=mweb_gnshop&utm_medium=Affiliate";
			 */
			$affiliateParamArray=array("productname"=>$aff_pname,"price"=>"NA","producturl"=>$amazonUrl3,"pagename"=>"bestAmazonOffers","widget"=>"promowidget");
			$affiliateLandingurl=AffiliateUrlCreator::createAffiliateUrl("amazon",$affiliateParamArray);
			$amazonUrl3=$affiliateLandingurl;
		?>
				<a target="_blank" 
				href="<?=$amazonUrl3?>" 
				data-ga-track="<?=$bestOfferEventcat?>##<?=$bestOfferEventaction?>##<?=$bestOfferEventlabel?>##0">
				<img src="https://images-eu.ssl-images-amazon.com/images/G/31/img16/Electronics/E-sale/Brandfarm/TCL.jpg"/>
				</a>
			</li>
			<li>
			<?php 
			$amazonUrl4 ="https://www.amazon.in/b/ref=s9_acss_bw_cg_Exclfarm_2d1_w?node=10858437031&pf_rd_m=A1K21FY43GMZF8&pf_rd_s=merchandised-search-15&pf_rd_r=WTVZVJ5PN4ZVFM3RDMKS&pf_rd_t=101&pf_rd_p=6d7e731d-e59a-4c6b-8943-efca1ad438c6&pf_rd_i=6734059031";
			/* $amazonUrl4 = str_replace("https://www.amazon.in","",$amazonUrl4);
			$amazonUrl4 = str_replace("http://www.amazon.in","",$amazonUrl4);
			if(strpos($amazonUrl4,"?") == false)
			{
				$amazonUrl4 =$amazonUrl4."?tag=timofind-21";
			}else
			{
				$amazonUrl4 =$amazonUrl4."&tag=timofind-21";
			}
			$intermediateUrl = "http://m.gadgetsnow.com/affiliate_amazon.cms?url=";
			$amazonUrl4 = $intermediateUrl.rawurlencode($amazonUrl4)."&utm_campaign=mweb_gnshop_promowidget-21"."&title=".rawurlencode($aff_pname)."&price=&utm_source=mweb_gnshop&utm_medium=Affiliate";
 */
			$affiliateParamArray=array("productname"=>$aff_pname,"price"=>"NA","producturl"=>$amazonUrl4,"pagename"=>"bestAmazonOffers","widget"=>"promowidget");
			$affiliateLandingurl=AffiliateUrlCreator::createAffiliateUrl("amazon",$affiliateParamArray);
			$amazonUrl4=$affiliateLandingurl;
		?>
			<a target="_blank" 
				href="<?=$amazonUrl4?>" 
				data-ga-track="<?=$bestOfferEventcat?>##<?=$bestOfferEventaction?>##<?=$bestOfferEventlabel?>##0">
			<img src="https://images-eu.ssl-images-amazon.com/images/G/31/img16/Electronics/E-sale/Brandfarm/Sanyo.jpg"/></a>
			</li>
			<li>
		<?php 
			$amazonUrl5 ="https://www.amazon.in/b/ref=s9_acss_bw_cg_Exclfarm_3a1_w?node=5518838031&pf_rd_m=A1K21FY43GMZF8&pf_rd_s=merchandised-search-15&pf_rd_r=WTVZVJ5PN4ZVFM3RDMKS&pf_rd_t=101&pf_rd_p=6d7e731d-e59a-4c6b-8943-efca1ad438c6&pf_rd_i=6734059031";
			/* $amazonUrl5 = str_replace("https://www.amazon.in","",$amazonUrl5);
			$amazonUrl5 = str_replace("http://www.amazon.in","",$amazonUrl5);
			if(strpos($amazonUrl5,"?") == false)
			{
				$amazonUrl5 =$amazonUrl5."?tag=timofind-21";
			}else
			{
				$amazonUrl5 =$amazonUrl5."&tag=timofind-21";
			}
			$intermediateUrl = "http://m.gadgetsnow.com/affiliate_amazon.cms?url=";
			$amazonUrl5 = $intermediateUrl.rawurlencode($amazonUrl5)."&utm_campaign=mweb_gnshop_promowidget-21"."&title=".rawurlencode($aff_pname)."&price=&utm_source=mweb_gnshop&utm_medium=Affiliate";
 */
			$affiliateParamArray=array("productname"=>$aff_pname,"price"=>"NA","producturl"=>$amazonUrl5,"pagename"=>"bestAmazonOffers","widget"=>"promowidget");
			$affiliateLandingurl=AffiliateUrlCreator::createAffiliateUrl("amazon",$affiliateParamArray);
			$amazonUrl5=$affiliateLandingurl;
		?>
				<a target="_blank" 
				href="<?=$amazonUrl5?>" 
				data-ga-track="<?=$bestOfferEventcat?>##<?=$bestOfferEventaction?>##<?=$bestOfferEventlabel?>##0">
				<img src="https://images-eu.ssl-images-amazon.com/images/G/31/img16/Electronics/E-sale/Brandfarm/Lenovo.jpg"/></a>
			</li>
			<li>
			<?php 
			$amazonUrl6 ="https://www.amazon.in/b/ref=s9_acss_bw_cg_brands_5a1_w/ref=s9_acss_bw_cg_Shopby_3a1_w?node=8988900031";
			/* $amazonUrl6 = str_replace("https://www.amazon.in","",$amazonUrl6);
			$amazonUrl6 = str_replace("http://www.amazon.in","",$amazonUrl6);
			if(strpos($amazonUrl6,"?") == false)
			{
				$amazonUrl6 =$amazonUrl6."?tag=timofind-21";
			}else
			{
				$amazonUrl6 =$amazonUrl6."&tag=timofind-21";
			}
			$intermediateUrl = "http://m.gadgetsnow.com/affiliate_amazon.cms?url=";
			$amazonUrl6 = $intermediateUrl.rawurlencode($amazonUrl6)."&utm_campaign=mweb_gnshop_promowidget-21"."&title=".rawurlencode($aff_pname)."&price=&utm_source=mweb_gnshop&utm_medium=Affiliate";
 */
			$affiliateParamArray=array("productname"=>$aff_pname,"price"=>"NA","producturl"=>$amazonUrl6,"pagename"=>"bestAmazonOffers","widget"=>"promowidget");
			$affiliateLandingurl=AffiliateUrlCreator::createAffiliateUrl("amazon",$affiliateParamArray);
			$amazonUrl6=$affiliateLandingurl;
		?>
				<a target="_blank" 
				href="<?=$amazonUrl6?>" 
				data-ga-track="<?=$bestOfferEventcat?>##<?=$bestOfferEventaction?>##<?=$bestOfferEventlabel?>##0">
				<img src="https://images-eu.ssl-images-amazon.com/images/G/31/img16/Electronics/E-sale/Brandfarm/microsoft-logo.jpg"/></a>
			</li>
			<li>
			<?php 
			$amazonUrl7 ="https://www.amazon.in/b/ref=s9_acss_bw_cg_Exclfarm_3c1_w?node=9574337031&pf_rd_m=A1K21FY43GMZF8&pf_rd_s=merchandised-search-15&pf_rd_r=WTVZVJ5PN4ZVFM3RDMKS&pf_rd_t=101&pf_rd_p=6d7e731d-e59a-4c6b-8943-efca1ad438c6&pf_rd_i=6734059031";
			/* $amazonUrl7 = str_replace("https://www.amazon.in","",$amazonUrl7);
			$amazonUrl7 = str_replace("http://www.amazon.in","",$amazonUrl7);
			if(strpos($amazonUrl7,"?") == false)
			{
				$amazonUrl7 =$amazonUrl7."?tag=timofind-21";
			}else
			{
				$amazonUrl7 =$amazonUrl7."&tag=timofind-21";
			}
			$intermediateUrl = "http://m.gadgetsnow.com/affiliate_amazon.cms?url=";
			$amazonUrl7 = $intermediateUrl.rawurlencode($amazonUrl7)."&utm_campaign=mweb_gnshop_promowidget-21"."&title=".rawurlencode($aff_pname)."&price=&utm_source=mweb_gnshop&utm_medium=Affiliate";

			 */
			$affiliateParamArray=array("productname"=>$aff_pname,"price"=>"NA","producturl"=>$amazonUrl7,"pagename"=>"bestAmazonOffers","widget"=>"promowidget");
			$affiliateLandingurl=AffiliateUrlCreator::createAffiliateUrl("amazon",$affiliateParamArray);
			$amazonUrl7=$affiliateLandingurl;
			
		?>
				<a target="_blank" 
				href="<?=$amazonUrl7?>" 
				data-ga-track="<?=$bestOfferEventcat?>##<?=$bestOfferEventaction?>##<?=$bestOfferEventlabel?>##0">
				<img src="https://images-eu.ssl-images-amazon.com/images/G/31/img16/Wireless/Mobiles/BrandLogos/1017061_Content-Grid-Tiles_Honor_brand_logo_440x300._V525468006_.jpg"/></a>
			</li>
			<li>
		<?php 
			$amazonUrl8 ="https://www.amazon.in/b/ref=s9_acss_bw_cg_Exclfarm_3d1_w?node=9956729031&pf_rd_m=A1K21FY43GMZF8&pf_rd_s=merchandised-search-15&pf_rd_r=WTVZVJ5PN4ZVFM3RDMKS&pf_rd_t=101&pf_rd_p=6d7e731d-e59a-4c6b-8943-efca1ad438c6&pf_rd_i=6734059031";
			/* $amazonUrl8 = str_replace("https://www.amazon.in","",$amazonUrl8);
			$amazonUrl8 = str_replace("http://www.amazon.in","",$amazonUrl8);
			if(strpos($amazonUrl8,"?") == false)
			{
				$amazonUrl8 =$amazonUrl8."?tag=timofind-21";
			}else
			{
				$amazonUrl8 =$amazonUrl8."&tag=timofind-21";
			}
			$intermediateUrl = "http://m.gadgetsnow.com/affiliate_amazon.cms?url=";
			$amazonUrl8 = $intermediateUrl.rawurlencode($amazonUrl8)."&utm_campaign=mweb_gnshop_promowidget-21"."&title=".rawurlencode($aff_pname)."&price=&utm_source=mweb_gnshop&utm_medium=Affiliate";
 */
			$affiliateParamArray=array("productname"=>$aff_pname,"price"=>"NA","producturl"=>$amazonUrl8,"pagename"=>"bestAmazonOffers","widget"=>"promowidget");
			$affiliateLandingurl=AffiliateUrlCreator::createAffiliateUrl("amazon",$affiliateParamArray);
			$amazonUrl8=$affiliateLandingurl;
		?>
				<a target="_blank" 
				href="<?=$amazonUrl8?>" 
				data-ga-track="<?=$bestOfferEventcat?>##<?=$bestOfferEventaction?>##<?=$bestOfferEventlabel?>##0">
				<img src="https://images-eu.ssl-images-amazon.com/images/G/31/img16/Electronics/E-sale/Brandfarm/Coolpad.jpg"/></a>
			</li>
		</ul>
	</div>
</section>

<section>
	<div class="Productsbestoffer-container mobileByprice">
		<div>MOBILES BY PRICE</div>
		<ul>
			<li>
			
		<?php 
			$amazonUrl9 ="https://www.amazon.in/s/ref=s9_acss_bw_cts_VodooFS_T1L4_w?rh=n%3A976419031%2Cn%3A!976420031%2Cn%3A1389401031%2Cn%3A1389432031%2Cp_98%3A10440597031&qid=1484135102&bbn=1389432031&low-price=&high-price=5%2C000&x=6&y=10&pf_rd_m=A1K21FY43GMZF8&pf_rd_s=merchandised-search-2&pf_rd_r=42Z000CDH4H716JJXBDM&pf_rd_t=101&pf_rd_p=6a0d89b1-d6c0-489a-8d64-9763337327c0&pf_rd_i=1389401031";
			/* $amazonUrl9 = str_replace("https://www.amazon.in","",$amazonUrl9);
			$amazonUrl9 = str_replace("http://www.amazon.in","",$amazonUrl9);
			if(strpos($amazonUrl9,"?") == false)
			{
				$amazonUrl9 =$amazonUrl9."?tag=timofind-21";
			}else
			{
				$amazonUrl9 =$amazonUrl9."&tag=timofind-21";
			}
			$intermediateUrl = "http://m.gadgetsnow.com/affiliate_amazon.cms?url=";
			$amazonUrl9 = $intermediateUrl.rawurlencode($amazonUrl9)."&utm_campaign=mweb_gnshop_promowidget-21"."&title=".rawurlencode($aff_pname)."&price=&utm_source=mweb_gnshop&utm_medium=Affiliate";
			 */	
			$affiliateParamArray=array("productname"=>$aff_pname,"price"=>"NA","producturl"=>$amazonUrl9,"pagename"=>"bestAmazonOffers","widget"=>"promowidget");
			$affiliateLandingurl=AffiliateUrlCreator::createAffiliateUrl("amazon",$affiliateParamArray);
			$amazonUrl9=$affiliateLandingurl;
		?>
				<a target="_blank" 
				href="<?=$amazonUrl9?>" data-ga-track="<?=$bestOfferEventcat?>##<?=$bestOfferEventaction?>##<?=$bestOfferEventlabel?>##0">
					<div class="pricehead">BELOW <span class="price"></span>5,000</div>
					<figure><img src="https://images-na.ssl-images-amazon.com/images/I/511qpyTfuIL._AC_AA250_.jpg" /></figure>
					<div class=priceviewall>VIEW ALL <span>></span></div>
				</a>
			</li>
			<li>
	<?php 
			$amazonUrl10 ="https://www.amazon.in/s/ref=s9_acss_bw_cts_VodooFS_T2L4_w?rh=n%3A976419031%2Cn%3A!976420031%2Cn%3A1389401031%2Cn%3A1389432031%2Cn%3A1805560031&qid=1484135856&bbn=1805560031&low-price=5%2C000&high-price=10%2C000&x=3&y=12&pf_rd_m=A1K21FY43GMZF8&pf_rd_s=merchandised-search-2&pf_rd_r=42Z000CDH4H716JJXBDM&pf_rd_t=101&pf_rd_p=6a0d89b1-d6c0-489a-8d64-9763337327c0&pf_rd_i=1389401031";
			/* $amazonUrl10 = str_replace("https://www.amazon.in","",$amazonUrl10);
			$amazonUrl10 = str_replace("http://www.amazon.in","",$amazonUrl10);
			if(strpos($amazonUrl10,"?") == false)
			{
				$amazonUrl10 =$amazonUrl10."?tag=timofind-21";
			}else
			{
				$amazonUrl10 =$amazonUrl10."&tag=timofind-21";
			}
			$intermediateUrl = "http://m.gadgetsnow.com/affiliate_amazon.cms?url=";
			$amazonUrl10 = $intermediateUrl.rawurlencode($amazonUrl10)."&utm_campaign=mweb_gnshop_promowidget-21"."&title=".rawurlencode($aff_pname)."&price=&utm_source=mweb_gnshop&utm_medium=Affiliate";
				 */
			$affiliateParamArray=array("productname"=>$aff_pname,"price"=>"NA","producturl"=>$amazonUrl10,"pagename"=>"bestAmazonOffers","widget"=>"promowidget");
			$affiliateLandingurl=AffiliateUrlCreator::createAffiliateUrl("amazon",$affiliateParamArray);
			$amazonUrl10=$affiliateLandingurl;
		?>
				<a target="_blank" 
				href="<?=$amazonUrl10?>" 
				data-ga-track="<?=$bestOfferEventcat?>##<?=$bestOfferEventaction?>##<?=$bestOfferEventlabel?>##0">
					<div class="pricehead"><span class="price"></span>5,000 - <span class="price"></span>10,000</div>
					<figure><img src="https://images-eu.ssl-images-amazon.com/images/I/81lDYg9zuwL.AC_AA250.jpg" /></figure>
					<div class=priceviewall>VIEW ALL <span>></span></div>
				</a>
			</li>
			<li>
		
		<?php 
			$amazonUrl11 ="https://www.amazon.in/s/ref=s9_acss_bw_cts_VodooFS_T3L4_w?rh=n%3A976419031%2Cn%3A!976420031%2Cn%3A1389401031%2Cn%3A1389432031%2Cn%3A1805560031%2Cp_36%3A1318505031&qid=1484135884&bbn=1805560031&low-price=10%2C000&high-price=15%2C000&x=16&y=9&pf_rd_m=A1K21FY43GMZF8&pf_rd_s=merchandised-search-2&pf_rd_r=42Z000CDH4H716JJXBDM&pf_rd_t=101&pf_rd_p=6a0d89b1-d6c0-489a-8d64-9763337327c0&pf_rd_i=1389401031";
			/* $amazonUrl11 = str_replace("https://www.amazon.in","",$amazonUrl11);
			$amazonUrl11 = str_replace("http://www.amazon.in","",$amazonUrl11);
			if(strpos($amazonUrl11,"?") == false)
			{
				$amazonUrl11 =$amazonUrl11."?tag=timofind-21";
			}else
			{
				$amazonUrl11 =$amazonUrl11."&tag=timofind-21";
			}
			$intermediateUrl = "http://m.gadgetsnow.com/affiliate_amazon.cms?url=";
			$amazonUrl11 = $intermediateUrl.rawurlencode($amazonUrl11)."&utm_campaign=mweb_gnshop_promowidget-21"."&title=".rawurlencode($aff_pname)."&price=&utm_source=mweb_gnshop&utm_medium=Affiliate";
 */
			$affiliateParamArray=array("productname"=>$aff_pname,"price"=>"NA","producturl"=>$amazonUrl11,"pagename"=>"bestAmazonOffers","widget"=>"promowidget");
			$affiliateLandingurl=AffiliateUrlCreator::createAffiliateUrl("amazon",$affiliateParamArray);
			$amazonUrl11=$affiliateLandingurl;
		?>
				<a target="_blank" 
				href="<?=$amazonUrl11?>" data-ga-track="<?=$bestOfferEventcat?>##<?=$bestOfferEventaction?>##<?=$bestOfferEventlabel?>##0">
					<div class="pricehead"><span class="price"></span>10,000 - <span class="price"></span>15,000</div>
					<figure><img src="https://images-eu.ssl-images-amazon.com/images/I/91V89Qmb5YL.AC_AA250_.jpg" /></figure>
					<div class=priceviewall>VIEW ALL <span>></span></div>
				</a>
			</li>
			<li>
		<?php 
			$amazonUrl12 ="https://www.amazon.in/s/ref=s9_acss_bw_cts_VodooFS_T4L4_w?rh=i%3Aelectronics%2Cn%3A976419031%2Cn%3A%21976420031%2Cn%3A1389401031%2Cn%3A1389432031%2Cn%3A1805560031%2Cp_98%3A10440597031%2Cp_36%3A1500000-99999999&bbn=1805560031&rw_html_to_wsrp=1&pf_rd_m=A1K21FY43GMZF8&pf_rd_s=merchandised-search-2&pf_rd_r=42Z000CDH4H716JJXBDM&pf_rd_t=101&pf_rd_p=6a0d89b1-d6c0-489a-8d64-9763337327c0&pf_rd_i=1389401031";
			/* $amazonUrl12 = str_replace("https://www.amazon.in","",$amazonUrl12);
			$amazonUrl12 = str_replace("http://www.amazon.in","",$amazonUrl12);
			if(strpos($amazonUrl12,"?") == false)
			{
				$amazonUrl12 =$amazonUrl12."?tag=timofind-21";
			}else
			{
				$amazonUrl12 =$amazonUrl12."&tag=timofind-21";
			}
			$intermediateUrl = "http://m.gadgetsnow.com/affiliate_amazon.cms?url=";
			$amazonUrl12 = $intermediateUrl.rawurlencode($amazonUrl12)."&utm_campaign=mweb_gnshop_promowidget-21"."&title=".rawurlencode($aff_pname)."&price=&utm_source=mweb_gnshop&utm_medium=Affiliate";

			 */
			$affiliateParamArray=array("productname"=>$aff_pname,"price"=>"NA","producturl"=>$amazonUrl12,"pagename"=>"bestAmazonOffers","widget"=>"promowidget");
			$affiliateLandingurl=AffiliateUrlCreator::createAffiliateUrl("amazon",$affiliateParamArray);
			$amazonUrl12=$affiliateLandingurl;
		?>
				<a target="_blank" href="<?=$amazonUrl12?>"
				 data-ga-track="<?=$bestOfferEventcat?>##<?=$bestOfferEventaction?>##<?=$bestOfferEventlabel?>##0">
					<div class="pricehead">ABOVE <span class="price"></span>15,000</div>
					<figure><img src="https://images-eu.ssl-images-amazon.com/images/I/610Xy47BnAL.AC_AA250.jpg" /></figure>
					<div class=priceviewall>VIEW ALL <span>></span></div>
				</a>
			</li>
			
		</ul>
	</div>
</section>


<section>
	<div class="shopByFeature">
		<div><strong>Shop by Feature</strong></div>
		<ul>
		<?php 
		$shopbyFeatures = array ("Phones 4GB Ram and More"=>array("amazon|gnshop|mweb|Amazonoffers|features##click##NA|4G|NA##0"=>"https://www.amazon.in/s/ref=s9_acss_bw_cg_CEEX_2a1_w?rh=i%3Aelectronics%2Cn%3A976419031%2Cn%3A%21976420031%2Cn%3A1389401031%2Cn%3A1389432031%2Cn%3A1805560031%2Cp_n_feature_seven_browse-bin%3A8561133031&bbn=1805560031&ie=UTF8&pf_rd_m=A1K21FY43GMZF8&pf_rd_s=merchandised-search-9&pf_rd_r=XPXKWGZENETBZTRFGWYN&pf_rd_t=101&pf_rd_p=9aab8a55-2470-4834-b05a-d9629368a1ed&pf_rd_i=14155081031&pf_rd_m=A1K21FY43GMZF8&pf_rd_s=merchandised-search-6&pf_rd_r=42Z000CDH4H716JJXBDM&pf_rd_t=101&pf_rd_p=3a9e5e9e-acc2-4db4-8db2-e8b62ae760ff&pf_rd_i=1389401031"),
				"Phones with 10 MP Camera and more"=>array("amazon|gnshop|mweb|Amazonoffers|features##click##NA|10mp|NA##0"=>"https://www.amazon.in/s/ref=s9_acss_bw_cg_CEEX_2b1_w?rh=i%3Aelectronics%2Cn%3A976419031%2Cn%3A%21976420031%2Cn%3A1389401031%2Cn%3A1389432031%2Cn%3A1805560031%2Cp_n_feature_two_browse-bin%3A1898707031&bbn=1805560031&ie=UTF8&pf_rd_m=A1K21FY43GMZF8&pf_rd_s=merchandised-search-9&pf_rd_r=XPXKWGZENETBZTRFGWYN&pf_rd_t=101&pf_rd_p=9aab8a55-2470-4834-b05a-d9629368a1ed&pf_rd_i=14155081031&pf_rd_m=A1K21FY43GMZF8&pf_rd_s=merchandised-search-6&pf_rd_r=42Z000CDH4H716JJXBDM&pf_rd_t=101&pf_rd_p=3a9e5e9e-acc2-4db4-8db2-e8b62ae760ff&pf_rd_i=1389401031"),
				"Phones with 5.5 inch screen and more"=>array("amazon|gnshop|mweb|Amazonoffers|features##click##NA|5.5inch|NA##0"=>"https://www.amazon.in/s/ref=s9_acss_bw_cg_CEEX_2d1_w?rh=i%3Aelectronics%2Cn%3A976419031%2Cn%3A%21976420031%2Cn%3A1389401031%2Cn%3A1389432031%2Cn%3A1805560031%2Cp_n_feature_six_browse-bin%3A6631756031&bbn=1805560031&ie=UTF8&pf_rd_m=A1K21FY43GMZF8&pf_rd_s=merchandised-search-9&pf_rd_r=XPXKWGZENETBZTRFGWYN&pf_rd_t=101&pf_rd_p=9aab8a55-2470-4834-b05a-d9629368a1ed&pf_rd_i=14155081031&pf_rd_m=A1K21FY43GMZF8&pf_rd_s=merchandised-search-6&pf_rd_r=42Z000CDH4H716JJXBDM&pf_rd_t=101&pf_rd_p=3a9e5e9e-acc2-4db4-8db2-e8b62ae760ff&pf_rd_i=1389401031"),
				"Phones with 4000 mAh battery and more"=>array("amazon|gnshop|mweb|Amazonoffers|features##click##NA|400mah|NA##0"=>"https://www.amazon.in/s/ref=s9_acss_bw_cg_CEEX_2c1_w?rh=i%3Aelectronics%2Cn%3A976419031%2Cn%3A%21976420031%2Cn%3A1389401031%2Cn%3A1389432031%2Cn%3A1805560031%2Cp_n_feature_thirteen_browse-bin%3A8561102031&bbn=1805560031&ie=UTF8&pf_rd_m=A1K21FY43GMZF8&pf_rd_s=merchandised-search-9&pf_rd_r=XPXKWGZENETBZTRFGWYN&pf_rd_t=101&pf_rd_p=9aab8a55-2470-4834-b05a-d9629368a1ed&pf_rd_i=14155081031&pf_rd_m=A1K21FY43GMZF8&pf_rd_s=merchandised-search-6&pf_rd_r=42Z000CDH4H716JJXBDM&pf_rd_t=101&pf_rd_p=3a9e5e9e-acc2-4db4-8db2-e8b62ae760ff&pf_rd_i=1389401031"));
		
		foreach($shopbyFeatures as $leafT=>$values)
		{
			foreach($values as $gadata=>$link)
			{
				$amazonUrl = $link;
				/* $amazonUrl = str_replace("https://www.amazon.in","",$amazonUrl);
				$amazonUrl = str_replace("http://www.amazon.in","",$amazonUrl);
				if(strpos($amazonUrl,"?") == false)
				{
					$amazonUrl =$amazonUrl."?tag=timofind-21";
				}else
				{
					$amazonUrl =$amazonUrl."&tag=timofind-21";
				}
				$intermediateUrl = "http://m.gadgetsnow.com/affiliate_amazon.cms?url=";
				$amazonUrl = $intermediateUrl.rawurlencode($amazonUrl)."&utm_campaign=mweb_gnshop_promowidget-21"."&title=".rawurlencode($aff_pname)."&price=&utm_source=mweb_gnshop&utm_medium=Affiliate";
			 */
				$affiliateParamArray=array("productname"=>$aff_pname,"price"=>"NA","producturl"=>$amazonUrl,"pagename"=>"bestAmazonOffers","widget"=>"promowidget");
				$affiliateLandingurl=AffiliateUrlCreator::createAffiliateUrl("amazon",$affiliateParamArray);
				$amazonUrl=$affiliateLandingurl;
				?>
			<li>
				<a target="_blank" href="<?=$amazonUrl?>" data-ga-track="<?=$gadata?>">
					<?=$leafT?>
				</a>
			</li>
			<?php }
		}
		
		
		?>
			
		</ul>
	</div>
</section>
<section>
	<div class="shopelectronic countryblock">
		<div></div>
		<ul>
		<?php 
		$amazonOffers = array ("Mobiles"=>array("amazon|gnshop|mweb|Amazonoffers##click##NA|mobiles|NA##0"=>"https://www.amazon.in/s/ref=s9_acss_bw_cg_CEEX_1a1_w?url=search-alias%3Daps&hidden-keywords=B01DDP85BY%7C+B01A11D2U2%7C+B01DDP87N0%7C+B01DDP7GZK%7C+B01BHUN4S6%7C+B01082CP4S%7C+B0158IT7ES%7C+B01IP040SY%7C+B01DDP85KU%7C+B01AY3H9QA%7C+B011RG8SOU%7C+B01DDP7M36%7C+B017U1OILI%7C+B016UPKNDM%7C+B011L80VQW%7C+B01DDP83FM%7C+B01FM7GG58%7C+B01FM7GGFI%7C+B01DDP7D6W&pf_rd_m=A1K21FY43GMZF8&pf_rd_s=merchandised-search-5&pf_rd_r=YM15AJ3S17Z55WQZA93C&pf_rd_t=101&pf_rd_p=2e98f8d7-34de-4f09-b038-f2755750c09e&pf_rd_i=6734059031"),
				"Amazonbasics"=>array("amazon|gnshop|mweb|Amazonoffers##click##NA|amazonbasics|NA##0"=>"https://www.amazon.in/s/ref=s9_acss_bw_cg_CEEX_1c1_w?rh=i%3Aelectronics%2Cn%3A976419031%2Cp_89%3AAmazonBasics%2Cp_6%3AAT95IG9ONZD7S&bbn=976419031&suppress-ve=1&ie=UTF8&pf_rd_m=A1K21FY43GMZF8&pf_rd_s=merchandised-search-5&pf_rd_r=YM15AJ3S17Z55WQZA93C&pf_rd_t=101&pf_rd_p=2e98f8d7-34de-4f09-b038-f2755750c09e&pf_rd_i=6734059031"),
				"Computer & Accessories"=>array("amazon|gnshop|mweb|Amazonoffers##click##NA|mobiles|NA##0"=>"https://www.amazon.in/s/ref=s9_acss_bw_cg_CEEX_1b1_w?rh=p_76%3A1318482031%2Ci%3Aelectronics&hidden-keywords=B00HTK1NCS%7CB015J5ER9A%7CB00PLNM8XS&rw_html_to_wsrp=1&pf_rd_m=A1K21FY43GMZF8&pf_rd_s=merchandised-search-5&pf_rd_r=YM15AJ3S17Z55WQZA93C&pf_rd_t=101&pf_rd_p=2e98f8d7-34de-4f09-b038-f2755750c09e&pf_rd_i=6734059031"),
				"TV & Video"=>array("amazon|gnshop|mweb|Amazonoffers##click##NA|tv-video|NA##0"=>"https://www.amazon.in/s/ref=s9_acss_bw_cg_CEEX_1d1_w?rh=i%3Aelectronics%2Cn%3A976419031%2Cn%3A%21976420031%2Cn%3A1389375031%2Cn%3A1389396031%2Cp_89%3ATcl%7CSanyo%7CLeeco%7CNoble%20Skiodo%7CTrunik%7CBpl&bbn=1389396031&rw_html_to_wsrp=1&pf_rd_m=A1K21FY43GMZF8&pf_rd_s=merchandised-search-5&pf_rd_r=YM15AJ3S17Z55WQZA93C&pf_rd_t=101&pf_rd_p=2e98f8d7-34de-4f09-b038-f2755750c09e&pf_rd_i=6734059031"));
		
		
		?>
		<?php 
		foreach($amazonOffers as $leafT=>$values)
		{
			foreach($values as $gadata=>$link)
				{ 
					$amazonUrl = $link;
					/* $amazonUrl = str_replace("https://www.amazon.in","",$amazonUrl);
					$amazonUrl = str_replace("http://www.amazon.in","",$amazonUrl);
					if(strpos($amazonUrl,"?") == false)
					{
						$amazonUrl =$amazonUrl."?tag=timofind-21";
					}else
					{
						$amazonUrl =$amazonUrl."&tag=timofind-21";
					}
					$intermediateUrl = "http://m.gadgetsnow.com/affiliate_amazon.cms?url=";
					$amazonUrl = $intermediateUrl.rawurlencode($amazonUrl)."&utm_campaign=mweb_gnshop_promowidget-21"."&title=".rawurlencode($aff_pname)."&price=&utm_source=mweb_gnshop&utm_medium=Affiliate";
 */
					$affiliateParamArray=array("productname"=>$aff_pname,"price"=>"NA","producturl"=>$amazonUrl,"pagename"=>"bestAmazonOffers","widget"=>"promowidget");
					$affiliateLandingurl=AffiliateUrlCreator::createAffiliateUrl("amazon",$affiliateParamArray);
					$amazonUrl=$affiliateLandingurl;
					
					?>
			<li>
				<a target="_blank" 
				href="<?=$amazonUrl?>" 
				data-ga-track="<?=$gadata?>">
					<?=$leafT?>
				</a>
			</li>		
										
			<?php }
		}
		?>
			
		</ul>
	</div>
</section>

<?php include __DIR__ . "/../common/newAffiliate-sponsored.phtml"; ?>

<!-- amazon sponsored list --> 
 
<!-- amazon list -->





<!-- promoted html-->
<?php include __DIR__ . "/../common/promotedbanner1.phtml"; ?>
<!-- promoted html-->
 
<!-- promoted html-->
<?php include __DIR__ . "/../common/promotedbanner2.phtml"; ?>
<!-- promoted html-->
<section>
	<div class="margin-10 content">
		
	<h2>The Amazon Offers</h2>
	<p>Style up with the latest fashion wear at our Great Amazon Sale. Up to 80 % off on almost all big brands with easy returns. Choose from a wide selection of apparels and accessories for men and women and get them at a great bargain. Our various filters will help you choose your requirement and throw over the results and you will be happy to see the best offers we have for you. The Lowest price bundled with best offers that you just cannot resist. 
	</p>
	<BR>
	<h3>Best Brands of Latest Mobile Phones on Amazon</h3>
	<p>Your favorite mobile phone is now on the Great India Amazon Sale! So wait no more and buy your dream mobile phone without any more delay as the Sale is for limited period only.
	</p>
	<p>
	Amazon has some amazing new offers that will help you buy a new product and at the same time you can sell off your existing product and avail further unbelievable discounts. All major mobile phone brands like RealMe, Huawei, Samsung, Vivo. Oppo, OnePlus are offering great discounts that you cannot resist. No Cost EMI and Exchange offers are some of the great deals on Amazon.
	</p>
	<p>
	Exchange your old mobile phone for the latest OnePlus 6 and flaunt it with style. Enjoy the Redmi Y2 16MP AI selfie mobile phone at the lowest price ever only on the Great India Amazon Sale. Your dream phone the Huawei Nova 3i is available at unbelievable price so don't miss out the opportunity! Browse through the smartphone deals today and bring home your favorite mobile phone at best discount ever. Go on it's the right time to replace your old mobile phones with the latest and new mobile phone! Stay updated with the changing technology made simpler by Amazon Online!
	</p>
	<p>
	Go ahead and choose your perfect phone and you will get the best offer online right here at Amazon! Buy one today and have them delivered at your doorstep instantly
	</p>
	You May Be Interested in other Offers: <a href="/mobile-offers">Mobile Offers</a> |  <a href="/wallet-offers"> Wallet Offers </a> | <a href="/best-mobiles-deal-of-the-day" >Mobile Deal of the Day </a> | <a href="/flash-sale" >Mobile Flash Sale </a> | <a href="/4g-mobile-offers" >4G Mobile Offers </a> | <a href="/best-battery-phones" >Best Battery Phones </a> | <a href="/mobikwik-offer" >Mobikwik Wallet Offers </a> | <a href="/amazing-mobile-deals" >Amazing Mobile Deals </a> | <a href="/paytm-mall-offers" >Paytm Offers </a>
	</p>
			</div>
</section>
<?php include __DIR__ . "/../common/pwaFooter.phtml"; ?>