<?php include __DIR__ . "/../common/header.phtml"; ?>
<script src='https://www.google.com/recaptcha/api.js'></script>
<div class="bulkorder">
	<img src="/mobile/img/blukbuy.jpg" width="100%" />
	<h1>Bulk Buy</h1>
	<p class="headertext">At Gadgetsnow we take special care of our "Corporate Customers". We understand that daily internal requirements and gifting is a necessity of corporate life and a highly time consuming activity for you. <br/>
	We have a dedicated team that takes care of all such requirements. This team takes care of the "end to end" process from ideation as per your budgets to ensuring the last mile delivery anywhere in India with real time project tracking.
	</p><br/>
	<p class="headertext"><b>We accept bulk orders of Gadgets and Electronics only, specifically pertaining to Mobiles, Tablets and Computers.</b></p><br /><br />
	<div class="servermsgsuccess displaynone">
		<p>Thanks for submitting your request. We will get back to you shortly!</p>		
	</div>
	<form id="BulkForm" name="BulkForm"  action="/control/bulkOrderData" method="post">
	<input type="hidden" name="otpFor" value="bulkbuy"/>
	<div class="field-wrapper">
		<input id="PlaceHolder_txtName" type="text" placeholder="Enter your Name" name="contactName" validate="{true,blank,Name is required,alphachar,Please enter only alphabets for Name}" tabindex="1" />
		<span id="PlaceHolder_txtName_error" class="error">&nbsp;</span>
	</div>
	<div class="field-wrapper">
		<input name="contactNumber" type="number" pattern="\d*" id="PlaceHolder_txtMobile" autocomplete="off" placeholder="Contact Number" maxlength="10" validate="{true,blank,Mobile number is required,phoneIND,Please enter valid mobile number}" tabindex="2" />
		<span id="PlaceHolder_txtMobile_error" class="error">&nbsp;</span>
	</div>
	<div class="field-wrapper">
		<input type="text" value="" placeholder="Enter your email" id="newemail" name="email" validate="{true,blank,Please specify your valid email address,email,Please enter a valid email address}" tabindex="3"/>
		<span id="newemail_error" class="error">&nbsp;</span>
	</div>
	<div class="field-wrapper">
		<p class="headertext">Note : We deal only in Gadgets and Electronics</p>
		<input type="text" name="productinterested" placeholder="Product interested in buying" tabindex="4" />
		<span id="PlaceHolder_productinterested_error" class="error">&nbsp;</span>
	</div>
	<div class="field-wrapper">
		<p class="headertext">Note : Please mention quantity of more than 5</p>
		<input type="number" name="quantity" pattern="\d*" placeholder="Please Enter Quantity of Product" tabindex="5" />
		<span id="PlaceHolder_quantity_error" class="error">&nbsp;</span>
	</div>
	<div class="field-wrapper">
		<select class="contact_select" id="PlaceHolder_purposeofbuying" name="purposeofbuying">
			<option value="" selected="">Purpose of Buying</option>
			<option value="Reselling">Reselling</option>
			<option value="Flipkart">Personal Use</option>
			<option value="Corporate/institutional Sales">Corporate/institutional Sales</option>
		</select>
		<span id="PlaceHolder_purposeofbuying_error" class="error">&nbsp;</span>
	</div>
	<div class="field-wrapper">
		<textarea name="remarks" id="PlaceHolder_textarea" placeholder="Additional Comments (if any)" cols="40" rows="6" maxlength="600" validate="{false,blank,Please enter your company,htmltag,HTML tags not allowed}" tabindex="5"></textarea>
		<span id="PlaceHolder_textarea_error" class="error">&nbsp;</span>
	</div>
	<div class="g-recaptcha" data-sitekey="6LcOmDsUAAAAAP0gh6QgPNMvc5DF8Bq7DubCF86_"></div>
	
	<div class="field-wrapper displaynone">
		<p class="headertext otpmsg"></p>
		<input type="number" disabled="disabled" placeholder="Please Enter your OTP" validate="{true,blank,OTP is required}" pattern="\d*" name="otp" size="23" id="OTP_request" class="form-text" maxlength="32" /> 
		<span id="OTP_request_error" class="error">&nbsp;</span>
		<p class="headertext stillnotOTP">Did not receive OTP? <a class="resendOTP" href="#">Resend OTP</a></p>
	</div>
	<p id="bulkorderthanksmsg" class="headertext">We will send a verification code to <span class="contactnumber">the above mentioned contact number</span> for confirmation.</p>
	<div class="field-wrapper">
		<input type="submit" class="flat-orange paynow"	value="Submit" />
	</div>
	
</form>
	
</div>

<?php include __DIR__ . "/../common/newfooter.phtml"; ?>