    <!-- container body start -->
<?php include __DIR__ . "/../common/header.phtml"; ?>
<script src='https://www.google.com/recaptcha/api.js'></script>
    <!-- container body start -->
	
<div class="toi-container">
	<div class="productShowlist">
		<div class="heading">Contact Us</div>
		
	</div>
	<div class="contactus section-container-ui checkout-ui">
		<form id="formcontact" method="post" name="contactUsForm" action="/control/sendContactUsMail" enctype="multipart/form-data">
					<div class="field-wrapper">
				    	<div class="overflowhidden">
							<div class="questionnumber flt">1</div>
							<div class="question flt">What is your query related to?<span class="required">*</span></div>
						</div>
				        <div class="question_inputs overflowhidden">
				        <span class="table-cell">
				        	<input type="radio" class="flt" id="radio_order" name="queryType" checked="checked" value="An order you placed">
				            <label for="radio_order" class="flt">An order you placed</label>
				       	</span>
				        <span  class="table-cell">
				        	<input type="radio" id="radio_anyInfo" class="flt" name="queryType" value="Any other information">
				            <label for="radio_anyInfo" class="flt">Any other information</label>
				       	</span>
				        <div class="radio_anyInfo">
				         	<input id="orderNumber" name="orderId" validate="{true,blank,Please Enter Your Order ID}" class="contact_txt" type="text" placeholder="Your Order Number"/>
				            <span id="orderNumber_error" class="error"></span>
				        </div>
				        <p class="infoBottom">To check your order number, please see <a href="/control/orderhistory?SHOW_OLD=true" class="global_btn blue">My Account</a></p>
				        </div>
				    </div>
				    
				    <div class="field-wrapper">
				    	<div class="questionnumber flt">2</div>
				        <div class="question flt">Tell us more about your issue.<span class="required">*</span></div>
				        <div id="orderPlaced" class="question_inputs">
				         	<select id="select_issue" class="contact_select" validate="{true,blank,Please Select Issue}" name="issueType">
				            	<option value="">---Select an Issue---</option>
				                <option data-issue="order_query" value="Order Query">Order related query</option>
				                <option data-issue="shipment_query" value="Shipment Query">Shipment related query</option>
				                <option data-issue="problem_query" value="Problem Recieved">Problem with item received</option>
				                <option data-issue="payment_query" value="Payment Issues">Payment issues</option>
				                <option data-issue="pricing_query" value="Pricing Issues">Pricing issues</option>
				            </select>
								<span id="select_issue_error" class="errorMsg"></span>
				        	<select id="select_issue_sub" class="contact_select displaynone" validate="{true,blank,Please Select Issue}"   name="issueSubType">
								<option value="">---Select an Issue---</option>
								<option class="order_query  displaynone select-issue-type" data-issue="myorder" value="Where is my order?">Where is my order?</option>
								<option class="order_query displaynone select-issue-type" value="Payment deducted but order not verified.">Payment deducted but order not verified.</option>
								<option class="order_query displaynone select-issue-type" value="Order got cancelled">Order got cancelled</option>
								<option class="order_query displaynone select-issue-type" value="Not received email for order confirmation">Not received email for order confirmation</option>
								<option class="order_query displaynone select-issue-type" value="Address change request">Address change request</option>
								<option class="order_query displaynone select-issue-type" value="Cancel order">Cancel order</option>
								<option class="shipment_query displaynone select-issue-type" value="Want earlier delivery">Want earlier delivery</option>
								<option class="shipment_query displaynone select-issue-type" value="Tracking shows delivered but order not received">Tracking shows delivered but order not received</option>
								<option class="shipment_query displaynone select-issue-type" value="Delay in delivery">Delay in delivery</option>
								<option class="shipment_query displaynone select-issue-type" value="Product returned to origin">Product returned to origin</option>
								<option class="problem_query displaynone select-issue-type" data-issue="returnorder" value="Return an order">Return an order</option>
								<option class="problem_query displaynone select-issue-type" data-issue="replaceorder" value="Replace an order">Replace an order</option>
								<option class="problem_query displaynone select-issue-type" data-issue="refundorder" value="Refund status">Refund status</option>
								<option class="problem_query displaynone select-issue-type" value="Invoice copy request">Invoice copy request</option>
								<option class="problem_query displaynone select-issue-type" value="Other issues">Other issues</option>
								<option class="payment_query displaynone select-issue-type" value="Payment deducted,order not confirmed">Payment deducted,order not confirmed</option>
								<option class="payment_query displaynone select-issue-type" value="Payment declined">Payment declined</option>
								<option class="payment_query displaynone select-issue-type" value="Credit/Debit card double charged">Credit/Debit card double charged</option>
								<option class="payment_query displaynone select-issue-type" value="Payment made but order status showing rejected">Payment made but order status showing rejected</option>
								<option class="payment_query displaynone select-issue-type" value="Credit card charged but order got processed on COD">Credit card charged but order got processed on COD</option>
								<option class="payment_query displaynone select-issue-type" value="Change payment method">Change payment method</option>
								<option class="payment_query displaynone select-issue-type" value="Print invoice">Print invoice</option>
								<option class="payment_query displaynone select-issue-type" value="Other payment issues">Other payment issues</option>
								<option class="pricing_query displaynone select-issue-type" value="Price difference in Ad and the product received">Price difference in Ad and the product received</option>
							</select>
								<span id="select_issue_sub_error" class="errorMsg"></span>
							<select id="select_issue_sub2" class="contact_select displaynone" validate="{true,blank,Please Select Issue}" name="issueSubType1">
								<option value="">---Select an Issue---</option>
								<option class="select_issue_sub2 displaynone returnorder" value="Damaged item">Damaged item</option>
								<option class="select_issue_sub2 displaynone returnorder" value="Defective item">Defective item</option>
								<option class="select_issue_sub2 displaynone returnorder" value="Item not as described">Item not as described</option>
								<option class="select_issue_sub2 displaynone returnorder" value="Received wrong product">Received wrong product</option>
								<option class="select_issue_sub2 displaynone returnorder" value="Missing items/parts">Missing items/parts</option>
								
								<option class="select_issue_sub2 displaynone replaceorder" value="Damaged item">Damaged item</option>
								<option class="select_issue_sub2 displaynone replaceorder" value="Defective item">Defective item</option>
								<option class="select_issue_sub2 displaynone replaceorder" value="Item not as described">Item not as described</option>
								<option class="select_issue_sub2 displaynone replaceorder" value="Missing items/parts">Missing items/parts</option>
								
								<option class="select_issue_sub2 displaynone refundorder" data-issue="willrefund" value="When will I get the refund">When will I get the refund</option>
								<option class="select_issue_sub2 displaynone refundorder" value="Received lesser amount as refund">Received lesser amount as refund</option>
							</select>
								<span id="select_issue_sub2_error" class="errorMsg"></span>
							<div class="infoBottom"><i>Note:</i> We recommend you to attach pictures of the damaged/defective product along with this mail.</div>
							<div id="select_issue_WhereOrder" class="faqinfo infoBottom displaynone">
								Hey, you can <span class="first"><a class="checkouttrigger" href="/control/orderhistory">Click Here</a></span> to know your order status!
							</div> 
				            <div id="select_issue_sub2_refund" class="faqinfo infoBottom displaynone">
								Hey, please see our <span class="first"><a href="/refundPolicy">Refund Policy</a></span> before going ahead!
							</div>
				        </div>
				    </div>
				    <div class="field-wrapper nameDetails">
				    	<div class="questionnumber flt">3</div>
				        <div class="question flt">E-mail gadgetsnowshop.com customer service.</div>
					        <div class="field-wrapper">
					        	<input id="fname" name="firstName" validate="{true,blank,Please Enter First Name,alphachar, Please enter only alphabets in name}" class="contact_txt_small" type="text" placeholder="First Name *"/>
								<span id="fname_error" class="error"></span>
							</div>
							<div class="field-wrapper">
					        	<input id="lname" name="lastName" validate="{true,blank,Please Enter Last Name,alphachar,Please enter only alphabets in name}" class="contact_txt_small" type="text" placeholder="Last Name *"/>
								<span id="lname_error" class="error"></span>
							</div>
					        
					        <div class="field-wrapper">
								<input id="email" name="emailId" validate="{true,blank,Please specify your valid email address,email,Please enter a valid email address}" class="contact_txt" type="text" placeholder="Your Email ID *">
								<span id="email_error" class="error"></span>
							</div>
							<div class="field-wrapper">
								<input id="phone" name="contactNumber" validate="{true,blank,Please Enter Phone No.,phone, Please enter a valid phone number}" class="contact_txt" type="text" placeholder="Your Phone Number">
								<span id="phone_error" class="error"></span>
					        </div>
					        <div class="field-wrapper">
								<textarea id="msg" name="message" style="resize:none;" class="contact_txt" placeholder="Message"></textarea>
							</div>
					        <div class="field-wrapper">
									<span class="attachment_initiate">Attach Files</span>
									<div class="upload-box displaynone">
										<div class="overflowhidden copyhtml">
											<div class="table-cell">
												<input name="uploadedFile_0" type="file">
											</div>
											<div class="table-cell different">
												<span class="addtxt"/>+</span>
											</div>
											<div class="table-cell different">
												<span class="removetxt"/>-</span>
											</div>
										</div>
									</div>
					        </div>
					         
							<div class="g-recaptcha" data-sitekey="6LcOmDsUAAAAAP0gh6QgPNMvc5DF8Bq7DubCF86_"></div>
							 
					        
					        <div class="field-wrapper">
					         	<input type="submit" value="Email Us" class="btn-success" /></div>
					        </div>
				    </div>
				    <input type="hidden" value="1111" name="contactMechIdTo">
				    <input type="hidden" value="FILE" name="contentTypeId">
				    <input type="hidden" value="customerservice@indiatimes.co.in" name="toEmail">
				    <input type="hidden" value="Contact Us" name="subject">
				    <input type="hidden" value="Contact Us" name="content">
				    <input type="hidden" value="customerservice@indiatimes.co.in" name="contactMechIdFrom">
				    <input type="hidden" value="text/html" name="contentMimeTypeId">
				    <div class="clear"></div>
			    </form>
	
	</div>
</div>
</div>
<?php include __DIR__ . "/../common/newfooter.phtml"; ?>
