<?php include __DIR__ . "/../common/pwaHeader.phtml"; ?>
<!-- ATF Slot start-->
	<?php include __DIR__ . "/../common/atfSlot.phtml"; ?>
<!-- ATF Slot end-->
 <!-- End lotame audience extraction-->
 <!-- condition if URL has PID -->

<div class="amazing-containers article-show">
	<!-- blog start -->
	<?php if(isset($article)) {
		$articleTitle = $article['articleTitle'];
			//if(isset($userLoginId) && strcasecmp($userLoginId,"Guest"))
			$userLoginId="Anonymous";
			if(isset($_SESSION['userLogin']))
			{
				$userLogin = $_SESSION['userLogin'];
				$userLoginId = $userLogin->getUserName();
			}
			$categoryName = $article['categoryName'];
			$subcategoryName = $article['subCategoryName'];
			$introDate = $article['introductionDate'];
			if(isset($article['nextArticleUrl']))
				$nextArticleUrl = $article['nextArticleUrl'];
			if(isset($article['nextArticleId']))
			 $nextArticleId = $article['nextArticleId'];
			if(isset($article['nextArticleTtile']))
				$nextArticleTtile = $article['nextArticleTtile'];
			$modifiedDate = $article['lastUpdatedTxStamp'];
			if(isset($article['nextArticleTitle']))
			$nextArticleTitle = $article['nextArticleTitle'];
			$introDate =date('M d, Y, h:i A',intval($introDate/1000))." IST";
			
			$schemaDate = date('Y-m-d\TH:i:sP',intval($article['introductionDate']/1000));
			
			$modifiedDate =date('M d, Y, h:i A',intval($modifiedDate/1000))." IST";
			
			$schemaModDate = date('Y-m-d\TH:i:sP',intval($article['lastUpdatedTxStamp']/1000));
			
			$eventArticletitle=str_replace(" ","_",$article['articleTitle']);
			$authorname = $article['authorName'];
			if($authorname == "shop.gadgetsnow.com")
				$authorname="Gadgets Now Bureau";
			$authornameUrl =  preg_replace('/[^a-zA-Z0-9]/','-',$authorname);
			$authornameUrl =  preg_replace('/-+/','-',$authornameUrl);
			$relatedArticles = $article['relatedArticles'];
				
			?>
			<script type="application/ld+json">
        		{
                    	<?php    
                    	$schemaDescription=$article['mainContent'];
                    	if(isset($article['mainContent']))
                    	{
                    	 $schemaDescription = str_replace("<p>","",$schemaDescription);
                    	$schemaDescription = str_replace("</p>","",$schemaDescription);
                    	$schemaDescription = str_replace("<span>","",$schemaDescription);
                    	$schemaDescription = str_replace("</span>","",$schemaDescription); 
                    	$schemaDescription = str_replace("<div>","",$schemaDescription);
                    	$schemaDescription = str_replace("</div>","",$schemaDescription);        
                    	$schemaDescription = substr($schemaDescription,0,200);
                    	}
                    	?>
                    	"@context": "https://schema.org",
                    	"@type": "NewsArticle",
                    	"inLanguage":"en",
                    	"mainEntityOfPage": {
                        "@type": "WebPage",
                        "@id": "<?=$urlValue?>"
                         },
                    	"url":  "<?=$urlValue?>",
                    	"headline": "<?=$article['articleTitle']?>",
                    	"description":"<?=$schemaDescription?>",
                    	"keywords":"<?=$article['keyword']?>",
                    	"datePublished":"<?=$schemaDate?>",
                    	"dateModified":"<?=$schemaModDate?>",
                                
                 
                 
                 "image": {
                    		"@type": "ImageObject",
                    		"url": "<?=$article['mainImageUrl']?>",
                    		"height": 1200,
                    		"width": 900
                    	},
                	"author": {
                    		"@type": "Thing",
                    		"name": "<?=$authorname?>"
                    	},
                    "publisher": {
                    		"@type": "Organization",
                    		"name": "Gadgets Now Shop",
                    		"logo": {
                    			"@type": "ImageObject",
                    			"url": "https://img1.gadgetsnow.com/gd/imgbn/600x60gadgetshop.jpg",
                    			"width": 600,
                    			"height": 60
                    	}	
                    	
                     }	
                     }
</script>
<script type="application/ld+json">
    {
     "@context": "http://schema.org",
     "@type": "BreadcrumbList",
     "itemListElement":
     [
      {
       "@type": "ListItem",
       "position": 1,
       "item":
       {
        "@id": "<?=$article['categoryUrl']?>",
        "name": "<?=$article['categoryName']?>"
        }
      },
      {
       "@type": "ListItem",
      "position": 2,
      "item":
       {
          "@id": "<?=$article['subCategoryUrl']?>",
         "name": "<?=$article['subCategoryName']?>"
       }
      }
     ]
    }
</script>
<?php 
	$authorid = "";
	if(isset($article['author']) && isset($article['author']['authorId']))
		$authorid=$article['author']['authorId'];
	
	$mainContent = $article['mainContent'];
	$mainContent = str_replace("&nbsp;"," ",$mainContent);
	//$mainContentModified=htmlspecialchars_decode($mainContent,ENT_NOQUOTES);
	$dommain = new DOMDocument();
	//$dommain->encoding = 'utf-8';
	//$dommain->loadHTML( utf8_decode( $mainContent ) );
	libxml_use_internal_errors(true);
	$dommain->loadHTML($mainContent);
	libxml_clear_errors();
	$elements = $dommain->getElementsByTagName('a');
	foreach ($elements as $element)
			{
				$originalurl=$element->getAttribute('href');
				$rel=$element->getAttribute('rel');
				$newUrl=$originalurl;
				
				(strpos($originalurl,"paytm") !== false)?"paytm":(strpos($originalurl,"amazon") !== false ? "amazon":"");
				
				$widget="aw-".$articleId;
				// Handling for Amazon and Paytm
				 
				$affiliatename="";
				$affiliateParamArray=array("productname"=>$articleTitle,"price"=>"NA","producturl"=>$originalurl,"pagename"=>"articlepage","widget"=>$widget);
				$affiliateLandingurl=AffiliateUrlCreator::createAffiliateUrl($affiliatename,$affiliateParamArray);
				
				$newUrl=$affiliateLandingurl;
				
				$element->setAttribute('href',$newUrl);
				if(strcasecmp($newUrl,$originalurl) == 0)
				{
					$element->setAttribute('rel','follow,index');
				}else 
				{
					$element->setAttribute('rel','nofollow,noindex');
				}
			}
			$mainContentModified = $dommain->saveHTML($dommain->documentElement);
			$mainContentModified = Utils::RemoveBS($mainContentModified);
		
?>
		<div class="blog-container">
			<div class="nextstory"></div>
			<div class="article-head">
				<h1><?=$article['articleTitle']?></h1>
				<div class="article-timing">
				<?php 
					 if($authorid !== "" && isset($authornameUrl)) { ?>
				<a href="/author/<?=$authornameUrl?>/<?=$authorid?>"><?=$article['authorName']?></a>
				<?php }else { ?>
				<?=$article['authorName']?>
				<?php } ?>
				 | Updated <?=$modifiedDate?></div>
			</div>
			<div class="article-content">
					<div class="article-img" >
						<img src="<?=$article['mainImageUrl']?>" />
					</div>
					<div class="article-text">
						<p><?=$mainContentModified ?></p>
					</div>
			</div>
			
			<div class="article-product">
			<?php  if(isset($productIdList) && isset($productDetails)) { 
				foreach ($productIdList as $productId) {
					if(isset($productDetails[$productId])){
						$productInfo = $productDetails[$productId];
						$clickUrl = $productUrlArr[$productId];
						$compareUrl = $productInfo['compareUrl'];
						$price = $productInfo['price'];
						$categoryId =  $productInfo['categoryId'];
						$inStock=$productInfo['inStock'];
						
					?>
				<h3 class="heading"> <?=$productInfo['productName'].':'?><span class="rp"><?=number_format($price)?></span></h3>
				<div class="article-content">
					<div class="article-text">
						 
					<?php if(isset($productInfo['productDescription'])    && strlen($productInfo['productDescription'])>10) { ?>
						
						<a class="contentreadmore display-block btn text-center capitalize" href="#">read more</a>
						<?php } ?>
					</div>
					<div class="article-img text-center" ><div><img class="img" src="<?=$productInfo['imageUrl']?>" /></div></div>
					<div class="specifications overflowhidden">
					<?php
					if($productInfo['productFeature'] !=null ) { 
					$productFeatur = $productInfo['productFeature'];
					if($categoryId =='10425')
					{
					?>
					   <h3>Key Specs</h3>
					   <div class="gad_spec">
						  <ul class="list1">
							<?php if(isset($productFeatur->{'GENERAL FEATURES'}->{'Defrosting Type'})) { ?>
							 <li><span>Defrosting Type</span><strong><?= $productFeatur->{'GENERAL FEATURES'}->{'Defrosting Type'} ?></strong></li>
							<?php } if(isset($productFeatur->{'Body And Design Features'}->{'Shelf Type'})) { ?>
							 <li><span>Shelf Type</span><strong><?= $productFeatur->{'Body And Design Features'}->{'Shelf Type'} ?></strong></li>
							<?php }if(isset($productFeatur->{'GENERAL FEATURES'}->{'Number Of Doors'})) { ?>
							 <li><span>Number Of Doors</span><strong><?= $productFeatur->{'GENERAL FEATURES'}->{'Number Of Doors'} ?></strong></li>
							<?php } if(isset($productFeatur->{'GENERAL FEATURES'}->{'Star Rating'})) { ?>
							 <li><span>Star Rating</span><strong><?= $productFeatur->{'GENERAL FEATURES'}->{'Star Rating'} ?> </strong></li>
							<?php } if(isset($productFeatur->{'GENERAL FEATURES'}->{'Capacity '})) { ?>
							 <li><span>Capacity</span><strong><?= $productFeatur->{'GENERAL FEATURES'}->{'Capacity '} ?></strong></li> <?php } ?>
						  </ul>
					   </div>
					<?php } else if($categoryId=='10600' || $categoryId=='10041')
					{
					?>
					   <h3>Key Specs</h3>
					   <div class="gad_spec">
						  <ul class="list1">
						  <?php  if(isset($productFeatur->{'SUMMARY'}->{'Display'})) { ?>
							 <li><span>Screen Size</span><strong><?= $productFeatur->{'SUMMARY'}->{'Display'} ?></strong></li>
							<?php } if(isset($productFeatur->{'SUMMARY'}->{'Storage'})) { ?>
							 <li><span>Hard Drive Size</span><strong><?= $productFeatur->{'SUMMARY'}->{'Storage'} ?></strong></li>
							<?php } if(isset($productFeatur->{'SUMMARY'}->{'RAM'})) { ?>
							 <li><span>RAM</span><strong><?= $productFeatur->{'SUMMARY'}->{'RAM'} ?></strong></li>
							<?php }if(isset($productFeatur->{'GENERAL INFORMATION'}->{'Operating System '})) { ?>
							 <li><span>Operating System</span><strong><?= $productFeatur->{'GENERAL INFORMATION'}->{'Operating System '} ?></strong></li>
							<?php } if(isset($productFeatur->{'SUMMARY'}->{'Processor '})) { ?>
							 <li><span>Processor</span><strong><?= $productFeatur->{'SUMMARY'}->{'Processor '} ?></strong></li>
							<?php } if(isset($productFeatur->{'PERFORMANCE'}->{'Clock speed'})) { ?>
							 <li><span>Processor Speed</span><strong><?= $productFeatur->{'PERFORMANCE'}->{'Clock speed'} ?> </strong></li>
							<?php }  ?>
						  </ul>
					   </div>
					<?php }else if($categoryId=='10421'	)
					{
					?>
					   <h3>Key Specs</h3>
					   <div class="gad_spec">
						  <ul class="list1">
						  <?php 
						   if(isset($productFeatur->{'GENERAL FEATURES'}->{'Screen Size'})) { ?>
							 <li><span>Screen Size</span><strong><?= $productFeatur->{'GENERAL FEATURES'}->{'Screen Size'} ?></strong></li>
							<?php } if(isset($productFeatur->{'GENERAL FEATURES'}->{'Screen Type'})) { ?>
							 <li><span>Screen Type</span><strong><?= $productFeatur->{'GENERAL FEATURES'}->{'Screen Type'} ?></strong></li>
							<?php } if(isset($productFeatur->{'GENERAL FEATURES'}->{'HD'})) { ?>
							 <li><span>HD</span><strong><?= $productFeatur->{'GENERAL FEATURES'}->{'HD'} ?></strong></li>
							<?php }if(isset($productFeatur->{'GENERAL FEATURES'}->{'Screen Resolution '})) { ?>
							 <li><span>Screen Resolution</span><strong><?= $productFeatur->{'GENERAL FEATURES'}->{'Screen Resolution '} ?></strong></li>
							<?php } if(isset($productFeatur->{'AUDIO FEATURES'}->{'Speaker Output RMS'})) { ?>
							 <li><span>Speaker Output RMS</span><strong><?= $productFeatur->{'AUDIO FEATURES'}->{'Speaker Output RMS'} ?></strong></li>
							<?php } if(isset($productFeatur->{'CONNECTIVITY'}->{'USB'})) { ?>
							 <li><span>USB</span><strong><?= $productFeatur->{'CONNECTIVITY'}->{'USB'} ?> </strong></li>
							<?php }  if(isset($productFeatur->{'CONNECTIVITY'}->{'HDMI'})) { ?>
							 <li><span>HDMI</span><strong><?= $productFeatur->{'CONNECTIVITY'}->{'HDMI'} ?> </strong></li>
							<?php } ?>
						  </ul>
					   </div>
					<?php }else if($categoryId=='10422')
					{
					?>
					   <h3>Key Specs</h3>
					   <div class="gad_spec">
						  <ul class="list1">
						  <?php 
						   if(isset($productFeatur->{'GENERAL FEATURES'}->{'Capacity in Tons'})) { ?>
							 <li><span>Capacity in Tons</span><strong><?= $productFeatur->{'GENERAL FEATURES'}->{'Capacity in Tons'} ?></strong></li>
							<?php } if(isset($productFeatur->{'GENERAL FEATURES'}->{'Star Rating'})) { ?>
							 <li><span>Star Rating</span><strong><?= $productFeatur->{'GENERAL FEATURES'}->{'Star Rating'} ?></strong></li>
							<?php } if(isset($productFeatur->{'GENERAL FEATURES'}->{'Type'})) { ?>
							 <li><span>Type</span><strong><?= $productFeatur->{'GENERAL FEATURES'}->{'Type'} ?></strong></li>
							<?php }if(isset($productFeatur->{'GENERAL FEATURES'}->{'Condenser Coil'})) { ?>
							 <li><span>Condenser Coil</span><strong><?= $productFeatur->{'GENERAL FEATURES'}->{'Condenser Coil'} ?></strong></li>
							<?php } ?>
						  </ul>
					   </div>
					<?php }else if($categoryId=='10027')
					{
					?>
					   <h3>Key Specs</h3>
					   <div class="gad_spec">
						  <ul class="list1">
						  <?php 
						   if(isset($productFeatur->{'POWER'}->{'Power Source'})) { ?>
							 <li><span>Power Source</span><strong><?= $productFeatur->{'POWER'}->{'Power Source'} ?></strong></li>
							<?php }
						   if(isset($productFeatur->{'POWER'}->{'Output Power'})) { ?>
							 <li><span>Output Power</span><strong><?= $productFeatur->{'POWER'}->{'Output Power'} ?></strong></li>
							<?php } if(isset($productFeatur->{'POWER'}->{'Power Input'})) { ?>
							 <li><span>Power Input</span><strong><?= $productFeatur->{'POWER'}->{'Power Input'} ?></strong></li>
							<?php } if(isset($productFeatur->{'POWER'}->{'Battery Type'})) { ?>
							 <li><span>Battery Type</span><strong><?= $productFeatur->{'POWER'}->{'Battery Type'} ?></strong></li>
							<?php }if(isset($productFeatur->{'POWER'}->{'Battery Capacity'})) { ?>
							 <li><span>Battery Capacity</span><strong><?= $productFeatur->{'POWER'}->{'Battery Capacity'} ?></strong></li>
							<?php } ?>
						  </ul>
					   </div>
					<?php }else if($categoryId=='10463')
					{
					?>
					   <h3>Key Specs</h3>
					   <div class="gad_spec">
						  <ul class="list1">
						  <?php 
						  if(isset($productFeatur->{'GENERAL FEATURES'}->{'Type'})) { ?>
							 <li><span>Type</span><strong><?= $productFeatur->{'GENERAL FEATURES'}->{'Type'} ?></strong></li>
							<?php }
						   if(isset($productFeatur->{'GENERAL FEATURES'}->{'Capacity'})) { ?>
							 <li><span>Capacity</span><strong><?= $productFeatur->{'GENERAL FEATURES'}->{'Capacity'} ?></strong></li>
							<?php } if(isset($productFeatur->{'GENERAL FEATURES'}->{'Star Rating'})) { ?>
							 <li><span>Star Rating</span><strong><?= $productFeatur->{'GENERAL FEATURES'}->{'Star Rating'} ?></strong></li>
							<?php } if(isset($productFeatur->{'Body And Design Features'}->{'Power Consumption'})) { ?>
							 <li><span>Power Consumption</span><strong><?= $productFeatur->{'Body And Design Features'}->{'Power Consumption'} ?></strong></li>
							<?php } ?>
						  </ul>
					   </div>
					<?php }else if($categoryId=='10434')
					{
					?>
					   <h3>Key Specs</h3>
					   <div class="gad_spec">
						  <ul class="list1">
						  <?php 
						  if(isset($productFeatur->{'GENERAL FEATURES'}->{'Type'})) { ?>
							 <li><span>Type</span><strong><?= $productFeatur->{'GENERAL FEATURES'}->{'Type'} ?></strong></li>
							<?php }
						   if(isset($productFeatur->{'GENERAL FEATURES'}->{'Capacity'})) { ?>
							 <li><span>Capacity</span><strong><?= $productFeatur->{'GENERAL FEATURES'}->{'Capacity'} ?></strong></li>
							<?php } if(isset($productFeatur->{'POWER'}->{'Wattage'})) { ?>
							 <li><span>Star Rating</span><strong><?= $productFeatur->{'POWER'}->{'Wattage'} ?></strong></li>
							<?php }  ?>
						  </ul>
					   </div>
					<?php }else if($categoryId=='10454')
					{
					?>
					   <h3>Key Specs</h3>
					   <div class="gad_spec">
						  <ul class="list1">
						  <?php 
						  if(isset($productFeatur->{'GENERAL FEATURES'}->{'Screen Resolution Type'})) { ?>
							 <li><span> Effective Pixels</span><strong><?= $productFeatur->{'GENERAL FEATURES'}->{'Screen Resolution Type'} ?></strong></li>
							<?php }
						   if(isset($productFeatur->{'GENERAL FEATURES'}->{'Optical Zoom'})) { ?>
							 <li><span>Optical Zoom</span><strong><?= $productFeatur->{'GENERAL FEATURES'}->{'Optical Zoom'} ?></strong></li>
							<?php } if(isset($productFeatur->{'SIZE'}->{'Weight'})) { ?>
							 <li><span>Weight</span><strong><?= $productFeatur->{'SIZE'}->{'Weight'} ?></strong></li>
							<?php }  ?>
						  </ul>
					   </div>
					<?php }else if($categoryId=='10433')
					{
					?>
					   <h3>Key Specs</h3>
					   <div class="gad_spec">
						  <ul class="list1">
						  <?php 
						  if(isset($productFeatur->{'Function Type'}->{'Function Type'})) { ?>
							 <li><span>Function Type</span><strong><?= $productFeatur->{'Function Type'}->{'Function Type'} ?></strong></li>
							<?php }
						   if(isset($productFeatur->{'WASHING CAPACITY'}->{'Washing Capacity'})) { ?>
							 <li><span>Washing Capacity</span><strong><?= $productFeatur->{'WASHING CAPACITY'}->{'Washing Capacity'} ?></strong></li>
							<?php }
						   if(isset($productFeatur->{'MAXIMUM SPIN SPEED'}->{'Maximum Spin Speed'})) { ?>
							 <li><span>Maximum Spin Speed</span><strong><?= $productFeatur->{'MAXIMUM SPIN SPEED'}->{'Maximum Spin Speed'} ?></strong></li>
							<?php }
						   if(isset($productFeatur->{'WARRANTY'}->{'Warranty '})) { ?>
							 <li><span>Warranty</span><strong><?= $productFeatur->{'WARRANTY'}->{'Warranty '} ?></strong></li>
							<?php  }  ?>
						  </ul>
					   </div>
					<?php }else if($categoryId=='10464')
					{
					?>
					   <h3>Key Specs</h3>
					   <div class="gad_spec">
						  <ul class="list1">
						  <?php 
						  if(isset($productFeatur->{'GENERAL FEATURES'}->{'Type'})) { ?>
							 <li><span>Type</span><strong><?= $productFeatur->{'GENERAL FEATURES'}->{'Type'} ?></strong></li>
							<?php }
						   if(isset($productFeatur->{'POWER'}->{'Power Consumption'})) { ?>
							 <li><span>Power Consumption</span><strong><?= $productFeatur->{'POWER'}->{'Power Consumption'} ?></strong></li>
							<?php  }  ?>
						  </ul>
					   </div>
					<?php }else if($categoryId == '10029') { ?>
					 <h3>Key Specs</h3>
					   <div class="gad_spec">
						  <ul class="list1">
						  <?php 
						  if(isset($productFeatur->{'HEADPHONE TYPE'}->{'Headphone Type'})) { ?>
							 <li><span>Type</span><strong><?= $productFeatur->{'HEADPHONE TYPE'}->{'Headphone Type'} ?></strong></li>
							<?php }
						   if(isset($productFeatur->{'HEADPHONE DESIGN'}->{'Headphone Design'})) { ?>
							 <li><span>Headphone Design</span><strong><?= $productFeatur->{'HEADPHONE DESIGN'}->{'Headphone Design'} ?></strong></li>
							<?php }
						   if(isset($productFeatur->{'MICROPHONE'}->{'Microphone'})) { ?>
							 <li><span>Microphone</span><strong><?=$productFeatur->{'MICROPHONE'}->{'Microphone'} ?></strong></li>
							<?php }
						   if(isset($productFeatur->{'CONNECTIVITY'}->{'Input Plug'})) { ?>
							 <li><span>Input Plug</span><strong><?=$productFeatur->{'CONNECTIVITY'}->{'Input Plug'} ?></strong></li>
							<?php  }  ?>
						  </ul>
					   </div>
					<?php }else if($categoryId == '10028'){ ?> 
					 <h3>Key Specs</h3>
					   <div class="gad_spec">
						  <ul class="list1">
						  <?php 
						  if(isset($productFeatur->{'GENERAL FEATURES'}->{'Bluetooth'})) { ?>
							 <li><span>Bluetooth</span><strong><?= $productFeatur->{'GENERAL FEATURES'}->{'Bluetooth'} ?></strong></li>
							<?php }
						   if(isset($productFeatur->{'POWER'}->{'Power Source'})) { ?>
							 <li><span>Output Power</span><strong><?= $productFeatur->{'HEADPHONE DESIGN'}->{'Headphone Design'} ?></strong></li>
							<?php }
						    if(isset($productFeatur->{'GENERAL FEATURES'}->{'Portable'}))  { ?>
							 <li><span>Microphone</span><strong><?=$productFeatur->{'GENERAL FEATURES'}->{'Portable'} ?></strong></li>
							<?php }
						   if(isset($productFeatur->{'CONNECTIVITY'}->{'Input Plug'})) { ?>
							 <li><span>Input Plug</span><strong><?=$productFeatur->{'CONNECTIVITY'}->{'Input Plug'} ?></strong></li>
							<?php  }  ?>
						  </ul>
					   </div>
					
					<?php }else if ($categoryId == '10455') { ?>
						 <h3>Key Specs</h3>
					   <div class="gad_spec">
						  <ul class="list1">
						  <?php 
						  if(isset($productFeatur->{'GENERAL FEATURES'}->{'Effective Pixels'})) { ?>
							 <li><span>Effective Pixels</span><strong><?= $productFeatur->{'GENERAL FEATURES'}->{'Effective Pixels'}?></strong></li>
							<?php }
						   if(isset($productFeatur->{'FOCUS FEATURES'}->{'Focus'})) { ?>
							 <li><span>Focus</span><strong><?= $productFeatur->{'FOCUS FEATURES'}->{'Focus'}?></strong></li>
							<?php }
						    if(isset($productFeatur->{'IMAGE FEATURES'}->{'Image Format'}))  { ?>
							 <li><span>Image Format</span><strong><?=$productFeatur->{'IMAGE FEATURES'}->{'Image Format'} ?></strong></li>
							<?php }
						   if(isset($productFeatur->{'STORAGE & POWER FEATURES'}->{'Card Slot Type '})) { ?>
							 <li><span>Card Slot</span><strong><?=$productFeatur->{'STORAGE & POWER FEATURES'}->{'Card Slot Type '}?></strong></li>
							<?php }
						   if(isset($productFeatur->{'STORAGE & POWER FEATURES'}->{'Battery Type'})) { ?>
							 <li><span>Battery Type</span><strong><?=$productFeatur->{'STORAGE & POWER FEATURES'}->{'Battery Type'}?></strong></li>
							<?php }
						   if(isset($productFeatur->{'CONNECTIVITY & DISPLAY FEATURES'}->{'Display Size'})) { ?>
							 <li><span>Display</span><strong><?=$productFeatur->{'CONNECTIVITY & DISPLAY FEATURES'}->{'Display Size'} ?></strong></li>
							<?php }
						   if(isset($productFeatur->{'SIZE'}->{'Weight'})) { ?>
							 <li><span>Weight</span><strong><?=$productFeatur->{'SIZE'}->{'Weight'} ?></strong></li>
							<?php  }  ?>
						  </ul>
					   </div>
						
					<?php } else {?>
					   <h3>Key Specs</h3>
					   <div class="gad_spec">
						  <ul class="list1">
						  <?php if(isset($productFeatur->{'MEMORY'}->{'Internal Memory'})) { ?>
							 <li><span>Storage</span><strong><?= $productFeatur->{'MEMORY'}->{'Internal Memory'} ?></strong></li>
							<?php } if(isset($productFeatur->{'MEMORY'}->{'RAM'})) { ?>
							 <li><span>Ram</span><strong><?= $productFeatur->{'MEMORY'}->{'RAM'} ?></strong></li>
							<?php } if(isset($productFeatur->{'PLATFORM'}->{'Processor Type'})) { ?>
							 <li><span>Performance</span><strong><?= $productFeatur->{'PLATFORM'}->{'Processor Type'} ?></strong></li>
							<?php } if(isset($productFeatur->{'DISPLAY'}->{'Screen Size '})) { ?>
							 <li><span>Display</span><strong><?= $productFeatur->{'DISPLAY'}->{'Screen Size '} ?></strong></li>
							<?php } if(isset($productFeatur->{'CAMERA'}->{'Primary Camera'})) { ?>
							 <li><span>Camera</span><strong><?= $productFeatur->{'CAMERA'}->{'Primary Camera'} ?> </strong></li>
							<?php }if(isset($productFeatur->{'CAMERA'}->{'Secondary Camera'})) { ?>
							 <li><span>Secondary Camera</span><strong><?= $productFeatur->{'CAMERA'}->{'Secondary Camera'} ?> </strong></li>
							<?php } if(isset($productFeatur->{'BATTERY'}->{'Capacity '})) { ?>
							 <li><span>Battery</span><strong><?= $productFeatur->{'BATTERY'}->{'Capacity '} ?></strong></li> <?php } ?>
						  </ul>
					   </div>
				<?php } }?>
					   <div class="table col-sm-12 ">
						<a target="_blank" data-cat="tablet" data-seo="tablets" data-item-name="Lenovo Tab 4 8 16GB LTE" data-item="Lenovo-Tab-4-8-16GB-LTE" data-track="Wap_EC|Show|Compare" class="compare tech_btn track" href="<?=$compareUrl ?>"><i class="techsprite"></i>compare</a>
						 <a data-track="Wap_EC|Show|Specs" class="see-full-specs track" href="<?=$clickUrl ?>">SEE FULL SPECS</a>
					   </div>
					   </div>
					   <?php 
					   if((isset($productInfo['affiliateMap']) && isset($productInfo['affiliateMap']['priceAfiiliateArray'])) || ($inStock)) {						   
						  ?>
					    <section>
							<div class="productShowBox adcode">	
								<?php if($inStock){ 
									$eventactionbuyat="click";
									$eventCategorybuyat="gnshop|mweb|news|buyat";
									$eventLabelbuyat=$productId."|".$productInfo['productName']."|".$price;
									?>
									<div class="affiliate-section countryblock gnshop">
									<div class="buyatamazon">Buy At (sponsored)</div>
									<div class="oveflowhidden margin-10 table">
										<div class="table-cell pricetab bold">
											<span class="rp"><?=number_format($price)?></span>
										</div>
										<div class="table-cell pricetabsecond">
											<div class="table">
												<div class="table-cell brand-logo">
													<span class="brand-logo"></span> 
												</div>
												<div class="table-cell text-center">
													<a class="buy-button-affiliate" target="_blank" 
													href="<?=$clickUrl?>"  data-ga-track="<?=$eventCategorybuyat?>##<?=$eventactionbuyat?>##<?=$eventLabelbuyat?>##0">Buy Now</a>
												</div>
											</div>
										</div>
									</div>	
								</div>
								<?php } ?>						
								<?php 
								if(isset($productInfo['affiliateMap']) && isset($productInfo['affiliateMap']['priceAfiiliateArray']))
								{ $affiliateArray = $productInfo['affiliateMap']['priceAfiiliateArray'];
								foreach ( $affiliateArray as $key=>$value) { 
										
										if(strcasecmp($key,"paytm")==0 )
											continue;
										$landingUrl = $value['url'];
										$productname = $value['afpname'];
										$price = $value['price'];
										if(isset($value['offer']))
											$affOffer = $value['offer'];
										
										$eventactionbuyat="click";
										$eventCategorybuyat=$key."|gnshop|mweb|news|buyat";
										$eventLabelbuyat=$productId."|".$productname."|".$price;
								?>
								<div class="affiliate-section countryblock <?=strtolower($key)?>">
									<div class="buyatamazon">Buy At (sponsored)</div>
									<div class="oveflowhidden margin-10 table">
										<div class="table-cell pricetab bold">
											<span class="rp"><?=number_format($price)?></span>
										</div>
										<div class="table-cell pricetabsecond">
											<div class="table">
												<div class="table-cell brand-logo">
													<span class="brand-logo"></span> 
												</div>
												<div class="table-cell text-center">
													<a class="buy-button-affiliate" target="_blank" 
													href="<?=$landingUrl?>"  data-ga-track="<?=$eventCategorybuyat?>##<?=$eventactionbuyat?>##<?=$eventLabelbuyat?>##0">Buy Now</a>
												</div>
											</div>
										</div>
									</div>	
								</div>							
								<?php } }?>
							</div>
				         </section>
						   <?php } ?>
			</div>
				<?php }}} ?>
			
			
			<div>
			<div class="article-content">
					<!-- article start  -->
					<?php 
						$articleContent = $article['subArticle'];
						$length = count($articleContent);
						
						for ($i = 0; $i < $length; $i++) 
						{
							$saTitle = $articleContent[$i]['title'];
							$saContent = $articleContent[$i]['content'];
							 
							$affiliate="paytm";
							$saImageUrl = $articleContent[$i]['imageUrl'];
							$articleContentWidget=$articleContent[$i]['subArticleWidget'];
							$lengthCW = count($articleContentWidget);
							for ($j = 0; $j < $lengthCW; $j++) {
								 
								$widgetMrp = number_format($articleContentWidget[$j]['mrp']);
								$widgetofferPrice = number_format($articleContentWidget[$j]['offerPrice']);
								$mrp=$articleContentWidget[$j]['mrp'];
								$offer=$articleContentWidget[$j]['offerPrice'];
								$temp =$mrp-$offer;
								$discount = ($temp / $mrp)*100;
								$discount=round($discount);
								
								$widgetoffer = $articleContentWidget[$j]['offer'];
								$widgetimageUrl = $articleContentWidget[$j]['imageUrl'];
								$widgetUrl = $articleContentWidget[$j]['url'];
								$widgetTitle=$articleContentWidget[$j]['title'];
								$widget="aw-".$articleId;
								
								$affiliateParamArray=array("productname"=>$widgetTitle,"price"=>$offer,"producturl"=>$widgetUrl,"pagename"=>"articlepage","widget"=>$widget);
								$affiliateLandingurl=AffiliateUrlCreator::createAffiliateUrl($affiliatename,$affiliateParamArray);
								$widgetUrl=$affiliateLandingurl;
								
								$eventArticleCategory=$affiliatename."|gnshop|mweb|articlepage|widget-".$articleId;
								$eventArticleLabel="NA|".$widgetTitle."|".$offer;
								$eventArticleAction="click";
								
						
								
							}
							// replace URLs in content with relevent intermediate URLs
								
							$string = $saContent;
							$dom = new DOMDocument();
							libxml_use_internal_errors(true);
							$dom->loadHTML($string);
							libxml_clear_errors();
							$elements = $dom->getElementsByTagName('a');
							foreach ($elements as $element)
							{
								$originalurl=$element->getAttribute('href');
								$rel=$element->getAttribute('rel');
								$newUrl=$originalurl;
								
								// Handling for Amazon and Paytm
								$affiliateParamArray=array("productname"=>$saTitle,"price"=>$offer,"producturl"=>$widgetUrl,"pagename"=>"articlepage","widget"=>$widget);
								$affiliateLandingurl=AffiliateUrlCreator::createAffiliateUrl($affiliatename,$affiliateParamArray);
								$newUrl=$affiliateLandingurl;
								
								$eventArticleCategory=$affiliatename."|gnshop|mweb|articlepage|widget-".$articleId;
								$eventArticleLabel="NA|".$widgetTitle."|".$offer;
								$eventArticleAction="click";
								
								 
								$element->setAttribute('href',$newUrl);
								if(strcasecmp($newUrl,$originalurl) == 0)
								{
									$element->setAttribute('rel','follow,index');
								}else 
								{
									$element->setAttribute('rel','nofollow,noindex');
								}
								//$saContent = str_replace($originalurl,$newUrl,$saContent);
							}
							$saContentmodified= $dom->saveHTML();	
							// **********Ends
						
					?>
					<div class="article-text">
					
						<h2><a target="_blank"  href="<?=$widgetUrl?>" 
						data-ga-track="<?=$eventArticleCategory?>##<?=$eventArticleAction?>##<?=$eventArticleLabel?>##0"><?=$saTitle?></a></h2>
						<div class="article-img">
							<a target="_blank" href="<?=$widgetUrl?>" 
							data-ga-track="<?=$eventArticleCategory?>##<?=$eventArticleAction?>##<?=$eventArticleLabel?>##0">
								<img src="<?=$saImageUrl?>"/></a>
						</div>
						 <section>
							<div class="productShowBox adcode">
							<ul>
							<li>
							
									<a target="_blank" href="<?=$widgetUrl?>" 
									data-ga-track="<?=$eventArticleCategory?>##<?=$eventArticleAction?>##<?=$eventArticleLabel?>##0">
									
										<div class="inner">
										<div class="flt firstdiv">
										<span>
											<img alt="icon" src="<?=$widgetimageUrl?>">
										</span>
										</div>
										<div class="flt seconddiv">
											<div class="tabletitle">
												<span><?=$widgetTitle?></span>
											</div>
											<?php if(isset($widgetoffer) && $widgetoffer != "") {?>
											<div class="displayblock overflowhidden">
												<span class="cashbackdiv" >Rs. <?=$widgetoffer?> Cashback</span>
											</div>	
											<?php } ?>
												<div class="tableD">
													<div class="tableC price_tag displayblock">
														<span><span class="offer-price-ui"> </span><?=$widgetofferPrice?></span>
														<span class="mrp-price"><span class="mrp-price-ui"> </span> <?=$widgetMrp?> </span>
														<span class="off-per"><?=$discount?>% off</span>
													</div>
												</div>
												<div class="tableR">
													<div class="tableC logo"><?php  if(strcasecmp($affiliate,"amazon") == 0) {?><i class="amazon"></i><?php }else if(strcasecmp($affiliate,"LG") == 0){?>
													<i class="lg"></i>
													 <?php }else { ?><i></i><?php }?></div>
													<div class="tableC buy">
													<?php  if(strcasecmp($affiliate,"LG") == 0){ ?>
													<small class="buy_btn lg">BUY</small>
													<?php } else {?>
													<small class="buy_btn">BUY</small>
													<?php }?>
													</div>
												</div>
										</div>
										</div>
									</a>
								</li>
							</ul>
							</div>
				         </section>
						<p><?=$saContentmodified?></p>
					</div>
					<!-- article end -->
					<?php }
					?>
				 
		</div>
	<!-- blog end -->			
	</div>
	<?php } ?>
<section>
<?php include __DIR__ . "/../common/newAffiliate-sponsored.phtml"; ?>
<!-- amazon sponsored list --> 
 
<!-- amazon list -->
<!-- promoted html-->
<?php include __DIR__ . "/../common/promotedbanner1.phtml"; ?>
 
<!-- promoted html-->
 
<?php include __DIR__ . "/../common/promotedbanner2.phtml"; ?>
</section>


<!-- realted article start-->
<?php if(isset($relatedArticles)) { ?>
<section>
<div class="relatedstories">
	<div class="question-section">
		<h4 class="heading">Related News</h4>
	</div>
   <ul data-tabs-body="related" data-tabs-group="related-65979390" class="rel-list">
   <?php for($i=0;$i<sizeof($relatedArticles);$i++) 
   			{
   				$relatedArticle = $relatedArticles[$i];
				$rtitle = $relatedArticle['articleTitle'];
				$rId = $relatedArticle['articleId'];
				
				$articleRelatedTitleurl=strtolower($rtitle);
				$articleRelatedTitleurl =  preg_replace('/[^a-zA-Z0-9]/','-',$articleRelatedTitleurl);
				$articleRelatedTitleurl =  preg_replace('/-+/','-',$articleRelatedTitleurl);
				$articleRelatedTitleurl="/news/".$articleRelatedTitleurl."/aps-".$rId;
				
   				?>
      <li><a class="track" data-track="Wap_AS|Related|1" href="<?=$articleRelatedTitleurl?>"><?=$rtitle?></a></li>
   <?php } ?>
   </ul>
</div>
</section>
<?php } ?>
<!-- realted article end-->	

<!-- Question and Answer start -->
<section>
	<div class="question-section adcode">
		<h4 class="heading">Comments</h4>
	</div>
	<div class="question-section adcode">
		<form name="customerComment" class="overflowhidden" action="/control/submitArticleComment" method="post">
			<div class="customercommentmsg"></div>
			<input type="hidden" name="articleId" value="<?=$articleId?>"/>
			<input type="hidden" name="token" value=""/>			
			<div class="field-wrapper clear username">
				
			</div>
			<div class="field-wrapper clear">
				<textarea maxlength="500" rows="2" id="TakeComment" placeholder="Please post comment here" validate="{true,blank,Please provide your comment,htmltag,HTML tags not allowed}" name="askQuestion"></textarea>
			</div>
			<span id="TakeComment_error" class="error">&nbsp;</span>
			<div class="text-right">
				<button class="questionpost">Post</button>
			</div>
			
		</form>
		
		<dl>
		<?php 
					if(isset($commentsList))
					{
					foreach ($commentsList as $queAns)
					{ 
					if(isset($queAns ['productQuestion']))
					{  
						
							$queStr = $queAns['productQuestion'];
							$queID = $queAns['productQuestionId'];
							$userName=$queAns['userLoginId'];
							$date = $queAns['postedDateTime'];
							$ansList = $queAns['relatedAnswerMap'];
							$ansAskTitle = 'Be the first one to reply on this comment.';
		?>
				<div class="question-box" >
				<dt><?=$queStr?> </dt>
				<div class="answer-box overflowhidden">
				<dd class="comm" style="margin-left:0">
					<!-- <div> </div> --> 
						<div class="table">
							<span class="answer-name"><div itemprop = "name"><?=$userName?></div></span>
							<span class="answer-date "><time> <?=$date?></time></span>
						</div>
				</dd>
				 <?php  if(isset($ansList[0]['productAnswer']))
							{
								$ansAskTitle = 'Answer this question.';
							   if(sizeof($ansList) > 1) {
								?>
				<a class='moreanswer displaynone' href='#'>Show More Comment(s)</a>
				<?php   }
								foreach ($ansList as $ans){ 
							?>
					<div class="response" style='padding-left:5px' id="<?=$queID?>"><?= $ans['productAnswer']; ?> </div>
					<?php } }?>
					<a class="leavecomment displayblock" href="#">Reply</a>
					<form method="post" action="/control/submitArticleCommentAns" data-id="<?=$queID?>" name="replyComment" class="QuestionAnswer displaynone">
						<div class="replyReponse"></div>
						<input type="hidden" name="articleId" value="<?=$articleId?>"/>
						<input type="hidden" name="questionId" value="<?=$queID?>" />
						<div class="commnettext">Reply on this Comment.</div>
						<textarea maxlength="2048" rows="3" id="commentText<?=$queID?>" placeholder="Your Comment (max. 2048 characters)" validate="{true,blank,Please provide your comment,htmltag,HTML tags not allowed}" name="answer"></textarea>
						<span id="commentText<?=$queID?>_error" class="error">&nbsp;</span>
						<div class="buttontab display-block">
							<span class="commentcancel">Cancel</span>
							<button class="commentpost">Post</button>
						</div>
					</form>
				</div>
				
			</div>
			<?php }} 
			if(sizeof($commentsList) > 1) {
			?>
					
				<a class="readmore" href="#">Show More</a>
					<?php } }?>
		</dl>
		
		
		
		
		
		
		
		
		
		
		
		
		
	</div>
</section>
<!-- user comments end -->


	
<!-- Question and Answer start -->
<section itemscope itemtype ="http://schema.org/QAPage">
	<div class="question-section adcode">
		<h4 class="heading">Questions and Answers</h4>
	</div>
	<div class="question-section adcode">
		<form name="customerQuestion" class="overflowhidden" action="/control/submitArticleQuestion" method="post">
			<div class="customerQuestionReponse "></div>
			<input type="hidden" name="articleId" value="<?=$articleId?>"/>
			<input type="hidden" name="userName" value="<?="anonymous"?>"/>
				
			
			<input type="hidden" name="token" value="test"/>
				
			
			<textarea maxlength="500" rows="2" id="askQuestion" placeholder="Have a Question? Please post here" validate="{true,blank,Please provide a your comment,htmltag,HTML tags not allowed}" name="askQuestion"></textarea>
			<span id="askQuestion_error" class="error">&nbsp;</span>
			<div class="text-right">
				<button class="questionpost">Post</button>
			</div>
			
		</form>
		
		<dl>
		<?php 
					if(isset($questionAnsList))
					{
					foreach ($questionAnsList as $queAns){ 
					?>
					<?php 
					if(isset($queAns ['productQuestion']))
					{
							$queStr = $queAns['productQuestion'];
							$queID = $queAns['productQuestionId'];
							$userName=$queAns['userLoginId'];
							$date = $queAns['postedDateTime'];
							$ansList = $queAns['relatedAnswerMap'];
							$ansAskTitle = 'Be the first one to answer this question.';
						?>
				<div class="question-box" itemprop="mainEntity" itemscope itemtype="http://schema.org/Question">
				<dt itemprop="name"><b>Q:</b>  <?=$queStr?> </dt>
				<div class="answer-box overflowhidden" itemprop ="acceptedAnswer" itemscope itemtype ="http://schema.org/Answer" >
						<?php if(isset($ansList[0]['productAnswer']))
							{
								$ansAskTitle = 'Answer this question.'
								
								?>
								
						<?php foreach ($ansList as $ans){ 
							?>
				<dd><div itemprop="text"><?=  $ans['productAnswer']; ?> </div> 
							<div class="table">
								<span class="answer-name" itemprop="author" itemscope itemtype ="https://schema.org/Person"><div itemprop = "name"><?=handleStr($ans['userName'])?></div></span>
								<span class="answer-date"><time itemprop ="dateCreated" datetime ="<?=date('d M, Y',strtotime($ans['answerDateTime']))?>"> <?=date('d M, Y',strtotime($ans['answerDateTime']))?></time></span>
							</div>
				</dd>
					<?php 
					}}
						?>
				<a class='moreanswer displaynone' href='#'>Show More Answer(s)</a>
					<div class="response" id="<?=$queID?>"></div>
					<a class="leavecomment displayblock" href="#"><?=handleStr($ansAskTitle)?></a>
					<form method="post" action="/control/submitArticleAnswer" data-id="<?=$queID?>" name="QuestionAnswer" class="QuestionAnswer displaynone">
						<input type="hidden" name="questionId" value="<?=$queID?>"/>
						<div class="commnettext">Comment on this answer.</div>
						<textarea maxlength="2048" rows="3" id="commentText<?=$queID?>" placeholder="Your Comment (max. 2048 characters)" validate="{true,blank,Please provide a your comment,htmltag,HTML tags not allowed}" name="answer"></textarea>
						<span id="commentText<?=$queID?>_error" class="error">&nbsp;</span>
						<div class="buttontab display-block">
							<span class="commentcancel">Cancel</span>
							<button class="commentpost">Post</button>
						</div>
					</form>
				</div>
				
			</div>
			<?php }}
			  if(sizeof($questionAnsList) >1) {
			?>
				<a class="readmore" href="#">Show More</a>
				
				<?php } } ?>
		</dl>
	</div>
</section>
<!-- Question and Answer end -->


<!-- review and rating start -->
		<section>
			<div class="section-container-ui adcode rating-review">
			<?php if(isset($reviews) || sizeof($reviews) > 0) { ?>
			<ul class="rating-tab">
				<li data-name="read">Ratings and Reviews</li>
			</ul>
			<?php } ?>
			<?php if(isset($reviews)) { 
				$average  = $reviews[0]['average'];
				$total  =  $reviews[0]['total'];
				$percentage = ($average/5)*100;
				
				?>
			<div class="read rating-tab-open">
				<div class="reviewhead">
					<div><?=number_format($average,1)?></div>
					<div>
						<div class="rating-show">
							<span></span>
							<span></span>
							<span></span>
							<span></span>
							<span></span>
							<div class="rating-given" style="width:<?=$percentage?>%;">
								<div>
									<span></span>
									<span></span>
									<span></span>
									<span></span>
									<span></span>
								</div>
							</div>
						</div>
						<span class="ratingtext">
						Based on <?=$total?> <?php if($total > 1) { ?>ratings <?php } else {?>rating <?php } ?> 
						<?php if(isset($totalReviews) && $totalReviews != 0) { ?> <span> and <?=$totalReviews?> 
						<?php if($totalReviews >1 ) { ?>reviews <?php } else {?> Review <?php } ?></span> 
						<?php } ?> 
						</span>
					</div>
				</div>
				<?php  
				 if(sizeof($reviews) >0)
				{
					foreach ($reviews as $rev){ 
					if(isset($rev['productReview']))
					{
						$reviewStr = $rev['productReview'];
						$titleStr = $rev['reviewTitle'];
						$rating = $rev['productRating'];
					if(isset($rev['firstName']))
						{	
						$userName=$rev['firstName'];
						}
						$date = $rev['postedDateTime'];
					?>
				<div class="reviewshow">
					<!-- review loop start -->
					<div class="userreview">
						<div class="reviewtitle"><?=$titleStr?></div>
						<div class="review">
							<div class="userrating"><?=$rating?></div>
							<div class="reviewdate"><?=date('d M, Y',strtotime($date))?></div>
							<div class="username">by <b><?=$userName?></b></div>
						</div>
						<div class="reviewdetails">
							<?=$reviewStr?>
						</div>
						<a href="#" class="reviewreadmore">more..</a>
					</div>
					<!-- review loop end -->
				</div>
			<?php 
					}// if isset
					}// foreach ends
				}
				// }// if loop ?>
				<a class="readmore" href="#">Show More</a>
			</div>
			<?php }// if loop ?>
			<ul class="rating-tab">
				<li data-name="write">Write a Review</li>
			</ul>
			<div class="write rating-tab-open">
				<form name="reviewProduct" method="post" action="/control/submitRnR" onsubmit="return evalForm(this)" >
					<input name="productId" value="<?=handleStr($articleId)?>" type="hidden">
					<input type="hidden" id="userId" name="userId" value="<?=$userLoginId?>"/>
					<input name="product_id" value="<?=handleStr($articleId)?>" type="hidden">
					<input name="product_title" value="<?=handleStr("articleTitle")?>" type="hidden">
					<input name="category_id" value="" type="hidden">
					<input name="postedAnonymous" value="false" type="hidden">
					<div class="field-wrapper writerating">
						<span class="revielable"> How do you rate this Article  *</span>
						<input id="productRating" type="hidden" name="productRating" validate="{true,blank,Rating required}" >
						<div class="rating">
							<label>
								<input type="radio" value="5" title="Excellent"> 5
							</label>
							<label>
								<input type="radio" value="4" title="Very Good"> 4
							</label>
							<label>
								<input type="radio" value="3" title="Good"> 3
							</label>
							<label>
								<input type="radio" value="2" title="Average"> 2
							</label>
							<label>
								<input type="radio" value="1" title="Below Average"> 1
							</label>
						</div>
						<span id="productRating_error" class="error">&nbsp;</span>
					</div>
					<div class="field-wrapper clear">
						<input id="reviewtitle" name="reviewTitle" maxlength="100" class="frmtxtElement hasPlaceholder" placeholder="Review Title *" validate="{true,blank,Please provide a summary for your Review,htmltag,HTML tags not allowed}" type="text">
						<span id="reviewtitle_error" class="error">&nbsp;</span>
					</div>
					<div class="field-wrapper">
						<textarea maxlength="2048" id="casedescription" class="frmtxtElementarea hasPlaceholder" name="productReview" cols="" rows="" placeholder="Your Review (max. 2048 characters)" validate="{true,blank,Please provide a description for your Review,htmltag,HTML tags not allowed}"></textarea>
						<span id="casedescription_error" class="error">&nbsp;</span>
					</div>
					<div class="field-wrapper">
						<input class="flat-orange" data-ga-track="write_review_pdp##cateoryname|productname##pdp|category name|productId|product name|product price|0##0" value="Submit" type="submit"> 
					</div>
				</form>		
			</div>
			</div>
		</section>
		<!-- review and rating end -->

		
<section class="primeuser displaynone adcode">
		<div class='ctn-ads-home-list'>
				<div class="card productShowlist margin-10">
					<h4 class="heading"><span class="truncate text-transform">From Around the Web</span> </h4>
				</div>
 				<div class="ctn-ads-home-list-row">
		 			<div id="div-clmb-ctn-1245<?=$articleId?>" data-slot="256682" data-position="1245<?=$articleId?>" data-section="0" data-cb="adwidgetfun" class="colombia toi-product colombiaad"> </div>
		 			<div id="div-clmb-ctn-1246<?=$articleId?>" data-slot="256682" data-position="1246<?=$articleId?>" data-section="0" data-cb="adwidgetfun" class="colombia toi-product colombiaad"> </div>
		 		</div>
		 		<div class="ctn-ads-home-list-row">
		 			<div id="div-clmb-ctn-1247<?=$articleId?>" data-slot="256682" data-position="1247<?=$articleId?>" data-section="0" data-cb="adwidgetfun" class="colombia toi-product colombiaad"> </div>
		 			 <?php  if(isset($nextArticleId) && isset($nextArticleUrl)) {?>
					<section>
						<a class="nextArticleCall callnext datacheck" data-next-title="<?=$nextArticleTitle?>" data-current-title="<?=$currentTitle?>" data-current-url="<?=$currentUrl?>" id="<?=$nextArticleId?>" href="<?=$nextArticleUrl?>"></a>
					</section>	
					 <?php } ?>
					<div id="div-clmb-ctn-1248<?=$articleId?>" data-slot="256682" data-position="1248<?=$articleId?>" data-section="0" data-cb="adwidgetfun" class="colombia toi-product colombiaad"> </div>
		 		</div>
 		</div>	
</section>

<?php if(isset($nextArticleId) && isset($nextArticleUrl)) {?>
<section class="articleloading"id="article-<?=$nextArticleId?>"></section>	
<?php } ?>
</div>

<br/>
<?php include __DIR__ . "/../common/pwaFooter.phtml"; ?>


 
