<?php include __DIR__ . "/../common/pwaHeader.phtml"; ?>
<!-- ATF Slot start-->
	<?php include __DIR__ . "/../common/atfSlot.phtml"; ?>
<!-- ATF Slot end-->
<link href="/pwa/css/knockoutstyle.css" rel="stylesheet">
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<script type='text/javascript' src="http://ad.crwdcntrl.net/5/c=2800/pe=y/var=_ccaud"></script>
 <!-- End lotame audience extraction-->
 	<script>
  function _amazon_timer(_newfulldate){
   	  //var amzFesDt = document.getElementById("amzFesDt").value;
	   	  var amzFesDt = _newfulldate;
	   	  var countDownDate = new Date(amzFesDt.replace(/-/g, '/')).getTime();
	   	var x = setInterval(function() {
	   	  var now = new Date().getTime();
	   	  var distance = countDownDate - now;
	   	  var days = Math.floor(distance / (1000 * 60 * 60 * 24));
	   	  var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
	   	  var _hours = hours-2;
	   	  var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
	   	  var seconds = Math.floor((distance % (1000 * 60)) / 1000);
	   	  var _getHour = new Date();
	   	  var _newHour = _getHour.getHours();
			//if(paramsObj.leafTitle=='knockout-deal'){
					var _checkClassNew = document.querySelector(".knockout-buybutton-show");
					var _checkClass = document.querySelector(".knockout-buybutton");
					  if(_newHour>=15 && _newHour < 17){
		      			document.getElementById("knockouttimer").innerHTML = ("<div>Ends in : </div><div>"+ hours + " hr(s) : "+ minutes + " min(s) : " + seconds + " sec(s)</div>");
						if(_checkClass.classList.contains('displaynone')) {
							_checkClass.classList.remove("displaynone");
						}
		      		  }else{
		      			document.getElementById("knockouttimer").innerHTML = ("<div>Starts in : </div><div>"+ _hours + " hr(s) : " + minutes + " min(s) : " + seconds + " sec(s)</div>"); 
						if(_checkClassNew.classList.contains('displaynone')) {
							_checkClassNew.classList.remove("displaynone");
						}
		      		  }  
			//}
	   	  
	   	  if (distance < 0) {
	   	    clearInterval(x);
	   	    document.getElementById("knockouttimer").innerHTML = "EXPIRED";
	   	  }else{
	   		  document.getElementById("knockouttimer").style.display="block";
	   	  }
	   	}, 1000);
	}
 var dt = new Date();
	var month = new Array();
	month[0] = "Jan";
	month[1] = "Feb";
	month[2] = "Mar";
	month[3] = "Apr";
	month[4] = "May";
	month[5] = "Jun";
	month[6] = "Jul";
	month[7] = "Aug";
	month[8] = "Sep";
	month[9] = "Oct";
	month[10] = "Nov";
	month[11] = "Dec";
    
	var _month = month[dt.getMonth()];

	var week = new Array();
	week[1] = "Mon";
	week[2] = "Tue";
	week[3] = "Wed";
	week[4] = "Thu";
	week[5] = "Fri";
	week[6] = "Sat";
	week[0] = "Sun";
	 
	var _week = week[dt.getDay()];
	var newdate = dt.getDate()+1;
	
	var _fulldate = _month + ', ' + newdate + ', ' + dt.getFullYear();
	
var countDownDate = new Date(_fulldate).getTime();
var x = setInterval(function() {

  var now = new Date().getTime();

  var distance = countDownDate - now;

  var days = Math.floor(distance / (1000 * 60 * 60 * 24));
  var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
  var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
  var seconds = Math.floor((distance % (1000 * 60)) / 1000);

  

  if (distance < 0) {
    clearInterval(x);
    document.getElementById("getting-started").innerHTML = "EXPIRED";
	location.reload();
  }
}, 1000);
//if(paramsObj.leafTitle=='flashSale'){
 	_amazon_timer('<?php echo $endDate;?>');
// }
</script>

<script type="application/ld+json">
{
  "@context": "http://schema.org/",
  "@type": "Product",
  "name": "<?= $productName?>",
  "image": "<?= $imagePath?>",
  "description": "<?= $productDescription?>",
  "brand": {
    "@type": "Thing",
    "name": "<?= $brandName?>"
  },

  "offers": {
    "@type": "Offer",
    "priceCurrency": "Rupees",
    "price": "<?=$DealPrice?>",
    "priceValidUntil": "<?=$endDate?>",
    "itemCondition": "http://schema.org/UsedCondition",
    "availability": "http://schema.org/InStock",
    "seller": {
      "@type": "Organization",
      "name": "Times Internet Ltd"
    }
  }
}

</script>

<div class="knockoutcontainer">
<?php if(isset($productName)) { ?>
<div class="knockoutheader">	
			<?php if(isset($banner)) { ?><img src="<?=$banner?>" alt="Deal of the Day" width="100%"/> <?php } ?>
			<h1>Flash Sale</h1>
			<div class="knockouttimer" id="knockouttimer">
				
			</div>
		</div>
		<div class="sub-knockoutcontainer">
			<div class="knockoutcontainer-one">
				<a href="<?= $landingURL?>" class="clickimg"><img alt="<?=$productName?>" src="<?=$imagePath?>"/></a>
					<!-- div class="knockoutrating">
						<div class="flt ratingtext">Overall Rating </div>
						<div class="rating flt" title="4.777777778 out of 5">
							<span style="width:40%">4.777777778 out of 5</span>
						</div>
						<div class="review">4.78 stars | Review(s) : 12</div>
					</div -->
				<table border="0" width="100%" cellpadding="0" cellspacing="0">
						<tr>
							<td><div class="fb-like" data-href="https://shop.gadgetsnow.com/<?= $landingURL?>" data-width="100" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div></td>
							<td style="padding:5px 5px 0 5px;"><!-- Twitter start -->
							<a href="https://twitter.com/share" class="twitter-share-button" data-lang="en">Tweet</a>
							<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script><!-- Twitter end --></td>
								<td style="padding:5px 5px 0 0;">  <!--  +1 button start -->
							<div class="plus1" style="display:inline-block">
							  <g:plusone size="medium"></g:plusone>
							</div>
							<script type="text/javascript">
						  (function() {
							var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
							po.src = 'https://apis.google.com/js/plusone.js';
							var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
						  })();
						</script>
				        <!-- +1 button end --></td>
						</tr>
				</table>
				
			</div>
			<div class="knockoutcontainer-two">
				<h2 class="knockheading"><a href="<?= $landingURL?>"> <?= $productNameFlash?></a></h2>
				<?php if (isset($subHeading)) {?><h4><?= $subHeading?></h4><?php }?>								
				<div class="knockout-tab">
					<div class="knockoutpricetab">
							<span class="knockoutofferprice"><span class="rp"></span><?= number_format($DealPrice) ?></span>
							<span class="knockoutmrp"><span class="rp"></span><?= number_format($OfferPrice) ?></span>
							<?php 
								$DealPrice = str_replace(",","", $DealPrice);
								$OfferPrice = str_replace(",","", $OfferPrice);
								$newprice = $OfferPrice-$DealPrice;
								$newpercent = $newprice/$OfferPrice*100;								
							?>
							<div class="knockoutsave">You Save <span class="rp"></span> <?= $newprice ?> (<?=round($newpercent)?>%)</div>
					</div>
					<div class="knockoutactiontab">
						<div class="knockout-buybutton displaynone" id="knockout-buybutton"> <a class="adcode" href="/control/additem?add_product_id=<?= $productId?>">Buy Now</a></div>
						<div class="knockout-buybutton-show displaynone"> <span>Buy @ 3.00 pm</span></div>
					</div>
					<ul class="enabler">
						<?php if( isset($warranty)) { ?>
						<li><span class="warranty">&nbsp;</span><span> <?=${warranty}?></span></li>
						<?php } ?>
						<li><span class="shipping">&nbsp;</span><span>Free Shipping</span></li>
						<li><span class="emiava">&nbsp;</span> <span>EMI Available </span></li>
						<li><span class="delivetime">&nbsp;</span><span>Usually Delivers in 1-3 days.</span></li>
						<li><span class="vendor">Seller:</span><span class="vendor-desc" title="Times Internet Ltd.">Times Internet Ltd.</span></li>
						<li><span class="hundredpersent">&nbsp;</span><span>Original Products</span></li>           							
					</ul>
				</div>
				<h3 class="keyheading">Key Features</h3>
				<?php   
					$featureClass ="mobilefeature othersfeature" ;
					if( isset($productCategoryId) && ($productCategoryId=='10021' || $productCategoryId=='10022')) 
						{
						$featureClass = "mobilefeature ";
						}
				
				 ?>
				<ul class="<?=$featureClass ?>">								
					<?php 
						if(isset($featuresArr))
						{
							foreach($featuresArr as $value)
							{
								$featureType = $value['type'];
								$featureValue = $value['value'];
							
					?>
						<li class="<?=$featureType?>"><?= $featureValue?></li>
						
					<?php 
					          }
					     }
					
					?>
				</ul>
<section>
<?php include __DIR__ . "/../common/newAffiliate-sponsored.phtml"; ?>
				</section>
<!-- amazon sponsored list --> 
	 
<!-- amazon list -->
<!-- promoted html-->
<?php include __DIR__ . "/../common/promotedbanner1.phtml"; ?>
 
<!-- promoted html-->
 
<!-- promoted html-->
<?php include __DIR__ . "/../common/promotedbanner2.phtml"; ?>
 
<!-- promoted html-->
	<div class="margin-10 content text-left">
		<h2> The Great Flash Sale on Mobile Phones online in India only on Gadgetsnow.com </h2>
		<p> Buy any mobile handset in our Flash Sale Online and just in Seconds let it be yours! If you are looking at buying your dream mobile phone at an affordable price, you are at the perfect place at the perfect time. At shop.gadgetsnow.com,  we offer you the lowest prices online in India during the flash period. You will surely be delighted. Check out our latest and the best offers we have for you over a wide range of <a href=https://shop.gadgetsnow.com/mobiles/mobile-handsets-smart-phones/>smartphones</a> and <a href=https://www.gadgetsnow.com/mobile-phones>mobile phones</a>. Everyone will find something as per their requirements and style at the best discount anyone could ever find. The best offers ranges from the latest smart phones to medium budget phones and you can check and compare the offers we provide to validate these offers so that you are assured of the best deals you are getting.  So all you have to do is buy your smartphone during the flash period and enjoy unlimited fun on your new gadget that also at an unbelievable low price online.  </p>
		<h3>Best Range of Mobile Phones Online in India</h3>
		<p> We understand your need to have the latest mobile handset in your hand with technological advancements at its peak. Technological advancements comes at an expense that can leave you wondering to buy or not to buy. To help you get that dream mobile phone, we proudly announce the biggest Mobile Flash Sales Online. Get your hands to search through a wide range of popular mobile phones from popular brands at the lowest price available online . Go on and Compare them and don’t miss out the Flash Sale Period.  </p>
		<p> Our various filters will help you choose your requirement and throw over the results and you will be happy to see the cheapest prices we are giving it away. The Lowest price bundled with best offers that you just cannot resist. Check out our latest and wide range <a href=https://shop.gadgetsnow.com/mobiles/mobile-handsets-smart-phones/> smartphones </a> to know these offers online exclusively on shop.gadgetsnow.com!  Simple search the specification you are looking for from criteria’s such as Display Screen Size, Internal Memory Storage Capacity, Operating System, SIM type and Camera Quality and the perfect phones that match your requirement will be available to choose from. </p>
		<p> After all, only we get you guaranteed mobile phone at the lowest price online in India at your doorstep! Hurry Now ! </p>
		<h3>Best Brands of Latest Mobile Phones on Amazon</h3>
		<p> Check out a wide range of mobile phones from a variety of brands like Apple, Samsung, Vivo, Motorola, MicroMax, Panasonic, Intex, Lava, Karbonn, Redmi </p> etc. and we are still adding more everyday. Go ahead and choose your perfect phone and you will get the best offer online right here at Amazon! Buy one today and have them delivered at your doorstep instantly.  </p>
		<p><BR> You May Be Interested in other Offers: <a href="/mobile-offers">Mobile Offers</a> |  <a href="/wallet-offers"> Wallet Offers </a> | <a href="/best-mobiles-deal-of-the-day" >Mobile Deal of the Day </a> | <a href="/4g-mobile-offers" >4G Mobile Offers </a> | <a href="/best-amazon-offers" >Amazon Offers </a> | <a href="/best-battery-phones" >Best Battery Phones </a> | <a href="/mobikwik-offer" >Mobikwik Wallet Offers </a> | <a href="/amazing-mobile-deals" >Amazing Mobile Deals </a> | <a href="/paytm-mall-offers" >Paytm Offers </a> </p>
	</div>
</section>
				<div class="knockout-note">Note : Limit of Single Unit per user only. Multiple orders by single user will be cancelled.</div>
			</div>
		</div>
		<?php }else {?>
No Deal Found
<?php } ?>	
	</div>

<?php include __DIR__ . "/../common/pwaFooter.phtml"; ?>
 
