<?php include __DIR__ . "/../common/pwaHeader.phtml"; ?>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
 <!-- End lotame audience extraction-->
 <!-- condition if URL has PID -->
 <?php 

	$uri = $_SERVER['REQUEST_URI'];	
 	if(strpos($uri,"/G")!=false)
 	{
 		$urlpid = substr($uri,strrpos($uri,"/")+1,strlen($uri)-1); 
 	 } ?>
 	 
	<input type="hidden" id="landingurl" value="<?php if(isset($urlpid)) echo $urlpid; else echo "";?>"/>
<div class="amazing-containers">

			<div class="mobile-header seocontianer">
				<h1>4G Mobile Offers</h1>
				
			</div>
		
			<?php
			
			$serverUrl = $GLOBALS['general']['BACKEND_SERVER_URL'];
			$index=0;
			foreach($productArr as $product)
			{					
				foreach($products as $extn)
				{
					
					$product_name = $extn->PRODUCT_NAME;
					$product_namediv =$product_name;
					$product_id = $extn->PRODUCT_ID;
					if($product != $product_id)
					{
						continue;
					}
					$productnameSpl=str_replace(".","-",$product_name);
					$productnameSpl = str_replace(' ','-',$productnameSpl);
					$productnameSpl = str_replace('-&-','-',$productnameSpl);
					$productnameSpl = str_replace('%','',$productnameSpl);
					$productnameSpl = str_replace('(','',$productnameSpl);
					$productnameSpl = str_replace(',','-',$productnameSpl);
					$productnameSpl = str_replace(')','',$productnameSpl);
					$productnameSpl = str_replace('--','-',$productnameSpl);
					$urlname = strtolower($productnameSpl);
					
					// Check if product is instock
					// do not show OOS products 
					$data  = "{'productId':'".$product_id."'}";
					$url = $serverUrl."/rest/inventory/checkProductEnableToBuy";
					$invResult = Utils::getProtectedApiResponse($url, CURLOPT_POST, null, $data, null);
					
					if(isset($invResult['data'])){
						$invJson = json_decode($invResult['data']);
						if(isset($invJson->responseMap->status) && $invJson->responseMap->status==='success' && $invJson->responseMap->flag=="true"){
							$inventoryFlag=true;
						}else 
						{
							continue;
						}
					}
					
					$index++;
					$mrp = $extn->LIST_PRICE;
					$shippingprice = $extn->SHIPPING_PRICE;
					if($extn->DISCOUNTED_PRICE ==0 ){
						$offerprice =  $extn->DEFAULT_PRICE;
					}else{
						$offerprice = $extn->DISCOUNTED_PRICE;
					}
					$yousave = $mrp-$offerprice;
					
					$off = $mrp - $offerprice;
					$off = $off / $mrp;
					$off = $off * 100;
					
					$discountpercent=number_format($off,1);
					
					
					$primary_category = $extn->PRIMARY_CATEGORY_ID;
					$catname_arry = $extn->CATEGORY_NAME;
					$cat_arry = $extn->CATEGORY_ID;
					$position = array_search($primary_category, $cat_arry);
					$primarcata_name = $extn->CATALOG_NAME[$position];
					$producturl = "/".strtolower($primarcata_name)."/". str_replace(' ','-', strtolower($extn->CATEGORY_NAME[$position]))."/".strtolower(str_replace('---','-',str_replace(' ','-',$product_name)))."/$primary_category/p_".$extn->PRODUCT_ID."";
					$producturl = str_replace(' ','-',$producturl);
					$producturl = str_replace('-&-','-',$producturl);
					$producturl = str_replace('%','',$producturl);
					$producturl = str_replace('(','',$producturl);
					$producturl = str_replace(',','-',$producturl);
					$producturl = str_replace(')','',$producturl);
					$producturl = str_replace('--','-',$producturl);
					
					//$producturl = $producturl."?utm_source=Wednesday&utm_medium=WedPromo&utm_campaign=".$extn->PRODUCT_ID'];
					
					$productImgurl = strtolower($primarcata_name)."/". str_replace(' ','-', strtolower($extn->CATEGORY_NAME[$position]))."/".strtolower(str_replace('---','-',str_replace(' ','-',$product_name)))."";
					$productImgurl = str_replace(' ','-',$productImgurl );
					$productImgurl = str_replace('-&-','-',$productImgurl );
					$productImgurl = str_replace('(','',$productImgurl );
					$productImgurl = str_replace(')','',$productImgurl );
					$productImgurl = str_replace('.','-',$productImgurl );
					$productImgurl = str_replace('+','',$productImgurl );
					$productImgurl = str_replace('-?','-',$productImgurl );
					$productImgurl = str_replace("'","",$productImgurl );
					$productImgurl = str_replace("%","",$productImgurl );
					
					$screenresolution = isset($extn->SCREENRESOLUTION_STR_ATTR[0])?$extn->SCREENRESOLUTION_STR_ATTR[0]:"";
					$screensizestrattr= isset($extn->SCREEN_SIZE_STR_ATTR[0])?$extn->SCREEN_SIZE_STR_ATTR[0]:"";
					$processortype=isset($extn->PROCESSORTYPE_STR_ATTR[0])?$extn->PROCESSORTYPE_STR_ATTR[0]:"";
					$secondarycamera = isset($extn->SECONDARYCAMERA_STR_ATTR[0])?$extn->SECONDARYCAMERA_STR_ATTR[0]:"";
					?>
							<!--  product list start -->
		<div class="sub-amazing active" id="<?=$product_id?>" data-url="/4g-mobile-offers/<?=str_replace(" ","-",$urlname)?>/<?=$product_id?>">
			<div class="amazing-one">
				<a href="<?=$producturl?>" class="clickimg"><img alt="<?=$product_name?>" src="https://img1.gadgetsnow.com/gd/images/products/medium/<?php echo $product_id ?>/<?php echo $productImgurl ;?>.jpg"/></a>
					
				<?php /* <table border="0" width="100%" cellpadding="0" cellspacing="0">
						<tr>
							<td><div class="fb-like" data-href="https://shop.gadgetsnow.com/<?=$producturl?>" data-width="100" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div></td>
							<td style="padding:5px 5px 0 5px;"><!-- Twitter start -->
							<a href="https://twitter.com/share" class="twitter-share-button" data-lang="en">Tweet</a>
							<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script><!-- Twitter end --></td>
								<td style="padding:5px 5px 0 0;">  <!--  +1 button start -->
							<div class="plus1" style="display:inline-block">
							  <g:plusone size="medium"></g:plusone>
							</div>
							<script type="text/javascript">
						  (function() {
							var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
							po.src = 'https://apis.google.com/js/plusone.js';
							var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
						  })();
						</script>
				        <!-- +1 button end --></td>
						</tr>
				</table>
				*/ ?>
				
			</div>
			<div class="producthead">
				<h2><a href="url"> <?=$product_name?></a></h2>
				 						
				<div class="knockout-tab">
					<div class="knockoutpricetab">
							<span class="offer-price"><span class="toi-rupees"></span><?=$offerprice?></span>
						<?php if($yousave >0) { ?>
							<span class="mrp-price"><span class="toi-rupees"></span><?=$mrp?></span>
							<div class="you-save">You Save <span class="toi-rupees"></span> <?=$yousave?> (<?=$discountpercent?>%)</div>
						<?php } ?>	
					</div>
					<div class="knockoutactiontab">
						<div class="knockout-buybutton " id="knockout-buybutton">
						 <a href="/control/additem?add_product_id=<?=$product_id?>">Buy Now</a></div>
					</div>
				</div>
				<h3>Key Features</h3>
				 <?php 
				 		$classOs = "android";
				 		if(strpos(strtolower($extn->OPERATING_SYSTEM_STR_ATTR[0]),"ios")!== false)
							{
						 		$classOs = "ios";
							}
						?>
				<ul class="product-features">
					<li class="display"> <?php echo $screensizestrattr ." ". $screenresolution; ?></li>
					<li class="<?=$classOs?>" > <?php echo $extn->OPERATING_SYSTEM_STR_ATTR[0]; ?></li>
					<li class="processor"> <?php echo $processortype; ?></li>
					<li class="battery">  <?php echo $extn->CAPACITY_STR_ATTR[0]; ?></li>
					
					
					<li class="memory"> <?php echo $extn->RAM_STR_ATTR[0]; ?> RAM  |  <?php echo $extn->INTERNALMEMORY_STR_ATTR[0]; ?> ROM </li>
				
				
				</ul>
		</div>
		</div>
		<!--  product list end -->
		<div id='div-gpt-ad-1549260070829-<?=$index?>' class="ctn-ads-pdp adcode eu-hide" style='margin: 0 auto; width:300px;'>
			<script>
				googletag.cmd.push(function() { googletag.display('div-gpt-ad-1549260070829-<?=$index?>'); });
			</script>
		</div>			
				<?php } ?> 
	
			
			<?php } ?>
			<!-- product end -->
</div>
<div class="mobile-store">
			<div class="col-lg-12 text-left">
			<h2>4G Mobile Phones Exclusive Offers on Gadgets Now</h2>
			<p>Keeping up with the latest in technology and advanced growing needs of our users, we at Gadgets Now are offering you a wide range of 4G smartphones online right here at the best prices in India. There is a mobile handset for everyone. Check out the <a href="https://shop.gadgetsnow.com/mobiles/mobiles-trending-4g-phones/">latest 4G mobile phone</a> at the best prices online. You will love every deal as we have offers on 4G with Excellent Camera Options, Extendable Memory and gigantic screen size. Compare them all and take your pick. </p>
			<h2>Why 4G Mobiles are important now?</h2>
			<p>With offices going almost virtual, it has become necessary to remain connected to the world of internet. You need a smart 4G mobile phone that will support your needs and give you an altogether different experience. As technology moves ahead, we need to keep the <a href="https://www.gadgetsnow.com/mobile-phones">mobile phones</a> in our palms updated to match the technological advancements</p>
			<p>A 4G offers super fast connectivity and most important a speed that is more than 5 times the speed of a 3G connection. <b>An Office in your Palm:</b> The 4G smartphone is a must for those who have to carry their work with them. A 4G smart phone allows faster processing of excel sheets, documents and other such important work files. There are various applications that you can run to stay connected to the stock market, latest news or simply check the live cricket score if you are a game buff !</p>
			<p><b>A Silent Calling Experience:</b> Experiencing poor network on your mobile phone is one of the worst feeling and you are almost left shouting or hassled that wastes so much time. With a 4G smartphone you do not have to worry as a 4G mobile phone utilizes higher network capacity and has a call quality that is in HD thus making your voice extremely loud and care without the hassle of repeating yourself again and again.</p>
			<p><b>Faster Processing:</b> No one likes to wait for hours for your command to be processed. If you are buying your first mobile phone, then 4G smart phone is your only option to experience a great experience. A 4G smartphone is equipped with an inbuilt camera, a media player to keep you entertained and an internet connectivity in 4G to keep you connected.  Although you can share photos , files and videos with your loved one in a 2G or a 3G connection, but you will experience a faster processing in a 4G mobile phone</p>
			<h3>4G Offers</h3>
			<p>Gadgets Now offers you exclusive discounts and offers only for our users online in India on various brands of smart phones and <a href="https://shop.gadgetsnow.com/mobiles/mobiles-feature-phones">feature phones</a> that are widely available in the market.  You will get what you see and we deliver best deals right at your doorstep.  Explore and Choose best 4G deals from the Top Brands like Apple, Samsung, Lenovo Panasonic, Intex, Lava, Karbonn etc. Just filter your requirements and you will get the best deals on your screen ! Buy online today ! 
			<BR>
			You May Be Interested in other Offers: <a href="/mobile-offers">Mobile Offers</a> |  <a href="/wallet-offers"> Wallet Offers </a> | <a href="/best-mobiles-deal-of-the-day" >Mobile Deal of the Day </a> | <a href="/flash-sale" >Mobile Flash Sale </a> | <a href="/best-amazon-offers" >Amazon Offers </a> | <a href="/best-battery-phones" >Best Battery Phones </a> | <a href="/mobikwik-offer" >Mobikwik Wallet Offers </a> | <a href="/amazing-mobile-deals" >Amazing Mobile Deals </a> | <a href="/paytm-mall-offers" >Paytm Offers </a>
			</p>
			</div><br/>
</div>
<?php include __DIR__ . "/../common/newfooter.phtml"; ?>
