<?php include __DIR__ . "/../common/header.phtml"; ?>
<section class="Huawei-store">

<div class="productShowlist">
		<h4 class="heading">Huawei Mate20 Pro</h4>
</div>
<div class="Huawei-table">
	<div><img src="https://img1.gadgetsnow.com/gd/imgbn/Huawei-main-n_01.jpg" class="img lazy" /></div>
	<div><img data-original="https://img1.gadgetsnow.com/gd/imgbn/Huawei-main-n_02.jpg" class="img lazy" /></div>
</div>

<!-- live event start -->
<div class="productShowlist">
		<h4 class="heading">Buy Huawei Mate20 Pro</h4>
</div>
<div class="Huawei-table text-center">
<?php 
	$turl = "https://www.amazon.in/gp/product/B077Q19RDH";
	$turl = str_replace("https://www.amazon.in","",$turl);
	if(strpos($turl,"?") == false)
	{
		$turl =$turl."?tag=timofind-21";
	}else
	{
		$turl =$turl."&tag=timofind-21";
	}
	$intermediateUrl = "http://m.gadgetsnow.com/affiliate_amazon.cms?url=";
	$amazonUrl = $intermediateUrl.rawurlencode($turl)."&utm_campaign=mweb_gnshop_promowidget-21"."&title=HUAWEI_LIVE_EVENT&price=NA&utm_source=mweb_gnshop&utm_medium=Affiliate";

	
	$startdate1 ="22-12-2018 00:00:00";
	$startdate2 ="25-12-2018 00:00:00";
	$currenttime = date('d-m-Y H:i:s');
	$start1 = strtotime($startdate1);
	$start2 = strtotime($startdate2);
	$makeliveVideo1="false";
	$makeliveVideo2="false";
	
	if ($start1 <= strtotime($currenttime)) 
	{
	 $makeliveVideo1="true";
	}
	if ($start2 <= strtotime($currenttime))
	{
		$makeliveVideo2="true";
	}
?>
	<a href="<?=$amazonUrl?>" 
	   data-ga-track="huawei_mweb_live_amazon##live_event##<?=$amazonUrl?>##0">
	<img data-original="https://img1.gadgetsnow.com/gd/imgbn/huwai_wap_banner_1.jpg" class="img lazy" />
	<!-- <iframe width="100%" height="250" src="https://www.amazon.in/gp/product/B077Q19RDH" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
	</iframe> -->
	</a>
</div>
<!-- live event end-->
<!-- live event start -->
<div class="productShowlist">
		<h4 class="heading">Live EVENT</h4>
</div>
<div class="Huawei-table text-center">
 
	<iframe width="100%" height="250" src="https://www.youtube.com/embed/GRAK_oxnEME" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
	</iframe>
</div>
<!-- live event end-->

<!-- live Specifications start -->
<div class="productShowlist">
		<h4 class="heading">Specifications</h4>
</div>
<div class="Huawei-table text-center">
	<img data-original="https://img1.gadgetsnow.com/gd/imgbn/1500-Mate20-pro_01_21CB479773339_.jpg" class="img lazy" />
	<img data-original="https://img1.gadgetsnow.com/gd/imgbn/1500-Mate20-pro_01_23_CB479.jpg" class="img lazy" />
</div>
<!-- live Specifications end-->
<!-- Videos form huawei start -->
<div class="productShowlist">
		<h4 class="heading">Interview Videos</h4>
</div>
<div class="author-container">
	<div class="author-articles">
	<ul data-tab="Articles">
	
	<?php if($makeliveVideo1 === "true") {?>
	 <li>
		  <span>
			 <a target="_blank" href="/huawei-mate20-pro/how-intelligent-devices-will-change-industries-forever/vps-1234"><dfn class="mobile-sprite">
			How intelligent devices will change industries forever</dfn></a>
			 <div class="table">
				<div class="table-cell rightline">
				   <span class="time-caption procs">
				   <a href="/author/Gadgets-Now-Bureau/10400">Gadgets Now Bureau</a>
				   </span>
				</div>
				<!-- div class="table-cell leftline">
				   <time class="time-caption procs" data-time="Aug 29, 2018">Nov 23, 2018, 11:42 AM IST</time>
				</div -->
			 </div>
		  </span>
	   </li>
	   <?php }?>
	   <?php if($makeliveVideo2 === "true") {?>
	    <li>
		  <span>
			 <a target="_blank" href="/huawei-mate20-pro/india-s-leading-cio-s-use-the-huawei-mate-20-pro:-a-true-ai-enabled-device/vps-1235"><dfn class="mobile-sprite">
			India's leading CIO's use the Huawei Mate 20 Pro: A true AI Enabled Device</dfn></a>
			 <div class="table">
				<div class="table-cell rightline">
				   <span class="time-caption procs">
				   <a href="/author/Gadgets-Now-Bureau/10400">Gadgets Now Bureau</a>
				   </span>
				</div>
				<!-- div class="table-cell leftline">
				   <time class="time-caption procs" data-time="Aug 29, 2018">Nov 23, 2018, 11:42 AM IST</time>
				</div -->
			 </div>
		  </span>
	   </li>
	  <?php } ?>
	   <li>
		  <span>
			 <a target="_blank" href="/huawei-mate20-pro/the-impact-of-intelligent-devices-on-today-s-enterprises:-cio-roundtable-presented-by-huawei-mate-20-pro/vps-1236"><dfn class="mobile-sprite">
			The impact of Intelligent devices on today's Enterprises: CIO roundtable presented by Huawei Mate 20 Pro</dfn></a>
			 <div class="table">
				<div class="table-cell rightline">
				   <span class="time-caption procs">
				   <a href="/author/Gadgets-Now-Bureau/10400">Gadgets Now Bureau</a>
				   </span>
				</div>
				<!-- div class="table-cell leftline">
				   <time class="time-caption procs" data-time="Aug 29, 2018">Nov 23, 2018, 11:42 AM IST</time>
				</div -->
			 </div>
		  </span>
	   </li>
	</ul>
	</div>
	 
</div>
<!-- latest form hawei end -->
<!-- latest form hawei start -->
<div class="productShowlist">
		<h4 class="heading">Articles from Huawei</h4>
</div>
<div class="author-container">
	<div class="author-articles">
	<ul data-tab="Articles">
	<li>
		  <span>
			 <a target="_blank" href="/huawei-mate20-pro/how-ai-is-helping-us-drive-fast-forward-into-the-future/aps-1243"><dfn class="mobile-sprite">
			How AI Is Helping Us Drive Fast Forward Into The Future</dfn></a>
			 <div class="table">
				<div class="table-cell rightline">
				   <span class="time-caption procs">
				   Yashvendra Singh 
				   </span>
				</div>
				<!-- div class="table-cell leftline">
				   <time class="time-caption procs" data-time="Aug 29, 2018">Nov 23, 2018, 11:42 AM IST</time>
				</div -->
			 </div>
		  </span>
	   </li>
	 <li>
		  <span>
			 <a target="_blank" href="/huawei-mate20-pro/how-intelligent-devices-are-enhancing-efficiency-of-enterprises/aps-1242"><dfn class="mobile-sprite">
			How intelligent devices are enhancing efficiency of enterprises</dfn></a>
			 <div class="table">
				<div class="table-cell rightline">
				   <span class="time-caption procs">
				   Yashvendra Singh 
				   </span>
				</div>
				<!-- div class="table-cell leftline">
				   <time class="time-caption procs" data-time="Aug 29, 2018">Nov 23, 2018, 11:42 AM IST</time>
				</div -->
			 </div>
		  </span>
	   </li>
	 <li>
		  <span>
			 <a target="_blank" href="/huawei-mate20-pro/cool-photography-features-that-cater-to-our-day-and-age-social-media-needs/aps-1239"><dfn class="mobile-sprite">
			 Cool photography features that cater to our day and age social media needs</dfn></a>
			 <div class="table">
				<div class="table-cell rightline">
				   <span class="time-caption procs">
				   <a href="/author/Gadgets-Now-Bureau/10400">Gadgets Now Bureau</a>
				   </span>
				</div>
				<!-- div class="table-cell leftline">
				   <time class="time-caption procs" data-time="Aug 29, 2018">Nov 23, 2018, 11:42 AM IST</time>
				</div -->
			 </div>
		  </span>
	   </li>
	    <li>
		  <span>
			 <a target="_blank" href="/huawei-mate20-pro/four-tips-on-how-to-utilize-ai-to-capture-cool-and-fun-videos/aps-1240"><dfn class="mobile-sprite">
			 Four Tips on how to Utilize AI to Capture Cool and Fun Videos</dfn></a>
			 <div class="table">
				<div class="table-cell rightline">
				   <span class="time-caption procs">
				   <a href="/author/Gadgets-Now-Bureau/10400">Gadgets Now Bureau</a>
				   </span>
				</div>
				<!-- div class="table-cell leftline">
				   <time class="time-caption procs" data-time="Aug 29, 2018">Nov 23, 2018, 11:42 AM IST</time>
				</div -->
			 </div>
		  </span>
	   </li>
	    <li>
		  <span>
			 <a target="_blank" href="/huawei-mate20-pro/new-year-resolution-to-get-healthy-how-your-smartphone-can-help/aps-1241"><dfn class="mobile-sprite">
			New Year resolution to get healthy, how your smartphone can help</dfn></a>
			 <div class="table">
				<div class="table-cell rightline">
				   <span class="time-caption procs">
				   <a href="/author/Gadgets-Now-Bureau/10400">Gadgets Now Bureau</a>
				   </span>
				</div>
				<!-- div class="table-cell leftline">
				   <time class="time-caption procs" data-time="Aug 29, 2018">Nov 23, 2018, 11:42 AM IST</time>
				</div -->
			 </div>
		  </span>
	   </li>
	 <li>
		  <span>
			 <a target="_blank" href="/huawei-mate20-pro/huawei-phone-clone-set-your-phone-up-in-a-jiffy/aps-1238"><dfn class="mobile-sprite">
			 HUAWEI Phone Clone: Set Your Phone Up in a Jiffy</dfn></a>
			 <div class="table">
				<div class="table-cell rightline">
				   <span class="time-caption procs">
				   <a href="/author/Gadgets-Now-Bureau/10400">Gadgets Now Bureau</a>
				   </span>
				</div>
				<!-- div class="table-cell leftline">
				   <time class="time-caption procs" data-time="Aug 29, 2018">Nov 23, 2018, 11:42 AM IST</time>
				</div -->
			 </div>
		  </span>
	   </li>
	 <li>
		  <span>
			 <a target="_blank" href="/huawei-mate20-pro/are-we-moving-towards-an-app-less-world-/aps-1237"><dfn class="mobile-sprite">
			 Are We Moving Towards an App-Less World?</dfn></a>
			 <div class="table">
				<div class="table-cell rightline">
				   <span class="time-caption procs">
				   <a href="/author/Gadgets-Now-Bureau/10400">Gadgets Now Bureau</a>
				   </span>
				</div>
				<!-- div class="table-cell leftline">
				   <time class="time-caption procs" data-time="Aug 29, 2018">Nov 23, 2018, 11:42 AM IST</time>
				</div -->
			 </div>
		  </span>
	   </li>
	 <li>
		  <span>
			 <a target="_blank" href="/huawei-mate20-pro/how-revolutionary-is-the-matrix-camera-on-huawei-mate-20-series-/aps-1236"><dfn class="mobile-sprite">
			 How Revolutionary is the Matrix Camera on HUAWEI Mate 20 Series?</dfn></a>
			 <div class="table">
				<div class="table-cell rightline">
				   <span class="time-caption procs">
				   <a href="/author/Gadgets-Now-Bureau/10400">Gadgets Now Bureau</a>
				   </span>
				</div>
				<!-- div class="table-cell leftline">
				   <time class="time-caption procs" data-time="Aug 29, 2018">Nov 23, 2018, 11:42 AM IST</time>
				</div -->
			 </div>
		  </span>
	   </li>
	<li>
		  <span>
			 <a target="_blank" href="/huawei-mate20-pro/this-is-the-fastest-smartphone-for-internet-browsing-world-class-connectivity-and-peak-download-speeds/aps-1235"><dfn class="mobile-sprite">
			 This is the fastest smartphone for Internet browsing World-class connectivity and peak download speeds</dfn></a>
			 <div class="table">
				<div class="table-cell rightline">
				   <span class="time-caption procs">
				   <a href="/author/Gadgets-Now-Bureau/10400">Gadgets Now Bureau</a>
				   </span>
				</div>
				<!-- div class="table-cell leftline">
				   <time class="time-caption procs" data-time="Aug 29, 2018">Nov 23, 2018, 11:42 AM IST</time>
				</div -->
			 </div>
		  </span>
	   </li>
	   <li>
		  <span>
			 <a target="_blank" href="/huawei-mate20-pro/the-perfect-enterprise-device-to-watch-out-for-huawei-mate-20-pro/aps-1234"><dfn class="mobile-sprite">
			 The perfect enterprise device to watch out for- Huawei Mate 20 Pro</dfn></a>
			 <div class="table">
				<div class="table-cell rightline">
				   <span class="time-caption procs">
				   <a href="/author/Gadgets-Now-Bureau/10400">Gadgets Now Bureau</a>
				   </span>
				</div>
				<!-- div class="table-cell leftline">
				   <time class="time-caption procs" data-time="Aug 29, 2018">Nov 23, 2018, 11:42 AM IST</time>
				</div -->
			 </div>
		  </span>
	   </li>
	    
	</ul>
	</div>
	 
</div>
<!-- latest form hawei end -->
<!-- latest form hawei start -->
<div class="productShowlist">
		<h4 class="heading">LATEST from Huawei</h4>
</div>
<div class="author-container">
	<div class="author-articles">
	<ul data-tab="Articles">
	<?php if(isset($huaweiArticles)) {
		$count=0;
		for($i=0;$i<sizeof($huaweiArticles);$i++)
		{
			if($count === 5) break;
			$title = $huaweiArticles[$i]['title'];
			$articleurl = $huaweiArticles[$i]['url'];
			$imgurl = $huaweiArticles[$i]['img'];
			if(stripos($title,"huawei") === false)
				continue;
			$count = $count+1;
			if(strcasecmp($title,"The perfect enterprise device to watch out for- Huawei Mate 20 Pro")===0)
			{
				$articleurl="https://shop.gadgetsnow.com/huawei-mate20-pro/the-perfect-enterprise-device-to-watch-out-for-huawei-mate-20-pro/aps-1234";
			}
		?>
	   <li>
		  <span>
			 <a target="_blank" href="<?=$articleurl?>"><dfn class="mobile-sprite">
			 <?=$title?></dfn></a>
			 <div class="table">
				<div class="table-cell rightline">
				   <span class="time-caption procs">
				   <a href="/author/Gadgets-Now-Bureau/10400">Gadgets Now Bureau</a>
				   </span>
				</div>
				<!-- div class="table-cell leftline">
				   <time class="time-caption procs" data-time="Aug 29, 2018">Nov 23, 2018, 11:42 AM IST</time>
				</div -->
			 </div>
		  </span>
	   </li>
	   <?php } } ?>
	 
	</ul>
	</div>
	 
</div>
<!-- latest form hawei end -->
<!-- photo gallary start -->
<div class="productShowlist">
		<h4 class="heading">Photo gallery</h4>
</div>
<div class="Huawei-table text-center">
	<div class="huawei-gallery" id="huawei-gallery">
		<img data-original="https://img1.gadgetsnow.com/gd/imgbn/hauwei-photo-lowlight.jpg" class="img lazy" />
		<img data-original="https://img1.gadgetsnow.com/gd/imgbn/hauwei-photo-wide.jpg" class="img lazy" />
		<img data-original="https://img1.gadgetsnow.com/gd/imgbn/photo-hero@2x.jpg" class="img lazy" />
	</div>
</div>
<!-- photo gallary end-->
<!-- photo gallary start -->
<div class="productShowlist">
		<h4 class="heading">More details</h4>
</div>
<div class="Huawei-table text-center">
	<div class="huawei-gallery" id="ore-details">
		<img data-original="https://img1.gadgetsnow.com/gd/imgbn/more-detail-remarkable-phot.jpg" class="img lazy" />
		<img data-original="https://img1.gadgetsnow.com/gd/imgbn/more-detail-in-screen-finge.jpg" class="img lazy" />
		<img data-original="https://img1.gadgetsnow.com/gd/imgbn/more-detail-ip68-rated-wate.jpg" class="img lazy" />
		<img data-original="https://img1.gadgetsnow.com/gd/imgbn/more-detail-perfected-flowi.jpg" class="img lazy" />
		<img data-original="https://img1.gadgetsnow.com/gd/imgbn/exquisite-design.jpg" class="img lazy" />
		<img data-original="https://img1.gadgetsnow.com/gd/imgbn/more-detail-wireless-revers.jpg" class="img lazy" />
		<img data-original="https://img1.gadgetsnow.com/gd/imgbn/more-detail-ultimate-perfor.jpg" class="img lazy" />
	</div>
</div>
<!-- photo gallary end-->

 
<!-- live event start -->
<div class="productShowlist">
		<h4 class="heading">Videos From Huawei</h4>
</div>
<div class="Huawei-table text-center">

			<video width="100%" controls poster="http://consumer-img.huawei.com/content/dam/huawei-cbg-campaign/2018/mate20-pro/en/img/intro-video.jpg">
			  <source src="//consumer-img.huawei.com/content/dam/huawei-cbg-campaign/2018/mate20-pro/en/img/intro-video.mp4" type="video/mp4">
			  Your browser does not support HTML5 video.
			</video>
        <br/><br/>
			<video width="100%" controls poster="http://consumer-img.huawei.com/content/dam/huawei-cbg-site/en/mkt/pdp/phones/mate20-pro/design-video.jpg">
			  <source src="//consumer-img.huawei.com/content/dam/huawei-cbg-site/en/mkt/pdp/phones/mate20-pro/laya-id-design--video-en.mp4" type="video/mp4">
			  Your browser does not support HTML5 video.
			</video>
        <br/><br/>
        	<video width="100%" controls poster="http://consumer-img.huawei.com/content/dam/huawei-cbg-site/en/mkt/pdp/phones/mate20-pro/unboxing.jpg">
			  <source src="//consumer-img.huawei.com/content/dam/huawei-cbg-site/en/mkt/pdp/phones/mate20-pro/laya-unboxing-en.mp4" type="video/mp4">
			  Your browser does not support HTML5 video.
			</video>
        <br/><br/>
      
</div>
<!-- live event end-->
<div class="overflowhidden">
		<div style="overflow-y:scroll;  width:90%; margin:0 auto;"><a class="twitter-timeline"  href="https://twitter.com/HuaweiIndia?ref_src=twsrc%5Etfw">Tweets by HuaweiIndia</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script></div>
	</div>
<!-- live event start -->
<?php /*?>
<div class="productShowlist">
		<h4 class="heading">More Videos</h4>
</div>
<div class="Huawei-table text-center more-videos">
<?php 
	if(isset($huaweiVideos))
	{
		for($i=0;$i<sizeof($huaweiVideos);$i++)
		{
			$title = $huaweiVideos[$i]['title'];
			$vidoeurl = $huaweiVideos[$i]['url'];
			$imgurl = $huaweiVideos[$i]['img'];
		 
?>
			<li>
				<a href="<?=$vidoeurl?>">
					<img data-original="<?=$imgurl?>" class="img lazy" />
					<div class="title"><?=$title?></div>
				</a></li>
			<?php }} ?>
			<br/><br/>
</div>
<?php */?>
<!-- live event end-->
</section>

<?php include __DIR__ . "/../common/newfooter.phtml"; ?>
