<?php include __DIR__ . "/../common/header.phtml"; ?>
<div class="amazing-containers" style="background:#000220">
<div class="blog-container huaweiarticle">
<div class="article-head">
	<h1>How Revolutionary is the Matrix Camera on HUAWEI Mate 20 Series?</h1>
	<div class="article-timing">Aishwarya Krishnan and Anirban Halder | Dec 4, 2018, 04:54PM IST</div>
</div>
<div class="article-content">
	<div class="article-img">
	</div>
			<div class="article-text">
			<p>
			When Huawei launched the HUAWEI P20 Series earlier this year, it wowed the world with its truly impressive Leica Triple Camera. But six months later, it launched another flagship-the HUAWEI Mate 20 Series. Like its predecessor, it features three cameras that it co-engineered with Leica, but unlike that, it features cameras that are arranged in a two-by-two grid. Huawei calls the revolutionary camera module the "Matrix Camera." And with this powerful addition, the new Huawei flagship raises the bar for smartphone photography, once again.
			</p>
		 <p> 
			Starting with the design, then its camera, followed by its capability to shoot static photos and videos, this article takes a deep dive into the stories behind the creation of the latest Huawei flagship. So, without further ado, let's begin our journey.
			  </p>
			<p>
			<b>1. Design: Perfect symmetry</b> 
As one of the most anticipated devices of the year, the HUAWEI Mate 20 Series generated its fair share of wild speculations in the months leading up to its launch. Amongst these discussions, a lot of the rumors were centered on the camera design, which, as seen below, comprises three lenses and a flash in a two-by-two setup. As impressive as that design it, it doesn't really tell the story that's led to its being. 
			</p>
			<img src="https://img2.gadgetsnow.com/gd/imgbn/aps1236Image1_1.jpg" width="100%"/>	 
			<p>
			The design of the camera system was actually inspired by classic super headlights. Adopting what Huawei calls a "All in One" design, the company produced an elegant camera module adhering all the classical design rules and planted it at the center of the back for a symmetrical 
			look. Instantly recognizable even at a distance, the unique design is distinctly Huawei, and highly sophisticated-perfect for business elites, the target audience of Huawei's the latest flagships.
			
			</p>
			<p>
			2. Camera Module: The Best is Now Better
			<br>
			Similar to the HUAWEI P20 Series whose camera system comprises an outstanding main camera and a telephoto lens, the HUAWEI Mate 20 Series has both of those as components, but adds to them a Leica Ultra Wide Angle Lens that captures a wide perspective that is equivalent to a 16mm lens on a FF camera. The addition of the ultra-wide angle lens was the result of extensive consumer research: Huawei examined the various pain points that smartphone users have with their cameras, and figured out that only an all-round camera can satisfy their diverse needs. 
			</p>
			<p>
			At present, most manufactures focus their efforts on specific camera feature, and not the complete package. The HUAWEI Mate 20 Series' Matrix Camera is composed of three cameras, each with a different focal length. This grants users greater creative freedom as they can capture not only wider, but also shoot from angles that were previously infeasible. All-round cameras will be a major smartphone camera trend in the future, and the outstanding all-round camera system on HUAWEI Mate 20 is the first of many to come.
			</p>			
			<p>
			At the early design stages, one of the engineers' most significant challenge was figuring out how they could place the intricate camera module in a form factor so small. They started out by bringing the lenses closer together and miniaturizing the module. Meanwhile, they also optimized the alignment of the magnets and coils to minimize the interference. These are but the tip of the iceberg-other challenges include one that pertains to the hole at the back of the device. The camera bump at the back necessitates a cut-out at the back, which inadvertently affects the structural strength of the plate. To bring the durability of the plate back up, the engineers had gone through numerous iterations and tests to improve the design.
			</p>
			<!-- <img src="https://img2.gadgetsnow.com/gd/imgbn/aps1236Image2.jpg" width="100%"/> -->	
			<p>
			<b>HUAWEI Mate 20 Pro:</b> Features a Lecia Triple Camera equipped with a wide angle lens, an ultra wide angle lens and a telephoto lens. The cameras resolutions are 40MP, 20MP and 8MP respectively. It also supports of an aperture of up to f/1.8.
			</p>
			<p>
			<b>HUAWEI Mate 20:</b> Features a Lecia Triple Camera equipped with a wide angle lens, an ultra wide angle lens and a telephoto lens. The cameras resolutions are 16MP, 12MP and 8MP respectively. It also supports of an aperture of up to f/1.8.
			</p>	
			<p>
			Comparatively, the HUAWEI Mate 20 Series is a lot more compelling than competitor devices, whose cameras usually only have a camera resolution of 20MP or so.
			</p>
			<!-- <img src="https://img2.gadgetsnow.com/gd/imgbn/aps1236Image3.jpg" width="100%"/> -->	
			<p>
			<b>HUAWEI Mate 20 Pro is packed with a 1/1.7-inch CMOS sensor for its primary camera, the biggest of all camera sensors among smartphones on the market.</b> 
			In addition, it supports Huawei's pixel binning technology, which combines the information from four pixels into one via supersampling to achieve much better dynamic range and low light performance. The camera supports up to ISO 102400, enabling users to easily snap gorgeous night shots with a tap of a button. 
			</p>
			<img src="https://img2.gadgetsnow.com/gd/imgbn/aps1236Image4.jpg" width="100%"/>	
			<p>
			<b>3. Photography: See Wider</b>
Photography enthusiasts often need to lug around more than one camera for their work. A glass with a focal length shorter than 24mm gives a wide angle of view, which is ideal for shooting expansive landscapes. Meanwhile, a 50mm lens is perfect for capturing stories, as it captures with an angle that's close to the human eye. An 85mm mid-telephoto or telephoto lens makes for a fantastic bokeh lens, capable of separating the subjects from the background. Lenses that sport a 135mm focal length or above are incredible for capturing far away objects such as soaring birds, but they're usually heavier than your usual gear, and not easy-perhaps even annoying-to carry around on a trip. Now you may be thinking "if that's the case I'll just take a zoom lens and call it a day." Whereas zoom lens nowadays can capture great images, their performances still lag behind prime lens in a handful of cases.
			</p>
			<img src="https://img2.gadgetsnow.com/gd/imgbn/aps1236Image5.jpg" width="100%"/>	
			<p>
			The ultra wide performance of the Matrix Camera is equivalent to a 16mm ultra wide camera lens. In terms of zooming in, the 3x optical zoom produces results that is equivalent to that of an 80mm camera lens, the 5x hybrid zoom equivalent to a 135mm lens and the 10x digital zoom equivalent to a 270mm camera lens. In other words, the HUAWEI Mate 20 Series delivers zooming performance that is comparable to a 16-270mm zoom lens. The wide range of focal lengths, together with the extremely high camera resolution, large ISP, and Huawei's AI, make the HUAWEI Mate 20 Series a truly worthy smartphone, capable of fulfilling any and all needs of users, at any given moment.
			</p>
			
			<p>
			<b>3.1 Explore the World Differently with the Ultra Wide Angle Lens</b>
While this isn't the first ultra wide angle lens to ever grace the smartphone industry, the Leica Ultra Wide Lens on the HUAWEI Mate 20 Series is not any less revolutionary. The Leica Vario-Summilux-H1.8-2.4/16-80 ASPH ultra wide lens system combines outstanding capabilities including support for high speed focus, high resolution and high resolving power, to ensure an outstanding ultra wide angle photography experience.
			</p>
			<img src="https://img2.gadgetsnow.com/gd/imgbn/aps1236image6.jpg" width="100%"/>	
			<p>
			When determining the quality of an ultra wide angle photo, the magnitude of distortion is an important criterion to take into consideration, and also one of the most difficult aspects to control. The optical engineers at Huawei and Leica spent a long four months undertaking the laborious task of optimizing the optics design. Again, constrained by the form factor of a smartphone, the engineers had repeatedly iterated the design, seeking the perfect balance between size and performance. To say the Leica Ultra Wide Angle Lens on HUAWEI Mate 20 Series epitomizes the pursuit of perfection would not be an overstatement.
			</p>
			<img src="https://img2.gadgetsnow.com/gd/imgbn/aps1236Image7.jpg" width="100%"/>	
			<p>
			This wider perspective creates a sense of spaciousness and a three dimensional effect. It's easy to capture ultra wide angle images-simple zoom out to capture beautiful landscapes, portraits or group photos with the new perspective.
			</p>
			<img src="https://img2.gadgetsnow.com/gd/imgbn/aps1236Image8.jpg" width="100%"/>	
			<p>
			<b>3.2 Capture Objects as Close as 2.5cm from the Lens</b>
The ability to magnify the seemingly trivial details in our daily lives is part of macro photography's allure. It often takes only a different perspective for one to discover a whole new world-or a new canvas whereby one could express their creativity. 
			</p>
				
			<p>
			Typically for camera lens, the shorter the focal distance, the longer the focal length as well as the distance a motor has to travel to focus. In other words, a thicker lens is often required to shorten the focal distance. In a time when manufacturers are trying their absolute best to design thinner and thinner devices, putting in a thicker lens goes against the trend of the industry.
			
			</p>
			<img src="https://img2.gadgetsnow.com/gd/imgbn/aps1236Image9_9.jpg" width="100%"/>
			<p>
			Most smartphones on the market can only focus on objects that are at least 7-8cm away from the lens. However, the HUAWEI Mate 20 Series' Leica Ultra Wide Angle Lens has a wider aperture than the main camera, allowing it to land a focus on objects closer to the lens without requiring more work done by the motor.
			</p>
			<img src="https://img2.gadgetsnow.com/gd/imgbn/aps1236Image10.jpg" width="100%"/>
			<p>
			In Super Macro mode, the HUAWEI Mate 20 Series lets users capture objects that are as close as 2.5cm from the lens. Whether users want to capture close-up of the morning dew or the details of an insect, the smartphone camera on the HUAWEI Mate 20 Series will have no problem enabling that.
			
			</p>
			<img src="https://img2.gadgetsnow.com/gd/imgbn/aps1236Image11.jpg" width="100%"/>
			<img src="https://img2.gadgetsnow.com/gd/imgbn/aps1236Image12.jpg" width="100%"/>
			<p>
			<b>3. Brand new experience of long exposure photography</b> 
Long exposure photography involves a slow shutter speed. With HUAWEI Mate 20 series smartphones, users can test out long exposure photography with the Super Night mode, Light Painting mode, Time-Lapse mode and Professional mode. Thanks to the powerful image processing ability of the Kirin 980 and the newly added Leica Ultra Wide Angle Lens, anyone can take these long exposure shots with ease.
			
			</p>
			<img src="https://img2.gadgetsnow.com/gd/imgbn/aps1236Image13.jpg" width="100%"/>
			<p>
			While the Ultra Wide Angle Lens captures more scenery, the long exposure photography capacity enables the camera to create sharper and more vivid images, perfect for capturing glittering stars in the sky, light trails and waterfalls. Even in the absence of ambient light, the long exposure and high light sensitivity make it possible for users to shoot high quality photos that capture intricate details.
			</p>
			<p>
			<b>3.4 Underwater Mode Lets You Shoot in Water</b>
Building on the foundations of HUAWEI Mate 10 Pro and HUAWEI P20 Pro, the HUAWEI Mate 20 Pro is IP68 certified. It also features a new Underwater Mode which can be used together with accessories for underwater use. The Underwater Mode is very user-friendly: press the Volume Up button to record a video, or click the Volume Down button to shoot photos (or hold for burst shots). In order to let users to view photos more easily under the water, HUAWEI Mate 20 Pro's Underwater Mode dedicates more screen space for previewing images. This is another example of Huawei's engineers thinking out of the box to provide a better user experience.
			
			</p>
			<img src="https://img2.gadgetsnow.com/gd/imgbn/aps1236Image14.jpg" width="100%"/>
			<p>
			Unlike blue and green wavelengths, red and orange wavelengths are more readily absorbed by water, so images taking under water tend to be undersaturated or have a poor color balance. The HUAWEI Mate 20 Pro addresses that by making targeted adjustments to photos taken in Underwater Mode, resulting in images that are more representative of actual objects.
			
			</p>
			<img src="https://img2.gadgetsnow.com/gd/imgbn/aps1236Image15.jpg" width="100%"/>
			<p>
			<b>4. Video Capture: Democratizing Great Videos</b> 
The rise of video-centric social media platforms has spurred the popularity of video capturing. 
It's said that a picture's worth a thousand words; and videos are essentially a series of images. By capturing both sights and sounds, videos can convey so much more emotion than static images. That said, most mainstream video apps today can only produce low-quality output, unable to satisfy the ever-growing consumer needs. In view of that, besides improving the photography capabilities of its devices, Huawei has also made massive improvements on the video front. With the HUAWEI Mate 20 Series, users can easily shoot and kinds of videos in crisp HD resolutions.
			
			</p>
			<p>
			 
The new AI Cinema Mode comes with five filters. They are AI Color, Background Blur, Fresh, Vintage, and Suspense, which can help the user realize their dream of being a "director". Previously, the only way to add a filter to videos on a smartphone was to do it in post. With a HUAWEI Mate 20 Series device, users can do it all in one go. All you need to do is to select one filter and that's it.
			
			</p>
			<p>
			The AI Color filter is inspired by a black and white film named Schindler's List where the red coat wore by a little girl. The AI computing powered by Dual-NPU Kirin 980 and GPU Turbo rendering together enable the smartphone to separate subjects and background in a video in real time and leave a specific color to the subject. By learning from a massive quantity of photos featuring human subjects, the AI Color function can track the human subjects across video frames and accurately separate them from the background in real time, and then desaturate the background. Compared to other similar features on the market, the HUAWEI Mate 20 Series delivers much better speed and accuracy in color isolation. Thanks to the Dual-NPU, AI Color can recognize and separate multiple subjects from the background simultaneously.
			
			</p>
			<img src="https://img2.gadgetsnow.com/gd/imgbn/aps1236Image16.jpg" width="100%"/>
			<p>
			The Background Blur and Vintage modes use a similar algorithm to isolate the subject and blur the background. In addition, leveraging the knowledge it has gained from studying a wide range of classic films, the Dual-NPU makes it possible to color grade a video via applying the Vintage, Fresh and Suspense filters. 
			</p>
			<img src="https://img2.gadgetsnow.com/gd/imgbn/aps1236Image17.jpg" width="100%"/>
			<img src="https://img2.gadgetsnow.com/gd/imgbn/aps1236Image18.jpg" width="100%"/>
			<img src="https://img2.gadgetsnow.com/gd/imgbn/aps1236Image19.jpg" width="100%"/>
			<p>
			At the same time, HUAWEI Mate 20 Series supports video capture with 2560x1080 high resolution and in ultra-wide 21:9 ratio. Compared to the conventional 16:9 ratio, the 21:9 ratio can make videos look more "cinematic". The AI-powered HDR and Leica Ultra Wide Angle Lens also add spaciousness to the video clips and can greatly improve image quality.
			</p>
			<p>
			Another interesting video feature on the HUAWEI Mate 20 Series is Spotlight Reel. Accessible from the Gallery app, it scans through the library for a subject of a user's choice and generates a montage of that person. Not only can it combine multiple clips together, it does so while eliminating unneeded footage - the only input required from the user is to pick whom they want to feature.
			</p>
			<p><b>
			In On Photography, Susan Sontag writes, "to possess the world in the form of images is, precisely, to reexperience the unreality and remoteness of the real". Photography isn't just about capturing - it has the power to tell stories from perspectives never before possible. Such is why Huawei is committed to camera innovations. Through the power of technology, Huawei can help consumers document a life well lived.
			</b></p>
			</div>
</div>
</div>
</div>
<?php include __DIR__ . "/../common/newfooter.phtml"; ?>

