<?php include __DIR__ . "/../common/header.phtml"; ?>
<div class="amazing-containers" style="background:#000220">
<div class="blog-container huaweiarticle">
<div class="article-head">
	<h1>HUAWEI Phone Clone: Set Your Phone Up in a Jiffy</h1>
	<div class="article-timing">Aishwarya Krishnan and Anirban Halder | Dec 13, 2018, 06:15PM IST</div>
</div>
<div class="article-content">
	<!--div class="article-img" style="text-align:center"><img alt="HUAWEI Phone Clone: Set Your Phone Up in a Jiffy" src="https://img1.gadgetsnow.com/gd/imgbn/Are-We-Moving-Towards-artic-n.jpg" /></div -->
			<div class="article-text">
				<span><p>Getting a brand new smartphone like the HUAWEI Mate 20 or HUAWEI Mate 20 Pro is always exciting. You've got the latest smartphone technology and best camera available on the market, and are excited to test out all the new features and show them off to your family and friends. The only bummer is that all of the photos, music and contacts that you've collected over the past couple of years are stuck on your old device. Well, if you've purchased the HUAWEI Mate 20 or HUAWEI Mate 20 Pro you're in luck, Huawei makes it easy to transfer all those memories, messages, apps, music, contacts and other items on your old device over to your new one. </p>
					<p>HUAWEI Phone Clone allows users to transfer all their data from their old device to their new one with a few simple clicks. Even if you're not converting from another Huawei device you can still get all of your data transferred to your HUAWEI Mate 20 Pro for free. Watch a tutorial online or just follow these simple steps:</p>
					<p>
						<ol style="color:#fff; padding-left:20px;">
							<li>Download Phone Clone to both your old and new device. It can be found in the Google Play or Apple Store. It is available by default on the HUAWEI Mate 20 Series.</li>
							<br/><img src="https://img1.gadgetsnow.com/gd/imgbn/HUAWEI-Phone-Clone-1.jpg"  />
							<li>On the old device select "This is the old phone" and on the HUAWEI Mate 20 Pro select "This is the new phone".</li>
							<br/><img src="https://img1.gadgetsnow.com/gd/imgbn/HUAWEI-Phone-Clone-2.jpg"  />
							<li>Allow Phone Clone to access your various files.</li>
							<br/><img src="https://img1.gadgetsnow.com/gd/imgbn/HUAWEI-Phone-Clone-3.jpg" width="100%" />
							<li>On the HUAWEI Mate 20 Pro select what type of operating system, Android of iOS, your old device runs on. </li>
							<br/><img src="https://img1.gadgetsnow.com/gd/imgbn/HUAWEI-Phone-Clone-4.jpg" width="100%" />
							<li>Connect your old phone to your new phone using Wi-Fi. </li>
							<br/><img src="https://img1.gadgetsnow.com/gd/imgbn/HUAWEI-Phone-Clone-5.jpg" width="100%" />
							<li>You'll see the following screen if your connection is successful </li>
							<br/><img src="https://img1.gadgetsnow.com/gd/imgbn/HUAWEI-Phone-Clone-6.jpg" width="100%" />
							<li>Select which files you'd like transferred to the HUAWEI Mate 20 Pro and hit "Transfer".</li>
							<br/><img src="https://img1.gadgetsnow.com/gd/imgbn/HUAWEI-Phone-Clone-7.jpg" width="100%" />
						</ol>
					</p>
					<p>All you have to do now is wait for all the data to transfer and then your new phone is all setup. The app will even let you know what percentage of the data has been transferred to eliminate any guessing. HUAWEI's Phone Clone takes the anxiety of losing so much data out of getting a new device since everything from your retiring device can be easily transferred to the HUAWEI Mate 20 Pro in a matter of a few minutes. </p>

				<p><i>Disclaimer: This article has been produced on behalf of Huawei by Times Internet's Spotlight team.</i></p>
				<br/>
				
				
				
				<!--p><b>The work-life balance</b></p>
				<img src="https://img1.gadgetsnow.com/gd/imgbn/W_L_Bal_E.png" width="100%" />
				<p></p-->
				</span>
			</div>
</div>
</div>
</div>
<?php include __DIR__ . "/../common/newfooter.phtml"; ?>

