<?php include __DIR__ . "/../common/pwaHeader.phtml"; ?>
<!-- ATF Slot start-->
	<?php include __DIR__ . "/../common/atfSlot.phtml"; ?>
<!-- ATF Slot end-->
<link href="/pwa/css/knockoutstyle.css" rel="stylesheet">
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<script type='text/javascript' src="http://ad.crwdcntrl.net/5/c=2800/pe=y/var=_ccaud"></script>
 <!-- End lotame audience extraction-->
 	
 <script>

 var dt = new Date();
	var month = new Array();
	month[0] = "Jan";
	month[1] = "Feb";
	month[2] = "Mar";
	month[3] = "Apr";
	month[4] = "May";
	month[5] = "Jun";
	month[6] = "Jul";
	month[7] = "Aug";
	month[8] = "Sep";
	month[9] = "Oct";
	month[10] = "Nov";
	month[11] = "Dec";
    
	var _month = month[dt.getMonth()];

	var week = new Array();
	week[1] = "Mon";
	week[2] = "Tue";
	week[3] = "Wed";
	week[4] = "Thu";
	week[5] = "Fri";
	week[6] = "Sat";
	week[0] = "Sun";
	 
	var _week = week[dt.getDay()];
	var newdate = dt.getDate()+1;
	
	var _fulldate = _month + ', ' + newdate + ', ' + dt.getFullYear();
	
var countDownDate = new Date(_fulldate).getTime();
var x = setInterval(function() {

  var now = new Date().getTime();

  var distance = countDownDate - now;

  var days = Math.floor(distance / (1000 * 60 * 60 * 24));
  var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
  var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
  var seconds = Math.floor((distance % (1000 * 60)) / 1000);

  if(hours==0){
		document.getElementById("deal-started").innerHTML = minutes + " mins " + seconds + " secs";
	}else{
		document.getElementById("deal-started").innerHTML = hours + " hours " + minutes + " mins " + seconds + " secs";
	}

  if (distance < 0) {
    clearInterval(x);
    document.getElementById("deal-started").innerHTML = "EXPIRED";
  }
}, 1000);
</script>
<script type="application/ld+json">
{
  "@context": "http://schema.org/",
  "@type": "Product",
  "name": "<?= $productNameDeal?>",
  "image": "<?= $imagePath?>",
  "description": "<?= $productDescription?>",
  "brand": {
    "@type": "Thing",
    "name": "<?= $brandName?>"
  },

  "offers": {
    "@type": "Offer",
    "priceCurrency": "Rupees",
    "price": "<?=$DealPrice?>",
    "priceValidUntil": "<?=$endDate?>",
    "itemCondition": "http://schema.org/UsedCondition",
    "availability": "http://schema.org/InStock",
    "seller": {
      "@type": "Organization",
      "name": "Times Internet Ltd"
    }
  }
}

</script>
<div class="knockoutcontainer">
		<div class="knockoutheader">	
			<?php if(isset($banner)) { ?><img src="<?=$banner?>" alt="Deal of the Day" width="100%"/> <?php } ?>
			<table class="adcode" width="100%">
				<tr>
				<?php 
				   $amazonurl = "https://www.amazon.in/gp/goldbox?ref=nav_topnav_deals";
				   /* $amazonurl = str_replace("https://www.amazon.in","", $amazonurl);
				   if(strpos($amazonurl,"?") == false)
				   {
				   	$amazonurl =$amazonurl."?tag=timofind-21";
				   }else
				   {
				   	$amazonurl =$amazonurl."&tag=timofind-21";
				   }
				   $amazonurl = rawurlencode($amazonurl);
				   $amazonurl = $amazonurl."&utm_campaign=mweb_gnshop_promowidget-21&utm_source=mweb_gnshop&utm_medium=Affiliate&price=0&title=todays_Deals";
				   $amazonurl = "http://m.gadgetsnow.com/affiliate_amazon.cms?url=".$amazonurl;
				    */
				   $eventcategory="amazon|gnshop|mweb|dealoftheday|banner";
				   $eventaction="click";
				   $eventlabel="NA|amazon_mweb_dealofday_banner|NA";
				   $affiliatepname="todays_Deals";
				   $affiliateParamArray=array("productname"=>$affiliatepname,"price"=>"NA","producturl"=>$amazonurl,"pagename"=>"todays_Deals","widget"=>"promowidget");
				   $affiliateLandingurl=AffiliateUrlCreator::createAffiliateUrl("amazon",$affiliateParamArray);
				   $amazonurl=$affiliateLandingurl;
				?>
					<td><a target="_blank" rel="noindex,nofollow" href="<?=$amazonurl?>" data-ga-track="<?=$eventcategory?>##<?=$eventaction?>##<?=$eventlabel?>##0"><img width="100%" src="https://img1.gadgetsnow.com/gd/imgbn/affilate-banners_amazon.jpg" /> </a></td>
					<?php 
					$flipkarturl = "https://www.flipkart.com/offers-store?otracker=nmenu_offer-zone";
					/* $intermediateUrl = "https://shop.gadgetsnow.com/affiliate.cms?url=";
					$flipkarturl = $intermediateUrl.rawurlencode($flipkarturl)."&tag=GNShopdod_mweb_flipkart_banner&afname=flipkart&utm_medium=Affiliate"."&title=offers&price=0";

			 */		
					$eventcategory="flipkart|gnshop|mweb|dealoftheday|banner";
					$eventaction="click";
					$eventlabel="NA|flipkart_mweb_dealofday_banner|NA";
					
					$affiliatepname="todays_Deals";
					$affiliateParamArray=array("productname"=>$affiliatepname,"price"=>"NA","producturl"=>$flipkarturl,"pagename"=>"todaysDeals","widget"=>"banner");
					$affiliateLandingurl=AffiliateUrlCreator::createAffiliateUrl("flipkart",$affiliateParamArray);
					$flipkarturl=$affiliateLandingurl;
					?>
					
					<td><a target="_blank" rel="noindex,nofollow" href="<?=$flipkarturl?>" data-ga-track="<?=$eventcategory?>##<?=$eventaction?>##<?=$eventlabel?>##0">
					<img  width="100%" src="https://img1.gadgetsnow.com/gd/imgbn/affilate-banners_flipkart.jpg" /></a></td>
			<?php 
			$atfutmcampaign="mweb_gnshop_atf";
			$atfEventcat="paytm_atf_mweb_";
			$putm="GadgetsNowShop_Mweb_DOD_OFFERS";
			$paytmurl="https://paytmmall.com/super-value-deals-apr-18-llpid-157011?use_mw=1&src=store";
			/* if(strpos($paytmurl,"-pdp")!==false)
			{
				$paytmurl = str_replace("-pdp","",$paytmurl);
				$paytmurl = str_replace("https://paytmmall.com","https://paytm.com/shop/p", $paytmurl);
			}else
			{
				$paytmurl = str_replace("https://paytmmall.com","", $paytmurl);
			}
			$paytmurl = rawurlencode($paytmurl);
			 
			$paytmurl = $paytmurl."&putm=".$putm."&utm_campaign=".$atfutmcampaign."&utm_source=gadgetsnow&utm_medium=Affiliate&price=0&title=Offers";
			$paytmurl = $GLOBALS['general']['PAYTM_INTERMEDIATE_URL']."?url=".$paytmurl;
			 */
			$eventcategory="paytm|gnshop|mweb|dealoftheday|banner";
			$eventaction="click";
			$eventlabel="NA|paytm_mweb_dealofday_banner|NA";
			
			$affiliatepname="todaysDeals";
			$affiliateParamArray=array("productname"=>$affiliatepname,"price"=>"NA","producturl"=>$paytmurl,"pagename"=>"DOD","widget"=>"OFFERS");
			$affiliateLandingurl=AffiliateUrlCreator::createAffiliateUrl("paytm",$affiliateParamArray);
			$paytmurl=$affiliateLandingurl;
			?>		
			<?php /*
			<td><a target="_blank" rel="noindex,nofollow" href="<?=$paytmurl?>" data-ga-track="<?=$eventcategory?>##<?=$eventaction?>##<?=$eventlabel?>##0">><img width="100%" src="https://img1.gadgetsnow.com/gd/imgbn/affilate-banners_paytm.jpg" /></a></td>		
			*/ ?>		
				</tr>
			</table>
			<h1>Deal of the Day</h1>
			<div class="knockouttimer">
				<span>Time Left </span> : <span id="deal-started"></span>
			</div>
		</div>
		<div class="sub-knockoutcontainer">
			<div class="knockoutcontainer-one">
				<a href="<?= $landingURL?>" class="clickimg"><img alt="<?=$productNameDeal?>" src="<?= $imagePath?>"/></a>
					<!-- div class="knockoutrating">
						<div class="flt ratingtext">Overall Rating </div>
						<div class="rating flt" title="4.777777778 out of 5">
							<span style="width:40%">4.777777778 out of 5</span>
						</div>
						<div class="review">4.78 stars | Review(s) : 12</div>
					</div -->
				<table border="0" width="100%" cellpadding="0" cellspacing="0">
						<tr>
							<td><div class="fb-like" data-href="https://shop.gadgetsnow.com/<?= $landingURL?>" data-width="100" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div></td>
							<td style="padding:5px 5px 0 5px;"><!-- Twitter start -->
							<a href="https://twitter.com/share" class="twitter-share-button" data-lang="en">Tweet</a>
							<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script><!-- Twitter end --></td>
								<td style="padding:5px 5px 0 0;">  <!--  +1 button start -->
							<div class="plus1" style="display:inline-block">
							  <g:plusone size="medium"></g:plusone>
							</div>
							<script type="text/javascript">
						  (function() {
							var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
							po.src = 'https://apis.google.com/js/plusone.js';
							var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
						  })();
						</script>
				        <!-- +1 button end --></td>
						</tr>
				</table>
				
			</div>
			<div class="knockoutcontainer-two">
				<h2 class="knockheading"><a href="<?= $landingURL?>"> <?= $productNameDeal?></a></h2>
				<?php if (isset($subHeading)) {?><h4><?= $subHeading?></h4><?php }?>								
				<div class="knockout-tab">
					<div class="knockoutpricetab">
							<span class="knockoutofferprice"><span class="rp"></span><?= number_format($DealPrice) ?></span>
							<span class="knockoutmrp"><span class="rp"></span><?= number_format($OfferPrice) ?></span>
							<?php 
								$DealPrice = str_replace(",","", $DealPrice);
								$OfferPrice = str_replace(",","", $OfferPrice);
								$newprice = $OfferPrice-$DealPrice;
								$newpercent = $newprice/$OfferPrice*100;								
							?>
					<div class="knockoutsave">You Save <span class="rp"></span> <?= number_format($newprice) ?> (<?=round($newpercent)?>%)</div>
					</div>
					<?php 
					if(isset($offerobject)){
					?>
					<div class="knockoutsave">Offer: <?=handleStr($offerobject)?></div>
					</div>
					<?php } ?>
					<div class="knockoutactiontab adcode">
						<div class="knockout-buybutton"> <a href="/control/additem?add_product_id=<?= $productId?>">Buy Now</a></div>
					</div>
					<ul class="enabler">
					   <?php if( isset($warranty)) { ?>
						<li><span class="warranty">&nbsp;</span><span> <?=$warranty?></span></li>
						<?php } ?>
						<li><span class="shipping">&nbsp;</span><span>Free Shipping</span></li>
						<li><span class="emiava">&nbsp;</span> <span>EMI Available </span></li>
						<li><span class="delivetime">&nbsp;</span><span>Usually Delivers in 1-3 days.</span></li>
						<li><span class="vendor">Seller:</span><span class="vendor-desc" title="Times Internet Ltd.">Times Internet Ltd.</span></li>
						<li><span class="hundredpersent">&nbsp;</span><span>Original Products</span></li>           							
					</ul>
				</div>
				<h3 class="keyheading">Key Features</h3>
				<?php   
					$featureClass ="mobilefeature othersfeature" ;
					if( isset($productCategoryId) && ($productCategoryId=='10021' || $productCategoryId=='10022')) 
						{
						$featureClass = "mobilefeature ";
						}
				
				 ?>
				<ul class="<?=$featureClass?>">								
					<?php 
						if(isset($featuresArr))
						{
							foreach($featuresArr as $value)
							{
								$featureType = $value['type'];
								$featureValue = $value['value'];
							
					?>
						<li class="<?=$featureType?>"><?= $featureValue?></li>
						
					<?php 
					          }
					     }
					
					?>
				</ul>
<?php 
if(!isset($affiliateBannerActive1) || $affiliateBannerActive1==='Y') { ?>
<!-- -->
<section>
	<div class="text-ceter display-block overflowhidden clr">

<?php include __DIR__ . "Merc-banner.phtml"; ?>
		<!-- /7176/GadgetsNow_Mweb/GadgetsNow_Mweb_Shop/GadgetsNow_Mweb_Shop_Mrec -->

	</div>
</section>
<?php }  ?>

<?php include __DIR__ . "/../common/newAffiliate-sponsored.phtml"; ?>
				 
<!-- amazon list -->
<!-- promoted html-->
<?php include __DIR__ . "/../common/promotedbanner1.phtml"; ?>
 
<!-- promoted html-->
 
<!-- promoted html-->
<?php include __DIR__ . "/../common/promotedbanner2.phtml"; ?>
 
<!-- promoted html-->
	<div class="margin-10 content text-left">
		<h2>Deal of the Day</h2>
		<p>Don't you love the concept of buying your favorite and yet saving a buck or two in the pocket??? If that is exactly you have in mind, well then, you are at the right place! With the GadgetsNow, provides the heaven for the online customers and gadget geeks. So, be prepared to be amazed with the most amazing mobile offers on the widest range of smartphone and bestselling mobiles available in India.</p>
		<p>Day and night online shopping in India is getting popular. There are multiple reasons behind the rise of the phenomenon of the online shopping trend. Some can be noted such as it gives the users the freedom to go through the various flexible offers. It gives the online customers a wider range of shopping options for smartphones, an experience that is relaxing and pleasing and at the same time saves time required to go search for something good in the mobile stores.</p>
		<p>With the help of GadgetsNow, one doesn't need to wander in a bunch of crowded shops where salespeople are busy attending so many customers and can't give customers the required number of options and attention. All these factors contributed to the popularity of online shopping. However, the major credit behind its popularity goes to the exciting offers available online furnishes people with. People can grab amazing smartphone deals online from a bunch of online shopping websites. However, it can be difficult to surf different online shopping websites and find the best deals of the day. To overcome this difficulty and to give you the best deal of the day India from almost all top online shopping stores available in India, the GadgetsNow is here to avail the best online shopping deals at the fingertips.</p>
		<p>We, at GadgetsNow, work day and night to get the online customers hot deals online and represent it in one place for the customers. Now our visitors can leverage benefits of big brands and heavy discounts available for that day and for the well-known brands. We are not abiding to a single brand category but offering a whole gamut of smartphones, mobile and tablets available in the market currently. All you got to do is, just land at GadgetsNow website and check the deal of the day segments in order to avail offers here such as Deal Of The Day and New Offers, explore all available discounts and deals available in the category you are looking for the best deal online; select the best deal or mobile offers on bestselling mobile phones which you think is just made for you and that's it, shop it out! Piece of a cake! Heavy discounts, less hassle, great saving, and an extraordinary shopping experience are all assured on one platform. GadgetsNow is one of the best online deals mobile website which brings exciting offers online for shopping lover.</p>
		<p>Amazed with such a long list of smartphone in multiple budgets? Well, this is just a glimpse of what GadgetsNow cater to the online shoppers with; there is many more in store. Do not forget, for each category there are alluring hot deals and discounts waiting just for you. Now, the online surfer and customers can shop any and every smartphone they want from a single place.</p>

		<p>Wait, there is more we want to share with you. However, we come with cheap deals and heavy discount coupons; we never compromise with the quality and Brand. We collaborate with the big shopping brands in India to offer the best and branded shopping items to our visitors.</p>
		<p>At GadgetsNow, the Deal of the Day that starts everyday sharp at midnight has some of the craziest deals on your favorite handset to the online customers. So, what are you waiting for? Go and check them out!</p>
		
		<p><BR> You May Be Interested in other Offers: <a href="/mobile-offers">Mobile Offers</a> |  <a href="/wallet-offers"> Wallet Offers </a> | <a href="/flash-sale" >Mobile Flash Sale </a> | <a href="/4g-mobile-offers" >4G Mobile Offers </a> | <a href="/best-amazon-offers" >Amazon Offers </a> | <a href="/best-battery-phones" >Best Battery Phones </a> | <a href="/mobikwik-offer" >Mobikwik Wallet Offers </a> | <a href="/amazing-mobile-deals" >Amazing Mobile Deals </a> | <a href="/paytm-mall-offers" >Paytm Offers </a> </p>
		
	</div>
</section>
				<div class="knockout-note">Note : Limit of Single Unit per user only. Multiple orders by single user will be cancelled.</div>
			</div>
		</div>
	</div>
	
<?php include __DIR__ . "/../common/pwaFooter.phtml"; ?>
