<?php include __DIR__ . "/../common/pwaHeader.phtml"; ?>
<!-- ATF Slot start-->
	<?php include __DIR__ . "/../common/atfSlot.phtml"; ?>
<!-- ATF Slot end-->
 <!-- End lotame audience extraction-->
 <!-- condition if URL has PID -->
 <?php 

	$uri = $_SERVER['REQUEST_URI'];	
 	if(strpos($uri,"/G")!=false)
 	{
 		$urlpid = substr($uri,strrpos($uri,"/")+1,strlen($uri)-1); 
 	 } ?>
 	 
	<input type="hidden" id="landingurl" value="<?php if(isset($urlpid)) echo $urlpid; else echo "";?>"/>
<div class="amazing-containers">

			<div class="mobile-header seocontianer">
				<img src="<?php if(isset($bannerName)) {echo $bannerName; } ?>" width="100%"/>
				<h1>Mobile Offers</h1>
				<div class="seocontent overflowhidden">Check out the latest offerings, deals, coupons, coupon deals, coupon codes on mobile phones, tablets and whole wide range of smartphones available in the market. There is something for everyone. Starting from the latest trending smartphones to the low to medium budget phones, everything is available at the touch of the fingers. At GadgetsNow, we focus more on the best offers and validated offers to cater to the real needs if the smartphone users. The users will love to check the deals on the compelling handsets along with instant comparative feature to get the best price on the mobile phones and tablets. </div>
				<a class="seoreadmore"href="#">read more...</a>
			</div>
		
			<?php
			$index=0;
			$serverUrl = $GLOBALS['general']['BACKEND_SERVER_URL'];
			foreach($productArr as $product)
			{
					
				foreach($products as $extn)
				{
					$product_name = $extn->PRODUCT_NAME;
					$product_namediv =$product_name;
					$product_id = $extn->PRODUCT_ID;
					if($product != $product_id)
					{
						continue;
					}
					$productnameSpl=str_replace(".","-",$product_name);
					$productnameSpl = str_replace(' ','-',$productnameSpl);
					$productnameSpl = str_replace('-&-','-',$productnameSpl);
					$productnameSpl = str_replace('%','',$productnameSpl);
					$productnameSpl = str_replace('(','',$productnameSpl);
					$productnameSpl = str_replace(',','-',$productnameSpl);
					$productnameSpl = str_replace(')','',$productnameSpl);
					$productnameSpl = str_replace('--','-',$productnameSpl);
					$urlname = strtolower($productnameSpl);
					
					// Check if product is instock
					// do not show OOS products 
					$data  = "{'productId':'".$product_id."'}";
					$url = $serverUrl."/rest/inventory/checkProductEnableToBuy";
					$invResult = Utils::getProtectedApiResponse($url, CURLOPT_POST, null, $data, null);
					
					if(isset($invResult['data'])){
						$invJson = json_decode($invResult['data']);
						if(isset($invJson->responseMap->status) && $invJson->responseMap->status==='success' && $invJson->responseMap->flag=="true"){
							$inventoryFlag=true;
						}else 
						{
							continue;
						}
					}
					
					$index=$index+1;
					$mrp = $extn->LIST_PRICE;
					$shippingprice = $extn->SHIPPING_PRICE;
					if($extn->DISCOUNTED_PRICE ==0 ){
						$offerprice =  $extn->DEFAULT_PRICE;
					}else{
						$offerprice = $extn->DISCOUNTED_PRICE;
					}
					$yousave = $mrp-$offerprice;
					
					$off = $mrp - $offerprice;
					$off = $off / $mrp;
					$off = $off * 100;
					
					$discountpercent=number_format($off,1);
					
					
					$primary_category = $extn->PRIMARY_CATEGORY_ID;
					$catname_arry = $extn->CATEGORY_NAME;
					$cat_arry = $extn->CATEGORY_ID;
					$position = array_search($primary_category, $cat_arry);
					$primarcata_name = $extn->CATALOG_NAME[$position];
					$producturl = "/".strtolower($primarcata_name)."/". str_replace(' ','-', strtolower($extn->CATEGORY_NAME[$position]))."/".strtolower(str_replace('---','-',str_replace(' ','-',$product_name)))."/$primary_category/p_".$extn->PRODUCT_ID."";
					$producturl = str_replace(' ','-',$producturl);
					$producturl = str_replace('-&-','-',$producturl);
					$producturl = str_replace('%','',$producturl);
					$producturl = str_replace('(','',$producturl);
					$producturl = str_replace(',','-',$producturl);
					$producturl = str_replace(')','',$producturl);
					$producturl = str_replace('--','-',$producturl);
					
					//$producturl = $producturl."?utm_source=Wednesday&utm_medium=WedPromo&utm_campaign=".$extn->PRODUCT_ID'];
					
					$productImgurl = strtolower($primarcata_name)."/". str_replace(' ','-', strtolower($extn->CATEGORY_NAME[$position]))."/".strtolower(str_replace('---','-',str_replace(' ','-',$product_name)))."";
					$productImgurl = str_replace(' ','-',$productImgurl );
					$productImgurl = str_replace('-&-','-',$productImgurl );
					$productImgurl = str_replace('(','',$productImgurl );
					$productImgurl = str_replace(')','',$productImgurl );
					$productImgurl = str_replace('.','-',$productImgurl );
					$productImgurl = str_replace('+','',$productImgurl );
					$productImgurl = str_replace('-?','-',$productImgurl );
					$productImgurl = str_replace("'","",$productImgurl );
					$productImgurl = str_replace("%","",$productImgurl );
					
					$screenresolution = isset($extn->SCREENRESOLUTION_STR_ATTR[0])?$extn->SCREENRESOLUTION_STR_ATTR[0]:"";
					$screensizestrattr= isset($extn->SCREEN_SIZE_STR_ATTR[0])?$extn->SCREEN_SIZE_STR_ATTR[0]:"";
					$processortype=isset($extn->PROCESSORTYPE_STR_ATTR[0])?$extn->PROCESSORTYPE_STR_ATTR[0]:"";
					$secondarycamera = isset($extn->SECONDARYCAMERA_STR_ATTR[0])?$extn->SECONDARYCAMERA_STR_ATTR[0]:"";
					?>
							<!-- amzing product list start -->
		<div class="sub-amazing active" id="<?=$product_id?>" data-url="/mobile-offers/<?=str_replace(" ","-",$urlname)?>/<?=$product_id?>">
			<div class="amazing-one">
				<a href="<?=$producturl?>" class="clickimg"><img alt="<?=$product_name?>" src="https://img1.gadgetsnow.com/gd/images/products/medium/<?php echo $product_id ?>/<?php echo $productImgurl ;?>.jpg"/></a>			
			</div>
			<div class="producthead">
				<h2><a href="<?=$producturl?>"> <?=$product_name?></a></h2>
				<div class="knockout-tab">
					<div class="knockoutpricetab">
							<span class="offer-price"><span class="toi-rupees"></span><?=$offerprice?></span>
							<?php if ($yousave >0) { ?>
							<span class="mrp-price"><span class="toi-rupees"></span><?=$mrp?></span>
							<div class="you-save">You Save <span class="toi-rupees"></span> <?=$yousave?> (<?=$discountpercent?>%)</div>
							<?php } ?>
					</div>
					<div class="knockoutactiontab">
						<div class="knockout-buybutton " id="knockout-buybutton">
						 <a href="/control/additem?add_product_id=<?=$product_id?>">Buy Now</a></div>
					</div>
				</div>
				<h3>Key Features</h3>
				 <?php 
				 		$classOs = "android";
				 		if(strpos(strtolower($extn->OPERATING_SYSTEM_STR_ATTR[0]),"ios")!== false)
							{
						 		$classOs = "ios";
							}
						?>
				<ul class="product-features">
					<li class="display"> <?php echo $screensizestrattr ." ". $screenresolution; ?></li>
					<li class="<?=$classOs?>" > <?php echo $extn->OPERATING_SYSTEM_STR_ATTR[0]; ?></li>
					<li class="processor"> <?php echo $processortype; ?></li>
					<li class="battery">  <?php echo $extn->CAPACITY_STR_ATTR[0]; ?></li>
					<li class="memory"> <?php echo $extn->RAM_STR_ATTR[0]; ?> RAM  |  <?php echo $extn->INTERNALMEMORY_STR_ATTR[0]; ?> ROM </li>
				
				
				</ul>
		</div>
		</div>
		<!-- amzing product list end -->
				<div id='div-gpt-ad-1549260070829-<?=$index?>' class="ctn-ads-pdp adcode eu-hide" style='margin: 0 auto; width:300px;'>
			<script>
				googletag.cmd.push(function() { googletag.display('div-gpt-ad-1549260070829-<?=$index?>'); });
			</script>
		</div>
				<?php } } ?>
			<!-- product end -->
</div>
<?php include __DIR__ . "/../common/newAffiliate-sponsored.phtml"; ?>
 
<!-- promoted html-->
<?php include __DIR__ . "/../common/promotedbanner1.phtml"; ?>
<?php include __DIR__ . "/../common/promotedbanner2.phtml"; ?>
<!-- promoted html-->
<div class="content">
			<div class="col-lg-12 text-left"><h2>Mobile Offers</h2><p>At GadgetsNow, we focus more on the best offers and validated offers to cater to the real needs of the smartphone users. The users will love to check the deals on the compelling handsets along with instant comparative feature to get the best price on the mobile phones.</p> 
			<p>GadgetsNow offers exclusive discounts on the various brands and labels of smartphone and mobile phones available in the market and promises absolutely no nonsense deal that is brought directly to the internet savvy customers. It is the perfect platform for all the technology freaks and latest technology enthusiasts who are looking for the best deals on the upcoming smartphones and hot selling mobile handsets. </p>
			<p>Users in the current times have millions of options on smartphones to choose from varying from individual requirements. Starting from colors to specifications to brands, there can simply be put forth as per the choices and there will be phone models as per the selection set of specifications and requirements. However, searching for the perfect mobile phone through thousands of mobiles is never an easy task to be looking forward to. This is when GadgetsNow comes to the rescue of the inquisitive online shoppers of today. With customer friendly filters that are super easy to understand and use, we make shopping for mobile and smart phones online easier and use them to narrow down your search on the basis of connectivity, operating system, internal memory, SIM, processor, camera, screen size, battery capacity, customer ratings and reviews, etc. Simply check and type in the requirement as per the priorities and you will have the best matching results on your computer screen. This definitely will add a dash of extra thrill to everything you were expecting for. Check our Mobile page to get to know the craziest offers available on the internet exclusive to GadgetsNow. </p>
			<p>So, be prepared to find an answer to all smartphone related query right at one spot within the best price ranges at GadgetsNow. The website is loaded with a wide range of bestselling smartphone from all the best brands of the market such as Apple, Samsung, Motorola, Micromax, Asus, Lenovo, Panasonic, Coolpad, Redmi, LYF, Lava, Intex, Karbonn, Letv Le, Yu Yureka, Yu Yunicorn, Gionee, Redmi, Vivo, Swipe and more. All you need to do is to find the perfect phone available at the best price from your favorite brands that are available at GadgetsNow.</p> 
			
			<p><BR> You May Be Interested in other Offers: <a href="/wallet-offers"> Wallet Offers </a> | <a href="/best-mobiles-deal-of-the-day" >Mobile Deal of the Day </a> | <a href="/flash-sale" >Mobile Flash Sale </a> | <a href="/4g-mobile-offers" >4G Mobile Offers </a> | <a href="/best-amazon-offers" >Amazon Offers </a> | <a href="/best-battery-phones" >Best Battery Phones </a> | <a href="/mobikwik-offer" >Mobikwik Wallet Offers </a> | <a href="/amazing-mobile-deals" >Amazing Mobile Deals </a> | <a href="/paytm-mall-offers" >Paytm Offers </a> 
			</p>
			</div><br/>
</div>
<?php include __DIR__ . "/../common/pwaFooter.phtml"; ?>