<?php include __DIR__ . "/../common/header.phtml"; ?>
<link href="/mobile/css/mobile-store-style.css" rel="stylesheet">
<div class="mobile-store">
			<div class="mobile-header seocontianer">
				<img src="<?php if(isset($bannerName)) {echo $bannerName; } ?>" width="100%"/>
				<div class="seocontent overflowhidden"></div>
			</div>
		
			<?php
			
			$serverUrl = $GLOBALS['general']['BACKEND_SERVER_URL'];
			foreach($productArr as $product)
			{
					
				foreach($products as $extn)
				{
					$product_name = $extn->PRODUCT_NAME;
					$product_namediv =$product_name;
					$product_id = $extn->PRODUCT_ID;
					if($product != $product_id)
					{
						continue;
					}
					// Check if product is instock
					// do not show OOS products 
					$data  = "{'productId':'".$product_id."'}";
					$url = $serverUrl."/rest/inventory/checkProductEnableToBuy";
					$invResult = Utils::getProtectedApiResponse($url, CURLOPT_POST, null, $data, null);
					
					if(isset($invResult['data'])){
						$invJson = json_decode($invResult['data']);
						if(isset($invJson->responseMap->status) && $invJson->responseMap->status==='success' && $invJson->responseMap->flag=="true"){
							$inventoryFlag=true;
						}else 
						{
							continue;
						}
					}
					
					
					$mrp = $extn->LIST_PRICE;
					$shippingprice = $extn->SHIPPING_PRICE;
					if($extn->DISCOUNTED_PRICE ==0 ){
						$offerprice =  $extn->DEFAULT_PRICE;
					}else{
						$offerprice = $extn->DISCOUNTED_PRICE;
					}
					$yousave = $mrp-$offerprice;
					
					$off = $mrp - $offerprice;
					$off = $off / $mrp;
					$off = $off * 100;
					
					
					$primary_category = $extn->PRIMARY_CATEGORY_ID;
					$catname_arry = $extn->CATEGORY_NAME;
					$cat_arry = $extn->CATEGORY_ID;
					$position = array_search($primary_category, $cat_arry);
					$primarcata_name = $extn->CATALOG_NAME[$position];
					$producturl = "/".strtolower($primarcata_name)."/". str_replace(' ','-', strtolower($extn->CATEGORY_NAME[$position]))."/".strtolower(str_replace('---','-',str_replace(' ','-',$product_name)))."/$primary_category/p_".$extn->PRODUCT_ID."";
					$producturl = str_replace(' ','-',$producturl);
					$producturl = str_replace('-&-','-',$producturl);
					$producturl = str_replace('%','',$producturl);
					$producturl = str_replace('(','',$producturl);
					$producturl = str_replace(',','-',$producturl);
					$producturl = str_replace(')','',$producturl);
					$producturl = str_replace('--','-',$producturl);
					
					//$producturl = $producturl."?utm_source=Wednesday&utm_medium=WedPromo&utm_campaign=".$extn->PRODUCT_ID'];
					
					$productImgurl = strtolower($primarcata_name)."/". str_replace(' ','-', strtolower($extn->CATEGORY_NAME[$position]))."/".strtolower(str_replace('---','-',str_replace(' ','-',$product_name)))."";
					$productImgurl = str_replace(' ','-',$productImgurl );
					$productImgurl = str_replace('-&-','-',$productImgurl );
					$productImgurl = str_replace('(','',$productImgurl );
					$productImgurl = str_replace(')','',$productImgurl );
					$productImgurl = str_replace('.','-',$productImgurl );
					$productImgurl = str_replace('+','',$productImgurl );
					$productImgurl = str_replace('-?','-',$productImgurl );
					$productImgurl = str_replace("'","",$productImgurl );
					$productImgurl = str_replace("%","",$productImgurl );
					
					$screenresolution = isset($extn->SCREENRESOLUTION_STR_ATTR[0])?$extn->SCREENRESOLUTION_STR_ATTR[0]:"";
					$screensizestrattr= isset($extn->SCREEN_SIZE_STR_ATTR[0])?$extn->SCREEN_SIZE_STR_ATTR[0]:"";
					$processortype=isset($extn->PROCESSORTYPE_STR_ATTR[0])?$extn->PROCESSORTYPE_STR_ATTR[0]:"";
					$secondarycamera = isset($extn->SECONDARYCAMERA_STR_ATTR[0])?$extn->SECONDARYCAMERA_STR_ATTR[0]:"";
					?>
				<div class="product-container-tab" itemscope itemtype="http://schema.org/Product">
						<div class="thumbnail">
							<div class="row">
							<div class="col-lg-4 text-center img-container">
								<a href="<?=$producturl?>"><img itemprop="image" border="0" alt="<?=$product_name?>" src="https://img1.gadgetsnow.com/gd/images/products/medium/<?php echo $product_id ?>/<?php echo $productImgurl ;?>.jpg"/></a>
								<?php if(round($off) != 0){echo '<div class="off">'.round($off).'%<br/>OFF</div>';} ?>
								
								
							</div>
							<div class="col-lg-8 text-container">
								<h3 itemprop="name"><a href="<?=$producturl?>"><?=$product_name?></a></h3>
								<div class="price" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
									<meta itemprop="priceCurrency" content="Rupees" />
									<span class="offerprice">
										<meta itemprop="price" content="<?=$offerprice?>" />
										<span class="toi-rupees"></span><?=$offerprice?>							
									</span>		
									<?php if($mrp != $offerprice){?>						
									<span class="mrpprice">
										<span class="toi-rupees"></span>
										<span class="mrp-line-through"><?=$mrp?></span>
									</span>
									<?php }?>
									<?php if($yousave != 0){?> <div class="yousave">You Save <span class="toi-rupees"></span> <?=$yousave?></div> <?php }?>
									<!--div class="yousave">&nbsp;</div-->
									<?php if($shippingprice != 0) {?><div class="yousave">Free shipping</div> <?php }?>
								</div>
								<div class="keyfeature clear">
									<h4>Key Features :</h4>
									
									<ul class="keyfeat" itemprop="description">
											<li>Display: <?php echo $screensizestrattr ." ". $screenresolution; ?></li>
									<?php if( isset($extn->OPERATING_SYSTEM_STR_ATTR)){?> 	<li>Operating System: <?php echo $extn->OPERATING_SYSTEM_STR_ATTR[0]; ?></li> <?php }?>
											<li>Processor: <?php echo $processortype; ?></li>
											<li>Battery:  <?php echo $extn->CAPACITY_STR_ATTR[0]; ?></li>
											<li>Camera: Main : <?php echo $extn->PRIMARYCAMERA_STR_ATTR[0]; ?>, Front : <?php echo $secondarycamera; ?></li>
											<li>RAM: <?php echo $extn->RAM_STR_ATTR[0]; ?></li>
											<li>ROM : <?php echo $extn->INTERNALMEMORY_STR_ATTR[0]; ?></li>
									</ul>
								</div>
								<div class="buynow call-action-btn">
									<a href="/control/additem?add_product_id=<?=$product_id?>" class="btn btn-primary">Buy Now</a>
								</div>
							</div>
							</div>
						</div>
				</div>
				<?php } } ?>
			<!-- product end -->
</div>
<?php include __DIR__ . "/../common/newAffiliate-sponsored.phtml"; ?>
 
<!-- promoted html-->
<?php include __DIR__ . "/../common/promotedbanner1.phtml"; ?> 
<!-- promoted html-->
<section class="primeuser displaynone">
		<div class='ctn-ads-home-list'>
				<div class="card productShowlist margin-10">
					<h4 class="heading"><span class="truncate text-transform">From Around the Web</span> </h4>
				</div>
 				<div class="ctn-ads-home-list-row">
		 			<div id="div-clmb-ctn-1245" data-slot="256682" data-position="1245" data-section="0" data-cb="adwidgetfun" class="colombia toi-product colombiaad"> </div>
		 			<div id="div-clmb-ctn-1246" data-slot="256682" data-position="1246" data-section="0" data-cb="adwidgetfun" class="colombia toi-product colombiaad"> </div>
		 		</div>
		 		<div class="ctn-ads-home-list-row">
		 			<div id="div-clmb-ctn-1247" data-slot="256682" data-position="1247" data-section="0" data-cb="adwidgetfun" class="colombia toi-product colombiaad"> </div>
		 			<div id="div-clmb-ctn-1248" data-slot="256682" data-position="1248" data-section="0" data-cb="adwidgetfun" class="colombia toi-product colombiaad"> </div>
		 		</div>
 		</div>	
</section>
<!-- promoted html-->
<?php include __DIR__ . "/../common/promotedbanner2.phtml"; ?>
<!-- promoted html-->
<div class="mobile-store">
			<div class="col-lg-12 text-left">
			<h2> Unbelievable Mobikwik Mobile Wallet Offer exclusively on Shop.Gadgetsnow.com ! </h2>
		 	<p> Mobikwik is an independent mobile payment network in India and is one of the largest network that connects 40 + million Indian users with  more than 2,50, 000 retailers. It offers instant transfer of money to your friends and families within fraction of a minute without exposure to your credit card and personal details. </p>
		 	<p>We at Gadgets Now, understand your apprehension towards giving out credit card details online, so we have partnered with Mobikwik for fast and easy payment online without using cash or credit card. Click here for amazing cashback offers Mobikwik Wallet has to offer exclusively only on Shop.GadgetsNow.com !</p>
		 	<h2>What is the Mobikwik Mobile Offer on Shop.Gadgetsnow?</h2>
		 	<p>Shop.gadgetsNow.com provides a bunch of wonderful and amazing offers in partnership with mobikwik wallets.  The offer is exclusively on <a href=https://www.gadgetsnow.com/mobile-phones>mobile phones</a> purchased online right here through mobikwik wallet. </p>
		 	<p>Simply choose from a wide range of mobile phones and pay for it online through safe and most secured mobikwik wallet.  You are immediately eligible for the mobikwik offer on your mobile and you are rewarded a 10 % supercash !!  It is hard to believe but yes it is absolutely true. Go ahead and quickly surf the wide range of mobile phones online in India only on Gadgetsnow.com and pay through your mobikwik wallet and earn great discounts!  The maximum cashback that can be availed is Rs 1000 (Rs 500 as Supercash and Rs 500 as Instant Cash)  Hurry and avail this offer as the Mobikwik Wallet Offers on Mobile is for a short period only ! Please do note that the offer is valid only once per user for the entire duration of the offer period. </p>
		 	<h2>Why should you use Mobikwik Wallet ? </h2>
		 	<p>Mobikwik wallet offers many benefits on using their pay wallet. In addition to being quick, it is absolutely safe and reliable. A great application for those not comfortable giving out their credit card details. You can also track your balance and know how much you have been spending. Not to mention the great  cashback and supercash offers you get on every purchase. </p>
		 	<p>Right now to browse through range of products at the lowest prices online in India available under the Mobikwik <a href=https://shop.gadgetsnow.com/mobile-offers>Mobile offers</a> right here for a limited period only ! Don't miss the chance ! Have it delivered at your doorstep sooner than you think ! All this while you still earn cash back !
		 	<BR>
		 	You May Be Interested in other Offers: <a href="/mobile-offers">Mobile Offers</a> |  <a href="/wallet-offers"> Wallet Offers </a> | <a href="/best-mobiles-deal-of-the-day" >Mobile Deal of the Day </a> | <a href="/flash-sale" >Mobile Flash Sale </a> | <a href="/4g-mobile-offers" >4G Mobile Offers </a> | <a href="/best-amazon-offers" >Amazon Offers </a> | <a href="/best-battery-phones" >Best Battery Phones </a> | <a href="/amazing-mobile-deals" >Amazing Mobile Deals </a> | <a href="/paytm-mall-offers" >Paytm Offers </a>
		 	</p>
			</div><br/>
</div>
<?php include __DIR__ . "/../common/newfooter.phtml"; ?>