<?php include __DIR__ . "/../common/pwaHeader.phtml"; ?>
<!-- ATF Slot start-->
	<?php include __DIR__ . "/../common/atfSlot.phtml"; ?>
<!-- ATF Slot end-->
 <!-- End lotame audience extraction-->
 <!-- condition if URL has PID -->
<div class="amazing-containers">

			<div class="mobile-header mobile-store seocontianer">
				<h1>Paytm Mall Offers</h1>
				<!--div class="seocontent overflowhidden">Check out the latest offerings, deals, coupons, coupon deals, coupon codes on mobile phones, tablets and whole wide range of smartphones available in the market. There is something for everyone. Starting from the latest trending smartphones to the low to medium budget phones, everything is available at the touch of the fingers. At GadgetsNow, we focus more on the best offers and validated offers to cater to the real needs if the smartphone users. The users will love to check the deals on the compelling handsets along with instant comparative feature to get the best price on the mobile phones and tablets. </div>
				<a class="seoreadmore"href="#">read more...</a -->
			</div>
			
			 <div data-module="gadgets_category" class="gdgt_nav check-carousel">
				<ul class="newcarousel" data-width-list='109'>
					
				<li><a href="#" class="icon-<?=$category?> active" <?php if(strcasecmp($category,"personalgrooming") === 0) { ?>style="padding: 4px 0;" <?php } ?> ><?=$headerarray[$category]?></a></li>
				<?php  foreach ($showheader as $key=>$value) { ?>
				<li><a href="/paytm-mall-offers/<?=$key?>" class="icon-<?=$key?>" <?php if(strcasecmp($key,"personalgrooming") === 0) { ?>style="padding: 4px 0;" <?php } ?>><?=$value?></a></li>
				<?php } ?>
				 
				</ul>
			</div>   
			
			<br/>
		<?php if(isset($affiliateSponsoredCategoryJson)) { ?>
			<div class="overflowhidden">
				<div class="productShowlist">
					<h2 class="heading" id="mobile" ><span class="truncate text-transform"><?=$headerarray[$category]?></span></h2>
				</div>
			<section>
				<!-- amzing product list start -->
				<?php
			foreach($affiliateSponsoredCategoryJson as $affSProd )
			{
				 
			 	unset($paytmOffer);

			 	$paytmBannerUrl=$affSProd['url'];
			 	// If not paytm then continue
			 	if(strpos($paytmBannerUrl,"paytm") == false)
			 	{
			 		continue;
			 	}
			 	if(isset($affSProd['cashback']))
			 	{
			 		$paytmOffer = $affSProd['cashback'];
			 	}
			
				$paytmBannerImg=$affSProd['imageUrl'];
				$paytmbannertext=$affSProd['title'];
				$paytmprice=$affSProd['price'];
				if(isset($affSProd['listPrice']))
				{
					$listPrice = $affSProd['listPrice'];
				}
				$nlistprice=number_format($listPrice);
				$npaytmprice=number_format($paytmprice);
				$paytmprice = $paytmprice-$paytmOffer;
				$paytmprice=number_format($paytmprice);
				$paytmdiscount = (($nlistprice-$npaytmprice)/$nlistprice)*100;
				$paytmdiscount=number_format($paytmdiscount,0);
				/* $utmcampaign="mweb_gnshop_paytmoffers_".$category;
				if(strpos($paytmBannerUrl,"-pdp")!==false)
				{
					$paytmBannerUrl = str_replace("-pdp","",$paytmBannerUrl);
					$paytmBannerUrl = str_replace("https://paytmmall.com","https://paytm.com/shop/p", $paytmBannerUrl);
				}else
				{
					$paytmBannerUrl = str_replace("https://paytmmall.com","", $paytmBannerUrl);
				}
				$paytmBannerUrl = rawurlencode($paytmBannerUrl);
				$putm="GadgetsNowShop_mweb_paytmoffers_".$category;
				$paytmBannerUrl = $paytmBannerUrl."&putm=".$putm."&utm_campaign=".$utmcampaign."&utm_source=gadgetsnow&utm_medium=Affiliate&price=0&title=".rawurlencode($paytmbannertext);
				$paytmBannerUrl = $GLOBALS['general']['PAYTM_INTERMEDIATE_URL']."?url=".$paytmBannerUrl;
				 */
				$eventcategory="paytm|gnshop|mweb|paytmoffers|".$category;
				$eventaction="click";
				$eventlabel="NA|".$paytmbannertext."|".$paytmprice;
				
				$affiliateParamArray=array("productname"=>$paytmbannertext,"price"=>$paytmprice,"producturl"=>$paytmBannerUrl,"pagename"=>"paytmoffers","widget"=>$category);
				$paytmBannerUrl=AffiliateUrlCreator::createAffiliateUrl("paytm",$affiliateParamArray);
				
			 
	?>
		
		<div class="product-container-tab product-container countryblock" itemscope itemtype="http://schema.org/Product">
							<div class="thumbnail">
								<div class="row">
									<div class="col-lg-4 flt text-center img-container relative">
										<a target="_blank" href="<?=$paytmBannerUrl?>" data-ga-track="<?=$eventcategory?>##<?=$eventaction?>##<?=$eventlabel?>##0" ><img itemprop="image" border="0" alt="<?=$paytmbannertext?>" src="<?=$paytmBannerImg?>" /></a>
										<div class="yousave"><span class="pricefont"></span> <?=$paytmdiscount?>%<br/> OFF</div>
									</div>
										<div class="col-lg-8 flt text-container">
											<h3 itemprop="name"><a title="<?=$paytmBannerUrl?>" data-ga-track="paytm_offers_<?=$category?>_mweb##<?=$paytmbannertext?>##OFFER|<?=$paytmbannertext?>##0" target="_blank" href="<?=$paytmBannerUrl?>"><?=$paytmbannertext?></a></h3>
											<div class="price" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
												<meta itemprop="priceCurrency" content="Rupees" />
												<span class="offerprice">
													<meta itemprop="price" content="<?=$paytmprice?>" />
													<span class="rp"></span><?=$paytmprice?>								
												</span>	
												<span class="mrpprice">
														<span class="toi-rupees"></span>
														<span class="mrp-line-through rp"><?=$nlistprice?></span>
													</span>	
																		
													<?php /*<div class="yousave"><span class="pricefont"></span> <?=$paytmdiscount."% off"?></div>*/ 
														if(isset($paytmOffer) && $paytmOffer !== "0" ) {
														?>
													<div class="overflowhidden">
														<div class="cashbackdiv">Includes <span class="rp"></span><?=$paytmOffer?> Cashback</div>
													</div>
													<?php  }  ?>
											</div>
											<div class="buynow call-action-btn">
												<a target="_blank" href="<?=$paytmBannerUrl?>" data-ga-track="paytm_offers_<?=$category?>_mweb##<?=$paytmbannertext?>##OFFER|<?=$paytmbannertext?>##0" class="btn btn-primary">Buy Now</a>
											</div>
										</div>
								</div>
							</div>
		</div>
		<?php } ?>
		<!-- amzing product list end -->
		</section>	
</div>
<?php } ?>
 
 
 <?php include __DIR__ . "/../common/newAffiliate-sponsored.phtml"; ?>
 
<!-- promoted html-->
<?php include __DIR__ . "/../common/promotedbanner1.phtml"; ?>
<!-- promoted html-->

<!-- promoted html-->
<?php include __DIR__ . "/../common/promotedbanner2.phtml"; ?>
<!-- promoted html-->

<?php include __DIR__ . "/../common/pwaFooter.phtml"; ?>