<?php include __DIR__ . "/../common/pwaHeader.phtml"; ?>
<div class="amazing-containers">
		<style>
		.btnnot{
			height:35px;
			width:50%;
			display:block;
			position:absolute;
			z-index:1;
			bottom:-12%;
			overflow:hidden;
			text-indent:-1000px;
		}
		.left{left:0}
		.right{right:0}
		</style>
		<div class="amazing-header seocontianer">
			<!--h1>Best Selling Accessories</h1 -->
		</div>
		
		<?php 
		 if(isset($data))
		 {
		 	for($i=0;$i<sizeof($data);$i++)
		 	{
		 		$active = $data[$i]['active'];
		 		if($active == 'Y')
		 		{
			 		$imgpath = $data[$i]['bannername'];
			 		$bannerurl = $data[$i]['bannerurl'];
			 		$bannertext = $data[$i]['bannertext'];
		 		}
		 ?>		
		 
		<div class="relative">
			<a href="<?=$bannerurl?>" data-ga-track="Product_offers##Click##Gizmobitz##0"><img src="<?=$imgpath?>" class="img" /></a>
			<?php if($i == 0 && $productId=="Norton"){?>
			<a href="https://www.jdoqocy.com/click-100112161-13154027" title="skip to lose cash back" class="btnnot left">skip to lose cash back</a>
			<a href="/control/login?prm=norton" title="sign in get cash back" class="btnnot right">sign in get cash back</a>
			<?php }?>
		</div>
		
		 <?php 	}
		 }else 
		 {
		 	print_r("No product Configured");
		 }
		?>
		
</div>

<?php include __DIR__ . "/../common/pwaFooter.phtml"; ?>

