<?php include __DIR__ . "/../common/header.phtml"; ?>
<script src='https://www.google.com/recaptcha/api.js'></script>
<div class="bulkorder">
	<img src="/mobile/img/sellwithus.jpg" width="100%" />
	<h1>Start selling with us</h1>
	<p class="headertext">E-commerce is the latest buzzword in the marketing lingo. It basically stands for the buying and selling of products and services by businesses and consumers over the Internet. Partnering with Gadgetsnow will give you the opportunity of expanding your business and your brand visibility. Read further to know how we will make it possible for you.
	</p>
	<h2>ecommerce through Gadgetsnow enables</h2>
		<ul class="list-info">
			<li><i class="fa fa-check" aria-hidden="true"></i>Worldwide access</li>
			<li><i class="fa fa-check" aria-hidden="true"></i>Business @ speed of a click!!!</li>
			<li><i class="fa fa-check" aria-hidden="true"></i>Increased Visibility</li>
			<li><i class="fa fa-check" aria-hidden="true"></i>Education of the masses about your business</li>
			<li><i class="fa fa-check" aria-hidden="true"></i>24* 7 Operation</li>
			<li><i class="fa fa-check" aria-hidden="true"></i>Building Customer Loyalty</li>
			<li><i class="fa fa-check" aria-hidden="true"></i>Reduction of Marketing and Advertising Costs</li>
			<li><i class="fa fa-check" aria-hidden="true"></i>Safe and secure shopping</li>
		</ul>
	<p class="headertext">We can generate value and work in synergy if the above mentioned qualities are the part of your business DNA. </p><br/>
	<p id="bulkorderthanksmsg" class="headertext"><strong>Please provide the following details:</strong></p>
	<div class="servermsgsuccess displaynone">
		<p>Thanks for submitting your request. We will get back to you shortly!</p>		
	</div>
	<form id="sellwithusForm" name="sellwithusForm"  action="/control/sellWithUsData" method="post">
	<input type="hidden" name="otpFor" value="sellwithus"/>
	<div class="field-wrapper">
		<input type="text" id="PlaceHolder_txtName" placeholder="Enter your Name" name="contactName" validate="{true,blank,Name is required,alphachar,Please enter only alphabets for Name}" tabindex="1" />
		<span id="PlaceHolder_txtName_error" class="error">&nbsp;</span>
	</div>
	<div class="field-wrapper">
		<input type="number" pattern="\d*" name="contactNumber" id="PlaceHolder_txtMobile" autocomplete="off"  placeholder="Contact Number" maxlength="10" validate="{true,blank,Mobile number is required,phoneIND,Please enter valid mobile number}" tabindex="2" />
		<span id="PlaceHolder_txtMobile_error" class="error">&nbsp;</span>
	</div>
	<div class="field-wrapper">
		<input type="text" value="" placeholder="Enter your email" id="newemail" name="email" validate="{true,blank,Please specify your valid email address,email,Please enter a valid email address}" tabindex="3"/>
		<span id="newemail_error" class="error">&nbsp;</span>
	</div>
	<div class="field-wrapper">
		<input type="text" id="PlaceHolder_txtCompany" name="company" placeholder="Enter Your Company Name"  validate="{true,blank,Please enter your company,htmltag,HTML tags not allowed}" tabindex="4" />
		<span id="PlaceHolder_txtCompany_error" class="error">&nbsp;</span>
	</div>
	<div class="field-wrapper">
		<input type="text" id="PlaceHolder_cityname" name="cityname" placeholder="City Name"  validate="{true,blank,Please enter City Name,htmltag,HTML tags not allowed}" tabindex="4" />
		<span id="PlaceHolder_cityname_error" class="error">&nbsp;</span>
	</div>
	<div class="field-wrapper">
		<select id="PlaceHolder_natureBusiness" class="contact_select" name="natureBusiness" validate="{true,blank, Nature of business is required,htmltag,HTML tags not allowed}">
			<option value="" selected="">Please Select Nature of business</option>
			<option value="Manufacturer">Manufacturer</option>
			<option value="Importer">Importer</option>
			<option value="Trader">Trader</option>
			<option value="Distributor">Distributor</option>
			<option value="Shopkeeper">Shopkeeper</option>
			<option value="Others">Others</option>
		</select>
		<span id="PlaceHolder_natureBusiness_error" class="error">&nbsp;</span>
	</div>
	<div class="field-wrapper">
		<select id="PlaceHolder_CategoryBusiness" class="contact_select" name="category" validate="{true,blank, Nature of Category is required,htmltag,HTML tags not allowed}">
			<option value="" selected="">Please Select Category</option>
			<option value="Mobiles">Mobiles</option>
			<option value="Tablets">Tablets</option>
			<option value="Computers/Laptops">Computers/Laptops</option>
			<option value="Other Electronics">Other Electronics</option>
		</select>
		<span id="PlaceHolder_CategoryBusiness_error" class="error">&nbsp;</span>
	</div>
	<div class="field-wrapper checkbox">
		<span class="flt col-first">Presently Selling with any existing ecommerce platform?</span><span class="flt col-second"> <input type="checkbox" value="Y" name="ecommerce" /></span>
	</div>
	<div class="field-wrapper displaynone">
		<select class="contact_select" name="EcommercePlatform" disabled>
			<option value="" selected="">Please Select Ecommerce Platform </option>
			<option value="Amazon">Amazon</option>
			<option value="Flipkart">Flipkart</option>
			<option value="Snapdeal">Snapdeal</option>
			<option value="Shopclues">Shopclues</option>
			<option value="Tata Cliq">Tata Cliq</option>
			<option value="Other">Any Other</option>
		</select>
	</div>
	<div class="field-wrapper displaynone">
		<input type="text" name="sellername" placeholder="Please Enter Seller Name " disabled="disabled"/>
	</div>
	<div class="field-wrapper displaynone">
		<input type="text" name="websitename" placeholder="Please Enter Website Name " disabled="disabled" />
	</div>
	<div class="field-wrapper">
		<textarea name="remarks" id="PlaceHolder_textarea" placeholder="Additional Comments (if any)" cols="40" rows="6" maxlength="600" validate="{false,blank,Please enter your company,htmltag,HTML tags not allowed}" tabindex="5"></textarea>
		<span id="PlaceHolder_textarea_error" class="error">&nbsp;</span>
	</div>
	<div class="g-recaptcha" data-sitekey="6LcOmDsUAAAAAP0gh6QgPNMvc5DF8Bq7DubCF86_"></div>
	<div class="field-wrapper displaynone">
		<p class="headertext otpmsg"></p>
		<input type="number" disabled="disabled" placeholder="Please Enter your OTP" validate="{true,blank,OTP is required}" pattern="\d*" name="otp" size="23" id="OTP_request" class="form-text" maxlength="32" /> 
		<span id="OTP_request_error" class="error">&nbsp;</span>
		<p class="headertext stillnotOTP">Did not receive OTP? <a class="resendOTP" href="#">Resend OTP</a></p>
	</div>
	<p id="bulkorderthanksmsg" class="headertext">We will send a verification code to <span class="contactnumber">the above mentioned contact number</span> for confirmation.</p>
	<div class="field-wrapper">
		<input type="submit" class="flat-orange paynow"	value="Submit" />
	</div>
	
</form>
	
</div>

<?php include __DIR__ . "/../common/newfooter.phtml"; ?>