<?php include __DIR__ . "/../common/pwaHeader.phtml"; ?>
<!-- ATF Slot start-->
	<?php include __DIR__ . "/../common/atfSlot.phtml"; ?>
<!-- ATF Slot end-->
<!-- banner start HTML -->
<link href="/pwa/css/mobile-store-style.css" rel="stylesheet">
<div class="toi-container">
<br/>
<div class="mobile-header seocontianer">
				<img src="<?php if(isset($bannerName)) {echo $bannerName; } ?>" width="100%"/>
				<div class="seocontent overflowhidden"></div>
			</div>
<section>
	<div class="margin-10 content seocontianer">
		<h1>Wallet Offers: Buy Exclusively on Shop.Gadgets Now and enjoy the unbelievable offers !!</h1>
		<div class="seocontent overflowhidden">Now is the best time to get that smart phone or that latest gadget you ever wanted ! Why? ShopGadgets Now is offering
unbelievable Pay Balance Cashback Offers on a wide variety of smart phones and gadgets. It doesn't stop there, you can
buy even movie tickets of your favorite show right here under our offers specially designed for you online !<br>
Go Get it ! Come back for Best Offers every day</div>
<a class="seoreadmore"href="#">read more...</a>
	</div>
</section>
<!-- amazon pay html-->
	<?php /* 
<section>
	<div class="amazon-pay-container">
	
	 <div class="amazon-pay-head"><span>Powered by :</span>
		<span>
		<?php 
		$amzwalletUrl0 = rawurlencode("/gp/sva/dashboard/ref=nav_nav_apay")."&tag=timofind-21&utm_campaign=mweb_amazon_pay-21&utm_source=mweb_gnshop&utm_medium=Affiliate&price=0&title".rawurlencode('amazonpay');
		$amzwalletUrl0 = "http://m.gadgetsnow.com/affiliate_amazon.cms?url=".$amzwalletUrl0;
		?>
		<a target="_blank" href="<?=$amzwalletUrl0?>" rel=nofollow data-ga-track="wallet_mweb_banner_amazon##<?=$amzwalletUrl0?>##walletofffer|amazonpaylogo##0" > 
		<img src="https://img1.gadgetsnow.com/gd/imgbn/amazone-pay-logo.jpg" border="0" width="100" /></a></span></div>
		<ul class="amazon-pay">
		<?php 
		$amzwalletUrl = rawurlencode("/gp/sva/addmoney")."&tag=timofind-21&utm_campaign=mweb_amazon_pay-21&utm_source=mweb_gnshop&utm_medium=Affiliate&price=0&title".rawurlencode('addmoney');
		$amzwalletUrl = "http://m.gadgetsnow.com/affiliate_amazon.cms?url=".$amzwalletUrl;
		?>
			<li>
					<a href="<?=$amzwalletUrl?>" target="_blank" rel=nofollow data-ga-track="wallet_mweb_banner_amazon##/gp/sva/addmoney|1##walletofffer|add Money##0" >
						<div class="pay-img">
							<img alt="" src="https://images-eu.ssl-images-amazon.com/images/G/31/sva-registration/add-money._CB529868710_.png" width="48">
						</div>
						<div class="pay-text">Add Money</div>
					</a>
			</li>
			<?php 
		$amzwalletUrl1 = rawurlencode("/gp/sva/dashboard/ref=nav_nav_apay")."&tag=timofind-21&utm_campaign=mweb_amazon_pay-21&utm_source=mweb_gnshop&utm_medium=Affiliate&price=0&title".rawurlencode('statement');
		$amzwalletUrl1 = "http://m.gadgetsnow.com/affiliate_amazon.cms?url=".$amzwalletUrl1;
		?>
			<li>
					<a href="<?=$amzwalletUrl1?>" target="_blank" rel=nofollow data-ga-track="wallet_mweb_banner_amazon##/gp/payment/statement|2##walletofffer|View Statement##0">
						<div class="pay-img">
							<img alt="" src="https://images-eu.ssl-images-amazon.com/images/G/31/sva-registration/view-statement._CB529868710_.png" width="48" >
						</div>
						 <div class="pay-text">View Statement</div>
					</a>
			</li>
		</ul>
		<ul class="amazon-pay">
			<li>
		<?php 
		$amzwalletUrl2 = rawurlencode("/gp/sva/dashboard/ref=nav_nav_apay")."&tag=timofind-21&utm_campaign=mweb_gnshop_pay-21&utm_source=mweb_gnshop&utm_medium=Affiliate&price=0&title".rawurlencode('addgiftcard');
		$amzwalletUrl2 = "http://m.gadgetsnow.com/affiliate_amazon.cms?url=".$amzwalletUrl2;
		?>
					<a 	href="<?=$amzwalletUrl2?>" target="_blank" rel=nofollow data-ga-track="wallet_mweb_banner_amazon##/gp/css/gc/payment|3##walletofffer|Add Gift Card##0">
						<div class="pay-img">
						<img alt="" src="https://images-eu.ssl-images-amazon.com/images/G/31/sva-registration/add-gift-card._CB529868705_.png" width="48">
						</div>
						<div class="pay-text">Add Gift Card</div>
					</a>
			</li>
			<li>
			<?php 
		$amzwalletUrl3 = rawurlencode("/hfc/mobileRecharge")."&tag=timofind-21&utm_campaign=mweb_gnshop_pay-21&utm_source=mweb_gnshop&utm_medium=Affiliate&price=0&title".rawurlencode('mobilerecharge');
		$amzwalletUrl3 = "http://m.gadgetsnow.com/affiliate_amazon.cms?url=".$amzwalletUrl3;
		?>
			<a href="<?=$amzwalletUrl3?>" rel=nofollow target="_blank" data-ga-track="wallet_mweb_banner_amazon##/hfc/mobileRecharge|4##walletofffer|Mobile Recharge##0">
				<div class="pay-img">
					<img alt="" src="https://images-eu.ssl-images-amazon.com/images/G/31/sva-registration/mobile-recharge._CB492941486_.png" width="48" >
				</div>
			   <div class="pay-text"> Mobile Recharge</div>
			</a>
			</li>
		</ul>
		<ul class="amazon-pay">
		<?php 
		$amzwalletUrl4 = rawurlencode("/hfc/mobileRecharge")."&tag=timofind-21&utm_campaign=mweb_gnshop_spons-21&utm_source=mweb_gnshop&utm_medium=Affiliate&price=0&title".rawurlencode('paymentoptions');
		$amzwalletUrl4 = "http://m.gadgetsnow.com/affiliate_amazon.cms?url=".$amzwalletUrl4;
		?>
			<li>
					<a href="<?=$amzwalletUrl4?>" rel=nofollow target="_blank" data-ga-track="wallet_mweb_banner_amazon##/cpe/managepaymentmethods|5##walletofffer|Manage Payment Options##0">
						<div class="pay-img">
							<img alt="" src="https://images-eu.ssl-images-amazon.com/images/G/31/sva-registration/manage-payment-options._CB529868705_.png" width="48" >
						</div>
						<div class="pay-text">Manage Payment Options</div>
					</a>
			</li>
				<?php 
		$amzwalletUrl5 = rawurlencode("/gp/help/customer/display.html?nodeId=202123450")."&tag=timofind-21&utm_campaign=mweb_gnshop_pay-21&utm_source=mweb_gnshop&utm_medium=Affiliate&price=0&title".rawurlencode('help');
		$amzwalletUrl5 = "http://m.gadgetsnow.com/affiliate_amazon.cms?url=".$amzwalletUrl5;
		?>
			<li>
					<a href="<?=$amzwalletUrl5?>" rel=nofollow  target="_blank" data-ga-track="wallet_mweb_banner_amazon##/gp/help/customer/display.html?nodeId=202123450|6##walletofffer|Help and FAQs##0">
						<div class="pay-img">
							<img alt="" src="https://images-eu.ssl-images-amazon.com/images/G/31/sva-registration/help-faq._CB529868705_.png" width="48" >
						</div>
					   <div class="pay-text"> Help and FAQs</div>
					</a>
			</li>
		
		</ul>
	</div>
</section> 
*/ ?>
<!-- amazon pay html-->
<!-- promoted html-->
<?php include __DIR__ . "/../common/promotedbanner1.phtml"; ?>
<!-- promoted html-->


<!-- start -->
<div class="mobile-store">
	<?php
			
			$serverUrl = $GLOBALS['general']['BACKEND_SERVER_URL'];
			foreach($productArr as $product)
			{
					
				foreach($products as $extn)
				{
					$product_name = $extn->PRODUCT_NAME;
					$product_namediv =$product_name;
					$product_id = $extn->PRODUCT_ID;
					if($product != $product_id)
					{
						continue;
					}
					// Check if product is instock
					// do not show OOS products 
					$data  = "{'productId':'".$product_id."'}";
					$url = $serverUrl."/rest/inventory/checkProductEnableToBuy";
					$invResult = Utils::getProtectedApiResponse($url, CURLOPT_POST, null, $data, null);
					
					if(isset($invResult['data'])){
						$invJson = json_decode($invResult['data']);
						if(isset($invJson->responseMap->status) && $invJson->responseMap->status==='success' && $invJson->responseMap->flag=="true"){
							$inventoryFlag=true;
						}else 
						{
							continue;
						}
					}
					
					
					$mrp = $extn->LIST_PRICE;
					$shippingprice = $extn->SHIPPING_PRICE;
					if($extn->DISCOUNTED_PRICE ==0 ){
						$offerprice =  $extn->DEFAULT_PRICE;
					}else{
						$offerprice = $extn->DISCOUNTED_PRICE;
					}
					$yousave = $mrp-$offerprice;
					
					$off = $mrp - $offerprice;
					$off = $off / $mrp;
					$off = $off * 100;
					
					
					$primary_category = $extn->PRIMARY_CATEGORY_ID;
					$catname_arry = $extn->CATEGORY_NAME;
					$cat_arry = $extn->CATEGORY_ID;
					$position = array_search($primary_category, $cat_arry);
					$primarcata_name = $extn->CATALOG_NAME[$position];
					$producturl = "/".strtolower($primarcata_name)."/". str_replace(' ','-', strtolower($extn->CATEGORY_NAME[$position]))."/".strtolower(str_replace('---','-',str_replace(' ','-',$product_name)))."/$primary_category/p_".$extn->PRODUCT_ID."";
					$producturl = str_replace(' ','-',$producturl);
					$producturl = str_replace('-&-','-',$producturl);
					$producturl = str_replace('%','',$producturl);
					$producturl = str_replace('(','',$producturl);
					$producturl = str_replace(',','-',$producturl);
					$producturl = str_replace(')','',$producturl);
					$producturl = str_replace('--','-',$producturl);
					
					//$producturl = $producturl."?utm_source=Wednesday&utm_medium=WedPromo&utm_campaign=".$extn->PRODUCT_ID'];
					
					$productImgurl = strtolower($primarcata_name)."/". str_replace(' ','-', strtolower($extn->CATEGORY_NAME[$position]))."/".strtolower(str_replace('---','-',str_replace(' ','-',$product_name)))."";
					$productImgurl = str_replace(' ','-',$productImgurl );
					$productImgurl = str_replace('-&-','-',$productImgurl );
					$productImgurl = str_replace('(','',$productImgurl );
					$productImgurl = str_replace(')','',$productImgurl );
					$productImgurl = str_replace('.','-',$productImgurl );
					$productImgurl = str_replace('+','',$productImgurl );
					$productImgurl = str_replace('-?','-',$productImgurl );
					$productImgurl = str_replace("'","",$productImgurl );
					$productImgurl = str_replace("%","",$productImgurl );
					
					$screenresolution = isset($extn->SCREENRESOLUTION_STR_ATTR[0])?$extn->SCREENRESOLUTION_STR_ATTR[0]:"";
					$screensizestrattr= isset($extn->SCREEN_SIZE_STR_ATTR[0])?$extn->SCREEN_SIZE_STR_ATTR[0]:"";
					$processortype=isset($extn->PROCESSORTYPE_STR_ATTR[0])?$extn->PROCESSORTYPE_STR_ATTR[0]:"";
					$secondarycamera = isset($extn->SECONDARYCAMERA_STR_ATTR[0])?$extn->SECONDARYCAMERA_STR_ATTR[0]:"";
					?>
				<div class="product-container-tab" itemscope itemtype="http://schema.org/Product">
						<div class="thumbnail">
							<div class="row">
							<div class="col-lg-4 text-center img-container">
								<a href="<?=$producturl?>"><img itemprop="image" border="0" alt="<?=$product_name?>" src="https://img1.gadgetsnow.com/gd/images/products/medium/<?php echo $product_id ?>/<?php echo $productImgurl ;?>.jpg"/></a>
								<?php if(round($off) != 0){echo '<div class="off">'.round($off).'%<br/>OFF</div>';} ?>
								
								
							</div>
							<div class="col-lg-8 text-container">
								<h3 itemprop="name"><a href="<?=$producturl?>"><?=$product_name?></a></h3>
								<div class="price" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
									<meta itemprop="priceCurrency" content="Rupees" />
									<span class="offerprice">
										<meta itemprop="price" content="<?=$offerprice?>" />
										<span class="toi-rupees"></span><?=$offerprice?>							
									</span>		
									<?php if($mrp != $offerprice){?>						
									<span class="mrpprice">
										<span class="toi-rupees"></span>
										<span class="mrp-line-through"><?=$mrp?></span>
									</span>
									<?php }?>
									<?php if($yousave != 0){?> <div class="yousave">You Save <span class="toi-rupees"></span> <?=$yousave?></div> <?php }?>
									<!--div class="yousave">&nbsp;</div-->
									<?php if($shippingprice != 0) {?><div class="yousave">Free shipping</div> <?php }?>
								</div>
								<div class="keyfeature clear">
									<h4>Key Features :</h4>
									
									<ul class="keyfeat" itemprop="description">
											<li>Display: <?php echo $screensizestrattr ." ". $screenresolution; ?></li>
									<?php if( isset($extn->OPERATING_SYSTEM_STR_ATTR)){?> 	<li>Operating System: <?php echo $extn->OPERATING_SYSTEM_STR_ATTR[0]; ?></li> <?php }?>
											<li>Processor: <?php echo $processortype; ?></li>
											<li>Battery:  <?php echo $extn->CAPACITY_STR_ATTR[0]; ?></li>
											<li>Camera: Main : <?php echo $extn->PRIMARYCAMERA_STR_ATTR[0]; ?>, Front : <?php echo $secondarycamera; ?></li>
											<li>RAM: <?php echo $extn->RAM_STR_ATTR[0]; ?></li>
											<li>ROM : <?php echo $extn->INTERNALMEMORY_STR_ATTR[0]; ?></li>
									</ul>
								</div>
								<div class="buynow call-action-btn adcode">
									<a href="/control/additem?add_product_id=<?=$product_id?>" class="btn btn-primary">Buy Now</a>
								</div>
							</div>
							</div>
						</div>
				</div>
				<?php } } ?>
</div>
<!-- end -->


	
<!-- amazon sponsored list --> 
 <!-- SPONSORED : In Store list --> 
<?php include __DIR__ . "/../common/newAffiliate-sponsored.phtml"; ?>
		 <!-- amazon list -->
		 
<!-- amazon list -->
</div>
<!-- promoted html-->
<?php include __DIR__ . "/../common/promotedbanner2.phtml"; ?>
 

<section>
	<div class="margin-10 content">
		<h2>Wallet Offers</h2>
		<p>E Wallets or mobile wallets are a great way of doing transactions online without using credit card or bank details. Simply
download an ewallet in your smart phone, load cash in it and use it to pay online bills, buy movie tickets, recharge
mobiles and buy products online. The best part of having an ewallet is the number of discounts and offers you get
through various discounts, cashback, offers and even free gifts! You get exciting offers and you save money too !!
ShopGadgetsNow.com is offering exciting and unbelievable Wallet offers that you cannot miss on smart phones and
Movie Tickets! Avail them now before you miss the offer. Click here to see all the offers on ShopGadgets.Now
Browse through our Wallet Offer Section to find the best deals for you and enjoy the incentives and cashback on your
favorite products ! Have them also delivered to you at your doorstep!
If you don't have any wallet, its very simple-download the wallet offer you are interested in, create a User id and
password and you are done.<br>
<b>What is an eWallet?</b><br>
Digital Wallets are mobile payment apps that store your payment information on your mobile phone that could include
your credit card or debit card details. Your money and personal details are safe when you pay using ewallet. Using
eWallet is safer than carrying cash or credit card in your physical wallet. <br>
<b>Advantages of using eWallet :</b><br>
E-Wallet is a great payment gateway for online users as it makes shopping easy online. An e-wallet saves all your
information and the same can be used when you fill an online order form thus makes the whole process simple and
super fast. Load some money in the eWallet and you don't have to disclose your credit card or bank details for any
online purchase. Pay through wallet, make your transactions safe and also earn some great discounts at the same time!!
An ewallet payment is very quick- instantly the payment gets reflected and also it keeps a record of your payment to be
viewed whenever you need to.
Click here to see all our wallet offers designed just for you. Hurry its for a limited period! Grab your favorite gadget
today ! </p>
<p> <BR> 
You May Be Interested in other Offers: <a href="/mobile-offers">Mobile Offers</a> | <a href="/best-mobiles-deal-of-the-day" >Mobile Deal of the Day </a> | <a href="/flash-sale" >Mobile Flash Sale </a> | <a href="/4g-mobile-offers" >4G Mobile Offers </a> | <a href="/best-amazon-offers" >Amazon Offers </a> | <a href="/best-battery-phones" >Best Battery Phones </a> | <a href="/mobikwik-offer" >Mobikwik Wallet Offers </a> | <a href="/amazing-mobile-deals" >Amazing Mobile Deals </a> | <a href="/paytm-mall-offers" >Paytm Offers </a>
</p>
	</div>
</section>
<br/>
<?php include __DIR__ . "/../common/pwaFooter.phtml"; ?>
