.white{background:#fff;}
.mobile-store h1{font-size:24px; margin:5px 0; font-weight: 500;}
.mobile-store h2{font-size:27px; padding-bottom:12px; font-weight: 500;}
.mobile-store p{font-size:14px;}
.mobile-store{padding:0 10px;}
.mobile-store .mobile-header{margin:10px 0;}
.pricefont{font-family:rupeesign;}
.product-container-tab{width:96%;position:relative}
.product-container-tab h3{color:#000; font-size:20px; font-weight: 500;   line-height: 1.1; margin-bottom: 10px;  margin-top: 20px;}
.product-container-tab h3 a{color:#000;}
.product-container-tab h4{font-size:16px}
.mobile-store .thumbnail {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: block;
    line-height: 1.42857;
    margin-bottom: 20px;
    padding: 4px;
    transition: border 0.2s ease-in-out 0s;
}
.mobile-store .btn-primary {
    background-color: #337ab7;
    border-color: #2e6da4;
    color: #fff;
}
.mobile-store .btn {
    -moz-user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 6px 12px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}
/*.product-container .thumbnail{display:table; width:100%;}
.product-container .thumbnail .row{display:table-row;}
.product-container .thumbnail .text-container, .product-container .thumbnail .img-container{display:table-cell; float:none;}
.product-container .thumbnail .text-container{vertical-align:top; width:80%}
.product-container .thumbnail .img-container{vertical-align:middle; width:40%;} */
.product-container-tab .thumbnail .img-container{padding-top:20px; width:100%;}
.product-container-tab .thumbnail .text-container{padding-left:20px;}
.product-container-tab .offerprice{color:#337ab7; font-size:22px; font-weight:bold;}
.product-container-tab .mrpprice{color:#000; font-size:13px; }
.product-container-tab .mrpprice .mrp-line-through{text-decoration:line-through;}
.product-container-tab .keyfeature {color:#000}
.product-container-tab .keyfeature .keyfeat{font-size:14px; padding-left:14px;}
/* .product-container-tab .keyfeature .keyfeat li:last-child{list-style:none;} */
.product-container-tab .call-action-btn{margin:10px 0}
.product-container-tab .call-action-btn a{width:50%}
.product-container-tab .yousave{font-size:12px; color:#000}
.product-container-tab .off{background: #edca49; color: #000; display: block; font-size: 15px; font-weight: 700; height: 40px; line-height: 15px; padding: 7px 0 0 2px; position: absolute; right: 1px; text-align: center; top: 1px; width: 41px;}
@media (max-width:600px){.buynow a{width:87% !important;}

}
@media (max-width:1200px){
.product-container-tab .off{right:6px; top:5px;}	
}
