<?php include __DIR__ . "/../common/header.phtml"; ?>

    <!-- container body start -->
    <div class="body body-listing">
                        <!--section class="mobile-home-adbanner">
            <img class="lazy" data-original="img/adbanner.jpg" width="100%" />
        </section-->
            
        <section class="section-container-ui">
            <h3>Reader's Offer <?php if(isset($numFound)){ print_r("( " . $numFound . " Products )");  } ?></h3>
             <div claSS="mobile-product-list-view">
             <ul>
<?php

$extnNames = '';$loop=0;
if(isset($rOProducts[0])){
$extns = $rOProducts;
foreach($extns as $extn){
$discountedPrice = round($extn->DISCOUNTED_PRICE);
$productName=$extn->PRODUCT_NAME;
if(isset($extn->LONG_DESCRIPTION)){
$productDesc=$extn->LONG_DESCRIPTION;}
if(isset($extn->MATERIAL_FAMILY_STR_ATTR_LOWER)){
$productMaterial=$extn->MATERIAL_FAMILY_STR_ATTR_LOWER;
}

// if leather is found in product name/description ---- This logic is not required for RO in WAP.--------------
// if(isset($productName) && stripos($productName,'leather')!=false)
// {
//  continue;
// }
// if(isset($productDesc) && stripos($productDesc,'leather')!=false)
// {
//  continue;
// }


$defaultPrice = round($extn->DEFAULT_PRICE);
$listPrice = round($extn->LIST_PRICE);
$discount = $extn->DISCOUNT;
$discount = round($discount);
$productUrl="#";$productImageUrl="#";
if(isset($productUrlArr) && isset($productUrlArr[$extn->PRODUCT_ID])){
	$productUrl = $productUrlArr[$extn->PRODUCT_ID];
}
if(isset($productImageUrlArr) && isset($productImageUrlArr[$extn->PRODUCT_ID])){
	$productImageUrl = $productImageUrlArr[$extn->PRODUCT_ID];
}
$showPrice=($discountedPrice>0 && $discountedPrice<$defaultPrice?$discountedPrice:$defaultPrice); 
if($showPrice!=0){
	?>
             <!-- product start -->
                    <li>
                    <div class="soldout">Sold Out</div>
                     <a href="<?=$productUrl?>">
                            <figure>
                              <img class="lazy" data-original="<?=$productImageUrl?>" alt="" />
                            </figure>
                            <figcaption><div><?= $extn->PRODUCT_NAME;?></div></figcaption>
                            <div class="mobile-price-ui">
                                <span class="offer-price-ui"><?=$showPrice?></span> 
                                <?php if($listPrice>$showPrice){?><span class="mrp-price-ui"><?= $extn->LIST_PRICE;?></span><?php }?>
                                <?php if($discount>0){?><span class="off-price-ui">(<?= $discount;?>% off)</span><?php }?>
                            </div>
                        </a>
                        
                     <!-- product end -->
                     </li>
<?php } } }?>      
				</ul>
				<?php if(isset($numFound) && $numFound > 32 && strlen($nextPage) !== 0 ){?><div class="more-results"><a href="<?=handleStrAndDefault($nextPage, "")?>">Load more results</a></div><?php }?>
            </div>
        </section>

<?php include __DIR__ . "/../common/newfooter.phtml"; ?>
