<?php include __DIR__ . "/../common/pwaHeader.phtml"; ?>
<div class="section-container-ui case-detail toi-container">
			
<section>
<div data-module="gadgets_category" class="gdgt_nav check-carousel">
	<ul class="newcarousel" data-width-list='109'>
	<?php	for ($index = 0; $index < sizeof($categoryArray); $index++) {?>	
				<li><a href="<?=$categoryArray[$index]['URL'] ?>" class="<?=$categoryArray[$index]['cssClass'] ?> <?= $category==$categoryArray[$index]['URL']?'active':'' ?> "><?=$categoryArray[$index]['TITLE'] ?></a></li>
					<?php }?>
	</ul>
</div>
</section>
<section class="compare-main">
	<div class="card">
		<div class="toi-product-head">
		<?php  if (isset($_SESSION['compare']->error)){?> 
			  <section>
			<div class="servererror oveflowhidden clr">
				<span class="flt"><?=$_SESSION['compare']->error?></span>
			</div>
		</section>
			  <?php 
			  $_SESSION['compare']->error = null;
			  } //print_r($varientMap) ?>
			<h1 class="heading">Compare <?= isset($compare_heading)?$compare_heading:'' ?>
			</h1>
		</div>
		<div class="compareheader">
		<ul class="admobilecompare table">
		<?php 
			$zeroId= "";
			if(isset($_SESSION['compare']))
			{
		$zeroId=$_SESSION['compare']->url; 
			}
		$productIdArray = array();
		$keyArray = '';
		if(isset($_SESSION['compare']->selectedProduct)){
		$productIdArray = $_SESSION['compare']->selectedProduct;
		}
		for ($count = 0; $count < 2; $count++) {
			$productId =  "";
			$valueMap = array();
			if(isset($productIdArray[$count])){
			$productId = $productIdArray[$count];
			if(isset($productMapArray[$productId])){
			 $valueMap =$productMapArray[$productId];
			}			
			}
		
		?> 
		<li class="productAdded" data-check="<?=$count+1?>">
					
				<?php  if(isset($valueMap)  && isset($valueMap['summary']) )
					{
					$imageUrl ='/mobile/img/defaultImage.jpg';
					if(isset($valueMap['summary']->originalImageUrl))
					{
					$imageUrl = $valueMap['summary']->originalImageUrl;
					$imageUrl =  str_replace('original' ,'medium' , $imageUrl);
					$imageUrl ='https://img1.gadgetsnow.com/gd/'.$imageUrl;
					}
					$price = 0;
					$discountPrice = null;
					foreach($valueMap['summary']->priceObjList as $priceObj)
					{
						if('DISCOUNTED_PRICE'== $priceObj->productPriceTypeId)
						{
							$discountPrice =  $priceObj->price; 
						}
						if('DEFAULT_PRICE'== $priceObj->productPriceTypeId)
						{
							$price =  $priceObj->price; 
						}
					}
					
					if(isset($discountPrice))
					{
						$price =  $discountPrice; 
					}
					 ?>
					
				<div class="compare-product">
					<a class="proclose" data-close="<?=$count?>" data-product="<?=$productId?>" href="#">X</a>
					<?php  
						$showAffiliateProduct = false;
						$showFirst = isset($valueMap['showFirst'])?$valueMap['showFirst']:'NA';
						$clickUrl = $productUrlArr[$productId];
						$gaEnven = "";												
						if(!isset($valueMap['inventoryFlag']) || !$valueMap['inventoryFlag']) {
							
						    if( isset($valueMap['affiliateExists']) &&  $valueMap['affiliateExists'])
						    {
								$showAffiliateProduct = true;
						    }
					    } 
					if (isset($showAffiliateProduct) && $showAffiliateProduct && isset( $valueMap['priceAfiiliateArray'][$showFirst]) && ( $showFirst=== "AMAZON" ||$showFirst === "PAYTM" || $showFirst === "NOKIA" || $showFirst === "FLIPKART") ) 
								{
									$afproddetails = $valueMap['priceAfiiliateArray'][$showFirst];
									$afProdName = $afproddetails["afpname"];
									$afName = $afproddetails["name"];
									$afUrl = $afproddetails["url"];
									$afPrice = $afproddetails["price"]; 
									$gaEnven = strtolower($showFirst).'_compare_wap_buynow##'.(isset($valueMap['summary']->productName)?$valueMap['summary']->productName:'').'|'.$count.'##'.(isset($rCompreUrl)?$rCompreUrl:'');
									$clickUrl = $afproddetails["url"];
								}			
						?>
					<div class="col-one"><a target="_blank" data-ga="<?=isset($gaEnven)?$gaEnven:''?>" href="<?=$clickUrl ?>"> <img src="<?=$imageUrl ?>">  </a></div>
					<div class="col-two">
						<div class="proTitle"> <a  target="_blank" data-ga="<?=isset($gaEnven)?$gaEnven:''?>" href="<?=$clickUrl ?>"> <?= isset($valueMap['summary']->productName)?$valueMap['summary']->productName:'' ?> </a></div>
							<?php  
					    if (isset($showAffiliateProduct) && $showAffiliateProduct && isset($valueMap['priceAfiiliateArray'][$showFirst]) ) 
								{
									 ?>
						<div class="proPrice"><span class="offer-price-ui"></span>  <?=$afPrice ?>  </div>	
						<?php if( $showFirst === "AMAZON" ||$showFirst === "PAYTM" || $showFirst === "NOKIA" || $showFirst === "FLIPKART" ) { ?>
										<div class="proBuynow <?= strtolower($showFirst)?>"><a target="_blank" rel="nofollow sponsored" data-ga="<?=isset($gaEnven)?$gaEnven:''?>" href="<?=$afUrl?>" > Buy @<?= ucfirst(strtolower($showFirst))?></a></div>
									<?php } 
							} elseif ($valueMap['inventoryFlag']==true) { ?>
						<div class="proPrice"><span class="offer-price-ui"></span> <?=$price ?> </div>
						<div class="proBuynow"><a href="/control/additem?add_product_id=<?=$productId ?>">Buy Now</a></div>
						<?php } else { ?>
						<div class="proPrice"><span class="offer-price-ui"></span>  <?=$price ?>  </div>
						<?php }?>
					</div>
				</div>
				<?php } else{   ?>
				<div class="tab-wrapper">
					<div class="comparehead ">
						<div>+</div>
						<div>Add <?= isset($compare_Model_heading)?$compare_Model_heading:""?></div>
					</div>
					<div class="compare-select" >
						<div> Select Brand </div>
						<div> Select Model </div>
					</div>
				</div>
				<?php	}?>
			</li>
		<?php } ?>
			
			
		</ul>
		</div>
			
	</div>
</section>
<section>
		<?php  if( isset($product_2) &&  isset($product_1)){ ?>

	<div class="card checkdiff">
	
		<div class="showdifferences"><span class="not-check">Show Differences only</span></div>
		<div class="comparelist">
								<!-- start -->
					<?php if($product_feature_1 !=null || $product_feature_2 !=null || $defaultFeature != null) {
		

					 $keys1 =   array_keys(is_object($product_feature_1)?get_object_vars($product_feature_1):array());
					 $keys2 =   array_keys(is_object($product_feature_2)?get_object_vars($product_feature_2):array());
					if(	isset($defaultFeature))
					{
					$defaultKey =   array_keys(is_object($defaultFeature)?get_object_vars($defaultFeature):array());
					}
					$onlyKey = false;
				 if( (!isset($keys1) || sizeOf($keys1) == 0 ) && (!isset($keys2) || sizeOf($keys2) == 0 ) && isset($defaultKey)) {
						 $keys1 = $defaultKey;	
						 $onlyKey = true;
						}
					 $allKeys = array_unique(array_merge($keys1,$keys2));
				
					$keyIndex = array_search( 'WARRANTY',$allKeys);
											if (false !== $keyIndex) {
												unset($allKeys[$keyIndex]);
												array_push($allKeys,'WARRANTY');
											}

					 if(isset($allKeys)&& sizeOf($allKeys) > 0 ) {						
					 ?>
					 <div class="listhead expanded" id="SUMMARY"> <?= ('Mobiles'===$compare_heading || "Tablets" ===$compare_heading)?'SUMMARY':'' ?></div>
				<div class="listrow">
				
				<?php if(isset($compare_heading)&&  ('Mobiles'===$compare_heading  || 'Tablets'===$compare_heading ) ) {
					
					$featureValue1= isset($product_feature_1->{'MEMORY'}->{'Internal Memory'})?$product_feature_1->{'MEMORY'}->{'Internal Memory'}:'NA';
					$featureValue2= isset($product_feature_2->{'MEMORY'}->{'Internal Memory'})?$product_feature_2->{'MEMORY'}->{'Internal Memory'}:'NA';
						
					$compareResult = 'similar'; 
					$compareText = 'same';	
						if(strcasecmp(trim($featureValue1), trim($featureValue2)) != 0) { 
								$compareResult = 'different';	
								$compareText = 'difference';	
						}
					if('NA'!== trim( $featureValue1 )|| 'NA'!== trim($featureValue2)) {		
					?>
					<div class="key-cell <?= $compareResult ?>">Internal Memory  </div>
					<div class="table">
						<!-- list start -->
							<div class="table-row <?= $compareResult ?>">
							<div class="table-cell"> <span class="<?= $compareText ?>"> <?= $featureValue1?> </span> </div>
							<div class="table-cell"> <span class="<?= $compareText ?>"> <?= $featureValue2?> </span> </div>
						</div>
						<!-- list end -->
					</div>
						
					<?php }	
					$featureValue1= isset($product_feature_1->{'MEMORY'}->{'RAM'})?$product_feature_1->{'MEMORY'}->{'RAM'}:'NA';
					$featureValue2=isset($product_feature_2->{'MEMORY'}->{'RAM'})?$product_feature_2->{'MEMORY'}->{'RAM'}:'NA';
						
					$compareResult = 'similar'; 
					$compareText = 'same';	
						if(strcasecmp(trim($featureValue1), trim($featureValue2)) != 0) { 
								$compareResult = 'different';	
								$compareText = 'difference';	
						}
					if('NA'!== trim( $featureValue1 )|| 'NA'!== trim($featureValue2)) {		
					?>
					<div class="key-cell <?= $compareResult ?>">RAM  </div>
					<div class="table">
						<!-- list start -->
						<div class="table-row <?= $compareResult ?>">
							<div class="table-cell"> <span class="<?= $compareText ?>"> <?= $featureValue1 ?> </span></div>
							<div class="table-cell"> <span class="<?= $compareText ?>"> <?= $featureValue2 ?> </span></div>
						</div>
						<!-- list end -->
					</div>
					<?php }
						$featureValue1= isset($product_feature_1->{'DISPLAY'}->{'Screen Size '})?$product_feature_1->{'DISPLAY'}->{'Screen Size '}:'NA';
					$featureValue2=isset($product_feature_2->{'DISPLAY'}->{'Screen Size '})?$product_feature_2->{'DISPLAY'}->{'Screen Size '}:'NA';
						
					$compareResult = 'similar'; 
					$compareText = 'same';	
						if(strcasecmp(trim($featureValue1), trim($featureValue2)) != 0) { 
								$compareResult = 'different';	
								$compareText = 'difference';	
						}
					if('NA'!== trim( $featureValue1 )|| 'NA'!== trim($featureValue2)) {	?>
					<div class="key-cell <?= $compareResult ?>">Display </div>
					<div class="table">
						<!-- list start -->
						<div class="table-row <?= $compareResult ?>">
							<div class="table-cell"> <span class="<?= $compareText ?>"> <?= $featureValue1?> </span> </div>
							<div class="table-cell"> <span class="<?= $compareText ?>"> <?= $featureValue2?> </span> </div>
						</div>
						<!-- list end -->
					</div>
					<?php } 
					
					$featureValue1= isset($product_feature_1->{'BATTERY'}->{'Capacity '})?$product_feature_1->{'BATTERY'}->{'Capacity '}:'NA';
					$featureValue2=isset($product_feature_2->{'BATTERY'}->{'Capacity '})?$product_feature_2->{'BATTERY'}->{'Capacity '}:'NA';
						
					$compareResult = 'similar'; 
					$compareText = 'same';	
						if(strcasecmp(trim($featureValue1), trim($featureValue2)) != 0) { 
								$compareResult = 'different';	
								$compareText = 'difference';	
						}
					if('NA'!== trim( $featureValue1 )|| 'NA'!== trim($featureValue2)) {	?>
					
					<div class="key-cell <?= $compareResult ?>">Battery  </div>
					<div class="table">
						<!-- list start -->
						<div class="table-row <?= $compareResult ?>">
							<div class="table-cell"><span class="<?= $compareText ?>"> <?= $featureValue1 ?> </span></div>
							<div class="table-cell"> <span class="<?= $compareText ?>"> <?= $featureValue2 ?> </span></div>
						</div>
						<!-- list end -->
					</div>
					
					<?php }
					$featureValue1= isset($product_feature_1->{'PLATFORM'}->{'Processor Type'})?$product_feature_1->{'PLATFORM'}->{'Processor Type'}:'NA';
						$featureValue2=isset($product_feature_2->{'PLATFORM'}->{'Processor Type'})?$product_feature_2->{'PLATFORM'}->{'Processor Type'}:'NA';
						
						$compareResult = 'similar'; 
							$compareText = 'same';	
						if(strcasecmp(trim($featureValue1), trim($featureValue2)) != 0) { 
								$compareResult = 'different';	
								$compareText = 'difference';	
						}	
						if('NA'!== trim( $featureValue1 )|| 'NA'!== trim($featureValue2)) {		
						?>
					<div class="key-cell <?= $compareResult ?>">Performance  </div>
					<div class="table">
						<!-- list start -->
						<div class="table-row <?= $compareResult ?>">
							<div class="table-cell"> <span class="<?= $compareText ?>"> <?= $featureValue1?></span> </div>
							<div class="table-cell">  <span class="<?= $compareText ?>"> <?= $featureValue2?> </span> </div>
						</div>
						<!-- list end -->
					</div>
					<?php 
						}
					$featureValue1= isset($product_feature_1->{'CAMERA'}->{'Primary Camera'})?$product_feature_1->{'CAMERA'}->{'Primary Camera'}:'NA';
					$featureValue2=isset($product_feature_2->{'CAMERA'}->{'Primary Camera'})?$product_feature_2->{'CAMERA'}->{'Primary Camera'}:'NA';
						
					$compareResult = 'similar'; 
					$compareText = 'same';	
						if(strcasecmp(trim($featureValue1), trim($featureValue2)) != 0) { 
								$compareResult = 'different';	
								$compareText = 'difference';	
						}
					if('NA'!== trim( $featureValue1 )|| 'NA'!== trim($featureValue2)) {		
					?>
					<div class="key-cell <?= $compareResult ?>">Primary Camera  </div>
					<div class="table">
						<!-- list start -->
						<div class="table-row <?= $compareResult ?>">
							<div class="table-cell"><span class="<?= $compareText ?>"> <?= $featureValue1?> </span> </div>
							<div class="table-cell"> <span class="<?= $compareText ?>"> <?= $featureValue2?> </span> </div>
						</div>
						<!-- list end -->
					</div>
					<?php 
					}
					$featureValue1= isset($product_feature_1->{'CAMERA'}->{'Secondary Camera'})?$product_feature_1->{'CAMERA'}->{'Secondary Camera'}:'NA';
					$featureValue2=isset($product_feature_2->{'CAMERA'}->{'Secondary Camera'})?$product_feature_2->{'CAMERA'}->{'Secondary Camera'}:'NA';
						
					$compareResult = 'similar'; 
					$compareText = 'same';	
						if(strcasecmp(trim($featureValue1), trim($featureValue2)) != 0) { 
								$compareResult = 'different';	
								$compareText = 'difference';	
						}
					if('NA'!== trim( $featureValue1 )|| 'NA'!== trim($featureValue2)) {		
					?>
					<div class="key-cell <?= $compareResult ?>">Secondary Camera  </div>
					<div class="table">
						<!-- list start -->
						<div class="table-row <?= $compareResult ?>">
							<div class="table-cell"> <span class="<?= $compareText ?>"> <?= $featureValue1?> </span></div>
							<div class="table-cell"> <span class="<?= $compareText ?>"> <?= $featureValue2?> </span> </div>
						</div>
						<!-- list end -->
					</div>
					<?php 
				}}
					if((isset($productMapArray[$product_Id_1]['reviews']) && sizeof($productMapArray[$product_Id_1]['reviews']) > 0) || (isset($productMapArray[$product_Id_2]['reviews']) && sizeof($productMapArray[$product_Id_2]['reviews']) > 0) ){
	?>
				<div class="key-cell">Ratings & Reviews </div>
					<div class="table">
						<!-- list start -->
							<div class="table-row ">
								<div class="table-cell rating-size">
								<?php 
								if(isset($productMapArray[$product_Id_1]['reviews']) && isset($productMapArray[$product_Id_1]['reviews'][0]['average'])) {
								$average  = $productMapArray[$product_Id_1]['reviews'][0]['average'];
								$total  = $productMapArray[$product_Id_1]['reviews'][0]['total'];	
								$average=number_format($average,1);
								$percentage = ($average/5)*100;
								$percentage = $percentage."%";
								$totalReviews  = 0;
								if(isset( $productMapArray[$product_Id_1]['reviews'][0]['totalReviews'])){
										$totalReviews  =  $productMapArray[$product_Id_1]['reviews'][0]['totalReviews'];
										}
									?>
									<div class="overflowhidden">
										<span class="flt">(<?=$average?>)</span>
										<span class="rating-star rating-img flt">
											<span class="rating-get rating-img" style="width:<?=$percentage?>"> </span>
										</span>
									</div>
									<div> <?php  if($totalReviews > 0) { ?> <a target="_blank" href="<?=$productUrlArr[$product_Id_1]?>#ratingreview">Read Reviews</a> <?php } ?><br/><?=$total?> Rating(s) 
								<?php  if($totalReviews > 0) { ?> & <?=$totalReviews?> Review(s) <?php } ?></div>
								<?php } else { ?>
								NA
								<?php  } ?>
								</div>
								<div class="table-cell rating-size">
									<?php 
								if(isset($productMapArray[$product_Id_2]['reviews']) && isset($productMapArray[$product_Id_2]['reviews'][0]['average'])) {
								$average  = $productMapArray[$product_Id_2]['reviews'][0]['average'];
								$total  = $productMapArray[$product_Id_2]['reviews'][0]['total'];
								$average=number_format($average,1);
								$percentage = ($average/5)*100;
								$percentage = $percentage."%";
								$totalReviews  = 0;
								if(isset( $productMapArray[$product_Id_2]['reviews'][0]['totalReviews'])){
										$totalReviews  =  $productMapArray[$product_Id_2]['reviews'][0]['totalReviews'];
										}
									?>
									<div class="overflowhidden">
										<span class="flt">(<?=$average?>)</span>
										<span class="rating-star rating-img flt">
											<span class="rating-get rating-img" style="width:<?=$percentage?>"> </span>
										</span>
									</div>
									<div><?php  if($totalReviews > 0) { ?> <a target="_blank" href="<?=$productUrlArr[$product_Id_1]?>#ratingreview">Read Reviews</a> <?php } ?><br/><?=$total?> Rating(s) 
								<?php  if($totalReviews > 0) { ?> & <?=$totalReviews?> Review(s) <?php } ?></div>
								<?php }else { ?>
								NA
								<?php  } ?>
								</div>
							</div>							
						<!-- list end -->
						
					</div> <?php }
					if((isset($varientMap[$product_Id_1]) && sizeof($varientMap[$product_Id_1])>0) || (isset($varientMap[$product_Id_2]) && sizeof($varientMap[$product_Id_2])>0) ) {?>
				<div class="key-cell">Variant</div>
					<div class="table">
						<!-- list start -->
							
							<div class="table-row ">
								<div class="table-cell">
									<?php  if(isset($varientMap[$product_Id_1]) && sizeof($varientMap[$product_Id_1])>0){
									$similarProducts = $varientMap[$product_Id_1];
									?>
									<select onchange="location = this.value;">
										<option selected><?= $productMapArray[$product_Id_1]['summary']->productName ?></option>
										<?php foreach($similarProducts as $key => $value){ ?>
										<option value="<?= $value ?>"><?= $key ?></option>
										<?php } ?>
									</select>
							<?php }  else {?>
								NA
							<?php } ?>
								</div>
								<div class="table-cell">
									<?php  if(isset($varientMap[$product_Id_2]) && sizeof($varientMap[$product_Id_2])>0){
									$similarProducts = $varientMap[$product_Id_2];
									?>
									<select onchange="location = this.value;">
									<option selected><?= $productMapArray[$product_Id_2]['summary']->productName ?></option>
										<?php foreach($similarProducts as $key => $value){ ?>
										<option value="<?= $value ?>"><?= $key ?></option>
										<?php } ?>
									</select>
							<?php }  else {?>
								NA
							<?php } ?>
								</div>
							</div>		
						<!-- list end -->
					</div>
			<?php } ?>

				</div>

					 <?php
					 }
					$count = 0;
					 foreach ($allKeys as $key) { 
						$value2 = isset($product_feature_2->{$key})?$product_feature_2->{$key}:'NA' ;
						$value = isset($product_feature_1->{$key})?$product_feature_1->{$key}:'NA' ;	
						$defaultValue = isset($defaultFeature->{$key})?$defaultFeature->{$key}:'NA' ;
						
						if($onlyKey === true)
						{
							
							$value =  $defaultValue;
						}
						$insideKey1 =array_keys(is_object($value)?get_object_vars($value):array());
						if(isset($restrict_feature_1)&& sizeOf($insideKey1) > 0)
						{
							$insideKey1 = array_diff($insideKey1,$restrict_feature_1); 
						}
						$insideKey2 =  array_keys(is_object($value2)?get_object_vars($value2):array());
						if(isset($restrict_feature_2)&& sizeOf($insideKey2) > 0)
						{
							$insideKey2 = array_diff($insideKey2,$restrict_feature_2); 
						}
						 if( '10022'!==  $productMapArray[$product_Id_1]['categoryId'] && '10022'!==  $productMapArray[$product_Id_2]['categoryId'])
						 { 
							if(isset($productMapArray[$product_Id_1]['restrict_featureskip']))
							{
								
								$insideKey1 = array_diff($insideKey1,$productMapArray[$product_Id_1]['restrict_featureskip']); 
							}
							if(isset($productMapArray[$product_Id_2]['restrict_featureskip']))
							{
								$insideKey2 = array_diff($insideKey2,$productMapArray[$product_Id_2]['restrict_featureskip']); 
							}
						 }
						$allInsideKeys = array_unique(array_merge($insideKey1,$insideKey2));
						
						
						  $KeyDisplay =  preg_replace('/[^a-zA-Z0-9]/','-',$key);
				        $KeyDisplay =  preg_replace('/-+/','-',$KeyDisplay);
						$count = $count+1;
						
						if( $count == 2   )     { ?> 
						
							<!-- Promoted banner 1 -->
						<?php include __DIR__ . "/../common/promotedbanner1.phtml"; ?>						
						
					<?php }
					if( $count== 6   || ( sizeOf($allKeys)<6 &&  $count ==sizeOf($allKeys)   )  )  { ?> 
						<!-- Promoted banner 2 -->
						<?php include __DIR__ . "/../common/promotedbanner2.phtml"; ?>
					<?php }
				  if(isset($allInsideKeys)&& sizeOf($allInsideKeys) > 0){
							
					?>
				<div class="listhead expanded " id="<?=$KeyDisplay?>"> <?=$key?> </div><?php } ?>
				<div class="listrow">
					<?php foreach ($allInsideKeys as $k ) { 
								$featureValue1 = 'NA';
							if($onlyKey=== false)
							{
							$featureValue1 =  isset($value->{$k})?$value->{$k}:'NA';
							}
							if(trim(strtoupper($featureValue1))== 'NULL' || trim(strtoupper($featureValue1))== 'N/A' || trim(strtoupper($featureValue1)) == '-' || trim(strtoupper($featureValue1))=='NA' )
								{
									$featureValue1='NA';
								}
							$featureValue2 =  isset($value2->{$k})?$value2->{$k}:'NA';
							if(trim(strtoupper($featureValue2))== 'NULL' || trim(strtoupper($featureValue2))== 'N/A' || trim(strtoupper($featureValue2)) == '-' || trim(strtoupper($featureValue2))=='NA' )
								{
									$featureValue2='NA';
								}
							$compareResult = 'similar'; 
							$compareText = 'same';	
							if(strcasecmp(trim($featureValue1), trim($featureValue2)) != 0) { 
								$compareResult = 'different';	
								$compareText = 'difference';	
								
								}
							else{
									if( strlen($keyArray)==0 ||strpos($keyArray,($KeyDisplay))===false)
									{
										if(strlen($keyArray)==0 ){$keyArray = $KeyDisplay;}else{$keyArray =  $keyArray.'##'.$KeyDisplay;}
									}
								}

							if(strpos($KeyDisplay,"WARRANTY")!==false)
							{
								if("Warranty "===$k)
								{
									$k="";
								}
							}
							if( strlen(trim($k))>0)
							{
							?>
							
							<div class="key-cell <?= $compareResult ?>"><?= $k?> </div> <?php }?>
					<div class="table">
						<!-- list start -->
							
							<div class="table-row  <?= $compareResult ?>">
								<div class="table-cell"><span class="<?= $compareText ?>"> <?=$featureValue1?> </span> </div>
								<div class="table-cell"><span class="<?= $compareText ?>"> <?=$featureValue2 ?></span> </div>
							</div>
								
							
						<!-- list end -->
						
					</div>
				 <?php } //}
				 ?>
				</div>
				<?php } } ?>
				<!-- end -->	
		</div>
		
	</div>
									<?php } ?>			
	
</section>
<input type="hidden" id="arrayCount" value="<?=$keyArray?>" />	

<div class="compare-form">
	<div class="closeX"><span>X</span></div>
	<div class="compare-form-h">
		<a class="brand active" href="#">Brand</a>
		<a class="model" href="#">Model</a>
	</div>
	<form name="compareFrom" id="compareFrom" method="POST" >
		<div class="field-wrapper brandlist active">
		<?php
			if (isset($brandList ))
			{
			?>	
			<input  type="text" name="brandName" id="brandName" class="brandName" placeholder="Select Brand" />
			<span class="search-icon"></span>
			<div class="keysearchsort">
				<ul class="brandsName">
				<?php  if( isset($popularBrand) && sizeof($popularBrand)>0 ) {  ?>
				<div> <b>Popular Brands</b></div>
				<?php	for ($index_ = 0; $index_ < sizeof($popularBrand); $index_++) {
			?>	
				<li  data-category="<?=$category ?>"  data-brand="<?= rawurlencode($popularBrand[$index_]) ?>" ><?= $popularBrand[$index_]?></li>
					<?php
				}}  ?>
				<div> <b>All Brands</b></div>
				<?php
				for ($index = 0; $index < sizeof($brandList); $index++) {
			?>	
				<li  data-category="<?=$category ?>"  data-brand="<?= rawurlencode($brandList[$index]) ?>" ><?= $brandList[$index]?></li>
					<?php 	
					$index= $index+1;
					}
		}?>
				</ul>
			</div>
		</div>
		<div class="field-wrapper modellist">
			<input type="text" name="modelName" id="modelName" class="modelName" value="" placeholder="Select Model" />
			<span class="search-icon"></span>
			<div class="keysearchsort">
				<ul class="brandsName" id="_modelname"></ul>
			</div>
		</div>					
	</form>
</div>
<form name="compare" id="compare" style="display:none"  method="POST">
	<input type="text" name="brand" />
	<input type="text" name="model" />
	<input type="hidden" name="fModelN" value="<?= isset($product_Name_1)?$product_Name_1:''?>"/>
	<input type="hidden" name="fModel" value="<?= isset($product_Id_1)?$product_Id_1:''?>"/>
	<input type="hidden" name="sModelN" value="<?= isset($product_Name_2)?$product_Name_2:''?>"/>
	<input type="hidden" name="sModel" value="<?= isset($product_Id_2)?$product_Id_2:''?>"/>
	
</form>
</div>

 <!--section>
	<div class="ctn-ads-pdp">
		<div id="div-clmb-ctn-1529" data-slot="256682" data-position="1529" data-section="0" data-cb="adwidgetfun" class="colombia toi-product colombiaad"></div>
	</div>
 </section>
 popular start -->
<?php  if(isset($latestCompare) && sizeof($latestCompare)>0) { ?>

<section class="comparison_list">
	<div class="card productShowlist margin-10">
				<h4 class="heading"><span class="truncate text-transform">Popular Comparisons</span> </h4>
	</div>
<ul>

<?php 
$popularCount=0;
	foreach($popularcompare as $propObj)
					{ 
$popularCount = $popularCount +1;
			if($popularCount>5)
				{ break;
				}
 ?>
 <li class="mobile"><a href="<?= $propObj->url?>"><?= $propObj->name?></a></li>

<?php  } ?>
  
</ul>
</section>  <?php } ?>
<!-- popular end -->
 <section>
	<div class="ctn-ads-pdp">
		<div id="div-clmb-ctn-1528" data-slot="256682" data-position="1528" data-section="0" data-cb="adwidgetfun" class="colombia toi-product colombiaad"></div>
	</div>
 </section >
<!-- recent comparisons start -->
<?php  if(isset($latestCompare) && sizeof($latestCompare)>0) { ?>
<section class="comparison_list">
	<div class="card productShowlist margin-10">
				<h4 class="heading"><span class="truncate text-transform">Recent Comparisons</span> </h4>
	</div>
<ul>
<?php 
	$latestCount=0;
	foreach($latestCompare as $latestObj)
					{ 
$latestCount = $latestCount +1;
				if($latestCount>5)
				{ break;
				}
		?>
 <li class="mobile"><a href="<?= $latestObj->url?>"><?= $latestObj->name?></a></li>

<?php  } ?>
 
</ul>
</section>  <?php } ?>

 <!-- recent comparisons end -->

  <script type="text/javascript" src='<?php echo $zero_mongo_gn_compare_host?>/gsearch/zero_mongo_GN_compare.php?cName=<?php echo $category ?>&zeroUrl=<?php echo $zeroId ?>'></script>
  <!-- <script type="text/javascript" src='https://shop.gadgetsnow.com/gsearch/zero_mongo_GN_compare.php?cName=<?php echo $category ?>&zeroUrl=<?php echo $zeroId ?>'></script> -->

 
<?php include __DIR__ . "/../common/pwaFooter.phtml"; ?>