<?php include __DIR__ . "/../common/header.phtml"; ?>
<!-- container body start -->
<div class="user-reviews clr">
		  			<!-- registerUser Form-->
						<form action="" method="post" name="submitUserReviews">
								<div class="section-container-ui user-reviews-container">
										<section>
													   <div class="border-box user-reviews-container-half text-align-center flt">
															<img data-original="http://static4.shop.indiatimes.com/images/products/medium/B3949845/fashion/t-shirts/lotto-navy-blue-men-polo-t-shirt-cr910206.jpg" class="lazy">
													   </div>
													   <div class="border-box user-reviews-container-half col-2 flt">
													   <h3> Lotto Navy Blue Men Polo T-shirt - CR910206</h3>	 	
														<div class="field-wrapper">
															<select id="B3949845_rating" name="B3949845_rating" class="barrating-select" validate="{false,blank,Rating is required}">
																<option value=""></option>
																<option value="1">1</option>
																<option value="2">2</option>
																<option value="3">3</option>
																<option value="4">4</option>
																<option value="5">5</option>
															</select>
															<br />
															<span id="B3949845_rating_error" class="error"></span>
														</div>
														<div class="field-wrapper"><input type="text" id="B3949845_rating_title" name="B3949845_rating_title" value="" placeholder="Review Title *"  validate="{false,blank,Review title is required,htmltag,HTML tags not allowed}" /><span id="B3949845_rating_title_error" class="error"></span></div>
														<div class="field-wrapper"><textarea id="B3949845_rating_desc" name="B3949845_rating_desc" placeholder="Your Review * (max. 2048 characters)" validate="{false,blank,Review is required,htmltag,HTML tags not allowed}" maxlength="2048"></textarea><span id="B3949845_rating_desc_error" class="error"></span></div>
													   </div>
										</section>
							  </div>
						</form>
						<!-- registerUser Form End-->
	<div class="field-wrapper text-align-center">
		<button tabindex="2" id="submitReviewsButton" class="flat-orange forgot-password-submit">Submit</button>			
	</div>
<!-- container body end -->
<?php include __DIR__ . "/../common/newfooter.phtml"; ?>
