<?php include __DIR__ . "/../common/pwaHeader.phtml"; ?>
<!-- ATF Slot start-->
	<?php include __DIR__ . "/../common/atfSlot.phtml"; ?>
<!-- ATF Slot end-->
<?php  			
				$userLoginId="ANONYMOUS";
				$categoryname = $product->getCategoryName();
				$catalogname = $product->getCatalogName();
				$productid = $product->getProductId();
				$productname = $product->getProductName();
				$productprice = $product->getPrice();
				$productCategoryId = $product->getCategory();
				$autogc= $product->getAutoGc();
				$catalogid = $product->getCatalog();
				$productPriceForGA = 0;
				$skipMrp = false; 
				if( $product->getDiscountedPrice()>0)
				{ $productPriceForGA =$product->getDiscountedPrice();}
				else if($product->getOfferPrice()>0) { $productPriceForGA =$product->getOfferPrice();}
				$productShippingPrice = number_format($product->getShippingPrice());

				$buyUrl="/control/additem?add_product_id=".$productid;
				if (isset($_SESSION ['userLogin'] ) && ($_SESSION ['userLogin']->getUserName()!='Guest') )
				{
					$userLoginId=$_SESSION ['userLogin']->getUserLoginId();
				}
							    $showAffiliateProduct = false;
					    if(!$product->getInventoryFlag()) {
							$buyUrl = "#";
						    if(isset($affiliateExists) &&  $affiliateExists)
						    {
						    	$showAffiliateProduct = true;
						    	$product->setIsComingSoon(false);
						    echo "<script>paramsObj.showAmazonProduct = true;</script>";
						     echo "<script>paramsObj.instock = false;</script>";
						    }
					    }
						else if($product->getInventoryFlag())
						{
						echo "<script>paramsObj.instock = true;</script>";
						}
					    if($showFirst == "LG")
					    {
					    	$showAffiliateProduct = true;
					    }
						
			 if(isset($reviews)) { 
				$average  = $reviews[0]['average'];
				$total  =  $reviews[0]['total'];
			 $percentage = ($average/5)*100; 
			 if(isset( $reviews[0]['totalReviews']))
					$totalReviews  =  $reviews[0]['totalReviews'];
			 }
				
  ?>
  
<section>

<div class="overflowhidden">
<div style="height:48px;">
	<div class="deals-timer">	</div>
</div>
	<div id="product-img-casousel">
				
		<?php foreach($product->getAdditionalImage() as $img){ if(isset($img)){
						$tempImg = $img;
						if(strpos($img,"https:")===false){$tempImg = $staticUrl.$img;}?>
					<img class="img lazy v-align-middle"  alt="<?=$product->getProductName();?>" src="<?=str_replace("/original/","/medium/",handleStr($tempImg))?>"  />
						<?php }} ?>
	</div>
</section>
<section  itemscope itemtype="https://schema.org/Product" >
<div class="product-detail-tab" >
	<div class="product-detail">
		<h1 itemprop="name"><?=handleStr($product->getProductName())?></h1>
		<?php 

$additinalImage = $product->getAdditionalImage();
 if( isset($additinalImage)  && isset($additinalImage[0])) { ?>
		      <meta itemprop="image" content="<?=handleStr($product->getOriginalImageUrl())?>"/>
<?php } ?>
		 <input type="hidden" id="product_id" name="product_id" value="<?=handleStr($product->getProductId())?>" />
		 <input type="hidden" id="product_name" name="product_name" value="<?=handleStr($product->getProductName())?>" />
		 <input type="hidden" id="catalog_id" name="catalog_id" value="<?=handleStr($product->getCatalog())?>" />
		 <!-- SEO Details -->
		 <meta itemprop="category" content="<?=$categoryname?>">
		 <?php if($product->getLongDescription()!=null) {
		 $metadesc_itemprop = str_replace ( "\"", "'", $product->getLongDescription() );
		 ?>
		 	<meta itemprop="description" content="<?=handleStr(strip_tags($metadesc_itemprop))?>" />
		 <?php }?>
		 <meta itemprop="productID" content="<?=handleStr($product->getProductId())?>" />
		   <?php  
		  if(handleStr($product->getBrandName())!=""){
		  ?>
		<meta itemprop="brand" itemtype="Thing" content="<?= $product->getBrandName(); ?>" />
		<?php }  ?>
	<div class="table w100">
		<div class="table-cell v-align-middle">
			<?php if(isset($average) &&  $average > 0) { ?>
					<div class="product-rating overflowhidden" itemprop="aggregateRating" itemscope itemtype="https://schema.org/AggregateRating">
						  <span> <?=$average?>  </span>
						<span><?php if(isset($total)) { ?> <?=$total?> <?php if($total==1) {?> Rating <?php }else {?> Ratings<?php }}?></span>
						<span><?php if(isset($totalReviews)) { ?> <?=$totalReviews?> <?php if($totalReviews==1) {?> Review <?php }else {?> Reviews<?php }}?></span>
						<meta itemprop="bestRating" content="5"/>
						<meta itemprop="worstRating" content="0"/>
						<meta itemprop="ratingCount" content="<?=$total?>" />
						<meta itemprop="ratingValue" content="<?=$average?>" />
					</div>
			<?php }
			 if(isset($reviews) && sizeof($reviews) > 0) {
			 
			 if(isset($reviews[0]['firstName']))
						{	
						$userName=$reviews[0]['firstName']; ?>
						<div itemprop="review" itemscope itemtype="https://schema.org/Review">
						<meta itemprop="author" content="<?=$userName?>">
						</div>
			 <?php }} ?>		
		</div>
		<div class="table-cell text-right v-align-bottom">
			<span class="sharing-button adcode">social sharing</span>		
		</div> 
	</div>
</div>
	
	<!--add class below paytm, amazone, flipkart -->
				<?php 
				$affclass = "";
				 $gaEvent1 = "##".$catalogname."|".$categoryname."##pdp|".$productCategoryId."|".$productid."|".$productname."|".number_format($productPriceForGA)."##0";
			$gaEvent = "add2cart";
				if(isset($lowestaffiliate) && isset($lowestaffiliate['url']) && $lowestaffiliate['afname']!='SGN') { 
							$affclass = strTolower($lowestaffiliate['afname']);
							$gaEvent = $gaEvent."_mweb_".$affclass;
						$buyUrl=$lowestaffiliate['url'];
				} 
			$gaEvent = $gaEvent.$gaEvent1;?>
			
		<!-- Show GadgetsNow Buy only if Product is in stock -->
	<?php 
	$priceScema = 'N';
	if($productPriceForGA > 0)
	{ ?>
	    <meta itemprop="price" content="<?=$productPriceForGA;?>">
	    
	<?php $priceScema = 'Y'; } 
	
	// if($product->getInventoryFlag()==true) { 
	$todadate=date("Y-m-d");
	?>
	<div class="product-price adcode <?php  if($product->getInventoryFlag()==false) {?> display-none <?php } ?> <?=$affclass?> overflowhidden" itemprop="offers" itemscope itemtype="https://schema.org/Offer">
	<meta itemprop="price" content="<?=$productPriceForGA;?>">	
	<div class="mh-4">
	            	<meta itemprop="priceValidUntil" content="<?=$todadate?>" />
	            	<meta itemprop="url" content="<?='https://shop.gadgetsnow.com'.$currentUrl?>" />
	
		<a class="display-block overflowhidden productBuyTab" <?php if($affclass !==""){ ?> target="_blank" rel="nofollow sponsored" <?php }?> data-ga-track="<?=$gaEvent?>" href="<?=$buyUrl?>">
			<div class="col-sm-6 overflowhidden">
			<?php 
			if( $affclass !==""  && isset($lowestaffiliate['price']) ) { $priceScema = 'Y';?>
				<span class="rp product-offer-price bold flt"><?=number_format($lowestaffiliate['price']);?></span>
				<meta itemprop="price" content="<?=$lowestaffiliate['price'];?>">
				<meta itemprop="availability" content="Y" />
			<?php } 
			else if($product->getDiscountedPrice()>0 && $product->getInventoryFlag()==true) { $productPriceForGA =$product->getDiscountedPrice();  $priceScema = 'Y';?>
				<span class="rp product-offer-price bold flt"><?=number_format($product->getDiscountedPrice());?></span>
				<meta itemprop="price" content="<?=$product->getDiscountedPrice();?>">
				<meta itemprop="availability" content="http://schema.org/InStock" />
				
			<?php } else if($product->getOfferPrice()>0 && $product->getInventoryFlag()==true) { $priceScema = 'Y'; $productPriceForGA =$product->getOfferPrice();?>
				<span class="rp product-offer-price bold flt"><?=number_format($product->getOfferPrice())?></span>
				 <meta itemprop="price" content="<?=$product->getOfferPrice();?>">
				 <meta itemprop="availability" content="http://schema.org/InStock" />
				 
			<?php }  else {  
			
			?>

			<?php	if(isset($dummy) && $dummy) { 
						$skipMrp = true; 		?>
					<span class=" product-offer-price bold flt">To Be Announced</span>
								<meta itemprop="availability" content="http://schema.org/OutofStock" />
					
				<?php	} elseif($product->getIsComingSoon()==true) {  $skipMrp = true;?>
						<!-- Comming soon start-->
						<span class=" product-offer-price bold flt">Coming Soon</span>
									<meta itemprop="availability" content="http://schema.org/OutofStock" />
						
					<?php	} else if(!$showAffiliateProduct){ $skipMrp = true;?>
						<!-- out of stock start-->
						<span class=" product-offer-price bold flt">Out of Stock</span>
			<meta itemprop="availability" content="http://schema.org/OutofStock" />
						

			<?php } } if($product->getDiscountAmount()>0 && $product->getInventoryFlag()==true) {?>
			<span class="rp product-mrp-price flt"><?= number_format($product->getMrp())?></span>
			<?php }?>



			</div>
			<div class="col-sm-3"><div class="buy-gn-logo"></div></div>
			<?php if($buyUrl!=='#') { ?>
			<div class="col-sm-3 overflowhidden buy-button text-right"><button class="v-align-middle btn-color">Buy Now</button></div> <?php }?>
		</a>
	</div>
		<meta itemprop="priceCurrency" content="INR" />
		
		
		<?php 
if(isset($priceArray) &&  $priceScema =='N') {
foreach($priceArray as $price=>$affiliatename)
{
	if(strpos($affiliatename,',')!== false)
	{
		$affiliatename1 = strtok($affiliatename, ',');
		while($affiliatename1 !== false)
		{
			if(isset($priceAfiiliateArray[$affiliatename1]))
			{
				$test=$priceAfiiliateArray[$affiliatename1];
				unset($affiliateProductOffer);
				foreach($test as $key1=>$value1)
				{
					if($key1=="price")
						$affiliateProductPrice=$value1;
					
				}
				if($priceScema == 'N'){
			
	?>		
	<meta itemprop="price" content="<?=$affiliateProductPrice;?>">
	<meta itemprop="availability" content="http://schema.org/InStock" />
	<?php $priceScema = 'Y'; } 
	$affiliatename1 = strtok( ','); } else {  $affiliatename1 = strtok( ','); continue; } 	}//while ends
	}else {
	if(isset($priceAfiiliateArray[$affiliatename]))
	{
		$test=$priceAfiiliateArray[$affiliatename];
		unset($affiliateProductOffer);
		foreach($test as $key1=>$value1)
		{
			if($key1=="price")
				$affiliateProductPrice=$value1;
		}
	if($priceScema == 'N')
				{ ?>
				<meta itemprop="price" content="<?=$affiliateProductPrice;?>">
				 <meta itemprop="availability" content="http://schema.org/InStock" />
				<?php 
				$priceScema = 'Y';
				} ?>
				
				
	
<?php }} } }?>
		
		
		
	</div>
	<?php  //} ?>
	<?php  if(!isset($lowestaffiliate)  ) { ?>
	<!--<div class="product-ship-tab overflowhidden">
	<?php if($product->getAutoGc() && $product->getDiscountAmount()>0) {?>
			<div class="flt text-center bord">You Save<br/><span class="rp"><?=number_format($product->getDiscountAmount())?></span>
			(<?=$product->getDiscountPercent()?>%) </div>
	<?php } ?>	
	<?php if($product->getShippingPrice()>0) {
								$shippingPrice = $product->getShippingPrice();
	?>
	<div class="flt text-center bord"><span class="rp"><?=number_format($product->getShippingPrice())?></span> </div>
	<?php }else { ?>	
			<div class="flt text-center bord">Free <br/>Shipping </div>
	<?php } ?>	
	<?php if(($product->getDiscountedPrice()>=3000) || ($product->getDiscountedPrice()==0 && $product->getPrice()>=3000)) {?>	
			<div class="flt text-center">EMI Starting at <span class="rp"><?=($product->getDiscountedPrice()>0)?number_format(round($product->getDiscountedPrice()/12)):number_format(round(($product->getPrice()+$shippingPrice)/12))?></span> </div>
	<?php }?>		
	</div> -->
	
	<!--div class="product-del overflowhidden">
		<div class="delivery-info">Cash on Delivery Available <span class="gray">(On Select Pincodes)</span></div>
	</div -->
	<?php } ?>

	<?php 
	if(!$showAffiliateProduct && $product->getOfferText()!="" && $product->getInventoryFlag()==true) {?>
                	<div class="product-offer-text overflowhidden">
						<ul>
							<li><?=handleStr($product->getOfferText())?></li>
						</ul>
	</div> 
					<?php  } ?>

</div>


<!-- buy at sponsored start -->
<?php 
if(isset($lowestaffiliate))
{
	$lowestafname  =$lowestaffiliate['afname'];
	unset($priceAfiiliateArray[$lowestafname]);
}
?>
<section>
<?php 
if(isset($priceArray)) {
foreach($priceArray as $price=>$affiliatename)
{
	if(strpos($affiliatename,',')!== false)
	{
		$affiliatename1 = strtok($affiliatename, ',');
		while($affiliatename1 !== false)
		{
			if(isset($priceAfiiliateArray[$affiliatename1]))
			{
				$test=$priceAfiiliateArray[$affiliatename1];
				unset($affiliateProductOffer);
				foreach($test as $key1=>$value1)
				{
					if($key1 == "name")
						$affiliateProductName=$value1;
					if($key1=="url")
						$affiliateProductUrl=$value1;
					if($key1=="price")
						$affiliateProductPrice=$value1;
					if($key1=="offer")
						$affiliateProductOffer=$value1;
					if($key1=="mrp")
						$affiliateProductMrp=$value1;
				}
				$eventactionbuyat="click";
				$eventCategorybuyat=$affiliatename1."|gnshop|mweb|pdp|buyat";
				$eventLabelbuyat=$productid."|".$productname."|".$affiliateProductPrice;
				$cssclassaff = strcasecmp($affiliatename1,"2GUD") == 0?"toogud":$affiliatename1;
			
	?>		
	<div class="affiliate-section countryblock <?=strtolower($cssclassaff)?>">
		<div class="buyatamazon">Buy At (sponsored) </div>
		<div class="oveflowhidden margin-10 table">
			<div class="table-cell pricetab bold">
				<span class="rp"> <?=number_format($affiliateProductPrice)?></span>
				
			</div>
			<div class="table-cell pricetabsecond">
				<div class="table">
					<div class="table-cell brand-logo">
						<span class="brand-logo"></span> 
					</div>
					<div class="table-cell text-center">
						<a class="buy-button-affiliate" target="_blank" 
						href="<?=$affiliateProductUrl?>"  
						data-ga-track="<?=$eventCategorybuyat?>##<?=$eventactionbuyat?>##<?=$eventLabelbuyat?>##0">Buy Now</a>
					</div>
				</div>
			</div>
		</div>	
		<?php if(strcasecmp($affiliatename1,"croma") === 0) { ?>
		<div class="buycashback"><div class="cromaoffer"> Cashbacks upto <span class="rp"></span>3000 | No Cost EMI Options</div> </div>
		<?php } ?>
		<?php if(isset($affiliateProductOffer) && $affiliateProductOffer != 0) { ?>
			<div class="buycashback"><div class="flt"> Includes <span class="rp"></span><?=$affiliateProductOffer?> Cashback</div>
			</div>
							<?php } ?>											 
	</div>
	<?php $affiliatename1 = strtok( ','); } else {  $affiliatename1 = strtok( ','); continue; } 	}//while ends
	}else {
	if(isset($priceAfiiliateArray[$affiliatename]))
	{
		$test=$priceAfiiliateArray[$affiliatename];
		unset($affiliateProductOffer);
		foreach($test as $key1=>$value1)
		{
			if($key1 == "name")
				$affiliateProductName=$value1;
			if($key1=="url")
				$affiliateProductUrl=$value1;
			if($key1=="price")
				$affiliateProductPrice=$value1;
			if($key1=="offer")
				$affiliateProductOffer=$value1;
			if($key1=="mrp")
				$affiliateProductMrp=$value1;
			if($key1 =="afpname")
				$afprdctName=$value1;
			if($key1 =="offer" && $value1 !== null)
			    $offerAffText = $value1;
			    
		}
		$eventaction="click";
		$eventCategory=$affiliatename."|gnshop|mweb|pdp|buyat";
		$eventLabel=$productid."|".$productname."|".$affiliateProductPrice;
		$cssclassaff = strcasecmp($affiliatename,"2GUD") == 0?"toogud":$affiliatename;
	 
?>

	<div class="affiliate-section countryblock <?=strtolower($cssclassaff)?>">
		
		<div class="buyatamazon">Buy At(sponsored)</div>
		<?php if($affiliatename == "UAG") {?>
		<div class="buyatamazon" style="background: none;text-transform: none;font-size: 16px;"><?=$afprdctName?></div>
		<?php } ?>
		<div class="oveflowhidden margin-10 table">
			<div class="table-cell pricetab bold">
			<?php if($affiliatename == "UAG") {?>
			<span class="rp"> <?=number_format($affiliateProductPrice)?></span>		
				<?php }else {?>
				 
				<span class="rp"> <?=number_format($affiliateProductPrice)?></span>				
			 
				<?php }?> 
				
				<?php 
				 if(isset($affiliateProductMrp) && $affiliateProductMrp!== 0 && $affiliateProductMrp!=="") {?>
				<span class="rp pricemrp display-inline"><?=$affiliateProductMrp?></span>
				<?php } ?>
			</div>
			
			<div class="table-cell pricetabsecond">
				<div class="table">
					<div class="table-cell brand-logo">
						<span class="brand-logo"></span> 
					</div>
					<div class="table-cell text-center">
						<a class="buy-button-affiliate" target="_blank" 
						href="<?=$affiliateProductUrl?>"  
						data-ga-track="<?=$eventCategory?>##<?=$eventaction?>##<?=$eventLabel?>##0">Buy Now</a>
					</div>
				</div>
			</div>
		</div>
		<?php if(isset($offerAffText)) {?>
		<div class="buycashback"><div class="cromaoffer"> <?php echo $offerAffText; ?></div> </div>
		<?php } ?>
		<?php if(strcasecmp($affiliatename,"croma") === 0) { ?>
		<div class="buycashback"><div class="cromaoffer"> Cashbacks upto <span class="rp"></span>3000 | No Cost EMI Options</div> </div>
		<?php } ?>
			</div> 
		<?php if(isset($affiliateProductOffer) && $affiliateProductOffer != 0) { ?>
			<div class="buycashback"><div class="flt"> Includes <span class="rp"></span><?=$affiliateProductOffer?> Cashback</div>
			</div>
							<?php } ?>	
		 									 
	</div>
<?php 
} 
} 
}
}
?>






<?php 
if(isset($recommendedData) && sizeof($recommendedData) >0)
{
    for($i=0;$i<sizeof($recommendedData);$i++)
{	
    $recomaffname=$recommendedData[$i]['AFF_NAME'];
    $primarytext=$recommendedData[$i]['Primary_Text'];
    $logoUrl=$recommendedData[$i]['logo'];
    $secondarytext=$recommendedData[$i]['Secondary_text'];
    $lpu=$recommendedData[$i]['LPU'];
    $affiliateParamArray=array("productname"=>$recomaffname,"price"=>'NA',"producturl"=>$lpu,"pagename"=>"pdp","widget"=>"recommended");
    $affiliateLandingurl=AffiliateUrlCreator::createAffiliateUrl($recomaffname,$affiliateParamArray);


?>

<div class="affiliate-section countryblock gernal">
		<div class="buyatamazon">Recommended Product</div>
		<div class="oveflowhidden margin-10 table">
			<div class="table-cell pricetab bold" style="vertical-align:middle;">
				<span class="display-inline" 
				style="line-height:20px; font-size:14px; font-weight:100; padding-top:5px;"> 
				<b style="font-size:16px;"><?php echo $primarytext?></b><br/> <?php echo $secondarytext?></span>
				 
			</div>
			
			<div class="table-cell pricetabsecond">
				<div class="table">
					<div class="table-cell brand-logo">
						<span class="brand-logo" style="background-image:url(<?=$logoUrl?>)"></span> 
					</div>
					<div class="table-cell text-center">
						<a class="buy-button-affiliate" target="_blank" 
						href="<?=$affiliateLandingurl?>"  
						>Buy Now</a>
					</div>
				</div>
			</div>
		</div>	
	</div>
	<?php }
}
	?>
		<!-- Freedom day sale -->
<?php  
/*
$validtill = "2020-08-12 00:00:00";
$todadate=date("Y-m-d H:i:s");
if($validtill > $todadate)
{

$affiliateParamArray=array("productname"=>"Amazon","price"=>'NA',"producturl"=>"https://www.amazon.in/b?node=5731634031","pagename"=>"pdp","widget"=>"buyat");
$affiliateLandingurl=AffiliateUrlCreator::createAffiliateUrl("Amazon",$affiliateParamArray);
 
?>

<div class="affiliate-section countryblock amazon">
		<div class="buyatamazon">Recommended Product</div>
		<div class="oveflowhidden margin-10 table">
			<div class="table-cell pricetab bold" style="vertical-align:middle;">
				<span class="display-inline" 
				style="line-height:20px; font-size:14px; font-weight:100; padding-top:5px;"> 
				<b style="font-size:16px;">Freedom Sale</b><br/> Up to 65% OFF</span>
				 
			</div>
			
			<div class="table-cell pricetabsecond">
				<div class="table">
					<div class="table-cell brand-logo">
						<span class="brand-logo"></span> 
					</div>
					<div class="table-cell text-center">
						<a class="buy-button-affiliate" target="_blank" 
						href="<?=$affiliateLandingurl?>"  
						>Buy Now</a>
					</div>
				</div>
			</div>
		</div>	
	</div>
	<?php } */ ?>	
	<?php /*?>
<?php   
$affiliateParamArray=array("productname"=>"Amazon","price"=>'NA',"producturl"=>"https://www.amazon.in/mobile-phones/b/?ie=UTF8&node=1389401031","pagename"=>"pdp","widget"=>"recommended");
$affiliateLandingurl=AffiliateUrlCreator::createAffiliateUrl("Amazon",$affiliateParamArray);
 
?>

<div class="affiliate-section countryblock amazon">
		<div class="buyatamazon">Recommended Product</div>
		<div class="oveflowhidden margin-10 table">
			<div class="table-cell pricetab bold" style="vertical-align:middle;">
				<span class="display-inline" 
				style="line-height:20px; font-size:14px; font-weight:100; padding-top:5px;"> 
				<b style="font-size:16px;">Best Selling Smartphones:</b><br/>EMI starts @<span class="rp">4,999</span></span>
				 
			</div>
			
			<div class="table-cell pricetabsecond">
				<div class="table">
					<div class="table-cell brand-logo">
						<span class="brand-logo"></span> 
					</div>
					<div class="table-cell text-center">
						<a class="buy-button-affiliate" target="_blank" 
						href="<?=$affiliateLandingurl?>"  
						>Buy Now</a>
					</div>
				</div>
			</div>
		</div>	
	</div> */ ?>
	<!-- Norton Campaign -->
	 
	<?php 
	/*
	$categoryKey= str_replace(" ","_",$categoryname);
	$categoryKey=$categoryKey."_".$primarycategoryId;
	$categoryValue = $GLOBALS['categoryMap'][$categoryKey];	
	$affiliateN="amazon";
	$nortontext = "Amazon Great India Festival";
	$nortonprice = "";
	$nortonurl="https://www.amazon.in";
	
if(isset($nortontext))
{	
	$affiliateParamArray=array("productname"=>$nortontext,"price"=>"NA","producturl"=>$nortonurl,"pagename"=>"pdp","widget"=>"recommended");
	$affiliateLandingurl=AffiliateUrlCreator::createAffiliateUrl($affiliateN,$affiliateParamArray);
   ?>
<div class="affiliate-section countryblock <?=$affiliateN?>">
		<div class="buyatamazon">Recommended Product</div>
		<div class="oveflowhidden margin-10 table">
			<div class="table-cell pricetab bold" style="vertical-align:middle;">
				<span class="display-inline" style="line-height:20px; font-size:13px; font-weight:100; padding-top:5px;"> 
				<b style="font-size:16px;">
				<?php echo $nortontext; ?></b> <?php echo $nortonprice; ?></span>
				 
				 
			</div>
			
			<div class="table-cell pricetabsecond" style="width:18%">
				<div class="table">
					<div class="table-cell brand-logo">
						<span class="brand-logo"></span> 
					</div>
					<div class="table-cell text-center">
						<a class="buy-button-affiliate" target="_blank" 
						href="<?=$affiliateLandingurl?>"  
						>Buy Now</a>
					</div>
				</div>
			</div>
		</div>	
	</div> 
<?php }

 
	
?>
<?php 
$affiliateParamArray=array("productname"=>"Amazon","price"=>'NA',"producturl"=>"https://www.amazon.in/gp/goldbox","pagename"=>"pdp","widget"=>"recommended");
$affiliateLandingurl=AffiliateUrlCreator::createAffiliateUrl("amazon",$affiliateParamArray);
?>
<div class="affiliate-section countryblock amazon">
		<div class="buyatamazon">Recommended Product</div>
		<div class="oveflowhidden margin-10 table">
			<div class="table-cell pricetab bold" style="vertical-align:middle;">
				<span class="display-inline" style="line-height:20px; font-size:13px; font-weight:100; padding-top:5px;"> 
				<b style="font-size:16px;">
				Hot Deals</b> <br>Starting  @ <span class="rp">99</span></span>
				 
				 
			</div>
			
			<div class="table-cell pricetabsecond" style="width:18%">
				<div class="table">
					<div class="table-cell brand-logo">
						<span class="brand-logo"></span> 
					</div>
					<div class="table-cell text-center">
						<a class="buy-button-affiliate" target="_blank" 
						href="<?=$affiliateLandingurl?>"  
						>Buy Now</a>
					</div>
				</div>
			</div>
		</div>	
	</div>
<? */ ?>
<?php 
 /*
$affiliateParamArray=array("productname"=>"ACs","price"=>'NA',"producturl"=>"https://www.amazon.in/b/ref=s9_acss_bw_cg_lasaSBC_3a1_w?node=1380263031","pagename"=>"pdp","widget"=>"_buyat-12");
$affiliateLandingurl=AffiliateUrlCreator::createAffiliateUrl("amazon",$affiliateParamArray);

?>
<div class="affiliate-section countryblock amazon">
		<div class="buyatamazon">Recommended Product</div>
		<div class="oveflowhidden margin-10 table">
			<div class="table-cell pricetab bold" style="vertical-align:middle;">
				<span class="display-inline" style="line-height:20px; font-size:13px; font-weight:100; padding-top:5px;"> <b style="font-size:13px;">
				Home Appliances Store</b> <br>Starting  @ <span class="rp">999/Month</span></span>
				 
			</div>
			
			<div class="table-cell pricetabsecond" style="width:18%">
				<div class="table">
					<div class="table-cell brand-logo">
						<span class="brand-logo"></span> 
					</div>
					<div class="table-cell text-center">
						<a class="buy-button-affiliate" target="_blank" 
						href="<?=$affiliateLandingurl?>"  
						>Buy Now</a>
					</div>
				</div>
			</div>
		</div>	
	</div>
  */ ?>
<?php 
 /*
$affiliateParamArray=array("productname"=>"ACs","price"=>'NA',"producturl"=>"https://www.flipkart.com/air-conditioners/pr?sid=j9e%2Cabm%2Cc54&p%5B%5D=facets.fulfilled_by%255B%255D%3DFlipkart%2BAssured","pagename"=>"pdp","widget"=>"_buyat-12");
$affiliateLandingurl=AffiliateUrlCreator::createAffiliateUrl("Flipkart",$affiliateParamArray);

?>
<div class="affiliate-section countryblock flipkart">
		<div class="buyatamazon">Recommended Product</div>
		<div class="oveflowhidden margin-10 table">
			<div class="table-cell pricetab bold" style="vertical-align:middle;">
				<span class="display-inline" style="line-height:20px; font-size:13px; font-weight:100; padding-top:5px;"> <b style="font-size:15px;">
				Best-Selling AC's</b> Starting @ <span class="rp">1375/Month</span></span>
				 
			</div>
			
			<div class="table-cell pricetabsecond" style="width:18%">
				<div class="table">
					<div class="table-cell brand-logo">
						<span class="brand-logo"></span> 
					</div>
					<div class="table-cell text-center">
						<a class="buy-button-affiliate" target="_blank" 
						href="<?=$affiliateLandingurl?>"  
						>Buy Now</a>
					</div>
				</div>
			</div>
		</div>	
	</div> */ ?>
	
<!--  /**NORTON ***/  -->	
<?php 
/*
$affiliateParamArray=array("productname"=>"Norton","price"=>'NA',"producturl"=>"https://www.kqzyfj.com/click-100112161-13681578","pagename"=>"pdp","widget"=>"_buyat-12");
$affiliateLandingurl=AffiliateUrlCreator::createAffiliateUrl("Norton",$affiliateParamArray);

?>
<div class="affiliate-section countryblock norton">
		<div class="buyatamazon">Recommended Product</div>
		<div class="oveflowhidden margin-10 table">
			<div class="table-cell pricetab bold" style="vertical-align:middle;">
				<span class="display-inline" style="line-height:20px; font-size:14px; font-weight:100; padding-top:5px;"> <b style="font-size:16px;">Norton Antivirus</b><br/> Starting @ <span class="rp">899</span></span>
				 
			</div>
			
			<div class="table-cell pricetabsecond">
				<div class="table">
					<div class="table-cell brand-logo">
						<span class="brand-logo"></span> 
					</div>
					<div class="table-cell text-center">
						<a class="buy-button-affiliate" target="_blank" 
						href="<?=$affiliateLandingurl?>"  
						>Buy Now</a>
					</div>
				</div>
			</div>
		</div>	
	</div>

	*/?>

<!-- SquareTale -->
<?php 
$affiliateParamArray=array("productname"=>"SquareTale","price"=>'NA',"producturl"=>"https://squarepanda.app.link/gdnwros","pagename"=>"pdp","widget"=>"_buyat-12");
$affiliateLandingurl=AffiliateUrlCreator::createAffiliateUrl("Square",$affiliateParamArray);

?>
<?php /*
<div class="affiliate-section countryblock square">
<a href="<?=$affiliateLandingurl?>" target="_blank">
		<div class="buyatamazon">Recommended Product (Sponsored)</div>
		
		<div class="oveflowhidden margin-10 table">
			<div class="table-cell pricetab bold" style="vertical-align:middle; width:81%; padding-left:4px;">
				<span class="display-inline" style="line-height:16px; font-size:12px; font-weight:100; padding-top:5px;"> 
				Help Your Child! Learn From Home<br/> <b style="font-size:16px; background:red; color:#fff; padding: 5px 10px;display:block;" >
				Download the APP! </b></span>
				 
			</div>
			
			<div class="table-cell pricetabsecond" style="width: 18%;">
				<div class="table">
					<div class="table-cell brand-logo">
						<span class="brand-logo"></span> 
					</div>
 					 
				</div>
			</div>
		</div>	
		</a>
	</div>
	*/?>
</section>
<?php if(isset($affiliateBannerActive8) && $affiliateBannerActive8==='Y') { ?>
	<div class="seealso-sponsored countryblock">
	<h2 class="heading bold text-left"> Promoted</h2>
	<!-- Promoted 8 -->
	<a class="display-block  widgets-banner " <?=$promonofollowtag8?> 
	   data-ga-track="<?=$promoEventcat8?>##<?=$promoEventaction8?>##<?=$promoEventlabel8?>##0"  target="_blank" 
	href="<?php if(isset($promoBannerurl8)) { echo $promoBannerurl8; }?>"><img class="img lazy" alt=<?php if(isset($promoBannertext8)) echo $promoBannertext8; ?> 
	data-original="<?php if(isset($promoImgpath8)){ echo $promoImgpath8; }else {?>/mobile/img/cashback-app-Banner.jpg<?php }?>"/></a>
	
	</div>	
<?php } ?>
<section>
  <div class="text-ceter display-block overflowhidden clr adcode">
  <?php if(!isset($affiliateBannerActive7) || $affiliateBannerActive7==='N') { 
	 
	?>
	 	 <!-- GadgetsNow_Mweb_Shop_Mrec -->
<?php include __DIR__ . "/../common/Merc-banner.phtml"; ?>
	<?php } else {?>
	<div class="seealso-sponsored countryblock">
	<h2 class="heading bold text-left"> Promoted </h2>
	<!-- Promoted 7 -->
	<a class="display-block  widgets-banner " <?=$promonofollowtag7?> 
	   data-ga-track="<?=$promoEventcat7?>##<?=$promoEventaction7?>##<?=$promoEventlabel7?>##0"  target="_blank" 
	href="<?php if(isset($promoBannerurl7)) { echo $promoBannerurl7; }?>"><img class="img lazy" alt=<?php if(isset($promoBannertext7)) echo $promoBannertext7; ?> 
	data-original="<?php if(isset($promoImgpath7)){ echo $promoImgpath7; }else {?>/mobile/img/cashback-app-Banner.jpg<?php }?>"/></a>
	
	</div>	
	<?php } ?>
	</div>
 </section>

<!-- key feature start -->
 <?php 
 if(isset($GLOBALS['general'][$productid])){
 if($product->getKeyFeatures()!=null) { ?>
<section>
	<div class="keyfeature">
		<h2 class="heading bold">Key Features</h2>
		<ul class="keyfeatures-list">
<?php 
	foreach ($product->getKeyFeatures() as $keyFeature) {
		echo $keyFeature;
		} 
?>		
		</ul>
	</div>
</section>
<?php } }?>
<!-- buy at sponsored end -->



<!-- key feature start -->
 <?php 
 
 if($product->getKeyFeatures()!=null) {
if(!isset($GLOBALS['general'][$productid])){
 ?>
 
<section>
	<div class="keyfeature">
		<h2 class="heading bold">Key Features</h2>
		<ul class="keyfeatures-list">
<?php 
	foreach ($product->getKeyFeatures() as $keyFeature) {
		echo $keyFeature;
		} 
?>		
		</ul>
	</div>
</section>
 <?php } ?>
<?php }?>

<!-- GadgetsNow_Mweb_Shop_Mrec1 -->
<?php include __DIR__ . "/../common/promotedbanner2.phtml"; ?>

<!-- key feature end -->

<?php if($product->getInventoryFlag()==true && $product->getIsComingSoon()==false && $showAffiliateProduct == false) {?>
<div class="check-cod">
  <!-- <p>Check Express Delivery Availability</p>
   <form method="post" name="checkLocationReqForm">
   <input type="hidden" id="add_product_id" value="<?=handleStr($product->getProductId())?>" />
   <input type="hidden" name="ga_pin" value="<?php echo $categoryname.'|'.$productCategoryId.'|'. $productid.'|'.$productname.'|'.$productprice.'|'.$productShippingPrice ?>" />
	<input type="text" class="checkpin" placeholder="Enter Your Pincode"  value="<?php if(isset($_COOKIE['PINCODE'])){ 	echo htmlspecialchars($_COOKIE['PINCODE']); } ?>" name="pincode" id="pincode" maxlength="6" tabindex="1"/>
	<input type="submit" class="checkpinbutton" value="Check" tabindex="2"/>
	<span id="pincodeinput_error" class="error clr"></span>
   </form>
   <ul class="reponsdata">
   </ul>
    <span class="deliverytime">
								Estimated Delivery by <b id="sladate"></b>.<br/> Order in next <div class='deliverysettime' id="getting-started"></div>.
						</span> -->
   <?php if($product->getFacilityName()!="")
		  {
		      $facilityName = $product->getFacilityName();
	          $invoiceType = $product->getInvoiceType();?>
   <div class="vendor">Seller : <?=$facilityName?>  
<?php if(isset($mrpPrice) && $skipMrp ===false ) {?> <div>MRP <span class="rp"><?=$mrpPrice?></span></div><?php } ?>
</div>
   <?php }  ?>
</div>
<?php } ?>


<div class='us-showing '>
	<div id="amzn-assoc-ad-bfb1846f-b513-43b9-99f3-5aee3e5d222e"></div>
</div>
<?php if(!isset($affiliateBannerActive1) || $affiliateBannerActive1==='N') { ?>
<?php include __DIR__ . "/../common/Merc-banner-2.phtml"; ?> <?php } else{ ?>
<div class="seealso-sponsored countryblock">
	<h2 class="heading bold text-left"> Promoted</h2>
	<!-- Promoted 1 -->
	<a class="display-block  widgets-banner " <?=$promonofollowtag1?> 
	   data-ga-track="<?=$promoEventcat1?>##<?=$promoEventaction1?>##<?=$promoEventlabel1?>##0"  target="_blank" 
	href="<?php if(isset($promoBannerurl1)) { echo $promoBannerurl1; }?>"><img class="img lazy" alt=<?php if(isset($promoBannertext1)) echo $promoBannertext1; ?> 
	data-original="<?php if(isset($promoImgpath1)){ echo $promoImgpath1; }else {?>/mobile/img/cashback-app-Banner.jpg<?php }?>"/></a>
	
	</div>	
	<?php } ?>

<?php 
$tooGuddata = $product->getTooGudAffiliate();
if(isset($gud2products) && $gud2products !== null && sizeof($gud2products) > 0)
{?>
<div class="seealso-sponsored countryblock">
	<h2 class="heading bold">See Also(Refurbished)</h2>
	<div class="productShowBox">
		<ul>
		<?php 
			$maxcounts = 0;
			$amzrecocount=0;
			$paytmrecocount=0;
			
			foreach ($gud2products as $tooGud)
			{				 
				 $name = $tooGud['title'];
				 $price = $tooGud['price'];
				 $imageurl= $tooGud['imageUrl'];
				 $producturl = $tooGud['url'];
				 
				 $affiliateParamArray=array("productname"=>$name,"price"=>$price,"producturl"=>$producturl,"pagename"=>"pdp","widget"=>"2GudSee_Also");
				 $affiliateLandingurl=AffiliateUrlCreator::createAffiliateUrl("2Gud",$affiliateParamArray);
				
				$eventaction="click";
				$eventCategory="2Gud|gnshop|mweb|pdp|seealso";
				$eventLabel=$productid."|".$productname."|".$productPriceForGA;
				$cssclass='toogud';
				
			?>
			<li>
				<a data-ga-track="<?=$eventCategory?>##<?=$eventaction?>##<?=$eventLabel?>##0" target="_blank" rel="nofollow sponsored" href="<?=handleStr($affiliateLandingurl)?>" 
				   class="<?=$cssclass?> ">
					<div class="overflowhidden table">
						<div class="table-cell first-cell spon-img text-center"><img data-original="<?=$imageurl?>" src="https://static.toiimg.com/photo/79837759.cms" class="lazy img"/></div>
						<div class="table-cell second-cell v-align-top text-left">
							<div class="tabletitle bold"><?=$name?></div>
							<?php if(isset($afoffer) && $afoffer != 0) { ?>
							<div class="cashbackdiv overflowhidden">
							<div class="cashback"> Includes <span class="offer-price-ui rp"></span><?=$afoffer?> Cashback</div>
							</div>
							<?php } ?>
					 
							<div class="tableR table">
								<div class="table-cell v-align-top price_tag"><span class="rp">
								<?=number_format($price)?></span></div>
								<div class="table-cell v-align-top logo"><i></i></div>
								<div class="table-cell v-align-top text-right"><small class="buy_btn toogud">BUY</small></div>
							</div>
						 
						</div>
					</div>
				</a>
			</li>
			<?php } ?>
			 
		</ul>
	</div>
</div>
<?php } ?>

<!-- see also sponsored start -->
 <?php 
 
 if((isset($affiliateRecoProds) && sizeof($affiliateRecoProds) > 0)) 
        { 


?>
<div class="seealso-sponsored countryblock">
	<h2 class="heading bold">See Also (Sponsored)</h2>
	<div class="productShowBox">
		<ul>
		<?php 
			$maxcounts = 0;
			$amzrecocount=0;
			$paytmrecocount=0;
			
			foreach ($affiliateRecoProds as $affiliateProd)
			{
				if($maxcounts == 4)
					 break; 
				$affname=$affiliateProd['affiliate'];
				unset($afoffer);
				unset($discount);unset($listprice);
				if(isset($affiliateProd['cashback']) && $affiliateProd['cashback'] != "0")
				{
					$afoffer = $affiliateProd['cashback'];
				}	 
				$amzrecocount++;
				$paytmrecocount++;
				$maxcounts=$maxcounts+1;
				$affPName = $affiliateProd['title'];
				$price = $affiliateProd['price'];
				$landingUrl = $affiliateProd['url'];
				try {
				$listprice = $affiliateProd['listPrice'];
				if($listprice !== $price)
				{
					$discount=(($listprice-$price)/$listprice)*100;
				}else 
					$listprice=0;
				}catch(Exception $exx)
				{
					$listprice=0;
				}
				$affiliateParamArray=array("productname"=>$affPName,"price"=>$price,"producturl"=>$landingUrl,"pagename"=>"pdp","widget"=>"seealso");
				$affiliateLandingurl=AffiliateUrlCreator::createAffiliateUrl($affname,$affiliateParamArray);
				
				$eventaction="click";
				$eventCategory="gnshop|mweb|seealso";
				$eventLabel=$productid."|".$productname."|".$productPriceForGA;
				$cssclass=strtolower($affname);
				$offerprice=$price;
				if(strcasecmp($affname,"AMAZON")==0)
				{
					// stop amazon
					//if($enableAmazon == "N")
					
					$landingUrl = $affiliateLandingurl;
				}
				if($affname=="PAYTM")
				{
					continue;
					if(strpos($landingUrl,"-pdp")!==false)
					{
						$landingUrl = str_replace("-pdp","",$landingUrl);
						$landingUrl = str_replace("https://paytmmall.com","https://paytm.com/shop/p", $landingUrl);
					}else
					{
						$landingUrl = str_replace("https://paytmmall.com","", $landingUrl);
					}
					
					$landingUrl = rawurlencode($landingUrl);
				 
					if(!isset($afoffer))
					{
					 $afoffer= 0;
					}
					$offerprice = $price-$afoffer;
					 
					$landingUrl = $affiliateLandingurl;
				}
				if($affname=="TATACLIQ")
				{
					$landingUrl = rawurlencode($landingUrl);
					$seeutmcampaign="mweb_gnshop_seealso_pdp";
					$nameurl = str_replace(" ","_",$affPName);
					$offerprice = $price;
					$landingUrl = $affiliateLandingurl;
				}
				elseif(strcasecmp($affname, "Vijaysales")==0)
				{
					continue;
					$affiliateParamArray=array("productname"=>$affPName,"price"=>$price,"producturl"=>$landingUrl,"pagename"=>"pdp","widget"=>"seealso");
					$affiliateLandingurl=AffiliateUrlCreator::createAffiliateUrl($affname,$affiliateParamArray);
					$eventaction="click";
					$eventCategory="gnshop|mweb|seealso";
					$eventLabel=$productid."|".$productname."|".$productPriceForGA;
					$cssclass=strtolower($affname);
					$offerprice=$price;
					if(strcasecmp($affname,"Vijaysales")==0)
					{
						$landingUrl = $affiliateLandingurl;
					}	
				}				
				if(strcasecmp($affname,"FLIPKART") === 0)
				{
					if(!isset($afoffer))
					{
					 $afoffer= 0;
					}
					$offerprice = $price-$afoffer;
				}
					$landingUrl = $affiliateLandingurl;
				
			?>
			<li>
				<a data-ga-track="<?=$eventCategory?>##<?=$eventaction?>##<?=$eventLabel?>##0" target="_blank" rel="nofollow sponsored" href="<?=handleStr($landingUrl)?>" 
				   class="<?=$cssclass?>">
					<div class="overflowhidden table">
						<div class="table-cell first-cell spon-img text-center"><img data-original="<?=$affiliateProd['imageUrl']?>" src="https://static.toiimg.com/photo/79837759.cms" class="lazy img"/></div>
						<div class="table-cell second-cell v-align-top text-left">
							<div class="tabletitle bold"><?=$affiliateProd['title']?></div>
							<?php if(isset($afoffer) && $afoffer != 0) { ?>
							<div class="cashbackdiv overflowhidden">
							<div class="cashback"> Includes <span class="offer-price-ui rp"></span><?=$afoffer?> Cashback</div>
							</div>
							<?php } ?>
							 
							<div class="tableR table">
								<div class="table-cell v-align-top price_tag"><span class="rp">
								<?=number_format($offerprice)?></span></div>
								<div class="table-cell v-align-top logo logoPaytm"><i></i></div>
								<div class="table-cell v-align-top text-right"><small class="buy_btn paytm">BUY</small></div>
							</div>
							<div class="cashbackdiv overflowhidden" style="background: none">
							<?php if(isset($listprice) && $listprice>0) {?>
								<span class="pricemrp display-inline rp"><?=number_format($listprice)?></span>
								<?php } ?>
								<?php if(isset($discount) && $discount >0) {?>
								<span class="display-inline"><div class="discount-offer"><?=round($discount)?>% OFF</div></span>
								<?php }?>
							</div>
						</div>
					</div>
				</a>
			</li>
			<?php } ?>
			 
		</ul>
	</div>
</div>
<!-- see also sponsored end -->
<?php }  ?>
	 <section>
	<div class="ctn-ads-pdp">
		<div id="div-clmb-ctn-1530" data-slot="256682" data-position="1530" data-section="0" style="height: 250px" class="colombia"></div>
	</div>
 </section>

<?php if( null!= $product->getSimilarProductIds()  && sizeof($product->getSimilarProductIds()) > 0) {?>

<div class="product-variant overflowhidden">
	<div class="head bold">Color Variants ( Selected - <span><?=$color?></span> )</div>
	<ul class="text-center col-sm-12">
			<li class="active" >
						<a href="#">
							<div class="variant-img">
								<img class="img lazy" src="https://static.toiimg.com/photo/79837759.cms" data-original="<?=handleStr($product->getProductImageUrl())?>"/>
							</div>
							<div class="variant-text"><?=$color?></div>
					</a>
					</li>
	<?php foreach ($product->getSimilarProductIds() as $key=>$value) { ?>
				<li>
						<a href="<?=$value?>" itemprop="isSimilarTo">
							<div class="variant-img">
								<img class="img lazy" data-original="<?=str_replace(handleStr($product->getProductId()),$key,$product->getSimilarProductImg())?>"/>
							</div>
							<div class="variant-text"><?= $colorArray[$key]?></div>
					</a>
					</li>
					<?php } ?>
	</ul>
</div>
<?php } ?>
</section>
<!-- ctn ads start -->
<!-- Promoted banner 1 -- adcode -2 -->
<!-- ctn ads end -->
<!--  Promotional Product -->
 
 

<!-- compare start -->
<?php /* compare URL commented <section>
	<?php  if(isset($compareUrl)) {?>
	<div class="compareSelection">
		<div class="compareTitle">Compare <b><?=$productname?></b> with</div>
		<a href="<?php echo $compareUrlPrefix; ?>" class="compareSearch display-block">Type Product Name</a>
		<div class="comparepdpform"></div>
	</div>
	<a class="compareProduct text-center display-block" data-ctg="<?=$primarycategoryId?>" data-product="<?=$product->getProductId();?>" href="#">Add To Compare</a>  
	<?php }
	//if(!$showAffiliateProduct && $product->getOfferText()!="" && $product->getInventoryFlag()==true) {?>
</section> */ ?>
<!-- compare end -->
  

<!-- ctn ads start -->

<!-- ctn ads end -->

<!-- PriceFilter start -->
	<?php  if(isset($priceFiltersRange) && sizeof($priceFiltersRange)>0 ) {
	 $filterWidgetName = $categoryname." under" 
	?>
<section>
<div class="pdp-pricefiltertab display-block overflowhidden  pricefilterView">
	<h2 class="heading bold text-left"><?= $filterWidgetName ?></h2>
	<div class="pricelist">
	<?php foreach ($priceFiltersRange as $price => $urlValue) { 
		 $filtergaEvent = "gnshop_mweb_pdp_Gadgetunder##".$productCategoryId."|".$productid."|".$productname."##under".$price."##0";
		 ?>
		<a  data-ga-track="<?=$filtergaEvent?>"  href="<?=$urlValue?>">
			<span>under</span>
			<span class="rp"><?=$price?> </span>
		</a>
	<?php }?>
	</div>
</div>
</section>
	<?php }?>
<!-- PriceFilter end -->

<!-- Full Specifications  start -->
<?php if($product->getStandardFeatures()!=null ) { ?>
<section>
	<div class="full-specifications ">
		<h2 class="heading bold"><?=$productname?>  Full Specifications </h2>
		
		<div class="overflowhidden text-justify gad_spec">
		<?php	if($product->getStandardFeatures()!=null ) {
					$displayFeature = true;
				if($primarycategoryId=='10021' ||$primarycategoryId=='10022' ||$primarycategoryId=='10039' ) 
				{  $displayFeature = true;?>
			<!-- start new -->
			<div class="specs">
					<h4>summary</h4>
						<ul class="list1" style="display: block;">
						   <?php if(isset($internalMem) && 'NA'!== $internalMem) { ?>
							<li><strong>Internal Memory</strong><span><?=$internalMem?></span></li>
						<?php }	if(isset($ram) && 'NA'!== $ram) { ?>
							 <li><strong>RAM</strong><span><?=$ram?></span></li>
						<?php }	if(isset($display) && 'NA'!== $display) { ?>
							<li><strong>Display</strong><span><?=$display?></span></li>
						<?php }	if(isset($battery) && 'NA'!== $battery) { ?>
							<li><strong>Battery</strong><span><?=$battery?></span></li>
						<?php }	if(isset($processorType) && 'NA'!== $processorType) { ?>
							<li><strong>Performance</strong><span><?=$processorType?></span></li>
						<?php }	if(isset($primaryCamera) && 'NA'!== $primaryCamera) { ?>
							<li><strong>Primary Camera</strong><span><?=$primaryCamera?></span></li>							
						<?php }	 if(isset($secondaryCamera) && 'NA'!== $secondaryCamera) { ?>
							<li><strong>Secondary Camera</strong><span><?=$secondaryCamera?></span></li>
						<?php } ?>
						</ul>
			</div>	
			<!-- end new -->
		<?php }
			$count=0;
		foreach ($product->getStandardFeatures() as $key=>$value){ 
 					$ulCalss = "display:none";
 					$h4Class ="collapsed";
					
					 
				if($displayFeature == true && $count<2)
					{
					$ulCalss = "display: block";
					$h4Class ="";
					}
				?>
				<!-- start new -->
			<div class="specs">
					<h4 class="<?=$h4Class?>"><?=$key?></h4>
						<ul class="list1" style="<?=$ulCalss?>">
						   <?php foreach ($value as $k => $v) { ?>
								<li><strong><?=$k?></strong>
								<span><?=$v?></span></li>
							<?php }?>
						</ul>
				</div>
			<!-- end new -->
		<?php $count = $count+1; } } ?>
			
		</div>
		
		<!--
		<div class="specifications-text overflowhidden text-justify gradiant" style="display:none">
			<table width="100%" border="0" cellspacing="0" cellpadding="0" class="">
			   <tbody>
<?php	if($product->getStandardFeatures()!=null ) {
				if($primarycategoryId=='10021' ||$primarycategoryId=='10022' ||$primarycategoryId=='10039' ) { ?>
					<tr class="hide-Summary">
					 <td>SUMMARY</td>
					 <td>
						<dl>
						<?php if(isset($internalMem) && 'NA'!== $internalMem) { ?>
							<dt>Internal Memory</dt>
							<dd><?=$internalMem?></dd>
						<?php }	if(isset($ram) && 'NA'!== $ram) { ?>
							<dt>RAM</dt>
							<dd><?=$ram?></dd>
						<?php }	if(isset($display) && 'NA'!== $display) { ?>
							<dt>Display</dt>
							<dd><?=$display?></dd>
						<?php }	if(isset($battery) && 'NA'!== $battery) { ?>
							<dt>Battery</dt>
							<dd><?=$battery?></dd>
						<?php }	if(isset($processorType) && 'NA'!== $processorType) { ?>
							<dt>Performance</dt>
							<dd><?=$processorType?></dd>
						<?php }	if(isset($primaryCamera) && 'NA'!== $primaryCamera) { ?>
							<dt>Primary Camera</dt>
							<dd><?=$primaryCamera?></dd>
						<?php }	 if(isset($secondaryCamera) && 'NA'!== $secondaryCamera) { ?>
							<dt>Secondary Camera</dt>
							<dd><?=$secondaryCamera?></dd> <?php } ?>
						</dl>
					 </td>
				  </tr>
		<?php }	foreach ($product->getStandardFeatures() as $key=>$value){ ?>
				<tr>
					 <td><?=$key?></td>
					 <td>
						<dl>
							<?php foreach ($value as $k => $v) { ?>
								<?php if(strcasecmp(trim($key), trim($k)) != 0) { ?><dt><?=$k?></dt><?php } ?>
								<dd><?=$v?></dd>
							<?php }?>
						</dl>
					 </td>
				  </tr>
<?php			}
				} ?>
				</tbody>
			</table>


			<div class="readmoretext btn">Read more...</div>
		</div> -->
	</div>
</section>
<?php } ?>
 <section>
	<div class="disclaimer"><span class="info flt">!</span> <span class="infotext flt">Disclaimer: Some of the information on the page is subject to change.</span></div>
</section>
<?php if(null!=$product->getLongDescription() && strlen($product->getLongDescription())>0) {?>
<!-- product summary start -->
<section>
	<div class="product-summary">
		<h2 class="heading bold">Product Summary Of <?=$productname?></h2>
		<div class="summary-text overflowhidden text-justify gradiant">
		<?=handleStr($product->getLongDescription())?>
			<div class="readmoretext btn">Read more...</div>
		</div>
	</div>
</section>
<section>
	<div class="ctn-ads-pdp">
		<div id="div-clmb-ctn-1529" data-slot="256682" data-position="1529" data-section="0" data-cb="adwidgetfun" class="colombia"></div>
	</div>
 </section>
<?php  }?>
<!-- product summary end -->
<div class='us-showing'>
	<div id="amzn-assoc-ad-7edfb381-301e-4911-b376-889197c57a23"></div>
</div>
	
<!--Full Specifications  end -->

<section>
<div class="text-ceter display-block overflowhidden clr adcode us-showing-not">
<?php if(!isset($affiliateBannerActive3) || $affiliateBannerActive3==='N') { 
	 
	?>
		<?php 
		$count = 1;
		include __DIR__ . "/../common/Mercloop.phtml";
	 ?>
 
	<?php } else {?>
	<div class="seealso-sponsored countryblock">
	<h2 class="heading bold text-left"> Promoted </h2>
	<!-- Promoted 3 -->
	<a class="display-block  widgets-banner " <?=$promonofollowtag3?> 
	   data-ga-track="<?=$promoEventcat3?>##<?=$promoEventaction3?>##<?=$promoEventlabel3?>##0"  target="_blank" 
	href="<?php if(isset($promoBannerurl3)) { echo $promoBannerurl3; }?>"><img class="img lazy" alt=<?php if(isset($promoBannertext3)) echo $promoBannertext3; ?> 
	data-original="<?php if(isset($promoImgpath3)){ echo $promoImgpath3; }else {?>/mobile/img/cashback-app-Banner.jpg<?php }?>"/></a>
	
	</div>	
	<?php } ?>
	</div>
 </section>
<section>
<div class="text-ceter display-block overflowhidden clr adcode us-showing-not">
<?php if(!isset($affiliateBannerActive4) || $affiliateBannerActive4==='N') { 
	 
	?>
	<?php } else {?>
	<div class="seealso-sponsored countryblock">
	<h2 class="heading bold text-left"> Promoted </h2>
	<!-- Promoted 4 -->
	<a class="display-block  widgets-banner " <?=$promonofollowtag4?> 
	   data-ga-track="<?=$promoEventcat4?>##<?=$promoEventaction4?>##<?=$promoEventlabel4?>##0"  target="_blank" 
	href="<?php if(isset($promoBannerurl4)) { echo $promoBannerurl4; }?>"><img class="img lazy" alt=<?php if(isset($promoBannertext4)) echo $promoBannertext4; ?> 
	data-original="<?php if(isset($promoImgpath4)){ echo $promoImgpath4; }else {?>/mobile/img/cashback-app-Banner.jpg<?php }?>"/></a>
	
	</div>	
	<?php } ?>
	</div>
 </section>

<!-- Similar Products Wiget -->
<?php if(isset($similarProductJson) && sizeof($similarProductJson)>2) {?>
<?php include __DIR__ . "/../common/SimilarProducts.phtml"; ?>
<?php }?> 
<section>
<div class="text-ceter display-block overflowhidden clr adcode us-showing-not">
<?php if(!isset($affiliateBannerActive5) || $affiliateBannerActive5==='N') { 
	 
	?>
	<?php } else {?>
	<div class="seealso-sponsored countryblock">
	<h2 class="heading bold text-left"> Promoted </h2>
	<!-- Promoted 5 -->
	<a class="display-block  widgets-banner " <?=$promonofollowtag5?> 
	   data-ga-track="<?=$promoEventcat5?>##<?=$promoEventaction5?>##<?=$promoEventlabel5?>##0"  target="_blank" 
	href="<?php if(isset($promoBannerurl5)) { echo $promoBannerurl5; }?>"><img class="img lazy" alt=<?php if(isset($promoBannertext5)) echo $promoBannertext5; ?> 
	data-original="<?php if(isset($promoImgpath5)){ echo $promoImgpath5; }else {?>/mobile/img/cashback-app-Banner.jpg<?php }?>"/></a>
	
	</div>	
	<?php } ?>
	</div>
 </section>

<!-- Hot deals widget -->
 <?php include __DIR__ . "/../common/hotdealsWidget.phtml"; ?>
 <!-- sponsored widgets start -->
<?php include __DIR__ . "/../common/newAffiliate-sponsored.phtml"; ?>
 <!-- News Widget -->
<section>
<div class="text-ceter display-block overflowhidden clr adcode us-showing-not">
<?php if(!isset($affiliateBannerActive6) || $affiliateBannerActive6==='N') { 
	 
	?>
	<?php } else {?>
	<div class="seealso-sponsored countryblock">
	<h2 class="heading bold text-left"> Promoted </h2>
	<!-- Promoted 6 -->
	<a class="display-block  widgets-banner " <?=$promonofollowtag6?> 
	   data-ga-track="<?=$promoEventcat6?>##<?=$promoEventaction6?>##<?=$promoEventlabel6?>##0"  target="_blank" 
	href="<?php if(isset($promoBannerurl6)) { echo $promoBannerurl6; }?>"><img class="img lazy" alt=<?php if(isset($promoBannertext6)) echo $promoBannertext6; ?> 
	data-original="<?php if(isset($promoImgpath6)){ echo $promoImgpath6; }else {?>/mobile/img/cashback-app-Banner.jpg<?php }?>"/></a>
	
	</div>	
	<?php } ?>
	</div>
 </section>

 <?php include __DIR__ . "/../common/sgnPromoted.phtml"; ?>
<?php if(isset($newsListJson)) {?>
<?php $count = 9; include __DIR__ . "/../common/Mercloop.phtml"; ?>
<?php include __DIR__ . "/../common/NewsWidget.phtml"; ?>
<?php } ?> 
 
 
 
 <!-- PROMOTED three -->

 
 <!-- cashify start -->
		 
		<!-- cashify end --> 

<!-- sponsored widgets end -->
<?php $count = 5; include __DIR__ . "/../common/Mercloop.phtml"; ?>
 <!-- Question and Answer start -->
 
				
					
	<section > 
			<div class="question-section adcode">
				<h4 class="heading bold">Customer Questions</h4>
			</div>
			<div class="question-section adcode" >
				<form name="customerQuestion" class="overflowhidden" action="/control/submitQuestion" method="post">
					<div class="customerQuestionReponse"></div>
					<input type="hidden" name="productId" value="<?=handleStr($product->getProductId())?>"/>
					<input type="hidden" name="userName" value=""/>
						<?php  if(isset($clientTokenQue)){ ?>
					
					<input type="hidden" name="token" value="<?=$clientTokenQue?>"/>
						<?php  } ?>
					
					<textarea maxlength="500" rows="2" id="askQuestion" placeholder="Have a Question? Please post here" validate="{true,blank,Please provide a your comment,htmltag,HTML tags not allowed}" name="askQuestion"></textarea>
					<span id="askQuestion_error" class="error">&nbsp;</span>
					<div class="text-right">
						<button class="questionpost">Post</button>
					</div>
					
				</form>
				
				<dl>
					<?php 
					if(isset($queAnsList))
					{ 
					$answerListId =0;
					?>
				<div >
					<?php foreach ($queAnsList as $queAns){ 
						
						if(isset($queAns ['productQuestion']))
						{
						$answerListId = $answerListId+1;
						$queStr = $queAns['productQuestion'];
						$queID = $queAns['productQuestionId'];
						$userName=$queAns['userLoginId'];
						$date = $queAns['postedDateTime'];
						$ansList = $queAns['relatedAnswerMap'];
						$ansAskTitle = 'Be the first one to answer this question.'
						?>
						<div class="question-box" >
						<?php $answerCount = 0;
						if(isset($ansList) && sizeof($ansList)>0)
						{
						$answerCount= sizeof($ansList);
						} ?>
						<meta itemprop="answerCount" content="<?=$answerCount?>" />
						
						<dt itemprop="name"><b>Q:</b>  <?= $queStr ?> </dt>
						<div class="answer-box overflowhidden"  id="Ques_ANS_<?=$answerListId?>"  >
						
						<?php 
						
						if(isset($ansList[0]['productAnswer']))
							{
								$ansAskTitle = 'Answer this question.'
								
								?>
								
						<?php foreach ($ansList as $ans){ 
							?>
						<dd>
						<meta itemprop="upvoteCount" content="1" />
						<div itemprop="text"><?=  $ans['productAnswer']; ?> </div> 
						
							<div class="table">
								<span class="answer-name" ><div itemprop = "name"><?=handleStr($ans['userName'])?></div></span>
								<span class="answer-date"><time datetime ="<?=date('d M, Y',strtotime($ans['answerDateTime']))?>"> <?=date('d M, Y',strtotime($ans['answerDateTime']))?></time></span>
							</div>
						</dd>
						
								<?php 
					}}
						?>
						<a class='moreanswer display-none' href='#'>Show More Answer(s)</a>
							<div class="response" id="<?=handleStr($queID)?>"></div>
							<a class="leavecomment displayblock" href="#"><?=handleStr($ansAskTitle)?></a>
							<form method="post" action="/control/submitAnswer" data-id="<?=handleStr($queID)?>" name="QuestionAnswer" class="QuestionAnswer display-none">
								<input type="hidden" name="questionId" value="<?=handleStr($queID)?>"/>
							<?php 	if(isset($secTokenArray))
							{ ?>
							<input type="hidden" name="token<?=handleStr($queID)?>" value="<?=$secTokenArray[$queID]?>"/>
							<?php }?>
								
								<div class="commnettext">Comment on this answer.</div>
								<textarea maxlength="2048" rows="3" id="commentText<?=handleStr($queID)?>" placeholder="Your Comment (max. 2048 characters)" validate="{true,blank,Please provide a your comment,htmltag,HTML tags not allowed}" name="answer"></textarea>
								<span id="commentText<?=handleStr($queID)?>_error" class="error">&nbsp;</span>
								<div class="buttontab display-block">
									<span class="commentcancel">Cancel</span>
									<button class="commentpost">Post</button>
								</div>
							</form>
						</div>
						
					</div>
					<?php 
					}} ?>
					</div>
					 <?php }
						?>
						<a class="readmore" href="#">Show More</a>
				</dl>
			</div>
		</section>
		<!-- Question and Answer end -->
<?php $count = 12;  include __DIR__ . "/../common/Mercloop.phtml"; ?>
		<!-- review and rating start -->
		<section>
			<div class="section-container-ui rating-review adcode" id="ratingreview">
			<?php if(isset($reviews) || sizeof($reviews) > 0) { ?>
			<ul class="rating-tab">
				<li data-name="read">Ratings and Reviews</li>
			</ul>
			<?php } ?>
			<?php if(isset($reviews)) { 
				$average  = $reviews[0]['average'];
				$total  =  $reviews[0]['total'];
				$percentage = ($average/5)*100;
				
				?>
			<div class="read rating-tab-open">
				<div class="reviewhead">
					<div><?=number_format($average,1)?></div>
					<div>
						<div class="rating-show">
							<span></span>
							<span></span>
							<span></span>
							<span></span>
							<span></span>
							<div class="rating-given" style="width:<?=$percentage?>%;">
								<div>
									<span></span>
									<span></span>
									<span></span>
									<span></span>
									<span></span>
								</div>
							</div>
						</div>
						<span class="ratingtext">
						Based on <?=$total?> <?php if($total > 1) { ?>ratings <?php } else {?>rating <?php } ?> 
						<?php if(isset($totalReviews) && $totalReviews != 0) { ?> <span> and <?=$totalReviews?> 
						<?php if($totalReviews >1 ) { ?>reviews <?php } else {?> Review <?php } ?></span> 
						<?php } ?> 
						</span>
					</div>
				</div>
				<?php  
				 if(sizeof($reviews) >0)
				{
					foreach ($reviews as $rev){ 
					if(isset($rev['productReview']))
					{
						$reviewStr = $rev['productReview'];
						$titleStr = $rev['reviewTitle'];
						$rating = $rev['productRating'];
					if(isset($rev['firstName']))
						{	
						$userName=$rev['firstName'];
						}
						$date = $rev['postedDateTime'];
					?>
				<div class="reviewshow" >
					<!-- review loop start -->
					<div class="userreview">
						<div class="reviewtitle"><?=$titleStr?></div>
						<div class="review">
							<div class="userrating"><?=$rating?></div>
							<div class="reviewdate"><?=date('d M, Y',strtotime($date))?></div>
							<div class="username">by <b><?=$userName?></b></div>
							
						</div>
						<div class="reviewdetails">
							<?=$reviewStr?>
						</div>
						<a href="#" class="reviewreadmore">more..</a>
					</div>
					<!-- review loop end -->
				</div>
			<?php 
					}// if isset
					}// foreach ends
				}
				// }// if loop ?>
				<a class="readmore" href="#">Show More</a>
			</div>
			<?php }// if loop ?>
			<ul class="rating-tab">
				<li data-name="write">Write a Review</li>
			</ul>
			
			<div class="write rating-tab-open">
				<form name="reviewProduct" method="post" action="/control/submitRnR" onsubmit="return evalForm(this)" >
					<input name="productId" value="<?=handleStr($product->getProductId())?>" type="hidden">
					<input type="hidden" id="userId" name="userId" value="<?=$userLoginId?>"/>
					<input name="product_id" value="<?=handleStr($product->getProductId())?>" type="hidden">
					<input name="product_title" value="<?=handleStr($product->getProductName())?>" type="hidden">
					<input name="category_id" value="" type="hidden">
					<input name="postedAnonymous" value="false" type="hidden">
					<div class="field-wrapper writerating">
						<span class="revielable"> How do you rate this product  *</span>
						<input id="productRating" type="hidden" name="productRating" validate="{true,blank,Rating required}" >
						<div class="rating">
							<label>
								<input type="radio" value="5" title="Excellent"> 5
							</label>
							<label>
								<input type="radio" value="4" title="Very Good"> 4
							</label>
							<label>
								<input type="radio" value="3" title="Good"> 3
							</label>
							<label>
								<input type="radio" value="2" title="Average"> 2
							</label>
							<label>
								<input type="radio" value="1" title="Below Average"> 1
							</label>
						</div>
						<span id="productRating_error" class="error">&nbsp;</span>
					</div>
					<div class="field-wrapper clear">
						<input id="reviewtitle" name="reviewTitle" maxlength="100" class="frmtxtElement hasPlaceholder" placeholder="Review Title *" validate="{true,blank,Please provide a summary for your Review,htmltag,HTML tags not allowed}" type="text">
						<span id="reviewtitle_error" class="error">&nbsp;</span>
					</div>
					<div class="field-wrapper">
						<textarea maxlength="2048" id="casedescription" class="frmtxtElementarea hasPlaceholder" name="productReview" cols="" rows="" placeholder="Your Review (max. 2048 characters)" validate="{true,blank,Please provide a description for your Review,htmltag,HTML tags not allowed}"></textarea>
						<span id="casedescription_error" class="error">&nbsp;</span>
					</div>
					<div class="field-wrapper">
						<input class="flat-orange" data-ga-track="write_review_pdp##cateoryname|productname##pdp|category name|productId|product name|product price|0##0" value="Submit" type="submit"> 
					</div>
				</form>		
			</div>
			</div>
		</section>
		<section>
<div class="text-ceter display-block overflowhidden clr adcode">
<?php if(!isset($affiliateBannerActive6) || $affiliateBannerActive6==='N') { 
	 
	?>
	<?php 
		$count = 4;
		include __DIR__ . "/../common/Mercloop.phtml";
	 ?>
	 
	<?php } else {?>
	<div class="seealso-sponsored countryblock">
	<h2 class="heading bold text-left"> Promoted </h2>
	<!-- Promoted 6 -->
	<a class="display-block  widgets-banner " <?=$promonofollowtag6?> 
	   data-ga-track="<?=$promoEventcat6?>##<?=$promoEventaction6?>##<?=$promoEventlabel6?>##0"  target="_blank" 
	href="<?php if(isset($promoBannerurl6)) { echo $promoBannerurl6; }?>"><img class="img lazy" alt=<?php if(isset($promoBannertext6)) echo $promoBannertext6; ?> 
	data-original="<?php if(isset($promoImgpath6)){ echo $promoImgpath6; }else {?>/mobile/img/cashback-app-Banner.jpg<?php }?>"/></a>
	
	</div>	
	<?php } ?>
	</div>
 </section>
		<!-- review and rating end -->
		
<div class="social-sharing">
	<div class="table w100">
		<div class="table-cell text-left">
			Share it
		</div>
		<div class="table-cell text-right">
		<a href="#" class="sharing-close">X</a>
		</div>
	</div>
<ul>
<input type='hidden' name="whatsapp_share" value="social_pdp##whatsapp##pdp|<?php echo $productCategoryId.'|'.'|'. $productid.'|'.$productname.'|'.$productprice.'|'.$productShippingPrice ?>##0"/>
<?php if(isset($catalogname) && $catalogname!="" && isset($categoryname) && $categoryname!="" && isset($productid) && $productid!="" && isset($productname) && $productname!="" && isset($productprice) && $productprice!=""){?>
	<li><a href="#" target="_blank" class="whatsapp">Whatsapp</a></li>
	<li><a href="#" id="shareOnfacebook"  target="_blank" data-ga-track="social_pdp##facebook##pdp|<?php echo $productCategoryId.'|'.'|'. $productid.'|'.$productname.'|'.$productprice.'|'.$productShippingPrice ?>##0" class="facebook">facebook</a></li>
	<li><a href="#" class="twitter"  onclick="javascript:window.open(this.href,  '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;"   target="_blank" data-ga-track="social_pdp##email##pdp|<?php echo $productCategoryId.'|'.'|'. $productid.'|'.$productname.'|'.$productprice.'|'.$productShippingPrice ?>##0">Twitter</a></li>
	<!--li><a href="#" class="gplus-icon" onclick="javascript:window.open(this.href,  '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;" target="_blank" data-ga-track="social_pdp##gplus##pdp|<?php echo $productCategoryId.'|'.'|'. $productid.'|'.$productname.'|'.$productprice.'|'.$productShippingPrice ?>##0">Google+</a></li-->
	<li><a href="#" class="linkedin" onclick="javascript:window.open(this.href,  '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;" target="_blank" data-ga-track="social_pdp##gplus##pdp|<?php echo $productCategoryId.'|'.'|'. $productid.'|'.$productname.'|'.$productprice.'|'.$productShippingPrice ?>##0">linkedin</a></li>
	<li><a href="#" class="copytoclipboard" target="_blank" data-ga-track="social_pdp##copytoclipboard##pdp|<?php echo $productCategoryId.'|'.'|'. $productid.'|'.$productname.'|'.$productprice.'|'.$productShippingPrice ?>##0">Copy URL</a></li>
	<!-- li><a href="#" class="email-icon" onclick="javascript:window.open(this.href,  '');return false;" target="_blank" data-ga-track="social_pdp##gplus##pdp|<?php echo $productCategoryId.'|'.'|'. $productid.'|'.$productname.'|'.$productprice.'|'.$productShippingPrice ?>##0">Email</a></li -->
 <?php } else { ?>
	<li><a href="#" class="whatsapp">Whatsapp</a></li>
	<li><a href="#" id="shareOnfacebook" data-ga-track="social_pdp##facebook##pdp|<?php echo $productCategoryId.'|'.'|'. $productid.'|'.$productname.'|'.$productprice.'|'.$productShippingPrice ?>##0" class="facebook">facebook</a></li>
	<li><a href="#" class="twitter"  onclick="javascript:window.open(this.href,  '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;"   target="_blank" data-ga-track="social_pdp##email##pdp|<?php echo $productCategoryId.'|'.'|'. $productid.'|'.$productname.'|'.$productprice.'|'.$productShippingPrice ?>##0">Twitter</a></li>
	<!--li><a href="#" class="gplus-icon" onclick="javascript:window.open(this.href,  '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;" target="_blank" data-ga-track="social_pdp##gplus##pdp|<?php echo $productCategoryId.'|'.'|'. $productid.'|'.$productname.'|'.$productprice.'|'.$productShippingPrice ?>##0">Google+</a></li-->
	<li><a href="#" class="linkedin" onclick="javascript:window.open(this.href,  '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;" target="_blank" data-ga-track="social_pdp##gplus##pdp|<?php echo $productCategoryId.'|'.'|'. $productid.'|'.$productname.'|'.$productprice.'|'.$productShippingPrice ?>##0">linkedin</a></li>
	<li><a href="#" class="copytoclipboard" target="_blank" data-ga-track="social_pdp##copytoclipboard##pdp|<?php echo $productCategoryId.'|'.'|'. $productid.'|'.$productname.'|'.$productprice.'|'.$productShippingPrice ?>##0">Copy URL</a></li>
	
 <?php } ?>
</ul>
 
</div>



<?php if( (isset($trendingInfoArray) && sizeof($trendingInfoArray) > 0)  || (isset($popularInfoArray) && sizeof($popularInfoArray) > 0) || (isset($latestInfoArray) && sizeof($latestInfoArray) > 0 ))    {?>
<?php include __DIR__ . "/../common/PLTWidgets.phtml"; ?>
<?php }?>
<?php include __DIR__ . "/../common/pwaFooter.phtml"; ?>
