<?php include __DIR__ . "/../common/header.phtml"; ?>
<div class="body">
<section>
	<ul class="gadgetsbrand">
<?php 
foreach ( $brands as $key => $value ) {
	foreach ($value as $w => $x)
	{
		$imagePath = $x['imageid'];
		$image = substr($imagePath,strpos($imagePath,'/'));
?>
	<li><a href="<?php echo $x['link']; ?>"><img class="Lazy" alt="<?php echo $x['h1']; ?>" src="<?= $image?>" />&nbsp;</a></li>
<?php 
	}
		}
?>
	</ul>
</section>
</div>

<?php include __DIR__ . "/../common/newfooter.phtml"; ?>
