<?php include __DIR__ . "/../common/header.phtml"; ?>
<style>
h3{font-size:28px; color:#f68220; background:url(/mobile/img/jiohead-bg.jpg) 0px 3px;}
h3 span{display:inline-block;}
h3 span:first-child{padding-right:15px; background:#fff;}
.jio-section{padding:0 10px;}
.jio-text{ font-size:16px; text-align:left; line-height:20px; padding-top:20px}
.jio-text b{display:block; padding-bottom:20px; color:#3c4041;}
.jio-tab{padding:20px 0; border-bottom:1px solid #3c4041;}
</style>
<div class="body">
<section>
<div class="text-center">
	<div><a href="/control/additem?add_product_id=G20654"><img src="/mobile/img/jiofi-banner.jpg" /></a></div>
	<div><img src="/mobile/img/jiofi-banner-detail.jpg" /></div>
</div>
</section>
<section class="jio-section">
	<h3><span>Key Features</span></h3>
	<div class="text-center jio-tab">
		<img src="/mobile/img/true-4g-speed.jpg" />
		<p class="jio-text">
			<b>TRUE 4G SPEED</b>Enjoy blazing fast internet. Download speed up to 150 Mbps and upload speed up to 50 Mbps.
		</p>
	</div>
	
	<div class="text-center jio-tab">
		<img src="/mobile/img/smartphone-2g3g.jpg" />
		<p class="jio-text">
			<b>ENJOY 4G FEATURES ON 2G/3G SMARTPHONES</b>With Jio 4G SIM in your JioFi, access high speed 4G data and download Jio4GVoice app on your 2G/3G smartphones to make HD voice calls.
		</p>
	</div>
	
	<div class="text-center jio-tab">
		<img src="/mobile/img/video-voice-call.jpg" />
		<p class="jio-text">
			<b>VIDEO & VOICE CALLS</b>Make Video and HD Voice calls, send SMS and set up even (5+1) Audio & (3+1) Video conference calls with the Jio4GVoice app.
		</p>
	</div>
	
	<div class="text-center jio-tab">
		<img src="/mobile/img/connect-service.jpg" />
		<p class="jio-text">
			<b>CONNECT & SHARE</b>Recommended to connect up to 10 Wi-Fi enabled devices (Smartphone, Laptops, Tablets and even Smart TVs). JioFi allows to connect up to 32 devices.
		</p>
	</div>
	<div class="text-center jio-tab">
		<img src="/mobile/img/powerful-battery.jpg" />
		<p class="jio-text">
			<b>POWERFUL BATTERY</b>Best in class battery (2300mAh) supports 5-6 hours surf time.
		</p>
	</div>
	
	<div class="text-center jio-tab" style="border:none;">
		<img src="/mobile/img/device.jpg" />
		<p class="jio-text">
			<b>ON THE GO DEVICE</b>Enjoy the convenience of never having to search for an electrical outlet with a built-in rechargeable battery. Now carry your sleek and stylish JioFi everywhere you go.
		</p>
	</div>
</section>
</div>
<?php include __DIR__ . "/../common/newfooter.phtml"; ?>