<?php include __DIR__ . "/../common/pwaHeader.phtml"; ?>
	<!-- ATF Slot start-->
<?php include __DIR__ . "/../common/atfSlot.phtml"; ?>

    <?php  
        if(isset($saleBannerData) && sizeof($saleBannerData)>0){
            ?>
			<table cellpadding="0" cellspacing="0" border="0" width="100%">
			<?php
			for($i=0;$i<sizeof($saleBannerData);$i++)
						{		
						    $url1 =$saleBannerData[$i]->LPU."?utm_source=Gadgetsnow_shop&utm_medium=mweb_Brand_Store&utm_campaign=".$currentCatalogName;
						$affiliateParamArray=array("productname"=>"Acs","price"=>"NA","producturl"=>$url1,"pagename"=>"catalog","widget"=>"banner");
						$affiliateLandingurl=AffiliateUrlCreator::createAffiliateUrl($currentCatalogName,$affiliateParamArray);
						$affiliateImgurl =$saleBannerData[$i]->Image_Url;
						$bannerPerRow = $saleBannerData[$i]->Img_Count; 
						$ColSpan = 3;
						if($bannerPerRow == 1)
						{
						$ColSpan = 3; 
						?>
		
		<tr >
		<td colspan="<?=$ColSpan?>"><a href="<?=$affiliateLandingurl?>"><img src="<?=$affiliateImgurl?>" border="0" style="display:block" width="100%" /></a></td>
	</tr>
	<?php
	}else if($bannerPerRow > 1)
							{
							    $urlNext =$saleBannerData[$i+1]->LPU."?utm_source=Gadgetsnow_shop&utm_medium=mweb_Brand_Store&utm_campaign=".$currentCatalogName;
						$affiliateParamArray=array("productname"=>"Acs","price"=>"NA","producturl"=>$urlNext,"pagename"=>"catalog","widget"=>"banner");
						$affiliateLandingurlNext=AffiliateUrlCreator::createAffiliateUrl($currentCatalogName,$affiliateParamArray);
						$affiliateImgurlNext =$saleBannerData[$i+1]->Image_Url;
							$i = $i+1;  ?>
	<tr >	
				<td><a href="<?=$affiliateLandingurl?>"><img src="<?=$affiliateImgurl?>" border="0" style="display:block" width="100%" /></a></td>
				<td ><a href="<?=$affiliateLandingurlNext?>"><img src="<?=$affiliateImgurlNext?>" border="0" style="display:block" width="100%" /></a></td>
				</tr>	
	<?php 
	}
	}  ?>
			</table>
		<?php } elseif(strcasecmp($currentCatalogName,"JBL")==0)
	      { ?>
		<table width="100%" cellpadding="0" cellspacing="0" bgcolor="#fff">
		<tr>
	    <?php 
	 
	//$bannerurl=AffiliateUrlCreator::createAffiliateUrl("amazon",$affiliateParamArray);
	$bannerurl="https://shop.gadgetsnow.com/mobiles-accessories-headphones-headsets/brand-JBL/";
	?>
	<td><a href="<?=$bannerurl?>">
	<img width="100%" alt="For All Audio Needs" src="https://img1.gadgetsnow.com/gd/imgbn/Brand_Store_Header.jpg" border="0" /></a></td>
	</tr>
	<tr>
	<?php 
	 
	//$bannerurl=AffiliateUrlCreator::createAffiliateUrl("amazon",$affiliateParamArray);
	$bannerurl="https://shop.gadgetsnow.com/mobiles-accessories-headphones-headsets/brand-JBL/";
	?>
		<td><a href="<?=$bannerurl?>">
		<img width="100%" alt="For All Audio Needs" src="https://img1.gadgetsnow.com/gd/imgbn/jbl_audio-needs.jpg" border="0" /></a></td>
	</tr>
	<tr>
		<td height="10">&nbsp;</td>
	</tr>
</table>
<table width="100%" cellpadding="0" cellspacing="0">
	<tr>
		<td>
	<?php 
	$url="https://www.amazon.in/s/ref=lp_1389365031_nr_n_0?fst=as%3Aoff&rh=n%3A976419031%2Cn%3A%21976420031%2Cn%3A1389335031%2Cn%3A1389365031%2Cn%3A13773771031&bbn=1389365031&ie=UTF8&qid=1574775948&rnid=1389365031"; 
	$affiliateParamArray=array("productname"=>"Bluetooth Speaker","price"=>"NA","producturl"=>$url,
						"pagename"=>"brandstore","widget"=>"banner1");
	//$bannerurl=AffiliateUrlCreator::createAffiliateUrl("amazon",$affiliateParamArray);
	$bannerurl = "https://shop.gadgetsnow.com/mobiles-accessories-bluetooth-speakers/brand-JBL/";
	
	?>
		<a href="<?=$bannerurl?>"><img width="100%" alt="Bluetooth Speaker" src="https://img1.gadgetsnow.com/gd/imgbn/jbl-bluetooth-speark.jpg" border="0" /></a></td>
	</tr>
	<tr>
	<td>
	<?php 
	$url="https://www.amazon.in/s?bbn=1388921031&rh=n%3A976419031%2Cn%3A%21976420031%2Cn%3A1388921031%2Cp_89%3AJBL&dc&fst=as%3Aoff&qid=1574775950&rnid=3837712031&ref=lp_1388921031_nr_p_89_5"; 
	$affiliateParamArray=array("productname"=>"Minimum 60% Off","price"=>"NA","producturl"=>$url,
						"pagename"=>"brandstore","widget"=>"banner2");
	//$bannerurl=AffiliateUrlCreator::createAffiliateUrl("amazon",$affiliateParamArray);
	$bannerurl="https://shop.gadgetsnow.com/mobiles-accessories-headphones-headsets/brand-JBL/";
	?>
	<a href="<?=$bannerurl?>">
	<img width="100%" alt="Minimum 60% Off" src="https://img1.gadgetsnow.com/gd/imgbn/jbl_headphones.jpg" border="0" /></a></td>
	</tr>
	<tr>
		<td>
	<?php 
	$url="https://www.amazon.in/s/ref=lp_1389365031_nr_n_3?fst=as%3Aoff&rh=n%3A976419031%2Cn%3A%21976420031%2Cn%3A1389335031%2Cn%3A1389365031%2Cn%3A1389372031&bbn=1389365031&ie=UTF8&qid=1574776035&rnid=1389365031"; 
	$affiliateParamArray=array("productname"=>"SoundBars","price"=>"NA","producturl"=>$url,
						"pagename"=>"brandstore","widget"=>"banner2");
	$bannerurl=AffiliateUrlCreator::createAffiliateUrl("amazon",$affiliateParamArray);
	$bannerurl="https://shop.gadgetsnow.com/mobiles-accessories-audio/brand-JBL/?sort=price-high-to-low";
	?>
		<a href="<?=$bannerurl?>"><img width="100%" alt="SoundBars" style="border:1px solid #b7b4b4; border-left; border-right:none"  src="https://img1.gadgetsnow.com/gd/imgbn/jbl_soundsbars.jpg" border="0" /></a></td>
	</tr>
	<tr>
		<td>
	<?php 
	$url="https://www.amazon.in/s?k=JBL+Car+Speakers&rh=n%3A15439784031&ref=nb_sb_noss"; 
	$affiliateParamArray=array("productname"=>"Car Speakers","price"=>"NA","producturl"=>$url,
						"pagename"=>"brandstore","widget"=>"banner2");
	//$bannerurl=AffiliateUrlCreator::createAffiliateUrl("amazon",$affiliateParamArray);
	$bannerurl = "https://shop.gadgetsnow.com/mobiles-accessories-bluetooth-speakers/";
	?>
		<a href="<?=$bannerurl?>"><img width="100%" alt="Car Speakers" style="border:1px solid #b7b4b4; border-left; border-right:none"  src="https://img1.gadgetsnow.com/gd/imgbn/nbl_carspeakers.jpg" border="0" /></a></td>
	</tr>
</table>
<table width="100%" cellpadding="0" cellspacing="0">
	<tr>
		<td>
		<?php 
	$url="https://www.amazon.in/s?i=electronics&bbn=1388921031&rh=n%3A976419031%2Cn%3A%21976420031%2Cn%3A1388921031%2Cn%3A14146390031%2Cp_85%3A10440599031%2Cp_72%3A1318477031%2Cp_89%3AJBL%2Cp_n_condition-type%3A8609960031%2Cp_6%3AA14CZOWI0VEHLG&dc&pf_rd_i=1388921031&pf_rd_m=A1K21FY43GMZF8&pf_rd_p=742af43d-c8f9-421e-851d-999540d0ec1b&pf_rd_r=CY4S9F6YR9H4VBQ3RWX5&pf_rd_s=merchandised-search-3&pf_rd_t=101&qid=1574776260&rnid=1388921031&ref=sr_nr_n_3"; 
	$affiliateParamArray=array("productname"=>"Car Speakers","price"=>"NA","producturl"=>$url,
						"pagename"=>"brandstore","widget"=>"banner2");
	//$bannerurl=AffiliateUrlCreator::createAffiliateUrl("amazon",$affiliateParamArray);
	$bannerurl ="https://shop.gadgetsnow.com/mtkeywordsearch?SEARCH_STRING=JBL";
	?>
		<a href="<?=$bannerurl?>"><img width="100%" alt="T-Series" src="https://img1.gadgetsnow.com/gd/imgbn/jbl_series_01.jpg" border="0" /></a></td>
		<td>
			<?php 
	$url="https://www.amazon.in/s?i=electronics&bbn=1388921031&rh=n%3A976419031%2Cn%3A%21976420031%2Cn%3A1388921031%2Cn%3A14146390031%2Cp_85%3A10440599031%2Cp_72%3A1318477031%2Cp_89%3AJBL%2Cp_n_condition-type%3A8609960031%2Cp_6%3AA14CZOWI0VEHLG&dc&pf_rd_i=1388921031&pf_rd_m=A1K21FY43GMZF8&pf_rd_p=742af43d-c8f9-421e-851d-999540d0ec1b&pf_rd_r=CY4S9F6YR9H4VBQ3RWX5&pf_rd_s=merchandised-search-3&pf_rd_t=101&qid=1574776260&rnid=1388921031&ref=sr_nr_n_3"; 
	$affiliateParamArray=array("productname"=>"Car Speakers","price"=>"NA","producturl"=>$url,
						"pagename"=>"brandstore","widget"=>"banner2");
	//$bannerurl=AffiliateUrlCreator::createAffiliateUrl("amazon",$affiliateParamArray);
	$bannerurl="https://shop.gadgetsnow.com/mtkeywordsearch?SEARCH_STRING=JBL";
	?>
		<a href="<?=$bannerurl?>"><img width="100%" alt="E-Series" src="https://img1.gadgetsnow.com/gd/imgbn/jbl_series_02.jpg" border="0" /></a></td>
		<td>
		<?php 
	 
	$bannerurl="https://shop.gadgetsnow.com/mtkeywordsearch?SEARCH_STRING=JBL";
	?>
		<a href="<?=$bannerurl?>"><img width="100%" alt="Everest Series" src="https://img1.gadgetsnow.com/gd/imgbn/jbl_series_03.jpg" border="0" /></a></td>
	</tr>
</table>
	<?php } 
	elseif (strcasecmp($currentCatalogName,"mevofit")==0)
	{ ?>
		<table  width="99%" style="margin:0 auto" cellpadding="0" cellspacing="0" bgcolor="#fff">
		<tr>	 
			<td><a href="#">
			<img width="100%" alt="For All Audio Needs" 
			src="https://img1.gadgetsnow.com/gd/imgbn/Mevofit_1500_208.jpg" border="0" /></a></td>
		</tr>
		<tr>		 
			<td><a href="https://shop.gadgetsnow.com/control/mtkeywordsearch?SEARCH_STRING=Mevofit">
			<img width="100%" alt="For All Audio Needs" 
			src="https://img1.gadgetsnow.com/gd/imgbn/998x382_1.jpg" border="0" /></a></td>
	    </tr>
		<tr>
			<td height="10">&nbsp;</td>
		</tr>
	</table>
	<table width="99%" style="margin:0 auto" cellpadding="0" cellspacing="0">
	<tr>
		<td>
		<a href="https://shop.gadgetsnow.com/mobiles-accessories-headphones-headsets/brand-MevoFit/"><img width="100%" alt="SoundBars" 
		style="border:1px solid #b7b4b4; border-left; border-right:none"  
		src="https://img1.gadgetsnow.com/gd/imgbn/490x238_Wireless_Audio_Series.jpg" border="0" /></a></td>
	</tr>
	<tr><td>
	<a href="#"><img width="100%" alt="T-Series" 
		src="https://img1.gadgetsnow.com/gd/imgbn/Mevofit_490_243_2.jpg" border="0" /></a>
	</td></tr>
	<tr>
	<td>
	 
		<a href="https://shop.gadgetsnow.com/mobiles-accessories-fitness-band/brand-MevoFit/"><img width="100%" alt="Car Speakers" 
		style="border:1px solid #b7b4b4; border-left; border-right:none"  
		src="https://img1.gadgetsnow.com/gd/imgbn/Mevofit_490_243_3.jpg" border="0" /></a></td>
	</tr>
	<tr><td>
	<a href="https://shop.gadgetsnow.com/mobiles-accessories-smart-watches/brand-MevoFit/"><img width="100%" alt="Car Speakers" 
		style="border:1px solid #b7b4b4; border-left; border-right:none"  
		src="https://img1.gadgetsnow.com/gd/imgbn/490x238_Smat_Fitness_Watches.jpg" border="0" /></a>
	</td></tr>
	<tr><td>
	<a href="https://shop.gadgetsnow.com/mobiles-accessories-headphones-headsets/brand-MevoFit/"><img width="100%" alt="T-Series" 
		src="https://img1.gadgetsnow.com/gd/imgbn/Mevofit_ATOM.jpg" border="0" /></a>
	</td></tr>
	<tr><td>
	<a href="https://shop.gadgetsnow.com/mobiles-accessories-fitness-band/brand-MevoFit/"><img width="100%" alt="T-Series" 
		src="https://img1.gadgetsnow.com/gd/imgbn/Mevofit_CARE.jpg" border="0" /></a>
	</td></tr>
	<tr><td>
	<a href="https://shop.gadgetsnow.com/mobiles-accessories-headphones-headsets/brand-MevoFit/"><img width="100%" alt="Everest Series" 
		src="https://img1.gadgetsnow.com/gd/imgbn/Mevofit_SPACE.jpg" border="0" /></a>
	</td></tr>
</table>
<?php } 
	elseif (strcasecmp($currentCatalogName,"norton")==0)
	{ ?>
		 <table width="100%" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td ><a href="https://www.anrdoezrs.net/click-100112161-10506010" rel="nofollow sponsored"><img width="100%" src="http://img1.gadgetsnow.com/gd/imgbn/notron-head.jpg" /></a></td>
	</tr>
	<tr>
		<td ><a href="https://www.anrdoezrs.net/click-100112161-10506010" rel="nofollow sponsored"><img width="100%" src="http://img1.gadgetsnow.com/gd/imgbn/notron-main.jpg" /></a></td>
	</tr>
	 
	<tr>
		<td><a href="https://www.tkqlhce.com/click-100112161-13681576" rel="nofollow sponsored"><img width="100%" src="https://img1.gadgetsnow.com/gd/imgbn/Norton-AntiVirus-Plus-_490x243_499_1st.jpg" /></a></td>
	</tr>
	
	<tr>
		<td><a href="https://www.anrdoezrs.net/click-100112161-13681574" rel="nofollow sponsored"><img width="100%" src="https://img1.gadgetsnow.com/gd/imgbn/Norton-360-Standard_490x243_699_2nd.jpg" /></a></td>
	</tr>
	<tr>
		<td><a href="https://www.anrdoezrs.net/click-100112161-13681591" rel="nofollow sponsored"><img width="100%" src="https://img1.gadgetsnow.com/gd/imgbn/Product_banner_VPN_Grey_490x243_4thBanner.jpg" /></a></td>
	</tr>
	<tr>
		<td><a href="https://www.anrdoezrs.net/click-100112161-14056332" rel="nofollow sponsored"><img width="100%" src="https://img1.gadgetsnow.com/gd/imgbn/Product_banner_NMS_Grey_490x243_2ndBanner.jpg" /></a></td>
	</tr>
	
	<tr>
		<td ><a href="https://www.dpbolvw.net/click-100112161-13971276" rel="nofollow sponsored"><img width="100%"src="http://img1.gadgetsnow.com/gd/imgbn/notron-bottom.jpg" /></a></td>
	</tr>
</table>
 
	<?php } elseif (strcasecmp($currentCatalogName,"vijaysales")==0) {}
	  elseif(isset($saleBannerData) && sizeof($saleBannerData)>0){
	      ?>
			<table cellpadding="0" cellspacing="0" border="0" width="100%">
			<?php
			for($i=0;$i<sizeof($saleBannerData);$i++)
						{		
						    $url1 =$saleBannerData[$i]->LPU."?utm_source=Gadgetsnow_shop&utm_medium=mweb_Brand_Store&utm_campaign=Tekkitake";
						$affiliateParamArray=array("productname"=>"Acs","price"=>"NA","producturl"=>$url1,"pagename"=>"catalog","widget"=>"banner");
						$affiliateLandingurl=AffiliateUrlCreator::createAffiliateUrl($currentCatalogName,$affiliateParamArray);
						$affiliateImgurl =$saleBannerData[$i]->Image_Url;
						$bannerPerRow = $saleBannerData[$i]->Img_Count; 
						$ColSpan = 3;
						if($bannerPerRow == 1)
						{
						$ColSpan = 3; 
						?>
		
		<tr >
		<td colspan="<?=$ColSpan?>"><a href="<?=$affiliateLandingurl?>"><img src="<?=$affiliateImgurl?>" border="0" style="display:block" width="100%" /></a></td>
	</tr>
	<?php
	}else if($bannerPerRow > 1)
							{
							    $urlNext =$saleBannerData[$i+1]->LPU."?utm_source=Gadgetsnow_shop&utm_medium=mweb_Brand_Store&utm_campaign=Tekkitake";
						$affiliateParamArray=array("productname"=>"Acs","price"=>"NA","producturl"=>$urlNext,"pagename"=>"catalog","widget"=>"banner");
						$affiliateLandingurlNext=AffiliateUrlCreator::createAffiliateUrl($currentCatalogName,$affiliateParamArray);
						$affiliateImgurlNext =$saleBannerData[$i+1]->Image_Url;
							$i = $i+1;  ?>
	<tr >	
				<td><a href="<?=$affiliateLandingurl?>"><img src="<?=$affiliateImgurl?>" border="0" style="display:block" width="100%" /></a></td>
					<td width="2px"></td>
				<td ><a href="<?=$affiliateLandingurlNext?>"><img src="<?=$affiliateImgurlNext?>" border="0" style="display:block" width="100%" /></a></td>
				</tr>	
	<?php 
	}
	}  ?>
			</table>
		<?php
	  
	      
	  }
	 elseif (strcasecmp($currentCatalogName,"ifihomes")==0){
	 	
	 	$templateName = strtolower($currentCatalogName);
	 	?>
	 	<?php include __DIR__."/brandstore/ifihomes.phtml" ?>
	 <?php } else {?>
	<div id="toi-carousel" class="overflowhidden">
	<?php 
	$url ="https://shop.gadgetsnow.com/api/gadgets-catalog-api.php?cat_id=".$currentCatalogId;
	$content = file_get_contents($url);
	if(isset($content)) {
	$result = json_decode($content,true);
	if(isset($result['CatlogBanner']))
	{ 
		foreach($result['CatlogBanner'] as $value)
		{
			$imgpath = $value['bannername'];
			$imgurl = $value['bannerurl'];
			$imgurl = str_replace("https://www.shop.gadgetsnow.com/","", $imgurl);
			if(isset($value['mbannerurl']))
			{
				$imgurl = $value['mbannerurl'];
			}
			$affiliateParamArray=array("productname"=>"catalogbanner","price"=>"NA","producturl"=>$imgurl,"pagename"=>"catalog","widget"=>"banners");
			$affiliateLandingurl=AffiliateUrlCreator::createAffiliateUrl("",$affiliateParamArray);
			$target="target='_blank'";
						
	?>
		<a class="flt" <?php if(isset($target)) {?>target=<?=$target?> <?php } ?>
		   data-ga-track="hp_banner##<?php echo $imgurl?>##<?=$value['bannertext']?>##0"
		   href="<?=$affiliateLandingurl?>">
		   <img class="img"
		   		alt="<?=$value['bannertext']?>" 
		   		src="<?=$imgpath?>"/></a>
		<?php		} //For loop ends
				  	}// if (result) loop ends
					 } // if(content) loop ends?>
				</div>	 
		<?php }?>
	
<?php if(isset($seoATFcontent)) { ?>
        <div class="seocontianer">
        <h1><?=$seoATFTitle?></h1>
        <div class="seocontent overflowhidden">
        <?=$seoATFcontent?></div>
                        <?php if(strlen($seoATFcontent) >= 45) { ?>
        <a class="seoreadmore" href="#">read more...</a>
                        <?php } ?>
</div>
<?php } ?>	

<?php
	if(isset($customCategories)){
	$countadsposition = 0;
	$nbtevent = 0;
	$widgettype="TILED";
	$extns = $customCategories;
	$maxProductsinWidget = 3;
	foreach($extns as $extn){
		if(isset($extn->name)){
		$nbtevent = $nbtevent+1;
		$categoryName = $extn->name;
		$categoryUrl = $extn->URL;
		if(isset($extn->products[0]))
		{
			$countads = 0;
			$in = 1;
			
			// Show crosel and tiled widget alternatively
			if($widgettype === "TILED")
			{
				$maxProductsinWidget=10;
				$widgettype ="CROUSEL";
			}
			else
			{
				$maxProductsinWidget=4;
				$widgettype = "TILED";
			}
?>   
<?php if($widgettype === "CROUSEL") {?>
<!-- Crousel Widget -->
<div class="widgets-one-products overflowhidden">
		<h2 class="widgets-heading">
		<div class="col-sm-9 ">
			<a href="<?=$categoryUrl?>" data-ga-track="home_page##<?=$categoryName?>##viewall##0" class="category display-block">
				<?php if(strpos($categoryName,"Personal Grooming") !== false){ echo "Personal Grooming";}else { echo $categoryName;} ?></a>
	  </div>
			<div class="col-sm-3 text-right">
			<a href="<?=$categoryUrl?>" data-ga-track="home_page##<?=$categoryName?>##viewall##0" class="ft-7 uppercase fw-100 btn btn-color-blue">
			View All</a></div>
		</h2>
		<div class="widgets-loop overflowhidden toi-owl-carousel nbtevent<?php echo $nbtevent;?>" data-count="<?php echo $nbtevent;?>">
<?php
	 
	}else { ?>
	<!-- Four products -->
	<div class="widgets-four-products overflowhidden">
		<h2 class="widgets-heading overflowhidden">
			<div class="col-sm-8"><a href="<?=$categoryUrl?>" data-ga-track="home_page##<?=$categoryName?>##viewall##0" class="category display-block"><?=$categoryName?> </a></div>
			<div class="col-sm-4 text-right">
			<a href="<?=$categoryUrl?>" data-ga-track="home_page##<?=$categoryName?>##viewall##0" class="ft-7 uppercase fw-100 btn btn-color-blue">
			View All</a></div>
		</h2>
		<div class="widgets-loop overflowhidden">
	
	<?php  
		}?>
		
<?php 
		$products = $extn->products;
		$position = '';
		$productcount=0;
		foreach($products as $product){
			$target="";
			// show 4 products in tiled and 10 in crousel
			if($productcount == $maxProductsinWidget)
				break;
			
			$productcount=$productcount+1;
			$countadsposition = 1+$countadsposition;
			$in  = $in+1;
			$defaultPrice = round($product->DEFAULT_PRICE);
			$listPrice = round($product->LIST_PRICE);
			$productName= $product->PRODUCT_NAME;
			$discount = $product->DISCOUNT;
			$discountedPrice = round($product->DISCOUNTED_PRICE);
			$discount = round($discount);
			$category="";
			$productUrl="#";
			$productImageUrl="#";
			if(isset($productUrlArr) && isset($productUrlArr[$product->PRODUCT_ID])){
				$productUrl = $productUrlArr[$product->PRODUCT_ID];				
			}
			if(isset($productAffUrlArray))
			{
				$target="target=_blank";
				$affiliatearray=$productAffUrlArray[$product->PRODUCT_ID];
				$url = $affiliatearray['url'];
				$affname = $affiliatearray['affName'];
				$productUrl=$url;
				$affiliateParamArray=array("productname"=>$productName,"price"=>$defaultPrice,"producturl"=>$url,"pagename"=>"brandstore","widget"=>$categoryName);
				$productUrl=AffiliateUrlCreator::createAffiliateUrl($affname,$affiliateParamArray);
			}
			//logic for UREAD images
			$productid = $product->PRODUCT_ID;
			if(isset($productid) && (strpos($productid , 'U') !== false) && isset($currentCatalogId) && ($currentCatalogId === '10011')){
				$ureadimgURL ='https://images3.uread.com/productimages/mainimages/';
				$isbn13 = substr($productid, 1);
				$pIdcat = substr($productid, -3);
				$productImageUrl = $ureadimgURL.$pIdcat.'/'.$isbn13.'.jpg';
			} else {
				if(isset($productImageUrlArr) && isset($productImageUrlArr[$product->PRODUCT_ID])){
					$productImageUrl = $productImageUrlArr[$product->PRODUCT_ID];
				}
			}
			$showPrice=($discountedPrice>0 && $discountedPrice<$defaultPrice?$discountedPrice:$defaultPrice);
			$countads = 1+$countads;
			$position = 1+$position;
?>

<?php if($widgettype === "CROUSEL") {?>
			<!-- Crousel widget -->
			<div class="product-loop">
				<a <?=$target?> href="<?=$productUrl?>"
				   data-ga-track="<?=$currentCatalogName?>>##<?=$category?>##<?= $product->PRODUCT_ID.'|'.$product->PRODUCT_NAME.'|'.$product->PRIMARY_CATEGORY_ID.'|'.$showPrice ?>##0">
				<div class="product-img text-center display-block">
					<img alt="<?=$productName?>" class="img lazy" src="https://static.toiimg.com/photo/79837759.cms" data-original="<?=$productImageUrl?>" />
					<meta itemprop="contentUrl" content="<?=$productImageUrl?>" />
				</div>
				<?php if( isset($discount) && $discount>0) { ?>
						<div class="product-off"> <?=$discount?>% off</div>
				 <?php } ?>
				<div class="product-detail">
					<div class="product-heading bold"><?=$productName?></div>
					<div class="row">
						<div class="col-sm-7">
							<div class="product-price col-sm-12">
							<?php if($discountedPrice >0) { ?>
							<span class="rp offer bold display-inline"><?= $discountedPrice;?></span> 
							<?php if($listPrice>$defaultPrice){?>
							<span class="rp mrp display-inline"><?= $listPrice;?></span><?php }?>
							<?php } else {?>
                            <span class="rp offer bold display-inline"><?= $defaultPrice;?></span> 
                                <?php if($listPrice>$defaultPrice){?>
                            <span class="rp mrp display-inline"><?= $listPrice;?></span><?php }?>
                                <?php     }?>
							</div>
						</div>
						<div class="col-sm-5 text-right"><button class="btn-color btn bold">BUY NOW</button></div>
					</div>
				</div>
				</a>
			</div>

			<?php }else {?>
			
			<!-- Tiled four products -->
			
			<div class="product-loop relative flt">
				<a href="<?=$productUrl?>"
				   data-ga-track="home_page##<?=$category?>##<?= $product->PRODUCT_ID.'|'.$product->PRODUCT_NAME.'|'.$product->PRIMARY_CATEGORY_ID.'|'.$showPrice ?>##0">
					<div class="product-img text-center display-block">
						<img alt="<?=$productName?>" class="img lazy" src="https://static.toiimg.com/photo/79837759.cms"  data-original="<?=$productImageUrl?>" />
					</div>
					<?php if( isset($discount) && $discount>0) { ?>
				 <div class="product-off absolute text-center"><?=$discount?>% off</div>
				 <?php } ?>
					<div class="product-detail">
						<div class="product-heading bold"><?=$productName?></div>
					 
						<div class="row">
							<div class="product-price col-sm-12 text-center">
								<?php if($discountedPrice >0) { ?>
								<span class="rp offer bold display-inline"><?= $discountedPrice;?></span> 
								<?php if($listPrice>$defaultPrice){?>
								<span class="rp mrp display-inline"><?= $listPrice;?></span><?php }?>
								<?php } else {?>
	                            <span class="rp offer bold display-inline"><?= $defaultPrice;?></span> 
	                             <?php if($listPrice>$defaultPrice){?>
	                            <span class="rp mrp display-inline"><?= $listPrice;?></span><?php }?>
	                              <?php }?>
							</div>
					</div>
					</div>
				</a>
				
			</div>
			<?php } // Ends widget type checking
			?>


<?php } ?>
	</div>
	</div>		
<?php }}}}?>
<?php if(isset($seoBTFcontent)) { ?>
	<div class="seocontianer">
	<h1><?=$seoBtfTitleName?></h1>
	<div class="seocontent overflowhidden">
	<?=$seoBTFcontent?></div>
			<?php if(strlen($seoBTFcontent) >= 45) { ?>
	<a class="seoreadmore" href="#">read more...</a>
			<?php } ?>
</div>
<?php } ?>
<?php include __DIR__ . "/../common/pwaFooter.phtml"; ?>
