<?php include __DIR__ . "/../common/header.phtml"; ?>
<?php if(isset($currentCatalogId)){ $catalougeId = $currentCatalogId;} ?>

<div id="toi-casousel">
			<?php
						$url ="https://shop.gadgetsnow.com/api/gadgets-catalog-api.php?cat_id=".$currentCatalogId;
						$content = file_get_contents($url);
						if(isset($content)) {
							$result = json_decode($content,true);
							if(isset($result['CatlogBanner'])){ ?>	
						<?php 		//var_dump($result);
						foreach($result['CatlogBanner'] as $value){
						$imgpath = $value['bannername'];
						$imgurl = $value['bannerurl'];
						$imgurl = str_replace("https://www.shop.gadgetsnow.com/","", $imgurl);
						if(isset($value['mbannerurl']))
						{
							$imgurl = $value['mbannerurl'];
						}
						
						?>
						 <a class="ga-promotion"  data-ga-promo="id~<?=htmlspecialchars($imgurl)."##name~".$value['bannertext']."##creative~home_page_banner##position~banner".$value['number'];?>" data-ga-promotion="<?= htmlspecialchars($imgurl)."##".$value['bannertext']."##home_page_banner##".$value['number']."##id-".$value['bannertext'];?>" data-ga-track="hp_banner##<?php echo $imgurl?>##shop_now##0" href="<?php echo $imgurl?>" >
						 <img alt="<?=$value['bannertext']?>" class='lazy' data-original='<?php echo $imgpath?>' width='100%' /></a>
						<?php		} ?>	
					<?php } }?>
</div>

<div class="toi-container">
				
    
        <section>
			<div class="featured-home">
			<div class="toi-product-head">
				<h3 class="blue-strip"><span class="truncate text-transform">Featured Category </span></h3>
			</div>
				<div class="wapper-list-catagories check-carousel">
				<ul class="list-catagories newcarousel" data-width-list='190'>
					<li>
						<a href="/smartphones">
							<div class="img"><img src="/mobile/img/smartphone.jpg"/></div>
							<div class="cate-head">Smartphones</div>	     		
						</a>
					</li>
					<li>
	     			<a href="/laptops">
	     				<div class="img"><img src="https://img1.gadgetsnow.com/gd/imgbn/laptop.jpg"/></div>
	     				<div class="cate-head">Laptops</div>	     		
	     			</a>
	     		</li>
	     		<li>
	     			<a href="/televisions">
	     				<div class="img"><img src="https://img1.gadgetsnow.com/gd/imgbn/tv-img.jpg"/></div>
	     				<div class="cate-head">Televisions</div>	     		
	     			</a>
	     		</li>
	     		<li>
						<a href="/ac">
							<div class="img"><img src="https://img1.gadgetsnow.com/gd/imgbn/ac-img.jpg"/></div>
							<div class="cate-head">Air Conditioners</div>	     		
						</a>
				</li>
				<li>
					<a href="/refrigerator">
						<div class="img"><img src="https://img1.gadgetsnow.com/gd/imgbn/refrigerators-img.jpg"/></div>
						<div class="cate-head">Refrigerators</div>	     		
					</a>
				</li>
				<li>
						<a href="/mobiles-accessories-power-banks">
							<div class="img"><img src="/mobile/img/power-bank.jpg"/></div>
							<div class="cate-head">Power Banks</div>	     		
						</a>
					</li>
					<li>
						<a href="/mobiles-accessories-headphones-headsets">
							<div class="img"><img src="/mobile/img/head-phones.jpg"/></div>
							<div class="cate-head">Headphones</div>	     		
						</a>
					</li>
					<li>
						<a href="/mobiles-accessories-fitness-band">
							<div class="img"><img src="/mobile/img/fitness-band.jpg"/></div>
							<div class="cate-head">Fitness Bands</div>	     		
						</a>
					</li>
					<li>
						<a href="/mobiles-accessories-memory-cards">
							<div class="img"><img src="/mobile/img/memory-cards.jpg"/></div>
							<div class="cate-head">Memory Cards</div>	     		
						</a>
					</li>
					<li>
	     			<a href="/feature-phones">
	     				<div class="img"><img src="/mobile/img/features-mobile.jpg"></div>
	     				<div class="cate-head">Feature Phones</div>	     		
	     			</a>
					</li>
					<li style="display:none">
						<a href="/mobiles-accessories">
							<div class="cate-head">View All</div>	     		
						</a>
					</li>
				</ul>
				 
			</div>
		</div>
		</section>
			 <!-- Brands start -->
		<section>
			<div class="all-brands">
				<div class="toi-product-head">
						<h3 class="blue-strip"><span class="truncate text-transform">Brands</span></h3>
				</div>
				<div class="all-brands-list-container check-carousel">
				<ul class="newcarousel" data-width-list='118'>
						<li>
							<a href="/smartphones/brand-Apple">
								<div class="firstdiv"><img title="apple" class="lazy" data-original="https://img1.gadgetsnow.com/gd/imgbn/apple-iphone-logo.jpg"/></div>
								<div class="seconddiv">Apple</div>
							</a>
						</li>
						<li>
							<a href="/smartphones/brand-Samsung">
								<div class="firstdiv"><img title="samsung" class="lazy" data-original="https://img1.gadgetsnow.com/gd/imgbn/Samsung-Logo.jpg"/></div>
								<div class="seconddiv">Samsung</div>
							</a>
						</li>
						<li>
							<a rel="noindex,nofollow" href="/smartphones/brand-Mi">
								<div class="firstdiv"><img title="Mi" class="lazy" data-original="https://img1.gadgetsnow.com/gd/imgbn/Mi-Logo.jpg"/></div>
								<div class="seconddiv">Mi</div>
							</a>
						</li>
						<li>
							<a rel="noindex,nofollow" href="/smartphones/brand-Motorola">
								<div class="firstdiv"><img title="Moto" class="lazy" data-original="https://img1.gadgetsnow.com/gd/imgbn/moto-logo.jpg"/></div>
								<div class="seconddiv">Moto</div>
							</a>
						</li>
						<li>
							<a rel="noindex,nofollow" href="/smartphones/brand-Lenovo">
								<div class="firstdiv"><img title="Lenovo" class="lazy" data-original="https://img1.gadgetsnow.com/gd/imgbn/lenovo-logo.jpg"/></div>
								<div class="seconddiv">Lenovo</div>
							</a>
						</li>
						<li>
							<a rel="noindex,nofollow" href="/smartphones/brand-Nokia">
								<div class="firstdiv"><img title="Nokia" class="lazy" data-original="https://img1.gadgetsnow.com/gd/imgbn/nokia-logo.jpg"/></div>
								<div class="seconddiv">Nokia</div>
							</a>
						</li>
						<li>
							<a rel="noindex,nofollow" href="/smartphones/brand-OnePlus">
								<div class="firstdiv"><img title="OnePlus" class="lazy" data-original="https://img1.gadgetsnow.com/gd/imgbn/oneplus-logo.jpg"/></div>
								<div class="seconddiv">OnePlus</div>
							</a>
						</li>
						<li>
							<a rel="index,follow" href="/smartphones/brand-Honor">
								<div class="firstdiv"><img title="Honor" class="lazy" data-original="https://img1.gadgetsnow.com/gd/imgbn/honor-logo.jpg"/></div>
								<div class="seconddiv">Honor</div>
							</a>
						</li>
						<li>
							<a rel="index,follow" href="/smartphones/brand-Vivo">
								<div class="firstdiv"><img title="Vivo" class="lazy" data-original="https://img1.gadgetsnow.com/gd/imgbn/vivo-logo.jpg"/></div>
								<div class="seconddiv">Vivo</div>
							</a>
						</li>
						<li>
							<a rel="noindex,nofollow" href="/smartphones/brand-OPPO">
								<div class="firstdiv"><img title="Oppo" class="lazy" data-original="https://img1.gadgetsnow.com/gd/imgbn/oppo-logo.jpg"/></div>
								<div class="seconddiv">Oppo</div>
							</a>
						</li>
						<li>
							<a rel="index,follow" href="/smartphones/brand-Asus">
								<div class="firstdiv"><img title="Asus" class="lazy" data-original="https://img1.gadgetsnow.com/gd/imgbn/asus-logo.jpg"/></div>
								<div class="seconddiv">Asus</div>
							</a>
						</li>
						<li>
							<a rel="noindex,nofollow" href="/smartphones/brand-Micromax">
								<div class="firstdiv"><img title="Micromax" class="lazy" data-original="https://img1.gadgetsnow.com/gd/imgbn/micromax-logo.jpg"/></div>
								<div class="seconddiv">Micromax</div>
							</a>
						</li>
					</ul> 
				</div>
			</div>
		</section>
		<!-- Brands end -->
              
<?php
if(isset($customCategories)){
$countadsposition = 0;
$extns = $customCategories;
foreach($extns as $extn){
	if(isset($extn->name)){
	$categoryName = $extn->name;
	$categoryUrl = $extn->URL;
	if(isset($extn->products[0])){
$countads = 0;
$in = 1;
?>             
	

        <section>
            <div class="toi-product-head">
				<h3 class="ftl blue-strip"><span class="truncate text-transform"><?=$categoryName?></span> 
				<a href="<?=$categoryUrl?>" data-ga-track="home_page##<?=$categoryName?>##viewall##0" class="ftr">See All </a></h3>
			</div>
            <div class="toi-owl-carousel">
<?php 
		$products = $extn->products;
		$position = '';
		foreach($products as $product){
	$countadsposition = 1+$countadsposition;
	$in  = $in+1;
			$defaultPrice = round($product->DEFAULT_PRICE);
			$listPrice = round($product->LIST_PRICE);
			$discount = $product->DISCOUNT;
			$discountedPrice = round($product->DISCOUNTED_PRICE);
			$discount = round($discount);
			$category="";
			$productUrl="#";
			$productImageUrl="#";
			if(isset($productUrlArr) && isset($productUrlArr[$product->PRODUCT_ID])){
				$productUrl = $productUrlArr[$product->PRODUCT_ID];
			}
			//logic for UREAD images
			$productid = $product->PRODUCT_ID;
			if(isset($productid) && (strpos($productid , 'U') !== false) && isset($currentCatalogId) && ($currentCatalogId === '10011')){
				$ureadimgURL ='https://images3.uread.com/productimages/mainimages/';
				$isbn13 = substr($productid, 1);
				$pIdcat = substr($productid, -3);
				$productImageUrl = $ureadimgURL.$pIdcat.'/'.$isbn13.'.jpg';
			} else {
				if(isset($productImageUrlArr) && isset($productImageUrlArr[$product->PRODUCT_ID])){
					$productImageUrl = $productImageUrlArr[$product->PRODUCT_ID];
				}
			}
			$showPrice=($discountedPrice>0 && $discountedPrice<$defaultPrice?$discountedPrice:$defaultPrice);
			$countads = 1+$countads;
			$position = 1+$position;
?>
             		<!-- product start -->
          
                    
                    <div class="toi-product" itemscope itemtype="http://schema.org/ImageObject">
							
							<!-- <div class="toi-product"> -->
									<a data-ga-en="event~productClick##id~<?= $product->PRODUCT_ID;?>##name~<?= $product->PRODUCT_NAME;?>##brand~<?php if(isset($product->BRAND)){ echo $product->BRAND;}else{echo "no brand";};?>##category~catalog_name/category_id/##price~<?= $product->LIST_PRICE;?>##quantity~1##position~<?=$position;?>##url~<?=$productUrl?>##list~home_page_<?=$category?>|<?= $product->PRODUCT_ID;?>" data-ga-track="home_page##<?=$category?>##<?= $product->PRODUCT_ID.'|'.$product->PRODUCT_NAME.'|'.$product->PRIMARY_CATEGORY_ID.'|'.$showPrice ?>##0" href="<?=$productUrl?>">
										<figure><img class="lazy" alt="<?= $product->PRODUCT_NAME;?>" data-original="<?=$productImageUrl?>"/></figure>
										<meta itemprop="contentUrl" content="<?=$productImageUrl?>" />
										<figcaption itemprop="name"><div><?= $product->PRODUCT_NAME?></div></figcaption>
										<div class="toi-price">
											<div class="ftl">
												 <?php if($listPrice>$showPrice){?><span class="toi-rupees toi-mrp"><?= $product->LIST_PRICE;?></span>
												 <?php } elseif($listPrice == $showPrice) {?> <span class="toi-rupees toi-offer toi-text"><?=$listPrice?></span><?php }?>
												<?php if($discountedPrice >0) {?><span class="toi-rupees toi-offer toi-text"><?=$discountedPrice?></span><?php } ?>
											</div>
											<span class="ftr toi-buy">buy</span>
											
										</div>
									</a>
							</div>
                    <!-- product end -->
                    <?php if($countads==2){?>
							<div id="div-clmb-ctn-<?=str_replace(" ","-",$category)?>-<?=$in;?>" data-slot="256682" data-position="<?=$countadsposition;?>" data-section="0" data-cb="adwidgetfun" class="colombia toi-product colombiaad"> </div>
							<?php $countads=0; }  ?>
<?php }?>
                    </div>
        </section>
<?php }}}?>        
<!--   Laptops from PAYTMMall -->

<?php  if(isset($affiliateSponsoredProducts))
						{ ?>	
	<div class="toi-container">
 		<section>
				<div class="toi-product-head">
					<h3 class="ftl blue-strip"><span class="truncate text-transform">Laptops with Cashback</span></h3>
				</div>
				<div class="toi-owl-carousel">
				
				<?php
				$sponsoredCounts=0;
				foreach($affiliateSponsoredProducts as $affSProd )
				{
					unset($paytmOffer);
					if(is_array($affSProd['title']))
						continue;
					$sponsoredCounts = $sponsoredCounts+1;
					$name = "";
					if(isset($affSProd['title']))
						$name = $affSProd['title'];
					 
					$sponsrdUrl = "";
					if(isset($affSProd['url']))
						$sponsrdUrl =$affSProd['url'];
					 
					$sprice = "";
					if(isset($affSProd['price']))
					{
						if(is_numeric($affSProd['price']))
							$sprice =number_format($affSProd['price']);
						else
							$sprice=$affSProd['price'];
					}
					$event="";
					$affiliate="";
					if(strpos($sponsrdUrl,"paytm") != false)
					{
						$affiliate="paytm";
						$eventCategory="paytm_popular_catalog_mweb_cashback";
						$eventaction = $name;
						$eventLabel="home|".$name."|".$sprice;
						$utmcampaign="mweb_gnshop_paytm_catalog_cashback";
						if(strpos($sponsrdUrl,"-pdp")!==false)
						{
							$sponsrdUrl = str_replace("-pdp","",$sponsrdUrl);
							$sponsrdUrl = str_replace("https://paytmmall.com","https://paytm.com/shop/p", $sponsrdUrl);
						}else
						{
							$sponsrdUrl = str_replace("https://paytmmall.com","", $sponsrdUrl);
						}
						$sponsrdUrl = rawurlencode($sponsrdUrl);
						$offerprice=$affSProd['price'];
						if(isset($affSProd['cashback']))
						{
							$paytmOffer = intval($affSProd['cashback']);
							$offerprice=$affSProd['price'] - $paytmOffer;
						}
						$putm="GadgetsNowShop_mweb_catalog_cashback";
						$sponsrdUrl = $sponsrdUrl."&putm=".$putm."&utm_campaign=".$utmcampaign."&utm_source=gadgetsnow&utm_medium=Affiliate&price=".$affSProd['price']."&title=".rawurlencode($name);
						$sponsrdUrl = $GLOBALS['general']['PAYTM_INTERMEDIATE_URL']."?url=".$sponsrdUrl;
					}else 
					{
						continue;
					}
						 
				?>
				
					<!-- product start -->
					<div class="toi-product" itemscope="" itemtype="http://schema.org/ImageObject">
							<div class="soldout-contain">Sold Out</div>
							<a rel="nofollow sponsored" target="_blank" data-ga-track="paytm_popular_laptops_mweb##laptopse_<?=$name?>##laptops|<?=$name?>##0" href="<?=$sponsrdUrl?>">
	     							<figure><img class="lazy" alt="<?=handleStr($name)?>" data-original="<?=$affSProd['imageUrl']?>">
								</figure>
								<meta itemprop="contentUrl" content="<?=$affSProd['imageUrl']?>">
								<figcaption itemprop="name"><div class="proxima-regular1"><?=$name?></div></figcaption>
								<div class="toi-price">
								<div class="ftl">											 												 
									<span class="offer-price-ui toi-text"><?= number_format($offerprice)?></span> 
									<?php if(isset($paytmOffer)) { ?>
				                    <span style="padding-bottom:0px; color:#333; font-family:inherit; border:1px solid green; background:lightgreen; display:block; margin-top:8px; padding:0 5px; ">Includes <span class="offer-price-ui"></span><?=$paytmOffer?> Cashback</span>
								<?php } ?>
								</div>
									<span class="ftr toi-buy">buy</span>											
								</div>
							</a>
					</div>
					<!-- product end -->
					
					<?php }   ?>
				</div>    
			</section>
			</div> 
			<?php } ?>


<?php if(isset($seoBTFcontent)) { ?>
	<div class="seocontianer">
	<h1><?=$seoBtfTitleName?></h1>
	<div class="seocontent overflowhidden">
	<?=$seoBTFcontent?></div>
			<?php if(strlen($seoBTFcontent) >= 45) { ?>
	<a class="seoreadmore" href="#">read more...</a>
			<?php } ?>
</div>
<?php }} ?>
 <?php include __DIR__ . "/../common/newfooter.phtml"; ?>
