
<?php include __DIR__ . "/../common/ampheader.phtml"; ?>
<?php if(isset($product) && $product->getProductId()!="")
		{ 
			$productId = $product->getProductId();
			$catalogname = $product->getCatalogName();
			$catalogid = $product->getCatalog();
			$categoryname = $product->getCategoryName();
			$productid = $product->getProductId();
			$productname = $product->getProductName();
			$productPriceForGA=0;
			$productCategoryId = $product->getCategory();
			$frontendUrl=$GLOBALS['general']['FRONT_END_SERVER_URL'];
			?>
<div class="pdp-content">	
	<div class="section-container-ui">
	<section>
		<h1 class="heading"><?=handleStr($product->getProductName())?></h1>
		
		 <input type="hidden" id="product_id" name="product_id" value="<?=handleStr($product->getProductId())?>" />
		<input type="hidden" id="product_name" name="product_name" value="<?=handleStr($product->getProductName())?>" />
		<input type="hidden" id="catalog_id" name="catalog_id" value="<?=handleStr($product->getCatalog())?>" />
	</section>
	<section>
		<div class="product-img-casousel">
			<amp-carousel height="300" layout="fixed-height" type="carousel">
			 <?php $position = '0'; 
				   foreach($product->getAdditionalImage() as $img){ 
  					if(isset($img)){
								$tempImg = $img;
								if(strpos($img,"https:")===false){$tempImg = $staticUrl.$img;}
									?>
								
									
								<amp-img src="<?=str_replace("/original/","/medium/",handleStr($tempImg))?>" height="250" alt="a sample image"></amp-img>
			<?php $position = $position+1; } }?>
				<!-- amp-img src="http://img1.gadgetsnow.com/gd/images/products/additional/medium/G10201_View_1.jpg" height="250" alt="a sample image"></amp-img>
				<amp-img src="http://img1.gadgetsnow.com/gd/images/products/additional/medium/G10201_View_2.jpg" height="250" alt="another sample image"></amp-img>
				<amp-img src="http://img1.gadgetsnow.com/gd/images/products/additional/medium/G10201_View_3.jpg" height="250" alt="and another sample image"></amp-img-->
			</amp-carousel>
			<ul class="casousel-dot">
				<li></li>
				<li></li>
				<li></li>
			</ul>
		</div>
		<div class="product-detail-price">
			<amp-list src="//<?=$frontendUrl?>/control/ampPDPPriceJSON?productId=<?=$product->getProductId()?>" id="amp-template-1" height="180">
			<template type="amp-mustache">
			<div class="pdp-price {{#isAmz}}amazonbuybutton{{/isAmz}} oveflowhidden">
				
				<div class="flt pricetab amazontab">
					<span class="offer-price-ui toi-text flt">{{offer_price}}</span> <span class="mrp-price-ui flt">{{mrp}}</span>
					<span class="amazon-logo flt"> </span>
				</div>
				{{#stock}}
				<div class="flt pricetab width56 amazontabsecond  text-center">
					<div class="gnplus flt"><span class="first-child"></span></div>
					<a target="_blank" href="http://m.gadgetsnow.com/affiliate_amazon.cms?url=TESTURL&amp;tag=timofind-21&amp;utm_campaign=mweb_gnshop_pdp_buyat-21&amp;title=TEST IT&amp;price=13999" class="buy-button-amazon flat-orange">Buy Now</a>
					
					<a target="_blank" href="http://m.gadgetsnow.com/affiliate_amazon.cms?url=TESTURL&amp;tag=timofind-21&amp;utm_campaign=mweb_gnshop_pdp_buyat-21&amp;title=TEST IT&amp;price=13999" class="buy-button flt">Buy Now</a>
				</div>
				{{/stock}}
			</div>
			<div class="pdp-save">
				{{#save}}
				<p class="yousave">You Save <span class="offer-price-ui">{{you_save}}</span> ({{you_save_percent}})</p>
				{{/save}}
				<p class="freeshipping">Free Shipping</p>
				{{#emi}}
				<p class="emistr">EMI Starting at <span class="offer-price-ui"> {{emi_starting}}</span></p>
				{{/emi}}
			</div>
			{{#offer_text}}
			<mark>
               	<a href="">View Offer</a>
            </mark>
			{{/offer_text}}
			{{^Instock}}
			<div class="outofstock">
				<p>Out of Stock</p>
				<div class="notification-tab">
				<a href="producturl" class="notification oveflowhidden">
					<div class="messge">This product is out of stock now. Get notified when this product is available 'in-stock'.</div>
					<div class="tableForm">
						<div class="tableF">Enter Your Email</div>
						<div class="tableB">Notify Me</div>
					</div>
				</a>
				</div>
			</div>
			{{/Instock}}
			</template> 
			</amp-list>
			
			<div class="check-cod">
                <p>Check Express Delivery Availability</p>
				<form method="POST"  target="_top" action-xhr="//m.localhost.shop.gadgetsnow.com/control/checkampDeliveryLocation">
					<input name="productId" type="hidden" value="<?=$product->getProductId()?>"/>
					<input type="pinNumber" class="checkpin" placeholder="Enter Your Pincode" value="" name="pinNumber"  maxlength="6" tabindex="1" required>
					<input type="submit" class="checkpinbutton" value="Check" tabindex="2">
					<div submit-success>
					<template type="amp-mustache" id="amp-template-id">
					  {{deliverydate}}
					</template>
				  </div>
				  <div submit-error class="error">
					<template type="amp-mustache" id="amp-template-id">
					  {{ErrorMsg}} Some thing wrong please try again.
					</template>
				  </div>
                </form>
				<div class="vendor">Seller : Times Internet Ltd</div>
			</div>
		</div>
	<section>
	</div>
	
	<?php if((isset($affiliateRecoProds) && isset($affiliateRecoProds['0']))) 
         		{ ?>
	<section>
			<div class="productShowBox">
			<div class="productShowlist">
				<div class="heading">See Also (Sponsored)</div>
			</div>
			<ul>
			<?php 
			$maxcounts = 0;
			$amzrecocount=0;
			$paytmrecocount=0;
			$s=sizeof($affiliateRecoProds);
			foreach ($affiliateRecoProds as $affiliateProd)
			{
				if($maxcounts == 4)
					 break;
				
				$affname=$affiliateProd['AFFILIATE_NAME'];
				
				// Logic to display only 2 amazon products
				
				if($affname == "AMAZON" && $amzrecocount == 2 && $maxcounts !=2)
					continue;  // continue if 2 amz prods are displayed and $maxcount
				
				if($affname == "PAYTM" && $paytmrecocount == 2 && $maxcounts !=2)
					continue;
				$amzrecocount++;
				$paytmrecocount++;
				$maxcounts=$maxcounts+1;
				$affPName = $affiliateProd['AFFILIATE_PRODUCT_NAME'];
				$price = $affiliateProd['PRICE'];
				
				if($affname=="AMAZON")
				{
					$eventCategory="add2cart_amazon_seealso";
					$eventaction=$catalogname."|".$categoryname;
					$eventLabel="pdp|".$productCategoryId."|".$productid."|".$affiliateProd['AFFILIATE_PRODUCT_NAME']."|".$affiliateProd['PRICE'];
					$landingUrl = $affiliateProd['AFFILIATE_PRODUCT_URL'];
					$landingUrl = str_replace("https://www.amazon.in","",$landingUrl);
					$landingUrl = str_replace("http://www.amazon.in","",$landingUrl);
					if(strpos($landingUrl,"?") == false)
					{
						$landingUrl = $landingUrl."?tag=timofind-21";					
					}else 
					{
					$landingUrl = $landingUrl."&tag=timofind-21";				
					}
					$landingUrl = "http://m.gadgetsnow.com/affiliate_amazon.cms?url=".rawurlencode($landingUrl)."&utm_source=mweb_gnshop&utm_medium=Affiliate&title=".rawurlencode($affPName)."&utm_campaign=mweb_gnshop_seealso-21&title=utf8_encode(".$affPName.")&price=".$price;
				}
				
				if($affname=="PAYTM")
				{
					if(strpos($landingUrl,"-pdp")!==false)
					{
						$landingUrl = str_replace("-pdp","",$landingUrl);
						$landingUrl = str_replace("https://paytmmall.com","https://paytm.com/shop/p", $landingUrl);
					}else
					{
						$landingUrl = str_replace("https://paytmmall.com","", $landingUrl);
					}
					$landingUrl = rawurlencode($landingUrl);
					$eventCategory="paytm_pdp_mweb_seealso";
					$eventaction=$catalogname."_".$categoryname."_".$affPName;
					$eventLabel="pdp|".$productid."|".$productname."|".$productPriceForGA;
					$seeutmcampaign="mweb_gnshop_seealso_pdp";
					 
					$landingUrl = $landingUrl."&utm_campaign=".$seeutmcampaign."&utm_source=gadgetsnow&utm_medium=Affiliate&price=".$price."&title=".rawurlencode($affPName);
					$landingUrl = $GLOBALS['general']['PAYTM_INTERMEDIATE_URL']."?url=".$landingUrl;
				}
				
			?>
				<li>
					<a target="_blank" rel="nofollow sponsored" href="url">
					
						<div class="inner">
						<div class="flt firstdiv">
						<span>
							<amp-img src="<?=$affiliateProd['SMALL_IMAGE_URL']?>" height="80"></amp-img>
						</span>
						</div>
						<div class="flt seconddiv">
							<div class="tabletitle">
								<?=$affiliateProd['AFFILIATE_PRODUCT_NAME']?><?=$maxcounts?><?=$paytmrecocount?>
							</div>
								<div class="tableR">
									<div class="tableC price_tag"><span class="offer-price-ui"> </span><?=$affiliateProd['PRICE']?></div>
									<?php if($affname == "AMAZON") {?>	
									<div class="tableC logo"><i></i></div>
									<div class="tableC buy"><small class="buy_btn">BUY</small></div>
									<?php }elseif($affname == "PAYTM") {?>
									<div class="tableC logo logoPaytm"><i></i></div>
									<div class="tableC"><small class="buy_btn paytm">BUY</small></div>
									<?php } ?>
								</div>
						</div>
						</div>
					</a>
				</li>
				<?php  }
			?>
			</ul>
			</div>
         </section>
	<?php } ?>
	
	<div class="adcode"><amp-ad width="300" height="250" type="doubleclick" data-slot="/7176/AMP_GadgetsNow_Shop/AMP_GadgetsNow_Shop_ROS/AMP_GN_Shop_Mrec1"> <div placeholder>  <b>Placeholder here!!!</b> </div>
</amp-ad></div>
	<section class="stealdealcontainer">
	<amp-list src="//<?=$frontendUrl?>/control/ampStealJSON?productId=<?=$product->getPromotionalProductIds()?>" height="360">
	<div fallback></div>
	<template type="amp-mustache">
		<div class="section-container-ui stealdeal ">
				<h3> {{widgetName}}</h3>
				<div class="specialProduct">
				<div class="first-col">
				<a href="{{urlAction}}">
					<amp-img src="https://img1.gadgetsnow.com/gd/images/products/medium/G25527.jpg" height="176" width="129" alt="a sample image"></amp-img>
				</a></div>
				<div class="second-col">
					<div class="productname">
						<a href="{{urlAction}}">
							{{pname}}
						</a>
					</div>
					<ul class="keyfeatures">
					
					{{#keyfeatures.display}}<li>{{keyfeatures.display}}</li>{{/keyfeatures.display}}
					{{#keyfeatures.andorid}}<li>{{keyfeatures.andorid}}</li>{{/keyfeatures.andorid}}
					{{#keyfeatures.processor}}<li>{{keyfeatures.processor}}</li>{{/keyfeatures.processor}}
					{{#keyfeatures.camera}}<li>{{keyfeatures.camera}}</li>{{/keyfeatures.camera}}
					{{#keyfeatures.ram}}<li>{{keyfeatures.ram}}</li>{{/keyfeatures.ram}}
					{{#keyfeatures.battery}}<li>{{keyfeatures.battery}}</li>{{/keyfeatures.battery}}
					{{#keyfeatures.warranty}}<li>{{keyfeatures.warranty}}</li>{{/keyfeatures.warranty}}
										
					</ul>
					<div class="price-container">
						<div class="flt">
							<span class="offer"><span class="offer-price-ui"> </span>{{offerPrice}}</span> 
							<span class="mrp"><span class="offer-price-ui"></span>{{mrpPrice}}</span>
							{{#save}}
							<span class="yousave">You Save <span class="offer-price-ui"> </span>{{you_save}}</span> 
							{{/save}}
						</div>
						<div class="flr">
							<a class="buy_btn" href="/control/additem?add_product_id={{productId}}">BUY</a>
						</div>
					</div>
				</div>
				</div>
			</div>
	</template> 
	</amp-list>
	</section>
	<section>
			<div class="productShowlist">
			<h3 class="heading"> Promoted</h3>
			<amp-list src="//<?=$frontendUrl?>/control/ampPDPPromotedJSON?position=2" height="280">
			<template type="amp-mustache">
			<a class="display-block" href="{{banner_url}}">
				<amp-img src="{{image_path}}" height="280" alt="{{banner_text}}"/></amp-img>
			</a>
			</template> 
			</amp-list>
			</div>
			</section>
	<section>
	<div class="section-container-ui features-other-option">
		
		<?php if($product->getKeyFeatures()!=null) { ?>
           		<h3>Key Features</h3> 
                <ul class="keyfeatures-ui">
                	<?php 
						foreach ($product->getKeyFeatures() as $keyFeature) {
						echo $keyFeature;
					} ?>
                </ul>
				<?php } ?>
				<?php if($product->getSimilarProductIds()!=null) { ?>
           		<p>Other Available Colors</p>
                <ul class="aiviable-colors">
					<?php foreach ($product->getSimilarProductIds() as $key=>$value) { ?>
                	<li>
                    	<figure>
                    		<a href="<?=$value?>">
								<amp-img src="<?=str_replace(handleStr($product->getProductId()),$key,$product->getSimilarProductImg())?>" height="60"/></amp-img>
							</a>
                    	</figure>
                    </li>
					<?php } ?>
                </ul>
				<?php } ?>
		
		
	</div>
	</section>
	 <?php if(handleStr($product->getLongDescription())!=null){ ?>
	<section>
		<div class="section-container-ui about-product-details-ui product-summary">
        	<h3><span class="truncate">Product Summary</span></h3> 
             <div class="detail-text oveflowhidden"><?=handleStr($product->getLongDescription())?></div>
			</div>
	</section>
	<?php } ?>
	<section>
	<div class="section-container-ui about-product-table-ui">
            <h3><span class="truncate">Full Specifications </span></h3>
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
					<?php if(handleStr($product->getBrandName())!=""){ ?>
                    <tr>
                    <td>BRAND</td>
                    <td> <?=handleStr($product->getBrandName())?> <a href='<?=handleStr($product->getProductBrandUrl())?>' class="flr">See All <?=handleStr($product->getBrandName())?> Products</a></td>
	                </tr>
	                <?php } ?>
                    <tr>
                    <td>CATEGORY</td>
                    <td><?=handleStr($product->getCategoryName())?></td>
                    </tr>
                                    
				<?php if($product->getStandardFeatures()!=null) {
					foreach ($product->getStandardFeatures() as $key => $value) { ?>
                    <tr>
						<td><?=$key?></td>
						<td><dl>
							<?php foreach ($value as $k => $v) { ?>
								<?php if(strcasecmp(trim($key), trim($k)) != 0) { ?><dt><?=$k?></dt><?php } ?>
								<dd><?=$v?></dd>
							<?php }?>
						  </dl>
						</td>
					</tr>
				<?php } } ?>
				<?php if($product->getManufacturerAddress() != null) { ?>
					<tr>
						<td>MANUFACTURER</td>
						<td><?=$product->getManufacturerAddress()?></td>
					</tr>
					<?php } ?>
					<?php if($product->getImporterAddress() != null) { ?>
					<tr>
						<td>IMPORTER</td>
						<td><?=$product->getImporterAddress()?></td>
					</tr>
					<?php } ?>
              </table>              
    </div>
	</section>
		
	<section>
		<div class="card amazon-list margin-10">
			<h4 class="heading">Sponsored: In the store</h4>
			<ul>
			<?php
			$sponsoredCounts=0; 
			if(isset($affiliateSponsoredProducts))
			{  $showPrice=$product->getPrice();
			foreach($affiliateSponsoredProducts as $affSProd )
			 {
	    		/* commented to show all products in sponsored list if($sponsoredCounts > 10)
	    		{
	    			break;
	    		} */
	    		$sponsoredCounts = $sponsoredCounts+1;
	    		$name = ""; 
	    		if(isset($affSProd['title']))
	    			$name = $affSProd['title'];
	    		
	    		$sponsrdUrl = ""; 
	    		if(isset($affSProd['url']))
	    			$sponsrdUrl =$affSProd['url'];
	    		
	    		$sprice = ""; 
	    		if(isset($affSProd['price']))
	    		{
	    			if(is_numeric($affSProd['price']))
	    				$sprice =number_format($affSProd['price']);
	    			else 
	    				$sprice=$affSProd['price'];
	    		}
	    		$event="";
	    		$affiliate="";
	    		if(strpos($sponsrdUrl,"amazon") != false)
	    		{
	    			$affiliate="amazon";
	    			$eventCategory="add2cart_mweb_amazon_sponsor";
	    			$eventaction = $catalogname."|".$categoryname;
	    			$eventLabel="pdp|".$productCategoryId."|".$productid."|".$productname."|".$productPriceForGA;
		    		$sponsrdUrl = str_replace("https://www.amazon.in","",$sponsrdUrl);
		    		$sponsrdUrl = str_replace("http://www.amazon.in","",$sponsrdUrl);
		    		if(strpos($sponsrdUrl,"?") == false)
		    		{
		    			$sponsrdUrl=$sponsrdUrl."?";
		    		}else
		    		{
		    			$sponsrdUrl=$sponsrdUrl."&";
		    		}
		    		$sponsrdUrl = $sponsrdUrl."SubscriptionId=AKIAJX7PDW7DEP2LLJLA&linkCode=xm2&camp=2025&creative=165953&creativeASIN=B01ABNWQI4";
		    		$sponsrdUrl = $sponsrdUrl."&tag=timofind-21";
		    		$sponsrdUrl = rawurlencode($sponsrdUrl)."&utm_campaign=mweb_gnshop_spons-21&utm_source=mweb_gnshop&utm_medium=Affiliate&title=".rawurlencode($name)."&price=".$sprice;
		    		$sponsrdUrl="http://m.gadgetsnow.com/affiliate_amazon.cms?url=".$sponsrdUrl;
	    		}elseif(strpos($sponsrdUrl,"tatacliq") != false)
	    		{
	    			$affiliate="tatacliq";
	    			$tatacliqurl=$GLOBALS['general']['TATA_CLIQ_URL'];
	    			$eventCategory="add2cart_mweb_tatacliq_sponsor";
	    			$eventaction = $catalogname."_".$categoryname."_".$name;
	    			$eventLabel="pdp|".$productid."|".$productname."|".$productPriceForGA;
	    			$sponsrdUrl = str_replace("https://www.tatacliq.com","",$sponsrdUrl);
	    			$sponsrdUrl = str_replace("http://www.tatacliq.com","",$sponsrdUrl);
	    			$sponsrdUrl = $sponsrdUrl;
	    			$nameurl = str_replace(" ","_",$name);
	    			$sponsrdUrl = rawurlencode($sponsrdUrl)."&tag=mweb_gnshop_sponsored&utm_source=mweb_gnshop&utm_medium=Affiliate&title=".rawurlencode($nameurl)."&price=".$sprice;
	    			$sponsrdUrl=$tatacliqurl."?url=".$sponsrdUrl;
	    		}elseif(strpos($sponsrdUrl,"paytm") != false)
	    		{
	    			$affiliate="paytm";
	    			$eventCategory="paytm_pdp_mweb_sponsor";
	    			$eventaction = $catalogname."_".$categoryname."_".$name;
	    			$eventLabel="pdp|".$productid."|".$productname."|".$showPrice;
	    			$utmcampaign="mweb_gnshop_sponsor_pdp";
	    			if(strpos($sponsrdUrl,"-pdp")!==false)
	    			{
	    				$sponsrdUrl = str_replace("-pdp","",$sponsrdUrl);
	    				$sponsrdUrl = str_replace("https://paytmmall.com","https://paytm.com/shop/p", $sponsrdUrl);
	    			}else
	    			{
	    				$sponsrdUrl = str_replace("https://paytmmall.com","", $sponsrdUrl);
	    			}
	    			$sponsrdUrl = rawurlencode($sponsrdUrl);
	    			if(strpos($sponsrdUrl,"?") != false )
	    			{
	    				$sponsrdUrl = $sponsrdUrl."&";
	    			}else
	    			{
	    				$sponsrdUrl = $sponsrdUrl."?";
	    			}
	    			$sponsrdUrl = $sponsrdUrl."utm_campaign=".$utmcampaign."&utm_source=gadgetsnow&utm_medium=Affiliate&price=".$affSProd['price']."&title=".rawurlencode($name);
	    			$sponsrdUrl = $GLOBALS['general']['PAYTM_INTERMEDIATE_URL']."?url=".$sponsrdUrl;
	    		}
		    	
	    	?>
				<li class="ripple">
				<a target="_blank" rel="nofollow sponsored" href="<?=handleStr($sponsrdUrl)?>">
					<div class="inner">
						<span>
								<amp-img src="<?=$affSProd['imageUrl']?>" height="80"></amp-img>
						</span>
						<span>
							<figcaption><?=$name?></figcaption>
							<span class="price_tag offer-price-ui"><strong> <?=$sprice?></strong></span>
							<?php /*?><div class="tableR">
								<div class="tableC logo"><i></i></div>
								<div class="tableC prime"><i></i></div>
								<div class="tableC"><small class="buy_btn">BUY</small></div>
							</div>
							*/?>
							<div class="tableR">
							<?php if($affiliate == "amazon") {?><div class="tableC logo"><i></i></div>
										<div class="tableC prime"><i></i></div>
										<div class="tableC"><small class="buy_btn">BUY</small></div>
										<?php } elseif($affiliate == "paytm") {?>
										<!-- condition for tata logo -->
										<div class="tableC primePaytm"><i></i></div>
										<div class="tableC logo logoPaytm"><i></i></div>
										<div class="tableC"><small class="buy_btn paytm">BUY</small></div>
										<?php }?>
							</div>
							</span>
					</div>
				</a>
				</li>
				<?php } } ?>
			</ul>				
		</div>
	</section>
	<!-- amazon sponsored product list end-->
	<!-- popular amazon start -->
	 <?php 
	         if(isset($samsungPopularProducts) && $samsungPopularProducts!=null)  { ?> 
	<section class="toi-container">
			<div class="productShowlist">
				<h4 class="heading"> Popular From Amazon</h4>
			</div>
			<!-- product start -->
			<amp-carousel height="270" layout="fixed-height" type="carousel">
			<?php for ($t=0; $t<sizeof($samsungPopularProducts['product']); $t++)
    					{
    					 $recoProd=$samsungPopularProducts['product'][$t];
						 $samProdname = $recoProd['title'];
						 $samProdprice = $recoProd['price'];
						 $samProdpid = $recoProd['pid'];
						 $amzPopularUrl = $recoProd['url'];
						 $samimgurl=$recoProd['imageUrl'];
						 
						 // If product is hardcoded banner then 
						 // do not show it
						 if($samProdpid == 'NA')
						 	continue;
						 
						 $amzPopularUrl = str_replace("https://www.amazon.in","", $amzPopularUrl);
						 $amzPopularUrl = $amzPopularUrl."";
						 if(strpos($amzPopularUrl,"?") == false)
						 {
						 	$amzPopularUrl=$amzPopularUrl."?tag=timofind-21";
						 }else
						 {
						 	$amzPopularUrl=$amzPopularUrl."&tag=timofind-21";
						 }
						 $amzPopularUrl = rawurlencode($amzPopularUrl);
						 $amzPopularUrl = $amzPopularUrl."&utm_campaign=mweb_gnshop_popular-21&utm_source=mweb_gnshop&utm_medium=Affiliate&price=0&title=".rawurlencode($samProdname);
						 $amzPopularUrl = "http://m.gadgetsnow.com/affiliate_amazon.cms?url=".$amzPopularUrl;
						 
						 $samsungUrl = $amzPopularUrl;
						?>
			<div class="toi-product">
					<div class="soldout-contain">Sold Out</div>
					<a target="_blank" rel="nofollow sponsored" data-ga-track="pdp_mweb_amazon_popular####<?=$samProdpid?>|<?=$samProdname?>|10022|26080##<?=$samProdprice?>" href="<?=$samsungUrl?>">
						<figure>
							<amp-img src="<?=$samimgurl?>" height="125"></amp-img>
						</figure>
						<figcaption><div class="proxima-regular1"><?=$samProdname?></div></figcaption>
						<div class="toi-price">
							<div class="ftl">											 												 
								 <span class="offer-price-ui toi-text"><?=$samProdprice?></span>
							</div>
							<span class="ftr toi-buy">buy</span>											
						</div>
					</a>
			</div>
			 <?php } ?>
			</amp-carousel>
			<!-- product end -->
	<section>
	<!-- popular amazon end -->
	<?php } ?>
<!-- Paytm banner categories list start -->
	<?php if(isset($paytmOffersResultJson)) { ?>
	<section class="toi-container">
			<div class="featured-home featured-home-list oveflowhidden">
			<div class="toi-product-head productShowlist">
				<h3 class="heading"><span class="truncate text-transform">Paytm Cashback Offers</span></h3>
			</div>
			<div class="wapper-list-catagories check-carousel">
			<ul class="list-catagories-ama newcarousel">
				<amp-carousel height="170" layout="fixed-height" type="carousel">
				<?php 	foreach($paytmOffersResultJson as $value)
						{
							$paytmBannerUrl=$value['bannerurl'];
							$paytmBannerImg=$value['bannername'];
							$paytmbannertext=$value['bannertext'];
							
							if(strpos($paytmBannerUrl,"-pdp")!==false)
							{
								$paytmBannerUrl = str_replace("-pdp","",$paytmBannerUrl);
								$paytmBannerUrl = str_replace("https://paytmmall.com","https://paytm.com/shop/p", $paytmBannerUrl);
							}else
							{
								$paytmBannerUrl = str_replace("https://paytmmall.com","", $paytmBannerUrl);
							}
							$paytmBannerUrl = rawurlencode($paytmBannerUrl);
							$paytmBannerUrl = $paytmBannerUrl."&utm_campaign=paytm_offers_pdp_mweb&utm_source=gadgetsnow&utm_medium=Affiliate&price=0&title=".rawurlencode($paytmbannertext);
							$paytmBannerUrl = $GLOBALS['general']['PAYTM_INTERMEDIATE_URL']."?url=".$paytmBannerUrl;
						?>
				<li>
					<a rel="nofollow sponsored" target="_blank" data-ga-track="paytm_offers_pdp_mweb##<?=$paytmbannertext?>##PDP|<?=$paytmbannertext?>##0" href="<?=$paytmBannerUrl?>">
						<amp-img src="<?=$paytmBannerImg?>" height="155"></amp-img>   		
					</a>
				</li>
				<?php } ?>
				</amp-carousel>
			</ul>
		</div>
	</div>
	</section>
	<?php } ?>
	<!-- paytm banner categories list end -->
	
</div>

<?php }?>
<?php include __DIR__ . "/../common/ampfooter.phtml"; ?>