<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<title>Login or Register for a shopping.indiatimes.com account</title>
<link href="css/mobile_style.css" rel="stylesheet" type="text/css" />
</head>

<body role="document">
<!-- main container start -->
<div class="main-container" role="main">

<!-- catalogList start -->
<?php include __DIR__ . "/../common/catalogList.phtml"; ?>
<!-- catalogList end -->

<!-- container start -->
<div class="container mobile-top-list-in refine-top-list-in">

<!-- headerWithSearch start -->
<?php include __DIR__ . "/../common/headerWithSearch.phtml"; ?>
<!-- headerWithSearch end -->

<!-- container body start -->
<div class="login-container clr">
<div class="login flt">
  <div class="section-container-ui">
  	   <ul class="tabs-wrapper" role="menubar">
  	   	          There should be no space between li tags as they are inline block. 
  				<li class="active"><a  href="#guestUser">Guest user</a></li><li><a href="#registeredUser">Existing user</a></li>
  	    </ul>
  		<div id="guestUser" class="tab-content guest-user">
  			<section>
	  			<form action="/control/guestCheckout" method="post" name="guestUser">
		  			<div class="field-wrapper">
		  				<input type="text" value="" placeholder="Enter your email" id="guestemail" name="email"  validate="{true,blank,Please specify your valid email address,email,Please enter a valid email address}" tabindex="1" />
		  				<span id="guestemail_error" class="error">&nbsp;</span>
		  			</div>
		  			
		  			<div class="field-wrapper text-align-right">
		  				<button class="flat-orange" type="submit" tabindex="2">Continue &#187;</button>
		  			</div>
	  			</form>
  			</section>
        </div>
  		<div id="registeredUser" class="tab-content regitered-user displaynone">
  			<section>
				<form action="/control/checkoutoptionsLogin" method="post" name="registeredUser">
			  			<div class="field-wrapper">
			  				<input type="email" value="" placeholder="Enter your email" id="registeredemail" name="email" validate="{true,blank,Please enter Email/Username,userName,Invalid format}"  tabindex="3"/>
			  				<span id="registeredemail_error" class="error">&nbsp;</span>
			  			</div>
			  			<div class="field-wrapper">
			  				<input type="password" value="" placeholder="Password" id="registeredpassword" name="password" validate="{true,blank,Please enter a valid password,password, Password must be 6 to 14 characters with no spaces}"  tabindex="4"/>
			  				<span id="registeredpassword_error" class="error">&nbsp;</span>
			  			</div>
			  			<div class="field-wrapper text-align-right">
			  				<a class="forgot-password flt" data-ga-track="login##forgot_password##login_page##1" href="#">Forgot Password</a>
			  				<button class="flat-orange" type="submit" data-ga-track="login##existing_user##loginpass##1" tabindex="5">Continue &#187;</button>
			  			</div>
		  	    </form>
	  	    </section>	
		</div>
  	</div>
  	<div class="separator"><aside><span>OR</span></aside></div>	
  	<div class="section-container-ui">
  		<h3>Login with Facebook or Google Plus</h3>
  		<div class="social-content">
  			<button data-ga-track="login##facebook_user##login_pass##1" class="social facebook facebookLoginWindow">&nbsp;</button>
			<button data-ga-track="login##google_user##login_pass##1" class="social gplus">&nbsp;</button>
  		</div>
  	</div>
  </div>
  <div class="login flt">
  	<div class="section-container-ui">
  			<section>
  				<div class="unregistered">
  					Don't have an account?<br/>
  					<button data-ga-track="login##register_now##login_pass##1">Register Now</button>
  				</div>
  				<div class="register-content displaynone">
		  			<?php include __DIR__ . "/register.phtml"; ?>
	  			</div>
  			</section>
      </div>
      
  </div>
</div>
<!-- container body end -->
<footer>
	<!-- footer start -->
	<?php include __DIR__ . "/../common/footer.phtml"; ?>
	<!-- footer end -->
</footer>
</div>
<!-- sort filter start -->
<div class="refine-search-ui refine-top-list displaynone">
	<nav>
       <p class="refine-header-ui"><span class="flt refine-filter-heading">Filter By</span> <span class="refine-cancel-ui flr">Cancel</span></p>
       <p class="refine-list-apply-button-ui"><span class="apply-ui flt">Apply</span><span class="reset-ui flr">Reset All</span></p>
        <dl>
            <dd class="displayblock">
            <div class="filter-list-back-ui displaynone"><span class="flt filter-text-ui"> Price</span> <span class="flt counter-list-ui">&nbsp;</span><span class="flt filter-reset-ui">Reset</span></div>
            <div class="mobile-collapse-ui mobile-collapse-ui-plus filter-list-refine"><span class="flt filter-text-second-ui">Price</span> <span class="counter-list-ui flt">&nbsp;</span></div>
                <ul class="mobile-ul-ui-list-none mobile-ul-ui-list">
                    <li><a href="#">Below 500</a></li>
                    <li><a href="#">501 to 1000</a></li>
                    <li><a href="#">1001 to 2000</a></li>
                    <li><a href="#">2001 to 5000</a></li>
                    <li><a href="#">Above 5001</a></li>
                    <li><a href="#">Below 500</a></li>
                    <li><a href="#">501 to 1000</a></li>
                    <li><a href="#">1001 to 2000</a></li>
                    <li><a href="#">2001 to 5000</a></li>
                    <li><a href="#">Above 5001</a></li>
                    <li><a href="#">Below 500</a></li>
                    <li><a href="#">501 to 1000</a></li>
                    <li><a href="#">1001 to 2000</a></li>
                    <li><a href="#">2001 to 5000</a></li>
                    <li><a href="#">Above 5001</a></li>
                </ul>
            </dd>
            <dd class="displayblock">
            <div class="filter-list-back-ui displaynone"><span class="flt filter-text-ui"> Usage</span> <span class="flt counter-list-ui">&nbsp;</span><span class="flt filter-reset-ui">Reset</span></div>
            <div class="mobile-collapse-ui mobile-collapse-ui-plus filter-list-refine"><span class="flt filter-text-second-ui">Usage</span> <span class="counter-list-ui flt">&nbsp;</span></div>
                <ul class="mobile-ul-ui-list-none mobile-ul-ui-list">
                    <li><a href="#">Casual</a></li>
                    <li><a href="#">Dress Shoes</a></li>
                    <li><a href="#">Outdoor</a></li>
                </ul>
            </dd>
        </dl>
	</nav>
</div>
<!-- sort filter end -->
</div>
<!-- container end -->
<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<!-- Include js plugin -->
<script src="js/owl.carousel.js"></script>
<script src="js/validator.js"></script>
<script src="js/common.js"></script>
<script src="/js/facebook-scripts.js"></script>
</body>
</html>
