<?php include __DIR__.'./../common/pwaHeader.phtml'?>

<div class="table listing-head">
		<div class="table-row">
			<div class="table-cell text-center v-align-middle">
				<div class="display-inline">
					<i class="fa fa-sort-amount-desc" aria-hidden="true"></i> 
				</div>
				<div class="display-inline sort-by-form-ui">
					<form>
						<select>
                         	
                        	<option value="popular" selected>Popular</option>
							 
                        </select>
                    </form>
				</div>
			</div>
			<div class="table-cell text-center v-align-middle"><!--file_exists -->
				<a class="filteropen file_exists"
				   href="#filter"><i class="fa fa-filter" aria-hidden="true"></i> Filter <span class="filter-check-icon fa"></span></a>
			</div>
		</div>
	</div>



<!-- product list single start-->
<ul class="product-list">
	<!-- loop start -->
	<li>
		<a class="display-block overflowhidden" href="#">
			<div class="product-img relative">
				<img class="img lazy v-align-middle" data-original="https://img3.gadgetsnow.com/gd/images/products/small/G76533/mobiles/smartphones/redmi-6-pro-64gb-black-4gb-ram-.jpg"/>
				<div class="commingsoon absolute uppercase bold">Comming Soon</div>
			</div>
			<div class="product-detail">
				<div class="product-heading bold">Panasonic Eluga Ray 700 32GB (Mocha Gold, 3GB RAM)</div>
				<div class="row overflowhidden">
					<div class="col-sm-12">
						<div class="product-rating col-sm-12">
							<div class="rating-show">
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<div class="rating-given" style="width:80%;">
									<div>
										<span></span>
										<span></span>
										<span></span>
										<span></span>
										<span></span>
									</div>
								</div>
							</div>
						</div>
						<div class="product-price col-sm-12">
							<span class="rp offer bold display-inline">6,999</span>
							<span class="rp mrp display-inline">7,999</span>
						</div>
						<div class="col-sm-12">
							<div class="special-offer">Special Offer</div>
						</div>
					</div>
				</div>
			</div>
		</a>
	</li>
	<!-- loop end -->
	<!-- loop start -->
	<li>
		<a class="display-block overflowhidden" href="#">
			<div class="product-img relative">
				<img class="img lazy" data-original="https://img3.gadgetsnow.com/gd/images/products/small/G76533/mobiles/smartphones/redmi-6-pro-64gb-black-4gb-ram-.jpg"/>
				<div class="commingsoon absolute uppercase bold">Comming Soon</div>
			</div>
			<div class="product-detail">
				<div class="product-heading bold">Panasonic Eluga Ray 700 32GB (Mocha Gold, 3GB RAM)</div>
				<div class="row">
					<div class="col-sm-12">
						<div class="product-rating col-sm-12">
							<div class="rating-show">
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<div class="rating-given" style="width:80%;">
									<div>
										<span></span>
										<span></span>
										<span></span>
										<span></span>
										<span></span>
									</div>
								</div>
							</div>
						</div>
						<div class="product-price col-sm-12">
							<span class="rp offer bold display-inline">6,999</span>
							<span class="rp mrp display-inline">7,999</span>
						</div>
						<div class="col-sm-12">
							<div class="special-offer">Special Offer</div>
						</div>
					</div>
				</div>
			</div>
		</a>
	</li>
	<!-- loop end -->
</ul>
<!-- product list single end-->
<form id="gadgetslistfind" action="/" method="post" >

</form>
<?php include __DIR__.'./../common/pwaFooter.phtml'?>


