<?php include __DIR__.'./../common/pwaHeader.phtml' ?>
<!-- ATF Slot start-->
	<?php include __DIR__ . "/../common/atfSlot.phtml"; ?>
<!-- ATF Slot end-->
<section>
	<div class="seocontianer">
<br><h1 class="heading">Gadgets Finder</h1>	
<div class="seocontent overflowhidden">
		Gadgets Now lets you research all kinds of Gadgets in India with their full specifications and prices. You can also see reviews, pros and cons, value for money scores and decide which Gadgets to purchase.
	</div>
<a class="seoreadmore" href="#">read more...</a>
</div>
</section>
<section class="gadgets-finder">
	<div class="gdgt_nav overflowhidden text-center">
		<ul class="newcarousel">
			<li><a href="/finder/mobile" class="icon-mobile callevents">Mobiles</a></li>
			<li><a href="/finder/gadgets?type=laptop" class="icon-laptop callevents">Laptops</a></li>
			<li><a href="/finder/gadgets?type=tv" class="icon-tv callevents">TVs</a></li>
			<li><a href="/finder/gadgets?type=washingmachine" class="icon-washingmachine callevents">Washing M/Cs</a></li>
		<!-- 	<li><a href="/finder/gadgets?type=microwave" class="icon-microwave callevents">Microwave</a></li> -->
			<!-- <li><a href="/finder/gadgets?type=" class="icon-geysers callevents">Geysers</a></li> -->
			<li><a href="/finder/gadgets?type=camera" class="icon-cameras callevents">Cameras</a></li>
			<!-- <li><a href="/dslr-cameras" class="icon-dslr-camera callevents">DSLR Camera</a></li> -->
			<li><a href="/finder/gadgets?type=smartwatch" class="icon-watches callevents">SmartWatches</a></li>
			<!-- <li><a href="/personal-grooming" class="icon-personal-grooming callevents">Personal Grooming</a></li> -->
			<li><a href="/finder/gadgets?type=powerbank" class="icon-powerbank callevents">Power Banks</a></li>
			<!-- <li><a href="/mobiles-accessories-headphones-headsets" class="icon-head-phone callevents">Headphones</a></li> -->
			<li><a href="/finder/gadgets?type=fitnessband" class="icon-fitnessband callevents">Fitness Bands</a></li>
			<!-- <li><a href="/mobiles-accessories-memory-cards" class="icon-memory-card callevents">Memory Card</a></li> -->
			<li><a href="/finder/gadgets?type=tablet" class="icon-tablet callevents">Tablets</a></li>
			<li><a href="/finder/gadgets?type=refrigerator" class="icon-refrigerator callevents">Refrigerators</a></li>
			<!-- <li><a href="/air-purifiers" class="icon-air-purifiers callevents">Air Purifiers</a></li> -->
			<li><a href="/finder/gadgets?type=ac" class="icon-ac callevents">ACs</a></li>
		</ul>
	</div>
</section>

<?php include __DIR__.'./../common/pwaFooter.phtml' ?>