<?php include __DIR__.'./../common/pwaHeader.phtml' ?>
<!-- ATF Slot start-->
	<?php include __DIR__ . "/../common/atfSlot.phtml"; ?>
<!-- ATF Slot end-->
<section>
	<div class="seocontianer">
<br><h1 class="heading">Phones Finder</h1>	
<div class="seocontent overflowhidden">
		Gadgets Now lets you research all kinds of Mobiles in India with their full specifications and prices. You can also see reviews, pros and cons, value for money scores and decide which Mobile to purchase.
	</div>
<a class="seoreadmore" href="#">read more...</a>
</div>
</section>

<section>
	<div class="gadgets-finder">
	<form class="gadgets-form text-center" method="GET" name="gadgets-form" action="/control/applyfilter">
	<input type="hidden" name="filtertype" name="filtertype" value="mobile" />
		<ul class="gadgets-list">
			<dt class="text-center arrow_box">Find by</dt>
			<dd>
				<div class="table icon-tab">
					<div class="table-cell text-center">
						<a class="price-tab" data-tab="price" href="#">
							<span>
								<svg version="1.0" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 541.000000 800.000000" preserveAspectRatio="xMidYMid meet">
									<g transform="translate(0.000000,800.000000) scale(0.100000,-0.100000)" stroke="none">
										<path d="M693 7983 l-182 -3 -256 -380 c-140 -208 -255 -384 -255 -389 0 -7 35 -9 103 -6 382 18 934 11 1222 -15 594 -54 992 -191 1249 -431 99 -92 241 -288 222 -306 -3 -3 -517 2 -1142 11 -625 9 -1139 15 -1141 12 -3 -3 -110 -182 -239 -398 l-233 -393 297 -3 c163 -1 813 -6 1444 -10 l1146 -7 -34 -134 c-184 -720 -645 -1083 -1505 -1187 -158 -20 -712 -26 -970 -11 l-137 7 -6 -172 c-3 -95 -8 -259 -11 -363 l-5 -191 1437 -1807 1436 -1807 645 0 c514 0 642 3 634 13 -5 6 -654 840 -1442 1851 -1050 1349 -1428 1841 -1418 1847 7 5 24 9 38 9 14 0 91 11 170 25 1098 193 1865 736 2138 1515 27 78 74 265 87 351 l5 36 257 6 c141 4 338 7 438 7 101 0 196 3 212 6 25 5 56 48 249 347 120 187 230 358 242 379 l24 39 -554 -5 c-304 -4 -619 -9 -700 -12 l-147 -5 -5 38 c-32 221 -143 443 -339 678 l-75 90 666 3 667 3 225 355 c124 196 233 369 243 385 l19 29 -2269 -2 c-1247 -2 -2350 -4 -2450 -5z"/>
									</g>
								</svg>
							</span>
							<span>Price</span>
						</a>
					</div>
					<div class="table-cell text-center">
						<a class="feature-tab" data-tab="feature" href="#">
							<span>
								<svg version="1.0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 114.000000 143.000000"  preserveAspectRatio="xMidYMid meet">
									<g transform="translate(0.000000,143.000000) scale(0.100000,-0.100000)" stroke="none">
									<path d="M473 1400 c-232 -42 -410 -216 -459 -450 -43 -207 52 -444 225 -561 l51 -34 -2 -173 c-2 -94 0 -172 5 -172 4 0 67 30 139 66 l133 66 132 -66 c73 -36 137 -66 141 -66 4 0 6 78 4 173 l-3 172 60 42 c142 101 225 266 225 448 -1 157 -54 285 -164 395 -128 128 -317 190 -487 160z m192 -145 c83 -22 147 -60 206 -122 158 -167 154 -420 -8 -582 -168 -167 -418 -171 -588 -10 -169 160 -176 423 -16 592 108 115 259 160 406 122z"/>
									<path d="M632 910 l-82 -110 -75 50 c-41 27 -77 50 -79 50 -13 0 -79 -111 -70 -119 5 -5 64 -45 131 -90 l122 -81 121 159 c66 88 121 164 122 169 3 10 -84 82 -99 82 -5 0 -45 -50 -91 -110z"/>
									</g>
								</svg>	
							</span>
							<span>Features</span>
						</a>
					</div>
					<div class="table-cell text-center">
						<a class="brands-tab" data-tab="brands" href="#">
							<span>
								<svg version="1.0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 361.000000 359.000000"  preserveAspectRatio="xMidYMid meet">
									<g transform="translate(0.000000,359.000000) scale(0.100000,-0.100000)" stroke="none">
										<path d="M3219 3566 c-5 -5 -111 -20 -339 -46 -96 -11 -269 -31 -385 -45 -115 -13 -255 -29 -310 -35 -153 -17 -205 -28 -260 -55 -39 -19 -240 -215 -952 -927 l-901 -903 -23 -73 c-16 -57 -20 -87 -15 -130 14 -121 14 -121 618 -725 632 -632 606 -611 753 -611 154 0 86 -60 1091 947 776 778 894 900 922 954 22
										44 31 75 30 106 0 25 28 287 62 583 56 481 65 542 84 564 14 16 15 20 4 11 -17 -13 -18 -8 -18 60 0 69 -3 79 -45 151 -26 44 -61 89 -83 105 -20 15 -40 31 -43 35 -4 7 -44 15 -155 33 -17 3 -32 3 -35 1z m109 -256 c48 -34 49 -41
										27 -164 -8 -44 -13 -82 -11 -85 2 -3 0 -31 -5 -61 -4 -30 -13 -102 -19 -160 -5 -58 -15 -136 -20 -175 -6 -38 -22 -173 -36 -300 -13 -126 -29 -259 -34 -295 l-9 -64 -883 -883 -883 -883 -50 0 -50 0 -530 532 c-291 292 -538 543
										-547 557 -10 14 -18 42 -18 61 0 33 49 84 888 922 l887 886 145 17 c80 9 237 27 350 40 113 13 252 30 310 36 58 7 159 20 225 29 183 27 214 26 263 -10z"/>
										<path d="M2715 2969 c-58 -14 -109 -53 -139 -108 -62 -114 -17 -263 94 -312 35 -16 61 -20 116 -17 87 4 139 34 181 105 53 91 31 225 -49 285 -76 58 -116
										67 -203 47z"/>
										<path d="M1014 1931 c-17 -10 -31 -26 -32 -35 -7 -68 -3 -97 16 -123 27 -37 837 -840 861 -853 26 -13 77 -13 104 1 59 30 74 103 35 168 -12 20 -27 38 -32 40 -6 2 -120 114 -256 249 -593 591 -573 572 -621 572 -25 0 -57 -8 -75 -19z"/>
										<path d="M668 1602 c-75 -62 -102 -115 -96 -189 4 -41 10 -58 24 -66 10 -6 199 -191 419 -411 219 -221 411 -409 425 -418 29 -20 81 -23 113 -7 38 20 57 51 57 99 l0 45 -444 444 -444 443 -51 -3 -50 -4 56 58 c32 31 55 57 53 57 -3
										0 -31 -22 -62 -48z"/>
									</g>
								</svg>				
							</span>
							<span>Brands</span>
						</a>
					</div>
				</div>
			</dd>
			
				
		</ul>
		<div class="gadgets-brands gadgetscommon-list display-none">
			<ul class="gadgets-list">
				<dt class="text-center arrow_box">Selection by Brands <a class="close" href="#">X</a></dt>
				<!-- <dd class="popular-brands bold">Popular Brands</dd>
				<dd data-input="key##value">Samsung</dd>
				<dd data-input="key##value">lenovo</dd>
				<dd data-input="key##value">MI</dd>
				<dd data-input="key##value">Micrmoax</dd>
				<dd data-input="key##value">Apple</dd>
				<dd data-input="key##value">Realme</dd>
				<dd data-input="key##value">Oppo</dd> -->
				<dd class="popular-brands bold">All Brands</dd>
				<?php if(isset($brandrange)) { 
					for($g=0;$g<sizeof($brandrange);$g++)
					{
						print_r("<dd data-input='brand[]##".(string)$brandrange[$g]->qname."'>".(string)$brandrange[$g]->d_name."</dd>");
					
					?> 			
				<?php } }?>
				 
			</ul>
		</div>
		
		<div class="gadgets-price gadgetscommon-list display-none">
			<ul class="gadgets-list">
				<dt class="text-center arrow_box">Selection by Price <a class="close" href="#">X</a></dt>
				<?php if(isset($pricerange)) { 
					for($g=0;$g<sizeof($pricerange);$g++)
					{
						print_r("<dd data-input='price[]##".(string)$pricerange[$g]->qname."'><span class='rp'></span>".(string)$pricerange[$g]->d_name."</dd>");
					
					?> 			
				<?php } }?>
			</ul>
		</div>
		
		<!-- <div class="gadgets-feature gadgetscommon-list display-none ">
			<ul class="gadgets-list">
				<dt class="text-center arrow_box">Selection by Features <a class="close" href="#">X</a></dt>
				<dd class="popular-brands bold">Features</dd>
				<dd>Samsung</dd>
				<dd>lenovo</dd>
				<dd>MI</dd>
				<dd>Micrmoax</dd>
				<dd>Apple</dd>
				<dd>Realme</dd>
				<dd>Oppo</dd>
				<dd class="popular-brands bold">All Brands</dd>
				<dd>Samsung</dd>
				<dd>lenovo</dd>
				<dd>MI</dd>
				<dd>Micrmoax</dd>
				<dd>Apple</dd>
				<dd>Realme</dd>
				<dd>Oppo</dd>
			</ul>
		</div> -->
		
		<div class="gadgets-feature gadgetscommon-list mobile-feature display-none">
			<ul class="gadgets-list">
				<dt class="text-center arrow_box">Selection by Features <a class="close" href="#">X</a></dt>
				<dd data-input="feature[]##ram" class="ram">RAM</dd>
				<dd data-input="feature[]##4G" class="four-g">4G</dd>
				<dd data-input="feature[]##battery" class="battery">Battery</dd>
				<dd data-input="feature[]##os" class="android">Android</dd>
				<dd data-input="feature[]##camera" class="camera">Camera</dd>
				<dd data-input="feature[]##sim" class="dual-sim">Dual Sim</dd>
				<!-- <dd data-input="key##value" class="finger-print">Finger Print</dd>
				<dd data-input="key##value" class="full-hd">Full HD</dd> -->
				<dd data-input="feature[]##largescreen" class="large-screen">Large Screen</dd>
				<!-- <dd data-input="key##value" class="volte">VolTE</dd>
				<dd data-input="key##value" class="wireless-charging">Wireless Charging</dd> -->
				
			</ul>
		</div>
		
		<div class="selected-filters display-none">
			<div class="bold arrow_box">Your Selection</div>
			<div id="selection-result">
			
			</div>
		</div>
		<span class="btn btn-color-grey gadgets-finder-submit">Submit</span>
	</form>
	</div>
</section>

<?php include __DIR__.'./../common/pwaFooter.phtml' ?>