.listing-head.table{width:100%; border-bottom:1px solid #eeeeee; margin-bottom:10px;}
.listing-head.table .table-cell{width:49.5%}
.listing-head.table .table-cell:first-child{border-right:1px solid #eeeeee}
.listing-head.table .table-cell a, .listing-head.table .table-cell select{line-height:40px; color:#000; display:block; height:40px;}
ul.product-list{overflow:hidden; width:100%;}
ul.product-list li{ border:1px solid #ede9e9; width:90%; box-shadow:0px 0px 10px  #ede9e9; -moz-box-shadow:0px 0px 10px  #ede9e9; list-style:none; margin:10px auto;}
ul.product-list li  a{margin:10px; color:#000}
ul.product-list li .product-img{ width:40%; float:left; text-align:center; height:160px;; line-height:160px;}
ul.product-list li .product-img .commingsoon{font-size:1.1em; color:#000; opacity:.5; top:0; left:0; right:0;}
ul.product-list li .product-img img{margin:10px;}
ul.product-list li .product-detail{ float:left; width:59%;}
ul.product-list li .product-detail .product-heading{ font-size:1.2em; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; width:100%; margin:20px 0 10px 0}
ul.product-list li .product-detail .product-price{ font-size:1.2em; width:100%; margin:20px 0 10px 0}
ul.product-list li .product-detail .special-offer{ color:#000; position:relative; padding-left:45px; line-height:50px; font-size:1.2em;}
ul.product-list li .product-detail .special-offer:before{ background:url('../img/splite.png'); content:''; height: 35px; display: inline-block; position: absolute; width: 40px; background-position: -1px -197px; margin:8px 0 0 -47px}

ul.product-list-option{overflow:hidden; width:90%; box-shadow:0px 0px 10px  #f5f1f1; -moz-box-shadow:0px 0px 10px  #f5f1f1; border:1px solid #f5f1f1; text-align:center; margin:0 auto; background:#f5f1f1; margin-bottom:10px;}
ul.product-list-option li{width:49%; display:inline-block; list-style:none; background:#fff; height:328px;}
ul.product-list-option li  a{margin:10px; color:#000}
ul.product-list-option li .product-img{ width:100%; text-align:center; height:160px;; line-height:160px;}
ul.product-list-option li .product-img .commingsoon{font-size:1.1em; color:#000; opacity:.5; top:0; left:0; right:0;}
ul.product-list-option li .product-img img{margin:10px;}
ul.product-list-option li .product-detail{ width:100%;}
ul.product-list-option li .product-detail .rating-show{ margin:0 auto;}
ul.product-list-option li .product-detail .product-heading{ font-size:1.2em; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; text-align:center; width:100%; margin:10px 0 10px 0}
ul.product-list-option .product-detail .product-price{ font-size:1.2em; width:100%; margin:10px 0 10px 0; text-align:center}
ul.product-list-option .product-detail .special-offer{ color:#000; position:relative; padding-left:45px; line-height:50px; font-size:1.2em;}
ul.product-list-option .product-detail .special-offer:before{ background:url('../img/splite.png'); content:''; height: 35px; display: inline-block; position: absolute; width: 40px; background-position: -1px -197px; margin:8px 0 0 -47px}

/*filter */
.filterpage{background:#fff; position:fixed;  z-index:1; opacity: 0; transform: scaleY(0); transition: opacity .3s ease-in,transfrom .3s ease-out;}
.filterpage .filterhead{color:#fff; background:#09498a; line-height:34px;}
.filterpage .filterhead a{color:#fff;}
.filteron{opacity: 1; transform: scale(1, 1); top:0; bottom:0; left:0; right:0;}
.pricerang{ margin-top:20px;}
/*filter */


.multi-range, .multi-range * { box-sizing: border-box; padding: 0; margin: 0; }
.multi-range { position: relative; width: 70% ; height:10px; margin: 100px auto 16px;}
.multi-range > hr { position: absolute; width: 100%; top: 50%; }
.multi-range > input[type=range] {  width: calc(100% - 16px);  position: absolute; bottom: 6px; left: 0;}
.multi-range > input[type=range]:last-of-type { margin-left: 16px; }
.multi-range > input[type=range]::-webkit-slider-thumb { transform: translateY(-18px); }
.multi-range > input[type=range]::-webkit-slider-runnable-track { -webkit-appearance: none; height: 0px; }
.multi-range > input[type=range]::-moz-range-thumb { transform: translateY(-18px); }
.multi-range > input[type=range]::-moz-range-track { -webkit-appearance: none; height: 0px; }
.multi-range > input[type=range]::-ms-thumb { transform: translateY(-18px); }
.multi-range > input[type=range]::-ms-track { -webkit-appearance: none; height: 0px; }
.multi-range:after { content: attr(data-ubound);  position: absolute; top: 0;  white-space: nowrap;  display: block; padding: 0px 4px; margin: -1px 2px; text-align:center; height: 26px; width: auto; font-size: 1.2em; line-height: 26px;}
.multi-range:before { content: attr(data-lbound); position: absolute; top:-90px;  white-space: nowrap; display: block; padding: 0px 4px; margin: -1px 2px; text-align:center; height: 26px; width: 100px; left:-14px;  font-size: 1.6em; line-height: 26px;}
input[type=range] { -webkit-appearance: none; width: 100%; margin: 13.8px 0;}
input[type=range]:focus { outline: none;}
input[type=range]::-webkit-slider-runnable-track {width: 100%; height: 8.4px; cursor: pointer; box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; background: #3071a9; border-radius: 1.3px; border: 0.2px solid #010101;}
input[type=range]::-webkit-slider-thumb { box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; border: 1px solid #000000; height: 36px; width: 16px; border-radius: 3px; background: #ffffff; cursor: pointer; -webkit-appearance: none; }
input[type=range]:focus::-webkit-slider-runnable-track { background: #367ebd;}
input[type=range]::-moz-range-track { width: 100%;  height: 8.4px;  cursor: pointer;  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;  background: #3071a9;  border-radius: 1.3px;  border: 0.2px solid #010101;}
input[type=range]::-moz-range-thumb {  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;  border: 1px solid #000000;  height: 36px;  width: 16px;  border-radius: 3px;  background: #ffffff;  cursor: pointer;}
input[type=range]::-ms-track {  width: 100%;  height: 8.4px;  cursor: pointer;  background: transparent;  border-color: transparent;  color: transparent;}
input[type=range]::-ms-fill-lower {  background: #2a6495;  border: 0.2px solid #010101;  border-radius: 2.6px;  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;}
input[type=range]::-ms-fill-upper {  background: #3071a9;  border: 0.2px solid #010101;  border-radius: 2.6px;  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;}
input[type=range]::-ms-thumb {  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;  border: 1px solid #000000;  height: 36px;  width: 16px;  border-radius: 3px;  background: #ffffff;  cursor: pointer;  height: 8.4px;}
input[type=range]:focus::-ms-fill-lower {  background: #3071a9;}
input[type=range]:focus::-ms-fill-upper {  background: #367ebd;}
