*{margin:0px; padding:0px; border:0; outline:none;}
/* common css*/
.container { max-width: 750px; width:100%; margin:0 auto;}
@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fa-solid-900.eot?v=4.2.0');
  src: url('../fonts/fa-solid-900.eot?#iefix&v=4.2.0') format('embedded-opentype'), url('../fonts/fa-solid-900.woff?v=4.2.0') format('woff'), url('../fonts/fa-solid-900.ttf?v=4.2.0') format('truetype'), url('../fonts/fa-solid-900.svg?v=4.2.0#proximanovaregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'proxima-semibold';
  src: url('../fonts/proximanova-semibold.eot?v=4.2.0');
  src: url('../fonts/proximanova-semibold.eot?#iefix&v=4.2.0') format('embedded-opentype'), url('../fonts/proximanova-semibold.woff?v=4.2.0') format('woff'), url('../fonts/proximanova-semibold.ttf?v=4.2.0') format('truetype'), url('../fonts/proximanova-semibold.svg?v=4.2.0#proximanovasemibold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'proxima-regular1';
  src: url('../fonts/proxima_nova_regular_1.eot');
  src: url('../fonts/proxima_nova_regular_1.eot?#iefix') format('embedded-opentype'), url('../fonts/proxima_nova_regular_1.woff') format('woff'), url('../fonts/proxima_nova_regular_1.ttf') format('truetype'), url('../fonts/proxima_nova_regular_1.svg') format('svg');
}
.bold{font-family: 'proxima-semibold';}
a{text-decoration:none;}
:before, :after { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
body{margin:0;padding:0; font-family: 'proxima-regular1'; font-size:0.875em; /* 14px/16=0.875em */}
.adoff .adcode{display:none!important}
.adon .adcode{display:block!important}
.fa{font-family:'FontAwesome'; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; font-style:normal; font-weight:100;}
.fa-shopping-cart:before{content:"\f07a";}
.fa-search:before{content:"\f002";}
.fa-user-circle:before{content:"\f007"; }
.fa-user-circle-o:before{content:"\f2bd";}
.fa-location-arrow:before{content:"\f124";}
.rp:before{content: '\20b9';}
.fa-sort-amount-desc:before{content: '\f161';}
.fa-filter:before{content: '\f0b0';}
.row {overflow:hidden}
.col-sm-1, .col-sm-1, .col-md-1, .col-lg-1, .col-sm-2, .col-sm-2, .col-md-2, .col-lg-2, .col-sm-3, .col-sm-3, .col-md-3, .col-lg-3, .col-sm-4, .col-sm-4, .col-md-4, .col-lg-4, .col-sm-5, .col-sm-5, .col-md-5, .col-lg-5, .col-sm-6, .col-sm-6, .col-md-6, .col-lg-6, .col-sm-7, .col-sm-7, .col-md-7, .col-lg-7, .col-sm-8, .col-sm-8, .col-md-8, .col-lg-8, .col-sm-9, .col-sm-9, .col-md-9, .col-lg-9, .col-sm-10, .col-sm-10, .col-md-10, .col-lg-10, .col-sm-11, .col-sm-11, .col-md-11, .col-lg-11, .col-sm-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative; min-height: 1px;}
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {  float: left; }
.col-sm-12 {  width: 100%;}.col-sm-11 { width: 91.66666667%;}.col-sm-10 {width: 83.33333333%;}.col-sm-9 { width: 75%;}.col-sm-8 {width: 66.66666667%;}.col-sm-7 {width: 58.33333333%;}.col-sm-6 { width: 50%;}.col-sm-5 { width: 41.66666667%;}.col-sm-4 {width: 33.33333333%;}.col-sm-3 {width: 25%;}.col-sm-2 { width: 16.66666667%;}.col-sm-1 {width: 8.33333333%;}
.flt{float:left;}
.frt{float:right;}
.display-block{display:block}
.display-none{display:none}
.display-inline{display:inline-block}
.table{display:table}
.table-row{display:table-row}
.table-cell{display:table-cell}
.v-align-top{vertical-align:top}
.v-align-middle{vertical-align:middle}
.img{max-width:100%; max-height:100%;}
.text-left{text-align:left;}
.text-right{text-align:right;}
.text-center{text-align:center;}
.relative{position:relative;}
.absolute{position:absolute;}
.overlay{background-color:#000; opacity:.5; position:absolute; left:0; right:0; top:0; bottom:0; z-index:2}
.border-bottom{border-bottom:1px solid #c7c7c7;}
.capitalize{text-transform:capitalize}
.uppercase{text-transform:uppercase}
.fw-100{font-weight:100;}
.overflowhidden{overflow:hidden}
.headeradslot{ max-height:60px; margin:5px 0; width:100%}
.footeradslot{max-height:60px; width:100%; position:fixed; bottom:0; background:#fff}
.promoted-ads{ max-height:270px; margin:5px auto;}
.btn-color-red{background-color:#da0000; color:#fff}
.btn-color-blue{background-color:#135394; color:#fff}
.btn-color-black-blue{background-color:#002043; color:#fff}
.btn-color{background-color:#fb9208; color:#fff}
.btn{border-radius:2px; line-height:30px; padding:5px 10px; font-size:.9em}
.ft-7{font-size:.7em}
.pdt-10{padding-top:10px}
.pdt-15{padding-top:15px}
.pdt-20{padding-top:20px}
.border-radius-5{border-radius:5px;}
.widgets-one-products, .widgets-four-products{padding:10px;}
.widgets-one-products .widgets-heading, .widgets-four-products .widgets-heading, .widgets-gadgets .widgets-heading, .brand-widgets-tab .widgets-heading{ color:#135394; font-size:1.5em; line-height:45px;}
.widgets-one-products .product-loop{border:1px solid #ede9e9; margin:0 10px 0 0}
.widgets-one-products .widgets-loop .product-img, .widgets-four-products .widgets-loop .product-img{ line-height:100px; padding:15px;}
.widgets-one-products .widgets-loop .product-img img, .widgets-four-products .widgets-loop .product-img img{vertical-align:middle;}
.widgets-one-products .widgets-loop .product-detail{border-top:1px solid #ede9e9; padding:0 15px 15px;}
.widgets-one-products .widgets-loop .product-detail .product-price,.widgets-four-products .widgets-loop .product-detail .product-price{margin-top:5px;}
.widgets-one-products .widgets-loop .product-detail .product-heading{font-size:1.2em; color:#000; line-height:30px; margin-top:5px; height:30px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.widgets-four-products .widgets-loop .product-detail .product-heading{font-size:1.2em; padding:0 14px; color:#000; line-height:30px; margin-top:5px; height:30px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.widgets-four-products .widgets-loop .product-off{background:#61c179; line-height:25px; width:60px; top:105px; left:0; color:#fff;}
.widgets-four-products .product-loop{border:1px solid #ede9e9; width:47.4%; margin:1%; padding:10px 0 15px; height:260px;}
.widgets-four-products .product-loop .product-color{color:#9198a0;}
.widgets-banner .product-loop{width:48%; margin:1%;}
.widgets-banner .widgets-loop{padding:10px;}
.offer{font-size:1.3em; color:#000; }
.mrp{font-size:1.1em; color:#9198a0; text-decoration:line-through; margin-left:5px;}
.rating-show {text-align: center; position: relative; width: 100px;}
.rating-show span:before, .rating-given span:before { position: relative; font-family: FontAwesome; float: left; margin-left: 2px;  content: "\f005";  color: #ccc; background: -webkit-linear-gradient(-45deg, #d9d9d9 0%, #b3b3b3 100%);   -webkit-background-clip: text;    -webkit-text-fill-color: transparent;}
.rating-given { position: absolute; z-index: 1; top: 0; text-align: center; overflow: hidden; height:16px;}
.rating-container div:first-child {color: #666; margin-right: 5px;}
.rating-given span:before { color: #f68220; background: -webkit-linear-gradient(-45deg, #fcb551 0%, #d69a45 100%); -webkit-background-clip: text;  -webkit-text-fill-color: transparent;}
.rating-given div {width: 100px;}

.widgets-tab{background:#f9f6f6;}
.widgets-tab .widgets-tab-header{padding:10px 0; margin:10px;}
.widgets-tab .widgets-tab-container ul li, .widgets-tab .widgets-tab-header ul li {list-style:none;}
.widgets-tab .widgets-tab-header ul li a{ width:100px; line-height:30px; font-size:1.5em; border-radius:30px; color:#636c77}
.widgets-tab .widgets-tab-header ul li a.btn-color { color:#fff;}
.widgets-tab .widgets-tab-container{padding:0px 5px 10px; margin:10px;}
.widgets-tab .widgets-tab-container ul{background:#fff;}
.widgets-tab .widgets-tab-container li {border-bottom:1px solid #ebebeb}
.widgets-tab .widgets-tab-container li:last-child{border:none;}
.widgets-tab .widgets-tab-container li .product-img{height:100px; padding:10px 0;}
.widgets-tab .widgets-tab-container li .proudct-details{}
.widgets-tab .widgets-tab-container li .title{font-size:1.2em; width:98%; color:#000; line-height:30px; margin-top:5px; height:30px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.widgets-tab .widgets-tab-container li .offer-text{color:#eb3106; line-height:20px; font-size:1.15em;}
.widgets-tab .widgets-tab-container li .price-tab{ width:97%;}
.widgets-tab .widgets-tab-container li .price{ color:#000; font-size:1.6em; line-height:30px}
.widgets-tab .widgets-tab-container li .buyat{ color:#fb9208; font-size:1.1em; line-height:30px}

.brand-widgets-tab .widgets-heading{ margin:10px}
.brand-widgets-tab .brand-widgets-list{overflow:scroll; width:100%;}
.brand-widgets-tab .brand-widgets-list ul {height:50px; padding-top:5px; overflow:hidden}
.brand-widgets-tab .brand-widgets-list ul li:first-child{ margin-left:10px;}
.brand-widgets-tab .brand-widgets-list ul li{float:left; width:100px; list-style:none; text-align:center;}
.brand-widgets-tab .brand-widgets-list ul li a.btn{font-size:1.1em; color:#6d6d6d; line-height:18px; text-align:center;}
.brand-widgets-tab .brand-widgets-list ul li a.btn-color{color:#fff; border-radius:20px; line-height:25px;}
.brand-logo-tab{background:#f9f6f6; padding:10px 0}
.brand-logo-tab .brand-logo-list{overflow:scroll; width:100%;}
.brand-logo-tab .brand-logo-list ul{margin:10px 0}
.brand-logo-tab .brand-logo-list ul li{float:left; list-style:none; text-align:center; height:110px; width:170px; background:#fff; margin-left:10px}
.brand-logo-tab .brand-logo-list ul li .brand-img{ line-height:80px;}
.brand-logo-tab .brand-logo-list ul li .brand-text{color:#000; font-size:1.2em; text-align:center; display:block;}
/*gedgets widgets*/
.widgets-gadgets{ padding:10px}
.gdgt_nav{background: #fff; width:105%; margin:0 -10px; color: #797979; overflow:scroll; height:70px;}
.gdgt_nav li{float:left; width: 93px; list-style:none; }
.gdgt_nav a{display:block; padding: 14px 0 9px; text-align: center;  color:#797979;}
.gdgt_nav a:last-child{border-right:none;}
.gdgt_nav a.active{color:#000; border-bottom:2px solid #000}
.gdgt_nav a:before{background:url('../img/splite.png'); height: 28px; content: ""; display: block; margin: auto; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
a.icon-mobile:before{background-position: -10px -12px; width:17px;}
a.icon-mobile.active:before{background-position: -10px -54px; width:17px;}
a.icon-laptop:before{background-position: -68px -12px;width: 40px;}
a.icon-laptop.active:before{background-position: -68px -55px; width: 40px;}
a.icon-tablet:before{background-position: -38px -12px;width: 22px;}
a.icon-tablet.active:before{background-position: -38px -54px;width: 22px;}
a.icon-cameras:before{background-position: -124px -12px;width: 37px;}
a.icon-cameras.active:before{background-position: -124px -54px;width: 37px;}
a.icon-tv:before{background-position: -173px -12px;width: 37px;}
a.icon-tv.active:before{background-position: -173px -54px;width: 37px;}
a.icon-powerbank:before{background-position: 8px -106px; width: 32px;}
a.icon-powerbank.active:before{background-position: 8px -151px; width: 32px;}
a.icon-smartwatch:before{background-position: -187px -281px; width: 32px;}
a.icon-smartwatch.active:before{background-position: -187px -326px; width: 32px;}
a.icon-ac:before{background-position: -79px -104px;width: 55px;}
a.icon-ac.active:before{background-position: -79px -146px;width: 55px;}
a.icon-washingmachine:before{background-position: -223px -12px;width: 25px;}
a.icon-washingmachine.active:before{background-position: -223px -54px;width: 25px;}
a.icon-refrigerator:before{background-position: -138px -104px;width: 32px;}
a.icon-refrigerator.active:before{background-position: -138px -150px;width: 32px;}
a.icon-fitnessband:before{background-position: -315px -281px;width: 32px;}
a.icon-fitnessband.active:before{background-position: -315px -326px;width: 32px;}
a.icon-watches:before{background-position: -39px -106px;width: 32px;}
a.icon-watches.active:before{background-position: -39px -150px;width: 32px;}
a.icon-microwave:before{background-position: -242px -106px;width: 44px;}
a.icon-microwave.active:before{background-position: -242px -154px;width: 44px;}
a.icon-personal-grooming:before{background-position: -312px -105px;width: 32px;}
a.icon-personal-grooming.active:before{background-position: -312px -155px;width: 32px;}


/* common css*/
/* header */
header{background:#135394; height:60px;}
header .table{width:100%;}
.hamburger-tab{width:64px;}
.hamburger-menu{padding:14px;}
.hamburger-menu  span{width: 35px; height: 2px; background-color: #fff;  margin: 6px 0; display:block; border-radius:2px; -moz-border-radius:2px;} 
.gadgets-logo a{ width:100px; line-height:60px; position:absolute}
.loginheader a, .navigationpage .navigationpage-right a{color:#fff ; font-size:1.5em; text-align:center; line-height:60px;}
.loginheader a .count, .navigationpage .count{font-family: 'proxima-regular1'; background:#ffbd36; width:14px; line-height:14px; border-radius:5px; -moz-border-radius:5px; color:#000;  font-size:.5em; margin:-52px 0 0 35px; }
.loginheader .cart{width:50px;}
.loginheader .loginUser, .navigationpage .navigationpage-right .loginUser{width:40px; border:1px solid #fff; border-radius:40px; -moz-border-radius:40px; display:block; margin-left:6px; line-height:40px; font-size:1.1em}
.navigation{width:75%; z-index:3; position:absolute; background-color:#fff; top:0; left:0; bottom:0; box-shadow:3px 0 8px 1px rgba(0,0,0,.4); overflow:hidden;}
.mobile-top-list-in { opacity: 1; transform: translate(0px, 0px); transition: all 0.4s ease-in-out 0s; -webkit-transform: translate(0px, 0px); -webkit-transition: all 0.4s ease-in-out 0s; -ms-transform: translate(0px, 0px); -ms-transition: all 0.4s ease-in-out 0s; -o-transform: translate(0px, 0px); -o-transition: all 0.4s ease-in-out 0s; }
.mobile-top-list-out { opacity: 1; transform: translate(-103%, 0px); transition: all 0.4s ease-in-out 0s; -webkit-transform: translate(-103%, 0px); -webkit-transition: all 0.4s ease-in-out 0s; -ms-transform: translate(-103%, 0px); -ms-transition: all 0.4s ease-in-out 0s; -o-transform: translate(-103%, 0px); -o-transition: all 0.4s ease-in-out 0s; }
.navigation.navigationpage{width:100%; position:relative; box-shadow:none;}
.navigation .nav-header{background:#135394; height:60px;}
.navigation .nav-header .nav-head-left{width:75%; padding-left:10px; font-size: 1.2em; color: #fff;  white-space: nowrap;  overflow: hidden;  text-overflow: ellipsis;  line-height:60px;}
.navigation .nav-header .nav-head-left a{color:#fff}
.navigation .nav-header .nav-head-left div{margin-left:20px;}
.navigation .nav-menu {height: 100vh; overflow:scroll;}
.navigation .nav-menu .nav-menu-tab li{list-style:none;}
.navigation .nav-menu .nav-menu-tab li a{display:block;  font-family: 'proxima-semibold'; text-transform:uppercase; font-size:.9em; line-height:35px; color:#000; text-align:left; padding-left:12px;}
.navigation .nav-menu .user-details{border-bottom:1px solid #c7c7c7; border-top:1px solid #c7c7c7;}
.navigation .nav-menu .user-details li a{display:block; text-transform:uppercase; font-size:.9em; line-height:35px; color:#666; text-align:left; padding-left:12px;}
.navigation .nav-menu .user-details li a i{width:20px; display:inline-block;}
.navigation .nav-menu .user-details li a i:before{color:#999}
.navigationpage .back-arrow{width:10%;}
.navigationpage .ct-text{font-size:1.5em; color:#fff; line-height:60px;}
.navigationpage .navigationpage-right .cart{width:50px;}
.navigationpage .navigationpage-right .cart:last-child{margin-right:10px;}
.navigationpage .nav-menu .nav-menu-tab.ct-cap li a{text-transform:capitalize; font-size:1em; font-family: 'proxima-regular1';}
.navigationpage.navigation .nav-menu{height:auto;overflow:inherit}
/* header */
footer{background:#243241; padding:0 10px 60px 10px;}
footer .footer-line{border-bottom:1px solid #fb9208}
footer .footer-gadgets-logo{padding:10px;}
footer .footer-gadgets-logo a{height:70px; line-height:70px;}
footer .footer-list ul{padding:10px 0 10px;}
footer .footer-list ul li{display: inline-block; padding:0 5px; font-size:.8em;}
footer .footer-list ul li:before{content: '';  width: 2px;  height: 2px;  background: rgba(255,255,255,0.8);  border-radius: 10px;  display: inline-block;  margin: 0 7px 2px 0; }
footer .footer-list ul li a{color:#fff;}
footer .footnote{padding:10px 0}
footer .footnote, footer .footnote  a{color:#fff; font-size:.8em}
/*footer */

/*search page*/
.searchpage{background:#fff; position:fixed;  z-index:1; opacity: 0; transform: scaleY(0); transition: opacity .3s ease-in,transfrom .3s ease-out;}
.searchpage .search-header{border-bottom:1px solid #eaeaea; width:100%;}
.searchpage .search-header form[name=searchform] input{line-height:40px; width:100%;}
.searchpage .search-header .cls_btn { position: absolute; font-size: 22px; color: #ccc; right: 0; top: 10px; width: 30px; height: 25px;  background: #fff;}
.searchon{opacity: 1; transform: scale(1, 1); top:0; bottom:0; left:0; right:0;}
#suggestions{ position:absolute; z-index:1; margin-top:10px;}
#suggestions a{ color:#000; line-height:37px;  display: block; position:relative; width:62%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
/*search page*/

/* home page carousel*/
#toi-carousel{max-height:250px; min-height:120px; overflow:hidden;}
#toi-carousel img{display:none}
#toi-carousel.owl-carousel img{display:block}
/* home page carousel*/
