<?php include __DIR__ . "/../common/header.phtml"; ?>
<div class="bulkorder howtitworks">
			<h1>GadgetsNow Shop Bidding - Winner List</h1>
			<section>
				<div class="howitworksbanne">
				<img class="img" src="https://img1.gadgetsnow.com/gd/imgbn/bidnow-banner-p.jpg"/>
				</div>
			</section>
			<section>
				<h2 class="heading">GadgetsNow Shop Winner list as follows:</h2>
			</section>
			<section class="winnerlist">
			<?php 
			foreach($bidWinnerResult as $winnerRow)
			{
					$userName =$winnerRow['LAST_BID_USER_ID'] ;
					$pId=$winnerRow['PRODUCT_ID'];
					$startPrice=$winnerRow['START_PRICE'];
					$endPrice=$winnerRow['END_PRICE'];
					$total =$winnerRow['TOTAL'];
					$biddingTime = $winnerRow['BIDDING_TIME'];
			
			?>
			<div class="table">
				<div class="table-row">
					<div data-title="S.No">1.</div>
					<div data-title="Name of the winner">Ankush Kumar</div>
					<div data-title="Date Won"><?=$biddingTime?></div>
					<div data-title="Product Name">iPhone X</div>
					<div data-title="Winning Bid Price"><?=$endPrice?></div>
					<div data-title="Bid Start Price"><?=$startPrice?></div>
					<div data-title="Base Price">40,000</div>
					<div data-title="MRP of the product" >89,000</div>
					<div data-title="Total number of bids" ><?=$total?></div>
				</div>
			</div>
			<?php 
			} ?>
		</section>
		<!-- promoted html-->
			<section>
			<?php if(isset($affiliateBannerActive1) && $affiliateBannerActive1=='N') { ?>
				<div id='div-gpt-ad-1513236443687-0'>
							<script>
							googletag.cmd.push(function() { googletag.display('div-gpt-ad-1513236443687-0'); });
							</script>
				</div>
				<?php } elseif(isset($affiliateBannerActive1) && $affiliateBannerActive1=='Y') { $promonofollowtag1="rel='nofollow'";?>
				<div class="productShowlist">
					<h4 class="heading"><span class="truncate text-transform">Promoted</span></h4>
				</div>
							
				<div class="cashbackamazon">
				<a class="display-block" <?=$promonofollowtag1?> 
							data-ga-track="<?=$promoEventaction1?>##<?=$promoEventcat1?>##walletoffers|<?=$promoEventlabel1?>|##0"  target="_blank" 
							href="<?php if(isset($promoBannerurl1)) { echo $promoBannerurl1; }?>"><img class="img lazy" alt=<?php if(isset($promoBannertext1)) echo $promoBannertext1; ?> 
							data-original="<?php if(isset($promoImgpath1)){ echo $promoImgpath1; }else {?>/mobile/img/cashback-app-Banner.jpg<?php }?>"/></a>
			</div> <?php } ?>
			</section>
			 
			<!-- promoted html-->
		<!-- promoted html-->
		<section>
				<div class='ctn-ads-home-list'>
						<div class="card productShowlist margin-10">
							<h4 class="heading"><span class="truncate text-transform">From Around the Web</span> </h4>
						</div>
						<div class="ctn-ads-home-list-row">
							<div id="div-clmb-ctn-1245" data-slot="256682" data-position="1245" data-section="0" data-cb="adwidgetfun" class="colombia toi-product colombiaad"> </div>
							<div id="div-clmb-ctn-1246" data-slot="256682" data-position="1246" data-section="0" data-cb="adwidgetfun" class="colombia toi-product colombiaad"> </div>
						</div>
						<div class="ctn-ads-home-list-row">
							<div id="div-clmb-ctn-1247" data-slot="256682" data-position="1247" data-section="0" data-cb="adwidgetfun" class="colombia toi-product colombiaad"> </div>
							<div id="div-clmb-ctn-1248" data-slot="256682" data-position="1248" data-section="0" data-cb="adwidgetfun" class="colombia toi-product colombiaad"> </div>
						</div>
				</div>	
		</section>
		<!-- promoted html-->
		<section>
		<?php if(isset($affiliateBannerActive2) && $affiliateBannerActive2=='N') { ?>
			<div id='div-gpt-ad-1513236443687-0'>
						<script>
						googletag.cmd.push(function() { googletag.display('div-gpt-ad-1513236443687-0'); });
						</script>
			</div>
			<?php } else if(isset($affiliateBannerActive2) && $affiliateBannerActive2=='Y') {?>
			<div class="productShowlist">
				<h4 class="heading"><span class="truncate text-transform">Promoted</span></h4>
			</div>
						
			<div class="cashbackamazon">
			<a class="display-block" <?=$promonofollowtag2?> 
						data-ga-track="<?=$promoEventaction2?>##<?=$promoEventcat2?>##walletoffers|<?=$promoEventlabel2?>|##0"  target="_blank" 
						href="<?php if(isset($promoBannerurl2)) { echo $promoBannerurl2; }?>"><img class="img lazy" alt=<?php if(isset($promoBannertext2)) echo $promoBannertext2; ?> 
						data-original="<?php if(isset($promoImgpath2)){ echo $promoImgpath2; }else {?>/mobile/img/cashback-app-Banner.jpg<?php }?>"/></a>
		</div> <?php } ?>
		</section>
		 
		<!-- promoted html-->
</div>


<?php include __DIR__ . "/../common/newfooter.phtml"; ?>