	<?php /* $categoryKey= str_replace(" ","_",$categoryName);
			$categoryKey=$categoryKey."_".$primarycategoryId;
			$categoryValue = $GLOBALS['categoryMap'][$categoryKey]; */
 
			if(isset($flipkartSponsoredProducts)) {
			?>
<div class="card productShowlist margin-10">
			<h4 class="heading">Sponsored: Flipkart   </h4>
			
				<ul>
			<?php
			$sponsoredCounts=0; 
			for($i=0;$i<sizeof($flipkartSponsoredProducts);$i++)
				{
					
					if($sponsoredCounts > 10)
						break;
					$sponsoredCounts++;
					
					$flipkartTitle = $flipkartSponsoredProducts[$i]['name'];
					$flipkarturl   = $flipkartSponsoredProducts[$i]['url'];
					$flipkartimages = $flipkartSponsoredProducts[$i]['imageUrls'];
					$flipkartpricedesc = $flipkartSponsoredProducts[$i]['description'];
					$flipkartpricedesc=str_replace("From","",$flipkartpricedesc);
					for ($j=0;$j<sizeof($flipkartimages);$j++)
					{
						if($flipkartimages[$j]['resolutionType'] == "low")
						{
							$flipkartimageurl=$flipkartimages[$j]['url'];
						}
					}
					// URL prep
					$flipkarturl = rawurlencode($flipkarturl)."&tag=flipkart_mweb_gnshop_".$pagename."_sponsor&afname=flipkart&affiliate=flipkart&utm_source=mweb_gnshop&utm_medium=Affiliate&title=".rawurlencode($flipkartTitle)."&price=".rawurlencode($flipkartpricedesc);
					$flipkarturl=$GLOBALS['general']['AFFILIATE_INTERMEDIATE_URL']."?url=".$flipkarturl;
					
					if(isset($catalogname) && isset($categoryname))
					{
						$eventCategory="add2cart_mweb_flipkart_sponsor";
						$eventaction = $catalogname."|".$categoryname;
						$eventLabel="pdp|".$productCategoryId."|".$productid."|".$productname."|".$productPriceForGA;
					}else
					{
						$eventCategory=$pagename."_mweb_sponsored_flipkart";
						$eventaction = $pagename."_".$name;
						$eventLabel=$pagename;
					}
		    	
	    	?>
					<li class="ripple">
						<a target="_blank" rel="nofollow sponsored" data-ga-track="<?=$eventCategory?>##<?=$eventaction?>##<?=$eventLabel?>##0" href="<?=handleStr($flipkarturl)?>">
							<div class="inner">
								<span>
									<img alt="icon" src="<?=$flipkartimageurl?>">
								</span>
								<span>
									<figcaption><?=$flipkartTitle?></figcaption>
									
										<span class="price_tag offer-price" >
									<strong> <?=$flipkartpricedesc?></strong></span> 
									 
									<div class="tableR">
										 
										<div class="tableC primePaytm"><i></i></div>
										<div class="tableC logo logoPaytm"><i class="flipkart"></i></div>
										<div class="tableC"><small class="buy_btn paytm">BUY</small></div>
										
										
										
									</div>
								</span>
							</div>
						</a>
					</li>
			<?php } ?>
				</ul>				
		</div>
		<?php } ?>