<?php /*?><div class="toi-container">
<?php 

// amzShoes
	$amzShoesAPIUrl=$GLOBALS['general']['AMAZON_SHOES_API'];
	$amzShoesPopularResult=Utils::getProtectedApiResponse($amzShoesAPIUrl."?category=shoes&format=json", null, null, null, null);
	$amzShoesPopularProduct = json_decode($amzShoesPopularResult['data'],true);
	if(isset($amzShoesPopularProduct['product'])) 
	{	
	$amzShoesPopularProducts = $amzShoesPopularProduct['product'];
	
	$this->view->setVar("amzShoesPopularProducts",$amzShoesPopularProducts);

	if(isset($amzShoesPopularProducts)) 
				{ 
				
					?>

		<section>
				<div class="toi-product-head productShowlist">
					<h4 class="heading"><span class="truncate text-transform">Sponsored: Amazon</span></h4>
				</div>
				<div class="toi-owl-carousel">
					 
				<?php 
				
				for($i=0;$i<sizeof($amzShoesPopularProducts);$i++)
				{
				
					$amzShoesTitle = $amzShoesPopularProducts[$i]['title'];
					$amzMoreUrl   = $amzShoesPopularProducts[$i]['url'];
					$amzShoesimageurl = "";
					if(isset($amzShoesPopularProducts[$i]['imageUrl']))
					{
					$amzShoesimageurl = $amzShoesPopularProducts[$i]['imageUrl'];
					}
					$amzShoespricedesc = $amzShoesPopularProducts[$i]['price'];
					
					// URL prep
					$amzMoreUrl = str_replace("https://www.amazon.in","", $amzMoreUrl);
						if(strpos($amzMoreUrl,"?") == false)
		    			{
		    				$amzMoreUrl =$amzMoreUrl."?tag=timofind-21";
		    			}else
		    			{
		    				$amzMoreUrl =$amzMoreUrl."&tag=timofind-21";
		    			}
						 $amzMoreUrl = rawurlencode($amzMoreUrl);
						 $amzMoreUrl = $amzMoreUrl."&utm_campaign=mweb_gnshop_more-21&utm_source=mweb_gnshop&utm_medium=Affiliate&price=0&title=".rawurlencode($amzShoesTitle);
						 $amzMoreUrl = "http://m.gadgetsnow.com/affiliate_amazon.cms?url=".$amzMoreUrl;
						 $samsungUrl=$amzMoreUrl;
					
				?>
					<!-- product start -->
					<div class="toi-product" itemscope="" itemtype="http://schema.org/ImageObject">
							<div class="soldout-contain">Sold Out</div>
							<a rel="nofollow sponsored" target="_blank" data-ga-track="<?=$pagename?>_mweb_amazon_sponsered_shoes##Mobile|home##<?=$amzShoesTitle?>|10022|26080##0" href="<?=$amzMoreUrl?>">
								<figure><img class="lazy" alt="<?=handleStr($amzShoesimageurl)?>" data-original="<?=handleStr($amzShoesimageurl)?>">
								</figure>
								<meta itemprop="contentUrl" content="<?=handleStr($amzShoesimageurl)?>">
								<figcaption itemprop="name"><div class="proxima-regular1"><?=handleStr($amzShoesTitle)?></div></figcaption>
							 <div class="toi-price">
									<div class="ftl">											 												 
										 <span class="toi-text"><?=$amzShoespricedesc?></span>
										 
									</div>
									<span class="ftr toi-buy">buy</span>											
								</div>
							</a>
					</div>
					<!-- product end -->
					
					<?php }   ?>
				</div>    
			</section>
			
			<?php }  }?>
</div>
*/ ?>