	<?php /* $categoryKey= str_replace(" ","_",$categoryName);
			$categoryKey=$categoryKey."_".$primarycategoryId;
			$categoryValue = $GLOBALS['categoryMap'][$categoryKey]; */
			$affiliateSponsoredUrl =$GLOBALS['general']['AFFILIATE_SPONSORED_API'];
			$affiliateSponsoredUrl=$affiliateSponsoredUrl."?format=json&category=".$categoryValue."&product_per_page=30";
			$affiliateSponsoredProductsJson =  Utils::getProtectedApiResponse($affiliateSponsoredUrl, null, null, null, null);
			if(isset($affiliateSponsoredProductsJson['data']))
			{
				$affiliateSponsoredProducts=json_decode($affiliateSponsoredProductsJson['data'],true);
			}
			if(isset($affiliateSponsoredProducts)) {
			?>
<div class="card productShowlist margin-10">
			<h4 class="heading">Sponsored: In The Store   </h4>
			
				<ul>
			<?php
			$sponsoredCounts=0; 
			foreach($affiliateSponsoredProducts['product'] as $affSProd )
			 {
	    		if(strcasecmp($pagename,'articlepage') == 0 &&  $sponsoredCounts > 4)
	    		{
	    			break;
	    		}  
			 	unset($paytmOffer);
			 	if(is_array($affSProd['title']))
			 		continue;
	    		
	    		$name = ""; 
	    		if(isset($affSProd['title']))
	    			$name = $affSProd['title'];
	    		
	    		$sponsrdUrl = ""; 
	    		if(isset($affSProd['url']))
	    			$sponsrdUrl =$affSProd['url'];
	    		
	    		$sprice = ""; 
	    		if(isset($affSProd['price']))
	    		{
	    			if(is_numeric($affSProd['price']))
	    				$sprice =number_format($affSProd['price']);
	    			else 
	    				$sprice=$affSProd['price'];
	    		}
	    		$event="";
	    		$affiliate="";
	    		if(strpos($sponsrdUrl,"amazon") != false)
	    		{
	    			
	    			$offerprice=$sprice;
	    			$affiliate="amazon";
	    			$sponsoredCounts = $sponsoredCounts+1;
	    			if(isset($catalogname) && isset($categoryname))
	    			{
		    			$eventCategory="add2cart_mweb_amazon_sponsor";
		    			$eventaction = $catalogname."|".$categoryname;
		    			$eventLabel="pdp|".$productCategoryId."|".$productid."|".$productname."|".$productPriceForGA;
	    			}else 
	    			{	
	    				$eventCategory=$pagename."_mweb_sponsored_amazon";
	    				$eventaction = $pagename."_".$name;
	    				$eventLabel=$pagename;
	    			}
		    		$sponsrdUrl = str_replace("https://www.amazon.in","",$sponsrdUrl);
		    		$sponsrdUrl = str_replace("http://www.amazon.in","",$sponsrdUrl);
		    		if(strpos($sponsrdUrl,"?") == false)
		    		{
		    			$sponsrdUrl=$sponsrdUrl."?";
		    		}else
		    		{
		    			$sponsrdUrl=$sponsrdUrl."&";
		    		}
		    		$sponsrdUrl = $sponsrdUrl."SubscriptionId=AKIAJX7PDW7DEP2LLJLA&linkCode=xm2&camp=2025&creative=165953&creativeASIN=B01ABNWQI4";
		    		if(strpos($sponsrdUrl,"?") == false)
		    		{
		    			$sponsrdUrl =$sponsrdUrl."?tag=timofind-21";
		    		}else
		    		{
		    			$sponsrdUrl =$sponsrdUrl."&tag=timofind-21";
		    		}
		    		$sponsrdUrl = rawurlencode($sponsrdUrl)."&utm_campaign=mweb_gnshop_spons-21&utm_source=mweb_gnshop&utm_medium=Affiliate&title=".rawurlencode($name)."&price=".$sprice;
		    		$sponsrdUrl="http://m.gadgetsnow.com/affiliate_amazon.cms?url=".$sponsrdUrl;
	    		}elseif(strpos($sponsrdUrl,"tatacliq") != false)
	    		{
	    			$affiliate="tatacliq";
	    			$tatacliqurl=$GLOBALS['general']['TATA_CLIQ_URL'];
	    			if(isset($catalogname) && isset($categoryname))
	    			{
		    			$eventCategory="add2cart_mweb_tatacliq_sponsor";
		    			$eventaction = $catalogname."_".$categoryname."_".$name;
		    			$eventLabel="pdp|".$productid."|".$productname."|".$productPriceForGA;
	    			}else 
	    			{
	    				$eventCategory=$pagename."_mweb_sponsored_tatacliq";
	    				$eventaction = $pagename."_".$name;
	    				$eventLabel=$pagename;
	    			}
	    			
	    			$sponsrdUrl = str_replace("https://www.tatacliq.com","",$sponsrdUrl);
	    			$sponsrdUrl = str_replace("http://www.tatacliq.com","",$sponsrdUrl);
	    			$sponsrdUrl = $sponsrdUrl;
	    			$nameurl = str_replace(" ","_",$name);
	    			$sponsrdUrl = rawurlencode($sponsrdUrl)."&tag=mweb_gnshop_sponsored&utm_source=mweb_gnshop&utm_medium=Affiliate&title=".rawurlencode($nameurl)."&price=".$sprice;
	    			$sponsrdUrl=$tatacliqurl."?url=".$sponsrdUrl;
	    		}elseif(strpos($sponsrdUrl,"paytm") != false)
	    		{
	    			$sponsoredCounts = $sponsoredCounts+1;
	    			$affiliate="paytm";
	    			
	    			
	    			if(strpos($sponsrdUrl,"-pdp")!==false)
	    			{
	    				$sponsrdUrl = str_replace("-pdp","",$sponsrdUrl);
	    				$sponsrdUrl = str_replace("https://paytmmall.com","https://paytm.com/shop/p", $sponsrdUrl);
	    			}else
	    			{
	    				$sponsrdUrl = str_replace("https://paytmmall.com","", $sponsrdUrl);
	    			}
	    			$sponsrdUrl = rawurlencode($sponsrdUrl);
	    			
	    			if(isset($affSProd['cashback']))
	    			{
	    				$paytmOffer = $affSProd['cashback'];
	    			}
	    			if(isset($catalogname) && isset($categoryname))
	    			{
	    				$eventCategory="paytm_pdp_mweb_sponsor";
	    				$eventaction = $catalogname."_".$categoryname."_".$name;
	    				$eventLabel="pdp|".$productid."|".$productname;
	    				$utmcampaign="mweb_gnshop_sponsor_pdp";
	    			}else
	    			{
	    				$eventCategory=$pagename."_mweb_sponsored_paytm";
	    				$eventaction = $pagename."_".$name;
	    				$eventLabel=$pagename;
	    				$utmcampaign="mweb_gnshop_sponsor_".$pagename;
	    			}
	    			$sponsrdUrl = $sponsrdUrl."&utm_campaign=".$utmcampaign."&utm_source=gadgetsnow&utm_medium=Affiliate&price=".$affSProd['price']."&title=".rawurlencode($name);
	    			$sponsrdUrl = $GLOBALS['general']['PAYTM_INTERMEDIATE_URL']."?url=".$sponsrdUrl;
	    			$offerprice=$affSProd['price'];
	    			if(isset($affSProd['cashback']))
	    			{
	    				$paytmOffer = intval($affSProd['cashback']);
	    				$offerprice=$affSProd['price'] - $paytmOffer;
	    			}
	    		
	    		}elseif(strcasecmp($aff_name,"flipkart")==0) 
						{  
							$affiliate="flipkart";
							if(isset($catalogname) && isset($categoryname))
							{
								$eventCategory="add2cart_mweb_flipkart_sponsor";
								$eventaction = $catalogname."_".$categoryname."_".$name;
								$eventLabel="pdp|".$productid."|".$productname."|".$productPriceForGA;
							}else
							{
								$eventCategory=$pagename."_mweb_sponsored_flipkart";
								$eventaction = $pagename."_".$name;
								$eventLabel=$pagename;
							}
							
							$sponsrdUrl = rawurlencode($sponsrdUrl."&affid=tilltd")."&tag=flipkart_mweb_gnshop_promoted&afname=flipkart&affiliate=flipkart&utm_source=mweb_gnshop&utm_medium=Affiliate&title=".rawurlencode($nameurl)."&price=".rawurlencode($pprice);
							$sponsrdUrl=$GLOBALS['general']['AFFILIATE_INTERMEDIATE_URL']."?url=".$sponsrdUrl;
							$sponsrdUrl = $sponsrdUrl;
					}
		    	
	    	?>
					<li class="ripple"> 
						<a target="_blank" rel="nofollow sponsored" data-ga-track="<?=$eventCategory?>##<?=$eventaction?>##<?=$eventLabel?>##0" href="<?=handleStr($sponsrdUrl)?>">
							<div class="inner">
								<span>
									<img alt="icon" src="<?=$affSProd['imageUrl']?>">
								</span>
								<span>
									<figcaption><?=$name?></figcaption>
									
									<?php if(is_numeric($offerprice) && $offerprice!=0) { ?>
										<span class="price_tag offer-price-ui" >
									
									<strong> <?=$offerprice?></strong></span> <?php }elseif($offerprice != '0') { ?>
									<span>
									<strong> <?=$offerprice?></strong></span>
									<?php } ?>
									<?php if(isset($paytmOffer) && $paytmOffer !== '0' && $paytmOffer !== 0) {?>
									
									<span style="padding-left:5px" class="cashbackdiv"><div class="cashback text-left">Includes  Rs.<?=$paytmOffer?> Cashback</div></span>
									<?php } ?>
									<div class="tableR">
										<?php if($affiliate == "amazon") {?>
										<div class="tableC logo"><i></i></div>
										<div class="tableC prime"><i></i></div>
										<div class="tableC"><small class="buy_btn">BUY</small></div>
										
										<!-- div class="tableC logogadget"><i></i></div>
										<div class="tableC prime gadgets "><i></i></div>
										<div class="tableC"><small class="buy_btn btn_gadgets">BUY</small></div -->
										
										<?php } elseif($affiliate == "paytm") {?>
										<div class="tableC primePaytm"><i></i></div>
										<div class="tableC logo logoPaytm"><i></i></div>
										<div class="tableC"><small class="buy_btn paytm">BUY</small></div>
										
										<?php }?>
										
										
									</div>
								</span>
							</div>
						</a>
					</li>
			<?php } ?>
				</ul>				
		</div>
		<?php } ?>