

<div class="toi-container">

<?php 
// Paytm More
			$affiliateSponsoredUrl =$GLOBALS['general']['AFFILIATE_SPONSORED_API'];
			$affiliateSponsoredUrl=$affiliateSponsoredUrl."?format=json&category=".$randomCategory."&product_per_page=30";
			 
			$affiliateSponsoredProductsJson =  Utils::getProtectedApiResponse($affiliateSponsoredUrl, null, null, null, null);
			if(isset($affiliateSponsoredProductsJson['data']))
			{
				$affiliateSponsoredProducts=json_decode($affiliateSponsoredProductsJson['data'],true);
			}
			if(isset($affiliateSponsoredProducts)) 
				{ 
					?>

					 
				
		<section>
				<div class="toi-product-head productShowlist">
					<h4 class="heading"><span class="truncate text-transform">More From Paytm</span></h4>
				</div>
				<div class="toi-owl-carousel">
					 
				<?php 
				
			for($i=0;$i<sizeof($affiliateSponsoredProducts);$i++)
			{
				unset($paytmOffer);
			 	if(is_array($affSProd['title']))
			 		continue;
	    		$sponsoredCounts = $sponsoredCounts+1;
	    		$name = ""; 
	    		if(isset($affSProd['title']))
	    			$name = $affSProd['title'];
	    		
	    		$sponsrdUrl = ""; 
	    		if(isset($affSProd['url']))
	    			$sponsrdUrl =$affSProd['url'];
	    		
	    		$sprice = ""; 
	    		if(isset($affSProd['price']))
	    		{
	    			if(is_numeric($affSProd['price']))
	    				$sprice =number_format($affSProd['price']);
	    			else 
	    				$sprice=$affSProd['price'];
	    		}
	    		$imageUrl = $affSProd['imageUrl'];
	    		$event="";
	    		$affiliate="";
	    		if(strpos($sponsrdUrl,"paytm") != false)
	    		{
	    			 
	    			$affiliate="paytm";
	    			if(strpos($sponsrdUrl,"-pdp")!==false)
	    			{
	    				$sponsrdUrl = str_replace("-pdp","",$sponsrdUrl);
	    				$sponsrdUrl = str_replace("https://paytmmall.com","https://paytm.com/shop/p", $sponsrdUrl);
	    			}else
	    			{
	    				$sponsrdUrl = str_replace("https://paytmmall.com","", $sponsrdUrl);
	    			}
	    			$sponsrdUrl = rawurlencode($sponsrdUrl);
	    			
	    			if(isset($affSProd['cashback']))
	    			{
	    				$paytmOffer = $affSProd['cashback'];
	    			}
	    			if(isset($catalogname) && isset($categoryname))
	    			{
	    				$eventCategory="paytm_pdp_mweb_sponsor";
	    				$eventaction = $catalogname."_".$categoryname."_".$name;
	    				$eventLabel="pdp|".$productid."|".$productname;
	    				$utmcampaign="mweb_gnshop_sponsor_pdp";
	    			}else
	    			{
	    				$eventCategory=$pagename."_mweb_sponsored_paytm";
	    				$eventaction = $pagename."_".$name;
	    				$eventLabel=$pagename;
	    			}
	    			$sponsrdUrl = $sponsrdUrl."&utm_campaign=".$utmcampaign."&utm_source=gadgetsnow&utm_medium=Affiliate&price=".$affSProd['price']."&title=".rawurlencode($name);
	    			$sponsrdUrl = $GLOBALS['general']['PAYTM_INTERMEDIATE_URL']."?url=".$sponsrdUrl;
	    		
	    		}else 
	    			continue;	
					
				?>
					<!-- product start -->
					<div class="toi-product" itemscope="" itemtype="http://schema.org/ImageObject">
							<div class="soldout-contain">Sold Out</div>
							<a rel="nofollow sponsored" target="_blank" data-ga-track="<?=$pagename?>_mweb_flipkart_popular##Mobile|home##<?=$name?>|10022|26080##0" href="<?=$sponsrdUrl?>">
								<figure><img class="lazy" alt="<?=handleStr($imageUrl)?>" data-original="<?=handleStr($imageUrl)?>">
								</figure>
								<meta itemprop="contentUrl" content="<?=handleStr($imageUrl)?>">
								<figcaption itemprop="name"><div class="proxima-regular1"><?=handleStr($name)?></div></figcaption>
							 <div class="toi-price">
									<div class="ftl">											 												 
										 <span class="toi-text"><?=$sprice?></span>
										 
									</div>
									<span class="ftr toi-buy">buy</span>											
								</div>
							</a>
					</div>
					<!-- product end -->
					
					<?php }   ?>
				</div>    
			</section>
			
			<?php } ?>
			</div>  