<?php 
/*
<div class="toi-container">
// Flipkart
if(!isset($flipkartPopularProducts)) {
	$flipKartAPIUrl=$GLOBALS['general']['FLIPKART_OFFER_API'];
	$flipkartPopularResult=Utils::getProtectedApiResponse($flipKartAPIUrl, null, null, null, null);
	$flipkartPopularProducts = json_decode($flipkartPopularResult['data'],true);
	$this->view->setVar("flipkartPopularProducts",$flipkartPopularProducts);
}
	if(isset($flipkartPopularProducts)) 
				{ 
					?>

					 
				
		<section>
				<div class="toi-product-head productShowlist">
					<h4 class="heading"><span class="truncate text-transform">Popular From FlipKart</span></h4>
				</div>
				<div class="toi-owl-carousel">
					 
				<?php 
				
				for($i=0;$i<sizeof($flipkartPopularProducts);$i++)
				{
					$flipkartTitle = $flipkartPopularProducts[$i]['name'];
					$flipkarturl   = $flipkartPopularProducts[$i]['url'];
					$flipkartimages = $flipkartPopularProducts[$i]['imageUrls'];
					$flipkartpricedesc = $flipkartPopularProducts[$i]['description'];
					for ($j=0;$j<sizeof($flipkartimages);$j++)
					{
						if($flipkartimages[$j]['resolutionType'] == "low")
						{
							$flipkartimageurl=$flipkartimages[$j]['url'];
						}
					}
					// URL prep
					$flipkarturl = rawurlencode($flipkarturl)."&tag=flipkart_mweb_gnshop_".$pagename."_popular&afname=flipkart&affiliate=flipkart&utm_source=mweb_gnshop&utm_medium=Affiliate&title=".rawurlencode($flipkartTitle)."&price=".rawurlencode($flipkartpricedesc);
					$flipkarturl=$GLOBALS['general']['AFFILIATE_INTERMEDIATE_URL']."?url=".$flipkarturl;
					
				?>
					<!-- product start -->
					<div class="toi-product" itemscope="" itemtype="http://schema.org/ImageObject">
							<div class="soldout-contain">Sold Out</div>
							<a rel="nofollow sponsored" target="_blank" data-ga-track="<?=$pagename?>_mweb_flipkart_popular##Mobile|home##<?=$flipkartTitle?>|10022|26080##0" href="<?=$flipkarturl?>">
								<figure><img class="lazy" alt="<?=handleStr($flipkartimageurl)?>" data-original="<?=handleStr($flipkartimageurl)?>">
								</figure>
								<meta itemprop="contentUrl" content="<?=handleStr($flipkartimageurl)?>">
								<figcaption itemprop="name"><div class="proxima-regular1"><?=handleStr($flipkartTitle)?></div></figcaption>
							 <div class="toi-price">
									<div class="ftl">											 												 
										 <span class="toi-text"><?=$flipkartpricedesc?></span>
										 
									</div>
									<span class="ftr toi-buy">buy</span>											
								</div>
							</a>
					</div>
					<!-- product end -->
					
					<?php }   ?>
				</div>    
			</section>
			
			<?php } ?>
			</div> */ ?>