<footer>
<?php if(isset($breadCrumb)) { 	?>
	<ul class="breadcrumb">
		<?php $schemaposition = 0; 
		foreach($breadCrumb as $bcrumb)
			{
			$schemaposition = 1+$schemaposition;	
		?> 
			<li><a href="<?php print_r($bcrumb->URL); ?>"><span ><?php print_r($bcrumb->title); ?></span></a></li>
		<?php }?>
	</ul>
	<?php }elseif(isset($breadcrumbJson)){?>
	<ul class="breadcrumb" itemtype="http://schema.org/BreadcrumbList">
		<?php $schemaposition = 0;
		foreach($breadcrumbJson as $key=>$value)
		{
			$schemaposition = 1+$schemaposition;
		?>
			<li><a href="<?php print_r($value); ?>"><span ><?php print_r($key); ?></span></a></li>
		<?php }?>
	</ul>
				
				
<?php }?>
	<div class="logo"><a href="/"><amp-img src="https://shop.gadgetsnow.com/mobile/img/52745964.png" width="105" height="37"></amp-img></a></div>
		<ul>
			<li><a class="track" href="/aboutus" data-track="toifooter_About Us">About Us</a></li>
			<li><a class="track" href="http://gadgetsnow.com/privacypolicy" data-track="toifooter_Privacy Policy">Privacy Policy</a></li>
			<li><a class="track" href="/contactUs" data-track="toifooter_Refund Policy">Contact Us</a></li>
			 
			<li><a class="track" href="http://gadgetsnow.com/refund-policy" data-track="toifooter_Refund Policy">Refund Policy</a></li>
			<li><a class="track" href="http://gadgetsnow.com/return-policy" data-track="toifooter_Return Policy">Return Policy</a></li>
			<li><a class="track" href="http://gadgetsnow.com/termsandcondition" data-track="toifooter_Terms of Use">Terms of Use</a></li>
			<li><a class="track" href="http://gadgetsnow.com/sitemap.cms" data-track="toifooter_Sitemap">Sitemap</a></li>
			<li><a class="track" href="http://gadgetsnow.com/newsletterhome.cms" data-track="toifooter_Newsletter">Newsletter</a></li>
			 			
		<hr>
		<p class="footnote">Copyright <?php echo date("Y");?> &copy; Bennett, Coleman &amp; Co. Ltd. All rights reserved | <a href="http://timesofindia.indiatimes.com/">The Times of India</a>. For reprint rights: <span>Times Syndication Service</span></p>
</footer>
<div class="text-center fixedbanner">
<a target="_blank" rel="nofollow sponsored" data-ga-track="" href="https://www.amazon.in/b?node=14848487031">
	<amp-img src="https://img1.gadgetsnow.com/gd/imgbn/oneplus6saleama.jpg" height="60" width="360" />
</a>
</div>
</body>
</html>