<!DOCTYPE html>
<html amp lang="en">
  <head>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
	<?php if(isset($canonicalUrl)) {?>
	<link rel="canonical" href="<?=$canonicalUrl?>" />
	<?php } ?>
    <script async src="https://cdn.ampproject.org/v0.js"></script>
	<script async custom-element="amp-accordion" src="https://cdn.ampproject.org/v0/amp-accordion-0.1.js"></script>
	<!-- pdp only -->
	<script async custom-element="amp-geo" src="https://cdn.ampproject.org/v0/amp-geo-0.1.js"></script>
	<script async custom-element="amp-carousel" src="https://cdn.ampproject.org/v0/amp-carousel-0.1.js"></script>
	<script async custom-element="amp-list" src="https://cdn.ampproject.org/v0/amp-list-0.1.js"></script>
	<script async custom-template="amp-mustache" src="https://cdn.ampproject.org/v0/amp-mustache-0.2.js"></script>
	<script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
	<script async custom-element="amp-analytics" src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js"></script>
	<script async custom-element="amp-ad" src="https://cdn.ampproject.org/v0/amp-ad-0.1.js"></script>
	<script async custom-element="amp-consent" src="https://cdn.ampproject.org/v0/amp-consent-0.1.js"></script>
	<!-- pdp only -->
	<title><?php if(isset($metaTitle)) {echo $metaTitle;} ?></title>
<link rel="icon" type="image/png" href="http://www.gadgetsnow.com/icons/GNfavicon.ico?" />
<!-- google verification code -->
<meta name="google-site-verification" content="IahX9qMwbSc7gMbax55Rbjc2h8YPHvTmJ_q2DN8qBe8" />

<meta name="theme-color" content="#135394">

<?php if(isset($setmeta)) {?>
<meta name="robots" content="<?=$setmeta?>">
<?php }else { ?>
<meta name="robots" content="follow,index">
<?php } ?>
<style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>

	
<style amp-custom>
.flt,.ftl{float:left;}
.flr,.ftr{float:right;}
.clr{clear:both;}
*{margin:0px; padding:0px; border:0; outline:none;}
a, a:hover {text-decoration: none; color: #0084cf;}
@font-face {
  font-family: 'proxima-regular';
  src: url('/mobile/fonts/proxima_nova_regular_1.ttf') format('truetype');
}
@font-face {
  font-family: 'proxima-semibold';
  src: url('/mobile/fonts/proximanova-semibold.ttf') format('truetype');
  font-weight:normal;
}
@font-face {
  font-family: 'FontAwesome';
  src: url('/mobile/fonts/fontawesome-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.fa{font-family: 'FontAwesome';}
body{font-family: 'proxima-regular', sans-serif;}
header .header-top{background:#135394; height:49px;width:100%; display:table;}
header .headertable{display:table-cell; vertical-align:middle;}
header .logo{padding:5px 0 0 0;}
header .logo a{margin-left:8px;}
header .headertable a{color:#fff; text-align:center; text-decoration:none;}
header .headertable .toi-login {background-position: 9px -89px; display: table-cell;  height: 45px; width: 28.3%; }
header .headertable .toi-cart {display: block; height: 45px; position: relative; width: 33.3%;}
header .headertable .toi-search-tab {display: table-cell; height: 45px; width: 33.3%; }
header .headertable .toi-login i,header .headertable .toi-search-tab i, header .headertable .toi-cart i{ background: url("/mobile/img/toi-split-img.png") no-repeat scroll 0 0;}
header .headertable .toi-login i { background-position: 4px -89px; display: block; height: 27px; margin: 0 auto; width: 42px;}
header .headertable .toi-search-tab i {background-position: -76px -357px; display: block; height: 27px; margin: 0 auto; width: 42px;}
header .headertable .toi-cart i {background-position: 4px -40px; display: block; height: 27px; margin: 0 auto; width: 42px;}
header .headertable .toi-cart span.count{background:#ffbd36;; border-radius:10px; width:16px; height:16px; text-align:center; line-height:16px; display:block; position:absolute; font-size:10px; top:4px; color:#000; right:16%;}
header .headertable .tab-text{color:#fff; display:block; text-align:center; font-size:11px; text-transform: uppercase; margin-top:0px; line-height:15px;}
header .header-bottom{background:#fff; width:100%; display:block;}
header .header-bottom .header-menu {overflow: hidden; max-width: 768px; overflow-x: auto;  height: 45px;}
header .header-bottom ul.toi-menu{background: #fff; border-bottom: 1px solid #e0e0e0;width: 1100px;}
header .header-bottom ul.toi-menu li { color: #666;  font-size: 12px;  line-height: 45px;  text-align: center;  text-transform: uppercase;  display: inline-block;  font-family: 'proxima-semibold';}
header .header-bottom ul.toi-menu li a { display: block; color: #666; text-decoration: none; padding: 0 10px;}
header .header-bottom ul.toi-menu li a.active {border-bottom: 2px solid #00438a; line-height: 41px;}
.w40 {width:30%;}
.w60 {width:50%;}
amp-accordion section[expanded] .show-more {
  display: none;
}
amp-accordion section:not([expanded]) .show-less {
  display: none;
}
.text-center{text-align:center;}
.text-left{text-align:left;}
.text-right{text-align:right;}
.oveflowhidden{overflow:hidden;}

footer{background:#363535; font-size:1rem; display:block; padding:3% 3% 60px 3%; font-family:proxima-regular;}
footer h4{color:#ffffff; font-size:.8rem; text-align:center; margin-top:10px;}
footer ul {overflow:hidden; text-align:center; padding:0px 16px 8px;}
footer ul li{padding:0 2px; color:#a6a5a5; font-size:12px; display:inline-block; line-height:18px}
footer ul li a{color:rgba(255,255,255,0.75);}
footer ul li:after{content: ''; width: 2px; height: 2px; background: rgba(255,255,255,0.8); border-radius: 10px; display: inline-block; margin: 0 0 2px 12px;}
footer ul li:last-child:after{content: ''; width: 2px; height: 2px; background: rgba(255,255,255,0); border-radius: 10px; display: inline-block; margin: 0 0 2px 12px;}
footer ul.breadcrumb{padding-bottom:20px;}
footer ul.breadcrumb li:after{content:'\f101'; font-family: 'FontAwesome'; width: 10px; height: 10px; background: #363535; border-radius: 0px; display: inline-block; margin: 0 0 2px 12px;}
footer ul.breadcrumb li:last-child:after{content:''; width: 10px; height: 10px; background: #363535; border-radius: 0px; display: inline-block; margin: 0 0 2px 12px;}
footer p.footnote{padding:10px 2px; color:#fff; font-size:12px; text-align:center; line-height:16px;}
footer p.footnote a{color:#fff;}
footer p.footnote span{color:#a6a5a5;}
footer .font-increase{ text-align:center;}
footer .font-increase span{ text-align:center; color:#ffffff; cursor:pointer;}
footer .font-increase span.active{color:#b93128;}
footer .font-increase .less-normal{font-size: 0.8rem;}
footer .font-increase .normal{font-size:1rem;}
footer .font-increase .plus-normal{font-size:1.1rem;}
footer hr{border-top:1px solid #a6a5a5}
footer .logo{text-align:center;}



.body-listing .section-container-ui .mobile-product-list-view a .offertext,.body-listing .section-container-ui .feature-list-select-ui .sort-by-text, .body-listing .section-container-ui .feature-list-select-ui .filter-by-ui a{background:url("http://m.shop.gadgetsnow.com/mobile/img/splite_mob.png") no-repeat scroll 0 0}

.body-listing .section-container-ui, .pdp-content .section-container-ui { margin: 0px auto 20px;  width: 100%;}
.section-container-ui h3 {font-size: 1em; color: #333333;line-height: 39px; padding: 10px 1%; border:none; border-bottom: 1px solid #e1e1e1; border-top: 1px solid #ddd;  font-weight: 600; overflow: hidden; display: block; text-decoration: none; background:#fff; font-weight: 100;}
.section-container-ui h3 a { color: #333333; line-height: 39px; height: 39px; font-weight: 100; overflow: hidden; display: block; text-decoration: none;}
.toi-categories-list {padding: 0px 10px 20px 10px;list-style: none; position: absolute; z-index: 100; left: 0; right: 0;}
.toi-categories-list > li a {font-size: 0.8em; display: block; border-bottom: 1px solid #e7e7e7; line-height: 32px;  padding-left: 10px;  background: #fff; text-decoration:none;}
h3 span.inactive:after{content:'\25bc'; font-size:0.8rem; margin-left:10px;}
h3 span.active:after{content:'\25b2'; font-size:0.8rem; margin-left:10px;}
.body-listing .section-container-ui .feature-list-select-ui {overflow: hidden;width: 100%; border-width: 1px 0px; border-color: #c7c7c7;border-style: solid; line-height: 39px;}
.body-listing .section-container-ui .feature-list-select-ui .sort-by-ui {width: 50%; overflow: hidden;}
.body-listing .section-container-ui .feature-list-select-ui .sort-by-text {display: block; line-height:39px; font-size: 12px; color: #c7c7c7; line-height: 14px; padding: 0 2%; width: 91%; margin: 2px 0 0 5px; background-position:right -88px; height:39px;}
.body-listing .section-container-ui .feature-list-select-ui .sort-by-text span{display:block; color:#000; font-size:12px; padding:5px 0 0 0;}
.body-listing .section-container-ui .feature-list-select-ui .sort-by-form-ui{width:100%; line-height:39px;}
.body-listing .section-container-ui .feature-list-select-ui .sort-by-form-ui:hover ul{display:block;}
.body-listing .section-container-ui .feature-list-select-ui .sort-by-form-ui ul{display:none; position:absolute; z-index:100; width:45%; padding:2%; border:1px solid #c7a055; background:#fff; font-size:12px;}
.body-listing .section-container-ui .feature-list-select-ui .sort-by-form-ui ul li a{background:#fff; display:block; color:#000;}
.body-listing .section-container-ui .feature-list-select-ui .sort-by-form-ui ul li:hover a{background:#ade1f5; display:block; color:#fff}
.body-listing .section-container-ui .feature-list-select-ui .filter-by-ui {width: 50%;}
.body-listing .section-container-ui .feature-list-select-ui .filter-by-ui a {display: block;font-size: 0.9em;text-decoration: none; padding: 0 2%; color: #333333; background-position: right -115px; line-height: 45px; border-left:1px solid #c7c7c7}
.body-listing .section-container-ui .mobile-product-list-view ul {overflow: hidden; padding: 1%; list-style:none}
.body-listing .section-container-ui .mobile-product-list-view ul li {border: 1px solid #CCCCCC; padding: 0; height: 250px; margin: 1%; box-shadow: 0px 0px 3px #c7c7c7; background: #fff; float: left; position:relative; width:22%;}
.body-listing .section-container-ui .mobile-product-list-view figure {text-align: center; height: 130px; line-height: 150px; padding-top:20px;}
.body-listing .section-container-ui figcaption {font-size: 0.9em; text-align: center; display: block; height: 40px; padding: 0 3%; overflow: hidden; line-height: 20px; color:#000}
.body-listing .section-container-ui  figcaption:before {content:""; float: left; width: 5px; height: 40px;}
.body-listing .section-container-ui  figcaption > *:first-child { float: right; width: 100%; margin-left: -5px; }
.body-listing .section-container-ui  figcaption:after{content: "\02026"; box-sizing: content-box; -webkit-box-sizing: content-box;	-moz-box-sizing: content-box;float: right; position: relative; top: -22px; left: 100%; width: 3em; margin-left: -3em; padding-right: 5px; text-align: right; 	background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), to(white), color-stop(50%, white));	background: -moz-linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white); background: -o-linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white); background: -ms-linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white); background: linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white);}
.body-listing .section-container-ui .mobile-product-list-view .mobile-price-ui { font-size: 0.9em;  text-align: center;}
.body-listing .section-container-ui .mobile-product-list-view a .offertext { background-position: -55px -265px; width: 49px; height: 49px; position: absolute; z-index: 2; top: 0;}
.body-listing .section-container-ui .mobile-product-list-view .mobile-price-ui .offer-price-ui {color: #135394;display: block;}
.body-listing .section-container-ui .mobile-product-list-view .mobile-price-ui .mrp-price-ui {font-size: 0.9em; color: #747474;}
.body-listing .section-container-ui .mobile-product-list-view ul li amp-img {width:37%; margin:0 auto}
.body-listing .section-container-ui .mobile-product-list-view ul li .comingsoon{ text-align:center; color:#333; display:none;}
.body-listing .soldoutproduct a{opacity:0.2; display:block;}
.body-listing .soldout {text-align: center; display: none; background: #333;  color: #fff;  width: 97px; margin: 0px auto; position: absolute; top: 50%; left: 20%; z-index: 1;}
.more-results{width:100%}
.more-results a{width:40%; margin:0 auto; line-height:38px; background:#c7c7c7; color:#000; display:block; text-align:center;}
.mrp-price-ui:before, .offer-price-ui:before { content: '\20b9';}

.pdp-content .section-container-ui { overflow: auto; margin: 0px auto 20px; width: 96%;  box-shadow: 0px 0px 6px #b8b8ba;  -moz-box-shadow: 0px 0px 6px #b8b8ba;  -webkit-box-shadow: 0px 0px 6px #b8b8ba; background: #fff}
.pdp-content .section-container-ui h1 {font-weight: 600;border-bottom: 1px solid #e1e1e1; padding: 7px 10px 10px 40px; font-size: 1.1em;}
.pdp-content .heading{ font-family: "proxima-semibold"; margin-bottom: 6px; position: relative;  line-height: 1;}
.pdp-content .heading:before {background: #135394 none repeat scroll 0 0; left: 0; top: 2px;  width: 17px; content: ""; height: 17px; position: absolute;}
.pdp-content .heading:after {  border-color: transparent transparent #135394;  border-image: none;  border-style: solid;  border-width: 17px;  left: 0; top:-13px;}
.pdp-content .heading:after, .amazon-list .heading:before {  content: "";  height: 17px;  position: absolute;  box-sizing: border-box;}
.pdp-content .heading:before{background: #135394;  left: 0;  top: 4px;  width: 17px;}
.pdp-content .product-img-casousel amp-img {width:100%; margin:20px auto 0}
.pdp-content .product-img-casousel{position:relative;}
.pdp-content .product-img-casousel .casousel-dot{list-style:none; margin:-18px auto 0; text-align:center; position:absolute; z-index:100; width:100%}
.pdp-content .product-img-casousel .casousel-dot li{border-radius:7px; width:7px; height:7px; background:#869791; opacity:0.5; margin:5px 7px; display:inline-block;}
.pdp-content .product-img-casousel .casousel-dot li:first-child{margin-left:0px;}

.pdp-content .amazonbuybutton .amazontab .amazon-logo { background: url(/mobile/img/azazon-logo.png) 0px 14px;  height: 40px; background-repeat: no-repeat; background-size: contain;  display:inline-block; vertical-align: middle; width: 80px; margin-left: 30px;}
.pdp-content .product-detail-price{width:92%; padding:3%;}
.pdp-content .pdp-price .offer-price-ui { color: #135394; font-size: 1.3em;}
.pdp-content .pricetab {line-height: 40px; height: 40px; width: 50%;}
.pdp-content .amazonbuybutton .amazontabsecond .buy-button-amazon { width: 80%; display: block; line-height: 40px; height: 40px; text-align: center; color: #fff; background:#f09601; margin:0 auto;}
.pdp-content .gnplus { font-size: 15px; line-height: 30px; overflow: hidden; font-family: 'proxima-semibold';  margin-top: 10px;}
.pdp-content .gnplus span.first-child { background: url(/mobile/img/GN-Plus-logo-5.jpg) no-repeat scroll 0 0 / 60px 24px; width: 60px; height: 25px; float: left;}
.pdp-content .buy-button { width: 56%; display: block; line-height: 40px; height: 40px;  text-align: center;  color: #fff; background:#f09601; margin:0 auto; text-align: center; color: #fff;}
.pdp-content .pdp-price .mrp-price-ui { color: #979797; font-size: 1em; margin-left: 1%;}
.pdp-content .pdp-price .amazon-logo, .pdp-content .amazonbuybutton .buy-button, .pdp-content .amazonbuybutton .gnplus, .pdp-content .amazonbuybutton .mrp-price-ui, .pdp-content .pdp-price .buy-button-amazon{display:none;}
.pdp-content .pdp-save {font-size: 0.8em; color: #333333; line-height: 20px; margin-top: 5px;}
.pdp-content mark { background-color: #52c97c; padding: 0; display: block; width: 100%; border: 1px dashed #c7c7c7; margin-top: 15px;}
.pdp-content mark ul li { list-style-type: disc; font-size: 0.8em; margin-left: 2%; padding-left: 2%; margin-bottom: 5px;}
.pdp-content mark a{display:block; line-height:31px; width:100%; color:#fff}
.pdp-content mark a:before{content:'\f02c'; font-family: 'FontAwesome'; width: 20px; height: 30px; display: inline-block; margin: 0 5px 2px 12px;}
.pdp-content .check-cod {margin-top: 10px; font-size: 0.8em;}
.pdp-content .check-cod p {line-height: 32px; height: 32px; border-width: 1px 0px; border-color: #c7c7c7; border-style: solid; border-bottom: none; font-family: 'proxima-semibold';}
.pdp-content .check-cod form {padding: 8px 0px;}
.pdp-content .check-cod form input.checkpin {border: 1px solid #c7c7c7; height: 27px; width: 65%;  padding-left: 2%;  -webkit-appearance: none;}
.pdp-content .check-cod form input.checkpinbutton {width: 30%; background: #000; color: #fff; height: 29px; line-height: 25px; border: 1px solid #c7c7c7; -webkit-appearance: none;}
.error {color: #f00; font-size: 11px; display: block;}
.pdp-content .outofstock {margin-top: 10px;}
.pdp-content .outofstock p {font-size: 2em; margin-bottom: 5px;}
.pdp-content .outofstock .notification-tab .notification { padding: 10px; border: 1px solid #c7c7c7; display:block;}
.pdp-content .outofstock .messge { font-size: 0.9em; margin-bottom: 5px; color:#333}
.pdp-content .outofstock .tableForm { display:table; width:100%;}
.pdp-content .outofstock .tableF, .pdp-content .outofstock .tableB { display:table-cell;}
.pdp-content .outofstock .tableF {width: 70%; border:solid 1px #c7c7c7; height:30px; padding-left:1%; color:#757575; font-size:14px;}
.pdp-content .outofstock .tableB { width: 30%; border: 1px solid #c7c7c7; height: 30px; line-height:30px; border-left: none; background:#dddddd; color:#000; font-size:14px; line-height:30px; text-align:center}
.pdp-content .features-other-option h3, .pdp-content .features-other-option p, .pdp-content .stealdeal h3 { background: none; border-bottom: 1px solid #e1e1e1; color: #333333; display: block; font-size: 1em; font-weight: 600; height: 39px; line-height: 39px; overflow: hidden; padding: 0 1%; text-decoration: none; }
.pdp-content .features-other-option ul.keyfeatures-ui { padding: 1% 0 1% 7%;}
.pdp-content .features-other-option ul.keyfeatures-ui li { font-size: 0.9em; list-style-type: disc;  line-height: 1.4em;}
.pdp-content .features-other-option h3, .pdp-content .about-product-details-ui h3, .pdp-content .features-other-option p, .pdp-content .about-product-table-ui h3, .pdp-content .relatedproducts h3 { background: none; border-bottom: 1px solid #e1e1e1; color: #333333; display: block; font-size: 17px; font-weight: 600; height: 39px; line-height: 39px; overflow: hidden; padding: 0 1%; text-decoration: none; }
.pdp-content .about-product-table-ui table { border-collapse: collapse;}
.pdp-content .about-product-table-ui table tr { border-bottom: 1px dashed #f0f0f0;}
.pdp-content .about-product-table-ui table td:first-child {text-transform: uppercase; width: 35%;}
.pdp-content .about-product-table-ui table td {line-height: 1.5em; height: 1.5em; font-size: 0.9em; padding: 1%; color: #7d7b7b; vertical-align: top;}
.pdp-content .about-product-table-ui table td dl dt { font-size: 0.9em; color: #999999; font-weight: bold; }
.pdp-content .about-product-table-ui table td dl dd { font-size: 0.9em; color: #999999;}
.pdp-content ul.aiviable-colors {padding: 1% 0 10px 3%;}
.pdp-content ul.aiviable-colors li{display:inline-block; margin-right:2%; width:52px; height:52px; padding-top:3%;}
.pdp-content ul.aiviable-colors li amp-img{max-height:100%; max-width:60%; vertical-align:middle;}
.pdp-content .about-product-details-ui .detail-text { font-size: 14px;  padding: 1%;  line-height: 20px; display:none}
.pdp-content .stealdeal{border:2px solid #f90;}
.pdp-content .specialProduct{overflow:hidden; display:table; padding-bottom:10px; width:100%;}
.pdp-content .stealdeal h3{ border-bottom: 1px solid #e1e1e1; color: #135394; display: block; font-size: 1em; font-weight: 600; height: 39px; line-height: 39px; overflow: hidden; padding: 0 1%; text-decoration: none;}
.pdp-content .specialProduct .first-col {width: 25%; vertical-align: middle; text-align: center;}
.pdp-content .specialProduct .first-col, .pdp-content .specialProduct .second-col { overflow: hidden; display: table-cell;}
.pdp-content .specialProduct .second-col .productname { font-size: 16px; color: #454545;  display: block;  text-align: left;  padding: 10px 0; font-family: proxima-semibold;}
.pdp-content .specialProduct .second-col .keyfeatures {padding: 1% 0 3% 7%;}
.pdp-content .specialProduct .second-col .keyfeatures li { font-size: 0.9em; line-height: 20px; list-style-type: disc;}
.pdp-content .specialProduct .second-col .price-container { overflow: hidden;}
.pdp-content .specialProduct .second-col .price-container div:first-child { width: 50%;}
.pdp-content .specialProduct .second-col .price-container div:first-child .offer { color: #135394; font-size: 20px; font-family: proxima-semibold;}
.pdp-content .specialProduct .second-col .price-container div:first-child .mrp { color: #000; font-size: 12px; text-decoration: line-through;}
.pdp-content .specialProduct .second-col .price-container div:first-child .yousave {color: #f90; font-size: 12px; display: block;}
.pdp-content .specialProduct .second-col .price-container .buy_btn { background: rgba(0, 0, 0, 0) linear-gradient(#135394, #2465a8) repeat scroll 0 0; border: 1px solid #135394;  border-radius: 2px;    color: #fff; display: inline-block; font-size: 14px; height: 25px; line-height: 25px; padding: 0 10px; text-align: center; width: 70px;}
.pdp-content .specialProduct .second-col .price-container div:last-child { padding: 7px 10px 0 0;}
.pdp-content .specialProduct .first-col amp-img { max-width: 73%;}
.pdp-content .amazon-list .heading { font-family: "proxima-semibold"; font-size: 23px; margin-bottom: 6px; padding-left: 40px; position: relative; line-height: 1;}
.pdp-content .amazon-list ul { background: #efefef none repeat scroll 0 0; border-bottom: 1px solid #e4e4e4; border-top: 1px solid #e4e4e4;}
.pdp-content .amazon-list li { border-bottom: 1px solid #e6e6e6; padding: 0px 10px 10px 10px; background: #fff; border: 1px solid #e4e4e4; margin: 0 0 2px; }
.pdp-content .amazon-list li a { color: #000;  display: block;}
.pdp-content .amazon-list li .inner { display: table;  table-layout: fixed;  width: 100%;}
.pdp-content .amazon-list li .inner span:first-child { padding-right: 0px;  width: 60px;}
.pdp-content .amazon-list li .inner span {  color: #787878; display: table-cell; font-size: 12px; line-height: 1.4; vertical-align: middle;}
.pdp-content .amazon-list li amp-img { max-width: 72%; vertical-align: bottom;}
.pdp-content .amazon-list li span figcaption { -moz-box-orient: vertical;  color: #454545; display: -webkit-box; font: 14px/18px proxima-semibold;  margin-bottom: 5px;  overflow: hidden; text-align:left; padding:10px 0 0 0;}
.pdp-content .amazon-list li .inner span { color: #787878; display: table-cell; font-size: 12px; line-height: 1.4; vertical-align: middle;}
.pdp-content .mrp-price-ui:before, .offer-price-ui:before { content: '\20b9';}
.pdp-content .amazon-list .tableR { display: table;  padding-top: 5px; width: 100%; }
.pdp-content .amazon-list .tableR .tableC { display: table-cell;  vertical-align: middle; }
.pdp-content .amazon-list .tableR .tableC:nth-child(2) { padding: 0 10px; }
.pdp-content .amazon-list .tableR .tableC:last-child { text-align: right;}
.pdp-content .amazon-list .buy_btn {  background: rgba(0, 0, 0, 0) linear-gradient(#ff9f00, #e28d00) repeat scroll 0 0; border: 1px solid #bc7600; border-radius: 2px;  color: #fff;  display: inline-block;    font-size: 14px; height: 25px; line-height: 25px;  padding: 0 10px; text-align: center;   width: 43px;}
.pdp-content .amazon-list .buy_btn.paytm {  background: #ef4e28;  color: #fff;  border: 1px solid #ef4e28;}
.pdp-content .amazon-list .tableR .tableC.prime i { background-image: url(/mobile/img/amazon-prime.png); height: 16px; width: 49px;}
.pdp-content .amazon-list .tableR .tableC.primePaytm i { height: 16px;  width: 49px; display:none;}
.pdp-content .amazon-list .tableR .tableC i {background-repeat: no-repeat; background-size: contain; display: inline-block; vertical-align: middle; }
.pdp-content .amazon-list .tableR .tableC.logo i { background-image: url(/mobile/img/azazon-logo.png); height: 19px; width: 74px;}
.pdp-content .amazon-list .tableR .tableC.logoPaytm{padding:0;}
.pdp-content .amazon-list .tableR .tableC.logoPaytm i{background-image: url("https://img1.gadgetsnow.com/gd/imgbn/pytm-mall.jpg"); height: 19px; width: 87px;}
.pdp-content .about-product-table-ui h3 span:after, .pdp-content .about-product-details-ui h3 span:after{font-family: 'FontAwesome'; content: '\f105'; float:right; margin-right:11px; font-size:23px;}
.pdp-content .about-product-table-ui h3:hover span:after, .pdp-content .about-product-details-ui h3:hover span:after{font-family: 'FontAwesome'; content: '\f107'; float:right; margin-right:11px; font-size:23px;}

.pdp-content .mobile-product-list-view{ border:1px solid #e1e1e1; height:250px; border-left:none; border-top:none; width:320px; float:left;}
.pdp-content .mobile-product-list-view a{ color:#000; text-decoration:none; display:block;}
.pdp-content .mobile-product-list-view a .offertext{ background-position:-55px -265px; width:49px; height:49px; position:absolute; z-index:2; top:0;}
.pdp-content .mobile-product-list-view figure{ display:block; text-align:center; height:150px; line-height:150px;}
.pdp-content .mobile-product-list-view figure amp-img{ max-width:19%; max-height:75%; vertical-align:middle;}
.pdp-content  figcaption{font-size:0.9em; text-align:center; display:block; height:40px; padding:0 3%; overflow:hidden; /*text-overflow: ellipsis; white-space: nowrap; */ line-height:20px;}
.pdp-content  figcaption:before {content:""; float: left; width: 5px; height: 40px;}
.pdp-content  figcaption > *:first-child { float: right; width: 100%; margin-left: -5px; }
.pdp-content  figcaption:after{content: "\02026"; box-sizing: content-box; -webkit-box-sizing: content-box;	-moz-box-sizing: content-box;float: right; position: relative; top: -22px; left: 100%; width: 3em; margin-left: -3em; padding-right: 5px; text-align: right; 	background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), to(white), color-stop(50%, white));	background: -moz-linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white); background: -o-linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white); background: -ms-linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white); background: linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white);}
.pdp-content .mobile-product-list-view .mobile-price-ui{ font-size:0.9em; text-align:center;}
.pdp-content .mobile-product-list-view .mobile-price-ui .offer-price-ui{ color:#135394; display:block;}
.pdp-content .mobile-product-list-view .mobile-price-ui .offer-price-ui:before{ content:'\20b9';}
.pdp-content .mobile-product-list-view .mobile-price-ui .mrp-price-ui{ font-size:0.9em; color:#747474;}
.pdp-content .mobile-product-list-view  .colombiaad .mobile-price-ui .mrp-price-ui-colombia{ font-size:0.9em; color:#747474; text-decoration:none; display:block}
.pdp-content .mobile-product-list-view .mobile-price-ui .mrp-price-ui:before{ content:'\20b9';}
.pdp-content .mobile-product-list-view .mobile-price-ui .off-price-ui{font-size:0.9em; color:#747474;}
.pdp-content .mobile-product-list-view .colombiaad .mobile-price-ui .off-price-ui-colombia{font-size:0.9em; color:#747474; display:block;}
.pdp-content .scroll-wapper{max-width:768px; overflow-x:auto; height:250px;}
.pdp-content #mobile-list{width:1920px}
.pdp-content .about-product-details-ui h3:hover + .detail-text{display:block;}
.pdp-content .about-product-table-ui table{display:none;}
.pdp-content .about-product-table-ui h3:hover + table{display:block;}
.stealdealcontainer amp-list{height:360px;}
.ankush ~ .outofstock{display:none;}
.adcode{max-width:300px; margin:0 auto 10px;}
.displaynone{display:none;}
.productShowlist .heading, .question-section .heading{ font-family: "proxima-semibold"; font-size: 23px;  margin-bottom: 6px;  padding-left: 40px;   position: relative;  line-height: 1; text-align:left;}
.productShowlist .heading:before , .question-section .heading:before{background: #135394 none repeat scroll 0 0; left: 0; top: 2px;  width: 17px; content: ""; height: 17px; position: absolute;}
.productShowlist .heading:after, .question-section .heading:after {  border-color: transparent transparent #135394;  border-image: none;  border-style: solid;  border-width: 17px;  left: 0; top:-13px;}
.productShowlist .heading:after, .productShowlist .heading:before, .question-section .heading:after{  content: "";  height: 17px;  position: absolute;  box-sizing: border-box;}
.productShowlist .heading:before, .question-section .heading:before{background: #135394;  left: 0;  top: 4px;  width: 17px;}

.productShowBox{padding:7px; margin-bottom:10px;}
.productShowBox .seealso{font-size:12px; color:#000; overflow:hidden}
.productShowBox ul li{list-style:none; padding:10px; display:block; border:1px dashed rgba(32, 87, 146, 0.5); margin-top:10px; overflow:hidden}
.productShowBox ul li a{display:block; color:#454545; font: 14px/18px proxima-semibold; min-height:90px; text-align:left}
.productShowBox ul li a .firstdiv{width:22%;}

.productShowBox ul li a .firstdiv amp-img { max-width: 64%; vertical-align: bottom;}
.productShowBox ul li a .seconddiv{width:78%;}
.productShowBox ul li a .tabletitle{min-height:40px; text-align:left;}
.productShowBox ul li a .tabletitle figcaption{min-height:40px; display:block; text-align:left;  }
.productShowBox ul li a .tableR{display:table; padding-top: 5px; width: 100%;}
.productShowBox ul li a .tableR .price_tag{font-size:15px; color:#a0a0a0; width:35%;}
.productShowBox ul li a .tableR .tableC { display: table-cell; vertical-align: middle;}
.productShowBox ul li a .tableR .tableC.logo{padding-top:5px;}
.productShowBox ul li a .tableR .tableC.logo i { background-image: url("/mobile/img/azazon-logo.png"); height: 19px; width: 74px;}
.productShowBox ul li a .tableR .tableC.logoPaytm i{background-image: url("https://img1.gadgetsnow.com/gd/imgbn/pytm-mall.jpg"); height: 19px; width: 87px;}
.productShowBox ul li a .tableR .tableC i {background-repeat: no-repeat; background-size: contain; display: inline-block; vertical-align: middle; }
.productShowBox ul li a .tableR .tableC.prime i { background-image: url("/mobile/img/amazon-prime.png");  height: 16px;  width: 49px;}
.productShowBox ul li a .tableR .tableC.buy {text-align:right;}
.productShowBox ul li a .tableR .tableC.primePaytm i { height: 16px;  width: 49px;}
.productShowBox ul li a .buy_btn { background: rgba(0, 0, 0, 0) linear-gradient(#ff9f00, #e28d00) repeat scroll 0 0;  border: 1px solid #bc7600; color: #fff; display: inline-block; font-size: 14px; height: 25px; line-height: 25px; padding: 0 10px; text-align: center; width: 60px; }
.productShowBox ul li a .buy_btn.paytm { background:#ef4e28;  border: 1px solid #ef4e28; }
.fixedbanner{z-index:100; position:fixed; bottom:0; right:0; left:0; background:#fff;}
.productShowBox ul li .cashbackdiv{display: block; border: 1px solid #ffc660; padding: 0 5px; background: #ffe9c1; margin: 0; text-align: left; float:left}
.overflowhidden{overflow:hidden}
section{margin:10px 0;}
.toi-container .toi-product{border:1px solid #dedede; height:220px; margin:10px 0px 10px 10px; padding:8px; box-shadow:1px 2px 2px #dfdfdf; background:#fff; width:80%;}
.toi-container .toi-product figure{height:134px; display:block; text-align:center; line-height:134px;}
.toi-container .toi-product figure img{max-width:90%; max-height:90%; border: 1px solid transparent; position:relative; z-index:1}
.toi-container .toi-product figure amp-img{max-width:20%; border: 1px solid transparent; position:relative; z-index:1; margin:0 auto;}
.toi-container .toi-product figcaption div{font-size:0.9em; color:#000; display:block; height:26px; line-height:24px; border-top:1px solid #dedede; padding-top:8px;  width: 250px; font-weight:bold; font-size:15px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; width:100%;}
.toi-container .toi-product .soldout-contain{display:none;}
.toi-container .toi-product .toi-price{overflow:hidden; padding:0 3%;}
.toi-container .toi-product .producttext{font-size:12px; color:#959595; margin-top:5px;}
.toi-container .colombiaad .toi-price .toi-mrp{font-size:.8rem; color:#959595;  display:block}
.toi-container .toi-product .toi-price .toi-mrp{font-size:.8rem; color:#959595; text-decoration:line-through; display:block}
.toi-container .toi-product .toi-price .toi-off{font-size:1rem; color:#001e73; display:block}
.toi-container .toi-product .toi-price .toi-buy{font-size:1rem; color:#fff; display:block; background:#f09601; width:60px; height:34px; border-radius:2px; -moz-border-radius: 2px; -webkit-border-radius: 2px; border:1px solid #ba750d; text-align:center; line-height:34px; text-transform:uppercase; margin-top:13px;}
.toi-text {
    color: #454545;
    font-weight: bold;
}
.toi-container .list-catagories-ama li {border: 1px solid #f1f1f1; display:inline-block; margin: 0 9px; padding: 0px 2px 0; width: 155px; list-style:none;}
.toi-container .list-catagories-ama li  amp-img{max-width:100%;}

/*blog */
.blog-container {font-size:1em}
.blog-container .article-head h1{font-weight:100; font-family: proxima-semibold; font-size: 1.8em;  color: #454545;  padding: 5px 0; }
.blog-container .article-head .article-timing{font-size: .9em;  color: #a7a7a7;  margin-right: 2%;  display: block;}
.blog-container .article-content {margin-bottom:20px; font-size: 1.1em;}
.blog-container .article-content .article-img{display:block; width:100%; padding:10px 0;}
.blog-container .article-content .article-img img{max-width:100%;}
.blog-container .article-content .article-text{font-size: 1em; color: #454545; padding: 0 10px; line-height: 1.5em; letter-spacing: .03em;}
.blog-container .article-content .article-text p{margin:0; padding-top:10px}
.blog-container .productShowBox ul li a .tableR .tableC.logo i { background-image: url(https://img1.gadgetsnow.com/gd/imgbn/pytm-mall.jpg); height: 50px;  width: 80px;}
.blog-container .productShowBox ul li a .tableR .tableC.logo i.amazon{ background-image: url(/mobile/img/azazon-logo.png); height: 22px;  width: 80px; background-position:0 5px;}
.blog-container .productShowBox ul li a .firstdiv{width:22%;}
.blog-container .productShowBox ul li a .seconddiv{width:78%;}
.blog-container .productShowBox ul li{padding:10px;}
.blog-container h2{margin-top:30px; font-family:'proxima-regular'; font-size:19px; line-height:26px;}
.blog-container h2 a{color:#000; padding:10px 0;}
.blog-container .productShowBox ul li a .tabletitle, .productShowBox ul li a .tableR{width:100%;}
.blog-container .productShowBox ul li a .firstdiv span{display:contents;}
.blog-container .productShowBox ul li a .tableR .tableC.logo i { height: 25px;  width: 74px;}
.blog-container .productShowBox ul li a .tableD { height: 25px;  width: 100%; display:block; margin-top:8px;}
.blog-container .productShowBox ul li a .tabletitle span{display:contents; font-size: 14px; line-height: 19px;}
.blog-container .productShowBox ul li a .buy_btn{height: 25px; line-height: 25px; width:60px; font-size: 14px;}
.blog-container .productShowBox ul li a .tableR .tableC {text-align: left;}
.blog-container .productShowBox ul li a .buy_btn { background: #ef4e28; border: 1px solid #ef4e28;  color: #fff;  display: inline-block;  font-size: 16px; height: 30px; line-height: 30px; padding: 0 10px; text-align: center;  width: 80px;}
.blog-container .productShowBox .mrp-price{font-size:14px; color:#999; text-decoration:line-through; font-family:'proxima-regular1';}
.blog-container .productShowBox .off-per{font-size:18px; color:#09ac63; font-family:'proxima-regular1'; padding-left:10px;}
/*blog */

/* popupOverlay */
amp-consent{top:0;position:related }
.popupOverlay, #post-consent-ui{background:#323232; color:#fff; padding: 16px 10px}
#post-consent-ui{position:fixed; z-index:1000; left:0; right:0; bottom:0; text-align:center;}
.consentPopup h2{font-size:17px; line-height:15px; margin-bottom:10px;}
.consentPopup p{font-size: 12px; line-height: 18px; color: #fff; margin-bottom: 15px}
.consentPopup p a{color: #F4B408; text-decoration: underline;}
.dismiss-button{float:right; width:30px; height:30px; color:#fff;}
.popupOverlay button{ background: none;    border: 1px solid #F4B408;  border-radius: 1000px;     padding: 10px;   text-transform: uppercase; color:#fff; width:40%; display: inline-block;}
#post-consent-ui button{ background: #1a75ff;   border-radius: 4px;   width: 80%;   padding: 10px;   text-transform: uppercase; color:#fff; margin:0 auto; }

@media (min-width:320px){
.body-listing .section-container-ui .mobile-product-list-view ul li{width:46%;}
.body-listing .section-container-ui .mobile-product-list-view ul li amp-img {width:35%;}
}
@media (min-width: 451px) {
 .body-listing .section-container-ui .mobile-product-list-view ul li{width:46%;} 
 .body-listing .section-container-ui .mobile-product-list-view ul li amp-img {width:34%;}
}
@media (min-width: 601px){
.body-listing .section-container-ui .mobile-product-list-view ul li{width:30%;}
.body-listing .section-container-ui .mobile-product-list-view ul li amp-img {width:27%;}
}
@media (min-width: 751px) {
.body-listing .section-container-ui .mobile-product-list-view ul li{width:22%;}
.body-listing .section-container-ui .mobile-product-list-view ul li amp-img {width:22%;}
}
@media (min-width: 1400px) {
.body-listing .section-container-ui .mobile-product-list-view ul li amp-img {width:15%;}
}
</style>	

</head>
<body>
<amp-analytics type=googleanalytics>
	<script type="application/json">
	{
	  "vars": {
		"account": "UA-2021280-10"
	  },
	  "triggers": {
		"trackPageview": {
		  "on": "visible",
		  "request": "pageview"
		}
	  },
		"trackClickOnWhatsapp" :{
		  "on":"click",
		  "selector":"#ss-whatsapp",
		  "request":"event",
		  "vars":{
			"eventCategory":"AMP_Share",
			"eventAction":"whatsapp",
			"eventLabel":"https://www.gadgetsnow.com/social/facebook-may-host-singing-competitions-in-future/articleshow/65244446.cms"
		  }
	}
	}
	</script>
</amp-analytics>
<amp-geo layout="nodisplay">
           <script type="application/json">
           {
             "ISOCountryGroups": {
               "eu": ["al", "ad", "am", "at", "by", "be", "ba", "bg", "ch", "cy", "cz", "de", "dk", "ee", "es", "fo", "fi", "fr", "gb", "ge", "gi", "gr", "hu", "hr", "ie", "is", "it", "lt", "lu", "lv", "mc", "mk", "mt", "no", "nl", "po", "pt", "ro", "ru", "se", "si", "sk", "sm", "tr", "ua", "uk", "va"]
             }
           }
           </script>
       </amp-geo>
<amp-consent id="myUserConsent" layout="nodisplay">
  <script type="application/json">
    {
      "consents": {
        "eu": {
          "promptIfUnknownForGeoGroup": "eu",
          "promptUI": "myConsentFlow"
        }
      },
      "postPromptUI": "post-consent-ui"
    }
  </script>
  <div id="myConsentFlow" class="popupOverlay">
    <div class="consentPopup">
      <div class="dismiss-button" role="button" tabindex="0" on="tap:myUserConsent.dismiss">X</div>
      <h2>Accept the updated privacy & cookie policy</h2>
      <p>Gadgets Now has updated its <a target="_blank" href="https://www.gadgetsnow.com/privacypolicy">Privacy policy</a> and <a target="_blank" href="https://www.gadgetsnow.com/cookiepolicy.cms">Cookie policy</a>. We use cookies to ensure that we give you the better experience on our website. If you continue without changing your settings, we'll assume that you are happy to receive all cookies on the Gadgets Now website. However, you can change your cookie setting at any time by clicking on our <a target="_blank" href="https://gadgetsnow.com/cookiepolicy.cms"> Cookie Policy</a> at any time. You can also see our <a target="_blank" href="https://gadgetsnow.com/privacypolicy">Privacy Policy</a></p>
      <button on="tap:myUserConsent.accept">Accept</button>
      <button on="tap:myUserConsent.reject">Reject</button>
    </div>
  </div>
  <div id="post-consent-ui">
    <button on="tap:myUserConsent.prompt()">Update Consent</button>
  </div>
</amp-consent>
<?php 
	
	    $hfBannerAPIUrl = $GLOBALS['general']['HF_BANNER_API_URL'];
	    $hfBannerResult = file_get_contents($hfBannerAPIUrl);
	    if(isset($hfBannerResult))
	    {
	    	$hfBannerJSON = json_decode($hfBannerResult,true);
	    	foreach($hfBannerJSON['promoted'] as $value)
	    	{
	    		$active = $value['active'];
	    		$hfbannerType=$value['bannerType'];
	    		$hfEventaction= $value['Eventaction'];
	    		$hfEventaction=$hfEventaction."_".strtolower($hfbannerType)."_mweb";
	    		if($hfbannerType == "ATF")
	    		{
		    		$atfintermediateUrl = $value['intermediateUrl'];
		    		$atfName = $value['fname'];
		    		$atfStartDate = $value['startdate'];
		    		$atfEndDate = $value['enddate'];
		    		$atfTagName= $value['tagname'];
		    		$atfEventcat= $value['Eventcat'];
		    		$atfBannerActive=$active;
		    		$atfEventlabel= $value['Eventlabel'];
		    		$atfTaglabel= $value['taglabel'];
		    		$atfImgpath = $value['mbannername'];
		    		$atfBannerurl = $value['mbannerurl'];
		    		$atfBannertext = $value['bannertext'];
		    		$atfEventAction = $hfEventaction;
		    		if($atfName == "amazon")
		    		{
		    			$atfnofollowtag="rel=nofollow";
  						$atfEventcat=$atfEventcat."_mweb_atf";
		    			$atfintermediateUrl = str_replace("https://www.amazon.in","", $atfBannerurl);
		    			if(strpos($atfintermediateUrl,"?") == false)
		    			{
		    				$atfintermediateUrl =$atfintermediateUrl."?tag=timofind-21";
		    			}else
		    			{
		    				$atfintermediateUrl =$atfintermediateUrl."&tag=timofind-21";
		    			}
		    			$atfintermediateUrl = $atfintermediateUrl;
		    			$atfintermediateUrl = rawurlencode($atfintermediateUrl);
		    			$atfintermediateUrl = $atfintermediateUrl."&utm_campaign=mweb_gnshop_promowidget-21&utm_source=mweb_gnshop&utm_medium=Affiliate&price=0&title=".rawurlencode($atfBannertext);
		    			$atfintermediateUrl = "http://m.gadgetsnow.com/affiliate_amazon.cms?url=".$atfintermediateUrl;
		    			$atfBannerurl=$atfintermediateUrl;
		    			 
		    		}elseif($atfName == "tatacliq")
	    			{
	    				$atfBannerurl = str_replace("https://www.tatacliq.com","",$atfBannerurl);
	    				$atfEventcat=$atfEventcat."_mweb_atf";
	    				$nameurl = str_replace(" ","_",$atfBannertext);
	    				$atfBannerurl = rawurlencode($atfBannerurl)."&tag=mweb_gnshop_promoted&utm_source=mweb_gnshop&utm_medium=Affiliate&title=".rawurlencode($nameurl)."&price=".$sprice;
	    				$atfBannerurl=$atfBannerurl."?url=".$atfBannerurl;
	    			}elseif($atfName == "paytmmall") 
					{
						$atfutmcampaign="mweb_gnshop_atf";
						$atfEventcat="paytm_atf_mweb_";
						if(strpos($atfBannerurl,"-pdp")!==false)
						{
							$atfBannerurl = str_replace("-pdp","",$atfBannerurl);
							$atfBannerurl = str_replace("https://paytmmall.com","https://paytm.com/shop/p", $atfBannerurl);
						}else
						{
							$atfBannerurl = str_replace("https://paytmmall.com","", $atfBannerurl);
						}
						$atfBannerurl = rawurlencode($atfBannerurl);
						 
						$atfBannerurl = $atfBannerurl."&utm_campaign=".$atfutmcampaign."&utm_source=gadgetsnow&utm_medium=Affiliate&price=0&title=".rawurlencode($atfBannertext);
						$atfBannerurl = $GLOBALS['general']['PAYTM_INTERMEDIATE_URL']."?url=".$atfBannerurl;
					 
				}else {
	    				$nameurl = str_replace(" ","_",$atfBannertext);
	    				$atfEventcat=$atfEventcat."_mweb_atf";
	    				//$intermediateUrl = "https://m.shop.gadgetsnow.com/affiliate.cms?url=";
	    				//$atfBannerurl = $intermediateUrl.rawurlencode($atfBannerurl)."&tag=".$atfTagName."&afname=".$atfName."&utm_medium=Affiliate"."&title=".rawurlencode($atfBannertext)."&price=0";
	    			}
	    		}elseif($hfbannerType == "BTF")
	    		{
		    		$btfintermediateUrl = $value['intermediateUrl'];
		    		$btfName = $value['fname'];
		    		$btfStartDate = $value['startdate'];
		    		$btfEndDate = $value['enddate'];
		    		$btfTagName= $value['tagname'];
		    		$btfEventcat= $value['Eventcat'];
		    		$btfBannerActive=$active;
		    		$btfEventlabel= $value['Eventlabel'];
		    		$btfTaglabel= $value['taglabel'];
		    		$btfImgpath = $value['mbannername'];
		    		$btfBannerurl = $value['mbannerurl'];
		    		$btfBannertext = $value['bannertext'];
		    		$btfEventAction = $hfEventaction;
		    		$btfEventcat=$btfEventcat."_mweb_btf";
		    		if($btfName == "amazon")
		    		{
		    			$btfnofollowtag="rel=nofollow";
		    			
		    			$btfintermediateUrl = str_replace("https://www.amazon.in","", $btfBannerurl);
		    			if(strpos($btfintermediateUrl,"?") == false)
		    			{
		    				$btfintermediateUrl =$btfintermediateUrl."?tag=timofind-21";
		    			}else
		    			{
		    				$btfintermediateUrl =$btfintermediateUrl."&tag=timofind-21";
		    			}
		    			$btfintermediateUrl = rawurlencode($btfintermediateUrl);
		    			$btfintermediateUrl = $btfintermediateUrl."&utm_campaign=mweb_gnshop_promowidget-21&utm_source=mweb_gnshop&utm_medium=Affiliate&price=0&title=".rawurlencode($btfBannertext);
		    			$btfintermediateUrl = "http://m.gadgetsnow.com/affiliate_amazon.cms?url=".$btfintermediateUrl;
		    			$btfBannerurl=$btfintermediateUrl;
		    			 
		    		}elseif($btfName == "tatacliq")
	    			{
	    				$btfBannerurl = str_replace("https://www.tatacliq.com","",$btfBannerurl);
	    				$nameurl = str_replace(" ","_",$btfBannertext);
	    				$btfBannerurl = rawurlencode($btfBannerurl)."&tag=mweb_gnshop_promoted&utm_source=mweb_gnshop&utm_medium=Affiliate&title=".rawurlencode($nameurl)."&price=".$sprice;
	    				$btfBannerurl=$btfBannerurl."?url=".$btfBannerurl;
	    			}elseif($btfName == "paytmmall") 
					{
						$btfutmcampaign="mweb_gnshop_atf";
						$btfEventcat="paytm_btf_mweb_";
						if(strpos($btfBannerurl,"-pdp")!==false)
						{
							$btfBannerurl = str_replace("-pdp","",$btfBannerurl);
							$btfBannerurl = str_replace("https://paytmmall.com","https://paytm.com/shop/p", $btfBannerurl);
						}else
						{
							$btfBannerurl = str_replace("https://paytmmall.com","", $btfBannerurl);
						}
						$btfBannerurl = rawurlencode($btfBannerurl);
						
						$btfBannerurl = $btfBannerurl."&utm_campaign=".$btfutmcampaign."&utm_source=gadgetsnow&utm_medium=Affiliate&price=0&title=".rawurlencode($btfBannertext);
						$btfBannerurl = $GLOBALS['general']['PAYTM_INTERMEDIATE_URL']."?url=".$btfBannerurl;
					 
				}else {
	    				$nameurl = str_replace(" ","_",$btfBannertext);
	    				$intermediateUrl = "https://m.shop.gadgetsnow.com/affiliate.cms?url=";
	    				//$btfBannerurl = $intermediateUrl.rawurlencode($btfBannerurl)."&tag=".$btfTagName."&afname=".$btfName."&utm_medium=Affiliate"."&title=".rawurlencode($nameurl)."&price=";
	    			}
	    		}elseif($hfbannerType == "MaskHead")
	    		{
	    			$maskHeadintermediateUrl = $value['intermediateUrl'];
	    			$maskHeadName = $value['fname'];
	    			$maskHeadActive = $value['active'];
	    			$maskHeadStartDate = $value['startdate'];
	    			$maskHeadEndDate = $value['enddate'];
	    			$maskHeadTagName= $value['tagname'];
	    			$maskHeadEventcat= $value['Eventcat'];
	    			$maskHeadEventaction= $value['Eventaction'];
	    			$maskHeadEventlabel= $value['Eventlabel'];
	    			$maskHeadTaglabel= $value['taglabel'];
	    			$maskHeadImgpath = $value['mbannername'];
	    			$maskHeadBannerurl = $value['mbannerurl'];
	    			$maskHeadBannertext = $value['bannertext'];
	    				$maskHeadEventaction=$maskHeadEventaction;
	    				$maskHeadEventcat=$maskHeadEventcat."_mweb_maskhead";
	    			if($maskHeadName == "amazon")
	    			{
	    				$mhnofollowtag="rel=nofollow";
	    				$maskHeadBannerurl = str_replace("https://www.amazon.in","", $maskHeadBannerurl);
	    				if(strpos($maskHeadBannerurl,"?") == false)
	    				{
	    					$maskHeadBannerurl =$maskHeadBannerurl."?tag=timofind-21";
	    				}else
	    				{
	    					$maskHeadBannerurl =$maskHeadBannerurl."&tag=timofind-21";
	    				}
	    				$maskHeadBannerurl = rawurlencode($maskHeadBannerurl);
	    				$maskHeadBannerurl = $maskHeadBannerurl."&utm_campaign=mweb_gnshop_promowidget-21&utm_source=mweb_gnshop&utm_medium=Affiliate&price=0&title=".rawurlencode($maskHeadBannertext);
	    				$maskHeadBannerurl = "http://m.gadgetsnow.com/affiliate_amazon.cms?url=".$maskHeadBannerurl;
	    			
	    			}elseif($maskHeadName == "tatacliq")
	    			{
	    				$maskHeadEventcat="paytm_maskhead_mweb_";
	    				$maskHeadBannerurl = str_replace("https://www.tatacliq.com","",$maskHeadBannerurl);
	    				$nameurl = str_replace(" ","_",$maskHeadBannertext);
	    				$maskHeadBannerurl = rawurlencode($maskHeadBannerurl)."&tag=mweb_gnshop_promoted&utm_source=mweb_gnshop&utm_medium=Affiliate&title=".rawurlencode($nameurl)."&price=".$sprice;
	    				$maskHeadBannerurl=$maskHeadBannerurl."?url=".$maskHeadBannerurl;
	    			}elseif($maskHeadName == "paytmmall") 
					{
						$maskheadutmcampaign="mweb_gnshop_maskhead";
	
						$maskHeadBannerurl = str_replace("https://paytmmall.com","", $maskHeadBannerurl);
						$maskHeadBannerurl = str_replace("http://paytmmall.com","", $maskHeadBannerurl);
						$maskHeadBannerurl = str_replace("-pdp","", $maskHeadBannerurl);
						$maskHeadBannerurl = rawurlencode($maskHeadBannerurl);
						
						$maskHeadBannerurl = $maskHeadBannerurl."&utm_campaign=".$maskheadutmcampaign."&utm_source=gadgetsnow&utm_medium=Affiliate&price=0&title=".rawurlencode($maskHeadBannertext);
						$maskHeadBannerurl = $GLOBALS['general']['PAYTM_INTERMEDIATE_URL']."?url=".$maskHeadBannerurl;
					 
				}else {
	    				$nameurl = str_replace(" ","_",$maskHeadBannertext);
	    				$intermediateUrl = "https://m.shop.gadgetsnow.com/affiliate.cms?url=";
	    				//$maskHeadBannerurl = $intermediateUrl.rawurlencode($maskHeadBannerurl)."&tag=".$maskHeadTagName."&afname=".$maskHeadName."&utm_medium=Affiliate"."&title=".rawurlencode($nameurl)."&price=";
	    			}
	    		}
	    	} 
	    }
 ?>
 <?php 
 // MASK HEAD
 if(isset($maskHeadActive) && $maskHeadActive=='Y') {?>
<div class="text-center">
<a target="_blank" rel="nofollow sponsored" data-ga-track="<?=$maskHeadEventcat?>##<?=$maskHeadEventaction?>##|<?=$maskHeadBannerurl?>|<?=$maskHeadBannertext?>|##0" href="<?=$maskHeadBannerurl?>">
<amp-img src="<?=$maskHeadImgpath?>" height="60" width="360" /></a>
</div>
<?php } ?>
<!-- amp html start -->
<header>
	<div class="header-top">
		<div class="headertable w40 logo">
			<a href="/"><amp-img src="http://m.shop.gadgetsnow.com/mobile/img/52745964.png" width="105" height="37"></amp-img></a>
		</div>
<!-- 		<div class="headertable w60"> -->
<!-- 			<a id="toi-login-button" class="toi-login flr " href="/control/login" data-block-on-consent><i></i><span class="tab-text">login</span></a> -->
<!-- 			<a class="toi-cart flr" href="/control/showcart" data-block-on-consent><i></i><span class="tab-text">Cart</span><span class="count">0</span></a> -->
<!-- 			<a id="toi-search-button" class="toi-search-tab flr" href="/"><i></i><span class="tab-text">Search</span></a> -->
<!-- 		</div> -->
	</div>
	<div class="header-bottom">
		<div class="header-menu">
			<ul class="toi-menu proxima-regular1" id="navslider">
				<li><a href="http://m.gadgetsnow.com/">Home</a></li>
				<li><a  href="/">Shop</a></li>
				<li><a  href="/news">NEWS</a></li>
				<li><a class="text-transform " href="//shop.gadgetsnow.com/mobiles/mobile-handsets-smart-phones/">SMART PHONES</a></li>
				<li><a class="text-transform " href="//shop.gadgetsnow.com/mobiles/mobiles-best-selling-smartphones/">BEST SELLING SMARTPHONES</a></li>
				<li><a class="text-transform " href="//shop.gadgetsnow.com/mobiles/mobiles-trending-4g-phones/">TRENDING 4G PHONES</a></li>
				<li><a class="text-transform " href="//shop.gadgetsnow.com/mobiles/mobiles-new-releases/">NEW RELEASES</a></li>
				<li><a class="text-transform " href="//shop.gadgetsnow.com/mobiles/mobiles-feature-phones">FEATURE PHONES</a></li>
				<li><a class="text-transform " href="//shop.gadgetsnow.com/mobiles/also-in-stores/">ALSO IN STORES</a></li>
				<li><a class="text-transform " href="//shop.gadgetsnow.com/accessories/">MOBILE ACCESSORIES</a></li>
			</ul>
	</div>
					
</header>
<!-- amp html end -->
<?php // ATF BANNER
 if(isset($atfBannerActive) && $atfBannerActive == 'Y') {?>
<div class="text-center">
<a target="_blank" rel="nofollow sponsored" data-ga-track="<?=$atfEventAction?>##|<?=$atfImgpath?>|<?=$atfBannerurl?>|##0" href="<?=$atfBannerurl?>">
<amp-img src="<?=$atfImgpath?>" height="60" width="360" /></a>
</div>
<?php } ?>
