<?php 
if(strpos($leafTitle,'huawei') == false && strpos($leafTitle,'honor') == false)
{
if(isset($atfBannerActive) && strcasecmp($atfBannerActive,"y") === 0) {?>
	<div class="text-center maskhead adcode">
	<a target="_blank" rel="nofollow sponsored" data-ga-track="<?php if(isset($atfDataGATrack)) { echo $atfDataGATrack; }?>" href="<?=$atfBannerurl?>">
	<img border="0" width="100%"  alt="atf banner" class="img" src="<?php if(isset($atfImgpath)) { echo $atfImgpath; }?>" /></a></div>
	<?php }else { ?>
	 
		<div id='div-gpt-ad-1634647244865-0' class="text-center headeradslot adcode">
  <script>
    googletag.cmd.push(function() { googletag.display('div-gpt-ad-1634647244865-0'); });
  </script>
</div>
			 
			 
<?php 
} }?>
			 