<div class="mobile-top-list mobile-top-list-arrow displaynone" id="top2">
	<nav role="navigation">
		<h2><span class="flt">Shop By Category </span> <span class="flr remove-animation mobile-list-cancel-ui">Cancel</span></h2>
		<dl>
			<!-- list start -->
			<?php
				$url = "http://shopping.indiatimes.com/deals/nav2_json.php";
				$content = file_get_contents($url);
				//$content = Utils::getApiResponseWithinTime ( $url, 3, 3);
				if($content) {
					$result = json_decode($content,true);
					//var_dump($result);
					foreach( $result as $cataloge){				
			?>
			<div class="list-find-ui">
				<dt class="top-list-view-ui listprivew" data-catlouge="<?php echo $cataloge['cataloge_name'] ?>"><?php echo $cataloge['cataloge_name'] ?></dt>
				<dd class="displaynone"><a class="catalougeviewall" href="<?php echo $cataloge['cataloge_url'] ?>">All <?php echo $cataloge['cataloge_name'] ?></a></dd>
				<?php foreach ($cataloge['list'] as $subCataloge){ ?>
				<dd class="displaynone"><div class="mobile-collapse-ui mobile-collapse-ui-plus" data-category="Men Clothing" ><?php echo $subCataloge['sub_cataloge_name']; ?></div>
					<ul class="mobile-ul-ui-list-none mobile-ul-ui-list">
					<?php if($subCataloge['sub_cataloge_url'] != "#" && $subCataloge['sub_cataloge_url'] != ""){ ?>
						<li><a data-ga-track="navigation_bar##<?php echo $cataloge['cataloge_name'] ?>##See All <?php echo $subCataloge['sub_cataloge_name']; ?>##0" href="<?php echo $subCataloge['sub_cataloge_url']; ?>" class="anchor">See All <?php echo $subCataloge['sub_cataloge_name']; ?></a> </li>
					<?php } ?>
					<?php foreach ($subCataloge['listcat'] as $cetegory){ 
						if (isset($cetegory['navcatbanner_image'])){ 
								if(isset($cetegory['navcatbanner_url']) && isset($cetegory['navcatbanner_text'])){ 
									$navCatBannerurl = str_replace("http://shopping.indiatimes.com","", $cetegory['navcatbanner_url']);	?>
									<li><a data-ga-track="navigation_bar##<?php echo $cataloge['cataloge_name']?>##<?php echo $subCataloge['sub_cataloge_name']?>|<?php echo $cetegory['navcatbanner_text']?>##0" href="<?php echo $navCatBannerurl?>" class="anchor">&nbsp;&nbsp;<?php echo $cetegory['navcatbanner_text']?></a> </li>
							<?php }else if(isset($cetegory['navcatbanner_text'])){ ?> 
								<li><b><?php echo $cetegory['navcatbanner_text']?></b></li> 
							<?php } 
						}else{
							if($cetegory['categories_url']== ""){ ?>
								<li><b><?php echo $cetegory['categories_name']?></b></li>
							<?php }else{ ?>
								<li><a data-ga-track="navigation_bar##<?php echo $cataloge['cataloge_name']?>##<?php echo $subCataloge['sub_cataloge_name']?>|<?php echo $cetegory['categories_name']?>##0" href="<?php echo $cetegory['categories_url']?>" class="anchor">&nbsp;&nbsp;<?php echo $cetegory['categories_name']?></a> </li>
						<?php } } } ?>
					</ul>
				</dd>
				<?php } ?>
			</div>
			<?php } } ?>	
		  <!-- list end -->
		</dl>
	</nav>
</div>