<?php
	$gaEventcounter = "mweb_Countdowntimer_shop##Galaxy A73 | A53 5G##Click##0";
	$url="https://www.samsung.com/in/offer/online/pre-reserve/";
?>
<a href="<?=$url?>" data-ga-track="<?= $gaEventcounter;?>" class="timer_container mobile" >
        <span class="brands_name">
          <span class="title">Galaxy A73 | A53 5G</span>
          <span class="suffix">Samsung live on April 8, 6 PM</span>
        </span>
        <span class="timer">
          <span class="timer_box">
            <span class="time">
              <span>0</span>
              <span>0</span>
            </span>
            <span class="label">days</span>
          </span>
          <span class="timer_box">
            <span class="time">
              <span>0</span>
              <span>0</span>
            </span>
            <span class="label">hrs</span>
          </span>
          <span class="timer_box">
            <span class="time">
              <span>0</span>
              <span>0</span>
            </span>
            <span class="label">min</span>
          </span>
          <span class="timer_box">
            <span class="time">
              <span>0</span>
              <span>0</span>
            </span>
            <span class="label">sec</span>
          </span>
        </span>
      </a>
      <div class="ankush"></div>