
<div class="seocontianer">
	<?php if(isset($seoAtfTitleName) && $seoAtfTitleName !== "") {?><BR><h1 class="heading"><?=$seoAtfTitleName?></h1><?php }else { ?>
	<BR><h1 class="heading"><?=$filtertype?> Finder (<?=$totalfound?>)</h1>
	<?php }?>
 </div>
<BR>
<ul class="product-list">
<?php
 	 
for($indx=0;$indx<sizeof($gadgets);$indx++)
	{
		$listPrice=0;
		$gname=$gadgets[$indx]->name;
		$price=$gadgets[$indx]->price;
		$imageMSid=$gadgets[$indx]->imageMsid;
		$msid=$imageMSid[0];
		$imagepath = "https://static.toiimg.com/thumb/msid-".$msid.",width-400,resizemode-4/".$msid.".jpg";
		if(isset($gadgets[$indx]->ListPrice))
			$listPrice=($gadgets[$indx]->ListPrice->Amount)/100; 
		$discountedPrice=$price;
?>

	<!-- loop start -->
	<li>
		<a  href="" class="display-block overflowhidden" >
		
			<div class="product-img relative">
				<img alt="<?=$gname;?>" class="img lazy v-align-middle" src="https://static.toiimg.com/photo/79837759.cms" data-original="<?=$imagepath?>"/>
			</div>
			<div class="product-detail">
				<div class="product-heading bold"> <?=$gname;?></div>
				<div class="row overflowhidden">
					<div class="col-sm-12">
						 
						<div class="product-price col-sm-12">
						 <?php if($discountedPrice >0) { ?>
							<span class="rp offer bold display-inline"><?=$discountedPrice;?></span>
							<?php if($listPrice>$price){ ?>
							<span class="rp mrp display-inline"><?= number_format(intval($listPrice))?></span>
						<?php } ?>	
						<?php }else {?>
							<span class="rp offer bold display-inline"><?=number_format(intval($price))?></span>
						<?php if($listPrice>$price){?>
							<span class="rp mrp display-inline"><?=number_format(intval($listPrice))?></span>
						<?php } ?>
						<?php }?>	
						</div>
						<div class="col-sm-12">
						 	<div class="special-offer">Special offer</div> 
						</div>
					</div>
				</div>
			</div>
		</a>
	</li>
 
	<!-- loop end -->
	
	<!-- loop end -->
 
	
	<!-- Ends Promoted -->
 
<?php } // Ends for loop?>
</ul>
 <form id="gadgetslistfind" action="/control/applyfilter" method="get" >
<input type="hidden" name="filtertype" value="<?=$filtertype?>" />
<input type="hidden" name="sort" value="<?=$sort?>" />	
<input type="hidden" name="filterpage" value="filterpage" />	

</form>
<?php if(isset($seoBTFcontent)) { ?>
<div class="seocontianer">
<h2><?=$seoBtfTitleName?></h2>
<div class="seocontent overflowhidden">
<?=$seoBTFcontent?></div>
	<?php if(strlen($seoBTFcontent) >= 45) { ?>
<a class="seoreadmore" href="#">  read more...</a>
	<?php } ?>
	
</div>
<?php } ?>
</div>