    <section class="mobile-categoires-ui">
        <dl class="categoires-list-ui flt">
            <dt>Business Categories</dt>
            <dd><a href="http://shopping.indiatimes.com/control/bulkOrders">Bulk Orders</a></dd>
            <dd><a href="http://shopping.indiatimes.com/control/sellWithUs">Start selling with us</a></dd>
            <dd><a href="http://shopping.indiatimes.com/control/advertiseWithUs">Advertise with us</a></dd>
        </dl>
        <dl class="mobile-sitees-love-ui flt">
            <dt>Sites we love</dt>
            <dd><a href="http://www.gitanjalishop.com/">Gitanjali Shop</a></dd>
            <dd><a href="http://satvikshop.com/">Satvik Shop</a></dd>
            <dd><a href="http://nokia.indiatimes.com/">Nokia Shop</a></dd>
            <dd><a href="http://godrej.indiatimes.com/">Godrej Shop</a></dd>
        </dl>
    </section>
    <section class="mobile-common-list-ui">
        <ul>
            <li><a href="http://shopping.indiatimes.com/paymentInformation">Payment Options</a></li>
            <li><a href="http://shopping.indiatimes.com/termsofUse">T & C</a></li>
            <li><a href="http://shopping.indiatimes.com/help">Help</a></li>
            <li><a href="http://shopping.indiatimes.com/policy">Privacy Policy</a></li>
            <li><a href="http://shopping.indiatimes.com/returnPolicy">Return Policy</a></li>
            <li><a href="http://shopping.indiatimes.com/refundPolicy">Refund Policy</a></li>
        </ul>
    </section>
