				<?php if(isset($breadCrumb)) { 
					//print_r($breadcrumbJson);echo "<br>";
				
					?>
					
				
				
				<ul class="breadcrumb">
					
					<?php $schemaposition = 0; 
					foreach($breadCrumb as $bcrumb)
	    				{
	    				$schemaposition = 1+$schemaposition;	
	    				?> 
					<li><a href="<?php print_r($bcrumb->URL); ?>"><span ><?php print_r($bcrumb->title); ?></span></a></li>
					<?php }?>
					
					<!-- <li>Product name</li> -->
				</ul>
				<?php }elseif(isset($breadcrumbJson)){?>
					
					<ul class="breadcrumb" itemtype="http://schema.org/BreadcrumbList">
						
					<?php $schemaposition = 0;
					foreach($breadcrumbJson as $key=>$value)
					{
						$schemaposition = 1+$schemaposition;
						?>
										<li><a href="<?php print_r($value); ?>"><span ><?php print_r($key); ?></span></a></li>
										<?php }?>
										
										<!-- <li>Product name</li> -->
									</ul>
				
				
				<?php }?>
				
				<?php if(isset($breadCrumb)) { 
					//print_r($breadcrumbJson);echo "<br>";
				
					?>
				
				<script type="application/ld+json">
					{
							  "@context": "http://schema.org",
							  "@type": "BreadcrumbList",
							  "itemListElement": [
							  {
									   "@type": "ListItem",
										"position": "1",
										"item": {
										  "@id": "http://m.shop.gadgetsnow.com",
										  "name": "home"
										}
									  }
							  <?php $schemapositionone = 0; 
								foreach($breadCrumb as $bcrumb)
									{
									$schemapositionone = 1+$schemapositionone;	
									?> 
										<?php if( $schemapositionone != 1) {?>
										,{
									   "@type": "ListItem",
										"position": "<?php echo $schemapositionone;?>",
										"item": {
										  "@id": "<?php print_r("http://m.shop.gadgetsnow.com".$bcrumb->URL); ?>",
										  "name": "<?php print_r($bcrumb->title); ?>"
										}
									  }
										<?php } }?>
							  
							   ]}
				</script>
				
				<?php }elseif(isset($breadcrumbJson)) { 
					//print_r($breadcrumbJson);echo "<br>";
				
					?>
				
				<script type="application/ld+json">
					{
							  "@context": "http://schema.org",
							  "@type": "BreadcrumbList",
							  "itemListElement": [
							  {
									   "@type": "ListItem",
										"position": "1",
										"item": {
										  "@id": "http://m.shop.gadgetsnow.com",
										  "name": "home"
										}
									  }
							  <?php $schemapositionone = 0; 
								foreach($breadcrumbJson as $key=>$value)
									{
									$schemapositionone = 1+$schemapositionone;	
									?> 
										<?php if( $schemapositionone != 1) {?>
										,{
									   "@type": "ListItem",
										"position": "<?php echo $schemapositionone;?>",
										"item": {
										  "@id": "<?php print_r("http://m.shop.gadgetsnow.com".$value); ?>",
										  "name": "<?php print_r($key); ?>"
										}
									  }
										<?php } }?>
							  
							   ]}
				</script>
				<?php } ?>
				
				
				<div class="logo text-center"><a href='/'><img width="145" src='https://static.toiimg.com/photo/88204189.cms'/></a></div>
				<ul>
					<li><a class="track" href="/aboutus" data-track="toifooter_About Us">About Us</a></li>
					<li><a class=	"track" href="https://www.gadgetsnow.com/staticpage/msid-64123180.cms" data-track="toifooter_Privacy Policy">Privacy Policy</a></li>
					<?php 
					$continentRedirect = "/";
					if(isset($_COOKIE['geo_continent']))
					{
						$geoContinent = $_COOKIE['geo_continent'];
						$geoCountry=isset($_COOKIE['geo_country'])?$_COOKIE['geo_country']:'';
						$geoRegion=isset($_COOKIE['geo_region'])?$_COOKIE['geo_region']:'';
						
						if($geoContinent !== "EU" && $geoCountry !== "US" && $geoRegion !== "CA")							
						{
						?>	
						<li><a class="track" href="/bulkOrders" data-track="BULK BUY">Bulk Buy</a></li>
						<li><a class="track" href="/sellWithUs" data-track="SELL WITH US">Sell With Us</a></li>
						<?php } } ?>
					<li><a class="track" href="/contactUs" data-track="toifooter_Refund Policy">Contact Us</a></li>
					<li><a class="track" href="http://gadgetsnow.com/refund-policy" data-track="toifooter_Refund Policy">Refund Policy</a></li>
					<li><a class="track" href="http://gadgetsnow.com/return-policy" data-track="toifooter_Return Policy">Return Policy</a></li>
					<li><a class="track" href="http://gadgetsnow.com/termsandcondition" data-track="toifooter_Terms of Use">Terms of Use</a></li>
					<li><a class="track" href="http://gadgetsnow.com/sitemap.cms" data-track="toifooter_Sitemap">Sitemap</a></li>
					<?php 
					$continentRedirect = "/";
					if(isset($_COOKIE['geo_continent']))
					{
						$geoContinent = $_COOKIE['geo_continent'];
						$geo_country = $_COOKIE['geo_country'];
						$geo_region = $_COOKIE['geo_region'];
						if($geoContinent != "EU" && $geo_country!="US" && $geo_region!="CA")
						{
					?>		 
					<li><a class="track" href="http://gadgetsnow.com/newsletterhome.cms" data-track="toifooter_Newsletter">Newsletter</a></li>
					 <li><a class="track" href="https://www.gadgetsnow.com/cookiepolicy.cms" data-track="toifooter_Sitemap">Cookie Policy</a></li>
					<li><a class="track" href="http://gadgetsnow.com/feedback.cms" data-track="toifooter_Feedback">Feedback</a></li>
					<li><a class="track" href="/help" data-track="toifooter_Feedback">Help</a></li>
					<?php 	}
					}
					?>
					 
					<li><a class="track" href="/best-mobiles-deal-of-the-day" data-track="toifooter_deal of the day">Deal of the Day</a></li>
					<li><a class="track" href="/flash-sale" data-track="toifooter_flash sale">Flash Sale</a></li>
				</ul>
				
				<hr>
				<p class="footnote">Copyright <?php echo date("Y");?> &copy; Bennett, Coleman &amp; Co. Ltd. All rights reserved | <a href="http://timesofindia.indiatimes.com/">The Times of India</a>. For reprint rights: <span>Times Syndication Service</span></p>
				<!--div class="font-increase">
					<span class="less-normal" data-font-size=".8">A</span>
					<span class="normal active" data-font-size="1">A</span>
					<span class="plus-normal" data-font-size="1.2">A</span>
				</div-->
		
	 <script language="javascript" type="text/javascript">
		paramsObj.leafTitle="<?php echo $leafTitle; ?>";
			<?php if($leafTitle==='thankyou'){ ?>
		paramsObj.orderId="<?php echo $order['orderId'] ?>";
		<?php } ?>
	</script>
	<!-- Begin comScore Tag -->
<!-- End comScore Tag -->
