<?php 
error_reporting(E_ALL);

if(!(session_status() === PHP_SESSION_ACTIVE)){
	session_start();
}
//echo "ID:".session_id(); 
/*$userName = "Guest";
$isUserLogin = "false";
if(isset($_SESSION['userLogin'])){
	$userLogin = $_SESSION['userLogin'];
	$userName = $userLogin->getUserName();
	$isUserLogin = "true";
}*/
?>
<!-- Hello <//?= $userName?>,<br/> -->	

<div class="toi-search hide-on-body-click" data-initiator-id="toi-search-button">
	<form name="searchform" action="/control/mtkeywordsearch" autocomplete="off">
		<div class="search-box">
		<input type="text" id="autocomplete_query" name="SEARCH_STRING" placeholder="Search for products, brands etc" value="<?php if(isset($searchStr)) { echo $searchStr; }?>" validate="{true,blank, Enter the keyword}">
		<input type="submit" value="" style="display:none" data-ga="check_out_funnel_mobile##<?php echo $leafTitle; ?>##serach_go##0"/>
		<input type="hidden" id="searchcategory_query" value="all" />
		<span class="cls_btn clear_txt displaynone">X</span>
		</div>
	</form>
</div>
<!-- search end -->
<script>
paramsObj={};
</script>