<?php 
header('Content-Type: text/html');
?>

<?php
/* Parameters to avoid session expiration*/
ini_set("session.cache_expire", 600);
ini_set("session.gc_maxlifetime", 36000);
ini_set("session.cookie_lifetime", 36000);


$isLive=$GLOBALS['general']['IS_LIVE'];
$selfCanonicalURI="";
$controlUrl = "";
$showHeader = true;
$showToiLogo = false;
$alternateURI="";
if(isset($_COOKIE['wl']))
{
	$cv = $_COOKIE['wl'];
	if($cv == "mtoi")
	{
		$showToiLogo = true;
	}
}

if(isset($_SERVER['REQUEST_URI']))
{
	$controlUrl = $_SERVER['REQUEST_URI'];
	if(strpos($controlUrl,'showcart') != false || strpos($controlUrl,'enterFPOtp') || strpos($controlUrl,'registersuccess') != false || strpos($controlUrl,'checkout') != false || strpos($controlUrl,'checkoutPayment') != false || strpos($controlUrl,'login') != false)
	{
		$showHeader = false;
	}
}


  $isApp= "no"; 
  if(isset($_GET['frmapp']) && $_GET['frmapp'] != "")
  {
  	if($_GET['frmapp'] == "yes")
  	{
	  	$isApp =$_GET['frmapp'];
	  	$_SESSION['frmapp']="yes";
  	}
  }elseif(isset($_SESSION['frmapp']) && $_SESSION['frmapp'] == "yes")
  {
  	$isApp="yes";
  }

  $uri = rawurlencode($_SERVER['REQUEST_URI']);
  $uri = rawurlencode($_SERVER['REQUEST_URI']);
  $desktopURL =  $GLOBALS['general']['DESKTOP_SITE_URL'];
  $mobileUrl = $GLOBALS['general']['MOBILE_SITE_URL'];
  $alternateURI="";
  $selfCanonicalURI=$mobileUrl;
  if(isset($uri))
  {
  	if(strpos($uri, 'mtkeywordsearch') !== false )
  	{
  		$temp=str_replace("control/","",$uri);
  		$alternateURI=$desktopURL.$temp;
  	}elseif(strpos($uri, 'control') !== false )
  	{
  		if($uri != "/")
  		{
  			$alternateURI=$desktopURL.$uri;
  			$selfCanonicalURI=$mobileUrl.$uri;
  		}
  	}
  }
	$userName = "Guest";
	$isUserLogin = "false";
	$partyId = 'NA';
	$userloingstatus = "login";
	if(isset($_SESSION['userLogin'])){
		$userLogin = $_SESSION['userLogin'];
		$userName = $userLogin->getUserName();
		$partyId = $userLogin->getPartyId();
		$isUserLogin = "true";
		// if(isset($_SESSION['guestUserLoginId'])){
			// $guestUserLoginId = $_SESSION['guestUserLoginId'];
		// }
	}
	if(!(isset($isUserLogin) && $isUserLogin==="true")){
		$userloingstatus = "Not login";
	}
	

?>
<!DOCTYPE html>
<html>
<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<title><?php if(isset($leafTitle))
		{ 
			if($leafTitle=="login"){ echo "Login or Register for a gadgetsnow.com account";}
			elseif($leafTitle=="cartPage"){ echo"My Cart";}elseif($leafTitle=="checkout"){echo "Secure Payment: Select Shipping Address: gadgetsnow.com";}
			elseif($leafTitle=="payment"){ echo"Secure Payment: Make Payment: gadgetsnow.com";}elseif($leafTitle=="thankyou"){echo"Thank You";}
			elseif($leafTitle=="forgotPassword"){echo"Forgot Password";}elseif($leafTitle=="mtkeyword"){ echo $searchStr;}
			elseif($leafTitle=="pinPoint"){echo handleStrAndDefault($searchString, "");}elseif($leafTitle=="changePassword"){echo "Reset Password";}
			elseif($leafTitle=="registerSuccess"){echo "Thanks for signing up";}elseif($leafTitle=="pageNotFound"){ echo"pageNotFound";}
			elseif($leafTitle=="help"){ echo"Help";}elseif($leafTitle=="paymentInformation"){echo"Payment Information";}
			elseif($leafTitle=="termsofUse"){echo"Terms and Conditions";}elseif($leafTitle=="policy"){echo"Privacy Policy";}
			elseif($leafTitle=="returnPolicy"){echo"Return Policy";}elseif($leafTitle=="refundPolicy"){echo"Refund Policy";}
			elseif($leafTitle=="orderhistory"){echo"Order History";}elseif($leafTitle=="caseDetail"){echo"Case Details";}
			elseif($leafTitle=="reportCase"){echo"Report a Case";}elseif($leafTitle=="reportCancellation"){echo"Request Cancellation";}
			elseif($leafTitle=="brand"){ if(isset($brandDesc)){ echo $brandDesc." Store - Buy ".$brandDesc." Products Online at Best Prices in India"; }else{ echo $brandName. 'Store - Buy '.$brandName.' Products Online at Best Prices in India';}}
			elseif($leafTitle=="reportCancellation"){echo"Request Cancellation";}
			elseif($leafTitle=="RegisterCampaign"){echo"Welcome Discount";}
			elseif($leafTitle=="compare"){
			$compareTitle= "Compare ".(isset($compare_heading)?$compare_heading:'')." ".(isset($product_1->productName)?$product_1->productName :'').((isset($product_Name_1) && isset($product_Name_2) )? ' vs ': ' ').(isset($product_2->productName)?$product_2->productName:'');
			$compareTitle2='' ;
			echo $compareTitle;}
			
			
			}
			if(isset($metaTitle)) {echo $metaTitle;}
			?></title>
			
<link rel="shortcut icon" href="https://www.gadgetsnow.com/icons/GNfavicon.ico?" />
<!-- google verification code -->
<?php if(strcasecmp($isLive,"n") == 0)
{
	?>
<meta name="robots" content="nofollow,noindex">	
<?php 	
}elseif(isset($setmeta)) {?>
<meta name="robots" content="<?=$setmeta?>">
<?php }else { ?>
<meta name="robots" content="nofollow,noindex">
<?php } ?>
<?php 
if($leafTitle ==="huwaeiarticle_fastest")
{?>
<meta content="Shop Gadget Now" property="og:site_name">
<meta content="website" property="og:type">
<meta property="og:title" content="This is the fastest smartphone for Internet browsing World-class connectivity and peak download speeds | Shop Gadgets Now">
<meta property="og:description" content="Smartphones are replacing all the other devices such as tablets and laptops with their enhanced functionalities. Users are looking for advanced technologies and fast internet browsing on the go.">
<meta property="og:url" content="https://shop.gadgetsnow.com/huawei-mate20-pro/this-is-the-fastest-smartphone-for-internet-browsing/aps-1235">
<meta property="og:image" content="https://img1.gadgetsnow.com/gd/imgbn/newarticle10122018.jpg">
	  <?php }

?>
<?php 
if($leafTitle ==="huwaeiarticle")
{?>
<meta content="Shop Gadget Now" property="og:site_name">
<meta content="website" property="og:type">
<meta property="og:title" content="The Perfect Enterprise Device To Watch Out For- Huawei Mate 20 Pro">
<meta property="og:description" content="The world around us is getting smarter every day with the constantly evolving world of intelligent devices that surround us.">
<meta property="og:url" content="https://shop.gadgetsnow.com/huawei-mate20-pro/the-perfect-enterprise-device-to-watch-out-for-huawei-mate-20-pro/aps-1234">
<meta property="og:image" content="https://img1.gadgetsnow.com/gd/imgbn/newarticle10122018.jpg">
	  <?php }

?>
<meta name="google-site-verification" content="IahX9qMwbSc7gMbax55Rbjc2h8YPHvTmJ_q2DN8qBe8" />
<?php if(isset($nextPage)) {?>
				<link rel="next" href="<?php echo $nextPage;?>"/> <?php }?>
				<?php if(isset($previousPage)) {?><link rel="prev" href="<?php echo $previousPage;?>" /> <?php } ?>
		
<!-- google verification code -->
<!-- Placement of Meta tags -->

			
<?php 
	if(isset($metaDesc)){ 
	?>
	<meta name="description" content="<?php echo $metaDesc?>" />
	<?php 
	
	if(isset($metaKeyWord)) { ?>
		<meta name="keywords" content="<?php echo $metaKeyWord?>"/>
	<?php 
	}
	elseif(isset($product)) {?>	
	<meta name="keywords" content="<?=handleStr($product->getProductName())?>,<?=handleStr($product->getCategoryName())?>,<?=handleStr($product->getCatalogName())?>, buy online, best price deals " />
	<?php 
	}
	
	
}
?>
				
<!-- Important Owl stylesheet -->
<?php
if(strpos($uri, 'control') == false && isset($canonicalUrl) )
{
	   echo "<link rel='canonical' href='".$canonicalUrl."' >";
}
?>

<meta name="theme-color" content="#135394">
<link rel="icon" type="image/png" href="https://www.gadgetsnow.com/icons/GNfavicon.ico?" sizes="16x16">

<!-- open graph tags start 
<meta property="og:site_name" content="Indiatimes Shopping" />
<meta property="og:price:currency" content="INR" />
<meta property="og:title" content="Intex Aqua Power Plus (Champaign)" /> 
<meta property="og:price:amount" content="8819.00"/>
<meta property="og:brand" content="SYS10913"/>
<meta property="og:availability" content="instock" />
<meta property="og:image" content="http://davidwalsh.name/wp-content/themes/klass/img/facebooklogo.png"/>
<meta property="og:description" content="Facebook's Open Graph protocol allows for web developers to turn their websites into Facebook "graph" objects, allowing a certain level of customization over how information is carried over from a non-Facebook website to Facebook when a page is 'recommended', 'liked', or just generally shared."/>
open graph tags end-->
		
<link rel="stylesheet" href="/mobile/css/owl.carousel.css?<?php echo date('l jS \of F Y h:i:s A'); ?>">
<!-- Default Theme -->
<link rel="stylesheet" href="/mobile/css/owl.theme.css?<?php echo date('l jS \of F Y h:i:s A'); ?>">
<link href="/mobile/css/mobile_style.css?<?php echo date('l jS \of F Y h:i:s A'); ?>" rel="stylesheet" type="text/css" />
<link href="/mobile/css/rating.css?<?php echo date('l jS \of F Y h:i:s A'); ?>" rel="stylesheet" type="text/css" />
<!-- <script type="text/javascript" src='https://timesofindia.indiatimes.com/gdpr_js/version-1,minify-0.cms'></script> -->
<!-- <script type="text/javascript" src='https://www.gadgetsnow.com/gdpr_js.cms?v=28&minify=1'></script> -->
<script type="text/javascript" src='/mobile/js/shop_gdpr.js'></script>

<!-- start GA code -->
<script type="text/javascript" language="javascript" charset="UTF-8">

 var _ckns_policy = getCookie('ckns_policy');
 var geo_continent = getCookie('geo_continent');
 var geo_country = getCookie('geo_country');
 var geo_region = getCookie('geo_region');
 var isPrimeUser = getCookie('isPrimeUser');
	function getCookie(name) {
	    var v = document.cookie.match('(^|;) ?' + name + '=([^;]*)(;|$)');
	    return v ? v[2] : null;
	}
	if(isPrimeUser==null || isPrimeUser==undefined){
		isPrimeUserVal = 0;
	}else if(isPrimeUser=='true' || isPrimeUser==true){
		isPrimeUserVal = 1;
	}else{
		isPrimeUserVal = 0;
	}
</script>
  <!-- End GA code -->
 
<!-- Universal GA Code -->
<script type="text/javascript" >
	function _uGC(l,n,s) {
		if (!l || l=="" || !n || n=="" || !s || s=="") return "-";
		var i,i2,i3,c="-";
		i=l.indexOf(n);
		i3=n.indexOf("=")+1;
		if (i > -1) {
		i2=l.indexOf(s,i); if (i2 < 0) { i2=l.length; }
		c=l.substring((i+i3),i2);
		}
		return c;
	}
	var _gaq = _gaq || [];
	if(geo_continent!="EU"){
	_gaq.push(['_setAccount', 'UA-2021280-10']);
	}
	var a = _uGC(document.cookie, '__utma=', ';');
	var id = a.split(".");
	_gaq.push(['_setCustomVar',5,'VisitorID',id[1],1]);
<?php if(isset($leafTitle)){ ?>
<?php if($leafTitle=="login"){ ?>
	_gaq.push(['_trackPageview', '/m/control/checkoutoptionsLogin/loginregister']);
<?php }elseif($leafTitle=="checkout"){ ?>
	_gaq.push(['_trackPageview', '/m/control/checkoutoptionsLogin/shippingbilling']);
<?php }elseif($leafTitle=="cartPage"){ ?>
	_gaq.push(['_trackPageview', '/m/control/checkoutoptions/revieworder']);
<?php }elseif($leafTitle=="payment"){ ?>
	_gaq.push(['_trackPageview', '/m/control/checkoutoptions/makepayment']);
<?php }elseif($leafTitle=="catalog"){ ?>
	_gaq.push(["_setCustomVar", 1, "Section", "m/<?=$currentCatalogName ?>", 3]);
	_gaq.push(['_setCustomVar', 2, 'SubSection', 'm/<?=$currentCatalogId ?>', 3]);
	_gaq.push(['_trackPageview', '/m<?=$uri;?>']);
<?php }elseif($leafTitle=="category"){ ?>
	_gaq.push(["_setCustomVar", 1, "Section", "m/<?=$currentCategoryName ?>", 3]);
	_gaq.push(['_setCustomVar', 2, 'SubSection', 'm/<?=$currentCategoryId ?>', 3]);
	_gaq.push(['_trackPageview', '/m<?=$uri;?>']);
<?php }elseif($leafTitle=="product"){ ?>
	_gaq.push(["_setCustomVar", 1, "Section", "m/<?=handleStr($product->getCatalogName())?>", 3]);
	_gaq.push(['_setCustomVar', 2, 'SubSection', 'm/<?=handleStr($product->getCategory())?>', 3]);
	_gaq.push(['_setCustomVar', 3, 'Product', 'm/<?=handleStr($product->getProductId())?>', 3]);
	_gaq.push(['_trackPageview', '/m<?=$uri;?>']);
<?php }else{ ?>
	_gaq.push(['_trackPageview', '/m<?=$uri;?>']);
<?php } ?>
<?php } ?>
<?php if($leafTitle=="thankyou"){ ?>	
_gaq.push(['_addTrans',
   '<?=$order['orderId']?>',           // transaction ID - required
   '9000', // affiliation or store name
   '<?=$order['grandTotal']?>',          // total - required
   '0',           // tax
   '<?=$order['codCharges']?>',          // shipping
   '<?= ucwords(strtolower($order['city']))?>',       // city
   '<?=ucwords(strtolower($order['state'])) ?>',     // state or province
   '<?=(isset($order['country'])? ucwords(strtolower($order['country'])):'') ?>'             // country
]);
<?php 
    foreach ($order['Items'] as $value) { 
    $pid=(strpos($value['productId'],'-')?strstr($value['productId'], "-", true):$value['productId']); 
    $subtotal=$value['unitPrice']*$value['quantity'];
	$unitPrice=(isset($value['shippingPrice'])?$value['unitPrice']-$value['shippingPrice']:$value['unitPrice']);	
?>
_gaq.push(['_addItem',
   '<?=$order['orderId']?>',           // transaction ID - necessary to associate item with transaction
   '<?=$pid ?>',           // SKU/code - required
   '<?=$value['productName']?>',        // product name
   '/<?=$value['catalogName']?>/<?=$value['categoryName']?>',   // category or variation
   '<?=$unitPrice?>',          // unit price - required
   '<?=$value['quantity']?>'               // quantity - required
]);
<?php } ?>
_gaq.push(['_trackTrans']);
<?php } ?>
  (function() {
	if(geo_continent!="EU"){
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	}
  })();  
	/*function getCookie(cname) {
		var name = cname + "=";
		var ca = document.cookie.split(';');
		for(var i=0; i<ca.length; i++) {
			var c = ca[i];
			while (c.charAt(0)==' ') c = c.substring(1);
			if (c.indexOf(name) == 0) return c.substring(name.length, c.length);
		}
		return "";
	} */
	var _userpartyId = "NA"; 
	var _userStatusCookie = "Not+login";
	if(getCookie("userpartyId")!=''){var _userpartyId = getCookie("userpartyId");}
	if(getCookie("userStatusCookie")!=''){var _userStatusCookie = getCookie("userStatusCookie");}
	var a = _uGC(document.cookie, '__utma=', ';');
	var id = a.split(".");
	dataLayer = [];
	dataLayer = [{
				<?php if($leafTitle=="login"){ ?>
					'customepage' : '/control/checkoutoptionsLogin/loginregister',	
				<?php }elseif($leafTitle=="checkout"){ ?>
					"customepage" : "/control/checkoutoptionsLogin/shippingbilling",
				<?php }elseif($leafTitle=="cartPage"){ ?>
				<?php if($userName==="Guest"){?> 
				'customepage' : "/guest/control/checkoutoptions/revieworder",
				<?php }else{ ?>
				"customepage" : "/control/checkoutoptions/revieworder",	
				<?php	} ?>
				<?php }elseif($leafTitle=="payment"){ ?>
					"customepage" : "/control/checkoutoptions/makepayment",
				<?php }elseif($leafTitle=="thankyou"){ ?>
					"customepage" : "/ordercomplete=<?=$order['orderId']?>",
				<?php } ?>
				
	<?php if(isset($leafTitle)){ ?>
		<?php if($leafTitle=="catalog"){ ?>
				'dimension1' : "<?=$currentCatalogName ?>",
				'dimension2' : "<?=$currentCatalogId ?>",
				'dimension11' : "<?=$uri;?>",
		<?php }elseif($leafTitle=="category"){ ?>
			
				'dimension1' : "<?=$currentcatalogName?>",
				'dimension2' : "<?=$currentCategoryId ?>",
				'dimension11' : "<?=$uri;?>",
		<?php }elseif($leafTitle=="product"){  ?>
				'dimension1' : "<?=handleStr($product->getCatalogName())?>",
				'dimension2' : "<?=handleStr($product->getCategory())?>",
				'dimension3' : "<?=handleStr($product->getProductId())?>",
				'dimension6' : "<?=handleStr($product->getProductName())?>",
				'dimension7' : "<?php if (strpos(handleStr($product->getProductName()), 'Combo') !== false) {  echo 'combo';}else {echo 'single';}?>",
				'dimension9' : "<?php  if(isset($showAmazonProduct) && $showAmazonProduct) { echo "NO"; } elseif($product->getInventoryFlag()==true){echo 'NO';}else{echo 'YES';} ?>",
				'dimension16' : "<?=handleStr($product->getBrandName())?>",
				'metric1' : "<?php if(isset($showAmazonProduct) && $showAmazonProduct) { print_r($product->getAmazonPrice()); } elseif($product->getAutoGc() && $product->getDiscountedPrice()>0) {?><?=$product->getDiscountedPrice()?><?php } else if($product->getOfferPrice()>0) {?><?=$product->getOfferPrice()?><?php } ?>",
				'metric2' : "<?php if(isset($showAmazonProduct) && $showAmazonProduct) { print_r($product->getAmazonPrice()); } else { print_r($product->getMrp()); } ?>",
				'metric3' : "<?php $shippingPrice = 0; if(isset($showAmazonProduct) && $showAmazonProduct) { echo "0"; } elseif($product->getShippingPrice()>0) { $shippingPrice = $product->getShippingPrice();?><?=$shippingPrice?><?php }else{ echo $shippingPrice;}?>",
				'metric4' : "<?php if(isset($showAmazonProduct) && $showAmazonProduct) { print_r($product->getAmazonPrice()); } elseif($product->getAutoGc() && $product->getDiscountedPrice()>0) {?><?=$product->getDiscountedPrice();?><?php } else if($product->getOfferPrice()>0) {?><?=$product->getOfferPrice();?><?php } ?>",
				'dimension11' : "<?=$uri;?>",
				'dimension15' : "<?php if(isset($showAmazonProduct) && $showAmazonProduct) { echo "Amz_product"; } else { echo "GN_product"; }?>",
		<?php } ?>
		<?php } ?>
		'dimension10' : isPrimeUserVal,
		'dimension5' : id[1]
		}];
	<?php if(isset($leafTitle)){ ?>
		<?php if($leafTitle=="product"){ ?>	
			dataLayer.push({
			  'ecommerce': {
				'detail': {
				  'actionField': {'list': "<?=$product->getCategoryName();?>"},    // 'detail' actions have an optional list property.
				  'products': [{
					"id": "<?=handleStr($product->getProductId())?>",
					"name": "<?=handleStr($product->getProductName())?>",
					"price": "<?=$product->getOfferPrice()?>",
					"brand": "<?=handleStr($product->getBrandName())?>",
					"category": "<?=handleStr($product->getCatalogName())?>|<?=handleStr($product->getCategory())?>|<?=$product->getCategoryName();?>"
				   }]
				 }
			   }
			});
		<?php } ?>
	<?php } ?>
		


</script>
<!-- Universal GA Code -->
<?php if(isset($leafTitle)){ ?>
		<?php if($leafTitle=="product"){ ?>	
<input type="hidden" id="instockevent" value="out_stock_pdp##<?php if($product->getInventoryFlag()==true){echo 'in_stock';}else{echo 'out_stock';} ?>##<?=handleStr($product->getProductId())?>|<?=handleStr($product->getProductName())?>##0" />
<?php } } ?>

<script>
<?php if($leafTitle == "articlelist" ||$leafTitle == "compare" || $leafTitle == "dealofferArticle" || $leafTitle == "aboutus" || $leafTitle == 'howItWorks' || $leafTitle=='best-selling-accessories' || $leafTitle =='paytm-mall-deals' || $leafTitle =='aboutus' || $leafTitle =='contactUs' || $leafTitle=='mainscreen' || $leafTitle=='category' ||  $leafTitle=='catalog' || $leafTitle=='product' || $leafTitle=='amazingdeals' || $leafTitle =='walletoffers' || $leafTitle=='bestAmazonOffers'|| $leafTitle=='mobile-offers' || $leafTitle=='knockout-deal' || $leafTitle=='flash-sale' || $leafTitle=='mobikwikoffer' || $leafTitle=='bid2win' || $leafTitle=='bidwinner' || $leafTitle=='amazingdeals' || $leafTitle=='dealoffer'){ ?>
if(geo_continent!="EU"){
	if(typeof colombia == 'undefined')
		{
			var colombia = colombia || {};
			colombia.fns = colombia.fns || [];
			(function() {
				  var cads = document.createElement("script");
				  cads.async = true;
				  cads.type = "text/javascript";
				  cads.src = "//static.clmbtech.com/ad/commons/js/colombia_v2.js";
				  var node = document.getElementsByTagName("script")[0];
				  node.parentNode.insertBefore(cads, node);
			})();
		}
	function adwidgetfun(data,adwidget){
			if (data != null){
				var conObj = document.getElementById(adwidget);
				var conText= "";
				if(data.hasOwnProperty('paidAds')){
					 for(var i=0; i<data.paidAds.length; i++) {
						 <?php if($leafTitle=='mainscreen' || $leafTitle=='catalog') {?>
						 conText+='<a rel="nofollow sponsored" target="_blank" data-ga-track="network_ctn_ad_desktop##m-hp##'+data.paidAds[i].clk[0].substring(0,100).replace("https://ade.clmbtech.com/evnt/click.htm?u=","")+'##1##0" href="' + data.paidAds[i].clk[0].replace('http:','https:') + '" title="' + data.paidAds[i].text + '"><figure><img class="lazy" src="' + data.paidAds[i].mainimage.replace('http:','https:') + '" data-original="' + data.paidAds[i].mainimage.replace('http:','https:') + '" alt="' + data.paidAds[i].title + '"/></figure><figcaption><div>' + data.paidAds[i].title + '</div></figcaption><div class="toi-price"><div class="ftl"><span class="toi-mrp">Ad: '+ data.paidAds[i].brandtext +'</span><span class="toi-offer toi-text"><img class="lazy" src="' + data.paidAds[i].colombiaLogo.replace('http:','https:') + '" /></span></div></div></a>';
						 <?php }elseif ( $leafTitle=='category'){ ?>
						 conText+='<a rel="nofollow sponsored" data-ga-track="network_ctn_ad_desktop##m-listing##'+data.paidAds[i].clk[0].substring(0,100).replace("https://ade.clmbtech.com/evnt/click.htm?u=","")+'##1##0" target="_blank" href="' + data.paidAds[i].clk[0].replace('http:','https:') + '" title="' + data.paidAds[i].text + '" ><figure><img class="lazy" src="' + data.paidAds[i].mainimage.replace('http:','https:') + '" data-original="' + data.paidAds[i].mainimage.replace('http:','https:') + '" alt="' + data.paidAds[i].title + '" /></figure><figcaption><div>' + data.paidAds[i].title + '</div></figcaption><div class="mobile-price-ui"><span class="mrp-price-ui-colombia">Ad: '+ data.paidAds[i].brandtext +'</span><span class="off-price-ui-colombia toi-text"><img class="lazy" src="' + data.paidAds[i].colombiaLogo.replace('http:','https:') + '" /></span></div></a>';
						 <?php }elseif ($leafTitle == 'articlelist' || $leafTitle == 'compare' ||$leafTitle == 'dealofferArticle' || $leafTitle=='product' || $leafTitle =='walletoffers' || $leafTitle =='aboutus' || $leafTitle =='contactUs' || $leafTitle=='bestAmazonOffers' || $leafTitle=='knockout-deal' || $leafTitle=='mobile-offers' || $leafTitle=='best-selling-accessories' || $leafTitle=='flash-sale' || $leafTitle =='paytm-mall-deals' || $leafTitle=="howItWorks" || $leafTitle=='bid2win' || $leafTitle=='bidwinner' || $leafTitle=='amazingdeals' || $leafTitle=='dealoffer'){ ?>
						 conText+='<a rel="nofollow sponsored" data-ga-track="network_ctn_ad_desktop##m-pdp##'+data.paidAds[i].clk[0].substring(0,100).replace("https://ade.clmbtech.com/evnt/click.htm?u=","")+'##1##0" target="_blank" href="' + data.paidAds[i].clk[0].replace('http:','https:') + '" title="' + data.paidAds[i].text + '"><figure>&nbsp;<img class="lazy" src="' + data.paidAds[i].mainimage.replace('http:','https:') + '" data-original="' + data.paidAds[i].mainimage.replace('http:','https:') + '" alt="' + data.paidAds[i].title + '"></figure><figcaption><div>' + data.paidAds[i].title + '</div></figcaption><div class="mobile-price-ui"><span class="toi-text"><img class="lazy" src="' + data.paidAds[i].colombiaLogo.replace('http:','https:') + '" />: '+ data.paidAds[i].brandtext +'</span></div></a>';
						 <?php } ?>
					 }
				}
			conObj.innerHTML=conText;
			}
	}
}
<?php } ?>
 </script>

<script type="text/javascript">
 var paramsconfig={};
  var paramsObj={};
  paramsObj.pixelParams={};
  paramsObj.leafTitle = "<?=$leafTitle;?>";
  paramsObj.categoryDisplayed = "<?php if(isset($categoryDisplayed)) { echo $categoryDisplayed;}else { echo "home"; } ?>";
  <?php if($leafTitle=="product"){?>
  paramsObj.pixelParams.productId = "<?=handleStr($product->getProductId())?>";
  <?php } ?>
</script>
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Organization",
  "location": {
    "@type": "Place",
    "address": "Times Internet Limited (Times Center), FC - 6, Sector 16 A, Film City, Noida - 201301 Uttar Pradesh, India"
  },
  "name": "Gadgets Now Shop",
  "description": "Buy from Gadgets Now Shop. Shopping Zone of Gadgets Now.",
  "logo": "https://shop.gadgetsnow.com/mobile/img/gadgets_logo.png",
  "url": "https://shop.gadgetsnow.com",
  "email": "customerservice@gadgetsnow.com"
}
</script>
<script type="application/ld+json">
{
    "@context": "https://schema.org",
    "@type": "WebSite",
    "url": "https://shop.gadgetsnow.com",
    "potentialAction": {
      "@type": "SearchAction",
      "target": "https://shop.gadgetsnow.com/mtkeywordsearch/SEARCH_STRING={search_term_string}",
      "query-input": "required name=search_term_string"
    }
}
</script>
</head>
<body class="bodyctn">
<!-- main container start -->
<div class="main-container">
	
		<!-- header end HTML -->

<!-- container start -->
	
<div class="container <?php if($leafTitle=="category"){?>refine-top-list-in<?php } ?>">
	<!-- gadgets wap -->
	<?php 
	
	    $hfBannerAPIUrl = $GLOBALS['general']['HF_BANNER_API_URL'];
	    $hfBannerResult = file_get_contents($hfBannerAPIUrl);
	    if(isset($hfBannerResult))
	    {
	    	$hfBannerJSON = json_decode($hfBannerResult,true);
	    	foreach($hfBannerJSON['promoted'] as $value)
	    	{
	    		$active = $value['active'];
	    		$googlewap = $value['googlewap'];
	    		$hfbannerType=$value['bannerType'];
	    		$hfEventaction= $value['Eventaction'];
	    		$hfEventaction=$hfEventaction."_".strtolower($hfbannerType)."_mweb";
	    		if($hfbannerType == "ATF")
	    		{
	    			$atfgooglewap = $googlewap;
		    		$atfintermediateUrl = $value['intermediateUrl'];
		    		$atfName = $value['fname'];
		    		$atfStartDate = $value['startdate'];
		    		$atfEndDate = $value['enddate'];
		    		$atfTagName= $value['tagname'];
		    		$atfEventcat= $value['Eventcat'];
		    		$atfBannerActive=$active;
		    		$atfEventlabel= $value['Eventlabel'];
		    		$atfTaglabel= $value['taglabel'];
		    		$atfImgpath = $value['mbannername'];
		    		$atfBannerurl = $value['mbannerurl'];
		    		$atfBannertext = $value['bannertext'];
		    		$atfEventAction = $hfEventaction;
		    		if($atfName == "amazon")
		    		{
		    			$atfnofollowtag="rel=nofollow";
  						$atfEventcat=$atfEventcat."_mweb_atf";
		    			$atfintermediateUrl = str_replace("https://www.amazon.in","", $atfBannerurl);
		    			if(strpos($atfintermediateUrl,"?") == false)
		    			{
		    				$atfintermediateUrl =$atfintermediateUrl."?tag=timofind-21";
		    			}else
		    			{
		    				$atfintermediateUrl =$atfintermediateUrl."&tag=timofind-21";
		    			}
		    			$atfintermediateUrl = $atfintermediateUrl;
		    			$atfintermediateUrl = rawurlencode($atfintermediateUrl);
		    			$atfintermediateUrl = $atfintermediateUrl."&utm_campaign=mweb_gnshop_promowidget-21&utm_source=mweb_gnshop&utm_medium=Affiliate&price=0&title=".rawurlencode($atfBannertext);
		    			$atfintermediateUrl = "http://m.gadgetsnow.com/affiliate_amazon.cms?url=".$atfintermediateUrl;
		    			$atfBannerurl=$atfintermediateUrl;
		    			 
		    		}elseif($atfName == "lg")
	    			{
	    				$atfEventcat=$atfEventcat."_mweb_atf";
	    				$nameurl = str_replace(" ","_",$atfBannertext);
	    				$atfBannerurl = rawurlencode($atfBannerurl)."&tag=lg_mweb_gnshop_atf&afname=lg&affiliate=lg&utm_source=mweb_gnshop&utm_medium=Affiliate&title=".rawurlencode($nameurl)."&price=";
	    				$atfBannerurl=$GLOBALS['general']['AFFILIATE_INTERMEDIATE_URL']."?url=".$atfBannerurl;
	    			}elseif(strpos($atfBannerurl,"paytm") !== false) 
					{
						$atfutmcampaign="mweb_gnshop_atf";
						$atfEventcat="paytm_atf_mweb_";
						$putm="GadgetsNowShop_Mweb_ATF_".$atfBannertext;
						if(strpos($atfBannerurl,"-pdp")!==false)
						{
							$atfBannerurl = str_replace("-pdp","",$atfBannerurl);
							$atfBannerurl = str_replace("https://paytmmall.com","https://paytm.com/shop/p", $atfBannerurl);
						}else
						{
							$atfBannerurl = str_replace("https://paytmmall.com","", $atfBannerurl);
						}
						$atfBannerurl = rawurlencode($atfBannerurl);
						 
						$atfBannerurl = $atfBannerurl."&putm=".$putm."&utm_campaign=".$atfutmcampaign."&utm_source=gadgetsnow&utm_medium=Affiliate&price=0&title=".rawurlencode($atfBannertext);
						$atfBannerurl = $GLOBALS['general']['PAYTM_INTERMEDIATE_URL']."?url=".$atfBannerurl;
					 
				}elseif(strpos($atfBannerurl,"shop.gadgtesnow") !== false) 
				{
					$nameurl = str_replace(" ","_",$atfBannertext);
				}
				else {
	    				$nameurl = str_replace(" ","_",$atfBannertext);
	    				$atfEventcat=$atfEventcat."_mweb_atf";
	    				$intermediateUrl = "https://shop.gadgetsnow.com/affiliate.cms?url=";
	    				$atfBannerurl = $intermediateUrl.rawurlencode($atfBannerurl)."&tag=".$atfTagName."&afname=".$atfName."&utm_medium=Affiliate"."&title=".rawurlencode($atfBannertext)."&price=0";
	    			}
	    		}elseif($hfbannerType == "BTF")
	    		{
	    			$btfgooglewap = $googlewap;
		    		$btfintermediateUrl = $value['intermediateUrl'];
		    		$btfName = $value['fname'];
		    		$btfStartDate = $value['startdate'];
		    		$btfEndDate = $value['enddate'];
		    		$btfTagName= $value['tagname'];
		    		$btfEventcat= $value['Eventcat'];
		    		$btfBannerActive=$active;
		    		$btfEventlabel= $value['Eventlabel'];
		    		$btfTaglabel= $value['taglabel'];
		    		$btfImgpath = $value['mbannername'];
		    		$btfBannerurl = trim($value['mbannerurl']);
		    		$btfBannertext = $value['bannertext'];
		    		$btfEventAction = $hfEventaction;
		    		$btfEventcat=$btfEventcat."_mweb_btf";
		    		if($btfName == "amazon")
		    		{
		    			$btfnofollowtag="rel=nofollow";
		    			
		    			$btfintermediateUrl = str_replace("https://www.amazon.in","", $btfBannerurl);
		    			if(strpos($btfintermediateUrl,"?") == false)
		    			{
		    				$btfintermediateUrl =$btfintermediateUrl."?tag=timofind-21";
		    			}else
		    			{
		    				$btfintermediateUrl =$btfintermediateUrl."&tag=timofind-21";
		    			}
		    			$btfintermediateUrl = rawurlencode($btfintermediateUrl);
		    			$btfintermediateUrl = $btfintermediateUrl."&utm_campaign=mweb_gnshop_promowidget-21&utm_source=mweb_gnshop&utm_medium=Affiliate&price=0&title=".rawurlencode($btfBannertext);
		    			$btfintermediateUrl = "http://m.gadgetsnow.com/affiliate_amazon.cms?url=".$btfintermediateUrl;
		    			$btfBannerurl=$btfintermediateUrl;
		    			 
		    		}elseif(strcasecmp($btfName,"lg") == 0)
	    			{
	    				$intermediateUrl = $GLOBALS['general']['AFFILIATE_INTERMEDIATE_URL'];
	    				$btfEventcat=$btfEventcat."_mweb_btf";
	    				$nameurl = str_replace(" ","_",$btfBannertext);
	    				$btfBannerurl = rawurlencode($btfBannerurl)."&tag=lg_mweb_gnshop_btf&afname=lg&affiliate=lg&utm_source=mweb_gnshop&utm_medium=Affiliate&title=".rawurlencode($nameurl)."&price=";
	    				$btfBannerurl=$intermediateUrl."?url=".$btfBannerurl;
	    			}
		    		elseif($btfName == "tatacliq")
	    			{
	    				$btfBannerurl = str_replace("https://www.tatacliq.com","",$btfBannerurl);
	    				$nameurl = str_replace(" ","_",$btfBannertext);
	    				$btfBannerurl = rawurlencode($btfBannerurl)."&tag=mweb_gnshop_promoted&utm_source=mweb_gnshop&utm_medium=Affiliate&title=".rawurlencode($nameurl)."&price=".$sprice;
	    				$btfBannerurl=$btfBannerurl."?url=".$btfBannerurl;
	    			}elseif(strpos($btfBannerurl,"paytm") !== false) 
					{
						$putm="GadgetsNowShop_Mweb_BTF_".$btfBannertext;
						$btfutmcampaign="mweb_gnshop_atf";
						$btfEventcat="paytm_btf_mweb_";
						if(strpos($btfBannerurl,"-pdp")!==false)
		    			{
		    				$btfBannerurl = str_replace("-pdp","",$btfBannerurl);
		    				$btfBannerurl = str_replace("https://paytmmall.com","https://paytm.com/shop/p", $btfBannerurl);
		    			}else
		    			{
		    				$btfBannerurl = str_replace("https://paytmmall.com","", $btfBannerurl);
		    			}
						$btfBannerurl = rawurlencode($btfBannerurl);
						
						$btfBannerurl = $btfBannerurl."&putm=".$putm."&utm_campaign=".$btfutmcampaign."&utm_source=gadgetsnow&utm_medium=Affiliate&price=0&title=".rawurlencode($btfBannertext);
						$btfBannerurl = $GLOBALS['general']['PAYTM_INTERMEDIATE_URL']."?url=".$btfBannerurl;
					 
				}elseif(strpos($btfBannerurl,"shop.gadgtesnow") !== false) {
	    				$nameurl = str_replace(" ","_",$btfBannertext);
	    				//$btfBannerurl = $intermediateUrl.rawurlencode($btfBannerurl)."&tag=".$btfTagName."&afname=".$btfName."&utm_medium=Affiliate"."&title=".rawurlencode($nameurl)."&price=";
	    			}else {
						$nameurl = str_replace(" ","_",$btfBannertext);
						$intermediateUrl = "https://shop.gadgetsnow.com/affiliate.cms?url=";
						$btfBannerurl = $intermediateUrl.rawurlencode($btfBannerurl)."&tag=".$btfTagName."&afname=".$btfName."&utm_medium=Affiliate"."&title=".rawurlencode($nameurl)."&price=";
					}
	    		}elseif($hfbannerType == "MaskHead")
	    		{
	    			$maskheadgooglewap = $googlewap;
	    			$maskHeadintermediateUrl = $value['intermediateUrl'];
	    			$maskHeadName = $value['fname'];
	    			$maskHeadActive = $value['active'];
	    			$maskHeadStartDate = $value['startdate'];
	    			$maskHeadEndDate = $value['enddate'];
	    			$maskHeadTagName= $value['tagname'];
	    			$maskHeadEventcat= $value['Eventcat'];
	    			$maskHeadEventaction= $value['Eventaction'];
	    			$maskHeadEventlabel= $value['Eventlabel'];
	    			$maskHeadTaglabel= $value['taglabel'];
	    			$maskHeadImgpath = $value['mbannername'];
	    			$maskHeadBannerurl = $value['mbannerurl'];
	    			$maskHeadBannertext = $value['bannertext'];
	    				$maskHeadEventaction=$maskHeadEventaction;
	    				$maskHeadEventcat=$maskHeadEventcat."_mweb_maskhead";
	    			if($maskHeadName == "amazon")
	    			{
	    				$mhnofollowtag="rel=nofollow";
	    				$maskHeadBannerurl = str_replace("https://www.amazon.in","", $maskHeadBannerurl);
	    				if(strpos($maskHeadBannerurl,"?") == false)
	    				{
	    					$maskHeadBannerurl =$maskHeadBannerurl."?tag=timofind-21";
	    				}else
	    				{
	    					$maskHeadBannerurl =$maskHeadBannerurl."&tag=timofind-21";
	    				}
	    				$maskHeadBannerurl = rawurlencode($maskHeadBannerurl);
	    				$maskHeadBannerurl = $maskHeadBannerurl."&utm_campaign=mweb_gnshop_promowidget-21&utm_source=mweb_gnshop&utm_medium=Affiliate&price=0&title=".rawurlencode($maskHeadBannertext);
	    				$maskHeadBannerurl = "http://m.gadgetsnow.com/affiliate_amazon.cms?url=".$maskHeadBannerurl;
	    			
	    			}elseif($maskHeadName == "lg")
	    			{
	    				$intermediateUrl = $GLOBALS['general']['AFFILIATE_INTERMEDIATE_URL'];
	    				$maskHeadEventcat=$maskHeadEventcat."_mweb_maskhead";
	    				$nameurl = str_replace(" ","_",$maskHeadBannertext);
	    				$maskHeadBannerurl = rawurlencode($maskHeadBannerurl)."&tag=lg_mweb_gnshop_maskhead&afname=lg&affiliate=lg&utm_source=mweb_gnshop&utm_medium=Affiliate&title=".rawurlencode($nameurl)."&price=";
	    				$maskHeadBannerurl=$intermediateUrl."?url=".$maskHeadBannerurl;
	    			}
	    			elseif($maskHeadName == "tatacliq")
	    			{
	    				$maskHeadEventcat="paytm_maskhead_mweb_";
	    				$maskHeadBannerurl = str_replace("https://www.tatacliq.com","",$maskHeadBannerurl);
	    				$nameurl = str_replace(" ","_",$maskHeadBannertext);
	    				$maskHeadBannerurl = rawurlencode($maskHeadBannerurl)."&tag=mweb_gnshop_promoted&utm_source=mweb_gnshop&utm_medium=Affiliate&title=".rawurlencode($nameurl)."&price=".$sprice;
	    				$maskHeadBannerurl=$maskHeadBannerurl."?url=".$maskHeadBannerurl;
	    			}elseif(strpos($maskHeadBannerurl,"paytm") !== false) 
					{
						$maskheadutmcampaign="mweb_gnshop_maskhead";
						$putm="GadgetsNowShop_Mweb_Masthead_".rawurlencode($maskHeadBannertext);
						if(strpos($maskHeadBannerurl,"-pdp")!==false)
						{
							$maskHeadBannerurl = str_replace("-pdp","",$maskHeadBannerurl);
							$maskHeadBannerurl = str_replace("https://paytmmall.com","https://paytm.com/shop/p", $maskHeadBannerurl);
						}else
						{
							$maskHeadBannerurl = str_replace("https://paytmmall.com","", $maskHeadBannerurl);
						}
						$maskHeadBannerurl = rawurlencode(urldecode($maskHeadBannerurl));
						
						$maskHeadBannerurl = $maskHeadBannerurl."&putm=".$putm."&utm_campaign=".$maskheadutmcampaign."&utm_source=gadgetsnow&utm_medium=Affiliate&price=0&title=".rawurlencode($maskHeadBannertext);
						$maskHeadBannerurl = $GLOBALS['general']['PAYTM_INTERMEDIATE_URL']."?url=".$maskHeadBannerurl;
					 
				}elseif(strpos($maskHeadBannerurl,"shop.gadgtesnow") !== false) 
					{
						$nameurl = str_replace(" ","_",$maskHeadBannertext);
					}
				else {
	    				$nameurl = str_replace(" ","_",$maskHeadBannertext);
	    				$intermediateUrl = "https://shop.gadgetsnow.com/affiliate.cms?url=";
	    				$maskHeadBannerurl = $intermediateUrl.rawurlencode($maskHeadBannerurl)."&tag=".$maskHeadTagName."&afname=".$maskHeadName."&utm_medium=Affiliate"."&title=".rawurlencode($nameurl)."&price=";
	    			}
	    		}
	    	} 
	    }
	    
	    
	
				 ?>
				 
				 <?php 
				 if(isset($leafTitle) && strpos($leafTitle ,"huaweistore")===false) {
				 if( isset($maskHeadActive) && strcasecmp($maskHeadActive,"y") == 0) {?>
			<div class="text-center primeuser displaynone">
			<a target="_blank" rel="nofollow sponsored" data-ga-track="<?=$maskHeadEventcat?>##<?=$maskHeadEventaction?>##|<?=$maskHeadBannerurl?>|<?=$maskHeadBannertext?>|##0" href="<?=$maskHeadBannerurl?>">
			<img src="<?=$maskHeadImgpath?>" border="0" width="100%" /></a>
			</div>
			<?php } } ?>
	
	<?php if(isset($isApp) && $isApp != "yes") {?>
	 <?php if($showHeader == true)  { ?>
	<header>
			<div class="header-fixed positionfixed">
			
			
			
				<div class="header-top">
					<div class="toi-logo text-center">
					<a href='/'><img src='https://static.toiimg.com/photo/88204189.cms'/></a>
					 </div> 
			
					<div class="ftr toi-right proxima-regular1" id="loginHeader">
					</div>
				</div>
				
				
				<div class="header-bottom">
					<div class="header-menu">
						<ul class="toi-menu proxima-regular1" id="navslider">
							<!-- li><a href="https://m.gadgetsnow.com/">Home</a></li -->
							<li><a <?php if(!isset($categoryDisplayed) && $leafTitle == "mainscreen"){?> class="active"<?php }else{ ?> class="helight"<?php } ?> href="/">Shop</a></li>
							 
							<?php include __DIR__ . "/../headerjson/shopTabJson.phtml"; ?>
							<li><a <?php if($leafTitle != "walletoffers"){?> class="active"<?php }else{ ?> class="helight"<?php } ?> href="/wallet-offers">WALLET OFFERS</a></li>
						</ul>
					</div>
					<!--div class="header-menu">
						<ul class="toi-menu proxima-regular1">
							<li><a href="http://m.gadgetsnow.com/">Home</a></li>
							<li><a href="http://m.gadgetsnow.com/latest-news">News</a></li>
							<li class="toi-more" data-id="toi-menu-shop" id="toi-shop-button"><a class="active" href="#">Shop<span class="arrowdown"></span></a></li>
							<li><a href="http://m.gadgetsnow.com/reviews">reviews</a></li>
							<li class="toi-more" data-id="toi-menu-more" id="toi-more-button"><a href="#">More <span class="arrowdown"></span></a></li>
						</ul>
						<ul id="toi-menu-more" class="toi-sub-menu displaynone" data-initiator-id="toi-more-button">
							 <?php // include __DIR__ . "/../headerjson/index.phtml"; ?>  
						</ul>
						<ul id="toi-menu-shop" class="toi-sub-menu displaynone" data-initiator-id="toi-shop-button">
							<?php// include __DIR__ . "/../headerjson/shopTabJson.phtml"; ?>
						</ul>
					</div -->
						<?php include __DIR__ . "/../common/headerWithSearch.phtml"; ?> 
				</div>
			</div>
				<?php } else {?> 
				<div class="header-fixed positionfixed">
					<div class="header-top">
					<div class="toi-logo text-center">
					<a href='/'><img src='https://static.toiimg.com/photo/88204189.cms'/></a></div>
					</div>
				</div>
		
				<?php }?>
		</header>
		<!-- gadgets wap -->
		<!-- TOI for APP -->
		<?php } else  
		{   ?>
		<header class="appmainheader"><h1><?= $isApp?></h1>
			<div class="header-fixed positionfixed appheader">
				<div class="header-top">
					<div class="flt appsearch">
					<?php include __DIR__ . "/../common/headerWithSearch.phtml"; ?> 
					</div>
					<div class="flt apploginheader" id="apploginHeader">
					
					</div>
				</div>
			</div>
		</header>
		<!-- ENDs TOI for APP -->
		<?php } 
	?>
		
		<!-- ad code start and NOT for APP -->
		
		
<!-- trending widgets start-->
<?php  
 if(isset($leafTitle) && strpos($leafTitle ,"huaweistore")===false) {
if( isset($trendingWidgetInfo)) {   ?>
	<section>
		<div class="trending-widgets overflowhidden">
			<div class="flt trending-head">
				TRENDING
			</div>
			<div class="flt trending-list check-carousel">
				<ul class="newcarousel" data-width-list='138'>
				<?php    foreach ($trendingWidgetInfo as $trendingInfo ) {	?>
					<li>
						<a data-ga-track="Trending Widget_Web##Click##<?=$trendingInfo['PAGE_NAME']?>|##0" href="<?=$trendingInfo['PAGE_URL']?>">
						<?php 
						$productName = $trendingInfo['PAGE_NAME'];
						 if( isset($productName)  &&   (strlen($productName) > 28 )  ) 
						{
						  $productName = substr($productName,0,28);
						  $productName = $productName.'...';
						}
						?>
							<div class="seconddiv"><?=$productName?></div>
						</a>
					</li>
					<?php } ?>
				</ul>
			</div>
		</div>
	</section>
	<?php } } ?>
	
<!-- trending widgets end-->
		
<?php if(($leafTitle == "articlelist"|| $leafTitle == "compare" || $leafTitle == "dealofferArticle" || $leafTitle == "aboutus" || $leafTitle == "dealoffer" || $leafTitle =='contactUs' || $leafTitle=='best-selling-accessories' || $leafTitle=="bestBatteryPhones" || $leafTitle=="4gmobileoffer" || $leafTitle=='mobikwikoffer' || $leafTitle == "paytm-mall-deals"  || $leafTitle=="howItWorks" || $leafTitle=="mainscreen" || $leafTitle=="category" || $leafTitle=="knockout-deal" || $leafTitle=="walletoffers" || $leafTitle=="mobile-offers" || $leafTitle=="catalog" || $leafTitle=="product" || $leafTitle=="bestAmazonOffers" || $leafTitle=='flash-sale' || $leafTitle=='bid2win' || $leafTitle=='bidwinner' || $leafTitle=='amazingdeals') && (isset($isApp) && $isApp != "yes") ){?>
	<div class="headeradslot primeuser displaynone">
	
	<?php
	if($leafTitle !== "huaweistore"){
		if(isset($atfBannerActive) && strcasecmp($atfBannerActive,'Y')==0) {?>
	<a target="_blank" rel="nofollow sponsored" data-ga-track="<?=$atfEventAction?>##|<?=$atfImgpath?>|<?=$atfBannerurl?>|##0" href="<?=$atfBannerurl?>">
	<img class='lazy' width='100%' data-original="<?=$atfImgpath?>" /></a>
	<?php } else {?>
	<div id='div-gpt-ad-1481557438932-0' class="primeuser displaynone">	</div>
	<?php }  }?>	
 	<script type='text/javascript'>
		 var googletag = googletag || {};
			googletag.cmd = googletag.cmd || [];
			</script>
			
<script type='text/javascript'>
if(geo_continent!="EU"){
			googletag.cmd.push(function() {		 
			var _auds = new Array();
		 if(typeof(_ccaud)!='undefined') {
			for(var i=0;i<_ccaud.Profile.Audiences.Audience.length;i++)
			if(i<200)
			_auds.push(_ccaud.Profile.Audiences.Audience[i].abbr);
			}

			
			var _HDL = '';
			var _ARC1 = '';
			var _Hyp1 = '';
			var _tn = '<?php echo $leafTitle; ?>';
			var _article = '';
		 var _tval = function(v) {
			if(typeof(v)=='undefined') return '';
			if(v.length>100) return v.substr(0,100);
		 return v;
			}
			
		 var mappingATF= googletag.sizeMapping().
                              addSize([1, 1], [320, 50]).
                       addSize([480, 200],  [468, 60]).
                       addSize([768, 200], [728, 90]).
                       build();

var mappingFBN= googletag.sizeMapping().
                               addSize([1, 1], [320, 50]).
                       addSize([480, 200],  [468, 60]).
                       addSize([768, 200], [728, 90]).
                       build();

var mappingMREC= googletag.sizeMapping().
                               addSize([1, 1], [300, 250]).
                       addSize([480, 200],  [300, 250]).
                       addSize([768, 200], [300, 250]).
                       build();

var mappingMREC1= googletag.sizeMapping().
                               addSize([1, 1], [300, 250]).
                       addSize([480, 200],  [300, 250]).
                       addSize([768, 200], [300, 250]).
                       build();
		googletag.defineSlot('/7176/GadgetsNow_Mweb/GadgetsNow_Mweb_Shop/GadgetsNow_Mweb_Shop_HP_Fluid', ['fluid'], 'div-gpt-ad-1517993028137-0').addService(googletag.pubads());
		<?php if ($leafTitle=="category"){?>googletag.defineSlot('/7176/GadgetsNow_Mweb/GadgetsNow_Mweb_Shop/GadgetsNow_Mweb_Shop_Mrec', [300, 250], 'div-gpt-ad-1481557438932-2').defineSizeMapping(mappingMREC).addService(googletag.pubads());<?php } ?>
		googletag.defineSlot('/7176/GadgetsNow_Mweb/GadgetsNow_Mweb_Shop/GadgetsNow_Mweb_Shop_ATF', [[728, 90], [320, 50], [468, 60]], 'div-gpt-ad-1481557438932-0').defineSizeMapping(mappingATF).addService(googletag.pubads());
		window.slot = googletag.defineSlot('/7176/GadgetsNow_Mweb/GadgetsNow_Mweb_Shop/GadgetsNow_Mweb_Shop_FBN', [[728, 90], [320, 50], [468, 60]], 'div-gpt-ad-1481557438932-1').defineSizeMapping(mappingFBN).addService(googletag.pubads());
		<?php if ($leafTitle=="category"){?>googletag.defineSlot('/7176/GadgetsNow_Mweb/GadgetsNow_Mweb_Shop/GadgetsNow_Mweb_Shop_Mrec1', [300, 250], 'div-gpt-ad-1481557438932-3').defineSizeMapping(mappingMREC1).addService(googletag.pubads());<?php } ?>
		 googletag.defineSlot('/7176/GadgetsNow_Mweb/GadgetsNow_Mweb_Shop/GadgetsNow_Mweb_Shop_Mrec', [300, 250], 'div-gpt-ad-1518176465110-0').addService(googletag.pubads());
		 googletag.pubads().setTargeting('sg', _auds).setTargeting('HDL', _tval(_HDL)).setTargeting('ARC1', _tval(_ARC1)).setTargeting('Hyp1', _tval(_Hyp1)).setTargeting('article', _tval(_article)).setTargeting('_tn', _tval(_tn));
		 googletag.pubads().enableSingleRequest();
		 googletag.pubads().collapseEmptyDivs();
		 googletag.enableServices();
		 googletag.display("div-gpt-ad-1481557438932-1");
		 });
}		 
		 </script>
		
		
		<script>
		googletag.cmd.push(function() { googletag.display('div-gpt-ad-1481557438932-0'); });
		</script>
		
	</div>
<?php } ?>
<!-- Ends ad code end and NOT for APP -->
<!-- messageBelowHeader start -->
<?php include __DIR__ . "/../common/messageBelowHeader.phtml"; ?>
<!-- messageBelowHeader end -->
<?php if(isset($leafTitle)){ if($leafTitle == "mainscreen" || $leafTitle=="catalog" || $leafTitle=="category") {  
		if (!isset($_SESSION['userLogin']) ||  (isset($_SESSION['userLogin']) && ($_SESSION['userLogin']->getUserName() == 'Guest'))) { ?> 
		<input type="hidden" id="showRegistrationCampaign" value="true"  />
<?php } } } ?>
		<?php if($leafTitle!="category" && $leafTitle!="mainscreen"){?><div class="clr"></div><?php } ?>

		
		
