<?php if(isset($hotdeals) && sizeof($hotdeals)>0)
	
{?>
<section>
	<div class="sponsored-widgets countryblock">
		<h2 class="heading bold">Deals of the day </h2> <!-- Renamed Today's Hot Deals -->
		<ul class="sponsored-list">
		<!-- list loop start -->
		<?php 
		
		for($i=0;$i<sizeof($hotdeals);$i++)
		{
				$afname=$hotdeals[$i]['AFFILIATE_NAME'];
				if(strcasecmp($afname,"paytm") == 0)
				{
					continue;
				}
				$hotdealsProdname=$hotdeals[$i]['AFFILIATE_PRODUCT_NAME'];
				$hotdealsProdprice=$hotdeals[$i]['OFFER_PRICE'];
				$hotdealsimgurl=$hotdeals[$i]['IMAGE_URL'];
				$hotdealsUrl=$hotdeals[$i]['LANDING_URL'];
				$hotdealsIsActive=$hotdeals[$i]['IS_ACTIVE'];
				$hotdealsIsActive=$hotdeals[$i]['PRODUCT_ID'];
				$affiliateLandingurl=$hotdealsUrl;
				try 
				{				
					$hotdealsProdMrp = $hotdeals[$i]['MRP'];
					$discount=(($hotdealsProdMrp-$hotdealsProdprice)/$hotdealsProdMrp)*100;
				}catch(Exception $ex)
				{
					$hotdealsProdMrp=0;
					$discount=0;
				}
				if(strcasecmp($afname,"sgn") != 0)
				{
					
					$affiliateParamArray=array("productname"=>$hotdealsProdname,"price"=>$hotdealsProdprice,"producturl"=>$hotdealsUrl,"pagename"=>"pdp","widget"=>"todayhotdeal");
					$affiliateLandingurl=AffiliateUrlCreator::createAffiliateUrl($afname,$affiliateParamArray);
				}
				$eventCategory="gnshop|mweb|PDP|Today's_Hot_Deal";
				$eventaction="click";
				$eventLabel=($i+1)."|".$productname."|".$productPriceForGA."|".$productid;
			 
				$hotdealsUrl=$affiliateLandingurl;
				$class=strtolower($afname);
		?>
			<li class="<?=$class?>-sponsored">
				<a href="<?=$hotdealsUrl?>" target="_blank" rel="nofollow sponsored" class="display-block" data-ga-track="<?=$eventCategory?>##<?=$eventaction?>##<?=$eventLabel?>##0">
					<div class="table w100">
						<div class="table-cell first-cell v-align-middle text-center"><img data-original="<?=$hotdealsimgurl?>" alt="icon" class="lazy img" /></div>
						<div class="table-cel v-align-top second-cell">
							<div class="title"><?=$hotdealsProdname?></div>
							<?php if(strcasecmp($afname,'tatacliq') == 0) { ?>
							<div class="cashbackdiv overflowhidden" style="background: none">
							<div class="cashback"> 10% Discount on HDFC cards</div>
							</div>
							<?php } ?>
							<?php if(is_numeric($hotdealsProdprice) && $hotdealsProdprice!=0) { ?>
										<span class="price_tag offer-price-ui" >
										<div class="price">
											<span class="rp"><?=number_format($hotdealsProdprice)?></span> 
											<?php /*if(isset($hotdealsProdMrp) && $hotdealsProdMrp>0 && $hotdealsProdMrp!== "") {?>
											<span class="rp pricemrp"><?=number_format($hotdealsProdMrp)?></span>
											<?php }?>
											<?php if(isset($discount) && $discount > 0) {?>
											<span class="discount-offer"><?=$discount?>% OFF</span>
											<?php }*/ ?>
										</div>
									 <?php }elseif($hotdealsProdprice != '0') { ?>
									<span>
									<div class="price"><span class="rp"><?=$hotdealsProdprice?></span></div>
									<?php } ?>
							<div class="oveflowhidden">
								<div class="col-sm-6 text-left brand-logo">
									<span></span>
								</div>
								<div class="col-sm-6 text-right">
									<span class="buy-button-affiliate btn">BUY</span>
								</div>
							</div>
						</div>
					</div>
				</a>
			</li>
			<?php if($i!== 0 && (($i+1)%4 === 0)) {
			    if($i >11 ) continue;
			
			    ?>
			<li class="<?=$class?>-sponsored" style="text-align: center">
			<?php $count = $i ?>
			<?php include __DIR__ . "/../common/Mercloop.phtml"; ?>
			</li>
			<?php } ?>
			<?php } ?>
			<!-- list loop end -->
			</ul>
	</div>
</section>
<?php } ?>
