<script src="/js/jquery-1.10.2.min.js"></script>
<!-- Include js plugin -->
<script src="/js/owl.carousel.js"></script>
<script src="/js/common.js"></script>
<script src="/js/searchSuggest.js"></script>