<section>
<div class="text-center display-block overflowhidden clr adcode">
<script>
  googletag.cmd.push(function() {
    googletag.defineSlot('/7176/GadgetsNow_Mweb/GadgetsNow_Mweb_Shop/GadgetsNow_Mweb_Shop_Mrec', [300, 250], 'div-gpt-ad-1634647281810-0').addService(googletag.pubads());
    googletag.pubads().setTargeting('sg', _auds).enableSingleRequest();
    googletag.enableServices();
  });
</script>


<div class="promoted-ads">
<!-- /7176/GadgetsNow_Mweb/GadgetsNow_Mweb_Shop/GadgetsNow_Mweb_Shop_Mrec -->
<div id='div-gpt-ad-1634647281810-0' style='min-width: 300px; min-height: 250px;'>
    <script>
      googletag.cmd.push(function() { googletag.display('div-gpt-ad-1634647281810-0'); });
    </script>
  </div>
</div>		
</div>
 </section>