
<div class="adcode eu-hide promoted-ads" >
<script>
  window.googletag = window.googletag || {cmd: []};
  googletag.cmd.push(function() {
    googletag.defineSlot('/7176/GadgetsNow_Mweb/GadgetsNow_Mweb_Shop/GadgetsNow_Mweb_Shop_Mrec3', [300, 250], 'div-gpt-ad-1634647438464-<?php echo $count; ?>').addService(googletag.pubads());
    googletag.pubads().setTargeting('sg', _auds).enableSingleRequest();
    googletag.enableServices();
  });
</script>
<!-- /7176/GadgetsNow_Mweb/GadgetsNow_Mweb_Shop/GadgetsNow_Mweb_Shop_Mrec3 -->
<div id='div-gpt-ad-1634647438464-<?php echo $count; ?>' style='min-width: 300px; min-height: 250px;'>
    <script>
      googletag.cmd.push(function() { googletag.display('div-gpt-ad-1634647438464-<?php echo $count; ?>'); });
    </script>
  </div>
</div>
