<?php 
	if(!isset($_SESSION)) session_start();
	if(isset($_SESSION['error'])){
		$error = $_SESSION['error'];
?>
		<section>
			<div class="servererror oveflowhidden clr">
				<span class="flt"><?=$error?></span>
			</div>
		</section>
<?php 
		if(!isset($_SESSION)) session_start();
		unset($_SESSION["error"]);
	}
	
	if(isset($_SESSION['successMsg'])){
		$successMsg = $_SESSION['successMsg'];
?>
		<section>
			<div class="successmsg oveflowhidden clr">
				<span class="flt"><?=$successMsg?></span>
			</div>
		</section>
<?php 
		if(!isset($_SESSION)) session_start();
		unset($_SESSION["successMsg"]);
	}
?>