<?php /* $categoryKey= str_replace(" ","_",$categoryName);
			$categoryKey=$categoryKey."_".$primarycategoryId;
			$categoryValue = $GLOBALS['categoryMap'][$categoryKey]; */
			$affiliateSponsoredUrl =$GLOBALS['general']['AFFILIATE_SPONSORED_API'];
			$showaffiliate="";
			if($pagename==='bestamazonoffers')
				$showaffiliate="&showAffiliate=amazon";
			if($pagename==='paytmmalldeals')
				$showaffiliate="&showAffiliate=paytm";
			$affiliateSponsoredUrl=$affiliateSponsoredUrl."?format=json&category=".$categoryValue."&product_per_page=30".$showaffiliate;
			$affiliateSponsoredProductsJson =  Utils::getProtectedApiResponse($affiliateSponsoredUrl, null, null, null, null);
			if(isset($affiliateSponsoredProductsJson['data']))
			{
				$affiliateSponsoredProducts=json_decode($affiliateSponsoredProductsJson['data'],true);
			}
			if(isset($affiliateSponsoredProducts)) {
			?>

<!-- sponsored widgets start -->
<section>
	<div class="sponsored-widgets countryblock">
		<h2 class="heading bold">Sponsored : In The Store </h2>
		<ul class="sponsored-list">
		<?php
			$sponsoredCounts=0; $index=6;
			foreach($affiliateSponsoredProducts['product'] as $affSProd )
			 {
			 	unset($paytmOffer);
			 	unset($mrp);
			 	unset($discount);
			 	$class="";
			 
			 	if(is_array($affSProd['title']))
			 		continue;
	    		$affiliatename=$affSProd['affiliate'];
			 	if(strcasecmp($affiliatename,"sgn") == 0) //skip SGN product
			 		continue;
			 	if(strcasecmp($affiliatename,"paytm") == 0) //skip SGN product
			 		continue;
	    		$name = ""; 
	    		if(isset($affSProd['title']))
	    			$name = $affSProd['title'];
	    		$sponsrdUrl = ""; 
	    		if(isset($affSProd['url']))
	    			$sponsrdUrl =$affSProd['url'];
	    		
	    		$sprice = ""; 
	    		if(isset($affSProd['price']))
	    		{
	    			if(is_numeric($affSProd['price']))
	    				$sprice =number_format($affSProd['price']);
	    			else 
	    				$sprice=$affSProd['price'];
	    		}
	    		if(isset($affSProd['listPrice']) && $affSProd['listPrice'] !== "" && $affSProd['listPrice'] !== "0")
	    		{
		    		if(is_numeric($affSProd['listPrice']))
		    		{
		    			$mrp=number_format($affSProd['listPrice']);
		    		}else {
		    			$mrp=$affSProd['listPrice'];
		    		}
		    		if($mrp == $sprice)
		    			unset($mrp);
	    		}
	    		try 
	    		{
	    			if(isset($affSProd['listPrice']) && isset($affSProd['price']) && is_numeric($affSProd['listPrice']))
	    			{
	    				$lp = $affSProd['listPrice'];
	    				$op = $affSProd['price'];
					try{
	    				if($lp !== 0 || $op !==0)
	    					{ $discount=(($lp-$op)/$lp)*100;
   					
					}
					}catch(Exception $ex){}
	    			}
	    		}catch(Exception $exx)
	    		{
	    			
	    		}
	    		$event="";
	    		$affiliate="";
	    		$affiliateParamArray=array("productname"=>$name,"price"=>$sprice,"producturl"=>$sponsrdUrl,"pagename"=>$pagename,"widget"=>"sponsored");
	    		$affiliateLandingurl=AffiliateUrlCreator::createAffiliateUrl($affiliatename,$affiliateParamArray);
	    		
	    		$eventCategory=$affiliatename."|"."gnshop | "."mweb|".$pagename."|sponsored";
	    		$eventaction = "click";
	    		$eventLabel="NA|".$name."|".$sprice;
    			$sponsoredCounts = $sponsoredCounts+1;
	    		
    			$offerprice=$sprice;
	    		if(strpos($sponsrdUrl,"amazon") != false)
	    		{
	    			$class="amazon";
	    			$offerprice=$sprice;
	    			$affiliate="amazon";
	    		}elseif(strpos($sponsrdUrl,"tatacliq") != false)
	    		{
	    			$class="tatacliq";
	    			$affiliate="tatacliq";
	    			$offerprice=$sprice;
	    			$sponsrdUrl=$affiliateLandingurl;
	    		}elseif(strpos($sponsrdUrl,"paytm") != false)
	    		{
	    			continue;
	    			$class="paytm";
	    			$affiliate="paytm";
	    			if(isset($affSProd['cashback']))
	    			{
	    				$paytmOffer = $affSProd['cashback'];
	    			}
	    			$offerprice=$affSProd['price'];
	    			if(isset($affSProd['cashback']))
	    			{
	    				$paytmOffer = intval($affSProd['cashback']);
	    				$offerprice=$affSProd['price'] - $paytmOffer;
	    			}
	    			$sponsrdUrl=$affiliateLandingurl;
	    		
	    		}elseif(strcasecmp($aff_name,"flipkart")==0) 
					{   $class="flipkart";
						$affiliate="flipkart";
					}
					$sponsrdUrl=$affiliateLandingurl;
	    	?>
			<!-- list loop start -->
			
			<li class="<?=$class?>-sponsored">
				<a href="<?=$sponsrdUrl?>" target="_blank" rel="nofollow sponsored" class="display-block" 
				data-ga-track="<?=$eventCategory?>##<?=$eventaction?>##<?=$eventLabel?>##0">
					<div class="table w100">
						<div class="table-cell first-cell v-align-middle text-center"><img data-original="<?=$affSProd['imageUrl']?>" alt="icon" class="lazy img" /></div>
						<div class="table-cell v-align-top second-cell text-left">
							<div class="title"><?=$name?></div>
							<?php if(isset($paytmOffer) && $paytmOffer != 0) { ?>
							<div class="cashbackdiv overflowhidden">
							<div class="cashback"> Includes <span class="offer-price-ui rp"></span><?=$paytmOffer?> Cashback</div>
							</div>
							<?php } ?>
							<?php if($affiliate == 'tatacliq') { ?>
							<div class="cashbackdiv overflowhidden" style="background: none">
							<div class="cashback"> 10% Discount on HDFC cards</div>
							</div>
							<?php } ?>
							<?php if(is_numeric($offerprice) && $offerprice!=0) { ?>
										<span class="price_tag offer-price-ui" >
										<div class="price">
											<span class="rp"><?=$offerprice?></span>
										</div>
									 <?php }elseif($offerprice != '0') { ?>
									<span>
									<div class="price">
										<span class="rp"><?=$offerprice?></span>
										<?php if(isset($mrp)) {?>
										<span class="rp pricemrp"><?php print_r($mrp);?></span>
										<?php } ?>
										<?php if(isset($discount) && $discount > 0) {?>
										<span class="discount-offer">
										
										<?=round($discount)?>% OFF</span>
										<?php } ?>
									</div>
									<?php } ?>
							<div class="oveflowhidden">
								<div class="col-sm-6 text-left brand-logo">
									<span></span>
								</div>
								<div class="col-sm-6 text-right">
									<span class="buy-button-affiliate btn">BUY</span>
								</div>
							</div>
						</div>
					</div>
				</a>
			</li>
			<!-- list loop end -->
			<?php 
			// SGN-1662 Commented to resolve AD issue on LIVE
			if($sponsoredCounts%7 == 0) {
				if(!isset($maskHeadActive) || strcasecmp($maskHeadActive,'N') === 0) {	
				
				?>
			<?php $count = $index; include __DIR__ . "/../common/Mercloop.phtml"; ?>
			<?php  $index=$index+8;}} 
			
			?>
			<!-- list loop end -->
				<?php  } ?>
		</ul>
	</div>
</section>
<!-- sponsored widgets end -->
	<?php } ?>
