<?php 
		$requestUri = $_SERVER['REQUEST_URI'];
		if(strpos($requestUri,'/control') === false)
		{
?>
<?php if($leafTitle != "dealofferArticle" && strpos($leafTitle,"huawei")===false){?>
<section class="primeuser displaynone">
		<div class='ctn-ads-home-list'>
				<div class="card productShowlist margin-10">
					<h4 class="heading"><span class="truncate text-transform">From Around the Web</span> </h4>
				</div>
 				<div class="ctn-ads-home-list-row">
		 			<div id="div-clmb-ctn-1245" data-slot="256682" data-position="1245" data-section="0" data-cb="adwidgetfun" class="colombia toi-product colombiaad"> </div>
		 			<div id="div-clmb-ctn-1246" data-slot="256682" data-position="1246" data-section="0" data-cb="adwidgetfun" class="colombia toi-product colombiaad"> </div>
		 		</div>
		 		<div class="ctn-ads-home-list-row">
		 			<div id="div-clmb-ctn-1247" data-slot="256682" data-position="1247" data-section="0" data-cb="adwidgetfun" class="colombia toi-product colombiaad"> </div>
		 			<div id="div-clmb-ctn-1248" data-slot="256682" data-position="1248" data-section="0" data-cb="adwidgetfun" class="colombia toi-product colombiaad"> </div>
		 		</div>
 		</div>	
</section>
<?php } } ?>
</div>
<!-- container body end -->



<!-- recently reviewed start -->
<?php if(isset($showSeoWidget) && $showSeoWidget) { ?>
<section>
	<div class="most-review-products">
		<div class="gadgets-table">
			<!-- product list start -->
			<?php if(isset($seoProducts)) {?>
			<?php $countSeoPID=0;
			foreach ($seoProducts as $key=>$value)
			{
				++$countSeoPID;
				$oldServerUrl = $GLOBALS['general']['BACKEND_OLD_SERVER_URL'];
				$seoProductId=$key ;
				$psName="";
				if(isset($seoProductId)){
					$sdata  = "{'productId':'".$seoProductId."'}";
					$serverUrl=$GLOBALS['general']['BACKEND_SERVER_URL'];//"http://localhost:8282/IndiatimesShopping";
					$productBasicInfoUrl = $serverUrl."/rest/product/getProductBasicInfo/";
					$result = Utils::getProtectedApiResponse($productBasicInfoUrl, CURLOPT_POST, null, $sdata, null);
					if(isset($result)){
						$jsonResult = json_decode($result['data']);
						//$this->view->setVar("all", $jsonResult);
						if(isset($jsonResult->productId)){
							$psName = $jsonResult->productName;
							
						}
						
						$listPrice=0;$defaultPrice=0;$discountedPrice=0;$avPrice=0;
						foreach($jsonResult->priceObjList as $obj){
							if($obj->productPriceTypeId==='AVERAGE_COST'){
								$avPrice=$obj->price;
							}else if($obj->productPriceTypeId==='DEFAULT_PRICE'){
								$defaultPrice=$obj->price;
							}else if($obj->productPriceTypeId==='DISCOUNTED_PRICE'){
								$discountedPrice=$obj->price;
							}else if($obj->productPriceTypeId==='LIST_PRICE'){
								$listPrice=$obj->price;
							}else if($obj->productPriceTypeId==='MRP')
							{
								$this->view->setVar("mrpPrice",$obj->price);
							}
						}
						
					
						
						// image and product URL
						
						$seoproductsUrl = $oldServerUrl . "/control/getJsonUrl?productIds=" .$seoProductId;
						$seourlResult = Utils::getProtectedApiResponse ( $seoproductsUrl, null, null, null, null );
							
						if (isset ( $seourlResult ['data'] )) {
							$seoproductUrlArr = json_decode ( $seourlResult ['data'], true );
							$seoProductUrl = $seoproductUrlArr ['product'];
							$seoImageUrl = $seoproductUrlArr ['product_Image'];
						}
					}
				}
				$reviewTitle="";$review="";$ques="";$ans="";$publishedReview="";$rating="";
				$percentage='0%';
				$publishedQuestion="";$totalrating="";
				foreach($value as $k=>$v)
				{
					if($k == 'REVIEW_TITILE')
					{
						$reviewTitle = $v;
					}if($k == 'REVIEW')
					{
						$review = $v;
					}if($k == 'PRODUCT_QUESTION')
					{
						$ques = $v;
					}if($k == 'PRODUCT_ANSWER')
					{
						$ans = $v;
					}if($k == 'PUBLISHED_REVIEW')
					{
						$publishedReview = $v;
					}if($k == 'PUBLISHED_QUES')
					{
						$publishedQuestion = $v;
					}
					if($k == 'RATING')
					{
						if(is_double($v))
							$rating = number_format($v,1);
						else 
							$rating=$v;
						$percentage = ($rating/5)*100;
						$percentage = $percentage."%";
					}if($k == 'TOTAL_RATING')
					{
						$totalrating = '('.$v.')';
					}
					
				}
			
			?>
			<div class="gadgets-product-list bordernone">
				<div class="gadgets-table-col col-one">
					<div class="gadgets-table">
						<div class="gadgets-table-col img-col relative">
						<a href="<?php print_r($seoProductUrl[$seoProductId]);?>">
							<img src="<?php print_r( $seoImageUrl[$seoProductId]);?>"/>
						</a>
						<div class="rank"><?=$countSeoPID?></div>
						</div>
						<div class="gadgets-table-col product-col">
							<div class="product-name"><a href=""><?=$psName?></a></div>
							<div class="product-rating" >
								<div class="productstars flt" >
									<span style="width:<?=$percentage?>"></span>
								</div>
								<div class="flt reviewcount"><?=$totalrating?></div>
							</div>
							<div class="product-price">
							  <?php if($discountedPrice >0) { ?><span class="offer-price-ui toi-text"><?= $discountedPrice;?></span> 
							<?php if($listPrice>$defaultPrice){?><span class="mrp-price-ui"><?=$listPrice;?></span><?php }?>
							<?php } else {?>
			                                <span class="offer-price-ui toi-text"><?= $defaultPrice;?></span> 
			                                <?php if($listPrice>$defaultPrice){?><span class="mrp-price-ui"><?= $listPrice;?></span><?php }?>
			                                <?php  }?>
								
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="gadgets-product-list">
			<?php if($review != "") { ?>
				<div class="gadgets-table-col col-two most-reviewed">
					<h4>Recently Reviewed</h4>
					<p class="text-reviewed"><?=$reviewTitle?><br/>
					<?=$review?> </p>	
					<p><?=$publishedReview?> </p>	
					
				</div>
				<?php } ?>
				<?php if($ques != "") { ?>
				<div class="gadgets-table-col col-two talked-about">
					<h4>Talked About</h4>
					<div class="text-talked">
						<p><b>Question :</b> <?=$ques?></p>
						<?php if($ans != "") {?>
						<p><b>Answer :</b> <?=$ans?></p>
						<?php } ?> 
					</div>
					<p><?=$publishedQuestion?></p>
				</div>
				<?php } ?>
			</div>
			<?php } 
				}
			?>
			<!-- product list end -->
			
			<!-- product list start -->
			   <!--<div class="gadgets-product-list bordernone">
				<div class="gadgets-table-col col-one">
					<div class="gadgets-table">
						<div class="gadgets-table-col img-col relative">
						<a href="">
							<img src="https://img2.gadgetsnow.com/gd/images/products/additional/small/G36169_View_1/mobiles/smart-phones/nokia-2-8gb-pewter-black-1gb-ram-.jpg"/>
						</a>
						<div class="rank">2</div>
						</div>
						<div class="gadgets-table-col product-col">
							<div class="product-name"><a href="">Nokia 2 8GB (Pewter Black, 1GB RAM)</a></div>
							<div class="product-rating">
								<div class="rating-show flt">
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<div class="rating-given" style="width:<?=2?>;">
									<div>
										<span></span>
										<span></span>
										<span></span>
										<span></span>
										<span></span>
									</div>
								</div>
							</div>
								<div class="flt reviewcount">(10,324)</div>
							</div>
							<div class="product-price">
								<span class="mrp"><span class="offer-price-ui"></span>38,999</span>
								<span class="offer-price"><span class="offer-price-ui"></span>32,999</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="gadgets-product-list">
				<div class="gadgets-table-col col-two most-reviewed">
					<h4>Recently Reviewed</h4>
					<p class="text-reviewed">The product is very good<br/>
					Flash sale on Amazon are loving , I was trying to buy Redmi note 5 pro from Flipkart but due to flash sale couldn't buy it so finally bought Redmi 5... <a href="#">Read the full review</a></p>
					<p>Published 8 days ago by Certified buyer </p>	
					
				</div>
				<div class="gadgets-table-col col-two talked-about">
					<h4>Talked About</h4>
					<div class="text-talked">
						<p><b>Question :</b> How many pixels of Back Camera?</p>
						<p><b>Answer :</b> 8 mega pixel</p> 
					</div>
					<p>Sajad Rather | Jan 24, 2018</p>
				</div>
			</div> -->
			<!-- product list end -->
			
			
		</div>
	
	</div>
</section>
<?php } ?>
<!-- recently reviewed end -->
<!-- gadgets subscrible start -->
			<!--div id="gadgets-subscribe">
			<div class="gadgets-subscribe">
				<div class="headtext"><span>Subscribe</span> <span>to Gadgets Now</span></div>
				<div class="emailsubscribe">
					<form name="scbcribeUser" id="scbcribeUser">
						<div class="subheading">The Daily Newletter</div>
						<div class="email-icon"></div>
						<div class="emailinput">
							<input placeholder="Enter Email address" type="email" id="email" name="emailId" validate="{true,blank,Please specify your valid email address,email,Please enter a valid email address}">
						</div>
						<div class="emailbutton"><button>Subscribe</button></div>
						<span id="email_error" class="error"></span>
					</form>
				</div>
				<div class="emailsubscribe">
						<div class="subheading">News & Gadgets Launch Alerts</div>
						<div class="table-row">
							<div class="whatsapp table-cell"></div>
							<div class="second-cell table-cell">WhatsApp </div>
							<div class="third-cell table-cell"><a href="">Subscribe</a></div>
						</div>
						<div class="table-row">
							<div class="facebook-messenger table-cell"></div>
							<div class="second-cell table-cell">facebook Messenger</div>
							<div class="third-cell table-cell"><a href="">Subscribe</a></div>
						</div>
						<div class="table-row">
							<div class="telegram table-cell"></div>
							<div class="second-cell table-cell">Telegram</div>
							<div class="third-cell table-cell"><a href="">Subscribe</a></div>
						</div>
				</div>
			</div>
			</div-->
			<!-- gadgets subscrible start -->

	<footer class="clr <?php if($leafTitle == "articlelist" ||$leafTitle == "compare" || $leafTitle == "dealofferArticle" || $leafTitle == "aboutus" || $leafTitle == "dealoffer" || $leafTitle=="best-selling-accessories" || $leafTitle=="bestBatteryPhones" || $leafTitle=="4gmobileoffer" || $leafTitle=="mainscreen" || $leafTitle=="category" || $leafTitle=="mobile-offers" || $leafTitle=="catalog"){?> addmargin <?php }?>">
		<!-- headerWithSearch start -->
		<?php include __DIR__ . "/../common/footer.phtml"; ?>
		<!-- headerWithSearch end -->
	</footer>
</div>
<?php //ob_end_flush();  ?>
<!-- NOT for APP -->
<?php if($leafTitle == "articlelist"  ||$leafTitle == "compare"|| $leafTitle == "dealofferArticle" || $leafTitle == "aboutus" || $leafTitle == "dealoffer" || $leafTitle=="best-selling-accessories" || $leafTitle=="bestBatteryPhones" || $leafTitle=="4gmobileoffer" || $leafTitle=="mainscreen" || $leafTitle == 'paytm-mall-deals' || $leafTitle=="category" || $leafTitle=="walletoffers" || $leafTitle=="catalog" || $leafTitle=="amazingdeals" || $leafTitle=='best-selling-accessories'  || $leafTitle=="mobile-offers" || $leafTitle=="product" || $leafTitle=="knockout-deal" || $leafTitle=="bestAmazonOffers" || $leafTitle=='flash-sale' || $leafTitle=='howItWorks' || $leafTitle=="mobikwikoffer" || $leafTitle=='bid2win' || $leafTitle=='bidwinner' || $leafTitle=='amazingdeals'){?>
<div class="footeradslot primeuser displaynone" >

<?php 
	
	
	/* 	$btfApiUrl = $GLOBALS['general']['HF_BANNER_API_URL'];
		$resultBtfHead = file_get_contents($btfApiUrl);
		if(isset($resultBtfHead))
		{
			$resultBtfHeadJson = json_decode($resultBtfHead,true);
			$intermediateBTFUrl = $GLOBALS['general']['AFFILIATE_INTERMEDIATE_URL'];
			foreach($resultBtfHeadJson['promoted'] as $value)
			{
				$atfName = $value['fname'];
				$hfbannerType=$value['bannerType'];
				$number = $value['number'];
				$active = $value['active'];
				if(strcasecmp($hfbannerType,'btf') && $active == 'Y')
				{
					$btfName = $value['fname'];
					$imgurl = $value['mbannerurl'];
					$btfimgurl = $value['mbannername'];
					$bannertext = $value['bannertext'];
					if(strpos($imgurl,"primevideo") !== false)
					{
						$apvBtfUrl=$imgurl;
						$btfText = str_replace(" ","_",$bannertext);
						$btfText=strtoupper($btfText);
						$eventBtfName="apv_mweb_gnshop_BTF";
						$apvBtfUrl = $intermediateBTFUrl."?url=".rawurlencode($apvBtfUrl."dvm_atl_oth_in_pl_s_600035101_".$btfText."_GadNow_Mob");
						$apvBtfUrl=$apvBtfUrl."&tag=apv_mweb_gnshop_BTF&afname=primevideo&utm_medium=Affiliate"."&title=".rawurlencode($btfText)."&price=0";
						$imgBtfurl=$apvBtfUrl;
						$bannertext=$btfText;
						
					}elseif(strcasecmp($btfName,'lg'))
	    			{
	    				$eventBtfName=$atfEventcat."_mweb_btf";
	    				$nameurl = str_replace(" ","_",$bannertext);
	    				$atfBannerurl = rawurlencode($atfBannerurl)."&tag=lg_mweb_gnshop_atf&affiliate=lg&utm_source=mweb_gnshop&utm_medium=Affiliate&title=".rawurlencode($nameurl)."&price=";
	    				$atfBannerurl=$GLOBALS['general']['AFFILIATE_INTERMEDIATE_URL']."?url=".$atfBannerurl;
	    			}
					if(strpos($imgurl,"gaussnetworks") != false)
					{
						$addaBtfUrl = $imgurl;
						$btfText=$bannertext;
						$intermediateBtfUrl = "https://m.shop.gadgetsnow.com/affiliate.cms?url=";
						$addaBtfUrl = $intermediateBtfUrl.rawurlencode($addaBtfUrl)."&tag=adda52_mweb_gnshop_BTF&afname=adda52&utm_medium=Affiliate"."&title=".rawurlencode($bannertext)."&price=0";
						$imgBtfurl=$addaBtfUrl;
						$eventBtfName="adda52_mweb_gnshop_BTF";
					}elseif(strpos($imgurl,"bs.serving") !== false)
		    			{
		    				$afbtfname="";
		    				$eventBtfName="samsung_mweb_gnshop_BTF";
		    				if(strpos($imgurl,"pli=23698215") !== false || strpos($imgurl,"pli=23698217") !== false)
		    				{
		    					$afbtfname="SAMSUNG";
		    				}else
		    				{
		    					$afbtfname="SAMSUNGNEW";
		    				}
		    				$samsungBtfUrl = $imgurl;
		    				$nameurl = str_replace(" ","_",$bannertext);
		    				$intermediateBtfUrl = "https://m.shop.gadgetsnow.com/affiliate.cms?url=";
		    				$samsungBtfUrl = $intermediateBtfUrl.rawurlencode($samsungBtfUrl)."&tag=samsung_mweb_gnshop_BTF&afname=".$afbtfname."&utm_medium=Affiliate"."&title=".rawurlencode($nameurl)."&price=0&ord=".time();
		    				$imgBtfurl=$samsungBtfUrl;
		    			}
		    			if(strpos($imgurl,"www.amazon.in") !== false)
						{
							
							$eventBtfName="amazon_mweb_gnshop_BTF";
							
							$amzBtfbannerUrl = $imgurl;
							$amzBtfbannerUrl = str_replace("https://www.amazon.in","", $amzBtfbannerUrl);
							if(strpos($amzBtfbannerUrl,"?") == false)
							{
								$amzBtfbannerUrl =$amzBtfbannerUrl."?tag=timofind-21";
							}else
							{
								$amzBtfbannerUrl =$amzBtfbannerUrl."&tag=timofind-21";
							}
							$amzBtfbannerUrl = rawurlencode($amzBtfbannerUrl);
							$amzBtfbannerUrl = $amzBtfbannerUrl."&utm_campaign=mweb_gnshop_promowidget-21&utm_source=mweb_gnshop&utm_medium=Affiliate&price=0&title".rawurlencode($bannertext);
							$amzBtfbannerUrl = "http://m.gadgetsnow.com/affiliate_amazon.cms?url=".$amzBtfbannerUrl;
							$imgBtfurl=$amzBtfbannerUrl;
						}
						break;
						}
						
						}
						  }*/
				?>
	
	<?php 
	if($leafTitle !== "huaweistore")
	{
	if(isset($btfBannerActive) && $btfBannerActive == 'Y') {?>
	<a target="_blank" rel="nofollow sponsored" data-ga-track="<?=$btfEventAction?>##|<?=$btfImgpath?>|<?=$btfBannerurl?>|##0" href="<?=$btfBannerurl?>">
	<img class='lazy' width='100%' data-original="<?=$btfImgpath?>" /></a>
	<?php }
	 else {?>
	<div id='div-gpt-ad-1481557438932-1' class="primeuser displaynone" >
			<script>
				googletag.cmd.push(function() { googletag.display('div-gpt-ad-1481557438932-1'); });
			</script>
			</div>
	<?php } }?>
			
<!-- /7176/GadgetsNow_Mweb/GadgetsNow_Mweb_Shop/GadgetsNow_Mweb_Shop_FBN -->
	
<?php 
	?>

		<!-- /7176/GadgetsNow_Mweb/GadgetsNow_Mweb_Shop/GadgetsNow_Mweb_Shop_Mrec1 -->
		<!-- div id='div-gpt-ad-1481557438932-3' style='display:none;'>
		<script>
		googletag.cmd.push(function() { googletag.display('div-gpt-ad-1481557438932-3'); });
		</script>
		</div -->
</div>
<?php } ?>
<!-- NOT for APP -->

<!-- for Universal Analytics -->
<?php
$url = "";
$isLive=$GLOBALS['general']['IS_LIVE'];
 if(isset($_SERVER['HTTP_HOST']))
 {
 	$url = parse_url($_SERVER['HTTP_HOST']);
 }   	
if($leafTitle=="checkout" || $leafTitle=="payment" || $leafTitle=="cartPage"){
	$loginstatus = "registration_user";
	if(isset($isUserLogin) && $isUserLogin==="true"){
		if($userName==="Guest"){
			$loginstatus = "guest_user";
		 }
	}
	$isUserLogin = "false";
	$userloingstatus = "true";
	if(isset($_SESSION['userLogin'])){
		$isUserLogin = "true";
	}
	if(!(isset($isUserLogin) && $isUserLogin==="true")){
		$userloingstatus = "false";
	}
	if(isset($_SESSION['shoppingCart'])){
		$itemObjlist=$_SESSION['shoppingCart']->getShoppingList()->getShoppingListItems();
		foreach ( $itemObjlist as $key => $productObj ) {
			$item=new ShoppingListItem();
			if (get_class($productObj)=='stdClass') {
				Utils::Cast($item, $productObj);
			}else {
				$item=$productObj;
			}?>
			<input type="hidden" name="loginstatus" value="<?=$loginstatus;?>" />
			<input type="hidden" name="userloingstatus" value="<?=$userloingstatus;?>" />
			<input type="hidden" class="ua-cart-size" value="id~<?=$item->getProductId()?>##name~<?=$item->getProductName()?>##category~<?=$item->getProdCatalogName()?>|<?=$item->getProductCategoryId()?>|<?=$item->getCategoryName()?>##price~<?=$item->getBasePrice()?>##quantity~<?=$item->getQuantity()?>" />
	<?php	}
	}
}
?>
<!-- for Universal Analytics -->

<?php if($leafTitle=="category"){ ?>
<!-- sort filter start -->
<div class="refine-search-ui refine-top-list displaynone">
	<nav>
		
       <p class="refine-header-ui"><span class="flt refine-filter-heading">Filter By</span> <span class="refine-cancel-ui remove-animation flr">Cancel</span></p>
       <?php if(!isset($mobileHandset)) {?>
	   <p class="refine-list-apply-button-ui"><span class="apply-ui remove-animation flt">Apply</span><span data-ga-track="refine_search_reset_all##cancel##reset_all_filter##0" class="reset-ui flr">Reset All</span></p>
	   <?php } ?>
        <dl>

<?php
$param ="";
if(isset($_GET['queryParam']))
{
	$param = $_GET['queryParam'];
}
if(isset($refineSearch,$refineSearch->filters))
{
$extns = $refineSearch->filters;
foreach($extns as $extn){
	$filterTitle = $extn->filterTitle;
	$counterText="";
	if(isset($filterTitle) && isset($extn->list) && sizeof($extn->list)>0){
		$list = $extn->list;
		$item = $list[0];
		$key = $item->filterKey;
		if(strpos($param,$key) !== false )
			{			
				$count = substr_count($param,$key);
				$counterText = $count." Selected";
			}	
			if($key == 'BRAND')
			{
				$checkFilterUrl = $_SERVER ['REQUEST_URI'];
				if ( strpos ( $checkFilterUrl, "/brand-" ) !== false) 
	    		{
	    		if(!isset($count))
	    			{
	    			$count = 0;
	    			}
	    			$count = $count +1;
	    		$counterText = $count." Selected";
	    			
	    		}
			}	
			
	?>
	
		<dd class="displayblock">
			<?php if(isset($mobileHandset) || $filterTitle==='Categories') {?>
			<div class="filter-list-back-ui displaynone"><span class="flt filter-text-ui"><button> Back Filters</button></span></div>
			<?php }else{ ?>
			<div class="filter-list-back-ui displaynone"><span class="flt filter-text-ui"><button> Add Filters</button></span> <span class="flt counter-list-ui">&nbsp;</span><span class="flt filter-reset-ui displaynone">Reset</span><span class="flt filter-reset-back">Back</span></div>
			<?php } ?>
		    <div class="mobile-collapse-ui mobile-collapse-ui-plus filter-list-refine"><span class="flt filter-text-second-ui"><?=$filterTitle?></span><span class="counter-list-ui flt">&nbsp;<?=$counterText ?></span></div>
			
			<?php if(isset($list)){?>
			<ul class="mobile-ul-ui-list-none mobile-ul-ui-list">
		<?php foreach($list as $listItem){
			$productCount = $filterUrl = $productName = null;
		if(isset($listItem->URL)){
			$filterUrl = $listItem->URL;
			$productName = $listItem->name;
			$filterKey = $filterValue = null;
			if(isset($listItem->filterKey) && isset($listItem->filterValue)){
				$filterKey = $listItem->filterKey;
				$filterValue = $listItem->filterValue;
				
				if(strpos($filterValue,"###") != false)
				{
					$tokens = explode("###",$filterValue);
					$gc = $tokens[0];
					$dis = $tokens[1];
					if(isset($dis))
					{
						$type = substr($dis,-2);
						if($type == "pc")
						{
							$displayType = "%";
						}else
						{
							$displayType = "Rs.";
						} 
						if(strpos($dis,".0") !=false)
						{
							$displayDiscount = substr($dis,0,-4);
						}
						$productName = $displayDiscount.$displayType." Off [".$gc."]";
					}
				}
				
				
				
			}
				$class = "";
			if(isset($listItem->productCount)){$productCount = $listItem->productCount;}
			 if(isset($productName)){ 
			$filterUrl = $listItem->URL;
			 if(($key == 'BRAND') && isset($filterUrl)  && isset($brandUrlValue) && (strpos ( $filterUrl, $brandUrlValue ) !== false)){ 
			 				$class = " active";
			 
				}
				if(isset($filterKeyArray)){

					if (array_key_exists($filterKey,$filterKeyArray)){
					$sFilter = $filterKeyArray[$filterKey];
	
					foreach($sFilter as $selectValue){
						if($selectValue == $filterValue){
							$class = " active";
					 }}}}?> 

						<li><a href="#"  <?php if((isset($mobisleHandset) && $mobileHandset)|| $filterTitle==='Categories') {?> class="notmobile backgroundnone" <?php }else{ ?> class="categories<?=$class?>"<?php } ?> data-filter-url="<?=handleStrAndDefault($filterUrl, "")?>" data-filter-type="<?=handleStrAndDefault($filterKey, "")?>" data-filter-value="<?=urlencode(handleStrAndDefault($filterValue, ""))?>"><?php echo $productName; if(isset($productCount)){echo "(".$productCount.")";}?></a></li>
						
<?php  }}}}?>
                </ul>
            </dd>
<?php }}} ?>            
            
        </dl>
	</nav>
	</div>
<!-- sort filter end -->
<?php } ?>

<!-- pinpoint search -->
<!-- sort filter start -->
<?php
if(isset($refineSearch) && $leafTitle=="pinPoint"){
?>
<div class="refine-search-ui refine-top-list displaynone zindexless">
	<nav>
		
       <p class="refine-header-ui"><span class="flt refine-filter-heading">Filter By</span> <span class="refine-cancel-ui remove-animation flr">Cancel</span></p>
       <?php if(!isset($mobileHandset)) {?>
	   <p class="refine-list-apply-button-ui"><span class="apply-ui remove-animation flt">Apply</span><span class="reset-ui flr">Reset All</span></p>
	   <?php } ?>
        <dl>
<?php
$extns = $refineSearch->filters;
foreach($extns as $extn){
	$filterTitle = $extn->filterTitle;
	if(isset($filterTitle) && isset($extn->list) && sizeof($extn->list)>0) {
		$list = $extn->list;
	?>
		<dd class="displayblock">
			<?php if(isset($mobileHandset)) {?>
			<div class="filter-list-back-ui displaynone"><span class="flt filter-text-ui"><button> Back Filters</button></span></div>
			<?php }else{ ?>
			<div class="filter-list-back-ui displaynone"><span class="flt filter-text-ui"><button> Add Filters</button></span> <span class="flt counter-list-ui">&nbsp;</span><span class="flt filter-reset-ui displaynone">Reset</span><span class="flt filter-reset-back">Back</span></div>
			<?php } ?>
		    <div class="mobile-collapse-ui mobile-collapse-ui-plus filter-list-refine"><span class="flt filter-text-second-ui"><?=$filterTitle?></span><span class="counter-list-ui flt">&nbsp;</span></div>
			
			<?php if(isset($list)){?>
			<ul class="mobile-ul-ui-list-none mobile-ul-ui-list">
<?php 	foreach($list as $listItem){
			$productCount = $filterUrl = $productName = null;
		if(isset($listItem->URL)){
			$filterUrl = $listItem->URL;
			$productName = $listItem->name;
			$filterKey = $filterValue = null;
			if(isset($listItem->filterKey) && isset($listItem->filterValue)){
				$filterKey = $listItem->filterKey;
				$filterValue = $listItem->filterValue;
				
				if(strpos($filterValue,"###") != false)
				{
					$tokens = explode("###",$filterValue);
					$gc = $tokens[0];
					$dis = $tokens[1];
					if(isset($dis))
					{
						$type = substr($dis,-2);
						if($type == "pc")
						{
							$displayType = "%";
						}else
						{
							$displayType = "Rs.";
						}
						if(strpos($dis,".0") !=false)
						{
							$displayDiscount = substr($dis,0,-4);
						}
						$productName = $displayDiscount.$displayType." Off [".$gc."]";
					}
				}
			} 
			$filterValue="test";
			if(isset($listItem->productCount)){$productCount = $listItem->productCount;}
			if(isset($productName)){ 
?>             
				<li><a href="#" <?php if(isset($mobileHandset) && $mobileHandset) {?> class="notmobile backgroundnone" <?php } ?> data-filter-url="<?=handleStrAndDefault($filterUrl, "")?>" data-filter-type="<?=handleStrAndDefault($filterKey, "")?>" data-filter-value="<?=urlencode(handleStrAndDefault($filterValue, ""))?>">--------<?php echo $productName; if(isset($productCount)){echo "(".$productCount.")";}?></a></li>

<?php  }}}}?>
                </ul>
            </dd>
<?php }} ?>            
            
        </dl>
	</nav>
	</div>
	<?php } ?> 
<!-- sort filter end -->
<!-- pinpoint search -->
<?php if($leafTitle=="product"){?>
<div class="product-zoom-img zindex">
    	<a href="#" class="product-zoom-close remove-animation">Close</a>
    	<!-- figure>
        	<img src="/mobile/img/AjaxLoader.gif"  />
        </figure -->
				<?php //Logic to fetch UREAD images directly
                 	 	if(isset($productid) && (strpos($productid , 'U') !== false) && isset($catalogid) && ($catalogid === '10011')){ 
                   	 		$ureadimgURL ='http://images3.uread.com/productimages/images200/';
                   	 		$isbn13 = substr($productid, 1);
                   	 		$pIdcat = substr($productid, -3);
                   	 		$productimageURL = $ureadimgURL.$pIdcat."/".$isbn13.".jpg";
           	 	?>
    	<section>
			<div id="product-gallery-casousel" class="owl-carousel">
           	 	<img class="lazy" data-small-img="<?=handleStr($productimageURL)?>" data-original="<?=handleStr($productimageURL)?>" src="<?=handleStr($productimageURL)?>" />
			</div>
		</section>
			<?php } else { ?>
						
		<?php if($product->getAdditionalImage()) {?>
		<section>
			<div id="product-gallery-casousel" class="owl-carousel">
				 <?php foreach($product->getAdditionalImage() as $img){ if(isset($img)){
					$tempImg = $img;
					if(strpos($img,"http:")===false){$tempImg = $staticUrl.$img;}
						?>
				<img class="lazy" data-small-img="<?=str_replace("/original/","/small/",handleStr($tempImg))?>" data-original="<?=str_replace("/original/","/large/",handleStr($tempImg))?>" src="" />
				<?php }} ?>
			</div>
		</section>
		<?php } ?>
		<?php } ?>

						
 </div>
 <?php if(isset($product) && ($product->getProductId() == "G20419" || $product->getProductId()=="G20421")) {?>
 <!-- LYF POP Banner -->
 <div class="lyfpop" style="position: fixed;top: 56px; width: 100%; z-index: 10000">
    <!-- a href="#" class="lyfpopclose" style="text-align:right; line-height:30px; padding-right:5%; width:97%; display:block; background:#fff">Close</a -->
    <?php if($product->getProductId() == "G20419") {?>
     <a href="/mobiles/smart-phones/lyf-c459-4g-volte-8gb-black-/10021/p_G28429" data-ga-track="LYFPOPWAP##<?=$productid?>|black##pdp##0">
		<img src="http://img1.gadgetsnow.com/gd/imgbn/lyfpopwapsite.jpg" width="100%"/>
	</a>
    <?php }elseif($product->getProductId() == "G20421") {?>
   <a href="/mobiles/smart-phones/lyf-c459-4g-volte-8gb-blue-/10021/p_G28431 " data-ga-track="LYFPOPWAP##<?=$productid?>|blue##pdp##0">
		<img src="http://img1.gadgetsnow.com/gd/imgbn/lyfpopwapsite.jpg" width="100%"/>
	</a>
    <?php }?>
</div>
<!-- LYF POP Banner end -->
<?php } ?>

<?php } ?>




</div>
<!-- container end -->
<script src="/mobile/js/jquery-1.10.2.min.js"></script>
<script src="/mobile/js/owl.carousel.js"></script>
<script src="/mobile/js/validator.js"></script>
<script src="/mobile/js/searchSuggest.js"></script>
<script src="/mobile/js/jquery.barrating.js"></script>
<?php if($leafTitle=="payment"){?>
<script src="/mobile/js/combinedCheckoutLib.js"></script>
<script src="/mobile/js/webtoolkit.base64.js"></script>
<script src="/mobile/js/payment.js"></script>
<?php } ?>
<script>
	paramsObj.pageUri = "<?=$uri;?>"; 
	<?php if($leafTitle=="product"){?>
	paramsObj.PageProductId = '<?=handleStr($product->getProductId())?>';
	paramsObj.DealProductId = '<?php echo $dealproductId;?>';
	paramsObj.dealType = '<?php if(isset($dealType)) { echo $dealType; } ?>';
	paramsObj.dealends = '<?php if(isset($endDate)) { echo $endDate; } ?>';
	<?php } ?>
	<?php if($leafTitle=="bid2win"){?>
	paramsObj.PageProductId = '<?=$pageProductId?>';
	paramsObj.DealProductId = '<?php echo $dealproductId;?>';
	paramsObj.dealType = '<?php if(isset($dealType)) { echo $dealType; } ?>';
	paramsObj.dealends = '<?php if(isset($endDate)) { echo $endDate; } ?>';
	<?php } ?>
</script>
<script src="/mobile/js/ga-track.js"></script>
<script src="/mobile/js/jquery.cookie.js"></script>
<script src="/mobile/js/common.js"></script>
<script>
if(geo_continent!="EU" && geo_country!="US" && geo_region!="CA"){
var zeroscript = document.createElement("script"), elzero = document.getElementsByTagName("script")[0]; zeroscript.async = false;
zeroscript.src = (document.location.protocol == "https:" ? "https://" : "http://") + "shop.gadgetsnow.com/gsearch/zerogn.php";
elzero.parentNode.insertBefore(zeroscript, elzero);
$("#tagman").attr("src","//www.googletagmanager.com/ns.html?id=GTM-KGN9KL");
}
</script>
<script type="text/javascript" src=""></script>

<!-- Google Tag Manager -->
<?php if( $isLive == 'Y') {?>
<noscript><iframe id="tagman" src="" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>
if(geo_continent!="EU" && geo_country!="US" && geo_region!="CA"){
(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-KGN9KL');
}
</script>
<?php }?>
<!-- End Google Tag Manager -->



<?php
//   $googleAnalyticsImageUrl = googleAnalyticsGetImageUrl();
?>
<!-- <img src="<//?= $googleAnalyticsImageUrl ?>" width="1" height="1" /> -->
<?php if($leafTitle=="product"){?>
   <?php if($product->getInventoryFlag()==true){?>
	<!-- div class="floating"><a class="flat-orange" href=#>Buy Now</a></div -->
<?php } }?>

<script>
if(geo_continent!="EU" && geo_country!="US" && geo_region!="CA"){
  var _comscore = _comscore || [];
  _comscore.push({ c1: "2", c2: "6036484" });
  (function() {
    var s = document.createElement("script"), el = document.getElementsByTagName("script")[0]; s.async = true;
    s.src = (document.location.protocol == "https:" ? "https://sb" : "http://b") + ".scorecardresearch.com/beacon.js";
    el.parentNode.insertBefore(s, el);
  })();
  
	var clm = document.createElement("script"), els = document.getElementsByTagName("script")[0]; clm.async = true;
	clm.src = (document.location.protocol == "https:" ? "https://" : "http://") + "static.clmbtech.com/ase/2658/1484/aa.js";
	els.parentNode.insertBefore(clm, els);
	var facebook = document.createElement("script"), elscrpt = document.getElementsByTagName("script")[0]; facebook.async = false;
	facebook.src = "/mobile/js/facebook-scripts.js";
	elscrpt.parentNode.insertBefore(facebook, elscrpt);
	$("#comscoreimg").attr("src","https://b.scorecardresearch.com/p?c1=2&c2=6036484&cv=2.0&cj=1");
}
  if(geo_continent=="EU" && geo_country!="US" && geo_region!="CA"){
			$(".mh-40 .buy-button, .check-cod, .question-section, .rating-review, .knockout-buybutton, .knockoutcontainer-one table, .knockout-buybutton-show, .amazing-one table, .buynow,.outofstock, .ctn-ads-pdp, .mobile_share_options, .codtext, .ctn-ads-home-list").css('display','none');
	}	
</script>
<noscript>
  <img id="comscoreimg" src="" />
</noscript>
<script type='text/javascript'>
	function _isPrimeUserFun(){
		//alert(1);
		$("body").removeClass("bodyctn");
		$(".primeuser").removeClass("displaynone");
		$("*[data-slot=256682]").removeClass("adsCheck");
		(function() {
		if(geo_continent!="EU" && geo_country!="US" && geo_region!="CA"){
			var gads = document.createElement('script');
			gads.async = true;
			gads.type = 'text/javascript';
			var useSSL = 'https:' == document.location.protocol;
			gads.src = (useSSL ? 'https:' : 'http:') + 
			'//www.googletagservices.com/tag/js/gpt.js';
			var node = document.getElementsByTagName('script')[0];
			node.parentNode.insertBefore(gads, node);
		}
		})();
	}
</script>
</body>
</html>

