<div class="article_txt viewgaevent">
              <div class="trendin_news">
                  <h3 class="heading bold" >Latest News</h3>
                  <ul class="trendin_news_list">
               <?php 
               $index=0;
               foreach($newsListJson as $news)
 		       {
 		       	$index = $index +1;
 		       	 if($index == 6) break;
 		       	 $link = $news['wu'];
 		          ?>
                        <li data-list=<?=$index?>>
                        <a href="<?=$link?>" target="_blank" 
                        data-ga-track="Gnshop_Mweb_pdp_LatestNews_Click##Click_<?php echo $productName?>##<?=$index?>_<?=$link?>##0" ><?php print_r($news['hl']);?></a>
                    </li> 
                    <?php } ?>               
                                                 
                  </ul>
              </div>                     
            </div>
            
          