      <div class="termscontainer display-none">
          <div class="content">
            <div class="details">
              <span>
                We have updated our
                <a
                  href="https://www.gadgetsnow.com/termsandcondition"
                  class="link"
                  target="_blank"
                >
                  Terms of Use
                </a> and  
                <a
                  href="https://www.gadgetsnow.com/privacypolicy"
                  class="link"
                  target="_blank"
                >
                  Privacy Policy
                </a>
                .
              </span>
              <p>
                Please read both the documents carefully. Your continued use of
                the site and services constitutes your binding acceptance of
                such updates.
              </p>
            </div>

            <button class="ok" type="button">
              OK
            </button>
          </div>
        </div>
      