<!-- Commenting widgets gadgets start -->
	<div class="widgets-gadgets countryblock">
		<h2 class="widgets-heading overflowhidden">
				<div class="col-sm-12">Gadgets</div>
		</h2>
		<div data-module="gadgets_category" class="gdgt_nav check-carousel overflowhidden">
		   <ul class="newcarousel" data-width-list="102">
			  <li><a href="#" data-tab-c="smartphones" class="icon-mobile active">Smartphones</a></li>
			  <li><a href="/laptops" class="icon-laptop">Laptops</a></li>
			  <li><a href="/tablets" class="icon-tablet">Tablets</a></li>
			  <li><a href="/televisions" class="icon-tv">TVs</a></li>
			  <li><a href="/ac" class="icon-ac">ACs</a></li>
			  <li><a href="/refrigerator" class="icon-refrigerator">Refrigerator</a></li>
			  <li><a href="/washing-machine" class="icon-washingmachine">Washing M/Cs</a></li>
			  <li><a href="/personal-grooming" class="icon-personal-grooming" style="padding: 4px 0;">Personal Grooming</a></li>
			  <li><a href="/watches" class="icon-watches">Watches</a></li>
			  <li><a href="/microwave" class="icon-microwave">Microwave</a></li>
		   </ul>
		</div>
	</div>
<!-- widgets tab start -->
	<div class="widgets-tab overflowhidden countryblock" id="smartphones">
			<div class="widgets-tab-header overflowhidden">
				<ul class="overflowhidden closest">
					<li class="col-sm-4 text-right"><a data-tab="smartphones-latest##one" class="btn-color btn click-tab display-inline text-center" href="#">Latest</a></li>
				<?php if( isset($trendingInfoArray)  && sizeof($trendingInfoArray) > 0)  { ?>
					<li class="col-sm-4 text-left"><a data-tab="smartphones-trending##one" class="btn display-inline click-tab text-center"  href="#">Trending</a></li>
					<?php } ?>
					<li class="col-sm-4 text-left"><a data-tab="smartphones-popular##one" class="btn display-inline click-tab text-center"  href="#">Popular</a></li>
				</ul>
			</div>
			<div class="widgets-tab-container">
				<ul id="smartphones-latest" class="overflowhidden one">
				<?php if( isset($latestInfoArray)  && sizeof($latestInfoArray) > 0) 
					  {
						$max_counts = 0;
						foreach($latestInfoArray as $latestInfo)
						{
							$productName = $latestInfo['PAGE_NAME'];
							if( isset($max_counts)  &&   ($max_counts >= 5 )  )
							{
								break;
							}
							$max_counts = $max_counts + 1;
							$eventName = str_replace(" ","_",$latestInfo['PAGE_NAME']);
							if(isset($latestInfo['PRODUCT']))
							{
								
							}
							$productlatest = $latestInfo['PRODUCT'];
							$url = $productlatest['url'];
							$affiliatename = $productlatest['afname'];
							$latestEventC=$affiliatename."|gnshop|mweb|".$pagename."|latest";
							$latestEventAction="click";
							$latestEventLabel="NA|".$productName."|NA";
					?>
					<li>
						<a data-ga-track="<?=$latestEventC?>##<?=$latestEventAction?>##<?=$latestEventLabel?>##0" href="<?=$latestInfo['PAGE_URL']?>"
							<?php if($affiliatename !== "SGN") { ?>target="_blank" <?php } ?>>
							<div class="row overflowhidden">
								<div class="col-sm-3 text-center product-img">
									<img data-original="<?=$productlatest['imageurl']?>" alt="<?=$productlatest['productname']?>" class="img lazy v-align-middle" />
								</div>
								<div class="proudct-details col-sm-9">
										<div class="title"><?=$productlatest['productname']?></div>
										<!-- div class="offer-text">Includes <span class="rp">1599</span> Cashback</div-->
										<div class="price-tab overflowhidden pdt-10">
											<div class="col-sm-4"><span class="rp price bold"><?=$productlatest['price']?></span></div>
											<?php if($affiliatename !== "SGN") { ?>
											<div class="col-sm-8 buyat text-right">
											<a href="<?=$url?>" target="_blank" rel="nofollow sponsored">
											BUY AT <?=strtoupper($affiliatename)?> 
											</a></div>
											<?php } ?>
										</div>
										
								</div>
							</div>
						</a>
					</li>
					<?php } } ?>
					 
				<!-- <a class="display-block btn uppercase text-center bold border-radius-5 btn-color-black-blue" href="#">see more latest mobiles</a> -->
				</ul>
				<ul id="smartphones-trending" style="height:0" class="overflowhidden one">
				<?php if( isset($trendingInfoArray)  && sizeof($trendingInfoArray) > 0) 
					  {
						$max_counts = 0;
						foreach($trendingInfoArray as $trendingInfo)
						{
							$productName = $trendingInfo['PAGE_NAME'];
							if( isset($max_counts)  &&   ($max_counts >= 5 )  )
							{
								break;
							}
							$max_counts = $max_counts + 1;
							$eventName = str_replace(" ","_",$trendingInfo['PAGE_NAME']);
							if(isset($trendingInfo['PRODUCT']))
							{
									$producttrending = $trendingInfo['PRODUCT'];
							$url = $producttrending['url'];
							$affiliatename = $producttrending['afname'];
							}
						
							$trendingEventC=$affiliatename."|gnshop|mweb|".$pagename."|latest";
							$trendingEventAction="click";
							$trendingEventLabel="NA|".$productName."|NA";
							if(isset($producttrending)){
					?>
					<li>
						<a class="display-block" data-ga-track="<?=$trendingEventC?>##<?=$trendingEventAction?>##<?=$trendingEventLabel?>##0" href="<?=$trendingInfo['PAGE_URL']?>">
							<div class="row overflowhidden">
								<div class="col-sm-3 text-center product-img">
									<img data-original="<?=$producttrending['imageurl']?>" alt="<?=$producttrending['productname']?>" class="img lazy v-align-middle" />
								</div>
								<div class="proudct-details col-sm-9">
										<div class="title"><?=$producttrending['productname']?></div>
										<!-- div class="offer-text">Includes <span class="rp">1599</span> Cashback</div -->
										<div class="price-tab overflowhidden pdt-10">
											<div class="col-sm-4"><span class="rp price bold"><?=$producttrending['price']?></span></div>
											<?php if($affiliatename !== "SGN") { ?>
											<div class="col-sm-8 buyat text-right">
											<a href="<?=$url?>" target="_blank" rel="nofollow sponsored">
											BUY AT <?=strtoupper($affiliatename)?> 
											</a></div>
											<?php } ?>
										</div>
										
								</div>
							</div>
						</a>
					</li>
					<?php } else if (isset($trendingInfo['PAGE_NAME'])){ ?>
					
					<li>
						<a class="display-block" data-ga-track="<?=$trendingEventC?>##<?=$trendingEventAction?>##<?=$trendingEventLabel?>##0" href="<?=$trendingInfo['PAGE_URL']?>">
							<div class="row overflowhidden">
								<div class="col-sm-3 text-center product-img">
								</div>
								<div class="proudct-details col-sm-9">
										<div class="title"><?=$trendingInfo['PAGE_NAME']?></div>
										
										
								</div>
							</div>
						</a>
					</li>
					 <?php } } }?>
					 
					<!-- <a class="display-block btn uppercase text-center bold border-radius-5 btn-color-black-blue" href="#">see more Trending mobiles</a> -->
				</ul>
				<ul id="smartphones-popular" style="height:0" class="overflowhidden one">
				<?php if( isset($popularInfoArray)  && sizeof($popularInfoArray) > 0) 
					  {
						$max_counts = 0;
						foreach($popularInfoArray as $popularInfo)
						{
							$productName = $popularInfo['PAGE_NAME'];
							if( isset($max_counts)  &&   ($max_counts >= 5 )  )
							{
								break;
							}
							$max_counts = $max_counts + 1;
							$eventName = str_replace(" ","_",$popularInfo['PAGE_NAME']);
							if(isset($popularInfo['PRODUCT']))
							{
								
							}
							$productpopular = $popularInfo['PRODUCT'];
							$url = $productpopular['url'];
							$affiliatename = $productpopular['afname'];
							
							$popularEventC=$affiliatename."|gnshop|mweb|".$pagename."|latest";
							$popularEventAction="click";
							$popularEventLabel="NA|".$productName."|NA";
					?>
					<li>
						<a class="display-block" data-ga-track="<?=$popularEventC?>##<?=$popularEventAction?>##<?=$popularEventLabel?>##0" href="<?=$popularInfo['PAGE_URL']?>">
							<div class="row overflowhidden">
								<div class="col-sm-3 text-center product-img">
									<img data-original="<?=$productpopular['imageurl']?>" alt="<?=$productpopular['productname']?>" class="img lazy v-align-middle" />
								</div>
								<div class="proudct-details col-sm-9">
										<div class="title"><?=$productpopular['productname']?></div>
										<!-- div class="offer-text">Includes <span class="rp">1599</span> Cashback</div -->
										<div class="price-tab overflowhidden pdt-10">
											<div class="col-sm-4"><span class="rp price bold"><?=$productpopular['price']?></span></div>
											<?php if($affiliatename !== "SGN") { ?>
											<div class="col-sm-8 buyat text-right">
											<a href="<?=$url?>" target="_blank" rel="nofollow sponsored">
											BUY AT <?=strtoupper($affiliatename)?> 
											</a></div>
											<?php } ?>
										</div>
										
								</div>
							</div>
						</a>
					</li>
					<?php } } ?>
					 
					<!-- <a class="display-block btn uppercase text-center bold border-radius-5 btn-color-black-blue" href="#">see more Popular mobiles</a> -->
				</ul>
			</div>
	</div>
	<!-- widgets tab end -->
	
	
	<!-- widgets tab start -->
	<!--div class="widgets-tab overflowhidden" id="laptop" style="height:0">
			<div class="widgets-tab-header overflowhidden">
				<ul class="overflowhidden closest">
					<li class="col-sm-4 text-right"><a data-tab="laptop-latest##two" class="btn-color btn click-tab display-inline text-center" href="#">Latest</a></li>
					<li class="col-sm-4 text-left"><a data-tab="laptop-trending##two" class="btn display-inline click-tab text-center"  href="#">Trending</a></li>
					<li class="col-sm-4 text-left"><a data-tab="laptop-popular##two" class="btn display-inline click-tab text-center"  href="#">Popular</a></li>
				</ul>
			</div>
			<div class="widgets-tab-container">
				<ul id="laptop-latest" class="overflowhidden two">
					<li>
						<a class="display-block" href="#">
							<div class="row overflowhidden">
								<div class="col-sm-3 text-center product-img">
									<img data-original="https://img2.gadgetsnow.com/gd/images/products/small/G73292/computer-laptop/laptops/hp-15-bs164tu-core-i5-4gb-1tb-15-6-fhd-dos-.jpg" class="img lazy v-align-middle" />
								</div>
								<div class="proudct-details col-sm-9">
										<div class="title">HP 15-bs164tu (Core i5, 4GB, 1TB, 15.6</div>
										<div class="offer-text">Includes <span class="rp">1599</span> Cashback</div>
										<div class="price-tab overflowhidden pdt-10">
											<div class="col-sm-4"><span class="rp price bold">6,999</span></div>
											<div class="col-sm-8 buyat text-right">BUY AT PAYTM MALL </div>
										</div>
										
								</div>
							</div>
						</a>
					</li>
					<li>
						<a class="display-block" href="#">
							<div class="row overflowhidden">
								<div class="col-sm-3 text-center product-img">
									<img data-original="https://img1.gadgetsnow.com/gd/images/products/additional/small/G42654_View_1.jpg" class="img lazy v-align-middle" />
								</div>
								<div class="proudct-details col-sm-9">
										<div class="title">Panasonic Eluga Ray 700 32GB (Mocha Gold, 3GB RAM)</div>
										<div class="offer-text">Includes <span class="rp">1599</span> Cashback</div>
										<div class="price-tab overflowhidden pdt-10">
											<div class="col-sm-4"><span class="rp price bold">6,999</span></div>
											<div class="col-sm-8 buyat text-right">BUY AT PAYTM MALL </div>
										</div>
										
								</div>
							</div>
						</a>
					</li>
					<a class="display-block btn uppercase text-center bold border-radius-5 btn-color-black-blue" href="#">see more latest laptop</a>
				</ul>
				<ul id="laptop-trending" style="height:0" class="overflowhidden two">
					<li>
						<a class="display-block" href="#">
							<div class="row overflowhidden">
								<div class="col-sm-3 text-center product-img">
									<img data-original="https://img1.gadgetsnow.com/gd/images/products/additional/small/G42654_View_1.jpg" class="img lazy v-align-middle" />
								</div>
								<div class="proudct-details col-sm-9">
										<div class="title">Honor 9 Lite 64GB (Sapphire Blue, 4GB RAM)</div>
										<div class="offer-text">Includes <span class="rp">1599</span> Cashback</div>
										<div class="price-tab overflowhidden pdt-10">
											<div class="col-sm-4"><span class="rp price bold">6,999</span></div>
											<div class="col-sm-8 buyat text-right">BUY AT PAYTM MALL </div>
										</div>
										
								</div>
							</div>
						</a>
					</li>
					<li>
						<a class="display-block" href="#">
							<div class="row overflowhidden">
								<div class="col-sm-3 text-center product-img">
									<img data-original="https://img5.gadgetsnow.com/gd/images/products/small/G44058/mobiles/smartphones/panasonic-eluga-ray-700-32gb-mocha-gold-3gb-ram-.jpg" class="img lazy v-align-middle" />
								</div>
								<div class="proudct-details col-sm-9">
										<div class="title">Honor 9 Lite 64GB (Sapphire Blue, 4GB RAM)</div>
										<div class="offer-text">Includes <span class="rp">1599</span> Cashback</div>
										<div class="price-tab overflowhidden pdt-10">
											<div class="col-sm-4"><span class="rp price bold">6,999</span></div>
											<div class="col-sm-8 buyat text-right">BUY AT PAYTM MALL </div>
										</div>
										
								</div>
							</div>
						</a>
					</li>
					<a class="display-block btn uppercase text-center bold border-radius-5 btn-color-black-blue" href="#">see more Trending laptop</a>
				</ul>
				<ul id="laptop-popular" style="height:0" class="overflowhidden two">
					<li>
						<a class="display-block" href="#">
							<div class="row overflowhidden">
								<div class="col-sm-3 text-center product-img">
									<img data-original="https://img1.gadgetsnow.com/gd/images/products/additional/small/G42654_View_1.jpg" class="img lazy v-align-middle" />
								</div>
								<div class="proudct-details col-sm-9">
										<div class="title">Honor 9 Lite 64GB (Sapphire Blue, 4GB RAM)</div>
										<div class="offer-text">Includes <span class="rp">1599</span> Cashback</div>
										<div class="price-tab overflowhidden pdt-10">
											<div class="col-sm-4"><span class="rp price bold">6,999</span></div>
											<div class="col-sm-8 buyat text-right">BUY AT PAYTM MALL </div>
										</div>
										
								</div>
							</div>
						</a>
					</li>
					<li>
						<a class="display-block" href="#">
							<div class="row overflowhidden">
								<div class="col-sm-3 text-center product-img">
									<img data-original="https://img5.gadgetsnow.com/gd/images/products/small/G44058/mobiles/smartphones/panasonic-eluga-ray-700-32gb-mocha-gold-3gb-ram-.jpg" class="img lazy v-align-middle" />
								</div>
								<div class="proudct-details col-sm-9">
										<div class="title">Honor 9 Lite 64GB (Sapphire Blue, 4GB RAM)</div>
										<div class="offer-text">Includes <span class="rp">1599</span> Cashback</div>
										<div class="price-tab overflowhidden pdt-10">
											<div class="col-sm-4"><span class="rp price bold">6,999</span></div>
											<div class="col-sm-8 buyat text-right">BUY AT PAYTM MALL </div>
										</div>
										
								</div>
							</div>
						</a>
					</li>
					<a class="display-block btn uppercase text-center bold border-radius-5 btn-color-black-blue" href="#">see more Popular laptop</a>
				</ul>
			</div>
	</div -->
	<!-- widgets tab end -->
	<?php if( isset($trendingInfoArray_catalog)  && sizeof($trendingInfoArray_catalog) > 0) 
					  { ?>
<section>
	<div class="full-specifications mg-10">
		<h2 class="heading bold">Trending</h2>
		<div class="overflowhidden text-justify gad_spec">
			<div class="specs">
			<ul class="list1" style="display: block">
			<?php 
						$max_counts = 0;
						foreach($trendingInfoArray_catalog as $trendingInfo)
						{
							$productName = $trendingInfo['PAGE_NAME'];
							if( isset($max_counts)  &&   ($max_counts >= 5 )  )
							{
								break;
							}
							$max_counts = $max_counts + 1;
							$eventName = str_replace(" ","_",$trendingInfo['PAGE_NAME']);
							if(isset($trendingInfo['PRODUCT']))
							{
									$producttrending = $trendingInfo['PRODUCT'];
							$url = $producttrending['url'];
							$affiliatename = $producttrending['afname'];
							}
						
							$trendingEventC=$affiliatename."|gnshop|mweb|".$pagename."|latest";
							$trendingEventAction="click";
							$trendingEventLabel="NA|".$productName."|NA";
							 if (isset($trendingInfo['PAGE_NAME'])){ ?>
					
					<li>

						<a class="display-block" data-ga-track="<?=$trendingEventC?>##<?=$trendingEventAction?>##<?=$trendingEventLabel?>##0" href="<?=$trendingInfo['PAGE_URL']?>"><?=$trendingInfo['PAGE_NAME']?></a>
					</li>
					 <?php } } ?>
				
			</ul>
			</div>
		</div>
	</div>
</section>
<?php } ?>