<section>
<div class="text-ceter display-block overflowhidden clr">
<?php 

if(!isset($affiliateBannerActive1) || $affiliateBannerActive1==='N') { ?>
	<!-- /7176/GadgetsNow_Mweb/GadgetsNow_Mweb_Shop/GadgetsNow_Mweb_Shop_Mrec -->
	<?php include __DIR__ . "Merc-banner.phtml"; ?>
	
<?php } elseif(isset($promonofollowtag1)) {?>
	<div class="seealso-sponsored countryblock text-center">
	<h2 class="heading bold text-left"> Promoted </h2>
	<a class="display-block  widgets-banner " <?=$promonofollowtag1?> 
	   data-ga-track="<?=$promoEventcat1?>##<?=$promoEventaction1?>##<?=$promoEventlabel1?>##0"  target="_blank" 
	href="<?php if(isset($promoBannerurl1)) { echo $promoBannerurl1; }?>"><img class="img lazy" alt=<?php if(isset($promoBannertext1)) echo $promoBannertext1; ?> 
	data-original="<?php if(isset($promoImgpath1)){ echo $promoImgpath1; }else {?>/mobile/img/cashback-app-Banner.jpg<?php }?>"/></a>
	
<?php } ?>
	</div>
 </section>
