<section>
<div class="text-center display-block overflowhidden clr adcode">
<?php if(!isset($affiliateBannerActive2) || $affiliateBannerActive2==='N') { ?>
	<script>
  googletag.cmd.push(function() {
    googletag.defineSlot('/7176/GadgetsNow_Mweb/GadgetsNow_Mweb_Shop/GadgetsNow_Mweb_Shop_Mrec1', [300, 250], 'div-gpt-ad-1634647395348-0').addService(googletag.pubads());
    googletag.pubads().setTargeting('sg', _auds).enableSingleRequest();
    googletag.enableServices();
  });
</script>

<div class="promoted-ads">
<!-- /7176/GadgetsNow_Mweb/GadgetsNow_Mweb_Shop/GadgetsNow_Mweb_Shop_Mrec1 -->
<div id='div-gpt-ad-1634647395348-0' style='min-width: 300px; min-height: 250px;'>
    <script>
      googletag.cmd.push(function() { googletag.display('div-gpt-ad-1634647395348-0'); });
    </script>
  </div>
</div>	
	<?php } else {?>
	<div class="seealso-sponsored countryblock">
	<h2 class="heading bold text-left"> Promoted </h2>
	<!-- Promoted 2 -->
	<a class="display-block  widgets-banner " <?=$promonofollowtag2?> 
	   data-ga-track="<?=$promoEventcat2?>##<?=$promoEventaction2?>##<?=$promoEventlabel2?>##0"  target="_blank" 
	href="<?php if(isset($promoBannerurl2)) { echo $promoBannerurl2; }?>"><img class="img lazy" src="https://static.toiimg.com/photo/79837759.cms" alt=<?php if(isset($promoBannertext2)) echo $promoBannertext2; ?> 
	data-original="<?php if(isset($promoImgpath2)){ echo $promoImgpath2; }else {?>/mobile/img/cashback-app-Banner.jpg<?php }?>"/></a>
	
	</div>	
	<?php } ?>
	</div>
 </section>