<?php if($leafTitle != "dealofferArticle" && strpos($leafTitle,"huawei")===false && strpos($leafTitle,"honor")===false){?>
<section class="adcode">
		<div class='ctn-ads-home-list'>
				<!--div class="card productShowlist margin-10">
					<h2 class="heading bold">From Around the Web</h2>
				</div -->
				<div class="ctn-ads-home-list-row">
		 			<div id="div-clmb-ctn-1245" data-slot="327769" data-position="1245" data-section="0" class="colombia toi-product colombiaad"> </div>
				</div>
 				<!--div class="ctn-ads-home-list-row">
		 			<div id="div-clmb-ctn-1246" data-slot="256682" data-position="1246" data-section="0" data-cb="adwidgetfun" class="colombia toi-product colombiaad"> </div>
		 		</div>
		 		<div class="ctn-ads-home-list-row">
		 			<div id="div-clmb-ctn-1248" data-slot="256682" data-position="1248" data-section="0" data-cb="adwidgetfun" class="colombia toi-product colombiaad"> </div>
		 		</div>-->
		 		</div>
</section>
<?php }?>
<!-- Footer starts here -->
<?php /*
$requestUrl = $_SERVER['REQUEST_URI'] ;
$nudgeUrl="https://www.amazon.in/";
$aff_name="amazon";
$affiliateParamArray=array("productname"=>"Nudge","price"=>"NA","producturl"=>$nudgeUrl,"pagename"=>"all","widget"=>"nudge");
$affiliateLandingurl=AffiliateUrlCreator::createAffiliateUrl($aff_name,$affiliateParamArray);

 
<div class="amazon_nudge nudgeviewgaevent">
<a target="_blank" href="<?=$affiliateLandingurl?>" data-ga-track="SGN_Widget_nudge##Click##<?=$requestUrl?>##0">
<img alt="amazon_sale" src="https://static.toiimg.com/photo/79512588.cms"></a></div> 
 */
?>
<footer>

<?php if(isset($breadCrumb)) { 
		?>
				<ul class="breadcrumb">
					
					<?php $schemaposition = 0; 
					foreach($breadCrumb as $bcrumb)
	    				{
	    				$schemaposition = 1+$schemaposition;	
	    				?> 
					<li><a href="<?php print_r($bcrumb->URL); ?>"><span ><?php print_r($bcrumb->title); ?></span></a></li>
					<?php }
					if(isset($brandNameBreadCrum)  && isset($brandUrlBreadCrum)){
					?>
					<li><a href="<?php print_r($brandUrlBreadCrum); ?>"><span ><?php print_r($brandNameBreadCrum); ?></span></a></li>
					
					<?php } ?>
					<!-- <li>Product name</li> -->
				</ul>
				<?php }elseif(isset($breadcrumbJson)){?>
					
					<ul class="breadcrumb" itemtype="http://schema.org/BreadcrumbList">
						
					<?php $schemaposition = 0;
					foreach($breadcrumbJson as $key=>$value)
					{
						$schemaposition = 1+$schemaposition;
						?>
						<li><a href="<?php print_r($value); ?>"><span ><?php print_r($key); ?></span></a></li>
						<?php }?>
										
										<!-- <li>Product name</li> -->
									</ul>
				
				
				<?php }?>
				
				<?php if(isset($breadCrumb)) { 
					//print_r($breadcrumbJson);echo "<br>";
				
					?>
				
				<script type="application/ld+json">
					{
							  "@context": "http://schema.org",
							  "@type": "BreadcrumbList",
							  "itemListElement": [
							  {
									   "@type": "ListItem",
										"position": "1",
										"item": {
										  "@id": "https://shop.gadgetsnow.com",
										  "name": "home"
										}
									  }
							  <?php $schemapositionone = 0; 
								foreach($breadCrumb as $bcrumb)
									{
									$schemapositionone = 1+$schemapositionone;	
									?> 
										<?php if( $schemapositionone != 1) {?>
										,{
									   "@type": "ListItem",
										"position": "<?php echo $schemapositionone;?>",
										"item": {
										  "@id": "<?php print_r("https://shop.gadgetsnow.com".$bcrumb->URL); ?>",
										  "name": "<?php print_r($bcrumb->title); ?>"
										}
									  }
										<?php } }?>
							  
							   ]}
				</script>
				
				<?php }elseif(isset($breadcrumbJson)) { 
					//print_r($breadcrumbJson);echo "<br>";
				
					?>
				
				<script type="application/ld+json">
					{
							  "@context": "http://schema.org",
							  "@type": "BreadcrumbList",
							  "itemListElement": [
							  {
									   "@type": "ListItem",
										"position": "1",
										"item": {
										  "@id": "https://shop.gadgetsnow.com",
										  "name": "home"
										}
									  }
							  <?php $schemapositionone = 0; 
								foreach($breadcrumbJson as $key=>$value)
									{
									$schemapositionone = 1+$schemapositionone;	
									?> 
										<?php if( $schemapositionone != 1) {?>
										,{
									   "@type": "ListItem",
										"position": "<?php echo $schemapositionone;?>",
										"item": {
										  "@id": "<?php print_r("https://shop.gadgetsnow.com".$value); ?>",
										  "name": "<?php print_r($key); ?>"
										}
									  }
										<?php } }?>
							  
							   ]}
				</script>
				<?php } ?>

		<div class="row overflowhidden footer-line">
			<div class="col-sm-3">
				<div class="footer-gadgets-logo text-center"><a class="display-block" href="/"><img alt="Shop Gedgets Now" class="img v-align-middle" src="https://static.toiimg.com/photo/88204189.cms" /></a></div>
			</div>
			<div class="col-sm-9 footer-list text-left">
				<ul>
				   <li><a class="track" href="/aboutus" data-track="toifooter_About Us">About Us</a></li>
 				   <li><a class="track" href="https://www.gadgetsnow.com/donotsell.cms" target="_blank" data-track="toifooter_DonotSell">Do Not Sell Data</a></li>
				   <li><a class="track" href="https://www.gadgetsnow.com/privacypolicy" data-track="toifooter_Privacy Policy">Privacy Policy</a></li>
				   <?php if(isset($_COOKIE['geo_continent']))
						{
							$geoContinent = $_COOKIE['geo_continent'];
							$geoCountry=isset($_COOKIE['geo_country'])?$_COOKIE['geo_country']:'';
							$geoRegion=isset($_COOKIE['geo_region'])?$_COOKIE['geo_region']:'';
								
							if(strcasecmp($geoContinent,"EU")!=0 || (strcasecmp($geoCountry,"US")!=0 && strcasecmp($geoRegion,"CA")!=0))
							
							{								
						?>
				   <li class="adcode"><a class="adcode track" href="/bulkOrders" data-track="BULK BUY">Bulk Buy</a></li>
				   <li class="adcode"><a class="track" href="https://www.gadgetsnow.com/myaccount.cms" data-track="toifooter_Newsletter">Newsletter</a></li>
				   <li class="adcode"><a class="adcode track" href="/sellWithUs" data-track="SELL WITH US">Sell With Us</a></li>
				   <?php } }?>
				   <li><a class="track" href="/contactUs" data-track="toifooter_Refund Policy">Contact Us</a></li>
				   <li><a class="track" href="https://www.gadgetsnow.com/refund-policy" data-track="toifooter_Refund Policy">Refund Policy</a></li>
				   <li><a class="track" href="https://www.gadgetsnow.com/return-policy" data-track="toifooter_Return Policy">Return Policy</a></li>
				   <li><a class="track" href="https://www.gadgetsnow.com/termsandcondition" data-track="toifooter_Terms of Use">Terms of Use</a></li>
				   <li><a class="track" href="https://www.gadgetsnow.com/sitemap.cms" data-track="toifooter_Sitemap">Sitemap</a></li>
				   <li><a class="track" href="https://www.gadgetsnow.com/cookiepolicy.cms" data-track="toifooter_Sitemap">Cookie Policy</a></li>
				   
				      <?php if(isset($_COOKIE['geo_continent']))
					{
						$geoContinent = $_COOKIE['geo_continent'];
						$geoCountry=isset($_COOKIE['geo_country'])?$_COOKIE['geo_country']:'';
							$geoRegion=isset($_COOKIE['geo_region'])?$_COOKIE['geo_region']:'';
								
							if(strcasecmp($geoContinent,"EU")!=0 || (strcasecmp($geoCountry,"US")!=0 && strcasecmp($geoRegion,"CA")!=0))
							
						{								
						?>
				   <li class="adcode"><a class="track" href="https://www.gadgetsnow.com/myaccount.cms" data-track="toifooter_Newsletter">Newsletter</a></li>
				   <li class="adcode"><a class="euuser track" href="https://www.gadgetsnow.com/feedback.cms" data-track="toifooter_Feedback">Feedback</a></li>
				   <li class="adcode"><a class="euuser track" href="/help" data-track="toifooter_Feedback">Help</a></li>
				    <?php } }?>
				   <li><a class="track" href="/best-mobiles-deal-of-the-day" data-track="toifooter_deal of the day">Deal of the Day</a></li>
				   <li><a class="track" href="/flash-sale" data-track="toifooter_flash sale">Flash Sale</a></li>
				</ul>
			</div>
		</div>
		<div class="row overflowhidden">
			<div class="col-sm-12 text-center">
				<p class="footnote">Copyright <?php echo date("Y");?> &copy; Bennett, Coleman &amp; Co. Ltd. All rights reserved | <a href="http://timesofindia.indiatimes.com/">The Times of India</a>. For reprint rights: <span>Times Syndication Service</span></p>
			</div>
		</div>
	</footer>
</div>
<!-- container end-->

<!-- search start -->
	<div class="searchpage">
		<div class="search-header">
		  <table width="100%">
				<tr>
				   <td class="back-arrow text-center" width="40">
						<a href="#"><img alt="back arrow" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTkiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAxOSAxNiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMTcuNTU2IDcuODQ3aC0xNi41NTZtNi40NS02Ljg0N2wtNi40NSA2Ljg3NyA2LjQ1IDYuODE3IiBzdHJva2U9IiM3MTcxNzEiIHN0cm9rZVdpZHRoPSIxLjUiIHN0cm9rZUxpbmVjYXA9InJvdW5kIiBzdHJva2VMaW5lam9pbj0icm91bmQiIGZpbGw9Im5vbmUiLz48L3N2Zz4="></a>
				   </td>
				   <td class="text-left ct-text">
						<form name="searchform" action="/control/mtkeywordsearch" autocomplete="off">
						   <div class="search-box">
							  <input type="text" id="autocomplete_query" name="SEARCH_STRING" placeholder="Search for products, brands etc" value="" validate="{true,blank, Enter the keyword}">
							  <input type="submit" value="" style="display:none" data-ga="check_out_funnel_mobile##mainscreen##serach_go##0">
							  <input type="hidden" id="searchcategory_query" value="all">
							  <span class="cls_btn display-none">X</span>
						   </div>
						</form>
				   </td>
				</tr>
		  </table>
	   </div>

		


	</div>
<!-- search end -->


<!-- comparepage start -->
	<div class="comparepage">

	</div>
	<?php //echo $leafTitle;
// Filter starts
if(strcasecmp($leafTitle,"product")==0) 
{  ?>
	<div class="compare-form">
							<div class="closeX"><span>X</span></div>
							<div class="compare-form-h">
								<a class="brand active" href="#">Brand</a>
								<a class="model" href="#">Model</a>
							</div>
							<?php
								if (isset($brandList ))
								{
								}
								?>
							<form name="compareFrom" id="compareFrom" method="POST">
								<div class="field-wrapper brandlist active">	
						<?php if (isset($brandList )) {	 ?>							
									<input type="text" name="brandName" id="brandName" class="brandName" placeholder="Select Brand">
									<span class="search-icon"></span>
									<div class="keysearchsort">
										<ul class="brandsName">
							<?php  if( isset($popularBrand) && sizeof($popularBrand)>0 ) {  ?>
										<div> <b>Popular Brands</b></div>
										<?php	for ($index_ = 0; $index_ < sizeof($popularBrand); $index_++) {?>	
				<li  data-category="<?=$compareCategory ?>"  data-brand="<?= rawurlencode($popularBrand[$index_]) ?>" ><?= $popularBrand[$index_]?></li>
					<?php
				}}  ?>
										<div> <b>All Brands</b></div>					
										<?php for ($index = 0; $index < sizeof($brandList); $index++) { ?>	
										<li  data-category="<?=$compareCategory ?>"  data-brand="<?= rawurlencode($brandList[$index]) ?>" ><?= $brandList[$index]?></li>
										<?php 	$index= $index+1; } ?>
															</ul>
									</div>
								<?php  }?>
								</div>
								<div class="field-wrapper modellist">
									<input type="text" name="modelName" id="modelName" class="modelName" value="" placeholder="Select Model">
									<span class="search-icon"></span>
									<div class="keysearchsort">
										<ul class="brandsName" id="_modelname"></ul>
									</div>
								</div>					
							</form>
						</div>
						<form name="compare" id="compare" style="display:none"  method="POST">
							<input type="text" name="brand" />
							<input type="text" name="model" />
							<input type="hidden" name="fModelN" value="<?= isset($product_Name_1)?$product_Name_1:''?>"/>
							<input type="hidden" name="fModel" value="<?= isset($product_Id_1)?$product_Id_1:''?>"/>
							<input type="hidden" name="sModelN" value="<?= isset($product_Name_2)?$product_Name_2:''?>"/>
							<input type="hidden" name="sModel" value="<?= isset($product_Id_2)?$product_Id_2:''?>"/>
						</form>

<?php }  ?>
<!-- comparepage end -->


<!-- google ad start-->
	<!-- BTF slot -->

        <div  class="text-center footeradslot adcode">
        <?php
       
        if(!(isset($btfBannerActive) && strcasecmp($btfBannerActive,"Y") === 0)) {?>
        	<div id='div-gpt-ad-1634647264306-0'>
                        <script>
                                googletag.cmd.push(function() { googletag.display('div-gpt-ad-1634647264306-0'); });
                        </script>
        </div>
        <?php }
         else {?>
<a target="_blank" rel="noopener" class="countryblock" data-ga-track="<?=$btfDataGATrack?>" href="<?=$btfBannerurl?>">
        <img class='lazy' alt="btf" width='100%'  src="<?=$btfImgpath?>"/></a>
         
        <?php } ?>
        </div>

<!-- BTF slot ends -->

	<!-- google ad end-->
<div class="overlay display-none"></div>
<div class="overlaywhite display-none"><div class='loading'><img alt="loader" src='/pwa/img/AjaxLoader.gif'/></div></div>
<?php //echo $leafTitle;
// Filter starts
if(strcasecmp($leafTitle,"category")==0) 
{ 

?>
<div class="filterpage">
	<!-- filter head start -->
	<div class="filterhead overflowhidden">
		<div class="col-sm-1 text-center"><a href="">X</a></div>
		<div class="col-sm-9">Filters</div>
		<div class="col-sm-2 text-center"><a class="fliterreset" href="<?=$categoryBaseUrl?>">Reset</a></div>
	</div>
	<!-- filter head end -->
	<!-- <div class="pricerang">
		<div class="overflowhidden">
			<div class="col-sm-6 text-center "><div class="minprice relative">Min Price</div></div>
			<div class="col-sm-6 text-center"><div class="maxprice relative">Max Price</div></div>
		</div>
		<div class='multi-range' data-lbound='100' data-ubound='800'>
			<input type='range' min='100' max='1000' step='5' value='100'  oninput='this.parentNode.dataset.lbound=this.value;' />
			<input type='range'  min='100' max='1000' step='5' value='800'   oninput='this.parentNode.dataset.ubound=this.value;' />
		</div>
	</div> -->
	<!-- filter brand start -->
<?php 
$param ="";
if(isset($_GET['queryParam']))
{
	$param = $_GET['queryParam'];
}
if(isset($refineSearch,$refineSearch->filters))
{
?>
	<div class="filter-list">
	<ul>
<?php 
	$extns = $refineSearch->filters;
	$filterValuesMap=array(); // map to hold filter title => filter values
	foreach($extns as $extn)
	{
		$filterTitle = $extn->filterTitle;
		$counterText="";
		if(isset($filterTitle) && isset($extn->list) && sizeof($extn->list)>0)
		{
			$list = $extn->list;
			$item = $list[0];
			$key = $item->filterKey;
			$filterTitleLower = strtolower($filterTitle);
			$filterTitleLower=str_replace(" ","_",$filterTitleLower);
			// Create map to hold filter key and values
			$filterValuesMap[$key]=$list;
			if(strpos($param,$key) !== false )
				{			
					$count = substr_count($param,$key);
					$counterText = $count." Selected";
				}	
				if($key == 'BRAND')
				{
					$checkFilterUrl = $_SERVER ['REQUEST_URI'];
					if ( strpos ( $checkFilterUrl, "/brand-" ) !== false) 
		    		{
		    		if(!isset($count))
	    			{
	    				$count = 0;
	    			}
		    		$count = $count +1;
		    		$counterText = $count." Selected";
		    			
		    		}
				}	
?>
				<li><a href="#filter-l2" class="<?=$key?>"   data-cat="<?=$key?>"  data-name="<?=$key?>">
					       <div class="col-sm-7 text-left"><?=$filterTitle?></div>
					       <div class="selected col-sm-4 text-right"><?=$counterText?></div>
					</a>
			    </li>		
<?php 
		} // Ends if(isset($filterTitle) && isset($extn->list) && sizeof($extn->list)>0)
	} // Ends foreach($extns as $extn)
	?>
		</ul>
	</div>
	<div class="filterapply overflowhidden">
		<div class="col-sm-7"></div>
		<div class="col-sm-5 text-center"><a class="btn btn-color filterbutton apply-ui" href="#">Apply</a></div>
	</div>
	<!-- filter brand end -->
</div>
<?php 
}
 //Ends if(isset($refineSearch,$refineSearch->filters))
?>

<?php if(isset($filterValuesMap) && sizeof($filterValuesMap)>0)
	  {
?>
<!-- Filter page L2 starts -->
<div class="filterpage-l2">

<?php 
		// for Loop to iterate through filter values in $filterValuesMap
		 foreach($filterValuesMap as $filterName=>$list)
		 {
?>
	<!-- filter loop start -->
	<div class="<?=$filterName?> filter-col display-none">
	<div class="filterhead overflowhidden">
		<div class="col-sm-1 text-center overflowhidden"><a class="arrow" href="#filter"><svg width="19" height="16" viewBox="0 0 19 16" xmlns="http://www.w3.org/2000/svg"><path d="M17.556 7.847H1M7.45 1L1 7.877l6.45 6.817" stroke="#fff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" fill="none"></path></svg></a></div>
		<div class="col-sm-9 filtercatname"></div>
		<div class="col-sm-2 text-center"><a href="#" class="clear">Clear</a></div>
	</div>
	<!-- filter brand start -->
	<div class="filter-list-second">
		
			<ul>
			<?php // for Loop to iterate through filter values in $filterValuesMap
		 	 foreach($list as $listItem)
				{
			 		$productCount = $filterUrl = $productName = null;
			 		if(isset($listItem->URL)){
			 			$filterUrl = $listItem->URL;
			 			$productName = $listItem->name;
			 			$filterKey = $filterValue = null;
			 			if(isset($listItem->filterKey) && isset($listItem->filterValue)){
			 				$filterKey = $listItem->filterKey;
			 				$filterValue = $listItem->filterValue;
			 	
			 				if(strpos($filterValue,"###") != false)
			 				{
			 					$tokens = explode("###",$filterValue);
			 					$gc = $tokens[0];
			 					$dis = $tokens[1];
			 					if(isset($dis))
			 					{
			 						$type = substr($dis,-2);
			 						if($type == "pc")
			 						{
			 							$displayType = "%";
			 						}else
			 						{
			 							$displayType = "Rs.";
			 						}
			 						if(strpos($dis,".0") !=false)
			 						{
			 							$displayDiscount = substr($dis,0,-4);
			 						}
			 						$productName = $displayDiscount.$displayType." Off [".$gc."]";
			 					}
			 				}
			 			}
			 			$class = "uncheck click ";
			 			if(isset($listItem->productCount)){$productCount = $listItem->productCount;}
			 			if(isset($productName)){
			 				$filterUrl = $listItem->URL;
			 				if(($key == 'BRAND') && isset($filterUrl)  && isset($brandUrlValue) && (strpos ( $filterUrl, $brandUrlValue ) !== false)){
			 					$class = "check done click ";
			 				}
			 				if(isset($filterKeyArray)){
			 					if (array_key_exists($filterKey,$filterKeyArray)){
			 						$sFilter = $filterKeyArray[$filterKey];
			 						foreach($sFilter as $selectValue){
			 							if($selectValue == $filterValue){
			 								$class = "check done click ";
			 						 }}}}?>
				<li><a href="#" 
					   class="<?php print_r($class);?>" 
					   data-filter-url="<?=handleStrAndDefault($filterUrl, "")?>" 
					   data-filter-type="<?=$filterName?>" 
					   data-filter-class="<?=$filterName?>"  
					   data-filter-value="<?=urlencode(handleStrAndDefault($filterValue, ""))?>"><?php echo $productName; if(isset($productCount)){echo "(".$productCount.")";}?>
					   </a></li>
				 <?php 
				}	// Ends  if(isset($productName))
			}// Ends if(isset($listItem->URL))
		}// Ends foreach($list as $listItem)
		?>
			
			</ul>
			<div class="filterapply overflowhidden">
				<div class="col-sm-7"><span class="selectcount"></span> Selected</div>
				<div class="col-sm-5 text-center"><a class="btn btn-color-grey noaction" data-filter="<?=$filterName?>" href="#filter">Done</a></div>
			</div>
	</div>

	<!-- filter brand end -->
	</div>
	<!-- filter loop start  end -->
<?php 
		} // Ends foreach($filterValuesMap as $filterName=>$list)
?>	
</div>
<!-- filter pageL2 end -->	
<?php } // Ends if(isset($filterValuesMap) && sizeof($filterValuesMap)>0) 
?>
<?php 
}
// Filter Ends
?>
<div class="navigation mobile-top-list-out">
   <div class="nav-header">
      <table>
            <tr>
               <td class="nav-head-left">
					<a href="/control/login">
						<i class="fa fa-user-circle withoutlogin"></i>
						<!--div class="display-inline loginname">Login &amp; Signup</div -->
						<span class='loginUser uppercase display-none'></span>
					</a>
               </td>
               <td class="c">
<!--                <img alt="Shop Gedgets Now" class="img v-align-middle" src="https://static.toiimg.com/photo/88204189.cms" /> -->
               </td>
            </tr>
      </table>
   </div>
   <div class="nav-menu">
      <ul class="nav-menu-tab main-nav">
      
        <li><div class="col-sm-10"><a href="/smartphones/">Smartphones</a></div><div class="col-sm-2 text-right"><a data-cat="Smartphones" data-vision="smartphones" class="right-arrow"></a></div></li>
        <li><div class="col-sm-10"><a href="/laptops/">Laptops</a></div><div class="col-sm-2 text-right"><a data-cat="Laptops" data-vision="laptops"  class="right-arrow"></a></div></li>
        <li><div class="col-sm-10"><a href="/electronics/">Electronics</a></div><div class="col-sm-2 text-right"><a data-cat="Electronics" data-vision="electronics" class="right-arrow"></a></div></li>
        <li><div class="col-sm-10"><a href="#">Appliances</a></div><div class="col-sm-2 text-right"><a data-cat="Appliances" data-vision="appliances" class="right-arrow"></a></div></li>
        <li><div class="col-sm-10"><a href="/accessories/">Accessories</a></div><div class="col-sm-2 text-right"><a data-cat="Accessories" data-vision="accessories" class="right-arrow"></a></div></li>
        <li><div class="col-sm-10"><a href="#">Offers</a></div><div class="col-sm-2 text-right"><a data-cat="Offers" data-vision="offers"  class="right-arrow"></a></div></li>
        <li><div class="col-sm-10"><a href="/personal-grooming/">Personal Grooming</a></div><div class="col-sm-2 text-right"><a data-cat="Personal Grooming" data-vision="personal-grooming" class="right-arrow"></a></div></li>
        <li><div class="col-sm-10"><a href="/watches/">Watches</a></div><div class="col-sm-2 text-right"><a data-cat="Watches" data-vision="watches"  class="right-arrow"></a></div></li>
        <li><div class="col-sm-10"><a href="#">Trending</a></div><div class="col-sm-2 text-right"><a data-cat="Trending" data-vision="trending"  class="right-arrow"></a></div></li>
        <li><div class="col-sm-10"><a href="#">Health Care Devices</a></div><div class="col-sm-2 text-right"><a data-cat="Health Care" data-vision="health-care-device"  class="right-arrow"></a></div></li>       
        <li><div class="col-sm-10"><a href="#">Covid-19</a></div><div class="col-sm-2 text-right"><a data-cat="Covid-19" data-vision="covid-19"  class="right-arrow"></a></div></li>
        <!-- <li><div class="col-sm-10"><a href="#">Brands</a></div><div class="col-sm-2 text-right"><a data-cat="Brands" data-vision="brands"  class="right-arrow"></a></div></li> -->       
      </ul>
      
      <ul class="user-details adcode">
         <li ><a href="/control/orderhistory"><i class="fa fa-location-arrow"></i> <span>Track Orders</span> </a></li>
         <li ><a href="/control/showcart"><i class='fa fa-shopping-cart'> </i> <span>My Cart</span> </a></li>
         <li ><a href="/control/profile"><i class="fa fa-user-circle"></i> <span>My Account</span> </a></li>
      </ul>
	  <ul class="nav-menu-tab">
                    
         <li><a href="/news">New Launches</a></li>              
         <li><a href="/compare-mobiles" class="checkcompare">COMPARE</a></li>              
         <li class="logoutUser"></li>  
              
      </ul>
   </div>
</div>


<div class="navigation navigationpage display-none">
   <div class="nav-header">
      <table width="100%">
            <tbody><tr>
               <td class="back-arrow text-center">
					<a class="navclose" href="/"><svg width="19" height="16" viewBox="0 0 19 16" xmlns="http://www.w3.org/2000/svg"><path d="M17.556 7.847H1M7.45 1L1 7.877l6.45 6.817" stroke="#fff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" fill="none"></path></svg></a>
			   </td>
			   <td class="text-left ct-text" width="80">
								   </td>
			   <td class="navigationpage-right text-right loginheader adcode">
					<a class="display-inline cart loginMy" href="/control/login">
						<i class="fa withoutlogin fa-user-circle"></i>
						<span class="loginUser uppercase display-none"></span>
					</a>
					<a class="display-inline cart" href="/control/showcart">
						<i class="fa fa-shopping-cart"><span class="count text-center display-block absolute">0</span></i>	
					</a>
               </td>
            </tr>
      </tbody></table>
   </div>
   <div class="nav-menu">
   <ul class="nav-menu-tab border-bottom ct-cap smartphones display-none">   		
   			 <li><a href="/best-selling-smartphones/">Best Selling Smartphones</a></li>
			 <li><a href="/new-releases/">New Releases</a></li>
			 <li><a href="/also-in-stores/">Also in Stores</a></li>
			 <li><a href="/upcoming-smartphones/">Upcoming Smartphones</a></li>	   				 
   			 <li><a href="/trending-4g-phones/">4G Phones</a></li>   				
			 <li><a href="/feature-phones/">Feature Phones</a></li>
   			 <li><a href="/best-budget-phones/">Budget Phones</a></li>   				
			 <li><a href="/mobiles-accessories/">Mobile Accessories</a></li>
   			 <li><a href="/refurbished-mobiles/">Refurbished Mobile</a></li>   				
			 <li><a href="/tablets/">Tablets</a></li>
	 </ul>	
	 <ul class="nav-menu-tab border-bottom ct-cap brands display-none">   		
   			 <li><div class="col-sm-10"><a href="#">Smartphones</a></div><div class="col-sm-2 text-right"><a data-cat="Smartphones Brands" data-back="brands" data-vision="smartphones-brands"  class="right-arrow"></a></div></li>  
			 <li><a href="/new-releases/">Electronics</a></li>
	  </ul>	
	  <ul class="nav-menu-tab border-bottom ct-cap appliances display-none">   		
   			 <li><div class="col-sm-10"><a href="#">Large Appliances</a></div><div class="col-sm-2 text-right"><a data-cat="Large Appliances" data-back="appliances" data-vision="large-appliances"  class="right-arrow"></a></div></li>  
   			 <li><div class="col-sm-10"><a href="#">Small Appliances</a></div><div class="col-sm-2 text-right"><a data-cat="Small Appliances" data-back="appliances" data-vision="small-appliances"  class="right-arrow"></a></div></li>  
   			 <li><div class="col-sm-10"><a href="#">Kitchen Appliances</a></div><div class="col-sm-2 text-right"><a data-cat="Kitchen Appliances" data-back="appliances" data-vision="kitchen-appliances"  class="right-arrow"></a></div></li>  
			 
	  </ul>	
	<ul class="nav-menu-tab border-bottom ct-cap laptops display-none">   		
   			 <li><a href="/computer-laptop/">Handpicked Laptops</a></li>
   			 <li><a href="/best-selling-laptops/">Best Selling Laptops</a></li>   				
   			 <li><a href="/less-than-rs-30-000-laptops/">Laptops by Price</a></li>   				 
	 </ul>
	 <ul class="nav-menu-tab border-bottom ct-cap health-care-device display-none">   		
   			 <li><a href="/blood-pressure-monitors/"> BP Monitors</a></li>
   			 <li><a href="/glucometers/">Glucometers</a></li>   				
   			    				 
	 </ul>
	 <ul class="nav-menu-tab border-bottom accessories display-none ct-cap">
   			 <li><a href="/mobiles-accessories-power-banks/">Power Banks</a></li>   				
   			 <li><a href="/mobiles-accessories-memory-cards/">Memory Cards</a></li>   				
   			 <li><a href="/mobiles-accessories-headphones-headsets/">Headphones</a></li>   				
   			 <li><a href="/mobiles-accessories-fitness-band/">Fitness Bands</a></li>   				
   			 <li><a href="/mobiles-accessories-cases-covers/">Cases v Covers</a></li>   				
   			 <li><a href="/mobiles-accessories-screen-guards/">Screen Guards</a></li>
			<li><a href="/mobiles-accessories-bluetooth-speakers/" title="Bluetooth Speakers">Bluetooth Speakers</a></li>
			<li><a href="/mobiles-accessories-data-cables/" title="Data Cables">Data Cables</a></li>
			<li><a href="/mobiles-accessories-chargers/" title="Chargers ">Chargers</a></li>
			<li><a href="/mobiles-accessories-smart-watches/" title="Smart Watches">Smart Watches</a></li>			 
   			 <li><a href="/top-selling-accessories/">Top Selling Accessories</a></li>   				
   			 <li><a href="/top-selling-accessories/">New Arrival</a></li>   				 
   			 <li><a href="/mobiles-accessories-audio/">Audio</a></li>   				 
	  </ul>
	  <ul class="nav-menu-tab border-bottom electronics display-none ct-cap">
   			 <li><a href="/ac/">Air Conditioners</a></li>   				
   			 <li><a href="/refrigerators/">Refrigerators</a></li>   				
   			 <li><a href="/televisions/">Televisions</a></li>   				
   			 <li><a href="/washing-machine/">Washing Machines</a></li>   				
   			 <li><a href="/microwave/">Microwaves</a></li>   				
   			 <li><a href="/air-purifiers/">Air Purifiers</a></li> 
   			 <li><a href="/digital-cameras/">Digital Cameras</a></li>
   			 <li><a href="/dslr-cameras/">DSLR Cameras</a></li>  				 
   			 <li><a href="/geysers/">Geysers</a>
   			 <li><a href="/room-heaters/">Room Heaters</a>
			 <li><a href="/chimney/">Chimney</a>
   			 <li><a href="/printers/">Printers</a>
   			 <li><a href="/ink-cartridges/">Ink Cartridges</a>
   			 <li><a href="/mobiles-accessories-projectors/">Projectors</a></li>
   			   
	  </ul>
	  <ul class="nav-menu-tab border-bottom offers display-none ct-cap">   		
   			    				
   			 <li><a href="/mobile-offers">Mobile Offers</a></li>   				
   			 <li><a href="/best-mobiles-deal-of-the-day">Deals of The Day</a></li>   				
   			 <li><a href="/flash-sale">Flash Sale</a></li>   				
   			 <li class="countryblock"><a href="/wallet-offers">Wallet Offers</a></li>   				 
	  </ul>
	  <ul class="nav-menu-tab border-bottom personal-grooming display-none ct-cap">   		
   			 <li><a href="/trimmers/">Trimmers</a></li>   				
   			 <li><a href="/epilators/">Epilators</a></li>   				
   			 <li><a href="/hair-dryer/">Hair Dryer</a></li>   				
   			 <li><a href="/hair-curlers/">Hair Curlers</a></li>   				
   			 <li><a href="/hair-straightener/">Hair Straightener</a></li>   				 
	  </ul>
	  <ul class="nav-menu-tab border-bottom watches display-none ct-cap">   		
   			 <li><a href="/watches/men-watches/">Men Watches</a></li>   				
   			 <li><a href="/watches/woman-watches/">Woman Watches</a></li>   				
   			 <li><a href="/watches/kids-watches/">Kids Watches</a></li>   				 
	  </ul>
	   <ul class="nav-menu-tab border-bottom trending display-none ct-cap">   		
   			 <li><a href="/mevofit/">Mevofit</a></li>   				
   			 <li><a href="/jbl/">JBL</a></li>   
   			  <li><a href="/norton/">Norton</a></li>
   			  <li><a href="/vijaySales/">VijaySales</a></li>   
   			  <li><a href="/ifihomes/">IFIhomes</a></li>
   			  <li><a href="/Tekkitake">Tekkitake</a></li> 
   			  <li><a href="/Micron">Micron</a></li>  
   			  <li><a href="/Pokerbaazi">Pokerbaazi</a></li>  
   			    <li><a href="/OnePlus">OnePlus</a></li> 
   			    <li><a href=" https://www.gadgetsnow.com/spotlight/corning-gorilla-glass" target="_blank">Corning Gorilla Glass</li> 			
   			  				 
	  </ul>
	    <ul class="nav-menu-tab border-bottom covid-19 display-none ct-cap">   		
   			 <li><a href="/infrared-thermometer">Infrared Thermometer</a></li>   				
   			 <li><a href="/mask">Masks </a></li>   	
   			 <li><a href="/uv-c-sanitiser">UV C Sanitiser </a></li>   	
   			 <li><a href="/smart-soap-dispenser">Smart Soap Dispenser</a></li>   				
   			  				 
	  </ul>
   </div>
</div>

<div class="navigation navigationpage-second display-none">
   <div class="nav-header">
      <table width="100%">
            <tbody><tr>
               <td class="back-arrow text-center">
					<a class="navclose" href="/"><svg width="19" height="16" viewBox="0 0 19 16" xmlns="http://www.w3.org/2000/svg"><path d="M17.556 7.847H1M7.45 1L1 7.877l6.45 6.817" stroke="#fff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" fill="none"></path></svg></a>
			   </td>
			   <td class="text-left ct-text" width="80">
								   </td>
			   <td class="navigationpage-right text-right loginheader adcode">
					<a class="display-inline cart loginMy" href="/control/login">
						<i class="fa withoutlogin fa-user-circle"></i>
						<span class="loginUser uppercase display-none"></span>
					</a>
					<a class="display-inline cart" href="/control/showcart">
						<i class="fa fa-shopping-cart"><span class="count text-center display-block absolute">0</span></i>	
					</a>
               </td>
            </tr>
      </tbody></table>
   </div>
   <div class="nav-menu">
   
	  <ul class="nav-menu-tab border-bottom small-appliances display-none ct-cap">
   			 <li><a href="/geysers">Water Geysers</a></li>   				
   			 <li><a href="/air-purifiers">Air Purifiers</a></li>   				
   			 <li><a href="/water-purifiers">Water Purifiers</a></li>   				
   			 <li><a href="/air-cooler">Air Coolers</a></li>   				
   			 <li><a href="/irons">Irons</a></li>   				
   			 <li><a href="/fans">Fans</a></li>   				
   			 <li><a href="/room-heaters">Room Heaters</a></li>   				  				
	  </ul>
	  <ul class="nav-menu-tab border-bottom kitchen-appliances display-none ct-cap">
   			 <li><a href="/oven-toaster-grills">Oven Toaster Grills</a></li>   				
   			 <li><a href="/juicer-mixer-grinder">Juicer/Mixer/Grinder</a></li>   				
   			 <li><a href="/electric-kettle">Electric Kettle</a></li>   				
   			 <li><a href="/hand-blenders">Hand Blenders</a></li>   				
   			 <li><a href="/sandwich-makers">Sandwich Makers</a></li>   				
   			 <li><a href="/coffee-makers">Coffee Makers</a></li>   				
   			 <li><a href="/induction-cookers">Induction Cookers</a></li>   				
   			 <li><a href="/dosa-makers">Dosa Makers</a></li>   				
   			 <li><a href="/egg-boilers">Egg Boilers</a></li>   				
   			 <li><a href="/air-fryers">Air Fryers</a></li>   				
   			 <li><a href="/food-processors">Food Processors</a></li>   				
   			 <li><a href="/electric-rice-cooker">Electric Rice Cooker</a></li>   				
   			 <li><a href="/induction-cooktops">Induction Cooktops</a></li>   				
   			 <li><a href="/inverters">Inverters</a></li>   				
	  </ul>
	  <ul class="nav-menu-tab border-bottom large-appliances display-none ct-cap">
   			 <li><a href="/refrigerator">Refrigerator</a></li>   				 				
   			 <li><a href="/washing-machine">Washing Machine</a></li>   				 				
   			 <li><a href="/ac">Air Conditioners</a></li>   				 				
   			 <li><a href="/chimney">Chimneys</a></li>   				 				
   			 <li><a href="/dishwasher">Dishwashers</a></li>   				 				
   			 <li><a href="/microwave">Microwave Ovens</a></li>   				 				
	  </ul>
	  
   </div>
</div>

<div class="landscape-mode display-none">
	<div class="text-center landscape-tab">
		<span class="img_landscape"></span>
			<div class="txt">
			<h3>Please, Rotate the Device</h3>
				We do not support Landscape mode yet. Please, go back to portrait mode for a better experience.
			</div>
	</div>
</div>
<script src="/pwa/js/jquery-1.10.2.min.js" type="text/javascript"></script>
<script src="/pwa/js/owl.carousel.min.js" type="text/javascript"></script>
<script src="/pwa/js/validator.js" type="text/javascript"></script>
<script src="/pwa/js/searchSuggest.js" type="text/javascript"></script>
<script src="/pwa/js/ga-track.js" type="text/javascript"></script>
<script src="/pwa/js/jquery.cookie.js" type="text/javascript"></script>
<script src="/pwa/js/app.js?e=1" type="text/javascript"></script>
<?php if(strcasecmp($leafTitle,'honorselfie')===0) {?>
<script src="/pwa/js/honorPromotion.js" type="text/javascript"></script>
<?php } ?>
<?php if((strpos('PhoneFinder',$leafTitle) ===0) || (strpos('MobileFinder',$leafTitle) ===0)) {?>
<script src="/pwa/js/gadgets-finder.js" type="text/javascript"></script>
<?php } ?>
<script>
if(geo_continent!="EU" ){
var zeroscript = document.createElement("script"), elzero = document.getElementsByTagName("script")[0]; zeroscript.async = false;
zeroscript.src = (document.location.protocol == "https:" ? "https://" : "http://") + "shop.gadgetsnow.com/gsearch/zerogn.php";
elzero.parentNode.insertBefore(zeroscript, elzero);
$("#tagman").attr("src","//www.googletagmanager.com/ns.html?id=GTM-KGN9KL");
}

<?php if($leafTitle=="product"){?>
	paramsObj.PageProductId = '<?=handleStr($product->getProductId())?>';
	paramsObj.DealProductId = '<?php echo $dealproductId;?>';
	paramsObj.dealType = '<?php if(isset($dealType)) { echo $dealType; } ?>';
	paramsObj.dealends = '<?php if(isset($endDate)) { echo $endDate; } ?>';
	<?php } ?>
</script>
<!-- Google Tag Manager -->
<?php if( $isLive == 'Y') {?>
<noscript><iframe id="tagman" src="" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>
if(geo_continent!="EU"){
(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-KGN9KL');
}
</script>
<?php }?>
<!-- End Google Tag Manager -->
<script>
if(geo_continent!="EU"){
  var _comscore = _comscore || [];
  _comscore.push({ c1: "2", c2: "6036484" });
  (function() {
    var s = document.createElement("script"), el = document.getElementsByTagName("script")[0]; s.async = true;
    s.src = (document.location.protocol == "https:" ? "https://sb" : "http://b") + ".scorecardresearch.com/beacon.js";
    el.parentNode.insertBefore(s, el);
  })();
  
	var clm = document.createElement("script"), els = document.getElementsByTagName("script")[0]; clm.async = true;
	clm.src = (document.location.protocol == "https:" ? "https://" : "http://") + "static.clmbtech.com/ase/2658/1484/aa.js";
	els.parentNode.insertBefore(clm, els);
	var facebook = document.createElement("script"), elscrpt = document.getElementsByTagName("script")[0]; facebook.async = false;
	facebook.src = "/mobile/js/facebook-scripts.js";
	elscrpt.parentNode.insertBefore(facebook, elscrpt);
	$("#comscoreimg").attr("src","https://b.scorecardresearch.com/p?c1=2&c2=6036484&cv=2.0&cj=1");
}
  if(geo_continent=="EU"){
		//$("body").removeClass("adon").addClass("adoff");
	}else{
		//$("body").removeClass("adoff").addClass("adon");
	}	
</script>
<noscript>
  <img id="comscoreimg" src="" />
</noscript>
<input type='hidden' value="" id='copyurl'/>
<!-- service workers registration -->
<script type="text/javascript" async >

// Check that service workers are registered
//This is the "Offline copy of pages" service worker

//Add this below content to your HTML page, or add the js file to your page at the very top to register service worker

if (navigator.serviceWorker && navigator.serviceWorker.controller) {
  console.log('active service worker found, no need to register')
} else {
	if ('serviceWorker' in navigator) {
	  window.addEventListener('load', function() {
		 navigator.serviceWorker.register('/pwabuilder-sw.js', {
		scope: '/'
		  }).then(function(reg) {
			console.log('Service worker has been registered for scope:'+ reg.scope);
		  })
	  });
	}
}

window.addEventListener('load', function() {
  function updateOnlineStatus(event) {
    if (navigator.onLine) {
      // handle online status
      console.log('online');
	//	localStorage.clear();
    } else {
      // handle offline status
	  alert("Network request Failed.");
    }
  }

  window.addEventListener('online', updateOnlineStatus);
  window.addEventListener('offline', updateOnlineStatus);
});

if ('serviceWorker' in navigator) {
  // Use the window load event to keep the page load performant
  window.addEventListener('load', () => {
    navigator.serviceWorker.register('/pwabuilder-sw.js')
  });
} 
</script>
<!-- finder filter start -->
<?php 
if($leafTitle === "MobileFinder")
{
?>
<div class="filterpage">
    <div class="filterhead overflowhidden">
        <div class="col-sm-1 text-center"><a class="findfilerclose" href="#">X</a></div>
        <div class="col-sm-9">Filters</div>
        <div class="col-sm-2 text-center"><a class="fliterreset" href="<?=$resetfilter?>">Reset</a></div>
    </div>
    <div class="filter-list">
        <ul>
        <?php 
        if(isset($features))
        { 
        	for($i=0;$i<sizeof($features);$i++)
        	{
        		
	        	$filters = $features[$i]->filter;
	        	for($j=0;$j<sizeof($filters);$j++)
	        	{  $countselected=0;
		        	$filtername = (string)$filters[$j]->d_name;
		        	$filterquery=(string)$filters[$j]->q_param;
		        	//$filterquery=str_replace("-","",$filterquery);
		        	$values = $filters[$j]->values->val;
		        	 
		        	$selectedstring="";
		        	for($g=0;$g<sizeof($values);$g++)
		        	{
		        	$val = (String)$values[$g]->qname;
		        	$selectedcss = "uncheck click";
					if(isset($seletedFilters))
        						{
	        						for($k=0;$k<sizeof($seletedFilters);$k++)
	        						{
		        						$selfilter = $seletedFilters[$k]->filter;
		        						for($l=0;$l<sizeof($selfilter);$l++)
		        						{
			        						$selectedquery = (string)$selfilter[$l]->q_param;
			        						if($selectedquery == $filterquery)
			        						{
			        							$selvalues = $selfilter[$l]->values->val;
			        						 	$countselected = sizeof($selvalues);
			        						}
		        						}
	        						}
	        						if($countselected > 0 && $countselected !== "")
	        							$selectedstring = $countselected." Selected";
        						}
		        	}
		        	
		        	
		        	
		        	print_r('<li>
	                <a href="#" class="'.$filterquery.' filternext" data-cat="'.$filterquery.'" data-name="'.$filterquery.'">
	                   <div class="col-sm-7 text-left">'.$filtername.'</div>
	                   <div class="selected col-sm-4 text-right">'.$selectedstring.'</div>
	                </a>
	            </li>'); 
	        	}	
        	}		
        }
        ?>
            <!-- <li>
                <a href="#filter-l2" class="BRAND" data-cat="BRAND" data-name="BRAND">
                    <div class="col-sm-7 text-left">Brand</div>
                    <div class="selected col-sm-4 text-right"></div>
                </a>
            </li>
			 <li>
                <a href="#filter-l2" class="RAM" data-cat="RAM" data-name="RAM">
                    <div class="col-sm-7 text-left">RAM</div>
                    <div class="selected col-sm-4 text-right"></div>
                </a>
            </li> -->
           
        </ul>
    </div>
    <div class="filterapply overflowhidden">
        <div class="col-sm-7"></div>
        <div class="col-sm-5 text-center"><a class="btn filterbutton btn-color-grey noaction" href="#">Apply</a></div>
    </div>
</div>
 
 
 <div class="filterpage-l2">
 <?php 
 if(isset($features))
 {
 	for($i=0;$i<sizeof($features);$i++)
 	{
	 	$filters = $features[$i]->filter;
	 	for($j=0;$j<sizeof($filters);$j++)
	 	{
		 	$filtername = (string)$filters[$j]->d_name;
		 	$filterquery=(string)$filters[$j]->q_param;
		 	//$filterquery=str_replace("-","",$filterquery);
		 	 
		 	$values = $filters[$j]->values->val;
?>	 	 
	 	<div class="<?=$filterquery?> filter-col">
        <div class="filterhead overflowhidden">
            <div class="col-sm-1 text-center overflowhidden">
                <a class="arrow" href="#">
                    <svg width="19" height="16" viewBox="0 0 19 16" xmlns="http://www.w3.org/2000/svg">
                        <path d="M17.556 7.847H1M7.45 1L1 7.877l6.45 6.817" stroke="#fff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" fill="none"></path>
                    </svg>
                </a>
            </div>
            <div class="col-sm-9 filtercatname"><?=$filterName?></div>
            <div class="col-sm-2 text-center"><a href="#" class="clear">Clear</a></div>
        </div>
        <div class="filter-list-second" data-key="<?=$filterquery?>">
            <ul>
            <?php 
            	$countselected = 0;
 				for($g=0;$g<sizeof($values);$g++)
				{
					$val = (String)$values[$g]->qname;
					$selectedcss = "uncheck click";
					if(isset($seletedFilters))
					{
						for($k=0;$k<sizeof($seletedFilters);$k++)
						{
							$selfilter = $seletedFilters[$k]->filter;
							for($l=0;$l<sizeof($selfilter);$l++)
							{
								$selectedquery = (string)$selfilter[$l]->q_param;
								if($selectedquery == $filterquery)
								{
									$selvalues = $selfilter[$l]->values->val;
									for($p=0;$p<sizeof($selvalues);$p++)
									{
										$selval=(string)$selvalues[$p];
										if($selval == $val)
										{
											$selectedcss = "check done click";
											$countselected=$countselected+1;
										}
									}
								}
							}
						}
					}
					print_r('<li><a href="#" class="'.$selectedcss.'" data-filter-type="'.$filterquery.'" data-filter-class="'.$filterquery.'"  data-filter-value="'.(string)$values[$g]->qname.'">'.(string)$values[$g]->d_name.'</a></li>');
				}
            ?>
               <!--  <li><a href="#" class="uncheck click" data-filter-type="BRAND" data-filter-class="BRAND" data-filter-value="Coolpad">Coolpad(1)	</a></li>
                <li><a href="#" class="uncheck click" data-filter-type="BRAND" data-filter-class="BRAND" data-filter-value="Gionee">Gionee(1)	</a></li>                <li><a href="#" class="uncheck click" data-filter-url="/best-selling-smartphones/brand-Honor/" data-filter-type="BRAND" data-filter-class="BRAND" data-filter-value="Honor">Honor(1)	</a></li>
                <li><a href="#" class="uncheck click" data-filter-type="BRAND" data-filter-class="BRAND" data-filter-value="Lenovo">Lenovo(1)	</a></li>
                <li><a href="#" class="uncheck click" data-filter-type="BRAND" data-filter-class="BRAND" data-filter-value="Mi">Mi(4)	</a></li>
                <li><a href="#" class="uncheck click" data-filter-type="BRAND" data-filter-class="BRAND" data-filter-value="Mobiistar">Mobiistar(3)	</a></li>
                <li><a href="#" class="uncheck click" data-filter-type="BRAND" data-filter-class="BRAND" data-filter-value="Motorola">Motorola(2)	</a></li>
                <li><a href="#" class="uncheck click" data-filter-type="BRAND" data-filter-class="BRAND" data-filter-value="Nokia">Nokia(1)	</a></li>
                <li><a href="#" class="uncheck click" data-filter-type="BRAND" data-filter-class="BRAND" data-filter-value="Panasonic">Panasonic(1)	</a></li>
                <li><a href="#" class="uncheck click" data-filter-type="BRAND" data-filter-class="BRAND" data-filter-value="Realme">Realme(4)	</a></li>
                <li><a href="#" class="uncheck click" data-filter-type="BRAND" data-filter-class="BRAND" data-filter-value="Samsung">Samsung(1)	</a></li>
                <li><a href="#" class="uncheck click" data-filter-type="BRAND" data-filter-class="BRAND" data-filter-value="YU+Mobiles">YU Mobiles(1)	</a></li>
             --></ul>
            <div class="filterapply overflowhidden">
                <div class="col-sm-7"><span class="selectcount"><?=$countselected?></span> Selected</div>
                <div class="col-sm-5 text-center"><a class="btn btn-color-grey noaction backfilter" data-filter="<?=$filterquery?>" href="#filter">Done</a></div>
            </div>
        </div>
    </div>	 
 <?php  }
   }
 }
 
 ?>
   
	
	<!-- <div class="RAM filter-col">
    <div class="filterhead overflowhidden">
        <div class="col-sm-1 text-center overflowhidden">
            <a class="arrow" href="#filter">
                <svg width="19" height="16" viewBox="0 0 19 16" xmlns="http://www.w3.org/2000/svg">
                    <path d="M17.556 7.847H1M7.45 1L1 7.877l6.45 6.817" stroke="#fff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" fill="none"></path>
                </svg>
            </a>
        </div>
        <div class="col-sm-9 filtercatname">RAM</div>
        <div class="col-sm-2 text-center"><a href="#" class="clear">Clear</a></div>
    </div>
    <div class="filter-list-second" data-key="RAM">
        <ul>
            <li><a href="#" class="uncheck click" data-filter-type="RAM" data-filter-class="RAM" data-filter-value="2+GB">2 GB(4)	</a></li>
            <li><a href="#" class="uncheck click" data-filter-type="RAM" data-filter-class="RAM" data-filter-value="3+GB">3 GB(7)	</a></li>
            <li><a href="#" class="uncheck click" data-filter-type="RAM" data-filter-class="RAM" data-filter-value="4+GB">4 GB(6)	</a></li>
            <li><a href="#" class="uncheck click" data-filter-type="RAM" data-filter-class="RAM" data-filter-value="6+GB">6 GB(3)	</a></li>
            <li><a href="#" class="uncheck click" data-filter-type="RAM" data-filter-class="RAM" data-filter-value="8+GB">8 GB(1)	</a></li>
        </ul>
        <div class="filterapply overflowhidden">
            <div class="col-sm-7"><span class="selectcount">2</span> Selected</div>
            <div class="col-sm-5 text-center"><a class="btn btn-color added" data-filter="RAM" href="#filter">Done</a></div>
        </div>
    </div>
</div> -->
</div>
<!-- finder filter end -->
 <?php } ?>
 <!-- /7176/GadgetsNow_Mweb/GadgetsNow_Mweb_ROS/GadgetsNow_Mweb_ROS_Andbeyond_1x1 -->
<div id='div-gpt-ad-1599816965633-0' style='width: 1px; height: 1px;'>
<script>
googletag.cmd.push(function() { googletag.display('div-gpt-ad-1599816965633-0'); });
</script>
</div>
<?php $geoCountry=isset($_COOKIE['geo_country'])?$_COOKIE['geo_country']:'';
      if($geoCountry === "IN")
      {?>
      	
<?php include __DIR__."/newTermsCondition.phtml"?>
      	
      <?php }
?>
</body>
</html>
