<!DOCTYPE html>
<html lang="en">
<head>
<script async src="//js-sec.indexww.com/ht/p/193119-87363260256000.js"></script>
<?php 
// If the configuration is for live or not	
$isLive=$GLOBALS['general']['IS_LIVE'];
$uri = rawurlencode($_SERVER['REQUEST_URI']);
// Check if openend as mobile app
$isApp= "no";
if(isset($_GET['frmapp']) && $_GET['frmapp'] != "")
{
	if($_GET['frmapp'] == "yes")
	{
		$isApp =$_GET['frmapp'];
		$_SESSION['frmapp']="yes";
	}
}elseif(isset($_SESSION['frmapp']) && $_SESSION['frmapp'] == "yes")
{
	$isApp="yes";
}
?>
<title>
<?php if(isset($leafTitle))
		{ 
			if($leafTitle=="login"){ echo "Login or Register for a gadgetsnow.com account";}
			elseif($leafTitle=="cartPage"){ echo"My Cart";}elseif($leafTitle=="checkout"){echo "Secure Payment: Select Shipping Address: gadgetsnow.com";}
			elseif($leafTitle=="payment"){ echo"Secure Payment: Make Payment: gadgetsnow.com";}elseif($leafTitle=="thankyou"){echo"Thank You";}
			elseif($leafTitle=="forgotPassword"){echo"Forgot Password";}elseif($leafTitle=="mtkeyword"){ echo $searchStr;}
			elseif($leafTitle=="pinPoint"){echo handleStrAndDefault($searchString, "");}elseif($leafTitle=="changePassword"){echo "Reset Password";}
			elseif($leafTitle=="registerSuccess"){echo "Thanks for signing up";}elseif($leafTitle=="pageNotFound"){ echo"pageNotFound";}
			elseif($leafTitle=="help"){ echo"Help";}elseif($leafTitle=="paymentInformation"){echo"Payment Information";}
			elseif($leafTitle=="termsofUse"){echo"Terms and Conditions";}elseif($leafTitle=="policy"){echo"Privacy Policy";}
			elseif($leafTitle=="returnPolicy"){echo"Return Policy";}elseif($leafTitle=="refundPolicy"){echo"Refund Policy";}
			elseif($leafTitle=="orderhistory"){echo"Order History";}elseif($leafTitle=="caseDetail"){echo"Case Details";}
			elseif($leafTitle=="reportCase"){echo"Report a Case";}elseif($leafTitle=="reportCancellation"){echo"Request Cancellation";}
			elseif($leafTitle=="brand"){ if(isset($brandDesc)){ echo $brandDesc." Store - Buy ".$brandDesc." Products Online at Best Prices in India"; }else{ echo $brandName. 'Store - Buy '.$brandName.' Products Online at Best Prices in India';}}
			elseif($leafTitle=="reportCancellation"){echo"Request Cancellation";}
			elseif($leafTitle=="RegisterCampaign"){echo"Welcome Discount";}
			elseif($leafTitle=="compare"){
			$compareTitle= "Compare ".(isset($compare_heading)?$compare_heading:'')." ".(isset($product_1->productName)?$product_1->productName :'').((isset($product_Name_1) && isset($product_Name_2) )? ' vs ': ' ').(isset($product_2->productName)?$product_2->productName:'');
			$compareTitle2='' ;
			echo $compareTitle;}
			
			
			}
			if(isset($metaTitle)) {echo $metaTitle;}
?>
</title>
<?php if(strcasecmp($isLive,"n") === 0)
{
?>
<meta name="robots" content="nofollow,noindex">	
<?php 	
}elseif(isset($setmeta)) {?>
<meta name="robots" content="<?=$setmeta?>">
<?php }else { ?>
<meta name="robots" content="nofollow,noindex">
<?php } ?>

<?php 
if(isset($metaDesc)){ 
?>
<meta name="description" content="<?php echo $metaDesc?>" />
<?php 
}
if(isset($metaKeyWord)) { ?>
<meta name="keywords" content="<?php echo $metaKeyWord?>"/>
<?php 
}
elseif(isset($product)) {?>	
<meta name="keywords" content="<?=handleStr($product->getProductName())?>,<?=handleStr($product->getCategoryName())?>,<?=handleStr($product->getCatalogName())?>, buy online, best price deals " />
<?php 
}
?>
<meta name="google-site-verification" content="IahX9qMwbSc7gMbax55Rbjc2h8YPHvTmJ_q2DN8qBe8" />
<!-- <meta name="google-site-verification" content="Oha3GEjnNiFTMPzFxs3RSWsT2ns5E2bXEes3KJf9Gm8" /> -->
<!-- <meta name="google-site-verification" content="IahX9qMwbSc7gMbax55Rbjc2h8YPHvTmJ_q2DN8qBe8" /> -->
<!-- For category page -->
<?php if(isset($nextPage)) {?>
<link rel="next" href="<?php echo $nextPage;?>"/> <?php }?>
<?php if(isset($previousPage)) {?>
<link rel="prev" href="<?php echo $previousPage;?>" /> <?php } ?>
<!-- Ends For category page -->
<?php
if(strpos($uri, 'control') == false && isset($canonicalUrl))
{?>
<link rel='canonical' href='<?=$canonicalUrl?>'>
<?php }
?>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!--SGN-1457 <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=3.0, user-scalable=no"> -->
<meta name="viewport" content="width=device-width, initial-scale=1"> 
<link rel="apple-touch-icon" sizes="57x57" href="/pwa/img/icons/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/pwa/img/icons/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/pwa/img/icons/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/pwa/img/icons/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/pwa/img/icons/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/pwa/img/icons/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/pwa/img/icons/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/pwa/img/icons/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/pwa/img/icons/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="/pwa/img/icons/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="192x192"  href="/pwa/img/icons/android-icon-512x512.png">
<link rel="icon" type="image/png" sizes="32x32" href="/pwa/img/icons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/pwa/img/icons/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="/pwa/img/icons/favicon-16x16.png">
<link rel="manifest" href="/pwa/js/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/pwa/img/icons/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">

<!-- only for product pages -->

<?php if(isset($leafTitle) && strcasecmp($leafTitle,"product")==0 && isset($product)) { ?>
<meta property="og:url" content="<?="https://shop.gadgetsnow.com".$product->getProductUrl()?>" />
<meta property="og:type" content="product" />
<meta property="og:title" content="<?=$product->getProductName()?>" />
<meta property="og:description" content="<?=$product->getLongDescription()?>" />
<meta property="og:image" content="<?=$product->getProductImageUrl()?>" />
<?php }elseif($leafTitle == 'honorshare') { ?>
<meta property="og:description" content="GadgetsNow Shop | Selfie Share">
<meta property="og:url" content="<?='https://shop.gadgetsnow.com'.$_SERVER['REQUEST_URI']?>">
<meta property="og:image" content="<?=$imgurl?>">
<?php }elseif($leafTitle == 'honor'){ ?>
<meta property="og:url"                content="https://shop.gadgetsnow.com/honor-10-lite" />
<meta property="og:type"               content="article" />
<meta property="og:title"              content="Honor 10 Lite Break Up with Bad Selfies." />
<meta property="og:description"        content="Honor 10 Lite Break Up with Bad Selfies." />
<meta property="og:image"              content="https://img1.gadgetsnow.com/gd/imgbn/honor-hey-ordinary.jpg" />
<?php }elseif($leafTitle === "honorArticle") {
	?>
<meta property="og:url"                content="https://shop.gadgetsnow.com/honor-10-lite/honorArticleSelfie" />
<meta property="og:type"               content="Honor Article" />
<meta property="og:title"              content="5 Reasons breaking up with bad selfies is good for self-confidence." />
<meta property="og:description"        content="5 Reasons breaking up with bad selfies is good for self-confidence" />
<meta property="og:image"              content="https://img1.gadgetsnow.com/gd/imgbn/honor_social_article.jpg" />
	
<?php } else { ?>
<meta property="og:url" content="https://shop.gadgetsnow.com/" />
<meta property="og:type" content="website" />
<meta property="og:title" content="Shop Gadgets Now" />

<?php }?>


<?php 
$imgurl="";
if(isset($_GET['selfie']))
	$imgurl = $_GET['selfie'];

?>
<?php if($leafTitle == 'honorshare') { ?>
<meta property="og:description" content="GadgetsNow Shop | Selfie Share">
<meta property="og:url" content="<?='https://shop.gadgetsnow.com'.$_SERVER['REQUEST_URI']?>">
<meta property="og:image" content="<?=$imgurl?>">
<?php }elseif($leafTitle == 'honor'){ ?>
<meta property="og:url"                content="https://shop.gadgetsnow.com/honor-10-lite" />
<meta property="og:type"               content="article" />
<meta property="og:title"              content="Honor 10 Lite Break Up with Bad Selfies." />
<meta property="og:description"        content="Honor 10 Lite Break Up with Bad Selfies." />
<meta property="og:image"              content="https://img1.gadgetsnow.com/gd/imgbn/honor-hey-ordinary.jpg" />
<?php } ?>
<!-- only for product pages -->
<link rel="stylesheet" href='/pwa/css/style.css' />
<link rel="stylesheet" href="/pwa/css/owl.carousel.css" />
<?php if(strcasecmp($leafTitle,'best-sellers')===0) {?>
<link rel="stylesheet" href='/pwa/css/bestseller.css' />
<?php } ?>
<?php if((strpos('category',$leafTitle) ===0) || (strpos('mtkeyword',$leafTitle) ===0 )|| (strpos('GadgetsFinderList',$leafTitle) ===0 )) {?>
<link rel="stylesheet" href='/pwa/css/listing.css' />
<?php } ?>
<?php if((strcasecmp($leafTitle,'product')===0) || strcasecmp($leafTitle,'dealofferArticle')===0) {?>
<link rel="stylesheet" href="/pwa/css/product.css">
<link rel="stylesheet" href="/pwa/css/compare.css">
<?php } ?>
<?php if(strcasecmp($leafTitle,'compare')===0) {?>
<link rel="stylesheet" href="/pwa/css/compare.css">
<?php } ?>
<?php if((strpos('best-selling',$leafTitle)!==0) || (strcasecmp($leafTitle,'honorArticle')===0)) {?>
<link rel="stylesheet" href="/pwa/css/news.css">
<?php } ?>
<?php if( (strcasecmp($leafTitle,'dealofferArticle')===0) || (strcasecmp($leafTitle,'author-page')===0)) {?>
<link rel="stylesheet" href="/pwa/css/blog.css">
<?php } ?>
<?php if(strcasecmp($leafTitle,'paytm-mall-deals')===0) {?>
<link rel="stylesheet" href="/pwa/css/patym-mall.css">
<?php } ?>
<?php if((strcasecmp($leafTitle,'bestAmazonOffers')===0) || (strcasecmp($leafTitle,'mobile-offers')===0)) {?>
<link rel="stylesheet" href="/pwa/css/amazon-style.css">
<?php } ?>
<?php if((strcasecmp($leafTitle,'honorselfie')===0) || (strcasecmp($leafTitle,'honor')===0)) {?>
<link rel="stylesheet" href="/pwa/css/owl.theme.css">
<link rel="stylesheet" href="/pwa/css/honorPromotion.css">
<?php } ?>
<?php if((strpos('best-selling',$leafTitle)!==0) || (strcasecmp($leafTitle,'amazingdeals')===0)) {?>
<link rel="stylesheet" href="/pwa/css/amazing-deals.css">
<?php } ?>
<?php if((strpos('orderhistory',$leafTitle) ===0) || (strpos('reportCancellation',$leafTitle) ===0 ) || (strpos('reportCase',$leafTitle)===0) || (strpos('profile',$leafTitle)===0)|| (strpos('thankyou',$leafTitle)===0)) {?>
<link href="/pwa/css/myaccount.css?<?php echo date('l jS \of F Y h:i:s A'); ?>" rel="stylesheet" type="text/css" />
<?php } ?>
<?php if((strpos('PhoneFinder',$leafTitle) ===0) || (strpos('MobileFinder',$leafTitle) ===0)) {?>
<link href="/pwa/css/gadgetsFinder.css?<?php echo date('l jS \of F Y h:i:s A'); ?>" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href='/pwa/css/listing.css' />
<?php } ?>
<!-- <script type="text/javascript" src='/pwa/js/gdpr-version-1.js'></script>-->
<!-- <script type="text/javascript" src='https://www.gadgetsnow.com/gdpr_js.cms?v=28&minify=1'></script> -->
<script type="text/javascript" src='/mobile/js/shop_gdpr.js'></script>

<script type="text/javascript">
 var paramsconfig={};
  var paramsObj={};
  paramsObj.pixelParams={};
  paramsObj.leafTitle = "<?=$leafTitle;?>";
  paramsObj.categoryDisplayed = "<?php if(isset($categoryDisplayed)) { echo $categoryDisplayed;}else { echo "home"; } ?>";
  <?php if(strcasecmp($leafTitle,"product") === 0 && isset($product)) {?>
  paramsObj.pixelParams.productId = "<?=handleStr($product->getProductId())?>";
  <?php } ?>
</script>
  <!-- start GA code -->
<script type="text/javascript" language="javascript" charset="UTF-8">

 var _ckns_policy = getCookie('ckns_policy');
 var geo_continent = getCookie('geo_continent');
 var geo_country = getCookie('geo_country');
 var geo_region = getCookie('geo_region');
 var isPrimeUser = getCookie('isPrimeUser');
 //console.log('GEO REGION----------',geo_region);
	function getCookie(name) {
	    var v = document.cookie.match('(^|;) ?' + name + '=([^;]*)(;|$)');
	    return v ? v[2] : null;
	}
	if(isPrimeUser==null || isPrimeUser==undefined){
		isPrimeUserVal = 0;
	}else if(isPrimeUser=='true' || isPrimeUser==true){
		isPrimeUserVal = 1;
	}else{
		isPrimeUserVal = 0;
	}
</script>
<script>
function _uGC(l,n,s) {
		if (!l || l=="" || !n || n=="" || !s || s=="") return "-";
		var i,i2,i3,c="-";
		i=l.indexOf(n);
		i3=n.indexOf("=")+1;
		if (i > -1) {
		i2=l.indexOf(s,i); if (i2 < 0) { i2=l.length; }
		c=l.substring((i+i3),i2);
		}
		return c;
	}
(function() {
	if(geo_continent!="EU"){
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	}
  })();  
	 
	var _userpartyId = "NA"; 
	var _userStatusCookie = "Not+login";
	if(getCookie("userpartyId")!=''){var _userpartyId = getCookie("userpartyId");}
	if(getCookie("userStatusCookie")!=''){var _userStatusCookie = getCookie("userStatusCookie");}
	var a = _uGC(document.cookie, '__utma=', ';');
	var id = a.split(".");
	dataLayer = [];
	dataLayer = [{
				<?php if($leafTitle=="login"){ ?>
					'customepage' : '/control/checkoutoptionsLogin/loginregister',	
				<?php }elseif($leafTitle=="checkout"){ ?>
					"customepage" : "/control/checkoutoptionsLogin/shippingbilling",
				<?php }elseif($leafTitle=="cartPage"){ ?>
				<?php if($userName==="Guest"){?> 
				'customepage' : "/guest/control/checkoutoptions/revieworder",
				<?php }else{ ?>
				"customepage" : "/control/checkoutoptions/revieworder",	
				<?php	} ?>
				<?php }elseif($leafTitle=="payment"){ ?>
					"customepage" : "/control/checkoutoptions/makepayment",
				<?php }elseif($leafTitle=="thankyou"){ ?>
					"customepage" : "/ordercomplete=<?=$order['orderId']?>",
				<?php } ?>
				
	<?php if(isset($leafTitle)){ ?>
		<?php if($leafTitle=="catalog"){ ?>
				'dimension1' : "<?=$currentCatalogName ?>",
				'dimension2' : "<?=$currentCatalogId ?>",
				'dimension11' : "<?=$uri;?>",
		<?php }elseif($leafTitle=="category"){ ?>
			
				'dimension1' : "<?=$currentcatalogName?>",
				'dimension2' : "<?=$currentCategoryId ?>",
				'dimension11' : "<?=$uri;?>",
		<?php }elseif($leafTitle=="product" && isset($product)){  ?>
				'dimension1' : "<?=handleStr($product->getCatalogName())?>",
				'dimension2' : "<?=handleStr($product->getCategory())?>",
				'dimension3' : "<?=handleStr($product->getProductId())?>",
				'dimension6' : "<?=handleStr($product->getProductName())?>",
				'dimension7' : "<?php if (strpos(handleStr($product->getProductName()), 'Combo') !== false) {  echo 'combo';}else {echo 'single';}?>",
				'dimension9' : "<?php  if(isset($showAmazonProduct) && $showAmazonProduct) { echo "NO"; } elseif($product->getInventoryFlag()==true){echo 'NO';}else{echo 'YES';} ?>",
				'dimension16' : "<?=handleStr($product->getBrandName())?>",
				'metric1' : "<?php if(isset($showAmazonProduct) && $showAmazonProduct) { print_r($product->getAmazonPrice()); } elseif($product->getAutoGc() && $product->getDiscountedPrice()>0) {?><?=$product->getDiscountedPrice()?><?php } else if($product->getOfferPrice()>0) {?><?=$product->getOfferPrice()?><?php } ?>",
				'metric2' : "<?php if(isset($showAmazonProduct) && $showAmazonProduct) { print_r($product->getAmazonPrice()); } else { print_r($product->getMrp()); } ?>",
				'metric3' : "<?php $shippingPrice = 0; if(isset($showAmazonProduct) && $showAmazonProduct) { echo "0"; } elseif($product->getShippingPrice()>0) { $shippingPrice = $product->getShippingPrice();?><?=$shippingPrice?><?php }else{ echo $shippingPrice;}?>",
				'metric4' : "<?php if(isset($showAmazonProduct) && $showAmazonProduct) { print_r($product->getAmazonPrice()); } elseif($product->getAutoGc() && $product->getDiscountedPrice()>0) {?><?=$product->getDiscountedPrice();?><?php } else if($product->getOfferPrice()>0) {?><?=$product->getOfferPrice();?><?php } ?>",
				'dimension11' : "<?=$uri;?>",
				'dimension15' : "<?php if(isset($showAmazonProduct) && $showAmazonProduct) { echo "Amz_product"; } else { echo "GN_product"; }?>",
		<?php } ?>
		<?php } ?>
		'dimension10' : isPrimeUserVal,
		'dimension5' : id[1]
		}];
	<?php if(isset($leafTitle)){ ?>
		<?php if($leafTitle=="product" && isset($product)){ ?>	
			dataLayer.push({
			  'ecommerce': {
				'detail': {
				  'actionField': {'list': "<?=$product->getCategoryName();?>"},    // 'detail' actions have an optional list property.
				  'products': [{
					"id": "<?=handleStr($product->getProductId())?>",
					"name": "<?=handleStr($product->getProductName())?>",
					"price": "<?=$product->getOfferPrice()?>",
					"brand": "<?=handleStr($product->getBrandName())?>",
					"category": "<?=handleStr($product->getCatalogName())?>|<?=handleStr($product->getCategory())?>|<?=$product->getCategoryName();?>"
				   }]
				 }
			   }
			});
		<?php } ?>
	<?php } ?>
// z-na.amazon-adsystem for US only
(function() {
	if(geo_country=="US"){
		var _array = ["bfb1846f-b513-43b9-99f3-5aee3e5d222e","7edfb381-301e-4911-b376-889197c57a23"];
		var i;
		for (i = 0; i < _array.length; i++) {
		 var _azu = document.createElement('script'); _azu.type = 'text/javascript'; _azu.async = true;
	    _azu.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US&adInstanceId='+_array[i];
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(_azu, s);
		} 
	   
    }
  })();
 // z-na.amazon-adsystem for US only
</script>
  <!-- End GA code -->
  <!--only product page-->
  <?php if(isset($leafTitle)){ ?>
		<?php if($leafTitle=="product" && isset($product)){ ?>	
<input type="hidden" id="instockevent" value="out_stock_pdp##<?php if($product->getInventoryFlag()==true){echo 'in_stock';}else{echo 'out_stock';} ?>##<?=handleStr($product->getProductId())?>|<?=handleStr($product->getProductName())?>##0" />
<?php } } ?>
	<!--only product page-->
  <script>
<?php if(strpos($leafTitle,'huawei') !== false || strpos($leafTitle,'honor') !== false || $leafTitle == "articlelist" ||$leafTitle == "compare" || $leafTitle == "dealofferArticle" || $leafTitle == "aboutus" || $leafTitle == 'howItWorks' || $leafTitle=='best-selling-accessories' || $leafTitle =='paytm-mall-deals' || $leafTitle =='aboutus' || $leafTitle =='contactUs' || $leafTitle=='mainscreen' || $leafTitle=='category' ||  $leafTitle=='catalog' || $leafTitle=='product' || $leafTitle=='amazingdeals' || $leafTitle =='walletoffers' || $leafTitle=='bestAmazonOffers'|| $leafTitle=='mobile-offers' || $leafTitle=='knockout-deal' || $leafTitle=='flash-sale' || $leafTitle=='mobikwikoffer' || $leafTitle=='bid2win' || $leafTitle=='bidwinner' || $leafTitle=='amazingdeals' || $leafTitle=='dealoffer' || $leafTitle =='author-page'  || $leafTitle=='profile' || $leafTitle=='reportCase' || $leafTitle=='reportCancellation' || $leafTitle=='orderhistory' || $leafTitle=='thankyou'  || $leafTitle=='mtkeyword' || $leafTitle=='PhoneFinder' || $leafTitle=='MobileFinder' || $leafTitle=='nortonpromotion'){ ?>
if(geo_continent!="EU" && isPrimeUserVal != 1){
	if(typeof colombia == 'undefined')
		{
			var colombia = colombia || {};
			colombia.fns = colombia.fns || [];
			(function() {
				  var cads = document.createElement("script");
				  cads.async = true;
				  cads.type = "text/javascript";
				  cads.src = "//static.clmbtech.com/ad/commons/js/colombia_v2.js";
				  var node = document.getElementsByTagName("script")[0];
				  node.parentNode.insertBefore(cads, node);
			})();
		}
	function adwidgetfun(data,adwidget){
			if (data != null){
				var conObj = document.getElementById(adwidget);
				//console.log(data);
				var conText= "";
				if(data.hasOwnProperty('paidAds')){
					
					 for(var i=0; i<data.paidAds.length; i++) {
						 <?php if($leafTitle=='mainscreen' || $leafTitle=='catalog') {?>
						 conText+='<a rel="noopener" target="_blank" data-ga-track="network_ctn_ad_desktop##m-hp##'+data.paidAds[i].clk[0].substring(0,100).replace("https://ade.clmbtech.com/evnt/click.htm?u=","")+'##1##0" href="' + data.paidAds[i].clk[0].replace('http:','https:') + '" title="' + data.paidAds[i].text + '"><figure><img class="lazy" src="' + data.paidAds[i].mainimage.replace('http:','https:') + '" data-original="' + data.paidAds[i].mainimage.replace('http:','https:') + '" alt="' + data.paidAds[i].title + '"/></figure><figcaption><div>' + data.paidAds[i].title + '</div></figcaption><div class="toi-price"><div class="ftl"><span class="toi-mrp">Ad: '+ data.paidAds[i].brandtext +'</span><span class="toi-offer toi-text"><img class="lazy" alt="colombia icon" src="' + data.paidAds[i].colombiaLogo.replace('http:','https:') + '" /></span></div></div></a>';
						 <?php }elseif ( $leafTitle=='category'){ ?>
						 conText+='<a rel="noopener" data-ga-track="network_ctn_ad_desktop##m-listing##'+data.paidAds[i].clk[0].substring(0,100).replace("https://ade.clmbtech.com/evnt/click.htm?u=","")+'##1##0" target="_blank" href="' + data.paidAds[i].clk[0].replace('http:','https:') + '" title="' + data.paidAds[i].text + '" ><figure><img class="lazy" src="' + data.paidAds[i].mainimage.replace('http:','https:') + '" data-original="' + data.paidAds[i].mainimage.replace('http:','https:') + '" alt="' + data.paidAds[i].title + '" /></figure><figcaption><div>' + data.paidAds[i].title + '</div></figcaption><div class="mobile-price-ui"><span class="mrp-price-ui-colombia">Ad: '+ data.paidAds[i].brandtext +'</span><span class="off-price-ui-colombia toi-text"><img class="lazy" alt="colombia icon"  src="' + data.paidAds[i].colombiaLogo.replace('http:','https:') + '" /></span></div></a>';
						 <?php }elseif ($leafTitle == 'articlelist' || $leafTitle == 'compare' ||$leafTitle == 'dealofferArticle' || $leafTitle=='product' || $leafTitle =='walletoffers' || $leafTitle =='aboutus' || $leafTitle =='contactUs' || $leafTitle=='bestAmazonOffers' || $leafTitle=='knockout-deal' || $leafTitle=='mobile-offers' || $leafTitle=='best-selling-accessories' || $leafTitle=='flash-sale' || $leafTitle =='paytm-mall-deals' || $leafTitle=="howItWorks" || $leafTitle=='bid2win' || $leafTitle=='bidwinner' || $leafTitle=='amazingdeals' || $leafTitle=='dealoffer' || $leafTitle =='author-page'  || $leafTitle=='profile' || $leafTitle=='reportCase' || $leafTitle=='reportCancellation' || $leafTitle=='orderhistory' || $leafTitle=='thankyou' || $leafTitle=='mtkeyword' || $leafTitle=='PhoneFinder' || $leafTitle=='MobileFinder'){ ?>
						 conText+='<a rel="noopener" data-ga-track="network_ctn_ad_desktop##m-pdp##'+data.paidAds[i].clk[0].substring(0,100).replace("https://ade.clmbtech.com/evnt/click.htm?u=","")+'##1##0" target="_blank" href="' + data.paidAds[i].clk[0].replace('http:','https:') + '" title="' + data.paidAds[i].text + '"><figure>&nbsp;<img class="lazy" src="' + data.paidAds[i].mainimage.replace('http:','https:') + '" data-original="' + data.paidAds[i].mainimage.replace('http:','https:') + '" alt="' + data.paidAds[i].title + '"></figure><figcaption><div>' + data.paidAds[i].title + '</div></figcaption><div class="mobile-price-ui"><span class="toi-text"><img class="lazy" alt="colombia icon" src="' + data.paidAds[i].colombiaLogo.replace('http:','https:') + '" />: '+ data.paidAds[i].brandtext +'</span></div></a>';
						 <?php } ?>
					 }
				}
			conObj.innerHTML=conText;
			}
	}
}
<?php } ?>
 </script>
 <script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Organization",
  "location": {
    "@type": "Place",
    "address": "Times Internet Limited (Times Center), FC - 6, Sector 16 A, Film City, Noida - 201301 Uttar Pradesh, India"
  },
  "name": "Gadgets Now Shop",
  "description": "Buy from Gadgets Now Shop. Shopping Zone of Gadgets Now.",
  "logo": "https://static.toiimg.com/photo/88204186.cms",
  "url": "https://shop.gadgetsnow.com",
  "email": "customerservice@gadgetsnow.com"
}
</script>
<script type="application/ld+json">
{
    "@context": "https://schema.org",
    "@type": "WebSite",
    "url": "https://shop.gadgetsnow.com",
    "potentialAction": {
      "@type": "SearchAction",
      "target": "https://shop.gadgetsnow.com/mtkeywordsearch/SEARCH_STRING={search_term_string}",
      "query-input": "required name=search_term_string"
    }
}
</script>
<script src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js" type="text/javascript" async="true" defer="" data-ad-client="ca-pub-1902173858658913" data-checked-head="true"></script>
<!-- Google AD Script  -->
<script type='text/javascript'>
 	var googletag = googletag || {};
	googletag.cmd = googletag.cmd || [];
        function _ccaud() {
            let dsmiparam = "",_fpc = "",_optout = "";
            
            var colCcdsCookieVal = document.cookie.match('(^|;)\\s*_col_ccds\\s*=\\s*([^;]+)')?.pop() || '';
            var fpcCookieVal = document.cookie.match('(^|;)\\s*_col_uuid\\s*=\\s*([^;]+)')?.pop() || '';
            var optoutCookieVal = document.cookie.match('(^|;)\\s*optout\\s*=\\s*([^;]+)')?.pop() || '';
            if(!!(colCcdsCookieVal)){
                dsmiparam = "dsmi=" + colCcdsCookieVal + "&" ;
            }
            if(!!(fpcCookieVal)){
              _fpc = "fpc=" + fpcCookieVal + "&" ;
            }
            if(!!(optoutCookieVal)){
              _optout = "optout=" + optoutCookieVal + "&" ;
            }
             var _src = "https://ade.clmbtech.com/cde/aef/var=colaud?cid=2658:1612&"+dsmiparam+_fpc+_optout+"_u="+encodeURIComponent(window.location.href)
            var e = document.createElement('script');
            e.setAttribute('language', 'javascript');
            e.setAttribute('type', 'text/javascript');
            e.setAttribute('async', 'true');
            e.setAttribute('src',_src);
  
            document.body.appendChild(e);
            setTimeout(function(){
            if(typeof localStorage != "undefined" && typeof colaud != "undefined"){
                localStorage.setItem('colaud', colaud.aud);
            }
        },2000);
        }
        document.addEventListener('DOMContentLoaded', function(event) {  
        
        if(geo_continent!="EU"){
            _ccaud();
            }
        });

</script>
						
<script type='text/javascript'>
if(geo_continent!="EU" && geo_country!="US" && geo_region!="CA"){
		<!-- Audience Segment Targeting -->
        	var _auds = "";
		if(typeof(colaud) !='undefined' && typeof(colaud.aud) !='undefined' && colaud.aud != "") {
		    _auds = colaud.aud;
		}
		else if(typeof localStorage != "undefined" && typeof(localStorage.getItem('colaud')) != "undefined" ){
		    _auds = localStorage.getItem('colaud');
		}
		googletag.cmd.push(function() {
		<!-- End Audience Segment Targeting -->		
			var _HDL = '';
			var _ARC1 = '';
			var _Hyp1 = '';
			var _tn = '<?php echo $leafTitle; ?>';
			var _article = '';
			var _sg ='';
		 var _tval = function(v) {
			if(typeof(v)=='undefined') return '';
			if(v.length>100) return v.substr(0,100);
		 		return v;
			}
		var _SCN='<?=$categoryname?>';
		 var _TMPL='<?=$categoryname?>';
		<?php
		if(!(isset($maskHeadActive) && strcasecmp($maskHeadActive,'Y') === 0)) { ?>
		googletag.defineSlot('/7176/GadgetsNow_Mweb/GadgetsNow_Mweb_Shop/GadgetsNow_Mweb_Shop_Strip1_ATF', [[320, 50],[300,250]], 'div-gpt-ad-1594642164504-0').addService(googletag.pubads());
        	<?php } ?>
		<?php
		if(!(isset($atfBannerActive) && strcasecmp($atfBannerActive,"Y") === 0)) {?>
		googletag.defineSlot('/7176/GadgetsNow_Mweb/GadgetsNow_Mweb_Shop/GadgetsNow_Mweb_Shop_ATF', [320, 50], 'div-gpt-ad-1634647244865-0').addService(googletag.pubads());
        	<?php } ?>
	 <?php 
	    if(!(isset($btfBannerActive) && strcasecmp($btfBannerActive,"Y") === 0)) {?>	
        googletag.defineSlot('/7176/GadgetsNow_Mweb/GadgetsNow_Mweb_Shop/GadgetsNow_Mweb_Shop_FBN', [[320, 50], [468, 60], [728, 90]], 'div-gpt-ad-1634647264306-0').addService(googletag.pubads());
        <?php }?>
		googletag.defineSlot('/7176/GadgetsNow_Mweb/GadgetsNow_Mweb_ROS/GadgetsNow_Mweb_ROS_Andbeyond_1x1', [1, 1], 'div-gpt-ad-1599816965633-0').addService(googletag.pubads());
		<!-- common tag -->
		googletag.pubads().setTargeting('sg', _auds).setTargeting('SCN', _SCN).setTargeting('TMPL', _TMPL).setTargeting('HDL', _tval(_HDL)).setTargeting('ARC1', _tval(_ARC1)).setTargeting('Hyp1', _tval(_Hyp1)).setTargeting('article', _tval(_article)).setTargeting('_tn', _tval(_tn));
		googletag.pubads().enableSingleRequest();
		googletag.enableServices();
		<!-- common tag -->
		
	});
		
}		 
		 </script>
<!-- // Ends Google ad slot -->
<script type='text/javascript'>
		function _isPrimeUserFun(){
			//$("body").add("adoff");
			//$(".primeuser").removeClass("displaynone");
			//$("*[data-slot=256682]").removeClass("adsCheck");
			(function() {
			if(geo_continent!="EU"){
				var gads = document.createElement('script');
				gads.async = true;
				gads.type = 'text/javascript';
				var useSSL = 'https:' == document.location.protocol;
				gads.src = (useSSL ? 'https:' : 'http:') + 
				'//www.googletagservices.com/tag/js/gpt.js';
				var node = document.getElementsByTagName('script')[0];
				node.parentNode.insertBefore(gads, node);
			}
			})();
		}
</script>	

<?php if(strcasecmp($leafTitle,"product")==0 || strcasecmp($leafTitle,"mainscreen")==0) 
{
    print_r('<meta name="msvalidate.01" content="824FC02BF0DDE994A7C9A707B730E649" />');
    print_r('<meta name="test" value="'.$leafTitle.'" />');

}?>

</head>
<body>
<!-- container start-->
<div class="container">
<!-- header start -->



	<!--MaskHead start-->
	<?php 
	if(strpos($leafTitle,'huawei') === false && strpos($leafTitle,'honor') === false)
	{
		//if(true){
	  if(isset($maskHeadActive) && strcasecmp($maskHeadActive,'Y') === 0) {?>
	<div class="text-center maskhead countryblock"> 
	<input type="hidden" id="maskhead" value="Y"  />
	<a target="_blank" rel="noopener" data-ga-track="<?php if(isset($maskHeadDataGATrack)) { echo $maskHeadDataGATrack; }?>" href="<?=$maskHeadBannerurl?>">
	<img border="0" width="100%" class="img" src="<?php if(isset($maskHeadImgpath)) { echo $maskHeadImgpath; }?>" /></a></div>
	<?php }else{ 
	 ?>
		<div class="text-center maskhead adcode countryblock"> 
				<div id='div-gpt-ad-1594642164504-0'>
					<script>
					googletag.cmd.push(function() { googletag.display('div-gpt-ad-1594642164504-0'); });
					</script>
				</div>
		</div>
	<?php   
	}
	}?>
	<!-- Maskhead end-->
	<header>
		<div class="table">
			<div class="table-row">
				<div class="table-cell v-align-top hamburger-tab">
					<a class="hamburger-menu display-block" href="#" data-ga-track="eventCat##eventAct##eventLbl##0">
						<span> </span>
						<span> </span>
						<span> </span>
					</a>
				</div>
				<div class="table-cell gadgets-logo text-center">
					<a class="display-block" data-ga-track="eventCat##eventAct##eventLbl##0" href="/"><img alt="Shop Gedgets Now" class="img v-align-middle" src="https://static.toiimg.com/photo/88204189.cms" /></a>
				</div>
				<div class="table-cell text-right loginheader">
					<a class="display-inline cart adcode" href="/control/showcart">
						<i class='fa fa-shopping-cart'><span class="count text-center display-block absolute">0</span></i>						
					</a>
<!-- 					<a class="display-inline cart loginMy adcode" href="/control/login"> -->
<!-- 						<i class="fa withoutlogin fa-user-circle"></i> -->
<!-- 						<span class='loginUser uppercase display-none'></span> -->
<!-- 					</a> -->
					<a class="display-inline cart searchOpen" href="#search">
						<i class="fa fa-search"></i>					
					</a>
				</div>
			</div>
		</div>
	</header>
 <?php  //include __DIR__ . "/counter.phtml"; ?>
<!-- header end -->
