<?php 
		$serverUrl = $GLOBALS['general']['BACKEND_SERVER_URL'];
    	$widgetDataUrl = $serverUrl."/rest/widget/data?widget=crousel&catid=".$primarycategoryId;//$serverUrl."/rest/widget/data?widget=crousel&catid=".$primarycategoryId;
    	$result = Utils::getProtectedApiResponse($widgetDataUrl, null, null, null, null);
    	$response= $result['data'];
    	$jsonResult = json_decode($response,true);
		if(isset($jsonResult) && sizeof($jsonResult)>0) {
			?>
 
<!-- sponsored widgets start -->
<section>
	<div class="sponsored-widgets countryblock">
	<?php if(sizeof($jsonResult)>0){  $name = $jsonResult[0]['AFFILIATE_NAME'];
		if(strcasecmp($name,"sgn")==0)
			$title = "Promoted: In Store";
		else 
			$title = "Sponsored : ".$name;
		?>
		<h2 class="heading bold"><?=$title?></h2> <?php }?>
		<ul class="sponsored-list">
		 <?php 
		 	
		 for($i=0;$i<sizeof($jsonResult);$i++)
		 {
		 		$afname1=$jsonResult[$i]['AFFILIATE_NAME'];
		 		$sgnProdname=$jsonResult[$i]['AFFILIATE_PRODUCT_NAME'];
		 		$sgnProdid=$jsonResult[$i]['PRODUCT_ID'];
				$sgnProdprice=$jsonResult[$i]['OFFER_PRICE'];
				
				$sgnimgurl=$jsonResult[$i]['IMAGE_URL'];
				$sgnPopularUrl=$jsonResult[$i]['LANDING_URL'];
				$sgnIsActive=$jsonResult[$i]['IS_ACTIVE'];
				$eventCategory="gnshop|mweb|PDP|Promoted In Store";
				$eventaction = "pdp"."|"."click";
				$eventLabel=$i."|".$sgnProdname."|".$sgnProdid;
				$promoTagName="pdp_mweb_promoted_in_store";
				$affiliateLandingurl=$sgnPopularUrl;
				if(strcasecmp($afname1,"sgn") != 0)
				{						
					$affiliateParamArray=array("productname"=>$sgnProdname,"price"=>$sgnProdprice,"producturl"=>$sgnPopularUrl,"pagename"=>"pdp","widget"=>"promoted");
					$affiliateLandingurl=AffiliateUrlCreator::createAffiliateUrl($afname1,$affiliateParamArray);
				}
				//$sgnPopularUrl=$affiliateLandingurl;
				 $class=strtolower($afname1);
		 ?>
			<!-- list loop start -->
			<li class="<?=$class?>-sponsored">
				<a href="<?=$affiliateLandingurl?>" target="_blank" rel="nofollow sponsored" data-ga-track="<?=$eventCategory?>##<?=$eventaction?>##<?=$eventLabel?>##0" class="display-block">
					<div class="table">
						<div class="table-cell first-cell v-align-middle text-center">
						<img data-original="<?=$sgnimgurl?>" alt="icon" class="lazy img" /></div>
						<div class="table-cel v-align-top second-cell">
							<div class="title"><?=$sgnProdname?></div>
									<span class="price_tag offer-price-ui" >
									<?php if($sgnProdprice !== 0){?>
										<div class="price"><span class="rp"><?=$sgnProdprice?></span></div><?php }?>
									<span>
							<div class="oveflowhidden">
								<div class="col-sm-6 text-left brand-logo">
									<span></span>
								</div>
								<div class="col-sm-6 text-right">
									<span class="buy-button-affiliate btn">BUY</span>
								</div>
							</div>
						</div>
					</div>
				</a>
			</li>

			<!-- list loop end -->
			<?php } ?>
		</ul>
	</div>
</section>
<!-- sponsored widgets end -->
	<?php } ?>