<div class="similarCont viewSGgaevent">
	<h5 class="heading bold">Top Competitors</h5>
	<div class="simil_product_list">
  <?php $index=0; foreach($similarProductJson as $key=>$affiliateProd)
 		{
 			$index = $index+1;
 			$imageUrl=$affiliateProd['productImgUrl'];
 			$productId=$affiliateProd['productId'];
 			$productUrl="https://shop.gadgetsnow.com".$affiliateProd['productUrl'];
 			$pname=$affiliateProd['productName'];
 			$price=$affiliateProd['price'];
 			if($productId !== $product_Id_1)
 			{
 		?>
		<a  href=<?=$productUrl?>
			data-ga-track="gnshop_mweb_pdp_Competitor_click##click##<?=$index?>_<?=$pname?>##0" >
			<div class="sim_img">
				<img class="img lazy" alt="product"
					src="https://static.toiimg.com/photo/79837759.cms"
					data-original="<?= $imageUrl?>" />
			</div>
			<div class="sim_txt"><?=$pname?></div>
			<div class="sim_price bold rp"><?=number_format($price)?></div>
		</a>
<?php } } ?>
		
	</div>
</div>