
<div class="seocontianer">
	<?php if(isset($seoAtfTitleName) && $seoAtfTitleName !== "") {?><BR><h1 class="heading"><?=$seoAtfTitleName?></h1><?php }else { ?>
	<BR><h1 class="heading"><?php print_r(isset($brandName)?$brandName:$currentCategoryName); ?></h1>
	<?php }?>
	<?php if(isset($seoATFcontent)) { ?>
	<div class="seocontent overflowhidden">
	
	<?=$seoATFcontent?></div>
	<?php if(strlen($seoATFcontent) != 0) { ?>
	<a class="seoreadmore"href="#">read more...</a> 
	<?php } ?>
 <?php }?>
 </div>
		 

<?php 
$numberOfProducts=0;
if(!isset($_GET['start']))
{
	if(isset($_GET['pc']))
	{
		$numberOfProducts = $_GET['pc'];
	}else
		$numberOfProducts=0;
	
}
else 
{
	$numberOfProducts=$_GET['start'];
	if(isset($_GET['pc']))
	{
		$numberOfProducts = $numberOfProducts + $_GET['pc'];
	}
}
if(isset($products[0]))
{ ?>

	
<ul class="product-list-option"> 
<?php
$numberOftiles=0;
	$extns =$products;
	$position=0;
	$alternateSGNAMZ="A";
	foreach($extns as $temp)
	{
		$isDummy=false;
		$productid = $temp->PRODUCT_ID;
		if($alternateSGNAMZ=="A" && isset($amazonProducts[$productid]))
		{
			$extn = $amazonProducts[$productid];
			$alternateSGNAMZ = "S";
		}elseif(isset($sgnProducts[$productid]))
		{
			$extn = $sgnProducts[$productid];
			$alternateSGNAMZ = "A";
		}else
		{
			$extn = $temp;
		}
		if(isset($extn->AFFILIATES))
		{
			$affiliate = $extn->AFFILIATES;
			$isDummy = ($affiliate=='DUMMY')?true:false;
		}
		if(isset($extn->AFFILIATES))
			$affiliate = $extn->AFFILIATES;
	
		$defaultPrice = round($extn->DEFAULT_PRICE);
		$listPrice = round($extn->LIST_PRICE);
		$discount = $extn->DISCOUNT;
		$discount = round($discount);
		$discountedPrice = round($extn->DISCOUNTED_PRICE);
		$productUrl="#";$productImageUrl="#";
		if(isset($productUrlArr) && isset($productUrlArr[$extn->PRODUCT_ID])){
			$productUrl = $productUrlArr[$extn->PRODUCT_ID];
		}
		 
		if(isset($productImageUrlArr) && isset($productImageUrlArr[$extn->PRODUCT_ID]))
		{
			$productImageUrl = $productImageUrlArr[$extn->PRODUCT_ID];
		}
		$comingSoon=false;
		$curTime = time()*1000;
		if(isset($extn->INTRODUCTION_DATE->time) && ($extn->INTRODUCTION_DATE->time>=$curTime) ){
			$comingSoon=true;
		}
		$position=$position+1;
		// Flag to show adverstisement
		$numberOfProducts=$numberOfProducts+1;
		$numberOftiles=$numberOftiles+1;
		$showad=false;
		if($numberOfProducts == 12)
		{
			$showad = true;
		}
	
?>

	<!-- loop start -->
	<li>
		<a href="<?=handleStr($productUrl)?>" id="<?=$leafTitle;?>-<?= $extn->PRODUCT_ID;?>-<?=$position;?>" 
		   data-ga-track="product_select|category_page##<?= $extn->PRODUCT_ID;?>##<?=$currentCategoryName;?>|<?=$uri;?>##<?=$position;?>" 
		   class="display-block overflowhidden" >
			<div class="product-img relative">
				<img alt="<?=$extn->PRODUCT_NAME;?>" class="img lazy v-align-middle"src="https://static.toiimg.com/photo/79837759.cms" data-original="<?=$productImageUrl?>"/>
			<?php if($comingSoon) {?>
				<div class="commingsoon absolute uppercase bold">Comming Soon</div>
			<?php } ?>
			</div>
			<div class="product-detail">
				<div class="product-heading bold"><?=$extn->PRODUCT_NAME;?><?=$productUrl?></div>
				<div class="row overflowhidden">
					<div class="col-sm-12">
						<!--div class="product-rating col-sm-12">
							<div class="rating-show">
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<div class="rating-given" style="width:80%;">
									<div>
										<span></span>
										<span></span>
										<span></span>
										<span></span>
										<span></span>
									</div>
								</div>
							</div>
						</div -->
						<div class="product-price col-sm-12">
						 <?php if($discountedPrice >0) { ?>
							<span class="rp offer bold display-inline"><?=number_format($discountedPrice);?></span>
							<?php if($listPrice>$defaultPrice){ ?>
							<span class="rp mrp display-inline"><?= number_format($listPrice)?></span>
						<?php } ?>	
						<?php }else {?>
							<span class="rp offer bold display-inline"><?=number_format($defaultPrice);?></span>
						<?php if($listPrice>$defaultPrice){?>
							<span class="rp mrp display-inline"><?=number_format($listPrice)?></span>
						<?php } ?>
						<?php }?>	
						</div>
						<div class="col-sm-12">
						 <?php if(isset( $extn->OFFER_TEXT) &&  $extn->OFFER_TEXT!="") {?>
						 	<div class="special-offer text-center"></div><?php } ?>
						</div>
					</div>
				</div>
			</div>
		</a>
		<?php if(($numberOfProducts%2)==0) { ?>
		<li> <div id="div-clmb-ctn-<?=htmlentities ($numberOfProducts);?>" 
			data-slot="256682" 
			data-position="<?=htmlentities ($numberOfProducts);?>" 
			data-section="0" 
			data-cb="adwidgetfun" 
			class="colombia mobile-product-list-view adcode"> </div>
		</li>	
		<?php  $numberOftiles=$numberOftiles+1; } ?>
	</li>
	<!-- Display Ad after 12 products -->
	<?php if(($numberOfProducts%12)==0) { ?>
	<div id='div-gpt-ad-1481557438932-<?=($numberOfProducts/12)+1?>' class="text-center adcode" style="clear:both; padding:10px 0" >
		<script type='text/javascript'>
		googletag.cmd.push(function() { googletag.display('div-gpt-ad-1481557438932-<?=($numberOfProducts/12)+1?>'); });
		</script>
	</div>
	<?php } ?>
	<!-- loop end -->
	
<?php if($numberOftiles===6) {?>
<?php include __DIR__ . "Merc-banner.phtml"; ?>

<?php  }?>
	
	<!-- Ends Promoted -->
	
<?php  if($numberOftiles===18) {?>
  <?php  include __DIR__ . "/../common/promotedbanner2.phtml"; ?>
		 <?php  }?>
<!-- Ends Promoted banner 2 start-->
<?php } // Ends for loop?>
	<!-- loop end -->
	<input type="hidden" id="numberofproducts" value="<?=$numberOfProducts?>" />
	<?php if(isset($productCount) && $productCount > 32){?><div class="more-results"><a href="<?=handleStrAndDefault($nextPage, "")?>"></a></div><?php }?>
</ul>
<?php } // Ends If?>

<?php if(isset($seoBTFcontent)) { ?>
<div class="seocontianer">
<h2><?=$seoBtfTitleName?></h2>
<div class="seocontent overflowhidden">
<?=$seoBTFcontent?></div>
	<?php if(strlen($seoBTFcontent) >= 45) { ?>
<a class="seoreadmore" href="#">  read more...</a>
	<?php } ?>
	
</div>
<?php } ?>
