<?php 
if (isset($_SERVER['HTTP_REFERER'])) // check if referrer is set
	{$reffer = $_SERVER['HTTP_REFERER'];}else{$reffer = 'No referrer set';}
	$url =$_POST["size"];
	$newurl = "http://shopping.indiatimes.com".$url;
	//$homepage = file_get_contents($newurl);
?>
<div class="size-chart">
<a class="size-back" href="<?php echo $reffer; ?>"><< Go Back</a>
<?php if(!empty($homepage)){echo $homepage;}else{ echo "<meta http-equiv='refresh' content='0; /'>";} ?>
</div>
<link href="/mobile/css/mobile_style.css" rel="stylesheet" type="text/css" />
<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<!-- Include js plugin -->
<script>
$(document).ready(function(){
	var _imgpath = $("td img").attr('src');
	//alert(_imgpath);
	var _newpath = "http://shopping.indiatimes.com"+_imgpath;
	$("td img").attr('src', _newpath);
	$("body").on("click",".tabs span",function(){
		$(".tabs span").removeClass("active");
		$(".tabcontents").css("display","none");
		$(this).addClass("active");
		var _id = $(this).text();
		$("#"+_id+"_tabcontents").css("display","block")
	});
	
});
</script>
