<?php
 if(isset($endDate) && isset($startDate))
 {
   echo "<script>var endDate=".$endDate."</script>";
   echo "<script>var startDate=".$startDate."; var timerTitle='".$title."';</script>";
  
	$gaEventcounter = "CountDownTimer##".$title."##Click##0";
	?>
<a href="<?=$url?>" target="_blank" data-ga="<?= $gaEventcounter;?>" class="timer_container mobile" >
        <span class="brands_name">
          <span class="title"><?=$title?></span>
          <span class="suffix"><?=$suffix?></span>
        </span>
        <span class="timer">
          <span class="timer_box">
            <span class="time">
              <span>0</span>
              <span>0</span>
            </span>
            <span class="label">days</span>
          </span>
          <span class="timer_box">
            <span class="time">
              <span>0</span>
              <span>0</span>
            </span>
            <span class="label">hrs</span>
          </span>
          <span class="timer_box">
            <span class="time">
              <span>0</span>
              <span>0</span>
            </span>
            <span class="label">min</span>
          </span>
          <span class="timer_box">
            <span class="time">
              <span>0</span>
              <span>0</span>
            </span>
            <span class="label">sec</span>
          </span>
        </span>
      </a>
      <div class="ankush"></div>
      <script>_counter();</script>
      <?php } ?>