<?php
if (!empty($affiliateData)) {
    $widgetLabel = "SEE ALSO";
	$dataGA['action'] = 'SeeAlso';
    if ($widgettype === 'AFF_BUY') {
        $widgetLabel = "BUY AT";
		$dataGA['action'] = 'BuyAt';
    }
    ?>
<div class="affiliate">
	<div class="affiliateheading"><?=$widgetLabel?></div>
  <?php foreach ($affiliateData as $key => $data) {?>
	<a href="<?=$data["url"]?>" rel="noopener nofollow noreferrer sponsored" target="_blank" data-ga="<?=$dataGA["category"]?>##<?=$dataGA['action']?>##<?=$data["title"]?>">
		<div class="affi-box affiliateCard <?php if($key > 1){ echo 'hide';} ?>">
			<div class="figure"><img src="<?=$data["imageURL"]?>" alt="<?=$data["title"]?> image" /></div>
			<div class="figcaption">
				<h5 class="aff-title"><?=$data["title"]?></h5>
				<div class="aff-prictab">
					<span class="offer rs"><?=$data["price"]?></span>
					<?php if( isset($data["listPrice"]) && $data["listPrice"] !== $data["price"] ) {?><span class="mrp rs"><?=$data["listPrice"]?></span><?php } ?>
					<?php if( isset($data["discount"]) ) {?><span class="off">(<?=$data["discount"]?>% Off)</span><?php } ?>
				</div>
			</div>
			<div class="affililogo">
				<span class="logo"><img alt="affiliate logo <?=$data["title"]?>" src="<?=$data["logoURL"]?>" /></span>
				<button class="btn">BUY</button>
			</div>
		</div>
	</a>
  <?php }?>
  <?php if(count($affiliateData) > 2){?>
	<div class="callaction seeAllAffiliate">
			<div class="downbtn"><span>see all</span></div>
	</div>
	<?php } ?>
</div>
<?php }?>