<?php ini_set("error_reporting", E_ERROR | E_WARNING | E_PARSE); ?>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<link rel="shortcut icon" href="https://www.gadgetsnow.com/icons/favicon1.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="preconnect" href="https://static.clmbtech.com/"/>
	<link rel="preconnect" href="https://securepubads.g.doubleclick.net"/>
	<link rel="preconnect" href="https://ade.clmbtech.com"/>
	<link rel="preconnect" href="https://sb.scorecardresearch.com"/>
	<link rel="preconnect" href="https://www.google-analytics.com"/>
	<link rel="preconnect" href="https://www.googletagservices.com"/>
	<link rel="preconnect" href="https://static.toiimg.com"/>
	<link rel="preconnect" href="https://secure-assets.rubiconproject.com"/>
	<link rel="preconnect" href="https://ads.pubmatic.com"/>
	<link rel="preconnect" href="https://adservice.google.com"/>
	<link rel="preconnect" href="https://adservice.google.co.in"/>
	<link rel="preconnect" href="https://pagead2.googlesyndication.com"/>
    <?php include "gnseoscript.phtml";?>
	<?php include "gnheadscript.phtml";?>
</head>
<body data-gacategory="<?=$dataGA["category"]?>" data-category="<?=$categoryData["seoName"]?>"  data-uname="<?=$gadgetData["productUName"]?>">
<?php include "gnbodyscript.phtml";?>
<?php
function ob_html_compress($buf){
    return str_replace(array("\n","\r","\t"),'',$buf);
}
ob_start("ob_html_compress");
?>
<?php include "gnheader.phtml";?>
<?php
$productName = !empty($seoData["h1Title"]) ? $seoData["h1Title"] : $gadgetData["productName"];
$breadCrumbdata = [
    ["id" => 1, "label" => 'Home', 'link' => $domainPrefix],
    ["id" => 2, "label" => $categoryData['name'], 'link' => $domainPrefix . '/' . $categoryData['seoName']],
    ["id" => 3, "label" => $gadgetData["brand"] . ' ' . $categoryData['name'], 'link' => $domainPrefix . '/' . $categoryData['seoName'] . '/' . $gadgetData['brandUname']],
    ["id" => 4, "label" => $productName],
];
if (!($gadgetData["review"] && $gadgetData["review"]["synopsis"])) {
    unset($tabsData["criticReview"]);
}
$imageInfo = $gadgetData["product_image"];
$imgArr = array();
if ($imageInfo) {
    foreach ($imageInfo as $img) {
        array_push($imgArr, ["msid" => $img]);
    }
}
$cameraImageArr = array();
if (!empty($gadgetData["review"]["cameraImage"])) {
    foreach ($gadgetData["review"]["cameraImage"] as $img) {
        array_push($cameraImageArr, ["msid" => $img["msid"]]);
    }
}

$reviewImageArr = array();
if (!empty($gadgetData["review"]["reviewImage"])) {
    foreach ($gadgetData["review"]["reviewImage"] as $img) {
        array_push($reviewImageArr, ["msid" => $img["msid"]]);
    }
}
$imgArr = array_merge($imgArr, $cameraImageArr, $reviewImageArr);
$galleryUrl = $domainPrefix . '/' . $categoryData["seoName"] . "/images/" . $gadgetData["productUName"] . "-photos";
$compareUrl = $domainPrefix . '/compare-' . $categoryData["seoName"] . "/" . $gadgetData["productUName"];
$relatedGadgetsUrl = $domainPrefix . '/' . $categoryData["seoName"] . "/" . $gadgetData["productUName"] . "/alternatives";

$getPriceInIndia = '';
if (!empty($gadgetData["keyFeature"]["priceinindia"])) {
    $getPriceInIndia = $gadgetData["keyFeature"]["priceinindia"];
} else if (!empty($gadgetData["price"])) {
    $getPriceInIndia = $gadgetData["price"];
}
$summaryDataArr = array();
if (!empty($gadgetData["keyFeature"])) {
    foreach ($gadgetData["keyFeature"] as $featureKey => $featureValue) {
        if ($featureKey === 'price_in_india') {
            $getPriceInIndia = $gadgetData["keyFeature"][$featureKey];
            break;
        }
        array_push($summaryDataArr, ["id" => str_replace("_", ' ', $featureKey), "value" => $gadgetData["keyFeature"][$featureKey], "index" => $featureValue, "customclass" => $gadgetData["category"] . "_" . $featureKey]);
    }
}

if (!empty($gadgetData["specs"]["general"]["launch_date"])) {
    array_push($summaryDataArr, ["id" => 'Launch Date', "value" => $gadgetData["specs"]["general"]["launch_date"], "index" => '', "customclass" => 'launchdate']);
}
if ($getPriceInIndia) {
    array_push($summaryDataArr, ["id" => 'Price in India', "value" => $getPriceInIndia, "index" => '', "customclass" => 'mobile_rupee']);
}
$cRating = $uRating = '';
if (!empty($gadgetData["criticRating"]) && $gadgetData["criticRating"] > 0) {
    $cRating = number_format((float) $gadgetData["criticRating"], 1, '.', '');
}
if (!empty($gadgetData["avgrating"])) {
    $uRating = number_format((float) $gadgetData["avgrating"], 1, '.', '');
}
$criticRatingText = $cRating ? 'Critic' : '';
$userRatingtext = $uRating ? 'User' : '';
$finalReviewTitle = ($criticRatingText !== '' && $userRatingtext !== '') ? $criticRatingText . ' & ' . $userRatingtext : $criticRatingText . $userRatingtext;
if ($finalReviewTitle) {
    $ratingSummaryValue = '';
    if ($cRating) {
        $ratingSummaryValue .= $cRating;
    }
    if ($cRating && $uRating) {
        $ratingSummaryValue .= ' & ';
    }
    if ($uRating) {
        $ratingSummaryValue .= $uRating;
    }
    array_push($summaryDataArr, ["id" => $finalReviewTitle . ' Rating', "value" => $ratingSummaryValue, "index" => '', "customclass" => 'critic_rating']);
}

if (count($summaryDataArr) > 4) {
    $summaryDataArr = array_chunk($summaryDataArr, 4, true);
}

//echo "<pre>";print_r($summaryDataArr);die;
$atfContent = isset($seoData["atfContent"]) ? $seoData["atfContent"] : '' ;
$atfContent .= isset($seoData["priceInIndia"]) ? `<h6>` . $gadgetData["productName"] . ` Price In India</h6>` . $seoData["priceInIndia"] : '';
$isUpcoming = $isRumoured = false;
$unOfficial = '';
if ($gadgetData["upcoming"]) {
    $isUpcoming = true;
}
if ($gadgetData["rumoured"]) {
    $isRumoured = true;
}
if ($isRumoured || $isUpcoming) {
    $unOfficial = '<span class="unOfficial">(Unofficial)</span>';
}
?>
<div class="gadgetshowcontianer">
	<div class="overview">
		<div class="overviewhead">
			<h1 class="overheading">
				<?php if(!$isSEOExclude) {?>
				<?=$productName?> Price & Specs
				<?php } else { echo $productName; } ?>
			</h1>
		</div>
	</div>
	<div class="<?php if ( $showHeader ){echo 'tabs';} else {echo 'tabs frmapp';}?>">
		<div class="tablist">
			<?php foreach ($tabsData as $data) {?>
				<div class="tabbtn sectionTabs <?php echo $data["active"] ? 'active' : '' ?>" data-sectionid="section_<?=$data["id"]?>"   data-ga="<?=$dataGA["category"]?>##<?=$data["name"]?>##Navigation"><?=$data["name"]?></div>
			<?php }?>
		</div>
	</div>
	<!-- firstfold start -->
	<div id="section_overview" class="firstfoldcontainer">
		<div class="firstfoldboxone">
			<div class="largeimg <?php if ($isUpcoming) {echo "infotag";}?>" <?php if ($isUpcoming) {echo 'data-upcoming="upcoming"';}?>>
				<a href="<?=$galleryUrl?>" data-ga="<?=$dataGA["category"]?>##ViewGallery##Click">	
					<div class="figure">
						<img alt="<?=$productName?>" src="https://static.toiimg.com/thumb/resizemode-4,msid-<?=$imgArr[0]["msid"]?>,imgsize-200,width-200/<?=$imgArr[0]["msid"]?>.jpg" />
					</div>
				</a>
			</div>
			<?php if (count($imgArr) > 1) {?>
				<a class="imgcount" href="<?=$galleryUrl?>" data-ga="<?=$dataGA["category"]?>##ViewGallery##Click">View Photos (<?=count($imgArr)?>)</a>
			<?php } ?>
		</div>
		<div class="firstfoldboxtwo">
			<div class="slider">
				<div id="keyFeatureFoldsId" class="slides">					
					<?php foreach ($summaryDataArr as $key => $data) {?>
						<div id="keyFeaturesSlides_<?=$key?>" class="slidesbox" data-item=<?=$key?>>
							<div class="summarybox">
								<?php foreach ($data as $summary) {?>
									<div class="box">
										<div class="icons <?=$summary["customclass"]?>"><i>icons</i></div>
										<div class="spec">
											<span class="keys"><?=$summary["id"]?></span>
											<span class="feat"><?=$summary["value"]?></span>
										</div>
									</div>
								<?php }?>
							</div>
						</div>
					<?php }?>					
				</div>
			</div>
			<div class="dottbox">
				<?php foreach ($summaryDataArr as $key => $data) {?>
					<span id="dotKeyFeaturesSlides_<?=$key?>" class="button keyFeatureDots <?php echo $key=== 0 ? 'active' : '' ?>" data-slideid="keyFeaturesSlides_<?=$key?>" ><?=$key + 1?></span>
				<?php }?>
			</div>
		</div>
	</div>
	<!-- firstfold end -->
	<!-- widgetUser start -->
	<div class="widgetUser">
		<div class="listbtn">
			<div class="iconBox rate"><i></i><span>Rate & Review</span></div>
		</div>
		<div class="listbtn">
			<a href="<?=$compareUrl?>"  data-ga="<?=$dataGA["category"]?>##Compare##Widget"><div class="iconBox compare"><i></i><span>Compare</span></div></a>
		</div>
		<?php if (count($cameraImageArr) > 0) {?>
		<div class="listbtn">
			<a href="<?=$galleryUrl?>"  data-ga="<?=$dataGA["category"]?>##ViewGallery##CameraImages"><div class="iconBox gallimage"><i></i><span>Camera Images</span></div></a>
		</div>
		<?php }?>
		<div class="listbtn">
			<a href="<?=$relatedGadgetsUrl?>" data-ga="<?=$dataGA["category"]?>##RelatedGadgets##Widget" ><div class="iconBox relatedmobile"><i></i><span>Related Mobiles</span></div></a>
		</div>
	</div>
	<!-- widgetUser end -->
	<!-- aftcontent start -->

	<div class="atfcontent">
		<h2>About <?=$productName?></h2>
		<div class="aftbox" data-height="73px" style="height:73px">
		<?=$atfContent?>
		<span class="readmore active">... Read More</span>
		</div>
	</div>
<!-- aftcontent end -->

<div id="dataContainer_AFF_BUY"></div>
<div id="dataContainer_AFF_SEE_ALSO" class="pageGA" data-view-ga="<?=$dataGA["category"]?>##SeeAlso_View##<?=$productName?>"></div>

<!-- see all start -->
<!--<div class="callaction">
	<div class="downbtn"><span>see all</span></div>
</div>-->
<!-- see all end -->
<!--  Specifications start -->
<div id="section_specs" class="specifications">
	<h3 class="spec-heading"><?=$productName?> Specifications <?=$unOfficial?></h3>

	<div class="spec-contain">
		<?php 
		$specIndex = 1;
		foreach ($gadgetData["specs"] as $spec => $specData) {?>
			<div class="spec-box">
			<h2 class="spec-open"><?php echo str_replace("_", ' ', $spec); ?></h2>
			<div class="spec-table">
				<table>
				<?php foreach ($specData as $specKey => $specValue) {?>
					<tr>
						<td><?php echo str_replace("_", ' ', $specKey); ?></td>
						<td><?=$specValue?></td>
					</tr>
				<?php }?>
				</table>
			</div>
			</div>
		<?php 
		if($specIndex === 3 ){
			?>
			<div class="mrecadcaller">
				<div id='div-gpt-ad-1550826256047-20'>
					<script>
						googletag.cmd.push(function() { googletag.display('div-gpt-ad-1550826256047-20'); });
					</script>
				</div>
			</div>
			<?php
		}else if($specIndex === 6 ){
			?>
			<div class="mrecadcaller">
				<div id='div-gpt-ad-1550826256047-21'>
					<script>
						googletag.cmd.push(function() { googletag.display('div-gpt-ad-1550826256047-21'); });
					</script>
				</div>
			</div>
			<?php
		}else if($specIndex === 9 ){
			?>
			<div class="mrecadcaller">
				<div id='div-gpt-ad-1550826256047-22'>
					<script>
						googletag.cmd.push(function() { googletag.display('div-gpt-ad-1550826256047-22'); });
					</script>
				</div>
			</div>
			<?php
		}
		$specIndex++;
	}
	?>
	</div>
</div>
<div class="disclaimer"><span class="info flt"><i>!</i></span> <span class="infotext flt">Disclaimer: Some of the information on the page is subject to change.</span></div>
<!-- critic review start -->
<?php if (!empty($gadgetData["review"]) && !empty($gadgetData["review"]["url"])) {?>
<div id="section_criticReview" class="criticreview">
	<h2 class="crticheading"><?=$gadgetData["review"]["title"]?></h2>
	<a href="<?=$domainPrefix.$gadgetData["review"]["url"]?>"   data-ga="<?=$dataGA["category"]?>##CriticReviews##ImgClick">
		<div class="criticimagebox">
		<div class="figure">
			<span>
				<img title="<?=$gadgetData["review"]["title"]?>" class="lazy" src="https://static.toiimg.com/photo/79837759.cms" data-src="https://static.toiimg.com/thumb/resizemode-4,msid-<?=$gadgetData["review"]["imageMsid"]?>,width-600/<?=$gadgetData["review"]["imageMsid"]?>.jpg"/>
			</span>
		</div>
			<span class="criticrating">Rating<span><?=$gadgetData["criticRating"]?></span></span>
		</div>
	</a>
	<?php if (!empty($gadgetData["review"]["synopsis"])) {
    $topFeatures = str_replace('<p>Top Features</p>', '', $gadgetData["review"]["synopsis"]);
    $topFeatures = implode("", explode("*", $topFeatures));
    $topFeatures = str_replace(array('<br/>', '/<br>/g', '<br />'), '</p><p>', $gadgetData["review"]["synopsis"]);
    $topFeatures = str_replace('*', '', $gadgetData["review"]["synopsis"]);
    ?>
		<div class="criticfeaturebox">
			<h3 class="featurehead">Top Features</h3>
			<div class="criticfeature">
				<div><?=$topFeatures?></div>
			</div>
		</div>
	<?php }?>
	<div class="critictextdetail">
		<div class="critictextbox">
			<span class="critictext">
				<?=substr(strip_tags($gadgetData["review"]["text"]),0,110)?>
			</span>
			<span class="critictextread"><a href="<?=$domainPrefix.$gadgetData["review"]["url"]?>"   data-ga="<?=$dataGA["category"]?>##CriticReviews##ReadMore">Read Full Review</a></span>
		</div>
	</div>
</div>
<?php }?>
<!-- critic review end -->

<!-- user review start -->
<?php
$totalRatingCount = 0;
$ratingData = array();
if (!empty($gadgetData["ratings"])) {
    foreach ($gadgetData["ratings"] as $data) {
        $totalRatingCount = $totalRatingCount + $data["count"];
        $ratingData[$data["rating"] / 2] = $data["count"];
    }
}
?>
<div id="section_userReview" class="userreview pageGA pageview" data-view-ga="<?=$dataGA["category"]?>##UserReview##View">
	<div class="userrating">
		<?php if ($totalRatingCount > 0){ ?>
		<h3 class="userheading">user reviews & rating</h3>
		<div class="userbarbox">
			<div class="userbarleft">
				<span class="userbarrating"><?=$uRating?></span>
				<p>Based on <?=$totalRatingCount?> ratings</p>
			</div>
			<div class="userbarright">
				<div class="bar" data-star="5" data-rating="<?=$ratingData[5]?>"><div style="width:<?=($ratingData[5] * 100) / $totalRatingCount?>%"></div></div>
				<div class="bar" data-star="4" data-rating="<?=$ratingData[4]?>"><div style="width:<?=($ratingData[4] * 100) / $totalRatingCount?>%"></div></div>
				<div class="bar" data-star="3" data-rating="<?=$ratingData[3]?>"><div style="width:<?=($ratingData[3] * 100) / $totalRatingCount?>%"></div></div>
				<div class="bar" data-star="2" data-rating="<?=$ratingData[2]?>"><div style="width:<?=($ratingData[2] * 100) / $totalRatingCount?>%"></div></div>
				<div class="bar" data-star="1" data-rating="<?=$ratingData[1]?>"><div style="width:<?=($ratingData[1] * 100) / $totalRatingCount?>%"></div></div>
			</div>
		</div>
		<?php }else{?>
			<div class="userfirstreview"><span>Be the First one to review</div>
		<?php } ?>
		<div class="ratingbtn"><span>Rate & Review</span></div>
	</div>
	<?php if (!empty($gadgetData["userReview"])) {?>
	<div class="topreviewbox">
		<h3 class="userheading">Top Reviews</h3>
		<div class="topreviewlist">
			<?php foreach ($gadgetData["userReview"] as $data) {?>
			<div class="topreview" data-name="<?=substr($data["userName"], 0, 1)?>">
				<div class="topname"><?=$data["userName"]?></div>
				<div class="topcomment"><?=$data["text"]?></div>
				<div class="toprating"><span><?=number_format((float) $data["rating"], 1, '.', '')?></span></div>
			</div>
			<?php }?>
		</div>
	</div>
	<?php }?>
</div>
<!-- user review end -->

<!-- other variants start -->
<?php if (!empty($gadgetData["variantsDetail"])) {?>
<div class="othervariants">
	<h2 class="varheading">Other Variants</h2>
	<div class="">
		<?php foreach ($gadgetData["variantsDetail"] as $key => $data) {?>
		<a href="<?=$domainPrefix . $data["productUrl"]?>" class="product-box" data-ga="<?=$dataGA["category"]?>##OtherVariants##Widget_<?=$key+1?>">
			<div class="prodtitle"><?=$data["name"]?></div>
			<div class="prodimg">
				<img class="lazy" alt="<?=$data["name"]?>" src="https://static.toiimg.com/photo/79837759.cms" data-src="https://static.toiimg.com/thumb/imgsize-174997,msid-<?=$data["imagemsid"][0]?>,width-250,resizemode-4/<?=$data["imagemsid"][0]?>.jpg" />
			</div>
		</a>
		<?php }?>

	</div>
</div>
<?php }?>
<!-- other variants end -->
<!-- Similar Products start -->
<?php if (!empty($similarGadgetsData)) {?>
<div class="similarproducts pageGA pageview" data-view-ga="<?=$dataGA["category"]?>##SimilarProduct_View##Widget">
	<h2 class="varheading">Similar Products</h2>
	<div class="similarproductslist">
		<!-- product box start -->
		<?php foreach ($similarGadgetsData as $key=>$data) {?>
		<a href="<?=$domainPrefix . $data["Product_url"]?>" class="product-box"  data-ga="<?=$dataGA["category"]?>##SimilarProducts_Click##Widget_<?=$key+1?>">
			<div class="prodimg">
					<img class="lazy" alt="<?=$data["Product_name"]?>" src="https://static.toiimg.com/photo/79837759.cms" data-src="https://static.toiimg.com<?=$data["Product_image"]?>" />
			</div>
			<div class="prodtitle"><?=$data["Product_name"]?></div>
		</a>
		<?php }?>
	</div>
</div>
</div>
<?php }?>
<!-- Similar Products end -->
<!--Recent Comparisions start -->
<?php if (!empty($comparisonData)) {
$comparisonData = count($comparisonData) > 5 ? array_slice($comparisonData,5) : $comparisonData;
?>
<div class="recent-comparisions ">
	<h2 class="recentheading">Recent Comparisions</h2>
	<?php foreach ( $comparisonData as $key => $data) { ?>
	<div class="recentbox">
		<a href="<?=$domainPrefix . "/compare-" . $categoryData["seoName"] . "/" . $data["id"]?>"  data-ga="<?=$dataGA["category"]?>##LatestComparision##Widget_<?=$key+1?>">
		<?php foreach ($data["items"] as $pKey => $pData) {
        $itemLen = count($data["items"]);
        echo '<span>' . $pData["productName"] . '</span>';
        if ($itemLen - 1 !== $pKey) {
            echo '<i>vs</i>';
        }

    }?>
		</a>
	</div>
	<?php }?>
</div>
<?php }?>
<div class="mrecadcaller">
	<div id='div-gpt-ad-1550826256047-23'>
		<script>
			googletag.cmd.push(function() { googletag.display('div-gpt-ad-1550826256047-23'); });
		</script>
	</div>
</div>
<?php ob_end_flush(); ?>
<div class="breadcum">
	<ul
	itemType="https://schema.org/BreadcrumbList"
	itemScope="itemscope"
	>
		<?php foreach ($breadCrumbdata as $key => $data) {?>
			<li
			itemScope="itemscope"
			itemType="https://schema.org/ListItem"
			itemProp="itemListElement"
			key="<?=$data["id"]?>"
			>
			<?php if (!empty($data["link"])) {?>
				<a href="<?=$data["link"]?>" itemProp="item">
					<span itemProp="name"><?=$data["label"]?></span>
				</a>
			<?php } else {?>
				<span itemProp="name"><?=$data["label"]?></span>
			<?php }?>
			<?php if ($key !== 'undefined') {?>
				<meta content=<?=$key + 1?> itemProp="position" />
			<?php }?>
			</li>
		<?php }?>
	</ul>
</div>

<!-- rating popup start -->
<div class="ratingpop">
	<div class="ratingcontainer">
		<div class="ratingpophead">
			Rate & Review Device<span class="closepopbtn" title="close">+</span>
		</div>
		<input type="hidden" name="reviewmsid" value="<?=$gadgetData["review"]["msid"]?>" />
		<div class="ratingcontent">
			<div class="ratingtext">Your Rating</div>
			<div class="rate">
   				<input type="radio" id="star5" name="rate" value="5"/>
				<label htmlFor="star5" title="5 stars" value="5"> 5 star</label>
   				<input type="radio" id="star4" name="rate" value="4"/>
				<label htmlFor="star4" title="4 stars" value="4"> 4 star</label>
   				<input type="radio" id="star3" name="rate" value="3"/>
				<label htmlFor="star3" title="3 stars" value="3"> 3 star</label>
   				<input type="radio" id="star2" name="rate" value="2"/>
				<label htmlFor="star2" title="2 stars" value="2"> 2 star</label>

   				<input type="radio" id="star1" name="rate" value="1"/>
				<label htmlFor="star1" title="1 stars" value="1"> 1 star</label>


            		</div>
			<div class="ratinghealth">Rate It!</div>
		</div>
		<div class="submitText">
			<textarea placeholder="Add your review here" name="reviewtext" rows="4" cols="50" maxlength="3000"></textarea>
			<span class="submitnote">Characters Remaining: <span></span></span>
			<p class="errorMsg"></p>
		</div>
		<div class="submitbutton">
			<button type="button"> Submit Review</button>
			<input type="hidden" name="rateval" />
		</div>
	</div>
</div>
<!-- rating popup end -->

<!-- search start -->
<div class="searchcontainer">
	<div class="searchhead">
		<span class="searchback">back</span>
		<span class="searchinput">
			<input id="search_input" type="text" placeholder="Search Gadgets" autoComplete="off" />
		</span>
		<span class="searchclear"><span class="clearBox">Clear</span></span>
	</div>
	<div class="searchkeyword" id="filterSearchesContainer"></div>
	<div class="searchcontent">
		<div class="searchtrending" id="recentSearchesContainer"></div>
		<div class="searchtrending" id="trendingSearchesContainer"></div>
		<div class="gadgetssearch">
				<form class="gadgetsform"  action="javascript:void(0);" onSubmit="gadgetSearch()">
					<h6>Gadgets Search</h6>
					<div class="form-control">
						<select name="caltegoryselect" class="form-select" id="searchCategorySelect">
							<option selected>Select Category</option>
							<?php foreach ($categoryList as $data){?>
								<option value="<?=$data["id"]?>" data-seoname="<?=$data["seoName"]?>"><?=$data["name"]?></option>
							<?php } ?>
						</select>
					</div>
					<div class="form-control">
						<select  name="brandselect" class="form-select" id="searchBrandSelect" disabled="true">
							<option selected>Select Brand</option>
						</select>
					</div>
					<div class="form-control">
						<select  name="budgetselect" class="form-select" id="searchBudgetSelect" disabled="true">
							<option selected>Select Budget</option>
						</select>
					</div>
					<div class="form-control">
						<button id="searchGadgetButton" class="submit notallowed" disabled="true" onClick="gadgetSearch();">Search Gadgets</button>
					</div>
				</form>
		</div>
	</div>
</div>
<!-- search end -->
<?php include "gnfooter.phtml";?>
<?php include "gnfooterscript.phtml";?>
<?php if ( !empty($gadgetData) ){ 
  $totalCount = $wstrating = 0;
  $bstrating = 5;
  if (!empty($gadgetData["ratings"])) {
    foreach( $gadgetData["ratings"] as $data){
      $totalCount += $data["count"];
      $rate = $data["rating"]/2;
      if( $rate < $wstrating){
        $wstrating = $rate;
      }
      if ( $rate > $bstrating){
        $bstrating = $rate;
      }
    }
  }
  $avgRating = $gadgetData["avgrating"];
  $url = "https://www.gadgetsnow.com/" +$categoryData["seoName"] + "/" + $gadgetData["productUName"];
  $offers = [
    '@type' => 'Offer',
    'priceCurrency' => 'INR',
    'price' => isset($gadgetData["price"]) ? $gadgetData["price"] : '',
    'priceValidUntil' => date("Y-m-d"),
    'url' => $url,
  ];
  if (isset($gadgetData["upcoming"]) && $gadgetData["upcoming"] !== true){
    $offers['availability'] = 'http://schema.org/InStock';
  }
?>
<script type="application/ld+json">
  {
    "@context":"http://schema.org",
    "@type":"Product",
    "url":"https://www.gadgetsnow.com/<?php echo $categoryData["seoName"]; ?>/<?php echo $gadgetData["productUName"]; ?>",
    "sku":"<?php echo $gadgetData["productId"]; ?>",
    "image":"https://static.toiimg.com/thumb/resizemode-4,msid-76767499,imgsize-500,width-800/76767499.jpg",
    "name":"<?php echo $gadgetData["productName"]; ?>",
    "category":"<?php echo $categoryData["name"]; ?>",
    "description":"<?php echo strip_tags($seoData["atfContent"]); ?>",
    "brand":{"@type":"Thing","name":"<?php echo $gadgetData["brand"]; ?>"},
    <?php if (!empty($gadgetData["specs"]["general"]["launch_date"])) { ?>
    "releaseDate":"<?php echo $gadgetData["specs"]["general"]["launch_date"]; ?>",
    <?php } ?>
    <?php if ( $totalCount > 0){ ?>
    "aggregateRating":{"@type":"AggregateRating","ratingValue":"<?=$avgRating?>","ratingCount":<?=$totalCount?>,"worstRating":<?=$wstrating?>,"bestRating":<?=$bstrating?>},
    <?php } ?>
    "offers" : <?php echo json_encode($offers); ?>
  }
</script>
<?php } ?>
<script type="module">
  import {getCLS, getFID, getLCP} from 'https://unpkg.com/web-vitals?module';

  function sendToGoogleAnalytics({name, delta, id}) {
	window.ga('send', 'event', {
      eventCategory: 'Web_Vitals',
      eventAction: name,
      // The `id` value will be unique to the current page load. When sending
      // multiple values from the same page (e.g. for CLS), Google Analytics can
      // compute a total by grouping on this ID (note: requires `eventLabel` to
      // be a dimension in your report).
      eventLabel: `${Math.round(name === 'CLS' ? delta * 1000 : delta)}_${
        window.location.href
      }_${
        window.navigator &&
        window.navigator.connection &&
        window.navigator.connection.effectiveType
          ? window.navigator.connection.effectiveType
          : 'NA'
      }`,
	  eventValue: id,
      // Google Analytics metrics must be integers, so the value is rounded.
      // For CLS the value is first multiplied by 1000 for greater precision
      // (note: increase the multiplier for greater precision if needed).

      // Use a non-interaction event to avoid affecting bounce rate.
      nonInteraction: true,
    });
  }

  getCLS(sendToGoogleAnalytics);
  getFID(sendToGoogleAnalytics);
  getLCP(sendToGoogleAnalytics);
</script>
</body>
</html>
