<?php if ($showFooter) {?>	
<footer>
	<div class="footercontainer">
		<div class="footbox">
			<div class="footlogo">
				<a href="/" data-ga="<?=$dataGA["category"]?>##LogoHome##GadgetShow">Gadgets Now Home</a>
			</div>
			<div class="footlist">
				<a href="<?=$domainPrefix?>/about-us" class="" data-ga="<?=$dataGA["category"]?>##AboutUs##GadgetShow" >About Us</a>
				<a href="<?=$domainPrefix?>/return-policy" class="" data-ga="<?=$dataGA["category"]?>##ReturnPolicy##GadgetShow" > Return Policy</a>
				<a href="<?=$domainPrefix?>/feedback.cms" class="eu-hide"data-ga="<?=$dataGA["category"]?>##ContactUs##GadgetShow" > Contact Us</a>
				<a href="<?=$domainPrefix?>/termsandcondition" class="" data-ga="<?=$dataGA["category"]?>##TermsOfUse##GadgetShow" > Terms of Use</a>
				<a href="<?=$domainPrefix?>/privacypolicy" class="" data-ga="<?=$dataGA["category"]?>##PrivacyPolicy##GadgetShow" >Privacy Policy</a>
				<a href="<?=$domainPrefix?>/donotsell.cms" class="Footer-hide_item-T_fri ccpa-show" data-ga="<?=$dataGA["category"]?>##DoNotSellData##GadgetShow" >Do Not Sell Data</a>
				<a href="<?=$domainPrefix?>/sitemap.cms" class="" data-ga="<?=$dataGA["category"]?>##Sitemap##GadgetShow" >Sitemap</a>
				<a href="<?=$domainPrefix?>/cookiepolicy.cms" class="" data-ga="<?=$dataGA["category"]?>##CookiePolicy##GadgetShow" >Cookie Policy</a>
				<a href="<?=$domainPrefix?>/myaccount.cms" class="eu-hide" data-ga="<?=$dataGA["category"]?>##Newsletter##GadgetShow" >Newsletter</a>
				<a href="<?=$domainPrefix?>/authors.cms" class="" data-ga="<?=$dataGA["category"]?>##Authors##GadgetShow" >Authors</a>
			</div>
		</div>
		<?php if (!empty($footerData) && !empty($footerData['Popular Mobile Phones']['data']['items'])) {?>
			<div class="footbox">
			<div class="footlogo">
				<div class="foothead">Popular Mobiles</div>
			</div>
			<div class="footlist">
			<?php foreach ($footerData['Popular Mobile Phones']['data']['items'] as $key => $data) {?>
					<a href="<?=$data["wu"]?>" class="navlink"  data-ga="<?=$dataGA["category"]?>##<?=$data["hl"]?>##GadgetShow"><?=$data["hl"]?></a>
				<?php }?>
				</div>
		</div>
		<?php }?>
	</div>
</footer>
<?php }?>
<div class="floatingnav">
	<?php if ($showAds) {?>
	<div class="btf">
		<div id='div-gpt-ad-1550826256047-1'>
			<script>
				googletag.cmd.push(function() { googletag.display('div-gpt-ad-1550826256047-1'); });
			</script>
		</div>
	</div>
	<?php } ?>
	<?php if ($showBottomNav) {?>
	<div class="bottom_nav" id="onscrollhide">
		<div class="bottom_nav_list">
			<a href="<?=$domainPrefix?>" class="home bottonnavlink" data-ga="<?=$dataGA["category"]?>##BottomNavigation##Home"><i></i><span class="label">Home</span></a>
			<a href="<?=$domainPrefix?>/briefs" class="briefs bottonnavlink"  data-ga="<?=$dataGA["category"]?>##BottomNavigation##Briefs"><i></i><span class="label">Briefs</span></a>
			<a href="<?=$domainPrefix?>/mobile-phones" class="gadgets bottonnavlink" data-ga="<?=$dataGA["category"]?>##BottomNavigation##Gadgets"><i></i><span class="label">Gadgets</span></a>
			<a href="<?=$domainPrefix?>/play-free-online-games" class="games bottonnavlink" data-ga="<?=$dataGA["category"]?>##BottomNavigation##Games"><i></i><span class="label">Games</span></a>
			<a href="https://shop.gadgetsnow.com" class="shop bottonnavlink" data-ga="<?=$dataGA["category"]?>##BottomNavigation##Shop"><i></i><span class="label">Shop</span></a>
		</div>
			</div>
	<?php }?>
</div>
