<?php
	$ssoid = "SSOID";
	$price = "PRC";
	$googleTrackingId = "UA-198011-4";

?> 
<script type="text/javascript" src='https://www.gadgetsnow.com/gdpr_js.cms?v=28&minify=1' async="true"></script>
<script type="text/javascript" src="https://www.google-analytics.com/analytics.js" async="true"></script>
<script>
(function(i,r){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();})(window,'ga');

        ga('create', '<?php echo $googleTrackingId; ?>', 'auto', {'allowLinker': true});
        ga('require', 'linker');
        ga('linker:autoLink', ['indiatimes.com', 'timesofindia.com', 'gocricket.com', 'gadgetsnow.com','shop.gadgetsnow.com']);
        ga('require', 'displayfeatures');
        ga('require', 'ec');
        ga('require', 'GTM-T2MHVSK');

        var __ssoid = document.cookie.match(/(?:\\s)?<?php echo $ssoid; ?>=(\\w+);?/);
        var __prc = document.cookie.match(/(?:\\s)?<?php echo $price; ?>=(\\w+);?/);
        var cd10 = -1;
        var cd21 = __ssoid ? 1: 0;
        if(!!__ssoid){
            cd10 = __ssoid && __prc ? __prc[1] : 0;
            ga('set', 'dimension22', __ssoid[1]);
        }
        ga('set', 'dimension21', cd21);
        ga('set', 'dimension10', cd10);
        if (window.TimesGDPR && TimesGDPR.common.consentModule.gdprCallback){
            TimesGDPR.common.consentModule.gdprCallback(function(dataObj){
                if (!!dataObj.isEUuser){
                    ga('set', 'anonymizeIp', true);
                }
                ga('send', 'pageview');
            });
        } else { ga('send', 'pageview'); }
</script>
<script>(function (g, rx) {g[rx] = g[rx] || function () {(g[rx].q = g[rx].q || []).push(arguments)}})(window, 'grx');
  grx('init', 'g7af6dd9d');</script><script>var an_disableAppInit = false;</script>

<script async='async' src='https://www.googletagservices.com/tag/js/gpt.js'></script>
<!-- Google AD Script  -->
<script type='text/javascript'>
 	var googletag = googletag || {};
	googletag.cmd = googletag.cmd || [];
        function _ccaud() {
            let dsmiparam = "",_fpc = "",_optout = "";
            
            var colCcdsCookieVal = document.cookie.match('(^|;)\\s*_col_ccds\\s*=\\s*([^;]+)')?.pop() || '';
            var fpcCookieVal = document.cookie.match('(^|;)\\s*_col_uuid\\s*=\\s*([^;]+)')?.pop() || '';
            var optoutCookieVal = document.cookie.match('(^|;)\\s*optout\\s*=\\s*([^;]+)')?.pop() || '';
            if(!!(colCcdsCookieVal)){
                dsmiparam = "dsmi=" + colCcdsCookieVal + "&" ;
            }
            if(!!(fpcCookieVal)){
              _fpc = "fpc=" + fpcCookieVal + "&" ;
            }
            if(!!(optoutCookieVal)){
              _optout = "optout=" + optoutCookieVal + "&" ;
            }
             var _src = "https://ade.clmbtech.com/cde/aef/var=colaud?cid=2658:620&"+dsmiparam+_fpc+_optout+"_u="+encodeURIComponent(window.location.href)
            var e = document.createElement('script');
            e.setAttribute('language', 'javascript');
            e.setAttribute('type', 'text/javascript');
            e.setAttribute('async', 'true');
            e.setAttribute('src',_src);
  
            document.body.appendChild(e);
            setTimeout(function(){
            if(typeof localStorage != "undefined" && typeof colaud != "undefined"){
                localStorage.setItem('colaud', colaud.aud);
            }
        },2000);
        }
        document.addEventListener('DOMContentLoaded', function(event) {  
        
        //if(geo_continent!="EU"){
            _ccaud();
        //    }
        });

</script>
						
<script type='text/javascript'>
		<!-- Audience Segment Targeting -->
        	var _auds = "";
		if(typeof(colaud) !='undefined' && typeof(colaud.aud) !='undefined' && colaud.aud != "") {
		    _auds = colaud.aud;
		}
		else if(typeof localStorage != "undefined" && typeof(localStorage.getItem('colaud')) != "undefined" ){
		    _auds = localStorage.getItem('colaud');
		}
		googletag.cmd.push(function() {
		<!-- End Audience Segment Targeting -->		
			var _HDL = '';
			var _ARC1 = '';
			var _Hyp1 = '';
			var _tn = 'title';
			var _article = '';
			var _sg ='';
		 var _tval = function(v) {
			if(typeof(v)=='undefined') return '';
			if(v.length>100) return v.substr(0,100);
		 		return v;
			}
		var _SCN='<?=$categoryData["name"]?>';
		 var _TMPL='<?=$categoryData["name"]?>';
		googletag.defineSlot('/7176/GadgetsNow_Mweb/GadgetsNow_Mweb_Gadgetshow/GadgetsNow_Mweb_GdgtShow_ATF', [320, 50], 'div-gpt-ad-5609032954647-0').addService(googletag.pubads());
		googletag.defineSlot('/7176/GadgetsNow_Mweb/GadgetsNow_Mweb_Gadgetshow/GadgetsNow_Mweb_GdgtShow_FBN', [320, 50], 'div-gpt-ad-1550826256047-1').addService(googletag.pubads());
        googletag.defineSlot('/7176/GadgetsNow_Mweb/GadgetsNow_Mweb_Gadgetshow/GadgetsNow_Mweb_GdgtShow_Mrec3', [300, 250], 'div-gpt-ad-1550826256047-23').addService(googletag.pubads());
        googletag.defineSlot('/7176/GadgetsNow_Mweb/GadgetsNow_Mweb_Gadgetshow/GadgetsNow_Mweb_GdgtShow_Mrec', [300, 250], 'div-gpt-ad-1550826256047-20').addService(googletag.pubads());
        googletag.defineSlot('/7176/GadgetsNow_Mweb/GadgetsNow_Mweb_Gadgetshow/GadgetsNow_Mweb_GdgtShow_Mrec1', [300, 250], 'div-gpt-ad-1550826256047-21').addService(googletag.pubads());
        googletag.defineSlot('/7176/GadgetsNow_Mweb/GadgetsNow_Mweb_Gadgetshow/GadgetsNow_Mweb_GdgtShow_Mrec2', [300, 250], 'div-gpt-ad-1550826256047-22').addService(googletag.pubads());
		<!-- common tag -->
		googletag.pubads().setTargeting('sg', _auds).setTargeting('SCN', _SCN).setTargeting('TMPL', _TMPL).setTargeting('HDL', _tval(_HDL)).setTargeting('ARC1', _tval(_ARC1)).setTargeting('Hyp1', _tval(_Hyp1)).setTargeting('article', _tval(_article)).setTargeting('_tn', _tval(_tn));
		googletag.pubads().enableSingleRequest();
		googletag.enableServices();
		<!-- common tag -->
		
	});
	
    var _comscore = _comscore || [];
          var objComScore = { c1: "2", c2: "6036484" };
          function loadComscore() {
            if (typeof(COMSCORE) === "undefined") {
              var s = document.createElement("script"),
              el = document.getElementsByTagName("script")[0];
              s.async = true;
              s.src =
                (document.location.protocol == "https:" ? "https://sb" : "http://b") +
                ".scorecardresearch.com/beacon.js";
              el.parentNode.insertBefore(s, el);
            }
          };
          function fireComscore() {
            if (typeof(COMSCORE) !== "undefined" && typeof(COMSCORE.beacon) === "function") {
              COMSCORE.beacon(objComScore);
            }
          };
          if (window.TimesGDPR && TimesGDPR.common.consentModule.gdprCallback) {
            TimesGDPR.common.consentModule.gdprCallback(function(dataObj) {
              if (dataObj.isEUuser) {
                objComScore["cs_ucfr"] = 0;
              }
              _comscore.push(objComScore);
              loadComscore();
            });
          } else{
            objComScore["cs_ucfr"] = 0;
            _comscore.push(objComScore);
            loadComscore();
          }

//iBeat js

          window._ibeat_track = window._ibeat_track || {};
          function loadiBeat() {
              var s = document.createElement("script"),
              el = document.getElementsByTagName("script")[0];
              s.async = true;
              s.src = 'https://agi-static.indiatimes.com/cms-common/ibeat.min.js';
              el.parentNode.insertBefore(s, el);
          };
          // Lets wait for eu response.
          if (window.TimesGDPR && TimesGDPR.common.consentModule.gdprCallback){
              TimesGDPR.common.consentModule.gdprCallback(function(dataObj){
                  if (dataObj.isEUuser){_ibeat_track= {sCookie: false};}
                  loadiBeat();
              });
          }
          else{
              _ibeat_track= {sCookie: false}; 
              loadiBeat();
          }
          window.googletag = window.googletag || {cmd: []};
          var interstitialSlot, staticSlot;
          googletag.cmd.push(function() {
            interstitialSlot = googletag.defineOutOfPageSlot(
                '/7176/GadgetsNow_Mweb/GadgetsNow_Mweb_Home/GadgetsNow_Mweb_HP_INT',
                googletag.enums.OutOfPageFormat.INTERSTITIAL).addService(googletag.pubads());
            googletag.pubads().enableSingleRequest();
            googletag.enableServices();
          });
          googletag.cmd.push(function() {
            googletag.display(interstitialSlot);
          });
		 </script>
<!-- // Ends Google ad slot -->
<link href="/pwa/css/gnheaderandfirstfold.css?v=2.5"  rel="stylesheet" />
<script>
window._izq = window._izq || []; window._izq.push(["init" ]);
</script>
<script src="https://cdn.izooto.com/scripts/42db7363ddc852d306970fc9469ae196c73baf29.js">
</script>