<div id="saleNudgeContainer"></div>
<?php if ( $showHeader ){?>
	<?php if ( !empty($topSearches) ){?>
	<div class="topsearch pageGA pageview" data-view-ga="<?=$dataGA["category"]?>##TopSearches_View##View">
		<div class="topsearch_title">Top Searches:</div>
		<div class="topsearch_list">
		<?php foreach($topSearches as $key => $searchTerm){?>
		      <a href="<?=$searchTerm["wu"]?>"  data-ga="<?=$dataGA["category"]?>##TopSearches_Keywords##GadgetShow_<?=$searchTerm["hl"]?>"><?=$searchTerm["hl"] ?></a>
		<?php } ?>			 
		</div>
	</div>
	<?php } ?>
<header class="sticky">
	<div class="header">
		<a href="/" data-ga="<?=$dataGA["category"]?>##BackButton##GadgetShow"><span class="back">back</span></a>
		<div class="logo"><a class="home" href="/"  data-ga="<?=$dataGA["category"]?>##LogoHome##GadgetShow">Gadgetsnow</a></div>
		<?php if($showSearch) {?>
		<div class="searchicon" data-ga="<?=$dataGA["category"]?>##Search_Click##_"><i>search</i></div>
		<?php } ?>	
	</div>	
	<?php if ( !empty($headerData) ){?>
		<div class="navigation">
		<?php foreach($headerData as $key => $data){?>
				<a href="<?=$domainPrefix.$data["url"]?>" class="navlink" data-ga="<?=$dataGA["category"]?>##Top_Navigation##<?=$data["title"] ?>"><?=$data["title"] ?></a>
			<?php } ?>
		</div>
	<?php } ?>
</header>
<div id="dataContainer_countdowntimer" class="defaultclass"></div>
<?php } ?>
<?php if($showAds) { ?>
<div class="atfadcaller">
	<div id='div-gpt-ad-5609032954647-0'>
		<script>
			googletag.cmd.push(function() { googletag.display('div-gpt-ad-5609032954647-0'); });
		</script>
	</div>
</div>
<?php } ?>
