<title><?=$seoData["title"]?></title>
<meta name="description" content="<?=$seoData["description"]?>" />
<?php if (isset($seoData["keywords"])) {?>
    <meta name="keywords" content="<?=$seoData["keywords"]?>" />
<?php }?>
<?php if (isset($seoData["geoRegion"])) {?>
    <meta name="geo.region" content="<?=$seoData["geoRegion"]?>" />
<?php }
$ogType = isset($seoData["ogType"]) ? $seoData["ogType"] : 'website';
$ogImage = isset($seoData["ogimage"]) ? $seoData["ogimage"] : 'https://static.toiimg.com/photo/79837759.cms';
$defaultDate = date('Y-m-d\TH:m:s+05:30');
$dateModified = (isset($seoData["dateModified"])) ? $seoData["dateModified"] : $defaultDate;
$datePublished = (isset($seoData["datePublished"])) ? $seoData["datePublished"] : $defaultDate;
?>
<meta content=<?=$ogType?> property="og:type" />
<meta property="og:title" content="<?=$seoData["title"]?>" />
<meta property="og:url" content="<?=$seoData["canonicalUrl"]?>" />
<meta property="og:image" content="<?=$ogImage?>" />
<meta property="og:description" content="<?=$seoData["description"]?>" />
<meta property="twitter:url" content='<?=$seoData["canonicalUrl"]?>' />
<meta property="twitter:image" content=<?=$ogImage?> />
<meta property="twitter:title" content=<?=$seoData["title"]?> />
<meta property="twitter:description" content="<?=$seoData["description"]?>" />
<meta itemProp="dateModified" content="<?=$dateModified?>" />
<meta itemProp="datePublished" content="<?=$datePublished?>" />
<?php if (isset($seoData["robots"])) {?>
    <meta name="robots" content="<?=$seoData["robots"]?>" />
<?php }?>
<?php if (isset($seoData["maxImagePreview"])) {?>
    <meta name="robots" content="max-image-preview:large" />
<?php }?>
<link rel="canonical" href="<?=$seoData["canonicalUrl"]?>" />
<?php if (isset($seoData["alternateURL"])) {?>
    <link rel="alternate" href="<?=$seoData["alternateURL"]?>" />
<?php }?>
<?php if (isset($seoData["alternateApp"])) {?>
    <link rel="alternate" href="<?=$seoData["alternateApp"]?>" />
<?php }?>
<?php if (isset($seoData["amphtml"])) {?>
    <link rel="amphtml" href="<?=$seoData["amphtml"]?>" />
<?php }?>
<?php if (isset($seoData["isSponsoredContent"])) {?>
    <meta property="cr:sponsored" />
<?php }?>
<script type="application/ld+json">
  {
    "@context":"http://schema.org",
    "@type":"Organization",
    "location":{"@type":"Place","address":"Times Internet Limited (Times Center), FC - 6, Sector 16 A, Film City, Noida - 201301 Uttar Pradesh, India"},
    "description":"Find latest technology news, gadgets reviews & ratings. Popular & latest gadgets specifications, features, prices, photos & videos. Trending mobile phone comparisons, slideshows, how tos and videos for latest mobile phones, tablets, technology news updates.",
    "name":"Gadgets Now",
    "email":"editor@gadgetsnow.com",
    "logo":{"@type":"ImageObject","url":"https://static.toiimg.com/photo/88204186.cms","width":600,"height":60},
    "url":"https://www.gadgetsnow.com",
    "sameAs":["https://www.facebook.com/GadgetsNow","https://twitter.com/gadgetsnow","https://www.linkedin.com/company/gadgetsnow","https://www.youtube.com/channel/UC4Gez3KnLoxurTz5W3U6SuA","https://www.instagram.com/gadgets_now","https://in.pinterest.com/gadgetsnow/"]
  }
</script>
<script type="application/ld+json">
  {
    "@context":"http://schema.org",
    "@type":"WebSite",
    "name":"Gadgets Now",
    "url":"https://www.gadgetsnow.com/",
    "potentialAction":{"@type":"SearchAction","target":"https://www.gadgetsnow.com/topic/{search_term_string}","query-input":"required name=search_term_string"}
  }
</script>