<!DOCTYPE html>
<!-- TODO The common header phtml has to be used-->
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <meta name="author" content="Gadgetsnow.com" />
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap" rel="stylesheet" />
<?php
	$ssoid = "SSOID";
	$price = "PRC";
	$googleTrackingId = "UA-198011-4";

?> 
<script type="text/javascript" src='https://www.gadgetsnow.com/gdpr_js.cms?v=28&minify=1' async="true"></script>
<script type="text/javascript" src="https://www.google-analytics.com/analytics.js" async="true"></script>
<script>
(function(i,r){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();})(window,'ga');

        ga('create', '<?php echo $googleTrackingId; ?>', 'auto', {'allowLinker': true});
        ga('require', 'linker');
        ga('linker:autoLink', ['indiatimes.com', 'timesofindia.com', 'gocricket.com', 'gadgetsnow.com','shop.gadgetsnow.com']);
        ga('require', 'displayfeatures');
        ga('require', 'ec');
        ga('require', 'GTM-T2MHVSK');

        var __ssoid = document.cookie.match(/(?:\\s)?<?php echo $ssoid; ?>=(\\w+);?/);
        var __prc = document.cookie.match(/(?:\\s)?<?php echo $price; ?>=(\\w+);?/);
        var cd10 = -1;
        var cd21 = __ssoid ? 1: 0;
        if(!!__ssoid){
            cd10 = __ssoid && __prc ? __prc[1] : 0;
            ga('set', 'dimension22', __ssoid[1]);
        }
        ga('set', 'dimension21', cd21);
        ga('set', 'dimension10', cd10);
        if (window.TimesGDPR && TimesGDPR.common.consentModule.gdprCallback){
            TimesGDPR.common.consentModule.gdprCallback(function(dataObj){
                if (!!dataObj.isEUuser){
                    ga('set', 'anonymizeIp', true);
                }
                ga('send', 'pageview');
            });
        } else { ga('send', 'pageview'); }
</script>
<script>(function (g, rx) {g[rx] = g[rx] || function () {(g[rx].q = g[rx].q || []).push(arguments)}})(window, 'grx');
  grx('init', 'g7af6dd9d');</script><script>var an_disableAppInit = false;</script>
<link href="/pwa/css/relatedpage.css?v=0.1.5"  rel="stylesheet" />
<?php include "gnseoscript.phtml";?>
<?php include "gnheader.phtml";?>
</head>
<body>
<script>
(function(g, r, o, w, t, h, rx) {
        g[t] = g[t] || function() {
            (g[t].q = g[t].q || []).push(arguments)
        }, g[t].l = 1 * new Date();
        g[t] = g[t] || {}, h = r.createElement(o), rx = r.getElementsByTagName(o)[0];
        h.async = 1;
        h.defer = 1;
        h.src = w;
        rx.parentNode.insertBefore(h, rx)
    })(window, document, 'script', 'https://static.growthrx.in/js/v2/web-sdk.js', 'grx');
    var __ssoid = document.cookie.match(/(?:\\s)?<?php echo $ssoid; ?>=(\\w+);?/);
    var __prc = document.cookie.match(/(?:\\s)?<?php echo $price; ?>=(\\w+);?/);
    var cd10 = -1;
    var cd21 = __ssoid ? 1: 0;
    if(!!__ssoid){
        grx('userId', __ssoid[1]);
        grx('set', 'loginstatus', cd21);
        grx('set', 'primeStatus', cd10);
    }

var _comscore = _comscore || [];
          var objComScore = { c1: "2", c2: "6036484" };
          function loadComscore() {
            if (typeof(COMSCORE) === "undefined") {
              var s = document.createElement("script"),
              el = document.getElementsByTagName("script")[0];
              s.async = true;
              s.src =
                (document.location.protocol == "https:" ? "https://sb" : "http://b") +
                ".scorecardresearch.com/beacon.js";
              el.parentNode.insertBefore(s, el);
            }
          };
          function fireComscore() {
            if (typeof(COMSCORE) !== "undefined" && typeof(COMSCORE.beacon) === "function") {
              COMSCORE.beacon(objComScore);
            }
          };
          if (window.TimesGDPR && TimesGDPR.common.consentModule.gdprCallback) {
            TimesGDPR.common.consentModule.gdprCallback(function(dataObj) {
              if (dataObj.isEUuser) {
                objComScore["cs_ucfr"] = 0;
              }
              _comscore.push(objComScore);
              loadComscore();
            });
          } else{
            objComScore["cs_ucfr"] = 0;
            _comscore.push(objComScore);
            loadComscore();
          }

</script>
<?php
function ob_html_compress($buf){
    return str_replace(array("\n","\r","\t"),'',$buf);
}
ob_start("ob_html_compress");
?>
<header class="sticky">
	<!-- <div class="topsearch">
		<div class="topsearch_title">Top Searches:</div>
		<div class="topsearch_list">
		<?php if(isset($topsearch))
		{
		  for($k=0;$k<sizeof($topsearch);$k++)
		  { 
		       $title=$topsearch[$k]['hl'];
		       $url=$topsearch[$k]['wu'];
		      ?>
		      <a href="<?=$url?>"><?=$title ?></a>
		  <?php }
		}?>
			 
		</div>
	</div> -->
</header>
<!--div class="atfadcaller">

</div -->
<?php 
$breadCrumbdata = [];
if(isset($pageData))
{
    $mainPName = $pageData['productName'];
    $imageId=$pageData['imageId'];
    $mainimageUrl = "https://static.toiimg.com/thumb/resizemode-4,msid-".$imageId.",imgsize-1,width-80/".$imageId.".jpg";
    $related=$pageData['related'];
    $eventCategory = 'WAP_RelatedPage';
 $breadCrumbdata = [
    ["id" => 1, "label" => 'Home', 'link' => $domainPrefix],
    ["id" => 2, "label" => $categoryData['name'], 'link' => $domainPrefix . '/' . $categoryData['seoName']],
    ["id" => 3, "label" => $pageData["brand"] . ' ' . $categoryData['name'], 'link' => $domainPrefix . '/' . $categoryData['seoName'] . '/' . $pageData['brandUname']],
    ["id" => 4, "label" => $mainPName ,'link' => $mainProUrl],
    ["id" => 5, "label" => 'Alternatives'],
];   
?>
<div class="realtedcontainer">
      <div class="head">
        <div class="imgbox">
        <a href="<?=$mainProUrl?>" >
          <figure>
            <img
              alt="<?=$mainPName?>"
              src="<?=$mainimageUrl?>"
            />
          </figure>
          </a>
        </div>
        
        <h1 class="heading">
          <?php print_r($mainPName);?> Alternatives and Related Products
        </h1>
      </div>
      <div class="prodlist">
      <?php 
		    $index = 0 ;     
        for($i=0;$i<sizeof($related);$i++)
        {
            $product = $related[$i];
            $name=$product['productName'];
            $imgId=$product['imageId'];
            $price=$product['price'];
            $productUrl=$product['productUrl'];
            $index = $index + 1;
            $reviewUrl='';
            if(isset($product['reviewUrl']))
            {
            $reviewUrl =$product['reviewUrl'];
            }
            $productUName = $product['productUName'];
            $compareUrl = $compUrlsuffix.$productUName;
            $phtoGalleryUrl= $photoGallerySuffix.$productUName.'-photos';
            $imageUrl="https://static.toiimg.com/thumb/resizemode-4,msid-".$imgId.",imgsize-1,width-80/".$imgId.".jpg";
      ?>
         <!-- box start --> 
        <div class="prodbox">
          <div class="prodetail">
            <div class="prodleft">
              <a href="<?="https://gadgetsnow.com/".$productUrl?>">
              <figure class="image">
                <img
                  alt="<?=$name?>"
                  src="<?=$imageUrl?>"
                />
              </figure>
              </a>
            </div>
            <div class="prodright">
              <h2 class="h2">
              <a class="linkbox" href="<?="https://gadgetsnow.com/".$productUrl?>" data-ga="<?=$eventCategory?>##Click_Title##<?=$name?>##<?=$index?>">
              <?=$name?>
              </a>
              </h2>
              <?php if($price > 0) { ?>
              <div class="price">
                <span class="rs"><?=number_format($price)?></span>
              </div>
              <?php } ?>
            </div>
          </div>
          <div class="footbox">
            <span>
              <a class="linkbox" href="<?="https://gadgetsnow.com".$productUrl?>" data-ga="<?=$eventCategory?>##Click_Specs##<?=$name?>##<?=$index?>">
                Specs
              </a>
            </span>
            <?php if(isset($reviewUrl) && $reviewUrl!== ''){ ?>
            <span>
              <a class="linkbox" href="<?="https://www.gadgetsnow.com".$reviewUrl?>" data-ga="<?=$eventCategory?>##Click_Review##<?=$name?>##<?=$index?>">
                Reviews
              </a>
            </span>
            <?php } ?>
            <span>
              <a class="linkbox" href="<?="https://www.gadgetsnow.com".$compareUrl?>" data-ga="<?=$eventCategory?>##Click_Compare##<?=$name?>##<?=$index?>">
                Compare
              </a>
            </span>
            <span>
              <a class="linkbox" href="<?="https://www.gadgetsnow.com/".$phtoGalleryUrl?>" data-ga="<?=$eventCategory?>##Click_Photos##<?=$name?>##<?=$index?>">
                Photos
              </a>
            </span>
          </div>
        </div>
        <hr />
        <?php } ?>
         <!-- box Ends --> 
      </div>
    </div>
    <?php }?>
    
    <div class="breadcum">
    <ul
    itemType="https://schema.org/BreadcrumbList"
    itemScope="itemscope"
    >
        <?php foreach ($breadCrumbdata as $key => $data) {?>
            <li
            itemScope="itemscope"
            itemType="https://schema.org/ListItem"
            itemProp="itemListElement"
            key="<?=$data["id"]?>"
            >
            <?php if (!empty($data["link"])) {?>
                <a href="<?=$data["link"]?>" itemProp="item">
                    <span itemProp="name"><?=$data["label"]?></span>
                </a>
            <?php } else {?>
                <span itemProp="name"><?=$data["label"]?></span>
            <?php }?>
            <?php if ($key !== 'undefined') {?>
                <meta content=<?=$key + 1?> itemProp="position" />
            <?php }?>
            </li>
        <?php }?>
    </ul>
</div>
<?php include "gnfooter.phtml";?>
<?php ob_end_flush(); ?>
<script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
$("document").ready(function(){
if (window && window.grx) {
      const objGrx = {};
      objGrx.params = {};
      objGrx.params.url = window.location.href;
      window.grx('track', 'page_view', objGrx);
  }

});
$("body").on("click","*[data-ga]",function(){
		var _ga_attr_track = $(this).attr("data-ga");
		var _ga_array_track = _ga_attr_track.split("##");
		gaEvent_track(_ga_array_track);
});
function gaEvent_track(_tracksplit){
	ga('send', 'event', _tracksplit[0], _tracksplit[1], _tracksplit[2], _tracksplit[3]);
}
</script>
</body>
</html>
